[2019-01-28 11:18] jtsom opened #2826 "Running application with Debug panel showing causes extreme slow down / cpu usage"
(Reposted from VS Code repo as they say it is caused by an extension)

Issue Type: <b>Bug</b>

Running a C# (ASP.Net core application) with the Debug window open / showing, results in an unresponsive VS Code window. The "This window is unresponsive, do you wish to close?" prompt shows. Also, the process is using 100% CPU. Running the application, but making sure the Debug window is not showing (ei

[2019-01-28 11:33] zalanlevai commented on #2820
I've had the same behavior on Arch. What @virtualdreams mentioned worked for me aswell, although not sure about the actual cause of the issue.

[2019-01-28 11:45] niklaskarl commented on #2825
As suspected in #2826 I can confirm that the issue only occurs when the **Debug Console** is open. VS Code seems to freeze for some seconds every time a new message is printed to the window.

I have no problems with the Debug panel, the problem seems to be the Debug Console.

[2019-01-28 13:30] SgtPeppers commented on #2747
Im with the same trouble, i can debug net 2.2 but not 3.0

[2019-01-28 15:52] subramn commented on #2824
I tried it doesn't hit at all.

[2019-01-28 15:55] NTaylorMullen commented on #2820
Hopefully this wont be an issue in the future because of @akshita31's extension download verification to ensure that everything installs correctly

[2019-01-28 16:13] jchand99 commented on #2819
Enabling the logging didn't seem to do anything. The log file either never got created or I just couldn't find it. Although I did try to set the directory and file name but still, no file was created.

What fixed it for me was a solution from a different [issue](https://github.com/OmniSharp/omnisharp-vscode/issues/2820#issuecomment-458015160) :

1) Uninstall the C# Plugin & close VSCode
2) Go to ~

[2019-01-28 16:59] gregg-miskelly commented on #2824
Yes, that guide is designed to help troubleshoot when breakpoints don't hit. In case your problem was that you couldn't read the breakpoint message because the app immediately exits, I just added this line to the guide:

[2019-01-28 17:01] gregg-miskelly commented on #2747
Debugging on Linux/Mac didn't work in .NET Core 3.0 preview 1. This has been fixed for the last month in master, so if you try something more recent it should work again.

[2019-01-28 17:38] gregg-miskelly commented on #2819
Glad you figured it out!

[2019-01-28 17:39] rchande commented on #2813
@akshita31 What do we need to do here that's not already covered by our `Go To Definition` and `Go To Implementation` features?

[2019-01-28 17:46] rchande commented on #2534
@BiosElement From that error message (and from what you said), it sounds like your project references the package/assembly `PhotonUnityNetworking.Utilties` which contains a type in the global namespace called `WebCache`. Your project itself defines a type called `WebCache` in the global namespace (?) which the compiler reports as conflicting with the one from you reference. If that is what happeni

[2019-01-28 18:03] CTJansson commented on #2819
I did the steps jchand99 mentioned but didn't solve it for me, I still can't print out when running a simple hello world console app.
Anyway here is a log that was outputed in the debug console when logging was set to true:
[code]

[2019-01-28 18:05] CTJansson commented on #2820
uninstalling the C# extension and then remove the folder helped solving this issue. the referenced issue is still unsolved for me.

[2019-01-28 18:14] gregg-miskelly commented on #2819
@CTJansson are you using a version of VS Code which was built by someone other than Microsoft? (non-official copy)

[2019-01-28 18:31] gregg-miskelly commented on #2819
The issue that @CTJansson is running into is this --
`{"seq":7,"type":"response","request_seq":3,"success":false,"command":"handshake","message":"Error processing 'handshake' request. Unknown Error: 0x89720010"}`

This either means that @CTJansson is using an unofficial version of VS Code, or VS Code is failing to process this request.

[2019-01-28 18:32] CTJansson commented on #2819
@gregg-miskelly well, it seems I did, I installed the one from arch repository, checked if AUR had a package and sure it did, that one works, so the issue can be closed again.
**(Note for others incl myself, don't install vs code from arch repo, install the one from AUR)**

[2019-01-28 18:33] #2819 closed

[2019-01-28 19:23] rchande commented on #2826
cc @gregg-miskelly

[2019-01-28 19:43] akshita31 commented on #1967
@ssurba The "Miscellaneous" file is loaded into the omnisharp workspace once the user starts editing the file. Did you try to make some changes in the file. It "should" give you basic instellisense. Also, note that you must open the folder in vscode in which the file is contained.

[2019-01-28 19:48] akshita31 commented on #2822
@rchande Does this belong to the https://github.com/dotnet/csharp-tmLanguage repo ?

[2019-01-28 19:54] akshita31 commented on #2815
@imba-tjd Since it works on the newest version, I think we can close this for now. Please feel free to reopen if the issue reproduces with the current latest or the upcoming versions

[2019-01-28 19:54] #2815 closed

[2019-01-28 20:00] akshita31 commented on #2814
@imba-tjd We deliberately add the logging information to the channels so that if there is a problem in the download the users can see the download progress and the error is clear. In #2717 we are setting the focus to the channel we are printing, hence the actual change that I think we need is not to steal the focus.

[2019-01-28 20:11] akshita31 commented on #2821
I have filed the issue in the omnisharp-roslyn repo as the extension does nothing specific to the .NET sdk

[2019-01-28 20:11] akshita31 commented on #2821
https://github.com/OmniSharp/omnisharp-roslyn/issues/1394

[2019-01-28 20:13] akshita31 commented on #2813
@rchande You are right. I thought there was a separate "Go to Declaration" in VS, but just checked that my assumption was wrong. I will close this now

[2019-01-28 20:13] #2813 closed

[2019-01-28 20:14] akshita31 commented on #1967
Also, @ssurba since this is a closed issue, please file a separate issue if the error further reproduces.

[2019-01-28 20:16] akshita31 commented on #2786
@RononDex What is the extension version that you are using ?

[2019-01-28 20:36] BrennanConroy commented on #2756
This is a super annoying issue. Is there a known previous version that people can use instead until this is fixed?

[2019-01-28 20:36] ssurba commented on #1967
@akshita31 Thanks for pointing out. After opening the directory IntelliSense started to work. However for me it was not clear that opening the directory is required for IntelliSense to function. Maybe it makes sense to state it somewhere in the documentation or even alert the user in Code (with balloon or in status bar) that they are editing file without having directory open.

[2019-01-28 21:35] akshita31 commented on #1967
@ssurba Glad you got it working. Yes I agree that we should have a note for this somewhere. @rchande Thoughts on what is the best place to add the note that users are supposed to have a file opened within a folder inorder to have intellisense via miscellaneous files to work.

[2019-01-28 22:42] #2756 closed

[2019-01-29 00:03] rchande commented on #2756
@BrennanConroy Actually, we just created a beta that includes the fix for this. Please give it a try and let us know if you're still having issues: https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta5

[2019-01-29 00:07] akshita31 commented on #2801
cc @gregg-miskelly

[2019-01-29 00:10] BrennanConroy commented on #2756
Excellent! Worked for me, thanks for the good work.

[2019-01-29 00:12] felipeoriani commented on #2513
Yes, this workaround worked, but it would be great to have a user friendly configuration :D ... consider it on the next version. Thank you.

[2019-01-29 00:13] gregg-miskelly commented on #2801
@nvrnight This is NOT what you want:

[code]

Change that to:
[code]

[2019-01-29 00:34] akshita31 opened #2829 "Intellisense should work for files even when they are not opened inside a folder"
Currently, for intellisense to come up for a miscellaneous file, we need the file to be opened inside a folder. This often causes confusion among the users - https://github.com/OmniSharp/omnisharp-vscode/issues/1967#issuecomment-458273628. We should be able to provide intellisense without the need for the file to be opened inside a folder

[2019-01-29 00:34] akshita31 commented on #1967
@rchande Sounds reasonable. I opened a new issue for it. https://github.com/OmniSharp/omnisharp-vscode/issues/2829

[2019-01-29 01:41] subramn commented on #2824
same no change.

[2019-01-29 01:44] gregg-miskelly commented on #2824
Can you tell me what you tried and what you are seeing?

[2019-01-29 01:55] subramn commented on #2824
You may only use the Microsoft .NET Core Debugger (vsdbg) with
Visual Studio Code, Visual Studio or Visual Studio for Mac software
to help you develop and test your applications.

[2019-01-29 02:05] subramn commented on #2824
I tried to add debugger statement and sleep statement. how can i make sure the omnisharp is installed correctly.not sure if there is an issue there

[2019-01-29 02:11] gregg-miskelly commented on #2824
The debugger is a single zip file. So if you aren't seeing any error messages and your project is running when you hit F5, I don't think it will be an install issue. If you do think it might be, you can uninstall the extension, hit the reload button in VS Code, and then install it again.

If it isn't an install issue, can you grab a log -- https://github.com/OmniSharp/omnisharp-vscode/wiki/Enablin

[2019-01-29 02:17] subramn commented on #2824
You may only use the Microsoft .NET Core Debugger (vsdbg) with
Visual Studio Code, Visual Studio or Visual Studio for Mac software
to help you develop and test your applications.
-------------------------------------------------------------------
<- (R) {"seq":4,"type":"response","request_seq":2,"success":true,"command":"launch"}

<- (E) {"seq":5,"type":"event","event":"initialized","body":{}}

->

[2019-01-29 02:50] subramn commented on #2824
I tried the following uninstalled the .net core and reinstalled the latest version of core 64 bit and got rid of all other versions and tried and it worked. thanks

[2019-01-29 02:50] #2824 closed

[2019-01-29 07:53] virtualdreams commented on #2820
I have also VS Code from AUR, but the problem reappears after reboot. Need to remove the extension from folder and reinstall.

[2019-01-29 07:53] zalanlevai commented on #2820
I don't think what @CTJansson mentioned about the Arch packages is actually related as I've had the issue appear on the official Microsoft build of Code from the get go.
On another note, the issue reappeared for me after a reboot but I was able to (for now) solve it by reapplying the previously mentioned fix.

[2019-01-29 10:00] niklaskarl commented on #2825
Just crosschecked with other debugger extensions to make sure the problem is with Omnisharp and not with the Debug Console itself. E.g. the Chrome debugger extension stays responsive even though I flushed it with a ton of messages.

[2019-01-29 10:01] RDeluxe commented on #2534
Hello.
I'm getting the same issue, for all the classes I'm creating.
Your point is correct, that would normally be the problem : creating a class with the same name in the global namespace, however that's not the case here.
Forcing a reload solve the issue, until the next class creation, etc.

[2019-01-29 17:34] CTJansson commented on #2820
Can confirm this appeared again after a reboot, and as previously mentioned will be fixed by doing what @virtualdreams described.
So this issue affects both AUR package and the one from arch-repo.

[2019-01-29 19:15] jchand99 commented on #2820
Doubly confirm issue still exists after reboot. Temporary fix is still uninstall extension from folder and re-install. Using visual-studio-code-bin package

[2019-01-30 09:14] guylando opened #2831 "C# debugger UTF8 encoding misbehave"
dotnet version: 2.1.503 windows 10.0.17763 rid win10-x64
VS Code version: 1.30.2
C# Extension version: 1.17.1

Running: System.Text.Encoding.UTF8.GetString(new byte[] { 220,109,108,48,242,190,156,151 }) in vscode debugger watch window produces: "�ml0\U000be717" even though c# unicode encoding should use \u and not \U.
Then using this string inside a json produces an invalid json as seen when valid

[2019-01-30 13:07] guylando commented on #2826
+1

[2019-01-30 13:07] guylando commented on #2825
+1

[2019-01-30 17:20] bigredhdl commented on #2105
Now that dotnet core 3 preview 2 has arm64 support, is there hope of getting remote debugging support?

[2019-01-30 18:20] motor75 commented on #2706
@rchande I made the setting change and will let you know; although before the change I haven't noticed this issue lately.  I have had a couple VS Code updates since so maybe that fixed it?  I'll keep you posted.  Thx!

[2019-01-30 18:21] rchande commented on #2534
@RDeluxe @BiosElement We created a beta that might help with this. Can you install it and let me know? https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta5

[2019-01-30 18:22] rchande commented on #2706
@motor75 We also created a beta release of the C# extension itself if you want to try that: https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta5

[2019-01-30 19:06] motor75 commented on #2578
@akshita31 - I'm back to getting errors in the logs with real time compiling and error reporting not working.  I get no intellisence either.  I completely uninstalled Omnisharp, deleted the extensions directories in my .vscode folder under my user and reinstalled the extension but that did nothing to change the issue.  Attached is the error log.  Any thoughts as this is getting to make this extens

[2019-01-30 19:17] akshita31 commented on #2578
@motor75 Do you have an [OmniSharp log](https://github.com/OmniSharp/omnisharp-vscode/wiki/Reporting-Issues#omnisharp-and-c-log). Please post the output from that and sorry I couldnt keep track of this one

[2019-01-30 19:34] SittenSpynne commented on #2765
I had inadvertently filed this against VSCode and they insist it's the extension. (See also for a screen capture of the issue in action: https://github.com/Microsoft/vscode/issues/67271)

It's really frustrating.

[2019-01-30 19:38] gregg-miskelly commented on #2105
@bigredhdl This is definitely on the team's radar, but it isn't something we have started on yet.

[2019-01-30 19:46] sanboxrunner commented on #2765
It is 100% this extension. It is sending out snippets and not respecting
VSC's "snippets should not block autocomplete" setting

On Wed, Jan 30, 2019 at 2:34 PM Owen Pellegrin <notifications@github.com>
wrote:

[2019-01-30 20:22] rchande commented on #2765
@jrieken We provide snippets in the form of json files/snippets entry in our package.json (https://github.com/OmniSharp/omnisharp-vscode/blob/master/snippets/csharp.json) and (https://github.com/OmniSharp/omnisharp-vscode/blob/master/package.json#L830). They seem to show up in comments even though we don't provide any other C# intellisense in comments. I think this is happening because
* C# intell

[2019-01-30 20:37] sanboxrunner commented on #2765
Thank you for the work on this!

On Wed, Jan 30, 2019 at 3:28 PM Ravi Chande <notifications@github.com>
wrote:

[2019-01-30 21:57] gregg-miskelly commented on #2831
Everything seems to be working correctly as far as I can tell -- comparing the value one gets in the watch window to the result from running in the program both strings have the same value.

Here is the documentation on `\U` and `\u` -- https://msdn.microsoft.com/en-us/data/aa664669(v=vs.85). I believe the EE will use `\U` in cases where the character cannot be represented by a single UTF-16 chara

[2019-01-30 21:57] #2831 closed

[2019-01-31 02:13] gregg-miskelly commented on #1258
There are two causes --
1. There was a bug in the vsdbg event processing that wasted, on average, 50ms per hit. I fixed this.
2. Stack walk performance in the CLR debugging services is MUCH worse in Linux. I opened https://github.com/dotnet/coreclr/issues/22315 to track this.

[2019-01-31 02:15] akshita31 commented on #2757
@jrieken We are working on using webpack for the C# extension. However, I had a question. how would you test that the bundle produced doesnt have any missing dependencies. I have run into cases where my integration tests and unit tests run fine but when i bundle the code and install it in vscode, I get some errors due to which the extension doesnt run

[2019-01-31 02:16] gregg-miskelly commented on #2432
https://github.com/dotnet/coreclr/issues/22315 is at least part of the problem as well

[2019-01-31 02:17] akshita31 commented on #2817
@Obscuriosity Thanks for filing an issue. We are working on it.

[2019-01-31 02:18] akshita31 commented on #2794
@marvelperseus Can you update the version of mono as @James-E-Adams stated and see if the problem still persists?

[2019-01-31 02:18] akshita31 commented on #2778
@CleiberReis Thanks for filing the issue. We are working on it.

[2019-01-31 08:38] jrieken commented on #2757
Those test, do they use the bundled output? We have learnt that webpack is a little too relaxed with error messages and internally we treat every warning as error so that they trigger a build failure.

[2019-01-31 08:59] kevin-grey-genesys commented on #2773
any update on this? I am seeing a problem when switching branches. The problems window errors seem to relate to code from the other branch. If I run a reload window from the command palette then this clears the problems

[2019-01-31 09:16] Lite5h4dow commented on #2473
having the same issue again.

[code]

[2019-01-31 09:18] Lite5h4dow commented on #2473
[code]

Having the same issue again.

[2019-01-31 10:56] bitfrickler commented on #2473
Same here.

[2019-01-31 15:35] hmobius opened #2833 "Setting omnisharp.path to latest results in 404 error"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.101
 Commit:    236713b0b7

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.101\

Host (useful for support):
  Version: 2.2.0
  Commit:  1249f08fed

.NET Core SDKs installed:
  2.1.500 [C

[2019-01-31 15:55] johnnyasantoss opened #2834 "Make OmniSharp "latest" more reliable"
I'm using the settings `"omnisharp.path": "latest"` and my VS Code can't download the latest version and it might be related to the CDN that provides the download files.
I've search a bit and found that this already happened a few times (#2681, #2738 & #2741).

#### Omnisharp Log:
[code]
#### C# Log:
[code]

#### The output from URL (https://roslynomnisharp.blob.core.windows.net/releases/1.32.11-b

[2019-01-31 16:59] motor75 commented on #2578
@akshita31 I only have what I provided above unless you can point me somewhere on my HDD where the log is located.

[2019-01-31 17:19] FomTarro commented on #2834
I too am experiencing this as of today. I suspect this is related to the CDN. even using older specified versions produces the same result.

[2019-01-31 17:30] rchande commented on #2473
Hi all, the build step that uploads these ran into an error--I restarted it and this should be resolved now.

[2019-01-31 20:02] nvrnight commented on #2801
Ah, I had originally changed it to what I have now because of "program": "${workspaceFolder}/bin/Debug/netcoreapp3.0/<insert-your-project-name-here>.dll" not working at all, complains about hostpolicy.dll required, which after working with dotnet core a bit more recently I now know that that is usually because of runtimeconfig.json not being present.

"dotnet run" works fine in the shell and is wh

[2019-01-31 20:12] gregg-miskelly commented on #2801
What `dotnet run` does is to start a `dotnet` process which will handle coordinating (ex: kicking off the build, finding the build output, etc), and then it spawns a child process to actually run the app. If you tell the debugger to debug a `dotnet run` process then what you are telling it to do is debug this coordination process, and NOT the app itself. When you stop debugging then this coordinat

[2019-01-31 20:12] #2801 closed

[2019-02-01 00:15] akshita31 commented on #2833
I just tried "latest" and it works now.
Getting latest OmniSharp version information
Downloading package 'Latest OmniSharp Version Information' (1 KB).................... Done!
Installing OmniSharp Version = 1.32.11-beta.1...
Platform: win32, x86_64

Downloading package 'OmniSharp for Windows (.NET 4.6 / x64), Version = 1.32.11-beta.1' (30604 KB).................... Done!
Installing package 'OmniS

[2019-02-01 00:15] #2833 closed

[2019-02-01 00:16] akshita31 commented on #2834
Getting latest OmniSharp version information
Downloading package 'Latest OmniSharp Version Information' (1 KB).................... Done!
Installing OmniSharp Version = 1.32.11-beta.1...
Platform: win32, x86_64

Downloading package 'OmniSharp for Windows (.NET 4.6 / x64), Version = 1.32.11-beta.1' (30604 KB).................... Done!
Installing package 'OmniSharp for Windows (.NET 4.6 / x64), Versi

[2019-02-01 07:42] virtualdreams commented on #2816
Create the file `/etc/profile.d/dotnet.sh`
[code]

Found here: https://bugs.archlinux.org/task/60903?project=5&string=dotnet-host

[2019-02-01 12:18] johnnyasantoss commented on #2834
Today it is working 🤔
That's a very weird behavior for an automated process (deploy to CDN)

[2019-02-01 13:33] bertrand-benoit commented on #2106
Another +1

[2019-02-01 13:33] bertrand-benoit commented on #2398
Another +1

[2019-02-01 13:35] seesharper commented on #2398
@rchande Any updates on this?

[2019-02-02 18:41] igoichuk commented on #1849
I've got the same issue: 'Microsoft.NET.Sdk' specified could not be found. Macosx, OmniSharp 1.18.0-beta6.
Fixed it by setting up MSBuildSDKsPath=/usr/local/share/dotnet/sdk/3.0.100-preview-010184/Sdks
I assume it is not expected behaviour.

dotnet --info
`.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview-010184
 Commit:    c57bde4593

Runtime Environment:
 OS Name:     Mac O

[2019-02-03 10:08] ehouarn-perret commented on #2604
Also on Manjaro, found that installing [msbuild-stable](https://aur.archlinux.org/packages/msbuild-stable) solved the very same issue.
Seems like voodoo to me =/

[2019-02-03 13:17] ehouarn-perret opened #2837 "Debugger stops working right after debugging any .NET Core application on Manjaro"
## Environment data
`dotnet --info` output:
[code]

VS Code version:
[code]

C# Extension version: `1.17.1`
Omnisharp version `1.32.8`

Omnisharp when opening Visual Studio Code with my project in the working directory:
[code]

## Steps to reproduce
If needed, Install Arch / Manjaro and yay in order to easily install packages from [AUR](https://aur.archlinux.org).
[code]

Then creating the default

[2019-02-03 21:18] tdaniely commented on #2147
Getting this with latest stuff.

CoreFx 3.0.0 preview 2
VSCode 1.30.2
c# extension 1.18.0-beta6
OmniSharp for Windows (.NET 4.6 / x64), Version = 1.32.11-beta.1

My personal home workstation, Nothing special about the network here.

[2019-02-04 07:08] Hypenate opened #2838 "Debugging Typescript works in VS but not in VS Code"
##The Issue
As described in https://github.com/Microsoft/vscode/issues/67130 I want to debug my SPA application created with Visual Studio 2017 in Visual Studio Code, but I'm unable to set it up.
I have the chrome debugging extension installed.

## Environment data
VS Code version: 1.30.2
C# Extension version: 1.17.1

## Steps to reproduce
1. Create a new ASP.NET Core Web Application in Visual Stu

[2019-02-04 10:02] ehouarn-perret commented on #2837
@gregg-miskelly exactly no error shows in either VS Code or in the debug console.

About the log, here it is:

[code]

I don't think those below are expected, right?
[code]

[code]

[2019-02-04 12:45] Charly6596 commented on #2604
I'm running Manjaro, the `MSBuildSDKsPath` solution didn't work for me, nor installing `msbuild-stable`,
but `cp -r /opt/dotnet/sdk/2.2.103/Sdks /usr/lib/mono/msbuild/15.0/bin` worked, doesn't seem a proper solution.. but it works :man_shrugging:

[2019-02-04 14:51] gregg-miskelly commented on #2837
Correct. Do you have an official version of VS Code installed? Only official versions support .NET Debugging.

I am not sure why you aren't getting an error message for this. Sounds like the VS Code team may have broken something with their error handling.

[2019-02-04 14:55] gregg-miskelly commented on #2838
@Hypenate To be clear, you are talking about client side type script, right? What web browser are you using?

This isn't actually the right place for this question -- this extension only supports server-side debugging. But we can see if we can redirect you.

[2019-02-04 15:11] ehouarn-perret commented on #2604
@Charly6596 does debugging a simple console app work for you, though?

[2019-02-04 15:49] bigredhdl commented on #2105
@gregg-miskelly Is this something the community can help with? I have an ARM64 platform (xilinx zynq) that I would like to use .net core on, but having no on target debugger is giving me pause.

[2019-02-04 16:17] ehouarn-perret commented on #2837
As far as the word "official" goes: https://aur.archlinux.org/packages/visual-studio-code-bin
I don't have that issue when I am running the same thing against Ubuntu, so might come from a wide variety of factors.

[2019-02-04 16:33] gregg-miskelly commented on #2837
@ehouarn-perret Thanks! You need to install the Official Microsoft copy from https://code.visualstudio.com/

[2019-02-04 16:33] #2837 closed

[2019-02-04 16:37] gregg-miskelly commented on #2105
No, the VS/VS Code debugger is considered a part of Visual Studio and hence is closed-source. The only thing you can do is target ARM32 instead of ARM64 since there is an ARM32 debugger.

[2019-02-04 16:43] bigredhdl commented on #2105
Okay thanks.  Unfortunately, running ARM32 on Xilinx petalinux is not as straight forward as you might think, but I'll give it another try.  :cry: :panda_face:

[2019-02-04 16:54] gregg-miskelly commented on #2105
In case this is helpful - it is any easier to run an ARM32 docker container?

[2019-02-04 17:23] bigredhdl commented on #2105
Probably not because it would add a lot of complexity of getting to the hardware I need access to.  That's okay, I'm really glad more ARM64 support is on the radar.  This just might not be the right project yet for us to put .net on an embedded device.

[2019-02-04 19:51] akshita31 commented on #2147
@tdaniely Can you try installing .Net Core Build Tools as described [here](https://github.com/OmniSharp/omnisharp-roslyn/issues/1311#issuecomment-428361674) and checking if the error still reproduces?

[2019-02-05 07:21] igniztion commented on #2825
+1

The CPU usage seems to be exaggerated when the VS Code window is out of focus with the debug console active. If the window is still somewhat responsive, clearing the Debug Console output alleviates the issue for a short while.

[2019-02-05 08:03] ehouarn-perret commented on #2837
@gregg-miskelly good news: managed to make it work with... the code insiders version!
Still kinda a voodoo answer to me but at least it works now!

[2019-02-05 08:48] ehouarn-perret commented on #2604
I managed to have everything working from scratch (Manjaro XFCE edition 18.02 on a live session):

Baby steps

- Setup everything you need (aka the .NET Core SDK, Mono, MSBuild and Visual Studio Code Insiders): `yay -S dotnet-sdk mono msbuild-stable visual-studio-code-insiders --noconfirm`

- Create a dummy project: `dotnet new console`

- Start Visual Studio Code Insiders: `code-insiders .`

- In

[2019-02-05 10:10] Hypenate commented on #2838
Hi @gregg-miskelly I'm also in doubt this is the right place but the VsCode team referred me to here.

What I need (I think) is a way to say to my browser "this is the URL where Angular is hosted" and "this is the URL where the server is (so you can get data from my API).

I'm using Chrome, it's all in the other ticket.

[2019-02-05 14:54] tdaniely commented on #2147
I had those installed.
The error stopped when I installed VS 2019 Preview which comes with MSBuild 16.
The bundled MSBuild that comes with omnisharp did not work.
The MSBuild from updated VS 2017 did not work.
With the 2019 Preview installed I see no errors in VSC and `<LangVersion>8.0</LangVersion>` is working as expected.

[2019-02-05 17:11] gregg-miskelly commented on #2838
@Hypenate Sorry if I am telling you things you already know, but here is roughly what you want to do:

1. Install the ['Debugger for Chrome'](https://github.com/Microsoft/vscode-chrome-debug) extension into VS Code, and reload with the new extension
2. Open a terminal and `cd` to your ASP.NET project, and execute `dotnet run`
3. Open your .vscode/launch.json file and click the 'Add Configuration'

[2019-02-05 18:07] 0xADD1E opened #2839 "Support for Nullable Reference Types"
## Environment data
`dotnet --info` output: N/A
VS Code version: N/A
C# Extension version: 1.17.1

## Steps to reproduce
Enable nullable reference types in the csproj file

## Expected  behavior
Behavior enabled nullable reference types option is respected (warnings displayed where appropriate, string is a valid T for Nullable<T>, etc)

## Actual behavior
Warnings are not present, OmniSharp believ

[2019-02-05 18:09] guytp commented on #2820
Another confirmation here.  Issue reappears after reboot.  Quickest solution for now is uninstall the extension in UI, rm -Rf the extension from disk, reload the UI, reinstall the extension as reported by others.  This is using the visual-studio-code-bin package on Arch.

[2019-02-05 18:17] filipw commented on #2839
Thanks for logging the issue.

This is already available in the latest beta, you can install it from here - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta6
Alternatively, you could switch to latest OmniSharp build using `"omnisharp.path": "latest"`.

Hope this helps.

[2019-02-05 18:17] #2839 closed

[2019-02-05 18:35] NTaylorMullen commented on #2820
@akshita31 shouldn't the payload verification catch this?

[2019-02-05 18:41] gregg-miskelly commented on #2820
@NTaylorMullen I believe the problem is that the version of the Razor language service that we are shipping is still using the older CoreCLR. Does the latest beta have this problem fixed? What is the right work around for folks who don't need Razor but want C# features?

[2019-02-05 18:41] akshita31 commented on #2820
@NTaylorMullen The verification using checksum is in beta and not yet released.

[2019-02-05 18:49] NTaylorMullen commented on #2820
I thought so at first but when people were saying they were reinstalling and everything was just working that ruled out that scenario.

Ahh, that makes sense 👍

[2019-02-05 18:56] gregg-miskelly commented on #2820
@NTaylorMullen the fact that somehow a reboot causes the problem to come back makes me think this isn't going to be solved by download verification.

[2019-02-05 19:01] NTaylorMullen commented on #2820
Oooh, I didn't catch that part of the issue. Yes I agree. A way users can work aroudn this for the interim is to set `"razor.disabled": "true"`

[2019-02-05 19:33] NTaylorMullen commented on #2820
Yes, correct.

Not yet, if there ends up being enough need for users wanting Razor on arch Linux we can definitely work on one though.

[2019-02-05 20:12] nickelghost commented on #2816
Same thing happens to me on Solus. I created an Arch Linux VM to test if it still occurs, and it does - looks exactly the same.
1. There is the "no SDKs" error described in the issue, setting `MSBuildSDKsPath` fixed the issue.
2. If `DOTNET_ROOT` is set, the Razor server crashes. I tried to find the root of the issue, but even the verbose mode did not show me anything. I just disabled it.
3. Even

[2019-02-05 20:18] gregg-miskelly commented on #2816
@nickelghost Did you install the official Microsoft VS Code from https://code.visualstudio.com/? Debugging is only supported in the official version (not the open source version).

Unfortunately, VS Code seems to have broken the reporting for the error that the debugger sends back about this.

[2019-02-05 20:22] nickelghost commented on #2816
@gregg-miskelly I'm using the version from my distro's repository, so I guess it's the unofficial version. How come debugging is disabled on the open source version? I thought Microsoft <3 Open Source...

[2019-02-05 20:37] nickelghost commented on #2816
@gregg-miskelly Is it open source then but under a different license? Or is it a closed source part of Microsoft's build?
If it is open, is there a way to get it working with the open vscode?

[2019-02-05 20:39] gregg-miskelly commented on #2816
The debugger is closed source.

[2019-02-05 21:36] Jacfal opened #2840 "can't debug netcore 2.2 on fedora 29"
## Environment data
`dotnet --info` output:

[code]

VS Code version: 1.30.2
C# Extension version: 1.17.1

## Steps to reproduce
1.open c# code
2.add breakpoint
3.start debugging

## Expected  behavior
debugging (stop on breakpoint)

## Actual behavior

Debug adapter process has terminated unexpectedly (exit code: null)

Console debug:

[code]

[2019-02-05 22:35] gregg-miskelly commented on #2840
@Jacfal Can you using the following instructions to see if anything more useful gets printed to the terminal?

https://github.com/OmniSharp/omnisharp-vscode/wiki/Enabling-C%23-debugger-logging#full-method

Also, did you install .NET Core via a package manager? If you try are run an ASP.NET Core app normally, does it run okay? The behavior you are seeing is what happens when .NET Core is missing on

[2019-02-06 01:21] #2785 closed

[2019-02-06 06:52] reke592 commented on #2820
I use Arch, I set the razor.devmode : true, Idk what it means [to operate in a mode that allows us to run a Razor dev environment ontop of a shipped omnisharp-vscode](https://github.com/aspnet/Razor.VSCode/issues/190). but it works for me.

[2019-02-06 10:01] Charly6596 commented on #2604
@ehouarn-perret Thanks a lot, I fixed it with the following steps,
- Uninstall `mono`, `msbuild-stable` and `dotnet-sdk`
- `yay -S dotnet-sdk mono msbuild-stable`
- Replace what i had in `.bashrc` related to dotnet, copy pasting this:
[code]
I had `export PATH="$PATH:$MSBuildSDKsPath"`

[2019-02-06 13:25] ehouarn-perret commented on #2604
@Charly6596 glad to know that my solution could help you out

[2019-02-06 15:53] NTaylorMullen commented on #2820
@reke592, you should be using `razor.disabled` not
`razor.devmode` 😁

[2019-02-06 16:28] RononDex commented on #2786
@rchande have been working with the latest build of omnisharp-roslyn (compiled it myself) for a day now, so far I the bug didn't show up, so I guess thats good sign :)

Really looking forward to the roslyn-analyzers PR

[2019-02-06 19:58] Jacfal commented on #2840
@gregg-miskelly You are right, problem was with missing dependencies. I installed dotnet from copr repository instead of using official repositories. Reinstalling dotnet from microsoft repository solved the issue.

Thanks for pointing me in the right direction.

[2019-02-06 19:58] #2840 closed

[2019-02-06 22:13] akshita31 commented on #2817
@Obscuriosity  The [beta version](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta7) containing the fix for this issue is out. You can install it by following the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

We believe this would fix the issue. Please try it out.

[2019-02-06 22:15] akshita31 commented on #2794
@marvelperseus As per @James-E-Adams suggestion, upgrading to the latest mono would fix the issue.

I will close the issue for now. Please feel free to reopen if it still persists.

[2019-02-06 22:15] #2794 closed

[2019-02-06 22:18] akshita31 commented on #2778
@CleiberReis @johnnyreilly Can you try upgrading to the latest mono version as suggested [here](https://github.com/OmniSharp/omnisharp-vscode/issues/2794#issuecomment-457050038) and checking if the problem still persists.
Also, we have a [beta release](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta7) containing major improvements on the code load times. You can install it

[2019-02-06 22:19] akshita31 commented on #2769
@joylogic The [beta version](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta7) containing the fix for this issue is out. You can install it by following the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

We believe this would fix the issue. Please try it out.

[2019-02-06 22:20] akshita31 commented on #2769
For now, I will close this issue for lack of information to do further analysis

[2019-02-06 22:20] #2769 closed

[2019-02-06 22:23] akshita31 commented on #2758
@citizenharris Can you try updating your mono version as stated [here ](https://github.com/OmniSharp/omnisharp-vscode/issues/2794#issuecomment-457050038) and checking if the issue still persists.

Also, we have a [beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta7) that includes major performance fixes. You can install it by following the instructions [here](https://git

[2019-02-06 22:25] akshita31 commented on #2812
@Vandermerwer any updates here ?

[2019-02-06 22:26] akshita31 commented on #2788
@sa0okm9ijn Any updates here ?

[2019-02-07 00:49] jchand99 commented on #2820
@NTaylorMullen Out of curiosity, what is the difference? Why should one be used above the other?

[2019-02-07 00:56] NTaylorMullen commented on #2820
@jchand99, `razor.disabled` stops everything Razor. `razor.devmode` just stops the starting of the Razor Language Server and the Razor wire up to VSCode. It's all to enable https://github.com/aspnet/Razor.VSCode to ctrl + f5 VSCode and replace the shipped Razor experience with a development version.

[2019-02-07 00:58] jchand99 commented on #2820
@NTaylorMullen Ah, I understand now, thank you for the clerification!

[2019-02-07 08:59] AOne-T opened #2842 "OmniSharp shows errors in Problem panel of not built projects"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.103
 Commit:    8edbc2570a

Runtime:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.2.103/

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs installed:
  2.1.503 [/usr/share/dotnet

[2019-02-07 19:35] SirIntruder commented on #2810
You can find overrides in child classes through "find implementations" command, which is usually binded to ctrl+shift+f12. Implementations are not counted toward normal references in shift+f12, and I suspect "find all references" is executed by vscode as a superset of those two commands.

It would be nice if c# extension had an option for implementations code lens, as in typescript:

![2019-02-07_

[2019-02-07 20:14] Herohtar opened #2843 "Offline package tries to download Razor Language Server"
## Environment data
VS Code version: 1.31.0
C# Extension version: 1.17.1 (offline build)

## Steps to reproduce
1. Follow the [steps to build an offline VSIX package](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-the-C%23-extension-to-a-computer-without-internet-connectivity)
2. Install the resulting VSIX in VS Code on a computer with no internet connection
3. Open VS Code
4. Open

[2019-02-07 22:17] kirbyfan64 opened #2844 "Allow a custom path to a dotnet executable"
Currently, omnisharp assumes dotnet is in the PATH. However, it would be nice if we could pass a path to a dotnet SDK, e.g. to use a different version or one not globally available. If this seems plausible, I can work on it myself.

I'm guessing this would either involve:

1. Using the full dotnet path wherever the CLI is called (more elegant but more difficult version).
2. Modify the PATH from th

[2019-02-07 22:26] gregg-miskelly commented on #2844
There isn't a good way to do this -- its not just this extension that needs to launch `dotnet` but also other parts of VS code. You can open up a terminal/command prompt, add dotnet to some local version of PATH, and start VS Code from there.

[2019-02-08 12:16] johnnyasantoss commented on #2834
Thank you @akshita31 😃

[2019-02-08 13:54] dbrimley opened #2846 "Ubuntu Debug Issue : You may only use the Microsoft .NET Core Debugger (vsdbg) with Visual Studio Code, Visual Studio or Visual Studio for Mac software"
## Environment data
.NET Core SDK (reflecting any global.json):
 Version:   2.2.103
 Commit:    8edbc2570a

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.2.103/

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs installed:
  2.2.103 [/usr/share/dotnet/sdk]

.NET

[2019-02-08 15:13] gregg-miskelly commented on #2846
@dbrimley are you using the official Microsoft build of VS Code? (Ex: what you get from https://code.visualstudio.com/)

[2019-02-08 16:11] dkdewitt commented on #2047
Was this ever resolved?  Can't use WSL and VSCode currently as ther conflicts between WSL and WIndows are causing all .NET objects to not be found.

[2019-02-08 16:33] dbrimley commented on #2846
It's provided via Ubuntu SNAP...

[code]

[2019-02-08 16:44] gregg-miskelly commented on #2846
Thanks! Unfortunately VS Code has recently broken their error reporting so the error message doesn't show up, but the issue is that debugging is only supported in the official version of VS Code. So if you want debugging to work you will need to uninstall that copy and reinstall the official version instead.

The .NET Debugger used by the C# extension is considered a part of Visual Studio, and hen

[2019-02-08 17:02] dbrimley commented on #2846
I've removed the snap install visual studio code.
I've cleaned up .vscode
I've downloaded and installed the .deb file on the code.visualstudio.com website
run vscode and it pulled in the C# extension again downloading the debugger etc.
ran the same code
afraid I get the same error.

![screenshot from 2019-02-08 17-01-08](https://user-images.githubusercontent.com/1588244/52493445-5e2aef80-2bc3-11e9

[2019-02-08 17:36] gregg-miskelly commented on #2846
@dbrimley

[2019-02-08 17:37] gregg-miskelly commented on #2846
@dbrimley Actually, from your screen shot it looks like things are now working. What are you expecting to have happen that isn't?

[2019-02-08 17:42] dbrimley commented on #2846
I'm still getting the message about the debugger only working with Mac?  Debugging isnt working for me.

[2019-02-08 17:44] gregg-miskelly commented on #2846
You mean the license banner text (see below) correct? If so, that doesn't look to be related to your problem, at least anymore. Can you tell me more about what isn't working?

License banner text:
[code]

[2019-02-08 17:56] rchande commented on #2047
cc @akshita31

[2019-02-08 18:00] rchande commented on #2844
@kirbyfan64 As @gregg-miskelly says and you've alluded to, the most reliable way to do this would be to change your path. I'm curious--what is your scenario where you need to specify a specific dotnet.exe but global.json isn't sufficient?

[2019-02-08 18:01] rchande commented on #2843
@Herohtar Thanks for filing, we'll take a look.

[2019-02-08 18:04] rchande commented on #2842
@AOne-T You can use the folder icon in the lower left to choose the active project/solution. If you have an active solution, OmniSharp will not perform dotnet restore on other projects. You're correct that you'll need to manually restore projects that omnisharp is not tracking.

[2019-02-08 18:04] #2842 closed

[2019-02-08 18:05] rchande commented on #2788
@sa0okm9ijn We haven't from you in a long time, so I'm going to close this issue. Feel free to file a new one if you're still having problems.

[2019-02-08 18:05] #2788 closed

[2019-02-08 18:06] rchande commented on #2812
@Vandermerwer We haven't heard from you in a while so I'm going to close this issue. Feel free to respond if you are able to answer @akshita31 's question.

[2019-02-08 18:09] rchande commented on #2786
@MikaelUmaN It sounds like this is fixed--I'm going to close the bug. Go ahead and further comments if you have any.

[2019-02-08 18:09] #2786 closed

[2019-02-08 18:32] rchande commented on #2136
For those following along here, feel free to file an issue using the command "CSharp: report an issue" from VS Code.

[2019-02-08 18:33] gregg-miskelly commented on #2838
Closing for now, let us know if you need more assistance

[2019-02-08 18:33] #2838 closed

[2019-02-08 19:03] nbonacchi opened #2847 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Linux x64 4.18.0-15-generic`
- VSCode version: `1.31.0`

[ms-vscode.csharp-unresponsive.cpuprofile.txt](https://github.com/OmniSharp/omnisharp-vscode/files/2846466/ms-vscode.csharp-unresponsive.cpuprofile.txt)

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cause

[2019-02-08 19:42] AOne-T commented on #2842
As you can see on the screenshot, the solution is loaded. Also using the "vscode-solution-explorer" extension I show that the problematic project exists in solution. But for now it is not referenced by any other project. And the main application project (that is configured to build and start) doesn't reference it either. So it is not build. And `dotnet restore` doesn't help: it reduces the number

[2019-02-08 19:47] akshita31 commented on #2847
@nbonacchi Can you try upgrading to the latest mono version as suggested [here](https://github.com/OmniSharp/omnisharp-vscode/issues/2794#issuecomment-457050038) and checking if the problem still persists.
Also, we have a [beta release](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta7) containing major improvements on the code load times. You can install it by following the

[2019-02-08 19:51] akshita31 commented on #2843
@Herohtar Can you navigate to the extension folder under C:\Users\..\.vscode\extensions\ms-vscode-csharp and checking if the .razor folder exists?
Somehow the .razor packages are not being added to the vsix.

[2019-02-08 20:58] akshita31 commented on #2843
@Herohtar We merged a change #2848 that might fix this. Can you try again with the latest clone of master ?

[2019-02-08 21:43] Herohtar commented on #2843
@akshita31 The .razor folder exists under the extension folder, and it looks like it contains the files for that package.

I tried to test using the master branch, but unfortunately, I get an error during the `node node_modules/gulp/bin/gulp.js package:offline` process. (Will update with error shortly)

[2019-02-08 22:15] akshita31 commented on #2843
@Herohtar For me it succeeds

Can you try the following:
1. git clean -xfd
2. Update to the latest version of node
3. npm i -g gulp
4. gulp vsix:offline:package

Here are the logs that I have
[code]

[2019-02-08 23:00] Herohtar commented on #2843
@akshita31 Thanks, that fixed the build error.

And it looks like the changes in master fixed the attempted download issue.

[2019-02-08 23:01] akshita31 commented on #2843
@Herohtar Glad you got it working 🍡

[2019-02-08 23:01] #2843 closed

[2019-02-09 00:27] akshita31 commented on #2047
@mipnw @dkdewitt Thank you for taking time to inform us of the issue and apologize for the delay here .We are able to reproduce this and are working on it.

[2019-02-09 06:45] Hypenate commented on #2838
When I do  `dotnet run` the servers starts and my browsers starts up
I closed that
I added the configuration like you said and spun op the debugger

When I now hover over my breakpoints, it still states: "Unverified Breakpoint"

[2019-02-09 11:39] madprog commented on #2803
@kentahikaru I could make debugging work using `ms-vscode.mono-debug` extension.

My `.vscode/launch.json`:
[code]

My `.vscode/tasks.json`:
[code]

[2019-02-09 13:14] Vandermerwer commented on #2812
High, yeah, it's me again.

Sorry that I took so long to respond, and I don't even know if you are going to see this. But the problem is still there and it is making me worry a lot. Only one of the add-ons I have are functioning properly, the rest does not seem to work at all and I still have no idea how to fix it.

If you can help me, that would be really kind.

[2019-02-10 17:11] Hypenate commented on #2838
I made a quick repo here: https://github.com/Hypenate/DemoAppForVsCodeDebugIssue

[2019-02-10 17:50] ryhled commented on #168
This should include intellisense for stuff like "@RenderPage()" and so forth? Im fairly new to using vs code but tried both regular and insider with the c# extension (1.17.1) and the razorpage intellisense just gives me squigglies and 'Name renderbody does not exist in this context'. Works fine when building and launching. No issue in VS 2019 intellisense (if the project is opened there).

[2019-02-10 20:35] JesseTG commented on #2847
I have this same issue with Mono 5.18.

[2019-02-11 01:31] joshampton commented on #2847
* Issue Type: `Performance`
* Extension Name: `csharp`
* Extension Version: `1.18..0-beta7`
* OS Version: `Windows_NT x64 10.0.17134 `
* VSCode version: `1.31.0 (user setup)`

Here's my omnisharp configuration:

[2019-02-11 10:28] Doeke commented on #2010
Installing the latest stable version of Mono on Ubuntu 18.04 fixed this error for me (The reference assemblies for framework ".NETFramework,Version=v4.7.1" were not found.)

[2019-02-11 16:07] rchande commented on #2842
@AOne-T Can you share your OmniSharp log? Output -> OmniSharp log? It would also be helpful if you could share the csproj that isn't loading or at least describe it.

[2019-02-11 16:10] rchande commented on #2812
@Vandermerwer You haven't given us enough information to be able to help you:
* What are you trying to do?
* What is "not functioning properly"?

[2019-02-11 16:17] Vandermerwer commented on #2812
- I'm just trying to program efficiently, because at the moment VS Code is not even showing errors in the code line. So I have to go to the corresponding software (Unity) then wait for the scripts to compile for Unity to tell me there's an error... VS Code used to show the error by underlining the line with a red "squiggly" line. But it doesn't do that anymore

- The Error detection thingy (sorry

[2019-02-11 19:07] akshita31 commented on #2812
@Vandermerwer We would need some information from your system in order to be ablt to diagnose further. In vscode can you do F1 --> `Csharp: Start authoring a new issue on github` and the paste the output from that here.

Also, please paste the output from your [OmniSharp log](https://github.com/OmniSharp/omnisharp-vscode/wiki/Reporting-Issues#omnisharp-and-c-log)

[2019-02-11 19:10] Vandermerwer commented on #2812
## Issue Description ##
## Steps to Reproduce ##

## Expected Behavior ##

## Actual Behavior ##

## Logs ##

### OmniSharp log ###
<details>Post the output from Output-->OmniSharp log here</details>

### C# log ###
<details>Post the output from Output-->C# here</details>

## Environment information ##

**VSCode version**: 1.31.0
**C# Extension**: 1.17.1

<details><summary>Dotnet Information</summ

[2019-02-11 19:10] Vandermerwer commented on #2812
Wow, I'm so sorry for this

[2019-02-11 19:12] Vandermerwer commented on #2812
The OmniSharp log isn't displaying anything. What should I do?

[2019-02-11 19:14] akshita31 commented on #2812
Is it possible to share the project with us ?

[2019-02-11 19:15] akshita31 commented on #2812
Alternatively, can you try uninstalling and then reinstalling the extension?

[2019-02-11 19:15] Vandermerwer commented on #2812
It's an entire Game that I'm building, what should I share exactly?

[2019-02-11 19:16] Vandermerwer commented on #2812
I have uninstalled and re-installed everything completely 5 times already. This is why I really need help

[2019-02-11 19:17] akshita31 commented on #2812
Do you have any `C# log` in the same place you were looking for the "OmniSharp log" ?

[2019-02-11 19:18] Vandermerwer commented on #2812
Yes, but it's also not showing anything

[2019-02-11 19:19] akshita31 commented on #2812
Can you try installing the latest [beta version](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta7). You can install it by following the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

[2019-02-11 19:22] akshita31 commented on #2812
Also, do you have ".Net Core" installed ?
I am asking because on my machine the dotnet info looks different:

[code]

If not can you try installing .Net Core sdk from https://aka.ms/dotnet-download

[2019-02-11 19:39] Vandermerwer commented on #2812
Well I just did all that, and it still seems to be broken

[2019-02-11 19:45] akshita31 commented on #2812
That is really awkward.
Usually when the extension is able to start, we have an "Omnisharp log" channel in the output pane, with the output similar as shown below:

![image](https://user-images.githubusercontent.com/12554141/52588927-76cd1c80-2df2-11e9-97ec-218b9e28598d.png)

Are you saying that there is a pane with the OmniSharp log but it doesnt have anything in the output ?

[2019-02-11 19:47] Vandermerwer commented on #2812
Well, mine doesn't do that. I guess i'l have to completely re-install everything. If it's still not working than I'll come back to you

[2019-02-11 21:23] ehouarn-perret commented on #2604
Playing over and over I've noticed that the insiders is not necessary: I explain everything [here, in my SO answer update](https://stackoverflow.com/a/54638753/4636721):

[2019-02-11 21:27] Vandermerwer commented on #2812
Well, unfortunately it did not work. I completely romoved VS Code from my
computer and did a complete re-install twice. And now it’s still broken,
and I have no idea ho to fix it.

On Mon, 11 Feb 2019 at 21:45, Akshita Agarwal <notifications@github.com>
wrote:

[2019-02-11 21:39] akshita31 commented on #2812
@Vandermerwer When did the problem start? Did you recently update the extension or vscode that triggered the problem

[2019-02-11 21:44] ehouarn-perret commented on #490
`exp(Important Feature!)!`

[2019-02-11 22:29] pushqrdx commented on #2765
@rchande disabling snippets globally does affect lots of other languages, it becomes so frustrating if you do anything besides C# in vscode. I hope it gets fixed 😅

[2019-02-11 22:54] rchande commented on #2812
@Vandermerwer I'm sorry you're having difficulty "getting things to work", but we still don't have enough information to help you. Can you share a screenshot of what you're seeing and make sure the VS Code "Output" window is visible?

[2019-02-12 00:36] #2754 closed

[2019-02-12 00:49] akshita31 commented on #2047
I am looking into this now. For now, until we find a fix, `F1 --> Restart OmniSharp` should restore the extension to a sane state.

[2019-02-12 07:24] Vandermerwer commented on #2812
It started after I created a new user profile on my computer. I experienced
some severe problems with Microsoft Family features, but I managaed to fix
that. VS Code than started acting up, I did a complete re-install and it
worked fine again, then. VS Code then prompted a notification that the
OmniSharp extension isn’t working correctly (but it was) and that I need to
reload in order for it to fun

[2019-02-12 08:28] fatihtatoglu opened #2850 "Needed multiple framework support."
While using VS Code,

I develop multiple framework libraries.
<TargetFrameworks>net452;net461;netstandard2.0</TargetFrameworks>

I needed handle multiple framework with #if, #elif, #else, and #endif Directives. While developing net452 intellisense works will be worked for net452. While developing netstandard2.0 the intellisense works will be for netstandard2.0.

I visual studio I can select on edi

[2019-02-12 14:29] AOne-T commented on #2842
I managed to create sample solution for you. It reflect what we use. And we use `$(SolutionDir)` environment variable throughout our projects because we extensively use git submodules and it really helps, but it does bad for OmniSharp as we experience some strange problems and cannot test and debug tests using "Test lens" (or how they are called) - see https://github.com/OmniSharp/omnisharp-vscode

[2019-02-12 18:40] byroniac commented on #2821
FYI if it helps anyone. I've got a Hyper-V VM running Ubuntu 19.04 and the snap vscode is installed, and I had this same issue, which I seem to have resolved by installing the dotnet-sdk snap and doing a "sudo ln -sv /snap/dotnet-sdk/current/dotnet /usr/local/bin" to manually create a symbolic link where Omnisharp would find it. In a perfect world, all I'd have to do is something like "sudo snap a

[2019-02-12 22:20] akshita31 commented on #2047
Diving further into this issue:

1. When you execute "dotnet build" inside a WSL/docker the paths contained inside the build assets are all resolved with respect to mount path inside the docker/WSL. Eg: In my case I was mounting the directory in a "Sources" folder hence in my nuget.g.props contained the "ProjectAssetsPath" as /Sources/test/obj/project.assets.json

2. OmniSharp checks these paths t

[2019-02-12 22:47] jeffhube commented on #2047
I wonder if it would be possible to have NuGet use paths that vary by platform, so that doing a restore under WSL wouldn't clobber the files written by the host?

[2019-02-12 22:48] akshita31 commented on #2821
@Vannevelj Could you try the suggestion from @byroniac and see if it works.

Also you can try adding omnisharp.json file as suggested [here](https://github.com/OmniSharp/omnisharp-roslyn/issues/1313#issuecomment-429039879)

[2019-02-13 01:22] akshita31 commented on #2847
@jrieken I downloaded the profile above that @joshampton uploaded and 96% of the time is consumed by (program). As per https://stackoverflow.com/questions/3847954/what-is-program-in-chrome-debugger-s-profiler this is the program itself. Does that mean it is vscode that is consuming time here ?

[2019-02-13 01:28] akshita31 commented on #2758
@citizenharris We havent heard back from you in a while so I will close this issue now. Please feel free to repoen if the problem still persists.

[2019-02-13 01:28] #2758 closed

[2019-02-13 01:29] akshita31 commented on #2778
@CleiberReis We haven't heard back from you in a while so I will close this issue for now. Please feel free to reopen if the problem still persists.

[2019-02-13 01:29] #2778 closed

[2019-02-13 01:30] akshita31 commented on #2817
@Obscuriosity  We haven't heard back from you in a while so I will close this issue for now. Please feel free to reopen if the problem still persists.

[2019-02-13 01:30] #2817 closed

[2019-02-13 01:31] akshita31 commented on #2757
@SinueeHernandez  Can you try upgrading to the latest mono version as suggested [here](https://github.com/OmniSharp/omnisharp-vscode/issues/2794#issuecomment-457050038) and checking if the problem still persists.
Also, we have a [beta release](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta7) containing major improvements on the code load times. You can install it by follow

[2019-02-13 01:46] akshita31 commented on #2799
I am unable to reproduce this on my Windows machine. @MaximumViciousDeer
Please paste the output from your [OmniSharp log](https://github.com/OmniSharp/omnisharp-vscode/wiki/Reporting-Issues#omnisharp-and-c-log)

[2019-02-13 01:50] akshita31 commented on #2802
@arrebole Any updates here ?

[2019-02-13 01:52] akshita31 commented on #2825
cc @gregg-miskelly

[2019-02-13 05:56] arrebole commented on #2802
No, only Rename folder "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin" ，Everything will become ok。It's just staring at msbuild for Visual Studio

[2019-02-13 06:01] arrebole commented on #2802
@akshita31 It always gives priority to using Visual Studio's msbuild。There is no c# environment in Visual Studio, I am installing dotnet core independently.

[2019-02-13 07:46] jrieken commented on #2847
Hard to say, generally it should be understood as time is spend outside JS-land, eg inside native land. This can be garbage collection or IPC message overflow. If you zoom in a lot you that some calls are interleaved with something I suspect as omnisharp message handling. Would it be possible that the omnisharp server send a lot of data?

<img width="645" alt="screenshot 2019-02-13 at 08 44 27" sr

[2019-02-13 07:51] koliyo opened #2851 "Leaking razor process"
The csharp extension is leaking processes.
[code]
Note: VS code is not running

## Environment data
`dotnet --info` output: Version:   2.2.103
VS Code version: 1.31.1
C# Extension version: 1.17.1

Mac OS Mojave

## Steps to reproduce

## Expected  behavior
Proper cleanup of internal processes

## Actual behavior

[2019-02-13 09:34] MaximumViciousDeer commented on #2799
Here is my OmniSharp Log:
[code]

[2019-02-13 13:23] rajdakin commented on #2532
OK, so apparently just installing `msbuild` did the trick.
Thanks gzmp!

[2019-02-13 13:23] #2532 closed

[2019-02-13 14:33] Vannevelj commented on #2821
@akshita31 I no longer am using Linux/VSCode and the VM is gone as well, so I'm afraid I won't be able to test that out.

[2019-02-13 17:11] cilerler opened #2852 "Feature request: able to select project via context menu"
I would like to be able to select the project via context menu.

Especially on a heavy Workspace it becomes very difficult to select a specific SLN file,  please

- allow to pick one through right click _(context menu)_

and/or

- allow to write the full path to the `Select Project` option

[2019-02-13 17:48] NTaylorMullen commented on #2851
@dbaeumer Razor [uses ](https://github.com/aspnet/Razor.VSCode/blob/master/src/Microsoft.AspNetCore.Razor.VSCode/src/RazorLanguageServerClient.ts)the `LanguageClient` to turn on/off its LanguageServer. What's the best usage of LanguageClient to ensure that we dispose of the process when VSCode exits?

[2019-02-13 18:28] akshita31 commented on #2802
Can you try installing .Net Core Build Tools as described [here](https://github.com/OmniSharp/omnisharp-roslyn/issues/1311#issuecomment-428361674)

[2019-02-13 19:32] Vandermerwer commented on #2812
Please help me, I'm really getting desperate, my classes have started and I'm going to fall behind if I can't manage to fix the problem soon.

[2019-02-13 20:05] akshita31 commented on #2812
@Vandermerwer Please share your project and some screenshots of vscode with your [OmniSharp log](https://github.com/OmniSharp/omnisharp-vscode/wiki/Reporting-Issues#omnisharp-and-c-log)

[2019-02-13 20:09] Vandermerwer commented on #2812
Ok, please just clarify what you mean with "Share your project". What exactly should I upload?

[2019-02-13 20:10] akshita31 commented on #2812
The folder you are opening in vscode and trying to get intellisense

[2019-02-13 20:22] Vandermerwer commented on #2812
Well, I did another complete re-install. And the OmniSharp Log is showing text again. So I do think that it is all functioning again.

I'm so sorry that I was so much trouble, It's just that I had no idea why it was broken or why it seems to be working again. Guess I just had to re-install it 11 times.

Thanks for the help and sorry for the inconvenience.

[2019-02-13 20:23] akshita31 commented on #2812
@Vandermerwer Glad you got it working. I will close this issue now.

[2019-02-13 20:23] #2812 closed

[2019-02-13 20:24] akshita31 commented on #2821
@Vannevelj In that case I will close the issue here. Please reopen if the you encounter the problem again

[2019-02-13 20:24] #2821 closed

[2019-02-13 23:07] akshita31 commented on #2847
@jrieken Yeah omnisharp pushes a lot of messages and that might be the reason for this. I will investigate further into this. Thanks!

[2019-02-14 04:04] prime31 opened #2853 "Search and Go To Definition with multi folder workspace dont work"
Issue Type: <b>Bug</b>

This is a bit tricky to describe, but I'll do my best. I do not know if this is a bug or a feature request either.

I am working with a C# project that references a few other C# projects. The folder structure is like this, where MainProj references both SomeProj and AnotherProj:

[SomeProj]
[AnotherProj]
[MainProj]

This creates two different scenarios for use with two diff

[2019-02-14 04:53] teqdruid commented on #2342
Is there any update here? I have a project I'm trying to port from VS to VSCode, but it uses extern aliases and reference aliases in the csproj files, but I'm getting "problems" in vscode since it doesn't use the alias.

[2019-02-14 08:42] Ghostbird commented on #2529
Maybe this can shed some additional light on the situation:

I recently upgraded my system to Debian 10. Some things went wrong, and I had to reinstall stuff. Afterwards my projects would not load using any version of the extension, and I got the error from #2667.

I found that there is no `msbuild` package available in my system repositories (which might mean I'm missing a repository.

After mess

[2019-02-15 02:23] prime31 opened #2854 "Go To File (Cmd+P) doesn't find files in projects listed in .sln file"
## Issue Description ##
This is similar to #2853. When you have a .sln file that references projects that are in folders outside of the one opened by Code, Go To File won't find the files.

## Steps to Reproduce ##
- Setup two projects, MainProj and LinkedProj with the directory structure listed below (two folders next to each other).

[MainProj]
     - MainProj.csproj
     - MainProj.sln (referen

[2019-02-15 08:47] SaculRennorb commented on #2691
I just want to mention that  I actually never found a solution to the problem, i still cant get it to work, still the same error - I just switched over to one of the jetbrains products since their stuff 'just works', I'm just a bit sad because I rly like the concept of vscode, but I cant get it to work for the life of me.
So if anyone finds the same problem and actually resolves it, just leave a q

[2019-02-15 13:01] nickmits opened #2855 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.31.1`
[code]

[2019-02-15 14:07] fizzd commented on #1980
Is there any alternative to format documents without removing whitespace on empty lines now? Or even just a 'format without removing whitespace anywhere at all'? I have tried a lot of solutions and disabling/enabling whitespace trimming settings, but whitespace on blank lines is always deleted.

[2019-02-15 14:35] vlab22 commented on #2040
In my vscode only works if I focus Unity to it changes de csproj files then "Reload Windows" in vscode.
Only restarting Omnisharp doesn't work, always need Unity "compiling" task.

[2019-02-15 17:47] mholo65 commented on #2691
@SaculRennorb, you could try, as a workaround to disable the Cake project system. I.e. create a `omnisharp.json` with the following contents:
[code]

See options for more details https://github.com/OmniSharp/omnisharp-roslyn/wiki/Configuration-Options

But I think this will just move the error you’re seeing to another place.

[2019-02-15 18:30] akshita31 commented on #2855
@nickmits What is the project that you are trying to open in your workspace ?

[2019-02-15 20:30] bryanzavala opened #2856 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Linux x64 4.15.0-45-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/bryan/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-l

[2019-02-15 21:43] akshita31 commented on #2856
@bryanzavala Can you try upgrading to the latest mono version as suggested [here](https://github.com/OmniSharp/omnisharp-vscode/issues/2794#issuecomment-457050038) and checking if the problem still persists.
Also, we have a [beta release](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta7) containing major improvements on the code load times. You can install it by following t

[2019-02-15 22:21] akshita31 commented on #2691
@SaculRennorb Also could you try updating to the latest VSCode and the extension version and checking if the problem still persists.

[2019-02-15 22:57] ikathegreat opened #2857 "Index tooltip (mouse hover) for enums"
When editing a C# .cs file, it would be helpful to display a mouse hover tooltip over enums with the corresponding index, This would be especially helpful when there are lots of enum values or the first enum is specifically forced to not start at 0, for whatever reason.

An example:

[code]
Hovering the mouse over `AlphaY` should display something like

`AlphaCode.AlphaY = 25`

This way, I don't h

[2019-02-16 12:11] nickmits commented on #2855
a project web api core2.2

Στις Παρ, 15 Φεβ 2019 στις 8:30 μ.μ., ο/η Akshita Agarwal <
notifications@github.com> έγραψε:

[2019-02-16 12:28] junchenglai opened #2858 "Assembly.LoadFrom() cannot be debugged correctly"
## Environment data
#### `dotnet --info` output:
.NET Core SDK（反映任何 global.json）:
 Version:   3.0.100-preview-010184
 Commit:    c57bde4593

运行时环境:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview-010184\

Host (useful for support):
  Version: 3.0.0-preview-27324-5
  Commit:  63a01b08e5
#### VS Co

[2019-02-16 21:46] vdmarques opened #2859 "Why when i open vscode otput say"
When i open my vsCode say:
i try to clear reinstall c# extension not work
The terminal compiles the program but when I type it does not understand the namespaces and classes, and the autosugesttions

Starting OmniSharp server at 16/02/2019 19:42:21
    Target: /home/vitao/Documentos/omnisharp

OmniSharp server started with Mono 5.18.0.
    Path: /home/vitao/.vscode/extensions/ms-vscode.csharp-1.17

[2019-02-17 03:05] tarwich commented on #1752
This is a great idea. However, I wouldn't recommend this as a snippet, but rather as a code action. A code action is the little lightbulb that pops up, or the menu you get when you press `Ctrl` + `.`.

I rarely need to be able to tab-complete an enum. I don't need that kind of speed. But typing out an enum, and pressing `Ctrl` + `.` and then selecting "Populate enum variants" or something would be

[2019-02-17 04:20] vdmarques commented on #2859
I solved the problem by installing the mono and uninstalling the mono

[2019-02-17 04:22] vdmarques commented on #2859
Problem back:
Starting OmniSharp server at 17/02/2019 01:21:45
    Target: /home/vitao/Documentos/C#/entrada_de_dados_1

OmniSharp server started with Mono 5.18.0.
    Path: /home/vitao/.vscode/extensions/ms-vscode.csharp-1.17.1/.omnisharp/1.32.8/omnisharp/OmniSharp.exe
    PID: 13756

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on linuxmint 19.1 (x64)
[info]: OmniSharp.Services.DotNet

[2019-02-17 04:28] vdmarques commented on #2859
i try to remove /usr/lib/mono/
Now i got this :
Starting OmniSharp server at 17/02/2019 01:26:04
    Target: /home/vitao/Documentos/C#/entrada_de_dados_1

OmniSharp server started with Mono 5.18.0.
    Path: /home/vitao/.vscode/extensions/ms-vscode.csharp-1.17.1/.omnisharp/1.32.8/omnisharp/OmniSharp.exe
    PID: 14921

The assembly mscorlib.dll was not found or could not be loaded.
It should have

[2019-02-17 05:33] vdmarques commented on #2859
I try to fix this  "omnisharp.path": "latest" but donto work

I gave away some remanent packages of the mono like mono-runtime

dont work

i try to remove .mono on my default $home

dont work

try to completly remove extension rm -r ms-vscode.csharp-1.17.1  and rm -r ms-vscode.csharp-1.17.1

and restart vscode and intalling again

Now it Works!!!

[2019-02-17 05:33] #2859 closed

[2019-02-17 14:05] dbrimley commented on #2846
You're right it appears to be working now, I'll close this.

Thanks so much for your help Greg.

[2019-02-17 14:05] #2846 closed

[2019-02-18 11:57] dbaeumer commented on #2851
@NTaylorMullen the `LanguageClient` offers a stop method. When called it send the `exit` notification to the server to tell the server process to shutdown.

[2019-02-18 15:24] prime31 opened #2860 "Clicking on an error in the Problems tab does not open the file"
[VSCode.mp4.zip](https://github.com/Microsoft/vscode/files/2863349/VSCode.mp4.zip)

Issue Type: <b>Bug</b>

- create an error in a C# file
- compile and notice in the Problems tab the error will appear
- click on the problem which should jump you to the file but instead it just flickers a tab (seems t open it and then close it immediately)

Video attached showing the bug in action.

VS Code versio

[2019-02-19 03:51] jchand99 opened #2861 "Arch Linux: Fail to load webapp Project"
## Issue Description ##
Omnisharp.MSBuild.ProjectManager Failed to load project file

## Steps to Reproduce ##
Create new webapp with razor pages:

dotnet new webapp -n "Test"

Open project with VSCode.

## Expected Behavior ##
Load project without failure

## Actual Behavior ##
Omnisharp fails to load the project.

I have omnisharp.loggingLevel set to debug and omnisharp.path set to latest

## Lo

[2019-02-19 05:37] savpek commented on #43
Reviews pending now. I am waiting to continue with fadeout #2646 and fix all feature (https://github.com/Microsoft/vscode/issues/62110, https://github.com/dotnet/roslyn/blob/master/docs/analyzers/FixAllProvider.md) which can be made top of this 🙂

[2019-02-19 06:27] acple opened #2862 "omnisharp.latest parser is broken with unicode comments"
## Issue Description ##
On latest beta OmniSharp for Windows `1.32.11-beta.10`
If `.cs` file includes some unicode comments(I don't know which character causes this), raises many syntax errors.

## Steps to Reproduce ##
1. Create project with `dotnet new console`
2. Open project with VSCode
3. Add comment to `Program.cs` as following:

[code]

4. **Change line endings LF** (if CRLF, works fine)

#

[2019-02-19 16:01] shizn commented on #2195
@gregg-miskelly @DustinCampbell  any updates on this? Thanks.

[2019-02-19 16:13] rchande commented on #2854
@prime31 Ctrl-p is the VS Code command to locate files. It searches files, not symbols, so it only searches files that are available in your VS Code workspace. If your workspace doesn't include the linkedproj folder, Ctrl-P won't be able to find it. You can make it available by opening the parent of both mainproj and linked proj, or by adding the linkedproj folder to your workspace.

Note that ctr

[2019-02-19 16:13] #2854 closed

[2019-02-19 16:14] rchande commented on #1889
https://github.com/OmniSharp/omnisharp-vscode/issues/2853

[2019-02-19 16:14] rchande commented on #2853
I think this is a dupe of https://github.com/OmniSharp/omnisharp-vscode/issues/1889

[2019-02-19 16:14] #2853 closed

[2019-02-19 16:19] rchande commented on #2858
@junchenglai Can't you edit your launch.json to change the working directory when you debug?
![image](https://user-images.githubusercontent.com/3751401/53030073-055b2280-341f-11e9-9956-05a06d895fc2.png)

cc @gregg-miskelly

[2019-02-19 16:46] rchande commented on #1752
This does work in Visual Studio...

[2019-02-19 17:05] NTaylorMullen commented on #2851
Hmm, interesting. The server should definitely be handling that exit notification successfully then. @koliyo does it leak every time?

FYI @david-driscoll

[2019-02-19 19:44] Colocasian opened #2863 "System.Threading.Tasks.Dataflow, Version=4.5.24.0 not found by OmniSharp"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.31.1
C# Extension version: 1.17.1

## Steps to reproduce

1. Install VS-Code
2. Install C# Extension
3. Run Omnisharp server (Starts automatically when VS-Code is opened)

## Expected  behavior
Omnisharp server to run properly

## Actual behavior
[code]
Then cuts to
[code]
(Output mode is on debug)

[2019-02-19 19:47] akshita31 commented on #2861
@jchand99 Could you try the fix as stated here : https://github.com/OmniSharp/omnisharp-vscode/issues/2604#issuecomment-429437465

[2019-02-19 19:59] akshita31 commented on #2863
The problem is :

Could you check `/home/rishvic/.vscode/extensions/ms-vscode.csharp-1.17.1/.omnisharp/1.32.11-beta.10` for the presense of System.Threading.Tasks.Dataflow.dll. If not could you reinstall the extension ?

[2019-02-19 20:02] jchand99 commented on #2861
@akshita31 Fixed! Thank you!

[2019-02-19 20:05] akshita31 commented on #2861
@jchand99 Glad you got it working.

[2019-02-19 20:05] #2861 closed

[2019-02-19 20:05] akshita31 commented on #2861
This is a dupe of #2604

[2019-02-19 21:50] BananchickPasha commented on #2863
I have the same problem. I tried to reinstall extension, but it didn't help. Also i have System.Threading.Tasks.Dataflow.dll in ~/.vscode/extensions/ms-vscode.csharp-1.17.1/.omnisharp/1.32.8/omnisharp.

[2019-02-19 22:11] akshita31 commented on #2863
This might be similar to the issue : https://github.com/OmniSharp/omnisharp-roslyn/issues/1350

[2019-02-20 03:20] NarDd commented on #1344
I am not sure if this is the same issue but I seem to reproduce the same error
![image](https://user-images.githubusercontent.com/22251150/53063897-bdacc780-3500-11e9-96ad-059d4cf2d30c.png)

As you can see, the DataModels folder has been deleted however the errors still exist. I have tried cleaning and rebuilding using dotnet clean and dotnet build, but nothing is resolving this issue.

Using dotn

[2019-02-20 07:36] koliyo commented on #2851
I don't think it happens every time.

A general suggestion would be not to rely completely on shutdown callbacks/notifications. You should also look at the POSIX `setpgid` functionality, and how this can be used to bind child processes to the parent

See this snippet I am using in another project
https://github.com/Microsoft/vscode-python/issues/3331#issuecomment-459278663

And from `setpgid` man

[2019-02-20 07:38] koliyo commented on #2851
This is not isolated to any extension, such as `omnisharp` and `python`, but should be addressed systematically in VS Code. Which it does to some extent I guess.

[2019-02-20 08:45] ThisDrunkDane commented on #1198
Any news on this? The problem is still present in the latest release of VSCode and the extensions.

[2019-02-20 08:51] dbaeumer commented on #2851
For server's written in node this is addressed by passing the process id of the extension host to the server. Here we do this generically since we know how to start node. The Razor server uses a command to start the server. You could do the same and simply add an argument to the command that passes the process id. Our servers then check from time to time of that process still exists and if not exi

[2019-02-20 08:55] Colocasian commented on #2863
But I found the required `System.Threading.Tasks.Dataflow.dll` in ~/.vscode/extensions/ms-vscode.csharp-1.17.1/.omnisharp/1.32.11-beta.10/omnisharp/System.Threading.Tasks.Dataflow.dll. But I also saw that OmniSharp version 1.32.8 was also installed along with 1.32.11-beta.10

[2019-02-20 09:11] Colocasian commented on #2863
I tried to force reinstall of OmniSharp by removing both 1.32.11-beta.10 and 1.32.8 and `install.Lock` from extension folder, but still the exact same error persists. Still found `System.Threading.Tasks.Dataflow.dll` in `.omnisharp/1.32.11-beta.10/omnisharp` and `.omnisharp/1.32.8/omnisharp`

[2019-02-20 12:00] nikomikulicic opened #2864 "Automatic vertical alignment of multiline function parameters"
## Issue Description ##

A feature request for automatic vertical alignment of function parameters when they are spread out across multiple lines.

Suggestion: each new line is aligned with first parameter after opening bracket.
<img width="926" alt="screenshot 2019-02-20 at 12 31 32" src="https://user-images.githubusercontent.com/19579227/53089349-9cea6f00-350c-11e9-85ff-3924af59cea1.png">

Curre

[2019-02-20 17:01] NTaylorMullen commented on #2851
@rchande / @akshita31 how do you guys ensure OmniSharp exits?

[2019-02-20 17:05] AnthonyMastrean commented on #1726
@DustinCampbell Am I right, based on [this comment](https://github.com/OmniSharp/omnisharp-vscode/issues/2332#issuecomment-391006122), that you're tracking EditorConfig support here? If so, is there any chance that you'll be working toward the extended list of [.NET coding conventions](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2017) that V

[2019-02-20 17:32] AlexQwertus commented on #2844
I would like to be as much independent from the environment as possible because I want to use vscode in a portable version.

[2019-02-20 18:10] gregg-miskelly commented on #2844
For debugging, I believe you can make things work if you --

1. The first time you install a new version of the C# extension: launch VS Code with a terminal that has `dotnet` on the path
2. Change your launch.json to instead of `"program": "${workspaceFolder}/bin/Debug/netcoreapp2.1/clicon.dll", "args": []` you have `"program": "insert-part-to-dotnet", "args": [ "${workspaceFolder}/bin/Debug/netco

[2019-02-20 19:43] nickmits commented on #2855
can you help me ?cause its kind difficult to debug without omnisharp..

Στις Σάβ, 16 Φεβ 2019 στις 2:11 μ.μ., ο/η Νικόλαος Μητσέλος <
nick.mitselos@gmail.com> έγραψε:

[2019-02-20 20:06] akshita31 commented on #1344
@NarDd Can you try `F1--> Restart OmniSharp` ?

[2019-02-20 20:13] derviskiratli opened #2865 "Command '.NET: Generate Assets for Build and Debug' resulted in an error."
## Issue Description ##
Error message when running the '.NET: Generate Assets for Build and Debug command
## Steps to Reproduce ##
1. Create a new asp dotnet core project.
2. Open it with Visual Studio.
3. Run the '.NET: Generate Assets for Build and Debug command.
## Expected Behavior ##
Creation of the necessary JSON files.
## Actual Behavior ##
Error message: Command '.NET: Generate Assets for

[2019-02-20 21:05] kirbyfan64 commented on #2844
Hmm okay, I guess this isn't an option then, I'll just close!

@rchande Basically I'm working with the VS Code Flatpak, the dotnet sdk is in `/usr/lib/sdk/dotnet` which isn't in the path by default, so I was just trying to see if there's a good way of generically being able to call into it...

[2019-02-20 21:06] #2844 closed

[2019-02-20 21:52] rchande commented on #2865
@derviskiratli I wasn't able to reproduce this with a project created via `dotnet new web`--would you mind sharing your omnisharp log?

[2019-02-20 21:52] DanJ210 opened #2866 "CSharp: Report an issue doesn't show and Start an Issue on GitHub is blank page"
## Environment data
`dotnet --info` output: 3.0.100-preview-010184
VS Code version: 1.31.1
C# Extension version: 1.17.1

## Steps to reproduce

1. Open Visual Studio Code
2. Bring up the command palette (press <kbd>F1</kbd>)
3. Type `CSharp: Report an issue`
4. Note that it doesn't exist
5. Backspace to `CSharp:`
6. Select `CSharp: Start authoring a new issue on GitHub`
7. Blank page is opened

##

[2019-02-20 21:54] derviskiratli commented on #2865
Where can I find the logs?

[2019-02-20 21:58] rchande commented on #2851
@NTaylorMullen We include it in our list of things to dispose when the extension is deactivated: https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/omnisharp/extension.ts#L171

[2019-02-20 22:02] rchande commented on #2866
@akshita31

[2019-02-20 22:25] #2865 closed

[2019-02-21 01:43] NarDd commented on #1344
@akshita31 that works! Thank you 👍

[2019-02-21 04:58] spiritedsnowcat opened #2867 "XML Summary Block Comments and Autocomplete"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.102
 Commit:    96ff75a873

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.102\

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs installed:
  2.2.102

[2019-02-21 06:55] alexvy86 opened #2868 "Use `applicationUrl` from `launchSettings.json` when launching browser, like VS"
## Issue Description ##

I'm using Kestrel for local development. During a debugging session, the URL that's being passed to the browser (with `${auto-detect-url}` in `launch.json`) is always based on one of the endpoints configured for Kestrel, and is always using `localhost` as the hostname. E.g. if my Kestrel configuration looks like this:

[code]

The URL that's passed to the browser seems to

[2019-02-21 15:23] seeseemelk commented on #2863
I'm struggling with this exact same issue. Here's my output of `dotnet --info` if it's of any help
[code]

[2019-02-21 15:29] gregg-miskelly commented on #2868
I am not sure why our server URL detection code replaces the host name with 'localhost'. But it sounds fixable.

In the mean time, in case you are not aware, you can configure how we start the browser (or remove it all together and launch the browser manually).

[2019-02-21 15:42] alexvy86 commented on #2868
Yes, for now my workaround was to set the URL manually in `launch.json`.

I'm curious, how is `auto-detect-url` determined? I read in the discussion for another issue that you wait for a particular message in the application's stdout to know when the web server is running, so at first I thought you simply grabbed the URL where the web server says it is listening, but as you can see in the logs abo

[2019-02-21 15:43] jtsom opened #2869 "Glob errors in console"
1. Open Visual Studio Code
2. Bring up the command palette (press <kbd>F1</kbd>)
3. Type `CSharp: Report an issue`

If the `CSharp: Report an issue` command doesn't appear, make sure that you have C# extension version 1.17.0 or newer installed.

^^^ This command does not appear, I am running 1.18.0-beta7

## Environment data
`dotnet --info` output
[code]
VS Code version:
1.32.0-insider
2e4d4a6bb16

[2019-02-21 18:49] akshita31 commented on #2855
@nickmits Does the extension activate for you for a simple `dotnet new console` project ? Do you see any
[OmniSharp log](https://github.com/OmniSharp/omnisharp-vscode/wiki/Reporting-Issues#omnisharp-and-c-log)

[2019-02-21 18:50] akshita31 commented on #2866
@DanJ210 Could you try the [latest beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta7) containing the fix for this issue is out. You can install it by following the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases). Please let us know if this fixed the issue.

[2019-02-21 19:09] ethan-deng commented on #1794
Same here with Nunit. Just debug a test case with failed assertion and then debug won't work again.

[2019-02-21 19:22] ethan-deng commented on #1794
Just found a solution. When the test case failed with a assertion such as "Assert.AreEqual(-1,1)", when the debugger is stopped with unhandled exception, do not continue the debugger to finish but stop the debugger and it won't crashed the debugger.

[2019-02-21 19:25] ethan-deng commented on #2398
Just stop the debugger when unhandled exception is thrown will solve the problem. Just don't "continue" the debugger.

[2019-02-22 06:57] garethjensen commented on #2867
Additional information: Looks like this happens with regular comments as well, but it doesn't make a suggestion after a period, so it doesn't do an autocomplete fill-in. It's annoying that it suggests C# keywords at you when typing comments, but not too impactful.

For example:
[code]

[2019-02-22 11:37] Ghostbird commented on #1794
By the time I posted [this](https://github.com/OmniSharp/omnisharp-vscode/issues/1794#issuecomment-368898931) I had already found that _workaround_. However, in retrospect, that is not clear at all from my comment.

[2019-02-22 15:27] ehouarn-perret commented on #2604
Does not work anymore after the last update: https://aur.archlinux.org/packages/visual-studio-code-bin

[2019-02-22 20:27] BrothersRM opened #2870 "Named Arguments Inserts Two Colons"
## Environment data
`dotnet --info` output:
[code]

VS Code version:1.31.1
C# Extension version: 1.17.1

## Steps to reproduce
Define a function with any parameters
`public void SayHello(string message);`
Write out a call to that function, and specify the parameters by name.
Do not hit tab to auto complete the parameter name. Type it all out, and close it with a colon.
`SayHello(message: "Test");`

[2019-02-22 20:32] ethan-deng commented on #1362
Make the folder name of your solution matches the the name of solution file .sln.

[2019-02-22 20:57] ethan-deng commented on #2132
Make sure the folder name of your solution matches the the name of solution file .sln.

[2019-02-23 02:09] xcap2000 opened #2871 "C# syntax highlight does not work properly"
- VSCode Version: 1.31.1
- C# Extension: 1.17.1
- OS Version: Debian 9 (Stretch)

Steps to Reproduce:

1. Create C# Contact class accepting string name and int phone.
2. Put its contructor's parentheses and parameters on its own lines.

Working Scenario:
![image](https://user-images.githubusercontent.com/620133/53216711-411b0580-3634-11e9-8657-b7aa40d7c88a.png)

Problematic Scenario:
![image](http

[2019-02-23 07:14] lmmarsano opened #2872 "Highlight delimited documentation comments /** */"
Issue Type: <b>Feature Request</b>

According to the C♯ specification, there's a [delimited documentation comment syntax](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/documentation-comments#introduction), and VS Code supports this (eg, Intellisense).
However, the XML in delimited documentation comments such as
[code]
is not getting syntax highlighting th

[2019-02-25 01:32] nguerrera commented on #2604
@akoeplinger @marek-safar Are there distributions of mono that include msbuild, but not Microsoft.DotNet.MSBuildSdkResolver?

[2019-02-25 01:34] nguerrera commented on #2604
I'd like to get to the bottom of why folks are resorting to setting MSBuildSdksPath. See https://github.com/dotnet/cli/issues/10865. They end up breaking themselves with every SDK update. This should not be necessary as I've explained in https://github.com/OmniSharp/omnisharp-vscode/issues/2604#issuecomment-430330103.

[2019-02-25 04:13] eouw0o83hf commented on #2870
I get hit with this on a daily basis, it's super annoying

[2019-02-25 08:43] marek-safar commented on #2604
@radical ?

[2019-02-25 15:59] radical commented on #2604
@directhex might be able to answer this.

[2019-02-25 16:57] directhex commented on #2604
Yes: RHEL 6.

There are three pieces in play: `Microsoft.DotNet.MSBuildSdkResolver.dll` (from msbuild.git), `libhostfxr.so` (from core-setup.git), and the rest of msbuild.git. The package dependency chain is `msbuild` :arrow_right: `msbuild-libhostfxr` :arrow_right: `msbuild-sdkresolver`

In the case of our RHEL/CentOS 6 repository, the msbuild-libhostfxr package is intentionally empty (because it

[2019-02-25 19:25] xgnxs commented on #2820
Confirming this issue on manjaro as well (using aur/visual-studio-code-bin 1.31.1-1) .  Works fine on fresh install of C# extension, but after reboot, "Razor language server crashed 5 times and will not be restarted".  Easy workaround so far has been to delete the ms-vscode.csharp directory in ~/.vscode/extensions, then reinstall C# extension in the UI (although it is annoying to have to download

[2019-02-25 19:42] gregg-miskelly commented on #2820
@xgnxs There is a much better work around. See the very top of this issue.

[2019-02-25 21:26] ohjames commented on #2820
Completely disabling razor isn't exactly a workaround, unless you don't need razor.

[2019-02-26 18:22] Pilchie opened #2874 "Should support tasks for public and watch"
## Steps to reproduce
1. `dotnet new console`
2. Open in VSCode.
3. Allow task generation for build and debug to happen.

## Expected  behavior
Should also have support for `dotnet publish` and `dotnet watch`.  (We'll need to decide what verb to watch depending on project type.

## Actual behavior
No publish/watch support.

## Related
Related to 🔗 [2043](https://github.com/OmniSharp/omnisharp-vsco

[2019-02-26 22:27] zubr1 opened #2875 "Coursor moves lines during scroll"
I encountered a frustrating problem after few minutes of my first experience with VS Code. When I scroll up or down through the code, the cursor follows me. That's a nice feature which I didn't notice previously in VS. So fast two fingers swipe on laptop touchbar, makes the cursor scrolling, until it reaches satisfying position (it takes about 1s). The point is that if during the cursor scrolling,

[2019-02-27 07:14] Arsmn1996 opened #2876 "The SDK 'Microsoft.NET.Sdk.Web' specified could not be found"
## Environment data
`dotnet --info` output:

   Version:   3.0.100-preview-010184
   Commit:    c57bde4593

 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview-010184\

   Version: 3.0.0-preview-27324-5
   Commit:  63a01b08e5

   3.0.100-preview-010184 [C:\Program Files\dotnet\sdk]

  Microsoft.AspNe

[2019-02-27 10:59] ljsnogard commented on #2871
Reproducible in:
* VSCode Version: 1.31.1
* C# Extension: 1.17.1
* OS Version: macOS Mojave (10.14.3)

[2019-02-27 11:21] Adeelasd opened #2877 "Ubuntu: .NET sdk not found"
I am getting this error log

Starting OmniSharp server at 2/27/2019, 4:19:43 PM
    Target: /data/csharpbascics

OmniSharp server started with Mono 5.16.0.
    Path: /home/adeel/.vscode/extensions/ms-vscode.csharp-1.17.1/.omnisharp/1.32.8/omnisharp/OmniSharp.exe
    PID: 10304

[dbug]: OmniSharp.CompositionHostBuilder
        Loaded OmniSharp.Cake, Version=1.32.0.0, Culture=neutral, PublicKeyToken

[2019-02-27 14:59] Adeelasd commented on #2737
@tuscen Your solution worked for me thanks man

[2019-02-27 15:59] DanJ210 commented on #2866
@akshita31 I don't mind. If I install the beta will I get the next production update when it comes out? Or will I have to remove the beta and install the extension from the extension store when I want the next version?

[2019-02-27 18:44] akshita31 commented on #2866
@DanJ210 You will get the production update whenever it is available.

[2019-02-27 21:47] akshita31 commented on #2877
It looks like you have Mono 5.2.0 or greater installed but MSBuild could not be found.
Try installing MSBuild into Mono (e.g. 'sudo apt-get install msbuild') to enable better MSBuild support.

@Adeelasd Can you try installing msbuild and checking if the error still persists ?

[2019-02-27 21:49] akshita31 commented on #2877
This might be related to https://github.com/OmniSharp/omnisharp-roslyn/issues/1394

[2019-02-28 00:35] gregg-miskelly commented on #2875
Thanks for the report. This doesn't sound like an issue with the C# extension, so I will move this to the VS Code repo.

[2019-02-28 00:36] gregg-miskelly commented on #2875
This issue was moved to Microsoft/vscode#69565

[2019-02-28 00:36] #2875 closed

[2019-02-28 02:56] akshita31 commented on #2871
Moved to https://github.com/dotnet/csharp-tmLanguage/issues/150

[2019-02-28 02:56] #2871 closed

[2019-02-28 02:57] akshita31 commented on #2876
@Arsmn1996  Can you try installing .Net Core Build Tools as described [here](https://github.com/OmniSharp/omnisharp-roslyn/issues/1311#issuecomment-428361674)

[2019-02-28 03:00] akshita31 commented on #2872
Moved to https://github.com/dotnet/csharp-tmLanguage/issues/151

[2019-02-28 03:00] #2872 closed

[2019-02-28 03:02] akshita31 commented on #2863
@Colocasian Could you set omnisharp.loggingLevel: debug and reshare the log ?

Do you have msbuild installed? Could you try installing msbuild and checking if the error still perisists ?

[2019-02-28 08:04] Colocasian commented on #2863
The original error log was in loggingLevel: debug, and I do seem to have MSBuild preinstalled with my .NET SDK v2.2

[2019-02-28 09:01] luca1010 opened #2878 "Vs code hangs formatting c#"
## Issue Description ##
Open a new Vs code document (plain text), paste the code below.
Then set the language mode (click on status bar) to C#. Vs code is no more responsive, all the windows and documents are blocked. Forcing it to close and reopening I return to the situation just before the change of language mode. I tried it different times, same result.
Removing all the ? from code does not ch

[2019-02-28 10:04] WoolenWang commented on #1362
how to do " reimport the VSCode asset into unity" ??

[2019-02-28 20:57] nicknguyen commented on #2642
This works for me as a workaround using version 1.32.0-insider:
[code]
This issue still exists in this nightly build.

[2019-02-28 23:15] arcooke commented on #2821
@akshita31 I'm having the same issue.  My OS (Solus) doesn't use /usr/local .. I tried the symlink to ~/bin/dotnet but I still get the issue.

Even if the .csproj references `Microsoft.NET.Sdk`, the error still shows `Microsoft.NET.Sdk.Web`

`The SDK 'Microsoft.NET.Sdk.Web' specified could not be found.`

[code]

[code]

[2019-03-01 02:06] akshita31 commented on #2863
@Colocasian Maybe setting omnisharp.loggingLevel: trace ?

[2019-03-01 02:14] akshita31 commented on #2821
@arcooke Could you try setting MSBuildSdkPath as stated [here](https://github.com/OmniSharp/omnisharp-vscode/issues/2604#issuecomment-429437465)

[2019-03-01 05:54] Colocasian commented on #2863
Here's the output for loggingLevel: trace
[code]

After reading this, I do think this has to do something with MSBuild, will try to do something and report back.

[2019-03-01 06:10] Colocasian commented on #2863
Although I found MSBuild.dll in `/usr/lib64/dotnet/sdk/2.2.104/MSBuild.dll` in my computer and tried to export a global variable `MSBUILD_EXE_PATH=/usr/lib64/dotnet/sdk/2.2.104/MSBuild.dll`, it did not work.

[2019-03-01 09:28] Adeelasd commented on #2877
I already have msbuild installed.
I had to resolve to disabling global mono to get Omnisharp working.

[2019-03-01 15:06] arcooke commented on #2821
@akshita31

I can confirm that works.  I added `export MSBuildSDKsPath=/snap/dotnet-sdk/current/sdk/$(dotnet --version)/Sdks` to bashrc and deleted the legacysdkresolver file and it builds successfully.

[2019-03-01 18:05] akshita31 commented on #2821
@arcooke Glad you got it working

[2019-03-01 18:11] akshita31 commented on #2863
@Colocasian As per the comments [here](https://github.com/OmniSharp/omnisharp-vscode/issues/2877#issuecomment-468601613) can you try "omnisharp.useGlobalMono": never

[2019-03-01 18:45] akshita31 commented on #2855
@nickmits Any updates here ?

[2019-03-01 18:48] nickmits commented on #2855
Yes it works!! Thanks

Στις Παρ, 1 Μαρ 2019, 8:45 μ.μ. ο χρήστης Akshita Agarwal <
notifications@github.com> έγραψε:

[2019-03-01 19:08] akshita31 commented on #2855
@nickmits Glad you got it working. Please let us know if the problem reappears.

[2019-03-01 19:08] #2855 closed

[2019-03-01 23:00] safern commented on #2876
This is happening to me as well with 3.0 preview2 .NET Core SDK for OSX...

[code]

dotnet info output:
[code]

However if I uninstall it and use the 2.1 SDK that I have installed works fine.

cc: @rainersigwald @DustinCampbell @nguerrera is this a SDK/CLI issue?

[2019-03-01 23:11] nguerrera commented on #2876
@safern Thank you for that log!

 We can see hostfxr picking the 3.0 SDK and then the resolver rejects it.

1. $(MSBuildVersion) is < 16.0
2. The SDK resolver dll being used is older than the version in VS 15.9+ that can pick the "latest compatible"
3. The older resolver is rejecting 3.0 SDK returned by hostfxr because it has a minimumMSBuildVersion of 16.0
4. MSBuild throws InvalidProjectFileExce

[2019-03-01 23:14] safern commented on #2876
To confirm a piece of your theory, indeed MSBuild version that comes with Omnisharp is 15.0:
`Located 1 MSBuild instance(s)
            1: StandAlone 15.0 - "/Users/santifdezm/.vscode/extensions/ms-vscode.csharp-1.17.1/.omnisharp/1.32.8/omnisharp/msbuild/15.0/Bin"
`

[2019-03-01 23:34] nguerrera commented on #2876
At a minimum we need to put a 15.9+ resolver there. This would make 2.1.302 be used in repro above as it is latest compatible.

But we also need a path to msbuild 16 in omnisharp so folks can actually use 3.0.

These should probably be tracked as separate issues.

[2019-03-02 02:33] akshita31 commented on #2876
@nguerrera I am not very clear on the resolver you are talking about here. Can you please eleborate on what are the changes that are needed in omnisharp ?

[2019-03-02 10:52] zeihanaulia commented on #2755
I have the same experience, Intellisense can't work.

### dotnet info
[code]

### omnisharp logs
[code]

[2019-03-02 15:18] Abdulkareem83 commented on #785
The same issue here, And restart vs code or Omnisharp doesn't work for me. So odd

[2019-03-02 17:27] dgumberidze commented on #490
1

[2019-03-02 17:29] clintnetwork commented on #490
Yes dotnet watch run need to be integrate to omnisharp

[2019-03-02 19:20] akshita31 commented on #2863
Here is a similar issue and it was resolved by [setting the MsbuildSdkPath ]https://github.com/OmniSharp/omnisharp-vscode/issues/2803#issuecomment-457005942). Can you try that and check if the error reproduces ?

[2019-03-02 23:31] jedcastroag opened #2881 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Linux x64 4.15.0-45-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/jeffer/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-03-03 11:54] Alirezanet commented on #490
every debug process takes about 5 min in large applications without edit and continue so this is important feature ! i'll give this issue a BIG +1 ...

[2019-03-03 17:14] Alxandr commented on #1726
Is there any upstream issue from roslyn to add support for editorconfig that's trackable anywhere?

[2019-03-03 18:37] zeihanaulia commented on #1526
i have same issue, but with macos. The debugger not doing anything.

This is my configuratiin

[code]

[code]

[code]

i got no error, debugger just running but, not doing anything.

[2019-03-04 08:28] Prathees31 opened #2882 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Linux x64 4.15.0-46-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/pratheesgs/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-

[2019-03-04 16:02] DanJ210 commented on #2866
Ok I've installed beta 8 and tied, it is fixed now.

[2019-03-04 16:02] #2866 closed

[2019-03-04 17:31] theiviaxx commented on #1173
A similar distraction is going between files.  The reference lines are not present then "pop" in which is really distracting.  It would be cool if they were just always there at 0 references and update in place as tetious has suggested.

[2019-03-04 18:50] akshita31 commented on #2882
@Obscuriosity  The [beta version](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta8) containing the fix for this issue is out. You can install it by following the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

We believe this would fix the issue. Please try it out.

[2019-03-04 18:50] akshita31 commented on #2881
@Obscuriosity  The [beta version](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta8) containing the fix for this issue is out. You can install it by following the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

We believe this would fix the issue. Please try it out.

[2019-03-04 19:19] mihnescu commented on #2534
Hello @rchande, I installed the 1.18.0-beta5 of omnisharp, and tried but still get the conflict.
- I created a NewTestClass.cs
- declared a variable of that class in an older class, and I get the warning.
- the bigger problem is that when trying to extend an existing base class I get the error that the base class is not part of Assembly-CSharp-firstpass.csproj. So within the NewTestClass the compi

[2019-03-04 19:45] VincentGrice opened #2883 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\vince\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-03-04 20:20] gregg-miskelly commented on #1526
@zeihanaulia if you would like help, please open a new issue, and include logs ([instructions for enabling logging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Enabling-C%23-debugger-logging#quick-method)). Thanks!

[2019-03-05 00:39] gnbertiz08 opened #2884 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Linux x64 4.15.0-45-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/genesis/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu

[2019-03-05 04:28] Thaina commented on #871
I think I still experience this. This issue should kept opened

[2019-03-05 08:27] Colocasian commented on #2863
It worked by changing the setting omnisharp.useGlobalMono: never. I think the issue can be closed.

[2019-03-05 08:27] #2863 closed

[2019-03-05 09:58] AdityaMehtaIn opened #2885 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/adityamehta/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load

[2019-03-05 12:32] thomaslevesque opened #2886 "Omnisharp overwrites existing file when renaming to match class name"
## Issue Description ##

When renaming the "rename file to match class name" quick action, Omnisharp overwrites existing file without warning.

It was in a new project not yet under source control, so I can't even checkout a previous version 😢

## Steps to Reproduce ##

I have 2 files, `Foo.cs` with a `Foo` class and ``Foo`1.cs`` with a `Foo<T>` class.
I rename `Foo` to `Bar`, and use the quick ac

[2019-03-05 16:47] gregg-miskelly commented on #871
@Thaina if you are hitting into a problem, please open a new issue so we can try and help.

[2019-03-05 22:13] linikerunk opened #2887 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Liniker\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cp

[2019-03-05 22:53] rchande opened #2888 "Improve "missing targeting pack" scenario"
Right now, if you're missing the targeting pack for your project, you the below message in your omnisharp log. It's really hard for users to figure out what to do from here. A couple of improvements we could make
* Augment omnisharp log to include a link to the specific SDK, or at least to the general .NET fx downloads page
* Use our existing C# extension notification functionality to show an erro

[2019-03-05 22:53] rchande commented on #2888
@akshita31 Can you take a look?

[2019-03-05 22:54] rchande commented on #2888
Another note, I'm not sure if the VS Code notification system allows us to differentiate between "temporary" and "long running" popups, but it might be helpful to keep this popup displayed until explicitly dismissed.

[2019-03-05 23:06] rchande commented on #2886
@akshita31 Adding an error if the target file already exists seems like a quick change for us to make?

[2019-03-05 23:18] rchande commented on #2755
@dcb99 Sorry, I lost track of this issue--are you still having problems?

[2019-03-05 23:19] rchande commented on #2876
@nguerrera Awesome, thanks for the analysis!

[2019-03-05 23:47] nguerrera commented on #2876
@akshita31 Looks like @rchande is on top of it, but the resolver in question is Microsoft.DotNet.MSBuildSdkResolver.dll described here: https://github.com/OmniSharp/omnisharp-vscode/issues/2604#issuecomment-430330103 and implemented here: https://github.com/dotnet/cli/tree/master/src/Microsoft.DotNet.MSBuildSdkResolver

[2019-03-05 23:53] akshita31 commented on #2886
@rchande That sounds right. Will look into that

[2019-03-06 01:36] callmeblessed opened #2889 "Ambiquity field (I only have one field)"
Omnisharp showing:
Ambiguity between 'ClientPersonalRepository._context' and 'ClientPersonalRepository._context' [CRSApp.API, CRSApp.API]

sometimes I got this, it said ambiquity on the same fields. I only have on _context on my class.
Here is my code.

`using System;
using System.Linq;
using System.Threading.Tasks;
using System.Collections.Generic;
using Microsoft.EntityFrameworkCore;

using CRSA

[2019-03-06 03:03] teqdruid commented on #2786
I've got 1.18.0-beta8 installed and I'm having the same issue as above:

![image](https://user-images.githubusercontent.com/1498080/53852883-5e2acf00-3f78-11e9-8f83-cf1a5b92ce0f.png)

OmniSharp log:
[omnisharp.log](https://github.com/OmniSharp/omnisharp-vscode/files/2934124/omnisharp.log)

[2019-03-06 05:33] jgfoster commented on #2265
I have this issue on macOS 10.14.3, Visual Studio Code 1.31.1, C# extension version 1.17.1.

[2019-03-06 06:48] xeon321 opened #2891 "Unity C# Intellisense not working, [ms-vscode.csharp] provider FAILED"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.104
 Commit:    73f036d4ac

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.104\

Host (useful for support):
  Version: 2.2.2
  Commit:  a4fd7b2c84
VS Code version: 1.31.1
C# Extension

[2019-03-06 07:29] xeon321 commented on #2891
I downloaded Insiders version, and tried to open just the C# script, Intellisense works. However, if I were to open the C# project, it will fail & show the same errors again.

[2019-03-06 19:03] akshita31 commented on #2265
@jgfoster The [beta version](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta8) contains some download validation and might fix the problem. You can install it by following the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases). Please let us know if this fixed the issue.

[2019-03-07 07:43] PatrickLM opened #2892 "Failed installing Omnisharp"
Starting OmniSharp server at 3/7/2019, 9:33:20 AM
    Target: c:\Users\****\Desktop\Projects\Demo

OmniSharp server started.
    Path: C:\Users\****\.vscode\extensions\ms-vscode.csharp-1.17.1\.omnisharp\1.32.8\OmniSharp.exe
    PID: 11908

The system cannot find the path specified.
[ERROR] Error: OmniSharp server load timed out. Use the 'omnisharp.projectLoadTimeout' setting to override the defaul

[2019-03-07 19:05] akshita31 commented on #2891
@xeon321 I am not too familiar with Unity. Is it possible to share a repro project that would help us understand the issue

[2019-03-07 19:07] akshita31 commented on #2892
@PatrickLM Do you have any C# log ? If yes please share the output from that. It seems like the system is not able to install omnisharp? Do you have any proxy enabled that is forbidding the download

[2019-03-07 19:57] SunnySoldier357 commented on #2816
I had this exact same issue. Was using the visual studio code from AUR on my computer (Manjaro) and the error kept coming up. However, @virtualdreams solution fixed it.

[2019-03-08 08:48] PatrickLM commented on #2892
Resolved:
1) I disabled Kaspersky Firewall
VS-Code immediately updated from 1.31.1 to 1.32.1
2) I re-installed the Omnisharp extension

All other issues got resolved.

Installing C# dependencies...
Platform: win32, x86_64

Downloading package 'OmniSharp for Windows (.NET 4.6 / x64)' (31021 KB).................... Done!
Installing package 'OmniSharp for Windows (.NET 4.6 / x64)'

Downloading packag

[2019-03-08 08:48] #2892 closed

[2019-03-08 12:19] xeon321 commented on #2891
Sure, here you go. Just an empty project with 1 script file and that's all.
To switch Unity's default script editor, you need to open Unity
Edit -> Preferences -> External Tools -> External Script Editor

https://drive.google.com/open?id=1g5gOTOYSE4iM00ZFiI9FTr7AVp-jKyaa

[2019-03-08 17:44] #2797 closed

[2019-03-08 22:35] akshita31 commented on #2891
@xeon321 I opened the script as you suggested and the intellisense works for me. In  the log you pasted I only see the first two lines of the OmniSharp log. Could you post the full Omnisharp log from the output window ?

![image](https://user-images.githubusercontent.com/12554141/54059804-52751d80-41af-11e9-990c-499807a0268e.png)

Do you see the green omnisharp flame ?

[2019-03-08 23:39] ghost opened #2894 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\grigo\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-03-08 23:58] akshita31 commented on #2894
@LinuxDevelop Please try the [beta version](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.18.0-beta8) and see if the problem still reproduces. You can install it by following the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases). Please let us know if this fixed the issue.

[2019-03-09 02:11] xeon321 commented on #2891
Interesting...

This is what I get in the Omnisharp log.

OmniSharp server started.
Path: C:\Users\Wilson.vscode\extensions\ms-vscode.csharp-1.17.1.omnisharp\1.32.8\OmniSharp.exe
PID: 3516

The screen cannot be set to the number of lines and columns specified.

 And yes, I do get the green flame icon until I start to type, then I think everything just goes crazy.

I do notice that my bottom left c

[2019-03-09 08:14] fatfatson opened #2895 "`go to definition` doesn't go to source but metadata"
## Environment data
`dotnet --info` output:

VS Code version:

C# Extension version:

## Steps to reproduce
in a multi projects(csproj) solution workspace(only one root), press a hotkey to send the `go to definition` command for a type defined in other assembly.

## Expected  behavior
it should go to the source file containing the implementation of the symbol.

## Actual behavior
it open a `metada

[2019-03-09 08:15] SIkebe commented on #2895
？

[2019-03-09 08:32] fatfatson commented on #2895
BTW, maybe its mechanism is parsing the binary file instead of the source, so any changes in the file of  the dependent assembly won't take effect until execute the `Restart Omnisharp` command, it's slow and annoying.
could this been configuration for using the source file, just as the visual studio does.

[2019-03-09 17:07] BriniM opened #2896 "Project not loading after updating VS Code"
Issue Type: <b>Bug</b>

SDK Version: 2.1.504

open the project folder with VS Code, the project fails to load with this message
[code]

Any help is appreciated, thank you

Extension version: 1.17.1
VS Code version: Code 1.32.1 (05f146c7a8f7f78e80261aa3b2a2e642586f9eb3, 2019-03-08T00:51:49.278Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2019-03-09 18:05] SatriaKnight opened #2897 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Billdan Satriana\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cause

[2019-03-09 22:10] BriniM commented on #2896
The project loads fine when the version of MSBuild used, is the one that comes with Omnisharp. A conflict can occur when you have the full Visual Studio and Visual Studio Code installed on the same machine.

For the record, the project loads fine when as described above, using MSBuild of Omnisharp.

[code]

[2019-03-09 22:10] #2896 closed

[2019-03-10 15:28] Lorenz65 opened #2898 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\loren\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-03-10 16:32] toptulla commented on #785
Running a VS Code with admin rights "helps".

[2019-03-11 15:20] filipw commented on #2342
fixed in https://github.com/OmniSharp/omnisharp-roslyn/pull/1409

[2019-03-11 16:05] rchande commented on #2895
@fatfatson This happens because the Go To Definition subsystem thinks that the type you're inspecting is coming from an _assembly reference_ instead of a _project reference_. It's hard to say exactly why that's happening. Can you share your OmniSharp log and csproj?

[2019-03-12 13:41] xeon321 commented on #2891
Anyway, the problem solved itself after I reformat my PC and also I downloaded the system version installation instead of user version.

Thanks for the help.

[2019-03-12 13:41] #2891 closed

[2019-03-12 14:12] fatfatson commented on #2895
@rchande thank you for pointing out the problem, indeed I'm referencing that assembly by file instead of project, it's a xamarin related issue, its main(app) project could not be referenced `by project`.

[2019-03-12 19:17] ozmencelik opened #2901 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.32.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/ozzy/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load

[2019-03-13 03:31] josegomez commented on #2342
Is this live in the omnisharp VS Code extension yet? I'm still having this issue.1.17.1

[2019-03-13 15:38] rchande opened #2902 "Telemetry bug: acquisition"
Telemetry includes many "acquisition" events for which there's no corresponding omnisharp.start event. We should verify that we never send the "acquisition" event if acquisition fails.

[2019-03-13 17:28] ethan-deng commented on #1402
Restarting Omnisharp worked for me. Press CTRL + SHIFT + P, then select 'Restart Omnisharp' from the list

[2019-03-13 23:03] rchande commented on #2342
@josegomez The C# extension hasn't pulled in that build of omnisharp yet, but you can try it out by setting the value of the option `omnisharp.path` to `latest`.

[2019-03-14 07:00] BrightSoul opened #2904 "Breakpoint on the StopAsync method of a HostedService is not hit"
Hello,
I'm using ASP.NET Core 2.2, extension v1.17.1 and Visual Studio Code v1.32.1.

I made a simple hosted service like this one. As you can see, I log a line of text in both the `StartAsync` and `StopAsync` methods.
[code]
I've set a breakpoint inside the `StartAsync` method, and it gets hit as soon as I start the debugging session, as it should be. I've also set another breakpoint inside `Stop

[2019-03-14 15:52] RononDex opened #2905 "When doing git pull, git merge, ... (basically any git operation that changes files) then omnisharp does not update its intellisense / symbols database"
Issue Type: Bug

To reproduce:

1. Start vscode
2. Wait for omnisharp to have completely started and having parsed all files
3. Do a git merge, git pull or something that creates new files, moves files, ...
4. Intellisense / Omnisharp symbols are not updated

This causes several different issues, for example:

 * New classes not being recognized by intellisense
 * If a file that is open in vscode

[2019-03-14 16:01] gregg-miskelly commented on #2904
Yes, that is correct - the stop debugging button will forcefully terminate the target process.

[2019-03-14 19:32] afrahshahrani opened #2907 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/afrahalshahrani/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-03-14 20:05] BrightSoul commented on #2904
Ok, thanks for the clarification. Then I think I'll just run the application with `dotnet run` and then attach the debugger to the `dotnet` process. This way the breakpoint in `StopAsync` gets hit after I press CTRL+C in the console.

[2019-03-14 20:05] #2904 closed

[2019-03-15 00:36] #2874 closed

[2019-03-15 00:49] FFY00 commented on #2819
(archlinux packager here)

Yeah, I am sorry but we are sane people so we run vscode with the electron already installed on your system, we don't package a new copy of electron specifically to run vscode (electron is huge btw). I already had a conversation with the upstream but they won't fix it, because they don't want, really. I guess it bothers them to much to spend a few hours tracking down her

[2019-03-15 00:51] Zenexer commented on #2147
Experiencing the same issue on macOS.

Attempted resolution:

1. Uninstall C# extension within VS Code
2. Reload VS Code
3. Exit VS Code
4. rm -rf ~/.vscode/extensions/ms-vscode.csharp-1.17.1/
5. Launch VS Code
6. Install C# extension
7. Restart VS Code
8. Wait for OmniSharp to download

Attempted with .NET Core 3.0 Preview 1:

[code]

Attempted again with .NET Core 3.0 Preview 3:

[code]

C# exte

[2019-03-15 01:07] Zenexer commented on #2147
Confirmed that this remains an issue even with a fresh project created with `dotnet new console`.  The resulting csproj:

[code]

[2019-03-15 03:37] Zenexer opened #2910 "dotnetcore3.0 support broken on macOS"
## Issue Description ##

OmniSharp fails to load with error message: `Microsoft.Build.Exceptions.InvalidProjectFileException: The SDK 'Microsoft.NET.Sdk' specified could not be found.`

## Steps to Reproduce ##

1. Ensure macOS version is 10.14.3 (18D109).
2. Uninstall all previous versions of .NET Core and Mono.
3. Install .NET Core 3.0 Preview 3.
4. Install OmniSharp for VSCode, either v1.17.1 o

[2019-03-15 11:12] swaner commented on #1889
Just a note for other developers that cannot find the project picker in the statusbar.
Just hit cmd + shift + p , search for "OmniSharp: Select Project".

For me nothing happened when clicking OmniSharp icon, maybe due too later version (1.17.1)?

[2019-03-15 13:50] LazerFX opened #2911 "Add support to ignore warnings in generated library files"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version: 11.17.1

# Issue experienced:
When I open a project which has previously been build, I get a large number of warnings that are in generated code.  These looking something like:

[code]

Given that these are in generated files, I can go through and fix them... and next build, they come back.  At present

[2019-03-15 16:46] jgfoster commented on #2265
@akshita31, I no longer get an error installing the 1.18.0-beta10. Thanks!

[2019-03-15 22:24] akshita31 commented on #2265
This issue is fixed in the latest beta(1.18.0-beta10) and the corresponding release(1.18.0) which is scheduled  next week. I will close this issue now.

[2019-03-15 22:24] #2265 closed

[2019-03-16 00:37] #2857 closed

[2019-03-16 00:53] HardcodedNumber commented on #2472
I am on v1.32.2 with Unity 2018.3.x and C#. For int32, I get iPhoneSettings. It's really annoying.

[2019-03-16 13:21] areller opened #2912 "Can't Watch Variables during Debug"
## Issue Description ##
I try to debug the extension with VSCode, but whenever I enter debug mode, I can't view the values of the variables when I hover over them.

<img width="869" alt="image" src="https://user-images.githubusercontent.com/15989650/54475789-4d8f1a00-47fe-11e9-9408-2c3310f57327.png">

(I hover over `const extensionId` but nothing happens)

## Steps to Reproduce ##

1. Clone the re

[2019-03-16 13:59] smeesseman commented on #2850
+1 ^

[2019-03-16 19:07] JesseTG commented on #2894
For the benefit of whoever else has this issue: I have this issue (though on Linux), but I can confirm that the beta you link to resolves it.  Also, for Unity users, the current version of the Unity debugger extension (2.7.2) *does* work as expected with the linked beta.

[2019-03-16 19:32] Patrick-Callahan opened #2913 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Patrick\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cp

[2019-03-16 20:10] muellerweiss opened #2914 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\patri\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-03-16 20:13] Shad0wX opened #2915 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\user\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-l

[2019-03-16 22:05] ip opened #2916 "Is there a way to disable auto-formatter for a block of code?"

[2019-03-16 23:30] RichardD012 commented on #1889
In response to @swaner above, I have 4 projects in a folder: 3 .net core web apps and 1 .net core library.  The 3 web projects reference the library in their .csproj and the code-workspace has both the library the and root of the web projects as being in the workspace.

2 of the web apps switch projects completely fine (either select project or clicking the project in the bottom left of code).  Ho

[2019-03-17 04:08] gregg-miskelly commented on #2912
@areller you opened this issue here because you are having trouble debugging the C# extension, is that correct? This probably isn't the right place for this issue. Are you opening this repo as a folder and hitting F5?

[2019-03-17 04:13] JesseTG commented on #2894
Actually, I think the beta might have made it worse.

[2019-03-17 06:11] areller commented on #2912
Yes. I'm having trouble debugging the C# extension.
I open the omnisharp-vscode folder, via VSCode, after I've cloned this project. Then, I do `npm install` and then I press F5 to launch the debugger, which leads me to the issue itself.
I understand what you're saying. It might not be related directly to the omnisharp-vscode extension, but rather to the component that is responsible for TypeScript

[2019-03-18 05:53] akshita31 commented on #2912
@areller I have also experienced a similar issue recently and I think this is happening since the time we enabled webpack for the extension.

For now can you try the following workaround: Replace the "/dist/extension" in [package.json](https://github.com/OmniSharp/omnisharp-vscode/blob/master/package.json#L30) with "out/src/main" and see if it helps ?

cc @rchande

[2019-03-18 08:07] stickwalkerdevelopment opened #2917 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\chris\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-03-18 08:07] WebFreak001 opened #2918 "Text editors indentation settings are ignored"
## Environment data
`dotnet --info` output: dotnet core not installed
VS Code version: 1.32.3 (user setup)
C# Extension version: 1.17.1

## Steps to reproduce
1. Open a document
2. Convert indentation using vscode's indentation settings in the status bar

![image](https://user-images.githubusercontent.com/2035977/54514628-ecc92400-495a-11e9-95d8-70f205640aea.png)

3. Format the document

![image](

[2019-03-18 08:31] stickwalkerdevelopment opened #2919 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\chris\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-03-18 08:50] areller commented on #2912
@akshita31 Changing the `main` field to `out/src/main` **together with** changing `${workspaceRoot}/dist/*.js` to `${workspaceRoot}/out/*.js` in `.vscode/launch.json` fixed it.
Debugging works now.

Why do you think it happens with webpack? Is it because it doesn't generate source maps properly?
And out of curiosity, why use webpack instead of just creating a vscode build task that runs `tsc`?

Do

[2019-03-18 09:49] yyh9488 opened #2920 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Darwin x64 18.0.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/yaoyihan/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load

[2019-03-18 09:50] #2920 closed

[2019-03-18 14:22] ptrwis commented on #2604
Setting MSBuildSDKsPath solved my problem on Fedora (vscode, .net core3 p3), but IMO a hint to set it should be added to .net core download page:
https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.0.100-preview3-linux-x64-binaries
There are instructions to set PATH and DOTNET_ROOT but there is no advice to set MSBuildSDKsPath.

[2019-03-18 17:26] akshita31 commented on #2912
@areller If you look at the issues in the repo a number of them say, "Extension causes high cpu load". On analysing the traces we realised that the code loading of the extension was taking a lot of time. So we bundled the extension using webpack that performs tree shaking and has significantly reduces the code loading times.

As to why it happens with webpack, I am also guessing that there is a pr

[2019-03-18 18:05] rchande commented on #2905
@RononDex Those git operations can do all kinds of file manipulations. Can you help us narrow this down? Is it renaming file that results in duplicate? Adding a new file with a new type and it doesn't show up? And so forth.

[2019-03-18 18:12] rchande commented on #2472
@jrieken Did you make any progress here?

[2019-03-18 18:13] rchande commented on #2916
@ip There is not way to disable the formatter for a specific block of code. Can you help me understand what you're trying to do?

[2019-03-18 20:04] stickwalkerdevelopment opened #2921 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\chris\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-03-18 22:49] akshita31 commented on #2912
@areller I think I identified what the problem was there. I have a PR #2922 out. It seems to work for me.

[2019-03-18 22:58] #2912 closed

[2019-03-18 22:58] areller commented on #2912
Nice! Works for me as well.

[2019-03-19 08:07] RononDex commented on #2905
@rchande yes, its file renaming that results in a duplicate.
New files declaring new classes are then not resolved by omnisharp (and it keeps showing unkown type error within vscode, building works fine though)

[2019-03-19 08:34] RononDex opened #2923 "Trying to open intellisense in an open file, while omnisharp is still loading causes "Ambiguity between ..." error"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.103
 Commit:    8edbc2570a

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.103\

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs installed:
  2.1.500

[2019-03-19 10:10] savpek commented on #43
You can now test this feature with "omnisharp.path": "latest" in vscode and set omnisharp.json with:
[code]

There will be shortcut in upcoming vscode release to enable this feature: #2836

[2019-03-19 10:35] jrieken commented on #2472
no, we weren't able to reproduce...

[2019-03-19 16:27] akshita31 commented on #2161
@SirIntruder Can you confirm if we can close this now ?
@keithdfox Can you try setting "omnisharp.path": "latest" and checking if the error still reproduces?

[2019-03-19 16:29] akshita31 commented on #2040
As per https://github.com/OmniSharp/omnisharp-roslyn/pull/1159 this problem should be fixed.
@SirIntruder Can you confirm if we can close this now ?
Can someone here try setting "omnisharp.path": "latest" and checking if the error still persists?

[2019-03-19 16:30] akshita31 commented on #1970
As per OmniSharp/omnisharp-roslyn#1159 this problem should be fixed.
@SirIntruder Can you confirm if we can close this now ?
Can someone here try setting "omnisharp.path": "latest" and checking if the error still persists?

[2019-03-19 16:40] keithdfox commented on #2161
I'm not using vscode currently

On Tue, Mar 19, 2019, 12:27 PM Akshita Agarwal <notifications@github.com>
wrote:

[2019-03-19 16:52] akshita31 commented on #2923
I think this should be fixed in the later versions of omnisharp. My guess is that we are adding the file as a miscellaneous file before the workspace has been completely initialized and the project also adds the file hence omnisharp thinks that there are two files hence the ambiguity error.

Could you try setting "omnisharp.path": "latest" and checking if the error still reproduces ?

[2019-03-19 16:56] NTaylorMullen commented on #2923
@akshita31 had this happen yesterday to me with beta6 bits, for me it's super inconsistent/racey so never a reliable repro.

[2019-03-19 17:19] rchande commented on #2923
@akshita31 I don't think that adding a file as a misc file and a regular file would have the effect you describe. Misc files go into a separate project that isn't referenced by anything, so I don't think the compiler would find the same type declared twice in the same project.

[2019-03-19 17:44] ajaybhargavb opened #2924 "Omnisharp build fails with "Found implicit package reference 'Microsoft.NETCore.App', but none of the versions in the lock file""
## Issue Description ##
Omnisharp build fails with `Found implicit package reference 'Microsoft.NETCore.App', but none of the versions in the lock file ("3.0.0-preview3-27414-8") satisfy [3.0.0, )`

This works fine when running `dotnet restore` or `dotnet build` in command line.

## Steps to Reproduce ##
- `dotnet new console`
- `code .`

## Expected Behavior ##
Omnisharp initializes with no build

[2019-03-19 18:33] NTaylorMullen commented on #2923
@danroth27 just ran into this guy too today with beta6 bits.

[2019-03-19 18:34] rchande commented on #2923
@RononDex I can't reproduce this on the latest C# extension beta + latest omnisharp build. Do you have the option `"omnisharp.enableMsBuildLoadProjectsOnDemand"` set?

[2019-03-19 18:34] rchande commented on #2923
@NTaylorMullen Can you guys move to beta-10?

[2019-03-19 18:35] rchande commented on #2923
@NTaylorMullen, right, the razor thing. Can you set omnisharp.Path to 'latest'?

[2019-03-19 18:38] NTaylorMullen commented on #2923
Will give it a shot and report back if I see issues.

[2019-03-20 04:41] danroth27 commented on #2923
Looks like this was a Razor tooling specific issue.

[2019-03-20 08:53] RononDex commented on #2923
@rchande the omnisharp related settings in my vscode config:
[code]

My omnisharp.json:
[code]

(I used to test the roslyn analysers build with it)

[2019-03-20 09:00] RononDex commented on #2923
@akshita31 if I use "omnisharp.path": "latest"
I get the following output in vscode Omsniharp log:
[code]

[2019-03-20 12:26] bitinn commented on #2040
OK so here is my test result with Omnisharp version `1.32.12-beta.51`.

Setup:

- I am using Assembly Definition in Unity 2018.3
- Having an existing file called "BaseModel.cs" that implements "IModel.cs".

Test 1:

- Adding a new file called "OtherModel.cs", which implements the same "IModel" interface, VS Code failed to find the IModel interface.
- But on Unity focus, which means Assembly refres

[2019-03-20 13:03] SheepRock commented on #2924
Not sure if the same issue, but using dotnet core 3.0.100-preview3-010431 I get the following warning:

Also, Ominisharp doesn't work, it can't find any namespace, my entire code get underlined, and there is no auto-completion options.

[2019-03-20 13:04] edespong commented on #2833
I have the same issue:

The following flashes by in the output window:

Followed by:

vscode environment:

[2019-03-20 14:13] apkd commented on #2834
Omnisharp has stopped working for me after installing (and removing) the .NET Core 3.0 preview a few weeks ago, and using "latest" was the only way I could get it to work (re-installing the C# vscode extension didn't help).

Now (since yesterday) I can't even download the "latest" build. Thus, I am currently completely unable to use Omnisharp because of this issue.

[code]
[code]

[2019-03-20 14:39] FomTarro commented on #2834
Same. It's infuriating that VS can't cache a version.

[2019-03-20 14:47] arcooke commented on #1998
I'm on Solus, and after I installed the [`mono-msbuild`](https://dev.getsol.us/source/mono-msbuild/) package from my system package manager, I'm experiencing similar problems but with different errors.  Installing that system package "permanently" broke Omnisharp.  Permanently, meaning something got set that isn't being unset when the package is removed.

I believe it may be related so I didn't wa

[2019-03-20 15:33] SirIntruder commented on #1970
Thanks! You can close this, sure thing
Note that there will still be errors. Difference is that they errors will go away as soon as Unity3d is focused (which regenerates .csproj files), and people shouldn't need to restart omnisharp anymore

[2019-03-20 15:35] NTaylorMullen commented on #1970
Ya I've noticed that OmniSharp doesn't run regular design time builds so it ends up missing added Compile items. My 2cents

[2019-03-20 15:39] NTaylorMullen commented on #2834
Could have a 12-24 hour delay after receiving a new "potential latest" to then promote it to a latest available version. I'd be shocked if cdns didn't pick that up by then.

[2019-03-20 15:51] filipw commented on #2834
I restarted the build, and the latest is available now - sorry for the trouble.

[2019-03-20 16:40] RononDex commented on #2923
@rchande @akshita31 Just tried with the beta10 release, still got the same issue (occurred with git checkout, checking out another branch)

[2019-03-20 16:43] RononDex commented on #2905
@rchande @akshita31 Just tried with the beta10 release, still got the same issue (occurred with git checkout, checking out another branch)
![grafik](https://user-images.githubusercontent.com/2249071/54702678-9f55de00-4b37-11e9-8ab7-b041e34984e4.png)

But project builds without issues

[2019-03-20 17:24] SirIntruder commented on #2905
Issue here is that omnisharp currently loads source text:

- initial server load,
- "Buffer Update" endpoint (which updates source as you type in vscode)
- "FileCreated" event.

What is missing here is "FileChanged" event, which gets triggered every time any process changes file. Adding this is very simple, I have a local build with this turned on because I find the issue so annoying

https://gith

[2019-03-20 17:28] SirIntruder commented on #2905
Also there is another issue in "making omnisharp more responsive" agenda: vscode extension currently doesn't forward "folder changed" events because the globbing pattern is set to only watch files, and there is no code in omnisharp that can handle "folder deleted" events.

[2019-03-20 17:50] akshita31 commented on #1970
@SirIntruder Thanks 💃

[2019-03-20 17:50] #1970 closed

[2019-03-20 17:51] bradwilson opened #2927 "Intellisense out of sync"
## Issue Description ##

I frequently get a situation where Intellisense is out of sync, even though builds are successful. Restarting Omnisharp usually resolve this, though sometimes restarting VS Code is required.

## Steps to Reproduce ##

Unknown at this time.

Performing package restore (`dotnet restore`) and/or building (`dotnet build`) does not resolve the issue, regardless of where they're

[2019-03-20 17:56] bradwilson commented on #2927
BTW, there is nothing particularly special about this project. It's just a .NET Core 2.2 API project sample (it includes several services that we wire up by default for AKS, so it's suitable as a copy/paste for a starter project). If a Microsoft employee wants to look at the code, I can provide a link to an AzDO repository; just reach out to me internally at brwilso@.

[2019-03-20 23:08] Ziming9811 commented on #2833
I have the same issue:

Getting latest OmniSharp version information
Downloading package 'Latest OmniSharp Version Information' (1 KB).................... Done!
Installing OmniSharp Version = 1.32.12-beta.53...
Platform: win32, x86_64

Downloading package 'OmniSharp for Windows (.NET 4.6 / x64), Version = 1.32.12-beta.53' Failed to download from https://roslynomnisharp.blob.core.windows.net/releas

[2019-03-21 00:17] FomTarro commented on #2834
Seems to be down again. Was working for most of this evening, but the 404 error has returned. Is there really no way to cache this? Seems weird to require server auth just to use an IDE.

Or maybe I misunderstand.

[2019-03-21 03:00] seth-seikosoft opened #2928 "Debugger will silently exit on Linux if .NET Core compatible libicu is missing"
## Environment data
- dotnet:
    .NET Core SDK (reflecting any global.json):
    Version:   2.2.103
    Commit:    8edbc2570a

    Runtime Environment:
    OS Name:     opensuse-tumbleweed
    OS Version:  20190318
    OS Platform: Linux
    RID:         linux-x64
    Base Path:   /usr/share/dotnet/sdk/2.2.103/

    Host (useful for support):
    Version: 2.2.3
    Commit:  6b8ad509b6

    .NET C

[2019-03-21 03:04] gregg-miskelly commented on #2928
To make sure I understand, you are attaching to this process, correct --

[code]

If so, can you try [enabling logging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Enabling-C%23-debugger-logging) and see what you get?

[2019-03-21 04:53] daxmc99 commented on #1053
Having trouble with my launch.json
[code]
Complains that property console is not allowed...

[2019-03-21 06:18] euangPriv commented on #2833
I have the same problem , uninstalling VS2017 Ent fixed it. I suspect that OmniSharp is getting confused by different build versions across .NetCore 3.0 Preview and that installed by VS.;

C:\dev\src\scratch\NetCore\myApp>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview3-010431
 Commit:    d72abce213

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.

[2019-03-21 06:46] seth-seikosoft commented on #2928
Thank you for the very quick reply!

Sorry I should have specified that.  Yes that is the process that I'm trying to attach to.
I've tried enabling logging from the link you gave me.

The "Quick Method" results in nothing output to the debug console.

The "Full Method"  I'm able to get to step 3 but when I run
`./vsdbg-ui --server --consoleLogging`  I get:
[code]
looking through the packages on my

[2019-03-21 07:23] shoupeace opened #2929 "unity向けのコード補完が効かない"
Issue Type: <b>Bug</b>

期待する結果
Unityで提供されている関数を入力しようとした際オートコンプリートされる
例)”Ge” と入力すると予測変換に"GetCompornent"が出る
実際の結果
C#向けの関数しかコード補完されず、Unity向けの関数が補完されない

Extension version: 1.17.1
VS Code version: Code 1.32.3 (a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4, 2019-03-14T23:43:35.476Z)
OS version: Windows_NT x64 6.1.7600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i

[2019-03-21 15:16] jasoncavett commented on #2391
There still appears to be an issue with workspaces. I have three projects (all have .csproj) - one of which is the executable with two libraries. When I load the workspace in VSCode, Omnisharp always recognizes n - 1 of the projects. I can consistently make this happen.

There are no errors or anything "wrong" showing up in the Omnisharp logs. It just never scans one of the folders that's being lo

[2019-03-21 15:51] gregg-miskelly commented on #1053
@daxmc99 this issue is specific to the C# debugger. If you are having issues with the 'go' debugger, I believe you want to report them [here](https://github.com/Microsoft/vscode-go/issues).

[2019-03-21 15:53] daxmc99 commented on #1053
@gregg-miskelly Thank you, seems this is a known issue https://github.com/Microsoft/vscode-go/issues/843

[2019-03-21 16:18] seth-seikosoft commented on #2928
looking into this issue a little more about the missing ICU version I found this article: [Problem with ICU Dependency](http://blog.programmableproduction.com/2016/04/29/CoreClr-Problem-With-ICU-Dependency-On-ArchLinux/)

it's for Arch linux and coreClr but I image that the information/problem is the same.

When running the `strace` program he references I get the following output log (see attache

[2019-03-21 16:26] rchande commented on #2391
@jasoncavett Please file a separate issue and include
* output of `dotnet --info`
* `omnisharp log`
* repro steps (if possible)

Thanks!

[2019-03-21 16:46] gregg-miskelly commented on #2928
Here is the CoreCLR's documentation on their native dependencies -- https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x#linux-distribution-dependencies

Unfortunately it isn't precise on their libicu dependencies. Here is the relevant code in CoreCLR --
https://github.com/dotnet/coreclr/blob/release/2.2/src/corefx/System.Globalization.Native/icushim.cpp#L171

If you are

[2019-03-21 16:57] gregg-miskelly commented on #2928
BTW: in case it isn't obvious, the reason you see probes for versions of ICU that don't even exist yet is that it looks like that code will probe up to 20 version numbers ahead of what CoreCLR was built against.

[2019-03-21 18:06] seth-seikosoft commented on #2928
thank you for that information that was very helpful!

I was able to find older version of the ICU lib.
(for anyone looking for those packages here are the links to them)
Note:  I used the official packages where I could, even if it was for an older OS version e.g. LEAP 15.0, LEAP
https://software.opensuse.org/package/libicu60_2

[2019-03-21 18:11] Fubuchi commented on #2833
on my laptop, it say `1.32.12-beta.57`

[code]

[code]

[2019-03-21 18:21] SirIntruder commented on #2923
It's true that when you start typing document is added to the MiscFilesProject, but OmnisharpWorkspace.TryPromoteMiscellaneousDocumentsToProject will add that misc document to the first project that is loaded if they are path of the same folder tree. This is just a heuristic and it could as well be wrong, problem is that there is no recovery mechanism when another project comes with a real hard re

[2019-03-21 18:31] Fubuchi commented on #2834
You guys can check for all available version here : https://roslynomnisharp.blob.core.windows.net/releases?restype=container&comp=list

The latest beta version available for windows is `1.32.12-beta.51` so set `"omnisharp.path": "1.32.12-beta.51"` do the trick and allow you to continue your work while waiting for the fix.

[2019-03-21 18:37] divinebovine opened #2930 "vscode omnisharp latest 404"
## Issue Description ##
Using the latest omnisharp setting in vscode fails to fetch the latest omnisharp release.

## Steps to Reproduce ##
Set "omnisharp.path": "latest" in user settings
Open an existing project c# project
Watch C# output window

## Expected Behavior ##
Successfully pull the latest omnisharp for windows.

## Actual Behavior ##
[code]
## Environment information ##

**VSCode versio

[2019-03-21 18:38] #2928 closed

[2019-03-21 18:40] SirIntruder commented on #2040
Yup, fIxing that would require Omsnisharp to be able to "read Unity's mind". Basically, there is code in omnisharp that takes a filePath for the new file on one hand, and list of project files on the other hand, and tries to find the most likely match. If there was a way for a plugin to be inserted at this point, it would be possible to inject Unity's magic formula and have everything work out of

[2019-03-21 18:45] rchande commented on #2040
@bitinn Thanks for the analysis! @SirIntruder is correct that OmniSharp tries to figure out what project file to associate new files with. In test 1, are you adding the file in the same directory as or a child directory of the project file Unity generates?

[2019-03-21 19:57] spboyer opened #2931 "Alias `.NET Restore...` commands to `dotnet restore...`"
Currently .NET commands are only surfaced in the command pallete when `.NET` is typed. Typing `dotnet` should also surface the core commands for .NET Core.

cc:/ @timheuer

[2019-03-21 20:13] rchande commented on #2931
@spboyer It's not the intention of the C# extension to expose `dotnet.exe` through the command palette.

We offer commands for performing restore on a specific project, or on all projects we can see. We could potentially alias them with a version that starts with "dotnet".

We offer a separate command to generate VS Code tasks/launch assets, but that doesn't really relate to any feature of `dotnet

[2019-03-21 21:21] spboyer commented on #2931
Offering only restore appears incomplete knowing there are other operations we would inherently perform on .NET projects we could see.

Not looking to expose all functionality of the dotnet.exe however perhaps this extension should instead of a one off wrapping the exe itself and duplicating some of the operations here?

The intent of the issue was to alias “dotnet” when typed to surface the exist

[2019-03-21 21:57] rchande commented on #2931
@spboyer

Great! We're on the same page here. Let's use this issue to track that.

We've exposed a bunch of functionality in a way that's more idiomatic to VS Code. For example, if you use the command `.NET: Generate Assets for Build and Debug`, we generate the appropriate VS Code configuration to wire up the VS Code Build and Run commands, which may shell out to `dotnet.exe`. This obviously gives

[2019-03-21 22:30] spboyer commented on #2931
Agreed on all points here.

[2019-03-22 00:22] veleek opened #2932 "OmniSharp doesn't ignore auto-generated code and produces large numbers of non-actionable warnings."
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview-009812
 Commit:    e3abf6e935

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview-009812\

Host (useful for support):
  Version: 3.0.0-preview-27122-01
  Commit:

[2019-03-22 03:18] vijayveluri03 commented on #2833
I was getting this issue too. For now i have commented out //"omnisharp.path": "latest",
Hopefully theres a fix for this soon. i will enable it then.

[2019-03-22 07:47] bitinn commented on #2040
@rchande

A child directory, a typical Unity repo looks something like this, and all scripts are somewhere under Assets folder (obviously can be much deeper down the hierarchy:

<img width="260" alt="Screen Shot 2019-03-22 at 15 43 04" src="https://user-images.githubusercontent.com/1484279/54807782-4dd55c80-4cb9-11e9-9c4f-e1a1f45edb63.png">

I should note that Test 1 doesn't reliably reproduce, I

[2019-03-22 14:37] chauuu opened #2933 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT ia32 6.1.7601`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Administrator\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-hi

[2019-03-22 18:41] Logerfo opened #2934 "Omnisharp is locking files"
## Environment data
`dotnet --info` output:
SDK do .NET Core (refletindo qualquer global.json):
 Version:   2.2.103
 Commit:    8edbc2570a

Ambiente de tempo de execução:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.103\

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs in

[2019-03-22 22:12] sunflowr commented on #2930
Same issue here as well but osx

Getting latest OmniSharp version information
Downloading package 'Latest OmniSharp Version Information' (1 KB).................... Done!
Installing OmniSharp Version = 1.32.12-beta.59...
Platform: darwin, x86_64

Downloading package 'OmniSharp for OSX, Version = 1.32.12-beta.59' Failed to download from https://roslynomnisharp.blob.core.windows.net/releases/1.32.12-

[2019-03-23 10:56] TAGC opened #2935 "launchSettings.json is not being respected for ASP.NET Core Web API project"
## Issue Description ##

I'm cross-posting Microsoft/vscode#71007 to here as this may be a better place for it. To avoid duplication, I'll refer back to that issue instead of copy-pasting the text here. To summarise the problem: whenever I try to debug an ASP.NET Core web project in VS Code, the default launch settings are always used regardless of the changes I make under `Properties/launchSettin

[2019-03-23 12:24] photographyraptor opened #2936 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT ia32 6.3.9600`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\zdova_000\ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-c

[2019-03-23 13:47] Fubuchi commented on #2930
#2834

[2019-03-24 03:44] richlander opened #2937 "The SDK 'Microsoft.NET.Sdk' specified could not be found."
Couldn't get the (latest) C# extension to work correctly on one of my machines. The project is a .NET Core 3.0 `dotnet new console` project with no changes.

Here are the logs: https://gist.github.com/richlander/9931ebb3c3570615439fe0ccf3ae6657

The logs demonstrate the machine env, launch code and then show the O# logs that I saw, rinse and repeat.  I tried various suggestions I found @ https://g

[2019-03-24 14:31] ssiddhantsharma commented on #1716
@cwistedt Completely unrelated, but I wanted to do this. I have some X64 assembly code that I want to debug, I tried hard but could not do it as I am just in 10th grade of high school.
Can you help me out finding the errors in the code. It is not long, just 70 lines.

[2019-03-24 18:43] cloudywizzard opened #2938 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.33.0-insider`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Cloud\ms-vscode.csharp-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-hi

[2019-03-24 21:34] HardcodedNumber commented on #2472
You can close this, I think its with VS itself.

[2019-03-25 13:44] pp1609 opened #2939 "Unable to load symbols. Error initializing the symbol locator. Unknown Error: 0x80131534 on windows 7"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.101
 Commit:    236713b0b7

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.101\

Host (useful for support):
  Version: 2.2.0
  Commit:  1249f08fed

.NET Core SDKs installed:
  2.2.101 [C

[2019-03-25 16:24] gregg-miskelly commented on #2935
@TAGC What part of launchSettings.json are you expecting to transfer over? Currently the only thing that the C# extension uses from launchSettings.json is `environmentVariables` and `applicationUrl`.

[2019-03-25 18:55] nguerrera commented on #2937
From the logs this appears to be the same issue of msbuild 15.x being incompatible with .NET Core SDK according to the resolver. I believe this is tracked by #2876. cc @rchande

[2019-03-25 20:57] chswin opened #2940 "vscode FileSystem Extensions (is supported?)"
Is this supposed to support *.sln and *.csproj files on remote file filesystems (filesystem extensions)?

[2019-03-25 21:53] TAGC commented on #2935
Ah sorry, I was assuming that VS Code supported everything in that file, including `launchUrl` and `launchBrowser`.

What's the standard way to control the URL that the browser directs to when launched then? To modify the `.vscode/launch.json` file and change `launchBrowser.args` from `${auto-detect-url}` to something else e.g. `${auto-detect-url}/swagger`?

[2019-03-25 21:57] gregg-miskelly commented on #2935
Yup

[2019-03-25 23:25] TAGC commented on #2935
Fair enough, cheers.

[2019-03-25 23:25] #2935 closed

[2019-03-26 07:45] metoly opened #2942 "Add .NET tags to the C# extension"
The C# extension name is not indicative for ASP.NET developers. When they search for: ASP.NET, .NET, .NET Core and dotnet, they get a bunch of other 3rd party extensions, but the C# extension doesn't appear in the first few pages in the list. We need to add tags for .NET Core and ASP.NET, so that it appears at the top of the list in these searches.

[2019-03-26 07:47] metoly opened #2943 "C# extension should offer to acquire the .NET Core SDK for users"
The error message asking users to setup the dotnet SDK when opening an ASP.NET Core project is not clear. The extension should clearly prompt the user that they are missing the .NET SDK and offer to install it on their behalf.

[2019-03-26 07:49] metoly opened #2944 "Support dotnet watch as a launch target"
Have tasks.json configured to use "dotnet watch" when a user initiates a "Start without debugging".

[2019-03-26 07:51] metoly opened #2945 "Automatically add .gitignore"
the C# extension needs to offer inserting a valid .gitignore for ASP.NET projects, if it detects the repo is git initialized.

[2019-03-26 09:32] pp1609 commented on #2939
Can anyone please help with this issue. Why are we getting this. Any workaround to resolve it.

[2019-03-26 09:55] jonechenug commented on #2043
I use the [ VS Code - .NET Auto Attach ](https://gitlab.com/dennismaxjung/vscode-dotnet-auto-attach).It is well,but miss some lable like "justMyCode" or "requireExactSource".

[2019-03-26 16:11] gregg-miskelly commented on #2944
Hi @metoly, in VS Code, start without debugging still involves the debugger, and aren't setup to start the app a completely different way.

[2019-03-26 16:11] #2944 closed

[2019-03-26 16:12] rchande commented on #2942
The tags have been added as of 1.18: https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp&ssr=true

[2019-03-26 16:12] #2942 closed

[2019-03-26 16:22] gregg-miskelly commented on #2944
I should add - as of 1.18, the C# extension will automatically add a tasks.json task for starting "dotnet watch". So there is now an easy way to kick that off.

[2019-03-26 16:25] gregg-miskelly commented on #2945
To me, this feels like something that should be in `dotnet new` rather than in the C# extension.

[2019-03-26 16:29] rchande commented on #2945
@metoly I believe when we discussed this, we concluded that this made sense as a part of the `dotnet new` templating engine. Do we need this bug agains the C# extension?

[2019-03-27 00:44] gregg-miskelly commented on #2939
Unfortunately error code 0x80131534 is not very helpful - that indicates that a type failed to load.

A new version of the C# extension came out today. Are you still seeing this issue with it?
If so, can try [enabling logging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Enabling-C%23-debugger-logging) and see if anything interesting comes out?

[2019-03-27 03:13] Undomyr opened #2946 "Extension causes high cpu load"
[ms-vscode.csharp-unresponsive.cpuprofile.txt](https://github.com/OmniSharp/omnisharp-vscode/files/3011323/ms-vscode.csharp-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Linux x64 4.20.17-1-MANJARO`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/blueberryte

[2019-03-27 04:51] pp1609 commented on #2939
Hi Gregg. Thanks for the reply.
Can the issue be because the system is not connected to internet and we
just copied the. Vscode extension folder from internet connected machine to
this machine..

On Wed, Mar 27, 2019, 6:16 AM Gregg Miskelly <notifications@github.com>
wrote:

[2019-03-27 08:50] AnmolSinha1201 opened #2947 "C# syntax highlighting issue for yield"
## Issue Description ##
OmniSharp doesn't recognize multiple yield statements even though the code works fine.
## Steps to Reproduce ##
https://imgur.com/a/b4zO9eF

## Expected Behavior ##
Correct syntax highlighting after first yield

## Actual Behavior ##
Anything after first yield is incorrectly highlighted

## Logs ##

### OmniSharp log ###
<details>Post the output from Output-->OmniSharp log

[2019-03-27 09:51] seanmars opened #2948 "formatting Task with named Tulpe"
## Environment data
`dotnet --info` output:

[code]

VS Code version: 1.32.3
C# Extension version: 1.18.0

## Steps to reproduce
1. Create the function as below:

[code]
2. formatting code

## Expected  behavior
[code]

## Actual behavior

Get extra white space between `Task`,  `<`, `(`, `)`, `>`

[code]

[2019-03-27 16:00] gregg-miskelly commented on #2939
Having no internet connection should not be a problem. My _guess_ is that you didn't quite get something quite right with the copy though. You can use [these steps](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-the-C%23-extension-to-a-computer-without-internet-connectivity) to build a platform-specific version of the extension with all runtime dependencies built in.

[2019-03-27 16:37] akshita31 commented on #2946
@Undomyr C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists ?

[2019-03-27 16:39] akshita31 commented on #2938
@cloudywizzard C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:39] akshita31 commented on #2936
@photographyraptor C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists ?

[2019-03-27 16:40] akshita31 commented on #2933
@chauuu C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists ?

[2019-03-27 16:41] akshita31 commented on #2921
@stickwalkerdevelopment C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists ?

[2019-03-27 16:42] akshita31 commented on #2919
@stickwalkerdevelopment It seems you have filed the issue thrice. I will close the other two.
Also, C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:43] #2921 closed

[2019-03-27 16:43] #2917 closed

[2019-03-27 16:43] akshita31 commented on #2917
Closing this as a duplicate of the same issue filed by @stickwalkerdevelopment .

[2019-03-27 16:43] akshita31 commented on #2915
@Shad0wX C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:44] akshita31 commented on #2914
@muellerweiss C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:44] akshita31 commented on #2913
@Patrick-Callahan C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:45] akshita31 commented on #2901
@ozmencelik C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:45] akshita31 commented on #2898
@Lorenz65 C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:45] akshita31 commented on #2897
@SatriaKnight C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:47] akshita31 commented on #2894
@JesseTG Could you upload the cpu profile(with the latest release version, ie, 1.18.0)? That would help us analyse the issue better.

[2019-03-27 16:47] akshita31 commented on #2887
@linikerunk C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:47] akshita31 commented on #2885
@AdityaMehtaIn C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-27 16:48] akshita31 commented on #2884
@gnbertiz08 C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists? If yes please upload the cpu profile so that we can analyse the problem.

[2019-03-27 16:48] akshita31 commented on #2883
@VincentGrice C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists? If yes please upload the cpu profile so that we can analyse the problem.

[2019-03-27 16:49] akshita31 commented on #2882
@Prathees31 We havent heard back from you in a while so I will close this issue now. Please feel free to reopen if the problem still persists with the latest version(1.18.0).

[2019-03-27 16:49] #2882 closed

[2019-03-27 16:50] akshita31 commented on #2881
@jedcastroag We haven't heard back from you in a while so I will close this issue now. Please feel free to reopen if the problem still persists with the latest version(1.18.0).

[2019-03-27 16:50] #2881 closed

[2019-03-27 16:50] akshita31 commented on #2856
@bryanzavala We haven't heard back from you in a while so I will close this issue now. Please feel free to reopen if the problem still persists with the latest version(1.18.0).

[2019-03-27 16:50] #2856 closed

[2019-03-27 17:19] nczsl opened #2949 "Error occured in loading omnisharp from omnisharp.path Could not start the server due to Error: The system could not find the specified path"
PS D:\work\netcorework> dotnet --info
.NET Core SDK（反映任何 global.json）:
 Version:   2.2.103
 Commit:    8edbc2570a

运行时环境:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.103\

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs installed:
  2.2.103 [C:\Program Files\dotnet\sdk]

[2019-03-27 18:05] nczsl commented on #2949
when i installed other version (1.17.1)  then this issues is nothing

[2019-03-27 18:15] mickaelistria commented on #1849
This issue doesn't seem specific to VSCode integration and can happen woth OmniSharp roslyn in general.
See https://github.com/OmniSharp/omnisharp-roslyn/issues/1416#issuecomment-477284941

[2019-03-27 19:07] rchande commented on #2949
@nczsl Can you share your "C#" log?

[2019-03-27 19:12] nczsl commented on #2949
omnisharp log only show:
Error occured in loading omnisharp from omnisharp.path
Could not start the server due to Error: The system could not find the specified path
when vscode start time, or use omnisharp command in command board

[2019-03-27 19:24] rchande commented on #2949
@nczsl *C# log* please:
![image](https://user-images.githubusercontent.com/3751401/55106076-46cc9680-508b-11e9-8ae0-d07db1b62154.png)

[2019-03-27 19:33] nczsl commented on #2949
that is empty, not exist any info

[2019-03-27 19:54] akshita31 commented on #2949
@nczsl Could you try uninstalling and then reinstalling the extension. When you reinstall you should see a C# log

[2019-03-27 20:10] stbth01 commented on #1585
Had to reinstalled the C# extension (v1.18.0 now) and this issue seems to have come up again. I have tried setting to default to 120 and 1200 and get the output in the log below. I have tried uninstalling/reinstalling, restarting OmniSharp but just keep getting the time out error.

Starting OmniSharp server at 3/27/2019, 3:45:37 PM
    Target: c:\Users\[...]\Desktop\ProjectWork\Task2_DQ\MACBIS_DQ.

[2019-03-27 20:24] nczsl commented on #2949
that's no different, uninstall and install omnisharp C# log still no info

[2019-03-27 21:11] victoriousMan opened #2950 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/mansouralghanim/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:
[ms-vscode.csharp-unresponsive.cpuprofile.txt](https://github.com/OmniSharp/omnisharp-vscode/files/30

[2019-03-28 03:27] mkt opened #2951 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `csharp`
- Extension Version: `1.17.1`
- OS Version: `Linux x64 4.4.0-142-generic`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/mkt/ms-vscode.csharp-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-loa

[2019-03-28 03:33] sattha commented on #1044
+1 still hoping for this in 2019

[2019-03-28 03:36] mkt commented on #2951
#2946 seemds same issue.

[2019-03-28 03:36] #2951 closed

[2019-03-28 07:06] bitinn opened #2952 "Latest release could break working project (v1.18.0)"
## Issue Description ##

When selecting a project on command palette, it failed to *load* this project. (my terminology might be wrong, basically the "flame" symbol didn't turn green and display project name, it stayed yellow for a bit and then disappeared.)

logs are outputted with an error at the end:

[code]

## Steps to Reproduce ##

Selecting a project on command palette, wait for it to load.

[2019-03-28 11:18] vitek-karas commented on #2041
Reliable repro for this problem (on Windows):
Clone the dotnet/coreclr repo.
Build it - follow the instructions how to build the repo. (without building it OmniSharp seems to work OK).
Open VS Code and point it to the root of the coreclr repo.
Wait a couple minutes - OmniSharp process is using one core 100% and grows memory seemingly indefinitely (had to kill it when it reached cca 10 GB).

[2019-03-28 16:26] rchande commented on #2952
@bitinn Glad upgrading mono fixed this for you--that was the first thing I was going to ask you to try :)

[2019-03-28 16:47] rchande commented on #2041
@vitek-karas Since you're on Windows, can you please record a trace with perfview and share it with me?

[2019-03-28 16:50] akshita31 commented on #2951
@mkt Does this issue come up with the version 1.18.0 as well ?

[2019-03-28 16:56] akshita31 commented on #2950
@victoriousMan  C# extension 1.18.0 is out with major performance improvements. Can you try installing the latest version and checking if the problem still persists?

[2019-03-28 17:05] rchande commented on #2952
@bitinn We'll work on https://github.com/OmniSharp/omnisharp-roslyn/issues/1373

[2019-03-28 20:42] fiigii commented on #2041
Don't you guys have a plan to replace mono by .NET Core? AFAIK, mono's compiler and runtime is not good for performance...

[2019-03-28 20:49] akshita31 opened #2953 "Add an option to use the built in MSBuild"
1. Update the sdk resolvers
2. Add a way to have omnisharp turn on the corehost tracing to identigy errors when loading .net sdk

[2019-03-28 23:07] agocke opened #2954 ""Run test" and "Debug test" don't respect `type: coreclr` unitTestDebuggingOption"
## Issue Description ##

I put the following into my `settings.json`:

[code]

but the test runner still seems to default to the 32-bit desktop host. As an aside, what I'm really trying to do is get "Debug test" working, but the runner is apparently stuck on 32 bit and the debugger only supports 64-bit.

## Steps to Reproduce ##

This is in Roslyn C# semantic compiler tests. I could try to reduce

[2019-03-28 23:17] agocke commented on #2954
cc @gregg-miskelly

[2019-03-28 23:21] gregg-miskelly commented on #2954
@agocke that option doesn't do what you think it does -- that option controls how the debugger works, it doesn't have anything to do with how OmniSharp communicates with the test runner to control which target framework the test runner uses. I don't know much about how the test runner works to know if there is an option for what you are trying? Maybe the `TargetFramework` property in the project f

[2019-03-28 23:28] agocke commented on #2954
I see, then it is probably just picking the first framework/runtime combination available, which makes sense given this behavior...

[2019-03-28 23:53] richlander commented on #2937
More meta, it turns out that O# needs to carry the 16.x version of either the resolver or msbuild in order to correctly work with .NET Core 3.0. This is only a problem on machines without VS 16 (which is a lot of cases). We're hoping to get this fixed in the same timeframe as .NET Core 3.0 Preview 4.

[2019-03-29 09:20] brunocapdevila commented on #2040
I have the same problem here on Windows 10 with version 1.32.3

Creating or renaming a new file messes Omnisharp up.
Not even restarting it fixes the problem.
Only solution is to restart vscode... This makes the editor almost unusable

Has there been any progress on this issue?
I wouldn't want to come back to Visual Studio

Thanks

[2019-03-29 13:55] iSazonov commented on #2790
Get the same if 3.0-preview installed.

[2019-03-29 14:09] vitek-karas commented on #2041
@rchande any instructions how to take the trace? (perfview has way too many options for me to know what you need).

[2019-03-29 16:19] #2954 closed

[2019-03-29 18:33] mammadkoma opened #2955 "The type or namespace name 'App' could not be found (are you missing a using directive or an assembly reference?) [Blazor] [14, 30]"
I have installed these dotnet cores :
2.1.505 [C:\Program Files\dotnet\sdk]
2.2.101 [C:\Program Files\dotnet\sdk]
2.2.105 [C:\Program Files\dotnet\sdk]
3.0.100-preview3-010431 [C:\Program Files\dotnet\sdk]

I created a blazor project named Blazor. project builds and run by command or powershell correctly. but when open project folder by vs code it shows an error in PROBLEMS window :
The type or na

[2019-03-30 03:25] mkt commented on #2951
After updating ms-vscode.csharp 1.18.0, this issue has not occurred.
Thanks.

[2019-03-30 03:26] mkt commented on #2951
@akshita31 After updating ms-vscode.csharp 1.18.0, this issue has not occurred. Thanks.

[2019-03-30 15:11] LCarlos-Rodriguez commented on #2130
@dforsyth-iit great stuff, I have the same problem where I need to point the build to the iis for debugging purposes. in the end did you have to make the changes to launch.json as well?

[2019-03-30 16:41] ip commented on #2916
There are cases when you want to preserve the formatting. Other code formatters usually allow this with a special comment like `// disable-autoformat`. The best way is one where the comment disables formatting for the AST node after it ([like Prettier does](https://prettier.io/docs/en/ignore.html)), simpler ways are when the comment disables formatting of the next line (option 2) and a block of co

[2019-03-30 21:38] rasikas commented on #2790
I had the same issue, and make sure you run 'Visual Studio Installer' and check 'Visual Studio Build Tools' has been installed.

![image](https://user-images.githubusercontent.com/1381205/55282031-459fb000-5390-11e9-9ef5-3f305ec71348.png)

[2019-03-31 12:21] ostadsaleh commented on #2555
Starting OmniSharp server at 2019-3-31 12:17:37
    Target: c:\Users\ostadsaleh\Desktop\c#

OmniSharp server started.
    Path: C:\Users\ostadsaleh\.vscode\extensions\ms-vscode.csharp-1.18.0\.omnisharp\1.32.11\OmniSharp.exe
    PID: 11268

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Windows 6.2.9200.0 (x64)
[info]: OmniSharp.Services.DotNetCliService
        DotNetPath set to dotnet

[2019-04-01 05:28] davidlfox opened #2956 "Omnisharp suddenly stopped working (can't download or start?)"
## Issue Description ##
OmniSharp doesn't load/start correctly. Pretty sure I haven't changed anything recently.

## Steps to Reproduce ##
dotnet new console -o newconsole
cd newconsole
code .
attempt to run console
I've tried reinstalling after deleting the ms-vscode.csharp extension path

## Expected Behavior ##
hit f5, print "Hello, world"

## Actual Behavior ##
see logs below. doesn't seem lik

[2019-04-01 08:16] trampster opened #2957 "Support for Nullable Reference Types"
Issue Type: <b>Bug</b>

Add

     <NullableReferenceTypes>true</NullableReferenceTypes>

to project file.

1. Use a object without initliazing it.
2. Build using dotnet build.
-> Expected a build warning
Instead got Build succeeded
    0 Warning(s)
    0 Errors(s)

This closed issue https://github.com/OmniSharp/omnisharp-vscode/issues/2839, says it was available in the beta but I now have the rele

[2019-04-01 08:26] #2957 closed

[2019-04-01 12:40] davidlfox commented on #2956
update:
- updated mono to 5.18.1.0 and restarted **no change**
- downloaded omnisharp manually and extracted to ~/Downloads/omnisharp, then set vs code settings `omnitsharp.path` to `/Users/david/Downloads/omnisharp-osx/omnisharp/Omnisharp.exe` and dotnet'ed a new console **worked but why? not a permanent solution, im sure**

something like this (not sure of exact logs) has happened several times

[2019-04-01 18:11] akshita31 commented on #2956
@davidlfox From your logs it seems that the download of omnisharp.latest failed hence it was not able to start omnisharp. Could you try unsetting "omnisharp.path" so that the default omnisharp version is used ?

[2019-04-01 18:13] akshita31 commented on #2555
@ostadsaleh Could you please file a new issue with the relevant logs?

[2019-04-01 18:14] akshita31 commented on #2951
@mkt Gald you got it working. Thanks!

[2019-04-01 18:55] ostadsaleh commented on #2555
I am appreciate for your help and problem has resolved by installing msbuild 
    On Monday, April 1, 2019, 10:43:45 PM GMT+4:30, Akshita Agarwal <notifications@github.com> wrote:

@ostadsaleh Could you please file a new issue with the relevant logs?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-01 22:46] MartyMaro commented on #2040
Also I can confirm that Omnisharp fails when creating new files in a Unity Project. It stops finding any references, but I do not get errors, it's like Omnisharp is not working. Not even my code snippets can be found.

[2019-04-01 23:28] davidlfox commented on #2956
@akshita31 before i modified it to the path, it was set to "latest" but i didn't make that change. removing that line altogether seems to have worked. how did it get set to "latest"?

[2019-04-01 23:29] djkiwe commented on #2820
I have this issue on Manjaro as well and I do need Razor so the existing workaround is not good for me.

**VS Code**
Version: 1.32.3
OS: Linux x64 4.19.32-1-MANJARO

**C# Extension**
Version: 1.18

[2019-04-02 00:11] akshita31 commented on #2956
@davidlfox, As far as I know, there is no code to set that config option automatically

[2019-04-02 00:22] akshita31 commented on #2820
@djkiwe Could you uninstall and reinstall the extension and see if the problem persists?

[2019-04-02 00:29] djkiwe commented on #2820
@akshita31 When reinstalling the problem disappears temporally, but it comes back once the machine is rebooted, sometimes even when just the VS Code window is reloaded.

[2019-04-02 01:47] NTaylorMullen commented on #2820
@djkiwe so sorry for the inconvenience. Thankfully It's a known issue that will be fixed in our next release though! (mid to late April)

Honestly not quite sure it goes away at all when reinstalling the extension. I'd imagine it'd be broken always 😁.

[2019-04-02 04:12] djkiwe commented on #2820
Awesome. Thanks a lot! :)

[2019-04-02 05:03] natanfudge opened #2958 "List initializers spread to multiple lines don't get formatted when running format command"
## Issue Description ##
When you declare some kind of list / dictionary with "{}" (list initializer) that takes more than one line to write and try to format it, none of the list will get formatted.
## Steps to Reproduce ##
Create a new `.cs` file and type:
[code]
And then activate the `Format Document` command.
## Expected Behavior ##
The list initializer will get formatted to this:
[code]
or thi

[2019-04-02 12:33] jcreek commented on #2820
Just adding my experience here with the same issue, and I also need the Razor support. Issue returns after reboot.

***VS Code***
Version: 1.32.3
OS: Ubuntu 18.04.2 LTS

***C# Extension***
Version: 1.18.0

[2019-04-02 13:06] 0xAlex opened #2959 "Could not find the task 'build'"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.105
 Commit:    7cecb35b92

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.105\

Host (useful for support):
  Version: 2.2.3
  Commit:  6b8ad509b6

.NET Core SDKs installed:
  2.2.105

[2019-04-02 13:40] manojbavikati opened #2960 "Failed at stage: downloadPackage"
Installing C# dependencies...
Platform: win32, x86_64

Downloading package 'OmniSharp for Windows (.NET 4.6 / x64)' 	Retrying from 'https://omnisharpdownload.blob.core.windows.net/ext/omnisharp-win-x64-1.32.11.zip' Failed at stage: downloadPackage
Error: write EPROTO 10912:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:d:\_vsts\3\s\vendor\node\deps\openssl\openssl\ssl\record\ssl3

[2019-04-02 14:45] gregg-miskelly commented on #2959
The bug you are running into is a VS Code problem: https://github.com/Microsoft/vscode/issues/70292

However, you also should use the C# extension's generator for launch.json and tasks.json. You can run ' .NET: Generate Assets for Build and Debug' from the VS Code command pallet to force the generator to run. See [here](https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger.md#3-add-vs

[2019-04-02 14:45] #2959 closed

[2019-04-02 16:59] akshita31 commented on #2960
@manojbavikati I am not sure what the error is here. Could you download the package and unzip the binaries in the \.vscode\extensions\ms-vscode.csharp-1.18.0\.omnisharp\1.32.11 folder and see if it works?

[2019-04-02 17:01] manojbavikati commented on #2960
Yes, i already did that and still it will try again to download the package for some reason and fails.

I have also updated the Ominisharp.path in my VS Code to where the ominisharp.exe exist.

[2019-04-02 17:08] akshita31 commented on #2960
@manojbavikati I can explain what might be happening here. When we download a dependency, if the download and install succeed, we place a file named install.Lock  in the package folder and on all subsequent activations of the extension, we check if that file is present and if not we try to download it.
So I think your problem will be resolved if you place an install.Lock file in the .omnisharp/1.3

[2019-04-04 02:05] LoranceChen commented on #2088
warning still here after reinstall vscode and mono :-(
![image](https://user-images.githubusercontent.com/8775828/55524696-c3312c00-56c0-11e9-8143-d415febe3b3a.png)

I'm suppose a reference find fail problem affect by this one.
![image](https://user-images.githubusercontent.com/8775828/55524781-130ff300-56c1-11e9-800b-368d9a1acded.png)

Ready to abandon VS code for my Unity develop.

[2019-04-04 02:17] LoranceChen opened #2961 "New files showing type or namespace not found but it is their"
warning still here after reinstall vscode and mono :-(
![image](https://user-images.githubusercontent.com/8775828/55524781-130ff300-56c1-11e9-800b-368d9a1acded.png)
The problem occurred when create a new .cs file and it code reference some existing class.

For detail message:
![image](https://user-images.githubusercontent.com/8775828/55524934-93ceef00-56c1-11e9-9693-0a21c9cf0acf.png)

mono and dot

[2019-04-04 09:01] alexandrudima opened #2962 "Please consider removing Ctrl+L L keybinding"
Starting with VS Code 1.32, we have a proeminent keybinding at <kbd>Ctrl</kbd>+<kbd>L</kbd>.

https://github.com/Microsoft/vscode/issues/59003 offers a great explanation about why we have made this change. **TL;DR** We have a command `expandLineSelection` that we shipped by mistake, bound to <kbd>Ctrl</kbd>+<kbd>I</kbd> for a few years. The mistake was due to ... I-`I` looking like l-`l` in GitHub

[2019-04-04 09:31] Leopotam commented on #2088
@LoranceChen its because `omnisharp-vscode` dev-team dont want to support updating `*.csproj` files in old format (before .net std) if you will add new `*.cs`-file right inside `vscode`. You can fix this behaviour with switching to `unity` (it should start compilation + `*.csproj`-files will be regenerated with links to new `*.cs`-files), then switch back to `vscode` and run command `reload window

[2019-04-04 10:46] LoranceChen commented on #2088
@Leopotam, Thanks. `reload window` fix the problem. But it's not a normal develop workflow.It seems VS Code not ready for Unity develop yet :-(

[2019-04-04 11:05] Leopotam commented on #2088
@LoranceChen shit happens, its my standard workflow on osx last 3 years. Custom codestyle formatting - same thing, no any progress from `omnisharp-vscode` team last 3 years :)
But `vs for mac` still worse than `vscode + omnisharp` - slower, consumes more resources, etc.
`JetBrains Rider` much better with code analytics, but worst IDE for performance reasons. But it will be my next choice if they w

[2019-04-04 19:09] natanfudge opened #2963 "Code completions do not get triggered while typing in the curly brackets of a format string"
## Issue Description ##
If you type a format string with `$""`, completions do not get triggered when inside the curly brackets : `$"{<shouldTriggerCompleteHereButDoesn't>}"`.
ALSO the curly brackets do not get automatically closed when in the format string:
`$"{<shouldCloseBracketButDoesn't>"`
## Steps to Reproduce ##
- Create a new C# file and paste this code:
[code]
- Place the cursor in the cu

[2019-04-04 19:48] MattTheCrow opened #2964 "Unity: The msbuild is pointed to the wrong place and the Assembly files aren't being updated"
Starting OmniSharp server at 4/4/2019, 3:37:41 PM
    Target: e:\RainCrowStuff\Covens\ReleaseCovensNOW\CovensUnity\Covens\Covens.sln

OmniSharp server started.
    Path: C:\Users\Sol\.vscode\extensions\ms-vscode.csharp-1.18.0\.omnisharp\1.32.11\OmniSharp.exe
    PID: 8292

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Windows 6.2.9200.0 (x64)
[info]: OmniSharp.Services.DotNetCliServic

[2019-04-04 20:11] Bob1904 opened #2965 "Problem after update to .NET SDK 2.2.202-1"
## Issue Description ##
Running into error after updating .NET SDK to 2.2.202-1 via Update Manager in Linux Mint 19.1.

## Steps to Reproduce ##
From command line enter "dotnet new webapi -o TodoApi3", then "cd TodoApi3", then "code ." to open project in VS Code.
## Expected Behavior ##
Message in VS Code asking if I want to add required assets to project.

## Actual Behavior ##
Message: "Some pro

[2019-04-04 20:35] MoxxNull commented on #2965
I can confirm..
Many of my projects used to work until I updated to 2.2.202-1 today;
Seeing a missing "Microsoft.NET.Sdk'" in my console apps or "'Microsoft.NET.Sdk.Web' in my web apps...

[2019-04-04 21:07] bigredhdl opened #2966 "Remote debug on Linux Arm Xilinx Petalinux (Yocto) gives broken pipe error"
## Issue Description ##
I am trying to remote debug a default console app from VSCode on Windows 10 to a Xilinx ARM Linux target.  The Linux is built using Xilinx's petalinux tools (Yocto based).  By default petalinux is 64-bit only, however I was able to alter it to be multilib and have installed the 32-bit ARM dotnet 3 preview 3 sdk, which seems to be working.  However I am not able to debug rem

[2019-04-04 21:19] akshita31 commented on #2965
This is a known issue: https://github.com/OmniSharp/omnisharp-vscode/issues/2937. We are working on updating the msbuild and add the new sdk resolvers. cc @rchande

[2019-04-04 21:24] akshita31 commented on #2956
@davidlfox Since the problem seems resolved I will close this issue now. Please reopen if the problem reoccurs.

[2019-04-04 21:24] #2956 closed

[2019-04-05 02:41] xen22 commented on #421
I also think this would be a great feature (i.e. having a shortcut to trigger the debugging of a test that has the cursor in it)..  :-)

[2019-04-05 04:48] tn-5 opened #2968 "Segfault when debugging netcore3 preview 4 on macOS"
Developing using VSCode with netcore3 (preview versions) worked ok up to preview 3.

With the current  nighly builds of preview 4 omnisharp debugger crashes on startup with "Segmentation fault: 11"

## Steps to Reproduce ##

Install nightly netcore3 preview 4. Create new project from template "dotnet new razorcomponent". Open in VSCode, add debug configuration and select "start debugging".

## Exp

[2019-04-05 04:52] gregg-miskelly commented on #2968
I will try to debug this tomorrow. If you have time can you see if there is additional information in OS crash log? -- https://github.com/OmniSharp/omnisharp-vscode/wiki/Diagnosting-%27Debug-adapter-process-has-terminated-unexpectedly%27#macos

[2019-04-05 05:44] tn-5 commented on #2968
Info from os log:

Crashed Thread:        16

Exception Type:        EXC_CRASH (SIGABRT)
Exception Codes:       0x0000000000000000, 0x0000000000000000
Exception Note:        EXC_CORPSE_NOTIFY

Thread 16 Crashed:
0   libsystem_kernel.dylib        	0x00007fff6f30b23e __pthread_kill + 10
1   libsystem_pthread.dylib       	0x00007fff6f3c1c1c pthread_kill + 285
2   libsystem_c.dylib             	0x0000

[2019-04-05 08:25] nhactung commented on #2876
Having the same issue here.
It is a bit weird, I use Kali dual boot with Ubuntu 18.04, vscode, dotnet version 2.2.202 with same installation method. Omnisharp works perfectly on Kali but not on Ubuntu.

dotnet --info
`.NET Core SDK (reflecting any global.json):
 Version:   2.2.202
 Commit:    8a7ff6789d

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:

[2019-04-05 08:26] nhactung commented on #2876
Having the same issue here.
It is a bit weird, I use Kali dual boot with Ubuntu 18.04, vscode, dotnet version 2.2.202 with same installation method. Omnisharp works perfectly on Kali but not on Ubuntu.
Notice that "dotnet run" has no errors at all.

[2019-04-05 09:54] leawp commented on #2965
I have the same issue on Ubuntu with all my coreapp2.2 projects. Is there an easy way to rollback the SDK update? I'm kinda stuck.

[2019-04-05 10:15] cordsac opened #2970 ".Net.sdk.web not found"
## Environment data
`dotnet --info` output:

[code]

**VS Code version:1.33.0
C# Extension version:1.18.0**

## Steps to reproduce
Build or run from VS Code

## Expected  behavior

no errors

## Actual behavior
[code]

[2019-04-05 12:46] leawp commented on #2965
For anyone trying to fix this quickly:
[code]
which is followed by the list of versions

`$ sudo apt install dotnet-sdk-2.2=<your version of choice>`
for me it was

`$ sudo apt install dotnet-sdk-2.2=2.2.105-1`

and confirm the downgrade

[2019-04-05 13:04] MoxxNull commented on #2965
Thanks @leawp ; for Fedora
`sudo dnf install dotnet-sdk-2.2-2.2.105-1
`
did the trick!

[2019-04-05 13:14] Kramins commented on #2970
I am also seeing this issue.

[2019-04-05 13:53] maylortaylor commented on #1506
It still would be nice to have these options in VSCODE.
There is a **global** and **workspace** setting that was mentioned. Having one for **User Settings** (vscode) it'd be nice.

[2019-04-05 14:04] cordsac commented on #2970
Did you find any solution? if yes please post on here

[2019-04-05 14:05] Bob1904 commented on #2965
Thanks @leawp this also works for me on Mint 19.1.

[2019-04-05 14:55] jrend commented on #2147
I ran into this when installing 3.0.0-preview3 (was on 3.0.0-preview before).
Tried to set `"omnisharp.path": "latest"`, but then got `The SDK 'Microsoft.NET.Sdk' specified could not be found` when the newest OmniSharp got installed. Then restarted VS Code and it wen't back to the "restore packages" loop and missing reference errors all over.
**Then installed VS 2019 preview and it went back to no

[2019-04-05 15:08] emuslor opened #2971 "Custom NuGet package sources ignored during C# project load"
## Issue Description ##
I can't figure out how to get OmniSharp to look in all of my currently configured machine-wide NuGet sources.  I'm not sure if this is a bug or just something I have not done properly.  I have seen other logs online where customized sources ARE checked for dependencies, so I expect there's a way to make it work.

## Steps to Reproduce ##
Added a third, on-premise package so

[2019-04-05 16:01] gregg-miskelly commented on #2966
It looks like what is going on is that vsdbg is abruptly exiting (crashing?) once it tries to start debugging.

Two questions:
1. I am assuming you are running the latest version of vsdbg on your arm machine?
2. Can you try running [this test](https://github.com/Microsoft/VSDebugAdapterHost/wiki/Testing-libicu-compatibility-on-Linux) on your arm machine to make sure this isn't a libicu compatibili

[2019-04-05 17:10] ambs commented on #2790
Was working perfectly on my Linux. Updated dotnet and code (no idea which broke it).

[code]

`dotnet build` works perfectly on the command line.

Thanks

[2019-04-05 17:38] gregg-miskelly commented on #2968
Unfortunately that is crash is part of shutdown, so while it is a bug, it isn't the bug you are running into.

I am trying to see if I can reproduce this problem on my machine. What build of .NET Core are you using?

[2019-04-05 17:45] gregg-miskelly commented on #2968
I was able to reproduce this with 3.0.100-preview4-011077.

[2019-04-05 17:48] ambs commented on #2937
Same problem here:

[code]

For me this is a massive problem, as I use my Linux machine for my C# teaching.
Probably better to revert the last update...

[2019-04-05 18:22] GuiverCode commented on #2876
Apparently Mono is missing. I followed the  solution described here: [https://stackoverflow.com/questions/41723018/jetbrains-rider-eap-on-linux-solution-load-failed-msbuild-not-found](https://stackoverflow.com/questions/41723018/jetbrains-rider-eap-on-linux-solution-load-failed-msbuild-not-found)

 Add the Mono repository:
`sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA

[2019-04-05 18:32] akshita31 commented on #2965
That sounds great. Thanks @leawp .

[2019-04-05 18:37] guivern commented on #2937
Apparently Mono is missing. I followed the  solution described here: [https://stackoverflow.com/questions/41723018/jetbrains-rider-eap-on-linux-solution-load-failed-msbuild-not-found](https://stackoverflow.com/questions/41723018/jetbrains-rider-eap-on-linux-solution-load-failed-msbuild-not-found)

 Add the Mono repository:
`sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA

[2019-04-05 18:37] guivern commented on #2965
Apparently Mono is missing. I followed the  solution described here: [https://stackoverflow.com/questions/41723018/jetbrains-rider-eap-on-linux-solution-load-failed-msbuild-not-found](https://stackoverflow.com/questions/41723018/jetbrains-rider-eap-on-linux-solution-load-failed-msbuild-not-found)

 Add the Mono repository:
`sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA

[2019-04-05 18:42] zeroskyx commented on #2937
Don't ask me where I found this, but the following command has fixed the issue for me (probably worth a try):

`dotnet nuget locals all -c`

Gold luck

[2019-04-05 19:13] bigredhdl commented on #2966
1. Yes, fresh latest install.
2. Test passed both with and without DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1

[2019-04-05 19:23] drguildo commented on #2970
I'm also getting this. It seems to be related to .NET Core being updated to 2.2.202.

[code]

[2019-04-05 19:26] drguildo commented on #2970
This looks like it might be a duplicate of #2965.

[2019-04-05 19:42] bigredhdl commented on #2966
I was wondering if maybe I'm missing some other 32-bit lib, but as far as I can tell so far I have what is needed.
[code]