[2022-03-17 13:00] fabio-s-franco commented on #5112
Github project page disappeared too and the package became unlisted.

[2022-03-17 15:56] css13c commented on #5109
Fixed, thanks.

[2022-03-17 15:56] #5109 closed

[2022-03-17 17:04] JoeRobich commented on #4301
@PraJaL55 Does your solution restore and build properly using the dotnet CLI?

[2022-03-17 18:33] #5113 closed

[2022-03-17 23:47] leebailey88 commented on #5096
Yes, this is a very frustrating issue. Makes writing a simple for loop difficult as the `i` gets auto-replaced to await constantly. Even worse, it also adds `async` in front of the function

[2022-03-18 00:01] JoeRobich commented on #5096
A fix depends on this change getting into Roslyn and then O#. https://github.com/dotnet/roslyn/pull/60197

[2022-03-18 00:02] JoeRobich commented on #5103
Closing as duplicate of #5096.

[2022-03-18 00:02] #5103 closed

[2022-03-18 09:35] filipw commented on #4864
Unfortunately this is not actionable. If you have a problem with the extension, please open an issue where you provide all the data requested by the issue template. Thanks.

[2022-03-18 09:35] #4864 closed

[2022-03-18 12:59] RivenSkaye opened #5115 "OmniSharp giving explicitly disabled warnings"
## Issue Description ##
I'm working on a legacy project, which was written for an old .NET Framework version and thus doesn't support newer language features such as simple `using` statements and target-typed `new()` expressions.

Already tried not overriding the MSBuild being selected for this project, but it doesn't change the warnings still getting emitted.
Still, mandatory snippet from the sta

[2022-03-18 16:46] LoyalPotato opened #5116 "Highlighting is incorrect after project is selected"
## Issue Description ##

When I select a project that I want omnisharp to watch, the colors are all messed up, while another file that omnisharp isn't watching shows correctly (it used to show colors like the right side of the image, even when it was the selected project).
I'm using Material Theme High Contrast from "Equinusocio.vsc-material-theme".

![image](https://user-images.githubusercontent.

[2022-03-18 17:30] JoeRobich commented on #5116
Files present in the OmniSharp workspace are colorized using SemanticHighlighting. Loose C# files outside of the workspace are colorized using the C# textmate grammar since O# doesn't have semantic information for them. If you prefer all files use the C# textmate grammar you can disable `csharp.semanticHighlighting.enabled` in your VS Code settings.

[2022-03-18 17:55] LoyalPotato commented on #5116
@JoeRobich
What is the OmniSharp workspace? The project selected?

[2022-03-18 18:01] JoeRobich commented on #5116
Sorry, yes, the selected project or solution.

[2022-03-18 18:11] LoyalPotato commented on #5116
That "fixed" it.
Was it changed in a new version? Because previously it showed with c# textmate grammar highlighting (is calling it highlighting correct?) all the time and just recently did it start showing as the SemanticHighlighting.

[2022-03-18 18:21] JoeRobich commented on #5116
It was changed so that semantic highlighting was the default. The benefits are that you have consistent highlighting that correctly handles new language semantics as they are added to the compiler. The downside is that it is missing some of the textmate grammars more niche classifications. That said, the textmate grammar is well behind in its support of new C# language features.

[2022-03-18 18:26] LoyalPotato commented on #5116
Oh okay. Thanks for the quick help and explanation :)

[2022-03-18 18:26] #5116 closed

[2022-03-18 19:18] tynewton opened #5118 "Roslyn generating GeneratedMSBuildEditorConfig.editorconfig in project root"
## Issue Description ##
The extension is generating GeneratedMSBuildEditorConfig.editorconfig files in the same location as the .csproj files. It seems very similar to a problem that Roslyn had a while back, and the temporary solution to add a property to the project file does seem to resolve the issue. https://stackoverflow.com/questions/64241729/new-generated-generatedmsbuildeditorconfig-file-si

[2022-03-18 19:55] nowlights opened #5119 "Indentation not work if use HtmlTagHelper without quote"
## Environment data
`dotnet --info` output:
SDK do .NET (refletindo qualquer global.json):
 Version:   6.0.101
 Commit:    ef49f6213a

Ambiente de runtime:
 OS Name:     Windows
 OS Version:  10.0.22000
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.101\

Host (useful for support):
  Version: 6.0.1
  Commit:  3a25a7f1cc

.NET SDKs installed:
  5.0.402 [

[2022-03-18 21:48] tynewton commented on #5118
Seems to be an issue for someone other than omnisharp. My bad.

[2022-03-18 21:48] #5118 closed

[2022-03-19 00:54] timabell commented on #4582
This worked for me: https://stackoverflow.com/questions/70820780/vscode-or-anothers-editors-dont-recognize-sdk-dotnet-installed-with-asdf/70820974#70820974

[code]
https://gist.github.com/timabell/279823d5433176f24d170ef9c43d797e

(make sure there isn't already a copy of VSCode running otherwise I don't think it'll get the vars)

[2022-03-19 02:06] JoeRobich opened #5120 "Announcement: Planned removal of the included Mono & MSBuild tools"
**Background:**

The included Mono and MSBuild tools were added to support easy development of C# using .NET Core. We have frequently updated these build tools to match the current shipping SDK tooling.

On Windows we did not need to ship a copy of Mono because we could rely on the .NET Framework being installed. For MacOS and Linux we shipped a minimal Mono that would support running MSBuild and

[2022-03-19 21:18] PraJaL55 commented on #4301
Hi @JoeRobich , the problem has been resolved. I am guessing it was because I had installed dotnet in devcontainer at `/usr/share/dotnet` and Omnisharp was looking at `/usr/local/share/dotnet`. Fixing this fixed the issue.

[2022-03-20 07:28] Kurt-von-Laven commented on #2970
@PaoloLaurenti, thank you for the great tip. I've been wondering about this for ages. `asdf` offers a convenient way to compute `DOTNET_ROOT`, so here is a simplified version of the script that I put in my `.bashrc`:

[code]

I see from the OmniSharp log in VSCode that OmniSharp finds the correct .NET Core SDK:

[code]

However, at face value it doesn't appear that the `MSBuildSDKsPath` environmen

[2022-03-20 10:00] Kurt-von-Laven commented on #4582
I tried a slightly simplified version of the same thing, but it didn't work for me (c.f., https://github.com/OmniSharp/omnisharp-vscode/issues/2970#issuecomment-1073187929 for my pertinent OmniSharp log output). On a side note, there is no reason to use `echo` or command substitution in the `export` statements in that StackOverflow answer; double quotes will suffice in this case.

[code]

[2022-03-21 03:49] JoeRobich commented on #5099
A pre-release is now available with this change. https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.24.2-beta1

[2022-03-21 16:45] heshuimu opened #5121 "Port 55555 used for "waitForDebugger" is unavailable since macOS 11"
## Issue Description ##
When trying to debug OmniSharp using the `omnisharp.waitForDebugger` config, OmniSharp would fail to wait for debugger and stop immediately.

When the config is enabled, Mono is set to launch the debugger server on port 55555, but since macOS 11 this port seemed to be been pre-occupied by the system, thus the launch would fail.

https://github.com/OmniSharp/omnisharp-vscode

[2022-03-22 10:01] filipw commented on #5112
Thanks I will close it here as it is related to the server. https://github.com/OmniSharp/omnisharp-roslyn/issues/2369

[2022-03-22 10:01] #5112 closed

[2022-03-22 16:11] nohwnd commented on #5121
@heshuimu Would you prefer this to be a setting? Or should we just hardcode a new port? Please consider creating a PR either way :)

[2022-03-22 16:16] #4301 closed

[2022-03-22 16:18] nohwnd commented on #5119
@NTaylorMullen Please help us here 🙂

[2022-03-22 16:21] nohwnd commented on #5115
@333fred Could you have a look on this one, please?

[2022-03-22 16:42] NTaylorMullen commented on #5119
I'm not quite sure the ask. What sort of indentation are you refering to @nowlights ?

[2022-03-23 07:22] Acceyuriko opened #5123 "Typing is freezed for a few seconds when intellisensing."
## Issue Description ##
I installed two plugins vscodevim and c#.
I type some letters, trigger c# to analyzing the code, and then vscode gets stuck, and the typed letter doesn't appear in the editor until it's been analyzed for a few seconds.
Disable one of the two plugins and the problem doesn't happen.
The video is http://r96qpl1xa.hd-bkt.clouddn.com/desktop%202022-03-23%2014-23-28.mp4
I also ra

[2022-03-23 10:36] yecril71pl commented on #4533
That mechanism sends `INT`, services expect `TERM`.

[2022-03-23 18:13] abdollahkahne commented on #5091
I close this issue as I think my problem already is resolved. Thanks for following.

[2022-03-23 18:13] #5091 closed

[2022-03-23 22:50] lonix1 commented on #5091
What did you do to fix it?

[2022-03-24 00:15] #4251 closed

[2022-03-25 19:59] 188599 opened #5126 ""Run Test" takes a variable amount of time to run in contrast to "Debug Test""
## Issue Description ##

I've noticed for some time that whenever I use the "Run Test" button it would sometimes take a lot longer than expected to run even the simplest of tests, so much so that I would end preferring to use "Debug Test" over it as it would work in a much more stable fashion.

## Logs ##

Logs from a "Run Test" that took much longer than anticipated

[code]

Logs from the "Debug

[2022-03-25 21:51] halilkocaoz opened #5127 "mono: command not found"
## Environment data
`dotnet --info` output:
.NET SDK (reflecting any global.json):
 Version:   6.0.200
 Commit:    4c30de7899

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  12.2
 OS Platform: Darwin
 RID:         osx.12-arm64
 Base Path:   /usr/local/share/dotnet/sdk/6.0.200/

Host (useful for support):
  Version: 6.0.2
  Commit:  839cdfb0ec

.NET SDKs installed:
  6.0.200 [/usr/local/

[2022-03-25 22:03] halilkocaoz commented on #5127
It's related to https://github.com/OmniSharp/omnisharp-vscode/issues/5120,

Adding `"omnisharp.useModernNet": true,` on settings.json is solved my problem.

[2022-03-25 22:03] #5127 closed

[2022-03-27 08:26] #4649 closed

[2022-03-27 11:39] radhewro commented on #4903
Hi, have you any progress on this? I just makes me crazy:) Thanks

[2022-03-28 12:59] jeyk commented on #4962
I'm facing a very similar - maybe the same - problem. It seems to occur every time the dev container is rebuilt. It seems that OmniSharp's analyzers rely on NuGet packages that are stored inside the container in `root`'s home directory. After rebuilding the container, they are missing, causing these errors. My workaround is to run `nuget restore` in the terminal, then exit VS Code, wait for the de

[2022-03-28 14:44] ahanusa opened #5128 "Omnisharp unit test debugging crashes (MacOS Catalina)"
Please paste the output from your clipboard## Issue Description ##
## Steps to Reproduce ##

This behavior started immediately after installing dotnet 6 SDK via `brew upgrade dotnet-sdk`, which installed SDK 6.0.21

From command line:

❯ mkdir Testing
❯ cd Testing
❯ dotnet new sln
❯ dotnet new classlib -n TestingLib
❯ dotnet new xunit -n TestingTests
❯ dotnet sln add TestingLib
❯ dotnet sln add Te

[2022-03-28 23:56] mhouckcd opened #5130 "Code blocks for xmldoc specifications escapes content"
When viewing `<code>` blocks from xmldocs in csharp, some characters are escaped. In visual studio these are not escaped and are tabbed inwards to indicate code blocks.
## Steps to Reproduce ##

1. Create XML documentation with code blocks
2. Insure code blocks do not have illegal characters (as per https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/xmldoc/recommended-tags#code)
3.

[2022-03-29 04:25] CEbbinghaus commented on #4083
It also seems as though there aren't many handlers for common C# warnings so its only a handful or warnings that can be fixed automatically. As much as i would like to see this feature it would be worth a lot more if more warnings could be automatically fixed.

[2022-03-29 05:39] stevef51 commented on #4962
@jeyk what is your host machine?  And you mention you have a workaround which I am interested in as I find that each dev container (we have around 10) will stop working on intellisense, and it is the act of rebuilding the container and letting OmniSharp restart that fixes it (sometimes it doesnt)

[2022-03-29 05:52] zhen8838 opened #5131 "Debug Test can't receive `DYLD_LIBRARY_PATH` variable in macOS."
## Issue Description ##

I set the `DYLD_LIBRARY_PATH` in the zshrc, then run dotnet test print the env variable value. but when I use debug Test , It can not get the variable value.

I record a video:
1. I have not set the `CUSTOM_VAR` in the zshrc, then run the dotnet test, It's can print the `DYLD_LIBRARY_PATH` variable value.
2. I set the `CUSTOM_VAR` in the zshrc, then restart the vscode and

[2022-03-29 09:58] jeyk commented on #4962
I am on Windows 10, with Docker Desktop running in WSL2.
Regarding the workaround, for me, rebuilding the container seems to break IntelliSense, for the reason I mentioned. Running `dotnet restore` and then restarting OmniSharp seems to fix it.

[2022-03-29 11:31] gbubemismith opened #5132 "Omnisharp won't start or generate assets in vs code mac m1"
## Environment data
`dotnet --info` output:
.NET SDK (reflecting any global.json):
 Version:   5.0.405
 Commit:    63325e1c7d

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  12.2
 OS Platform: Darwin
 RID:         osx-x64
 Base Path:   /usr/local/share/dotnet/x64/sdk/5.0.405/

Host (useful for support):
  Version: 5.0.14
  Commit:  d5b56c6327

.NET SDKs installed:
  3.1.416 [/usr/local/

[2022-03-29 13:28] nowlights commented on #5119
I use asp.net core mvc, the indentation I say is Ctrl+Shift+P.

If I use tags without quotes, the indentation doesn't work

[2022-03-29 16:08] nohwnd commented on #5132
I see you are using .NET5 x64 SDK, is that intentional? Your M1 should be better off using native arm64 which is available in .NET 6 https://dotnet.microsoft.com/en-us/download/dotnet/6.0 .

[2022-03-29 16:12] nohwnd commented on #4962
Have you considered putting `dotnet restore` to your `postCreateCommand` script? https://code.visualstudio.com/docs/remote/devcontainerjson-reference#_lifecycle-scripts

[2022-03-29 16:17] nohwnd commented on #5130
Thanks for reporting, this looks like a bug that we will need to investigate.

[2022-03-29 16:22] nohwnd commented on #5128
Thanks for reporting we will investigate. If I am getting it right there is no custom code or libraries used here, just the default code from test template?

[2022-03-29 16:30] nohwnd commented on #5123
Could you try installing Ionide, and trying it against C# extension, and vscodevim separately to see if it maybe happens only in one of those extensions? https://marketplace.visualstudio.com/items?itemName=Ionide.Ionide-fsharp

[2022-03-29 17:05] JoeRobich commented on #4083
@totkeks Does your configuration look something like this users? https://github.com/OmniSharp/omnisharp-vscode/issues/4401

If not, what are your omnisharp and fixAll settings?

[2022-03-29 17:16] 188599 commented on #5126
Yes, it was that test it was running, I think the output is slightly different because when on the debug mode it doesn't print the tests output, but you can see it's calling the same classes.

Although, like I mentioned before, the test itself is being ran with a few of our fixtures which I can only imagine are the main reason behind this, but I have no clue on how to turn into something you could

[2022-03-29 22:51] teraa commented on #5025
I don't know if I'm even in the right place with this issue, I would appreciate if someone could confirm or redirect me if appropriate.

Additionaly, now even the horizontal scroll bar is missing, and only way to get full method signature shown is to resise the suggest details enough to the right, which might not even be possible(!) sometimes when the method signature is too long.

![image](https:

[2022-03-29 23:57] gbubemismith commented on #5132
Yeah you are correct, but i am currently working on a .NET 5 application and it's won't be upgraded anytime soon.

[2022-03-30 00:30] JoeRobich commented on #5132
@gbubemismith New builds of O# no longer include a minimal Mono and MSBuild. What version of Mono and MSBuild are installed on your system?
[code]

[2022-03-30 01:51] Acceyuriko commented on #5123
I tried F# with Ionide, and this problem did not occur.
But I never studied F#, I just created a "Hello World" app by `dotnet new console -lang F# -o MyApp -f net6.0`.
Maybe my project is too small, so the intellisense is too fast to reproduce the problem?

[2022-03-30 09:17] HaraldKorneliussen commented on #5120
I guess the removal of bundled msbuild is the reason omnisharp suddenly fails on my projects with

`The MSBuild option 'UseBundledOnly' is no longer supported. Please update your OmniSharp configuration files.`

Having a bundled version seems like a good idea to me, especially if the alternative is chasing version dependencies manually.

[2022-03-30 09:32] mahfuzmr commented on #3819
In my case, it was one package missing :Microsoft.AspNetCore.Components.WebAssembly.DevServer
Happy coding.

[2022-03-30 10:34] gbubemismith commented on #5132
- Mono
Mono JIT compiler version 6.12.0.122 (2020-02/c621c35ffa0 Wed Feb 10 00:51:43 EST 2021)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  amd64
	Disabled:      none
	Misc:          softdebug
	Interpreter:   yes
	LLVM:          yes(610)
	Suspend:       hybrid
	GC:            sgen (conc

[2022-03-30 11:53] ArmaanMcleod commented on #5105
@filipw Thanks for providing this. Unfortunately we can't really upgrade .NET 6 SDK just yet. Not really a big issue, I can just do code refactoring through VS for the time being.

Would be great if upgrades were more backwards compatible, since this was working for me not to long ago.

Any chance this could get fixed in an upcoming release or is upgrading the only option?

[2022-03-30 12:20] anna-rosew opened #5133 "Suggestions not showing in C# IntelliSense"
Issue Type: <b>Bug</b>

Hi, the suggestions for C# IntelliSense aren't showing in my editor. I only see The only suggestions that do show are words I already typed earlier in the class. I have included a screenshot of a new script I'm working on demonstrating the issue.

![Screenshot 2022-03-30 131833](https://user-images.githubusercontent.com/72981644/160832975-410fcb88-10a2-4579-8d66-599810c515e

[2022-03-30 13:43] filipw commented on #5120
We never shipped .NET Framework reference assemblies, so the bundled MSBuild was only suitable for .NET Core (and .NET 5+) development, and it was a poor man's replacement for discovering the MSBuild from the .NET SDK installation.

Since for .NET Core (and .NET 5+) development you anyway need to have the relevant .NET SDK installed, and since .NET SDK has the appropriate MSBuild already, this wil

[2022-03-30 13:45] filipw commented on #5133
Please post the log output from the "OmniSharp" panel.

[2022-03-30 15:17] zhen8838 commented on #5131
@nohwnd Thank you for your patient reply, but I encountered a problem in the process of `Debug Test`:
https://user-images.githubusercontent.com/26156999/160869585-cb300c0b-5de3-47c8-998b-a618d07366b5.mov

Maybe when debug Test,It's not accept the `.runsettings` file?

[2022-03-30 16:26] rpavlik opened #5134 "Omnisharp Server tries to load analyzers from even disabled extensions"
## Issue Description ##
Per #5029 it seems that the current version is incompatible also with Roslynator 4.1.0. So, I disabled the extension, but it still tries to load it. Even if I install the older 4.0.2 version, because the 4.1.0 version isn't removed from the folder by vscode, it's still trying to be loaded.

(EDIT: is it cached in my project somewhere? Even if I remove the 4.1.0 version and

[2022-03-30 16:50] filipw commented on #5134
This is not a bug. This is a global file to control the server behavior. Looks like the external extension you used modified this file, thus globally affecting OmniSharp server behavior. This is independent on enabling/disabling extension in VS Code. It would have affected e.g. the analyzers that are loaded in OmniSharp extension in Vim too, if you started that on your machine.

[2022-03-30 16:50] #5134 closed

[2022-03-30 16:52] filipw commented on #5133
According to this OmniSharp does not even start because it does not see any csproj/sln files. Those have to be explicitly generated with Unity. Then, a folder containing those files must be opened in VS Code - not individual C# files.

[2022-03-31 01:22] amroczeK commented on #5132
Thank you, this resolved my issue.

Omnisharp randomly started to stop working for me yesterday, received the same error @gbubemismith was getting.

Im using VSCode 1.65.2, macOS Big Sur v11.6.4

[2022-03-31 03:17] JoeRobich commented on #5132
@amroczeK I imagine you have "omnisharp.path" set to "latest". O# has removed their included Mono and MSBuild 17.x tooling from their nightly builds in favor of using the .NET SDK build of OmniSharp for .NET SDK development. We plan to make "true" the default for "omnisharp.useModernNet". See https://github.com/OmniSharp/omnisharp-vscode/issues/5120 for more details.

[2022-03-31 07:24] Strandfelt commented on #3787
Also experiencing this issue here. VS Code 1.66.

[2022-03-31 07:35] nohwnd commented on #5132
FWIW it is generally safe to install a newer SDK and target earlier TFMs from it. For example we use .NET7 x64 SDK to build an app as netcoreapp3.1 for x64, netcoreapp3.1 for x86, net452 for x86, net452 for x64, and netcoreapp2.1 for arm64.

Unless your app is a development tool and has ties to the SDK itself, e.g as omnisharp-roslyn that uses various bits and pieces from the SDK.

[2022-03-31 09:06] saeed-barari opened #5136 "1.24.2 ; so, when will it come to vscode?"
hey, sorry if I'm writing this in the issue section, but I didn't find any conversation section anywhere ... is there a discord by the way?

[2022-03-31 10:22] nohwnd commented on #5131
You are right :) I thought I tried that, but my original example was using failing assertion to write the value to the screen, so I might have mistaken the failing assertion message, and overlook the actual failure.

The error seems to be here:

https://github.com/OmniSharp/omnisharp-vscode/blob/7689b0d3dd615224ac890dd9bccf9fb0bdae4a64/src/features/dotnetTest.ts#L367-L368

Debugger uses custom lau

[2022-03-31 12:47] soulflyman commented on #1198
I also have duplicated Messages in the Problem tab with v1.66.0.
My tasks.json looked like this:
[code]

Changing the property ```GenerateFullPaths``` to ```false``` fixed it for me and I only see omnisharp error messages and no longer the compile-time errors.

[2022-03-31 15:26] filipw commented on #5136
There is a slack org, you can join here https://github.com/OmniSharp/omnisharp-roslyn#help-wanted
There is normally a release ~ once a month. The beta is available to install already from here https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.24.2-beta3

[2022-03-31 15:26] #5136 closed

[2022-03-31 15:44] heartacker opened #5138 "[ERROR] Error: OmniSharp server load timed out"
## Environment data
名称: C#
ID: ms-dotnettools.csharp
说明: C# for Visual Studio Code (powered by OmniSharp).
版本: 1.24.2
发布者: Microsoft
VS Marketplace 链接: https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.csharp

版本: 1.67.0-insider (system setup)
提交: 909602cf04e0fa42528d692676d0d4e15e67bba2
日期: 2022-03-31T11:00:49.798Z
Electron: 17.2.0
Chromium: 98.0.4758.109
Node.js: 16.13.0
V8: 9.8

[2022-03-31 15:45] heartacker commented on #5138
when `"omnisharp.useModernNet": true`

[2022-03-31 16:11] filipw commented on #5138
This was fixed in https://github.com/OmniSharp/omnisharp-vscode/pull/5122
You can try the beta https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.24.2-beta3

[2022-03-31 20:34] NTaylorMullen commented on #5119
As in
![image](https://user-images.githubusercontent.com/2008729/161144655-f12258de-365a-4e47-8c15-4051bb3ca1a1.png)
?

[2022-03-31 23:46] gbubemismith commented on #5132
Sorry if I am clear you're saying I can have only .NET 6 sdk installed on my machine and still run a .NET 5 or .NET 3.1 application??

[2022-04-01 06:20] #5131 closed

[2022-04-01 06:24] nohwnd commented on #5131
@zhen8838  Yet again this is closed. We currently have a release pending. This will be in the next one, which is usually once a month. A possible workaround, if feasible for you, is setting the env variable in a console / terminal, and start VSCode from there. That way the whole process tree including the debugger and omnisharp server will inherit it. It is little less dynamic than providing a set

[2022-04-01 06:42] zhen8838 commented on #5131
@nohwnd Thank you very much for your help! 👍

[2022-04-01 10:08] hokrobert commented on #4903
Any infos on that issue?

[2022-04-01 12:04] AradAlvand commented on #5030
Can anybody please respond? Thanks.

[2022-04-01 12:26] filipw commented on #5030
You need to enable semantic highlighting for this to work correctly

[code]

The default highlighting rules are quite primitive and regex based, and are not maintained here but in https://github.com/dotnet/csharp-tmLanguage and are included by default by VS Code independently from this extension.

[2022-04-01 12:26] #5030 closed

[2022-04-01 12:26] #5138 closed

[2022-04-01 13:06] AradAlvand commented on #5030
@filipw I have semantic highlighting enabled, but this issue still exists:

![image](https://user-images.githubusercontent.com/26527405/161269296-18023b1d-7287-46ed-b17f-53d76145ef4d.png)

![image](https://user-images.githubusercontent.com/26527405/161269377-ada9ce54-0ec3-4f23-92c5-d1f96b61903e.png)

Am I doing anything wrong?!

[2022-04-01 14:10] nohwnd commented on #5131
@zhen8838 I had hard time not including it in the release, so I just included it. The artifacts are now being uploaded. And there should be new version available soon, with this fix, 1.24.2.

[2022-04-01 16:54] spdrcd opened #5140 "C# v1.24.2 omnisharp/OmniSharp.exe"': No such file or directory."
## Environment data
`dotnet --info` output:
VS Code version: 1.66.0
C# Extension version: 1.24.2

## OmniSharp log
Starting OmniSharp server at 4/1/2022, 11:50:34 AM
    Target: project location

OmniSharp server started with Mono 6.8.0.
    Path: /Users/{{username}}/.vscode/extensions/ms-dotnettools.csharp-1.24.2-darwin-x64/.omnisharp/1.38.3-beta.31/omnisharp/OmniSharp.exe
    PID: 1898

Cannot o

[2022-04-01 16:56] hansihe commented on #5140
Having the same issue

[2022-04-01 17:28] filipw commented on #5140
According to the logs you are using prerelease of OmniSharp server - `1.38.3-beta.31`. This means you opted into pulling the latest builds from master. Remove the setting `"omnisharp.path":"latest"` from your config and try again.

[2022-04-01 17:32] JoeRobich commented on #5132
@gbubemismith Running applications only requires that you have an appropriate .NET runtime installed. You can even publish applications as self-contained apps which do not need a runtime at all.

[2022-04-01 18:01] dmackdev commented on #5140
I am having the same issue on mac, even with `omnisharp 1.38.2` and `ms-dotnettools.csharp 1.24.2` and `"omnisharp.path":"latest` not present in my `.vscode/settings.json`.

I have installed `ms-dotnettools.csharp 1.24.1` and removed `.vscode/extensions/ms-dotnettools.csharp-1.24.2-darwin-arm64` and this now works. Culprit seems to be latest version of this extension.

[2022-04-01 18:04] verbess commented on #5140
The same issue was encountered with C# Extension version - `1.24.2`, OmniSharp server - `1.38.2`.
But C# Extension version - `1.24.1`, OmniSharp server - `1.38.1` works.

## OmniSharp Log
OmniSharp server started with Mono 6.12.0.
    Path: /Users/{{username}}/.vscode/extensions/ms-dotnettools.csharp-1.24.2-darwin-x64/.omnisharp/1.38.2/omnisharp/OmniSharp.exe
    PID: 13348

Cannot open assembly '

[2022-04-01 19:09] verbess commented on #5133
"Right click the `Project` panel and Choose `Open C# Project`."

This command will automatically generate the .csproj files for you and open your file with vscode (you need to set vscode as your external script editor) as a project.

[2022-04-01 19:32] filipw commented on #5140
You are right, it's an unfortunate regression. Really sorry about that.

We have a fix in the making, in the meantime, if you are doing .NET Core development only, you can set `"omnisharp.useModernNet": true` which will opt you into .NET 6 build of OmniSharp which is anyway much more stable and more performant. This variant is not affected.

If you are doing .NET Framework development, you need to

[2022-04-01 19:32] filipw commented on #5140
You are right, it's an unfortunate regression. Really sorry about that.

We have a fix in the making, in the meantime, if you are doing .NET Core development only, you can set `"omnisharp.useModernNet": true` which will opt you into .NET 6 build of OmniSharp which is anyway much more stable and more performant. This variant is not affected.

If you are doing .NET Framework development, you need to

[2022-04-01 19:35] Ping-Gao commented on #5140
That worked for me, thx.

[2022-04-01 19:40] #5140 closed

[2022-04-01 19:42] spdrcd commented on #5140
I did rolled back and it works for now...

[2022-04-01 19:44] spdrcd commented on #5140
Thank you so much to letting me know about working on fixing this issue!!
I did rolled back and it works for now...

[2022-04-01 19:50] nohwnd commented on #5140
Fix is merged, thanks @filipw  The packages for 1.24.3 are building.

[2022-04-01 19:57] spdrcd commented on #5140
@nohwnd Thank you all I see it is building right now. Hope to update to the new version once issue is fixed 😄

[2022-04-02 16:52] jettoblack opened #5145 "OmniSharp won't start after upgrading to VS Code 1.66"
## Issue Description ##
OmniSharp won't start after upgrading to VS Code 1.66

## Steps to Reproduce ##
Open the project folder ( c:\Users\Jason Livingston\Dropbox\FixMyCrypto ) in VS Code 1.66
OmniSharp: Select Project -> select FixMyCrypto.csproj

Tried opening other C# directories or project files, same results.

Tried uninstalling & reinstalling OmniSharp to no effect.

Attempting to use OmniS

[2022-04-02 19:06] tilkinsc opened #5146 "Failure to parse type while using `using NAME = CLASS`"
![image](https://user-images.githubusercontent.com/7494772/161397547-8ffeadf3-561a-4c71-8a42-5083dbb93ce0.png)
![image](https://user-images.githubusercontent.com/7494772/161397552-44f437c5-2ccb-4d04-8c33-de27083613a2.png)
![image](https://user-images.githubusercontent.com/7494772/161397694-f1f7fbb8-cf6b-40b9-97b5-fbd912559742.png)

I am doing some Interop and Omnisharp is on fire.

Omnisharp doesn

[2022-04-02 21:23] ManfredLange opened #5147 "omnisharp-vscode version 1.24.3 does not load on debian (possibly other OS'es)"
## Issue Description ##

Version 1.24.3 of the extension fails to load, throwing an `TypeLoadException` with message

## Steps to Reproduce ##

Use docker base image `mcr.microsoft.com/dotnet/sdk:6.0.201` for the dev container then specify the extension in `devcontainer.json` for the dev container. After VS Code has connected to the dev container it attempts to install the extension which fails wi

[2022-04-02 21:26] ManfredLange commented on #5147
In case you encounter this issue, one way to reverting back to a version without this issue present is using a "devcontainer.json" file that specifies which version of the extension you want to. Here is an example:

[code]

[2022-04-02 22:36] ManfredLange commented on #5147
This issue could be related to https://github.com/OmniSharp/omnisharp-roslyn/issues/1421

Once I disable the extension `josefpihrt-vscode.roslynator` omnisharp loads.

[2022-04-02 23:04] ManfredLange commented on #5147
Another observation: After omnisharp has started successfully, I can also install the extentions `josefpihrt-vscode.roslynator` without an issue.

However, if extension `josefpihrt-vscode.roslynator` is specified in `devcontainer.json` omnisharp tries to load it and fails with the TypeLoadException described above.

This observation applies to version 1.24.1 and 1.24.3 of `omnisharp-vscode`.

It a

[2022-04-02 23:34] ManfredLange commented on #5147
If the roslynator extension is not loaded by omnisharp but only after omnisharp finished loading, then I can manually install the roslynator extension successfully as well.

This observation applies to both docker base images, i.e., `mcr.microsoft.com/dotnet/sdk:6.0.102` and `mcr.microsoft.com/dotnet/sdk:6.0.201`.

But even in that case, to get a clean omnisharp log output the following recipe see

[2022-04-03 04:19] tasty0tomato commented on #5096
Seems fix in the latest version.

[2022-04-03 08:10] filipw commented on #5147
This manifests itself, I assume, only on the embedded Mono variant of OmniSharp. It is deprecated and will be removed in the next release.

Things should work correctly on the .NET 6.0 build of OmniSharp which you can enable by setting `"omnisharp.useModernNet":true`

[2022-04-03 08:12] filipw commented on #5096
Fixed by https://github.com/OmniSharp/omnisharp-roslyn/pull/2363

[2022-04-03 08:12] #5096 closed

[2022-04-03 09:30] senal opened #5148 "OmniSharp.MSBuild.ProjectLoader The "ValidateExecutableReferences" task failed unexpectedly."
## Environment data
`dotnet --info` output:
.NET SDK (reflecting any global.json):
 Version:   6.0.200
 Commit:    4c30de7899

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.22581
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.200\

Host (useful for support):
  Version: 6.0.2
  Commit:  839cdfb0ec

.NET SDKs installed:
  2.1.701 [C:\Progr

[2022-04-03 14:06] Arash-Sabet commented on #4903
Any updates?

[2022-04-03 14:56] Igorgro opened #5149 "Inlay hints don't work"
## Issue Description ##
I've enabled inlay hints using the following settings:

[code]
but inlay hints don't work and there are number of repated messages in Omnisharp logs
## Steps to Reproduce ##
1. Install .NET on ArchLinux using dotnet-install.sh
2. Create sample program like this:
[code]
3. See no inlay hints and errors in the OmniSharp logs

## Expected Behavior ##
Inlay hints woking for bot

[2022-04-03 15:36] filipw commented on #5149
These settings currently only enable inlay hints at the VS Code level, but not in OmniSharp server. You need to separately enable them in the server component. In the future they will be synchronized.

For now, the simplest way is to do one of the following:

 - create (or edit existing) `omnisharp.json` file located in `%USERPROFILE%/.omnisharp/` (affects all projects globally)
 - create (or edit

[2022-04-03 18:53] Igorgro commented on #5149
Thank you! After applying this settings everything works well.

[2022-04-03 22:16] usrDottik opened #5150 "OmniSharp fails to load when the path provided contains spaces."
## Environment data
`dotnet --info` output:
[code]
VS Code version:
VSCode 1.66.0

C# Extension version:
Current latest as 4/3/22 (UTC -0300), that is **v1.24.3**

## OmniSharp log
[code]

## Steps to reproduce
Create a new project with a folder that contains spaces

## Expected behavior
Analyze all files and provide intellisense autocomplete

## Actual behavior
Omnisharp does not load, and does n

[2022-04-04 00:27] ghidalgo3 commented on #5147
Adding `"OmniSharp.useModenNet": true` also resolved an exception on macOS that completely broke OmniSharp at startup.

For reference, this is the exception:

[code]

[2022-04-04 02:01] ManfredLange commented on #5147
@filipw That seems to have done the trick. It also appears to have solve a few other smaller issues.

Thank you for the fast response!

I'll close this issue for now as it appears to be resolved. In case I run into the same or similar issue I'll submit a new issue.

[2022-04-04 02:01] #5147 closed

[2022-04-04 07:38] filipw commented on #5149
Thanks for confirming

[2022-04-04 07:38] #5149 closed

[2022-04-04 07:39] filipw commented on #5145
I will close this as a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/5150.
The problem is a space in your path, as a workaround, you can move your code to a folder without spaces.

[2022-04-04 07:39] #5145 closed

[2022-04-04 07:41] filipw commented on #5148
Can you please post the full log, not an abbreviated one? In particular, the beginning of the log would show which variant of OmniSharp you are using. Thanks.

[2022-04-04 08:56] Igorgro commented on #5149
May this issue should be stay opened to track that?

[2022-04-04 09:10] RivenSkaye opened #5152 "[Feature Request] Clarify methods referenced in parent"
Sometimes a parent class, interface or namespace provides a method that can be, or has to be overridden in the implementation. For example when using [`Form`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.form?view=windowsdesktop-6.0)s with the [`PreFilterMessage`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.imessagefilter.prefiltermessage?view=windowsdeskto

[2022-04-04 09:27] senal commented on #5148
@filipw ,
Thanks for your feedback.
Please find the details you requested:

---------------------------------------------- complete OmniSharp Log --------------------------------------------------
Starting OmniSharp server at 4/4/2022, 7:22:49 PM
    Target: c:\workspace\learning\microservices\julio\Play.Catalog\src\Play.Catalog.Service

OmniSharp server started.
    Path: c:\Users\ranga\.vscode\e

[2022-04-04 09:33] MarianaK96 commented on #5132
I have dotnet 6 SDK installed but the second solution here hasn't worked for me. I am also not receiving any errors from Omnisharp. Not sure if it could be due to the project I am working on using dotnet 5?

[2022-04-04 09:39] filipw commented on #5148
According to your log, the MSBuild picked up by OmniSharp is coming from you VS installation:

Make sure to update it to the latest version.

[2022-04-04 10:10] senal commented on #5148
@filipw ,
Thank you very much. that helped!
I did remove VS 2022 Preview and installed the VS 2022 Community edition. The issue got fixed.

[2022-04-04 10:10] #5148 closed

[2022-04-04 16:15] JoeRobich commented on #5132
@MarianaK96 Can you please open a new issue and provide your Omnisharp log from the VS Code Output pane as well as the output of `dotnet --info`? Thanks

[2022-04-04 18:17] DarkFM opened #5153 "With update to VSCode v1.66.0 Omnisharp no longer works on a Linux machine via ssh"
## Environment data
`dotnet --info` output:

VS Code version:

C# Extension version:

## OmniSharp log

[code]

## Steps to reproduce
1. Have a Linux machine (CentOS 7).
2. Install C# VSCode extension.
3. Enable remote SSH connection on VSCode via the [Remote Development](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack) pack extensions.
4. Create a

[2022-04-04 18:29] JoeRobich commented on #5153
@DarkFM Can you also share the C# Log from the VS Code output pane?

[2022-04-04 18:36] DarkFM commented on #5153
There are no logs output in that pane.

[2022-04-04 18:49] tillig commented on #4215
Unclear if this is related to #4550 - the inability to properly navigate generated source files - but that's the challenge I'm running into. More specifically, while you can access generated source, that generated source won't let you navigate back to the main project or to other symbol references/definitions.

Let's say you have a source generator project `MyProj.CodeGen` and in there you have a

[2022-04-04 18:53] tillig commented on #4215
I did just discover that if I'm in the debugger in VS Code I _can_ step into and out of generated code just fine, so it does appear to primarily be an issue with navigating and not with actually locating or stepping into/out of that code at runtime.

[2022-04-04 20:29] JoeRobich commented on #5153
That message is odd. Not sure what that is in reference to.

@DarkFM  Could you try setting the `omnisharp.loglevel` to `trace` temporarily as well as increase the `omnisharp.projectLoadTimeout` to `120` seconds or something higher than the default? Perhaps we can get a better picture with more logging.

[2022-04-04 20:36] jtsom commented on #5150
Is this a new/changed behavior? I've been able to open projects with spaces in the path just fine.

[2022-04-04 21:35] JoeRobich commented on #5150
Seems to affect launching O# when `omnisharp.useModernNet` is set to `true`.

[2022-04-05 00:10] DarkFM commented on #5153
@JoeRobich So I made the changes you suggested.
1. Updated loglevel to Trace
2. Increased projectLoadTimeout to 120

This unfortunately did not change the output in the OmniSharp Log.
I also checked the `C#` Logs in the output pane and it has not output

[2022-04-05 00:11] DarkFM commented on #5153
This is also odd to me.
_For context the .NET project is running on a Linux server_

[2022-04-05 00:24] cateyes99 commented on #5108
@hassanrazakhalid, thank you.
This works well for my .NET 6 unit tests. Need to reload the project to let it download the OmniSharp for Windows package though after changing this setting.

Platform: win32, x86_64

Validating download...
Integrity Check succeeded.
Installing package 'OmniSharp for Windows (.NET 6 / x64)'

[2022-04-05 00:44] #5150 closed

[2022-04-05 01:05] JoeRobich commented on #5150
A prerelease build is out with a fix for this issue. https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.24.4-beta1

[2022-04-05 02:32] nowlights commented on #5119
Yes!

[2022-04-05 09:20] RivenSkaye commented on #5115
Update:
Mangling the `.csproj` file and adding the `<Langversion>` and explicitly setting it to `7.3` seems to be resolving the issue. This indicates that either OmniSharp or Roslyn isn't processing the `<TargetFrameworkVersion>` the same way as when running the compiler.

Seems like the original project is also old enough that `<LangVersion>` was either not included by default, or did not yet exi

[2022-04-05 17:52] boylec commented on #4903
@basilfx Thanks for the research on that. This temporary work around did resolve the issue for me.

[2022-04-05 18:39] winstliu opened #5155 "OmniSharp never loads in a remote SSH window"
## Issue Description ##
I'm trying to work on a C# solution using Remote SSH. Unfortunately, OmniSharp never seems to load.

## Steps to Reproduce ##
Use VS Code's Remote SSH capabilities to SSH into a Windows machine. useModernNet is true.

## Expected Behavior ##
OmniSharp to load.

## Actual Behavior ##
No logs. Nothing! :(
`OmniSharp: Restart OmniSharp` doesn't seem to have any effect.
I see t

[2022-04-05 21:45] JoeRobich commented on #5155
@50Wliu Are you opening an individual C# file or a folder containing a .csproj or .sln?

[2022-04-05 22:11] 50Wliu commented on #5155
Git repository containing a C# .sln at the root level.

[2022-04-06 03:16] frg2089 opened #5156 "OmniSharp does not work when there are spaces in the path."
## Issue Description ##
OmniSharp does not work when there are spaces in the path.

## Steps to Reproduce ##
0. Open VSCode.
1. Open a folder and this folder is a C# project.

## Expected Behavior ##
OmniSharp Language Server should be running.

## Actual Behavior ##
OmniSharp Language Server are not running.

## Logs ##
<details>
<summary><h3>OmniSharp log</h3></summary>

[code]
<details>
<summar

[2022-04-06 06:05] filipw commented on #5156
This is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/5150 which was fixed in https://github.com/OmniSharp/omnisharp-vscode/pull/5154

A prerelease build is out with a fix for this issue. https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.24.4-beta1

[2022-04-06 06:05] #5156 closed

[2022-04-06 15:12] UcheIgbokwe commented on #5132
I just uninstalled .net 5 and restarted Omnisharp. Below is my error:

`Starting OmniSharp server at 4/6/2022, 4:04:20 PM
    Target: /Users/Igbokwe/Projects/AlgorithmMadeEasyV2

OmniSharp server started with .NET 6.0.101
.
    Path: /Users/Igbokwe/.vscode/extensions/ms-dotnettools.csharp-1.24.3-darwin-arm64/.omnisharp/1.38.3-beta.33-net6.0/OmniSharp.dll
    PID: 1264

Unhandled exception. System.

[2022-04-06 17:09] JoeRobich commented on #5132
@UcheIgbokwe Looks like you have the x64 build of the .NET 6 sdk installed on a M1 Mac. If you install the arm64 build, this should fix your issue.

[2022-04-07 07:15] cfeltz34 opened #5157 "Access to pdb with source link on private Azure Repo"
## New feature
I would like to access to pdb with source link on private Azure Repo

## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.61.0
C# Extension version: 1.3.1

## Steps to reproduce
1. Deploy .Net library on private Azure artifact
2. With a pipeline¹, deploy PDB with sourcelink (use PublishSymbols@2 task)
3. Create launch.json² with sourceLinkOptions enabled attribute

[2022-04-07 07:33] cfeltz34 commented on #5157
[https://drive.google.com/file/d/10In07Sr29PnNkCBYkLqa2ySLKXn6AF03/view?usp=sharing](url)

[2022-04-07 07:50] aaa646123 opened #5158 ".NET 6 Project couldn't load since not found Microsoft.Extensions.DependencyInjection.Abstractions 6.0.0.0"
I want to build a blazor sample project as below, but always build failed.

1. Open Visual Studio Code
2. Type `dotnet new blazorwasm` on commander and create the sample project.
3. Type `dotnet build`.
4. And issue occurred below.
`Could not load file or assembly Microsoft.Extensions.DependencyInjection.Abstractions, Version=6.0.0.0.`

## Environment data
`dotnet --info` output:
.NET SDK (reflect

[2022-04-07 08:22] cfeltz34 commented on #5157
Remark : on Visual Studio, there are an option for "Enable Source Link support" :
"Fall back to Git Credential Manager authentication for all Source Link request.
It's possible to use Git credential to authenticate the pdb request ?

[2022-04-07 09:17] UcheIgbokwe commented on #5132
@JoeRobich Just switched to the arm64 build and it works fine on vscode.

[2022-04-07 09:19] PeacefulCosmos commented on #4037
you are god!

[2022-04-07 11:28] gbubemismith commented on #5132
@JoeRobich is there a way I can make my cli point to .net 6 path? My cli always points to the x64 path no matter the order in which I install.

[2022-04-07 11:45] #5132 closed

[2022-04-07 15:23] NoTuxNoBux commented on #5120
Does this mean that using Unity projects with this package will essentially become impossible for the time being without changing the flag back (or after the flag is dropped)?

It just so happens that [I already created an issue on the Unity VSCode package issue tracker](https://github.com/Unity-Technologies/com.unity.ide.vscode/issues/19) around Unity generating legacy .NET Framework 4.7 `csproj`

[2022-04-07 16:57] gregg-miskelly commented on #5157
This is tracked with the feature: https://github.com/OmniSharp/omnisharp-vscode/issues/2071. Thanks for taking the time for such a detailed report!

[2022-04-07 16:57] #5157 closed

[2022-04-07 17:18] JoeRobich commented on #5120
Yes, for your unity projects you can set `omnisharp.useModernNet` to `false` in the Workspace settings instead of User settings. This should allow you to use the modern build of O# by default, but have it do the right thing in configured Unity workspaces.

Yes, Unity could possibly continue to target net471, but they would need to update to SDK-style projects.

[2022-04-08 01:12] aaa646123 commented on #5158
After clean nuget cache and install the package, issue solved.
`dotnet nuget locals all --clear`
`dotnet add package Microsoft.Extensions.DependencyInjection.Abstractions -v 6.0.0`

[2022-04-08 01:12] #5158 closed

[2022-04-08 04:17] xobs opened #5159 "C# Extension Thinks I have Visual Studio 2019 Installed"
## Issue Description ##
When opening a project, Visual Studio Code prints the following information:

[code]

As you can see, the extension seems to think I have Visual Studio 2019 installed when in fact I do not. This is a fresh install of Windows 11, and has never had Visual Studio 2019 installed.

Furthermore, I installed .NET by going to the site opened by the extension: https://dotnet.microso

[2022-04-08 04:19] xobs commented on #5159
Additionally, the logs tell me to `Try updating Visual Studio 2019 installation with .NET Core SDK to enable better MSBuild support.`, however there is no ".NET Core SDK" in the Visual Studio Community 2022 installer:

![image](https://user-images.githubusercontent.com/238325/162361920-82a19cf5-c2f4-4b7a-968b-ae2b16abfda3.png)

[2022-04-08 05:13] xobs commented on #5159
Part of the problem appears to be that the extension assumes the following directories exist, but they didn't by default:

[code]

I created these directories without anything in them, and Omnisharp at least succeeded in starting up.

[2022-04-08 06:48] cfeltz34 commented on #5157
Thank you for your responsiveness, I hope you will find the time to prioritize this change request.

[2022-04-08 08:09] NoTuxNoBux commented on #5147
If I understand correctly, with the knowledge from https://github.com/OmniSharp/omnisharp-vscode/issues/5120, this means that Unity projects are now already broken? I can fix the error above by switching to modern .NET, but then my Unity projects don't work any more.

[2022-04-08 08:20] filipw commented on #5159
The error message is hardcoded and therefore does not reflect the state of your system accurately.
Between 2022 and 2019, the SDK was reamed to .NET SDK (not .NET Core SDK), which is the checkbox you need to tick.
<img width="1381" alt="Bildschirmfoto 2022-04-08 um 09 32 44" src="https://user-images.githubusercontent.com/1710369/162395141-3cc79941-27a1-45b1-8b4d-0d4a9bc05bb7.png">

Alternatively,

[2022-04-08 08:28] xobs commented on #5159
Thanks for the input! I tried setting `omnisharp.useModernNet: true` and it didn't work. Creating the directories I mentioned above helped things somewhat.

So it seems that there are two issues that need addressing:

1. The version shouldn't be hardcoded, it should print the actual version that's installed.
2. The name should reflect the name that's present in the version that's installed.

[2022-04-08 09:08] filipw commented on #5159
can you please post the output log that you get when this flag is enabled?

[2022-04-08 09:11] filipw commented on #5159
this error is really coming from the MSBuild in Visual Studio. If you installed the .NET SDK component in VS, there is no need to create them manually.

[2022-04-08 09:14] xobs commented on #5159
It looks like modern .NET doesn't work at all:

[code]

Creating those directories seems to have fixed "non-modern .NET" to the point where things work now.

[2022-04-08 10:20] filipw commented on #5159
Because it is currently opt-in, the .NET 6.0 build of OmniSharp is not packaged with the extension and instead acquired on demand. Once you set the flag in the config, uninstall and install the extension again, and restart VS Code to force the download of this dependency.

[2022-04-08 11:17] filipw commented on #5147
OmniSharp used to have two variants:

 - embedded Mono (default one), which only supported .NET Core projects and was not compatible with Unity
 - global Mono (which could be enabled by setting `"omnisharp.useGlobalMono":"always"`), which supported .NET Framework projects such as Unity, and if the MSBuild version in the global Mono was appropriate *might* also support .NET Core development

The ne

[2022-04-08 11:29] NoTuxNoBux commented on #5147
Okay, that is good to hear - but is it possible this issue has been closed too quickly in that case? I'm using global mono (`"omnisharp.useGlobalMono":"always"`) for Unity as before, and am still encountering the above issue in the OP. I have `"omnisharp.useModernNet":false` set now to avoid it for the time being.

[2022-04-08 11:45] filipw commented on #5147
I believe the Roslynator extension manipulates omnisharp.json on install to inject its assemblies into the OminSharp extensions to be loaded, and even when you remove Roslynator, the file would stay modified. But yeah this is external dependency issue in this case.

[2022-04-08 13:41] basvandriel commented on #5128
I have the same issue. Similar to https://github.com/OmniSharp/omnisharp-vscode/issues/4021

[2022-04-08 14:24] ahanusa commented on #5128
@basvandriel Is the debugger trying to find the assembly in this directory?

bin/Debug/net6.0/**ref**/

Notice the 'ref' in the path.  Not sure why it's looking there, as that directory isn't generated on build for me.

If you create the 'ref' directory and copy the assembly that you're trying to test into it, the debugger should work.

Definitely not an ideal solution however.  Hope this gets res

[2022-04-08 14:36] xobs commented on #5159
I see. Then there is a third issue in that it's not installed on-demand, nor is there any explanation about why that is. Are there issues already for these three issues?

1. The version shouldn't be hardcoded, it should print the actual version that's installed.
2. The name should reflect the name that's present in the version that's installed.
3. Setting `omnisharp.useModernNet: true` gives an un

[2022-04-08 14:37] basvandriel commented on #5128
@ahanusa It appears to be failing on the `Received response for /findusages but could not find request.` line. The test file does exist though.
[code]

[2022-04-08 14:39] ahanusa commented on #5128
@basvandriel what does your c# log look like?

[2022-04-08 14:47] basvandriel commented on #5128
The .NET and C# log are both empty. The .NET Test Log contains the following;

[code]

[2022-04-08 16:58] filipw commented on #5159
It did not install when you reinstalled extension with the flag turned on?

[2022-04-08 19:06] JoeRobich commented on #5159
@xobs Can you share the C# Log from the Output pane? It logs the attempt to acquire the O# build.

[2022-04-08 20:57] JoeRobich commented on #5155
@50Wliu In the `Log (Extension Host)` log in the VS Code Output Pane, is there any errors or mention of `csharp`?

[2022-04-08 21:16] abdollahkahne commented on #5091
I am not sure my problem is same as other but I propose some general tips:
* The first thing I should mention here is that I am using Visual Code Debian version and not the snap one which install automatically if we install it using `dotnet apt install code `(run command `snap list` to see if code is snap or debian).
* I decrease size of my workspace. It included more than 30 .Net project with lot

[2022-04-08 22:50] lonix1 commented on #5091
Thanks for the tips!

[2022-04-09 03:01] xobs commented on #5159
It did install, after I removed the extension and re-added it. The issue is that when I set `omnisharp.useModernNet: true` I was given the option to restart VS Code, but `OmniSharp for Windows (.NET 6 / x64)` was not downloaded. Instead, the user needs to remove the entire extension and re-install it with the setting already enabled.

It was surprising behavior, but if it's expected then it doesn'

[2022-04-09 19:20] marcospgp opened #5160 "Omnisharp stopped working"
## Issue Description ##

I'm using VSCode with Unity. Everything had been working properly for a long time, but today getting back to the project Omnisharp is not starting correctly. I believe a recent update to VSCode, Unity's VSCode package, or Omnisharp itself may be the culprit.

I have tried downgrading Unity's VSCode package, doing a clean install of VSCode (including deleting `.vscode` fold

[2022-04-09 23:59] victorcappa commented on #5008
Tried everything, but what seems to have solved the issue for me was deleting the "omnisharp use modern net" from the .json settings.

[2022-04-10 05:32] filipw commented on #5008
you need to make sure you do not have emulated x64 dotnet installed, but native arm64 dotnet

[2022-04-10 05:36] filipw commented on #5160
This error is coming from Roslynator which is en external component you must have installed, not part of this extension, which looks like is broken here.

Find the file ~/.omnisharp/omnisharp.json and remove all references to Roslynator from there.

[2022-04-10 13:04] marcospgp commented on #5160
@filipw Thanks for addressing this! I have not found a `.omnisharp.json` file in the `.omnisharp` folder though - the folder appears to be empty 😢

[2022-04-10 16:01] abdollahkahne commented on #5091
@lonix1
Today I encounter the problem again. I just copy a large Div from Google results with lots of css style and html elements inside and then save it. It shows Formatting before save for a while and I close the message. Also even after deleting it the message that shows again the message since it can not completed the last format and save (it shows them on index.razor__virtual.html yet) .After

[2022-04-11 03:04] doggy8088 commented on #4745
@StingyJack Can you confirm this issue still happening?

[2022-04-11 03:30] DarkFM commented on #5153
I'm also seeing the same issue on a separate system, this time its via SSH into WSL 2 on Windows 10 running `Ubuntu "20.04.3 LTS (Focal Fossa)"`

[2022-04-11 04:42] basvandriel commented on #1794
Still experiencing the issue on  OmniSharp `v1.24.3`. Running WSL2.

[2022-04-11 04:42] basvandriel commented on #1794
https://github.com/OmniSharp/omnisharp-vscode/issues/4021 related

[2022-04-11 18:13] StingyJack commented on #4745
Its not doing this anymore. =D

[2022-04-11 18:13] #4745 closed

[2022-04-11 20:40] Legenden84 opened #5162 "Omnisharp color hightligts not working properly"
![image](https://user-images.githubusercontent.com/97565175/162827758-d6fd44ad-6c19-402c-bd60-e30be982f33b.png)

Hello.

I seem to have problem with my color highligts as seen above. If i disable the C# extension in VS code. The highlighting is fixed, but I also need to extention do be enabled.

Any fixes that will correct this issue?

[2022-04-11 21:17] JoeRobich commented on #5162
@Legenden84 Can you share the OmniSharp Log from the VS Code Output pane? Also, what theme do you have configured?

[2022-04-12 01:12] MrDave1999 commented on #3545
This solved my problem, thank you!

[2022-04-12 01:21] JeremyCaron opened #5163 "Version 1.24.2 broke the "Pull <methodName> Up" refactoring on a method (1.24.3 is still broken)"
## Issue Description ##

The "Pull <methodName> Up" refactoring is no longer available on methods.  This is one of the refactorings I use the most and have had to revert to 1.24.1 to use it.

## Steps to Reproduce ##

Create an empty class that implements an empty interface.  Add a method to the class and Ctrl-. to get the refactorings list.  It should show "Pull <methodName> Up" but does not.

##

[2022-04-12 08:05] filipw commented on #5163
I will need to check this, however it was never intended to work in the first place.
We even have code and tests to explicitly disable it that has been in place for 3 years now.

https://github.com/OmniSharp/omnisharp-roslyn/blob/696cf2159f89a6c9e7bbc296e6eb95e76ac916ac/src/OmniSharp.Roslyn.CSharp/Services/Refactoring/V2/BaseCodeActionService.cs#L105
https://github.com/OmniSharp/omnisharp-roslyn/b

[2022-04-12 11:04] Legenden84 commented on #5162
@JoeRobich  thank you for he fast reply.
I did manage to isolate the problem. The problem was with the "C#" extention that i had installed. Recently was updated. So i downgraded it again for the time being.

[2022-04-12 15:40] steveoh commented on #3545
isn't there a dotnet core implementation now that does not need mono at all?

[2022-04-12 15:49] JoeRobich commented on #3545
Mono and MSBuild are no longer included with nightly builds of O#. See the announcement at https://github.com/OmniSharp/omnisharp-vscode/issues/5120

[2022-04-12 16:01] #5048 closed

[2022-04-12 21:13] 50Wliu commented on #5155
Nothing in `Log (Extension Host)`.

But in `Log (Remote Extension Host)`, I have:
[code]

Most OmniSharp/.NET commands error with "OmniSharp server is not running".

[2022-04-13 06:50] KaungZawHtet opened #5165 "For both of debug and release"
Better generate config info at launch.json for both of debug and release

[2022-04-13 07:28] 1055373165 opened #5166 "The 1 extension(s) below, in workspace recommendations have issues: ms-vscode.go (not found in marketplace)"
i  try usr the IBM BlockChain platform, when i open the vscode, system report this problem.
So i try resolve this problem.
In _**.vscode/extension.json**_
I see
{
    "recommendations": [
        "ibmblockchain.ibm-blockchain-platform",
        "ms-vscode.go"
    ]
}

when i change **.go** to **.Go**
this problem solved.....

[2022-04-13 07:37] nohwnd commented on #5166
Hello this is not the correct repository. We have nothing in common with golang extension for vscode. I think you meant this repository: https://github.com/microsoft/vscode-go which is archived. Your toolchain is probably outdated and should use some other GO extension.

Here is some guidance directly from vscode: https://code.visualstudio.com/docs/languages/go

If you still want to pursue this, a

[2022-04-13 07:37] #5166 closed

[2022-04-13 15:33] af4jm opened #5168 "OmniSharp doesn't work"
## Environment data
`dotnet --info` output:

.NET SDK (reflecting any global.json):
 Version:   6.0.101
 Commit:    ef49f6213a

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19044
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.101\

Host (useful for support):
  Version: 6.0.3
  Commit:  c24d9a9c91

.NET SDKs installed:
  3.1.416 [C:\Prog

[2022-04-13 15:49] af4jm commented on #5168
Update: while I was creating this issue, it loaded... I restarted VSCode and nothing happened for over 4 minutes, then OmniSharp started correctly, with Intellisense, etc. working on the project indicated in `defaultLaunchSolution` setting

The first line of the OmniSharp log "Starting OmniSharp server at ..." shows the time 4 minutes after VSCode launched.

OmniSharp: Select Project still does no

[2022-04-13 15:56] af4jm commented on #5168
LOL, now I go back to VSCode again and I have the list of projects to pick

so maybe I should rename to "OmniSharp is slooooooooow with useModernNet", although that doesn't cover the issues with that setting off

[2022-04-13 16:00] af4jm commented on #5168
to clarify, I should point out that no other VSCode extensions and no other apps on this PC behave this way... it's as if every OnmiSharp command has `sleep(250)` as its first step

[2022-04-13 16:35] ghost opened #5169 "[Feature Request] Cache analyzed code"
Sometimes you may have projects with various .NET language scripts, for example, in Unity you may get and link all C# Project files one of each other, making the analyze time of the full solution to be extremely slow and performance demandant, which slows down the whole computer.

I think it might be a good idea to add a functionality to cache the analyzed code of a solution, so instead of analyzi

[2022-04-13 16:49] JoeRobich commented on #5168
@af4jm Could you share the "csharp" and "omnisharp" related configuration from your VS Code settings?

Also, It would be beneficial from a fresh start of VS Code to get a copy of the "Log (Extension Host)" logs from the Output pane after opening the folder with your C# project.

[2022-04-13 16:55] JoeRobich commented on #5169
@usrDottik You may want to try setting "omnisharp.analyzeOpenDocumentsOnly" to "true" in your settings. This will limit analysis only to the open documents instead of the entire solution.

[2022-04-13 18:25] usrDottik commented on #5169
Thanks for that, made it so much better, though, I still think that my suggestion is a good suggestion

[2022-04-13 21:59] 50Wliu commented on #5155
Today I see this in the C# log (still nothing in OmniSharp):
[code]
Lemme try RDPing to the machine and seeing if it'll start up if I run VS Code visually on the remote.

[2022-04-14 01:31] DarkFM commented on #5153
Just updated the extension to `v1.24.4` and things seems to be working again.

I'll test again on a real Linux machine when I get the chance

[2022-04-14 08:08] mxschmitt opened #5170 "[Feature] Add support for potential fixes"
The VS Code extension is working great, but when e.g. implementing a new interface, I usually switch back to Visual Studio to get their feature of "applying potential fixes" which helps me to implement missing interface methods, apply linter suggestions, etc.

Is there a feature request for that already somewhere or is it out of scope for this extension?

[2022-04-14 08:51] chis-j opened #5171 "Problems list broken when Roslyn Analyzer is enabled"
Problems list is only showing issues from files just opened in editor if "Roslyn Analyzer" is enabled and  "Analyze Open Documents Only" is disabled.
This is true for Errors, Warnings and Infos (which are all _not_ filtered in the problems list).
Note: "Max Project File Count For Diagnostic Analysis" is set much higher than the actual file count and does not even show any effect when set to 0 or n

[2022-04-14 09:50] IanPNewson commented on #1811
@chrisrickard Hi, which file did you add `sudo` to? I'm running into a similar problem with VS2022 so I wanted to try your solution.

[2022-04-14 12:57] dchennaraidu commented on #4350
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/12108102/163394689-7b2e4ebe-7c8a-4805-9099-deeb9546ea82.png">

Even after quitting VSCode, around ~120 `rzls` process are still running

[2022-04-14 20:29] sercandumansiz commented on #4605
I've just faced with this issue (Bad CPU type) also on v1.24.4 C# Extension and .net 6 on m1 then I downgraded to v1.24.3 and Omnisharp installed correctly problem solved. I also upgraded to v1.24.4 again and working fine right now. Maybe it's good to check v1.24.4 also.

[2022-04-14 20:51] filipw commented on #4605
since we have a native build now, closing this issue

[2022-04-14 20:51] #4605 closed

[2022-04-15 02:44] JoeRobich commented on #5171
@chis-j Do you have an omnisharp.json in your solution folder or your user directory that might have "AnalyzeOpenDocumentsOnly" set to true?

[2022-04-15 02:47] JoeRobich commented on #4350
@NTaylorMullen Have you seen this behavior with rzls berfore?

[2022-04-15 16:14] NTaylorMullen commented on #4350
Maybe agess and ages ago. Nothing in the past year or so though

[2022-04-15 20:31] timanderson commented on #5093
I get the same error.

[2022-04-17 14:00] mig82 commented on #5133
It took me a while to figure out what this meant. So here's a screenshot for others to find it.
![image](https://user-images.githubusercontent.com/10434613/163717760-8875f123-2714-4d06-8b98-16705cadc36b.png)

[2022-04-18 15:59] lonix1 opened #5173 "File in ancestor Directory.Build.props not recognised"
## Environment data
dotnet: 6.0.202
VS Code version: 1.66.2
C# Extension version: 1.24.4

## OmniSharp log
none

## Intro
I want to have a common "global usings" file that applies to all projects in my workspace.

## Steps to reproduce
Consider this structure:
- src
  - Project1
    - Project1.csproj
  - Project2
    - Project1.csproj
- tests
  - Project1.Tests
    - Project1.Tests.csproj
  - Proj

[2022-04-18 16:45] JoeRobich commented on #5173
OmniSharp uses MSBuild to run a design-time build where we can get an accurate listing of code files in the project/solution.

I wonder if the issue would be resolved by using the following:
[code]

[2022-04-18 17:31] SeeminglyScience opened #5174 "Add a way to filter/group threads in the debugger call stack view"
Debugging a process with a lot of idle, external only or otherwise not relevant threads can be really tedious. It would be nice if there was a launch config or workspace setting I could use to group, sort, or deemphasize certain threads.

Mock up:

[code]

I imagine these groups appearing under any unmatched thread similar to `[More]`, `Static members` and `Non-Public` members in the variables vie

[2022-04-18 17:39] SeeminglyScience opened #5175 "Add an option to drop namespaces, assembly name, and project path from call stack frames"
Add an option to drop namespaces, assembly name, and project path from call stack frames:

![image](https://user-images.githubusercontent.com/24977523/163848731-cd39c81b-19ec-412e-bf34-0953616ea230.png)

Would change to:

[code]

## Environment data
`dotnet --info` output:

[code]

VS Code version:

[code]

C# Extension version:

[code]

[2022-04-18 18:55] WardenGnaw commented on #5175
There are two things here that would need to be done.
1. VS Code needs to expose a way in the UI to support modifying the call stack view if the debug adapter supports `supportsValueFormattingOptions` and toggle the options in [`StackFrameFormat`](https://microsoft.github.io/debug-adapter-protocol/specification#Types_StackFrameFormat)
1. The `corclr`/`clr` debug adapter needs to enable `supportsVa

[2022-04-18 19:11] WardenGnaw commented on #5174
We would need VS Code to support grouping threads at a higher level. At the moment, every [Stack Trace Request](https://microsoft.github.io/debug-adapter-protocol/specification#Requests_StackTrace) is done on a single thread and each thread is shown as its own top level node in the callstack window.

Once there is support for that, it may be possible set specific threads to a thread group based on

[2022-04-18 22:20] JoeRobich commented on #5170
@mxschmitt If you have `omnisharp.enableRoslynAnalyzers` set to `true` in your VSCode Settings then we should be analyzing your code and offering suggestions.

You can fix individual suggestions through the light bulb that appears on the line with Problems.
<img width="593" alt="image" src="https://user-images.githubusercontent.com/611219/163886639-127e49e3-6217-44e9-9359-cb447cb1947d.png">

<img

[2022-04-19 02:47] lonix1 commented on #5173
Hi @JoeRobich thanks - I tested your way in a console console project, and it works!

But in vscode, it doesn't. My .cs files have red squiggly marks with `The type or namespace name "Foo" could not be found (are you missing a using directive of an assembly reference?)`.

Where do you think the problem is? I didn't know which repo to put this in.

[2022-04-19 08:29] mxschmitt commented on #5170
I tried to enable the setting, but it does not yield to any differences. See for example this warning:

![image](https://user-images.githubusercontent.com/17984549/163958240-993f938a-fcb8-4a35-9a94-bd493f95e7d7.png)

After updating `Roslynator.Analyzers` from `3.0.0` to `3.3.0` it was working. Important to note here was the progress bar in the VS Code status bar (bottom of the application).

Closi

[2022-04-19 08:29] #5170 closed

[2022-04-19 09:56] chis-j commented on #5171
@JoeRobich No, I double checked that there is no "AnalyzeOpenDocumentsOnly" in any omnisharp.json

[2022-04-19 11:15] LarsBehl commented on #5038
Are there any updates on this issue? Like @CapClumsy I would prefer to stick to the default theme, instead of switching to the VS2019 one

[2022-04-19 15:40] CapClumsy commented on #5038
@LarsBehl Unfortunately no, I've just decided to deal with all the doc comments being green.

[2022-04-20 00:45] lonix1 opened #5178 "Extension remains in memory even after vscode is closed"
## Environment data
dotnet: 6.0.202
VS Code version: 1.66.2
C# Extension version: 1.24.4
OS: linux

## OmniSharp log
none

## Steps to reproduce
I often reload vscode during the day, because it gets slow, or to update extensions, or some other reason.

When I do, the extension is not unloaded from memory, and a new one is loaded. Over time, I have many of them in memory, taking up `inotify` instan

[2022-04-20 12:22] babula38 commented on #5171
Having the same issue.

[2022-04-20 12:24] af4jm commented on #5168
I don't have any "csharp" settings, these are the only Omnisharp ones... I'll grab a log when I fire up the work PC

[code]

[2022-04-20 14:57] jcreek commented on #4962
I can confirm @nohwnd's solution worked for me trying to get intellisense working within a remote container in vscode with omnisharp.

I've stuck my working config files up at https://www.jcreek.co.uk/web-dev/dev-environment-container-vscode.html in case they're useful to anyone else finding this issue.

[2022-04-20 16:03] af4jm commented on #5168
the crazy thing is working right now... must've been a something weird going on... I only have 1 PC (the work one) setup for dev, so  I couldn't try it on another box...  I guess I'll just blame electron (if there was a non-electron alternative to VSCode, I'd switch, precisely because of these perf issues... but any alternatives would have me run 2 things side-by-side, which is even worse)

[2022-04-20 16:03] #5168 closed

[2022-04-21 06:29] dreamMoli opened #5179 "omnisharp error"
When I open c# project ,omnisharp error...

## Environment data
`dotnet --info` output:
.NET SDK (reflecting any global.json):
 Version:   7.0.100-preview.3.22179.4
 Commit:    c48f2c30ee

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.14
 OS Platform: Darwin
 RID:         osx.10.14-x64
 Base Path:   /usr/local/share/dotnet/sdk/7.0.100-preview.3.22179.4/

Host (useful for support):

[2022-04-21 09:04] Sourabh1432 opened #5180 "omnisharp server is not running"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2022-04-21 09:04] Sourabh1432 commented on #5180
![Screenshot (42)](https://user-images.githubusercontent.com/93909878/164420402-2355ce29-ac26-4c70-b13e-23e2f6c04098.png)

[2022-04-21 09:27] Sourabh1432 commented on #5180
nothing is there in the omnisharp output

[2022-04-21 17:19] tngmrk77 commented on #4358
Hi @YaseenYo, where I must add ?
{
"msbuild": {
"useBundledOnly": true
}
}

[2022-04-21 17:36] JoeRobich commented on #4358
OmniSharp is removing their bundled MSBuild, see announcement https://github.com/OmniSharp/omnisharp-vscode/issues/5120

It is recommended to set "omnisharp.useModernNet" to "true" and have a .NET 6 SDK installed when working with .NET (Core) projects.

[2022-04-21 18:11] JoeRobich commented on #5180
@Sourabh1432 The C# extension expects that you have opened a folder in VSCode containing a .csproj or .sln file. Without the additional information from these files, O# wouldn't know what references to use with your C# file.

[2022-04-21 19:52] tngmrk77 commented on #4358
I don t know where set omnisharp.useModernNet to true ☹

Inviato da Posta<https://go.microsoft.com/fwlink/?LinkId=550986> per Windows

________________________________
Da: Joey Robichaud ***@***.***>
Inviato: Thursday, April 21, 2022 7:36:39 PM
A: OmniSharp/omnisharp-vscode ***@***.***>
Cc: tngmrk77 ***@***.***>; Comment ***@***.***>
Oggetto: Re: [OmniSharp/omnisharp-vscode] How to use .NET 5 SDK

[2022-04-21 20:13] tngmrk77 commented on #4358
Estension is downloaded but…
Can you please help me? If you connect remotely on my pc can you solve the problem?

***@***.***

Inviato da Posta<https://go.microsoft.com/fwlink/?LinkId=550986> per Windows

[2022-04-21 20:44] JoeRobich commented on #4358
@tngmrk77 Can you open a new issue describing the issues that you are seeing, please provide all the requested logs. The OmniSharp Log  & C# logs from the VS Code Output Pane will be most useful.

[2022-04-22 13:03] AlexTaran opened #5181 "Omnisharp server crashes on start"
OS: Linux mint 20.1

## Environment data
Checking dotnet version:
[code]
C# extension version: 1.24.4
VSCode version: 1.66.2

Opening VSCode, but it show the console with error:
## OmniSharp log
[code]

## Steps to reproduce
1) Installed c# extension for vs code
2) Installed mono like here: https://www.mono-project.com/download/stable/ (for latest ubuntu).

## Expected  behavior
C# autocomplete wo

[2022-04-22 15:50] ahanusa commented on #5128
Has any progress been made on this issue?  This bug is pretty crippling to my workflow :(

[2022-04-22 17:50] filipw commented on #5181
Mono stable is over 1 year old and quite outdated, you should try with preview Mono https://www.mono-project.com/download/preview/

[2022-04-22 18:00] RicardoValero95 opened #5182 "Partial syntax highlighting with records"
## Issue Description ##

Partial syntax highlighting when having multiple records in one file

## Steps to Reproduce ##

[code]

## Expected Behavior ##
Something similar to classes
<img width="306" alt="image" src="https://user-images.githubusercontent.com/55701657/164768363-83679833-105a-47d8-90f6-31c38cd86f15.png">

## Actual Behavior ##
<img width="411" alt="image" src="https://user-images.git

[2022-04-22 18:09] JoeRobich commented on #5182
This is an issue with the C# TextMate Grammar (https://github.com/dotnet/csharp-tmLanguage/issues). If you set `csharp.semanticHighlighting.enabled` to `true` you should see consistent highlighting.

Closing as I've opened an issue to track this bug.

[2022-04-22 18:09] #5182 closed

[2022-04-23 10:38] AlexTaran commented on #5181
Thanks, tried "preview", but error is the same :(

[2022-04-23 23:37] jtsom opened #5183 "Blazor - Javascript error in error log for __virtual file"
## Issue Description ##
In a simple HTML Blazor file with an edit form, errors are being shown in the error panel. Unsure the cause.

The razor file:

<img width="584" alt="image" src="https://user-images.githubusercontent.com/13488/164949504-f5a9c634-0438-455d-b9f4-b75dea0007b7.png">

The errors:

<img width="551" alt="image" src="https://user-images.githubusercontent.com/13488/164949511-d56a39b5

[2022-04-24 02:54] Tacodude7729 opened #5184 "Can't start OmniSharp server. Ripgrep process using 100% CPU"
## Issue Description ##
When I try to start VSCode, OmniSharp starts three processes like this;
[code]
These process use 100% of all my CPU cores and OmniSharp never starts. I believe this is because of a directory in my project which contains a wine prefix (and all the weird links are screwing with ripgrep), but when I put the below into my `omnisharp.json` in the project root, nothing about the

[2022-04-24 05:10] lonix1 opened #5185 "[Feature] Reread BannedApiAnalyzers analyser's config file when modified"
## Environment data
dotnet: 6.0.202
VS Code version: 1.66.2
C# Extension version: 1.24.4
OS: linux

## OmniSharp log
none

## Steps to reproduce
- Add [`Microsoft.CodeAnalysis.BannedApiAnalyzers`](https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/BannedApiAnalyzers.Help.md) analyser to `Directory.Build.props` or `Project.csproj`
- Add `BannedSymbols

[2022-04-24 11:47] tngmrk77 commented on #5120
Hi @JoeRobich, I set "omnisharp.useModernNet": false  for User and Workspace but intellisense's omnisharp dont'works
Can you help me please? :(
I have version VSCode 1.66.2 and extension C# version 1.24.4

[2022-04-24 16:37] JoeRobich commented on #5120
@tngmrk77 Can you please open a new issue and provide the requested OmniSharp Log and C# Log from the VS Code output pane?

[2022-04-24 16:43] JoeRobich commented on #5184
@Tacodude7729 So this looks like VS Code trying to locate files in the open folder that satisfy extension activation requirements. I think you should reopen the issue against https://github.com/microsoft/vscode/issues since it is not the C# extension that is running ripgrep.

[2022-04-25 05:13] cateyes99 commented on #4818
I investigated this issue. Turned out it's quite tricky.

See below code, when it's a decompiled source file (or called document in *the* implementation), it tried to add the decompiled document through `var maybeSpan = await GoToDefinitionHelpers.GetMetadataMappedSpan(document, symbol, externalSourceService, cancellationToken);`.
<details>
<summary>Extracted from <i>src\OmniSharp.Roslyn.CSharp\Se

[2022-04-25 05:14] cateyes99 commented on #4818
As all those relevant ones are readonly and in a 3rd lib, it cannot be fixed by adding the new decompiled document straightforward. But I did go further to try a fix by following the way how the normal source files have been added to the **Solution** instance.

So I passed the OmniSharpWorkspace instance `this._workspace` into GoToDefinitionHelpers.GetMetadataMappedSpan(...) as below.
<details>
<s

[2022-04-25 05:15] cateyes99 commented on #4818
So I cannot find an elegant way to fix this issue. Look like there may be some flaw in the V2 **Go To Definition** feature. But I figured out a workaround for now, and it does work actually. Hope it helps. Here is the [PR](https://github.com/OmniSharp/omnisharp-roslyn/pull/2390), please have a look. @filipw, @JoeRobich

[2022-04-25 20:08] antobom commented on #4489
edit worked for me !

[2022-04-25 22:10] TheTypicalDoge opened #5187 "OmniSharp Server will never load in VSC"
## Issue Description ##
OmniSharp server will never load leaving me with no intellisense for Unity.
Regardless of the value I set omnisharp.projectLoadTimeout, it will never load.
## Steps to Reproduce ##
Open VSCode, happens every time.
## Expected Behavior ##
OmniSharp server will load and intellisense will work.
## Actual Behavior ##
OmniSharp returns a server load time out error.
## Logs

###

[2022-04-25 23:26] JoeRobich commented on #5187
[code]

It appears that you have either an incomplete install of Visual Studio or an incomplete uninstall. You could use the Visual Studio Installer that is likely on your computer to either repair or uninstall this instance.

[2022-04-26 15:05] tehKaiN opened #5188 "Add deecting heap allocations / boxing in code"
## Issue Description ##

Is it possible to currently configure omnisharp or add functionality to have similar results like this resharper extension https://github.com/controlflow/resharper-heapview ? I know a bit of C# and JS so I could help with adding this, but I'd need some tips on where to start adding it in roslyn/omnisharp codebase.

## Environment information ##

**VSCode version**: 1.66.2

[2022-04-26 20:53] karolz-ms commented on #4607
The original scenario was addressed with the change that @WardenGnaw made, so closing this issue (the more general issue https://github.com/microsoft/vscode/issues/110889 remains)

[2022-04-26 20:53] #4607 closed

[2022-04-26 20:55] karolz-ms commented on #5102
@gregg-miskelly we came to the point in our schedule where we will need this, so I am going to try to come up with a PR if that is OK with you

[2022-04-26 21:30] gregg-miskelly commented on #5102
@karolz-ms Sounds great

[2022-04-27 00:46] TheTypicalDoge commented on #5187
Thanks @JoeRobich, something must have went wrong when I initially installed Visual Studio. I did a fresh reinstall and everything works properly.

[2022-04-27 00:46] #5187 closed

[2022-04-27 03:58] lonix1 commented on #3284
This still happens, even after upgrading to .NET 6 and the modern build of O#.

It's a major pain - is there a fix or workaround that doesn't involve closing vscode, killing processes, and restarting?

[2022-04-27 13:20] jtsom commented on #4957
4 months later and no response to this, which IS still happening...

[2022-04-27 13:49] ahanusa commented on #5128
Just a reminder that the culprit seems to be that the assemblies to debug live in a `ref` directory.

<img width="1738" alt="Screen Shot 2022-04-27 at 8 40 31 AM" src="https://user-images.githubusercontent.com/1224177/165533687-38f7d464-dc3c-477f-8304-5c352cc65508.png">

[2022-04-27 18:12] ajcolombini opened #5190 "Erro 'cmd' nao é reconhecido como um comando interno ou externo, um programa oper�vel ou um arquivo em lotes."
Issue Type: <b>Bug</b>

Instalar C# extensão

Extension version: 1.24.4
VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:46:01.075Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz (12 x 2592)|
|GPU Status|2d_canvas: enabled<br>canvas_oop_

[2022-04-27 18:12] ajcolombini opened #5191 "Falha ao iniciar ominisharp.exe"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## OmniSharp log

## Steps to reproduce

## Expected  behavior

## Actual behavior

[2022-04-27 18:13] ajcolombini commented on #5191
OmniSharp server started.
    Path: c:\Users\ajcol\.vscode\extensions\ms-dotnettools.csharp-1.24.4-win32-x64\.omnisharp\1.38.2\OmniSharp.exe
    PID: 13668

'cmd' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.
[ERROR] Error: OmniSharp server load timed out. Use the 'omnisharp.projectLoadTimeout' setting to override the default delay (one minute).

[2022-04-27 21:01] #5102 closed

[2022-04-28 00:16] cfierro-glb commented on #4417
@JoeRobich I installed the maui rc2 workload on MacOS. On vscode, Omnisharp does not seem to be resolving platform specific libraries with errors like:
[code]
Could you confirm if omnisharp currently supports maui projects, and if not, when can we hope to have that support? I've opted-in to use the latest server version. Right now, it is: `OmniSharp for OSX (.NET 6 / arm64), Version = 1.38.3-beta.

[2022-04-28 03:01] leaosomogyi-atlas commented on #5128
Any progress? I got a similar issue on ubuntu 22.04 (on 20.04 too), using .net5 and xunit 2.4.2-pre.12:

[code]

[2022-04-28 09:36] Jiangpeng14 opened #5193 "[M1]Debug should not be stopped if step into Console.WriteLine (F11) for IL symbols"
## Environment data
`dotnet --info` output:
m1e2e@m1e2es-Mac-mini ~ % dotnet --info
.NET SDK (reflecting any global.json):
Version: 6.0.203
Commit: a20feadf6d

Runtime Environment:
OS Name: Mac OS X
OS Version: 12.3
OS Platform: Darwin
RID: osx.12-arm64
Base Path: /usr/local/share/dotnet/sdk/6.0.203/

Host (useful for support):
Version: 6.0.5
Commit: 70ae3df4a6

.NET SDKs installed:
6.0.203 [/usr/

[2022-04-28 09:40] Jiangpeng14 commented on #5193
This issue only repro on Mac M1, not repro on Mac Intel Chip

[2022-04-28 14:36] amarraff opened #5194 "C# Extension Prevents Debug.Log() Suggestion in Unity Scripts"
Issue Type: <b>Bug</b>

1. Open a Unity Script from within the game engine in VS Code.  I am using Unity 2019.4.17f1. The script I opened up to edit was S_RayCastShoot as seen in the omnisharp output.
2. Ensure VS Code has no Unity extensions, and no C# Extension.
3. Inside of a function like "private void Awake()" type "Debug" without quotations. Debug will immediately come up in the suggested ke

[2022-04-28 16:40] JoeRobich commented on #5193
FYI @gregg-miskelly

[2022-04-28 18:26] #5194 closed

[2022-04-28 19:28] mystiquewolf opened #5195 "Could not execute because the specified command or file was not found"
## Steps to Reproduce ##
1. Enable `Use  Modern Net` setting.
## Expected Behavior ##
No issues
## Actual Behavior ##
There's an error in the path that the extension tries to load, see the OmniSharp log for the path
`You intended to execute a .NET program, but dotnet-/home/lyubotest/.vscode/extensions/ms-dotnettools.csharp-1.24.4-linux-x64/.omnisharp/1.38.2-net6.0/OmniSharp.dll does not exist.`
##

[2022-04-28 20:26] gregg-miskelly commented on #5193
@Jiangpeng14 I cannot reproduce this. A few questions:
1: Did symbol load for System.Private.CoreLib.dll and System.Console.dll? You can check in the output. Example:

[code]

2. What version of the .NET Runtime do you have installed?
3. If symbol do load, can you fix this by disabling ReadyToRun? [Instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Debugging-into-the-.NET-Framework-i

[2022-04-28 20:29] JoeRobich commented on #5191
It is very surprising that `cmd` would not be recognized on a Windows system. It could be the case that your Environment PATH variable does not include 'C:\Windows\System32\'. My suggestion would be to double check your System Environment PATH variable contains the System32 path.

[2022-04-28 20:30] JoeRobich commented on #5190
Closing as duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/5191

[2022-04-29 00:54] JoeRobich commented on #4417
@cfierro-glb I was able to get the WeatherTwentyOne sample app loaded with no error on my M1 Mac by performing the following steps (referencing https://github.com/dotnet/maui/wiki/macOS-Install).

- Install the 6.0.300 build of the SDK from [dotnet/installer](https://github.com/dotnet/installer/blob/main/README.md#installers-and-binaries)
- Clone the WeatherApp sample from https://github.com/david

[2022-04-29 01:17] Jiangpeng14 commented on #5193
[logs.txt](https://github.com/OmniSharp/omnisharp-vscode/files/8587540/logs.txt)
@gregg-miskelly thanks, for question 1, we check symbol load for System.Private.CoreLib.dll and System.Console.dll in the output, they load failed. For details, please see the attachment I uploaded.
For question 2, the runtime we installed is 6.0.5 arm64.

[2022-04-29 16:24] gregg-miskelly commented on #5193
@Jiangpeng14 The issue is that you have some sort of pre-release version of .NET 6 on you box, and those PDBs aren't on the symbol server since they are pre-release.

[2022-04-29 16:24] #5193 closed

[2022-04-29 16:37] JoeRobich commented on #5193
@gregg-miskelly Any thoughts about why it would appear to work with x64 bits?

[2022-04-29 16:39] gregg-miskelly commented on #5193
@JoeRobich My **guess** would be that @Jiangpeng14 is using a released .NET runtime on x64 and a pre-release runtime on arm64.

[2022-04-29 16:55] mystiquewolf commented on #5195
Thanks, this worked!

[2022-04-29 17:28] JoeRobich commented on #4417
It is certainly a highly requested feature - https://github.com/OmniSharp/omnisharp-vscode/issues/3754. I think long term we will need better support for it. We will just have to see how that gets worked into the road map.

[2022-04-29 17:29] cfierro-glb commented on #4417
Thanks for the link. I've subscribed for any updates

[2022-04-29 17:35] ghostfacepenetration opened #5196 "# The largest heading ## The second largest heading ###### The smallest heading"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## OmniSharp log

## Steps to reproduce

## Expected  behavior

## Actual behavior

[2022-04-29 17:36] ghostfacepenetration opened #5197 "# The largest heading ## The second largest heading ######"
[CODE_OF_CONDUCT.md](https://github.com/OmniSharp/omnisharp-vscode/files/8592635/CODE_OF_CONDUCT.md)

## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## OmniSharp log

## Steps to reproduce

## Expected  behavior

## Actual behavior

[2022-04-29 21:36] JoeRobich commented on #5184
Closing as issue is now open against VSCode https://github.com/microsoft/vscode/issues/148091

[2022-04-29 21:36] #5184 closed

[2022-04-29 21:37] JoeRobich commented on #5183
@ryanbrandenburg any ideas?

[2022-04-29 23:13] #5196 closed

[2022-04-29 23:13] #5197 closed

[2022-04-29 23:32] cateyes99 commented on #4818
Close it as the PR has been merged😄

[2022-04-29 23:32] #4818 closed

[2022-04-30 10:37] lonix1 commented on #4377
Working as of current version.

[2022-04-30 15:32] pucsdian commented on #3647
![image](https://user-images.githubusercontent.com/57708584/166112052-5c54a4e2-885e-40b3-ac38-69cea754229f.png)
turning this off Thanks it worked for me !!!!!!!

[2022-04-30 21:43] jake-carpenter commented on #4938
I've been putting up with a barely functioning OmniSharp for a while with .NET 6, but using `omnisharp.path: "latest"` and `omnisharp.useModernNet: true` seem to have solved it. I guess I'd rather put up with the potential bugs from running the latest than not having any intellisense or tooling at all.

[2022-05-01 02:37] ziaulhasanhamim commented on #3338
What is the progress on this?

[2022-05-01 07:56] lonix1 commented on #4377
Nope it's still a problem. The underlying parse doesn't like `jsonc`.

[2022-05-02 06:48] #2745 closed

[2022-05-02 09:46] patrickklaeren opened #5200 "Ordering of interface implementations is done alphabetically instead of declaration"
## Issue Description ##
When I choose to implement multiple methods of an interface, I expect the ordering of the implementations to be as per the ordering of the declaration.

## Steps to Reproduce ##
- Create `IFoo` and `Foo`
- Specify `A()`, `C()`, `B()` as members of the interface
- Implement `IFoo` in `Foo`, allowing VS Code to auto implement all members from `IFoo`

![WindowsSandboxClient_8r

[2022-05-02 15:00] riboyama commented on #5183
There isn't razor support for arm64 yet. Building https://github.com/dotnet/razor-tooling/releases/tag/v17.0-preview3
yourself with osx-arm64 in the csproj works fine. You can specify the path to the languageserver in settings.json

[2022-05-02 15:07] jtsom commented on #5183
Not sure how "arm64" vs not arm64 matters. Taking out the two On... parameters from the EditForm, but keeping the Model="" clears the errors.

[2022-05-02 15:09] riboyama commented on #4348
If you need blazor/razor language support on arm64 devices:

Clone [razor-tooling v17.0-preview3](https://github.com/dotnet/razor-tooling/releases/tag/v17.0-preview3)
Change `razor-tooling/src/Razor/src/rzls/rzls.csproj`, add on line 8: osx-arm64 or linux-arm64.

Follow the [razor-tooling build instructions](https://github.com/dotnet/razor-tooling/blob/main/docs/contributing/BuildFromSource.md)

G

[2022-05-02 18:37] PhilParisot commented on #490
+1
Java extensions have this

[2022-05-02 19:18] michael-hawker commented on #3338
🦙 The Uno VS Code extension is available in preview here: https://marketplace.visualstudio.com/items?itemName=unoplatform.vscode

Their getting started doc is here: https://platform.uno/docs/articles/get-started-vscode.html

[2022-05-02 20:09] WalissonPires commented on #490
+1

[2022-05-03 00:51] ThiagoT1 commented on #5128
Same here :(

[2022-05-03 03:43] lonix1 commented on #4250
Does anyone know if this is actually an omnisharp problem? (Otherwise we may get a faster fix by reporting in the correct repo.)

Not as bad as before though - now it shows errors and after a few seconds they disappear. But this happens all the time, so it still adds friction.

[2022-05-03 03:47] lonix1 commented on #4250
Still a problem with the latest version on .NET 6 (using O# "modern" build).

[2022-05-03 16:33] nunofachada commented on #5086
This is related with issue #3816

[2022-05-03 19:09] #5200 closed

[2022-05-03 21:02] JoeRobich commented on #4377
@lonix1 Sorry we didn't respond to this issue earlier. I believe it is VS Code sending your this error popup. I think you will want to report this issue at https://github.com/microsoft/vscode/issues

[2022-05-03 23:17] ultimaweapon commented on #5086
Looks exactly the same. I'll close mine.

[2022-05-03 23:17] #5086 closed

[2022-05-04 02:26] lonix1 commented on #4377
Thanks I've [done that](https://github.com/microsoft/vscode/issues/148679).

[2022-05-04 07:51] motion-x86 commented on #2598
Any updates on this thread? This feature is hugely needed! Currently it is extremely painful to navigate code which uses generic interfaces.

[2022-05-04 15:54] jtsom commented on #5183
Agreed. Just did a simple test on Windows 10 and am seeing the same issue. It is not related to arm64.

![image](https://user-images.githubusercontent.com/13488/166721260-45d60744-02d2-4f26-8841-e11482a1dee9.png)

[2022-05-04 21:23] JoeRobich commented on #5183
Closing because I opened https://github.com/dotnet/razor-tooling/issues/6350 against the razor-tooling repo.

[2022-05-04 21:23] #5183 closed

[2022-05-07 23:11] abdollahkahne opened #5202 "An small intellisense Issue in Case of ConfigMethod(Action<T1,T2>) with overload ConfigMethod(Action<T2>)"
## Issue Description ##
When there is an overload for a method like` ConfigMethod(Action<T1,T2>) `which accept one arguments as `ConfigMethod(Action<T2>)`, intellisense show methods of `T2` in `T1` in addition to `T1` methods and properties. Fortunately it show an error just after selecting the wrong method but it is not very easy to find its own properties and methods.
## Steps to Reproduce ##
Si

[2022-05-08 07:42] kentahikaru commented on #4881
Hello, i have the same problem.
In **Log(Extension Host)** i see:
[exthost] [warning] DiagnosticCollection with name 'csharp' does already exist.
[exthost] [error] [ms-dotnettools.csharp] provider FAILED
[exthost] [error] Problem invoking 'GetCodeActions' on OmniSharp server: Error: Request /v2/getcodeactions cancelled, id: undefined
[exthost] [error] [ms-dotnettools.csharp] provider FAILED
[extho

[2022-05-08 07:55] lonix1 commented on #4377
Apparently they don't think it's a vscode issue.

One more thing, the error shows this:

Source: C# (Extension)                          <----------

Any thoughts?

[2022-05-08 11:55] hannahchan commented on #5128
I've been experiencing this as well. It's crippling my C# workflow on macOS on a .NET 6 project. I wish I knew how to fix this.

[2022-05-08 12:00] ahanusa commented on #5128
I've been using Visual Studio for Mac solely for UT debugging purposes.  It works just fine.  However, having 2 editors/IDEs open for different purposes is hugely annoying.

[2022-05-09 03:29] CEbbinghaus commented on #1889
This is how I ended up getting it working. For anyone else interested, putting all needed projects into a single solution with
`dotnet sln` loads them all for intellisense and is therefore a decent workaround to anyone facing this issue. Of course this also means that if projects are added or removed they also have to be added and removed from the solution which can be a hassle at times. Really ho

[2022-05-09 03:49] 2239559319 opened #5203 "msbuild config file intellisense"
## Is your feature request related to a problem? Please describe.

Is it possible to support intellisense for msbuild config files like vs?

## Describe the solution you would like
When I edit a `csproj` file I can get intellisense like vs.

## Applicable Scenarios
msbuild file like `csproj` and custom configuration file.

## Describe alternatives you've considered
Is there any other plugin to sup

[2022-05-09 14:56] filipw commented on #5179
`"omnisharp.useGlobalMono": "never",` is no longer used in the latest server bits, because the embedded Mono has been removed (your settings opt into latest bits).

You should enable `"omnisharp.useModernNet": true"` instead to use the .NET 6 version rather than global Mono .

[2022-05-10 08:18] krosthw opened #5204 "MSBuildSdksPath ingored"
## Environment data
VS Code version: 1.67.0
C# Extension version: v1.24.4

## Steps to reproduce

1. Create 'omnipath.json' in project's folder
             `{
            "msbuild": {
          "MSBuildSdksPath": "C:\\Windows\\Microsoft.NET\\Framework\\v3.5"
        }
     }`

## Actual behavior
[code]
## Additional context

the MSBuild path is not overwritten.

[2022-05-10 09:14] filipw commented on #5204
This is a legacy configuration option that only works when

[code]

is also set.

[2022-05-10 11:49] krosthw commented on #5204
Thank you for the answer. But I can't see any difference in the OmniSharp output log.
Actually, I don't understand if omnipath.json has been considered or not

[2022-05-10 14:39] andrewms2013 commented on #490
+1

[2022-05-10 14:40] filipw commented on #5204
if you set `"omnisharp.loggingLevel"`:"debug"` in VS Code (not in the `omnisharp.json` file) it will show the full configuration state it observes, from that it will be visible whether the settings of your `omnisharp.json` file were included.

Note that `omnisharp.json` must be located in the root path of your solution.

[2022-05-10 15:32] heartacker commented on #490
Debugger: please support Edit and Continue feature

[2022-05-10 21:33] jmathew opened #5205 "How do I pass --nobuild to dotnet test when using 'Debug Tests' button?"
## Background
I have an aspnet core API project and a xunit test project. Ideally I would like to be able to debug the API and then also click this "Debug Tests" button to debug my tests as well.

![image](https://user-images.githubusercontent.com/1046234/167724374-2841bcb0-f090-44b2-9c6d-1c15f8810726.png)

## Problem
The test project has a project reference to the API so when I click Debug Tests,

[2022-05-11 06:30] dirkesquire commented on #5181
I have the exact same issue. Running MAC OS 12.2.1 and I get this error in the Omnisharp Output window whenever VS Code loads up or I run the command to 'Restart Omnisharp'.

[code]

[2022-05-11 08:14] filipw commented on #5180
Please make sure you open a folder with a C# project or a C# solution, otherwise OmniSharp will not be activated.

[2022-05-11 08:14] #5180 closed

[2022-05-11 10:44] dirkesquire commented on #5181
Thank you so much for the fix.
Is it possible you can give some general guidance about the best practice for mono - I believe that Omnisharp and dotnet is the only reason I have mono installed, so should I uninstall the global mono, or just use a local version of it. I don't know enough about it to know what is best. Clearly this has evolved a bit over the years as to which version used and a lot

[2022-05-11 11:07] filipw commented on #5181
Notice that the error is on the beta version of OmniSharp server - `1.38.3-beta.78`. It is there, because you must have the setting `"omnisharp.path":"latest"` enabled, which opts you into the latest build from master, which can be very unstable (as demonstrated by this particular bug). By removing this setting completely, you go back to the OmniSharp server bundled with the extension which should

[2022-05-11 16:45] #5181 closed

[2022-05-12 07:50] patnym commented on #4903
[basilfx](https://github.com/basilfx) Workaround "fixed" the issue 👍

[2022-05-12 10:22] hahn-kev commented on #1195
This is very strange. I decided I wanted to fix this issue, I started by reproducing with the current release version which I was able to do easily. Next I got the code running on my machine, however when I try to reproduce the bug it doesn't happen even if I do a prod build with the current release version v1.24.4 checked out. I'm not really sure how to properly debug the production version of th

[2022-05-12 10:56] JAYD3V commented on #1591
I don't write C#, but I have wrote Java, C & C++ in the past, and used VSCode, VS 2019/2022 & IntelliJ/CLion and I can say that VS Code has got better, but all of them had a better experience when using a `TRUE` IDE. Currently I write TypeScript as  the primary language for professional projects, and I run it not in the frontend, but with a V8 Runtime, (Node or Deno), and I can say this, VS Code i

[2022-05-12 14:52] leaosomogyi-atlas commented on #5128
I solved my problem on Ubuntu by uninstalling dotnet sdk for good and following this article:

https://docs.microsoft.com/pt-br/dotnet/core/install/linux-ubuntu#2004-

After a clean installation, omnisharp works fine and finally i could debug XUnit tests!

Hope this helps anyone

[2022-05-12 15:04] bestknighter commented on #3058
Another use case: I increased the project load timeout to try and debug some omnisharp behavior for bug report. The problem was that I mistyped 3600 instead of 360 and the only way I managed to stop it was by restarting my computer. Which I personally believe to be far from ideal.

[2022-05-12 20:17] ahanusa commented on #5128
I'm using MacOs.  Pretty frustrating that there has been zero traction on this.  I originally posted 1.5 months ago.

[2022-05-13 02:21] GuilhermeFrSaito opened #5206 "Can't run debugger using C# in VS Code"
## Issue Description ##
I'm just starting to code in C#, using VS Code with all the apparently needed extensions, but when I hit F5, the following message pops up on the lower right of the editor window:

"Cannot set properties of undefined (setting 'PYTHONPATH')"

**EVEN** if the "dotnet run" command in the terminal works fine. Just the debugger that doesn't run at all.

## Steps to Reproduce ##

[2022-05-13 07:34] Valther opened #5208 "Intellisense not showing correct choices"
## Issue Description ##
Intellisense doesn't show me expected choices. For exemple when I type `Console.`, intellisense gives me the choice of keyword `class` or `Generic`, but nothing linked to the Console class (for example no `WriteLine`).
## Steps to Reproduce ##
Type `Console.` then press `ctrl` + `space`
## Expected Behavior ##
Show meaningfull choices
## Actual Behavior ##
No relevant choic

[2022-05-13 07:40] #5208 closed

[2022-05-13 08:22] fortiasoft commented on #5178
Same here any workaround?

[2022-05-13 13:39] hannahchan commented on #5128
I primarily do .NET development on macOS and exclusively in vscode so this affects me a lot. I just tried my workflow using a vscode dev container. This bug appears there as well. The dev container image is Debian based and is from Microsoft. Can't really uninstall and reinstall it there to fix it.

[2022-05-13 14:36] tvardero opened #5209 "[Feature request] Add unit tests detection and use of native VS Code Testing UI"
## Is your feature request related to a problem? Please describe.
Currently there are no bug-free, or even in-develop extensions on VSCode marketplace for C# unit testing.

## Describe the solution you would like
https://code.visualstudio.com/api/extension-guides/testing

## Applicable Scenarios
Centralized view of unit tests, running them, going to their definition by clicking on them, etc...

##

[2022-05-13 17:20] gregg-miskelly commented on #5206
@GuilhermeFrSaito I have no idea why you would see an error like "Cannot set properties of undefined (setting 'PYTHONPATH')". What does your launch.json look like?

[2022-05-13 17:21] gregg-miskelly commented on #5206
In case it is helpful, here are the instructions: https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger.md. Make sure you have done step 3 under 'Once for each project'.

[2022-05-13 21:37] GuilhermeFrSaito commented on #5206
Hello Gregg, sorry I didn't answer earlier.
My launch.json file is as follows:
{
    "version": "0.2.0",
    "configurations": [
        {
            // Use IntelliSense to find out which attributes exist for C#
debugging
            // Use hover for the description of the existing attributes
            // For further information visit
https://github.com/OmniSharp/omnisharp-vscode/blob/master/de

[2022-05-13 21:49] TheRabbitSoup commented on #1377
As of 5/13/2022, this was the solution for me.

[2022-05-13 22:18] gregg-miskelly commented on #5206
Thanks. That all looks totally normal. I suspect you are running into a bug from one of your other extensions. Looks like you have an extension called 'python-path', so that would be my guess, though I could totally be wrong.

[2022-05-13 22:37] robertvazan opened #5212 "Root namespace with dots breaks namespace sync"
## Issue Description ##

I am trying to use https://github.com/OmniSharp/omnisharp-roslyn/pull/1563 to sync namespace after moving source file. It works for project named Foo but not in project Foo.Bar.

## Steps to Reproduce ##

Position cursor at Baz in the project shown below and press Ctrl+.

![Screenshot from 2022-05-14 00-29-47](https://user-images.githubusercontent.com/3514517/168397196-539

[2022-05-14 14:31] PPLong222 commented on #3763
Wow! That just perfectly solved my problem! Thanks.

[2022-05-15 08:31] SajidAminShah29 opened #5213 "Visual Studio Code Version 1.67.1 --- Issues with Quick Actions"
I was facing a issue in Visual Studio Code, version 1.67.1 (updated recently in 2022) --- Issue is that i have quick action active, but its giving very limited suggestion, such as only "initialize ctor from properties".

I have been working on a project since 1-2 months, it was working pretty cool before, giving suggestion in detail, like Generate overrides, extract interfaces etc.etc. but now i g

[2022-05-15 18:08] qslcna opened #5214 "Failed download source code file when debugging ."
## Environment data
`dotnet --info` output:
.NET SDK (reflecting any global.json):
 Version:   5.0.403
 Commit:    bf9d168ac2

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  20.04
 OS Platform: Linux
 RID:         ubuntu.20.04-x64
 Base Path:   /usr/share/dotnet/sdk/5.0.403/

Host (useful for support):
  Version: 5.0.12
  Commit:  7211aa01b3

.NET SDKs installed:
  5.0.403 [/usr/share/dot

[2022-05-15 18:19] qslcna commented on #5214
launch.json

[code]

[2022-05-15 18:26] qslcna commented on #5214
I have try :
* set vscode setting.json `"http.proxy"="http://localhost:1080"`
* set linux env `https_proxy=http://locahost:1080`

not working:(

[2022-05-15 20:00] Enver-Yilmaz commented on #5093
I get the same error, this may have happened when rosetta is not installed.

[2022-05-16 04:00] AntonKosenkoDX commented on #3338
I tried to open MAUI project using OmniSharp and struggled with `InitializeComponent()` method. OmniSharp can't find it and it leads to inability to get any staff from xaml in code behind.

[2022-05-16 09:13] mauroservienti commented on #5065
I'm having the same issue. A sort of workaround is to manually run a `dotnet restore` from the VS Code terminal and then from the command palette to restart OmniSharp (`OmaniSharp:Restart OmniSharp`). It's a sort of workaround, because then I'm getting plenty of the following in the logs:

[2022-05-16 15:53] scott-parkhill commented on #5063
I have a lot of trouble with the XML commenting in VS Code. I pretty much only use the summary tag because all the rest pretty much don't work for me. I wish they did, especially the `<param>` one.

[2022-05-16 18:51] JoeRobich commented on #5213
@SajidAminShah29 Sorry you are running into issues. Please share the OmniSharp Log from the VS Code Output Pane so that we can better assist you.

[2022-05-16 18:54] markdibarry opened #5216 "Incorrect syntax, errors, references, etc."
## Issue Description ##
Omnisharp regularly crashes. This results in references displaying in incorrect positions, hides errors and shows errors where there are none, incorrect syntax, etc. See below:
![image](https://user-images.githubusercontent.com/21325943/168661361-7c609a55-c427-49ba-a487-7effc727c630.png)

## Steps to Reproduce ##
Inconsistent. Will sometimes occur on save. Sometimes when mo

[2022-05-16 20:24] agabor commented on #5128
@ahanusa If you do create the "ref" folder and move the dll-s and other stuff there, the the debugger works :)

[2022-05-16 20:27] ahanusa commented on #5128
Yes, I have already mentioned in that previously, however, I refuse to copy and paste binaries to that folder every time I do a build.  I also don't feel like creating a script to do it for me as I have 20 projects in my solution.

[2022-05-16 21:29] JoeRobich commented on #5216
I suspect this is related to the "fileChanged" behavior that was introduced in https://github.com/OmniSharp/omnisharp-vscode/pull/5088

[2022-05-16 23:22] DasOhmoff commented on #1694
I have this same issue. Are there any news on this?

[2022-05-17 12:56] Igorgro opened #5217 "Quick fixes are duplicated when EnforceCodeStyleInBuild is enabled"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.67.1
C# Extension version: v1.24.4

## OmniSharp log
[code]

## Steps to reproduce

1. Open any .Net project
2. Add `<EnforceCodeStyleInBuild>true</EnforceCodeStyleInBuild>` directive to .csproj file

## Expected  behavior
Only one quick fix is shown only once per warning.

## Actual behavior
Quick fix suggestion is duplicated:

[2022-05-17 13:32] colejohnson66 commented on #5063
@scott-parkhill Apparently, their [documentation overlay parser](https://github.com/OmniSharp/omnisharp-vscode/blob/d1785942e51f3afee1d8e62b406ee46b35168c63/src/features/documentation.ts) only cares about `<summary>` and nothing else. That file hasn't been touched in two years.

[2022-05-17 13:59] awilkins commented on #3284
This isn't about the number of user watches : it's about the number of [inotify instances](https://unix.stackexchange.com/a/502359).

[code]

Most processes that use inotify use one instance. Even `systemd` only consumes 6 inotify instances.

Omnisharp is consuming **45** (and rzls is consuming another 5 - is this to do with how .NET handles file watching?).

The quick kludge is to bump `max_user_

[2022-05-17 15:27] lonix1 commented on #3284
Tomayto tomahto, you know what I mean :). inotify watches or instances, I'm talking about the same thing. And I use the same script as you, except in my case it's consuming 10s of thousands per omnisharp instance. Consider yourself lucky. I have to kill all those processes multiple times per day.

Agree with you that it's incredibly strange that omnisharp needs so many inotify instances. The next

[2022-05-17 18:47] Anamon commented on #4188
I'm on a completely new and pristine system, just installed VS Code (1.67.1), the .NET SDK (6.0.300), and its C# extension (1.24.4). I created a new minimal project, the standard .NET console template (Hello world), and I'm running into this issue. OmniSharp always times out, neither restarting VS Code, nor restarting the OmniSharp server, nor reinstalling the extension, nor increasing the timeout

[2022-05-17 18:53] scott-parkhill commented on #5063
Thank you @colejohnson66, seems like a weekend project possibly there.

[2022-05-19 06:38] markusschaber commented on #2041
Do you happen to have the SonarLint plugin installed? Maybe this is related to: https://community.sonarsource.com/t/omnisharp-using-tons-of-memory-while-using-rider/61184

[2022-05-19 08:33] ffMathy commented on #2041
Yes, I did at the time. That makes sense then.

[2022-05-19 15:11] #4647 closed

[2022-05-19 15:26] varnk commented on #1328
Has this issue been resolved?  I am facing a similar problem.  If I open a folder that contains C# projects, the extension will run a build in the background and cause an obj folder to be created.  This causes a problem if this folder is a Git repo that I am viewing, because suddenly Git will detect this folder and add it to unstaged changes, which causes some confusion because I didn't make any c

[2022-05-20 00:02] JoeRobich commented on #1328
@varnk As a workaround, it is recommended that both `bin` and `obj` folders be added to your repo's .gitignore file. Roslyn has a very complete .gitignore that you can reference - https://github.com/dotnet/roslyn/blob/2fd58951039e953cbd5a3735c8eb8426d35a4cfe/.gitignore#L18-L19

[2022-05-20 07:08] #5085 closed

[2022-05-20 08:19] NatanAmorim commented on #490
This feature would be awesome

[2022-05-20 10:11] jlorek commented on #4021
Same here. To enable the .NET Core Build of OmniSharp in VSCode, just add the following to your VSCode configuration:
´"omnisharp.useModernNet": true´

[2022-05-20 10:12] jlorek commented on #4021
Same here. To enable the .NET Core Build of OmniSharp in VSCode, just add the following line to your VSCode configuration:
´"omnisharp.useModernNet": true´

[2022-05-20 11:01] superman-lopez commented on #4556
I just started a brand new project, and still the same issue comes up for me.

[2022-05-20 11:48] ziaulhasanhamim commented on #490
Any news on this? Is it even possible?

[2022-05-20 15:48] ApeOnFire commented on #5216
I seeing this all the time as well, in multiple projects. Seems to be coupled with this exception in the OmniSharp Log:
[code]
Hopefully this helps a bit.

[2022-05-20 15:55] ApeOnFire commented on #5216
Getting a lot of these in the logs too:
[code]
It's actually almost unusable when refactoring. Don't suppose there might be a workaround while we wait for a fix?

[2022-05-20 16:05] #5216 closed

[2022-05-20 22:55] lonix1 commented on #5178
ubuntu 20.04, vscode 1.67.1, o# 1.24.4
Since I'm not the only one with this problem, it must be something particular to our setup.
If anyoe has tips for troubleshooting, please share. Let's try get to the bottom of this.

[2022-05-21 00:16] JoeRobich commented on #5120
These changes will be complete when [v1.25.0](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.25.0) ships.

[2022-05-21 19:41] Igorgro commented on #5216
Updated the extension, but having the following omnisharp error:
[code]
Not sure if it is connected to this one

[2022-05-22 04:20] jcotton42 commented on #4730
I also ran into this, put a minimal repro in this gist https://gist.github.com/jcotton42/563ee03f89a88e6707e67e3597ef6245
VS Code version info
Version: 1.68.0-insider (user setup)
Commit: 17c75e11805103026b943c8dc4d50a35f245f76f
Date: 2022-05-20T05:16:17.334Z
Electron: 17.4.4
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22000

C# extension version: 1.2

[2022-05-22 20:00] jcreek commented on #2041
I did not have SonarLint installed, so the issue has been present for me without that.

[2022-05-23 21:16] chamons commented on #5128
I am hitting this as well.

Doing some digging, it looks like we're trying to get the version from dotnet

https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Host/Services/DotNetCliService.cs#L133

and then reporting the error here:

https://github.com/OmniSharp/omnisharp-roslyn/blob/c6f1e848202d7fff16d52b81496b6980b436952d/src/OmniSharp.Abstractions/SemanticVersion.cs#L569-L5

[2022-05-23 21:37] chamons commented on #5128
I just tested this with the pre-release https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.25.0

No luck.

However, I was able to find a work around, I had a global.json in the test directory setting:

[code]

Renaming that file made it start working.

[2022-05-23 22:41] JoeRobich commented on #5128
@chamons Thanks for sharing your finding about you global.json.

If I have a project folder and add a global json requiring a version of the SDK that is not installed I see the following:
[code]

This, of course, will not parse as a semantic version and OmniSharp should add some special handling (or error message) for this case.

[2022-05-24 18:20] luke-atp opened #5222 "[ERROR] Error: Found dotnet version 5.0.403. Minimum required version is 6.0.100."
## Issue Description ##

Omnisharp server will not start when opening dotnet 5 project. The project was working earlier and stopped after a restart. The project files reference the correct version. There is no `global.json` file in the workspace or containing folders. I see no other omnisharp settings in the workspace or global for vs code.

## Steps to Reproduce ##

Open a dotnet 5 project.

## E

[2022-05-24 18:43] luke-atp commented on #5222
It looks like this is due to the most recent release. The 1.25.0 release no longer ships with Mono or the MSBuild tooling. In addition, the `omnisharp.useModernNet` is defaulted to `true`.

The important part is in the open issue #5120.

I installed a version of dotnet 6 and it is now working.

[2022-05-24 18:43] #5222 closed

[2022-05-24 19:11] JoeRobich commented on #5120
v1.25.0 has shipped with this change. A .NET 6 SDK is required when running with "omnisharp.useModernNet" set to "true", which is the default configuration.

[2022-05-24 20:59] vdbg opened #5223 "C# formatter broken in ms-dotnettools.csharp-1.25.0-linux-x64"
Trying to format a C# file with `ms-dotnettools.csharp-1.25.0-linux-x64` installed gives error message: "there is no formatter for 'csharp' files installed"

Reverting to `ms-dotnettools.csharp-1.24.4-linux-x64` fixes it.

VS version: code/stable,stable,now 1.67.2-1652812855 amd64 [installed]
OS version: Ubuntu 20.04.4 LTS

[2022-05-24 21:28] JoeRobich commented on #5223
@vdbg Please share your complete OmniSharp Log from the VS Code Output pane.

[2022-05-24 21:59] vdbg commented on #5223
[code]

Note: the extension auto-upgraded itself from `ms-dotnettools.csharp-1.24.4-linux-x64` to `ms-dotnettools.csharp-1.25.0-linux-x64`

[2022-05-24 22:04] JoeRobich commented on #5223
Starting in 1.25.0 O# will run by default against an installed .NET 6 SDK (see the announcement at https://github.com/OmniSharp/omnisharp-vscode/issues/5120). If you want to continue running against a system install of Mono, you can set `omnisharp.useModernNet` to `false` in your settings.

[2022-05-24 22:19] StacyCMay opened #5224 "Unhandled exception. System.BadImageFormatException"
## Issue Description ##
Unhandled exception. System.BadImageFormatException

## Steps to Reproduce ##
Upgraded to version 1.25.0

## Expected Behavior ##
CSharp extension loads without error

## Actual Behavior ##
Unhandled exception. System.BadImageFormatException
Could not load file or assembly '~/.vscode/extensions/ms-dotnettools.csharp-1.25.0-darwin-arm64/.omnisharp/1.39.0-net6.0/OmniSharp.dll

[2022-05-24 22:21] StacyCMay commented on #5224
Reverting to 1.24.4 works.

[2022-05-24 22:31] JoeRobich commented on #5224
@StacyCMay This likely means that you have the x64 build of the .NET SDK installed. If you uninstall and install the arm64 instead, it should start up fine. Sorry for the inconvenience.

[2022-05-24 22:42] vdbg commented on #5223
My system isn't on Mono

[code]

[2022-05-24 22:44] JoeRobich commented on #5223
@vdbg Then you will need to install the .NET 6 SDK.

[2022-05-24 22:55] vdbg commented on #5223
Yes, my issue is fixed.

It may make sense to disable auto-upgrades of packages on systems where the new required dependencies aren't met. Or to provide a direct explicit error message in the modal dialog (vs. "there is no formatter for 'csharp' files installed"). That'd would minimize the disruption to others.

[2022-05-25 03:59] vudzero commented on #5224
I can confirm that we must revert back to 1.24.4 if on a MacOS with M1 arm64 CPU and x64 dotnet SDK installed

[2022-05-25 08:19] tunbk1002 opened #5226 "linux version try to execute OmniSharp.exe"
about a week ago, I work with unity project without any issue. But now this thing happen
[code]

[2022-05-25 08:37] #5226 closed

[2022-05-25 12:06] JacobDeuchert opened #5227 "Show error message or set default when Max Project Results is 0"
## Is your feature request related to a problem? Please describe.

For some reason i had the _Max Project Results_ setting set to 0. With the previous versions this setting worked fine with but with the latest 1.25.0 version omnisharp did not start or logged any kind of output.

## Describe the solution you would like
I would be nice for other users which accidentally set the Max Project Results t

[2022-05-25 12:33] ElDuderini commented on #5224
This worked for me too, thanks!

[2022-05-25 13:29] liujinlong123 opened #5228 "version 1.25.0 "omnisharp.useGlobalMono" Disappeared"
## Environment data
`dotnet --info` output:

[code]

VS Code version: `version 1.67`
C# Extension version: `version 1.25.0`

## OmniSharp log

[code]

## Steps to reproduce

[code]

## Additional context
1. "omnisharp.useGlobalMono": "always" in vscode settings.json at version 1.25.0 turns to grey, and no setting in setting view.

2. however, when i reduce version to 1.24.4, "omnisharp.useGlobalMo

[2022-05-25 13:35] Verge300 opened #5229 "Omnisharp server not running"
- Issue Type: `Bug`
- Extension Name: `csharp`
- Extension Version: `1.25.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.67.2`

Hi no matter what i do my omnisharp server for my c# extension will not start up what can i do?

[2022-05-25 14:56] dfibuch commented on #5229
I've started getting the same problem today but cannot downgrade Omnisharp because the older version is not compatible with latest version of VSC. The error I'm seeing from Omnisharp is this

`[ERROR] Error: Found dotnet version 5.0.408. Minimum required version is 6.0.100.`

I'm running in a dev container on Linux so I just added this command to my Dockerfile and it now works

`apt-get -y install

[2022-05-25 16:23] #5223 closed

[2022-05-25 16:26] JoeRobich commented on #5228
Since OmniSharp no longer ships with an included Mono or MSBuild tools there is no need for the "useGlobalMono" setting and it was removed. See the announcement at https://github.com/OmniSharp/omnisharp-vscode/issues/5120

[2022-05-25 16:29] JohnSimon93 commented on #2074
Does anyone know why the VSCode user **setup** displays this whenever I open the executable file
![image](https://user-images.githubusercontent.com/106265732/170314133-27ea3570-3703-455c-b824-d7de246bfc9e.png)

[2022-05-25 16:55] awyl commented on #2851
On mac m1.  Every time omnisharp start, it leaves behind a `rzls` process.  So if I restart omnisharp or reload vscode window or completely closed vscode, it leaves behind one `rzls` each time.

This has been happening quite a while.

Currently on `1.38.3-beta.87-net6.0`.

Currently on

[2022-05-25 17:20] JoeRobich commented on #2074
@JohnSimon93 That question would be better answered at https://github.com/microsoft/vscode/issues. Also, please don't comment on closed issues unless it is related. Always feel free to open a new issue when you are running into trouble.

[2022-05-25 18:33] bdaduy opened #5230 "[MacOS] vscode didn't clean up child processes on exit"
## Issue Description ##
On launching .net core project on MacOS, vscode didn't clean up child processes on exit

## Steps to Reproduce ##
On MacOS, launch a typical (c#) .net core project (either .net 5 or 6), observing that several 'dotnet' processes are created in Activity Monitor

## Expected Behavior ##

all 'dotnet' processes are removed after stopping the debugging session or exiting vscode

[2022-05-25 19:08] gregg-miskelly commented on #5230
@bdaduy I believe your issue is a dupe of https://github.com/OmniSharp/omnisharp-vscode/issues/4325, but to make sure, you are talking about terminating any child process spawned by a launched app by the debugger. Correct?

[2022-05-25 20:16] gregg-miskelly commented on #5230
Thanks for confirming!

[2022-05-25 20:16] #5230 closed

[2022-05-25 20:16] esklarski commented on #5120
This seems to have completely broken Unity projects.

If I set useModernNet to `false` as suggested I just get a different error:
`
[info]: OmniSharp.Services.DotNetCliService
        DotNetPath set to /usr/lib64/dotnet/dotnet
[info]: OmniSharp.MSBuild.Discovery.MSBuildLocator
        Located 0 MSBuild instance(s)
Could not locate MSBuild instance to register with OmniSharp.
`

Or with useModernNe

[2022-05-25 20:52] wanieru commented on #5120
Having the exact same issue as @esklarski, I'm on Fedora 35.

[2022-05-25 21:01] JoeRobich commented on #5120
@esklarski From the error `Could not locate MSBuild instance to register with OmniSharp.`, It does not appear that your system install of Mono includes MSBuild. Which mono packages do you have installed?

[2022-05-26 01:30] mrchantey commented on #5120
fyi I wrote a [stackoverflow answer](https://stackoverflow.com/questions/72382611/) for how I got it working again on Windows.

[2022-05-26 01:51] liujinlong123 commented on #5228
[code]

And i use `apt install mono-complete`

[2022-05-26 01:53] liujinlong123 commented on #5120
Can you provide a solution on ubuntu ?

[2022-05-26 01:58] Liweitalent opened #5231 "Update to 1.25.0. I can't use F12，and check reference in Unity C# project."
## Environment data
`dotnet --info` output:
VS Code version: 1.67.2
C# Extension version:1.25.0

## OmniSharp log

## Steps to reproduce

1. Open Unity C# project
2. Use F12 can't go to defence.
3. can't check reference property
4. back to C#1.24.4 ,That errors is disappear

## Expected  behavior
A clear and concise description of what you expected to happen.

## Actual behavior

## Additional con

[2022-05-26 02:09] esklarski commented on #5120
I've done exactly as those instructions say.

`dnf install mono-develop`

I forget the exact version just now, 6 something.

[2022-05-26 02:20] liujinlong123 commented on #5120
# This is my steps:
1. mono: `sudo apt install mono-complete`
[code]
2. .net sdk:  `./dotnet-install.sh -c Current`
[code]

3. `Omnisharp` version is 1.25.0; `vscode` version is 1.67, settings.json
[code]

4. **but it still doesn't work**
[code]

[2022-05-26 02:54] Mister-Nebbers commented on #5231
Had the same problem, this posted helped.
https://github.com/OmniSharp/omnisharp-vscode/issues/5120#issuecomment-1092000572

After you change the setting, you'll probably have to restart VS Code and then the dependency will install for you, then it should work normally again.

[2022-05-26 03:56] dkeele commented on #5228
I'm having a similar log. It started two days ago out of the blue.
`This project targets .NET version that requires reference assemblies that are not installed`

[2022-05-26 04:11] ssaraswati commented on #4096
This is implemented now in 1.25.0 and should work in both Alpine and Debian based Docker images

[2022-05-26 06:33] liujinlong123 commented on #5228
Thank you! It bothered me all day until I reduced the version. Thanks for solving my problem on new version.

[2022-05-26 12:44] dandre9 commented on #5228
I was having the same problem, your solution solved for me. Thanks!!

[2022-05-26 14:11] ArtyIF opened #5232 "OmniSharp not working with legacy .NET projects on Fedora 36"
## Issue Description ##
OmniSharp has recently stopped shipping Mono with its installs. While on most Linux distros this causes no issues, on Fedora 36 this breaks non-SDK-style projects like Unity projects, since Fedora 36 does not ship Mono MSBuild anywhere in its repositories, which is required by OmniSharp for non-SDK-style projects.

## Steps to Reproduce ##
1. Use Fedora 36 (or any more-or-l

[2022-05-26 14:57] colejohnson66 opened #5233 "Documentation overlay only cares about <summary> tags"
## Steps to reproduce

1. Write an XML doc comment with more than just `<summary>`
2. Hover over the target of the doc comment
3. See that only the `<summary>` tag is shown.

## Expected  behavior
All the tags are parsed out and displayed on hover.

## Actual behavior
Only the `<summary>` tag is cared about.

## Additional context
The [file that handles the documentation overlay](https://github.co

[2022-05-26 17:01] esklarski commented on #5120
I did some checking and as far as I can tell msbuild is installed properly on my system.

[code]

Not sure why Omnisharp can't find it...

[2022-05-26 18:51] sharperDev2112 opened #5234 "GoToDefinition Not Working"
FYI, our GoToDefinition/GoToImplementation support is no longer available from VSCode's context menu nor F12. My C# VSCode extension was updated to 1.25 automatically recently so this is what we suspect.  Our projects are built on netcoreapp3.1 (x64) and we are using VSCode version 1.67.2.

More info:
.NET SDK (reflecting any global.json):
 Version:   5.0.408
 Commit:    da985e2a23

Runtime Enviro

[2022-05-26 19:02] JoeRobich commented on #5120
@liujinlong123 If you are trying to do Unity development, then you need to set `useModernNet` to `false`

From the output you shared:

[2022-05-26 19:05] JoeRobich commented on #5120
@esklarski Can you try the `mono-complete` package?

Mono does not use the dotnet SDK version of MSBuild.

[2022-05-26 19:07] JoeRobich commented on #4096
Thanks for confirming @ssaraswati. Closing this issue.

[2022-05-26 19:07] #4096 closed

[2022-05-26 19:09] #3535 closed

[2022-05-26 19:10] JoeRobich commented on #5234
@sharperDev2112 The C# extension now requires a .NET 6 SDK to be installed. See this announcement https://github.com/OmniSharp/omnisharp-vscode/issues/5120

[2022-05-26 19:11] JoeRobich commented on #5232
Full framework development now requires you to set `omnisharp.useModernNet` to `false` in settings. Please see the announcement at https://github.com/OmniSharp/omnisharp-vscode/issues/5120.

You will also need a complete system install of Mono and MSBuild. Please try the `mono-complete` package and let me know if that resolves your issue.

[2022-05-26 19:20] ArtyIF commented on #5232
No, it doesn't resolve the issue. The only dependencies `mono-complete` package installs that I don't have is `ibm-data-db2`, `mono-data-oracle`, `mono-reactive` and `mono-locale-extras`. And yes, I have `omnisharp.useModernNet` set to `false`.

[2022-05-26 19:45] esklarski commented on #5120
I have the mono-complete package installed, and v1.25.0 still breaks things.

[2022-05-26 20:17] JoeRobich commented on #5232
Thanks for checking on that package. I will not pretend I know anything about how these Fedora packages are maintained. Doing a search for a MSBuild package isn't turning up anything for Fedora (https://pkgs.org/search/?q=msbuild). I will keep investigating.

[2022-05-26 20:30] JoeRobich commented on #5232
Looks like there is a closed issue for an installable Mono MSBuild package for Fedora - https://github.com/mono/linux-packaging-msbuild/issues/18. One thought is you could convert the [Debian or Ubuntu .dep packages](https://pkgs.org/search/?q=msbuild) to .rpm in order to install MSBuild - https://www.systutorials.com/how-to-install-deb-packages-on-fedora/.

[2022-05-26 20:44] JoeRobich commented on #5120
@esklarski Lets continue this investigation on https://github.com/OmniSharp/omnisharp-vscode/issues/5232. Hopefully we can come up with a workable solution.

[2022-05-26 20:59] esklarski commented on #5232
Posting this here from #5120

As I can tell msbuild is installed properly on my system (Fedora 36).

[code]

Not sure why Omnisharp can't find it...

*EDIT*
I got it to work by downgrading the extension to 1.24.4, and adding the following to the settings.json:
[code]

From here upgrading to 1.25.0 breaks the MSBuild connection again. Seems 1.25.0 is the problem?

[2022-05-26 21:34] abdollahkahne commented on #5202
I close this issue since it does not seem very serious.

[2022-05-26 21:34] #5202 closed

[2022-05-26 22:46] JoeRobich commented on #5232
@esklarski Mono does not use the dotnet SDK MSBuild. You would need to check `msbuild -ver` to see if you have a proper install.

[code]

[2022-05-26 23:10] JoeRobich commented on #5232
Perhaps these instructions to install the CentOS mono packages would resolve the issue https://www.mono-project.com/download/stable/#download-lin-centos

[2022-05-26 23:16] PixelatedLagg opened #5235 "Starting Omnisharp throws System.BadImageFormatException and crashes"
## Issue Description ##
Starting Omnisharp throws System.BadImageFormatException and crashes

## Steps to Reproduce ##
Start Omnisharp

## Expected Behavior ##
Omnisharp working as normal without errors

## Actual Behavior ##
Omnisharp throws an error and crashes

### OmniSharp log ###
<details>
Starting OmniSharp server at 5/26/2022, 7:08:38 PM
    Target: c:\Users\pixil\Desktop\Impart

OmniSharp

[2022-05-26 23:21] JoeRobich commented on #5235
It appears you have the x86 SDK folder (`C:\Program Files (x86)\dotnet`) before the x64 SDK folder (`C:\Program Files\dotnet`) in your environment PATH. To fix this issue, update your System Environment PATH by removing the x86 folder.

[2022-05-26 23:43] liujinlong123 commented on #5120
Thanks!!

[2022-05-26 23:44] liujinlong123 commented on #5120
Thanks!!

[2022-05-26 23:49] liujinlong123 commented on #5232
"omnisharp.useModernNet": false, only set this one will take effect at 1.25.0, and delete others - "omnisharp.path": "",

[2022-05-27 00:00] esklarski commented on #5232
Okay, that answers that.

'msbuild -ver` returs `command not found...`

[2022-05-27 00:08] PixelatedLagg commented on #5235
Thanks, it worked!

[2022-05-27 00:08] #5235 closed

[2022-05-27 01:49] AlejandroHuerta commented on #5231
I tried that and it didn't fix the issue for me. Looks like OmniSharp is looking for DOT_NET_ROOT. Downgrading back to 1.24.4 works for me. I'm not going to expect this extension to fix the issue considering Unity has fallen so far behind the C# eco system.

        Starting OmniSharp on Windows 6.2.9200.0 (x64)
[info]: OmniSharp.Services.DotNetCliService
        Checking the 'DOTNET_ROOT' environ

[2022-05-27 03:16] BQgot commented on #5008
I have the same problem,
my solution if you use dotnet-sdk-6.0.300-win-x64 and net framework 4.7.1-devpack via VS Code 1.62.2:
in settings.json:
"omnisharp.useModernNet": true,
"omnisharp.dotnetPath": "[your dotnet.exe path]/dotnet"

[2022-05-27 04:36] DavidJVitale commented on #5120
I understand the need for breaking software changes like this, but please consider communicating this change in a more clear way to end-users. I have the latest `mono` installed, but `OmniSharp` server would completely silently fail and give no indication of what was wrong. Not every user of VS code would think to check this github page when that happens. Maybe a popup in vs-code linking to this a

[2022-05-27 06:07] v-xiaofchen opened #5237 "On Mac Intel, with SDK:3.1.420 x64 and latest C# extension:1.25.0 installed, debugging 3.1 project doesn't work in VSCode."
Environment:
VSCode: 1.67.2
C# extension:1.25.0

Repro steps:
1. Create a new project via CLI
2. Open the project in VSCode

Expected behavior:
VSCode pops up message "Required asserts to build and debug are missing from ‘11’. Add them?"
![image](https://user-images.githubusercontent.com/99376012/170640291-dc1f355c-14e6-4bff-a11c-e0418dd9f586.png)

Actual behavior:
Message "Required asserts to bui

[2022-05-27 06:08] v-xiaofchen commented on #5237
This issue is not repro on SDK:3.1.419/3.1.420 + C# extension:1.24.4 in VSCode.

[2022-05-27 07:45] esklarski commented on #5232
I tried this but there were dependancy conflicts and I know nothing about resolving those. I'll be looking into this, but I will also try talking to a Fedora person about the dotnet package.

[2022-05-27 10:49] ariok opened #5238 "Unity project - Omnisharp no longer works with dotnet 5.x"
## Issue Description ##
After updating C#extension to version 1.25.0 auto indentation error highlighting are not longer working. I've checked the Omnisharp log and I've seen this error:
[ERROR] Error: Found dotnet version 5.0.407. Minimum required version is 6.0.100.
Note dotnet 6.0 is installed on my machine.

## Steps to Reproduce ##
1. Launch VScode - check the OmnisharpLog

## Logs ##

### Omn

[2022-05-27 11:45] sharperDev2112 commented on #5234
(doh!) Thanks, @JoeRobich. Working now...

[2022-05-27 11:45] #5234 closed

[2022-05-27 15:24] HughGrovesArup commented on #5238
I hit this same error. I only have these SDK's installed

2.1.700 [C:\Program Files\dotnet\sdk]
2.2.203 [C:\Program Files\dotnet\sdk]
5.0.202 [C:\Program Files\dotnet\sdk]
5.0.400 [C:\Program Files\dotnet\sdk]

[2022-05-27 16:49] JoeRobich commented on #5237
@v-xiaofchen The C# extension now requires a .NET 6 SDK be installed when working with .NET Core/.NET SDK projects. See the announcement at https://github.com/OmniSharp/omnisharp-vscode/issues/5120

[2022-05-27 17:15] JoeRobich commented on #5231
@AlejandroHuerta If you are doing Full Framework development on Windows (`omnisharp.useModernNet`: false) then you will need to install the [Visual Studio MSBuild Tools](https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-studio-2022).

[2022-05-27 17:20] JoeRobich commented on #5238
@ariok It appears you have a .NET 6 runtime installed but not a .NET 6 SDK.

[code]

Unity development requires the use of the Full Framework build of OmniSharp. Set `omnisharp.useModernNet` to `false` in your settings and restart VS Code. A Full Framework runtime and MSBuild tooling is required when running in this mode.
  - Windows: .NET Framework along with [MSBuild Tools](https://visualstudio.

[2022-05-28 00:26] vidommet opened #5240 "Completions failure"
## Issue Description ##
None of the code actions are available
## Steps to Reproduce ##

## Expected Behavior ##

## Actual Behavior ##

## Logs ##

### OmniSharp log ###
[code]

### C# log ###
<details>Post the output from Output-->C# here</details>

## Environment information ##

**VSCode version**: 1.67.2
**C# Extension**: 1.25.0

<details><summary>Dotnet Information</summary>
.NET SDK (reflect

[2022-05-28 00:50] JoeRobich commented on #5240
@vidommet Can you please share a more complete OmniSharp log? Need to see it to understand how your projects are being loaded.

[2022-05-28 08:49] dwicahyo1512 opened #5242 "any solution, red omnisharp flame icon in status bar ?"
Starting OmniSharp server at 5/28/2022, 15:39:48
    Target: c:\Users\User\burung\burung.sln

OmniSharp server started with .NET 6.0.300
.
    Path: c:\Users\User\.vscode\extensions\ms-dotnettools.csharp-1.25.0-win32-x64\.omnisharp\1.39.0-net6.0\OmniSharp.dll
    PID: 9172

Unhandled exception. System.BadImageFormatException: An attempt was made to load a program with an incorrect format. (0x80070

[2022-05-28 08:51] dwicahyo1512 commented on #5242
![Uploading IMG20220528154014.jpg…]()

[2022-05-28 08:55] dwicahyo1512 commented on #5242
@akshita31

[2022-05-28 10:03] SaIG commented on #5008
Had the same issue ... and when installing the C# extension of vsCode it always downloaded the x64 version despite me having installed the arm64 dotnet version and deleted the x64 version.

Check if you have the old intel vscode version installed
![Bildschirmfoto 2022-05-28 um 12 01 44](https://user-images.githubusercontent.com/3542194/170820596-3160c988-8ebf-435e-b7e0-6dcb1a55acf7.png)
It said In

[2022-05-28 12:45] mystiquewolf commented on #4350
FWIW i don't have GB projects and i don't have crashes, BUT i do experience leftover rzls processes after closing VS Code.

[2022-05-28 16:52] roumcha opened #5243 "v1.25.0 doesn't suggest System.Console on .csx file and gives CS0103 error"
## Issue Description ##
When editing a script in a folder which contains omnisharp.json but no project, C# extension v1.25.0 gives CS0103 error for `System.Console`.

To avoid this, I need create a C# project in the folder.

Is this a bug or expected behavior since v1.25.0?

v1.24.4
![2022-05-28](https://user-images.githubusercontent.com/68161142/170832899-0182b4aa-18b6-4b6d-a759-0045d9797653.png)

[2022-05-28 19:52] JoeRobich commented on #5242
@dwicahyo1512 It appears you have the x86 SDK folder (`C:\Program Files (x86)\dotnet`) before the x64 SDK folder (`C:\Program Files\dotnet`) in your environment PATH. To fix this issue, update your System Environment PATH by removing the x86 folder.

[2022-05-28 19:59] JoeRobich commented on #5243
@roumcha You really are on the cutting edge if you have a .NET 8 SDK installed. =)
[code]

@filipw Should we update the script support to use default references based on which TFM O# was built against?

[2022-05-28 22:55] NinjaNezumi opened #5244 "Syntax Correction/Highlighting has Vanished in VSC"
HI everyone!

So, apparently OmniSharp broke, I don't know why or how, and it took me a half dozen uninstalls and reinstalls.  At one point I accidentally installed x86 dotnet.  Well, I also installed and reinstalled the main version of VS.

Whatever happened, it now works.

## Issue Description ##

As of 1 week ago (or so) my VSC stopped showing syntax issues with my code.  The red wavy lines dis

[2022-05-29 00:06] DarkSystemCD commented on #617
Enable folding only to **regions**; by disabling all other foldable that are not regions;

[2022-05-29 04:28] roumcha commented on #5243
@JoeRobich Oops, I will fix it🙃

[2022-05-29 13:19] Bolisk commented on #5244
I use unity to create game apps and VSCode is constantly loosisng intellisence. Please fix a stable solution to not have to constantly search for workarounds, or anounce that VSCode should not be used with unity!!

[2022-05-30 01:49] kmcfate commented on #5120
To fix Intellisense/Omnisharp use https://launchpad.net/~eofla/+archive/ubuntu/msbuild and install the msbuild and msbuild-roslyn packages. Also make sure omnisharp.useModernNet is false and the mono-complete package is installed.

[2022-05-30 06:56] filipw commented on #5244
Since version 1.25.0 the extension moved by default to .NET 6.0 build of Omnisharp. For Unity development (see https://github.com/OmniSharp/omnisharp-vscode/issues/5120#issue-1174145025 for more details) you have to set the `omnisharp.useModernNet` option to `false`.

[2022-05-30 06:56] #5244 closed

[2022-05-30 06:57] filipw commented on #5244
with regards to this error, see https://github.com/OmniSharp/omnisharp-vscode/issues/5242#issuecomment-1140321376

[2022-05-30 07:05] rkb-ravi opened #5245 "C# 1.25.0 causing code editing issues"
Finally found the solution.
Downgrading C# extension to 1.24.4 worked.
Its a problem with C# 1.25.0 update that caused problems with outlines; which also caused problem with C# editing support, including Syntax Highlighting, IntelliSense, Go to Definition, Find All References, etc. Downgrading to previous version, solved these issues :)

_Originally posted by @rkb-ravi in https://github.com/micros

[2022-05-30 07:09] filipw commented on #5224
I will close this because it is the expected behavior.

Having just the emulated x64 on arm64 is not the supported scenario by OmniSharp. However, you can *first* install arm64 dotnet, and then install x64 dotnet in which case, dotnet installer places it under the x64 folder:

 - `/usr/local/share/dotnet` is now your (default) arm64 dotnet
 - `/usr/local/share/dotnet/x64` is now your x64 dotnet

I

[2022-05-30 07:09] #5224 closed

[2022-05-30 07:11] filipw commented on #5228
Glad to hear it helped - and sorry for any convenience.

[2022-05-30 07:11] #5228 closed

[2022-05-30 08:14] ElDuderini commented on #5224
Would you happen to know how I would go about setting my default base path to the arm64 SDK? I installed x64 first and I just installed arm64 today but I don't know how I get dotnet linked to that new SDK. When I type in dotnet --info it still gives me information about the old x64 SDK with the incorrect base path.

[2022-05-30 09:44] filipw commented on #5224
This is mostly outlined here by Rich https://github.com/dotnet/sdk/issues/22380#issue-1039006924
Ideally you would nuke the old x64 installation using

[code]

Then you would first install arm64 dotnet as this is the recommended variant for arm devices, and if you still need x64 for some specific reason, you install it second. Then arm64 dotnet is your "main" one, and you can "opt into" x64 by eit

[2022-05-30 10:57] filipw commented on #5223
It is also worth mentioning that .NET 5 has reached the end of life already https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core

[2022-05-30 11:03] filipw commented on #5243
I will move this to OmniSharp Roslyn. Indeed, it would make sense to use default references based on O# TFM.

[2022-05-30 14:25] denravonska commented on #5228
I'm generally confused about the whole .NET ecosystem, but I noticed that format on save (or manually) no longer works in VSCode under Linux. Is this related or are both my installations broken for some other reason?

[2022-05-30 22:56] #5227 closed

[2022-05-31 02:47] ghzhouxin commented on #5237
How can I set .NET core sdk version to 3.1.4xx for .NET core 3 project?
When I set it in vscode settings like this:
<img width="768" alt="image" src="https://user-images.githubusercontent.com/44893547/171082761-d8ff2eb8-888a-43c1-a13c-b180bddff27a.png">
Omnisharp show log:
        The Sdk version specified in the OmniSharp settings was not a valid semantic version. Configured version is ''3.4.419'

[2022-05-31 05:41] hanjiankang commented on #4903
@basilfx 's workaround worked for me! thanks mate!

am running:
- Mac OS 11.6.6 Big Sur
- .Net SDK 6.0.3
- Azure Functions Core Tools 4.3.2.18186
- VS Code 1.67.3 with extensions:
    - C# v1.25
    - Azure Functions v1.6.0

[2022-05-31 07:45] gfigueras-sage commented on #5245
Having the same issue. Also, tests can't be run or debugged individually.

[2022-05-31 10:21] filipw commented on #5245
Please see the announcement https://github.com/OmniSharp/omnisharp-vscode#the-c-extension-no-longer-ships-with-an-included-mono--msbuild-tools

and the related issue https://github.com/OmniSharp/omnisharp-vscode/issues/5120

TL;DR
- ensure .NET SDK 6 is installed
- for .NET Core (and newer) development this should be enough
- for Unity / .NET Framework development, set `"omnisharp.useModernNet" :

[2022-05-31 10:23] filipw commented on #5229
Please see the announcement https://github.com/OmniSharp/omnisharp-vscode#the-c-extension-no-longer-ships-with-an-included-mono--msbuild-tools

and the related issue https://github.com/OmniSharp/omnisharp-vscode/issues/5120

TL;DR
- ensure .NET SDK 6 is installed
- for .NET Core (and newer) development this should be enough
- for Unity / .NET Framework development, set `"omnisharp.useModernNet" :

[2022-05-31 10:27] filipw commented on #5188
This is already possible by adding https://www.nuget.org/packages/ClrHeapAllocationAnalyzer/ to your project.

You need to ensure you have Roslyn Analyzers enabled in OmniSharp, by adding the following to your [omnisharp.json](https://github.com/OmniSharp/omnisharp-roslyn/wiki/Configuration-Options) file

[code]

[2022-05-31 17:09] JoeRobich commented on #5237
@ghzhouxin O# requires .NET 6 SDK installed. The .NET 6 SDK can still build apps that are targeting netcoreapp3.1. For running apps built against netcoreapp3.1 you would only need a .NET Core 3.1 runtime to be installed.

[2022-05-31 17:51] JoeRobich commented on #5224
@adamshaylor We can look at adding an option for Mac users to override the detected architecture. But until a change like that goes in, you have a couple options at this time:
- Downgrade to 1.24.4 and turn off auto-update
- Set `omnisharp.useModernNet` to `false` and install the preview Mono (https://www.mono-project.com/download/preview/). The preview release ships with a 16.10 MSBuild which can

[2022-05-31 18:37] cpozos commented on #5242
I had this issue in Mac. Take a look at this [comment](https://github.com/OmniSharp/omnisharp-vscode/issues/5132#issuecomment-1142446803)

[2022-05-31 18:50] adamshaylor commented on #5224
We’re also looking into migrating to PostSharp metalama. It’s not a one-to-one replacement, but if we understand correctly, uses Rosylyn under the hood and therefore in theory would allow us to run .NET natively on Arm architecture if we can port our existing code to use it.

[2022-05-31 21:37] Danielhsc commented on #5242
I had the same problem and I fixed it by changing the path in .zshrc
from
`export PATH="/usr/local/share/dotnet/x64:$PATH"`

to
`export PATH="/usr/local/share/dotnet:$PATH"`

[2022-06-01 01:36] bestknighter opened #5246 "Code formatting misbehaving"
## Issue Description ##
I'm triggering a Code Format but the behaviour sometimes is not as expected. I've been trying to debug this for a while now with no success. I'd love some help on this.

I have a Unity Project setup and I'm trying to setup an `.editorconfig` to enforce some rules. When I delete the `.sln` and all `*.csproj`, and then restart the O#, the `.editorconfig` is properly read, but

[2022-06-01 02:05] ghzhouxin commented on #5237
Thanks for your help.

[2022-06-01 09:56] Mubeyd commented on #5231
- Set VS Code update mode to 'none'
- Downgrade the VS Code version to February 2022 (version 1.65)
- Downgrade the C# extension version to v1.24.4
everything will be fine 💯

[2022-06-01 15:50] bigyihsuan opened #5247 "Omnisharp failing due to `System.IO.IOException: The process cannot access the file ... because it is being used by another process`"
## Issue Description ##
When saving a C# file (`/filesChanged`), Omnisharp fails due to a `System.IO.IOException`, stating that it is being used by another process.

## Steps to Reproduce ##
1. Create a new project.
2. Have Omnisharp set to format on save.
3. Make changes to a C# file.
4. Save or otherwise trigger the `/filesChanged` command.

## Expected Behavior ##
The C# file should be formatte

[2022-06-02 03:08] #2802 closed

[2022-06-02 07:02] esklarski commented on #5232
So I don't think the mono-project thing is going to work...
[code]

¯\_(ツ)_/¯

[2022-06-02 07:06] ArtyIF commented on #5232
Downgrading to 1.24.x or earlier works as a workaround for now, but is obviously undesired

[2022-06-02 08:20] yinjiehe01 opened #5248 "Some problems occurred when opening razor in VScode"
## Environment data
VS Code version:1.67.2
C# Extension version:1.25.0

## Steps to reproduce

1. Clean Mac machine
2.install SDK 7.0.100-preview.5.22276.4
3. Create a new razor project and open it in VS code
4. Razor projects loaded successfully with some problems

## Expected behavior
razor project loaded successfully without problems

## Actual behavior
Razor projects loaded successfully with s

[2022-06-03 01:35] JoeRobich commented on #5232
@esklarski On a fresh Fedora 36 install I ran the following successfully.

[code]

Then checked the msbuild version

[code]

<details>
  <summary>See terminal output.</summary>

[code]

</details>

[2022-06-03 06:20] esklarski commented on #5232
Okay, I can confirm everything seems to be working properly now. Thanks for the help.

Fedora users beware of orphaned mono packages ;-)

[2022-06-03 07:15] vindicatorr opened #5249 "Coredump Instead Of Caught Exception While Debugging An Incorrect DllImport Invocation"
## Issue Description ##
When I pinvoke a method inside of a `try...catch`, it isn't caught when I debug in vscode.
## Steps to Reproduce ##
[code]
## Expected Behavior ##
Catch the error WHILE debugging in vscode.

## Actual Behavior ##
Exception isn't caught (even with `System.AppDomain.CurrentDomain.UnhandledException` also set) WHILE debugging in vscode...
BUT, it IS caught when running the con

[2022-06-03 09:06] cathalmchale commented on #5212
Seeing this as well. Bit of a problem alright as the majority of our root namespaces contain dots.

[2022-06-03 16:38] gregg-miskelly commented on #5249
This isn't a problem with this extension -- it sounds like something in the target process has decided that these binding failures should be treated as fatal and is causing the process to abort before the .NET runtime has a chance to convert that failure into an exception.

I will see if I can help get you to the right place.

Questions:
1. Does this work correctly if you Ctrl-F5 from VS Code?
2.

[2022-06-03 23:53] #5066 closed

[2022-06-04 05:18] vindicatorr commented on #5249
Weird, I had advanced on the issue (incorrect dll), and went to revert everything so I could reproduce while answering your questions, but now my initial issue is no longer behaving that way.

I had closed vscode before so I didn't have the full CTRL+Z history. Because I had so few lines of code, I am sure I reverted it well, but can't reproduce the initial dumping issue.

1. It didn't dump for th

[2022-06-04 05:33] burtonrodman opened #5251 "OmniSharp crashes with System.AccessViolationException"
## Issue Description ##
OmniSharp crashes with System.AccessViolationException

## Steps to Reproduce ##
Opened my .Net 6 solution folder (containing a Razor Pages project, Razor Class Library, several other class libraries and xunit projects)
Hit F5 to start debugging

## Expected Behavior ##
OmniSharp doesn't crash

## Actual Behavior ##
OmniSharp crashes with a System.AccessViolationException

[2022-06-04 09:18] ahmethanfurkan opened #5252 "v1.25.0 C# extension not working - Unity 2021 & 2020"
Issue Type: <b>Bug</b>

Using Unity 2021 & 2020, C# extension old version (ex: v1.24.4) working but v1.25.0 codes not working (IntelliSense), no errors.

Extension version: 1.24.4
VS Code version: Code 1.67.2 (c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5, 2022-05-17T18:15:52.058Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>A/B Experiments</summary>

[code]

</details

[2022-06-04 13:04] szymi-dev opened #5253 "IntelliSense has stopped working. Quick fix is not working , it is popping "No code actions available""
So I set up VSCode on Windows10 for .NET 5.0 development but the Quick Fix to automatically import namespaces won't work at all. It was working fine until the update of IDE. I can't no longer see the yellow bulb when I hover mouse over the class namespace. Moreover when I click "Ctrl + ." it says "No code actions available". Now I'm struggling with importing libraries manually...[enter image descr

[2022-06-04 16:15] filipw commented on #5252
Please see the announcement https://github.com/OmniSharp/omnisharp-vscode#the-c-extension-no-longer-ships-with-an-included-mono--msbuild-tools

and the related issue https://github.com/OmniSharp/omnisharp-vscode/issues/5120

TL;DR

 - ensure .NET SDK 6 is installed
 - for .NET Core (and newer) development this should be enough
 - for Unity / .NET Framework development, set "omnisharp.useModernNet"

[2022-06-04 16:15] #5252 closed

[2022-06-04 20:40] ghandmann commented on #4098
Today i noticed the exact same issue.

Everytime i create a new file and create a new class inside of it, i get the "Namespace already contains a definition" error.

Compiling the exact same state via `dotnet build` works flawless.

## Step-by-Step Reproducer
1) Create a new console app with `dotnet new console`
2) Load the new app via VSCode
3) In the Project-Directory-Tree right click and select

[2022-06-05 02:00] yj12138 opened #5254 "Could not locate MSBuild instance to register with OmniSharp."
Could not locate MSBuild instance to register with OmniSharp.

[2022-06-06 02:55] yinjiehe01 commented on #5248
Here is the log from the VS Code Output Pane.
![Screen Shot 2022-06-06 at 10 48 53](https://user-images.githubusercontent.com/106043488/172086641-9b3ac445-961c-4a41-89a7-42216035f61f.png)

[2022-06-06 17:46] JoeRobich commented on #5254
@yj12138 If you are running with `omnisharp.useModernNet` as `false` then you will need to ensure that MSBuild Tools are installed. See the requirements at https://github.com/OmniSharp/omnisharp-vscode#requirements. We will work on providing a popup to help in this scenario.

[2022-06-06 17:47] JoeRobich commented on #5248
@yinjiehe01 Sorry, your screenshot is the Razor Log, can you change to the OmniSharp Log in the dropdown?

[2022-06-06 21:29] 50Wliu commented on #5155
Remoting in worked fine.

Now I see this in the extension host log:
[code]

[2022-06-07 07:32] yinjiehe01 commented on #5248
@JoeRobich Sorry, that's my mistake, the below is the OmniSharp Log.
Starting OmniSharp server at 6/7/2022, 3:11:53 PM
Target: /Users/m1e2e/test1/razor

OmniSharp server started with .NET 7.0.100-preview.5.22305.3
.
Path: /Users/m1e2e/.vscode/extensions/ms-dotnettools.csharp-1.25.0/.omnisharp/1.39.0-net6.0/OmniSharp.dll
PID: 966

[info]: OmniSharp.Stdio.Host
Starting OmniSharp on Unknown 0.0 (Unkn

[2022-06-07 08:41] woyoh commented on #4903
@basilfx thanks

[2022-06-07 15:06] justPaulo opened #5256 "Exception. System.BadImageFormatException"
Starting OmniSharp server at 6/7/2022, 3:57:49 PM
    Target: /Users/user/app

OmniSharp server started with .NET 7.0.100-preview.2.22153.17
.
    Path: /Users/user/.vscode/extensions/ms-dotnettools.csharp-1.25.0-darwin-x64/.omnisharp/1.39.0-net6.0/OmniSharp.dll
    PID: 54684

Unhandled exception. System.BadImageFormatException: An attempt was made to load a program with an incorrect format.
 (0x

[2022-06-07 15:46] theAnoOfEarth opened #5257 "1.25 is messing with intellisense, no completion/intellisense, no methods recognized... reverting to 1.24.4 makes everything ok"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## OmniSharp log

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected  behavior
A clear and concise description of what you expected to happen.

## Actual behavior

## Additional context
Add any other context about the problem here.

[2022-06-07 16:22] JoeRobich commented on #5248
Looks like a fix has gone into Roslyn (https://github.com/dotnet/roslyn/pull/61675). This should be resolved after we take a new build of O#.

[2022-06-07 16:41] JoeRobich commented on #5257
@theAnoOfEarth In 1.25.0 we no longer ship with MSBuild tooling (see announcement at https://github.com/OmniSharp/omnisharp-vscode/issues/5120). Please ensure you have the requirements installed see https://github.com/OmniSharp/omnisharp-vscode#requirements. If you still have troubles, please open a new issues and provide the requested logs and information.

[2022-06-07 16:41] #5257 closed

[2022-06-07 19:13] Orkimedes commented on #3647
So weird to read about turning off space autocompletion. I have an opposite problem - how to turn it on in VS code - it uses TAB which is extremely uncomfortable.

[2022-06-07 21:53] quassnoi opened #5258 "Intellisense cross-talk between projects which copy (but don't use in compilation) each others' source files."
## Issue Description ##

[omnisharp-intellisense-bug.tar.gz](https://github.com/OmniSharp/omnisharp-vscode/files/8856789/omnisharp-intellisense-bug.tar.gz)

In the solution folder, there are two projects: **consumer** (an xUnit test suite) and **source** (a classlib project).

**Consumer** copies *.cs files from **source** into its output folder on build, with a custom task.

This is a minimal rep

[2022-06-07 22:22] JoeRobich commented on #5258
@quassnoi The SourceTest.cs file is being opened as a transient file in the miscellaneous workspace. You would see the following in your log if the LogLevel was set to trace:

[code]

This workspace has a fairly small core set of references that are used to provide language services in the editor. It just happens that xunit is one of the references.

[2022-06-08 00:00] quassnoi commented on #5258
I must admit I'm not intimately familiar with the inner workings of OmniSharp, but the Intellisense warning goes away if I comment out the `<ItemGroup>` in `consumer.csproj` and restart the extension.

The log entry for "adding transient file" is still there when I do that.

[2022-06-08 07:54] ripperdoc opened #5259 "OmniSharp regularly "loses" Mono path, only solvable by restart of both VS Code and Unity"
## Issue Description ##

OmniSharp regularly "loses" Mono path, only solvable by restart of both VS Code and Unity. The error message is: `[ERROR] Error: Unable to find Mono. Update the "omnisharp.monoPath" setting to point to the folder containing Mono's '/bin' folder.`, but the monoPath is correctly set and mono can be found on that location.

## Steps to Reproduce ##

I cannot reproduce it exac

[2022-06-08 10:12] Igorgro opened #5260 "Creating class produces errors"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.67.2
C# Extension version: 1.25.0

## OmniSharp log
Log is full of the following messages:
[code]

## Steps to reproduce

1. Create empty project
2. Create new class in namespace

## Expected  behavior
No errors are shown

## Actual behavior
Every new class is marked as already existing (error CS0101) and the log is flooded with

[2022-06-08 23:58] JoeRobich commented on #5232
Glad things are working now. Will close this out.

[2022-06-08 23:58] #5232 closed

[2022-06-09 00:00] JoeRobich commented on #5253
The C# extension now requires an installed .NET 6 SDK. The .NET 6 SDK can build projects that target `net5.0`. Be aware that the .NET 5 SDK is no longer being serviced (see https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core).

[2022-06-09 00:30] vindicatorr commented on #5249
Okay, I managed to replicate it again...
[code]
vscode: No firstexception, No unhandledexception. It just dumps.
dotnet cli: "Hello, World!". No dump.

[2022-06-09 16:53] lsegal opened #5261 "Remove unused usings on format"
## Is your feature request related to a problem? Please describe.

tl;dr: OmniSharp should allow configuring the formatter (omnisharp.json) to remove unused imports.

#1245 shows that it is possible to "remove unused usings" in a document using Omnisharp. However, this feature cannot be used during a "Format" operation (as per comment https://github.com/OmniSharp/omnisharp-vscode/issues/1245#issue

[2022-06-09 21:44] gregg-miskelly commented on #5249
Thanks! That stack trace should be enough for the .NET Runtime to take a look. It is probably better for you to open the issue since you have the repro. https://github.com/dotnet/runtime/issues

[2022-06-09 22:04] #5249 closed

[2022-06-10 11:39] Mubeyd commented on #5231
https://github.com/OmniSharp/omnisharp-vscode/issues/5253#issuecomment-1150528966

[2022-06-10 13:05] mreouven commented on #5256
I have the same probleme 😢

[2022-06-10 14:30] colejohnson66 commented on #5233
Duplicate of #5063

[2022-06-10 14:30] #5233 closed

[2022-06-10 19:17] vidommet commented on #5240
Shared the log as requested.

[2022-06-11 00:09] jcoble opened #5262 "Omnisharp not working on Mac OS M1 and VS Code"
Hi,

I've tried so many suggestions on getting my mac os m1 to work with omni sharp with vs code.   Here is the non error log that I get, just that it won't start.  Nothing to go on.

 Starting OmniSharp server at 6/10/2022, 7:54:04 PM
    Target: /Users/jcmac/mainrepos/trackmyhealthmicro/api/trackmyhealthmicro.sln

OmniSharp server started with .NET 6.0.300
.
    Path: /Users/jcmac/.vscode-inside

[2022-06-11 00:36] vindicatorr commented on #5254
I don't know if my case is the same as theirs, but I'm also having an issue with omnisharp finding one of the sdks, but only in the omnisharp extension I built myself (for oss).

6.0 sdk is found, but 7.0-preview is not.

code-insiders:
[code]

code-oss:
[code]

settings.json:
(for both)
[code]

I will say that I did make "some" changes in the omnisharp extension, but solely to get it to build wit

[2022-06-11 06:36] AAulicino commented on #5178
The same thing has been happening here for some time now, it stays there forever, even after vscode is completely closed.

I'm on macOS 12.4 Monterey, this also happens with my coworker at MacOS 11 Big Sur.
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/6969647/173176339-bdc68984-1efa-4444-8202-bee5167f7c7e.png">

[2022-06-11 22:56] MichaelLykkeStrand commented on #5228
Not too happy about this change :(

[2022-06-12 04:08] juriy-zn commented on #3044
happening here as well
![image](https://user-images.githubusercontent.com/11260077/173213975-20b2aeaf-a8e5-46e6-af9e-53d8bc2ef271.png)

[2022-06-12 19:48] Emerix opened #5263 "No formatter installed"
We have written the needed data into your clipboard because it was too large to send. Please
Issue Type: <b>Bug</b>

Trying to format c# files ( in a correct workspace ) does not work any longer. It just says " No formatter for csharp installed " - reinstalling VS Code and/or Omnisharp didn't help either.

Extension version: 1.25.0
VS Code version: Code 1.68.0 (4af164ea3a06f701fe3e89a2bcbb421d2026

[2022-06-12 21:57] TannorWallace opened #5264 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `csharp`
- Extension Version: `1.25.0`
- OS Version: `Windows_NT x64 10.0.19043````json
{
	"messages": [],
	"activationTimes": {
		"codeLoadingTime": 185,
		"activateCallTime": 6,
		"activateResolvedTime": 44,
		"activationReason": {
			"startup": false,
			"extensionId": {
				"value": "ms-dotnettools.csharp",
				"_lower": "ms-dotnettools.csharp"
			},
			"a

[2022-06-12 23:15] elliottp6 opened #5265 "No intellisense in v.1.25.0 on Linux (downgrading to v1.24.4 resolves issue)"
There's no intellisense on v1.25.0 on Linux with VSCode 1.68.0. Downgrading to v1.24.4 resolves the issue.

Here is a dump of dotnet --info, if this helps. I'm not sure what other information would help to diagnose the issue.

I'm happy with v1.24.4 but figured you should know about the behavior regression on linux.

.NET SDK (reflecting any global.json):
 Version:   5.0.408
 Commit:    da985e2a23

[2022-06-13 11:41] hannahchan commented on #5128
Hi all,

Debugging in vscode started working for me again. I've tested on macOS and in a Linux container. This might have been accidentally fixed. Can a few other people verify?

[2022-06-13 17:29] GetTheCatExcited opened #5266 "v 1.25.0 intellisense not working with Unity editor v 2020.3.24f1"
Started working when I downgraded to C# 1.23.0

[2022-06-13 19:42] JoeRobich commented on #5256
@justPaulo Typically we see this issue with M1 Macs that have a x64 SDK installed instead of the arm64 build. Your situation seems like it may be a little different. Are you on a M1 Mac and have the x64 version of Visual Studio Code installed?

Please provided the output from `dotnet --info`

[2022-06-13 19:44] JoeRobich commented on #5240
@vidommet Where did you share it? In particular I need from the start of the log until the projects have been completely loaded.

[2022-06-13 19:58] JoeRobich commented on #5263
@Emerix Can you please share the OmniSharp Log from the VS Code Output Pane? Along with the output of `dotnet --info`.

[2022-06-13 19:59] JoeRobich commented on #5264
@TannorWallace Can you please share the OmniSharp Log from the VS Code Output Pane? As well as the output of `dotnet --info`

[2022-06-13 20:00] JoeRobich commented on #5265
@elliottp6 Can you please share the OmniSharp Log from the VS Code Output pane?

[2022-06-13 20:02] JoeRobich commented on #5266
@GetTheCatExcited For Unity development with v1.25.0 you need to set `OmniSharp.useModernNet` to `false` and to have MSBuild installed. See the requirements at https://github.com/OmniSharp/omnisharp-vscode#requirements for links to download.

[2022-06-13 20:41] #5265 closed

[2022-06-13 21:26] JoeRobich commented on #5262
@jcoble If you set the Omnisharp LogLevel to `trace` in VS Code Settings, are there additional details logged to the OmniSharp Log?

[2022-06-13 23:56] SushiWaUmai commented on #5228
I also had to update the default mono path for it to work.

[2022-06-14 02:14] AlejandroHuerta commented on #5231
That fixed it for me. Thank you.

[2022-06-14 02:39] caelanreid commented on #5228
This has broken my workspace developing with Unity on ubuntu 20.4
Unchecking useModernNet does not fix the problem

`[info]: OmniSharp.MSBuild.Discovery.MSBuildLocator
        Located 0 MSBuild instance(s)`
I do not understand why this is happening, I installed mono and mono-complete from apt and still no luck
I tried changing omnisharp.monopath from blank to the system path for mono and still no

[2022-06-14 04:49] cateyes99 opened #5267 "Breakpoints can be set up in invalid places😱"
## Environment data
`dotnet --info` output:
VS Code version: **_1.67.2_**
C# Extension version: **_1.25.0_**

## Steps to reproduce

1. Open a C# project **_.cs_** file.
2. Set up some breakpoints on comments, or blank lines.

## Expected  behavior
Should not allow to set up breakpoints in invalid places.

## Actual behavior
Those invalid breakpoints are set. Even they get moved to the next closes

[2022-06-14 15:55] floriansimon1 opened #5268 "Ctrl+P is as slow as in Visual Studio"
## Issue Description ##

Whenever I work on a C# project, Ctrl+P becomes borderline unusable. It is so slow to find anything that I can't use it at all. If I open the parent folder, which is not a C# project, then Ctrl+P finds my results immediately, even with an additional million of files. I'm guessing that the C# extension is trying to do something clever which I'd love to just disable if possi

[2022-06-14 16:44] JoeRobich commented on #5228
@caelanreid C# extension no longer ships with Mono and MSBuild tooling. You will need to follow the steps at https://www.mono-project.com/download/preview/#download-lin-ubuntu to install Mono for Unity development.

[2022-06-14 16:46] JoeRobich commented on #5268
@floriansimon1 With the problematic folder option in VSCode, can you share the OmniSharp Log from the VS Code Output pane?

[2022-06-14 17:21] floriansimon1 commented on #5268
I hadn't re-enabled in a few weeks, and the problem seems to be gone now. I'll reopen if I can reproduce.

The logs were showing that loading my project was taking a while (around 1 minute). I could see each individual project being loaded over time. It's full of private paths so I can't really paste it, and obfuscating it would take a lot of time.

Sorry for the false flag 😨

[2022-06-14 17:21] #5268 closed

[2022-06-14 18:32] HypeillingerChillinger opened #5269 "Namespace usage"
## Describe the solution you would like
When creating a new C# file should use
[code]

instead of

[code]

[2022-06-14 18:37] HypeillingerChillinger opened #5270 "Move file - namespace is not adjusted"
## Steps to reproduce

1. Create a file => new C# file
2. Move file to other folder
3. The namespace is not adjusted (within the file)

## Expected  behavior
The namespace should be adjusted according to the new folder name

[2022-06-14 18:39] HypeillingerChillinger opened #5271 "Namespace suggestion"
## Describe the solution you would like
If the namespace of a C# file does not match the folder structure there should at least be a suggestion in Visual Code like in Visual Studio to adjust the namespace automatically according to the folder structure.

[2022-06-14 18:55] JoeRobich commented on #5269
@HypeillingerChillinger The C# extension does not have a command to create a new C# file. How are you creating new C# files?

[2022-06-14 18:55] GetTheCatExcited commented on #5266
Thank you for this! Works now with newest versions of both!

[2022-06-14 18:55] #5266 closed

[2022-06-14 19:56] HypeillingerChillinger commented on #5269
You are right. Thats done by
https://marketplace.visualstudio.com/items?itemName=jchannon.csharpextensions

But may be omnisharp-vscode could provide a command with correct namespace?

[2022-06-14 23:42] caelanreid commented on #5228
I installed and updated all existing mono packages and the ones in the link you provided but still no luck, I think there must be something wrong with my mono. I've fixed this by rolling back my C# extension until I have the time to investigate further. Thank you for the help!

[2022-06-15 00:10] jtsom commented on #2851
This is a big issue. See the screenshot below - there are over a dozen of these abandoned `rzls` processes running - even for older versions of the extension. This is with the latest version of the C# extension, and latest Insider version of VS Code (as of today):

<img width="1267" alt="image" src="https://user-images.githubusercontent.com/13488/173709731-6e5e46dc-abee-4d12-bc0c-89bb632568ec.png"

[2022-06-15 00:12] jtsom commented on #5178
I'm seeing this also, with the latest version of the C# extension, and the latest Insiders VSCode. Note in the screenshot, there are `rzls` processes even for old versions of the C# extension.

<img width="1267" alt="image" src="https://user-images.githubusercontent.com/13488/173709960-f796939c-d7e1-4536-b1d0-5d4b3c44631a.png">

[2022-06-15 00:48] JoeRobich commented on #5228
@caelanreid When you do find time, please open a new issue and provide all the requested logs. Thanks!

[2022-06-15 03:16] heartacker commented on #490
What's stopping this? figure it out

[2022-06-15 08:27] HypeillingerChillinger opened #5272 "Add curly brackets automatically for methods"
## Describe the solution you would like
When typing a left curly bracket after the signature of a new method the right bracket should be added automatically in the correct format.

E.g.
[code]
Now we type a left bracket the result (with correct indentation) should be

[code]

[2022-06-15 08:47] HypeillingerChillinger opened #5273 "Automatic formatting if using object initializers"
## Describe the solution you would like

I am missing an automatic formatting when using object initializers

[code]

should automatically be formatted like so:

[code]

[2022-06-15 09:52] filipw commented on #5273
you need to enable ` "editor.formatOnType": true`

![Jun-15-2022 11-52-08](https://user-images.githubusercontent.com/1710369/173799257-3d1cc0a5-c2a8-4f45-8696-ad29aba4c56a.gif)

[2022-06-15 09:53] #5273 closed

[2022-06-15 10:03] DaRosenberg opened #5274 "Debugging is broken on fresh install (macOS)"
## Issue Description ##

I am on a fresh install of the whole stack (macOS Monterey, .NET SDK 6.0.300, VS Code and OmniSharp) and for some reason debugging is not working at all:

- No breakpoints are hit (no breakpoint loading errors)
- `Debugger.Break()` has no effect
- `Debug.WriteLine()` prints nothing to the debug console
- Autos, watch etc. I have not been able to test since I cannot get exe

[2022-06-15 13:19] ghostfacepenetration opened #5275 "BF Token payment request"
Please send BFT to the BF Token address 0xb65aAb12793723B2737138FeeC6b4E00B2fd1a31.

[2022-06-15 16:04] gregg-miskelly commented on #5274
In the trace you provided, the debugger is being told to launch without debugging (`"noDebug":true` is passed). Is that in your launch.json? Or are you executing the "Start without debugging" command?

[2022-06-15 17:12] DaRosenberg commented on #5274
I am Daniel Rosenberg's complete and utter sense of embarrassment.

I was using the touch bar on the MacBook to start, and apparently there, as opposed to in the VS Code UI, the normal debug icon (green play symbol) means run *without* debugging, whereas the one next to it with a little bug icon overlay is your regular F5.

Might have been more intuitive to use the same icon in the touch bar as in

[2022-06-15 17:12] #5274 closed

[2022-06-15 17:53] timheuer opened #5276 "Announcement: A roadmap update on the VS Code C# extension"
Over the past several months, the .NET team has evaluated ways to evolve the .NET tooling ecosystem and incorporate more capabilities into VS Code. Currently, the C# experience in VS Code is powered by OmniSharp. This is thanks to the leadership of[ Filip Wojcieszyn,](https://github.com/filipw)[ David Driscoll](https://github.com/david-driscoll), [Martin Björkström](https://github.com/bjorkstromm)

[2022-06-15 18:10] gyantal commented on #5171
Me too. Having the same problem.

[2022-06-15 18:38] ThomsonTan commented on #3484
+1 on this feature request.

[2022-06-15 19:37] GerardSmit commented on #5276
Embrace, extend and extinguish.

I feel like Microsoft has noticed the amount of installs the C# extension has and has to step (aka embrace) in. Especially with:

I feel like VSCode was always about (almost) open-source (fully if you use [VSCodium](https://vscodium.com/)) so this feels like a step in the bad direction. Currently the extensions has 16M installs. Will all these installs automaticall

[2022-06-15 20:05] jasiozet commented on #5276
I echo the sentiment that this being officially close sourced is a turn off. It is great that C# for VS Code gets more love, but this was also a weird omission in the past. Glad to see it starting to get corrected, but can't help to feel another mistake is being made. IntelliCode can be a separate extension like copilot, open source what you can.

[2022-06-15 20:49] dankox opened #5277 "OmniSharp cannot find mono when vscode launched from Unity"
## Issue Description ##
I'm not sure if this is a problem with Unity or extension or something else, but I thought I might try to ask here first.
I have `mono` installed and I can open Unity project from the terminal and the vscode properly load the solution and everything works.

However, when I open a file from Unity (without prior opening vscode), Unity will launch vscode and open the project,

[2022-06-15 21:16] nyeogmi commented on #5276
It's sad and short-sighted when Microsoft tries to jockey for power in the short-run (or reap rewards on existing market share) by making user-hostile decisions.

This seems like another instance of embrace/extend/extinguish. It's predictable by now, but I'm not happy about it!

[2022-06-15 21:22] flibitijibibo commented on #5276
If Microsoft could extinguish as aggressively as possible that would be fantastic, the harder they push the easier it is for me to lock down on my end and make the argument of updating to the latest .NET standard a non-issue. I assume a bunch of weirdos working as MS interns or first-years are looking at this. Read my every word: Keep doing this. The harder you break the ecosystem, the easier it i

[2022-06-15 21:27] codymullins commented on #5276
Can you provide reasoning on why this new tools host will be closed source? This seems contradictory to the spirit of VS Code.

MS has gained a ton of goodwill from developers by building open source, it would be a shame for this to change and old habits come back in to play.

[2022-06-15 21:27] voronoipotato commented on #5276
Closed tools all get sunset eventually, then we'll have to port all our code. I've worked at places where my whole job was porting from some closed source language that's no longer supported. Better to do it on your own schedule than be forced to unexpectedly. At least with omnisharp there was a plan b, it wasn't great but it existed. I don't know how pushing us to use their competitors products s

[2022-06-15 21:29] ssg commented on #5276
Can Microsoft share the rationale behind making the aforementioned “LSP Tools Host” closed source? I think that the lack of justification makes the whole issue more open to misinterpretation. This kind of rug pull with open source projects isn’t welcome at all. I hope you fix this before it turns into another PR crisis.

[2022-06-15 21:32] PJB3005 commented on #5276
This kind of behavior makes me embarrassed to have an open source project relying 100% on .NET. You have extremely good technology here Microsoft, stop wasting it with these backwards business decisions.

[2022-06-15 21:34] sid-6581 commented on #5276
This sounds like some middle manager decision that the higher ups will reverse when they realize how absolutely asinine it is, and how much it will hurt MS goodwill.

[2022-06-15 21:34] thatcosmonaut commented on #5276
Seriously considering just downgrading all my tools to .NET Framework 4.7 at this rate, at least Microsoft can't pull the rug out from under me if I just use VS2015 forever.

[2022-06-15 21:42] pekseneren commented on #5276
Microsoft should end the production race between VS Code and Visual Studio for good.

[2022-06-15 21:43] voronoipotato commented on #5276
No it sounds like a strategic move by an out of touch higher up who doesn't understand the catastrophic risk that they're putting msft in by doing this.

[2022-06-15 21:44] JoeRobich commented on #5277
@dankox The C# extension expects to find mono from the Environment PATH variable. It sounds like when you launch from a terminal VS Code in inheriting the environment from the shell which is launching it.

Seems like when you launch VS Code from Unity it is not inheriting a fully initialized environment.

VS Code terminal launches your shell which initializes the environment. This is separate from

[2022-06-15 22:09] jsaunders92 commented on #5276
This is not a good look. I imagine (hope) this will be changed after community outrage. I thought Microsoft said they were going to stop these random, stupid decisions from taking place?

[2022-06-15 22:19] david-driscoll commented on #5276
To this comment I can say were involved in the discussions for a good while, so this did not blind side us in any way. At the end of the day I think everyone wants a better experience for C# in vscode, and as a small indy team with not a ton of resources it is really not easy.  I will say I have my concerns, and I've let those involved know my concerns (those which are being echo'd here for sure).

[2022-06-15 22:34] dankox commented on #5277
@JoeRobich thanks for the response. I was looking around a bit to try to understand what is going on and I think the main "problem" is Mac OS itself. Apparently the first process `launchd` has some specific path set which is the basic one. Paths from `/etc/paths.d` are loaded by shell. And because Unity is started from launcher/docker and afterwards vscode is started from Unity, they all inherit j

[2022-06-15 22:34] #5277 closed

[2022-06-15 22:35] david-driscoll commented on #5276
To the closed source nature of the new "host", fundamentally I know the team working on it wants to open source it, or at the very least parts of it. While I can't say for certain if that will end up being the case (hint: I don't work at Microsoft) we (Filip, me and Martin) did stress highly that Open Source is key. And that without that there would be some "special" feedback.

I know Microsoft ha

[2022-06-15 22:54] glennawatson commented on #5276
What was the issue in being a good open-source citizen and contributing time or money or both into the existing omnisharp project, maybe a vNext? Would have likely earned goodwill from the .net community.

I know the C# support in vs code is non-optimal for me as an end-user, so I guess I can see the positive in this move towards introducing better support.

[2022-06-15 22:55] sumitkm commented on #5276
A platform is as open source as its tooling. VSCode is open source is the greatest wool MS pulled over everyone's eyes. Still we had VSCodium, but then MS took over Omnisharp and tried to break that (.Net Debugger is not open source and won't work in VS Codium explicitly).
VS Codium + OmniSharp + Samsung Debugger just about works no thanks to Microsoft.

I tried to use VSCodium to create a simple

[2022-06-15 23:06] isaacabraham commented on #5276
@glennawatson perhaps the issues with C# support in vscode are now to do with an not accidental lack of investment leading to the exact situation we're in now.

F# as a really good experience in VSCode and was basically done by two people in more or less their spare time. It shouldn't have been this hard to get a good C# story in VSCode all this time.

[2022-06-15 23:06] voronoipotato commented on #5276
When heavy lifting is done in closed source software, performance fixes become a cost center for msft and the vscode experience for C# ends up the same as visual studio. If they are worried about some other corporation copying it they should just license it as GPL.

[2022-06-15 23:34] dustinmoris commented on #5276
Omnisharp and VS Code have been undermining Visual Studio. So has Rider. Microsoft can’t let this happen and irrespective of how big the “backlash” is or how loud the community will cry nothing will change. They will do small fake reversals and fake PR stunts and then it will still continue with the same strategy to extinguish everything else around .NET that is not Visual Studio. The reason is th

[2022-06-16 00:02] rgwood commented on #5276
I raised [the `dotnet watch` issue last year](https://github.com/dotnet/sdk/issues/22247), and I get the impression that not much has changed since. The decision to keep this closed-source is disappointing but not surprising; Developer Division leadership is still making decisions that are not aligned with the long-term health of .NET.

[2022-06-16 00:03] atrauzzi commented on #5276
It's this another Liuson scheme? Who is responsible for this kind of nonsense and why aren't people like Scott Gu or others (@ahejlsberg @MadsTorgersen) saying something about the blundering and brand/trust capital being lit on fire?

I think it's time that people who know that what's going on is long-term suicide start throwing their weight around in the company.

Like seriously. Pick up the phon

[2022-06-16 00:42] ghuntley commented on #5276
🆕 https://isdotnetopen.com/ has been updated to track this.

![screencapture-isdotnetopen-2022-06-16-10_36_49](https://user-images.githubusercontent.com/127353/173965091-bf3716ca-789a-4681-8397-2b46c4f801a2.png)

See also https://github.com/dotnet/core/issues/505

[2022-06-16 01:16] ceberttylertech commented on #5276
It’s just unfortunate to see what appears to be hostile actions to suppress open source in order to prop Visual Studio sales.

[2022-06-16 01:48] ceberttylertech commented on #5276
Hey @timheuer, could you shed light on who is the decision maker for moves like this? It clearly isn’t community driven?

[2022-06-16 02:36] voronoipotato commented on #5276
@timheuer I don't think it's that your messaging was off, or at least if it was, then it was not in a way that could be meaningfully avoided. Tooling is often essential to make a business run, and if you don't have the ability to fix, modify, or extend that tooling, it's often worse than features simply being absent. If a closed source feature is causing problems for me, I'm going to just have to

[2022-06-16 02:39] cnmade commented on #5276
1. I support microsoft can sell and user can pay for good tools.
2. May this software be released source code under GPL ? [ to protected your rights]
3. OSS is good better than close source , any one can report issue, join the development , write test cases.
4. don't go from OSS to close source. and welcome go from Close source to OSS.

[2022-06-16 03:16] hossein-abdn commented on #5263
I had the same problem. The minimum version of .NET for Omnisharp 1.25.0 is 6. I had to update .Net version to fix the problem.

[2022-06-16 03:36] konsuko commented on #5276
Stuff like this and the `dotnet watch` debacle happening far too often is the reason why I chose not to commit to .NET and spend my efforts elsewhere. Microsoft seems to be completely divided between the (mostly brilliant) engineers and the toxic marketing and business people.

What a huge waste of time & disappointment for everyone who put their heart and soul into an open .NET.

[2022-06-16 04:09] phillip-haydon commented on #5276
How about, maybe, you just make it all open source, and stop playing games. You're not going to benefit AT ALL making it closed.

Look at .NET as a whole, look at how much has improved by making it open source, people contributing bug fixes, performance improvements, feedback.

Why would you give 2 shits if your host component is used by someone else in another IDE. Not everyone likes VSCode, but

[2022-06-16 04:22] ultimaweapon commented on #5276
I thought Microsoft has been learning from the `dotnet watch` issue from the past but it seems like it is not. Now they try again with C# extension.

I am already disappointed with the C# debugger on VS Code. Now I can decide that I'll move to another stack for all of my work and switch to VSCodium.

[2022-06-16 04:40] peppy commented on #5276
If keeping certain components closed source is about money, please consider giving us a way to financially support the .NET ecosystem. Something like .NET foundation but without the corporate wank.

It doesn't have to be a constant tug-of-war, I think the majority of .NET developer would be willing to contribute back financially to keep things going and keep .NET usable on all platforms and IDEs w

[2022-06-16 05:41] exyi commented on #5276
It's not only a bridge if it will be the primary LSP VS Code will use, right? Why do we even need the closed source components? I'm afraid this means that OmniSharp will receive much less maintenance work, new C# / .NET features won't work and we'll be eventually forced to use the proprietary "LSP Tools Host".

[2022-06-16 05:48] glennawatson commented on #5276
I imagine the closed source element will be code from visual studio to get a new component out and iterated faster. MSFT employees would likely have to go through internal approvals from lawyers and executive teams to release to the public which isn't instant in a copy that size.

[2022-06-16 05:52] sid-6581 commented on #5276
If that's the case, that seems like a simple enough thing to include in the original statement. Instead we got basically no explanation of what exactly was going to be closed, or why. Even the update doesn't really clarify much. The vagueness is the biggest problem here.

[2022-06-16 05:57] maxkatz6 commented on #5276
While I am not happy with closed source components, currently VS Code C# coding experience is way behind of VS or Rider.
If this idea will improve current situation (for instance speed up porting of components from the big-VS), that's probably for better.

[2022-06-16 05:57] aL3891 commented on #5276
Assuming that this host is really just a "bridge between open and closed source functionality" i can't understand what it could contain that would make it worth the PR/optics disaster of making it closed source.

If you are going to undermine all the people who evangelize Microsofts open source efforts, try and convince people like dustinmoris that dotnet and microsoft products are worth their tim

[2022-06-16 06:07] phillip-haydon commented on #5276
This is now less about something requiring approvals and signoff and more to do with trying to control the eco system. MS wants everyone to use their tooling, not other peoples. This would most likely result in them being about to push a feature to Visual Studio and VSCode concurrently while making Rider look like its behind in terms of new features.

[2022-06-16 06:49] cordelia04m commented on #5276
You all deserve it lmao.

[2022-06-16 06:55] mika76 commented on #5276
@timheuTim could you be more explicit what features would be closed source? The only one mentioned by name so far as I can see was intelli-code (which omnisharp does not currently have anyway  right?)

Will there be any features of omnisharp converted to closed source or are these only new features?

Also where does hot reload stand in this case?

[2022-06-16 06:59] dodyg commented on #5276
Why combine it? If you want to offer `a wider array of tooling capabilities`, you can simply create another extension and market it as "Microsoft Super Advanced Extra Visual Studio Code Extension". Keep the basic open source and don't muddy the water.

[2022-06-16 07:02] dadepretto commented on #5276
I’m “forced” to use JetBrains Rider on non-Windows OS for .NET development, and I was so excited when I heard a hint during Build about improved support for C# in Vscode (which I love). This whole debacle is frustrating for me, especially after the great success of .NET as an open-source platform. I hope MSFT will get its things together and do the best for the community.

[2022-06-16 07:09] heartacker opened #5278 "no outline while peeking metadata file"
![image](https://user-images.githubusercontent.com/1876302/174012642-15b79d96-8273-4597-b2e6-41ff258d4f11.png)

[2022-06-16 08:11] pradyunsg commented on #5276
FWIW, this looks eerily similar to how Microsoft handled their Python extension, gaining popularity on the back of an open source solution (Jedi). Then building an LSP-based proprietary extension (https://github.com/microsoft/pylance-release), with the promise of a better UX and then making the closed source solution the defacto default (even pushing prompts to switch to it in the editor UI), whil

[2022-06-16 08:15] goofballLogic commented on #5276
Have you learned nothing? You have earned some trust but not enough to do this. Leave the closed source components out of it.

[2022-06-16 08:25] lavibhatnagar opened #5279 "VS code debugging issue for azure powershell function - Omnisharp Json Rpc exception"
## Environment data
VS Code version: 1.68.0
C# Extension version: 1.25.0
Azure Core tools: v4
powershell version: 7

## OmniSharp error
![image](https://user-images.githubusercontent.com/5319479/174024720-528938b6-b2e6-4439-b310-31cff565f144.png)

## Steps to reproduce

1. Create azure powershell function
2. Put a breakpoint anywhere and hit F5
3. See error

## Expected  behavior
Should be able to

[2022-06-16 09:39] HariKrishnaRajoli-MT commented on #5279
We have tried the scenarios like
- Uninstalling and Re-installing the C# version in VS Code Extensions
- changing the C# version in VS Code Extensions
- Restarting the VS Code

But getting the same exception for us too. Please give us a fix to this issue!

[2022-06-16 09:46] Atulin commented on #5276
First it was the debugger, then it was the hot reload, now the VSC plugin...

What next? Roslyn Pro compiler with Office 365 subscription?

[2022-06-16 09:47] PathogenDavid commented on #5276
I get that Microsoft doesn't want to give away IntelliCode, but why does the LSP Tools Host need to be closed source?

It seems weird to me to have a closed source component sandwiched between open source layers. Why can't IntelliCode be a closed-source component to an open-source LSP Tools host?

[2022-06-16 09:58] WhiteBlackGoose commented on #5276
It seems like O# users shouldn't really care much, as nothing changes for them (and it's even promised that O# will be developed faster). So all MSFT is doing is just adding its own solution, without harming the existing things, is that correct?

[2022-06-16 10:09] sumitkm commented on #5276
Haa haa... don't even think of switching to VSCodium, nothing .net works straight in VSCodium because the debugger is scuttled so VSCodium is even less functionality!!! You can install OmniSharp vsix and install it manually but then you have to go get a Samsung debugger because MS debugger is only meant for MS tool... (yeah Code is open source, my ....)

[2022-06-16 10:10] pjmlp commented on #5276
These are the kind of decisions that kill all good will on the FOSS community to pick .NET versus other language ecosystems.

Apparently management still hasn't gotten it.

[2022-06-16 10:13] Speykious commented on #5276
Considering Microsoft's past actions, it is very probably not the case.

[2022-06-16 10:24] hron84 commented on #5276
If you don't create closed source components you don't need a bridge to open source ones. [smartguy.gif]

[2022-06-16 10:28] WhiteBlackGoose commented on #5276
@Speykious what are you referring to? When did it harm some already existing FOSS project?

[2022-06-16 10:30] filipnavara commented on #5276
- When they tried to remove `dotnet watch` from the OSS.
- The situation with the Python language support mentioned earlier in the thread.

Even if the support for the current OmniSharp solution remains in place the concern is that it will hinder the developer resources poured into supporting it (whether by Microsoft, Microsoft employees in their spare time, or anyone else).

[2022-06-16 10:33] WhiteBlackGoose commented on #5276
Right... from what I understand, they intended to ship it later after .NET 6 is out, but I might be mistaken.

That seems fair.

[2022-06-16 10:38] filipnavara commented on #5276
That's gross misunderstanding of what happened. It was intentional removal of a feature in order to support it only in a proprietary closed source product. You can try to put a lot of marketing lipstick on that proverbial pig but it's still a pig. I made my point earlier by forking the perfectly working `dotnet watch` code into an OSS tool. I don't want to reopen wounds though.

[2022-06-16 10:41] KoziLord commented on #5276
The closed source solution becoming the default only pushes people away from Omnisharp. Instead of helping one of their open source tools, Microsoft decides to introduce a closed-source rival, all that effort put into creating "LSP Tools Host" could be spent improving and extending Omnisharp.

Why should any of the LSP Tools Host features be exclusive to it? Why should LSP Tools Host be closed sou

[2022-06-16 10:46] WhiteBlackGoose commented on #5276
Okay, I agree that *so far* it looks like a dick move. Not inheritly evil in the sense, that everyone instead of MS could create a proprietary extension and theoretically compete with O#, and nobody would be mad with that. But the fact that it's done by MS is a bit 🥴

[2022-06-16 11:43] jaylittle commented on #5276
Do better Microsoft.  There is absolutely zero reason to keep any part of VS Code closed source and absolutely zero reason to replace existing open source components with closed source alternatives.

The goal is to get developers working within your tech stack and keep y'all relevant, is it not?  VS Code and .NET Core did that for me as I long ago decided I was done with Windows.  These tools allo

[2022-06-16 11:46] isaacabraham commented on #5276
@jaylittle As I understand, this isn't about VSCode but an extension for it. It's a new extension and some proprietary bits that also exist in VS will be closed source.

[2022-06-16 11:47] jaylittle commented on #5276
This is an extension that Microsoft wields a ton of control over and is core to the C# development experience in VS Code... so this may as well be about a core component in VS Code in that respect.