[2016-05-10 00:22] dougbu opened #291 "Generated launch.json doesn't fill out 'program' path if 'buildOptions' is used in project.json"
###### VS Code experience
The default "program" value in the `.NET Core Launch (console)` and `.NET Core Launch (web)` configurations is `"${workspaceRoot}/bin/Debug/<path-to-program>"`. Since 90% of the time we'll be debugging a .NET Core app, this path should be more like `".../netcoreapp1.0/<path-to-program>"`.

Would be even better if the default value did not need tweaking at all. That is, us

[2016-05-10 00:28] dougbu opened #292 "VS Code Extensions Marketplace: C# extension should be in Languages category"
###### VS Code experience
The VS Code extension is currently listed in the unhelpful "Other" category.
![marketplace](https://cloud.githubusercontent.com/assets/6431421/15132141/547ab216-160b-11e6-8fd6-ed88f0f2b17b.png)

[2016-05-10 00:29] dougbu commented on #292
See https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp

[2016-05-10 00:32] dougbu opened #293 "VS Code extension: Suggest adding support for Mono and perhaps full desktop CLR"
The OmniSharp extension for VS Code has the general name "C# for Visual Studio Code (powered by OmniSharp)" but actually supports only the .NET Core project system. Rather than narrowing the name, I suggest expanding the extension to support Mono on all platforms and perhaps the full desktop CLR on Windows.

[2016-05-10 00:32] gregg-miskelly commented on #291
@dougbu did you manually create the launch.json through this prompt:

![Info: Required assets to build and debug are missing from your project. Add them? Yes | Close](https://raw.githubusercontent.com/wiki/OmniSharp/omnisharp-vscode/images/info-bar-add-required-assets.png)

If yes - this is because we don't have an OmniSharp right now which is compatible the breaking change to project.json to rena

[2016-05-10 00:41] dougbu commented on #291
@gregg-miskelly I used the automatically-provided `launch.json` file but updated it to use `"buildOptions"` because I saw the "deprecated" warning. Guess I must have made that `project.json` "fix" before generating the `launch.json` file.

[2016-05-10 00:42] dougbu commented on #290
See the same issue on Windows with following .NET CLI:
[code]

[2016-05-10 00:49] gregg-miskelly commented on #290
Are you using the version of the C# extension from the gallery? If so, you instead want to be using the more recent builds of the extension. See https://aka.ms/vscclrdogfood for instructions.

[2016-05-10 00:52] gregg-miskelly commented on #291
Thanks. I renamed your bug so it is more clear what this tracks. @DustinCampbell I am assigning this to you to resolve when you insert the new OmniSharp.

[2016-05-10 00:59] dougbu commented on #290
@gregg-miskelly not sure about the OP but I'm using the [v1.0.5-rc2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.0.5-rc2) extension. Think the main issue is I missed some [info](https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger.md):

    * Set 'program' to the path to the 'dotnet' executable. You can find the path to dotnet using `which dotnet` (OSX/Linux) or `wh

[2016-05-10 01:10] gregg-miskelly commented on #290
If you are using v1.0.5-rc2, you want to ignore the version of the documentation in the master branch. Instead look at https://aka.ms/vscclrdogfood.

[2016-05-10 01:30] dougbu commented on #290
@gregg-miskelly except that version of the `debugger.md` file doesn't contain the information I needed (clipped above). It still mentions:

[2016-05-10 01:35] liamdawson opened #294 "Build error during preLaunchTask 'build'."
Whenever I press F5 to debug an RC2 ASP.Net app, I get the following error in a bar along the top:

[code]

with a 'Debug Anyway' and 'Close' option.

I encounter the issue every time.

Build outputs associated with this:

[code]

[code]

VS Code:

[code]

omnisharp-vscode package: `csharp-1.0.5-rc2.vsix`

In the project, I'm using `Microsoft.NETCore.App` version `1.0.0-rc2-3002700`.

Debug Anyway

[2016-05-10 01:41] liamdawson commented on #294
Strangely enough, the issue stopped when I selected the (web) configuration in the debug tab, and I haven't been able to replicate it since.

[2016-05-10 01:49] dougbu opened #295 "VS Code extension: Add support for Function Breakpoints"
The VS Code "function breakpoints" feature does not seem to work when using the OmniSharp-based C# extension ([v1.0.5-rc2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.0.5-rc2)). Or, if the feature works, the obvious syntax doesn't. This might be a fine feature gap except the failure is silent -- no warning is shown that the enabled breakpoint is invalid. For example none of the `

[2016-05-10 02:35] gregg-miskelly commented on #290
@dougbu what are you looking for? That is what you want 'program' to look like as long as you are using a v1.* extension.

[2016-05-10 02:43] gregg-miskelly opened #296 "Debugger should warn if function breakpoints are set"
This is copied from #295 -- when setting a function breakpoint, there is no good indication that these aren't supported.

[2016-05-10 02:44] gregg-miskelly commented on #295
I opened #296 to track the lack of warning. We can use this to track the feature request for function breakpoint support.

[2016-05-10 02:45] avikenjale commented on #290
@dougbu , I tried as per your comment, however I am logically same error as:

    "configurations": [
		{
			"name": ".NET Core Launch (console)",
			"type": "coreclr",
			"request": "launch",
			"preLaunchTask": "build",
			"program": "/usr/bin/dotnet",
			"args": ["bin/Debug/netstandardapp1.5/hwAppCore2.dll"],
			"cwd": "${workspaceRoot}",
			"stopAtEntry": false
		}

First I see **Error**: "The

[2016-05-10 02:48] gregg-miskelly commented on #290
@avikenjale what version of the C# extension, and .NET CLI are you using (`dotnet --version`)?

[2016-05-10 02:58] avikenjale commented on #290
.NET Command Line Tools (1.0.0-beta-001793)
    Product Information:
    Version:     1.0.0-beta-001793
    Commit Sha:  42a0eec967

    Runtime Environment:
    OS Name:     ubuntu
    OS Version:  14.04
    OS Platform: Linux
    Runtime Id:  ubuntu.14.04-x64

[2016-05-10 03:37] dougbu commented on #290
@gregg-miskelly I'm looking for something that works w/ RC2 bits. No path ending in `.dll` works and having to type in the `dotnet.exe` path is a hack. If something like `"${env.Path}/dotnet.exe"` worked, that may suffice.

Admittedly `"run"` is a fine argument. So at least I don't need the unique DLL path in my `launch.json` file. (Pity `dotnet run` doesn't support the `--nobuild` argument.)

I s

[2016-05-10 03:38] dougbu commented on #295
:+1: wfm

[2016-05-10 05:16] caslan commented on #294
I just ran into this myself. Changing the launch configuration didn't help for me though, restarting VS Code made the issue go away.

[2016-05-10 08:52] mikes-gh commented on #258
@gregg-miskelly
Sorry for delay long weekend here.
Here is the log.

[cs-debug.log.txt](https://github.com/OmniSharp/omnisharp-vscode/files/256743/cs-debug.log.txt)

[2016-05-10 10:07] idarous opened #297 "Improve the cshtml editor"
Hello,

I've tried visual studio code on an ASP.net 5 project and when editing a view file (cshtml), I don't find how to have autocompletion, refactoring, find reference, ect on static typed variable. However, these features are available on Visual Studio 2015.

Please, can you improve the support for cshtm file.

Thank you :)

[2016-05-10 14:26] hickford commented on #83
I have a similar problem "Error starting OmniSharp"

	[INFO] Starting OmniSharp at 'c:\Users\User\Documents\Visual Studio 2015\Projects\ConsoleApplication4\ConsoleApplication4.sln'...
	[INFO] Started OmniSharp from 'C:\Users\User\.vscode\extensions\ms-vscode.csharp-0.3.7\bin\omnisharp.cmd' with process id 12956...
	System.InvalidOperationException: Failed to resolve the following dependencies for

[2016-05-10 15:55] gregg-miskelly commented on #258
@mikes-gh Thanks! I can see the problem from this. This is an issue with our expression evaluator on Win7.

[2016-05-10 16:00] gregg-miskelly commented on #258
Here are the details for future searches

ExceptionType="System.DllNotFoundException"
Stack:

    McgInterop.rometadata_dll_PInvokes.MetaDataGetDispenser(Guid* rclsid, Guid* riid, IntPtr* ppv)
    McgInterop.rometadata_dll.MetaDataGetDispenser(Guid& rclsid, Guid& riid, IntPtr& ppv)
    System.Reflection.Adds.MetadataDispenser.NativeCoreSystemMethods.MetaDataGetDispenser(Guid& rclsid, Guid& riid, I

[2016-05-10 16:07] cleftheris commented on #279
@troydai One more thing I noticed.
I am currently running on the latest dotnet core where the `project.json` schema has changed [(announcement)](https://github.com/aspnet/Announcements/issues/175). The omnisharp plugin currently supports ignoring folders the old way.

This means that the `RC2 Release Candidate for 4/29` needs `exclude` member to be outside of `buildOptions`.
[code]

[2016-05-10 16:27] dougbu opened #298 "VS Code extension: Stop using DNX DesignTimeHost"
In a project using the .NET CLI i.e. `netcoreapp1.0` is one of the targeted frameworks, the VS Code extension still fires up the DNX DesignTimeHost. This results in numerous incorrect errors and warnings
![errors](https://cloud.githubusercontent.com/assets/6431421/15154032/7c5a45aa-1690-11e6-973a-ddf199932bc7.png)

Can this be worked around? For example, the `global.json` file above projects I've

[2016-05-10 16:29] gregg-miskelly commented on #294
If you run into this on Windows, please try using Process Monitor to check the exit from dotnet.exe. Then we can know if this is a bug in VS Code (they are claiming the task failed for no reason), or a bug in the .NET CLI (they are exiting with non-zero exit code on success).

[2016-05-10 17:02] troydai commented on #279
@cleftheris `OmniSharp` you're using probably hasn't picked up the latest `dotnet project model` yet.

[2016-05-10 18:01] dougbu opened #299 "VS Code extension: Add IntelliSense suggestions in debug console"
Nothing currently assists users as they type out expressions in the VS Code debug console. Not sure if there's already a feature the C# extension could hook into. But whether or not VS Code needs a new feature as well, this would be a good improvement to the debugging story.

BTW the ability to expand objects in the debug console output window helps but isn't sufficient. For one thing, method call

[2016-05-10 18:16] dougbu commented on #298
This issue also degrades the debugging experience. Though the build task encounters no errors or warnings, the C# extension pays attention to the incorrect messages from the `DesignTimeHost`. This results in an extra step after hitting F5:
![debug anyway](https://cloud.githubusercontent.com/assets/6431421/15157456/9731bb0a-16a0-11e6-9180-9deaa6a3d85e.png)

[2016-05-10 18:17] avikenjale commented on #290
@gregg-miskelly , Please let me know if more information required from my end.

[2016-05-10 18:22] dougbu opened #300 "VS Code extension: Add horizontal scroll bar for build messages and in debugger windows"
Highlighting on hover only goes so far...

###### Build messages
Note these messages can only be seen in full affter opening the offending file.
![unwrappederrors](https://cloud.githubusercontent.com/assets/6431421/15157544/f99d0ce0-16a0-11e6-8edc-19a2742ea2c6.png)

###### Call stack at breakpoint
This particular view might be improved if the stack showed `{method}, {namespace-qualified class}` or

[2016-05-10 18:52] mellinoe commented on #294
I'm hitting the same issue. dotnet.exe is returning with exit code 0 according to Process Monitor.

![image](https://cloud.githubusercontent.com/assets/8918977/15158612/98e4de32-16a5-11e6-8361-d05c84d446cb.png)

![image](https://cloud.githubusercontent.com/assets/8918977/15158624/a37a5444-16a5-11e6-80fd-d43682fc9839.png)

![image](https://cloud.githubusercontent.com/assets/8918977/15158628/ab63014

[2016-05-10 18:57] dougbu opened #301 "VS Code extension, debugging: Few symbols found after attaching to `dotnet` process"
Though I attached to a `dotnet` process executing the output of the current process, stack traces do not show class names. For example, when at an `Exception` breakpoint after attaching
![call stack](https://cloud.githubusercontent.com/assets/6431421/15158691/ec0621c0-16a5-11e6-8d10-635d0c66d013.png)

For comparison, the regular call stack contains much more information
![call stack regular](https

[2016-05-10 19:06] dougbu commented on #301
Never mind. I did not have `"justMyCode": false` in the .NET Core Attach task.

[2016-05-10 19:06] #301 closed

[2016-05-10 19:23] mellinoe opened #302 ""Generate type" context menu option does nothing"
![image](https://cloud.githubusercontent.com/assets/8918977/15159525/f221623c-16a9-11e6-9357-fa262bd124d2.png)

Selecting the "Generate type" option from this context menu does not do anything.

[2016-05-10 19:23] DustinCampbell commented on #300
It'd be great if you could file this over at https://github.com/Microsoft/vscode. The extension itself can't add scroll bars.

[2016-05-10 19:26] DustinCampbell commented on #298
Are you using the shipping C# extension from the marketplace (i.e. 0.3.7)? Because ASP .NET Core RC 1 release was still DNX-based, the C# extension still uses DNX based. That is, we can't ship a VS Code extension that targets bits that are still not-shipped, like .NET CLI. You should be using the latest extension from https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.0.5-rc2 if you wan

[2016-05-10 19:27] DustinCampbell commented on #297
We would definitely like to add editing for Razor files at some point. We're tracking that with #168.

[2016-05-10 19:27] #297 closed

[2016-05-10 19:30] dougbu commented on #298
@DustinCampbell I am using `v1.0.5-rc2`, not the much older bits.

[2016-05-10 19:33] DustinCampbell commented on #292
This was already done with #94. The categories will appear the next time we ship on the marketplace.

[2016-05-10 19:33] #292 closed

[2016-05-10 19:35] DustinCampbell commented on #287
This has already been fixed with #195.

[2016-05-10 19:35] #287 closed

[2016-05-10 19:36] DustinCampbell commented on #285
This is a duplicate #165.

[2016-05-10 19:36] #285 closed

[2016-05-10 19:39] DustinCampbell commented on #298
It looks like it's using an older version of OmniSharp. The version of OmniSharp targeted by 1.0.5-rc2 doesn't even have the DnxProjectSystem in it. Have you set your "csharp.omnsharp" setting to target a different OmniSharp release?

[2016-05-10 19:54] dougbu commented on #298
Looks like VS Code was in a weird state -- was seeing some behaviours described as specific to the latest bits but still had the DNX stuff. Now switched over completely to `1.0.5-rc2` and the extraneous warnings have gone away. Lovely.

[2016-05-10 19:54] #298 closed

[2016-05-10 19:54] DustinCampbell commented on #298
Great to hear!

[2016-05-10 19:58] gregg-miskelly commented on #299
@dougbu can you open this in https://github.com/Microsoft/vscode/issues?

[2016-05-10 20:02] dougbu commented on #300
Microsoft/vscode#6260

[2016-05-10 20:02] #300 closed

[2016-05-10 20:07] gregg-miskelly commented on #290
@dougbu: As long as you are using recent .NET CLI, recent C# extension, and you want to host your code in the 'dotnet' process then -- you want 'program' to be the path to the dll. Don't use 'dotnet run' it cannot support debugging (beyond the build issue).

@avikenjale your .NET CLI build is a weird one. Is there a reason you are using that? There are a number of builds in that timeframe with bro

[2016-05-10 20:10] DustinCampbell commented on #300
Thanks!

[2016-05-10 20:16] gregg-miskelly commented on #294
@mellinoe if you go to 'View->Errors and Warnings' does VS Code show you any errors?

This sounds like it might be -
https://github.com/Microsoft/vscode/issues/4987

[2016-05-10 20:17] dougbu commented on #290
@gregg-miskelly after rescuing my VS Code instance from a weird in-between state (thanks @DustinCampbell), I'm now _really_ using `v1.0.5-rc2`. Corrected the `launch.json` file to use the path to the DLL and all is now well w.r.t. my system and this issue.

But the new state is a bit strange: Using the path to `dotnet.exe` no longer works whether the arguments are `run --framework netcoreapp1.0` o

[2016-05-10 20:18] gregg-miskelly commented on #294
Looks like there is another active issue that also sounds the same: https://github.com/Microsoft/vscode/issues/4070

[2016-05-10 20:22] dougbu commented on #299
@gregg-miskelly is work needed here as well as there i.e. should this issue remain open too? What's the VS Code term for IntelliSense?

[2016-05-10 20:28] avikenjale commented on #290
@gregg-miskelly, I think I got my answer, per your link provided.  Here it is mentioned under point **If you are using the recomended builds of the .NET CLI**  under **Once for each project** about replacing 'osx...' and this is what is working at my end, exactly.  Thanks !
However, still not sure about the demo on Channel 9 by John Kemnetz, 'Program' field set to '.dll' file from Debug and is wor

[2016-05-10 20:37] avikenjale commented on #290
@dougbu  which one is latest or newest  '1.0.0-rc2-002678' ,'1.0.0-beta-001793' or 'v1.0.5-rc2', My Ubuntu always showing me 1.0.0-beta-001793', Is that correct?  May be my question is stupid or due to lack of proper information of frameworks/versions. Any link to understand?

[2016-05-10 20:39] gregg-miskelly commented on #299
I would guess that the IntelliSense interface for this new feature would have to be slightly different than the current interactions between VS Code and extensions since the expression is typed in a different physical document.

[2016-05-10 20:40] dougbu commented on #299
Filed Microsoft/vscode#6263

[2016-05-10 20:48] dougbu commented on #290
`v1.0.5-rc2` is the latest C# extension I know of.

`1.0.0-preview1-002700` is the latest .NET CLI though `1.0.0-rc2-002678` is close. You may need to use a different package source to get that however (not sure). See https://github.com/dotnet/cli/tree/rel/1.0.0-preview1 for instructions.

[2016-05-10 20:56] gregg-miskelly commented on #290
@dougbu I don't know why 'dotnet run' would ever have worked. To my knowledge 'dotnet run' launches a child process, and this child process is where the code actually runs. Since we have no child process debugging support, 'dotnet run' can't work (unless of course one manually attaches to the right process).

@avikenjale in John's channel 9 video, he is using the 'daily build' approach ('1' from m

[2016-05-10 20:57] #290 closed

[2016-05-10 21:57] dougbu opened #303 "VS Code extension: Improve experience when choosing process to attach"
The `processName` `launch.json` property is too general e.g. many `dotnet` processes may be running on the system. And the `processId` property is too specific i.e. should never need to be saved to a file. Suggest discriminating using command-line arguments. In the `dotnet` case (even when using `dotnet run`), these arguments include the relative path to the DLL of interest.

Failing that, suggest

[2016-05-10 23:58] dougbu opened #304 "VS Code extension, debugging: `.cshtml` files not found when at breakpoint"
An `Exception` thrown within a view (or the code a view calls) correctly breaks execution. But the display shows neither the Razor-generated C# code nor the `.cshtml` source. It seems the C# extension does not support the project directory being the virtual root used in generated `#line` pragmas. The same code works fine in Visual Studio.
![cshtml filenotfound](https://cloud.githubusercontent.com/

[2016-05-11 00:47] gregg-miskelly commented on #303
I don't think there are ways to obtain the command line reliable across all platforms.

[2016-05-11 00:48] mariocatch commented on #96
Similar issue on Windows 10:

[code]

[2016-05-11 01:19] gregg-miskelly commented on #96
@mariocatch can you try uninstalling your .NET CLI, make sure the directory is clean, and then reinstalling it? Also, what version do you have?

[2016-05-11 05:20] dougbu opened #305 "VS Code extension, debugging: Invalid `symbolPath` disables All Exceptions"
##### Description
If a path in the `symbolPath` array does not exist, the All Exceptions breakpoint selection never results in breakpoints on exceptions. Remove the offending path and all is well.
###### Bad
[code]
###### Good
[code]

##### Repro steps
1. `git clone https://github.com/aspnet/MusicStore.git`
 - Have seen similar issues elsewhere but this app reliably hits exceptions while loading t

[2016-05-11 09:23] VinditCo commented on #269
Sorry to chase @jrieken, but do you guys have any kind of ETA on this? Is there anything we can do to help diagnose the issue? Cheers

[2016-05-11 13:11] BeelzeBu opened #306 "Razor not copied to folder on change."
When I change only a razor (cshtml) page and build/rebuild the solution I do not see the changes applied, files dont get copied to build folder. need to remove bin folder or change a controller to copy all new razor content.

[2016-05-11 16:30] gregg-miskelly commented on #306
@BeelzeBu VS Code doesn't have a build system. Are you using 'dotnet build'? If so, can you reopen this in https://github.com/dotnet/cli/issues.

[2016-05-11 17:53] DustinCampbell commented on #291
Thanks! Yes, this should be fixed once we update OmniSharp.

[2016-05-11 18:26] BeelzeBu commented on #306
Create issue [issue](https://github.com/dotnet/cli/issues/2989) don't know how to reference

[2016-05-11 18:28] gregg-miskelly commented on #306
Just add the URL in the comment: https://github.com/dotnet/cli/issues/2989

[2016-05-11 18:29] gregg-miskelly commented on #306
Anyway, thank you!

[2016-05-11 18:29] #306 closed

[2016-05-11 19:03] BeelzeBu commented on #306
Thx

[2016-05-11 19:16] dougbu opened #307 "VS Code extension: Debugger gets stuck in "Paused at ..." status"
##### Description
Can get into a state where the Call Stack window shows "Paused on Step", "Paused at Exception" or similar though no threads appear to be stopped. That is, the application is responsive while the debugger is in this state.

This may relate somewhat to #208 since I see `ERROR: Unknown Error: 0x9233000b` in the Debug Console most of time this occurs.

##### Repro steps
1. `git clone

[2016-05-11 19:18] dougbu commented on #307
For example ![paused](https://cloud.githubusercontent.com/assets/6431421/15193374/7a62ceba-1772-11e6-98ac-34c689ae1663.png)

[2016-05-11 19:24] gregg-miskelly commented on #307
Can you follow https://github.com/OmniSharp/omnisharp-vscode/wiki/Enabling-C%23-debugger-logging to gather a log and attach it to the bug?

[2016-05-11 19:29] dougbu opened #308 "VS Code extension, debugging: Suggest stopping debugging if browser or browser tab exits"
Not quite sure how VS does this but it seems to end debugging sessions when you close the browser tab it opened. Seems nice to have for VS Code as well (if possible x-plat).

Suggest controlling this with a new configuration property in `launch.json`. Should probably be enabled in the default `.NET Core Launch (web)` configuration.

[2016-05-11 19:35] misnor commented on #269
I am also experiencing painfully slow, if non existent intellisense support on VS Code running in a Ubuntu VM.

The project having issues is just a blank .NET Console application - typing "args." does nothing, and hitting ctrl+space pops open the "Loading..." and _sometimes_ it loads.

Attached is my VSCode output.

[omnisharp.txt](https://github.com/OmniSharp/omnisharp-vscode/files/260045/omnisha

[2016-05-11 19:36] gregg-miskelly commented on #308
We actually only do this for IE. For all other browsers, we have no way of tracking their lifetime. Sorry, can't fix this.

[2016-05-11 19:36] #308 closed

[2016-05-11 21:31] DustinCampbell opened #309 "Performance: Stop passing entire buffer to OmniSharp on every keystroke"
It's not clear why, but the entire buffer gets sent to OmniSharp on every keystroke. This results in poor typing performance in all but the smallest files. We *should* be passing just the changes.

https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/features/changeForwarding.ts#L25

[2016-05-11 21:51] DustinCampbell opened #310 "Provide project selector to pick startup project"
Picking a new startup project, should modify the launch.json so that F5 launches the project output under the debugger.

[2016-05-11 22:05] DustinCampbell opened #311 "Add support for 'dotnet test'"

[2016-05-11 23:05] mellinoe commented on #294
Hm, I'm not able to get a repro at this exact moment. If I hit this again i will check that panel.

[2016-05-11 23:23] mellinoe commented on #284
It seems like the `Delegate invocation can be simplified` message pops up in other random places too. For example, if I have an unused using statement, the first auto-correct suggestion is `Delegate invocation can be simplified`, and the second is `Remove Unused Usings`.

[2016-05-12 02:28] John0King opened #312 "omnisharp not work when a folder contains chinese characters"
this is the output
[code]

[2016-05-12 07:20] jrieken commented on #269
@DustinCampbell will know

[2016-05-12 11:14] hickford commented on #23
I've installed the 'csharp' extension for Visual Studio Code. It would be neat if it fully supported .csx files from [C# Interactive](https://msdn.microsoft.com/en-gb/magazine/mt614271.aspx) `csi.exe`. Syntax highlighting works fine, but there's no autocomplete or debugging.

[2016-05-12 15:31] CuddleBunny opened #313 "Newline formatting options"
Looking for a way to configure auto-format for newlines. I'm a fan of this structure:

[code]

However the current auto-format will place all my curly braces on a new line. I've noticed that both TypeScript and JavaScript have the options `placeOpenBraceOnNewLineForControlBlocks` and `placeOpenBraceOnNewLineForFunctions`.

[2016-05-12 15:42] ppekrol opened #314 "Can't install .NET Core Debugger with latest dotnet"
Hi all,

I've opened a similar issue https://github.com/Microsoft/vscode/issues/6322 but they redirected me here :)

Can you help?

VSCode Version: 1.1.0
OS Version: Win10 Pro x64
dotnet --version => 1.0.0-preview1-002702
Steps to Reproduce:

Installed latest VSCode (first time)
Added C# extension
Opened *.cs file
Downloading and configuring the .NET Core Debugger...
Telemetry is: Enabled
log : Re

[2016-05-12 16:29] gregg-miskelly commented on #314
If you are using the latest .NET CLI you actually don't want to use the version of the C# extension on the VS Code gallery. Follow these instructions: http://aka.ms/vscclrdogfood

[2016-05-12 16:56] dougbu opened #315 "VS Code extension: Do not warn about unused `using`s"
The C# extension and VS Code already show recommendations to remove unused `using`s in any open C# file. However the warnings for this same cleanup recommendation make it more difficult to find real issues in the project. Note projects w/ unused `using`s build without warnings.

The warnings in the IDE are inconsistent as well: VS code doesn't even show a recommendation to simplify the namespace q

[2016-05-12 17:15] Eilon commented on #315
Indeed, it seems that surfacing these rather minor issues as ⚠️ Warnings is a bit much. Lots of projects have extraneous `using` statements and showing all of them for an entire project could get tiring.

[2016-05-12 20:15] Figbash commented on #269
Honestly I have given up on this being looked at, I even emailed dustin directly offering to help figure it out and got no response.  There doesn't seem to be any interest in making C# functional again ever since this was split into a separate plugin :(  It's very frustrating, as it worked so perfectly before that.

@VinditCo  My gut feeling is that it has something to do with either precompiled D

[2016-05-12 20:15] af4jm opened #316 "C# syntax highlighting broken around literal strings @"...""
Not sure what the heck it's doing, but sometimes it ignores @" and sometimes it doesn't.
Attached is screen shot showing bogus highlighting and .cs source file used to create that screen shot (extension changed to .txt to enable upload).

Not sure if this belongs here or in VS Code.  It's issue 6325 over there, duplicating it here by suggestion.

[SharedConstants.cs.txt](https://github.com/OmniSha

[2016-05-12 20:18] DustinCampbell commented on #269
@Figbash -- don't give up hope! I actually never received your email.

The OmniSharp log you provided indicated that you're using a project.json-based project. Is this a project targeting ASP .NET RC1 (e.g. DNX), or a newer .NET CLI project?

[2016-05-12 20:22] VinditCo commented on #269
@DustinCampbell  thanks for getting back to us! I'm running Unity 5.3.4p5 - how would I check if it's using a json-based project?

[2016-05-12 20:37] Figbash commented on #269
@DustinCampbell I apologize for venting, I sent the email a couple weeks ago. I am running Unity as well and believe the problem generally affects Unity projects (I'm thinking misnor has a different issue).
Unity targets Mono that is equivalent to .NET 2.

The startup log in version .10.3 of VSCode always shows:
[INFORMATION:OmniSharp.Dnx.DnxPaths] Using runtime '/Users/raymondbritton/.dnx/runtime

[2016-05-12 20:47] DustinCampbell commented on #269
Sorry, I was looking at the OmniSharp log that @misnor posted -- that one is project.json-based. I'll take a look at the project you provided.

[2016-05-12 20:54] Figbash commented on #269
I'm not entirely sure if the output log is even related, I often get the same issue without the log appearing.
For instance I have just used command click on to jump around some files in VSCode 1.1.0-insider, and did not receive any logs in output.  The first few jumps were quick, but the third one brings up the "Loading..." tooltip for around 6 seconds before working again, and there was nothing

[2016-05-12 20:59] DustinCampbell commented on #269
Hmmm... Could you try this? Grab the latest omnisharp.linux-mono.tar.gz from https://github.com/OmniSharp/omnisharp-roslyn/releases/tag/v1.9-alpha13 and untar it to a directory. Then, set the "csharp.omnisharp" preference in VS Code to point to "/directory/you/just/created/OmniSharp.exe". Restart VS Code and see if this addresses the issue.

[2016-05-12 21:14] Figbash commented on #269
I am running OSX BTW.  Attempting to do what you said shows:
/Users/raymondbritton/Desktop/omnisharp-linux-mono/OmniSharp.exe: cannot execute binary file

[2016-05-12 21:17] DustinCampbell commented on #269
:grumble: ok. Give me a day or two to get set up to try and repro. If you have anymore you could share to reproduce the problem that'd be helpful.

[2016-05-12 21:32] DustinCampbell commented on #269
Note that I've never actually installed Unity before so this is new territory for me :blush:

[2016-05-12 21:36] Figbash commented on #269
Ok, thank you.  I cannot share the project unfortunately as it is my companies and is enormous, perhaps @VinditCo has something shareable?  If it would help figure it out I would be willing to screen share.

I have gotten the alpha to start using a bash script with mono OmniSharp.exe, but it gives me:
[INFO] Starting OmniSharp at '/Users/raymondbritton/Desktop/AJMobile_Trunk/AJMobile_Trunk.sln'...

[2016-05-12 21:39] DustinCampbell commented on #269
OK. I'm also adding @troydai, who might have some ideas as well. It seems suspicious that the DotNetProjectSystem is throwing. Do you have project.json files in your project at all?

[2016-05-12 21:43] Figbash commented on #269
I can walk you through Unity:
Install Unity Free, tell it to include the demo project
Open the demo project in Unity
Grab https://github.com/dotBunny/VSCode and put it under the demo project dir /Assets/Editor
In Unity open Assets menu, Open C# Project In Code
This will generate the solution and open it in Code.
Then just try using it a little bit and the issue will either be very apparent or the

[2016-05-13 06:46] ppekrol commented on #314
It worked! Thanks @gregg-miskelly. Closing this issue.

[2016-05-13 06:46] #314 closed

[2016-05-13 11:32] VinditCo commented on #269
I'm also on OSX and don't have any project.json files. Sadly I also cant post a copy of the project.
Are there any logs you'd like me to post?

[2016-05-13 11:35] lishali12345 opened #317 "Selection prompt to extract method not worked in VSCode"
- VSCode Version:Version 1.1.0 (1.1.0)
- OS Version: Mac OS X EI Capitan

Steps to Reproduce:
1. Selection some lines code inside a method, will not show the prompt which will contains two menu item, just like "Extract Method" and "Use explicit type", which can be found in the release notes of v0.7.0
2. I just can not do this, and I google a lot for this, then I got nothing, so I'm here.

[2016-05-13 11:59] seesharper commented on #252
Does this mean that there is a way to debug xunit tests in VsCode?
Could you elaborate on the following
"If you had another app that would work you can do it -- set the 'program' to be what you want to debug (ex: dotnet your case), set args to be any arguments to it."

[2016-05-13 16:01] gregg-miskelly commented on #252
@seesharper : You can debug any .NET Core RC2+ program you want in VS Code. However, there is no child process debugging. So if the program spawns the code in a child process (like 'dotnet test' does) - it isn't going to work. If you run xunit directly through - yes, that will work.

[2016-05-13 16:09] seesharper commented on #252
Which would mean invoking the xunit.runner.console.exe directly?

[2016-05-13 16:47] gregg-miskelly commented on #252
If xunit.runner.console.exe is a native CoreCLR host (ex: it is just corehost.exe renamed) then yes.

Otherwise - no, you would need to launch some sort of CoreCLR host. I am not a super expert on this subject, but the two hosts that come with the .NET CLI are -- 'dotnet.exe \<path-to-entrypoint-module\>' and corehost.exe. CoreHost.exe works like this - you copy it next to a managed entry point dl

[2016-05-13 18:10] seesharper commented on #252
Thanks a lot for valuable information. I managed to get it working with a native CoreCLR console app where I simply new up the test classes and manually invoke the test method.

[code]

This approach is a little cumbersome, but it allows me to "pick"  the test method to be executed and I can actually debug the test using vs code. It would be great however, if there was a way to determine the "curr

[2016-05-13 20:36] gregg-miskelly commented on #252
We have a feature request (#311) to add proper support for 'dotnet test' which I think will solve your problem. If not, the technique we employ when implementing it, you could probably use in your own VS Code extension if you want. But as of now, I think your solution is the best I can think of.

[2016-05-13 23:03] dougbu commented on #307
[cs-debug.txt](https://github.com/OmniSharp/omnisharp-vscode/files/264206/cs-debug.txt)

[2016-05-13 23:08] gregg-miskelly commented on #307
Looks like this is a dupe of https://github.com/Microsoft/vscode/issues/6304, There will be a new VS Code Monday morning with the fix.

[2016-05-13 23:09] #307 closed

[2016-05-13 23:24] dougbu commented on #291
@DustinCampbell what is the timeline for updating OmniSharp to handle the new `project.json` schema?

[2016-05-13 23:30] DustinCampbell commented on #291
Very soon. We're working on a new OmniSharp release that we can pin the C# extension to right now.

[2016-05-13 23:53] DustinCampbell commented on #291
This should fix the issue: https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.0.6-rc2

[2016-05-13 23:55] gregg-miskelly commented on #291
@DustinCampbell did you verify, or would you like us to?
/cc @caslan

[2016-05-13 23:56] DustinCampbell commented on #291
I'm moving quickly. I posted before verifying and about to try on my MacBook

[2016-05-14 00:05] DustinCampbell commented on #291
yes, it works on OS X. `buildOptions` is now properly supported by the C# Extension. You can even change it back and forth between `compilationOptions` and `buildOptions`. IntelliSense continues working in either case.

[2016-05-14 00:06] #291 closed

[2016-05-14 12:09] DustinCampbell commented on #317
Hi -- thanks very much for taking the time to file this. We have some work to clean up the light bulb in VS code for C# and make it functional.

[2016-05-14 12:13] DustinCampbell commented on #312
In the log above, it appears that OmniSharp is working, but is badly displayed. There is a known issue around IntelliSense not working when a file contains chinese characters. Is that what you're seeing? #280.

[2016-05-14 12:13] #312 closed

[2016-05-14 13:13] John0King commented on #312
It's a little different, when the project's folder contains Chinese characters ,the omnisharp only "running",but not finish running.from the output ,my guess is that omnisharp can not match the code and file path because the Unicode and ANSI problem.

[2016-05-14 13:15] DustinCampbell commented on #312
@John0King -- the log shows OmniSharp successfully locating and processing a .NET CLI project. Am I missing something?

[2016-05-14 14:47] John0King commented on #312
@DustinCampbell -- the omnisharp is running ,   **but it can not actually do the work**    !
I'm not sure about  how omnisharp work, my guess is  that  editor send some keyword ( might contains the file Path ) to omnisharp, and omnisharp search the codebase then response IntelliSense information.
when a folder contains some chinese characters or other Non-english  characters , and  windows OS use

[2016-05-14 14:49] DustinCampbell commented on #312
Yup! That's why I suspect it's related to #280.

[2016-05-16 09:59] eByte23 commented on #211
A few of us are also facing this issue.

[2016-05-16 10:00] eByte23 commented on #211
Well similar downloads and installs but as of 1.1.0 it doesnt work, unless you download the latest release and manually install it

[2016-05-16 11:18] csholmq opened #321 "Unable to run bundled Omnisharp"
From https://github.com/Microsoft/vscode/issues/6319#issuecomment-219382560

"Built-in" Omnisharp extension states

bundled with VS Code.

Which isn't true anymore. Something has broken in either latest Insiders build (1.1.0-insider) or Omnisharp extension. Had to install Omnisharp extension explicitly.

*Also, installing the C# extension was a pain and required several `ext install csharp`.*

[2016-05-16 14:40] DustinCampbell commented on #211
I've heard a few other reports of 0.3.7 not working properly with VS Code 1.1, but I couldn't repro. We'll be releasing the most recent release very shortly though. Stay tuned.

[2016-05-16 14:47] DustinCampbell commented on #321
The Built-in Omnisharp extension isn't supported or being updated any longer. The source has transitioned to the C# extension, so that's the latest.

Very sorry to hear that you had trouble installing the extension. What were the issues you encountered? Did it just not work at all? Did you happen to capture any OmniSharp logs from the output window?

[2016-05-16 16:16] csholmq commented on #321
Not more than "Error: Failed to start OmniSharp". I will try to reproduce and get more logs later this week.

Issue was sorted installing the Omnisharp ext. So something must be missing in the C# ext.

[2016-05-16 22:27] dougbu commented on #305
Problem may have been fixed w/ VS Code v1.1.1, the [`v1.0.8`](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.0.8) version of this extension, or the two together. Not seeing it anymore on the two machines I've checked.

[2016-05-16 22:35] #305 closed

[2016-05-16 23:36] chuckries opened #327 "clrdbg does not accept format specifiers."
It looks like MIEngine understands and is trying to pass -var-set-format, but clrdbg does not implement it.

![image](https://cloud.githubusercontent.com/assets/6598594/15307033/43a5c6f0-1b84-11e6-946a-39a4033be8df.png)

[2016-05-16 23:40] gregg-miskelly commented on #327
BTW: I think that is really just ',x'

[2016-05-16 23:42] chuckries commented on #327
what do you mean?

[2016-05-16 23:52] gregg-miskelly commented on #327
Variable.cs(324) only cares about ',[xXhHo]'. All other format specifiers go through unchanged.

[2016-05-17 00:03] chuckries commented on #327
I see. What's the correct thing to do here then? implement -var-set-format for clrdbg? Pass all format specifiers through and add a `bool SupportsFormatSpecifiers()` to MICommandFactory?

[2016-05-17 08:10] lishali12345 opened #331 "VSCode v1.1.1 with omnisharp v1.0.10 which needs install dotnet cli tools cannot list symbols in file and cannot find symbols in the solution"
I just upgrade the latest stable VSCode v1.1.1, and upgrade the csharp plugin to v1.0.10.

Then I got a hint to install the dotnet, and I follow this instructions [here](https://www.microsoft.com/net/core#macosx).

After that I add the /usr/local/share/dotnet to the Path, restart  the VSCode, the warning of missing CLI Tools is gone. But I can not find symbols in the solution or find symbols in a

[2016-05-17 08:59] lishali12345 commented on #331
I'm sorry to say that I have fixed this issue. But I'm not very clear to the fix. So I will put it out here.

I'm working on a Unity3D project on Mac OSX EI Capitan, so I use the VSCode plugin in Unity3D and VSCode with some extensions just like: OmniSharp, Debugger for Unity and Unity Tools.

Before I upgrade the VSCode to the latest stable version v1.1.1 and CSharp extension to v1.0.10, I can us

[2016-05-17 11:38] rhires opened #332 "VSCode Insiders and RC3"
Moved from VSCode repo b/c they said so...

    VSCode Version:1.1.1-Insider
    OS Version: Mac 10.10.5

Steps to Reproduce:

* Upgrade to RC2 from RC1-Updatesomething, using the instructions provided for .Net Core
* Upgrade VSCode, see lots of log messages about how it's installing RC3 ... which I don't get, given that I just installed RC2 - did I miss the memo about Insiders using RC3 when RC2

[2016-05-17 12:28] Souk21 commented on #331
I just upgraded too, and was faced to the same problem. (also using Unity)
I tried your workaround, and it works, but omnisharp doesn't recognize Unity API (UnityEngine, MonoBehaviour,... are considered as errors).

[2016-05-17 12:37] Souk21 commented on #183
I'm having the same problem. (MacOS 10.9.5)
I just updated to vsc1.1.1 (from the app itself), also updated C# extension.

I have installed .Net Core and openssl as required.

Since then, at every restart I get this error message and this log :

[code]

[2016-05-17 13:26] DustinCampbell commented on #332
Hi, thanks for reaching out! What version of the C# extension are you running? You can check this in VS Code by pressing F1 to show the command palette and then running the Extensions:Show Installed Extensions command.

[2016-05-17 13:31] mbektimirov commented on #331
Same updates for vs code and c# plugin and intellisense completely stopped. Reinstalling and relaunching the ide doesn't solve the issue.

[2016-05-17 13:39] DustinCampbell commented on #331
Hi! Sorry you're running into problems. MSBuild support has been temporarily removed from the extension on OS X and Linux in the latest release. If you're working with Unity on OS X, check the instructions on our https://github.com/OmniSharp/omnisharp-vscode/blob/master/README.md. The steps in the readme help you download and install an older version of the extension (be sure to remove the C# exte

[2016-05-17 16:26] gregg-miskelly commented on #183
@Souk21 we have never tried a version of OSX prior to 10.10. I would suggest upgrading if you can.

[2016-05-17 17:06] TheWanderingTree commented on #331
Was running into this issue as well! It was not clear to me that I needed to uninstall the C# extension in order for the Built-In Omnisharp extension to work. Highly recommend adding that to the readme.

[2016-05-17 17:50] DustinCampbell commented on #331
Thanks @TheWanderingTree. Will do so! Once the C# extension is uninstalled, does the old (terribly-named) "Build-In Omnisharp" work for you?

[2016-05-17 17:56] Figbash commented on #269
I am trying to reproduce this on a smaller project but I'm not having any luck.  It definitely seems to have something to do with project size or complexity...

[2016-05-17 18:00] DustinCampbell commented on #269
Good to know. I'm still looking at this. Thanks for the update!

[2016-05-17 23:06] rajkumar42 opened #336 "VS Code doesn't create tasks/launch.json for projects published from VS Docker Tools"
1. Install Web tools extensions
2. Open VS. Create new project  VIsual C# -> .NET Core -> ASP.NET Core Web Application (.NET Core).
3. Open the project location in VSCode.

VSCode does not create tasks.json and launch.json files. The project could not be built or launched.

[2016-05-18 00:08] chuckries commented on #336
Are you opening the directory that actually contains the project.json? Or are you opening a directory that contains a `src/<web app>/project.json`? I think we only support adding these assets if project.json is on the workspace root.

[2016-05-18 00:20] DustinCampbell commented on #336
@chuckries is 100% correct

[2016-05-18 01:08] julielerman commented on #290
any chance of revisiting this with released RC2 bits, latest version of VS Code and of C# extension?
I'm getting the same errors reported above when attempting to debug in VSCode on OSX.
"The preLaunchTask 'build' terminated with exit code 1." then choosing debug anyway
and then it reports it the dll listed in my programm setting doesnt exist even though I'm using the exact path and see the file.

[2016-05-18 01:20] TheWanderingTree commented on #331
Yes it does!

[2016-05-18 01:22] DustinCampbell commented on #331
Excellent! Thanks for verifying.

[2016-05-18 01:29] gregg-miskelly commented on #290
You seem to have '\>' at the end of your program path.

[2016-05-18 01:34] julielerman commented on #290
well that's embarrassing. Detritus from the placeholder and a "not seeing the trees for the forest" oversight when I was starting at the code for too long .. so worried I had a typo *in* the path. After? LOL.
And ...I am now debugging aspnetcore right inside of VS Code! Hooray!!! Thanks.

[2016-05-18 03:03] lishali12345 commented on #331
@Souk21 Yes, after that I found the same problem. And I tried to import the local UnityEngine.dll and other assembly in the project.json file located in the root folder of the unity3d project, but I failed again. Let's wait for the next release to fix this. Now I'm using the built-in OmniSharp extension to work.

[2016-05-18 03:12] rhires commented on #332
The F1 button doesn't work on my Mac Keyboard, as Apple decided that it should adjust the screen brightness instead. However, using cmd-shift-p and doing the extensions thing, I get version 0.3.7 for C#. Maybe there is confusion between what VSCode wants to run, what it sees in my project.json file for the project I'm in (I haven't gone through the conversion/upgrade process for that yet), and wha

[2016-05-18 03:21] rhires commented on #332
Of course, when I tell it to look for outdated extensions, it says for me to upgrade to C# for VSCode...so I do...and now I have 1.0.10, and the .NET Core debugger downloads...and installs with no problems, but then VSCode again decides that my project.json needs help (I haven't converted yet!) and I get errors elsewhere that stuff doesn't work. But I'll ignore those errors because I uninstalled R

[2016-05-18 03:22] rhires commented on #332
By the way, I would think the Omnisharp log would want to list at least once what version it is...

[2016-05-18 04:14] Thaina opened #337 "Is it possible to sort suggestion base on type hierarchy?"
I would like vscode in C# could have this feature from monodevelop. To sort members of an object by the class it defined

![image](https://cloud.githubusercontent.com/assets/1042507/15347193/65abbb7c-1ce9-11e6-8f69-68e4ec247936.png)

It quite useful for class with a load of member from hierarchy. Such as monobehaviour in unity

[2016-05-18 05:34] zigzag95 commented on #236
+1

[2016-05-18 11:30] markgarcia opened #338 "v1.0.10 doesn't download 32-bit OmniSharp binaries on 32-bit machines"
To clarify, it does download but 64 bit files.

https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/omnisharpDownload.ts only has x64 download links.

Is this a temporary situation? If so, when can we expect to have 32 bit support?

[2016-05-18 12:31] jchannon commented on #294
I had the same issue on OSX. Restarted after updating C# extension and the asset installtion and it went away

[2016-05-18 14:30] diegogonzalez commented on #331
Hi, where I can find the "Built-in Omnisharp"? It is not enabled on the Visual Studio Code 1.1.1.

[2016-05-18 15:25] itn3000 opened #339 "OmniSharp did not start(v1.0.10)"
When I opened the csharp project generated by `dotnet new`,OmniSharp did not boot.Only the following line was displayed in OmniSharp log.
[code]
I tested another version,then 1.0.8 or previous were ok,but 1.0.9 or later were not working.
my environment is:
* windows 8.1(64bit)
* vscode 1.1.1
* having http proxy
    * set http_proxy and https_proxy

[2016-05-18 15:31] Souk21 opened #340 "Debugger cannot be installed on OSX 10.9 or before"
I just updated VSC to stable 1.1.1.
I then updated C# extension to latest stable version.

I was then prompted to install .Net Core.
I followed instructions on [this page](https://www.microsoft.com/net/core#macosx).

Now, I get this error : "Error while installing .NET Core Debugger" every time I open a C# document.

Here's the log :

[code]

I'm on Mac OS 10.9.5.

[2016-05-18 15:53] gregg-miskelly commented on #183
@Souk21 thanks!

OSX 10.9 issue now tracked with https://github.com/OmniSharp/omnisharp-vscode/issues/340

[2016-05-18 16:10] rajkumar42 commented on #336
I'm opening WebApplication1\src\WebApplication1 folder where project.json contains project.json.
I've tried opening it under WebApplication1 as well.

What is the workspace root when I create a template project?

[2016-05-18 16:57] chuckries commented on #336
<workspace root> refers to root directory opened in VS Code. It looks like the root directory of the VS project template for .net core web app contains the project.json, which is where the project should be opened in VS Code.

[2016-05-18 17:16] DustinCampbell commented on #331
Try this @diegogonzalez: https://marketplace.visualstudio.com/items?itemName=ms-vscode.omnisharp

[2016-05-18 17:39] rajkumar42 commented on #336
Apparently this only reproduces on docker scenarios. Following are my repro steps
Install Web tools extensions
2.Open VS. Create new project VIsual C# -> .NET Core -> ASP.NET Core Web Application (.NET Core).
3. Add docker support from VS.
4. Run the app on docker container.
5. Close VS.
6. Open the project workspace on VSCode.

[2016-05-18 17:41] chuckries commented on #336
Does docker alter the project.json at all?

[2016-05-18 17:46] rajkumar42 commented on #336
Step (4) is the key.
Looks like (4) produces a project.json in \WebApplication5\src\WebApplication5\bin

after deleting that VSCode can produce launch.json and tasks.json.

[2016-05-18 18:46] gregg-miskelly commented on #336
@DustinCampbell do we think the problem is that OmniSharp should be ignoring project.json's in the 'bin' directory? Or will the experience be good enough once #310 is fixed?

[2016-05-18 18:49] DustinCampbell commented on #336
#310 will certainly alleviate the problem. It might not be perfect though.

[2016-05-18 19:09] gregg-miskelly commented on #336
@NCarlsonMSFT @SteveLasker is it a requirement that the Docker tools extension copies the project.json file into bin?

[2016-05-18 19:23] diegogonzalez commented on #331
Thanks @DustinCampbell It works!!!

[2016-05-18 19:27] chuckries commented on #336
@gregg-miskelly The project.json in bin is the project.json for clrdbg that is pulled in by GetClrDbg.ps1. It is not a copy of the app's project.json. @rajkumar42 please correct me if I'm wrong.

[2016-05-18 19:31] gregg-miskelly commented on #336
I see. Maybe we can delete the file when we are done restoring?

[2016-05-18 21:22] NCarlsonMSFT commented on #336
Is that something you can take care of in the GetClrDbg scripts? Or do you need us to try and clean up in the scaffolded script from VS. If the later how can we determine what in the InstallPath folder is safe to delete?

[2016-05-18 21:35] chuckries commented on #336
I can modify GetClrDbg.sh to delete its project.json after successful install if we think that is best.

[2016-05-18 21:36] chuckries commented on #336
I also considered doing it this way originally: the script could generate project.json/nuget.config in %TEMPDIR% and publish to the correct output directory.

[2016-05-18 22:36] DustinCampbell commented on #331
I've updated both the [C# Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp) and the [Legacy C# Support Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.omnisharp) (previously called "Build-in Omnisharp") to have better describe the situation and provide clearer instructions.

@lishali12345, @Souk21, @mbektimirov: Does the Legacy C# Support Ext

[2016-05-18 22:48] DustinCampbell opened #346 "OmniSharp log should display version of OmniSharp that is running"
This will help diagnose issues.

[2016-05-18 22:49] DustinCampbell commented on #332
Sorry -- Function+F1 is what I meant (at least, that's what works on my MacBook Pro).

I don't understand your reference to RC 3 either. I wonder if it's just a typo somewhere. Where are you seeing that?

I'm glad you were able to get the latest C# extension. Yes, you will need to move your project.json forward to continue development.

Thanks for the request to add the version to the OmniSharp lo

[2016-05-18 22:49] #332 closed

[2016-05-18 22:54] DustinCampbell commented on #321
FWIW, I've renamed the "Built-in Omnisharp" extension and added text to set expectations and set it up properly [here](https://marketplace.visualstudio.com/items?itemName=ms-vscode.omnisharp).

The C# extension does not include OmniSharp. It downloads and install the correct OmniSharp for the operating system you're running on. I'm wondering if the download is failing for some reason. What OS are

[2016-05-18 22:55] DustinCampbell commented on #339
@itn3000, does the latest (1.0.11) work for you?

[2016-05-18 23:01] gregg-miskelly commented on #336
This is being fixed with https://github.com/Microsoft/MIEngine/pull/332

[2016-05-18 23:01] #336 closed

[2016-05-18 23:16] DustinCampbell commented on #338
Honestly @markgarcia, we've had nearly 200k downloads of the extension and yours is the first request for 32-bit Windows support. :smile:

Updating the extension to pick the x86 binaries is not challenging. However, you also mentioned in Slack that the x86 OmniSharp builds contain 64-bit binaries. Our initial investigation (also in Slack) looks like this might actually be a .NET CLI issue. We'll t

[2016-05-18 23:18] chuckries commented on #338
Just a heads up, debugging is currently only supported for 64 bit as well.

[2016-05-18 23:22] DustinCampbell commented on #338
Thanks for the heads up @chuckries.

[2016-05-19 00:40] markgarcia commented on #338
@DustinCampbell I'm willing and happy to help. Going bleeding edge on an old machine sure is interesting sometimes.

[2016-05-19 00:41] DustinCampbell commented on #338
:smile:

[2016-05-19 02:25] scionwest opened #347 "Expression Bodied Members w/ String Interpolation breaks Syntax highlighting"
This is similar to issue #249 however in this scenario, it stops performing any syntax highlighting for the rest of the source file. This is using 1.0.10

![screen shot 2016-05-18 at 7 23 03 pm](https://cloud.githubusercontent.com/assets/1865693/15380774/25dbdd20-1d2e-11e6-85d7-19ebf106af6c.png)

It looks like this is specific to the string interpolation, since Expression Bodied Members without st

[2016-05-19 05:30] itn3000 commented on #339
@DustinCampbell I'm afraid it was not worked(same as 1.0.10).
I ran the extension from source,then I get the following error:
[code]

I guess the nodejs's 'http' module does not support proxy?

[2016-05-19 06:42] itn3000 commented on #339
I think using [request](https://www.npmjs.com/package/request) module is better than use 'https' module.
'github-releases' module also uses it.

[2016-05-19 06:44] hal-ler commented on #338
Referencing issue to help with tracking https://github.com/OmniSharp/omnisharp-roslyn/issues/558

[2016-05-19 06:55] Asuka786546058 commented on #331
My Mac vscode omnisharp has been running for several hours in the past or have been running display

[2016-05-19 07:15] con-ssc opened #348 "VSCode v1.1.1 with omnisharp v1.0.10 which needs install dotnet cli tools Unable to load service"
I updated VSCode and the C# plugin and also installed the CLI tool.
After that I get the following error message when opening .cs files
[code]

[2016-05-19 08:27] Souk21 commented on #331
Yes it does ! Thanks

[2016-05-19 10:54] VinditCo commented on #269
I also think it's something to do with the project size. Perhaps something to do with 3rd party DLL's? @Figbash are you using much from the Asset Store?

[2016-05-19 11:03] jugglingthebits opened #349 "Omnisharp not downloading with proxy"
The latest release of omnisharp-vscode isn't able to download omnisharp through a proxy on Windows.
Instead, the output remains at `[INFO] Starting OmniSharp at [...]`.

It seems that `download(urlString: string)` in `omnisharpDownload.ts` doesn't use the proxy config from vscode and/or the environment variables http_proxy/https_proxy yet.

[2016-05-19 11:21] Taugeshtu commented on #269
Small-ish by itself project in unity with EmguCV's managed part in source files copied to project broke omnisharp for me. We're talking about 400 classes there. Once it's all compiled to class library, however, issue is gone.

[2016-05-19 13:18] DustinCampbell commented on #348
This looks like an issue with acquiring the debugger bits via NuGet. Tagging @gregg-miskelly and @chuckries

[2016-05-19 16:00] gregg-miskelly commented on #348
@con-ssc this looks like a problem with .NET CLI and/or nuget. What does `dotnet --info` return?

[2016-05-19 16:58] ChongWangUBI opened #351 "[omnisharp-1.0.11] C# suggestions or intellisense do not work with .sln project"
os: osx
vscode:1.1.1
omnisharp:1.0.11

/Users/wangchong/__project/Program/Client  is a Unity3D Project and Have a Client.sln Project File.
But, When I update the new version omnisharp 1.0.11, suggestions or intellisense do not work.

follow is the detail info:

[INFORMATION:OmniSharp.Startup] Omnisharp server running using Stdio at location '/Users/wangchong/__project/Program/Client' on host 2675.

[2016-05-19 18:18] jeffschwMSFT opened #352 "Debugger holds lock on file after 'debug stop'"
This issue has hit me about a half dozen times while debugging a .net core web app on my Mac.  The repro steps below are a bit convoluted but the general issues happens in less obvious ways.

Repo steps:
open folder 'app'
start debugging
<break in 'lib'>
Modify the code (to cause a rebuild of lib)
In the watch window expand this.Roots (to cause the debugger to hold the file lock)
Before the dictio

[2016-05-19 18:27] jeffschwMSFT opened #353 "Auto generated launch.json does not have fill in path to binary"
![launch json](https://cloud.githubusercontent.com/assets/9561583/15404858/515ccc44-1db4-11e6-830e-3d00f5f4f20a.gif)

Somewhere close to the end of RC2 the auto-generated launch.json no longer had a full path to the built binary.

Repro:
dotnet new
open VS Code
Choose to auto-generate the launch.json and task.json

Expected:
"program": "${workspaceRoot}/bin/Debug/netcoreapp1.0/app.dll",

Actual:
"

[2016-05-19 19:39] chuckries commented on #353
I am trying this on OSX 10.11 with VS Code 1.1.1 and C# extension 1.0.11. I have the same version of the .NET CLI. What version of the extension do you have installed? Extensions: Show Installed Extensions from the command palette will show you this.

[2016-05-19 19:46] jeffschwMSFT commented on #353
1.0.3-rc2.  I see I am likely behind the times, I will update to 10 or 11.

[2016-05-19 19:48] jeffschwMSFT commented on #353
My extension must have been crusty... 11 is working as expected.

[2016-05-19 19:48] #353 closed

[2016-05-19 19:53] chuckries commented on #353
Excellent!

[2016-05-19 23:03] DustinCampbell commented on #351
Hi,

.csproj projects are temporarily disabled in the latest release of the C# extension. Here's the notice that is on our readme for reference:

### **Important!** Breaking Changes as of 1.0.10

* The C# extension now only supports [.NET Core RC2](https://blogs.msdn.microsoft.com/dotnet/2016/05/16/announcing-net-core-rc2/). It no longer supports .NET Core RC1 or ASP .NET 5 RC1.
* **Support for .c

[2016-05-20 03:49] ChongWangUBI commented on #351
thx!
got it!

[2016-05-20 03:50] ChongWangUBI commented on #351
thx!
got it!

[2016-05-20 05:54] csholmq commented on #321
Låter OSX.

[2016-05-20 06:25] con-ssc commented on #348
It returns
`
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x64
`

[2016-05-20 07:45] v-pavanp commented on #29
I am facing the same issue no action while performing "Go to Definition" or "Peek Definition" for .Net native API.

[2016-05-20 08:00] weinand opened #354 "Error while debugging multi-threaded C# application with F10"
_From @v-pavanp on May 20, 2016 7:18_

- VSCode Version: 1.1.0-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Create an empty project with  dotnet new :

2. Follow instruction for project setup from https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger.md
3. Launch app and open project folder.
4. Add below code to make app multi-threaded.
public static void Main(string[] args)

[2016-05-20 13:47] DustinCampbell commented on #351
Excellent! Let me know if you have any trouble getting up and running again.

[2016-05-20 13:47] #351 closed

[2016-05-20 15:24] asadsahi opened #355 "The .NET CLI did not correctly restore debugger files."
## Steps to reproduce
1) Installed latest version of vscode

![image](https://cloud.githubusercontent.com/assets/3470892/15423149/1bb655c2-1e74-11e6-818a-df50f7d910c1.png)

2) Install latest version of c# extension
![image](https://cloud.githubusercontent.com/assets/3470892/15423286/a0fca90c-1e74-11e6-9a17-9d51d92a6a3b.png)

3) When opening an aspnet core project, vscode tries to install .net core

[2016-05-20 15:49] ChongWangUBI commented on #351
which version will support Unity,Xamarin in the plan.

[2016-05-20 15:54] DustinCampbell commented on #351
We don't currently have a roadmap published. However, this is very high on our priority list.

[2016-05-20 16:13] chuckries commented on #355
Your version of the .NET CLI is out of date. Please uninstall your current CLI through Add/Remove programs and install the RC2 CLI from [here](https://www.microsoft.com/net/core#windows).

[2016-05-20 16:28] chuckries commented on #354
This may be fixed by my changes to OpenDebugAD7 and/or VS Codes run mode/break mode fixes, neither of which have been released yet.

[2016-05-20 16:44] gregg-miskelly commented on #348
@con-ssc can you try this and see if it works:

    cd /d %USERPROFILE%
    mkdir RestoreTest
    cd RestoreTest
    dotnet new
    dotnet restore

[2016-05-20 17:06] chuckries commented on #354
Thank you for reporting this issue. This issue has been fixed and will be available in an upcoming release.

[2016-05-20 17:06] #354 closed

[2016-05-20 17:46] v-pavanp commented on #271
I got it fixed and able to debug my code. Please close this issue as I didn't see option for closing.

[2016-05-20 17:48] DustinCampbell commented on #271
Glad to hear it! Let us know if you have anymore trouble.

[2016-05-20 17:48] #271 closed

[2016-05-20 23:06] asadsahi commented on #355
I have installed from the same location, but the version isn't being updated. I have removed the dotnet cli from add/remove programs and then did a fresh install. After I have uninstalled it doesn't recognize the dotnet in the command prompt anymore, and when I install it again, it doesn't upgrade the version. Even strange thing is that from same installer location I have instaled on windows 10 ma

[2016-05-20 23:12] gregg-miskelly commented on #355
@asadsahi I might suggest asking on https://github.com/dotnet/cli

[2016-05-20 23:51] asadsahi commented on #355
Thanks @gregg-miskelly & @chuckries

![image](https://cloud.githubusercontent.com/assets/3470892/15444452/cd83d3e6-1ee8-11e6-9ee6-6ae50f29551b.png)

this was causing the issue. Old version keeps itself even removed using add/remove programs and dotnet command line was picking up old version, manually deleted the old version directory and it works as expected.

[2016-05-20 23:51] #355 closed

[2016-05-21 10:13] weinand opened #361 "Default thread name is displaying "<No Name>" in call stack."
_From @v-pavanp on May 20, 2016 18:1_

- VSCode Version:1.1.0-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch an app and open folder which contains code for Multi-threaded app.
2. Debug any multithreaded application (I tried with C#).
3. Verify call stack.

Actual: If user not provided thread name explicitly then call stack it is showing up <No Name> for all the active threads (except

[2016-05-21 10:15] weinand opened #362 "ERROR:Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware"
_From @ealsur on May 20, 2016 20:11_

- VSCode Version:1.1.1
- OS Version: Windows 10

Using C# Extension 1.0.11 and ASPNET Core RC2 (dotnet cli installed) using net461, I am unable to get Omnisharp to work.

Whenever I open a folder with a project with that version of ASPNET Core I get this error on the Omnisharp Log:

`[INFORMATION:OmniSharp.DotNet.DotNetProjectSystem]   Processing [ProjectState

[2016-05-22 09:15] zigzag95 opened #363 "Nuget completion in project.json"
Where can I find the code of Nuget completion in project.json?

[2016-05-22 23:30] v-pavanp opened #364 "Getting wrong message in output window while building C# project in VSCode."
VSCOde version: 1.1.0-alpha
OS: Windows10
Steps:
1. Create new C# project using >dotnet new command.
2. Launch VSCode and configure for build task.
3. Create task and build project.
5. Now add some invalid syntax in program.cs and build the project.
6. Verify message in output window.

Actual: Getting message like "Couldn't find 'project.json' in current directory"
Expected: Should show message re

[2016-05-23 01:08] lishali12345 commented on #331
@DustinCampbell Yes it does! Thanks for your work!

[2016-05-23 02:29] DustinCampbell commented on #331
That's great to hear. Thanks everyone! Again, I want to reiterate this is a temporary problem. We will be bringing support back to the C# Extension in the near future.

[2016-05-23 02:29] #331 closed

[2016-05-23 02:32] DustinCampbell commented on #363
In this PR #224. Currently, this code still lives inside VS Code itself and we'll be moving into the C# extension soon.

[2016-05-23 02:32] #363 closed

[2016-05-23 03:43] itn3000 commented on #362
It was occured in my environment(win8.1x64+vscode1.1.1+omnisharp-vscode1.0.8).
I found the some node_modules/** directory created by npm is too deep and exceed MAX_PATH(260).
It's avoidable by adding the `node_modules/**/*.*` entry in "exclude" setting in project.json

[2016-05-23 04:55] jtillman commented on #362
I've had this issue since the release of the RC2 update. I also found it was due to the node_modules folder being so far deep. Adding it to the exclude of project.json worked for me as well.

[2016-05-23 05:14] Thaina opened #365 "Please add command to remove unused reference in all files"
Large project with many files may report +99 unused reference warning. Should have some way to clean it quicker than clicking a lightbulb one by one

[2016-05-23 07:48] con-ssc commented on #348
dotnet new works, dotnet restore gives the same error

[2016-05-23 12:41] VinditCo commented on #269
@Taugeshtu when you say 'compiled to class library' are you referring to the recompile VSCode triggers on code change? If so, that's the same me :)

[2016-05-23 13:37] jrieken opened #366 "Add references and NuGet packages via light bulb"
_From @lfrodrigues on May 19, 2016 9:39_

Is there a way to configure Visual Studio Code so that the intellisence will automatically inset "using" statements (reference to class library) just like in Eclipse or Visual Studio does?

In Visual Studio we can use SHIFT + ALT + F10:

![image](https://cloud.githubusercontent.com/assets/301004/15389248/da270b7c-1dad-11e6-8d39-1a8bbd65cfd5.png)

_Copied f

[2016-05-23 13:37] jrieken commented on #366
VS Code as the [apis](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3439) for this and now it's up to the extension to this. Moving this item to omnisharp-vscode.

[2016-05-23 14:47] gregg-miskelly commented on #348
@con-ssc Would you mind opening your bug in https://github.com/dotnet/cli? This is there issue, and so they would be better at helping to troubleshoot.

[2016-05-23 18:28] #349 closed

[2016-05-23 18:28] DustinCampbell commented on #200
This is now fixed with this PR: https://github.com/OmniSharp/omnisharp-vscode/pull/350.

[2016-05-23 18:28] #200 closed

[2016-05-23 18:29] DustinCampbell commented on #211
I believe the proxy is should be fixed with https://github.com/OmniSharp/omnisharp-vscode/pull/350.

[2016-05-23 18:29] #211 closed

[2016-05-23 18:29] DustinCampbell commented on #339
I believe this should be fixed with this PR: https://github.com/OmniSharp/omnisharp-vscode/pull/350

[2016-05-23 18:29] #339 closed

[2016-05-23 21:56] EdDore opened #369 "ERROR: Run 'Debug: Download .NET Core Debugger' or open a .NET project..."
Installed .NET Core 1.0 RC2. Able to create and run simple console app.
Installed Visual Studio Code (1.1.1), and installed the C# code extension.
Opened console project folder in VSCode, and was prompted to add the missing .vscode files (launch.json/tasks.json).

Set a breakpoint in Main(), and then attempted to launch under debugger (.NET Core Launch (console). Was promptly met with the followin

[2016-05-23 22:05] chuckries commented on #369
What happens if you run "Debug: Download .NET Core Debugger" from the command palette? Open the command palette with command + F1 and type debug and it should appear.
![image](https://cloud.githubusercontent.com/assets/6598594/15486066/cf3a8c14-20f7-11e6-8789-5368eb419fcc.png)

[2016-05-24 02:08] ealsur commented on #362
I can confirm that adding an *exclude* attribute to **project.json** fixes the issue.

![image](https://cloud.githubusercontent.com/assets/1633401/15490027/1736e970-213b-11e6-9ef2-bc4b5954b183.png)

The problem is that, according to the [official annoucement](https://github.com/aspnet/Announcements/issues/175), the *exclude*  attribute is now deprecated on RC2 (it should be inside the *buildOption

[2016-05-24 07:36] zerowang commented on #5
I got the same context menu as darktutu's screenshot.
and OmniSharp Log has:
[INFO] Starting OmniSharp at 'c:\Working Directory\Test_ASPNETCore'...

This is on:
vscode: 1.1.1
C#: 1.0.11

[2016-05-24 11:24] 717009629 commented on #280
After I update it to 1.0.12 ，My problem   is resolved。 thanks！

[2016-05-24 14:19] sternb0t commented on #263
I'm experiencing this too. Any known workarounds?

[2016-05-24 14:20] tugberkugurlu opened #370 "text is not fitting the box on debug mode variable view"
When you hover over a variable and expand some variables on debug mode, you see the text is not fitting the box:

![image](https://cloud.githubusercontent.com/assets/328122/15507248/bb6c7d2a-21c2-11e6-84ca-b34feaa7e22e.png)

VS Code Info:

[code]

dotnet CLI info:

[code]

[2016-05-24 15:56] gregg-miskelly commented on #370
@tugberkugurlu would you mind porting this to https://github.com/Microsoft/vscode/issues? This isn't something that the C# extension can solve.

[2016-05-24 15:57] gregg-miskelly commented on #263
@sternb0t if you want to stop in the property - set a breakpoint, if you are just concerned about the text -- you will need to ignore it.

[2016-05-24 15:59] jpierson opened #371 "Errors when building solution which contains both C# .csproj and F# .fsproj projects."
I see the following error for each .fsproj project referenced by another C# .csproj project.

[2016-05-24 16:00] #370 closed

[2016-05-24 16:00] tugberkugurlu commented on #370
done.

[2016-05-24 17:15] sternb0t commented on #263
Thanks @gregg-miskelly but how can I set a breakpoint in a .NET core property like the ones in `System.ComponentModel.DataAnnotations`? Those aren't defined in my code. I was hoping `justMyCode: true` in `launch.json` would allow me to step in to wherever that code lives.

[2016-05-24 18:33] DustinCampbell opened #372 "Create VSIXs for each targeted OS/distro for offline installation"
We need separate VSIXs that target each OS/distro that we support for the purpose of offline installation:

* Windows
* OS X
* Linux (Ubuntu, Debian, RHEL, CentOS)

These will include the appropriate debugger and OmniSharp bits so that they don't need to be downloaded.

[2016-05-24 18:43] DustinCampbell commented on #362
This looks like the same issue as https://github.com/OmniSharp/omnisharp-vscode/issues/279. So long as you're using the latest released version of the C# extension, it *should* be using the latest schema for project.json.

cc @troydai

[2016-05-24 19:14] ealsur commented on #362
@DustinCampbell I'm using C# extension version 1.0.11, unless there's a new one that is not [published on the Marketplace](https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp). I'm attaching a screen capture of a project load without the "exclude" setting that shows the error on the Omnisharp log and what happens when you add the setting.
![animation](https://cloud.githubuserconte

[2016-05-24 19:49] sternb0t commented on #263
Sorry I meant to say `justMyCode: false`!

[2016-05-24 20:16] sayedihashimi commented on #172
+1 this would be great for ASP.NET projects.

[2016-05-24 21:01] gregg-miskelly commented on #263
In the short term, it is pretty different to step into the CoreFX. Here is what you would need to do though:

1. You need a copy of CoreFX which is built using portable PDBs. @Noahfalk @StephenToub do you by chance know if there is a builtin way to do this today? Would enlisting and building on Unix work.
2. You need a copy of CoreFX sources (ex: `git clone https://github.com/dotnet/corefx.git` an

[2016-05-24 21:50] gregg-miskelly opened #373 "Debugger should support symbol and source server"
In Visual Studio, it is possible for the debugger to automatically download symbols and sources for the dlls being debugged (as long as the dll/exe in question is built using Windows PDBs).

The Roslyn team is planning to support both of these features for portable PDBs. This issue tracks consuming this feature from VS Code once they are available.

[2016-05-24 21:52] gregg-miskelly commented on #263
BTW: We have a planned feature to make this process less painful. We didn't have an issue tracking this, so I opened #373 so that you can follow progress if you are interested.

[2016-05-24 21:54] gregg-miskelly commented on #172
This is fixed internally and will be available in our 1.1.* releases.

[2016-05-24 21:54] #172 closed

[2016-05-24 22:16] sternb0t commented on #263
Awesome, thank you for this.

[2016-05-25 08:00] MatthewDavidCampbell opened #374 "[Debugger] coreclr-debug project.json should be updated for dotnet rc2 schema."
Using 1.0.11 of csharp...

The default tasks.json from a project initialized with DotNet (latest preview version RC2) uses the DotNet command.  This fails to build the **coreclr-debug** **project.json** file which has directives associated with the old tool chain (i.e. compilationOptions rather than buildOptions).  Thought I could just update the project.json file but it is reloaded on startup (of

[2016-05-25 11:47] DavidKarlas opened #375 "Is OpenDebugAD7.dll open source?"
Hi,

I'm wondering if https://www.nuget.org/packages/Microsoft.VisualStudio.OpenDebugAD7 is open source or if there is plan to open source it?

Thank you,
David

[2016-05-25 15:26] DustinCampbell commented on #374
The extension is intended to work with .NET Core RC2 tool chain, and not the older one. The coreclr-debug project.json isn't actually intended to be built. It's there for dotnet restore.

[2016-05-25 15:38] DustinCampbell commented on #371
Hi @jpierson, how are you building the project within VS Code?

[2016-05-25 15:54] EdDore commented on #369
It doesn't appear to do anything.

[2016-05-25 15:54] gregg-miskelly commented on #375
It is currently not open sourced. There isn't any reason why it can't be -- it just hasn't been a priority. Are there specific reasons you would like it to be?

[2016-05-25 16:01] chuckries commented on #374
@MatthewDavidCampbell I am a little confused about the issue you are actually raising. What failure(s) are you seeing and can you provide an error log or screenshot?

[2016-05-25 16:09] chuckries commented on #369
@EdDore Is there an install.log file in ~/.vscode/extensions/ms-vscode.csharp-<version>/coreclr-debug?

[2016-05-25 16:23] EdDore commented on #369
What would be the full path to that folder on a OS x installation?

[2016-05-25 16:26] DustinCampbell commented on #374
@chuckries: I think the concern is that the project.json that we generate to restore the debugger uses the old project.json schema.

https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/coreclr-debug/main.ts#L327

[2016-05-25 16:35] DavidKarlas commented on #375
As my side project I'm writing MonoDevelop/Xamarin Studio AddIn for debugging .Net Core...  Makes more sense to implement VSCode debugging protocol, since we also get TypeScript and all other protocols you guys make(maybe even mono)

Would be nice to be able to build all code needed, so I can fix some bugs if I run into...
Not super high priority...

[2016-05-25 16:38] chuckries commented on #369
Here is the full path on my osx machine:
`/Users/chuckr/.vscode/extensions/ms-vscode.csharp-1.0.11/coreclr-debug/install.log`

[2016-05-25 16:42] chuckries commented on #374
I understand and we should update the file. I haven't personally seen this cause failures with dotnet RC2 though, and was hoping to get an error log if available.

[2016-05-25 21:00] MatthewDavidCampbell commented on #374
Attached a log of what happens after installing the extension (see below).  To recreate the issue is easy.  Create a new project with **dotnet new** (note: version is 1.0.0-preview1-002702), restore it and run with dotnet cli.  Then opened that folder in VS Code.  Installed the csharp extension again.  Launching the console task also yields again.  Tried editing the project.json file for the debug

[2016-05-25 21:32] chuckries commented on #374
I don't believe the issue you are seeing is related to compilationOptions <-> buildOptions. We need to fix that but it is not the cause of the error you are seeing.

After the C# extension is installed to Visual Studio Code, it will install the C# debugger autoamatically as a secondary step. The extension installs the debugger using the following steps:
1. The extension generates a project.json fi

[2016-05-25 21:43] MatthewDavidCampbell commented on #374
Did those steps except for the restart earlier. Tried unstalling first but saw that the extension wasn't completely deleted just ignored. After a clean and then install the issue persists.

Thought the blocked by another process might have been due to a failed build of the debugger.

What decides what command builds an extension? Hardcoded for **dotnet** in the PATH? Wild stab that the build for t

[2016-05-25 23:01] chuckries commented on #374
Nothing "builds an extension". These dotnet steps are specific to our extension and can be seen [here](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/coreclr-debug/main.ts#L58). This code is run on extension "activiation". The C# extension is "activated" when you open a .cs file or a directory containing a project.json at the root.

[2016-05-26 00:46] noahfalk commented on #263
This issue has the latest status I'm aware of on CoreFX binaries producing portable PDBs:
https://github.com/dotnet/corefx/issues/5733

@dagood

[2016-05-26 04:03] jpierson commented on #371
Default msbuild task. I'll try to post the content when I have a chance.

On Wed, May 25, 2016, 11:49 AM Dustin Campbell <notifications@github.com>
wrote:

[2016-05-26 07:29] jrieken opened #377 "Parameter Hints Not Rendering Properly"
_From @robbpriestley on May 25, 2016 21:49_

- VSCode Version: 1.1.1
- OS Version: OSX El Capitan 10.11.4

Steps to Reproduce:

1. Write the code to create a new object

Expected: Intellisense parameter hints show different signatures with available parameter names.

Actual: blank area shows (see screenshot)

![image](https://cloud.githubusercontent.com/assets/16694050/15557436/d408c008-2287-11e6-

[2016-05-26 08:14] itn3000 opened #378 "Cannot display non-ascii character correctly from Omnisharp.exe"
when I opened dotnet project including non ascii character path,some text in omnisharp log was corrupted.
here is my screen shot.
![corrupted-text](https://cloud.githubusercontent.com/assets/10163465/15568140/315f8498-2365-11e6-898f-0f7e8a41487d.png)

[2016-05-26 11:51] asadsahi opened #379 "Windows 7 debugging information is blank."
System information:

C:\Users\asahi>dotnet --info
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64

VS code version:
![image](https://cloud.githubusercontent.com/assets/3470892/15573584/ed84f232-233f-11e6-9

[2016-05-26 14:08] DustinCampbell commented on #371
Sorry, I'm not sure I understand. Do you have a tasks.json set up to build your project within VS Code? Could I see the content of that?

[2016-05-26 14:18] itn3000 commented on #378
sorry,I forget to write my environment:
* Windows 10 x64
* vscode 1.1.1
* omnisharp-vscode 1.0.11

[2016-05-26 14:46] gregg-miskelly commented on #379
This is #258 - yup, unfortunately expression evaluation is pretty much entirely broken at the moment. We are trying to get it fixed.

[2016-05-26 14:46] #379 closed

[2016-05-26 15:04] asadsahi commented on #379
Thanks @gregg-miskelly looking forward to the fix :)

[2016-05-26 16:28] robbpriestley commented on #377
Further observation seems to confirm that this is an issue with constructors, i.e. the method call after a `new` operator.

[2016-05-26 16:41] savpek commented on #236
+1

[2016-05-26 18:14] DustinCampbell commented on #378
I believe this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/140.

[2016-05-26 18:14] #378 closed

[2016-05-26 18:15] DustinCampbell commented on #377
Hi, thanks for reporting the problem! We're tracking this issue with https://github.com/OmniSharp/omnisharp-vscode/issues/36.

[2016-05-26 18:15] #377 closed

[2016-05-26 18:43] DustinCampbell commented on #374
@MatthewDavidCampbell, I'm confused too. What do you mean by, "builds an extension"? You don't have to build the C# extension or run **dotnet** on the extension itself. Perhaps you could provide some screenshots or precise steps to help us better understand what's happening?

[2016-05-26 20:07] MatthewDavidCampbell commented on #374
Same version.  Same process.  And this time around no error.  Machine has been restarted.  Before, I had created a dummy project (via **dotnet new**) called _hwapp_.  When testing the csharp extension the project hwapp was created a while ago with an older version of the dotnet cli.  I deleted it and recreated with the latest preview version.  This evening, I tested first by creating another proje

[2016-05-26 20:17] chuckries commented on #374
Glad to see it's working.

[2016-05-26 20:17] #374 closed

[2016-05-26 20:22] Sharpiro opened #380 "Omnisharp stuck at "Starting...""
I'm following these steps to use a new c# app in VS Code.
1. install VS Code
2. ext install c#
3. mkdir dotnetnew
4. cd dotnetnew
5. dotnet new
6. dotnet restore
7. Open the project in VS Code

But at this point Omnisharp in the bottom right gets stuck on "Starting.." and never changes.  The only thing I see in the Omnisharp Log window is:
[code]
Notes
- This issue only occurs on my work machine;

[2016-05-26 22:05] ishvedov opened #381 "Wrong syntax highlight "using" keyword"
Insider 1.1.1
The "using" keyword highlight whole line. In VS and other editors only "using" clause highlighted.

[2016-05-27 13:29] aeschli opened #383 "Incorrect code format"
_From @larini on May 27, 2016 12:14_
- VSCode Version:1.1.1
- OS Version: Windows 10

Steps to Reproduce:

Use this class:

[code]

This line got incorrect indentation:

[code]

It should be like this:

[code]

_Copied from original issue: Microsoft/vscode#6968_

[2016-05-27 21:55] mdouglass commented on #351
Is there a github issue we can watch to track progress on this?

[2016-05-28 11:40] Taugeshtu commented on #269
@VinditCo No, I'm referring to "pack all those classes into managed .dll"

[2016-05-29 19:30] langsweirdt commented on #369
I'm seeing the exact same problem. No install.log file below the coreclr-debug folder. I tried versions 1.0.11 and 1.0.10 of the extension, same behavior. If I can do something to help reproducing/resolving this, please let me know.

[2016-05-30 08:19] z2xlong opened #385 "[ERROR:OmniSharp.Dnx.DnxProjectSystem] TODO: unknown keyword platform"
VSCode Version:1.1.1
OS Version:Mac OSX El Capitan 10.11.5
Symptom: The formatting code & intelligent functions does not work.

Steps to Reproduce:

Create new ASPNET project via yeoman, the contents of project.json as follows:
{
"version": "1.0.0-*",
"buildOptions": {
"emitEntryPoint": true
},

"dependencies": {
"Microsoft.NETCore.App": {
"type": "platform",
"version": "1.0.0-rc2-3002702"
},
"pro

[2016-05-30 18:37] ruuda commented on #369
I am having the same issue. When I tried this a few weeks ago I gave up. I tried again just yet, with the same results. Attached is my [install.log](https://github.com/OmniSharp/omnisharp-vscode/files/289958/install.log.txt). When I visit one of the timed-out urls with my browser I do get a response.

If I try to download again in the same session, nothing happens. When I tried in a new session it

[2016-05-30 19:22] germansak commented on #380
The same is happening to me too.
Strange is that it's working at home but not on my work machine.
Could it be a proxy issue? That's the only difference between work and home machines

[2016-05-31 00:35] Sharpiro commented on #380
I too have vs code setup through a proxy at work.

[2016-05-31 13:21] jaksmid commented on #369
Same problem here, no install log whatsoever. CSharp extension version 1.0.11, Net CORE version RC2

[2016-05-31 17:18] DustinCampbell commented on #202
Should be fixed with PR #386

[2016-05-31 17:18] #202 closed

[2016-05-31 18:24] chuckries commented on #369
@langsweirdt Please try deleting the entire csahrp extension directory at `~/.vscode/extensions/ms-vscode.csharp-<version>` and then reinstall the extension. To view the status of the debugger installation you can view the Ouput Panel (View -> Toggle Output) and select the coreclr-debug option:

![image](https://cloud.githubusercontent.com/assets/6598594/15685791/33d5efc6-2722-11e6-8a6a-801e3c7918

[2016-05-31 18:25] chuckries commented on #369
@jaksmid Are you able to see an install.log at `~/.vscode/extensions/ms-vscode.csharp-<version>/coreclr-debug`

[2016-05-31 19:44] gregg-miskelly commented on #175
This will be fixed in 1.1.2.

[2016-05-31 19:45] #175 closed

[2016-05-31 23:46] wjk opened #393 "Improve Attribute Usage Handling"
Would it be possible to improve how Visual Studio Code handles handling of `Attribute` usage in C# code? My request is divided into two main changes:
1. When I tab-complete the usage of a hypothetical `FooAttribute` class, VSCode produces `[FooAttribute]`. “Full” Visual Studio on Windows produces just `[Foo]`. Can we harmonize the two? (This causes not-inconsequential project churn when switching

[2016-05-31 23:56] wjk opened #394 "Nested Class Support"
I am currently working on porting [Eto](https://github.com/picoe/Eto) to .NET Core, and the Eto codebase uses a large number of nested types. However, I notice that the VSCode IntelliSense parser does not handle nested types correctly. For example, when I move the mouse over the declaration of `Eto.EtoEnvironment.IHandler`, the tooltip displays `Eto.IHandler`. This may cause problems, as by this l

[2016-06-01 07:16] Platzer commented on #380
Same issue here with VS Code Insider and C# `v1.0.11`, i think issue #339 is not resolved yet?

[2016-06-01 08:59] jaksmid commented on #369
I have reinstalled the extension by deleting ~/.vscode/extensions/ms-vscode.csharp my version directory.
Hit the Download Debug.
Toggled output, but there is no option for coreclr debug.
Only files in core-crl debug are nuget.config and dummy.cs.

I am also behind the corporate proxy, not sure whether it is relevant but vs code had issues to downlaod extension behind proxy in earlier version.

[2016-06-01 17:25] chuckries commented on #369
@jaksmid Let's test a basic `dotnet restore` of the debugger, which is one step of the extension installation.

1. Copy this to a file called `project.json` in an empty directory on your system

[code]

2. From a shell, `cd` to the directory with `project.json`
3. Run `dotnet restore && dotnet publish -o clrdbg`

Please try these steps and let me know if they succeed or fail, and any error message

[2016-06-01 17:25] chuckries commented on #369
@jaksmid Additionally, what version of OSX are you on?

[2016-06-01 23:31] Kizmar commented on #369
I'm having this same issue. I tried the steps above and it all worked fine. Still can't run anything in the debugger without getting the "Error: Run 'Debug: Download .NET Core Debugger' in the Command Palette or open a .NET project directory to download the .NET Core Debugger."

When I try to manually download it like it says, it doesn't appear to do anything.

[2016-06-01 23:40] chuckries commented on #369
@Kizmar do you have an install.log? Can you try performing the manual `dotnet restore` that I suggested to jaksmid? It won't immediately fix the debugger but it will help us diagnose the issue you are seeing.

[2016-06-01 23:55] Kizmar commented on #369
@chuckries I should also mention that I'm using Code - Insider, but I also tried this on Code and it's doing the same thing. :)

Did a "dotnet restore" at the solution level...

Code (non-Insiders version): I deleted all of the extensions that were in my "users/<user_name>/.vscode/extensions" folder. Re-installed the c# extension, and I see no "install.log" anywhere in "users/<user_name>/.vscode/e

[2016-06-02 00:07] chuckries commented on #369
@Kizmar Code - Insiders extensions should be in `~/.vscode-insiders/*`

First, please provide the following:
`dotnet --info` output:
VS Code version:
C# Extension version:

Next, to diagnose this please copy the following into a file named `project.json` in an empty directory somewhere on your system.
[code]
Do something like
[code]

Then do a dotnet restore and publish from this directory:
[code]

[2016-06-02 00:18] Kizmar commented on #369
**dotnet --info output:**
.NET Command Line Tools (1.0.0-preview1-002702)
Product Information:
 Version:     1.0.0-preview1-002702
Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

**VS Code - Insiders version:** 1.2.0, **C# Ext. version:** 1.0.11
**VS Code version:** 1.1.1, **C# Ext. version:** 1.0.11

**New project restore & publish

[2016-06-02 00:23] chuckries commented on #369
@Kizmar Thanks! It looks like you are able to restore and publishes our packages fine. Can you give me the directory listings for the following directories?

[code]

[2016-06-02 00:28] Kizmar commented on #369
**ls -a /Users/Name/Documents/Projects/testing/clrdbg**
.
..
1033
Microsoft.CSharp.dll
Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.ExpressionCompiler.dll
Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.ExpressionCompiler.vsdconfig
Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.ResultProvider.dll
Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.ResultProvider.vsdconfig
Microsoft.CodeAna

[2016-06-02 00:43] chuckries commented on #369
@Kizmar Thanks. It looks like your machine is capable of restoring the debugger packages from nuget using `dotnet restore`, but the extension is not even getting that far. It would be very helpful if you could try the following:

1. In all open VS Code instances, `File -> Close Folder` and then quit VS Code.This ensures we will have an empty workspace when you restart VS Code.
2. `rm -rf ~/.vscode

[2016-06-02 01:07] Kizmar commented on #369
Ok so, did all that. Once VS Code opened back up I instantly got a bunch of stuff in the console:

    at Error (native)
    at Function.CoreClrDebugUtil.existsSync (/Users/NAME/.vscode-insiders/extensions/ms-vscode.csharp-1.0.11/out/coreclr-debug/util.js:77:23)
    at isOnPath (/Users/NAME/.vscode-insiders/extensions/ms-vscode.csharp-1.0.11/out/coreclr-debug/main.js:187:28)
    at Object.activate

[2016-06-02 02:02] chuckries commented on #369
@Kizmar Thank you! This is perfect. I am out of the office for the rest of today but I will continue to look at this tomorrow.

[2016-06-02 08:09] jaksmid commented on #369
@chuckries
Dot net restore completed without any Error messages, OS X version is LeCaptain.
I see that you got ahed with Kizmar, let me know if I can be of any help.

[2016-06-02 17:40] chuckries commented on #369
@Kizmar The primary issue here is that we are failing to determine if `dotnet` is on your current PATH, and that failure is catastrophic. I need to fix us to fail in a more graceful way, and possibly fix our logic around here altogether. If you don't mind, could you give me your current `$PATH` variable?
[code]

[2016-06-02 17:58] Kizmar commented on #369
**echo $PATH | pbcopy output:**

[2016-06-02 18:31] reapazor commented on #230
Just a quick relief, as this also happens for me at times in big projects.

An interim solution I've implemented is branching off chunks of code and compiling out DLLs of code that is not changed often.

Not the best solution, but helps ...

[2016-06-02 18:34] chuckries commented on #369
@Kizmar The root cause of this issue in your specific case is that you have the absolute path to a binary in your `$PATH`: `/usr/local/bin/npm`. The next version of the extension will fix this issue, but I believe you can make the current version work if you remove `/usr/loca/bin/npm` from your `$PATH`. I found [this page](http://www.cyberciti.biz/faq/appleosx-bash-unix-change-set-path-environment

[2016-06-02 23:29] Kizmar commented on #369
I removed the "/usr/local/bin/npm:" portion from my .bash_profile, and I'm still getting the error.

**echo $PATH | pbcopy output:**

[2016-06-02 23:34] chuckries commented on #369
it looks like `/usr/local/bin/node` is also a full path to an executable, not a directory. That needs to be removed as well.

[2016-06-02 23:49] Kizmar commented on #369
Heeeyyyyy, it worked! 😄

Soooo... I'll be able to add that stuff back in to $PATH after it's fixed?

[2016-06-02 23:51] chuckries commented on #369
Woo!!

Yes, you should be able to add that back once we release a new version. Keep your eye on our [releases page](https://github.com/OmniSharp/omnisharp-vscode/releases) as we will probably have a new extension there before it hits the marketplace. As of this writing the most recent github release is 1.1.2, which does not have this fix. 1.1.3 or greater should have it.

[2016-06-02 23:55] chuckries commented on #369
Additionally, I don't know that it makes sense to have full paths to specific binaries in your `$PATH` variable. In a quick search I couldn't find any documentation on the subject, but I believe that `$PATH` need only contain directories. Did you have `/usr/local/bin/node` and `/usr/local/bin/npm` on your path for any particular reason?

[2016-06-02 23:57] chuckries commented on #369
@EdDore Could you check your `$PATH` on OSX and see if this is the same issue you are running into?

[2016-06-02 23:57] Kizmar commented on #369
@chuckries I... honestly have no clue. I'm guessing it was added there by some... package install or something? /shrug  I'm not super familiar with $PATH stuff. 😉

[2016-06-03 08:14] jaksmid commented on #369
@chuckries It turned out I had this on my path: PATH="/usr/local/share/dotnet/dotnet:${PATH}"
I think it was one of the suggestion to try when the workaround to zsh was not yet known.
Thanks a lot for the help!

[2016-06-03 14:00] bitwise-github commented on #36
Any news on this?

[2016-06-03 19:20] gregg-miskelly opened #400 "OmniSharp lists wrong .NET Framework as a dependancy on Windows"
## Environment data

C# Extension version: 1.1.2
## Steps to reproduce:
1. Get a clean version on Win7
2. Install VS Code + C# extension
3. Try to open the C# extension
4. Get a popup telling you to install .NET Framework 4.5. Follow the advice and install 4.5
5. Try running the extension again
## Expected  behavior

Extension should work
## Actual behavior

OmniSharp fails because I believe it ac

[2016-06-04 12:14] daviatorstorm commented on #228
Hello guys have alot errors.
Created dotnet app with yo code generator.

dotnetcore version: `1.0.0-preview1-002702`
vscode: `1.1.1`
C# Extantion: `1.0.11`

project.json
[code]

[2016-06-04 12:57] DustinCampbell commented on #385
Hi, it looks like you're using an old version of the C# Extension, which won't work with .NET Core RC2. You should upgrade your extension as follows:

1. Open Visual Studio Code
2. Select View->Command Palette... from the menu
3. Execute the "Extensions: Show Outdated Extensions" command
4. Choose "C#"

[2016-06-04 23:25] rocketfingers opened #401 "Error: Command failed: cat /etc/*-release cat: /etc/upstream-release: Is a directory"
## Environment data
 1.0.0-rc2-002411
linux Mint 17.3
`dotnet --info` output:
VS Code version:
C# Extension version:
1.0.10
## Steps to reproduce

## Expected  behavior

## Actual behavior
Error: Command failed: cat /etc/*-release
cat: /etc/upstream-release: Is a directory

[2016-06-05 00:36] chuckries commented on #401
This is a dupe of #272.

The latest version of the extension in the marketplace does not have a fix for this, but the latest pre-release version on our [release page](https://github.com/OmniSharp/omnisharp-vscode/releases) does. Download the latest release (1.1.2) and `File -> Open` the .vsix from VS Code to install.

[2016-06-05 00:36] #401 closed

[2016-06-05 16:03] eamodio opened #402 "Errors/Warnings popup and underlines get "stuck" while making changes"
## Environment data

`dotnet --info` output:

[code]

VS Code version:

[code]

C# Extension version:

[code]
## Steps to reproduce

I don't have any great steps to repro - but this happens to me extremely often. I can start with 0 errors via omnisharp and actual build, then start coding/refactoring and as expected errors will come and go but at some point (and it usually doesn't take that long) t

[2016-06-05 16:33] eamodio opened #403 "Syntax highlighting sometimes breaks when using Expression-bodied members (=> methods)"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version:
[code]
## Steps to reproduce

For some reason this doesn't happen for all EBMs but I've been using a lot of them lately and they seem to break the highlighting often.

Also any `//` comments in between the `=>` and rest always breaks the highlighting.

I also tried this on Windows and the syntax highli

[2016-06-05 16:40] eamodio opened #404 "Debugger sometimes shows incorrect values with structs"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version:
[code]
## Steps to reproduce

I don't have this boiled down to a reproducible sample, but in the involved case I have it happens 100% of the time on OS X (I've tried on Windows and it works fine).

Basically in my scenario I had a `Dictionary<Guid, MyStruct>` and my struct has a `Guid`, an a couple if

[2016-06-05 22:09] rocketfingers commented on #401
Thx for info!

W dniu niedziela, 5 czerwca 2016 Chuck Ries <notifications@github.com>
napisał(a):

[2016-06-05 22:27] pflannery opened #405 "Intellisense interfering when typing a string"
Couldn't find an existing issue for this.

## Environment data
`dotnet --info` output: .NET Command Line Tools (1.0.0-beta-001598)
VS Code version: 1.1.1
C# Extension version: 1.0.11

## Steps to reproduce
![image](https://cloud.githubusercontent.com/assets/1727302/15808642/74e3cc30-2b74-11e6-8aec-28e76a1bb3d1.png)

## Expected behavior
No intellisense should show\interfere when typing within a st

[2016-06-06 06:16] chuckries commented on #404
Thank you for reporting this issue. I tried to repro it based on your description. Here is my code:
[code]

None of my variables are appearing strangely.
![image](https://cloud.githubusercontent.com/assets/6598594/15813352/1ccbdb88-2b73-11e6-96e3-3e66c2b3b976.png)

Are there any obvious differences between my repro code and your code? I have the same environment as you.

[2016-06-06 20:50] gregg-miskelly commented on #258
This should now be fixed. Install from https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.1.4 for the fix. We hope to post this to the extension gallery soon.

[2016-06-06 20:50] #258 closed

[2016-06-06 22:22] DustinCampbell commented on #372
@chuckries, I just heard you're looking at this.

[2016-06-06 22:34] chuckries commented on #372
@DustinCampbell yes, I am about to submit a PR that adds a gulp task to do the debuggers installation up front.

[2016-06-07 01:21] eamodio commented on #168
Is there anyway to help out with this? Personally this is my number 1 issue with using VS Code for aspnet core development -- since refactoring/usage/etc is no longer safe because usages within cshtml aren't seen -- and cshtml views aren't even compiled on build (not sure if there is a way to make that happen with the new core stuff like there used to be).

[2016-06-07 08:59] VinditCo commented on #269
@DustinCampbell Hello! Did you have any success looking into this?

[2016-06-07 13:09] DustinCampbell commented on #269
We've been focused on getting Unity support back up and running in the C# extension (note the breaking change on our [readme](https://github.com/OmniSharp/omnisharp-vscode/blob/master/README.md). Once that is working again, I'll be taking a look at the performance and flakiness of IntelliSense. Sorry for the delay!

[2016-06-07 13:14] DustinCampbell commented on #168
@david-driscoll was looking at it awhile back over in https://github.com/OmniSharp/omnisharp-roslyn. Maybe drop by [Slack](https://goo.gl/Ovnqr1) and chat about it?

[2016-06-07 13:51] eamodio commented on #168
@DustinCampbell Thanks -- I'll hop over there an find out.

[2016-06-07 15:31] jlmakes commented on #5
I _see_ the option in the context menu, and it works for JavaScript files… but does nothing for C# (on OSX) using VSCode: `1.2.0`

I’m not sure what I’m doing wrong, but my OmniSharp log looks like this (and doesn't output anything when I attempt to format my code):
[code]

[2016-06-07 15:46] ljw1004 opened #408 "Parameter-completion shows weird doc-comment stuff"
## Environment data
`dotnet --info` output:
[code]

VS Code version:1.2.0
C# Extension version: ?? Not sure how to find this. I installed the public omnisharp today, using the suggested instructions.

## Steps to reproduce

1. Start a `dotnet new` project, restore it, then open it in VS Code.
2. Put `///` above `Main(param string[] arg)`
3. In the body of Main, start typing an invocation `Main(|`

[2016-06-07 17:50] troydai commented on #269
Can we set up a few sample Unity projects as test samples?

[2016-06-07 20:33] DustinCampbell commented on #405
Is it actually interfering? It's by design that VS Code shows word-based completion inside strings and comments. From your screenshot, it appears that snippets do as well.

[2016-06-07 20:35] DustinCampbell commented on #408
This is a dupe of #97.

[2016-06-08 04:32] Thaina opened #410 "Can we install both legacy and latest version of omnisharp-vscode?"
I'm using unity on OSX and need to use legacy omnisharp-vscode

I know that I need to uninstall the latest version before install the legacy version

But what would happen if we install the latest version after that? Is it just disable the legacy version again?

ps. Also are there any roadmap about fixing this problem?

[2016-06-08 04:57] kreso22 commented on #230
I think this is linked #269

[2016-06-08 06:53] sec opened #411 "OmniSharp stopped working after update to 1.1.4"
## Environment data
`dotnet --info` output:

VS Code version: 1.2.0
C# Extension version: 1.1.4

## Steps to reproduce
dotnet new
dotnet restore
code .
Start typeing some code for autocomplete

## Expected  behavior
Autocomplete work.

## Actual behavior
No autocomplete, exception in omnisharp log:

It was working yesterday before update to 1.1.4 (1.0.11 if I remember right).

[2016-06-08 07:43] PiterGoCompany commented on #411
The same for me.

[2016-06-08 13:28] DustinCampbell commented on #385
Did the steps above correct the problem for you?

[2016-06-08 13:34] DustinCampbell commented on #410
Unfortunately, I don't believe you can do this. I expect that both extensions running on .cs files will cause significant problems.

Getting .csproj projects working again on OSX is our highest priority right now. We've just merged a change in the OmniSharp server that should get us much closer [here](https://github.com/OmniSharp/omnisharp-roslyn/pull/581). I hope to have a new version of the C# e

[2016-06-08 13:36] DustinCampbell commented on #411
@troydai -- do you know anything about the exception being thrown in the log above?

[2016-06-08 14:06] DustinCampbell commented on #411
FYI -- I can reproduce the problem. Thanks for the heads up!

[2016-06-08 14:39] troydai commented on #411
I have no idea now. But I can take a look now.

[2016-06-08 14:42] troydai commented on #411
Can't repo on mac. But the original repo is on Windows.

[2016-06-08 14:54] DustinCampbell commented on #411
No worries. I'm looking too.

[2016-06-08 14:55] DustinCampbell commented on #411
@troydai, note that the extension is using v1.9-beta4 of OmniSharp.

[2016-06-08 14:56] DustinCampbell commented on #411
I can't repro on OSX either. One other thing @troydai, it's using the net451 build of v1.9-beta4 on Windows.

[2016-06-08 14:59] troydai commented on #411
I can repo it. I suspect it is caused unmatched dotnet and project model.

[2016-06-08 14:59] DustinCampbell commented on #411
Looks like the problem's been there awhile, but got fixed at some point. I sync'd back to v1.9-beta4 and rebuilt OmniSharp and can repro. I can't repro with the latest dev branch though.

[2016-06-08 14:59] DustinCampbell commented on #411
I'll take a look at updating OmniSharp in the extension

[2016-06-08 15:00] DustinCampbell commented on #411
FWIW, it looks like the class in question, `CSharpSyntaxContext` does a bunch of reflection calls in its static constructor.

[2016-06-08 15:06] DustinCampbell commented on #411
Yup -- it fails right here: https://github.com/OmniSharp/omnisharp-roslyn/blob/dev/src/OmniSharp.Roslyn.CSharp/Workers/Intellisense/CSharpSyntaxContext.cs#L438

[2016-06-08 16:28] DustinCampbell commented on #411
OK. I've pushed a new release (1.1.5) to the marketplace that fixes the problem. @sec and @PiterGoCompany, could you update the C# extension from within Visual Studio Code and let me know if you're up and running again? Thanks!

[2016-06-08 16:31] DustinCampbell commented on #408
Actually, even better, I just noticed that this has already been fixed. The original issue, #30, has been fixed. You should update your C# extension with the latest, 1.1.5.

[2016-06-08 16:31] #408 closed

[2016-06-08 16:36] Schnigle commented on #411
The new release seems to work for me.

[2016-06-08 17:01] sec commented on #411
Also working here. Thanks.

[2016-06-08 17:24] alexgwolff commented on #411
1.1.5 also working here

[2016-06-08 17:37] troydai commented on #411
I think we can close this one then.

[2016-06-08 17:40] DustinCampbell commented on #411
Yup! Thanks all for reporting this so quickly and helping us get this fixed.

[2016-06-08 17:40] #411 closed

[2016-06-08 18:20] DustinCampbell commented on #380
Hi, could you try the latest extension on the marketplace (1.1.5)? This should work much better and that version should properly support proxies when downloading OmniSharp.

[2016-06-08 19:06] Sharpiro commented on #380
This does look like it fixed my issue, thanks.

[2016-06-08 19:06] #380 closed

[2016-06-08 19:34] DustinCampbell commented on #380
Awesome! Thanks for verifying!

[2016-06-08 21:48] BingyuLiu opened #417 "I can't hit the break point in VS code"
## Environment data----Ubuntu OS
`dotnet --info` output:

VS Code version:
Version 1.1.1
Commit def9e32467ad6e4f48787d38caf190acbfee5880
Date 2016-05-13T13:38:00.094Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0

C# Extension version: latest one

## Steps to reproduce
I have launch my progress, but I can hit the breakpoints

## Expected  behavior

## Actual behavior

[2016-06-08 21:53] BingyuLiu commented on #417
WARNING: The target process exited without raising a CoreCLR started event. Ensure that the target process is configured to use NETStandard 1.0.0-rc2-23901 or newer. This may be expected if the target process did not run .NET code.
The program '/home/john/dev/MMI/test/Microsoft.Management.Infrastructure.Tests/bin/Linux/netcoreapp1.0/Microsoft.Management.Infrastructure.Tests.dll' has exited with co

[2016-06-08 21:54] DustinCampbell commented on #417
It'd be great if you could provide the requested information from the bug template. The output of `dotnet --info` is actually kind of critical, as is the version number of the C# extension that you're using.

[2016-06-08 21:55] BingyuLiu commented on #417
WARNING: The target process exited without raising a CoreCLR started event. Ensure that the target process is configured to use NETStandard 1.0.0-rc2-23901 or newer. This may be expected if the target process did not run .NET code.
 The program '/home/john/dev/...../Tests.dll' has exited with code 131 (0x00000083).

[2016-06-08 23:44] gregg-miskelly commented on #417
@BingyuLiu the console output tells us a whole lot more than your first report, but we still need the output from 'dotnet --info' to be able to make suggestions.

[2016-06-09 02:55] mellinoe opened #418 "Debugger shows wrong value for some parts of an expression"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.0.0
C# Extension version: 1.0.3-rc2
## Steps to reproduce
Consider this statement:

[code]

When I debug this statement, Window.Width is equal to 960, and Window.Height is equal to 540. Both are `Int32`.

## Expected  behavior
Width should display 960 when hovered, and Height should display 540.

## Actual behavior
When I hover

[2016-06-09 03:17] Thaina commented on #410
@DustinCampbell So... what I need to do? Just install latest version of omnisharp roslyn and vscode plugin will be work just that?

[2016-06-09 04:29] gregg-miskelly commented on #418
@mellinoe do I correctly understand that when you evaluate "Width" in the watch window, you get the correct result? If so, this is a VS Code issue. My guess would be https://github.com/Microsoft/vscode/issues/4059, but it could be something new.

[2016-06-09 05:07] mellinoe commented on #418
Yes, that is correct. I can manually evaluate Width in the "Debug Console" pane, and it prints out "540" as expected. I didn't check the watch pane, but it's probably the same. Your other issue sounds like it's the same thing. Feel free to close this one if it's definitely a VS Code issue.

[2016-06-09 05:13] #418 closed

[2016-06-09 05:54] troydai opened #419 "Improve UI response from xunit test execution"
Pivots:
- Direct command line output to .NET test panel;
- Shows more information regarding to the text execution: running time, exception stack, detail results.

[2016-06-09 05:56] troydai opened #420 "Enable run a xunit test class"
Today test can be triggered at method level only. Add trigger to the code lens on class to run all test methods belongs to this class.

[2016-06-09 05:56] troydai opened #421 "Create commands for running/debugging tests"

[2016-06-09 13:55] DustinCampbell commented on #410
Not yet. I'll ping back on this post when we've got a build for you to try.

[2016-06-09 14:38] DustinCampbell commented on #311
Implemented by @troydai with PR #382

[2016-06-09 14:38] #311 closed

[2016-06-09 14:41] DustinCampbell commented on #28
This should be fixed with #238. While the "dnx run" command is no longer relevant, we have removed run-in-terminal so other commands should not exhibit this problem.

[2016-06-09 14:41] #28 closed

[2016-06-09 16:22] savpek opened #422 "VsCode/Omnisharp doesn't respect excluded folders from project.json"
## Environment data

`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x64

VS Code version:
1.2

C# Extension version:
1.1.5
## Steps to reproduce

Download either protractor or creat

[2016-06-09 16:32] elvirb commented on #410
@DustinCampbell, I'm willing to test it as well if possible.

[2016-06-09 17:23] chuckries commented on #404
@eamodio are you still able to reproduce this with our latest release (1.1.5)?

[2016-06-09 22:09] Hunter21007 commented on #422
I confirm on vscode 1.2.0 and omnisharp 1.1.5

[2016-06-10 11:32] remcoros opened #424 "wrapped assembly reference issues (The type or namespace 'X' could not be found, are you missing...)"
## Environment data

.NET Command Line Tools (1.0.0-preview2-002820)

Product Information:
 Version:            1.0.0-preview2-002820
 Commit SHA-1 hash:  d307537eb8

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x64

VS Code version: 1.2 / 1.3-insiders
C# Extension version: 1.1.5
## Steps to reproduce

I have set up a demo repository

[2016-06-10 13:24] DustinCampbell commented on #422
Hmmm... I'm betting this is coming from the OmniSharp itself. @troydai, did we recently regress this, or did it never work properly?

[2016-06-10 16:12] troydai commented on #422
I'll take a look. Assign to myself.

[2016-06-10 19:08] germansak commented on #380
Sorry for the delay! It's working for me too. Awesome!
Thanks!!

[2016-06-10 21:19] sokket opened #425 "Intellisense for Constructors missing critical information"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003024)

Product Information:
 Version:            1.0.0-preview2-003024
 Commit SHA-1 hash:  ef4a8e85ef

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version: 1.3.0-insider (1.3.0-insider)
C# Extension version: 1.1.5

## Steps to reproduc

[2016-06-10 22:58] asztalosb commented on #338
Any progress on this?
(Just checking in to show that @markgarcia isn't the only one who develops on a 32-bit machine. :) )

[2016-06-11 05:21] markgarcia commented on #338
@asztalosb \*high five\* Currently I'm building [omnisharp-roslyn](https://github.com/OmniSharp/omnisharp-roslyn) myself as drop-in replacement for use by the C# extension. Works like a charm, though I try to use OmniSharp releases that match the ones used by the C# extension. I do hope they get on this on the next release, and I imagine running a build on a 32-bit VM should be easy.

[2016-06-11 16:02] DustinCampbell commented on #425
Hi! Thanks for contacting us about this issue. We're tracking this particular bug with https://github.com/OmniSharp/omnisharp-vscode/issues/36.

[2016-06-11 16:02] #425 closed

[2016-06-11 16:03] DustinCampbell commented on #286
Hi! I'm curious to know if this still happens for you with the latest version of the C# Extension.

[2016-06-11 16:29] Mparaiso commented on #286
I didn't try the latest version yet.

What happened is that I was using VSCode under [MSYS2](https://msys2.github.io) on Windows 8.1 . Since the shell is case sensitive TMP and tmp environment variables are 2 different variables. For some reason VSCode and Omnisharp complained about it (therefore the error). So what I had to do is launch VSCode from the shell that way :

to unset tmp environment v

[2016-06-11 21:13] natemcmaster opened #426 "Adding args to launch.json config causes debugger to fail to launch"
User error? Either I don't understand what "args" is in launch.json or something isn't working as expected.

## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.2.0
C# Extension version: 1.1.5

## Steps to reproduce
**launch.json**
[code]

## Expected  behavior
Start the app with "--debug" passed in as an argument to `Program.Main(string[] args)`

## Actual behavior

[code]

[2016-06-12 04:05] nabychan opened #427 "OmniSharp Stop Working with Odd Multi-Byte characters"
## Environment data
`dotnet --info` output:NET Command Line Tools (1.0.0-preview2-002864)/windows 10-10586-x64
VS Code version:1.20
C# Extension version:1.0.11

## Steps to reproduce
1. open a solution
2. type some code like below, with odd Chinese characters
[code]
3. reopen the solution, it works(showing references, definitions ...)
4. in the same file, OmniSharp will not work when you type any

[2016-06-12 05:54] gregg-miskelly commented on #426
This isn't user error - what you are doing I would expect to work.

[2016-06-12 13:49] robertleeplummerjr commented on #283
If someone were to spend time ensuring that documentation was up to do, or there was a how to upgrade guide, it would really add a lot of momentum to the use of this project.

[2016-06-12 14:25] robertleeplummerjr commented on #283
Maybe if there was a csproj version of a launch file for asp.net, I could write an importer?

[2016-06-12 14:27] Schlicki2808 commented on #338
Same problem here! The point is not that we are using "old" machines, but some devices cannot run 64-bit windows (I want to develop on an Intel Atom based device which only runs 32-bit windows), so it would be nice if x86 components will be loaded if I am using x86 DotNET Core.

[2016-06-13 05:37] coeyes opened #428 "Find All References highlight not working"
## Environment data

OS X 10.11.5
Mono JIT compiler version 4.4.0
VS Code version: 1.2
C# Extension version: Legacy C# Support 0.33
## Steps to reproduce
1. locate cursor on any variable.
2. `Find All References` (Shift + F12)
## Expected  behavior

highlight on variables
## Actual behavior

not highlight.
![gamemanager cs - test2d 2016-06-13 14-33-21](https://cloud.githubusercontent.com/assets/26

[2016-06-13 07:01] alexandrudima opened #429 "# of references display modification"
Moved from Microsoft/vscode#7565
From @lgreenlee

---
- VSCode Version:
  Version 1.2.0
  Commit 809e7b30e928e0c430141b3e6abf1f63aaf55589
  Date 2016-06-06T13:34:34.143Z
  Shell 0.37.6
  Renderer 49.0.2623.75
  Node 5.10.0
- OS Version:
  Linux ubuntu 4.2.0-36-generic #42-Ubuntu SMP Thu May 12 22:05:35 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Steps to Reproduce:
1. Load or create a C# file
2. Crea

[2016-06-13 08:21] weinand opened #430 "Debug .net core app failed if the configurations[x].program contains space"
_From @Crazy7 on June 12, 2016 9:49_

- VSCode Version:1.2.0
- OS Version:Windows 10

Steps to Reproduce:

1. Create a .net core project in a path contains space, such as C:\Users\XX\Documents\Visual Studio 2015\Projects\
2. Open the project in vs code, fill the lanch.json and start to debug

_Copied from original issue: Microsoft/vscode#7575_

[2016-06-13 08:21] weinand commented on #430
_From @JimiC on June 12, 2016 13:39_

Start debug from the debugger window. I suppose you are referring to a known issue #7291.

[2016-06-13 08:21] weinand commented on #430
_From @isidorn on June 13, 2016 8:5_

Dup of #7291

[2016-06-13 08:21] weinand commented on #430
_From @isidorn on June 13, 2016 8:18_

@Crazy7 works for me for debugging node applications that have a program that has whitespace in the path.
Can you please share a screenshot of how vscode failed to start debug?

[2016-06-13 08:21] weinand commented on #430
This issue is about .net and not node.js. I'll move it over...

[2016-06-13 08:23] weinand opened #431 "Can't pass parameters to the program when launching within VSCode"
_From @wk-done on June 12, 2016 5:6_

- VSCode Version: Version 1.1.1
- OS Version: Ubuntu 14.04
- dotnet version: 1.0.0-preview1-002702

Additional information:

- Commit def9e32467ad6e4f48787d38caf190acbfee5880
- Date 2016-05-13T13:38:00.094Z
- Shell 0.37.6
- Renderer 49.0.2623.75
- Node 5.10.0

Steps to Reproduce:

1. Created a simple Program which writes "Hello World" into the console
2. In la

[2016-06-13 08:23] weinand commented on #431
_From @wk-done on June 12, 2016 5:58_

I tried to attach an example as a zip file, but when I try to attach a zip file i get a message

## ???

Anyway, I'll write it down here :-(

## Project structure
[code]

## launch.json
[code]
## tasks.json
[code]
## program.cs
[code]
## project.json
[code]

[2016-06-13 09:25] willl commented on #283
It's actually mentioned in the [readme](https://github.com/OmniSharp/omnisharp-vscode/blob/master/README.md#important-breaking-changes-as-of-1010).

Support for .csproj projects has been temporarily disabled on OS X and Linux. This will impact anyone doing .csproj development on OS X or Linux (e.g. Unity, Xamarin, etc.). Rest assured that this will be restored in the near future. However, for now,

[2016-06-13 13:54] z2xlong commented on #385
sorry for the reply too late, now it’s work fine, thanks

--

Best Regards

Joe

发件人: Dustin Campbell <notifications@github.com>
答复: OmniSharp/omnisharp-vscode <reply@reply.github.com>
日期: 2016年6月8日 星期三 下午9:29
至: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com>
抄送: Joe Zhu <zxz823@msn.com>, Author <author@noreply.github.com>
主题: Re: [OmniSharp/omnisharp-vscode] [ERROR:OmniSharp.Dnx

[2016-06-13 14:18] DustinCampbell commented on #385
Excellent! Thanks for confirming.

[2016-06-13 14:18] #385 closed

[2016-06-13 16:38] elvirb commented on #424
I've been having this issue as well - since 1.0.10. Any updates on this?

[2016-06-13 20:50] gregg-miskelly commented on #430
@Crazy7 what version of the C# extension do you have installed? We fixed some issues with spaces, so if you aren't on 1.1.x, please upgrade to the latest.

[2016-06-14 01:37] robertleeplummerjr commented on #283
Wow, this stuff is moving right along!  Seems now the problem is that packages are not yet accepting dotnet5.  Any way to potentially use 4.5?

[2016-06-14 04:31] eamodio commented on #404
@chuckries I can't seem to repro it with the latest -- though our project is going through major refactors and updates, so I can't say it is 100% because of the updated release.

[2016-06-14 04:37] eamodio commented on #402
With the latest VSCode (insiders) and 1.1.5 of the C# extension, I am still seeing behavior - Errors will persist in the list until clicked on manually. FWIW, I have seen a similar issue in VS 2015 as well.

Also with the latest version of VSCode moving the errors/warnings to a panel (which is much nicer) I am see UI lagging once that panel is open -- it isn't nearly as severe as a few nightlies a

[2016-06-14 05:38] BingyuLiu commented on #417
could we set up a meeting, I'd like to share my screen to debug easily?

[2016-06-14 07:15] chuckries commented on #404
Thanks! I'm going to close this for now, please reopen if you come across this issue again.

[2016-06-14 07:15] #404 closed

[2016-06-14 07:47] rasmus91 commented on #168
Have the same Issues (but from Ubuntu) really missing that Razor Intellisense, it'd really make all the difference in the world.

Will i be able to spot progress on this feature here?

[2016-06-14 09:07] caslan opened #433 "Merge master branch to release branch to enable pipe launch support needed for Docker debugging"
Need to merge dev branch to master to include the work for pipe launch options support (https://github.com/OmniSharp/omnisharp-vscode/pull/415)  in official release. This is needed for docker debugging support.

[2016-06-14 15:52] eamodio commented on #315
Is there any way to control what things are considered warnings or errors?

[2016-06-14 16:08] savpek opened #434 "Breakpoints doesn't get hit when running under the desktop .NET Framework"
## Environment data
Windows 10

`dotnet --info` output:
[code]
VS Code version:
1.2
C# Extension version:
1.1.5

## Steps to reproduce
Clone repository: https://github.com/savpek/omnisharp-bug-example

Place breakpoint in program.cs file.

Start debugging web app in vscode.

## Expected  behavior
Aplication stops breakpoint at program.cs

## Actual behavior
Nothing happens.

[2016-06-14 16:09] savpek commented on #434
corecrl-debug logs:
[code]

[2016-06-14 16:11] savpek commented on #434
Same kind of example works fine if i use netcore application, this happens when i try to debug net451 app. Tried 462 too, same issue.

[2016-06-14 16:43] DustinCampbell commented on #269
@StaceyHaffner recommended trying this project to see if it works: https://github.com/staceyhaffner/SuperSpaceShooter

[2016-06-14 16:46] DustinCampbell commented on #428
If I understand correctly, the issue is that the references are not highlighted within the peek window. Is that correct?

[2016-06-14 16:49] DustinCampbell commented on #269
Here's another project we can use: https://github.com/staceyhaffner/ExtremeMonsterTruck

[2016-06-14 16:55] troydai commented on #269
I'll try loop these projects in automation

[2016-06-14 16:58] gregg-miskelly commented on #426
The issue is that OpenDebugAD7 is concatting the arguments in correctly:

    LaunchOptions  ExeArguments='/Users/greggm/clinew/bin/Debug/netcoreapp1.0/clinew.dllfoo'

[2016-06-14 17:00] gregg-miskelly commented on #431
@wk-done, thank you for reporting the issue. This is the same as #426. I should have a fix out soon.

[2016-06-14 17:00] #431 closed

[2016-06-14 17:24] gregg-miskelly commented on #426
@caslan I think your fix is already in the package used in the master branch, but not in release. But I didn't confirm.

[2016-06-14 17:30] gregg-miskelly commented on #434
@savpek correct, VS Code only support coreclr debugging. If you want to target the desktop framework you should use Visual Studio.

[2016-06-14 17:57] caslan commented on #433
Updated title as we now release CSharp extension from release branch...

[2016-06-14 18:51] DustinCampbell commented on #417
@BingyuLiu, we *could* set up a meeting, but we could also understand a great deal without a meeting if you paste the output of `dotnet --info` from the command line into this bug report as requested.

[2016-06-14 19:00] DustinCampbell opened #436 "Add gestures for manipulating csproj project files"
Currently, manipulating a csproj file can be painful. Adding or removing files and references have to be done manually by editing the project file itself.

[2016-06-14 19:42] gregg-miskelly commented on #426
I confirmed that this is fixed by 9bc4d2f8871853f04f8190aa5951f524541dd9d1. The fix will ship with 1.1.6, which we expect to post very soon. Hopefully today.

[2016-06-14 19:42] #426 closed

[2016-06-14 19:49] DustinCampbell opened #439 "Track project updates for csproj files with globbing patterns"
When globbing patterns are used in a csproj file, the project can change when a file is added or removed that matches the pattern, but the project file itself won't be updated. This situation needs to be detected.

[2016-06-14 20:41] BingyuLiu commented on #417
Thanks Dustin.

john@john-Virtual-Machine:~/dev/MMI$ dotnet --info
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  14.04
 OS Platform: Linux
 RID:         ubuntu.14.04-x64
john@john-Virtual-Machine:~/dev/MMI$

[2016-06-14 20:49] gregg-miskelly commented on #433
This is now complete.

[2016-06-14 20:49] #433 closed

[2016-06-14 20:52] #372 closed

[2016-06-14 23:05] caslan commented on #275
Since we have not received any further feedback from others, I'm closing this item. We can reopen it if we receive similar feedback in the future.

[2016-06-14 23:05] #275 closed

[2016-06-14 23:06] #375 closed

[2016-06-14 23:16] caslan commented on #340
.NET Core 1.0 RTM support matrix doesn't include OSX 10.9: https://github.com/dotnet/core/blob/master/roadmap.md

We can revisit this issue once the support matrix for .NET Core 1.0 changes.

[2016-06-14 23:16] #340 closed

[2016-06-14 23:19] chuckries commented on #369
I am closing this issue as it looks like it is fixed for most people. @EdDore if you run into this again and it is not a path issue please reopen.

[2016-06-14 23:19] #369 closed

[2016-06-15 00:36] gregg-miskelly commented on #283
@robertleeplummerjr I don't quite understand your question. Can you clarify what you mean?

[2016-06-15 00:39] ngraef commented on #362
Excluding `node_modules` doesn't quite fix it for me -- it removes all but one of the errors. Even `"exclude": "**"` produces the one error. Is there a more detailed log where I can see what path it doesn't like? I checked the project directory in PowerShell with `cmd /c dir /a /s /b | ?{ $_.FullNameLength -gt 247 }` and the only results/errors were the node modules, so I'm stumped.

- Windows 10.

[2016-06-15 00:40] gregg-miskelly commented on #426
@natemcmaster this should now be fixed if you upgrade your version of the C# extension (F1, Extensions: Show Outdated Extensions, update C#)

[2016-06-15 01:10] gregg-miskelly commented on #417
@BingyuLiu is your scenario that you are trying to run a unit test class library (one which is supposed to be run by `dotnet test`?)

If so, the fact that your project can't be launched under a debugger is expected - your dll doesn't have an entry point, so `dotnet` doesn't know what to do with your dll. What you want to do is invoke the test method via the link added above the method (see video i

[2016-06-15 03:30] coeyes commented on #428
yes, this issue is related to the peek window highlight.

I expected below. (from vscode offical homepage)
![unity_peekreferences](https://cloud.githubusercontent.com/assets/260646/16067177/efa4ebd4-32f4-11e6-9b34-ca8452fd0cf6.png)

[2016-06-15 14:49] kolbma commented on #25
I'd like to see Visual Basic .Net support in Visual Studio Code, too.
Of course including all the features it provides for C# development.
This would be awesome because there is no good working IDE for VB .Net next to Visual Studio, which is only running on Windows platform.
So this would be a major step to push VB .Net language usage, when you can use all supported platforms to develop with VB .N

[2016-06-15 16:06] natemcmaster commented on #426
Awesome. Looks good :)

[2016-06-15 16:59] JefStat opened #442 "Incorrect syntax highlight with string interpolation"
## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version: Version 1.2.0 (1.2.0)
C# Extension version: 1.1.4

## Steps to reproduce
Use string interpol

[2016-06-15 20:28] Abdullah2993 opened #443 "Intellisense dialogue for signature help is smaller then the text"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.2.1
C# Extension version: 1.1.6

intellisense dialogue is smaller then the text and isn't scrollable so you can't see the text i.e arguments and options

![Prove](http://i.imgur.com/9628D34.png)

[2016-06-15 20:47] Abdullah2993 commented on #442
+1 for this one for

## Environment data
`dotnet --info` output:
[code]
VS Code version: `1.2.1`
C# Extension version: `1.1.6`

![Proof](http://i.imgur.com/5SAguZj.png)

[2016-06-15 23:23] natemcmaster opened #444 "Invoking 'dotnet restore' hangs during omnisharp startup"
## Environment data

`dotnet --info` output:

[code]

VS Code version: 1.2.1
C# Extension version: 1.1.6
## Steps to reproduce
1. Clear nuget caches.
2. Download and open an ASP.NET Core application (example https://github.com/aspnet/MusicStore/archive/release.zip)
3. `Command Palette > Omnisharp: Select Project > (your project)`
4. Omnisharp begins to auto-restore project (log shows `[INFORMATION

[2016-06-15 23:35] natemcmaster opened #445 "Output '.NET' pane should stream results of dotnet-restore"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.1.6
C# Extension version: 1.2

## Steps to reproduce
Trigger a "dotnet restore". (Same behavior if triggered from command palette or the "restore" button on the error message).

## Expected  behavior
Open Output pane and pipe output from `dotnet restore` to the UI.

## Actual behavior
Output does not appear until the restore ope

[2016-06-16 00:00] caslan commented on #430
The new version of the CSharp extension to the marketplace has the fix.

[2016-06-16 00:00] #430 closed

[2016-06-16 07:43] githubhero opened #446 "C# syntax not working as expected"
VSCode Version: 1.2.1
OS Version: Mac OS X 10.11.5

Steps to Reproduce:

   - Download and install the onnisharp extension;
   - Just try to copy and paste some C# code;
   - Look at the source;

The code is not properly highlighted.

![csharp](https://cloud.githubusercontent.com/assets/1677287/16108982/af91a020-33a6-11e6-9485-6dd18bfad591.png)
![csharp2](https://cloud.githubusercontent.com/assets

[2016-06-16 09:07] leonardosnt opened #447 ""Duplicated" errors & warnings"
## Environment data
OS Version: Microsoft Windows [version 10.0.10586]
VS Code version: 1.2.1
C# Extension version: 1.0.11

## Steps to reproduce
- Write a code that cause an error/warning.

## Expected  behavior
- Don't duplicate (quintuplicate ? (and increasing...)) the errors/warning.

## Actual behavior

- (duplicating, triplicating and increasing....) the errors/warnings.

![](http://i.imgur.

[2016-06-16 18:24] natemcmaster opened #448 "Debugger pauses twice on user-unhandled exception when 'all exceptions' setting is enabled"
## Environment data

`dotnet --info` output: 1.0.0-preview2-003116
VS Code version: 1.2.1
C# Extension version: 1.1.6
## Steps to reproduce

Create an app that throws a user-unhandled exception.
Debug Pane > Breakpoints > enable both 'All Exceptions' and 'User-Unhandled Exceptions'
![image](https://cloud.githubusercontent.com/assets/2696087/16128203/8dc8b2f4-33b4-11e6-9efd-377dae7d2be0.png)
Start

[2016-06-16 19:32] MGillson commented on #313
I agree.  I have found the forced formatting annoying.  Is there any plans for configuring how the formatting works?

[2016-06-17 06:09] kreso22 commented on #6
I confirm having same problem.
Intellisense shows 'Loading...' for 10 seconds or more. Every single time I use it.
Also, I noticed references are not shown.

`[ERROR:Microsoft.AspNet.Diagnostics.ErrorHandlerMiddleware] An unhandled exception has occurred: Diagnostic must have span '[359..359)'
Parameter name: diagnostics
System.ArgumentException: Diagnostic must have span '[359..359)'
Parameter na

[2016-06-17 06:21] kreso22 commented on #269
Hi @DustinCampbell, I tested this out - Intellisense works for me on both SuperSpaceShooter and ExtremeMonsterTruck. References are not shown though.
On my own project I don't have Intellisense or references.

[2016-06-17 08:10] lennylxx opened #450 "C# highlight function displays wrong colors when using string interpolation"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.2.1
C# Extension version: 1.1.6

## Steps to reproduce
1. Open VSCode and create a C# source file: test.cs
2. Paste below content and save
[code]

## Expected  behavior
C# highlight function works perfect.

## Actual behavior
![test](https://cloud.githubusercontent.com/assets/5811576/16144502/f704764e-34a5-11e6-9976-b295d8fcdba

[2016-06-17 08:16] lennylxx commented on #442
+1 for this https://github.com/OmniSharp/omnisharp-vscode/issues/450.

[2016-06-17 15:40] tugberkugurlu opened #451 "The project system 'DotNetProjectSystem' threw exception during initialization."
This is blocking me to use VS Code on ASP.NET Core projects :( Not sure how to repro this in isolation but I get this error when I select one of the projects as active one and all intellisense is broken for types on any project level dependencies.

[code]

VS Code info:

[code]

C# Extension:

![image](https://cloud.githubusercontent.com/assets/328122/15621513/661ba6ae-2459-11e6-8576-17228b755aef.

[2016-06-17 15:41] savpek opened #452 "Write some article what "Preliminary support for dotnet test" means and how to use it."
Release notes of latests omnisharp-vscode mentions 'Preliminary support for dotnet test', however i haven't seen any further information what it is and how it can be used for development. Short post about it could be nice and usefull.

[2016-06-17 15:57] chuckries commented on #452
This is a good idea. In the meantime, [here](https://dotnet.github.io/docs/core-concepts/core-sdk/cli/dotnet-test.html) is some information about dotnet test in general.

[2016-06-17 18:30] eamodio opened #453 "Code lens run/debug test only works if the test is in the root folder of the test project"
## Environment data

`dotnet --info` output:

[code]

VS Code version:
`Version 1.3.0-insider (1.3.0-insider) 93e65224d7598017bfa0b188a0d82b66a2ee9698`

C# Extension version:
`1.1.6`
## Steps to reproduce

Have a test project, with a test that isn't in the root of that project
Use the code lens run/debug test
## Expected  behavior

Test either runs or debugs based on the choice
## Actual behavior

[2016-06-17 18:52] gregg-miskelly commented on #453
@troydai FYI

[2016-06-18 10:10] anfomin commented on #93
Is is alive?

[2016-06-20 13:43] nlordell opened #454 "Error while installing .NET Core Debugger - failing on "renameDummyEntrypoint" install stage"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.2.1
C# Extension version: 1.1.6

## Steps to reproduce
- Install latest VS code
- Install latest C# extension
- Open a .NET core application folder

## Expected  behavior
.NET Core Debugger should install successfully

## Actual behavior
.NET Core Debugger fails to install with message `Error while installing .NET Core Debugger

[2016-06-20 13:48] nlordell commented on #454
It appears the installation is failing during the `renameDummyEntrypoint` install stage (after successfully doing a `dotnet restore` and `dotnet publish`.

Here is the output for the install:

[code]

[2016-06-20 14:11] nlordell commented on #454
Updating dotnet to:
[code]

fixed the issue

[2016-06-20 14:11] #454 closed

[2016-06-20 16:37] troydai commented on #453
ah, yup. OmniSharp should move up the folder to find actual project root. It's a bug in `OmniSharp-roslyn` I will file an issue there to trace this problem.

[2016-06-20 16:39] troydai commented on #453
I'll assign this to me and keep it open just in case if there is fix required on the C# extension side.

[2016-06-20 16:40] troydai commented on #453
@eamodio thanks for filing this issue.

[2016-06-20 16:40] chuckries commented on #454
Thank you for reporting this!

[2016-06-20 22:55] JunTaoLuo opened #455 ".NET Test Log are inaccurate or are missing some details"
## Environment data

`dotnet --info` output: 1.0.0-preview2-003118
VS Code version: 1.2.1
C# Extension version: 1.1.6
#### Skipped tests are marked as passed

Currently tests marked as skipped will show a passed result when run from VS Code. For example:

[code]

outputs:

[code]

It would be nice if instead the test indicates that the tests were skipped. It would also be useful if the skip reason

[2016-06-20 22:56] JunTaoLuo commented on #455
Other known issues that I have not seen filed:
- Debugging tests does not output test result (failed, passed)
- Test results only show up as passed or failed, exception that caused the test failures are in the Omnisharp output log.
- Cannot specify TFM or Configuration

[2016-06-20 23:53] troydai commented on #455
Related: https://github.com/OmniSharp/omnisharp-vscode/issues/419

[2016-06-21 05:32] eByte23 opened #456 "Not detecting projects on build in vscode"
VS Code version: 1.3
C# Extension version: latest as of 21/06/2016

See this ticket as for details https://github.com/Microsoft/vscode/issues/7572

Issue is not detecting projects to build automatically and if solution/worksapce only contains 1 project with an entrypoint then run that.

[2016-06-21 07:54] eByte23 commented on #456
https://github.com/OmniSharp/omnisharp-roslyn/issues/589

[2016-06-21 17:41] JunTaoLuo opened #457 "VSCode cannot start OmniSharp.exe on Windows 10 32 bit."
## Environment data
`dotnet --info` output: 1.0.0-preview2-003118
VS Code version: 1.2.1
C# Extension version: 1.1.6

## Steps to reproduce
Open any .NETCore project

## Expected  behavior
OmniSharp launches correctly and the c# extension gives intellisense, xunit test support ...

## Actual behavior
From the OmniSharp Log it seems like the OmniSharp executable was not launched correctly so the c#

[2016-06-21 18:04] troydai commented on #457
@DustinCampbell @david-driscoll

[2016-06-21 19:26] andschwa commented on #417
@gregg-miskelly Yes, we have xUnit tests that we need to debug with VS Code, as implemented in #382, for this exact reason, you cannot attach to dotnet test.

We are (were) running the latest VS Code nightly with the latest plugin nightly, but the feature where the xUnit tests would have a button to debug the individual tests does not appear.

[2016-06-21 19:27] andschwa commented on #417
@BingyuLiu can you try out the newest VS Code and plugin nightly and see if this has since been resolved?

[2016-06-21 20:13] chuckries commented on #457
Duplicate of #338

[2016-06-21 20:13] #457 closed

[2016-06-21 22:04] JunTaoLuo opened #458 "Running unit tests for a test project targeting full CLR and CoreCLR will only run the CoreCLR variant on Windows."
## Environment data

`dotnet --info` output: 1.0.0-preview2-003118
VS Code version: 1.2.1
C# Extension version: 1.1.6
Windows 10 64-bit
## Steps to reproduce

See repro at https://github.com/JunTaoLuo/DotnetTest/tree/johluo/repro-windows-run-dual-target-test. Open in VS Code and run the test `Combine.NET.Tests.CombineNET451Tests.TestVersion` in `/combine/Combine.NET451.Tests`.
## Expected  behavio

[2016-06-21 22:11] JunTaoLuo commented on #458
On another note, the formatting of the exception seems off on Windows. The new lines are not rendered in the OmniSharp Log on Windows but is rendered on Mac/Linux

[2016-06-22 00:35] BingyuLiu commented on #417
yes, I will have a try.

On Tue, Jun 21, 2016 at 12:28 PM, Andy Schwartzmeyer <
notifications@github.com> wrote:

[2016-06-22 03:06] BingyuLiu commented on #417
@andschwa, @gregg-miskelly  I have install a latest insiders VS code, but I can't see the 'run test' or 'debug test' button still.

Version 1.2.0
Commit 809e7b30e928e0c430141b3e6abf1f63aaf55589
Date 2016-06-06T13:34:34.143Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0

[2016-06-22 03:39] troydai commented on #417
I'll close this one.

Talked with @BingyuLiu offline. The project he's using is not a valid .NET core test project.

[2016-06-22 17:40] troydai commented on #458
/cc @DustinCampbell I'll assign to to myself first.

[2016-06-22 17:45] troydai commented on #417
Reopen. John provided a repo: https://github.com/BingyuLiu/MyDotNetApplicatoin.

[2016-06-22 17:57] BingyuLiu commented on #417
Thank you Troy. :)

On Wed, Jun 22, 2016 at 10:45 AM, Troy Dai <notifications@github.com> wrote:

[2016-06-22 18:51] troydai commented on #417
The test links shows up correctly.
![screen shot 2016-06-22 at 11 49 14 am](https://cloud.githubusercontent.com/assets/1329240/16279327/630ad2ee-386f-11e6-9e96-c79255e20875.png)

@BingyuLiu did you select project in VS Code? One the bottom right corner of the VS Code there is button to click to select project. You need to pick up at least the test project in the drop down:
![screen shot 2016-06-22

[2016-06-22 18:57] troydai commented on #417
The test discovery is fine. The actual issue here really is: https://github.com/OmniSharp/omnisharp-vscode/issues/453

After moving the test file to the same level as project.json both run and debug works fine for me:
![screen shot 2016-06-22 at 11 57 05 am](https://cloud.githubusercontent.com/assets/1329240/16279587/77734080-3870-11e6-9d09-30a8b4d9085e.png)

[2016-06-22 19:01] troydai commented on #417
@BingyuLiu please check my test project here: https://github.com/troydai/MyDotNetApplicatoin/tree/fix

I'll close this issue for now since it is partial duplicate, partial no repo. Please keep tracking issue #453, which I'm currently working on.

[2016-06-22 19:01] #417 closed

[2016-06-23 03:09] troydai commented on #453
/cc @gregg-miskelly @DustinCampbell the issue on OmniSharp end is fixed in c27a0cbb6fdda17cf9c49acc56a724b120fd9528. Please integrate with latest OmniSharp,

[2016-06-23 07:36] branciat opened #459 "Not build, analyze, intellisense and no errors logs on linux with netcoreapp1.0"
## Environment data
.NET Command Line Tools (1.0.0-preview1-002702)
Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e
Runtime Environment:
 OS Name:     debian
 OS Version:  8
 OS Platform: Linux
 RID:         debian.8-x64
VS Code version: 1.2.1
C# Extension version: 1.1.6

## output omnisharp log
[INFO] Starting OmniSharp at '/home/jerome/source/MediagralV2.Net/med

[2016-06-23 13:40] shanselman commented on #170
FYI I did a workshop with 32 people in Germany this week and at least 10 folks hit this issue.

[2016-06-23 17:44] DustinCampbell commented on #453
@troydai -- let's get the last OmniSharp changes in and then we'll produce a new release that we can take into the extension.

[2016-06-23 17:45] DustinCampbell commented on #347
This is a duplicate of #249. We'll use that issue to track this.

[2016-06-23 17:45] #347 closed

[2016-06-23 17:46] DustinCampbell commented on #442
This is a duplicate of #249. We'll use that issue to track this bug.

[2016-06-23 17:46] #442 closed

[2016-06-23 17:46] DustinCampbell commented on #450
This is a duplicate of #249. We'll use that issue to track this bug.

[2016-06-23 17:46] #450 closed

[2016-06-23 17:48] troydai commented on #453
@DustinCampbell yup

[2016-06-23 17:50] DustinCampbell commented on #446
Hi! Which bits are not properly highlighted? It looks to me like all syntactic highlighting in your screenshots is correct. It's true that semantic highlighting of type names (e.g. "Console", "Person", etc.) is not supported yet. We're tracking that with #222.

Please feel free to re-open if I missed something obvious in your screenshots.

[2016-06-23 17:50] #446 closed

[2016-06-23 17:54] githubhero commented on #446
Ok, I haven't previously seen #222

[2016-06-24 09:33] weinand opened #460 "Allow debugging multiple projects in one debug session"
_From @matthewrk on June 23, 2016 13:22_

This problem specifically affects dot net core development via vscode. I'm not entirely sure if its a core problem or a vscode problem. Apologies if this issue is misplaced.

The global.json file allows you to define sub projects, similar to a solution in vs.net. A very common setup for a .net project is a web app with several class libraries. This is achi

[2016-06-24 09:33] weinand commented on #460
@matthewrk just a tipp; you can start more than one debug session if you open new VS Code windows on subfolders. So if you you have a subfolder 'server' inside your main project, you can have one debug session on the main project folder and one on the subfolder. Yes, this is a limitation but we are working on lifting that.

[2016-06-24 09:33] weinand commented on #460
_From @matthewrk on June 24, 2016 9:23_

@weinand as far as I understand that would work if you have two executable apps, but in this case I have one web app and several class libraries, e.g. data access, services.

[2016-06-24 09:33] weinand commented on #460
@matthewrk aha, your problem is not about multiple debug sessions in one project but about multiple projects in one debug session. This is something that the dot net extension has to solve.

[2016-06-24 10:14] visualskyrim opened #461 "IntelliSense is not working on Mac for Unity Project"
## Environment data
`dotnet --info` output:

[code]

VS Code version:
[code]

C# Extension version:

1.1.6

## Steps to reproduce

- Open a Unity project with `.sln` and `.csproj` files.
- Click on a `.cs` file.
- write `this.` in a member function of a class.

## Expected  behavior

Intellisense should have worked.

## Actual behavior

No intellisense working out.
The fire icon at the right botto

[2016-06-24 14:40] gregg-miskelly commented on #460
@matthewrk what you are doing should work fine - the debugger debug's processes, not projects.

Was the dll built on the same machine as you are running it and from the same folder? If so, the debugger should be able to open source files because the PDB will contain the full path to where the fields were built. If not, you can use the [sourceFileMap](https://github.com/OmniSharp/omnisharp-vscode/b

[2016-06-24 15:21] DustinCampbell commented on #461
Please note this information on the project readme:

I'm currently in the process of producing a version of the C# Extension that attempts to bring back support for .csproj on OS X and Linux. If you'd be willing to test the extension once it's ready, I'd be grateful.

[2016-06-24 16:11] matthewrk commented on #460
@gregg-miskelly yes it was all built on the same machine. I am attempting to use the following structure:

`
MySolution (I open vscode at this level)
    global.json
    MyWebApp/
        .vscode
            launch.json
            tasks.json
    MyDataLibrary/
    MyServices/
`

Which is basically the standard structure used in vs.net right, maybe my overall approach is wrong. It's important thou

[2016-06-24 16:25] gregg-miskelly commented on #460
The debug adapter itself doesn't know or care what the structure of your project is. VS Code does care a little -- it needs to be able to find your launch.json. But if you are successfully launching then clearly it is happy with the fact that your .vscode folder isn't at the root. The C# extension has code to try and automatically create your launch.json/tasks.json for you, and that definitely car

[2016-06-24 18:28] DustinCampbell commented on #461
I've just added a new release that provides support for MSBuild projects on OS X and Linux [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.1.7). Could you install this new VSIX into VS Code and see if it works for you? Be sure to uninstall the Legacy C# Support extension if you have it installed.

[2016-06-24 18:37] DustinCampbell commented on #410
@Thaina, @elvirb: I've added a new release [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.1.7) that adds support for MSBuild projects (i.e. .csproj) on OS X and Linux. This should bring back Unity support. I've tried it with the Unity sample project and a handful of other Unity projects. Could you try it on your projects and see if it works? Be sure to uninstall the Legacy C#

[2016-06-24 18:43] elvirb commented on #410
@DustinCampbell : Tried it out but it doesn't seem to work. The logs show this error:

[code]

[2016-06-24 18:45] DustinCampbell commented on #410
@elvirb: Try this first from the Terminal window:

brew install openssl
brew link --force openssl

[2016-06-24 19:11] elvirb commented on #410
@DustinCampbell : That fixed it!

[2016-06-24 19:14] DustinCampbell commented on #410
Awesome! IntelliSense and Find All References are working for you again with the latest C# Extension?

[2016-06-24 19:39] DustinCampbell commented on #108
Hi everybody!

I've just added a new release that provides support for MSBuild projects on OS X and Linux [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.1.7). Could you install this new VSIX into VS Code and see if it works for you? Be sure to uninstall the Legacy C# Support extension if you have it installed.

[2016-06-24 19:47] mdouglass commented on #410
After the same link of openssl it's starting up for me.  However, I'm getting a lot of warnings/errors generated for my Unity project that seem to be caused by it not recognizing Unity's particular version of .NET.

In the OmniSharp logs, I see:
[code]

In terms of errors/warnings, here are a sampling (all of these compile fine in Unity and were not giving warnings/errors with the Legacy extension

[2016-06-24 19:53] DustinCampbell commented on #410
Great -- thanks @mdouglass. I'll take a look at this.

[2016-06-24 20:10] aukaost commented on #461
I am getting the following error trying to use 1.1.7 in combination with a Unity project:

The type initializer for 'Crypto' threw an exception.
   at Interop.Crypto.EvpMd5()
   at Internal.Cryptography.HashProviderDispenser.CreateHashProvider(String hashAlgorithmId)
   at System.Security.Cryptography.MD5.Implementation..ctor()
   at OmniSharp.MSBuild.MSBuildProjectSystem.UnityTypeGuid(String proj

[2016-06-24 20:12] kurzemnieks commented on #315
Any solution for this?

[2016-06-24 20:12] aukaost commented on #461
worked around it as per the hint on issue #410

[2016-06-24 23:35] elvirb commented on #410
@DustinCampbell , somewhat working.

After leaving VSCode open for a while, I will start getting this error:

[code]

Also, I get this while loading a project now:

[code]

[2016-06-25 00:04] DustinCampbell commented on #410
Thanks for trying it out. It's progress, but we've still got some work to do. For now, continue using the Legacy C# Support extension, and I'll continue working on this.

[2016-06-25 15:10] matthewrk commented on #460
@gregg-miskelly Here's my current test project in full: https://github.com/matthewrk/dotnetcoresolution

I've managed to get it running with vscode's debugger and successfully debugging lines both in the web app itself and the services library. To achieve this I added a launch config for the WebApp in the root launch.json, and set the options->cwd in tasks.json to my web app's root directory.

Thi

[2016-06-25 22:36] elvirb opened #464 "Referenced assembly resolution is broken"
## Environment data

`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64
VS Code version: 1.2.1
C# Extension version: 1.1.6
## Steps to reproduce

project:

[code]

referenced project

[2016-06-26 16:08] r105m opened #465 "Exception at start"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     fedora
 OS Version:  24
 OS Platform: Linux
 RID:         fedora.24-x64

VS Code version:
 1.2.1
 fe7f407b95b7f78405846188259504b34ef72761

LibUv version:
Имя         : libuv
Архитектура :

[2016-06-27 02:31] janaka commented on #220
**I was wondering what the latest was with this? Is all the functionality available in theory for me to try hook it up?**

I've seen commit https://github.com/OmniSharp/omnisharp-vscode/pull/415/files referencing Docker related changes.

I've tried stumbling around using ^^ and https://github.com/Microsoft/MIEngine/wiki/Offroad-Debugging-of-.NET-Core-on-Linux---OSX-from-Visual-Studio as ref but no

[2016-06-27 04:00] visualskyrim commented on #461
@DustinCampbell
Thanks for the quick response!
The [v1.1.7](v1.1.7) works pretty well for me.

Only I got a warning when I was loading the project:
(Although I think that was probably an environment issue of mine)

[code]

Thanks!

[2016-06-27 04:00] #461 closed

[2016-06-27 06:08] gregg-miskelly commented on #220
@janaka The Visual Studio Docker Tools team is working on scaffolding to use the `pipeTransport` to enable debugging from VS code. I am not sure if it has been released yet though @SteveLasker?

You will however still need to install the .NET CLI locally - we still depend on it for running the local parts of the debugger, doing builds, etc.

[2016-06-27 11:50] visten opened #466 "Error while installing .NET Core Debugger."
why? i am reinstall VSCode and .net core many time..

Error: /Users/visten/.vscode/extensions/ms-vscode.csharp-1.1.6/coreclr-debug/project.lock.json(1,0): warning NU1006: Dependencies in project.json were modified. Please run "dotnet restore" to generate a new lock file.

Starting 'dotnet --info'
.NET Command Line Tools (1.0.0-rc2-002392)

Product Information:
 Version:     1.0.0-rc2-002392
 Commi

[2016-06-27 11:52] #466 closed

[2016-06-27 14:29] DustinCampbell commented on #451
@tugberkugurlu: Have you tried a more recent version of the C# extension? 1.1.6 was publishing a couple of weeks ago.

[2016-06-27 14:57] SteveLasker commented on #220
Thanks. @gregg-miskelly
@janaka last week, we released http://aka.ms/yodocker for debugging  .net core apps with vs code in a Linux container. Yo docker also supports Nod.js.
You may also want htt:p//aka.ms/DockerToolsForVSCode to get docker language services.
I am curious what type of apps your looking to debug. Web, APIs, console , ???
Thanks,
Steve

[2016-06-27 14:57] SteveLasker commented on #220
Well release .NET Core RTM versions today

[2016-06-27 16:30] gregg-miskelly commented on #466
@visten since you closed the issue, you might have figured this out yourself, but the issue is that you still have parts of a very old .NET CLI installed on your box. Unfortunately OSX doesn't have support for actually removing pkg's.

Here is the known issue item for this: https://github.com/dotnet/core/blob/master/cli/known-issues.md#uninstallingreinstalling-the-pkg-on-os-x

What I have done is:

[2016-06-27 16:50] daniel-a-melo opened #469 "Installation fails on Ubuntu 16.04 x64, vccode 1.2.1, .NET Core 1.0 RTM"
## Environment data
`dotnet --info` output:

[code]
VS Code version: 1.2.1
C# Extension version: 1.1.7

## Steps to reproduce
* Install .net core 1.0 RTM, .net core tool preview 2
* Install vscode 1.2.1
* Install c# extension

## Expected  behavior
C# extension of vscode installed successfully

## Actual behavior
C# extension fails to install

[code]

It seems that the current version of the exten

[2016-06-27 16:52] janaka commented on #220
@SteveLasker @gregg-miskelly Thanks.

Sounds like the Yo generator will answer more of my questions I'll dig in later.

As we (Hudl.com) adopt .Net Core it could be any of those. I've been using a Web app and an API to experiment with things .Net Core and Docker related.

A lot of our devs are on Mac. Today they have to develop in Parallel, the developer experience sucks. With debugging in Docker

[2016-06-27 17:24] troydai commented on #453
Assign to @DustinCampbell

[2016-06-27 18:29] caslan commented on #469
The next version of the CSharp extension will have support for this. I'll update the thread when the new one comes out. Thanks!

[2016-06-27 20:51] rajkumar42 opened #471 "Omnisharp for new Linux distros supported by dotnet"
@DustinCampbell dotnet has added support for couple of new Linux distros (https://www.microsoft.com/net/core) OpenSUSE, Fedora 23, Ubuntu 16. Can you please add support?

[2016-06-27 20:58] DustinCampbell commented on #471
Wow, that's news to me. Note that we can only realistically support distros that VS Code supports.

Are you certain that Ubuntu 16 doesn't already work?

[2016-06-27 21:24] edwardmeshuris opened #472 "How to disable omnisharp without uninstalling?"
We have old projects that have not been converted to core yet, when i open these in vscode, i just get a bunch of errors. How to disable?

[2016-06-27 21:27] rajkumar42 commented on #471
VSCode installs and runs fine on Fedora 23 and Ubuntu 16. Installing the debugger fails at the publish stage, @caslan and @gregg-miskelly looking at fixing them.
VSCode compressed zip had to be downloaded and extracted for OpenSuse. I think for the above three we need the right assests in method getOmnisharpAssetName().

For Oracle Linux, which is binary compatible with CentOS, I've sent a pull re

[2016-06-27 21:38] DustinCampbell commented on #471
But, does Ubuntu 16 require any work? My expectation is that Ubuntu 16 is the same. Does Ubuntu 16 have a different RID in .NET Core?

[2016-06-27 21:47] rajkumar42 commented on #471
Yep it is a different RID for Ubuntu 16. dotnet cli installers are not the same for Ubuntu 14 & 16, they are not binary compatible.

RID: ubuntu.14.04-x64

[2016-06-27 21:48] DustinCampbell commented on #471
thanks @rajkumar42 -- that's helpful.

[2016-06-27 21:55] gregg-miskelly commented on #471
@DustinCampbell you will need three new zip's -- ubuntu.16.04-x64, fedora.23-x64, opensuse.13.2-x64

[2016-06-27 21:57] DustinCampbell commented on #471
Thanks -- will take a look.

[2016-06-28 02:41] allangomessl commented on #352
This error occurring with me using asp.net core RTM

[2016-06-28 05:41] richardzeng1985 opened #473 "The launch.json is not generated automatically when open existing aspnet core mvc project"
## Environment data
`dotnet --info` output:
VS Code version: 1.2.1
C# Extension version: .1.1.7

## Steps to reproduce
1. Launch vscode
2. Open the existing asp.net core mvc project "src\musicstore" <is there a way can allow me upload the sample project ?>
3. Click "Yes" when pop up a prompt "adding missing build and debug assets ?" when  the status bar indicate "Successfully installed .NET Core D

[2016-06-28 06:22] richardzeng1985 opened #474 "Debugger: Start without debugging (Ctrl+F5) doesn't take effect"
## Environment data
`dotnet --info` output:
VS Code version:1.2.1
C# Extension version:1.1.7

## Steps to reproduce
1. Open existing sample project "src\musicstore"
2. Set a breakpoint in line "19" in file HomeController.cs
3. Ctrl +F5

## Expected  behavior
The web application should be launched without hitting the breakpoint.

<From the Command Palettle,  I can see this command via type :Debug:

[2016-06-28 06:24] richardzeng1985 commented on #473
Attached repro project.
[musicstore.zip](https://github.com/OmniSharp/omnisharp-vscode/files/336372/musicstore.zip)

[2016-06-28 07:38] richardzeng1985 opened #475 "Debugger: There is no error message when attempt to launch the program (web) which contains a space"
## Environment data
`dotnet --info` output:
VS Code version:1.2.1
C# Extension version:1.1.7

## Steps to reproduce
1. Download and launch the sample project from https://github.com/OmniSharp/omnisharp-vscode/files/336372/musicstore.zip
2. Select ".NET Core Launch Web" and configure the location of musicstore.dll for "program which contains the space at the end as following:
    "program": "${work

[2016-06-28 08:36] remcoros commented on #464
duplicate of #424

[2016-06-28 09:16] richardzeng1985 opened #476 "Debugger: Disable JMC doesn't work correctly"
## Environment data
`dotnet --info` output:
VS Code version:1.2.1
C# Extension version:1.1.7

## Steps to reproduce
1. Create a sample .net core console app via "dotnet new "
2. Launch the project and click "Yes" to add debug/build assets
3. Disable JMC in launch.json  < Note:  The "justMyCode" item is not in this file by default and I need to manually add it,  is it a bug ? >
     "justMyCode": f

[2016-06-28 10:21] richardzeng1985 opened #477 "Debugger: Improve the error message when vscode attempt to attach to dotnet process with mismatched privilege"
## Environment data

`dotnet --info` output:
VS Code version:1.2.1
C# Extension version:1.1.7
## Steps to reproduce
1. Create a sample .dotnet core console application with following code:

[code]
2. Launch vscode with **non-admin** and open the project
3. Launch command line with **admin**, and run the application "dotnet run"
4. Set the target as "attach" and configure the process id of "dotnet"

[2016-06-28 10:34] ClaireKang opened #478 "Debugger: Mismatch value between data tip and local window after editing a variable in watch window"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1 Set breakpoint at line of var cacheKey = "topselling" in HomerController.cs
2 Press F5 to start debugging
3 Change to watch window, add expression of cacheKey = "Hello"
4 Press F10 to step over to next line, observe the data tip of  cacheKey and same variable in local window.
5 Press F10 to

[2016-06-28 10:49] JiuzhouLulu opened #479 "Respectively change the value of the variable in the "WATCH" and "DEBUG CONSOLE" operated, can not be fully synchronized."
## Environment data
`dotnet --info` output:
 VS Code version:1.2.1
 C# Extension version:1.1.7
VS Code version:
        public HomeController(IOptions<AppSettings> options)
        {
            int a=3,b=3;
            int c=a*b;
            _appSettings = options.Value;
        }
C# Extension version:

## Steps to reproduce
1.Set a breakpoint in "int c = a * c" at, hit F5 to start debugging.
2.I

[2016-06-28 10:52] Serena01 opened #480 "Debugger:variable of local window won't be change while changing variable in watch window"
## Environment data
`dotnet --info` output:
VS Code version:1.2.1
C# Extension version:1.1.7

## Steps to reproduce
1.Download and launch the sample project from https://github.com/OmniSharp/omnisharp-vscode/files/336372/musicstore.zip
2.Select ".NET Core Launch Web" and configure the location of musicstore.dll for "program which contains the space at the end as following: "program": "${workspaceR

[2016-06-28 10:55] GraceDong opened #481 "Debugger: Function breakpoint cannot be hit"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1 In breakpoints window of VSCode, click button to add a new function breakpoint
2 Input "HomeController" in that text pane
3 Press F5 to start debugging

## Expected  behavior
HomeController constructor should be hit

## Actual behavior
That function breakpoint cannot be hit

[2016-06-28 11:06] Serena01 opened #482 "Debugger: "justMyCode" option should be existed in launch.json by default"
## Environment data
`dotnet --info` output:
VS Code version:1.2.1
C# Extension version:1.1.7

## Steps to reproduce
Download and launch the sample project from https://github.com/OmniSharp/omnisharp-vscode/files/336372/musicstore.zip
2.Select ".NET Core Launch Web" and configure the location of musicstore.dll for "program which contains the space at the end as following: "program": "${workspaceRoo

[2016-06-28 11:11] GraceDong opened #483 "Debugger: Input box for function breakpoint will stay in breakpoints window and not disappeared"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1 In breakpoints window of VSCode, click button to add a new function breakpoint
2 Input "HomeController" in that text pane then press Enter

## Expected  behavior
Input box should disappear at once

## Actual behavior
Input box can't disappear and the newly input function breakpoint couldn't

[2016-06-28 11:25] ClaireKang opened #484 "Debugger: Setting variable's value in watch window before debug session should not affect that variable"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1.  Add expression of cacheKey = "Hello" in watch window before setting breakpoint
2. Setting breakpoint in  var cacheKey = "topselling "
3.  Press F5 to start debugging
4.  Press F10 twice to step over
5.  Observe the data tip of cacheKey  in local window.

## Expected  behavior
CacheKey's da

[2016-06-28 11:31] GraceDong opened #485 "Debugger: The messages are duplicate in data tip"
## Environment data

`dotnet --info` output:
VS Code version:
C# Extension version:
## Steps to reproduce

1 Insert an expression “int a=10;” in HomeController function
2 move the mouse on variable a to show data tip
## Expected  behavior

Data tip should not display the duplicate message
## Actual behavior

The messages are duplicate in data tip

[2016-06-28 15:07] sapropel commented on #469
is there a chance we might get a fix soon.. like today or something? :)

MS finally releases coreclr 1.0 with official Ubuntu 16.04 repository, and omnisharp decides not to work grrrr

thanks for everything btw.

[2016-06-28 16:07] chuckries commented on #485
@GraceDong Can you get a screenshot of this behavior? It would be very helpful.

[2016-06-28 16:10] chuckries commented on #474
This is being tracked by #199

[2016-06-28 16:10] #474 closed

[2016-06-28 16:27] matjazmav commented on #466
When I open my project  with `code .` I get same error with different log:

[code]

[2016-06-28 16:46] gregg-miskelly opened #486 "libmscordbi.so calls into libvsbaseservices.so's PAL, causing corruption"
## Steps to reproduce
On Linux --
1: Build debug build of clrdbg
2: Build debuggee --

    cd ~
    mkdir clicon
    cd clicon
    dotnet new
    dotnet build

3: Launch debuggee

    ./clrdbg --interpreter=mi
    -file-exec-and-symbols dotnet
    -environment-cd ~/clicon
    -exec-arguments bin/Debug/netcoreapp1.0/clicon.dll
    -exec-run

4: After stopping on entry point, stop using `-gdbexit`

[2016-06-28 16:49] gregg-miskelly commented on #486
I believe the problem is that libmscordbi.so imports CloseHandle very generically:

    0000000000000000      DF *UND*  0000000000000000  V1.0        CloseHandle

Hopefully there is something with our versioning script that we can do to make sure that dbi binds to the DAC PAL instead.

[2016-06-28 17:12] rajkumar42 commented on #466
@matjazmav C# extension support for ubuntu 16 is coming soon. You can try opening your project on  ubuntu 14.

[2016-06-28 18:42] gregg-miskelly commented on #476
That sounds correct. I wouldn't expect there to be a non-user code in that scenario. You need some non-user code on the call stack (ex: use a Lazy<T>).

[2016-06-28 18:42] #476 closed

[2016-06-28 19:13] DustinCampbell commented on #471
Changes to create new OmniSharp builds that target the new RIDs is here: https://github.com/OmniSharp/omnisharp-roslyn/pull/596. I'm also updating OmniSharp to the .NET Core 1.0 packages.

[2016-06-28 20:14] DustinCampbell commented on #471
OmniSharp release with new distros is ready here: https://github.com/OmniSharp/omnisharp-roslyn/releases/tag/v1.9-beta11. I'll need to update our distro-sniffing OmniSharp download code next.

[2016-06-28 20:38] gregg-miskelly commented on #478
@ClaireKang Are you removing the watch window expression after you have evaluated it once?

[2016-06-28 20:40] gregg-miskelly commented on #481
Duplicate of #295

[2016-06-28 20:40] #481 closed

[2016-06-28 20:42] gregg-miskelly commented on #483
Hi @GraceDong any UI bugs should be opened in http://github.com/Microsoft/vscode/issues. For this one, the C# extension doesn't support function breakpoints. So I would guess that is why you are seeing this. But you can certainly ask the VS Code team.

[2016-06-28 20:42] #483 closed

[2016-06-28 21:13] gregg-miskelly commented on #469
We are actively working on it, and expect to have one up this week.

[2016-06-28 21:14] gregg-miskelly commented on #466
@matjazmav Ubuntu 16 is tracked with #469.

[2016-06-29 01:53] GraceDong commented on #485
Hi Chuck,

Thanks  for your following up on this. Here’s the screenshot(please see attachment for details)
[cid:image002.png@01D1D1EB.ACE8C230]

Best Regards,

Grace
From: Chuck Ries [mailto:notifications@github.com]
Sent: Wednesday, June 29, 2016 12:08 AM
To: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com>
Cc: Grace Dong (CSI Interfusion Inc) <v-grdong@microsoft.com>; Mention <me

[2016-06-29 02:02] dsschnau commented on #424
Hey, I'm also seeing this issue in VS Code, specifically referencing XUnit. Same behavior, the `dotnetI'm using v `1.1.6` of this extension.

Here's my `dotnet --info` output.
[code]

[2016-06-29 03:07] xdhywj opened #489 "Debugger: '\r\n' doesn't perform line feed operations"
## Environment data
`dotnet --info` output:
VS Code version: 1.2.1
C# Extension version: 1.1.7

## Steps to reproduce
1. Select 'All Exceptions' in Breakpoints window.
2. Add following code and execute them.

                List<int> list=new List<int>();
                for(int i=0;i<10;i++)
                {
                    list.Add(i);
                }
                int b=list[10]+1;
3.

[2016-06-29 03:09] AmberZhang2016 opened #490 "Debugger: Support Edit and Continue/Hot Reload"
## Environment data

`dotnet --info` output:
VS Code version:1.2.1
C# Extension version:1.1.7
## Steps to reproduce
1. We add following code to update the value of one variable when break mode:
    a++;
2.  then save the updated file;
3.  F10
## Expected  behavior

the new line will be executed and the value will be increased
## Actual behavior

the new line is skipped and the value is not changed

[2016-06-29 05:26] gregg-miskelly commented on #490
@AmberZhang2016 Edit and Continue is a large and very connected feature which we don't have any immediate plans to bring to VS Code. I will leave this open, and people feel free to '+1' this. But, just to be clear, it is at least going to be a while before we get to this.

[2016-06-29 05:51] gregg-miskelly commented on #489
The CLR/CoreFX is what is going to decide what this string looks like. The debugger just shows it. This seems pretty 'by design' to me.

[2016-06-29 05:51] #489 closed

[2016-06-29 06:07] ClaireKang commented on #478
No, I typed the expression in watch window while debugging and didn't remove it.

[2016-06-29 06:39] AmberZhang2016 opened #491 "Debugger: Couldn't break at the exception even after we checked the User-Unhandled Exceptions"
## Environment data
`dotnet --info` output:
VS Code version:1.2.1
C# Extension version: 1.1.7

## Steps to reproduce
1. add one User-Unhandled Exception like below:
     int j = 0;
     j = 1/j;
2. F5

## Expected  behavior
can be break on this exception

## Actual behavior
doesn't break and see the error in the webpage

## comment:
If we checked the All exception, it will break on this User-Unhan

[2016-06-29 07:19] jonnyyu opened #492 "failed to install dotnet debugger on macOS Sierra (10.12)"
## Environment data

`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64

VS Code version: Version 1.2.1 (1.2.1)
C# Extension version: 1.1.7
## Steps to reproduce
1. ins

[2016-06-29 07:29] AmberZhang2016 opened #493 "Debugger: EE window couldn't displayed values normally when break on exception"
## Environment data
`dotnet --info` output:
VS Code version:1.2.1
C# Extension version:1.1.7

## Steps to reproduce
1. Download and launch the sample project from https://github.com/OmniSharp/omnisharp-vscode/files/336372/musicstore.zip
2. Insert below code in  public async Task<IActionResult> Index() function of HomeController.cs
     // Get most popular albums
            var cacheKey = "topsell

[2016-06-29 09:44] sharok opened #494 "Installing debugger: timeout when restoring packages"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64
VS Code version: 1.2.1
C# Extension version: 1.1.7

## Steps to reproduce
Install .net core SDK,
In

[2016-06-29 10:06] Serena01 opened #495 "Debugger: Is it expected pop up an error dialog after double clicking F5?"
![error](https://cloud.githubusercontent.com/assets/20184641/16448380/c1f643ec-3e23-11e6-8883-c39aa7e28ca9.PNG)
## Environment data
`dotnet --info` output:
VS Code version:1.2.1
 C# Extension version:1.1.7

## Steps to reproduce
1.Download and launch the sample project from https://github.com/OmniSharp/omnisharp-vscode/files/336372/musicstore.zip
 2.Select ".NET Core Launch Web" and configure the

[2016-06-29 10:34] Serena01 opened #496 "Debugger:Breakpoints hit the wrong line after editing."
## Environment data
`dotnet --info` output:
VS Code version:1.2.1
 C# Extension version:1.1.7

## Steps to reproduce
1.Download and launch the sample project from https://github.com/OmniSharp/omnisharp-vscode/files/336372/musicstore.zip
2.Select ".NET Core Launch Web" and configure the location of musicstore.dll for "program which contains the space at the end as following: "program": "${workspace

[2016-06-29 10:47] GraceDong opened #497 "Debugger: Conditional breakpoint not supported by this debug type"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1 Add a conditional breakpoint at  line of " _appSettings = options.Value; " in HomeController.cs
and edit that breakpoint with condition of "1<0"
2 Press F5 to start debugging

## Expected  behavior
The conditional breakpoint I just added shouldn't be hit in editor window. I input a false exp

[2016-06-29 11:34] agoretsky commented on #43
+1

[2016-06-29 15:53] gregg-miskelly commented on #478
@ClaireKang in that case, the behavior you are seeing seems like what I would expect -- VS Code has no smarts yet to prohibit re-evaluation of expressions that have side effects. So on each step your assignment statement will re-run at some non-deterministic point after entering break state.

[2016-06-29 15:56] gregg-miskelly commented on #491
@AmberZhang2016 are you saying you have a console app with a main method with just the divide by zero expression you referenced?
.NET Core 1.0?
Windows?

[2016-06-29 16:01] gregg-miskelly commented on #493
@AmberZhang2016 what does the call stack window list?

[2016-06-29 16:13] gregg-miskelly commented on #494
@sharok: can you try this and see if you run into the same problem:

     cd /d %USERPROFILE%
     mkdir RestoreTest
     cd RestoreTest
     dotnet new

open project.json, add an entry under 'dependencies' to anything that isn't already in your nuget cache. You could try `"System.Security.Cryptography.Algorithms": "4.2.0"`.

    dotnet restore

[2016-06-29 16:21] sharok commented on #494
I @gregg-miskelly I got the following:

[code]

[2016-06-29 16:21] gregg-miskelly commented on #497
@GraceDong conditional breakpoints are just about to go in, but there aren't in yet.

[2016-06-29 16:22] gregg-miskelly commented on #497
@chuckries do you want to resolve this once you checkin?

[2016-06-29 16:27] chuckries commented on #497
@gregg-miskelly sure.

[2016-06-29 21:44] DustinCampbell commented on #471
Addressed with #500

[2016-06-29 21:44] #471 closed

[2016-06-29 21:46] DustinCampbell commented on #473
@caslan: I don't think this is a debugger issue. It's with the tasks.json/launch.json generation code. I  suspect this is the same issue as #170.

[2016-06-30 00:08] caslan commented on #495
This should be a VS Code issue, but I can't remember if there was anything tracking this. @chuckries, can you look at this further?

[2016-06-30 00:12] gregg-miskelly commented on #469
A release is now on https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.2.0 that should address this.

[2016-06-30 00:14] AmberZhang2016 commented on #493
![capture2](https://cloud.githubusercontent.com/assets/20198228/16472846/5c41443a-3e9a-11e6-9091-9b13168bf180.PNG)
Call Stack window looks normal, and this is an unstable issue, there are half chance to repro.

[2016-06-30 00:18] AmberZhang2016 commented on #491
sorry for the confuse,
1.Download and launch the sample project from https://github.com/OmniSharp/omnisharp-vscode/files/336372/musicstore.zip
2.Insert below code in public async Task Index() function of HomeController.cs
3. add one User-Unhandled Exception like below: int j = 0; j = 1/j;
4. F5

[2016-06-30 00:20] gregg-miskelly commented on #493
@AmberZhang2016 the issue I sure is because of that '[External Code]' frame on the top. It shouldn't really be there.

[2016-06-30 00:23] gregg-miskelly commented on #491
This is by design - exceptions in an async method that return a task aren't considered user handled.

[2016-06-30 00:23] #491 closed

[2016-06-30 00:24] caslan commented on #486
@gregg-miskelly Shouldn't we close this now?

[2016-06-30 00:27] gregg-miskelly commented on #486
Sounds good.

This was resolved with https://github.com/OmniSharp/omnisharp-vscode/pull/498

[2016-06-30 00:27] #486 closed

[2016-06-30 00:28] caslan commented on #482
This is by design. To keep the launch.json file minimal, we don't display the setting and use the default value for the setting. You should see "justMyCode" in intellisense if you try to add it to the file with its default value of true.

[2016-06-30 00:28] #482 closed

[2016-06-30 01:49] DustinCampbell commented on #465
Hi, we've just released a new version ([1.2.0](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.2.0)) that should work much better with Fedora. Could you try that?

Also, note that ~/.vscode/extensions/ms-vscode.csharp-1.1.6/.omnisharp/OmniSharp is not actually a Mono application -- it's a standalone .NET Core application.

[2016-06-30 01:54] DustinCampbell commented on #4
I suspect https://github.com/OmniSharp/omnisharp-roslyn/pull/598 will address this issue.

[2016-06-30 01:58] DustinCampbell commented on #140
I believe this will be fixed by https://github.com/OmniSharp/omnisharp-roslyn/pull/598.

[2016-06-30 02:18] DustinCampbell commented on #427
I suspect this will be addressed with https://github.com/OmniSharp/omnisharp-roslyn/pull/598.

[2016-06-30 02:21] DustinCampbell commented on #348
@con-ssc, @gregg-miskelly: Now that .NET Core 1.0 is out, I'm curious to know if this issue is still relevant. Does this still happen with [.NET Core 1.0](https://dot.net)?

[2016-06-30 02:23] DustinCampbell commented on #321
@csholmq: I just wanted to follow up and see how things are going. We've had a few updates of the C# extension in the past several weeks and there have been several improvements made to the OmniSharp download process. Is it working better for you these days?

[2016-06-30 02:25] DustinCampbell commented on #280
I suspect this will be better addressed with https://github.com/OmniSharp/omnisharp-roslyn/pull/598

[2016-06-30 02:26] DustinCampbell commented on #253
Hi @lucamorelli, I just wanted to follow up since this bug has gotten stale over the past couple of months. Since the last contact with us, .NET Core has release 1.0 and we've shipped several versions of the C# extension for Visual Studio Code. I'm curious to know if you're working successfully now.

[2016-06-30 02:28] DustinCampbell commented on #209
Hi @MulderLiu,

It's been awhile since our last contact and there've been several releases, including .NET Core 1.0 and multiple releases of the C# extension. Are you still experiencing similar issues as the one you described here?

[2016-06-30 02:56] gregg-miskelly commented on #494
@sharok I tried to recreate your setup as best I could - same user name, on Win7. Unfortunately I didn't have any luck. We may need to pass you off to the NuGet team to see if they have any guesses. But:

1. We are planning to push a new release tomorrow (1.2.1) which will make some changes to restore which maybe solves your problem if it is something to do with restoring those specific package. N

[2016-06-30 05:44] gregg-miskelly opened #508 "Add detection if 'dotnet' is not on the path on RHEL"
## Steps to reproduce

Machine: Red Hat Enterprise Linux 7.2
1. Follow instructions on https://github.com/Microsoft/MIEngine/wiki/Logging#using-shipping-bits to install the CLI
2. Install VS Code
3. Install the C# extension
## Expected  behavior

Debugger should restore, projects should build, OmniSharp should be able to run dotnet restore, etc.
## Actual behavior

None of these work because 'dotn

[2016-06-30 06:11] damonmcminn commented on #471
@DustinCampbell thanks very much!

I'm running on Fedora 23. Am I right to assume upgrading to Fedora 24 will result in OmniSharp no longer working? If so, is it a fix I could be directed to implement?

Thanks :)

[2016-06-30 06:48] sharok commented on #494
@gregg-miskelly Ok. I will try again when a new release will be available.

[2016-06-30 06:52] con-ssc commented on #348
With the preview 2 of the CLI it seems to work
![image](https://cloud.githubusercontent.com/assets/8189808/16479339/edc2b8bc-3e9f-11e6-83ba-4363d390659f.png)

[2016-06-30 07:09] sharok commented on #494
@gregg-miskelly  I don't know what happened, but after upgrading to 1.2.0 version debugger was installed correctly. Thanks.

[2016-06-30 07:09] #494 closed

[2016-06-30 08:13] Mirodil opened #509 "Microsoft C# extension not wokring in Ubuntu x64"
- VSCode Version:1.2.1
- OS Version: ubuntu.16.04-x64

Steps to Reproduce:

1. install latest version of .NET Core
2. install VSCode
3. install Microsoft C# extension to VSCode
4. create project with `dotnet new`

and the following error
[code]

[2016-06-30 09:21] edevyatkin commented on #509
Please, update your CSharp extension to version 1.2. It released some hours ago.

[2016-06-30 10:09] bdbai opened #510 "Error while installing Debugger (openSUSE Leap)"
## Environment data
`dotnet --info` output:
[code]
VS Code version: `1.2.1` `fe7f407b95b7f78405846188259504b34ef72761`
C# Extension version: `1.2.0`

## Steps to reproduce
Launch VS Code and enter a C# project generated by `dotnet new`.

## Expected  behavior
No error output and start debugging after pressing F5.

## Actual behavior
VS Code says `Error while installing .NET Core Debugger.`. Here i

[2016-06-30 10:29] GraceDong opened #511 "Debugger: Breakpoint should be hidden while function snippet fold"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1 Set a breakpoint at  any function in HomeController.cs
2 Fold this function

## Expected  behavior
The breakpoint should be hidden

## Actual behavior
This breakpoint  was still displayed on the editor

[2016-06-30 10:54] GraceDong opened #512 "Debugger: reports bad bind information when binding to a line with no associated code."
## Environment data

`dotnet --info` output:
VS Code version:
C# Extension version:
## Steps to reproduce

1 Set a breakpoint at a line of "using System.Linq;" in HomeController.cs
## Expected  behavior

This breakpoint cannot be set
## Actual behavior

The breakpoint can still be set, and I tried this in Visual Studio, that cannot be set in using statements. So is it by-design behavior?

[2016-06-30 11:00] GraceDong opened #513 "Debugger: Pop up exception dialog when click the 'Stop' button during the debug session"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1 Press F5
2 Press the  "Stop" button before the breakpoint comes to be in break mode

## Expected  behavior
This project should be stop

## Actual behavior
VSCode would pop up an exception dialog
![error](https://cloud.githubusercontent.com/assets/20184778/16485711/fcc32614-3ef2-11e6-8431-12a

[2016-06-30 13:32] DustinCampbell commented on #471
It *might* break. The extension will certainly download the Fedora-targeted OmniSharp. However, OmniSharp is dependent on .NET Core to run, which only supports Fedora 23 at the moment. So, if there are any changes in Fedora 24 that would break .NET Core, it would break OmniSharp. There isn't a simple fix.

[2016-06-30 13:34] DustinCampbell commented on #509
Yes, let us know if 1.2.0 fixes the problem for you.

[2016-06-30 13:35] DustinCampbell commented on #348
Excellent!

[2016-06-30 13:35] #348 closed

[2016-06-30 13:46] edevyatkin commented on #509
@DustinCampbell Yes, it works. Thank you very much.

[2016-06-30 13:51] DustinCampbell commented on #509
Great!

[2016-06-30 13:51] #509 closed

[2016-06-30 13:51] #469 closed

[2016-06-30 16:13] damonmcminn commented on #471
I'll put that unnecessary idea to bed then :)

On Thu, 30 Jun 2016, at 02:33 PM, Dustin Campbell wrote:

Links:

  1. https://github.com/OmniSharp/omnisharp-vscode/issues/471#issuecomment-229658924
  2. https://github.com/notifications/unsubscribe/AFKj3MQRBv-FqmiXaoQYT2qM3IswuBYnks5qQ8WNgaJpZM4I_foz

[2016-06-30 16:18] kjbetz opened #514 "OmniSharp doesn't look for "exclude" in project.json under "buildOptions": "compile" or "embed""
## Environment data
`dotnet --info` output:
[code]

VS Code version: `1.2.1`
C# Extension version: `1.2.0`

## Steps to reproduce

In Asp.Net Core 1.0.0 (RTM) project `exclude` has been deprecated from `project.json`. The warning given is this: `warning DOTNET1015: The 'exclude' option is deprecated. Use 'exclude' within 'compile' or 'embed' instead.`

I moved my `exclude` under `compile`.

## Exp

[2016-06-30 17:37] DustinCampbell commented on #514
Hi! Thanks for the report. This is being tracked by https://github.com/OmniSharp/omnisharp-vscode/issues/422.

[2016-06-30 17:37] #514 closed

[2016-06-30 19:41] wesrupert opened #515 "Organization of debugger settings"
As we start adding more configuration to the extension, it's worth looking at where we want various options to go. Currently, we're adding debugger options to the root of the launch configuration, e.g.

[code]

However, as we continue to add more features and configuration, this route will both add length to a disorganized and loosely-related list of options, but it will also negatively impact dis

[2016-06-30 20:04] geirsagberg opened #518 "Irrelevant code fix suggestions"
## Environment data

`dotnet --info` output:

[code]

VS Code version:
Version 1.3.0-insider

C# Extension version:
1.2.0
## Steps to reproduce
1. Put caret on a squiggly line
2. Press <kbd>Cmd</kbd>+<kbd>.</kbd>

![screen shot 2016-06-30 at 21 57 21](https://cloud.githubusercontent.com/assets/594564/16502404/840b6e36-3f0e-11e6-8c86-a41cd7d0a2f2.png)
## Expected  behavior

Only relevant code fixes

[2016-06-30 20:46] chuckries commented on #515
I think 1. might be the way to go. I worry about it being too verbose though.

[2016-06-30 20:51] chuckries commented on #511
I believe this is by design. It is a visual indicator that one or more breakpoints are set within the folded region. Screenshots for clarity:

Before Folding:
![image](https://cloud.githubusercontent.com/assets/6598594/16503797/99622242-3ec9-11e6-836a-27d8c11a5b00.png)

After Folding:
![image](https://cloud.githubusercontent.com/assets/6598594/16503811/a683a11c-3ec9-11e6-962c-52ac15e0b0f6.png)

I

[2016-06-30 20:53] #511 closed

[2016-06-30 21:08] csholmq commented on #321
@DustinCampbell The experience is waaaay better! I uninstalled both the C# and Omnisharp legacy extension and all CLI tools I previously hacked in. I then reinstalled the C# extension and followed the instructions to;

1. Install OpenSSL using brew
2. Install .NET Core SDK using installer

I experienced no drawbacks working on OSX. I was able to create a dummy project, edit code using IntelliSense

[2016-06-30 21:08] #321 closed

[2016-06-30 21:57] wesrupert commented on #479
This is an issue with VS Code, as it currently doesn't ask for updated values after expression evaluation. Please see [VS Code issue #8118](https://github.com/Microsoft/vscode/issues/8118). Once this functionality is fixed in VS Code, it should work here.

[2016-06-30 21:57] #479 closed

[2016-06-30 21:57] wesrupert commented on #480
This is an issue with VS Code, as it currently doesn't ask for updated values after expression evaluation. Please see [VS Code issue #8118](https://github.com/Microsoft/vscode/issues/8118). Once this functionality is fixed in VS Code, it should work here.

[2016-06-30 21:57] #480 closed

[2016-06-30 21:59] wesrupert commented on #484
Expressions in the watch window are evaluated after stopping at every breakpoint/step command/async break in VS Code. This is the expected behavior, VS Code has no concept of stale/manual reevaluation for locals or watch expressions.

[2016-06-30 21:59] #484 closed

[2016-06-30 22:42] chuckries commented on #495
@caslan The issue here is the default launch.json template configures the preLaunchTask to 'build' and in this case @Serena01 does not have a tasks.json. The launch.json here is the default template, NOT the asset created by omnsiharp, so there is not an autogen'd tasks.json. I know in the past we have talked about removing 'build' from the default preLaunchTask section, but had decided to leave i

[2016-06-30 22:44] chuckries commented on #492
Thanks for reporting this issue! I am looking into it.

[2016-06-30 23:04] rajkumar42 commented on #477
Thanks for reporting. I'm looking into it.

[2016-07-01 03:14] ericwj commented on #253
I checked out Mvc and I'm fighting VSCode over OmniSharp logs that are very comparable - at least the last four lines and I get no IntelliSense whatsoever.

On top of that just looking up a few definitions this endless `Processing [ProjectState]` and the fact 1.0 seems to have regressed for the time it takes to do a restore is all together I believe much worse than it was not too long ago. I just

[2016-07-01 11:02] GraceDong opened #522 "Debugger: VSCode regards all the warnings in the VS as errors"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1 Insert a line of "int a = 1;" in HomeController.cs
2 Press F5 to start debugging

## Expected  behavior
The project should be build successfully and have a warning in output window

## Actual behavior
This project cannot be build successfully. I tried this issue in VS, this was treated as a

[2016-07-01 11:15] GraceDong opened #523 "Debugger: Some extention method evaluated in watch window would lead an error"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1 Set a breakpoint at line of " _appSettings = options.Value; " in HomeController.cs
2 Press F5 to start debugging
3 Add a expression " "Hello".AsParallel()" in watch window
4 Press Enter

## Expected  behavior
The value should display with "This expression causes side effects and will not be

[2016-07-01 11:29] ClaireKang opened #524 "Debugger:Different representation in Watch window between VS & VSCode"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
1 Set bp at line of "_appSettings = options.Value;"
2 Press F5 to start debugging
3 Change to watch window and input an expression of "this.good()" to evaluate

## Expected  behavior
Prompt wrong information rather than "not available"

## Actual behavior
I have tried this in VS, and VS report

[2016-07-01 15:32] gregg-miskelly commented on #512
The fact that a breakpoint can be set on 'using System.Linq;' is by-design for VS Code.
The fact that the breakpoint binds though instead of showing an error is a bug. clrdbg should be reporting a warning breakpoint here but it is not. Maybe it is just binding to a different line, but if so we need to at least move the glyph to where the breakpoint bound.

    C setBreakpoints: {"source":{"name":"

[2016-07-01 15:37] gregg-miskelly commented on #510
@chuckries The issue is that we are using the rid from `dotnet --info` which is `opensuse.42.1-x64`. But the rid that we need to be passing is `opensuse.13.2-x64`. Maybe we should stop using `dotnet --info` to find the rid and instead use the same code as we use for OmniSharp?

[2016-07-01 16:34] gregg-miskelly commented on #515
For 2 - is there a good way for debug adapters to read that file?

Personally I like the fact that these options are settable from launch.json. Maybe they should **also** be in the user settings file though. But one thing I find annoying about VS is that if I, for example, have one project that I need to leave just my code off and another where just my code is basically always my friend I can only

[2016-07-01 17:44] gregg-miskelly commented on #495
@chuckries @Serena01 do you have a tasks.json file?

If you have no tasks.json, you are supposed to get this, which is what happens when I try:

![no-task-runner-configured](https://cloud.githubusercontent.com/assets/11078489/16529488/11b8591a-3f78-11e6-9470-87b8330fc552.JPG)

If you aren't seeing this, you are running into a VS Code bug.

The 'build errors detected' message is supposed to show up

[2016-07-01 18:12] caslan commented on #473
Yes, this the same issue. Closing this one as dupe.

[2016-07-01 18:12] #473 closed

[2016-07-01 19:03] gregg-miskelly commented on #522
Just like in VS, warnings will not cause the build to fail by default. But you can still get to them. There is a little warning/error icon thing in the bottom left:

![warning-error-icons](https://cloud.githubusercontent.com/assets/11078489/16531915/adc5792c-3f83-11e6-8746-48e2f069604c.JPG)

Also just like VS, the warnings will not be seen if your project doesn't build because it is already up to

[2016-07-01 19:03] #522 closed

[2016-07-01 20:35] chuckries commented on #485
@GraceDong unfortunately sending the screenshot in the email didn't work, you will have to paste it directly into github. Can you provide more detailed repro steps? Where are you stopped? What are you seeing in the data tip?

[2016-07-02 00:30] wesrupert commented on #524
@ClaireKang, could you please provide the dotnet, VS Code, and C# version information, as well as any other unusual configuration you may have? I just tried to reproduce this on my machine, and got the expected error message that you saw in VS, both in the watch window and in the debug console:
![not found](https://cloud.githubusercontent.com/assets/2474675/16537152/f48b044e-3fb0-11e6-946c-6b5d121

[2016-07-02 15:44] jcloutz opened #525 "Auto closing brackets not functioning for c# in 1.3.0-insider"
## Environment data
`dotnet --info` output: `bash: dotnet: command not found`
VS Code version: 1.3.0-Insider
C# Extension version: 1.2.1
Legacy C# Extension version: 0.3.3
OS: OSX 10.11.5

## Steps to reproduce
1. Create new c# file (.cs)
2. Type the following `void Foo() {` and the bracket fails to auto close.

## Expected  behavior
Closing bracket should be created to enclose the cursor

## Actu

[2016-07-04 03:04] GraceDong commented on #485
@chuckries I‘m sorry, the screenshot didn't work and I updated the screenshot as below.
Steps to reproduce:
1 Open the MusicStore app in VSCode
2 Write an expression “int a=10;” in front of  "_appSettings = options.Value;" in HomeController.cs
3 Move the mouse on variable "a" to show data tip
4 Observe the content of the data tip

![datatip](https://cloud.githubusercontent.com/assets/20184778/1654