[2016-07-04 03:13] ClaireKang commented on #524
![pic1](https://cloud.githubusercontent.com/assets/20184768/16549848/ecf5ff8c-41d5-11e6-86cf-376dcac72175.png)
This is vscode and other plugins' version, and I use visual studio2015 to retest this result.

[2016-07-04 03:16] ClaireKang commented on #524
This pic is vscode and plugins' version, and I use Visual Studio 2015 to retest it

[2016-07-04 03:16] #524 closed

[2016-07-04 03:16] ClaireKang commented on #524
This pic is vscode and plugins' version, and I use Visual Studio 2015 to retest it
![pic1](https://cloud.githubusercontent.com/assets/20184768/16550069/bdcafb2e-41d8-11e6-8bb3-4416bb74d8b7.png)

[2016-07-04 14:18] jlmakes opened #526 "Using `IgnoredCodeIssues` with legacy C# extension"
### Environment
- .NET CLI 1.0.0-preview1-002702
- Mac OS X 10.11
- VS Code version: 1.2.1
- C# Extension version: Legacy C# (Unity development)
### Issue

There’s this annoying issue with Unity development and VS Code where you get 99+ warnings instantly upon loading your project because of `using System;` at the top of virtually every Unity script.

![screen shot 2016-07-04 at 4 04 21 pm](https:

[2016-07-04 16:11] gregg-miskelly commented on #485
@GraceDong. I see. That isn't a data tip. @DustinCampbell does this sound like a language service bug? Or should we open this in VS Code for displaying build warnings when debugging?

[2016-07-05 09:29] jrieken opened #527 "How can I references too many projects (folders) in Visual Studio Code?"
_From @HamedFathi on July 4, 2016 20:30_

- VSCode Version: 1.2.1
- OS Version: Windows,Mac

When I used Visual Studio, I had two files format solution (.sln) and project (.csproj).

I want to know in Visual Code

How can I have solution (Root folder) and many projects (sub folders) with dependencies to itself ?

How can I set folders dependencies ? (I want to reference folders together)

please g

[2016-07-05 09:29] jrieken commented on #527
_From @joaomoreno on July 5, 2016 9:8_

@jrieken Can you provide some guidance here?

[2016-07-05 09:30] linezero opened #528 "Code Hints Error"
## Environment data
`dotnet --info` output:1.0.0-preview2-003121
VS Code version:1.2.1
C# Extension version:1.2.1
OS Version: Windows

After I input Chinese punctuation, code hints will be no effect.
`’`

I found json.net debug exception is thrown, VS Code then console

![vscode](https://cloud.githubusercontent.com/assets/4251393/16682824/0c6f15b8-452f-11e6-8282-6baca07a7eb0.gif)

[2016-07-05 16:07] omajid commented on #508
Hi! Since you make calls to `dotnet restore` (what about `dotnet run`?) I wouldn't recommend workaround 2 or 3. Both of them add the `dotnet` binary to path, but miss out on other things.

For example, currently on RHEL 7, `/path/to/dotnet run` will use the system version of libcurl.so, which is linked against nss compared to the rh-dotnetcore10-libcurl version of libcurl.so which is linked agains

[2016-07-05 16:26] gregg-miskelly commented on #508
Thanks @omajid

I removed those work arounds from the original list (they are listed here in case someone wants to understand what your comment referred to in the future).

#### Old work arounds (**not** recommended)
2: setpath.sh
Add a setpath.sh script to /etc/profile.d directory with the contents: `export PATH=$PATH:<path-to-directory-containing-dotnet>`. Make it executable (i.e. chmod 777). Lo

[2016-07-05 16:58] DustinCampbell commented on #485
It's probably not coming from the build. It's probably just a diagnostic coming from OmniSharp. Diagnostics are displayed during edit-time as well as compile-time. Showing duplicates is definitely a bug though.

[2016-07-05 17:15] chuckries commented on #485
@DustinCampbell @gregg-miskelly If that's the case I'm going to change the debugger label to Omnisharp and assign to Dustin.

[2016-07-05 17:18] DustinCampbell opened #529 "Add support for "Dual OmniSharp""
There is a strong need for the extension to be able to support two builds of OmniSharp: one running on the Mono/full framework and one running on .NET Core.

On Windows, the C# extension downloads and uses the version of OmniSharp targeting net451. This works well for csproj/sln support because the Windows desktop version of MSBuild is used. However, it exhibits problems with long filenames and MA

[2016-07-05 17:30] chuckries commented on #492
This should be fixed in the next release.

[2016-07-05 17:30] #492 closed

[2016-07-05 17:31] gregg-miskelly commented on #527
@HamedFathi are you using .NET Core or Mono?

This is probably obvious, but VS Code doesn't really have projects or solutions. It just has directories. So you want to open the root directory and VS Code (and the C# extension) will try and figure out what you want.

If you are using .NET Core, then I believe want you would want would be to have one project.json reference another project.json, and I

[2016-07-05 18:03] DustinCampbell commented on #465
@r105m: Did the latest release of the C# Extension work better for you?

[2016-07-05 18:09] DustinCampbell commented on #525
@jcloutz: Do you have _both_ the C# Extension and the Legacy C# Support Extension installed at once. This is not supported, and its entirely possible that they're conflicting with one another.

[2016-07-05 18:11] DustinCampbell commented on #510
Note that we already have the distro sniffing code to do this for OmniSharp downloads. You could leverage that.

[2016-07-05 18:31] jcloutz commented on #525
@DustinCampbell, I only had one installed at a time to see if I could replicate the problem across extensions. When it failed for both I figured it was an issue with VSCode, but closed it immediately and claimed it was the extension.

[2016-07-05 18:35] DustinCampbell commented on #525
Got it -- thanks for clarifying!

[2016-07-05 19:16] ivan-prodanov opened #531 "Add (configurable) intellisense for prerelease packages"
## Environment data

`dotnet --info` output: 1.0.0-preview2-003121
VS Code version: 1.2.1
C# Extension version: 1.2.1
## Steps to reproduce

Open package.json, start typing "IdentityServer4"
## Expected  behavior

IntelliSense shows "IdentityServer4" package.
## Actual behavior

IntelliSense shows all "IdentityServer3*" packages.
## Comment

How do we enable intellisense for prerelease packages?

[2016-07-06 04:57] bdbai commented on #510
Thanks for response. I've tried OmniSharp 1.2.1, which still fails as before. Could you please point out the commit that fixes it?

This workaround seems to work:

[code]

[2016-07-06 10:27] r105m commented on #465
yep, thanks!

[2016-07-06 10:27] #465 closed

[2016-07-06 15:08] DustinCampbell commented on #525
Thanks for filing over here @jcloutz. It looks like the issue was indeed in VS Code and a fix has already been submitted. Thanks!

[2016-07-06 15:08] #525 closed

[2016-07-06 15:52] gregg-miskelly commented on #510
Correct, this hasn't been fixed yet. Dustin was just telling Chuck how he could fix this.

[2016-07-06 19:36] gregg-miskelly commented on #304
@wesrupert FYI I am assigning this to you

[2016-07-06 19:40] gregg-miskelly commented on #303
@rajkumar42 can you resolve this when you enable the new attach to process chooser?

@dougbu we are enabling a new experience with our next version of the extension which doesn't quite match your original request, but hopefully you will find this much better.

[2016-07-06 19:43] gregg-miskelly commented on #263
@chuckries I believe this is addressed with https://github.com/OmniSharp/omnisharp-vscode/pull/530. Correct? If so, can you close it?

[2016-07-06 19:46] chuckries commented on #263
@gregg-miskelly correct, this fix is in master and will be in the next release.

[2016-07-06 19:49] #263 closed

[2016-07-06 21:53] bdbai commented on #510
Oops I failed to read carefully. Sorry for that.

[2016-07-06 23:43] wesrupert commented on #496
VS Code currently does not let us know when the buffer has been modified, so we don't know that these breakpoints shouldn't be bound to the now-stale source information. [VS Code issue #8077](https://github.com/Microsoft/vscode/issues/8077) should enable detecting this, then we can disable stale breakpoints.

[2016-07-07 10:29] tugberkugurlu opened #533 "Add feature for collapsing to definitions withing a C# file"
I am not sure whether this exists but I am basically looking for doing `CTRL+M, CTRL+O` withing the editor and collapse all to definitions within a C# file.

[2016-07-07 10:45] VinditCo commented on #269
Tried the latest VSCode with a fresh mono install - still having the same issue. Anyone recently had any success solving the issue?

[2016-07-07 13:04] Kizmar opened #534 "After updating to 1.2.1, download debugger fails"
## Environment data
**`dotnet --info` output:**
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x64

VS Code version: 1.2.1 (same issue with Insiders v1.3.0)
C# Extension version: 1.2.1

## St

[2016-07-07 13:32] tugberkugurlu opened #535 "Not able to see the red squiggles"
I am not able to see the red squiggles for error conditions like below one:

![image](https://cloud.githubusercontent.com/assets/328122/16654696/d5e6858e-444e-11e6-8f65-7cbc88a8dd9e.png)

I believe it should have highlighted under `var requestCommand`. It's the same for all other cases, I never get red squiggles. Is there a switch now that I should activate?
### VS Code Info

[code]
### C# Extensi

[2016-07-07 14:10] Kizmar commented on #534
Realized I still had two class libraries using .Net Standard 1.5 instead of 1.6. Updating pointed that out for me since it no longer supports older than 1.6. :)

[2016-07-07 14:18] #534 closed

[2016-07-07 15:05] csaloio opened #536 "Constructor snippet request"
Can you please add the constructor snippet (ctor) as it exists in visual studio for creating class constructors?

[2016-07-07 20:08] rajkumar42 commented on #303
merged. it'll be in the upcoming release.

[2016-07-07 20:08] #303 closed

[2016-07-07 20:20] maxild opened #538 "Debugger: Cannot specify configuration, that is debugger always loads ../bin/Debug/*/whatever.dll"
## Environment data
`dotnet --info` output:

[code]

VS Code version:
[code]

C# Extension version:
[code]

I have some tests that fail only on osx and linux in release builds running on CoreCLR. I cannot get the debugger to attach to release artifacts in ../bin/Release/netcoreapp1.0/ folder.

I have to tried to make 'build' task only build configuration=Release. But 'codelens' run test and debug

[2016-07-08 08:00] agoretsky opened #540 "Extension Authoring: Goto Implementation, New Item:class, interface"
In VS Code 1.3 it looks like it's possible to add custom menu items to context menu and etc. What about add GotoImplementation possibility? And also I would like to see in project file's context menu option to add class, interface with automatically generated right namespace. PLEASE

[2016-07-08 08:34] weinand opened #541 "ASP.NET Debugging No Longer Working"
_From @robbpriestley on July 8, 2016 2:29_

- VSCode Version: 1.3.0
- OS Version: OSX El Cap 10.11.5
- .NET Core Version: 1.0.0-preview2-003121

Steps to Reproduce:

1. As normal, use debugger for ASP.NET debugging
2. Upgrade VS Code from 1.2.1 to 1.3.0
2. Debugging no longer works. Error message given in VS Code debug console window:

The program '/Users/Me/MyPath/MyProgram.dll' has exited with c

[2016-07-08 09:26] RickyLin commented on #528
I tried it out in OS X and there's no problem.

[2016-07-08 09:33] ruidfigueiredo commented on #352
I'm having this issue on Windows. Is there any workaround for this?

[2016-07-08 13:31] eimik commented on #168
Agree. Now that we have tabs, razor-intellisense is the "one big thing" missing from VS Code for asp.net core devs.

[2016-07-08 14:46] greghroberts opened #542 "VS Code Doesn't honor "nowarn" in project.json for CS1591 disabling xmlDoc comments"
## Environment data

`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version:
Version 1.2.1 (1.2.1)

C# Extension version:
1.2.1
## Steps to reproduce

Set

[2016-07-08 17:02] david-driscoll commented on #168
We'll be adding support to OmniSharp eventually to support Razor, sadly I don't have a specific timeline.  This is mainly because it's not a very easy problem to solve, but it is something we want to get working.

[2016-07-08 17:10] zeh opened #545 "Cannot download .NET Core Debugger on Windows 10"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.3.0
C# Extension version: 1.2.1

## Steps to reproduce

1. Run VSC
2. Install "C#" extension, enable, restart
3. Run "Debug: Download .NET Core Debugger"

## Expected  behavior

.NET Core Debugger installed, C# working.

## Actual behavior

Error bar on top with message "Error while installing .NET Core Debugger."

The output of

[2016-07-08 17:24] danroth27 opened #546 "Project.json intellisense doesn't suggest ASP.NET Core packages"
## Environment data

`dotnet --info` output:

[code]

VS Code version: 1.3.0
C# Extension version: 1.2.1
## Steps to reproduce

Create a new .NET Core project and open in VS Code:

[code]

Open `project.json`
Try to add any Microsoft.AspNetCore.\* package under `dependencies`
## Expected  behavior

IntelliSense suggestions for ASP.NET Core packages
## Actual behavior

Intellisense simply drops off

[2016-07-08 17:51] ShahabGanji commented on #460
I'm not sure that [this](http://www.codeproject.com/Articles/1110660/How-To-Build-Debug-Multiple-Projects-in-VS-Code) article might help you or not.

[2016-07-08 20:02] chuckries commented on #545
It appears that you are on the rc2 version of .NET Core, which is no longer supported by the extension. You need to upgrade to [.NET Core 1.0](https://www.microsoft.com/net/core#windows) or manually install an older version of the extension from [here](https://github.com/OmniSharp/omnisharp-vscode/releases)

[2016-07-08 20:11] ruicraveiro commented on #541
Hi, exactly the same thing happening to me.

[2016-07-08 20:16] zeh commented on #545
@chuckries You seem to be right. I downloaded the ".NET Core SDK for Windows" from that link and it now seems to work as intended. Sorry I couldn't figure it out.

Thanks! I suppose this can be closed.

[2016-07-08 20:21] chuckries commented on #545
Happy to help!

[2016-07-08 20:21] #545 closed

[2016-07-08 20:25] caslan commented on #541
@ruicraveiro What is the CSharp extension version you are using?

[2016-07-08 20:37] ruicraveiro commented on #541
Hi Cagri, I'm using 1.2.2. Any other information you might need, please ask.

[2016-07-08 20:56] ruicraveiro commented on #541
When trying to run using .net core launch, I get exactly the same error as Weinand's. Adding to that, on the extension output I get: waiting for v8 protocol on stdin/stdoutwaiting for v8 protocol on stdin/stdout.

I also tried to run the app via command line and attach the debugger to it. When attaching it also fails, but this time, the message I get  is one of those popups saying "Debug adapter p

[2016-07-08 21:02] caslan commented on #541
@ruicraveiro, the same scenario doesn't reproduce here for us, so we will need to see what's going on from the logs. Can you add the following in your launch.json configuration:

"logging" : {
  "engineLogging" : true,
  "trace": true,
  "traceResponse" : true
}

and send us what you get in the debug console? (You can send to caslan@microsoft.com if you prefer) There must be an error we are runnin

[2016-07-08 21:28] chuckries commented on #497
This will be available in the next release.

[2016-07-08 21:28] #497 closed

[2016-07-08 21:31] ruicraveiro commented on #541
Here goes (with some paths replaced by [undisclosed]:

1: (487) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'
1: (517) LaunchOptions  ExePath='dotnet'
1: (517) LaunchOptions  WorkingDirectory='/Users/ruicraveiro/Sources/customers/[undisclosed]/[undisclosed]Backend/src/[undisclosed]Backend'
1: (517) LaunchOptions  ExeArguments='/Users/ruicrave

[2016-07-08 21:39] caslan commented on #541
@ruicraveiro it looks like your app is referencing RC2 runtime. CSharp extension no longer supports debugging that. Is it possible for you to move to RTM and try again?

[2016-07-08 23:54] ruicraveiro commented on #541
Hi Cagri, that was the problem. Everything's working now. Thanks!

[2016-07-08 23:55] danroth27 opened #547 "Adding using statements for namespaces using ctrl-. is unreliable"
Adding using statements for namespaces using ctrl-. seems really hit and miss. Sometimes it works. Sometimes it only suggests fully qualifying the type name. Sometimes it doesn’t work at all.
## Environment data

`dotnet --info` output:

[code]

VS Code version: 1.3.0
C# Extension version: 1.2.1
## Repro setup steps

Create a new .NET Core project and open in VS Code:

[code]
## Issue 1

Add the A

[2016-07-08 23:57] caslan commented on #541
Excellent, let us know if you run into further issues.

[2016-07-08 23:57] #541 closed

[2016-07-09 08:32] jchannon commented on #536
@csaloio PR submitted

[2016-07-09 13:36] jchannon opened #551 "dotnet build to use cwd of active file or parent"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.3
C# Extension version: 1.2.2

## Steps to reproduce
Open a csharp file under src/MyProject

VSCode is open at a root where it has a `src` and `tests` subfolder

Select `Run Build Task` from command pallette

## Expected  behavior

It builds the project.

## Actual behavior

Output, `Couldn't find 'project.json' in current dire

[2016-07-09 15:13] csaloio commented on #536
@jchannon Thanks.

[2016-07-09 15:17] DannyRyman opened #552 "F# support?"
Should it be possible to debug F# using this extension? I gave it a try and I managed to get some output to the debug console; however, I am unable to add breakpoints to my .fs files.

[2016-07-09 17:13] caslan commented on #552
@DannyRyman No, not at the moment. As you have seen yourself, you would get events such as module loads, program output, exceptions etc. but not have any ability to look at callstacks, view variables, bind breakpoints etc. as the support needed for F# debugging is simply not there.

[2016-07-09 17:25] caslan commented on #552
@DannyRyman Also, I'm personally not familiar with our F# roadmap. I'll ping a couple folks here and update this post if I can find something to share.

[2016-07-09 18:44] pflannery commented on #146
Is there a block on this? anything I can do to fix this?

[2016-07-09 21:28] robbpriestley commented on #541
I completely updated all my project.json dependencies and as well followed the instructions here: https://docs.efproject.net/en/latest/miscellaneous/rc2-rtm-upgrade.html#net-core-remove-imports-in-project-json

It took a while, but I got it working again!

[2016-07-10 04:35] hunterloftis commented on #108
@DustinCampbell I installed the file (I think - VS code gives no user feedback) via `$ code csharp-1.1.7.vsix`. Nothing seems to happen and there are no new extensions.

[2016-07-10 08:04] DannyRyman commented on #552
ok, thanks for the confirmation.

[2016-07-10 08:04] #552 closed

[2016-07-10 12:07] pflannery commented on #108
This is working for me now. thanks
[code]

[2016-07-10 16:18] sassembla opened #553 "wrong url of Legacy C# Support extension in VSCode's introduction view with Mac OS X."
correct Legacy C# Support extension url is below.
https://marketplace.visualstudio.com/items?itemName=ms-vscode.omnisharp

but current target url is below.(goes to wrong empty page of marketplace.)
https://marketplace.visualstudio.com/items?itemName%3Dms-vscode.omnisharp

<img width="807" alt="2016-07-11 1 17 20" src="https://cloud.githubusercontent.com/assets/944441/16714672/6ba008d0-4705-11e6-85

[2016-07-10 16:27] sassembla commented on #553
Oops, Close button has been pressed by my mistake.

[2016-07-10 19:57] pongit opened #554 "VSCode"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce

## Expected  behavior

## Actual behavior

[2016-07-10 21:54] robertpeacock22 opened #555 ".NET CLI tools cannot be located (but are on path)"
## Environment data
`dotnet --info` output:

VS Code version:
version 1.3.0

C# Extension version:
version 1.2.2

## Steps to reproduce
1. Install latest Visual Studio Code
2. Install .NET CLI tools
3. Confirm that .NET CLI tools are on path:

4. Open C# project in VS Code

## Expected  behavior
C# plugin features should be enabled

## Actual behavior
Error message indicates that .NET CLI tools ca

[2016-07-11 08:56] weinand opened #556 "VSCode should self-configure debug settings when added to ASP.NET Core projects"
_From @bitcrazed on July 10, 2016 17:44_

- VSCode Version: 1.3.0
- OS Version: Windows 10

Steps to Reproduce:

1. Create ASP.NET Core project using either Visual Studio 2013 or via Yeoman ("yo aspnet") at the command-line
2. At the command-line, navigate to the root of the project (wherever project.json resides)
3. Run `dotnet restore`: Dependencies should be downloaded
4. Run `dotnet run`: Proj

[2016-07-11 08:56] weinand commented on #556
VS Code by itself does not know anything about .NET projects and project.json.
So it can only be the .NET extension that creates a launch.json that corresponds to the project.json.

[2016-07-11 16:24] troydai opened #557 "Feature request: filter errors and warnings"
Today, all the errors and warnings generated are all shown up in the errors panel. However, there are situations in which although many of them are valid users will want them to be ignored.

For example, errors like `XML comments missing` shows up consistently makes the editing experience bad.

[2016-07-11 18:27] rajwcg opened #558 "unable to start omnisharp"
[INFO] Starting OmniSharp at 'd:\StudyMaterial\VSCODE\DemoApp2'...
[ERROR] Error: spawn cmd ENOENT

I am using window7 64 bit. with latest VSCODE

Omnisharp log

[INFO] Starting OmniSharp at 'd:\StudyMaterial\VSCODE\DemoApp2'...
[INFO] Installing to C:\Users\rajbahadur.singh\.vscode\extensions\ms-vscode.csharp-1.2.2\.omnisharp
[INFO] Attempting to download omnisharp-1.9-beta11-win-x64-net451.zip..

[2016-07-11 19:03] GiorgioG opened #559 "Unable to install v1.2.2 on macOS Sierra beta"
Starting 'dotnet --info'
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64

Creating /Users/giorgiog/.vscode/extensions/ms-vscode.csharp-1.2.2/coreclr-debug/project.json
Telemetry is: Enabled

[2016-07-11 22:03] wesrupert commented on #296
There's no actionable event on our side. Looks like VS Code respects our `supportsFunctionBreakpoints: false` only on the protocol-level, not in the UI. Created [Issue #9099](https://github.com/Microsoft/vscode/issues/9099) on their side, closing here.

[2016-07-11 22:03] #296 closed

[2016-07-12 08:53] jchannon opened #560 "Add datetime log in Omnisharp Log"
## Environment data
`dotnet --info` output:

[code]
VS Code version: 1.3
C# Extension version: 1.2.2

## Steps to reproduce
Open a solution with Omnisharp

Change git branches

Restart Omnisharp

View Omnisharp Logs

## Expected  behavior

In Omnisharp Logs see a datetime against the log entries to see which solution loading it refers to

## Actual behavior

No datetime against log entries

[2016-07-12 09:28] CanisLupus commented on #315
I would also like to know how to disable this specific warning.

[2016-07-12 10:08] DustinCampbell commented on #554
Not actionable. Let us know if you have more detail.

[2016-07-12 10:08] #554 closed

[2016-07-12 18:04] wesrupert commented on #513
This fix will be available in the next release.

[2016-07-12 18:04] #513 closed

[2016-07-12 18:04] wesrupert commented on #475
This fix will be available in the next release.

[2016-07-12 18:04] #475 closed

[2016-07-12 18:09] jp7677 commented on #371
I'm not sure if this is the same problem that the original author describes, but I'm seeing that intellisense/omnisharp within VS Code doesn't know how to handle a references F# project.

Please see my sample project here: https://github.com/jp7677/hellocoreclr. Within src I have a c# and an f# project. When opening the c# class that uses the referenced f# project (https://github.com/jp7677/helloc

[2016-07-12 19:46] hyesun03 opened #561 "I can't use intellisense on Unity."
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version: 1.3
C# Extension version: 1.2.2
.
.
below is my Omnisharp Log.
I already instal

[2016-07-12 20:51] DustinCampbell commented on #371
@jp7677: That's generally expected (at least if the project isn't built yet), since neither OmniSharp nor the C# Extension for VS Code have any notion of F#.

[2016-07-12 21:27] jp7677 commented on #371
Hi @DustinCampbell, thanks for your answer. What do mean by "at least if the project isn't built yet"? Is there a way to give a hint to Omnisharp/C# Extension how to resolve references or to point it to an assembly? Even after building VS Code can't resolve the types coming from the f# project.

[2016-07-12 21:38] DustinCampbell commented on #371
Sorry for not being clear @jp7677. My point was that the C# Extension for VS Code _should_ be able to resolve types from the F# project if it's output is built and on disk. If it doesn't, that's definitely a bug. However, it will not be able to resolve types if the F# project's assembly is not built, like it can with other C# projects. Does that make sense?

[2016-07-12 21:56] Figbash commented on #269
@VinditCo As I understand it Unity support is broken completely in the newest version of the omnisharp plugin and they are going to look at that first.  I sure would like to use the new VSCode with tabs though!

[2016-07-13 04:50] jp7677 commented on #371
Makes totally sense, thanks @DustinCampbell ;)
Unfortunately, I still got the "The name '[f# module]' does not exist in the current context [netcoreapp1.0]" error in VS Code after building and writing to disk and some VS Code restarts or omnisharp project switches. Should I enter a new issue? Where/for which project should I do that?

[2016-07-13 07:55] jchannon opened #562 "Global Find/Replace with Regex not working"
## Environment data
`dotnet --info` output:
[code]

VS Code version:1.3
C# Extension version:1.2.2

## Steps to reproduce
Do a global search with regex turned on and with capture groups eg `(this)` then in the replace enter `$1` which will replace what it finds with the first capture group

## Expected  behavior
Replace with the value of `$1` not the actual string of `$1`

## Actual behavior
Repla

[2016-07-13 08:09] sumanx commented on #269
Very slow, not always but happens very frequently.

VSCode 1.3.1

[2016-07-13 08:33] VinditCo commented on #269
I've given up on VSCode for the time being. They should really stop advertising it as functional with Unity.
The open source branch of Project Rider (https://www.jetbrains.com/rider/) called Consulo (https://github.com/consulo/consulo/wiki/Downloads) is fully Unity compatible and a pleasure to use. It's does everything VSCode does and more. Until this is fixed I'd advise people giving it a whirl

[2016-07-13 09:55] vindicatorr opened #563 "Archlinux OmniSharp.exe "cannot execute binary file""
## Environment data
`dotnet --info` output: 1.0.0-preview2-003121
VS Code version: 1.3.1
C# Extension version: 1.2.2

## Steps to reproduce
5. Continuing from https://github.com/Microsoft/vscode/issues/9192
[code]
6. wget https://github.com/OmniSharp/omnisharp-roslyn/releases/download/v1.9-alpha13/omnisharp-linux-mono.tar.gz
7. mkdir /home/username/.vscode/extensions/ms-vscode.csharp-1.2.2/.omnish

[2016-07-13 10:12] weinand opened #564 "Archlinux - ms-vscode.csharp - "Error while installing .NET Core Debugger""
_From @vindicatorr on July 13, 2016 9:17_
- VSCode Version: 1.3.1
- OS Version: Archlinux 4.6.3 - KDE 5.7.1
- Mono Version: 4.3.3

Steps to Reproduce:
1. Extract VSCode
2. mkdir test; cd test; dotnet new
3. Start VSCode and Open Folder for newly created "test"
4. Enable recommended "ms-vscode.csharp" (and restart VSCode)

[code]
5. View Log

[code]

That is only part of the issue. The other part r

[2016-07-13 16:17] tugberkugurlu opened #565 "Error: ETXTBSY: text file is busy"
## Environment data

`dotnet --info` output:

[code]

VS Code version:

[code]

C# Extension version: 1.2.2
## Steps to reproduce

not sure. I switched project and it happened. I managed to capture the log. It started working when I restarted Omnisharp.
## Expected  behavior

not have any errors
## Actual behavior

[code]

[2016-07-13 18:33] chuckries commented on #562
This issue was moved to Microsoft/vscode#9223

[2016-07-13 18:33] #562 closed

[2016-07-13 18:36] chuckries commented on #562
@jchannon This is an issue with VS Code and not the C# Extension. I have moved the issue to them.

[2016-07-14 05:07] shanselman commented on #556
This is still a nasty bug.

[2016-07-14 07:55] BazIdle commented on #269
@VinditCo there's a dedicate Consulo branch for Unity, btw: https://github.com/consulo/consulo-unity3d

All these things aside, I hope VSCode C# plugin goes stable in the nearest future, as its much better usability-wise (IMHO).

[2016-07-14 10:05] ssHsimed opened #567 "(C#) #region in not foldable in VSCode"
## Steps to reproduce

Add a #region #endregion pair to C# code.

## Expected  behavior

The encapsulated region should be fold-able like pairs of { } and similar are.

[2016-07-14 10:23] atticae opened #568 "Intellisense breaks completely when using System.Xml.XmlWriter"
## Environment data
`dotnet --info` output:

VS Code version: 1.3.1
C# Extension version: 1.2.2

## Steps to reproduce
1. Create a new project with `dotnet new`.
1. Open it in VS Code.
1. Add the following lines to Main() in Program.cs:

[code]

## Expected  behavior
Intellisense should provide autocompletion for methods of `writer`.

## Actual behavior
Intellisense breaks completely and only show

[2016-07-14 13:12] JeremyBYU commented on #555
Experiencing Same Issue.  Same Message, but running on Windows 7.

[2016-07-14 14:08] pflannery commented on #146
@DustinCampbell at'ing you just in case you missed my comments

[2016-07-14 16:36] DustinCampbell commented on #146
Unfortunately, it'll require some significant tweaks to both OmniSharp and probably a change to VS Code to make it work. It's definitely on my list to get working, but triggering completion on <SPACE> in specific positions is tricky.

[2016-07-14 17:30] chuckries commented on #555
@robertpeacock22 I suspect the issue is that your path variable is malformed. We should handle this better, but in the meantime can you try removing `: No such file or directory` from your `$PATH`?

@JeremyBYU What does your %PATH% variable look like?

[2016-07-14 17:31] SomeTallGy opened #569 "Code hinting messed up, references missing since last C# extension update."
## Environment data

`dotnet --info` output:
VS Code version: 1.3.1
C# Extension version: 1.2
## Steps to reproduce

I updated my C# extension
## Expected  behavior

Work as normal.
## Actual behavior

All my code doesn't seem to correctly code hint anymore -- references are not coming up and if I write jibberish, it doesn't mark it as an error.

[2016-07-14 17:34] chuckries commented on #559
@GiorgioG I believe this has been fixed and should be available in release 1.3. I don't have an exact date for this release yet but it is coming up.

[2016-07-14 17:34] #559 closed

[2016-07-14 17:35] chuckries commented on #559
See #492

[2016-07-14 17:38] SomeTallGy commented on #569
Seems that this was related to me working with Unity -- i reverted back to the LEgacy C# Support extension and things seem to be back to normal.

[2016-07-14 17:40] edwardmeshuris commented on #472
I guess the answer is to uninstall it, which is unfortunate.

[2016-07-14 20:57] JeremyBYU commented on #555
Heres what my path says

[code]

I can execute `dotnet` just fine on the command line.

Thanks!

[2016-07-14 20:59] jasonnian1978 opened #570 "Jason1978"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce

## Expected  behavior

## Actual behavior

[2016-07-14 23:10] wesrupert commented on #304
This is a bug in Razor ([#803](https://github.com/aspnet/Razor/issues/803)) that we don't really have a good way to work around on our side. To work around it per-project in the meantime, please add a sourceFileMap to your launch.json configuration to redirect relative .cshtml paths to their absolute counterparts.

### Windows:
[code]

### macOS/Linux
[code]

The next version of the extension will

[2016-07-14 23:10] #304 closed

[2016-07-14 23:15] wesrupert commented on #493
@AmberZhang2016, are you able to reproduce this using the newest version of [VSCode](https://code.visualstudio.com/Download) and [the C# extension](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.2.2)? I tried to reproduce it, but when I broke on the exception I was given the correct call stack/variables.

[2016-07-15 01:36] gregg-miskelly commented on #564
@vindicator as far as I know, Arch Linux isn't yet officially supported by .NET Core (ex: I don't see it listed on https://www.microsoft.com/net/core). I don't think we would support it for the debugger until it becomes officially supported.

[2016-07-15 02:05] gregg-miskelly commented on #551
@jchannon I don't think your suggestion would really work. Two cases where I **think** this falls down:

1. If you have an entry that references a class library, and you are editing both files. With your suggestion, if the class library file happens to be what is in the foreground when you hit F5, only the class library is going to get recompiled.
2. If you have source files in a subdirectory of t

[2016-07-15 02:17] vindicatorr commented on #564
So be it if you want to wait for an "official okey-dokey" from the core team, but do know that dotnet does work in Arch: https://github.com/dotnet/coreclr/issues/5006#issuecomment-229472022
You'll see in later comments and other issues I've opened with core* that we just can't build it from scratch in Arch (I may give it another go since it's been awhile). Abrodersen just used the Fedora package.

[2016-07-15 06:39] jchannon commented on #551
In the end this is what i ended up doing with some `zsh` magic to traverse up directories and to build/restore all

[code]

[2016-07-15 08:48] jchannon opened #573 "No intellisense within curly braces trying to assign properties"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.3.1
C# Extension version: 1.2.2

## Steps to reproduce
Instantiate a constructor, open curly braces and hit Ctrl+Space to invoke intellisense

## Expected  behavior
To see list of available properties for that object

## Actual behavior
See list of all objects not relevant to the object

<img width="777" alt="screen shot 2016-07

[2016-07-15 08:48] jchannon commented on #260
Seems similar to #573

[2016-07-15 14:06] gregg-miskelly commented on #555
@JeremyBYU I would guess that you can work around this problem until we get out a fix by removing the entries `%NVM_HOME%;%NVM_SYMLINK%`

[2016-07-15 14:12] gregg-miskelly commented on #304
@wesrupert can we use the forward slash version on Windows also? If not, we should fix it so that you can.

[2016-07-15 15:10] gregg-miskelly commented on #564
@vindicatorr in a later comment though, it sounds like Abrodersen rebuilt the native binaries on Arch. Do I have that right?

If the Fedora 23 runtime will work as-is (in other words the native binaries in the Fedora package are binary compatible with Arch), then we can probably do a quick tweak to this [switch statement](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/utils.ts#L59)

[2016-07-15 16:14] Figbash commented on #269
@VinditCo Thanks, as much as I love VSCode I think it's time for me to switch as well.
I hope it gets fixed eventually for the other Unity users out there.

[2016-07-15 16:38] neilhuiz opened #575 "Windows - ms-vscode.csharp-1.2.2 - installation fails"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.3.1
C# Extension version: 1.2.2

## Steps to reproduce

1. Install VS Code & C# extension
1. Close VS Code
1. dotnet new
1. code .

## Expected  behavior

The coreclr debugger installs itself

## Actual behavior

Error message: Error while installing .NET Core Debugger.

### `coreclr-debug` output
[code]

## Mitigation/Possible

[2016-07-15 16:40] neilhuiz commented on #575
Submitted PR #576 as a fix for this issue

[2016-07-15 17:07] #555 closed

[2016-07-15 17:12] gregg-miskelly commented on #310
Here is an idea -- instead of asking the user which project they want as the startup project (or maybe in addition to asking), maybe we should generate a different entry in launch.json and tasks.json for each launchable project. That way the user can easily switch around the startup project using the drop down built into VS Code.

[2016-07-15 17:19] gregg-miskelly commented on #551
@jchannon glad you found a solution that you are happy with. I don't think it is necessarily the right thing for all scenarios, but I can certainly see how it can work great for some workflows. I don't always like how loosely couple VS Code is, but the nice thing about it is that it means that everyone can pick something that makes sense for their workflow. We have an existing issue to try and imp

[2016-07-15 17:19] #551 closed

[2016-07-15 17:31] gregg-miskelly opened #577 "VS Code fails to generate launch.json when there are ignorable errors in project.json"
## Steps to reproduce
1. dotnet new
2. Open project.json in an editor, add a trailing comma after the 'Microsoft.NETCore.App' dependency
3. dotnet restore
4. dotnet build
5. Open the folder in VS Code
6. When asked if assets should be generated, say 'yes'

## Expected  behavior
Since apparently the CLI ignores the trailing ',' in the project.json file, the C# extension should ignore it to and gene

[2016-07-15 17:36] neilhuiz commented on #575
To add insult to injury, the above fix does get the debugger installed, but all attempts to debug result in an error message: Debug adapter process has terminated unexpectedly

@DustinCampbell is there somewhere I can hunt for log files to give me a clue as to what is going on? The only log file I found in the extension's directory is the debugger install log.

[2016-07-15 17:44] chuckries commented on #575
Add the following logging section to your launch.json debug configuration to see verbose debugger logging:
[code]

The output will appear in the debug console, please paste the results back here.

[2016-07-15 17:46] chuckries commented on #510
This is fixed and will be available in the 1.3 release.

[2016-07-15 17:46] #510 closed

[2016-07-15 17:49] neilhuiz commented on #575
Added the settings, restarted code and tried debugging again. There is no output in the debug console, just the error banner.

[2016-07-15 17:57] chuckries commented on #575
can you give me a directory listing for `%USERPROFILE%\.vscode\extensions\ms-vscode.csharp-1.2.2\coreclr-debug\debugAdapters\`?

[2016-07-15 18:10] neilhuiz commented on #575
Sure thing.
[code]

[2016-07-15 18:24] chuckries commented on #575
Please try the following:
1. From the debugAdapters directory, run `OpenDebugAD7.exe --server --engineLogging --trace=response`
2. Add the following in the root of your launch.json: `"debugServer": "4711"`
3. Start debugging the project from VS Code.

This bypasses VS Code's default launch mechanism. It will try to connect to the OpenDebugAD7.exe that you have started manually. Hopefully an error

[2016-07-15 18:41] vindicatorr commented on #564
Oh right, native are built locally on Arch: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=dotnet-cli, just not mscorlib and related managed libraries.
You can see where he runs "build.sh" for both clr and fx.

For the sake of testing ONLY fedora dotnet in Arch, I overwrote abrodersen's build with the fedora tarball (including native) and as expected dotnet fails (0x80131500).
So the Fedor

[2016-07-15 18:49] gregg-miskelly commented on #564
Thanks @vindicator. I moved this issue and #563 to the 'future' milestone for now as I don't know when there will be official packages for Arch. But we can give you instructions that you can try if you want to play around with this yourself.

/cc @DustinCampbell

[2016-07-15 18:55] vindicatorr commented on #564
Certainly, I can give it a go in a couple days after I give clr and fx another go.

[2016-07-15 18:59] neilhuiz commented on #575
That got me somewhere. Here's what appears to be the relevant output as seen on the console running OpenDebugAD7.exe:
[code]
I verified that `System.Reflection.Emit.Lightweight.dll` is not present in the directory. I went back to `%userprofile%\.vscode\extensions\ms-vscode.csharp-1.2.2\coreclr-debug` and edited project.json to include `"System.Reflection.Emit.Lightweight": "4.0.0"` in the dependen

[2016-07-15 19:14] chuckries commented on #575
Awesome! Please resubmit your PR and we will take a look at it.

[2016-07-15 19:22] neilhuiz commented on #575
I updated PR #576 with the dependency fix. I'm guessing that this is something that should get looked at higher up the stack since the project file doesn't explicitly reference any other System.Reflection.* packages. Maybe Microsoft.VisualStudio.OpenDebugAD7 should have included it?

[2016-07-15 22:07] wesrupert commented on #304
@gregg-miskelly in the next version of the C# extension, yes. In the meantime, windows needs the backslash.

[2016-07-16 09:44] DustinCampbell commented on #577
The basic problem here is that Microsoft.ProjectModel is not resilient to the error, which means that OmniSharp can't process it. The proper generation of the launch.json requires querying OmniSharp to determine where the executable will be produced. So, a simple syntax error can make the whole thing fall apart.

I'll take a closer look to see if there's anything we can do. It seems like dotnet bu

[2016-07-16 09:51] DustinCampbell commented on #260
Yup -- #573 is a dupe of this one.

[2016-07-16 09:52] DustinCampbell commented on #573
This is a dupe of #260, which is dependent on https://github.com/OmniSharp/omnisharp-roslyn/issues/78.

[2016-07-16 09:52] #573 closed

[2016-07-16 09:54] DustinCampbell commented on #569
@SommTallGy: What sort of project is this? Unity? Mono? .NET Core?

[2016-07-16 09:55] jchannon commented on #573
Any ETA?

On 16 July 2016 at 10:52, Dustin Campbell <notifications@github.com> wrote:

[2016-07-16 09:58] DustinCampbell commented on #573
It's a bit further down the road. I have to wrap up the work I'm currently doing to better enable Unity development. Then I'll be able to take a look at a number of lingering bugs like this one.

[2016-07-16 09:59] DustinCampbell commented on #561
Thanks for reporting this issue. Please note this information on the our repo's home page about the current state of Unity support:

**Support for .csproj projects is partially functional on OS X and Linux.** This will impact anyone doing .csproj development on OS X or Linux (e.g. Unity, Xamarin, etc.). We are working to address this in the near future. However, for now, you can use the [Legacy C#

[2016-07-16 15:14] gregg-miskelly commented on #577
@DustinCampbell makes sense. If this is hard to fix, maybe we can just warn the user that there are syntax errors?

[2016-07-16 22:05] cra0zy commented on #563
I also use Arch Linux, and OmniSharp initialized correctly for me after downloading and extracting it.

[2016-07-16 22:07] cra0zy commented on #564
What part of code is generating "runtimes" line in "coreclr-debug/project.json"?

[2016-07-17 21:52] armartinez commented on #569
I'm having the same issue with .NET Core Project, I get a lot of errors similar to this:

The type or namespace name 'System' could not be found (are you missing a using directive or an assembly reference?) [netcoreapp1.0]

I'm running VS Code version: 1.3.1 with C# Extension version: 1.2.2

[2016-07-17 22:29] eric-swann-q2 commented on #569
Same issue, working with VSCode 1.3.1 on Ubuntu 16.04 and seems like omnisharp is only "half-working".  Not getting any intellisense, some code is highlighted property, some is not etc...  this is a new .Net core web api project (via yeoman).

[2016-07-18 08:29] DoubleCouponDay opened #578 "Marketplace page should have 64 bit as a minimum requirement"
Looks like there is only a 64bit version of OmniSharp but perhaps a minimum requirement should be put on this extensions' marketplace page. This would let the readers know they will have to upgrade.

How hard is it to convert the dll to x86? I could help out if you think its a reachable goal :]
![omnisharp snap](https://cloud.githubusercontent.com/assets/7555725/16909337/759668d2-4d15-11e6-9130-64

[2016-07-18 14:32] weinand opened #579 "Cannot download OmniSharp behind proxy/firewall"
_From @TheBlueSky on July 18, 2016 4:37_

Hello everyone,

I'm not sure if this is a VS Code or OmniSharp issue, so feel free to move it to the right repository if necessary.

When I open a .Net project, I get the following in Output window:

[code]

And it gets stuck there. Nothing is downloaded and my project doesn't have any kind of Intellisense (obviously).

Maybe this is relevant, and maybe n

[2016-07-18 17:40] chuckries commented on #577
+1

I am seeing launch.json generation fail against the default project.json created by the .NET Core Visual Studio tools. The project.json appears to be valid.

Repro:
1. From VS IDE, create a new .NET Core Web Application
2. Open the project directory in VS Code
3. When VS Code prompts for asset generation, say yes

Expected: launch.json and tasks.json are created.
Actual: tasks.json is created

[2016-07-18 20:23] rajkumar42 commented on #577
Looks like it is a known issue, I'll be sending out a PR shortly.
https://github.com/nodejs/node-v0.x-archive/issues/1918

[2016-07-18 20:33] rajkumar42 opened #581 "clrdbg recursively enter error reporting calls"
This issue can be reproduced with the sample and repro steps provided by @jeffschwMSFT in issue https://github.com/OmniSharp/omnisharp-vscode/issues/352

[2016-07-18 20:42] rajkumar42 opened #582 "Stop debugging does not wait for CLRDBG to exit"
This issue can be reproduced with the sample and repro steps provided by @jeffschwMSFT in issue #352

Stop debugging in VSCode does not wait for CLRDBG to exit. CLRDBG may still be holding onto resources like dlls/pdbs etc which may prevent build from updating the files on disk.

[2016-07-18 20:48] rajkumar42 opened #583 "Pagination for variable expansion"
VSCode is slow to expand really long variables. An 10K array takes few seconds to expand on the watch window.

Solution: Provide pagination like
1
2
3
4
5
[Click to expand]

"[Click to expand]" will expand the list to include the next 'n' elements.

[2016-07-18 20:56] rajkumar42 opened #584 "clrdbg commands are not executed asynchronously"
commands sent to clrdbg are executed synchronously. When a long running task such as expanding a really long array in the watch window is running, debugger is unresponsive because it is not processing inputs.

[2016-07-18 21:50] gregg-miskelly commented on #584
Cancelation probably only makes sense for expression evaluation commands (evaluate, list locals, list children, etc) so updating the work item to make that clear.

[2016-07-18 22:12] DustinCampbell opened #586 "Fix offline install for Windows"
Currently, this installs the desktop version but it should install either the CoreCLR version, or both CoreCLR and desktop.

[2016-07-18 22:13] #529 closed

[2016-07-18 22:16] DustinCampbell commented on #556
@rajkumar42, is this related to #577.

[2016-07-18 22:22] armartinez commented on #569
Ok this solved the issue for me https://github.com/OmniSharp/omnisharp-roslyn/issues/563

[2016-07-18 22:29] DustinCampbell commented on #410
Take Two! I've just released [v.1.3.0-beta1](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta1) which brings support for two OmniSharp servers: a .NET Core one for project.json projects, and a Mono/Desktop version for .csproj/.sln projects. Please try this out and let me know if it fixes Unity development for you.

[2016-07-18 22:30] DustinCampbell commented on #108
Take Two! I've just released [v.1.3.0-beta1](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta1) which brings support for two OmniSharp servers: a .NET Core one for project.json projects, and a Mono/Desktop version for .csproj/.sln projects. Please try this out and let me know if it fixes Unity development for you.

[2016-07-18 22:30] DustinCampbell commented on #561
Take Two! I've just released [v.1.3.0-beta1](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta1) which brings support for two OmniSharp servers: a .NET Core one for project.json projects, and a Mono/Desktop version for .csproj/.sln projects. Please try this out and let me know if it fixes Unity development for you.

[2016-07-18 22:34] DustinCampbell commented on #6
I realize that it's been a long while since there was an update on this issue. Are you still experiencing this problem? Note that we've just released a beta of the next release, [v1.3.0-beta1](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta1). Please try that out and let us know if it works better for you.

[2016-07-18 23:09] DustinCampbell commented on #579
Hi @TheBlueSky, have specified your proxy settings within VS Code?

[2016-07-18 23:14] gregg-miskelly commented on #577
Correct me if I am wrong, but I think we accidentally had this issue track two different things -- the BOM issue that Rajkumar just fixed, and the original issue that CTI found, and I opened the bug for -- that we don't provide any good feedback if there are json syntax errors. Reopening to keep tracking the original issue.

[2016-07-18 23:14] DustinCampbell commented on #578
If you're interested in helping out, this is the issue we're tracking on the OmniSharp server: https://github.com/OmniSharp/omnisharp-roslyn/issues/603.

[2016-07-18 23:15] DustinCampbell commented on #577
You're totally right. Sorry about that.

[2016-07-18 23:19] DustinCampbell commented on #568
Hi, could you try the latest beta release, [v1.3.0-beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta1)? I just tried that version and couldn't reproduce this issue.

[2016-07-18 23:22] DustinCampbell commented on #558
Hi, could you try the latest beta that we just release, [v1.3.0-beta1](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta1) and see if that works better for you?

[2016-07-18 23:38] rajkumar42 commented on #556
No this is a different issue.

[2016-07-19 07:16] Souk21 opened #587 "Duplicate warnings"
## Environment data
`dotnet --info` output: no
VS Code version: 1.3.1
C# Extension version: 1.3.0-beta1
Using a unity .sln

## Steps to reproduce

Open a project

## Expected  behavior

Warnings should show only once

## Actual behavior

![capture d ecran 2016-07-19 a 09 11 37](https://cloud.githubusercontent.com/assets/13599865/16941568/3799078e-4d91-11e6-80ed-c22f008e2f81.png)

This warning is s

[2016-07-19 10:03] rajwcg commented on #558
Hi, This has been started working.

[2016-07-19 10:03] #558 closed

[2016-07-19 11:41] atticae commented on #568
Installed v1.3.0-beta1, but unfortunately the problem is still there.

[2016-07-19 13:07] TheBlueSky commented on #579
No. The kind of firewall/proxy that we have in the company does not require specifying proxy settings. You come in the morning, login to the firewall/proxy, and that's all.

I started to face this issue only after v1.0 of .Net Core/ASP.Net Core (not sure what the corresponding OmniSharp or VS Code versions were). Haven't faced this issue during DNX days.

My memory isn't clear whether I tested it

[2016-07-19 13:59] eric-swann-q2 commented on #569
In my case, user error.  I have a complex nested project and didn't realize I had to select the containing folder in VSCode as the project root (on the status bar).  That's surprisingly unintuitive for somebody new to the IDE.  I thought it would pick up the settings from the global.json on it's own.

[2016-07-19 14:53] DustinCampbell commented on #579
The extension just uses your default proxy settings unless you specified something different. I assume other operations work? For example, `dotnet restore` on a new .NET Core project at the command line?

[2016-07-19 14:53] DustinCampbell commented on #558
Hi, glad to hear it!

[2016-07-19 16:53] mdouglass commented on #410
On OS X, it's installing, files open with correct warnings/errors and I get reference counts on class members very quickly.  But almost as soon as I start to type in a new file, Code goes non-responsive and I see the Electron Helper process eating about 100% cpu and a mono-sgen32 process eating another 3-400% cpu.  This is on a medium-size Unity project (about 1k .cs files). Is there a way I can h

[2016-07-19 16:56] DustinCampbell commented on #410
Well, that's a start at least. :smile:

Are you comfortable posting the OmniSharp Log?

[2016-07-19 17:10] DustinCampbell commented on #577
Note: I've started looking at #556, and have found that the example project also ends up failing calls to [JSON.parse()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse) due to trailing commas.

[2016-07-19 17:13] jchannon opened #589 "Show pattern formats in intellisense for DateTime.ToString"
## Environment data

`dotnet --info` output:

[code]

VS Code version:1.3.1
C# Extension version:1.2.2
## Steps to reproduce

Have some code that tries to convert a `DateTime` to string using `ToString()`
## Expected  behavior

When the bracket opens on ToString, like R# does, it gives you the format options eg/d,g and what that looks like in intellisense
## Actual behavior

No intellisense

[2016-07-19 17:40] mdouglass commented on #410
Interesting, took longer to get the long pauses this time it wasn't immediately on edit.  But finally saw a couple good 15s ones and grabbed the log. Doesn't seem to be much interesting in it, but hopefully it'll help.

[OmniSharp.txt](https://github.com/OmniSharp/omnisharp-vscode/files/372064/OmniSharp.txt)

[2016-07-19 17:43] mdouglass commented on #410
The pauses seem to be more frequent if I have the errors/warnings pane open.  Which I've also now noticed is showing a lot of duplicates of the same warnings.
<img width="354" alt="screenshot" src="https://cloud.githubusercontent.com/assets/5410142/16960278/988014d2-4d9d-11e6-9d4e-175bf9682d8f.png">

[2016-07-19 17:47] DustinCampbell commented on #410
Thanks @mdouglass, I've got another report of that issue and I'll be looking at it shortly. The _good_ news (I think) is that the 1.3.0-beta1 has restored Unity support for you, correct? I'll touch base again here once I've got this bug addressed.

[2016-07-19 18:13] Figbash commented on #6
@DustinCampbell I just tried 1.3.0b1 and same issue.  I'm not seeing any output in the omnisharp log when it happens though.  I can make it happen almost every time when I save the the file I'm working on.
Here is a video of the issue using 1.3.0b1 and Code Insiders 1.4.0:
[VSCodeBug.mov.zip](https://github.com/OmniSharp/omnisharp-vscode/files/372126/VSCodeBug.mov.zip)

[2016-07-19 18:15] Figbash commented on #269
Here is a video of the issue using 1.3.0b1 and Code Insiders 1.4.0.  I am holding the command key the entire time:
[VSCodeBug.mov.zip](https://github.com/OmniSharp/omnisharp-vscode/files/372126/VSCodeBug.mov.zip)

[2016-07-19 18:48] mdouglass commented on #410
Yep, other than the random pauses and the duplicated warnings everything seems to be working great.  Much better having working unity support :)

[2016-07-19 21:30] Figbash commented on #269
@VinditCo @sumanx How many warnings do you both have?  I'm wondering if it's somehow related, as my working copy .10.3 says 0 warnings but my broken versions always say 99+ because of unused using directives.  I also notice the warning number increases directly after the pause, and that most warnings have multiple entries in the list (at least when using the beta of omnisharp).

[2016-07-19 22:42] DustinCampbell commented on #568
That's fantastic news!

[2016-07-19 22:45] #568 closed

[2016-07-20 04:52] sorn6541 commented on #286
I have same problem in OSX

`
System.ArgumentException: An item with the same key has already been added.
  at System.ThrowHelper.ThrowArgumentException (ExceptionResource resource) <0x1972300 + 0x00036> in <filename unknown>:0
  at System.Collections.Generic.Dictionary`2[TKey,TValue].Insert (System.Collections.Generic.TKey key, System.Collections.Generic.TValue value, Boolean add) <0x17c28a0 + 0x

[2016-07-20 08:05] BazIdle commented on #6
@DustinCampbell Tried out 1.3.0b1 as well. Fresh VSCode install, the same project I was trying to work with the last time I investigated the issue.

Seems like OmniSharp doesn't start properly at all, there's no "usages" for variables and functions, etc.

Here's the initial startup log:
`Flavor: 1, Platform: 2
[INFO] Installing OmniSharp to /Users/user/.vscode/extensions/ms-vscode.csharp-1.3.0-bet

[2016-07-20 09:17] jchannon commented on #260
I also see the same behaviour when `override` is typed into the browser which I think is just a snippet, no intellisense is offered to give you a list of members to actually override. Not sure if that is a separate issue so let me know and I'll create one if it is

[2016-07-20 09:52] jchannon opened #591 "Initialize field from constructor"
## Environment data

`dotnet --info` output:

[code]

VS Code version:1.3.1
C# Extension version:1.2.2
## Steps to reproduce

Add a new argument to a constructor
## Expected  behavior

Alt+Enter/Lightbulb option to "Initialize field from argument"
## Actual behavior

No options in lightbubl

[2016-07-20 14:15] DustinCampbell commented on #260
This is known, but it's actually more tricky. The difficulty with override completion is that we need changes to the VS Code APIs to provide a bit more information and provide richer facilities when applying a completion item. Essentially, we need to know what typed character triggered the completion list, and we need the ability to be able to have a completion item insert multiple lines of text a

[2016-07-20 14:48] DustinCampbell commented on #591
To be fair, we'd like to have this in Visual Studio _and_ Visual Studio Code. :smile:

[2016-07-20 14:49] DustinCampbell commented on #553
Thanks @sassembla! Apologies for the error!

[2016-07-20 14:57] jchannon commented on #591
Go get Jetbrains drunk and steal their code when not looking ;)

[2016-07-20 14:59] DustinCampbell commented on #591
As their code isn't based on Roslyn, that's not too helpful. My point was that we'll likely add this at Visual Studio (hopefully in the near future) and then bring it to VS Code as part of that.

[2016-07-20 17:15] DustinCampbell opened #593 "Acquire Mono flavor of OmniSharp on any linux distro"
Currently, if the C# Extension tries to acquire OmniSharp on a linux distro that we don't specifically support, it fails with a message to the user that tells them to install Mono and download a Mono-flavored version of OmniSharp. A better experience would be to acquire Mono OmniSharp automatically on unsupported linux distros and notifiy the user if the right version of Mono is not installed.

[2016-07-20 17:22] gregg-miskelly commented on #583
The VS Code team has an issue tracking this problem: https://github.com/Microsoft/vscode/issues/9537

[2016-07-20 17:24] #556 closed

[2016-07-20 17:25] #170 closed

[2016-07-20 17:25] gregg-miskelly commented on #583
Assuming that VS Code addresses this through 9537, we would need to implement the protocol additions from https://github.com/Microsoft/vscode-debugadapter-node/issues/31

[2016-07-20 17:26] #447 closed

[2016-07-20 17:26] #587 closed

[2016-07-20 17:42] DustinCampbell commented on #269
Hey @Figbash, from your video it looks like OmniSharp didn't even attempt to start. Any chance you could try Code 1.3.1?

[2016-07-20 17:43] DustinCampbell commented on #269
I've uploaded a new release: [v1.3.0-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta2). This should fix the problem of many duplicate diagnostics.

[2016-07-20 17:46] DustinCampbell commented on #410
@mdouglass: I've put up a new release, [v1.3.0-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta2), which should address the duplicate warnings. Could you give it a spin?

[2016-07-20 17:48] DustinCampbell commented on #561
Hi, I've put up another release, [v1.3.2-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta2), which should improve support even more. If you have a chance, please let me know if this new extension works for you.

[2016-07-20 17:49] DustinCampbell commented on #108
I've released another version, [v1.3.0-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta2), which improves the experience even further. If you've got a chance to take this for a spin, please let me know if it works for you or not.

[2016-07-20 17:52] Figbash commented on #269
@DustinCampbell I had cleared the Omnisharp output to show that it was not showing any errors or anything when it pauses, but Omnisharp had started before I cleared it.  1.3.1 does the exact same thing.

[2016-07-20 17:55] DustinCampbell commented on #269
Are you seeing the same behavior with C# Extension v1.3.0-beta2? I believe there're a number of problems due to duplicate diagnostics being created, including significant slow downs. This version should alleviate that specific problem.

[2016-07-20 18:36] DustinCampbell commented on #553
This should go away with this release. We're removing the need for the Legacy C# Support extension in 1.3

[2016-07-20 18:59] rajkumar42 commented on #582
root caused in vscode.
https://github.com/Microsoft/vscode/issues/9550

[2016-07-20 18:59] #582 closed

[2016-07-20 20:14] mdouglass commented on #410
The duplicate warnings are indeed gone, thanks! Also, really helpful that the 'unnecessary usings' has been moved down to info level from warning (not sure when that happened, but I just noticed it).

[2016-07-20 20:14] Figbash commented on #269
@DustinCampbell I just tried fresh install of Code 1.3.1 with beta2 extension, same issue is occurring :(

[2016-07-20 20:22] DustinCampbell commented on #410
That happened in this release too. Glad to hear it working for you!

[2016-07-20 20:26] DustinCampbell commented on #269
Very sorry to hear that. :disappointed: I'll continue digging into this. If you have a failing project that you can share, please let me know.

[2016-07-20 20:42] DustinCampbell commented on #561
I haven't heard back from you yet. We're going to update the extension soon with the changes in the latest beta. Once released, let me know if it still doesn't work for you.

[2016-07-20 20:42] #561 closed

[2016-07-20 20:59] Figbash commented on #269
@DustinCampbell I really wish I could share my project, but I cannot.  I'm willing to try any tests you want though.  If it helps any it seems to occur 100% when I modify a cs file and then save, and the task "mono-sgen" will take 100% in my activity monitor for the entire time it's paused.

The same issue also occurred in I believe .10.2 and you guys fixed it for .10.3, I don't know know if it wa

[2016-07-20 21:06] DustinCampbell commented on #269
Yes, the 1791 unnecessary using directives was what I was thinking as well. The latest beta addresses an issue where diagnostics would accumulate and duplicate with each edit. That's why I was hopeful that would fix this.

[2016-07-20 21:10] DustinCampbell commented on #108
@hunterloftis: Sorry that I missed your comment. You can install an extension packaged as a VSIX in VS Code simply by opening VS Code, and then opening the VSIX with File->Open File.

[2016-07-20 21:29] #586 closed

[2016-07-20 21:33] DustinCampbell commented on #565
This really weird. I'm not sure what would cause that problem. Are you running in a VM, or is there anything else interesting about your setup?

[2016-07-20 22:10] tugberkugurlu commented on #565
It's on a VM, I have only seen it once.

[2016-07-20 22:10] #536 closed

[2016-07-20 22:16] DustinCampbell commented on #565
Thanks! I was just curious because I found several references to running on VMs where searching for this particular error.

It looks to me like you opening a project and it attempted to acquire OmniSharp (which it only does once). Then, you switched the project before it was finished, and it started trying to acquire it again without cancelling the previous attempt. So, they ran into conflict when

[2016-07-20 22:18] DustinCampbell commented on #528
FYI that this is a duplicate issue of #427.

[2016-07-20 22:18] #528 closed

[2016-07-20 22:22] DustinCampbell commented on #472
Sorry for the delay here. That's not a great answer, but I think it's probably the state of things today.

[2016-07-20 22:43] #575 closed

[2016-07-20 22:44] neilhuiz commented on #575
Root cause was an installation of the preview 1 SDK which was causing incorrect behavior in `dotnet restore`.

[2016-07-20 23:33] DustinCampbell commented on #578
This is now listed in the Supported Operating Systems section of our readme.md. Once we ship the latest extension (1.3.0) on the marketplace, it will be reflected there as well.

[2016-07-20 23:33] #578 closed

[2016-07-20 23:34] DustinCampbell commented on #553
This has been removed from our readme.md. Once we ship the latest extension (1.3.0) to the marketplace, this will be reflected there as well.

[2016-07-20 23:34] #553 closed

[2016-07-20 23:44] #581 closed

[2016-07-20 23:56] DustinCampbell commented on #563
Sorry for taking so long to get back to you. Try the following steps:

1. Download and install the latest beta version of the C# extension [v1.3.0-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0-beta2). (Note: you can install it by opening the VSIX in VS Code with File->Open File).
2. Download and untar the latest OmniSharp for Mono from https://github.com/OmniSharp/omnish

[2016-07-21 00:05] DustinCampbell commented on #456
This should be fixed by #590

[2016-07-21 00:05] #456 closed

[2016-07-21 00:06] DustinCampbell commented on #108
We'll be pushing this release to marketplace soon, which fixes this issue.

[2016-07-21 00:06] #108 closed

[2016-07-21 00:07] DustinCampbell commented on #410
We'll be pushing this release to the marketplace soon.

[2016-07-21 00:07] #410 closed

[2016-07-21 00:20] DustinCampbell commented on #443
I just looked through the various bugs tracking this issue over in the VS Code repo. It looks like this on VS Code's current schedule and the conversation around the bug is happening here: https://github.com/Microsoft/vscode/issues/2465.

[2016-07-21 00:20] #443 closed

[2016-07-21 00:21] DustinCampbell commented on #444
This is a great bug. Thanks for reporting!

[2016-07-21 00:23] DustinCampbell commented on #405
ping?

[2016-07-21 00:26] DustinCampbell commented on #362
This should be much better with the [1.3.0 release](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0). In that release, we'll be using the CoreCLR-based OmniSharp for .NET Core projects, which supports long file names. The problem is that the .NET Desktop version of OmniSharp (which we currently use on Windows) can crash with MAX_PATH issues.

[2016-07-21 00:28] DustinCampbell commented on #294
Has anyone seen this in awhile? It feels like this issue might be a bit stale.

[2016-07-21 00:29] DustinCampbell commented on #293
Hi, this is implemented with the latest release, (v1.3.0](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0)

[2016-07-21 00:29] #293 closed

[2016-07-21 00:31] DustinCampbell commented on #247
Hi @jeffschwMSFT, sorry that this issue has gotten so stale. Should I assume that you aren't seeing this problem anymore? (Otherwise, you'd have been knocking on my office door about it by now :smile:).

[2016-07-21 00:37] rajkumar42 commented on #294
I have seen this issue with this repro https://github.com/OmniSharp/omnisharp-vscode/issues/352

[2016-07-21 00:40] DustinCampbell commented on #563
Also, note that I've filed #593 to track improving the OmniSharp acquisition experience on any linux distros that we don't *officially* support.

[2016-07-21 00:43] gregg-miskelly commented on #294
@rajkumar42 this bug tracks the scenario where VS Code claims that the build fails, but it actually succeeded. Is that what you saw?

[2016-07-21 00:43] DustinCampbell commented on #21
This issue has grown rather stale and there've been a lot of changes in ASP .NET and .NET Core. Is this still a problem?

[2016-07-21 00:46] rajkumar42 commented on #294
This behavior shows up on Windows only. In my case the build actually failed, it did not update the dlls.

Its quiet different on mac, where it somehow creates a zero sized file.

[2016-07-21 00:47] DustinCampbell commented on #14
Sorry that this issue has grown so stale. I realize that the days of DNX and DNVM are behind us at this point, so that bit is probably not relevant any longer.

The latest release, [v1.3.0](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0), brings back support for Unity to the C# extension. Does this version of the extension work better for you?

[2016-07-21 00:49] DustinCampbell commented on #17
@rspaulino: I suspect that this old issue is now too stale for your to comment on, as DNX is long gone and .NET Core is here today. I'm going to go ahead and close this as "not reproducible" because the failure is dependent upon out-of-date technology. However, please let me know if you're still experiencing this problem.

[2016-07-21 00:49] #17 closed

[2016-07-21 00:52] DustinCampbell commented on #32
@sorab2142, @trenoid: Are either of you still experiencing this problem with the C# Extension for VS Code? This issue is pretty stale, so I'm going to go ahead and close it, but please let me know if you're still experiencing this problem.

[2016-07-21 00:53] Figbash commented on #269
@DustinCampbell OK I have a brand new install of El Capitan and I'm running Code 1.3.1 + the C# 1.3.0 that you just released.  A new thing I noticed as I have default settings is that if you have the References links showing they disappear when this bug occurs, and come back a little bit after it starts working again, so it seems like Omnisharp is rebooting.  I usually don't get any logs in the ou

[2016-07-21 00:53] DustinCampbell commented on #41
Hi, I'm sorry this issue got so stale. Now that DNX, DNVM and the like are long gone and .NET Core is here to stay, I'm going to go ahead and close this issue. Please let me know if this is still a problem for you.

[2016-07-21 00:53] #41 closed

[2016-07-21 00:59] DustinCampbell commented on #167
Hi, if you're still experiencing this issue, could you try the latest release of the C# extension, [v1.3.0](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0)? This version adds better support for Mono projects in general, so it'd be great to know if it helps the problem you've been experiencing.

[2016-07-21 01:02] DustinCampbell commented on #206
Hi @ciel, just wanted to ping to find out if you're still experiencing this problem. Let us know!

[2016-07-21 01:03] DustinCampbell commented on #209
Closing since there hasn't been any comment in three weeks. @MulderLiu, if this is still an issue, please let me know.

[2016-07-21 01:03] #209 closed

[2016-07-21 01:06] DustinCampbell commented on #83
This is pretty stale at this point, especially given that DNX, DNU, DNVM and all of that are going and .NET Core is here to stay. I'm going to close this issue, but please let me know if it's still a problem.

[2016-07-21 01:06] #83 closed

[2016-07-21 01:07] DustinCampbell commented on #84
This is very stale at this point.

[2016-07-21 01:07] #84 closed

[2016-07-21 01:08] #155 closed

[2016-07-21 01:09] DustinCampbell commented on #154
Note that the completion that appears inside strings is text token based and includes snippets. These are included by default in VS Code. However, symbol completion is not appearing inside strings.

The signature help issue should already be fixed.

[2016-07-21 01:09] #154 closed

[2016-07-21 01:10] DustinCampbell commented on #121
@agocke, are you still seeing this problem? I've been unable to reproduce it.

[2016-07-21 01:10] #121 closed

[2016-07-21 01:11] #100 closed

[2016-07-21 01:12] DustinCampbell commented on #97
This should be fixed with the latest release, [v1.3.0](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0)

[2016-07-21 01:12] #97 closed

[2016-07-21 01:14] DustinCampbell commented on #88
Hi @TheBlueSky and @TranscendOfSypherus, with DNX replaced with .NET Core, is this still an issue. It seems to be pretty stale. Let me know if you're still experiencing this problem.

[2016-07-21 01:14] #88 closed

[2016-07-21 01:16] DustinCampbell commented on #34
The issue with the warning is by design. We were tracking the colorization issue with #100, but haven't been to reproduce it in a long while.

[2016-07-21 01:16] #34 closed

[2016-07-21 01:18] DustinCampbell commented on #459
Hi @branciat, I'm wondering if this is still an issue for you. Could you try the latest release, [v1.3.0](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.3.0) and let me know if you're still experiencing this problem? If so, could you provide a project that reproduces the problem?

[2016-07-21 02:49] TheBlueSky commented on #579
Yes, `dotnet restore` works from command line, whether using Command Prompt or VS Code terminal. From the VS Code Command Palette however, it doesn't; I'm getting "OmniSharp server is not running."

[2016-07-21 02:55] TheBlueSky commented on #88
@DustinCampbell, it isn't relevant anyway now, after moving to `dotnet`. I'm going to test this later, and if there is an issue, I believe we should open a new "Issue".

[2016-07-21 02:56] DustinCampbell commented on #88
yes, that'd be best.

[2016-07-21 02:57] DustinCampbell commented on #579
Yes, the VS Code command palette uses OmniSharp to determine which projects to run dotnet restore on. I'd like to dig into the proxy issue deeper, but I think there's an additional problem that will keep this from working in the meantime. It appears that you're on 32-bit Windows, correct? Unfortunately, at the moment, the OmniSharp language server only supports 64-bit Windows.

[2016-07-21 03:04] TheBlueSky commented on #579
At work, I'm using Windows 8.1 Pro 64-bit... at least this is what Windows reports :)

[2016-07-21 03:14] zeyangl commented on #97
@DustinCampbell  I drag-and-dropped this into VSCode plugin folder. It appears installed in the VSCode extensions panel, with correct version number(1.3.0), but autocomplete does not work. Reverting back to OmniSharp legacy plugin makes autocomplete functional. Please let me know if I did something wrong. I'm really looking forward to the new version as the legacy one seems pretty slow when doing

[2016-07-21 03:30] DustinCampbell commented on #579
Great! In that case, try the following workaround to get things working:

1. Download and unzip "omnisharp-win-x64-net451.zip" from the [latest OmniSharp release](https://github.com/OmniSharp/omnisharp-roslyn/releases).
2. In Visual Studio Code, select File->Preferences-> User Settings.
3. In user.settings, add the following:
[code]
4. Restart Visual Studio Code.

Now, try opening a .NET Core proj

[2016-07-21 03:35] DustinCampbell commented on #97
1. Did you uninstall the Legacy C# extension before installing the new C# extension? They won't function properly together.
2. With the C# extension v1.3.0 installed, open your project. Then, select View->Output from the menu and choose OmniSharp Log from the combobox in the upper-right corner of the Output window. Could you copy and paste the log here?

[2016-07-21 04:32] zeyangl commented on #97
1. Yes I did uninstall the legacy version.
2. There is no "OmniSharp Log" option in the combobox, only "git", "extensions", and "tasks". I guess maybe the plugin is not running after all? But it does appear installed though.

![image](https://cloud.githubusercontent.com/assets/1244606/17011303/21999070-4f3f-11e6-8a59-8b0ff590e792.png)

[2016-07-21 04:49] DustinCampbell commented on #97
That's really strange! It's like the extension isn't activating at all. If you press F1 to bring up the command palette, is the a "Restart OmniSharp" command?

[2016-07-21 04:55] TheBlueSky commented on #579
Thanks @DustinCampbell.

So, this worked, as a workaround. Do we know the root cause of the issue? If not, what can I help with?

[2016-07-21 04:58] zeyangl commented on #97
As follows:
![image](https://cloud.githubusercontent.com/assets/1244606/17011661/af8badb6-4f42-11e6-944f-85e808a0a467.png)

Is there anything else I need to do, other than coping the src to the .vscode/extensions directory?

[2016-07-21 04:58] DustinCampbell commented on #97
Also, you mentioned dragging and dropping the extension to the plugin folder? I've never tried installing an extension that way. Instead, I open the VSIX with File->Open File in VS Code and the restart VS Code for good measure.

[2016-07-21 05:01] DustinCampbell commented on #97
oh, yes. You should definitely install it as I suggested. I have no idea how VS Code responds to just copying bits to the extensions folder. I suspect VS Code never scanned the package.json in the extension completely, so you are in a half-installed state.

[2016-07-21 05:03] zeyangl commented on #97
Okay I did what you said, and it seems to installed properly now. Sorry for wasting your time like that, as I didn't find anything about opening .vslx

Another problem shows up. It prompts about installing .Net CLI tools, and when I click yes, it takes me to .Net core webpage. I thought the new version would automatically use Mono. So I should keep both Mono and .Net core stuff for this to work pr

[2016-07-21 05:04] DustinCampbell commented on #579
Nope, I don't know the root cause, but it smells like a proxy issue. I'm glad you're up and running for now though.

[2016-07-21 05:06] DustinCampbell commented on #97
Excellent! I'm so glad you were able to get it installed. The prompt is because the .NET CLI tools are required to install the CoreCLR debugger, which you clearly won't be using for Unity development. @gregg-miskelly, do you have any thoughts about this?

[2016-07-21 05:13] DustinCampbell commented on #97
FWIW, installing the .NET CLI will make the prompt go away. However, I think it might be a bit of an oversight that the extension doesn't provide a way to turn the prompt off.

[2016-07-21 05:14] zeyangl commented on #97
Okay omnisharp is working fine now. I didnt notice the background downloading after installed. That took a couple minutes but everything seems to work fine now. Thanks for the prompt replies. Really helpful.

[2016-07-21 16:03] gregg-miskelly opened #602 "Debugger should support pipeTransport for attach"
The debugger currently only supports `pipeTransport` for launch. It should also support it for attach so that we can enable attach into a Docker container, or into other scenarios where we may want a pipe executable (SSH?). This is especially helpful for programming models that we don't yet support launch for.

[2016-07-21 17:14] agocke commented on #121
@DustinCampbell I think this was a bad interaction between extensions. I'll try and repro and re-open if I find anything.

[2016-07-21 17:15] DustinCampbell commented on #121
thanks! No rush here. The idea that two extensions were interacting badly sounds like a good theory to me.

[2016-07-22 00:42] gregg-miskelly opened #603 "Add mechanism to suppress 'Get .NET CLI tools' error message"
## Steps to reproduce

Install the C# extension for the purposes of Unity development
Open a Unity Project
## Expected  behavior

No reference to the .NET CLI since you aren't working on a scenario involving .NET Core
## Possible fixes

The code for this is in [active.ts](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/coreclr-debug/activate.ts#L30):

[code]

Two possible fixes:
1. I

[2016-07-22 00:43] gregg-miskelly commented on #97
I opened #603 to track trying to improve this

[2016-07-22 01:18] eByte23 opened #604 "Omnisharp harderrors in vscode with csproj moved files but didn't check into csproj"
## Environment data

.net 451
VS Code version: 1.4.0-insider
C# Extension version: 1.3.0

When a file has moved but the reference in the csproj hasn't been change then omnisharp hard errors with FileNotFound exception trying to find the csproj file.

Should register project work space as projects like visual studio and when moving a file in workspace update csproj.

[2016-07-22 15:58] gerrard00 commented on #420
I'd also like all tests in project.

[2016-07-22 15:58] DustinCampbell opened #606 "When nested projects are found, tasks.json should be generated that builds all of them"

[2016-07-22 16:08] gregg-miskelly commented on #606
@DustinCampbell Do you understand how to actually get `dotnet build` to build multiple projects? If I just create a folder and stick two projects under it, and run `dotnet build` from the root folder, `dotnet build` will build nothing.

I had a suggestion in #310 that instead of creating one tasks.json/launch.json entry, we instead create one for each launchable project. Ex: instead of a 'build' t

[2016-07-22 16:14] DustinCampbell commented on #606
I was thinking we would just pass each project.json as arguments to dotnet build.

[2016-07-22 16:28] gregg-miskelly commented on #606
Ah I see. Would you actually do that directly in the tasks.json? Or would we have a tasks.json that invoked a shell script that found all the nested project.json files and sent them to the build.

[2016-07-22 16:32] gerrard00 opened #607 "CWD for unit test execution should match VS.NET or be configurable"
## Environment data

`dotnet --info` output:

[code]

VS Code version: 1.3.1
C# Extension version: 1.2.2
## Steps to reproduce
1. Open a folder that contains a solution in VS Code
2. Locate an xunit test function that uses a relative path
3. Click "run test" or "debug test"
## Expected  behavior

The current working directory for the execution should be the test project's root folder, which matche

[2016-07-22 17:11] DustinCampbell opened #609 "Add option to enable "diagnostic mode" for C# extension"
This option would control logging of more information to help with debugging.

[2016-07-22 17:14] DustinCampbell commented on #606
I was thinking that I'd do it directly in tasks.json. We'd need to different shell scripts for different platforms.

[2016-07-22 17:30] rajkumar42 commented on #606
Project dependencies like
`  "dependencies": {
    "lib": "1.0.0"
  },`

are understood and built by dotnet (it spins up a child dotnet process to build it).

Something to think about
- generating tasks for all project.json one level under folderx would cause redundant build steps - although it would not have anything to do the second time.

[2016-07-22 17:32] DustinCampbell commented on #606
Understood. My expectation is that I'd need to build the project dependency graph.

[2016-07-22 17:44] rajkumar42 commented on #606
yep that sounds good to me.

[2016-07-22 18:10] gregg-miskelly commented on #606
@DustinCampbell the only issue with doing it directly in tasks.json is that users would need to update it if they add more projects where as a script could maybe just recursively find them.

[2016-07-22 18:14] DustinCampbell commented on #606
Perhaps we could get VS Code to allow us to execute a command to produce the task args, similar to our the process ID picker works?

[2016-07-22 18:16] gregg-miskelly commented on #606
Sounds reasonable to me.

[2016-07-22 19:43] Figbash commented on #269
@DustinCampbell I have managed to make a project that exhibits this behavior by taking a free project and duplicating it's scripts into different namespaces to make it large.  Steps to follow:
1. Unzip project and do Open Project in Unity on the base unzipped directory
2. Go to Unity preferences->VSCode->Enable Integration
3. Go to Assets->Open C# Project In Code
4. Now just try to hold command an

[2016-07-22 19:44] DustinCampbell commented on #269
Thanks a ton @Figbash! I will take a look.

[2016-07-22 21:35] gregg-miskelly opened #612 "NWF: Microsoft.VisualStudio.VIL.DebuggerHost.FusionHelper.CheckByPreviousBinds"
From telemetry with have 324 hits of an non-fatal Watson with the following stack:

    at System.IO.PathInternal.CheckInvalidPathChars(String path)
    at System.IO.Path.GetDirectoryName(String path)
    at Microsoft.VisualStudio.VIL.DebuggerHost.FusionHelper.CheckByPreviousBinds(AssemblyResolver resolver, AssemblyName name)
    at Microsoft.VisualStudio.VIL.DebuggerHost.FusionHelper.GuessPathFro

[2016-07-22 22:09] gregg-miskelly opened #613 "NFW: Microsoft.VisualStudio.VIL.VisualStudioHost.VSGlobalContext.GetSourceLocations"
From telemetry, we can see the following non-fatal Watson being reported --

    at XapiExceptionProcessing.ThrowHR(Int32 code)
    at Microsoft.VisualStudio.Debugger.Symbols.DkmInstructionSymbol.GetSourcePositionCallback(DkmWorkList WorkList, DkmSourcePositionFlags Flags, DkmInspectionSession InspectionSession, DkmCompletionRoutine`1 CompletionRoutine)
    at Microsoft.VisualStudio.VIL.VisualStud

[2016-07-22 23:22] natemcmaster opened #614 "Keywords escaped with @ breaks highlighting"
C# keywords can be used by prefixing the name with "@". But the code highlighting breaks in VS code 1.3.0 breaks when this is done.

Example:
Using `@class` throws off all highlighting for the rest of the file.

![image](https://cloud.githubusercontent.com/assets/2696087/17073745/7ec437a2-5028-11e6-82ae-df0a1a1d30ce.png)

[2016-07-23 05:52] gregg-miskelly commented on #607
cc @troydai

[2016-07-23 15:20] hyesun03 commented on #561
ah...really sorry about late feedback. I had resolve this problem throught editting ~/.bash_profile.

I added it on ~/.bash_profile.
`export PATH=/usr/local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Frameworks/Mono.framework/Versions/Current/bin`

My macbook got some problems.. so I'll contact to you next week.
I sincerely sorry to late reply.

[2016-07-24 11:08] Souk21 opened #615 "Access Omnisharp API from another VSCode extension"
I'm authoring a VSCode extension, and would need to access Omnisharp API.
For example I would need to know if a certain class inherits from another, is this possible?

Sorry if it's not the right place to ask that.

[2016-07-24 15:44] GuardRex commented on #257
This isn't the same issue as https://github.com/OmniSharp/omnisharp-vscode/issues/193 (I think). I think that has to do with a fixed bug on re-loading the debugger excessively.

This is still a pain point having to constantly dismiss automatic `dotnet restore` attempts.

[2016-07-25 13:23] vanthome commented on #563
@DustinCampbell many thanks, your instructions worked for me under Gentoo Linux as well.

[2016-07-25 15:15] DustinCampbell commented on #615
FWIW, this is probably better asked on the https://github.com/OmniSharp/omnisharp-roslyn repo, or in the OmniSharp Slack channels. This repo is specially for the C# extension for VS Code, which uses OmniSharp.

[2016-07-25 15:54] troydai commented on #607
/cc @DustinCampbell

[2016-07-25 18:03] gregg-miskelly opened #616 "C# extension should have telemetry to record .NET Core vs. mono/desktop usage"
Currently the C# extension supports both desktop/mono and .NET Core scenarios. We should have telemetry so that we can understand which type of projects people are using.

[2016-07-25 18:42] kieferrm opened #617 "#region..#endregion is not foldable if at same column as enclosed method"
Moved from https://github.com/Microsoft/vscode/issues/9661:
- VSCode Version: Code 1.3.1 (e6b4afa53e9c0f54edef1673de9001e9f0f547ae, 2016-07-12T13:35:06.227Z)
- OS Version: Windows_NT ia32 10.0.10586

Regions must be in the same tab. It would be great to allow us to fold no matter if they are in the same tab or not.
![wrong](https://cloud.githubusercontent.com/assets/4130008/17082018/93afe09a-5144-

[2016-07-25 20:14] Ethan-VisualVocal opened #618 "Error installing the debugger is a preview1 version of the .NET CLI is installed"
More of an FYI than a bug report:

It wasn't obvious to me that I needed to install an update for .NET Core to get this working.  I had previously been running the Legacy C# plugin for Unity dev, but had a dotnet 1.0.0--preview1-###### build.

**Solution:** Go to https://www.microsoft.com/net/core#macos, follow instructions & install the latest (ended up being a preview2 for me at the time of writ

[2016-07-25 22:37] Suchiman opened #619 "Monaco and C# in the Browser?"
Since the [monaco editor](https://github.com/Microsoft/monaco-editor) is now available as standalone application and omnisharp is using an http connection, what are the chance of getting full fidelity c# editing in the browser 😄 ?

[2016-07-25 23:26] gregg-miskelly commented on #613
This will be fixed in the next version of clrdbg.

[2016-07-25 23:26] #613 closed

[2016-07-25 23:45] gregg-miskelly commented on #618
Thanks for the report @Ethan-VisualVocal.
@chuckries do you think we should block installing if the .NET CLI version we get back in prievew1?

[2016-07-26 08:19] ChongWangUBI opened #621 "Omnisharp new 1.3 Version can not work with Unity csproj project on Win10"
## Environment data
`dotnet --info` output: 1.0.0-preview2-003121
VS Code version: 1.3.1
C# Extension version: 1.3.0
OS: Win10
Work: Unity3.5.2
## Steps to reproduce
Open Unity .sln，csproj File.
Get the Error:

[INFORMATION:OmniSharp#MSBuild] Loading project from 'e:\DNF_Project\Program\Client\Assembly-CSharp-Editor.csproj'.
[INFORMATION:OmniSharp#ProjectFileInfo] Using toolset 15.0 for e:\DNF_Pro

[2016-07-26 14:08] aukaost commented on #269
Is there any documentation on how to debug OmniSharp itself?

[2016-07-26 15:35] gregg-miskelly commented on #621
@ChongWangUBI in case this isn't obvious - you may be able to work around this by now by installing .NET Framework 3.5 in the 'Windows Features' dialog.

[2016-07-26 16:03] ivanz opened #622 "1.3 regression: Lots of errors reported: "The type 'X' is defined in an assembly that is not referenced""
## Environment data

`dotnet --info` output:

[code]

VS Code version: 1.3.1
C# Extension version: 1.3.0
## Steps to reproduce

**project.json**

[code]

**test.cs**

[code]
## Expected  behaviour

No problems/errors reported in Visual Studio code.
## Actual behaviour

Problem reported on the above source code line:

[code]

[2016-07-26 16:06] CarlosTorrecillas opened #623 "Add method brackets when selecting it with the intellisense"
## Environment data

`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64
VS Code version: 1.3.1
C# Extension version: 1.3.0
## Steps to reproduce

Create a private metho

[2016-07-26 16:32] caslan opened #624 "Add support for reading embedded PDBs inside assemblies"
For this work: https://github.com/dotnet/roslyn/issues/12390

[2016-07-26 18:25] kieferrm opened #625 "Unable to install coreclr-debug on Elementary OS"
Moved from https://github.com/Microsoft/vscode/issues/9780:
- VSCode Version: Version 1.3.1 and Version 1.4.0-insider
- OS Version: Elementary OS Freya 0.3.2

Steps to Reproduce:
1. Install Elementary OS
2. Install Visual Studio Code
3. Install C# extension
4. Load a .NET Core project
5. Attempt to debug the project

Able to see the error log when the developer console is open within Visual Studio

[2016-07-26 18:53] kieferrm opened #626 ".Net CLI tools not being located"
Moved from https://github.com/Microsoft/vscode/issues/9810:
- VSCode Version: 1.3.1
- OS Version: windows 10 1511

Steps to Reproduce:
1. install visual studio 2015 enterprise with updates include all common tools
2. install visual studio code
3. open visual studio code
4. create file with CS extentions
5. error message appears error The .Net CLI tools cannot be located. .Net Core debugging will n

[2016-07-26 20:38] gregg-miskelly commented on #625
@kieferrm if Elementary OS is based on Ubuntu 14.04, hopefully this is just a tweak to this [switch statement](https://github.com/OmniSharp/omnisharp-vscode/blob/735f90a299e857fc5de97216f961c4dd16907cac/src/platform.ts#L59). If you are interested, we would happily take a PR. Otherwise, if you want to paste in the output of `cat /etc/os-release` I can try to send you a private .vsix which will send

[2016-07-26 21:19] gregg-miskelly commented on #626
@RMajere is VS somehow installing the .NET CLI, but not placing it on the path?

[2016-07-26 22:02] RMajere commented on #626
@gregg-miskelly VS is installing update 3 along with the main installer. so if I attempt to install update 3 on its own I am informed that the update is installed, when running the .NET Core 1.0 for visual studio fails stating that update 3 is either not installed or not installed correctly. here is what is currently listed in the PATH:
C:\Windows\system32
C:\Windows
C:\Windows\System32\Wbem
C:\Wi

[2016-07-26 22:09] gregg-miskelly commented on #626
@RMajere you are running into https://github.com/dotnet/cli/issues/3933. There is a work around and the end of that bug that should fix this for you.

[2016-07-27 07:17] egamma opened #627 "The .NET CLI tools cannot be located"
_From @Tobyee on July 27, 2016 5:56_

- VSCode Version: 1.3.1
- OS Version: Win7-x64
- dotnet Version: 1.0.0-beta-001598

Steps to Reproduce:

1. cmd: mkdir demo & cd demo
2. cmd: dotnet new
3. cmd: dotnet restore
4. cmd: code .

Error:

![image](https://cloud.githubusercontent.com/assets/1400574/17165279/e21fc9d8-5401-11e6-8b2c-8bd0b94d4628.png)

I'am sure that  .NET Core SDK for Windows was inst

[2016-07-27 10:21] Firaenix commented on #625
Here is my output from `cat /etc/os-release`

[code]

I have fixed the issue locally on my PC, I'd be more than happy to make a pull request.
Change is pretty straight forward.

Thanks very much for your help

[2016-07-27 10:29] Firaenix commented on #625
I have created pull request for this feature here: https://github.com/OmniSharp/omnisharp-vscode/pull/628

[2016-07-27 12:19] ChongWangUBI commented on #621
@gregg-miskelly  installing .Net Framework3.5 in the windows Features Dialog. can not resovle this problem .

[2016-07-27 16:13] gregg-miskelly commented on #625
@Firaenix Thanks again!

[2016-07-27 16:30] gregg-miskelly commented on #621
@ChongWangUBI Thanks for trying. Unfortunately I don't know enough the language service side of the extension to have any other ideas, and the primary language service dev is on vacation. So it may be a little while before anyone gets back to you. But thank you for reporting the issue.

[2016-07-27 16:35] gregg-miskelly commented on #627
@Tobyee do you have the latest version of the C# extension (check in the extensions panel)? Assuming so, what do you get from:

1. Start->Run, cmd.exe
2. `where dotnet.exe`
3. `dotnet --info`

[2016-07-27 17:39] BrennanConroy commented on #21
I can't repro this anymore on Windows

[2016-07-27 19:21] chuckries commented on #618
@gregg-miskelly sure. Just a raw `dotnet --version` check after we verify that it's on the path?

[2016-07-27 19:58] wesrupert commented on #496
Fix should be available in the next release to address breakpoints binding to the wrong location after saving. We don't get any information from VS Code about a modified buffer currently, I've filed [VS Code issue #9823](https://github.com/Microsoft/vscode/issues/9823) for this.

[2016-07-27 19:58] #496 closed

[2016-07-27 20:11] gregg-miskelly commented on #618
@chuckries since we verify something is on the path by just executing `dotnet` I might suggest that we instead execute `dotnet --version` and check both that it succeeds and that the version number is >= preview2.

[2016-07-27 20:15] chuckries commented on #618
@gregg-miskelly good call, I will take this over then.

[2016-07-28 02:38] sumanx commented on #269
@Figbash large number of, 28000+

[2016-07-28 07:04] Tobyee commented on #627
@gregg-miskelly
Thanks for you tips. I found the reason.
It's because I have a old version cli tools installed that influence on the new one.

The old version install is:
![old](https://cloud.githubusercontent.com/assets/1400574/17203865/7377bbde-54d4-11e6-8c13-0be94d1e0daf.png)
The new version install is:
![new](https://cloud.githubusercontent.com/assets/1400574/17203872/83aed2ee-54d4-11e6-8f29-b

[2016-07-28 15:50] gregg-miskelly commented on #627
@Tobyee glad you solved your issue. I will close this issue then.

[2016-07-28 15:50] #627 closed

[2016-07-28 17:57] robertpeacock22 commented on #555
@gregg-miskelly I am still having this issue.
`dotnet-info` output:

VS Code version:
version 1.3.1

C# Extension version:
version 1.3.0

I have tried:
- restarting Visual Studio Code
- uninstalling/reinstalling the C# Extension
- restarting my macbook

With regard to the "No such file or directory" issue noted above, this may just be an issue with using `cat $PATH` as it does not appear when I `e

[2016-07-28 19:39] natemcmaster opened #629 "Quick fix menu does not close when cursor has moved"
## Environment data

`dotnet --info` output: `1.0.0-preview3-003206`, OSX 10.10
VS Code version: 1.3.1
C# Extension version: 1.3.0
## Steps to reproduce

Request the quick fix tooltip (keyboard or click on lightbulb).
Move text cursor before tooltip finishes loading
## Expected  behavior

Tooltip should not appear when cursor has moved
## Actual behavior

Tooltip appears and stays around, even aft

[2016-07-28 22:25] kieferrm opened #630 "C# preprocessor expressions highlighting is inconsistent"
Moved from https://github.com/Microsoft/vscode/issues/9921:

- VSCode Version: 1.3.1
- OS Version: OS X El Capitan

Steps to Reproduce:

[code]

![image](https://cloud.githubusercontent.com/assets/816680/17228267/31944fd2-54c7-11e6-9b66-90ef8285e486.png)

It's very inconsistent highlighting:
- `#` is highlighted in the first `#if`, but not elsewhere
- `if`and `else` highlighted (probably as a keyw

[2016-07-29 11:00] sorab2142 commented on #32
@DustinCampbell yes this problem still persists. Is there something I could do to help find out why this is happening?

[2016-07-29 12:57] trendoid commented on #32
@sorab2142 I'm not seeing this since I have upgraded to the latest VS Code and .NET Core.  I also updated the C# extension in VS Code.  I'm on Windows 10.  My version of the C# extension is 1.3.0, VS Code 1.3.1 and .NET 1.0.0-preview2-003121

I don't know if that will help you but I'm not seeing this anymore.

[2016-07-29 12:59] weinand opened #632 "Decimal property is not displayed correctly in Variables in debugger"
_From @bgrainger on July 29, 2016 1:16_

- VSCode Version: Version 1.3.1 (1.3.1) e6b4afa53e9c0f54edef1673de9001e9f0f547ae
- OS Version: Mac OS X 10.10.5

#### Steps to Reproduce:

Create a .NET Core Console application with the following code:

[code]

Debug it by pressing F5. Break on the `Console.WriteLine` line and look at the Variables pane. The value of `Value` is displayed incorrectly (but `

[2016-07-29 12:59] weinand commented on #632
_From @sjones204g on July 29, 2016 2:10_

I'm getting this problem as well. VS Code 1.3.1 on Mac OSX 10.11.6.

[2016-07-29 12:59] weinand commented on #632
The formatting of these values is done in the debug adapter of the C# extension.

[2016-07-29 15:52] gregg-miskelly commented on #555
@robertpeacock22 I would suggest opening a new issue. As of 1.3.x of the VS Code extension, we no longer try to parse PATH so this means that either node or the operating system itself cannot find `dotnet` when VS Code launches it. But we can try and to troubleshoot why it isn't on your path.

[2016-07-29 16:13] robertpeacock22 commented on #555
It appears that your PATH is not available to Finder/Dock-launched applications unless you explicitly set it up to be, as per http://apple.stackexchange.com/questions/51677/how-to-set-path-for-finder-launched-applications

Essentially you need to:
1. Add `launchctl setenv PATH $PATH` to your **.bash_profile** or **.bashrc**
2. Restart the Dock using `osascript -e 'tell app "Dock" to quit'` in orde

[2016-07-29 16:48] #630 closed

[2016-07-29 16:50] DustinCampbell commented on #174
Fixed with #631

[2016-07-29 16:50] #174 closed

[2016-07-29 16:54] DustinCampbell commented on #623
We'll keep this on our backlog. Note that we'd likely only do this if we also made the same behavior change in Visual Studio and Xamarin Studio.

[2016-07-29 16:55] DustinCampbell commented on #621
@ChongWangUBI, could you provide the entire OmniSharp log when trying to load your project?

[2016-07-29 16:56] DustinCampbell commented on #619
I think that'd be sweet, but it's outside of the scope of this particular project. :smile:

[2016-07-29 16:56] #619 closed

[2016-07-29 16:57] DustinCampbell commented on #617
Hmmm... I wonder if this is fixed with #631.

[2016-07-29 18:27] gregg-miskelly commented on #555
@robertpeacock22 makes sense. But the weird thing is that it seems like whatever the CLI installer is doing is working for most folks. @blackdwarf do you know how the CLI installer adds `dotnet` to the path?

[2016-07-29 18:45] blackdwarf commented on #555
If this is macOS, then we use the `path_helper` support by placing a file with the installation path in the `/etc/paths.d` directory.

[2016-07-29 20:30] blackdwarf commented on #555
@robertpeacock22 which shell are you using?

[2016-07-30 05:13] manukautech opened #634 "Give fair warning upfront that this C# is Windows 64-bit only. Or (better) support 32-bit."
## Environment data

`dotnet --info` output:
VS Code version:
C# Extension version:all
## Steps to reproduce:

Take on what turns out to be the very difficult challenge of teaching MVC6 and ASP.NET Core to my PolyTech programming class. Spend many hours setting up a virtual machine running Windows 10 32-bit with Visual Studio Code and resources for many good reasons coming from the special challen

[2016-08-01 01:24] sinclairzx81 commented on #36
Is there any news on this?

Its been several months now, and this issue is causing much confusion among developers using vscode for C# development. It would be good to get some feedback on the progress of this bug.

Many thanks

[2016-08-01 15:19] robertpeacock22 commented on #555
@blackdwarf I'm using bash.

[2016-08-01 16:35] Tyriar opened #635 "Allow permanent dismissal of build/debug assets message"
![image](https://cloud.githubusercontent.com/assets/2193314/17301255/e4a7d28c-57ca-11e6-8536-cbae5856b8ca.png)

I have no desire to add the `.vscode` directory for this project, yet every time I open the folder the extension bugs me. I'd like a way to dismiss it permanently for this PC.

The project in question is a library (no entry point) with a set of tests: https://github.com/gwtw/csharp-data-

[2016-08-01 17:44] Tyriar opened #636 "dotnet processes crashes during debugger restore on macOS"
_From @suphero on July 31, 2016 20:25_

- VSCode Version: 1.3.1
- OS Version: EL Capitan (10.11.6)

Steps to Reproduce:

1. I Select Language Mode C#
2. Problem Report window shows "dotnet quit unexpectedly"
[Problem Report.txt](https://github.com/Microsoft/vscode/files/392620/Problem.Report.txt)
3. VSCode shows "Downloading and configuring .NET Core Debugger" message but nothing happens

_Copied

[2016-08-02 02:19] kieferrm opened #637 "intellisense keeps rebuilding references Unity C#"
Moved from https://github.com/Microsoft/vscode/issues/9941:

![intelli](https://cloud.githubusercontent.com/assets/5999766/17244794/9e4981c2-55be-11e6-9274-f3cd1ec91c99.gif)
- VSCode Version: Version 1.3.1 (1.3.1)
- OS Version: OSX 10.11.3

Steps to Reproduce:
1. install VSCode
2. write in a Unity C# project

As you type, suddenly intellisense is lost and all the references & auto complete are gon

[2016-08-02 10:46] aukaost commented on #637
See also #269

[2016-08-02 11:01] ivanz commented on #617
It doesn't. I did notice that `csharp.json` has this section:

[code]

There are two issues:

1. The regex's are malformed - all `/` should be escaped `\/` or in this case because they are in a string block `\\/`
2. Even fixed (locally) it still doesn't have any impact on folding in VSCode, so I am not sure what contributes to how folding works in VSCode

[2016-08-02 14:24] matthewreily commented on #32
I'm seeing the issue on my machine using Windows 10, C# extension 1.3.0 and vs code 1.3.1 and .NET 1.0.0-preview2-003121.  Is there any other information I can send that would be helpful in resolving this?

[2016-08-02 15:38] DustinCampbell commented on #617
I haven't investigated folding in VS Code either, so I was curious if it gathered information from the syntax grammar. Will take a closer look in the near future

[2016-08-03 08:14] ChongWangUBI commented on #621
@DustinCampbell
The Entire OmniSharp Log is:

Flavor: 0, Platform: 1
[INFO] Installing OmniSharp to C:\Users\Administrator\.vscode\extensions\ms-vscode.csharp-1.3.0\out\.omnisharp-coreclr
[INFO] Attempting to download omnisharp-1.9-beta12-win-x64-netcoreapp1.0.zip...
[INFO] Downloading to C:\Users\ADMINI~1\AppData\Local\Temp\tmp-61122OYi0pRjX3qY.tmp...
[INFO] Download complete!
[INFO] Decompressin

[2016-08-03 08:20] ChongWangUBI commented on #621
@DustinCampbell
I change use the win-x64-net451.zip ,fixed this problem.
and,
by add  omnisharp start cmd  "--encoding utf-8"
OmniSharp: -s e:\DNF_Project\Program\Client --hostPID 14820 DotNet:enablePackageRestore=false --stdio --encoding utf-8
fixed OmniSharp Stop Working with Odd Multi-Byte characters problem.

[2016-08-04 08:21] tverboon commented on #547
What I notice on the Mac version is that it sometimes takes while before the using statement appears and it refreshes the menu so it closes again. When hitting CMD+. again the menu option is there. It would be great if the menu doesn't close and refreshes in place, maybe with an indicator that it's still searching?

[2016-08-04 23:12] Tyriar opened #638 "C# 6.0 string interpolation does not recognize the end of string"
_From @RaulOnk on August 4, 2016 21:47_

- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

When doing string interpolation everything greys out. For example
public void GreetName() => Console.WriteLine($"Hello {this.Name}");
will grey out everything under that method. It does not recogniz

[2016-08-04 23:12] Tyriar commented on #638
@RaulOnk do you have the C# extension installed?

[2016-08-04 23:12] Tyriar commented on #638
_From @RaulOnk on August 4, 2016 22:32_

Yes and it compiled just fine. It is just visually not working and anything under that does not have auto complete.

[2016-08-04 23:12] Tyriar commented on #638
_From @RaulOnk on August 4, 2016 22:33_

![image](https://cloud.githubusercontent.com/assets/13458372/17420626/d1c2ccb8-5a58-11e6-8da3-87db4ac1916b.png)

[2016-08-05 08:24] CarlosTorrecillas opened #639 "Can't copy the values of debugging elements such as exception messages"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version: 1.3.1
C# Extension version: 1.3

## Steps to reproduce
- Create a .NET Console

[2016-08-05 12:28] suedama1756 opened #640 "IntelliSense painful to use with directory containing multiple projects"
## Environment data

.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version:

1.4.0

C# Extension version:

1.3.0

## Steps to reproduce

I have a simply folder structure with a g

[2016-08-05 14:57] suedama1756 commented on #640
I belief this is related to: http://stackoverflow.com/questions/38670295/brew-refusing-to-link-openssl/38706045#38706045 as I have a crypto error in the omnisharp logs. I'm continuing to investigate how to fix this without downgrading openssl in brew.

I've already run: sudo install_name_tool -add_rpath /usr/local/opt/openssl/lib /usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.0.0/System.Se

[2016-08-05 15:16] suedama1756 commented on #640
I can confirm the crypto error on startup is fixed by running:

sudo install_name_tool -add_rpath /usr/local/opt/openssl/lib ~/.vscode/extensions/ms-vscode.csharp-1.3.0/out/.omnisharp-coreclr/System.Security.Cryptography.Native.dylib

[2016-08-05 15:20] suedama1756 commented on #640
Behaviour is much more reliable now, however, I still have to switch projects to get intellisense.

[2016-08-05 15:44] suedama1756 commented on #640
Once the debugger is downloaded you also need to run the same command on the debuggers version of System.Security.Cryptography.Native.dylib

[code]

[2016-08-05 17:18] chuckries commented on #639
This issue was moved to Microsoft/vscode#10210

[2016-08-05 17:18] #639 closed

[2016-08-05 17:18] chuckries commented on #639
This is an issue with VS Code's debug UI, moving to their repo.

[2016-08-06 02:03] scrudgey commented on #640
The extension is also not working for me. It fails on installing the .net core debugger.

[2016-08-06 02:22] scrudgey commented on #640
Note: I resolved my issue with the .net core debugger not installing. I did both:

1. Downloaded and installed dotnet 1.0.0-preview2-003121 for mac os x from microsoft's website, and

2.sudo install_name_tool -add_rpath /usr/local/opt/openssl/lib /usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.0.0/System.Security.Cryptography.Native.dylib

I am not sure if step 2 was necessary, as I did bot

[2016-08-07 09:54] borgdylan opened #641 "CoreCLR Debug: more than just C#"
## Environment data
`dotnet --info` output: 1.0.0-preview3-003236
VS Code version: 1.5.0 insider
C# Extension version: 1.3
OS: Ubuntu 16.04 on Intel x64

Can the CoreCLR debugger be allowed to accept breakpoints on non-C# files? I have a custom compiler that can make ppdb debug files when targeting .NET Core. I would like to be able to step thru source code like I can do with mono. The debugger al

[2016-08-07 16:13] gregg-miskelly opened #642 "clrdbg: How to debug languages other than C#"
_From @borgdylan on August 7, 2016 13:47_

I have VSCode installed with the C# extensions that includes clrdbg. Is there some configration file I can modify to enable hitting breakpoints on files that do not end in ".cs"? If no, can this be enabled in a future release?

_Copied from original issue: Microsoft/MIEngine#405_

[2016-08-07 16:15] gregg-miskelly commented on #642
@borgdylan What language were you thinking of? The way VSCode works, an extension needs to statically declare the set of languages (and extensions) it supports in in package.json file. You can certainly manually edit that file. Though the results may not be great depending on what you are trying to do.

[2016-08-07 16:17] gregg-miskelly commented on #642
I didn't initially notice that you opened the same issue in #641. Closing this one.

[2016-08-07 16:17] #642 closed

[2016-08-07 16:19] gregg-miskelly commented on #641
@borgdylan The way VSCode works, an extension needs to statically declare the set of languages (and extensions) it supports in in package.json file. You can try manually editing the file. If you like the results, you are free to enable it in the C# extension's package.json.

[2016-08-07 16:25] borgdylan commented on #641
I have added my language id to the package.json. That allowed the debugger to support breaking on exceptions but did not allow me to activate breakpoints in the code. With mono I had to change the package.json and also modify the extension's OpenDebug adapter to support my language. With clrdbg I do not have access to the source code for the open debug adapter.

[2016-08-07 16:27] borgdylan commented on #641
I added it in the "enableBreakpointsFor" section of the file. I cannot add the extension with the C# language definition as that would override my syntax highlighter and create a conflict with my extension.

[2016-08-07 16:36] borgdylan commented on #641
This will also be an issue once VB and F# use on .Net Core picks up.

[2016-08-07 17:47] gregg-miskelly commented on #641
@borgdylan there isn't any code that we have that you will need to modify. Do you have the mono extension installed at the same time? I don't know how well VS Code deals with multiple extensions supporting breakpoints on the same file type.

[2016-08-07 17:49] borgdylan commented on #641
I do have the mono extension. It lets me place the breakpoint but then declares that the debugger engine does not support placing a breakpoint there. This happens for clrdbg only.

[2016-08-07 17:54] gregg-miskelly commented on #641
@borgdylan you might try either building a new version of the .vsix with the change to package.json (in case VS Code does some caching on VS Code install) and/or uninstall the mono extension to see if either of these resolves it.

Another thought - you could search VS Code for the exact error message string in case that reveals anything.

[2016-08-07 17:55] borgdylan commented on #641
Thanks. I will try and report back. VSCode does not cache package.json changes AFAIK. I have configured extensions ij teh past and just needed a restart to have changes take effect.

[2016-08-07 18:25] borgdylan commented on #641
The message:
[code]

It is not coming from VSCode itself. In fact it is not in its codebase. People have seen this happen in Visual Studio as well so it is coming from the VS MI Engine.

[2016-08-07 18:26] borgdylan commented on #641
The issue persists even with the mono extension being uninstalled.

[2016-08-07 18:29] borgdylan commented on #641
If in launch.json I specify that I want to stop on the first line, the debugger stops and highlights the first line in Program.Main. The only thing that works after that is stepping into/over.

[2016-08-07 18:34] borgdylan commented on #641
Question: does the debugger expect the use of full or relative paths? Most debuggers including mono need full paths in pdb files.

[2016-08-07 18:38] borgdylan commented on #641
NB: This message that VSCode shows, appears when the debugger engine is connected. It is not VSCode itself that is rejecting the breakpoints but clrdbg/MIEngine. The package.json tells VSCode to allow placing breakpoints but it is the debugger engine that must accept them at debug time. Clrdbg seems to find the source files when signalling unhandled exceptions (it gets the line in the source file

[2016-08-07 19:03] borgdylan commented on #641
This means I was pointed to the right direction. The MI Engine code: https://github.com/Microsoft/MIEngine/blob/2187999976a8606700097b649d2ffb2b3ff070a5/src/MIDebugEngine/AD7.Impl/AD7DocumentContext.cs#L84

I plan to add another branch to that if statement with my language's extension (which also uses the c# guid in pdb files) and see where I get to.

[2016-08-07 19:11] borgdylan commented on #641
That plan has stalled. To build MIEngine I will have to have Windows and VisualStudio. Is there a .NET core 1.0 variant of MIEngine (not referencing ancient dnxcore50)?

[2016-08-07 19:56] gregg-miskelly commented on #641
That is okay, because you are looking at the wrong code anyway :). That line is either not called at all for VS Code (which would be my guess) or it does something really unimportant.

The problem is with your PDB file. When we look from instruction->source, we are able to find the instruction, but when we look from source->instruction, we cannot locate the source file or line. What are you using

[2016-08-07 20:29] borgdylan commented on #641
I am using the "Managed.Reflection" library. I contacted the author and he states that the pdb files are correct (he examined some pdb file I generated).

[2016-08-07 20:43] borgdylan commented on #641
@gregg-miskelly I can send you the same files so you could take a look. I know a lot about IL but I don't have any knowledge on PDBs.

[2016-08-07 23:00] gregg-miskelly commented on #641
@jfrijters do you have your own implementation of a portable PDB writer? Or are you using something from Mono?

@tmat is there any tool that one can use to easily dump portable PDBs?

[2016-08-07 23:14] tmat commented on #641
@gregg-miskelly Yes, mdv.exe from Roslyn build drop.

[2016-08-08 02:16] borgdylan commented on #641
Mono has no pdb writing code. It can only write it's native mdb format. It is capable of reading portable pdbs in its runtime.

[2016-08-08 02:28] tmat commented on #641
@borgdylan I'd recommend using [System.Reflection.Metadata](https://dotnet.myget.org/F/dotnet-core/api/v2/package/System.Reflection.Metadata/1.4.1-beta-24406-01) package for writing Portable PDBs (and PE files as well). That's what Roslyn uses.  It's a cross-platform library that works on Mono.

[2016-08-08 05:40] borgdylan commented on #641
I cannot, that would mean rewriting my compiler from scratch.

[2016-08-08 06:12] borgdylan commented on #641
Can Sys.Refl.Metadata;'s PdbWriter be used independently from its PEWriter?

[2016-08-08 06:22] tmat commented on #641
Yes, you can use just what you need. It'd be better if Managed.Reflection worked though to provide folks like your who have already invested in Ref.Emit style APIs a working alternative. Ideally, imo, Managed.Reflection would take advantage of System.Reflection.Metadata builders internally.

[2016-08-08 06:34] borgdylan commented on #641
@tmat There was a bugfix released in Managed.Reflection. It was making incorrect pdbs if more than one sequence point got emitted in a single line. I confirm that with the new bits both mono and clrdbg behave as they do with roslyn's output.

[2016-08-08 06:37] #641 closed

[2016-08-08 06:38] tmat commented on #641
@borgdylan Cool.

[2016-08-08 06:41] borgdylan commented on #641
I can finally get rid of all that extension replacing to change .pdb into .dll.mdb/.ece.mdb and can also retire my patches to .NET CLI for supporting mono's mdb files. Standard portable PDB for everyone!

[2016-08-08 08:27] borgdylan commented on #641
@tmat @gregg-miskelly One last question: Does clrdbg currently support local variables? Mono is ignoring the variable names (uses V_0, V_1 etc. instead) but is showing me arguments and variables separately. While with clrdbg I can see arguments but no local variables when I debug.

[2016-08-08 10:46] unalone commented on #313
Agree+1

We need rights to format code as what we need, not the fixed role!

[2016-08-08 14:04] CarlosTorrecillas opened #643 "Fill constructor shortcut with class name and move cursor to parameters"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64
VS Code version: 1.4.1
C# Extension version: 1.3.0

## Steps to reproduce

- Create a new class
-

[2016-08-08 14:09] CarlosTorrecillas opened #644 "Have a keyboard shortcut for the yellow bulb options (help)"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64
VS Code version: 1.4.1
C# Extension version: 1.3.0

## Steps to reproduce
- Get a line of code to

[2016-08-08 14:52] gregg-miskelly commented on #641
@borgdylan this means that you are missing information on local variables from the PDB you are generating. Clrdbg/VS will not show unnamed locals.

[2016-08-08 15:03] gregg-miskelly commented on #636
@suphero are you still seeing this problem? If so, what version of the .NET CLI do you have installed? (please paste the output from `dotnet --info`)

[2016-08-08 15:06] Tinche commented on #636
I'm not @suphero but I'm subscribed since I have the same issue.

[code]
Version 1.5.0-insider (1.5.0-insider) as of today.

[2016-08-08 16:05] gregg-miskelly commented on #636
@Tinche VSCode version or C# extension version is unlikely to matter, as this is a problem with the .NET CLI.

If you just create a hello world project, do you see the problem there too?

    mkdir clitest
    cd clitest
    dotnet new
    dotnet restore

[2016-08-08 16:08] Tinche commented on #636
[code]
Leaving work for home now (= no Mac), so I won't be able to respond more until tomorrow :)

[2016-08-08 16:11] borgdylan commented on #641
This has been fixed in Managed.Reflection. I can now see the names of all locals.

[2016-08-08 16:25] caslan commented on #636
@Tinche, can you make sure OpenSsl is properly installed on the system? I usually see this exception when I forget to install OpenSsl on the box.

[2016-08-08 16:39] gregg-miskelly commented on #641
@borgdylan great! You are welcome to submit a PR for the package.json change if you would like to enable this by default.

[2016-08-08 17:06] borgdylan commented on #641
Which change? To enable my language's file to be debuggable? I do not have a lot of users so I prefer to keep patching the file manually.

[2016-08-08 17:06] suphero commented on #636
@gregg-miskelly I'm still seeing this problem. Here is my `dotnet --info` result:

.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

@caslan I installed openssl but I could not brew link ope

[2016-08-08 18:20] gregg-miskelly commented on #636
@suphero are you seeing a similar TypeInitializationException when you run through my steps from above?

[2016-08-08 18:26] gregg-miskelly commented on #636
@Tinche here is the CLI issue tracking this problem: https://github.com/dotnet/cli/issues/3964. It looks like https://www.microsoft.com/net/core#macos has now been updated with new instructions for linking openSSL.

[2016-08-08 18:41] suphero commented on #636
@gregg-miskelly I tried the new instructions on [microsoft.com](https://www.microsoft.com/net/core#macos) but it didn't solved my issue. Then I executed the following script at [this url](http://stackoverflow.com/questions/38670295/brew-refusing-to-link-openssl) and it solved the issue. Thank you for your support.

`sudo install_name_tool -add_rpath /usr/local/opt/openssl/lib /usr/local/share/dotn

[2016-08-08 19:00] gregg-miskelly commented on #636
@suphero I think you are going to find that while that work around will be enough to restore the debugger, and use `dotnet` from the command line, but it will NOT work for making the debugger or language service work as they will have their own copy of System.Security.Cryptography.Native.dylib. But, assuming you are trying to do .NET Core development, you can tell me if this is true or not.

[2016-08-08 19:28] gregg-miskelly commented on #636
@suphero what behavior did you see exactly? Ex: Did the symlinks get created successfully but then `dotnet new` still crashed? Or was it something else?

@bartonjs any idea why the symlink approach from [microsoft.com](https://www.microsoft.com/net/core#macos) didn't work for suphero?

[2016-08-08 19:39] bartonjs commented on #636
@gregg-miskelly The only case I know of where they won't work is if DYLD_FALLBACK_LIBRARY_PATH has been set to something which doesn't include /usr/local/lib.

[2016-08-08 19:41] gregg-miskelly commented on #641
@borgdylan that is certainly fine with us too.

[2016-08-08 21:05] suphero commented on #636
@gregg-miskelly after using microsoft's instruction, symlinks are created but `dotnet new` crashed. Then I executed the script above and brew installed mono. Now I can debug my simple app.
<img width="1025" alt="screen shot 2016-08-09 at 00 02 32" src="https://cloud.githubusercontent.com/assets/846531/17496177/ccb2b5b6-5dc4-11e6-8b9f-71fdd4fe86fb.png">

[2016-08-08 21:22] gregg-miskelly commented on #636
@suphero Thanks! Unfortunately, your debugger still isn't working quite correctly. You can tell because the call stack says '<Unknown Function>' and all expression evaluation will be broken.
Does your DYLD_FALLBACK_LIBRARY_PATH have /usr/local/lib on it?

BTW: In case we don't find a better work around, I __think__ you could fix this with:

    sudo install_name_tool -add_rpath /usr/local/opt/open

[2016-08-08 21:46] suphero commented on #636
@gregg-miskelly DYLD_FALLBACK_LIBRARY_PATH did not have /usr/local/lib on it, I just updated the path and executed extra scripts you sent. How can I check if debugger works correctly?

[2016-08-08 21:58] gregg-miskelly commented on #636
@suphero when you stop on that breakpoint you should see that the call stack has the correct name of the frame and you should see that the 'Variables' window will list 'args'

[2016-08-08 22:02] bartonjs commented on #636
@suphero The expected value of that environment variable is to not be set.  If you're going the route of explicitly setting it, you should include all of the "the interpreted value if it wasn't set" values, which is `$(HOME)/lib:/usr/local/lib:/lib:/usr/lib`

[2016-08-08 22:17] suphero commented on #636
@gregg-miskelly I debugged again and now I can see the args variable in Variables window.
<img width="1027" alt="screen shot 2016-08-09 at 00 59 44" src="https://cloud.githubusercontent.com/assets/846531/17497869/b33eb0aa-5dcc-11e6-8f47-d62e777ff590.png">

@bartonjs I updated the environment variable as the text you send.

Thank you for your support.

[2016-08-08 23:09] gregg-miskelly commented on #636
@suphero great to hear!

I am going to leave this bug open to track if we want to add more diagnostics.

[2016-08-09 08:04] v-zhanme opened #645 "Debugger: variable value isn't refeshed while it has been changed"
## Environment data
`dotnet --info` output:
VS Code version:1.3.1
C# Extension version:1.3.0

## Steps to reproduce
1) Open sample project in VSCode
2) Set a BP at line 30 in Program.cs
3) F5
4) Add i in Watch
5) Add i=10 in Watch

## Expected  behavior
The value of i changes to be 10 in Watch and Locals.

## Actual behavior
The value of i still is 5.
##Attachements
[ScreenShot](https://cloud.gith

[2016-08-09 08:16] Tinche commented on #636
The two "ln -s" commands from Microsoft solved my crash. So far. :)

[2016-08-09 08:19] Souk21 commented on #644
Just add this to your keyboard shortcuts:

    {
        "key": "alt+enter",
        "command": "editor.action.quickFix",
        "when": "editorTextFocus"
    },

[2016-08-09 08:34] HawkenKing commented on #269
Whats the current work around for this?
VSCode is basically unusable right now with Unity c# :(

[2016-08-09 08:41] v-zhanme opened #646 "Debugger: Thread name is <No Name> in call stack and thread quantity is not consistency"
## Environment data
`dotnet --info` output:
VS Code version:1.3.1
C# Extension version:1.3.0

## Steps to reproduce
1) Open sample project in VSCode
2) Set a BP at line 21 in Program.cs
3) F5
4) Check call stack

## Expected  behavior
I'm not sure if this <No Name> is expected. And here are two threads in call stack.

## Actual behavior
threads name are <No Name>. And here are three threads in cal

[2016-08-09 08:43] VinditCo commented on #269
None sadly. The last working release for me was November last year (10.3) - I think I reported this issue sometime December/January. Disappointing.

I'd advise switching to Consulo. It's v.impressive and devs are responsive :
https://github.com/consulo/consulo-unity3d
https://github.com/consulo/consulo/wiki/Downloads

[2016-08-09 09:36] CarlosTorrecillas commented on #644
Awesome, thanks!

[2016-08-09 10:45] GraceDong opened #647 "Debugger: Conditional breakpoint be hit when the left-hand side of an assignment is a variable"
## Environment data

`dotnet --info` output:
VS Code version: 1.4.0
C# Extension version: 1.3.0
## Steps to reproduce

1 Add a conditional breakpoint at line of " _appSettings = options.Value; " in HomeController.cs
and edit that breakpoint with condition of "1=0"
2 Press F5 to start debugging
## Expected  behavior

The conditional breakpoint I just added shouldn't be hit in editor window. I input

[2016-08-09 15:00] gregg-miskelly commented on #647
cc @chuckries

[2016-08-09 15:28] ivanz opened #648 "View type information for types not in the source"
It would be great if we can see where types are defined where the type is not part of the source code. Right now if I can't "go to definition" or "peek definition" - I have no idea where is this type defined.

It would be amazing if we could get the same behaviour as in Visual Studio IDE where it displays a "[from metadata]" tab with the assembly name, namespace and list of members in C# code, but

[2016-08-09 15:32] gregg-miskelly commented on #646
The fact that there is an extra thread sounds fine -- the framework is probably just starting one.
The call stacks of the two threads look correct.
The '<No Name>' part isn't the best string. https://github.com/OmniSharp/omnisharp-vscode/issues/361 tracks coming up with something better.

[2016-08-09 15:33] #646 closed

[2016-08-09 15:56] gregg-miskelly commented on #645
This is a bug/non-feature with the VS Code UI. See https://github.com/Microsoft/vscode/issues/2399.

[2016-08-09 15:56] #645 closed

[2016-08-09 22:58] gregg-miskelly opened #649 "coreclr-debug/acquisition telemetry should be improved"
From telemetry in version 1.2.2 of the extension , 24.3% of users hit into a 'dotnetRestore' failure acquiring the debugger.

Currently, our telemetry for dotnetRestore failures isn't great -
* We don't know the architecture of the OS we are on (currently only important on Windows)
* We don't know the version of the CLI which is installed
* We don't have any sort of error message from the CLI

For

[2016-08-10 09:04] Ceeten opened #650 "Custom Class autocomplete not working."
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64
VS Code version:
1.3.1
C# Extension version:
1.3

## Steps to reproduce
Install latest visual stu

[2016-08-10 14:16] joshrouwhorst opened #651 "Error: Unable to start debugging. Launch options string provided by the project system is invalid. 's' is an unexpected token. Expecting white space. Line 3, position 66."
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version:
Version 1.4.0 (1.4.0)

C# Extension version:
1.3.0

## Steps to reproduce
I fol

[2016-08-10 14:20] joshrouwhorst commented on #651
Also, I should point out that this is my first time trying to set this up. It has never successfully ran on my machine.

[2016-08-10 16:05] gregg-miskelly commented on #651
Can you send enable logging and send the output? I _think_ this problem will be late enough that the 'quick' method will work: https://github.com/OmniSharp/omnisharp-vscode/wiki/Enabling-C%23-debugger-logging

[2016-08-10 17:27] joshrouwhorst commented on #651
Here's the output:
[code]

However, when looking at this output, I figured out the problem. I had the project under a folder named "Josh's". I copied the project over to a folder named "Joshs" (no apostrophe) and it worked for me.

What would be the proper procedure for this, close this and enter a new bug?

Thanks!

[2016-08-10 17:29] gregg-miskelly commented on #651
Excellent. We can use this bug to track the problem. Thanks for reporting it!

[2016-08-10 19:58] caslan commented on #495
Closing this issue as it has been stale for a while. @Serena01 please reopen if you are still seeing this issue.

[2016-08-10 19:58] #495 closed

[2016-08-10 20:02] caslan commented on #493
Closing the issue as it has been stale for a while. @AmberZhang2016 please reopen if you are still seeing this issue.

[2016-08-10 20:02] #493 closed

[2016-08-11 02:09] seraku24 opened #652 "IntelliSense - Display named parameters in auto-completion list without needing editor.wordBasedSuggestions."
## Environment data

`dotnet --info` output:

[code]

VS Code version: 1.4.0
C# Extension version: 1.3.0
## Steps to reproduce
1. Disable `editor.wordBasedSuggestions`.
2. Type a method name and open parenthesis.
## Expected behavior

The names of the parameters of a method are included in the auto-completion list.
## Actual behavior

The names of the parameters of a method are missing.

Note that

[2016-08-11 02:59] seraku24 opened #653 "Debug console only shows automatically for first debugging session."
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.4.0
C# Extension version: 1.3.0

## Steps to reproduce
1. Create a new C# project (e.g. use `dotnet new` and `dotnet restore` for the "Hello, World!" template).
2. Launch VSCode and open the created project.
3. Start a debugging session.
4. Observe: The output window appears and displays the build process.
5. Observe: The debug

[2016-08-11 09:47] pavlos256 commented on #93
Is this the reason that the "implement interface" uses spaces instead of tabs or should I file a new bug?

[2016-08-11 14:14] 0xdeafcafe commented on #93
@pavlos256 Same reason. It runs the format command on the relevant lines, which uses spaces.

[2016-08-11 16:02] gregg-miskelly commented on #653
@seraku24 thank you for reporting this issue. This issue an issue with VS Code itself rather than the C# extension, so I will port your bug over to them.

[2016-08-11 16:03] gregg-miskelly commented on #653
This issue was moved to Microsoft/vscode#10437

[2016-08-11 16:03] #653 closed

[2016-08-11 19:04] wesrupert commented on #199
Fix should be available in the next release.

[2016-08-11 19:04] #199 closed

[2016-08-11 19:51] wesrupert commented on #651
Hi @joshrouwhorst, it looks like the issue is that apostrophe in your working directory (`.../Josh's/...`). While I work on a fix in our extension, relocating your source to a location without apostrophes in your path should unblock you!

[2016-08-11 23:09] wesrupert commented on #651
Fix should be available in the next release!

[2016-08-11 23:09] #651 closed

[2016-08-12 07:39] jrieken opened #654 "Closing a C# code block corrupts text elsewhere in the file"
_From @df-adam on August 11, 2016 18:28_
- VSCode Version: Code - Insiders 1.5.0-insider (3313a641ec505098c8625c459e49af3e8f5eb793, 2016-08-11T06:04:17.155Z)
- OS Version: Darwin x64 15.6.0
- CSharp Extension 1.3.0

Steps to Reproduce:
1.  Create a C# class
   ![screen shot 2016-08-11 at 11 24 41 am](https://cloud.githubusercontent.com/assets/11727578/17599963/5a97f7fe-5fb6-11e6-96bb-5b6427805392.

[2016-08-12 07:39] jrieken opened #655 "Failed to start OmniSharp"
_From @mm75 on August 11, 2016 18:26_

- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:49:32.489Z)
- OS Version: Linux x64 4.2.0-42-generic

[INFO] Starting OmniSharp at '/home/jhondoe/www/hwapp'...
[INFO] Started OmniSharp from '/home/jhondoe/.vscode/extensions/ms-vscode.csharp-1.3.0/out/.omnisharp-coreclr/OmniSharp' with process id 15200...
Failed to initial

[2016-08-12 07:49] seraku24 opened #656 "IntelliSense - Display names of properties assignable by an object initializer in auto-completion list without needing editor.wordBasedSuggestions."
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.4.0
C# Extension version: 1.3.0

## Steps to reproduce
1. Disable `editor.wordBasedSuggestions`.
2. Type the open curly brace that begins an object initializer.  (See the following code snippet.)
[code]
This issue occurs after typing `new Person {`.

## Expected behavior
The names of any assignable properties are shown in the au

[2016-08-12 17:23] trafcio commented on #269
Any updates on this one?

BTW, It works well on VSCode 9.3, but I cannot disable auto update. I put in settings:
`"update.channel":` `"none"`
but VSC is still updating to v1.4, which does not work... So annoying.
Maybe somebody disabled auto update on 9.3?

[2016-08-12 17:37] gregg-miskelly commented on #269
@trafcio none of us work on the VS Code team, so we don't know anything about their auto update.

[2016-08-13 00:21] zgramana commented on #371
In my case, my C# project references two bin-wrapped libraries, one is an F# library and the other is a C# library. Same results as above. Compiles and executes fine via `dotnet`, but OmniSharp reports type and namespace resolution errors.

[2016-08-13 04:30] seraku24 opened #657 "Syntax highlighting incorrect for multi-dimensional arrays in parameter list."
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.4.0
C# Extension version: 1.3.0

## Steps to reproduce
1. Use a multi-dimensional array (e.g. `int[,]`) as the type for an argument to a function.

## Expected behavior
The type and parameter name should be properly colored like other parameters.

## Actual behavior
![vscode-syntaxhighlightingissue](https://cloud.githubuserconte

[2016-08-13 16:54] johanneskopf commented on #644
Strg + "." (Period)
is already doing this.

[2016-08-13 22:27] nfantone commented on #636
Having this exact same issue over here. From reading the comments is unclear if this has been resolved or what exactly do I need to do to fix it.

On Mac OSX El Capitan, latest Insiders `1.5.0` (as of today).

[2016-08-15 01:22] heyalistair commented on #269
Hey @trafcio, try changing the update channel to none in %APPDATA%\code (Windows) or ~/Library/"Application Support"/Code (Mac).

[2016-08-15 08:55] jrieken opened #658 "Always displays 0 Projects"
_From @aaronOS on August 14, 2016 9:24_

- VSCode Version: 1.4.0
- OS Version: El Capitan 10.11.6

When opening the folder where my Unity projects are and selecting one of those, the lower right project icon always displays 0 projects. Even though I select any of the two example projects I made, it just goes to "running" before displaying 0 projects again. Why does this happen?

I attached two pho

[2016-08-15 08:55] jrieken commented on #658
_From @aaronOS on August 15, 2016 1:27_

I also seem to be missing the csharp.sln file for the project. I only have the .sln file. Does this have something to do with it just saying 0 projects? Also, the Omnisharp log shows this

[INFORMATION:OmniSharp.ScriptCs.ScriptCsProjectSystem] Detecting CSX files in '/Users/Shared/Unity/Spaceship Project'.
[INFORMATION:OmniSharp.ScriptCs.ScriptCsProjectSyst

[2016-08-15 09:06] jrieken opened #659 ""for"-template not initially selected"
_From @johanneskopf on August 12, 2016 22:5_

- VSCode Version: 1.5.0-insider
- OS Version: Windows 10, Build 14901

Steps to Reproduce:

1. Open a c# file
2.  Write "for"
3. You have to press (Down) and (Tab) to use the "for"-template, it's not possible to write "for" and press (Tab) to use that template on the go.
Selecting the template initially would speed up coding.

![opened_single_file_for]

[2016-08-15 09:06] jrieken opened #660 "Format Code not working"
_From @johanneskopf on August 12, 2016 21:53_

- VSCode Version: 1.5.0-insider
- OS Version: Windows 10, Build 14901

I work with Unity, but no matter if I open a whole solution or only a .cs file: the formatting of the code with (Shift+Alt+F), or by using the action in the command palette, isn't working.

_Copied from original issue: Microsoft/vscode#10487_

[2016-08-15 09:06] jrieken commented on #660
_From @brandonmp on August 13, 2016 0:7_

Will just add-on to this one though my circumstances are diff't:

VSCode v. 1.4.0
OS: Ubuntu 16.04

Has worked flawlessly for months, but just stopped yesterday. Uninstalled/reinstalled a few times, and tried in various projects/languages (namely: JS, JSX, and Python), still no formatting (either via shortcut or via command palette).

Admittedly I'm not su

[2016-08-15 09:06] jrieken commented on #660
_From @johanneskopf on August 13, 2016 19:52_

I tried to reinstall VS Code, deleting the extension folder and the VS Code Folder in APPDATA, but nothing changed.

[2016-08-15 09:06] jrieken commented on #660
_From @brandonmp on August 13, 2016 21:15_

Does VSCode leave any windows registry keys?  Since it's a bug that starts spontaneously, I have to imagine there's some residual settings somewhere.

If you install logged in as a  diff't user, any luck?

[2016-08-15 13:47] alexandrudima opened #661 "C# Extension & Debugger Unsupported Linux Platform"
Moved from Microsoft/vscode#10545
From @alpox

---
- VSCode Version: 1.4.0
- OS Version: Linux Manjaro KDE Version (Arch x64)
                    uname -a --> Linux elias-pc 4.4.16-1-MANJARO #1 SMP PREEMPT Wed Jul 27 21:09:47 UTC 2016 x86_64 GNU/Linux

I get the following error when trying to install the .NET Debugger with Ctrl-Shift-P: Debug: Download .NET Core Debugger

![image](https://cloud.gi

[2016-08-15 16:48] johanneskopf opened #662 "Needed parameters not shown"
## Environment data
VS Code version:
C# Extension version: 1.3
OS Version: Windows 10, Build 14901

## Steps to reproduce
Open a Unity solution
Create a new script
Write somewhere "GameObject o = new GameObject(" and check out the shown parameters.

## Expected  behavior
Showing the needed parameters.

## Actual behavior
Doesn't show the parameter type + name, instead some info.
![parameters_not_s

[2016-08-15 17:26] DustinCampbell commented on #654
This smells like an issue with auto-formatting.

[2016-08-15 17:27] DustinCampbell commented on #655
@mm75: what Linux distro are you running?

[2016-08-15 18:04] mm75 commented on #655
Plataform: Ubuntu 15.10 wily
Desktop: Mate

[2016-08-15 18:21] gregg-miskelly commented on #661
@alpox I created a [wiki page](https://github.com/OmniSharp/omnisharp-vscode/wiki/C%23-Extension-support-for-new-Linux-Distros-with-.NET-Core) to detail options for Linux distro support. Please give that a read.

[2016-08-15 19:26] DustinCampbell commented on #648
Thanks for the request @ivanz. Adding the "Metadata as Source" that VS has for symbols not defined in source is definitely something we want to do for VS Code. Dupe of #165.

[2016-08-15 19:26] #648 closed

[2016-08-15 19:31] DustinCampbell commented on #643
I tend to agree. The `ctor` snippet that was added is quite a bit different from the one that already exists in Visual Studio, which looks like this:

[code]

@jchannon: How do you feel about this (since you added the `ctor` snippet with #549)? Are you OK if we change it to better match the snippet in Visual Studio?

[2016-08-15 19:33] DustinCampbell commented on #662
This is duplicate of #36.

[2016-08-15 19:33] #662 closed

[2016-08-15 19:33] jchannon commented on #643
Yup make sense. Go nuts

On Monday, 15 August 2016, Dustin Campbell <notifications@github.com> wrote:

[2016-08-15 21:34] CarlosTorrecillas commented on #643
Awesome, thanks!

[2016-08-15 21:36] DustinCampbell commented on #643
FWIW, getting this working is tricky because VS Code appears to only support inserting text with placeholders as part of snippet expansion. To retrieve the class name, we'll need to be able to run code as the snippet expands. I've filed https://github.com/Microsoft/vscode/issues/10561 to track that.

[2016-08-15 22:19] ivanz commented on #165
Claiming this one. Have some work in progress already. Will finish off and create a pull request in the next couple of days.

[2016-08-16 07:11] alexandrudima opened #663 "context menu stuck using Ctrl + . command"
Copied from Microsoft/vscode#10479

---

From @mrunixus

- VSCode Version: 1.4.0
- OS Version: Windows 7

Steps to Reproduce:
Ctrl + .  command, to import a namespace in C#

1.  make the method async
2.  the context method got stuck
![capture](https://cloud.githubusercontent.com/assets/1231598/17628260/9beb6e1c-6082-11e6-8be5-b60c313793b6.PNG)

---

[code]

[2016-08-16 07:12] jrieken opened #664 "context menu stuck using Ctrl + . command."
_From @mrunixus on August 12, 2016 15:49_
- VSCode Version: 1.4.0
- OS Version: Windows 7

Steps to Reproduce:
Ctrl + .  command, to import a namespace in C#
1.  make the method async
2.  the context method got stuck
   ![capture](https://cloud.githubusercontent.com/assets/1231598/17628260/9beb6e1c-6082-11e6-8be5-b60c313793b6.PNG)

_Copied from original issue: Microsoft/vscode#10479_

[2016-08-16 07:12] jrieken commented on #664
@mrunixus Can you check if there is an error in the developer console (F1 > Toggle Developer Tools)

[2016-08-16 07:12] jrieken commented on #664
_From @mrunixus on August 15, 2016 17:23_

Good afternoon @jrieken , here it's the error in the developer console.
[consoleOutput.txt](https://github.com/Microsoft/vscode/files/418571/consoleOutput.txt)

Thanks, Pedro Morales.

[2016-08-16 07:14] alexandrudima commented on #664
Sorry, lack of communication :) - Same as #663

[2016-08-16 07:40] HawkenKing commented on #269
... okay
"update.channel": "none"
doesn't work on 0.10.3
It just updates anyway.

[2016-08-16 14:24] ivanz commented on #165
Here is what I managed to do (thanks to ChongWangUBI for the screenshot which gave me a lot of the info that I needed):

![2016-08-16_15-23-19](https://cloud.githubusercontent.com/assets/79742/17702328/67034850-63c5-11e6-832f-b64ee0634350.gif)

[2016-08-16 22:18] DustinCampbell commented on #269
@Figbash: Sorry for the delay, I just got back from vacation. To provide you with an update, I can definitely repro the problem you described with your project. Thanks *very* much for the repo!

[2016-08-16 23:12] ivanz commented on #93
For a workaround see here (how to use `omnisharp.json`): https://github.com/OmniSharp/omnisharp-roslyn/issues/366

[2016-08-17 01:11] Figbash commented on #269
No worries, hope it's easy to fix :)

[2016-08-17 06:35] alexandrudima opened #668 "'dotnet new -t web' projects don't run correctly from VS Code"
Moved from Microsoft/vscode#10602

---
From @chopetra

- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

make asp.net core basic dir file with console
dotnet new -t web

and vs code f5 or ctrl+f5 then display result site
but this is wrong result

in cmd dotnet run that makes good result

vs code developer plz

[2016-08-17 07:26] nojaf opened #669 "Do I need to install dotnet?"
Sorry if this is the wrong place to ask.
I learning about Docker these days and I like the fact that you don't have to install anything to get up and running with a new technology.

Is it possible to download the vscode extension and not having to install dotnet cli tooling on my local machine? The dotnet cli is installed within the Docker container so can vscode use it from there?

[2016-08-17 09:39] ivanz commented on #638
Had a quick look at this one and the root cause is that highlighting regex stuff doesn't support expression bodied members from what I can tell.

[2016-08-17 11:46] johanneskopf commented on #660
Coincidentally today I saw that you have Developer Tools to enable.
When I enable them and press "Shift"+"Alt"+"F" to format my code, the warning "Ignoring commands" gets written. Maybe this has something to do why my format code is not working as expected?

So in cursor.ts, this if gets executed, therefore the warning gets written:
`var loserCursorsMap = this._getLoserCursorMap(rawOperations);

[2016-08-17 14:45] codehz opened #672 "IntelliSense - display <paramref /> without space"
## Environment data

`dotnet --info` output: 1.0.0-preview2-003121
VS Code version: 1.4.0
C# Extension version: 1.3.0
## Steps to reproduce
1. Copy and paste following code.

[code]
1. Move mouse to `Main` Function name, and IntelliSense will be displayed.
## Expected  behavior

![image](https://cloud.githubusercontent.com/assets/13158903/17740410/16b69b34-64cb-11e6-8a67-c5b99d3c8a9b.png)
## Actua

[2016-08-17 15:39] maxild opened #673 "Debugger: watch, tooltip etc. reports a zero valued decimal field as non-zero on OSX."
## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version: 1.4.0
C# Extension version: 1.3.0

## Steps to reproduce

[code]

## Expected

[2016-08-17 15:53] maxild commented on #673
It works on windows 7 where I have identical versions of vscode and the extenion running.

My dotnet CLI on windows is

[code]

I am not on linux so can't tell if the c# debugger extension work as expected here.

[2016-08-17 16:01] gregg-miskelly commented on #668
@chopetra can you tell us more about what is happening?

[2016-08-17 16:09] gregg-miskelly commented on #669
@nojaf You can use VS Code as an editor without a local CLI install, and if you are willing to do a lot more work you can get other things to work. But if you want things to be easy you will need `dotnet` on the path that VS Code is started from. You don't necessarily need to go through the installer, but obviously that makes things easier. Here is how `dotnet` is used --

1. Dotnet includes the a

[2016-08-17 16:25] gregg-miskelly commented on #673
@maxild Thanks for the report. This looks like a dupe of #632.

[2016-08-17 16:25] #673 closed

[2016-08-17 17:12] aeschli opened #674 "Feature request: Better C# syntax colorizer"
_From @nfantone on August 17, 2016 14:57_

On latest Insiders (`1.5.0-55168276e4c0b6ec2404ac20af04eeed5f5b1000`), C# syntax  highlighting look _very_ bland.

<img width="823" alt="screen shot 2016-08-17 at 11 39 26 am" src="https://cloud.githubusercontent.com/assets/476069/17740664/d36e14c0-646f-11e6-93a3-9523e0ca963f.png">

As you can see, almost 70% of the text is just plain white, with only a f

[2016-08-17 17:20] HawkenKing opened #675 "Unity + VScode + Omnisharp + Mac not working"
Intellisense keeps rebuilding as you type. It's broken.

From the plugin docs:

Sadly this is not true! On Mac and it keeps rebuilding as you type.

Can't downgrade VScode to 0.10.3 (omnisharp works on this version) as this version has a bug where auto update can't be turned off, so it just reinstalls to the latest version again.

This is a bug in both "Legacy C# support" and "C#" plugins on mac.

[2016-08-17 19:17] johanneskopf commented on #674
Same here with the latest 1.5.0 insider.
"Vector3", "Input" and "Screen" for example in my picture should definitely be colorized.

![csharp_syntaxhighlighting](https://cloud.githubusercontent.com/assets/13490371/17749831/b0231b64-64bf-11e6-9b9e-0e15948accb5.PNG)

[2016-08-17 19:54] johanneskopf commented on #660
Is there some way I change the code of "cursor.ts" myself?
As it's path is somewhere in the internet, and therefore I can change this code and save it, but the new script doesn't get executed.

The path can be seen here:
![cursor_script_path](https://cloud.githubusercontent.com/assets/13490371/17750877/ee358946-64c4-11e6-8c90-52c14a17adee.PNG)

[2016-08-17 20:22] josephbaril commented on #269
Running 1.4.0, same problem. VSCode is completely unusable after a couple of minutes editing a unity project. Intellisense keeps rebuilding, throwing tons of duplicates of the same Warnings.

[2016-08-17 20:42] DustinCampbell commented on #269
I have a pretty good sense of what's happening now, at least, with the project that @Figbash provided. In that project, there are a lot of files in the project with loads of warnings (mostly unnecessary usings). After a few seconds, the extension calls out to OmniSharp to provide the warnings, and it returns a few seconds later. During that time, the extension is responsive. However, the extension

[2016-08-17 20:50] haakoo opened #676 "OmniSharp throws 'Crypto' exception on macOS 10.11 due openssl linking issue for .NET Core"
## Environment data

`dotnet --info` output:

VS Code version: Version 1.4.0 (1.4.0)

C# Extension version: 1.3.0
### OpenSSL fix

I downloaded and installed .net core using the x64.pkg.
Because of the problem with OpenSSL (which sucks), I found a "correct" fix to get it working (https://github.com/dotnet/cli/issues/3964#issuecomment-236493536):

After that I can use ´dotnet´command and I thought

[2016-08-17 22:01] #657 closed

[2016-08-17 22:10] DustinCampbell commented on #676
Hi, unfortunately, the ugly "fix" you applied only works for the shared framework, which OmniSharp does not use (OmniSharp is fully self-contained). You should install and link openssl like so:

ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/
ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/

[2016-08-17 22:12] DustinCampbell commented on #675
@HawkenKing, the plugin doc text you provided is out-of-date, could you link to it so I can update it?

The latest C# extension (1.3) *does* work on OS X with Unity, though there are some known issues with larger projects. Could you clarify?

[2016-08-17 22:18] #165 closed

[2016-08-17 22:39] DustinCampbell commented on #269
I drafted a new release [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.4.0-beta4), which should help this issue somewhat. There's much more to do, but it should no longer lock up if you have a larger solution (i.e. 1000+ source files).

[2016-08-17 22:46] DustinCampbell commented on #269
Let me know if this solution works for you. I'm not expecting it to work for everybody, but it's definitely working for the project @Figbash provided.

[2016-08-17 22:49] DustinCampbell commented on #32
@matthewreily: Could you provide your OmniSharp log output?

[2016-08-18 00:26] chopetra commented on #668
블로그서명

i am a korean so english not good

in dotnet core  not dotnet framework

first cmd console
type dotnet new -t web 'appname' then make basic directory and files

1. in cmd console
type dotnet run then make correct result in browser
but
2. in vs code press f5 or ctrl+f5 key make wrong result in browser and
debug mode (ctrl+shift+d) ' and select '.net core launch (web)' then make wrong result

[2016-08-18 00:50] gregg-miskelly commented on #668
@chopetra hmm... I am not seeing your attachments. Can you try dragging and dropping them into the comment editor in this bug? If that doesn't work, you are welcome to describe what you are seeing in Korean, and I can try and find someone to translate. In case this helps -- I am interested in what the browser is saying, and what, if anything, is in the VS Code debug console.

Thanks!

[2016-08-18 05:52] haakoo commented on #676
Ok. It's very confusing for me as a user when corefx have decided to move away from OpenSSL (https://github.com/dotnet/corefx/issues/9394), corecli recommend the _rpath_ solution, so not to break things globably (https://github.com/dotnet/cli/issues/3964#issuecomment-236493536). And omnisharp recommends the solution that might break things globally.

Someone should figure out what's the best solut

[2016-08-18 05:52] alexandrudima opened #679 "C# Arrow functions with string breaking color themes"
Moved from Microsoft/vscode#10645

---
From @mnsr

VS Code: 1.4.0

This issue is similar to this one for TS: https://github.com/Microsoft/vscode/issues/3919

But in this case, it's happening in C# after using an arrow function AND the new string format syntax:

`protected string Name(string name) => $"My Name is {name}";`

![vscode-problem-csharp](https://cloud.githubusercontent.com/assets/4261458

[2016-08-18 06:00] aeschli commented on #674
@DustinCampbell You are correct, we only have syntax highlighting through text mate grammars. Some grammars go quite far as to also parse statements and expressions, but depending on the complexity of the language this is not feasible.

[2016-08-18 06:41] HawkenKing commented on #675
Hi thanks for the reply.

The plugin text quote above is from the about page for "Legacy OmniSharp Support for Visual Studio Code" version 0.3.3 (select extension in extensions panel)

The exact problem is best shown in this gif. Have tried this on all three of my macs, same problem.

(https://cloud.githubusercontent.com/assets/5999766/17244794/9e4981c2-55be-11e6-9274-f3cd1ec91c99.gif)

See how th

[2016-08-18 06:53] HawkenKing commented on #675
Also I get this error when using "C#" plugin.

![screen shot 2016-08-18 at 3 50 03 pm](https://cloud.githubusercontent.com/assets/5999766/17764672/dd868040-655b-11e6-9574-4e64f3e1ab4c.png)

[2016-08-18 09:03] nojaf commented on #669
Ok, thanks. I'll try and get this working.
Any chance some work will be done to streamline this process?
For example a project setting where you can tell vscode what container you are using.
[code]
If this setting is present package restore would try and execute:
```docker exec my-container dotnet restore```

[2016-08-18 09:50] seraku24 commented on #657
@DustinCampbell, would you be able to re-open this issue while my pull request is being considered?  Or would you prefer that I open a new issue and just reference this one?  Thanks.

[2016-08-18 12:40] ivanz commented on #679
This is duplicate of #638 and I have just opened a pull request a moment ago to fix it in #681 :)

[2016-08-18 13:37] matthewreily commented on #32
I would love to, unfortunately I nuked my machine and reinstalled everything from the OS up.  I had a tight deadline with a presentation I was doing on cross platform dev and .net core.  I'll see if I can't recreate in my new environment and send the log if  so. Thank you so much for following up!

[2016-08-18 13:47] josephbaril commented on #269
This version seems to make things a bit better and I no longer have huge logs of the same warnings but still, after a while mono-sgen takes about 70 cpu then Code Helper peeks and the whole things is still really slow.

[2016-08-18 13:52] ivanz commented on #659
This is not a bug, because extensions don't have control over the order of items displayed. However as of VSCode 1.4 a setting has been added to change snippets to be always displayed first or not or keep old default behavior: `"editor.snippetSuggestions": "top"`

@DustinCampbell you can close this one :)

[2016-08-18 14:06] johanneskopf commented on #659
Thank you very much, that's making programming faster for me

[2016-08-18 14:10] #659 closed

[2016-08-18 14:25] Rangoric commented on #269
For me it went from completely unusable to usable but with a bit of pain. Battery wise it's much better also. It still drains fast, but not like it's going off a cliff as it was before.

For reference, 2 hours (2 1 hour train trips at the start and end of day) was enough to drain my mac book pro to 10-20% from 100%, it hasn't been draining as fast as then, but I will need to wait till I try a few

[2016-08-18 16:38] DustinCampbell commented on #676
I completely agree with you! :smile:

@bartonjs, @ellism: do either of you have any thoughts here? Note that OmniSharp is a stand-alone .NET Core app. So, adding an rpath as suggested by (https://github.com/dotnet/cli/issues/3964#issuecomment-236493536) won't work, since it targets the shared framework.

[2016-08-18 16:50] #638 closed

[2016-08-18 16:53] gregg-miskelly commented on #675
@HawkenKing are you trying to do .NET Core debugging? If not, you kind ignore that failure if you like, though we can try and help you if you are interested.

If you would like help -- please open a new bug and include your version of the C# extension and your version of .NET CLI (`dotnet --info`).

[2016-08-18 16:56] #282 closed

[2016-08-18 16:56] #381 closed

[2016-08-18 16:56] #679 closed

[2016-08-18 16:57] #403 closed

[2016-08-18 16:57] #249 closed

[2016-08-18 17:19] gregg-miskelly commented on #669
@nojaf I don't know much about the plans for the VS Code Docker tooling. @SteveLasker can you comment?

[2016-08-18 18:31] #614 closed

[2016-08-18 18:46] DustinCampbell commented on #675
@HawkenKing: Also, the "Legacy OmniSharp Support for Visual Studio Code" extension is quite old. I'd recommend uninstalling it and only using the C# extension.

[2016-08-18 19:33] clagoglez opened #686 "Extension stop working for Workspace or Solution"
## Environment data
Product Information:
 Version:                       1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:               win10-x64

## Steps to reproduce
1. Create new workspace or solution
  1.1 Create new folder "MyWorkspace"
  1.2 Create "global.json" inside of "MyWorkspace"
  1.

[2016-08-18 19:45] ivanz opened #687 "Types not highlighted in variable and field declarations"
Copy from: https://github.com/atom/language-csharp/issues/48

I'm using the VSCode Version 0.10.6 (0.10.6).
Default dark theme.

Here's a sample code:
[code]

Here's an image:
![image](https://cloud.githubusercontent.com/assets/79742/17788232/86ab18d4-6584-11e6-88d2-98f9229563a8.png)

Here's a video demonstration:
https://www.youtube.com/watch?v=VpRPJc42FZQ

[2016-08-18 19:46] ivanz commented on #101
@DustinCampbell FYI All but one of those are fixed and I have created a separate issue for it here #687 - so you can close this one. I have an idea how to fix the remaining one and will have a look when I get a chance.

[2016-08-18 19:59] johanneskopf commented on #687
That's a duplicate of issue #674 .

[2016-08-18 20:01] DustinCampbell commented on #101
@ivanz, do you think it'd make sense to port your fixes over to the (https://github.com/atom/language-csharp) repo?

[2016-08-18 20:02] johanneskopf commented on #687
That's a duplicate of issue #674

[2016-08-18 20:02] DustinCampbell commented on #101
cc @david-driscoll as well. I'm not sure if the OmniSharp extension for Atom uses the same grammar or not.

[2016-08-18 20:05] david-driscoll commented on #101
Yeah, we use the built in csharp grammar from atom.  The semantic highlighting is additive.

[2016-08-18 20:06] DustinCampbell commented on #101
Cool. So, porting these fixes to atom would be good for you too.

[2016-08-18 20:07] ivanz commented on #33
![image](https://cloud.githubusercontent.com/assets/79742/17788917/be45ea0a-6587-11e6-85b1-923d526b37c7.png)

[2016-08-18 20:09] ivanz commented on #33
@DustinCampbell Can you please label this with "Syntax highlighting", so that when I come back to looking at this I can potentially look at fixing it. Or maybe @seraku24 will beat me to it ;)

[2016-08-18 20:09] ivanz commented on #33
Also change the title to "Method return type syntax highlighting issues" or something 👍

[2016-08-18 20:10] david-driscoll commented on #101
If you port them (which would be amazing!) feel free to cc me on the pull request.  :+1:

[2016-08-18 20:11] cuadrarcf commented on #686
eso es una mierda chama usa PHP

[2016-08-18 20:13] ivanz commented on #687
I thought 674 was about semantic highlighting where as I am thinking about simple regex rule that matches field and variable declarations and highlights the "type" bit - we already do this for properties and methods.

[2016-08-18 20:28] johanneskopf commented on #687
Oh, then maybe they have misunderstood my posting?
You mean it's possible to highlight the first Vector3 in
"Vector3 x = new Vector3(0f, 0f, 0f);"
but it's difficult to hightlight Debug in
"Debug.Log("test");"
Is this correct?

[2016-08-18 20:39] Figbash commented on #269
@DustinCampbell My project is working now!  Thanks so much.
Now I am getting "Some projects have trouble loading. Please review the output for more details." every time I open any Unity project or it reloads, but everything else seems to be perfect for my particular project.

[2016-08-19 03:04] #686 closed

[2016-08-19 03:57] gregg-miskelly commented on #668
@chopetra Thanks! the image came through, though if VS Code, the C# extension / debugger is somehow causing this, I don't have much of an idea how.

If you refresh the page, does it load any better the second time? Do you see this same problem with other browsers?

[2016-08-19 05:05] sorab2142 commented on #32
The only thing i see in the vs code panel for Omnisharp Log is that one line (Cannot Start Omnisharp [ERROR] Error: spawn cmd ENOENT), is there some file that has more info?

[2016-08-19 05:08] chopetra commented on #668
chrome,firefox,edge,explorer all 4 browsers display same wrong result
and after refreshing browser many times then display same wrong result in all 4 browsers

블로그서명

-----Original Message-----
From: "Gregg Miskelly"&lt;notifications@github.com&gt;
To: "OmniSharp/omnisharp-vscode"&lt;omnisharp-vscode@noreply.github.com&gt;;
Cc: "chopetra"&lt;chopetra@naver.com&gt;; "Mention"&lt;mention@noreply.git

[2016-08-19 08:17] weinand opened #690 "Breakpoints and StopOnEntry Fail On Windows Only"
_From @ealexjordan on August 18, 2016 20:57_

- VSCode Version: 1.4.0
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0

- OS Version:
Microsoft Windows 10 Enterprise
Version 10.0.10586 Build 10586

Issue:
* Breakpoints and stoponentry do not work on our repo with VSCode 1.4.1 on Windows ( https://github.com/PowerShell/PowerShell). This was reported to us on https://github.com/PowerShell/PowerShell/i

[2016-08-19 08:17] weinand commented on #690
The debug type 'coreclr' indicates that this issue is a problem of the C# debugger.

[2016-08-19 15:37] DustinCampbell commented on #687
Yes, that's right. Syntactically, there's no difference between "Debug" being a class or property, so we can't color it as a type. It's also impossible to highlight Vector3 differently if it's a class vs. a struct, which is something we do in VS.

[2016-08-19 15:52] gregg-miskelly commented on #690
@ealexjordan from your description, it sounds like you haven't enable portable PDBs: https://github.com/OmniSharp/omnisharp-vscode/wiki/Portable-PDBs#net-cli-projects-projectjson

If that isn't it -- can you check if the console is outputting any interesting error messages?

[2016-08-19 16:00] adamdriscoll commented on #690
@gregg-miskelly @ealexjordan Enabling portable PDBs did it for me!

[2016-08-19 20:19] gregg-miskelly commented on #668
@chopetra Thanks! We were able to track down the problem. This looks to be a bug in the sample itself, but we are looking at it.

[2016-08-19 22:23] TheWanderingTree opened #691 "Unable to start OmniSharp when opening Unity project"
## Environment data

.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version:
Version 1.4.0 (1.4.0)

C# Extension version:
1.4.0-beta5
## Steps to reproduce
1. Open Unity project i

[2016-08-19 22:34] #33 closed

[2016-08-20 09:37] idchlife commented on #676
@DustinCampbell your solution, also mentioned at the official page of installing extension works!

[2016-08-20 18:48] JoshEngebretson opened #694 "Source files with absolute/relative paths outside of project do not show up in explorer"
## Environment data
VS Code version: 1.4.0
C# Extension version: 1.3.0

Source files with absolute or relative to csproj paths do not show up in explorer, though project compiles:
[code]

[2016-08-20 21:03] ChristianoKiss commented on #32
I had this problem using Windows 10 and solved it by adding "C:\Windows\System32\" in the PATH variable.

[2016-08-20 23:10] Xelnath commented on #675
Which C# extension?

[2016-08-21 11:23] manfredk commented on #96
Had the same issue on Windows 10. It disappeared after updating to C# Extension 1.3.0 on .Net Core  1.0.0-preview2-003121. Debugger is now successfully downloaded and installed (once).

[2016-08-22 08:40] alexandrudima opened #695 "C# Linter?"
Moved from Microsoft/vscode#10737

---

From @idchlife

Is there any way to have c# style guides suggesting proper styles? Newbie in c#. Will be very helpful!

I was just thinking is there way to enable c# linter for VSCode and if there is actually any linter rules for c# out there. Did not find any useful info on this, so guessing that c# does not have coding style guides for linter out there.

[2016-08-22 09:53] alpox commented on #661
Okay thanks @gregg-miskelly. I now setup a new Linux KUbuntu on which it works for now. When i next use an Arch system - I still have one somewhere - I'll be happy to give it a try! The switch statement tweaking sounds promising.

Many thanks

[2016-08-22 13:20] ivanz opened #696 "Syntax highlighting - needs automated tests"
The syntax highlighting is based on a regex-based grammar and because there aren't any automated tests to validate changes - it is easy to cause regressions without knowing.

[2016-08-22 16:08] DustinCampbell commented on #694
This behavior is expected. Visual Studio Code doesn't provide a Solution Explorer like VS to show logical project structure. Instead, it shows a file system view rooted at the folder you open.

[2016-08-22 16:08] #694 closed

[2016-08-22 16:32] anass-b opened #697 "Debugger shows wrong value of a C# property when hovered"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.4.0
C# Extension version: 1.3.0

![vscode_bug](https://cloud.githubusercontent.com/assets/8070594/17862599/40a10b04-6896-11e6-99d9-330a939f3ee2.png)

## Steps to reproduce
1. Create an empty .NET Core App
2. Use the code in the screenshot
3. Put a breakpoint after the line that says in a comment // Put breakpoint here
4. Hover

[2016-08-22 17:22] JoshEngebretson commented on #694
Hopefully this changes with VSCode in the future, will have to stick with VS and Xamarin Studio in the meantime.  Thanks.

[2016-08-22 18:01] chuckries commented on #697
I wonder if we are evaluating !someValue.SomeProperty, which evaluates to true.

[2016-08-22 18:02] gregg-miskelly commented on #697
@anass-b the VS Code team apparently didn't investigate this deeply enough, as this is a VS Code issue. VS Code is asking to evaluate `!someValue.SomeProperty`. As Isidor mentioned though, we sent them a PR to fix their data tip code which should resolve this.

[2016-08-22 18:02] #697 closed

[2016-08-22 20:14] Fillipoman commented on #313
I am struggling to figure out how to configure formatting as well. Has anyone made progress?

[2016-08-22 20:55] wesrupert commented on #649
Fixed in [693](https://github.com/OmniSharp/omnisharp-vscode/pull/693). This should be available in the next release.

[2016-08-22 20:55] #649 closed

[2016-08-22 20:58] gregg-miskelly commented on #668
@chopetra I figured out what is wrong with the `dotnet new -t web` template. See https://github.com/dotnet/cli/issues/4076. I added a work around to the issue.

[2016-08-22 20:58] #668 closed

[2016-08-23 05:55] seraku24 commented on #515
Adding my $0.02.  I just learned there is a setting in `launch.json` (i.e. `"internalConsoleOptions"`) that controls when the internal debug console shows in response to starting a debug session.  There was some discussion over in Microsoft/vscode#4045 that this setting might be better placed in the user's settings rather than in the project, but it looks like they ended up opting for `launch.json

[2016-08-23 06:33] gregg-miskelly commented on #515
@seraku24 for this particular setting, I agree with you that the default that the VS Code team choose isn't what I would pick. As of the upcoming 1.4 version of the extension, we actually generate launch.json with internalConsoleOptions -- https://github.com/OmniSharp/omnisharp-vscode/pull/692.

 As for some system for allowing templating of launch.json -- I can definitely see the appeal for some

[2016-08-23 07:12] seraku24 commented on #515
Thanks, @gregg-miskelly, especially for picking the option that I prefer for the debug console.  `(:`

True, templating may have limited effectiveness.  I would see it mainly helping folks like me who end up creating a fair number of small projects.  Then again, I could benefit from `dotnet new` getting some form of templating as well.

If we can work towards giving user-centric and project-centri

[2016-08-23 08:53] anfomin commented on #542
This issue reproduces in the latest OmniSharp. Any updates?

[2016-08-23 13:08] HawkenKing commented on #675
@DustinCampbell The above GIF was screen recorded using the C# extension, I uninstalled the legacy one a while back.

[2016-08-23 13:09] HawkenKing commented on #675
@gregg-miskelly  nope! VScode alerts obscure the tabs area so would be nice to know how to get rid of it though...

[2016-08-23 15:32] akku27 commented on #220
Pls let me know if I can remote debug a container on Ubuntu machine from my windows machine using visual studio 2015 update 3

[2016-08-23 15:54] gregg-miskelly commented on #675
@HawkenKing please open a new bug then for your debugger install issue. Please include the version of the .NET CLI which you are using.

[2016-08-23 16:08] gregg-miskelly commented on #220
@akku27 check out https://visualstudiogallery.msdn.microsoft.com/0f5b2caa-ea00-41c8-b8a2-058c7da0b3e4

[2016-08-23 16:22] ivanz commented on #222
First and last screenshots are already fixed and the one about colouring variable type in variable assignment is effectively #687, so I suggest closing this issue

[2016-08-23 17:05] caslan commented on #624
This is now complete and will be in 1.4 release

[2016-08-23 17:05] #624 closed

[2016-08-23 17:38] ivanz commented on #656
This is dupe of #260

[2016-08-23 18:13] caslan opened #699 "Update debugger banner text"

[2016-08-23 21:03] wesrupert commented on #603
PR #700 provides a mechanism to get the message to stop appearing. However, leaving this open to track implementing fix 1.

[2016-08-23 21:16] DustinCampbell commented on #676
Glad to here it -- thanks @idchlife!

[2016-08-23 21:18] DustinCampbell commented on #675
@HawkenKing: Could you provide your OmniSharp log? You can find this by select View->Output from the menu and then choosing "OmniSharp Log" from the drop-down on the right-hand side:

![image](https://cloud.githubusercontent.com/assets/116161/17910152/7f7340f8-693c-11e6-97a4-f0c128809463.png)

[2016-08-23 22:00] gregg-miskelly commented on #632
@noahfalk @Mikem8361 I _think_ this issue is a CoreCLR issue, but before I port this over, I wanted to know if you had a quick way to confirm/deny (ex: with mdbg)? The issue is that if we evaluate a function that returns a System.Decmial, unbox the resulting value, and then look at what memory backs the resulting value, the lower 64-bits are fine, but the high 64-bit look corrupt.

[2016-08-24 06:19] mikejohnstn commented on #269
I'm seeing the same problem, even with the latest beta6 release:
[code]

I'm trying to use Unity as well, with a moderately sized project. Lots of "Unnecessary using directive" warnings. Not sure if it's relevant, but I also see this just before the exceptions:

[code]

I can't provide the project, but happy to help if I can.

[2016-08-24 07:34] GraceDong opened #701 "Debugger:Unable to resolve 'System.Reflection.Metadata' for '.NETCoreApp.Version=v1.0'"
## Environment data
`dotnet --info` output:
VS Code version: 1.4.0
C# Extension version: v.1.4.0-beta6
.NET Core version: 1.0.0-SDK Preview2

## Steps to reproduce
1. Create a simple .NET Core project use command.
2. Open VSCode to install the C# extension of 1.4.0-beta6 , restart VSCode to make the extension takes effect.
3. Load the existing hwapp folder I just created on VSCode.
4.Press F5 to s

[2016-08-24 07:50] sandy081 opened #702 "String with curly braces breaks C# highlighting"
_From @kuulemart on August 23, 2016 5:9_

- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

When C# string contains curly braces then highlighting breaks down afterwards. Code example (see highlighting after first string in code):

namespace Test
{
    class Test
    {
        string Test

[2016-08-24 08:12] weinand opened #703 "Debugger is not displaying correctly a decimal property value"
_From @mayconbeserra on August 23, 2016 12:48_

- VSCode Version: 1.4.0
- OS Version: OS X 10.11.6
- .NET core version: 1.0.0-preview2-003121

Steps to Reproduce:

1. Create a class with a decimal property
2. Create a test and set any value to the decimal property
3. Put a breakpoint after changing the decimal property
4. Debug
5. Inspect the decimal property value from the class

As you can see i

[2016-08-24 08:12] weinand commented on #703
The .NET debugger is not part of VS Code but a separate extension. Moving issue.

[2016-08-24 09:22] ClaireKang opened #704 "Debugger: "No Debug"(Ctrl+F5) is not supported by keyboard operation"
## Environment data
VS Code version: 1.4.0
OS:Mac

C# Extension version:
csharp-1.4.0-beta6.vsix

## Steps to reproduce
1: Create a new project following under steps:
![screen shot 2016-08-24 at 4 49 25 pm](https://cloud.githubusercontent.com/assets/20184768/17924667/2d5d3bd0-6a1c-11e6-879e-f1f50bccab35.png)
2: Open this project with VSCode
3: Ctrl/Command+F5

## Expected  behavior
Support for lau

[2016-08-24 09:45] qian6 opened #705 "Debugger:Debug console doesn't appear when set "internalConsoleOptions" value is "openOnFirstSessionStart" in lanuch.json file"
## Environment data
`dotnet --info` output:
VS Code version:1.4.0
C# Extension version: v.1.4.0-beta6
.NET Core version: 1.0.0-SDK Preview2

## Steps to reproduce
1. Open hwapp folder in attachments directly
2. Set a breankpoint at line of 9 in Program.cs file
3. Press F5 to start debugging
4. Update "internalConsoleOptions"  in launch.json as following:

        "internalConsoleOptions": "openOnF

[2016-08-24 14:40] FiniteReality opened #706 "Syntax highlighter shows XML comment tags incorrectly"
## Environment data

`dotnet --info` output:

[code]

VS Code version:

[code]

C# Extension version: 1.3.0
## Steps to reproduce

Make an Enum (or any type for that matter) and place XML comments on the type, and some of the members.

For example:

[code]
## Expected  behavior

The highlighter should highlight the `<summary>` tags using the same colour. (e.g. like GitHub's syntax highlighter does

[2016-08-24 15:54] gregg-miskelly commented on #701
@chuckries @caslan I think we should pull the latest beta release until this is resolved.

[2016-08-24 16:01] gregg-miskelly commented on #703
This is a duplicate of #632

[2016-08-24 16:01] #703 closed

[2016-08-24 16:06] gregg-miskelly commented on #704
@ClaireKang I am not quite sure what you are saying. First, are you running into #701, because I would have expected that bug to break all testing? If you are working around that, are you finding that it works correctly with Command-F5? If not, does it work correctly with F5? How about with 'Debug: Start Without Debugging' from the command palette?

[2016-08-24 16:10] gregg-miskelly commented on #705
@qian6 this isn't a C# extension issue. It is either 'by design' or a VS Code issue. If you have really *never* F5'ed this folder before on this machine, then I would suggest reopening the issue at http://github.com/Microsoft/vscode/issues. If you have previously launched this project ever I believe this is 'by design'.

[2016-08-24 16:10] #705 closed

[2016-08-24 16:21] DustinCampbell commented on #702
Hi, this should already be fixed for the next release. You can verify it by installing the latest beta release from [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v.1.4.0-beta6).

![image](https://cloud.githubusercontent.com/assets/116161/17938742/227b26b8-69dc-11e6-8b2a-f5b84f5d53d7.png)

[2016-08-24 16:22] DustinCampbell commented on #701
I got this as well.

[2016-08-24 16:23] gregg-miskelly commented on #701
I am going to pull the release now.

[2016-08-24 16:23] DustinCampbell commented on #702
Note: this was fixed by the work to fix highlighting of C# 6 interpolated strings. #638

[2016-08-24 16:23] #702 closed

[2016-08-24 16:26] DustinCampbell commented on #701
OK. If you decide to completely delete the release, go ahead and [remove the tag](http://wptheming.com/2011/04/add-remove-github-tags/) as well.

[2016-08-24 16:31] gregg-miskelly commented on #701
The GitHub documentation seems to say that it is possible to delete a release, but it isn't working for me (maybe because I didn't create it?). So I pulled the .vsix and I edited the description so that hopefully it is obvious that the release shouldn't be used. @chuckries do you want to see if you have access to delete it?

[2016-08-24 16:33] DustinCampbell commented on #701
I can delete it.

[2016-08-24 16:34] DustinCampbell commented on #702
Do over. Try this beta release: (https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.4.0-beta5)

[2016-08-24 16:40] DustinCampbell commented on #701
Release is removed. Note: the trick is to delete the tag from GitHub, which converts the release to a "draft" release, which can be discarded.

[2016-08-24 16:53] thurn opened #707 ""Some projects have trouble loading" constantly appears when there are no problems"
## Environment data

% dotnet --info
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version: 1.4.0
C# Extension version: 1.3

Whenever I open VisualStudioCode, I get a warning mes

[2016-08-24 17:07] chuckries commented on #701
Sorry everybody, this is my fault. I added the additional nuget feed but didn't want to push the change since it is (hopefully) a temporary workaround. I built the extension locally that works. When I created the release, the CI system built the package for the release page and it did not have my NuGet.config change. I will fix this.

[2016-08-24 19:45] wesrupert commented on #704
Using `⌘-F5` on my mac opens VoiceOver; is this what you were seeing @ClaireKang? If so, this looks like an issue with VS Code's shortcut choice, and is not something we can do anything about on our side. Selecting the "Debug: Start without Debugging" command from the command palette ran as expected for me.

[2016-08-24 21:09] Xelnath commented on #675
[INFORMATION:OmniSharp.ScriptCs.ScriptCsProjectSystem] Detecting CSX files in '/Users/alexanderbrazie/project-sidescroller'.
[INFORMATION:OmniSharp.ScriptCs.ScriptCsProjectSystem] Could not find any CSX files
[INFORMATION:OmniSharp.Startup] Configuration finished.

`object
[INFORMATION:OmniSharp.Middleware.LoggingMiddleware] /autocomplete: 500 56ms
[INFORMATION:OmniSharp.Middleware.LoggingMiddlewa

[2016-08-24 21:11] Xelnath commented on #675
This happens when I try to mouse-over or inspect class or instance variables.

[2016-08-24 21:14] kuulemart commented on #702
Yep, beta seems to be working fine.

Thanks!

Egon

On Wed, Aug 24, 2016 at 7:34 PM, Dustin Campbell <notifications@github.com>
wrote:

[2016-08-24 22:13] DustinCampbell commented on #655
Ubuntu 15.10? OmniSharp should only install and run on 14 or 16. I'll install that distro and see why (https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/platform.ts#L61-L69) is allowing 15.10.

[2016-08-24 23:40] mikem8361 commented on #632
We don’t have a test specifically for this scenario, but I’m currently trying to repro with mdbg.  I’ll let you know the results.

[2016-08-25 01:02] ClaireKang commented on #704
I'm so sorry to not tell you what about Using ⌘-F5 on my mac.
Using ⌘-F5 on my mac opens VoiceOver that are the same result with you. Selecting the "Debug: Start without Debugging" command from the command palette ran which is the expected result

[2016-08-25 01:24] gregg-miskelly commented on #704
@weinand @isidorn would the VS Code be interested in us porting this issue to VS Code (that the default shortcut for 'Debug: Start without Debugging' conflicts with VoiceOver on macOS). Or would you consider this 'By Design'?

[2016-08-25 05:42] isidorn commented on #704
This is by design, especially since I think there is no conflict if you use the F keys on the mac as standard keys (which is not the default).
The default is that for each F key you first have to hold the fn key. So by default start without debugging is cmd + fn + F5, while voice over is cmd + F5.

[2016-08-25 08:20] weinand commented on #704
@gregg-miskelly there is a global macOS setting that let's you flip the way how the F keys work. I would except that every developer has turned this on:

![2016-08-25_10-17-49](https://cloud.githubusercontent.com/assets/1898161/17961650/49133b0e-6aad-11e6-8936-14ee4ca87214.png)

[2016-08-25 09:33] GraceDong opened #711 "Debugger: Internal debug console can't work"
## Environment data
`dotnet --info` output:
VS Code version: 1.4.0
C# Extension version: v.1.4.0-beta7
.NET Core version: 1.0.0-SDK Preview2

## Steps to reproduce
1. Create a simple .NET Core project:
     using System;
     class Program
     {
           static void Main(string[] args)
          {
               Console.WriteLine("Please input an integer:");
               int number = Console.

[2016-08-25 09:53] HenrikPoulsen opened #712 "ScriptCS support broken or working as expected?"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64

VS Code version: 1.4.0
C# Extension version: 1.3.0

## Steps to reproduce
1. Create new folder

[2016-08-25 10:27] pubwebmarketing commented on #706
°112.888.1.222*"

[2016-08-25 10:34] sandy081 opened #713 "Unable to get IntelliSense for C# on a multi folder structure"
_From @afoliaco on August 25, 2016 2:56_

- VSCode Version: 1.4
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Create the following folder structure
SampleCode/src/Project1
SampleCode/src/Project2
2. Run dotnet new and dotnet restore to create the applications  and the new application restore all the correct dependencies.
3. Create sample class in Project2 and add the Project2 reference on  P

[2016-08-25 10:34] sandy081 commented on #713
There is no multi project support in VS Code yet. But I think how to handle intelli-sense when multiple folders / projects are open is upto the extension.

[2016-08-25 15:10] gregg-miskelly commented on #704
@weinand @isidorn Thanks! I will close this then.

[2016-08-25 15:10] #704 closed

[2016-08-25 15:17] DustinCampbell commented on #655
Now that I step through the code, I see why it isn't working. It's a rookie mistake: case fall through. :smile: Since, the "ubuntu" case only checks for versions 14 or 16, version 15 is unhandled. However, there's no break statement, so it just falls through to the "centos" case.

Unfortunately, Ubuntu 15.10 is not a supported Linux distro today. You can get things working with the Mono version of

[2016-08-25 15:18] DustinCampbell commented on #655
Note: We intend to make the process of acquiring the mono version of OmniSharp easier on any Linux distro. #593

[2016-08-25 15:31] gregg-miskelly commented on #711
@GraceDong if you want to use APIs that read from the console you need to set --

    "externalConsole": true,

in your launch.json file.

[2016-08-25 15:31] #711 closed

[2016-08-25 16:43] chuckries commented on #701
This has been fixed, the System.Reflection.Metadata we need has been published to nuget.org, no workaround required.

[2016-08-25 16:43] #701 closed

[2016-08-25 17:19] chuckries commented on #699
This has been fixed for 1.4

[2016-08-25 17:19] #699 closed

[2016-08-25 18:00] chuckries commented on #352
I am changing the milestone of this from 1.4 to 1.5 because certain aspects of this issue have been fixed but there are still open issues related to this one.

[2016-08-25 18:07] wesrupert commented on #612
Fix should be available in the next release.

[2016-08-25 18:07] #612 closed

[2016-08-25 19:31] mm75 commented on #655
Thank you for your attention!!!

I will follow your suggestions

2016-08-25 12:18 GMT-03:00 Dustin Campbell <notifications@github.com>:

[2016-08-25 21:54] mchomer commented on #168
Some updates?
I also really miss it.

[2016-08-26 00:46] mikem8361 commented on #632
Looks like I can repro the problem with mdbg on OS X and on Linux but not Windows. So it mostly likely a bug in coreclr.

mikem

[2016-08-26 12:47] ivanz opened #718 "Syntax highlighting of various keywords doesn't work (using(), typeof, sizeof, etc)"
Most of the following don't get highlighted:

[code]

![image](https://cloud.githubusercontent.com/assets/79742/18006192/60b71912-6b96-11e6-9014-e5551a0d651d.png)

[2016-08-26 14:28] DustinCampbell commented on #655
Excellent! Let me know how it goes.

[2016-08-26 14:28] #655 closed

[2016-08-26 15:13] gregg-miskelly commented on #632
I opened https://github.com/dotnet/coreclr/issues/6935 to track this issue.

[2016-08-26 15:13] #632 closed

[2016-08-26 17:17] chuckries commented on #618
Fixed with #715. This will be in 1.4 release.

[2016-08-26 17:17] #618 closed

[2016-08-26 17:33] #687 closed

[2016-08-26 18:00] #560 closed

[2016-08-26 18:09] #718 closed

[2016-08-26 20:09] DustinCampbell commented on #609
This was added for OmniSharp with #710.

[2016-08-26 20:09] #609 closed

[2016-08-26 20:14] #472 closed

[2016-08-26 20:30] DustinCampbell commented on #658
Looks like this is due to a typo: "MSBuild" vs. "MsBuild" :smile:

[2016-08-26 20:42] #658 closed

[2016-08-26 20:44] DustinCampbell commented on #663
Dupe of #664

[2016-08-26 20:44] #663 closed

[2016-08-26 20:55] DustinCampbell commented on #644
Looks like this has resolved itself. :smile:

FWIW, this is really an ask for VS Code, not for the C# Extension in VS Code. That said, there is already a keyboard shortcut, and it's easy to add your own.

[2016-08-26 20:55] #644 closed

[2016-08-26 21:10] johnypony3 commented on #472
its alright, i stopped using vscode altogether. Why not use the thing that this is written on?

[2016-08-26 21:12] DustinCampbell commented on #472
Sorry, I don't follow.

[2016-08-26 21:13] edwardmeshuris commented on #472
Vscode is based on atom, I switched to using atom.

From: Dustin Campbell <notifications@github.com<mailto:notifications@github.com>>
Reply-To: OmniSharp/omnisharp-vscode <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, August 26, 2016 at 2:12 PM
To: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com<mailto:omnisharp-vscode@noreply.github.com>>
Cc: Edward Meshuris

[2016-08-26 21:16] DustinCampbell commented on #269
We're going to ship 1.4 soon, so I'm going to move this issue forward to milestone 1.5. We've made progress here (and fixed the situation for some folks), but it's not done yet.

[2016-08-26 21:43] johanneskopf commented on #660
Still happening with the latest 1.4 beta 8.
Any news here?

[2016-08-27 00:19] MarlonRodriguez commented on #676
If you have MACPorts installed:
ln -s /opt/local/lib/libcrypto.1.0.0.dylib /usr/local/lib/
ln -s /opt/local/lib/libssl.1.0.0.dylib /usr/local/lib/

[2016-08-27 09:25] DustinCampbell commented on #21
OK. I'm going to close this. It's been dormant a long while

[2016-08-27 09:25] #21 closed

[2016-08-27 09:33] DustinCampbell commented on #563
I'm going to go ahead and close this issue. We'll use #593 to track making it easier to acquire the mono-flavor of OmniSharp for linux distros that don't have specific .NET Core support.

[2016-08-27 09:33] #563 closed

[2016-08-27 09:40] DustinCampbell commented on #640
Glad to hear you have it working. The issue is related to https://github.com/dotnet/cli/issues/3964.

Also #676.

[2016-08-27 09:40] #640 closed

[2016-08-27 09:40] #570 closed

[2016-08-27 09:55] DustinCampbell commented on #713
Hi, this project is working for me OK. When first opened, there's a panel that reads, "Select project", at the bottom right corner of VS Code:

![image](https://cloud.githubusercontent.com/assets/116161/18026593/41f28f0a-6c01-11e6-8022-d2ab0fe57545.png)

Click "Select project" and a picker should be displayed allowing you to pick the project you're working on:

![image](https://cloud.githubusercon

[2016-08-27 09:55] #713 closed

[2016-08-27 10:03] DustinCampbell commented on #676
@haakoo: FWIW, if you want to fix this error without linking globally, you can do the following:

[code]

Note that the folder name is dependent on the version of the C# extension that have installed. So, if you update the C# extension, it'll have a new version (e.g. "ms-vscode.csharp-1.4.0") and would need to be linked again.

[2016-08-27 10:10] DustinCampbell commented on #29
This should be addressed once 1.4.0 of the C# extension is released, which includes support for "Metadata as Source" like Visual Studio has. See #671 for details.

[2016-08-27 10:10] #29 closed

[2016-08-27 10:12] DustinCampbell commented on #712
We've had an ask for CSX and ScriptCS support for a long while. I'm not sure when and if we'll get to this, but we're tracking it with #23.

[2016-08-27 10:12] #712 closed

[2016-08-27 10:13] DustinCampbell commented on #707
I've seen the same thing -- especially for Unity projects.

[2016-08-27 10:18] DustinCampbell commented on #691
Thanks for reporting this problem. I've got a few questions:

* Is this the full OmniSharp log? That is, you didn't trim it at all did you?
* What version of Mono do you have installed? (You can run `mono --version` in a Terminal window to find out.)
* Could you try the [latest beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.4.0-beta8) of the extension? We've improved some of t

[2016-08-27 10:27] DustinCampbell commented on #27
This issue is pretty old and stale. Ubuntu 14.04 is supported by .NET Core today and the C# extension works on it.

[2016-08-27 10:27] #27 closed

[2016-08-27 10:29] DustinCampbell commented on #166
This issue has gotten pretty stale (no response in four months). Also, with the .NET Core release this summer the project.json here is invalid. I'm not sure this is relevant any longer.

[2016-08-27 10:29] #166 closed

[2016-08-27 10:30] DustinCampbell commented on #167
Just pinging here to see if @PierBover and @mikebluestein were able to reproduce with the latest C# extension as requested.

[2016-08-27 10:32] DustinCampbell commented on #31
@rsunkabam: I'm curious to know if this is still an issue for you with the latest version of the C# extension. Thanks!

[2016-08-27 10:37] DustinCampbell commented on #63
@06needhamt: Sorry for the delay here. I realize that this issue is *very* old. However, if you're still interested in getting this working, I'd like to help.

If you're willing to help, I have a few questions:

* What OS are you experiencing this with?
* What version of VS Code are you running?
* What version of the C# Extension for VS Code are you running?
* Do you have a project that you could

[2016-08-27 10:39] #656 closed

[2016-08-27 10:40] #247 closed

[2016-08-27 10:41] DustinCampbell commented on #230
Hey everyone -- I'm curious to know if the [latest beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.4.0-beta8) works better for any of you. We've addressed some significant performance issues in large project.

[2016-08-27 10:42] DustinCampbell commented on #222
Yes, this should be much better with the [latest beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.4.0-beta8)

[2016-08-27 10:42] #222 closed

[2016-08-27 10:45] DustinCampbell commented on #246
@klong15: My apologies for taking so long to get back to you about this issue. I realize that you might have moved on, but if you're interested in helping out I'm interested to know whether the [latest beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.4.0-beta8) of the C# extension works better for you. We've addressed some significant performance issues with large projects.

[2016-08-27 10:46] DustinCampbell commented on #244
Hi @carl-tanner: Sorry for taking so long to get back to you! Are you still struggling with this? I can definitely look at adding an option.

[2016-08-27 10:47] DustinCampbell commented on #3
This seems more like a VS Code issue that a C# extension issue.

[2016-08-27 10:47] #3 closed

[2016-08-27 10:50] #206 closed

[2016-08-27 10:50] DustinCampbell commented on #180
This was addressed a long time ago. Sorry I missed the issue!

[2016-08-27 10:50] #180 closed

[2016-08-27 10:52] DustinCampbell commented on #193
Hi @ciel, is this still an issue for you with the latest C# extension?

[2016-08-27 10:53] DustinCampbell commented on #253
@ericwj: Would you be willing to try the [latest beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.4.0-beta8) of the extension and see if that works any better for you?

[2016-08-27 10:55] DustinCampbell commented on #277
@mpowell-imvu: Sorry for the delay on this issue. I'm curious to know if this is still a problem for you with the latest C# extension?

[2016-08-27 10:56] DustinCampbell commented on #283
@gregg-miskelly: This issue seems to have grown stale. Do you want to close it?

[2016-08-27 10:57] #265 closed

[2016-08-27 11:00] #615 closed

[2016-08-27 11:04] DustinCampbell commented on #621
Ah, of course. Did your Unity project contact a project.json file by chance? That would have tricked the extension into trying to use the CoreCLR version of OmniSharp, which is what failed here.

[2016-08-27 11:05] DustinCampbell commented on #617
Similar to #567

[2016-08-27 11:06] DustinCampbell commented on #567
It looks like this is working, but there is a problem. #617 is tracking that problem.

[2016-08-27 11:06] #567 closed

[2016-08-27 11:07] DustinCampbell commented on #527
@HamedFathi: I'm curious to know whether this is working better for you with the latest version of the C# extension.

[2016-08-27 11:08] DustinCampbell commented on #459
Closing this issue as there hasn't been a response. Let me know if this is still a problem.

[2016-08-27 11:08] #459 closed