[2018-06-06 18:27] #2368 closed

[2018-06-06 18:29] rchande commented on #2367
@Alias-777 What version of the C# extension are you on? You wrote `? :S` in your issue. Once you install the latest version, you should be able to click on the folder icon next to the green flame and select any solution you want:
![image](https://user-images.githubusercontent.com/3751401/41057798-ecb98680-697c-11e8-8894-9a921f689c78.png)

[2018-06-06 19:13] kburtram commented on #2361
@gregg-miskelly do you know if there is a way to set `justMyCode: false` when launching the process via the unit test `Debug Test` command?  I couldn't find a launch.json task to set the option in that context and setting on the Attach or Launch targets didn't seem to do the trick.  Thanks!

[2018-06-06 19:53] rchande commented on #148
@aeschli @jrieken It doesn't look like we have code that spews that particular message any more. I'm going to close this issue. Feel free to reopen/comment if you disagree.

[2018-06-06 19:53] #148 closed

[2018-06-06 20:46] Alias-777 commented on #2367
I wrote ? because the name "omnisharp" was in my mind, because of constantly seeing this word in the output console. I didn't really know what was being referred. Sorry! :D. But i'm using 1.15.2 . and I always update.

There was no folder icon next to the green flame when It was using the template. Perhaps the parser that parses the SNL files gave up because of the macro code (al lot of ${VARS} th

[2018-06-06 21:30] gregg-miskelly commented on #2366
@Depechie you are running VS Code on a Windows on ARM device? Or you are trying to remote debug to Windows on ARM?

[2018-06-06 21:36] Depechie commented on #2366
Running everything locally on a Windows on ARM device...

[2018-06-06 21:38] gregg-miskelly commented on #2366
The C# debug adapter runs in an x64 process. So it will not run on a Windows on ARM device.

[2018-06-06 21:40] #2366 closed

[2018-06-06 21:41] Depechie commented on #2366
Haaa. I see! This means no x86 version will be made available? Or a compiled ARM64 bit version?

[2018-06-06 21:43] rchande commented on #2367
More concrete repro: use dotnet to create a csproj and 2 solutions, `a` and `b`. Add the csproj to `b`. Edit `a` to contain a parse error. Open VS Code in that folder. OmniSharp will fail to start and won't show the folder icon because something goes wrong when it attempts to read `a`. Renaming `a` to `c` allows omnisharp to load.

[2018-06-06 21:44] rchande commented on #2367
Thanks @Alias-777 for filing this interesting issue. @akshita31 I've assigned it to you to take a look. Presumably this is going to require changes to omnisharp to fix.

[2018-06-06 21:48] pandyamehul opened #2369 "OmniSharp.Services.AssemblyLoader: Failed to load assembly from path"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.104)

Product Information:
 Version:            2.1.104
 Commit SHA-1 hash:  48ec687460

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15063
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.104\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.6
  Build

[2018-06-06 21:53] Alias-777 commented on #2367
@rchande that repro looks more objective then mine! The main problem seems to be after failing on A it does not analyze and use B anymore. If A = C then it fails but already has analyzed B and uses that one. Again this is a minor issue, but still would be nice if it can be fixed somehow.

Thanks!

[2018-06-06 21:53] gregg-miskelly commented on #2366
For the C# extension, currently the only available Windows version is x64. Today, the only Windows on ARM debugging support we have is that full VS supports remote debugging to a Windows on ARM computer.

Its certainly possible that we will release support for other processors in the future. We generally make this determination based on usage. So far, you are the first person to request this suppo

[2018-06-06 21:59] Depechie commented on #2366
Thx for the detailed clarification!
Yeah the ARM devices are not yet so common especially outside the USA.
I'll expect there will be an uptake when the snapdragon 850 chip devices will be made available.

[2018-06-06 23:06] otri commented on #1952
I'm not sure how I pull versions for mono mdk, C# extension or dotnet.  Had issues with Unity 2017.3.1f1, and now using Unity 2017.4.1f1.   VSCode updated itself to May 2018 (version 1.24).

[2018-06-06 23:43] kburtram commented on #2361
@gregg-miskelly thanks, that's exactly what I was looking for!

[2018-06-06 23:58] #2361 closed

[2018-06-07 14:59] rchande commented on #1952
@otri
`dotnet --version`
Look under the extensions tab of VS Code for the extension version
`mono --version`

[2018-06-07 15:35] DustinCampbell commented on #2329
Thanks for the pointer @rakkarage

[2018-06-07 16:00] DustinCampbell commented on #2367
Even if the folder doesn't appear on the icon, you should be able to invoke the 'OmniSharp : Select Project' command in VS Code to pick the correct solution.

[2018-06-07 17:59] Andrew-MSFT commented on #168
We've started to investigate, but unfortunately I don't have anything firmer than that to add at this time.

[2018-06-07 18:17] otri commented on #1952
Ok, got it..
VS code C# extension `1.15.2`

[code]

[code]

[2018-06-07 19:40] iamsap opened #2370 "Packages from scriptcs_packages.config are ignored in editor"
- Extension Name: csharp
- Extension Version: 1.15.2
- OS Version: Windows_NT x64 10.0.14393
- VSCode version: 1.23.1

My C#Script program runs fine, but the editor complains about packages installed via NuGet unless I put a physical "#r" reference in the file.  I'd like to avoid putting assembly references in the file.  I would assume the package config would be used for this?  See screenshot bel

[2018-06-07 21:15] DustinCampbell commented on #2370
cc @filipw

[2018-06-07 21:22] filipw commented on #2370
OmniSharp doesn't support scriptcs since 2016, see this PR for some background https://github.com/OmniSharp/omnisharp-roslyn/pull/659

If you'd like to use Nuget packages in scripting and get language services, you will either have to manually import the DLLs (like you already shown) or use [inline Nuget packages](https://github.com/filipw/dotnet-script#nuget-packages-1). In the second case though

[2018-06-08 07:28] filipw commented on #2370
I'll close this issue as there is nothing to do here - there is no plan to support this specific feature in the future. 🙂
If you have any further questions feel free to reopen or just comment.

[2018-06-08 07:28] #2370 closed

[2018-06-08 13:37] iamsap commented on #2370
Thank you for your response @filipw

[2018-06-08 15:35] jalcim opened #2373 "Can't download omnisharp 1.30.1"
Issue Type: <b>Bug</b>

Installing C# dependencies...
Platform: win32, x86_64

Downloading package 'OmniSharp for Windows (.NET 4.6 / x64)' 	Retrying from 'https://omnisharpdownload.blob.core.windows.net/ext/omnisharp-win-x64-1.30.1.zip' Failed at stage: downloadAndInstallPackages
Error: getaddrinfo ENOTFOUND download.visualstudio.microsoft.com download.visualstudio.microsoft.com:443

Extension ve

[2018-06-08 16:03] rchande commented on #156
@akshita31 Did we fix this?

[2018-06-08 16:04] akshita31 commented on #156
Not yet.

[2018-06-08 16:04] rchande commented on #236
Project.json support is deprecated in OmniSharp. Closing this issue.

[2018-06-08 16:04] #236 closed

[2018-06-08 16:06] rchande commented on #63
@06needhamt This issue is now *extremely* old. I'm closing it, but feel free to file a new one if you're still having issues.

[2018-06-08 16:06] #63 closed

[2018-06-08 16:08] rchande commented on #31
@rsunkabam @RogueRocketGames We haven't heard back from you in a *long* time so I'm closing this issue. Feel free to file a new one if you're still experiencing problems.

[2018-06-08 16:08] #31 closed

[2018-06-08 16:27] gregg-miskelly commented on #2373
@jalcim This likely means that either you aren't connected to the internet, or your computer accesses the internet through an HTTP proxy.

If you are using an HTTP proxy, you need to configure it in your Preferences->Settings file. Here are the settings:

  // The proxy setting to use. If not set will be taken from the http_proxy and https_proxy environment variables
  "http.proxy": "",

  // Whet

[2018-06-08 20:39] dlech commented on #1314
Anyone figure out a workaround for this?

[2018-06-08 22:16] colinthompson commented on #2234
I'm having the same issue; setting `omnisharp.path` to `latest` did not fix it. Log available [here](https://gist.github.com/colinthompson/2981880e095bd845a2fc7ac5fd627cae)

VS Code v1.24.0

dotnet --info
[code]

[2018-06-09 03:32] vramanx commented on #2367
Along the same lines: how do i set a default sln to use when i point to a folder with multiple slns?

[2018-06-10 05:04] sebasijan opened #2374 "Unable to open 'file.ext': File not found (file:///file.ext)."
## Environment data
`dotnet --info` output:

	.NET Command Line Tools (2.1.300-preview1-008174)

	Product Information:
	 Version:            2.1.300-preview1-008174
	 Commit SHA-1 hash:  b8df89a54f

	Runtime Environment:
	 OS Name:     Windows
	 OS Version:  10.0.17134
	 OS Platform: Windows
	 RID:         win10-x64
	 Base Path:   C:\Program Files\dotnet\sdk\2.1.300-preview1-008174\

	Microsoft .N

[2018-06-10 06:36] akshita31 commented on #2374
@sebasijan What is the C# extension version that you are using ?

[2018-06-10 17:46] tavichh opened #2375 "Not loading unity solution"
## Environment data
`dotnet --info` output:
 Version:            1.1.9
 Commit SHA-1 hash:  77f0268904

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\1.1.9
VS Code version: 1.24.0

C# Extension version: Latest on VSCode Repo

## Steps to reproduce
Re-installed Windows. Then, installed Unit

[2018-06-10 18:45] wdelvi commented on #2136
I'm having the same issue. @ryanzec Did you ever find a solution?

[2018-06-10 20:40] bengsfort commented on #1952
With VS Code C# `1.15.2`, dotnet `2.1.4` but Mono `5.8.1` it was still refusing to work for me, however updating mono to `5.10.1.x` immediately fixed it!

[2018-06-10 20:46] tavichh commented on #2375
Also, there is no flame at the bottom as it should be to denote that I am in a solution.

[2018-06-10 22:10] phrohdoh opened #2376 "Allow users to stop and start language server"
Sometimes omnisharp-vscode causes VSC to lag and blocks other extensions while waiting for a response from the language server.

At times it'd be useful to outright stop the LS and possibly start it up again later.

[2018-06-10 22:28] ryanzec commented on #2136
@wdelvi Last thing that I did was install visual studio for mac first and that more or less worked.

I have since switched from Unity to C++ for my project (and also to using Visual Studio on Windows) so I can't remember anything else outside of that.

[2018-06-11 00:20] bzier commented on #1794
Same issue for me as well. As mentioned above, just restarting OmniSharp does not help, but it seems that <kbd>CTRL</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd> `> Reload Window` does restore functionality. A little quicker than quitting VS Code altogether and relaunching.

[2018-06-11 15:38] rchande commented on #2367
@vramanx @janaka is working on a PR to contribute that functionality: https://github.com/OmniSharp/omnisharp-vscode/pull/2053

[2018-06-11 15:39] rchande commented on #1952
@otri Thanks! @bengsfort I'm glad that configuration worked for you!

[2018-06-11 15:40] rchande commented on #2136
@ryanzec What's your output of `mono --version`?

[2018-06-12 03:12] tstivers1990 opened #2378 "Opening brace not moved to new line while typing"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.300
 Commit:    adab45bf0c

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.300\

Host (useful for support):
  Version: 2.1.0
  Commit:  caa7b7e2ba

.NET Core SDKs installed:
  2.1.201

[2018-06-12 06:38] lyptt commented on #1968
This issue is incredibly annoying. I'm glad it's not just me.

[2018-06-12 16:54] ignusin opened #2379 "OmniSharp server crashes on startup"
Hello OmniSharp/VSCode team.
IntelliSense doesn't work in my AspNetCore 2.0 project.
OmniSharp fails with following exception copied from OmniSharp Log in VSCode.
Could you please take a look?

- Extension Name: csharp
- Extension Version: 1.15.2
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.24.0

System.IO.FileNotFoundException: The system cannot find the file specified. (Exception

[2018-06-12 17:14] DustinCampbell commented on #2234
@colinthompson: Could you provide your OmniSharp Log?

[2018-06-12 17:16] DustinCampbell commented on #2375
Hi @tavichh, could you provide your OmniSharp Log after loading your project in VS Code? You can retrieve this by selecting View->Output from the VS Code main menu and then picking "OmniSharp Log" from the top-right corner of the Output Pane.

[2018-06-12 17:18] DustinCampbell commented on #2376
Rather than providing commands to start/stop the language server, I'd be interested in understanding the lag and blocking of other extensions. I do not believe that should be happening.

cc @jrieken

[2018-06-12 17:22] DustinCampbell commented on #2378
Thanks for reporting this. I can definitely reproduce this issue.

[2018-06-12 18:09] ignusin commented on #2379
Sorry guys, this is 100% my local issue.
I upgraded Visual Studio 2017 to 15.7.3 and everything started to work like a charm!

[2018-06-12 22:33] tavichh commented on #2375
**Sure thing!**

[2018-06-12 22:41] #2375 closed

[2018-06-13 07:36] jrieken commented on #2376
Yeah, that's interesting. One of our main goals is to prevent that extensions can slow down VS Code. @Phrohdoh Can you follow [this guide](https://github.com/Microsoft/vscode/wiki/Performance-Issues#profile-the-running-extensions) when slowness happens. Simply profile the extension host for a few seconds when things become slow.

[2018-06-13 11:22] colinthompson commented on #2234
Should be available here: https://gist.github.com/colinthompson/2981880e095bd845a2fc7ac5fd627cae

[2018-06-13 17:16] rchande commented on #283
@hansvonn The C# extension for VS Code (if you have it installed) should automatically scan for and load sln/csproj files. This bug is very old and I'm going to close it, but feel free to file additional issues if you have more questions.

[2018-06-13 17:16] #283 closed

[2018-06-13 17:18] rchande commented on #309
@DustinCampbell Do you think we should still do this?

[2018-06-13 17:59] rchande commented on #835
@jvlppm @greay Can you try again with the latest build of the C# for VS Code extension (1.15) and file new issues if you're still having problems?

[2018-06-13 17:59] #835 closed

[2018-06-13 18:01] rchande commented on #604
@eByte23 The easiest way for you to accomplish this would be to use "file globbing" in your csproj. You can then use the "restart omnisharp" command to reload the csproj when you move files and have omnisharp properly detect the new files. Feel free to file a new issue if you have more questions.

[2018-06-13 18:01] #604 closed

[2018-06-13 18:03] rchande commented on #661
@gregg-miskelly It's been almost a year since your last comment. Can we close this issue?

[2018-06-13 18:07] rchande commented on #1076
@DustinCampbell Given that we deprecated project.json support, do we still need to do this?

[2018-06-13 18:14] rchande commented on #1118
@DustinCampbell @akshita31 It looks like Dustin's PR https://github.com/dotnet/roslyn/pull/20554. We can probably replace the existing TypeLookup code with.

[2018-06-13 18:17] rchande commented on #1233
Looks like there's a workaround for this problem. Closing the issue--feel free to open a new one if you're still having problems.

[2018-06-13 18:17] #1233 closed

[2018-06-13 18:27] #1362 closed

[2018-06-13 18:46] #661 closed

[2018-06-14 12:35] Kvikal commented on #2095
Using latest version of omnisharp fixed this issue for me as well.

[2018-06-14 13:48] DustinCampbell commented on #2376
Also, cc @rchande so that this is on his radar.

[2018-06-14 13:56] DustinCampbell commented on #2234
This issue sounds a lot like https://github.com/OmniSharp/omnisharp-vscode/issues/2330. In that issue, it seems like there is a difference between the `PATH` when launch VS Code via the macOS LaunchPad or by typing `code` at a Terminal window. In the latter case, C# for VS Code worked fine. Could you try that and let me know if this is the same behavior you're seeing?

[2018-06-14 13:58] DustinCampbell commented on #309
Absolutely. I even mentioned this on the last OmniSharp phone call.

[2018-06-14 14:02] DustinCampbell commented on #1076
Yeah, I don't think we need this anymore. FWIW, https://github.com/OmniSharp/omnisharp-vscode/issues/1237 would be a better investment anyway.

[2018-06-14 14:03] #1076 closed

[2018-06-14 14:04] DustinCampbell commented on #1118
@rchande, looking closer at the screenshot, does this look like a hover tooltip or the completion list?

[2018-06-14 14:07] DustinCampbell commented on #2095
Great! I'm going to go ahead and resolved this in that case. It seems likely that this was fixed by https://github.com/OmniSharp/omnisharp-roslyn/pull/1195.

[2018-06-14 14:07] #2095 closed

[2018-06-14 15:09] rchande commented on #1118
@DustinCampbell You're right, that does look like a completion list. I think we still have a separate work item to go consume your quickinfo API. Thoughts?

[2018-06-14 16:52] rchande commented on #2376
@Phrohdoh It would be great if you could follow @jrieken's suggestion to help us understand how the C# extension is blocking other extensions.

[2018-06-14 16:58] Phrohdoh commented on #2376
@rchande I am busy with paying so debugging an extension (with a large corp behind it) is very low on my priority list currently.
If I get the chance I will try to follow the linked guide.

[2018-06-14 17:32] rchande commented on #2376
@Phrohdoh No problem, feel free to send us those diagnostics when you have time. In the meantime, if I notice the slowness on my machine, I'll take a look. Incidentally, the reason we ask for performance traces is because it makes it much easier to analyze specifically what's causing slowness for you, as opposed to making fixes that may or may not help you.

[2018-06-15 11:07] eiximenis commented on #2313
@gregg-miskelly
Is there any possibility to this be addresses?

I am trying to running two pipeTransport sessions simultaneously to debug two docker containers, but the second session never starts (I suspect is complaining about stdin/stdout being busy by 1st session)

[2018-06-15 17:39] Isatol opened #2380 "Not recognized as an internal or external command"
## Environment data
`dotnet --info` output:
Herramientas de la línea de comandos .NET (2.1.104)

Product Information:
 Version:            2.1.104
 Commit SHA-1 hash:  48ec687460

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.104\

Microsoft .NET Core Shared Framework Host

  Version

[2018-06-15 18:09] rchande commented on #2380
@Isatol Please share your omnisharp log.

[2018-06-15 18:14] rchande commented on #2374
@sebasijan I think this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1197

[2018-06-15 18:36] gregg-miskelly commented on #2313
@eiximenis did you try manually launching `docker exec` twice against the same container? I can't claim that I have exhaustively tested this. But I have tried it before without issue.

If that is your problem - I don't think supporting externalConsole with pipeTransport would actually help as we would likely need two different instances of `docker exec` for that also.

[2018-06-15 18:40] zachstronaut commented on #1377
Unity 2017, Mac OS... solution for me was to upgrade Mono.

[2018-06-15 18:41] zachstronaut commented on #1952
Unity 2017, Mac OS... solution for me was to upgrade Mono.

[2018-06-15 22:16] thorgod commented on #490
+1

[2018-06-15 22:31] DustinCampbell commented on #1118
Yeah, I was planning to work on supporting the new Quick Info API once the 2.9.0 Roslyn packages show up on NuGet (they're not there yet).

[2018-06-15 22:38] jvlppm commented on #835
It is working properly, thanks.

[2018-06-16 23:56] Addyarb commented on #2355
Is there a place to manually set the path to look for buildtools at? I get this error if I have Visual Studio 2017 and VSCode 1.24.1 installed on the same machine.

[2018-06-18 13:10] colinthompson commented on #2234
I regularly launch VS Code via the dock, Alfred, and the command line, and don't recall it making a difference. I've only encountered the issue intermittently and haven't yet figured out how to reproduce it: I'll double-check whether the launch method changes things when I next run into problems.

For what it's worth, I found that deleting most of the dotnet related folders in my home directory an

[2018-06-18 13:18] chrmarti opened #2381 "Onmisharp Error - no intellisense in Code or insiders"
_From @solrevdev on June 18, 2018 11:16_

We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>
[code]
VS Code version: Code - Insiders 1.25.0-insider (c51cf862a9604dffe2e3e8792a4b0a45213869a3, 2018-06-18T08:41:23.700Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2018-06-18 13:18] chrmarti commented on #2381
_From @vscodebot[bot] on June 18, 2018 11:16_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [syntax highligting for large javascript file (#38249)](https://www.github.com/Microsoft/vscode/issues/38249)
- [--status detect process for extension debugging (#39711)](https://www.github.com/Microsoft/vscode/is

[2018-06-18 14:05] solrevdev commented on #2381
Btw homebrew updated my mono this morning as it’s been working absolutely fantastically. (Mac OS X Sierra)

Lovely editor. Hope the feedback helps.

[2018-06-18 15:11] rchande commented on #1118
@DustinCampbell I know @akshita31 wanted to start doing more work on the omnisharp-roslyn side. Do you think this would be a good workitem for her to pick up?

[2018-06-18 15:51] emanuelceballos commented on #2010
I have a similar issue but running on Ubuntu 16.04. Is there a solution for VScode Linux based?

[2018-06-18 17:43] #2276 closed

[2018-06-18 22:32] akshita31 commented on #2327
@goncalo-oliveira Have you added the consoleApp.csproj to your solution file ?

[2018-06-19 08:29] goncalo-oliveira commented on #2327
On further inspection, it seems that the issue is exactly as @Allesad reported. I created the solution, then the project, but didn't add the project to the solution - also, didn't expected to be necessary.
When adding the project to the solution, OmniSharp seems to be able to deal with it.

Thank you for replying.

[2018-06-19 08:29] #2327 closed

[2018-06-19 14:39] mzgnr commented on #1998
On macOS uninstalling mono and re installing dotnet and dotnet-sdk packages fixes both emacs and vs code.

[2018-06-19 16:25] jstrauss opened #2383 "Unable to load .NET 4.6 project in VS Code / Mac even with mono-mdk and stable mono installed"
## Environment data
`dotnet --info` output:
[code]
VS Code version: **1.24.1**
C# Extension version: **1.15.2**

## Steps to reproduce
1. Ensure mono and/or mono-mdk is installed
1. Open project that targets .NET Framework 4.6 in VS Code on macOS
1. Observe OmniSharp Log window

## Expected  behavior
Solution and its projects should load properly, and OmniSharp server should initialize successfull

[2018-06-19 18:55] rchande commented on #1898
@akshita31 The appropriate VS Code API has been implemented for us to support this (https://github.com/Microsoft/vscode/issues/35551#issuecomment-398100658). Let's chat about what we need to do to get this feature working.

[2018-06-19 19:12] nmkataoka opened #2384 "Comment in try-catch exception parameter not highlighting"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.300
 Commit:    adab45bf0c

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.3.9600
 OS Platform: Windows
 RID:         win81-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.300\

Host (useful for support):
  Version: 2.1.0
  Commit:  caa7b7e2ba

.NET Core SDKs installed:
  2.1.300 [

[2018-06-19 19:38] iambumblehead commented on #2088
I've been trying to setup vscode for use with an existing project and am having the same issue as @aohajin [above][0].

My system, `Darwin x86_64`
mono: `5.10.1.47`
dotnet: `2.1.4`
VS Code C#: `1.15.2`

[0]: https://github.com/OmniSharp/omnisharp-vscode/issues/2088#issuecomment-374868443

[2018-06-19 21:50] BryanHitchcock commented on #1156
@DustinCampbell @tintoy Any update on this? It would be great to have this functionality integrated into C# for VS Code.

[2018-06-19 23:11] tintoy commented on #1156
@BryanHitchcock It's been a while since I looked into this, but I'm still open to the idea of doing this (and am happy to put in the effort if it's what users want and the OmniSharp team think it makes sense to do so 😄). I suspect this is mostly a deployment issue, rather than one of functionality (although I could be wrong) so it might be enough to ensure that MSBuild Project Tools gets installed

[2018-06-20 14:54] eiximenis commented on #2313
Hi @gregg-miskelly
I don't mind on having two "docker exec" instances. My wish would be debug a multi-container project in a similar way that Visual Studio allows to: you can set breakpoints on more than one container and start a debug session against a compose file.

I can debug one container or another, but not the two altogether because when I try to attach to the second container I recieve alw

[2018-06-20 17:31] winzig commented on #1810
I cannot get this to work. I've got omnisharp 1.15.2 installed in VS Code 1.24.1 on macOS High Sierra. I've tried selecting a variety of lines of code in a .cs file, and no "Extract" options appear on the context menu. Nor can I find any C# extract commands via the command palette.

<img width="662" alt="screen shot 2018-06-20 at 10 30 04 am" src="https://user-images.githubusercontent.com/127062/4

[2018-06-20 20:50] justin-lavelle commented on #1794
It seems that if the unit test has a failure, `Assert.False(true)` then it crashes and I have to reload the window to get it working again. `CTRL+SHIFT+P > Reload Window`. Or if it stop debugging before the Assert throws I can restart it.

`VSCode 1.24.1`
`ms-vscode-csharp 1.15.2`

[code]

[2018-06-20 21:31] RichardD012 commented on #1198
To add to this, my experience is slightly off.  I get the build error correctly once.  When I click on the problems view, I click the problem, get the "Unable to open ..." popup and then a duplicate is created.  I am able to click to duplicate and it takes me to the file in the workspace.

The initial view that shows the unable to open popup has a source of "/" beside the file name.  When the dupl

[2018-06-20 22:31] invicticide opened #2386 "Unable to create directory "/Debug/". Access to the path "/Debug/" is denied."
I know this has been addressed in a few other issues but none of the advice described in those threads is having any effect for me.

## .NET environment

[code]

## Mono environment

[code]

## Additional environment info

VS Code version: 1.24.1
C# Extension version: 1.15.2

## Steps to reproduce

Make a new Unity 2018.1.5f1 project. In Unity Preferences > External Tools, set code editor to Visua

[2018-06-21 00:06] invicticide commented on #2386
I uninstalled Mono and .NET Core and then reinstalled them (using their respective installers, _not_ using Homebrew) and it still didn't work, and then I discovered a bad PATH export hiding out in my `.bash_profile` which was obliterating the entries those installers had tried to add to the PATH, which I had tried to "fix" (being previously unaware of that specific problem) by creating symlinks (a

[2018-06-21 00:06] #2386 closed

[2018-06-21 10:48] shashibhanmaurya commented on #1585
I had the same problem with Omnisharp, Where intelligence was not working even with a Console application. I had to install .Net Framework 4, 4.5 and 4.7.2.
Hope this will help in case of issue with Omnisharp.

Thanks,
Shashi Bhan

[2018-06-21 10:50] shashibhanmaurya commented on #1751
I had the same problem with Omnisharp, Where intelligence was not working even with a Console application. I had to install .Net Framework 4, 4.5 and 4.7.2.
Hope this will help in case of issue with Omnisharp.

Thanks,
Shashi Bhan

[2018-06-21 15:28] chesteryang opened #2387 "Node.js doesn't quit while stop debugging"
## Environment data
`dotnet --info` output:
[dotnet-info.txt](https://github.com/OmniSharp/omnisharp-vscode/files/2124203/dotnet-info.txt)

VS Code version:1.24.1
C# Extension version:1.15.2

The issue was filed to vscode first: https://github.com/Microsoft/vscode/issues/51933

## Steps to reproduce
1. create a new asp.net core react app. ( dotnet new ... ... )
2. make it working.
3. using default

[2018-06-21 15:51] gregg-miskelly commented on #2387
@chesteryang The debugger doesn't know anything about these node.js processes, so it will not kill them. This is true for both Visual Studio and VS Code.

Is your code spawning them?

[2018-06-21 16:20] chesteryang commented on #2387
@gregg-miskelly
Yes,  the project was created using dotnet new reactredux -n my-app.

  in Startup.cs,

            app.UseSpa(spa =>
            {
                spa.Options.SourcePath = "ClientApp";

                if (env.IsDevelopment())
                {
                    spa.UseReactDevelopmentServer(npmScript: "start");
                }
            });

in package.json
  "scripts": {

[2018-06-21 16:37] chesteryang commented on #2387
and in command line, if I use dotnet run to start app, I can use ctrl+c to shut down dotnet process and all its child processes.

[2018-06-21 16:54] gregg-miskelly commented on #2387
So you can get the command line behavior if you set `"console": "externalTerminal"`. 'integratedTerminal' would probably also work.

For a better fix: if I am tracking things down correctly, it sounds like you are running into a bug in the ASP.NET JavaScriptServices. There is an issue that sounds just like you describe here: https://github.com/aspnet/JavaScriptServices/issues/270

Looking at what

[2018-06-21 16:55] gregg-miskelly commented on #2387
Should have also said: so I would probably suggest opening a new issue in that repo if you are running a build that should have that fix.

[2018-06-21 17:13] gregg-miskelly commented on #2313
@eiximenis what error do you get? What does the launch.json configuration that you are attempting to start look like?

[2018-06-21 17:46] chesteryang commented on #2387
@gregg-miskelly  Okay, thanks.

[2018-06-21 17:46] #2387 closed

[2018-06-21 20:51] akshita31 commented on #240
This has been resolved in #2323.

[2018-06-21 20:51] #240 closed

[2018-06-22 16:23] dmumladze commented on #2147
@DustinCampbell We have stopped using VSCode for now... It is unfortunate, but it's the decision we made due to this and [other ](https://github.com/Microsoft/vsts-vscode/issues/274#issuecomment-395039226)issue. For the other issue, there seems to be solution in using a different NTLM lib.

[2018-06-22 17:23] rchande commented on #2147
@dmumladze Sorry to hear that. If you have time, it would be helpful to us (and other users) if you could confirm whether the fix for #2295 works for you.

[2018-06-22 17:30] rchande commented on #2383
Hi @jstrauss. Thanks for taking the time to write this up so nicely for us! I'm not really sure the best way to diagnose this further. I do remember that some of the other reporters of this issue were trying to target .NET 4.5--are you able to load a project that targets 4.5?

[2018-06-22 17:32] rchande commented on #2383
Also @jstrauss this bug (https://github.com/OmniSharp/omnisharp-vscode/issues/2381) reports that the version in homebrew doesn't contain the right dependencies. Maybe try installing it using the installer from mono directly?

[2018-06-23 05:28] Isatol commented on #2380
@rchande here:
Starting OmniSharp server at 2018-6-23 00:04:46
    Target: c:\HACSYS\netcore-vuejs\MarczakIO.VueSPA.Web.sln

OmniSharp server started
    Path: C:\Users\Analista(Hacsys)\.vscode\extensions\ms-vscode.csharp-1.15.2\.omnisharp\1.30.1\OmniSharp.exe
    PID: 1100

"C:\Users\Analista" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.
[ERROR] Error

[2018-06-23 21:15] hungarianguy opened #2389 "unable to debug projects pressing on green arrow does not start / attach deugger"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.301
 Commit:    59524873d6

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.301/

Host (useful for support):
  Version: 2.1.1
  Commit:  6985b9f684

.NET Core SDKs installed:
  2.1.101

[2018-06-24 15:27] formher opened #2390 "Microsoft.Build.Exceptions.InvalidProjectFileException: ON MACBOOK"
## Environment data
.NET Core SDK (reflecting any global.json):
 Version:   2.1.301
 Commit:    59524873d6

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.301/

Host (useful for support):
  Version: 2.1.1
  Commit:  6985b9f684

.NET Core SDKs installed:
  2.1.300 [/usr/local/share/dotnet

[2018-06-24 19:00] nicmar opened #2391 "Omnisharp not showing up despite reinstall of everything"
Everything has been working great for several weeks, all of a sudden it doesn't report errors anymore and Intellisense seems to only suggest hits from inside the current file.

## Environment data
`dotnet --info` output:

VS Code version: 1.24.1
C# Extension version: 1.15.2

## Steps to reproduce

---
I reinstalled the C#-extension several times and it seems to succeed:

I also installed dotnet CL

[2018-06-25 04:33] hungarianguy commented on #2389
I have uninstalled and reinstalled vscode with following post and now I can debug

[2018-06-25 04:33] #2389 closed

[2018-06-25 09:52] AndrewJRichardson commented on #2223
I have the same issue, once debugging is launched get error 0x800700c1. I also understand this functionality is limited currently, but would prefer not to have to keep jumping between Code and VS, as I much prefer the VS Code experience over Visual Studio.

Engine logging gives

[code]

I did notice in the window log that the renderer has the following issue every time I attempt to debug, I have t

[2018-06-25 13:50] benm-eras commented on #2391
So I can get it to work with a new project, but not single `.cs` files. I am not sure if this is the intended behaviour or not but it explains why I felt it was intermittent!

If I run `dotnet new console` (for example) then open the generated `Program.cs` file and give it a sec, I will get intellisense and I can run "Format Document" quite happily. But if I close the folder in VS Code and just op

[2018-06-25 16:45] gregg-miskelly commented on #2223
@ciaphas01 @AndrewJRichardson sorry, this feel through the cracks earlier.

0x800700c1 means that there was an attempt to execute a program that isn't a valid executable (TODO).

Looking at ciaphas01's launch.json, this is because `program` pointing at a .dll. That works for .NET Core because .NET Core has a launcher program (`dotnet.exe`). But for full framework, there is no such launcher program

[2018-06-25 17:43] akshita31 commented on #1626
@newpost The debugger files can be found in the .debugger folder in your extension path - `.vscode/extensions/ms-vscode.csharp-version/.debugger`

[2018-06-25 17:43] akshita31 commented on #1626
@DustinCampbell Can we close this issue now ?

[2018-06-25 18:32] AndrewJRichardson commented on #2223
@gregg-miskelly Yeah, I am trying to debug an ASP.net desktop application, which as far as I am aware don't have exes as they are run through IIS.

So my guess is I need to set up a script to deploy debug dev builds to a local IIS and then attach the debugger to that. Does that sound accurate?

Any plans to support this natively in the future (or is there something simple I am missing)? I understa

[2018-06-25 19:19] gregg-miskelly commented on #2223
@AndrewJRichardson Assuming there is a 64-bit version of IIS Express (and your app supports running there), it would probably be easier to launch IIS Express in the right way to load your dll.

As you said, the debugging support in VS Code is primarily focused on cross-platform aspects. We have added some basic full framework support for scenarios where the cost was reasonable (ex: launching an ex

[2018-06-25 19:52] rchande commented on #2391
@nicmar Do you have an "omnisharp log" option in your output window?

@benm-eras You are correct. There's currently no support for standalone .cs files. We're tracking that work with https://github.com/OmniSharp/omnisharp-roslyn/issues/207.

[2018-06-25 19:54] rchande commented on #2390
@formher Do you have mono installed?

[2018-06-25 20:00] formher commented on #2390
yes.

Mhers-MacBook-Pro:~ mhermac$ mono --version
Mono JIT compiler version 5.12.0.226 (tarball Thu Jun 14 13:20:28 BST 2018)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           normal
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  amd64
	Disabled:      none
	Misc:          softdebug
	Interpreter:   yes
	LLVM:          supported,

[2018-06-25 20:07] rchande commented on #2390
@formher How did you install it?

[2018-06-25 20:09] formher commented on #2390
I haven't installed mono specifically, I am guessing it came with .NET SDK ?

[2018-06-25 20:20] rchande commented on #2390
@formher Not sure. I suspect that if you install mono (https://www.mono-project.com/download/stable/#download-mac) that this issue might go away.

[2018-06-25 20:37] formher commented on #2390
almost there... now it says..
[code]

[2018-06-25 22:28] AndrewJRichardson commented on #2223
Ahh yes, Express would be the better option, can update frontend files without needing to redeploy each time, thanks.

Yeah I can imagine supporting all projects would be monumental undertaking. Better integration with IIS Express would likely be enough for most local debugging needs in terms of web apps. Though it wasn't too much of a hassle to set up in the end and learnt something while doing i

[2018-06-25 23:40] mcclure commented on #2386
What was the .bash_profile issue exactly? I'm seeing this same problem but I do not see any PATH bugs in my .bash_profile.

[2018-06-25 23:43] mcclure commented on #2383
Note concerning my personal issue: I upgraded my Homebrew mono, and this bug went away and was replaced with #2386. My concerns about the quality of VS Code's error reporting in the case of a broken system mono remain. >_>

[2018-06-25 23:46] mcclure commented on #2381
If the problem is Homebrew Mono, should an issue be filed with Homebrew https://github.com/Homebrew/homebrew-core/issues/new/choose ? Would it be helpful if I filed such an issue?

[2018-06-26 13:21] xxNoxiouSxx commented on #2147
not sure if this is related/helpful. I had two visual studio code instances open, one was my angular CLI project (which was open first) then I launched a new visual studio code instance and opened my C# project folder and received this error/issue.

after closing both and only opening my C# project the issue went away.

[2018-06-26 17:45] EnocAnanda commented on #1053
"integratedTerminal" and "externalTerminal" are the correct values that make this work now in v1.24.1 of VSCode.

"console": "integratedTerminal"
or
"console": "externalTerminal"

[2018-06-26 18:07] formher commented on #2390
no it's not there. installing from https://www.mono-project.com/download/stable/#download-mac  seems like broke the pathes or something

[2018-06-26 19:07] nicmar commented on #2391
@rchande no, the output window is totally empty. There is no "flame icon" which I think there should be for omnisharp. I have tried disabled and enabling the extension "C# for Visual Studio Code (powered by OmniSharp).", but nothing happens.

I uninstalled it, restarted vscode, installed it again, and the second time I got this in the output:

But still nothing. Where is that "Omnisharp log" optio

[2018-06-26 19:22] formher commented on #2390
CS Code tries to run it via scriptcs for some reason. Here is the output:
[code]

[2018-06-26 19:55] rchande commented on #2390
Tagging @filipw is this related to dotnet script at all?

[2018-06-26 20:31] formher commented on #2390
ok the problem is resolved with mono. now the issue is with scriptcs, which I guess is another topic already
thank you

[2018-06-26 20:45] rchande commented on #2383
@mcclure I'm sorry you're having trouble configuring your environment. I also want to thank you for taking the time to file issues and raise concerns--that's the best way for us to identify improvements we can make. As you have observed, the configuration story is complex and could be better documented, especially for users not familiar with .NET. I suspect that we will make improvements in the fo

[2018-06-26 22:12] Veruthas opened #2392 "[Feature-Request] New options for interface auto-implementation"
I don't believe these options exist yet, but when auto-implementing interfaces (using the hover over interface and selecting from menu), would it be possible to have settings to:

- Choose whether to add implemented methods with body or lambda ({} or =>)
- Choose whether to add all methods with methods etc., or on bottom of class (potentially within a #region)

[2018-06-26 23:38] ahendry2688 commented on #25
+1, thumbs up, whatever is needed to get this implemented

[2018-06-27 07:18] filipw commented on #2390
looks like this is a [scriptcs](https://github.com/scriptcs/scriptcs) bug, not related to OmniSharp anymore. I will close this and if there is any other issue with OmniSharp we can revisit this.

[2018-06-27 07:18] #2390 closed

[2018-06-27 17:19] mcclure commented on #2383
This is useful to know. I am poking around the documentation and do not find this information in an obvious place. Perhaps that can be something that is addressed in the future improvements you mention.

Since my previous comment, I have replaced Homebrew mono with mono-project.com mono and the problem went away, so I can no longer reproduce. If I switch back to Homebrew at some point and am still

[2018-06-27 18:52] invicticide commented on #2386
This was the original (broken) state of my `.bash_profile`:

```export PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/X11/bin:~/Library/Application\ Support/itch/bin/```

Note that this stomps the PATH, rather than appending to the PATH. So there were PATH entries that dotnet and mono were setting, which my `.bash_profile` was then promptly blowing away.

My fixed `.bash_pro

[2018-06-29 09:58] Kurolox opened #2395 "OmniSharp can't find /Debug"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version:
`1.15.2`

## Steps to reproduce
On Arch Linux, install the packages `mono` and `msbuild-bin` from the AUR. After trying to open a C# project, you'll get multiple warnings and errors regarding the path /Debug.

## Expected behavior
The warnings shouldn't be there, and omnisharp doesn't seem to be workin

[2018-06-29 14:26] sixlettervariables opened #2396 "Long line hangs VSCode"
## Environment data
VS Code version: 1.24.1 (shell 1.7.12, node 7.9.0, commit 24f62626b)
C# Extension version: 1.15.2

## Steps to reproduce
1. Begin with a file:
[code]
2. Start adding onto the end of the regex, e.g. add ` (NULL|N'.+?'),` prior to the final `.+?\)$`.

## Expected behavior
- VS Code does not hang

## Actual behavior
- VS Code hangs while typing, pasting, etc.

## Troubleshooting
-

[2018-06-29 15:31] guiuprado opened #2397 "Before update to DotNetCore SDK 2.1 (2.1.301) can't load my project."
Hi, if can help i will very much grateful.

## Environment data
user@vm-dev-01:~$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.301
 Commit:    59524873d6

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Linux
 RID:         ubuntu.16.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.301/

Host (useful for support):
  Version: 2.1.1
  Commit:  69

[2018-06-29 15:56] xcellsoft opened #2398 "Debugging Unit Test loses codelens Run Test / Debug Test - DebugSessionManager does not stop"
Related to #1743

## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.301
 Commit:    59524873d6

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.301\

Host (useful for support):
  Version: 2.1.1
  Commit:  6985b9f684

.NET Core SDKs i

[2018-06-29 18:29] guiuprado commented on #2397
Hi after post here I try to modify my project files.
I point then to Microsoft.NETCore.App version 2.1.0 instead to Microsoft.NETCore.App version 2.1.1.
After clean all bin and obj, and reload all apparently is working again.

[2018-06-29 18:47] xcellsoft commented on #2398
More food for thought.

When I kill the debug process with the Stop action it sometimes hangs as well as it must not be gracefully closing the TestServer() as it does in the fixtures dispose now.

[code]

[2018-06-29 19:52] achandlerwhite opened #2399 "Browser doesn't launch on debug when using IntegratedTerminal or ExternalTerminal"
Since the default in ASP.NET Core is to send logging to both console and debugger this results in all logging messages duplicated in the debugger console under default settings. I switched to use the integrated or external terminals so the console logging goes to those, but I noticed the browser no longer launches. Thanks.

## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any

[2018-06-29 20:48] stamminator commented on #2391
Same issue for me. I launched a new VS Code window, created a new file, pasted some C# code into it, set the language to C#, and tried to format it. No "Format" option in the context menu, and selecting "Format Document" from the command palette produces the follow error:

`There is no document formatter for 'csharp'-files installed.`

Please label this as a bug.

[2018-06-29 20:50] stamminator commented on #1967
For those who've confirmed that `"csharp.format.enable"` is set to `true` and you're still having the issue, it's being tracked over here: https://github.com/OmniSharp/omnisharp-vscode/issues/2391

[2018-06-29 23:54] akshita31 commented on #2397
@guiuprado Glad to know it worked.

Will go ahead and close this for now. Feel free to reopen it if you happen to run into this again.

[2018-06-29 23:54] #2397 closed

[2018-06-30 01:10] gregg-miskelly commented on #2399
@achandlerwhite Correct - the way the browser launch code works, it can only work when the terminal output is sent to the debugger. I believe you can use the `logging` options if you like console output from going to the terminal.

[2018-06-30 01:44] xcellsoft commented on #2398
It seems to be sporadic at not related to changes i have made, it appears to be timing based and some of the changes affected the timing which made it falsely appear to have worked.

On my laptop (slower machine) no matter what i try, it will NOT end the debug session and i cannot debug again until a window reload is performed. Visual Studio Enterprise works just fine. I have hundreds of tests and

[2018-06-30 03:07] achandlerwhite commented on #2399
@gregg-miskelly Thanks for the quick response. I can use the logging options as you describe or probably just open the browser myself--it's not a major issue. Is this quirk documented either in the vscode or omnisharp-vscode docs? I thought maybe it was and I just missed it.

[2018-06-30 09:58] Kurolox commented on #2395
It seems like creating the directory /Debug in the root of the drive and chowning it to the user works as a workaround, but I believe that having it on that path is not intended and should be adressed.

[2018-06-30 17:15] xcellsoft commented on #2398
Narrowed it down to this in the start of my fixture. It doesn't like starting a new server in another thread. If i just strip my code to start like the sample below and do not call this.ServerMainReal.StopAsync() in the fixture dispose omnisharp will not end the debug process. If i do call the StopAsync() the omnisharp debug will get the command to stop the debugger. This doesn't work if say i hav

[2018-06-30 18:21] xcellsoft opened #2400 "Unit Test Debugging with Syntax Error Requires VS Code Restart"
## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.301
 Commit:    59524873d6

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.301\

Host (useful for support):
  Version: 2.1.1
  Commit:  6985b9f684

.NET Core SDKs installed:
  2.1.3

[2018-07-02 03:21] fjqingyou opened #2401 "Create a new class file and change it base class Unparsing"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 1737

[2018-07-02 03:41] itn3000 opened #2402 "csx syntax highlighting does not work correctly when `using` block on top level."
## Environment data
`dotnet --info` output:
[code]
VS Code version:1.24.1
C# Extension version:1.15.2

## Steps to reproduce

1. create csharp script file(*.csx)
2. write `using` block like following
[code]

## Expected  behavior

syntax highlighted like following image(only removed `using`)
![vscode-syntax-highlight-expected](https://user-images.githubusercontent.com/10163465/42143718-abcbd3a6-7d

[2018-07-02 07:15] 0xF6 commented on #2151
Hmm..
Fixed by installing msbuild-stable

[2018-07-02 07:31] filipw commented on #2402
This issue was moved to dotnet/csharp-tmLanguage#126

[2018-07-02 07:31] #2402 closed

[2018-07-02 07:31] filipw commented on #2402
Thanks for the report - I moved this to the repo for the C# TextMate grammar in the dotnet organization, which is used for syntax highlighting C# in VS Code.

[2018-07-02 09:42] robbash commented on #2398
I have the same issue in VS Code.

In addition to all the other comments here I found this output in the omnisharp log:
`/Users/myuser/.vscode/extensions/ms-vscode.csharp-1.15.2/.omnisharp/1.30.1/run: line 50: 65745 Killed: 9               "${MONO_CMD}" "${OMNISHARP_CMD}" "$@"`

[2018-07-02 15:50] kleber-swf commented on #2391
In my case, it was the lack of the `.csproj` file

[2018-07-02 16:18] xcellsoft commented on #2398
More interesting information, the issue appears to be linked with running visual studio 2017 enterprise (version info below). I was running fine this morning and then all of sudden i could not re-debug the unit tests (original issue), after an hour or so of troubleshooting it turns out when vs enterprise is running the debug session will not get ended in vs code. Only the integration tests that ar

[2018-07-02 16:19] xcellsoft commented on #2398
FYI, the reason I use VSE and it is part of my daily routine is for code coverage and it's nice test runner.

[2018-07-02 19:39] coumarc9 commented on #490
+1

[2018-07-03 01:00] akshita31 commented on #2400
@xcellsoft The double , triple times diagnostics is coming because we are not disposing the event listeners properly in the extension, and the problem with the debugger already started is coming because the exceptions are not being handled properly. I am working on it and a PR will be out soon. Thank you for taking time to file the issue.

[2018-07-03 01:37] thezaza101 opened #2404 "Intellisense not wotking on any file in solution with xUnit project"
## Environment data
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 17373eb129b3b05aa18ece963f8

[2018-07-03 12:01] shanekenyon87 commented on #695
I disagree, this is not a language feature question and Omnisharp certainly seems like the perfect place for this sort of functionality as it already has C# code formatting capabilities.  I guess the good news is that [Sonarlint](https://github.com/SonarSource/sonarlint-vscode) for VSCode is already pretty robust for JS and other languages and they are working towards language and feature parity w

[2018-07-03 12:50] xcellsoft commented on #2400
This will save allot of time, can’t wait. Thanks

[2018-07-03 15:37] robbash commented on #2398
I cannot confirm. I'm experiencing this issue on a Mac having no VSE installed/running.

[2018-07-03 17:18] rchande commented on #2151
@0xF6 Glad you got this working. For reference,  would you mind sharing the versions of the packages (mono, msbuild-stable) you wound up installing?

[2018-07-03 17:52] rchande commented on #2391
@nicmar To be clear, you're opening a .cs file that's associated with some .csproj? Also, can you share the contents of your vscode settings? I'm particularly curious about your values for settings whose names start with `omnisharp`

[2018-07-03 18:52] Mona1988 commented on #1668
I had the same problem and I had to download the version that specified in the console error. And then
follow the steps in this link.. make sure to open a new command prompt to execute the commands

https://www.microsoft.com/net/learn/get-started/windows

[2018-07-03 18:53] Mona1988 commented on #1167
had the same problem and I had to download the version that specified in the console error. And then
follow the steps in this link.. make sure to open a new command prompt to execute the commands

https://www.microsoft.com/net/learn/get-started/windows

[2018-07-03 22:23] #2400 closed

[2018-07-04 09:13] 0xF6 commented on #2151
@rchande,

![image](https://user-images.githubusercontent.com/13326808/42267955-08414f84-7f83-11e8-8bb7-c95d2cb825f1.png)

pacman:

msbuild-stable : 15.6_xamarinxplat.2018.01.17.14.14_0xamarin1_ubuntu1404b1-3
mono : 5.12.0.260-1

[2018-07-04 09:32] forki opened #2407 "Omnisharp doesn't file watch *.props in /obj folder"
Omnisharp doesn't file watch *.props in /obj folder, but this is needed in order to update NuGet dependencies that my be put there by tools like Paket

[2018-07-04 11:05] Mastermindzh opened #2408 "Crashes when watching a project running in docker"
## Environment data
[code]

VS Code version:
[code]
**Also tried it on:**
[code]

C# Extension version: 1.15.2

## Steps to reproduce
1. Create Dockerfile:
[code]
2. Create docker-compose file
[code]
3. /api should contain a dotnet web api project. [The one I used (source @ bottom)](https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-vsc?view=aspnetcore-2.1)

4. docker-compose build &&

[2018-07-04 13:20] nicmar commented on #2391
@rchande Hi, I'm using Unity to open a .cs file, but now I see that I don't have a .csproj file named like my project, I have several different like:
_AsmEditor.csproj (5 in total beginning with _Asm)
Assembly-CSharp.csproj (4 in total similar to this one, but for editor, firstpass, etc)
I also have another one called UniteTanks.csproj, which seems to be a leftover of some other project I looked a

[2018-07-04 13:22] nicmar commented on #2391
Yes, with a new project omnisharp works, and this has no .csproj file, however it has a .sln file. My problematic project also has a .sln file which looks very similar to the other one.

Is there anything in here that I should inspect?

[2018-07-04 13:31] Miclebrick commented on #168
Really want to use VS Code, and affording Jetbrains Rider would be tough, but it seems like the only option at this rate...

[2018-07-04 16:13] stamminator commented on #2391
Is it a given that a simple formatter should require a `.csproj` file in order to work? I'm not aware of formatting settings being contained in `.csproj` files (usually they're in some project-level `.json` file, if anywhere), but even if they are, the extension should just use standard default formatting settings. A `.csproj` file should not be necessary.

[2018-07-04 17:20] xcellsoft commented on #2400
What is the appropriate way to get this fix?

I see that setting "omnisharp.path": "latest" pulls down recent builds, looks like today it's 1.31.2-beta.98, how does this correlate with commits to master and/or what is the best way to get this patch to test it out?

[2018-07-04 17:37] akshita31 commented on #2400
@xcellsoft  Just setting "omnisharp.path": "latest" should work for you.

[2018-07-04 21:03] akshita31 commented on #2404
@thezaza101 I tried the projects at : https://github.com/xunit/samples.xunit and everything seems to work fine for me. Does your case repro for this solution as well?
Also could you post the output of `dotnet --info` ?

[2018-07-04 21:11] akshita31 commented on #2391
@stamminator The formatting support is enabled by OmniSharp and currently Omnisharp doesnot support standalone C# files. As @rchande mentioned , we are tracking that work in https://github.com/OmniSharp/omnisharp-roslyn/issues/207

[2018-07-04 21:13] akshita31 commented on #2391
@nicmar From the logs you shared , it seems that OmniSharp should have started. Could you try setting "omnisharp.path" : "latest" in the settings and then restarting the Omnisharp server (Ctrl+Shift+P --> Restart OmniSharp), and see if any OmniSharp log comes up ?

[2018-07-05 09:29] nicmar commented on #2391
Hi, I set that in my user settings, and restarted VSCODE, and also tried "Restart omnisharp", but I can't see any log anywhere. All 4 logs are empty. When I press Ctrl+Shift+P -> Select project, it says "Select 1 of 0 project", so it might be that omnisharp doesn't know what project I'm working with.

I see this in the Git log, don't know if it's related.

fatal: Not a git repository (or any of th

[2018-07-05 15:10] rchande commented on #2391
@nicmar If it works on a new Unity project, this is probably an issue with your existing projects. Given that you have several .csproj files, if you use Code to open one of the directories that contains a .csproj, and then open a .cs file that is included in that .csproj, what happens?

[2018-07-05 16:49] Andrew-MSFT commented on #168
@Miclebrick have you looked to see if Visual Studio Community edition is an option?

[2018-07-05 16:51] rchande commented on #2151
@0xF6 Thanks!

[2018-07-05 17:33] rchande commented on #2404
@thezaza101 It looks like this is an issue with the msbuild targets included in your Visual Studio installation. Could you please try updating to the latest version?

[2018-07-05 17:36] rchande commented on #2401
@fjqingyou What namespace is your type `ReadOnlyAttribute` defined in? Do you need to add a using?

[2018-07-05 17:38] rchande commented on #2396
@DustinCampbell This sounds to me like the Code editor is hanging while evaluating our textmate grammar to classify the file. I would consider this a Code perf bug. Thoughts?

[2018-07-05 17:41] Miclebrick commented on #168
Sadly it's not, since I currently have Linux on my workstation

[2018-07-05 17:44] rchande commented on #2395
@Kurolox I think this is a matter of figuring out the right Arch packages to install. Some potential solutions are mentioned in this issue: https://github.com/OmniSharp/omnisharp-roslyn/issues/1168

[2018-07-05 17:48] rchande commented on #2381
@mcclure Absolutely. Please do!

[2018-07-05 17:51] rchande commented on #2381
@solrevdev I'm glad you got this figured out--I'm going to close the issue, but feel free to add further comments or reopen.

[2018-07-05 17:51] #2381 closed

[2018-07-05 17:52] miosenpai opened #2411 "Advanced Autocomplete Information?"
Will the C# extension for VS Code eventually implement an option for return types or method arguments to be shown for all autocomplete entries instead of just the highlighted one similar to the behavior in omnisharp-vim, omnisharp-atom, and ReSharper?

[2018-07-05 17:54] rchande commented on #2384
Moved to https://github.com/dotnet/csharp-tmLanguage/issues/127

[2018-07-05 17:54] #2384 closed

[2018-07-05 17:56] Mastermindzh commented on #2408
Hang on, I can do that in a few mins.

After a restart it instantly crashes again though, I've tried "selecting a project" as well but that didn't help either.

[2018-07-05 18:12] Mastermindzh commented on #2408
@rchande , It's massive... after it crashes it immediatelly throws 300+ errors about missing stuff.

Can't include it here so you can find it on [pastebin](https://pastebin.com/R6NHkH1Q)

[2018-07-05 23:30] solrevdev commented on #2381
@rchande yes please do and thanks very much.

Some feedback if it’s wanted - I now pretty much live in the insiders build all the time and it’s such a great editor / ide.

Awesome work everyone.

[2018-07-06 02:02] thezaza101 commented on #2404
@rchande Looks like my msbuild was out of date. Downloaded "Build Tools for Visual Studio 2017" from https://visualstudio.microsoft.com/downloads/ and it works now.

[2018-07-06 02:02] #2404 closed

[2018-07-06 03:01] fjqingyou commented on #2401
No, My Test class and ReadOnlyAttribute class namespace is empty , i'm not defined it, so I No need using!

Test.cs and ReadOnlyAttribute.cs file in same folder

[2018-07-06 03:01] fjqingyou commented on #2401
@rchande My English is very bad, Sorry!

[2018-07-06 03:07] fjqingyou commented on #2401
video start is ReadOnlyAttribute.cs file defined!

[2018-07-06 03:25] allnnde opened #2412 "intellisense not work"
## Environment data
SDK de .NET Core (reflejando cualquier global.json):
 Version:   2.1.301
 Commit:    59524873d6

Entorno de tiempo de ejecución:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.301\

Host (useful for support):
  Version: 2.1.1
  Commit:  6985b9f684

VS Code version:
1.25.0

C# Extension v

[2018-07-06 06:54] lucianposton opened #2413 "OmniSharp not working on linux"
## Environment data
`dotnet --info` output: https://paste.pound-python.org/show/heAxiZ7vg4JUzEZ30Vzb/
VS Code version: 1.22.1 and 1.25.0
C# Extension version: 1.15.2

## Steps to reproduce
Opened https://github.com/Interkarma/daggerfall-unity in unity-editor to generate .sln and .csproj (Assets->Open C# Project). Then opened project in VSCode-1.25.0 w/ ms-vscode.csharp-1.15.2.

Also, tried simple

[2018-07-06 07:25] jrieken opened #2414 "Adopt improved DocumentSymbolProvider API"
With the 1.25 release we have finalised the API for the [outline tree](https://code.visualstudio.com/updates/v1_25#_outline-view). A `DocumentSymbolProvider` should now return [document symbols](https://github.com/Microsoft/vscode/blob/bd953248ad6a8e2f8896bfb78b3ae40e0fd47426/src/vs/vscode.d.ts#L2474) which can represent a hierarchy and that can differentiate between the full range of  a symbol an

[2018-07-06 15:19] ejamshidiasl commented on #1028
i had same problem and now i solved this.
after downloading and installing omnisharp jst wait.vscode downloading new extenision(size is about 42Mb).after 2-3 minutes download complete and after that omnisharp is ot going to download again.

[2018-07-06 17:06] akshita31 commented on #2413
@lucianposton I suspect, the problem here is that your project doesnot contain a csproj and currently omnisharp doesnot support files that are not associated to a project. I am currently working on it and hope to deliver it as soon as possible.

Could you try opening the whole project when you do a dotnet new console (instead of just the Program.cs file) and seeing if the extension lights up ?

[2018-07-06 17:10] akshita31 commented on #2412
@allnnde  Could you share your OmniSharp log ?( View --> Output --> OmniSharp Log)

[2018-07-06 17:38] AndyPook commented on #1449
Just in case it helps anyone...
There may be multiple "projects" in the folder and VSCode has selected the "wrong" one.

Use ctrl-shift-P and select "OmniSharp: Select Project" to select the correct project (a .sln file).

If you have the Output window open with "OmniSharp Logs" selected, you will see it reading your csproj's. Once finished your goto definition will start to work

[2018-07-06 17:46] FomTarro commented on #1595
I still have this issue, using VS Code on Win 10. I have used every manner of VS Uninstaller I can find to clean my registry, but to no avail.

[code]

[2018-07-07 02:17] allnnde commented on #2412
i'm not have any log for Omnisharp

[2018-07-09 02:22] shizn commented on #1959
@rchande Do we have an ETA for this issue?

[2018-07-09 05:20] gitfool commented on #2217
Ideally this is supported through [Squash](https://github.com/solo-io/squash) or [KubeSquash](https://github.com/solo-io/kubesquash), which has a VS Code extension. Watch [Squash: A Debugger for Kubernetes Apps](https://www.youtube.com/watch?v=5TrV3qzXlgI) to see the potential.

Already supports Go, C++ [gdb], Node, Python and Java, but currently missing .NET Core support. From what I understand t

[2018-07-09 14:30] myrup commented on #168
@roboriaan VS community works excellent for OS X as well :)

[2018-07-09 16:20] rchande commented on #1959
Ping @filipw

[2018-07-09 17:53] gregg-miskelly commented on #1979
@adredge do you have configurations defined in your launch.json file? If you want help troubleshooting, please open a new issue.

[2018-07-09 22:18] #2132 closed

[2018-07-09 22:18] #2192 closed

[2018-07-09 22:18] #2307 closed

[2018-07-09 22:18] #2329 closed

[2018-07-10 02:00] worthingtonjg opened #2415 "OmniSharp failing to load"
[code]

[2018-07-10 08:01] bandrei commented on #1754
Ok, it looks like I managed to solve it by running `dotnet restore` on the project whcih fixed the omnisharp server which is now starting. After this I deleted a .env file and re-started VSCode to update it, after which things started working.

[2018-07-10 14:42] nelsonmorais commented on #1889
@DustinCampbell  Same issue here as described by @TheAifam5. Maybe if/when VSCode workspaces support adding single files to a workspace this problem can be properly addressed, because as of today, working with multiple projects and workspaces in VSCode is not the best experience.

[2018-07-10 17:00] rchande commented on #2413
@akshita31 Can you take a look?

[2018-07-10 17:00] rchande commented on #2415
@worthingtonjg What version of VS 2017 do you have installed?

[2018-07-10 17:01] rchande commented on #2412
@allnnde Can you share your C# extension log?

[2018-07-10 17:04] worthingtonjg commented on #2415
I downloaded it last night - so whatever the newest version is that is out
there.  I can check for sure when I get home tonight.

On Tue, Jul 10, 2018 at 11:00 AM, Ravi Chande <notifications@github.com>
wrote:

[2018-07-10 17:21] filipw commented on #1959
We do not support Azure Functions at the moment - this is tracked by https://github.com/OmniSharp/omnisharp-roslyn/issues/779.

The other stuff (support for #r "nuget:...") that should work out of the box, as long as  .NET SDK is installed on the machine.

If something is not working, it would be great to get the repro script and the full OmniSharp debug output - thanks!

[2018-07-10 19:06] juwens commented on #2412
i'm having the same issue.
No output for c# or omnisharp.
I opened the developer tools and found this:

`[Extension Host] Activating extension 'ms-vscode.csharp' failed: Cannot find module 'rxjs/Subscription'.`

[2018-07-10 19:14] rchande commented on #2412
@juwens Can you share your environment data (similar to @allnnde )

[2018-07-10 19:21] juwens commented on #2412
@rchande
`
PS C:\WINDOWS\system32> node --version
v10.4.1
PS C:\WINDOWS\system32> npm --version
5.6.0

PS C:\> dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.300
 Commit:    adab45bf0c

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.300\

Host (useful for supp

[2018-07-10 19:36] juwens commented on #2412
@rchande i tried that previously without success

**But i found the source of the problem on my computer.**

Apparently my (installed) npm 5.6.0 is not compatible with node 10.4.1.
So i updated it to 6.1.0.

**Now omnisharp and intellisense work fine again.**

[code]

[2018-07-10 19:49] allnnde commented on #2412
@rchande As I said before, I do not have any log, sorry for my english

[2018-07-10 19:56] juwens commented on #2412
@allnnde
please try the following:

Help > Toggle Developer Tools
In Developer Tools go to Console an look for errors.

[2018-07-10 19:57] rchande commented on #2412
@juwens Interesting. npm isn't a requirement to use VS Code, but I guess it must try to use your local copy if you have one installed?

[2018-07-10 23:57] lucianposton commented on #2413
I've figured out the issue. VScode was incorrectly configured and packaged in my distro's package manager. The execute bit was missing from some secondary VScode utilities, causing silent failures. I've since fixed and updated the package.

[2018-07-10 23:57] #2413 closed

[2018-07-11 15:53] rchande commented on #2413
@lucianposton Interesting. How did you determine that? Might be helpful to others to know...

[2018-07-11 22:23] lucianposton commented on #2413
I compared the files installed by the package manager to what was contained in the tar/deb from visualstudio.com. Some files installed on the system weren't executable like in the tar/deb.

[2018-07-12 10:09] janaka commented on #2165
Is we here the OmniSharp team or MS? This the best place to track progress?

[2018-07-12 21:28] gregg-miskelly commented on #2165
@janaka: The work is being done by Microsoft, but this is a good place to track it. The work is largely complete. But we are hitting into a memory corruption bug that has proven very difficult to track down. Once we get to the bottom of that we think we are ready for release.

[2018-07-13 18:41] Davilink commented on #47
Will a good use when you want to create small script to be use with dotnet script (https://github.com/filipw/dotnet-script). Otherwise i have to create a console application just to test something out.

[2018-07-13 19:13] claytongulick commented on #2383
I'm in the same boat with this:
[code]
I've installed standalone dotnet core, mono, vs tools plugins, restarted my system etc... with no luck. Changed "useGlobalMono" to always, no luck still. Sort of stymied. I need to be able to use modern .net features, but can't get vs code/omni sharp to work with the project settings when I switch unity to 4.x.

Suggestions would be super appreciated!

[code]

[2018-07-13 21:41] masaeedu opened #2417 "Intellisense in object initializers is unaware of context"
## Environment data
`dotnet --info` output:

[code]

VS Code version:

[code]

C# Extension version: 1.15.2

## Steps to reproduce
Instantiate an object with an enum property and in the RHS of the property initializer for said property use `Ctrl + Space` to get intellisense suggestions.

## Expected  behavior
Enum type's name is suggested on RHS of equals expression.

## Actual behavior
Lots of th

[2018-07-13 21:45] akshita31 commented on #2417
@masaeedu I suspect the OmniSharp process is not running for you. Do you see any "OmniSharp" or "C#" log in the Output  pane(View--> Output --> The small drop down on the right side)

[2018-07-13 21:59] masaeedu commented on #2417
@akshita31 Seems to be running fine (from my experience the hover hint shown wouldn't appear if Omnisharp wasn't running). Go to reference, hovering types, etc. all seems to be working.

[2018-07-14 01:11] allnnde commented on #2412
@juwens
![image](https://user-images.githubusercontent.com/8978118/42719301-ab66055c-86e9-11e8-90db-030ef8f41918.png)

[2018-07-14 01:20] allnnde commented on #2412
I deleted in %userprofile% the folders .onmishap and .vscode\extensions\ms-vscode.csharp-1.15.2 and reinstall and now it is working ok

[2018-07-14 08:14] recklessforce commented on #43
For bigger C# projects, Visual Studio Code is not a good choice. It still misses a lot of features. My recommendation is to stick with Visual Studio IDE when you're on Windows or Mac or if you're on Linux there's Rider.

[2018-07-15 20:02] AidinD opened #2418 "Omnisharp for VSCode and Unity support not working"
## Environment data

.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.302\

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.4 [C:\Program Files\dotnet

[2018-07-16 15:21] rchande commented on #2383
@claytongulick Glad you got it working!
@jstrauss Haven't heard from you in a while but we've identified a couple of solutions in this thread. I'm closing this issue, but feel free to keep commenting or open a new one.

[2018-07-16 15:21] #2383 closed

[2018-07-16 15:22] rchande commented on #2412
@allnnde Thanks for following up--glad you got it working!

[2018-07-16 15:22] #2412 closed

[2018-07-16 16:33] #2418 closed

[2018-07-16 21:02] cra0zy opened #2419 "Omnisharp crashes way too easily"
If there is a bad solution in the folder that omnisharp tries to load, it crashes and does not allow switching to the correct solution (and you are usually forced to delete the bad solution file).

If one of the projects in the solution is invalid, omnisharp crashes once again and fails to load valid projects.

[2018-07-17 01:04] rchande opened #2420 ""restart OmniSharp" prompt"
Similar to the O# settings changed feature, we should try to offer to restart omnisharp when we notice changes to .csproj files or the addition of new ones.

[2018-07-17 09:33] eluchsinger commented on #490
+1

[2018-07-17 14:36] enum01 opened #2421 "Formatter not working with mocking complex objects"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.301
 Commit:    59524873d6

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.301/

Host (useful for support):
  Version: 2.1.1
  Commit:  6985b9f684

.NET Core SDKs installed:
  2.1.200

[2018-07-17 17:57] afk-mcz commented on #2010
In Mac downloading the .NET famework solved the issue https://www.microsoft.com/net/learn/get-started/macos#macos

[2018-07-17 17:58] afk-mcz commented on #1888
on Mac downloading the .NET framework solved the issue https://www.microsoft.com/net/learn/get-started/macos#macos

[2018-07-18 07:11] ghost opened #2422 "sln version for Unity Code"
## Environment data
`dotnet --info` output:
VS Code version:1.25.1
C# Extension version:1.15.2

## Steps to reproduce
Set Code as Unity's Code Editor, And Open C# Code by Unity。Then version of sln if 11.0，but I need 12.0 for MSBuild

## Expected  behavior
Can I choose then newer version of sln?

## Actual behavior

[2018-07-18 14:33] seriouz commented on #168
@Andrew-MSFT So .cshtml files do have to support Intellisense for:
`HTML`, `C#`, `Razor`, `Javascript`, `Typescript?`

[2018-07-18 16:37] ghost opened #2423 "Memory leak"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.202)

Product Information:
 Version:            2.1.202
 Commit SHA-1 hash:  281caedada

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.202\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.9
  Build

[2018-07-19 05:00] andrewb273 commented on #1179
@DustinCampbell did a separate issue get created for including removal of unused usings in a general cleanup command? As it stands, I need to jump back to VS2017 to efficiently clean up usings.

[2018-07-19 05:48] Andrew-MSFT commented on #168
You should get support for HTML, JavaScript, CSS, and TypeScript in VS Code, it's just C# support that's missing at this time.

[2018-07-19 10:02] MarekLg opened #2424 "No Intellisense without Project"
## Expected  behavior
Intellisense predicting more than 'class' or 'if' on a .cs file without a project.json

## Actual behavior
Intellisense not predicting more than 'class' or 'if' on a .cs file without a project.json

## Issue
Sorry for that minimal intro..
I would be perfectly fine to live with that, but on [this issue](https://github.com/OmniSharp/omnisharp-vscode/issues/47) from Feb 2016 it

[2018-07-19 15:12] mickaelistria commented on #2234
I get a similar issue using omnisharp-linux-x86_64 v1.31.2.beta21 through LSP in Eclipse IDE.
I tried deleting all the folders mentioned in previous comment but it didn't change anything.

[2018-07-19 15:20] rhires opened #2426 "Debugger fails to start because project is built to 'bin\BPC\...' instead of 'bin\...'"
## Environment data
`dotnet --info` output:
dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.302\

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

VSCode Version:
Version:

[2018-07-19 16:29] SIkebe commented on #2426
This?
https://social.msdn.microsoft.com/Forums/vstudio/en-US/2253d930-fe68-4ff0-a8f2-19bfbb9a0cbb/msbuild-platformbpc?forum=msbuild

[2018-07-19 16:37] gregg-miskelly commented on #2426
Thanks @SIkebe this does sound like the same issue. @rhires can you try removing the 'Platform' environment variable?

[2018-07-19 17:13] rhires commented on #2426
No, BPC doesn't mean anything to me. It doesn't seem to be set in my system environment variables. I don't know how to look at MSBuild's settings, or where they are. I've looked at a few resources, but haven't found out the answer of how to view MSBuild's settings (the platform one, in particular)...

[2018-07-19 17:18] SIkebe commented on #2426
@rhires

Not "BPC" but "Platform"

[2018-07-19 17:19] SIkebe commented on #2426
@rhires Are you using HP machine?

[2018-07-19 18:17] rhires commented on #2426
ahhh! I see what you mean now. Yes. That is indeed set as my platform variable. I guess that answers that. I've got a regular Visual Studio install which I use for my daily work, so I'm unsure if removing the platform variable will have any impact on my work...which means I'll leave it be for now.

However - I was originally sent here by the VSCode folks, because the dotnet run command is picking

[2018-07-19 18:23] gregg-miskelly commented on #2426
@rhires I would really recommend you remove that environment variable. 'BPC' isn't a valid platform in msbuild. So I think it is more that you haven't noticed it breaking anything yet than that it never will. 'Dotnet run' and Omnisharp work out the output path rather differently, and I am not sure that it would make sense for Omnisharp to pay attention to that variable.

[2018-07-19 22:38] NTaylorMullen opened #2427 "Why only register providers for language:csharp scheme:file ?"
Just had a question, I've been playing around with Omnisharp recently and have been spinning up virtual C# documents. I noticed that I wasn't getting any sort of C# support for virtual documents and I found out it was related to the file:schema [document selector](https://github.com/OmniSharp/omnisharp-vscode/blob/16c554692882ce6929ab800253632a4d2d93e893/src/omnisharp/extension.ts#L44). Is there a

[2018-07-20 00:12] WardenGnaw opened #2428 "Modifying conditional breakpoints while debugging does not work due to VSCode change"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.400-preview-009088
 Commit:    0ef0b3296b

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.400-preview-009088\

VS Code version: 1.25.1

C# Extension version: v1.15.2

## Steps to repr

[2018-07-20 11:41] dkurihara3352 opened #2429 "Omnisharp fails to load project file"
## Environment data
`dotnet --info` output:
Product Information:
 Version:            1.0.0-preview2-1-003177
 Commit SHA-1 hash:  a2df9c2576

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64

VS Code version: 1.25.1
C# Extension version:1.15.2

## Steps to reproduce
open a C# file

## Expected  behavior
omnisharp works by loading the

[2018-07-20 13:02] dkurihara3352 commented on #2429
don't know why but deleting a certain file from the project removed the issue like a magic...

[2018-07-20 13:02] #2429 closed

[2018-07-20 13:04] afernandes commented on #2266
Issue Type: <b>Bug</b>

[ERROR]

command 'o.pickProjectAndStart' not found

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.668Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-2600 CPU @ 3.40GHz (8 x 3392)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage

[2018-07-20 15:32] rchande commented on #2427
I'm not even sure this has any effect: I tried the following and got intelliense.
1. Open VS Code in an empty directory
2. Use the terminal do execute `dotnet new console` in the directory but don't open any of the new .cs or .csproj files
3. Create a new .cs file and don't save it.
4. Start typing in that new file without saving
5. Extension gets activated and intellisense works.

Especially now

[2018-07-20 15:33] rchande commented on #2424
@akshita31 Is working on this.

[2018-07-20 15:34] rchande commented on #2423
@Heagon Please use Task Manager or Visual Studio to capture a dump of the "omnisharp.exe" process so we can analyze the memory usage.

[2018-07-20 15:35] rchande commented on #2423
Also @Heagon, could you please share your full o# log?

[2018-07-20 15:35] rchande commented on #2422
@RCBelmont if I understand your question, I think you should be able to tell unity to use version 12.

[2018-07-20 15:37] rchande commented on #2419
@cra0zy Can you share an example omnisharp log?

[2018-07-20 16:12] cra0zy commented on #2419
This repository shows both problems: https://github.com/picoe/Eto

It will try to load bad solution at start, and bottom left you can't switch to the correct solution (however what I've discovered earlier today is that you do have an option to switch the project using command palette, its just that bottom left corner gets bugged...).

In case of the second part, try opening `Eto.sln`, the first pr

[2018-07-20 18:18] Heagon commented on #2423
@rchande I can share a log, sure. But the memory dump could be a problem. I mean, I got several, but they are growing to 300 MB within literal seconds of me launching the studio.
[OmniSharp.log](https://github.com/OmniSharp/omnisharp-vscode/files/2214948/OmniSharp.log)

[2018-07-20 19:42] rhires commented on #2426
Ok, so I removed it. What does the BPC platform variable mean, anyway?

[2018-07-20 21:48] gregg-miskelly commented on #2426
It doesn't sound like the internet knows what is adding `Platform=BPC`. Do you have any guesses as to what you might have installed?

More information: In the Visual Studio/msbuild world, 'Platform' is usually a CPU architecture (ex: AnyCPU, x86, x64, arm, arm64). Usually VS/msbuild don't pass around 'Platform' as an environment variable, but rather as an an MSBuild property. However, when msbuild

[2018-07-20 22:11] NTaylorMullen commented on #2427
Looks like the diagnostic adapter also makes this assumption:
https://github.com/OmniSharp/omnisharp-vscode/blob/16c554692882ce6929ab800253632a4d2d93e893/src/features/diagnosticsProvider.ts#L143
and
https://github.com/OmniSharp/omnisharp-vscode/blob/16c554692882ce6929ab800253632a4d2d93e893/src/features/diagnosticsProvider.ts#L175

[2018-07-20 23:42] SIkebe commented on #2426
@rhires I know a few HP PCs that have the variable, too. Are you using HP PC?

[2018-07-20 23:45] SIkebe commented on #2426
It seems HP easy setup.
https://stackoverflow.com/questions/2507856/why-is-my-platform-environment-variable-defined-as-bnb

[2018-07-21 00:28] NTaylorMullen opened #2431 "Virtual documents aren't tracked."
Basically C# documents that don't exist on disk aren't tracked/updated as part of a normal C# project.

I'll write up the code for this guy and put out a PR sometime next week.

[2018-07-21 13:20] Deilan commented on #1731
Yep, that's a crucial one. :)

[2018-07-22 07:17] Nik-Lz commented on #1453
+1 Any updates on this? I can't be the only one bothered that much by it. Many other major IDEs have this feature and latest version of VS2017 does not. Or does it? Have things changed, or is there any such extension that supports it?

[2018-07-22 17:06] rhires commented on #2426
Thanks! This clears it all up.

[2018-07-23 21:50] dmumladze commented on #2147
@rchande I tried with latest version 1.30.1 and logs are attached. Should I try your beta version fro which you'd provided the link in above comment?

[1.30.1.txt](https://github.com/OmniSharp/omnisharp-vscode/files/2221173/1.30.1.txt)

[2018-07-24 10:31] janaka opened #2432 "Slow step through and watch variable expansion when debugging in a Docker contianer"
There's a performance difference between native debugging and Docker container debugging. The problem can be observed when expanding variables in VS Code. In this test project https://github.com/jamiegs/dotnet-debugging-performance the difference between native and docker is small but still visible. On a real code base,  it is much more significant. See this video https://youtu.be/ElD1YrIJPeQ for

[2018-07-24 11:23] nikoudel commented on #1756
`launchSettings.json` is not read when launching with vscode (using launch.json). Environment variable ASPNETCORE_URLS should be used instead:

[code]

[2018-07-25 04:25] WeAthFoLD opened #2433 "Partial class code navigation is messed up"
## Environment data
`dotnet --info` output:
[code]
VS Code version: `1.25.1`
C# Extension version: `1.15.2`

## Steps to reproduce

I'm working on a large Unity project with more than 100K lines. The project is private so I could not provide the problematic source. If necesary I will try to isolate a project that reproduces this problem.

## Expected  behavior

F12 would jump to correct place of f

[2018-07-25 12:58] SoheilAlizade opened #2434 "Can't see csproj file IntelliSense items when thire name are long"
## Environment data
`dotnet --info` output:
[code]

VS Code version:
[code]

C# Extension version: 1.15.2

## Steps to reproduce
![code_2018-07-25_12-45-08](https://user-images.githubusercontent.com/22220356/43201931-2426ca00-902f-11e8-9f10-74082ea6c10f.png)

I type package name in csproj and omnisharp provides package names.

## Expected  behavior
I Can't see items that their names are too long.

[2018-07-25 15:35] Sbou opened #2435 "csharp.unitTestDebuggingOptions and args property"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.302/

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.202 [/usr/

[2018-07-25 22:02] sgentile opened #2437 "command 'csharp.coreclrAdapterExecutableCommand' not found"
When trying to debug inside of Visual Code I get this error:

command 'csharp.coreclrAdapterExecutableCommand' not found

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.302\

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.103 [C:\Progr

[2018-07-25 23:42] gregg-miskelly commented on #2437
So what this means is that VS Code is somehow failing to find the command from the C# extension.

If you open a .cs file first, do you still see it?
If you go to the command pallet, do you see other C# extension commands (ex: '.NET: Generate Assets for Build and Debug)

If you don't see any C# extension commands, you might try uninstalling and reinstalling the C# extension. We had one previous cus

[2018-07-26 02:42] rowandh commented on #2076
Confirming this still exists with VS Code 1.25.1 and C# Extension 1.15.2

[2018-07-26 20:40] gitNemo opened #2438 "Errors displayed in editor when referencing F# project on an C# project"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.25.1
C# Extension version: 1.15.2
Ionide-fsharp: 3.23.0
Mono: Mono JIT compiler version 5.4.1.6 (tarball Mon Dec 11 14:59:42 GMT 2017)
Visual Studio Community for Mac: 7.5.2 (Build 40)

## Steps to reproduce
The exact same steps as #2075
**except, it's on macOS.**

## Expected  behavior

- The Problem window should display no pr

[2018-07-26 22:52] jchand99 opened #2439 "Debugger crashes on Linux when debugging stops"
## Environment data
`dotnet --info` output:
NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     arch
 OS Version:
 OS Platform: Linux
 RID:         arch-x64
 Base Path:   /opt/dotnet/sdk/2.1.302/

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.302 [/opt/dotnet/sdk]

.NET Core r

[2018-07-26 23:13] gregg-miskelly commented on #2439
Thanks for the report. We actually knew about the issue, but we hadn't thought about the fact that using integratedTerminal/externalTerminal would show the problem (it happens even in internalConsole mode, but the crash gets ignored).

This is a bug caused by a bad interaction between our code, and CoreCLR that we are working with the CoreCLR team on.

[2018-07-26 23:14] KaspireFX commented on #2439
Gotcha, I noticed it a while back, just never got to actually reporting it. I just started using the internalConsole to get my programs to exit correctly after running; glad to know you guys are on top of it.

[2018-07-27 09:59] vanmxpx commented on #490
+1

[2018-07-27 21:10] ckams opened #2440 "Linux Privileged ports and Debugging"
Is there any other way to debug an app that run in privileged ports on Linux, than by attaching?

For now, I use commands like:
`authbind --deep dotnet run --launch-profile "Development"`

Then I use in Vscode, I select `".NET Core Attach"`.

But how can I launch `vsdbg` under `authbind --deep` for all my debug profiles?

[2018-07-27 21:29] gregg-miskelly commented on #2440
Also, Wikipedia lists another alternative to authbind: https://en.wikipedia.org/wiki/Authbind. Do you know if that will work for your scenario? I am assuming you would use the path to `dotnet` (ex: /usr/share/dotnet/dotnet) with it.

[2018-07-28 08:41] ckams commented on #2440
@gregg-miskelly

Well, if not done properly, everything will lead to "Permission denied", as ports <1024 need rights…

Anyway, it was late, and I did not try the only simple and right way (**[deep is very important here](https://manpages.debian.org/jessie/authbind/authbind.1.en.html#OPTIONS)**):
`authbind --deep code`
Now everything is OK.

And If you use setcap, know that each time the binary is

[2018-07-28 08:41] #2440 closed

[2018-07-29 02:43] tommai78101 opened #2441 "When inside comment blocks (/* */), pressing the Period key on the keyboard should not trigger Content Assist dialog box."
## Environment data
`dotnet --info` output:

.NET Command Line Tools (2.1.202)

Product Information:
 Version:            2.1.202
 Commit SHA-1 hash:  281caedada

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.202\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.9
  Build

[2018-07-29 10:54] cemerson commented on #1377
+1 thank you do @codeRiftel! This was driving me NUTS and that files.exclude thing seems to fix it!

[2018-07-30 17:30] rchande commented on #2432
@gregg-miskelly This sounds like it's probably a debugger issue?

[2018-07-30 17:35] rchande commented on #2433
@WeAthFoLD Thanks for taking the time to file this. Off the top of my head, this almost sounds like a VS Code editor bug with long files. I wonder if would be possible for you to break up the 6000 line file into smaller ones and see if the issue persists? There isn't really any code in omnisharp that cares about file length.

[2018-07-30 17:41] rchande commented on #2434
Filed https://github.com/Microsoft/vscode/issues/55380

[2018-07-30 17:41] #2434 closed

[2018-07-30 17:54] rchande commented on #2438
@gitNemo The solution in the bug you linked was to install the F# build tools using the Visual Studio installer. I'm not sure what the equivalent strategy would be on a mac. My understanding is that steps 1 and 5 from https://docs.microsoft.com/en-us/dotnet/fsharp/get-started/get-started-command-line might work, or it might work if all of the projects use the dotnet SDK.

cc @brettfo @kevinransom

[2018-07-30 17:55] rchande commented on #2441
@akshita31 I think you were looking into this at some point?

[2018-07-30 18:03] akshita31 commented on #2441
Yes, this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1424

[2018-07-30 20:35] tommai78101 commented on #2441
Yep, thanks for that issue @akshita31 .

[2018-07-30 20:46] janaka commented on #2432
@jamiegs this happens with VS2017 also right?

[2018-07-30 20:49] jamiegs commented on #2432
@janaka it does anecdotally, I haven't taken any timings of the performance though.

[2018-07-30 22:25] chuckries commented on #2432
@janaka Are you using linux containers with docker on both windows and mac?

[2018-07-31 06:13] lonix1 opened #2442 "Bug: A folded method also hides empty lines after it"
- VSCode Version: 1.25.1
- OS Version: Ubuntu 18.04.1 LTS

Steps to Reproduce:

1. In a c# file (or cshtml file)
2. Fold a method
3. It will be folded, along with empty lines after it

Example before folding:
[code]

Example after folding:
[code]

Example of what should occur:
[code]

I've marked this as a bug, rather than a request, because this is not how folding works with Visual Studio - which

[2018-07-31 07:04] gitNemo commented on #2438
@rchande Thank you for the orientation. It's was a mea culpa 😅
I followed the documentation steps and realized that I did not have the solution selected as 'current'.

![capture d ecran 2018-07-31 a 07 50 35](https://user-images.githubusercontent.com/5157070/43443234-33122c40-9498-11e8-8f6a-c1267f1a825f.png)

[2018-07-31 07:46] janaka commented on #2432
@chuckries yes

[2018-07-31 13:08] benday commented on #1612
I'm still getting this as of yesterday (Jul 30, 2018).  Any updates?

[2018-07-31 13:11] Cronan opened #2443 "Attach does not work in a compound debug configuration"
## Environment data
`dotnet --info` output:  2.0.0
VS Code version: 1.25.1
C# Extension version: 1.15.2

## Steps to reproduce
Create the following compound debug config in `launch.json`:
[code]

## Expected  behavior
The current python file will be debugged, and the process id GUI will launch to allow you to select a process.

## Actual behavior
The current python file is debugged, and the proces

[2018-07-31 16:07] CaulyKan opened #2444 "Is it possible to make 'dotnet framework missing' a warning rather than error on mac/linux?"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.302/

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.302

[2018-07-31 16:42] rich-ware opened #2445 "Intellisense doesn't work for referenced projects in .net core outside of project directory"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.302\

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  1.1.9 [

[2018-07-31 17:12] DustinCampbell commented on #2444
The issue here is that OmniSharp picks the first target framework when there are multiple TFMs. So, it's MSBuild is trying process your project as net461, but that isn't installed on your Mac. There are a couple of options here:

1. Reorder the TFMs so that netstandard2.0 is first.
2. Install reference assemblies for .NET Framework 4.6.1 in a place that MSBuild can discover them. The easiest way t

[2018-07-31 17:15] #2441 closed

[2018-07-31 17:19] DustinCampbell commented on #1453
@Nik-Lz: The issue is being tracked with https://github.com/dotnet/roslyn/issues/12363.

[2018-07-31 17:25] DustinCampbell commented on #1595
@FomTarro: it looks to me like VS is still not fully installed. See the thread at https://github.com/OmniSharp/omnisharp-roslyn/issues/1219 for some solutions.

[2018-07-31 17:27] DustinCampbell commented on #2381
FWIW, you can install the Mono MDK via Homebrew which *does* include MSBuild: `brew cask install mono-mdk`

[2018-07-31 17:35] CaulyKan commented on #2444
After changed the csproj to `<TargetFrameworks>netstandard2.0;net461;net452</TargetFrameworks>` it worked.

But however is it possible to try the next TFM in order when the current one fails? or more easily, write the instruction in error message?

Thanks a lot.

PS. Current error message: `The reference assemblies for framework ".NETFramework,Version=v4.6.1" were not found. To resolve this, insta

[2018-07-31 17:40] gregg-miskelly commented on #2443
@WardenGnaw do you have the cycles to see what might be happening here while I am on vacation?

[2018-07-31 17:56] DustinCampbell commented on #2444
It's harder than you might think to detect this scenario. The message actually comes from MSBuild as part of the process of building your project. However, I think we should probably try to do something. I'll move this over to the omnisharp-roslyn repo where that work would need to happen.

[2018-07-31 17:56] DustinCampbell commented on #2444
This issue was moved to OmniSharp/omnisharp-roslyn#1253

[2018-07-31 17:56] #2444 closed

[2018-07-31 18:02] WardenGnaw commented on #2443
Looks like the process picker window loses focus and resolved the selected process id as undefined and completes. I have a PR out that fixes this.

[2018-07-31 18:04] DustinCampbell commented on #2419
Does OmniSharp actually crash here? Or is it just that it fails to load the project?

[2018-07-31 18:05] DustinCampbell commented on #2424
@rchande : Is there an issue tracking that work?

[2018-07-31 18:12] DustinCampbell commented on #2421
@rchande : This may be by design. I don't believe the C# formatter ever formats code inside initializers. So, anything inside the collection initializers in this example might not get formatted (and wouldn't in VS either). cc @pilchie and @jinujoseph

[2018-07-31 18:14] DustinCampbell commented on #2420
Shouldn't OmniSharp itself just handle this rather than prompting the user for a restart?

[2018-07-31 18:15] Cronan commented on #2443
Thanks for the quick reply!
By the way, this occurs on Linux, RHE7, and I’m happy to test the fix out of it you can’t reproduce easily ...

[2018-07-31 18:27] DustinCampbell commented on #2408
@rchande : do you have the information that you need here?

[2018-07-31 18:28] DustinCampbell commented on #2395
Yes, I think you need the [msbuild-stable](https://aur.archlinux.org/packages/msbuild-stable/) package rather than msbuild-bin

[2018-07-31 18:28] #2395 closed

[2018-07-31 18:31] DustinCampbell commented on #2396
I'm surprised that this would be slow since it's inside of a string. It could be related to https://github.com/dotnet/csharp-tmLanguage/issues/101 though.

[2018-07-31 18:32] DustinCampbell commented on #2407
This issue was moved to OmniSharp/omnisharp-roslyn#1254

[2018-07-31 18:32] #2407 closed

[2018-07-31 18:33] DustinCampbell commented on #2407
I've moved this over to omnisharp-roslyn where the work would take place.

[2018-07-31 18:35] DustinCampbell commented on #695
@shanekenyon87 : Roslyn is not just a repo for the C# language and compiler, but also for IDE features. That is the right place to have that discussion.

[2018-07-31 18:38] DustinCampbell commented on #2392
@rchande: should this be tracked on the roslyn repo?

[2018-07-31 18:39] DustinCampbell commented on #1626
Yes, I think so.

[2018-07-31 18:39] #1626 closed

[2018-07-31 18:43] DustinCampbell commented on #1810
@winzig : I don't believe context-sensitive refactorings like this will show up in the right-click menu. Try clicking the light bulb in your screenshot.

[2018-07-31 18:45] DustinCampbell commented on #2378
@akshita31 : Note that there is a "Resolved-Duplicate" label that you can use to mark issues as dupes when closing.

[2018-07-31 18:51] akshita31 commented on #2424
@DustinCampbell Yes we have an issue here : https://github.com/OmniSharp/omnisharp-roslyn/issues/207.

[2018-07-31 19:01] winzig commented on #1810
@DustinCampbell Thanks, that works!

[2018-07-31 19:07] akshita31 commented on #1612
@DustinCampbell We have added the error and the standard output logging in https://github.com/OmniSharp/omnisharp-vscode/pull/2343.

Here is the current output for an error case :
![errorlog](https://user-images.githubusercontent.com/12554141/43481236-406e37f4-94ba-11e8-9c41-4ddddca53141.PNG)

[2018-07-31 19:07] #1612 closed

[2018-07-31 19:10] akshita31 commented on #2442
Ping @rchande

[2018-07-31 19:55] benday commented on #1612
@akshita31 -- Can you share how you got that to work?  Because I'm still getting the problem when I try to run using the CodeLens "Run Test" feature.

Here's a video reproducing the problem.
https://1drv.ms/v/s!ApAioVNgnHVmh_4C5LzVlgqx9Mtz6w

Thanks,
-Ben

[2018-07-31 20:14] WardenGnaw commented on #2443
@Cronan you can test this by modifying the attachPickOptions in ShowAttachEntries function in `~/.vscode/extensions/ms-vscode.csharp-<version>\out\src\features\processPicker.js` by adding
[code]
to the attachPickOptions

It should look like:
[code]

Make sure to reload your vscode after you modify the js file.

[2018-07-31 20:17] Cronan commented on #2443
I’ll have a go first thing in the morning (UK time)

[2018-07-31 20:25] rchande commented on #1612
@akshita31 Is that an xunit or mstest test?

[2018-07-31 20:26] benday commented on #1612
MSTest.

[2018-07-31 20:56] akshita31 commented on #1612
@rchande  It is an mstest project. It is the project used in the tutorial here: https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-creating-and-running-unit-tests-for-managed-code

[2018-07-31 21:02] akshita31 commented on #1612
@benday The change has been merged into the master branch, however we do not have a release yet with those changes.
However, if you wish to give it a try, you can follow the steps here: https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-the-C%23-extension-to-a-computer-without-internet-connectivity#installing-on-a-computer-that-cannot-connect-to-the-internet, to use the code from the la

[2018-07-31 23:48] dansowter commented on #2438
I'm running into a similar issue on Ubuntu.

[code]

Code is here https://github.com/stacktracehq/domain-driven-hanoi

`dotnet build` works fine, as does running the console app, but VSCode is unhappy.

![screenshot from 2018-08-01 09-46-30](https://user-images.githubusercontent.com/1258949/43493155-da425738-956f-11e8-84f4-e89cb167589c.png)

Omnisharp logs look happy enough -

[code]

[2018-08-01 07:38] Cronan commented on #2443
@WardenGnaw @gregg-miskelly That totally works!

![image](https://user-images.githubusercontent.com/777435/43507898-43d7dfba-9566-11e8-8bee-d06dae032280.png)

[2018-08-01 18:19] #2431 closed, assigned to nobody

[2018-08-02 00:35] CaulyKan commented on #2444
OK, Thanks a lot for your help!

[2018-08-02 16:59] bitinn commented on #2383
Just a quick note here to confirm updating mono indeed fix this issue for macOS.

I had mono 5.8.0 and Unity 2018.2 and ran into the same error:

It's easily fixed by updating to latest mono (5.12 at the moment)

https://www.mono-project.com/download/stable/

[2018-08-02 22:06] winzig commented on #1424
This issue drives me insane on an hourly basis. 🤪

I've found dozens of issues that reference this problem, so it's not clear to me, is *this* issue (#1424) supposed to be *the* place to track this problem, or has it moved to another issue somewhere else?

Trying to find out what the hold up is in fixing this. Can't figure out how this isn't driving enough people crazy to move it to a higher prior

[2018-08-02 22:30] jkyeung commented on #1424
@winzig - The hold-up might be that the issue isn't really related to OmniSharp, but rather VS Code itself. It used to drive me crazy (editing Python code; I've never installed OmniSharp) but I wound up just turning off all trigger character suggestions (see my previous comment).

[2018-08-02 23:04] akshita31 commented on #2427
@NTaylorMullen Can we close this now ?

[2018-08-03 01:28] winzig commented on #1424
@jkyeung Thanks, I did notice your comment after I posted (of course). It definitely helps with the primary issue I'm facing, but now it highlights another problem – my memory of the c# language is apparently worse than I expected. ;-)

In other words, I apparently rely on hitting "." to see what methods are available for a given type quite often. Hopefully this issue can be resolved somewhere soo

[2018-08-03 18:10] NTaylorMullen commented on #2427
Done!

[2018-08-03 18:10] #2427 closed

[2018-08-04 01:55] hifall commented on #47
So this still is the case, that in order to use OmniSharp's services, one needs to create a full project, instead of using a single file?

[2018-08-04 17:35] marco-carvalho commented on #1825
i'm having this problem right now; when I open the solution with VSCode on Ubuntu, Omnisharp doesn't start, but when I do it on Windows, it works

[2018-08-05 17:41] Shnagenburg commented on #2040
I've run into this problem as well with VSCode + Unity and would love a fix. I can only get it to consistently work by closing and restarting VSCode every time I create a new file.

[2018-08-05 18:44] savpek commented on #43
Pull request is now waiting for review (finally), heres few gifs about current behavior.

Analyzers / codefixes (with roslynator project):
![analyzers-codefixes](https://user-images.githubusercontent.com/481896/43688803-94ce7376-98f8-11e8-91f9-eaea5fdea3d6.gif)

Rulesets:
![rulesets](https://user-images.githubusercontent.com/481896/43688805-9e3b52d0-98f8-11e8-8d17-e9f7d1bbfac3.gif)

[2018-08-05 20:54] G43beli commented on #490
+1

[2018-08-06 04:45] peabnuts123 commented on #43
LOVE - YOUR - WORK !

[2018-08-06 17:11] chuckries commented on #2432
I want to let you guys know that I'm looking into this, but I haven't had a tremendous amount of time yet. I am trying to instrument our code to get some timing data on either side of the pipe (docker.exe in this case). I also have installed Ubuntu side by side on my macbook so that I can try to get some mac/linux numbers on the same hardware.

My guess upfront is that vsdbg is just slower running

[2018-08-06 18:57] dubeg commented on #2426
Since it is unlikely by now that HP will ever stop setting the PLATFORM to one of their unrelated values, every dev on a HP laptop coding with VS Code will have this issue.

Is the official story to tell them to unset the PLATFORM variable, or could we set in the default csproj template...

[code]
Or detect if the PLATFORM variable isn't set to one of the known values, and warn the user if so?

I

[2018-08-07 11:40] CoenraadS opened #2453 "openOnSessionStart not working with internalConsole"
Issue Type: <b>Bug</b>

Omni version: 1.15.2

I made a new project with `dotnet new console`

When I press f5 to debug, or use the green arrow, the intergrated console has focus with the build info, instead of the debug console.

launch.json:

[code]

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.668Z)
OS version: Windows_NT x64 10.0.14393

<details>
<

[2018-08-07 16:59] rchande commented on #2453
@gregg-miskelly Does this sound like a debugging bug, or a bug with VS Code itself?

[2018-08-07 17:00] CoenraadS commented on #2453
I filed it against VSCode initially who closed it. https://github.com/Microsoft/vscode/issues/55940#issuecomment-411026965

[2018-08-07 18:00] DustinCampbell commented on #1810
Great! I'm going to go ahead and close this one.

[2018-08-07 18:00] #1810 closed

[2018-08-07 18:01] DustinCampbell commented on #2442
I wonder if VS is merging the code folding regions or something like that. In VS, we create code folding regions for blocks of comments.

[2018-08-07 18:05] DustinCampbell commented on #2424
OK. In that case, I'll go ahead and dupe this against https://github.com/OmniSharp/omnisharp-roslyn/issues/207 and https://github.com/OmniSharp/omnisharp-vscode/issues/47.

@MarekLg: Your question was somewhat timely. This feature is currently being worked on here: https://github.com/OmniSharp/omnisharp-roslyn/pull/1252

[2018-08-07 18:06] #2424 closed

[2018-08-07 18:08] DustinCampbell commented on #1612
@akshita31, @rchande : We *should* be releasing beta VSIXs fairly regularly so that users don't have to go through these steps. We used to do that in the past.

[2018-08-07 18:09] DustinCampbell commented on #2438
@dansowter: Does this occur even if you've built your F# project?

[2018-08-07 18:14] lonix1 commented on #2442
@DustinCampbell When I [posted the problem](https://github.com/Microsoft/vscode/issues/55304#issuecomment-409017687) on the vscode repo, I was told vscode doesn't do folding. Not sure what is the problem, but hope that helps.

[2018-08-07 21:58] dansowter commented on #2438
@DustinCampbell Yes. After a `dotnet build` from the root (which succeeds), the issue remains.

[2018-08-08 00:14] micahj commented on #2047
Hey @mipnw  did you ever get any resolution to this?
Cheers

[2018-08-08 01:13] dmccaffery commented on #43
@savpek <3 <3 <3 <3

[2018-08-08 15:07] dtruel commented on #1524
This is still a problem for me.  When I do

[code]
It autocompletes when I push the space bar.  I have to push escape to stop it from doing that.

[2018-08-08 19:28] bkaatz commented on #1722
Greetings,

Confirming this on Gentoo Linux, as well.

The OmniSharp log:
[code]

Let us know what other info you may need to resolve this.
TIA for your time and efforts on resolving this issue.

[2018-08-09 07:19] Excited-ccccly commented on #2437
I also have this problem on my Antergos. I have tried to reinstall C# extension, but it still won't download the ominisharp and nearly every command is not found.

Then I reopened vscode with **--inspect-extensions** flag, and in the developer tools, I  found this error.

[code]

Btw, I am using [Settings Sync](https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync) extension.

[2018-08-09 12:26] MaxIakovliev commented on #2437
Experiencing  exactly  same issue.
command 'csharp.coreclrAdapterExecutableCommand' not found

here is output of
`dotnet --info` :
.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.302\

Host (useful fo

[2018-08-09 14:17] janaka commented on #2432
Thanks @chuckries this is very useful. We are having a discussion internally about your results and conclusions. Might have a more questions/comments in a bit.

[2018-08-09 16:20] DustinCampbell commented on #2438
Oh. I see the problem now. The issue is that OmniSharp only includes enough MSBuild logic to handle C# projects. So, when OmniSharp's standalone MSBuild is used, F# isn't supported:

[code]

Try installing the latest `mono-devel` package to get more robust MSBuild support: https://www.mono-project.com/download/stable/#download-lin.

[2018-08-09 16:25] gitNemo commented on #2438
I haven't mentioned this, sorry; But before selecting the current project, I updated mono to the latest version too :)

[2018-08-09 16:25] DustinCampbell commented on #1722
@bkaatz : You'll likely need to install Mono and MSBuild for Gentoo to get this working. The MSBuild bits that OmniSharp ships with are not sufficient for non .NET Core projects.

[2018-08-09 16:27] DustinCampbell commented on #2438
@gitNemo: According to your OmniSharp Log, the Mono on your system is a bit old (5.4.1.6). OmniSharp requires at least 5.8.1.

[2018-08-09 16:30] gitNemo commented on #2438
@DustinCampbell I see, thank you again for this information.

[2018-08-09 17:34] rchande commented on #2432
@chuckries Nice analysis! One suggestion--I think the original post notes that this issue also reproduces if you debug a docker from windows. If you're more familiar with perf tools on Windows that might be a good way to get an actionable trace.

[2018-08-09 17:39] chuckries commented on #2432
@rchande Thanks for the feedback. I considered this, but this would still require linux perf investigation, as docker on windows would still be running a virtualized linux environment. One thing that I think I have shown is that the perf investigation needs to be done entirely within the docker container. There is not much to be gained from investigating on the host side.

[2018-08-09 17:55] rchande commented on #2445
@rich-ware I'm having trouble reproducing this with small test projects. Could you share your omnisharp log and a more specific description of your directory structure?

[2018-08-09 17:58] rchande commented on #2442
@lonix1 This should be fixed in our next release.

[2018-08-09 17:58] rchande commented on #2433
Ping @WeAthFoLD

[2018-08-09 18:41] rversaw commented on #2432
@chuckries Hey Chuck - thanks for all the work so far! From my perspective, some of what led to this issue for us is making sure we can have a "first class" development environment using Docker as opposed to the traditional setup (Windows + full VS). While the Windows side won't be as beneficial for tracing down the underlying reason for slowness in Docker, it could be a nice baseline to compare e

[2018-08-09 19:26] chuckries commented on #2432
Oh hey Ryan! Yeah I'll try to get some Windows numbers so we cat at least see local windows vs docker on windows.

[2018-08-09 20:19] chuckries commented on #2432
## Windows Data
|           | Windows |         |         |         |
|-----------|---------|---------|---------|---------|
|           | Local   |         | Docker  |         |
| iteration | Engine  | Adapter | Engine  | Adapter |
| 1         | 479288  | 479536  | 4851175 | 4852634 |
| 2         | 512262  | 512498  | 4858059 | 4859198 |
| 3         | 488561  | 488953  | 4797241 | 4798359 |
| 4

[2018-08-09 20:30] chuckries commented on #2432
@janaka @jamiegs One thing that I meant to address is how this relates to Visual Studio vs VS Code. When debugging on docker, both VS and VS Code run the cross platform C# debugger "vsdbg" inside the container. The performance of either fronted should be similar for docker scenarios; they are both dependent on vsdbg inside the container.

[2018-08-09 21:50] BertKleewein commented on #2165
@gregg-miskelly - any news on this?  I could use this right now.

[2018-08-09 22:10] janaka commented on #2432
@chuckries thanks for getting the Windows stats.
"may be worth noting that there is a larger difference between the windows and linux builds of the debugger than there is between linux and mac." Does this explain the difference native/local performance between Windows and macOS/Linux?

One of the reason we were interested in seeing the Windows stats.

How I/O bound is vsdbg? there seems to be some

[2018-08-09 23:10] chuckries commented on #2432
I will do my best to answer your questions, but until I can do the actual perfview analysis, these are best guesses.

1. It all started on Windows. Both coreclr and vsdbg are ports of the Windows .NET Runtime and VS Debugger, respectively. These had been worked and tuned for years and years on Windows, and the Windows versions of the ports benefit from this. I do not know exactly how much pure per

[2018-08-10 00:04] dansowter commented on #2438
@DustinCampbell Thanks so much. I upgraded to the latest mono-devel, and the new behaviour is that if I've run a `dotnet build`, followed by a `reload window` in VSCode, the C# files are now happy.

[2018-08-10 00:33] gregg-miskelly commented on #2437
@Excited-ccccly do you still install your extensions to the standard location (~/.vscode/extensions)?
Does `~/.vscode/extensions/ms-vscode.csharp-1.15.2/node_modules/rxjs/symbol/rxSubscriber.js` exist on your computer?

[2018-08-10 00:46] gregg-miskelly commented on #2437
@MaxIakovliev if you uninstall and reinstall the C# extension, does the problem still happen for you?

[2018-08-10 01:04] bkaatz commented on #1722
@DustinCampbell : Thank you for your response!
I had Mono and dotnetcore-sdk installed, but was missing MSBuild.
Thanks again for your quick response and assistance.

[2018-08-10 02:33] WeAthFoLD commented on #2433
Sorry I am busy past few days :/ Actually when I check the same file again now, the behaviour is all correct, so even I can't reproduce the bug. I think it's best to close this issue for now, and will file another one when the same problem appears again & I can find a way to reproduce it.

[2018-08-10 02:33] #2433 closed

[2018-08-10 03:26] Excited-ccccly commented on #2437
@gregg-miskelly No, it doesn't exsit.

[code]

Then I execute `npm install` in `~/.vscode/extensions/ms-vscode.csharp-1.15.2/node_modules/rxjs` folder. After installation, `rxSubscriber.js` still doesn't exist.

I have also tried to init another npm project and install rxjs as a dependency. The `rxSubscriber.js` exsits in this newly created project.

[2018-08-10 08:11] duki994 commented on #43
@savpek

Superb work. This is going to boost VSCode capabilities from advanced editor / light IDE
closer to heavy IDE's without performance degradation.

A medal for ya! 👍

[2018-08-10 10:48] Excited-ccccly commented on #2437
@gregg-miskelly  I have delete `ms-vscode.csharp-1.15.2` manually, and reinstall the c# extension. It works!

[2018-08-10 20:13] patilarpith commented on #2147
I'm seeing similar issue with Monaco editor.

Followed [Che csharp LS](https://github.com/eclipse/che/blob/master/agents/ls-csharp/src/main/resources/installers/1.0.1/org.eclipse.che.ls.csharp.script.sh) setup script as reference to setup omnisharp and its dependencies.
Picked up a [sample project](https://github.com/OmniSharp/omnisharp-roslyn/tree/master/test-assets/test-projects/ProjectWithSdkPr

[2018-08-10 21:54] GIimmer opened #2454 "Nonfunctioning Linter"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.0.3)

Product Information:
 Version:            2.0.3
 Commit SHA-1 hash:  12f0c7efcc

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.0.3\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.3
  Build    : a91

[2018-08-11 04:41] willscire commented on #2391
I also have this issue. I am using the latest version of VScode to edit standalone .cs files, but it tells me "There is no document formatter for 'csharp'-files installed." everytime I press ctrl+shift+f.

[2018-08-11 14:52] seanamosw commented on #1794
I'm also bumping into this. As others have said, using `Restart OmniSharp` from the command palette doesn't get OmniSharp working again. You have to at minimum use `Reload Window` to get it working again.

I tried to track down in what cases it reproduces, but it is kind of random. Sometimes you can debug multiple times in a row and it works just fine. Most of the time, a single debugging session

[2018-08-11 16:39] RoarkeRandall commented on #1794
My work around has been to exit the debug session (click the red box)
before the unit test completes.

On Sat, Aug 11, 2018, 7:52 AM seanamosw <notifications@github.com> wrote:

[2018-08-11 19:30] vsalvino commented on #283
I found myself wanting to use VS Code for an older non dotnet-core project. Ended up getting it working to satisfy my own needs as a functioning editor with ability to build profiles from the command line.

https://www.coderedcorp.com/blog/using-vs-code-with-a-legacy-net-project/

[2018-08-11 19:57] nwise commented on #2106
+1 for a solution to this

[2018-08-12 04:52] BlinkSun commented on #1053
If you use console: integratedTerminal, put this line in comment:
// "internalConsoleOptions": "openOnFirstSessionStart"
That ll avoid the auto switch Terminal tab to Debug Console tab at start.

[2018-08-12 23:46] mdx0101 commented on #168
C# support would be highly appreciated.

Many thanks.

[2018-08-13 11:24] E4N opened #2455 "C# Folding using directives"
On Visual Studio you are able to collapse using directives but it's not the case on Code for some reasons. Could this be addressed please?

![43970786-fa3d027a-9cce-11e8-8659-461f9ef1611a](https://user-images.githubusercontent.com/28897199/44029047-3f9a832c-9efc-11e8-91b4-937485a541a7.png)

[2018-08-13 14:56] rchande commented on #2455
Looks like our Roslyn-based folding implementation misses usings.

[2018-08-13 15:03] rchande commented on #2391
@willscire Just to confirm, is your C# extension working in scenarios where you have both .cs and .csproj files? I believe failure to format standalone cs files is the same issue we're tracking at https://github.com/OmniSharp/omnisharp-roslyn/issues/207

[2018-08-14 10:43] trydis commented on #2106
Another +1

[2018-08-14 13:59] goobering commented on #2445
+1. VS Code is unusable for C# with Omnisharp in its current state on my machine - red squigglies *everywhere*, accompanied by the popup error:

Executing `dotnet restore` , `dotnet build`, `dotnet run` from the terminal works as expected, but the editor's completely borked.

`dotnet --info` output:
[code]

I'd love to share the full log I get when I restart Omnisharp in VS Code but it's 10608 lin

[2018-08-14 14:17] vhetet commented on #2398
I am getting this issue with VS Code on a Mac too.
Have you guys found a fix?
Thanks

[2018-08-14 14:41] rchande commented on #2445
@goobering it looks like you ran your dotnet --info command from inside a WSL prompt or something--your OS is listed as Ubuntu but your logs contains Windows file paths.
Can you confirm that you're able to build the project from a Windows terminal?
Also your installed Visual Studio (which OmniSharp will use MSBuild from) is a bit out of date--could you try updating that?

[2018-08-14 15:31] goobering commented on #2445
I did indeed run `dotnet --info` from inside a WSL prompt inside VS Code. I can confirm that the project also restores/builds/runs from a Windows Command Prompt terminal in the same instance of VS Code that I ran the WSL terminal in. Per my initial comment, dotnet commands appear to be working correctly in both terminal variants - it's the editor that's stuffed.

The VS Code version I used to capt

[2018-08-14 16:01] ambroselittle commented on #1442
This issue seems more specific than mine but related, so I'll start here.

Basically, if I tell VS which solution to load, I'd like it to filter the Explorer file list by that solution (similar to VS view vs All Files view). My repo happens to have multiple, tangentially related solutions. Anyhow, I used the built-in file exclusion list to achieve the desired result, but it occurred to me this mig

[2018-08-14 16:33] rchande commented on #2445
@goobering Do you have VB projects in your solution? I'm looking at the
[code]
That appear in your log. That's not something I've seen before.

[2018-08-14 16:48] rchande commented on #2454
@GIimmer Can you share your "OmniSharp log"?

[2018-08-14 16:57] E4N commented on #2455
So if I may ask, when do you think this will be fixed?

Thank you.

[2018-08-14 17:11] skyflyer opened #2456 "Constantly looping and checking for errors when "Problems" pane is open"
Hello!

Perhaps the title is not spot on, but I couldn't find better words at the moment. Feel free to adjust the title. What is going on: When the "Problems" pane is focused and VS Code is focused, it is "looping" through problems periodically like it is trying to compile, recompile, recompile... It is hard to describe, so I recorded a video for you. This is happening on Mac OS Sierra and High Si

[2018-08-14 17:15] skyflyer commented on #2456
Here is the sample project, which is in the video:
[sample-project.zip](https://github.com/OmniSharp/omnisharp-vscode/files/2287870/sample-project.zip)

[2018-08-14 17:32] jbatte47 commented on #2047
I am experiencing the same issue when running `dotnet run` and/or `dotnet restore` from within a Docker container, when the source files are mapped as a volume to my local source directory. It seems that when anything other than VSCode performs a restore, OmniSharp perceives this as having its required assets altered or moved and needs to restore them. Currently trying to determine exact file path

[2018-08-14 17:57] dchw commented on #2456
I am seeing the same issue; its making life very difficult. This started happening when I upgraded VS Code to 1.26.

[2018-08-14 18:00] skyflyer commented on #2456
I believe this might be a VS code bug: See the issue here:
https://github.com/Microsoft/vscode/issues/56317

[2018-08-14 18:12] rchande commented on #2456
@skyflyer @dchw We haven't made any changes in our error reporting so you're probably right that this is a Code bug. I'm going to close this issue. Thanks for reporting this, and feel free to keep discussing if you like.

[2018-08-14 18:14] GlenCFL commented on #2456
I think every callback registered for `vscode.OnDidCloseTextDocument` is erroneously being invoked in some manner, so diagnostic files are removed over time. Eventually, the next project validation finishes and the diagnostics are reset.

You can fix it from within the extension by caching and restoring within that callback.

[2018-08-14 18:15] goobering commented on #2445
Certainly not on purpose - that particular project was me screwing around with the Razor Pages tutorial [here](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-2.1). I didn't create any VB content.

It doesn't seem to make any difference what the project structure is - I can start a fresh, empty project and achieve the same results, i.e. the dotn

[2018-08-14 19:33] EnterNewName opened #2457 "Launch: program "C:\Users\Lithimus\Documents\VS Code\BETA\bin\Debug\netcoreapp2.1\beta.dll" does not exist"
### Problem

My Build Won't Run although no errors
### Expected Result
For The Build To Run

### Unexpected Result
[code]

[2018-08-14 19:49] gregg-miskelly commented on #2457
From your screenshot it looks like the issue is the 'MCD' directory? Do you have an environment variable set named 'Platform' with a value of 'MCD'? If so, that is your problem.

You can do any of these things to fix it:
1. Remove that environment variable
2. Open tasks.json, and add another arg to the build task of: `"/p:Platform=AnyCPU"`
3. Open launch.json and correct the path to the program

[2018-08-14 20:35] EnterNewName commented on #2457
sorry im new excatly where do we put this

[2018-08-14 20:37] gregg-miskelly commented on #2453
@CoenraadS I am not sure I understand your issue.

Because you have `"internalConsoleOptions": "openOnSessionStart"` and `"console": "internalConsole"` set you should see that your program's stdout/err goes to the 'DEBUG CONSOLE' window and that the 'DEBUG CONSOLE' tab is brought to the foreground when debugging starts (see screen capture). Is this what you are seeing?

![image](https://user-image

[2018-08-14 20:39] EnterNewName commented on #2457
thank you it worked :)

[2018-08-14 20:39] #2457 closed

[2018-08-14 20:40] CoenraadS commented on #2453
@gregg-miskelly

The terminal is in the foreground for me and I must always switch to debug console manually.

I can provide a screenshot tomorrow (~10 hours from now), but its basically just the terminal saying build complete or something

[2018-08-14 20:42] gregg-miskelly commented on #2453
@CoenraadS Thanks, is that case this issue really belongs with VS Code. I will ping back their issue and see if they can reactivate it.

[2018-08-14 20:42] #2453 closed

[2018-08-14 21:47] gregg-miskelly commented on #2399
Documentation will be fixed in https://github.com/OmniSharp/omnisharp-vscode/pull/2458

[2018-08-14 21:47] #2399 closed

[2018-08-14 22:03] chuckries commented on #2432
Just an FYI: I won't have a chance to do a more in depth perf analysis on this in the next week or two. I will add to this issue when I have more info/results.

[2018-08-15 09:35] goobering commented on #2445
If it helps at all, it looks to me that I'm having extremely similar issues to those described in [2147](https://github.com/OmniSharp/omnisharp-vscode/issues/2147) and [2295](https://github.com/OmniSharp/omnisharp-vscode/issues/2295). I have already tried setting the Omnisharp version to 'latest' and restarting for the update, but with no success.

[2018-08-15 10:19] midgetgem opened #2459 "Resolve dependencies - add option to resolve/ignore all"
VS Code version: 1.25.1
C# Extension version: 1.15.2

When I open a solution I get a lot of popups saying it has dependencies to resolve, but there's no resolve all or ignore all button.  I have to just keep clicking in the same place to do them all, and hope the popup doesn't change and I click the wrong button.  Please add a resolve all and ignore all button.

A way to just close all popups with

[2018-08-15 19:04] rchande commented on #2456
Sounds like there are some changes we need to make to adjust to VS Code impll changes. Reopening this to track those changes.

[2018-08-16 05:12] WellerQu commented on #2234
I resolved this problem by reinstall the MonoFramework. hope to help u.

[2018-08-16 09:31] floreseken commented on #2437
Reinstalling the c# extension from the UI fixed it for me..

[2018-08-16 15:48] etiennejcharles commented on #2158
@Turkm Could you elaborate on how you solved it ?

[2018-08-16 16:30] Turkm commented on #2158
@etiennejcharles
You have to run  VS Community 2017 installer again so you could choose from itself which component do you want to install with VS, so the wrong way when you install  any .NET Framework version from stand alone installer, this way will not work for VS but will work for programmes which need the .NET.

[2018-08-16 22:33] ahuertabhg opened #2461 "Code wrapped in defines not highlighting correctly with Unity"
## Environment data
VS Code version: 1.26
C# Extension version: 1.15.2
Unity version: 2017.3.1f1 .Net3.5

## Steps to reproduce
1. Create unity project
2. Create code with defined out code Ex. `#if UNITY_ANDROID`

## Expected  behavior
Code that is not being compiled due to defines should be grayed out

## Actual behavior
Code looks normal or has incorrect highlighting. In the screenshot below the

[2018-08-17 00:07] akshita31 commented on #2459
@midgetgem We have made these changes in the new beta version - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16-beta2. You can install the beta version by following the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases#installing-a-beta-release-of-the-c-extension).

[2018-08-17 00:07] #2459 closed

[2018-08-17 13:11] blendsdk commented on #490
+1

[2018-08-17 15:42] janaka commented on #2165
Yep, keen to get a feel for progress/plans.

[2018-08-17 16:35] gregg-miskelly opened #2464 "CodeLensProvider test is flaky"
Both of my last two Travis jobs have failed due to the following error:

[code]

[2018-08-17 16:35] gregg-miskelly commented on #2464
Example build: https://travis-ci.org/OmniSharp/omnisharp-vscode/builds/417123497?utm_source=github_status&utm_medium=notification

[2018-08-17 17:53] #1944 closed

[2018-08-17 17:55] gregg-miskelly commented on #2464
A tried a third time and Travis passed, so updating the title of the bug

[2018-08-17 17:56] akshita31 commented on #2464
@gregg-miskelly I have seen this flakiness often. I will investigate this now.

[2018-08-17 18:18] bkaatz commented on #2395
**@DustinCampbell**  In the Gentoo _dotnet_ overlay, there is no "msbuild-stable" nor "msbuild-bin", just "msbuild", but I am getting a similar error to the above:
[code]

[2018-08-19 12:39] ChrisRyuGS opened #2466 ".omnisharp folder is missing"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.105)

Product Information:
 Version:            2.1.105
 Commit SHA-1 hash:  141cc8d976

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.105/

Host (useful for support):
  Version: 2.1.0
  Commit:  caa7b7e2ba

.NET C

[2018-08-19 12:55] haridasnykiel opened #2467 "Trying to Debug Xunit test from VS Code GUI return Failed to start Debugger"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.26.1
C# Extension version: 1.15.2

## Steps to reproduce
1. Using xunit version 2.3.1
2. go to a xunit test
3. Click Debug test

## Expected  behavior
Should start the test and stop at break point

## Actual behavior
The test does not start and returns the following error:
[code]

FYI - the tests work when running them from term

[2018-08-19 14:15] filipw commented on #2466
`.omnisharp` folder is located in `%USERPROFILE%/.omnisharp` not under the extension path.  So, for example on your Mac it should be `~/.omnisharp`. You can read more here https://github.com/OmniSharp/omnisharp-roslyn/wiki/Configuration-Options

[2018-08-19 14:35] GlenCFL commented on #2456
This was resolved with the VSCode 1.26.1 release.

[2018-08-20 06:46] ChrisRyuGS commented on #2466
@filipw My VS Code couldn't load anything about omnisharp (intellisense, context menu about C#) then I'm tring to find cause.
I've already reinstalled several times but i got no luck.

My OmniSharp Log is following

Starting OmniSharp server at 8/19/2018, 9:27:24 PM
    Target: /Users/[username]/[project]

[ERROR] Error: spawn /Users/[username]/.vscode/extensions/ms-vscode.csharp-1.15.2/.omnisharp

[2018-08-20 15:58] Martin00001 opened #2468 "The Format document command does not work in multi root workspaces"
Issue Type: <b>Bug</b>

The command Format Document does not work in every project folder when there is multi-root workspace.

Extension version: 1.15.2
VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4790S CPU @ 3.20GH

[2018-08-20 16:47] akshita31 commented on #2466
@ChrisRyuGS In the output do you have a `C#` channel? Could you post the output from that ?

[2018-08-20 19:00] akshita31 commented on #2467
@haridasnykiel I am unable to reproduce the problem on my machine. Here is the sample project that I used: https://github.com/akshita31/xunit-2.3.1 and the "Debug test" seems to work fine for me for
VS Code version: 1.26.1
C# Extension version: 1.15.2

Could you share your project so it would be easier to debug what might be the error for you ?

[2018-08-20 21:00] Jonatthu commented on #1717
This is still happening on latest releases on windows 10

[2018-08-21 01:09] ChrisRyuGS commented on #2466
@akshita31 No, I don't have C# channel in the output.

[2018-08-21 03:05] gianlazz commented on #168
Wow I was shocked to find out that this wasn't supported. Super disappointed :/

[2018-08-21 07:04] seriouz commented on #168
They showed us a internal work in progress on the community stand up. And it looked promising!

[2018-08-21 08:40] mikes-gh commented on #168
They were very non-committal on the Stand up.  It is not a work in progress but an early investigation that may or may not turn into support for Razor in vs code.  They were very clear that they weren't making any promises.  I really hope that this proves to be achievable with the resources available and would appreciate an update here on the status of the investigation.

[2018-08-21 08:41] mikes-gh commented on #168
Is there a github repo of the investigation?

[2018-08-21 08:59] mika76 commented on #168
Getting updated on the issue is so disappointing. ASP.NET is a priority of .NET, VS Code is a priority - but the single thing that is stopping bringing the two together is what ... a lack of priority? I mean this issue was opened in 2016! All we've gotten are a couple of teasers and then silence in between.

[2018-08-21 10:37] devSoheilAlizadeh commented on #168
@mika76 They work hard to prepare this feature if you want to know the feature progress, join to the OmniSharp slack team. I asked about this feature in the twitter.
![image](https://user-images.githubusercontent.com/22220356/44396499-506ca980-a552-11e8-9e7f-155b6a301334.png)

I think OmniSharp isn't part of Microsoft and they are alone in the development of this extensions.

[2018-08-21 17:54] akshita31 commented on #2466
@ChrisRyuGS Can you try installing the latest beta - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16-beta2 by following [these instructions].(https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2018-08-21 20:09] haridasnykiel commented on #2467
Here is a sample of my csproj file:

`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <RootNamespace>C__Design_Patterns</RootNamespace>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="15.8.0" />
    <PackageReference Include="xunit" Version="2.3.1" />

[2018-08-21 20:29] haridasnykiel commented on #2467
Here is a sample of my csproj file:

<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <RootNamespace>C__Design_Patterns</RootNamespace>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="15.8.0" />
    <PackageReference Include="xunit" Version="2.3.1" />

[2018-08-21 20:31] haridasnykiel commented on #2467
https://github.com/haridasnykiel/Design_Patterns
this is the project that has caused this issue. I have tryed to create another project with the same configuration and this issue is still occurring. Seems to be a config with my vs code.

[2018-08-21 22:39] ChrisRyuGS commented on #2466
@akshita31 Ok. This beta version seems to work well for me.
OmniSharp Log output shows logs about starting OmniSharp Server and the features in code editor works well.

Thank you.

[2018-08-21 22:47] akshita31 commented on #2466
@ChrisRyuGS Glad to know it worked for you. This is a strange behavior and I still don't understand why that might have happened.
I will close this issue due to lack of information for further debugging. Feel free to reopen if there are any concerns.

[2018-08-21 22:47] #2466 closed

[2018-08-22 00:47] SeriaWei commented on #168
That's why I'm still using Visual Studio.

[2018-08-22 01:46] timminkov commented on #2136
I'm having the same issue, FYI

[2018-08-22 02:09] welkie commented on #168
@SeriaWei I'm more of a fan of Rider from JetBrains myself, if I want Razor support. I can't wait for VS Code to get it though. :pray:

[2018-08-22 04:58] danroth27 commented on #168
As @Andrew-MSFT mentioned previously we have started investigating VSCode support for Razor. We even showed a demo recently on the [ASP.NET Community Standup](https://youtu.be/7Eh_l7jEcCo?t=15m34s) of some of our early prototyping work. We've also reached out to various folks in the OmniSharp community to discuss how best to proceed with this effort. Nothing to share publicly yet, but we are worki

[2018-08-22 06:37] tdwright opened #2469 "Asking Omnisharp to add a namespace results in the change being made in a new editor pane"
## Environment data
`dotnet --info` output:

[code]

VS Code version: 1.26.1
C# Extension version: 1.15.2

## Steps to reproduce

1. Refer to a type in a namespace not yet referenced in a `using` statement
2. Open the "lightbulb" and select "using The.Namespace"

## Expected  behavior

Change is made to the file in the current editor pane

## Actual behavior
New editor opens for same file, where t

[2018-08-22 10:13] spassvogel opened #2470 "List<string> shows view of raw object in the VS Code watch window"
I think the formatting of collections in the debug watch window can use a lot of improvement. Compare how visual studio code currently handles a list of `String`.

![image](https://user-images.githubusercontent.com/985892/44457696-3b505300-a604-11e8-9752-1eebc7778c8e.png)

Whereas in Visual Studio the quick watch feature was much more useful:

![image](https://user-images.githubusercontent.com/985

[2018-08-22 15:39] gregg-miskelly commented on #2470
@spassvogel Are you debugging Mono, .NET Core or .NET Desktop?

If .NET Core or desktop - what version of .NET Core/Desktop are you targeting? What OS are you on? Can you reproduce this problem in 'Hello World'? If not, do you have a project you can share?

[2018-08-22 16:26] goobering commented on #2445
Deep joy. I followed [this report](https://github.com/OmniSharp/omnisharp-vscode/issues/1998), ran `sudo apt-get remove mono-devel` from my WSL terminal, and I'm back in business. No more red squigglies. @rich-ware - does this have any effect on your system?

[2018-08-23 09:59] spassvogel commented on #2470
I'm on Windows 10. I'm experiencing this whilst debugging Unity3d, so that's Mono I suppose, right? I'm seeing the same in Visual Studio Code 1.25 and Visual Studio Code - Insiders 1.27

![image](https://user-images.githubusercontent.com/985892/44518859-ae70cc80-a6cb-11e8-905d-d914eeb6568f.png)

![image](https://user-images.githubusercontent.com/985892/44518856-ac0e7280-a6cb-11e8-9b2b-23ebd68d7e65

[2018-08-23 15:17] rayrSC opened #2472 "Autocomplete often incorrectly replaces typed text"
Original issue reported here: https://github.com/Microsoft/vscode/issues/57037
I was asked to refer this issue to the C# extension project instead.

Often, while typing in the editor, when I press space after a word, the editor will replace the perfectly valid code with something invalid.  I am currently working in C#, and have this happen frequently with several keywords.  Today, I tried the Insi

[2018-08-23 16:14] divinebovine opened #2473 "Using omnisharp latest setting causes omnisharp to fail downloading with 404"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.26.1
C# Extension version: 1.15.2

## Steps to reproduce
Set `"omnisharp.path": "latest"` in user settings
Open an existing project c# project
Watch C# output window

## Expected  behavior
vscode downloads the latest omnisharp

## Actual behavior
[code]

[2018-08-23 17:03] gregg-miskelly commented on #2470
Thanks. If you were seeing this with .NET Core/Desktop - it would be a bug. Since you are seeing this in Mono debugger, this probably is a feature request. But not to this extension - the mono debugger isn't from this extension. I will see if I can find your issue a home.

[2018-08-23 17:06] gregg-miskelly commented on #2470
This issue was moved to Microsoft/vscode-mono-debug#48

[2018-08-23 17:06] #2470 closed

[2018-08-23 17:57] akshita31 commented on #2473
@divinebovine Thank you for filing the issue. We are looking into it.

[2018-08-23 18:42] DustinCampbell commented on #2472
That is definitely strange behavior! Is the correct word selected in the completion list when you press SPACE? cc @rchande / @akshita31

[2018-08-23 19:04] DustinCampbell commented on #2395
@bkaatz : This issue was for arch, not Gentoo. Could you file a different issue rather than chiming in on a closed issue with a different distro? Note that the issue here is that there is some bug that was introduced into Mono's MSBuild that has since been fixed.

[2018-08-23 19:08] DustinCampbell commented on #2455
@E4N : Could you verify what version of the C# for VS Code extension you are running?

@rchande : Have we actually shipped that in a C# for VS Code release yet? If not, perhaps we should just ship that functionality?

[2018-08-23 19:16] DustinCampbell commented on #2467
I cleaned up the exception text so that it is clearer to see what is failing. It seems that the result of `dotnet --version` was not parseable by OmniSharp? That's *very* strange. Could you cd to the directory of the test project with the terminal window, run `dotnet --version`, and let us know what the output is?

[2018-08-23 19:18] DustinCampbell commented on #2468
Hi @Martin00001, you right that this does not work today. https://github.com/OmniSharp/omnisharp-vscode/issues/1889 will need to be fully implemented before that can happen.

[2018-08-23 19:29] DustinCampbell commented on #2398
@akshita31 : Do you have any thoughts here? It seems like something we could address.

[2018-08-23 19:32] DustinCampbell commented on #1722
Glad to hear it!

[2018-08-23 19:50] rayrSC commented on #2472
Yes.  At the very beginning of type (in the example video, after typing `p`), it suggests `partial`, but as soon as I press `r` and for every character afterwards, the top, highlighted suggestion is `private` in the completion list.  It acts almost as though the visual list has been updated but the one it uses after pressing the completion key has not.

[2018-08-23 20:04] rchande commented on #2473
@divinebovine Thanks--the 404 should be resolved.

[2018-08-23 20:36] E4N commented on #2455
@DustinCampbell 1.15.2.

[2018-08-23 21:11] akshita31 commented on #2473
Yeah this is fixed now. @rchande Shall we close this one ?

[2018-08-23 21:18] #2473 closed

[2018-08-23 21:18] akshita31 commented on #2398
@DustinCampbell I made a fix to omnisharp-roslyn that handles a problem with the debug session : https://github.com/OmniSharp/omnisharp-roslyn/pull/1239. I believe this issue should be fixed by that.

@xcellsoft Can you try installing the [latest beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16-beta2) by following[ these instructions](https://github.com/OmniSharp/omnisharp-vs

[2018-08-23 21:34] vhetet commented on #2398
I just tried with the latest beta and it did not fixed it for me. Let me know if there is any info or test I could run that could help.

[2018-08-23 21:54] haridasnykiel commented on #2467
It is really strange because it was working and then it just started to throw this error without me changing any configurations or updating any packages. Anyway this is the output of the dotnet --version command: 2.1.302
Thanks your help

[2018-08-23 22:25] #2299 closed, assigned to nobody

[2018-08-23 22:26] gregg-miskelly commented on #2104
If you are still running into this let us know and we can try and help.

[2018-08-23 22:26] #2104 closed

[2018-08-23 22:27] #1953 closed

[2018-08-23 22:29] gregg-miskelly commented on #1893
@chuckries should this still be open?

[2018-08-23 22:37] gregg-miskelly commented on #2212
I am going to look into fixing conditional breakpoints. If this is easy to fix at the same time I will look at this too.

[2018-08-23 22:42] divinebovine commented on #2473
Hey guys, thanks for looking into this, but I'm still experiencing the 404.

[2018-08-23 22:49] rchande commented on #2473
@divinebovine Should be fixed (again) (and not regress). Try again?

[2018-08-23 23:05] divinebovine commented on #2473
@rchande thanks, it appears to be fixed.

[2018-08-24 00:31] akshita31 commented on #2398
@vhetet Can you provide some repro steps.

[2018-08-24 07:48] mohamad-xtouch commented on #490
+1

[2018-08-24 14:14] vhetet commented on #2398
So I run or debug a test and it will work fine the first time. But after the test end I see this in the omnisharp log.
`/Users/vhetet/.vscode/extensions/ms-vscode.csharp-1.16.0-beta1/.omnisharp/1.32.2/run: line 28: 72415 Killed: 9               "${mono_cmd}" "${omnisharp_cmd}" "$@"`
After that run and debug don't work and I need to restart VSCode

The steps are basically run a unit test, and check

[2018-08-24 18:14] #2456 closed

[2018-08-26 07:51] aaBaO commented on #1888
Sorry, i reinstalled VSCode and update .Net SDK to 2.1.4.
This issue is still.
I use Mac Unity 2018.1.1f1
Here is the output i got:
[code]

[2018-08-27 01:29] sharkguto commented on #25
+1

[2018-08-27 22:54] rchande commented on #2472
@rayrSC That's extremely strange! I haven't been able to reproduce this on a relatively recent insider's build. Would you mind updating and see if you still see the issue?
[code]

[2018-08-27 22:56] rchande commented on #1888
@aaBaO This issue is closed--please file a new one if you're still having issues. By the way, did you install mono as described in https://github.com/OmniSharp/omnisharp-vscode/issues/1888#issuecomment-359895869 ?

[2018-08-28 07:41] shodanx2 commented on #25
I was going to ask, is vb.net supported ?  But seeing this thread, I have to assume this extension only supports C# and not vb.net . I think that is going to prevent me from switching for full visual studio to visual studio code

[2018-08-28 10:16] tewarid commented on #2110
For whoever lands here looking for an answer, add the following to user settings

[code]

[2018-08-28 12:26] TheIdanLapid commented on #1167
dotnet new
Prints: "Usage: new [options]"
dotnet restore
Prints: "Nothing to do. None of the projects specified contain packages to restore."

But still I can't run the program.cs with F5 because of this line in launch.json:
"program": "${workspaceFolder}/bin/Debug/<insert-target-framework-here>/<insert-project-name-here>.dll"

[2018-08-28 17:18] rchande commented on #2469
@tdwright I'm unable to reproduce this on VS Code 1.26.1 or on the latest insiders' build--would you mind sharing a video or screenshot?

[2018-08-28 17:58] DustinCampbell commented on #2455
I just verified that this works as expected (the using directives are foldable) in the [latest 1.16 beta](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16-beta2). If you're interested in trying it, you can follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2018-08-28 17:58] #2455 closed

[2018-08-28 18:01] DustinCampbell opened #2474 "1.16-beta2 shipped without updating version number"
The latest `1.16-beta2` still has `1.16-beta1` in the `package.json`.

[2018-08-28 18:33] #2474 closed

[2018-08-28 20:40] #47 closed

[2018-08-29 09:43] GabrielMariusPopescu commented on #2373
Tried what @gregg-miskelly suggested step by step, but for some reason it didn't work.
However, I found another way to fix this one: download and unzip files from https://omnisharpdownload.blob.core.windows.net/ext/omnisharp-win-x64-1.30.1.zip into the C:\Users\USERNAME\.vscode\extensions\ms-vscode.csharp-1.15.2\.omnisharp\1.30.1 and omnisharp server will run each time you load up a project into v

[2018-08-29 13:04] tdwright commented on #2469
@rchande Not sure what's changed (perhaps an update?), but I'm not able to replicate this anymore either. Will close the issue.

[2018-08-29 15:54] jmathew commented on #1794
I'm seeing the same thing. Reload window is required to bring it back.

[code]

Using vscode version
[code]

[2018-08-29 15:56] dansoper commented on #2472
Same here, with
VS Code version: 1.26.1
C# Extension version: 1.15.2

Very quickly installed Insiders and doesn't seem to be happening there, but will keep trying and report back if it does happen.

[2018-08-29 22:50] akshita31 opened #2478 "Eliminate install.Lock from the download and install pipeline"
The extension needs a better mechanism to be able to identify whether the required dependencies are installed or not.

cc @rchande

[2018-08-29 23:03] gregg-miskelly commented on #2478
@akshita31 what don't you like about install.Lock?

[2018-08-29 23:35] akshita31 commented on #2478
@gregg-miskelly install.Lock is a file, the presence of which tells us currently that the default omnisharp and the debugger packages are installed. However if the user somehow deletes these folders, until the install.Lock is present, a new download wont be triggered. Wouldn't it be better if we could somehow check the "run" file associated with the packages to ensure that those folders are presen

[2018-08-30 08:12] DustinCampbell commented on #2478
What if we had two install.Lock files -- one for OmniSharp and one for the debugger? The files could then be written to the `.debugger` and `.omnisharp` folders respectively after extracting the archives. Then, users would just need to delete the appropriate folder to re-download.

[2018-08-30 08:14] DustinCampbell commented on #2472
Is it possible that another extension installed into 1.26.1 is interfering and causing the issue?

[2018-08-30 12:51] glazjoon commented on #490
+1

[2018-08-30 14:57] vhetet commented on #2398
@akshita31 have you been able to look at that?

It keep crashing and I have to restart VSCode every time. It's really a pain. Thanks

[2018-08-30 15:31] DustinCampbell commented on #2472
It might be worth installing them 1 at a time into Insiders to see if one of them is the culprit. Additionally, you might try uninstalling and reinstalling C# in 1.26.1 and see if the problem persists. It's definitely not normal behavior.

[2018-08-30 15:57] rayrSC commented on #2472
I had to work on something else for a few days, so I didn't have a chance to do any further testing on this until now.  I have yet to experience the problem with the latest Insiders build, but that's not really direct evidence of anything.  The issue seemed to happen more frequently when I was focused and typing quickly, which is unfortunately since it would often disrupt that focus.

As far as ex

[2018-08-30 16:44] xcellsoft commented on #2398
Sorry, I haven't been monitoring this thread lately.

I did apply the beta awhile back which helped with some issues like the syntax error problem where you'd have to restart VSCode. But it seemed to cause more frequent sporadic issues i removed the beta.

There are still some issues relating to this original thread. A few times a day at least i'll start a unit test debug and it'll it just hang th

[2018-08-30 16:55] SirIntruder commented on #2472
It happens to me frequently, but never when I try to replicate it... I also noticed it always happen when I am typing really fast. I will try to work with insiders and report if I find it there

[2018-08-30 17:51] gregg-miskelly commented on #2478
Sounds good to me

[2018-08-30 18:04] rchande commented on #2398
@DustinCampbell I'm pretty sure the issue here is that running the test host under the debugger causes it to send bad/unexpected messages to OmniSharp, which then crashes. Note that this only happens when OmniSharp is running under mono. I've been having trouble getting the VS Code mono debugger to break on exceptions. Do you have any debugging strategies you would recommend?

[2018-08-30 19:01] ShadowDancer commented on #168
@danroth27
Do You have anything like dev feed? :) I would be happy even with prototype demo.

[2018-08-30 19:57] danroth27 commented on #168
@ShadowDancer Not yet, but the intent is that the development work will be public and open source. We just have a few more hoops to jump through.

[2018-08-30 20:50] xcellsoft commented on #2398
It's tough getting it reproducible on demand. I'll keep working on it - really busy on a big project.

With the beta build I'm having a common issue a couple times a day. Just had it now. I feel i have less issues with the non-beta version.  The syntax error bug  with the unit tests appears it is fixed so it's a trade off now.

Was debugging a unit test to see the outcome of some variables being p

[2018-08-30 21:45] brogan89 commented on #2413
I know this has been closed now, but just in case others have issues and find them selves here. I had a similar issue on MX Linux. I solved it by installed `mono-devel` and `msbuild` packages. - Probably obvious to linux users but I'm a bit of linux noob so it wasn't so obvious at first.

[2018-08-30 22:33] #2428 closed

[2018-08-30 22:33] #895 closed

[2018-08-30 22:34] #2296 closed

[2018-08-30 22:34] #477 closed

[2018-08-31 07:14] ClaireKang opened #2480 "Debugger: Attach should stop debugging if stop app that launched with command window."
## Environment data
`dotnet --info` output:
VS Code version: 1.26.1
C# Extension version: v1.16-beta4
SDK: 2.1.401

## Steps to reproduce
1. Open attachment project with VSCode.
[hwapp.zip](https://github.com/OmniSharp/omnisharp-vscode/files/2339083/hwapp.zip)
2. Launch the project in Command Prompt using the command "dotnet run"
3. Set a bp at line of 16( a++; ) in Program.cs.
4. Select the debug

[2018-08-31 08:35] icenold commented on #1683
Too much drama just to even debug a hello world app.

[2018-08-31 11:29] f3rland opened #2481 "System.IO.FileLoadException: Could not load file or assembly 'System.Collections.Immutable'"
## Environment data
`dotnet --info` output:
[code]

VS Code version:
[code]

C# Extension version: 1.15.2

## Steps to reproduce
**1.**
[code]

**2.** Open folder in VS Code

## Expected  behavior

Working intellisense

## Actual behavior

Getting this error in OmniSharp Log :

[code]

[2018-08-31 16:51] gregg-miskelly commented on #2480
This isn't a regression from 1.15, so I don't think I want to fix this for 1.16 at this point. But certainly seems like something that should be fixed.

[2018-08-31 17:55] gregg-miskelly commented on #2480
This looks like a CoreCLR bug. I opened https://github.com/dotnet/coreclr/issues/19791 to track it.

[2018-08-31 17:55] #2480 closed

[2018-08-31 21:43] akshita31 opened #2482 "Rename file according to class using the codelens results in two files"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version: 1.16.0-beta3

## Steps to reproduce
1. open a project for the first time
2. the project has a class called C in a file called C.cs
3. open C.cs
4. rename the class C to B
5. save the file
6. You will get a lightbulb offering to rename the from C.cs to B.cs to match the name you just used
7. Use it and then Ctrl+T

#

[2018-08-31 21:49] akshita31 commented on #2482
cc @rchande

[2018-09-01 00:41] akshita31 commented on #2482
@rchande I installed 1.15.1 version of the extension and seems that this error was already present in that as well. Here is roughly how the Renaming works:

1. The existing file "C.cs" is deleted and a file "B.cs" is added to the workspace using the BufferManager UpdateWorkspaceAsync method(using the filewatcher that is set up by the MSBuildSystem)
2. However somehow the extension is sending an Up

[2018-09-01 01:07] akshita31 commented on #2482
It is strange. When I run the extension from the extension host I dont get that error however the vsix has it.

[2018-09-01 07:10] ChaosCA opened #2483 "Debugger doesn't find PDBs in their original built location"
## Environment data
`dotnet --info` output:
[code]

VS Code version: Latest Stable
C# Extension version: 1.15.2

## Steps to reproduce
Opening a root workspace with a .sln and a `Source/` folder. Build into `Output/Debug`. However the launch PDB's build into `Source/PROJNAME/obj/Debug/PROJNAME.pdb` but is not detected by the extension as I believe it is looking in the `Output/Debug` folder.

## Ex

[2018-09-01 16:00] jwvanderbeck commented on #1899
I see this issue is old, but it isn't closed and I am having pretty much the same issue.

I got an error saying the dotnet CLI weasn't installed along with a link to download it from.  I followed that link and installed it, and continue to get the error.

Opening the VS Code Terminal and running `dotnet --info` indeed returns an error.  If I open CMD and run `dotnet --info` however I get output:

[2018-09-01 16:57] gregg-miskelly commented on #2483
The default search locations will be: the original location where the compiler dropped the PDB and next to the dll. If you have full Visual Studio installed with the C++ work load, there is a tool called 'dumpbin' in there that will let you see what this original directory is -- from a VS developer command prompt run `dumpbin /headers <path-to-dll> | findstr RSDS`.

I am not sure why adding the di

[2018-09-01 23:29] ChaosCA commented on #2483
No, that only seems to happen in one project of mine.

The only other 'errors' are:

[code]

Appreciate the help, would really love to get this working. @gregg-miskelly

[2018-09-01 23:38] ChaosCA commented on #2483
I was able to partially solve the issue!

Using this option:

[code]

It will work properly for the one. But using this option:

[code]

Results in:
[code]

I assume this is because in my `Source/` directory there is also a client portion which does not have the `obj/Debug/netcoreapp2.0` is there anyway around this? Ideally adding every csproj path here shouldn't be required

[2018-09-01 23:44] ChaosCA commented on #2483
What's so weird is that even if I don't have the `searchPaths` set, it will still find test1's PDB to report an error.

[code]

So it KNOWS where the PDB is, but still claims it can't find them for other csproj's.

[2018-09-02 00:03] braunsonm opened #2484 "OmniSharp does not set SolutionDir variable"
## Environment data
`dotnet --info` output:
[code]

VS Code version: Latest Stable
C# Extension version: 1.15.2

## Steps to reproduce
Setup a CSproj with something like this for example:
[code]

## Expected behavior
The extension should at least set the variable to your workspace root or have the option too. This is the default behavior of Visual Studio 2017 and will cause issues with anyone that

[2018-09-02 00:03] ChaosCA commented on #2484
As a user fix, you can add this to your build task:

[code]

[2018-09-02 00:06] braunsonm opened #2485 "Ignores rulesets when showing problems/warnings"
## Environment data
`dotnet --info` output:
[code]

VS Code version: Latest Stable
C# Extension version: 1.15.2

## Steps to reproduce
Use the official nuget for code anaylsis:
[code]

Add a ruleset:
[code]

## Expected  behavior
The problems tab would hide things that were ignored in the ruleset.

## Actual behavior
The problems tab ignores the ruleset and will show warnings you might not wish to

[2018-09-02 00:45] ChaosCA commented on #2484
I also believe it doesn't set the `ConfigurationName`

[2018-09-02 12:48] mzhukovs commented on #47
Nice - when will v1.16 be released with this?

[2018-09-03 00:14] szul commented on #2223
@AndrewJRichardson Mind sharing your solution for getting the debugger running under non-Core ASP.NET? I’ve been stuck on this for a bit. If you have an example launch.json and CSPROJ that would be awesome.

[2018-09-03 01:34] WangNanN opened #2486 "Debug toolbar is still displayed when the program already exited"
## Environment data
`dotnet --info` output:
OS Version: ubuntu-16.04.3-desktop-amd64
C# Extension version: v1.16-beta4
VSCode Version: 1.26.1

## Steps to reproduce
1. Create a dotnet core console app
2. Open this app with VSCode
3. Start debugging

## Expected  behavior
Debug toolbar should not be displayed

## Actual behavior
The program already exited, but the debug toolbar is still displayed
!

[2018-09-03 05:34] gregg-miskelly commented on #2223
@szul Did you look at https://github.com/OmniSharp/omnisharp-vscode/wiki/Desktop-.NET-Framework?

[2018-09-03 12:06] szul commented on #2223
@gregg-miskelly I have. Wasn’t able to get the debugger to attach without error. Talked a bit with the Microsoft guy who added the PR, but couldn’t get it running correctly.

@AndrewJRichardson Thanks! I’ll try this route. Didn’t have any IISExpress configuration changes, so maybe that will make the difference.

[2018-09-03 12:52] kruncher commented on #1377
+1 on the "files.exclude" thing. It seems strange to me that OmniSharp cannot see the solution/project files when they are excluded from the "Explorer" pane.

[2018-09-03 13:13] galvesribeiro opened #2488 "NRE when starting debugging with `pipeTransport`"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.26.1
C# Extension version: 1.15.2

## Steps to reproduce
Open directory containing a .Net Core solution, hit F5.

## Expected  behavior
The application to run/debugger properly as usual.

## Actual behaviour
NRE

I posted the issue on VSCode repo as it looks to me a VSCode problem as it started to happening after last update of

[2018-09-03 16:15] gregg-miskelly commented on #2488
I am not sure what the source of that error message might be. If you [enable logging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Enabling-C%23-debugger-logging#quick-method) do you get anything in the debug console that might be helpful?

[2018-09-03 16:18] galvesribeiro commented on #2488
@gregg-miskelly this is what I get:

[code]

[2018-09-03 16:30] gregg-miskelly commented on #2488
I don't have a mac at home to try this out, but here is I think your problem - you setup pipe transport with a bunch of commands. But by putting them under `windows` you are saying they are only used when you are on a Windows computer. Except that you aren't on Windows. If you just remove the `windows` element to indicate they are on all platforms, I think it will work.

[2018-09-03 16:46] galvesribeiro commented on #2488
Oh! Didn't saw that... It used to work on my old SurfaceBook2, that is why it is not working...

However, now I have this log with a different message:

[code]
![image](https://user-images.githubusercontent.com/4714040/44996405-2b2e6100-af7e-11e8-8c44-050fe877be16.png)

It wasn't able to find the application code inside the container but that was a mistake on the kube configMap that was point to t

[2018-09-03 16:48] gregg-miskelly commented on #2488
Lets leave this open to track fixing the error handling here. But glad you solved the problem.

[2018-09-03 20:31] jsdev17 commented on #2413
@lucianposton I'm having this issue.
Can you please share steps to fix it?

[2018-09-03 20:43] programmer1718 opened #2489 "C# IntelliSense not working on Linux Ubuntu"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.26.1
C# Extension version: 1.15.2

I am not getting basic intellisense and snippet autocompletion in VS Code for Ubuntu.
I have the C# extension installed and I'm not sure about what's happening :disappointed:
Can someone please help?

This happens with any project I create using the dotnet CLI.

[2018-09-03 21:03] jsdev17 commented on #2489
![peek 2018-09-03 17-03](https://user-images.githubusercontent.com/33580723/45001468-4d82a780-af9b-11e8-8253-4dd6eacc2778.gif)
Here's what I mean

[2018-09-04 08:17] Necronux commented on #43
@savpek and where's the pull request?

[2018-09-04 15:29] rchande commented on #2489
@jsdev17 Can you share your OmniSharp log?

[2018-09-04 15:40] jwvanderbeck commented on #1899
VSCode was restarted after installing the CLI tools yes.

[2018-09-04 15:58] fasmat commented on #2489
@jsdev17 I had the same issue in OSX a while back.
I believe I fixed it by deleting the .omnisharp and .vscode directories in my home folder and reinstalling the extensions I need for development

[2018-09-04 16:36] gregg-miskelly commented on #1899
@jwvanderbeck your issue isn't related to the original issue, and also is probably a VS Code issue rather than an issue with this extension. But we can see if we can help.

How are you starting VS Code (ex: start menu, command prompt, etc)?
If you compare the output from `echo %PATH%` in the VS Code integrated terminal vs. a normal command prompt, what differences do you see?
If you look at your P

[2018-09-04 17:50] akshita31 commented on #2489
@jsdev17 Are you opening an entire project in vscode ot just the C# file?

[2018-09-04 18:27] jwvanderbeck commented on #1899
From the Start Menu icon that the installer created.  VS Code is installed with the newer user install versus the old system install if that matters

Output shown below, but it looks like the PATH variable is empty in VSCode.  In CMD it looks fine.  Actually I just checked in Power Shell directly and it is missing in there as well, so might be a Powershell issue.

No

No

Looks like as you stated

[2018-09-04 18:31] jwvanderbeck commented on #1899
A little digging online and I found that in powershell the proper command is actually `echo $env:PATH` and that does work for me in both PS and VSCode:

[code]

[2018-09-04 18:37] gregg-miskelly commented on #1899
@jwvanderbeck To make sure I understand, are you saying that you get exactly the same PATH in both the VS Code integrated terminal, and a regular PS prompt, but that in a regular PS prompt the `dotnet --info` command works, but it does NOT work in the integrated terminal?

[2018-09-04 18:57] jwvanderbeck commented on #1899
Ok I have it working now.  Not sure why it was giving me trouble originally but uninstalling the plugin, restarting VSCode, then reinstalling the plugin seems to have fixed the problem.

Maybe some quirk of me installing the plugin originally before I have installed the dotnet cli tools.

[2018-09-04 19:31] akshita31 commented on #2482
On investigating further I _think_ the problem is with the extension and not omnisharp. So what is happening is that when the file "B.cs" is deleted, we are invoking two end points from the extension:
1. Update buffer : https://github.com/OmniSharp/omnisharp-vscode/blob/d00799a71eda341d22515c05a66bcab82c6c50e7/src/features/changeForwarding.ts#L26 due to the `fileChangedEvent` from the workspace.

[2018-09-04 21:43] rchande commented on #1899
@jwvanderbeck Glad you got it working, but that is a bit strange--the C# extension shouldn't maintain state (aside from options) across reloads.

[2018-09-04 21:43] #1899 closed

[2018-09-04 22:34] akshita31 commented on #2481
@f3rland I am unable to reproduce the issue on my system:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.401\

Host (useful for support):
  Version: 2.1.3
  Commit:  124038c13e

.NET Core SDKs insta

[2018-09-04 22:35] rchande commented on #2481
@akshita31 What version of Visual Studio do you have?

[2018-09-05 00:05] akshita31 commented on #2481
Microsoft Visual Studio Enterprise 2017 Int Preview
Version 15.8.0 Preview 6.0 [27931.1.d15.8]
VisualStudio.15.IntPreview/15.8.0-pre.6.0+27931.1.d15.8
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Enterprise

Visual C++ 2017   00369-60000-00001-AA387
Microsoft Visual C++ 2017

Application Insights Tools for Visual Studio Package   8.13.10627.1
Application Insights Tools for Visual

[2018-09-05 02:09] mentoreet opened #2491 ""Error processing 'configurationDone' request. Unknown Error: 0x89720010" on dotnet core debugging."
**I originally posted this issue to vs code repository(https://github.com/Microsoft/vscode/issues/57840), but the team said it related with this extension. So i write my issue here again.**

OS : Windows 10 64bit.

I cloned the vs code repository today, and installed all the prerequisites(yarn, python2.7, node, vs2017 community, etc...).

Atfer that, i ran the command 'yarn' and launched vs code b

[2018-09-05 06:56] thunderDigimon opened #2492 "Some projects have trouble loading. Please review the output for more details."
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.401/

Host (useful for support):
  Version: 2.1.3
  Commit:  124038c13e

.NET Core SDKs installed:
  2.1.103

[2018-09-05 09:02] #2492 closed

[2018-09-05 09:45] f3rland commented on #2481
@rchande
Microsoft Visual Studio Professional 2017
Version 15.8.0
VisualStudio.15.Release/15.8.0+28010.0
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Professional

Visual C++ 2017   00369-60000-00001-AA456
Microsoft Visual C++ 2017

ADL Tools Service Provider   1.0
This package contains services used by Data Lake tools

Application Insights Tools for Visual Studio Package   8.13.

[2018-09-05 17:20] gregg-miskelly commented on #2491
@mentoreet The issue is that the C# extension debugger only supports running in official releases of VS Code. So you will need to use the official install if you want C# debugging.

[2018-09-05 21:30] akshita31 commented on #2485
@ChaosCA Could you share a repro project ?

[2018-09-05 21:57] ChaosCA commented on #2483
Hey @gregg-miskelly any update on this or if it's something I can simply create an MR for?

[2018-09-05 23:12] akshita31 commented on #2435
@rchande I investigated further into this and realised that we are only reading the "unitTestDebuggingOptions" to create a launch configuration for debugging. We do not have any mechanism to accept the settings for running the test and passing it to omnisharp.

IMO, we should pass these options along with the "RunTest" request and add code in omnisharp that reads these settings and passes them on

[2018-09-05 23:26] mikem8361 commented on #2240
Sorry I didn't get back to you sooner.  You need to clone the coreclr repo and follow the directions below. The resulting default build is "debug".

https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md

[2018-09-06 01:16] dan-modsi-io opened #2493 "When writing C# for Unity, VSCode changes my "return" statements to "ref""
Issue Type: <b>Bug</b>

1.  Create a project in Unity 2017 editor.
(I'm doing this on a mac, don't know about Windows or Linux)
(this may happen for other project types, I don't know)

2.  Add a c# Script to your Unity project using the Unity editor.

3.  Create a new empty function.. something like:
public float GetCost() {

}

4.  Place your cursor inside the function braces and type "return " w

[2018-09-06 06:15] gregg-miskelly commented on #2491
@mentoreet there is no way to do what you are trying to do and still have C# debugging - the C# debugger is licensed to only run in the official version of VS Code.

[2018-09-06 06:15] #2491 closed

[2018-09-06 06:53] jrieken commented on #2414
It will show with the label but only when selected. Like so:
<img width="197" alt="screen shot 2018-09-06 at 08 53 08" src="https://user-images.githubusercontent.com/1794099/45140188-4d102980-b1b2-11e8-84eb-a49c303be6e7.png">

[2018-09-06 08:12] SirIntruder commented on #2493
same issue as this https://github.com/OmniSharp/omnisharp-vscode/issues/2472

[2018-09-06 14:05] justcoding121 opened #2494 "Omnisharp does'nt respect excluded projects when running dotnet test"
Not sure if this is related to vscode or omniSharp.

## Environment data
`dotnet --info` output:

[code]
VS Code version:1.26.1
C# Extension version:1.15.2

## Steps to reproduce
Create multiple test .csproj  files for the test project. Exclude all projects except the one we need using omnisharp.json and settings.json file.

## Expected  behavior
When debugging a specific test method from vscode n

[2018-09-06 15:08] SirIntruder opened #2495 "Missing code signature when invoking methods on compiler constants"
VS Code version: 1.26.0
C# Extension version: 16 beta

When completing methods on compiler constants, like:

[code]

VSCode never displays signature help. IndexOf/ToString() are displayed in auto complete list, but once typed, signature help is not shown when pressing ctrl+shift+space inside argument parens.

If 3 or "foo" are assigned to variables, everything works as expected.

![2018-09-06_17-1

[2018-09-06 16:18] rchande commented on #2435
@gregg-miskelly Cool, thanks for clarifying that. It would probably make sense to have some kind of explicit "testSettings" option that you could set.

OmniSharp.json might be a better location for the setting simply because it's always a file in the repo. We wouldn't want users to accidentally configure this setting in their workspace settings in VS Code (as oppposed to putting a .vscode settings

[2018-09-06 17:12] gregg-miskelly commented on #2435
Yes, that was my thinking as well.

[2018-09-06 17:48] Jonatthu opened #2496 "Breadcrums are not working as good as typescript."
vscode 1.27 (and 1.26 too) mac and windows

When I click the method name, breadcrums are just fine.
![image](https://user-images.githubusercontent.com/3742176/45175248-d418ce00-b1c1-11e8-96e5-bb5b5e4595da.png)

When I click inside the method the breadcrums is not in sync with the method name
![image](https://user-images.githubusercontent.com/3742176/45175293-f1e63300-b1c1-11e8-99d2-0333394e5e2b.pn

[2018-09-06 18:10] craig-tive commented on #1794
👍 for getting this fixed. This is a major annoyance that's been open for almost a year now.

`VSCode 1.27.0`
`ms-vscode.csharp 1.15.2`

[code]

[2018-09-06 19:50] akshita31 commented on #2496
@Jonatthu Thanks for filing the issue. With the extension version 1.15.2 it definetly reproduces. However I tried with the latest beta and seems that it is fixed in that one. We will be doing a release soon so probably this wont be present in that.
If you are interested, you can try with the [latest beta]( https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16-beta4). The instructions fo

[2018-09-06 20:13] Jonatthu commented on #2496
@akshita31 Thanks! I am a huge fan of c# and vscode and I could not ignore this haha when my typescript is working as expected, I will wait for the release!

[2018-09-06 20:34] akshita31 opened #2497 "Use the vscode extension "logPath" to dump the relevant information into a file, which we can directly ask the users for while dealing with issues on github"
vscode recently added "logPath" to be used by the extensions for some logging.

We can use this file to detect possible causes of failures lusing:
1. Omnisharp log
2. C# log
3. Mono path used by the extension
4. MSBuild instances used
5. dotnet --info
6. extension version
7. vscode version

The contents of this file can then be directly posted to the github issue and we will have better context of

[2018-09-06 20:36] akshita31 commented on #2497
cc @TheRealPiotrP @rchande Any other thing you think we should add ? Also, whenever the extension is activated we will create a new file right ?

[2018-09-06 21:35] akshita31 commented on #2398
@DustinCampbell Can you help us here: https://github.com/OmniSharp/omnisharp-vscode/issues/2398#issuecomment-417413477. There are similar issues that are getting a lot of traction : https://github.com/OmniSharp/omnisharp-vscode/issues/2106

[2018-09-06 22:20] akshita31 commented on #2414
@jrieken I adopted the new API in this PR: https://github.com/OmniSharp/omnisharp-vscode/pull/2490. However the integration test is failing. It is still returning the symbol information type and when i query on the "detail", I am getting undefined. Any idea what might be happening here ?

[2018-09-07 00:13] akshita31 opened #2498 "Add a command for creating issues on github"
- [x] Mono version
- [x] Dotnet info
- [ ] Omnisharp log
- [ ] C# log
- [x] Vscode version
- [x] C# extension version
- [x] Information about the other installed extensions

[2018-09-07 00:42] akshita31 commented on #2420
If in the file system that the c# extension is watching, a file changes(create, modify, delete) whose filename ends in .sln, .csproj , .props or .targets, the workspace should be able to detect and respond appropriately:

1. When a csproj(that omnisharp has already loaded) is edited, omnisharp does the update automatically.
2. When a .sln file modified we prompt the user to restart omnisharp.
3. W

[2018-09-07 00:52] akshita31 commented on #2481
Thoughts @rchande ?

[2018-09-07 03:50] tdwright commented on #2469
Aha! It started doing it again and this time I was armed with a screen recorder!

The trigger is actually slightly different (I'm correcting a typo instead of adding a namespace) but the outcome is the same - the change is made in a new editor window instead of the one I triggered it from.

https://www.youtube.com/watch?v=KZzYYDpnRAA

Hope this helps.

[2018-09-07 07:35] jrieken commented on #2414
Are you using the api command in that test?

[2018-09-07 09:40] waaromikniet opened #2499 "OmniSharp behind Enterprise proxy"
VScode: 1.27.1
C#: 1.15.2

I can download the package OmniSharp. I have proxy system setting with a proxy pac file. I can download all extensions in VSCode and I can auto update but the OmniSharp package can't be downloaded. When I enter this url "https://omnisharpdownload.blob.core.windows.net/ext/omnisharp-win-x64-1.30.1.zip" in the browser I can access it.

*************************************

[2018-09-07 16:06] rchande commented on #2481
It basically sounds like the version of VS that @f3rland has installed has upgraded to a new copy of System.Collections.Immutable that OmniSharp doesn't have a binding redirect for. @f3rland Can you try setting the option "omnisharp.path" to "latest" and see if that helps? @akshita31 Alternatively, you can try upgrading to the latest internal build of VS 2017 and trying to reproduce this with the

[2018-09-07 16:11] gregg-miskelly commented on #2499
The two proxy settings supported by this extension are: `http.proxy` and `http.proxyStrictSSL`. So if you are setting them to your network's settings, I don't know why they wouldn't be working.

Does your proxy require authentication? It looks like VS Code supports the following additional setting, but the C# extension doesn't currently pass along to the downloader.

[code]

[2018-09-07 16:32] gregg-miskelly commented on #2499
Also, I am not sure where the IP address '68.232.34.200' would have come from. Do you always see that IP address? Is that what 'omnisharpdownload.blob.core.windows.net' resolves to on your computer? Can you ping it?

[2018-09-07 16:45] f3rland commented on #2481
Thanks @rchande , setting "omnisharp.path" to "latest" made it

[2018-09-07 16:47] waaromikniet commented on #2499
The proxy at my workplace requires authentication indeed., But when I use Fiddler I can configure it in such a way it passes authentication. So in VS Code I configure Fiddler as the proxy and Fiddler transfers to the other proxy passing my Windows credentials. I use this also for other applications that can't go through my work proxy.

I have to be at my workplace to see what that IP is from. When

[2018-09-07 16:54] akshita31 commented on #2481
@f3rland Glad to know it worked.
Thanks @rchande. I will close this issue now.

[2018-09-07 16:56] akshita31 commented on #2414
@jrieken This is [the test](https://github.com/OmniSharp/omnisharp-vscode/pull/2490/files#diff-3914e9c63d0b3334f21cb14aba14f661R43). I am using :
`<vscode.DocumentSymbol[]>await vscode.commands.executeCommand("vscode.executeDocumentSymbolProvider", fileUri);` to get the document symbols. The symbols are as expected h but they are of type SymbolInformation.

[2018-09-07 19:01] sgentile commented on #1449
@AndyPook  I get this:

command 'o.restart' not found
command 'o.pickProjectAndStart' not found

[2018-09-07 19:12] sgentile opened #2502 "Omnisharp not working on windows"
I have the latest visual code installed, and running in a VM.

When I try to use Omnisharp i'm not getting any intellisense, I can't do 'goto definitions' etc...

When I run Omnisharp: Restart Omnisharp

I get this error:  command 'o.restart' not found

[2018-09-07 19:13] sgentile commented on #2502
(I've tried uninstalling and reinstalling, it doesn't appear to help)

[2018-09-07 19:14] sgentile commented on #2502
e:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.400\

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.103 [C:\Program Files\dotnet\sdk]
  2.1.201 [C:\Program Files\dotnet\sdk]
  2.1.202 [C:\Program Files\dotnet\sdk]
  2.1.302 [C:\Program Files\dotnet\sdk]
  2.1.400

[2018-09-07 19:15] sgentile commented on #2502
(all my dotnet commands work great, no issues building or running the code)

[2018-09-07 19:21] akshita31 commented on #2502
@sgentile Do you have a "C# log" in the output pane on the right side ?

[2018-09-07 19:29] sgentile commented on #2502
I just saw this
https://github.com/OmniSharp/omnisharp-vscode/issues/2489

I completed deleted my .omnisharp and .vscode directories and now it properly installed it and it's working

[2018-09-07 19:29] #2502 closed

[2018-09-07 19:31] akshita31 commented on #2502
@sgentile Glad you got it working.

[2018-09-07 19:58] rchande commented on #1449
@sgentile Can you file a new issue and include in it:
the output of `dotnet --version`
your VS Code version
your C# extension version

[2018-09-07 19:59] rchande commented on #1449
Sorry @sgentile, looks like you did that already. Thanks.

[2018-09-08 00:30] gripusa commented on #168
sometimes, I lost the picture how Microsoft operates, they have a great product in the form of VSCode and they support many languages but they dont support a language which is developed by them and core to their development frameworks. If this is an issue with revenue cutting, surely , supporting Razor would not cut tot their budget because front-end developers would not be using Visual Studio any

[2018-09-08 16:43] prensing commented on #903
I think I am having the same problem, so want to re-enforce working on this. I have a project tree which contains a (Windows) VisualStudio solution file plus projects. I am now trying to compile it on Linux with .NET Core and VS Code. OmniSharp insists on loading the .sln file, which fails, and it does not offer any pickers.

If I rename the .sln and .csproj associated with VisualStudio, then Omni

[2018-09-08 19:16] galvesribeiro commented on #2488
@gregg-miskelly

Having second thoughts, it still fail:

[code]

[2018-09-08 20:14] CodeByNate opened #2504 "Method is Inaccessible due to its protection level - Yet not?"
Issue Type: <b>Bug</b>

I have two projects open in two Visual Studio Code windows. One classlib, one xunit test project. The xunit project references the class library and makes a static reference to a class (in namespace NWW) called SpecialMath, and uses a public static method GetOrdinal(int).  The code window for the xunit test shows a red squggly under GetOrdinal(), displaying "'SpecialMath.Ge

[2018-09-08 21:54] CodeByNate commented on #2504
This problem appears to have self-resolved after having closed the project and re-opened in a new instance of Visual Studio Code. No more squiggly lines.

[2018-09-08 21:54] #2504 closed

[2018-09-09 03:20] DFVSQY opened #2505 "Intellisence can't work in unity3d when double click a symbolic link c# file"
## Environment data
`dotnet --info` output:
VS Code version:1.27.1
C# Extension version:1.15.2

## Steps to reproduce
1. Create an empty unity3d project and create a symbolic link c# file to point other location.
2. Set the vscode as the default editor, then double click the c# file and it will be opened, but the c# file does't appear any intellisence tip.

## Expected  behavior

## Actual behavio

[2018-09-09 13:39] galvesribeiro commented on #2488
OK... Things are not making much sense here...

Yeah, agree. But that was working perfectly on Windows (just tested on a Windows VM).

If I remove the `windows` section or if I change it to `osx`, I get the error on the previous picture.

I thought that but in really it looks to me that on Windows it understands that the `cwd` and `program` are _behind_ the pipe program, which in this case is _ins

[2018-09-10 00:34] SIkebe commented on #2499
@waaromikniet  Setting `http_proxy` environmental variable to `http://<proxy id>:<proxy password>@<proxy server>:<proxy port>` work?

[2018-09-10 01:40] fjqingyou opened #2506 "Annotation-defined inheritance"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 1737

[2018-09-10 07:14] jrieken commented on #2414
Yeah, there is currently a backwards compatibility challenge. It's tracked here and will be tackled this month: https://github.com/Microsoft/vscode/issues/57984

[2018-09-10 13:12] waaromikniet commented on #2499
I have fixed the problem by using Fiddler in between.
In Fiddler set the option "Automatically Autehticate" to true

![image](https://user-images.githubusercontent.com/16294209/45299331-968eaa80-b50b-11e8-9305-547bf71b5b14.png)

Set "Act as a system proxy"

![image](https://user-images.githubusercontent.com/16294209/45299378-ba51f080-b50b-11e8-8afa-889247aa0b5f.png)

In VSCode set settings

    "h

[2018-09-10 13:12] #2499 closed

[2018-09-10 17:28] Guybrush21 commented on #490
+1

[2018-09-10 18:34] akshita31 commented on #1693
@DustinCampbell  The PR is merged. Can we close this now ?

[2018-09-10 18:36] akshita31 commented on #1150
@DustinCampbell This is fixed now right ?

[2018-09-10 18:42] akshita31 commented on #2176
Seems we regressed this behavior during some of the refactorings.

[2018-09-10 18:43] bkmalkoc opened #2507 "Fail: OmniSharp.MSBuild.ProjectManager, Attemped to update project that is not loaded"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.300
 Commit:    adab45bf0c

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.300\

Host (useful for support):
  Version: 2.1.0
  Commit:  caa7b7e2ba

.NET Core SDKs installed:
  1.0.0 [

[2018-09-10 19:26] bkmalkoc commented on #2507
@rchande
The project topology is shown below. Basically under one solution, test project and the core code under console application.
![image](https://user-images.githubusercontent.com/11876911/45319345-71427200-b4f4-11e8-9fe5-a1b5a1f522d9.png)

[2018-09-10 19:30] rchande commented on #2507
Also @bkmalkoc what kinds of projects are these? .NET Core, .NET Framework?

[2018-09-10 19:31] bkmalkoc commented on #2507
@rchande  it is .NET Core Version: 2.1.300

[2018-09-10 20:14] ChaosEngine commented on #1967
For me helped when I switched from _workspace project_ to _folder project_

[2018-09-10 20:15] ChaosEngine commented on #2391
For me helped when I switched from _workspace project_ to _folder project_

[2018-09-10 20:47] akshita31 commented on #2391
The latest version of the C# extension - 1.16.0 is out. We have added the support to edit csharp files without the projects. Please let us know if that resolves the problem.

[2018-09-10 21:47] djkiwe commented on #2507
Hello. I have this same problem just after OmniSharp updated itself. There has been an update from VS Code and the dotnet-sdk recently too, not sure if it's related. I'm using Fedora 28.

[2018-09-10 22:06] rchande commented on #2507
@bkmalkoc @djkiwe Could you try updating to the 2.1.400 release of the dotnet SDK and let me know if that helps?

[2018-09-10 22:11] djkiwe commented on #2507
I am using the latest sdk release.
Output of `dotnet --version`:

`2.1.401`

Output of `dotnet --info`:
[code]

[2018-09-10 22:13] rchande commented on #2507
@djkiwe Please share your omnisharp log. Thanks!

[2018-09-10 22:18] djkiwe commented on #2507
Now that I double checked, my log shows different errors from @bkmalkoc 's. Although both finish with the same statement: `OmniSharp.MSBuild.ProjectManager, Attemped to update project that is not loaded`.
Should I open a different issue?
Thank you!

[2018-09-10 22:40] djkiwe opened #2509 "[fail]: OmniSharp.MSBuild.ProjectManager: Attemped to update project that is not loaded."
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.27.1
C# Extension version: 1.16.0

## Steps to reproduce
None. Projects are not loaded by OmniSharp.

## Expected  behavior
Projects to be loaded.

## Actual behavior
I am currently working in 2 .net core projects. Neither is loaded by OmniSharp when I open them in VS Code.

## Extra information
OmniSharp Log:
[code]

[2018-09-10 22:53] bkmalkoc commented on #2507
@bkmalkoc @djkiwe I updated the .Net Core sdk to 2.1.401(latest) also updated the packages but no changes, still same error.

[2018-09-10 23:03] rchande commented on #2507
@bkmalkoc Is it possible for you to share just the csprojs? I can't reproduce this with the base output of "dotnet new"...

[2018-09-10 23:08] bkmalkoc commented on #2507
HotelContentFetcher.csproj

<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="AWSSDK.S3" Version="3.3.23" />
    <PackageReference Include="MySql.Data.EntityFrameworkCore" Version="8.0.12" />
    <PackageReference Include="Newtonsoft.Json" Version=

[2018-09-11 02:07] stamminator commented on #2391
@akshita31 works for me! I created a standalone .cs file with abysmal formatting, right-clicked, selected "Format Document", and everything became pretty.

[2018-09-11 02:17] akshita31 commented on #2505
@DFVSQY The latest version of the csharp extension is out. Could you try using that and seeing if the error still reproduces.

[2018-09-11 02:18] akshita31 commented on #47
The latest version of the c# extension which includes intellisense support for standalone c# files is out. Please do give it a try.

[2018-09-11 07:19] jrieken commented on #9
Nothing I am aware of. Maybe @hadi77ir knows?

[2018-09-11 08:14] icyh4mmer commented on #2509
I'm having a similar issue, yesterday everything was working fine, today it won't load the project. I'm using Unity 2018. Here is my log:

`Starting OmniSharp server at 9/11/2018, 10:09:51 AM
    Target: c:\GitProjects\juicycubes\juicycubes.sln

OmniSharp server started.
    Path: C:\Users\Luka\.vscode\extensions\ms-vscode.csharp-1.16.0\.omnisharp\1.32.4\OmniSharp.exe
    PID: 17732

[info]: OmniS

[2018-09-11 08:27] TiredOfCoding commented on #2509
Was having the same issue after updating the extension to 1.16.0 version this morning. Reverting extension back to 1.15.2 resolved the issue.

[2018-09-11 08:30] TiredOfCoding commented on #2509
Here is .vsix installer from this repository in case you need a quick workaround.
[csharp-1.15.2.zip](https://github.com/OmniSharp/omnisharp-vscode/files/2370110/csharp-1.15.2.zip)

[2018-09-11 09:55] DFVSQY commented on #2505
@akshita31 I have a try for it, the bug still exists.

[2018-09-11 11:11] boris-741 opened #2510 "OmniSharp.MSBuild.ProjectLoader The "GetReferenceNearestTargetFrameworkTask" task was not found"
Environment data
`dotnet --info` output:
[code]

VS Code version:
C# Extension version:

Версия: 1.27.1 (system setup)
Фиксация: 5944e81f3c46a3938a82c701f96d7a59b074cfdc
Дата: 2018-09-06T09:21:10.934Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Архитектура: ia32

Steps to reproduce
after the last update Omni Sharp stopped working
log:
[code]
OS Windows 7 SP1, Unity 2018.1 p

[2018-09-11 12:43] johnnyreilly commented on #2510
I'm hitting this too - I think others maybe as well: https://github.com/OmniSharp/omnisharp-roslyn/issues/1094

[2018-09-11 12:46] johnnyreilly commented on #2507
Affecting me as well...

[2018-09-11 12:50] boris-741 commented on #2510
I had previously installed the MS Studio 2015 but I removed it

[2018-09-11 13:47] flying-sheep opened #2512 "Cannot load envFile on windows"
Hi!

I have this config:

[code]

On windows, when I augment the error message with actual helpful info (#2511), I get:

something in your path handling code is wrong.

[2018-09-11 15:01] LuizPelegrini commented on #2507
This same error is also affecting me, I can no longer use the Unity Debugger

[2018-09-11 15:37] Ghostbird commented on #2509
Thanks a bunch! This solved the issue for me.

### Steps taken
0. Download version 1.15.2 (see link above, or the releases page)
1. Uninstall the C# extension in VSCode
2. <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd> `Extensions: Disable Auto Updating Extensions` <kbd>Enter</kbd>
3. <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd> `Extensions: Install from VSIX...`<kbd>Enter</kbd>
4. Reload VSCode

[2018-09-11 16:05] gregg-miskelly commented on #2512
I believe the problem is that `folder.uri.path` on [this line](https://github.com/OmniSharp/omnisharp-vscode/blob/a813b0de2f32759bf80c451039b0e1bc2cb0d3fc/src/configurationProvider.ts#L140) should be `folder.uri.fsPath`

[2018-09-11 16:51] vscodeguru commented on #2509
Thanks for the solution

[2018-09-11 16:55] bkmalkoc commented on #2507
I have completely removed everything from my computer (vscode, sdk) then reinstalled and now working. weird and foolish solution but at least I get th work going. @rchande

[2018-09-11 17:48] Spike2D opened #2513 "IntelliSense strings are localized"
Yesterday my VS Code updated Omnisharp, since then my intellisense and debugging messages are being outputted in another language from English, there doesn't seem to be any way to configure or change that behaviour.

[2018-09-11 17:51] DustinCampbell commented on #2509
@icyh4mmer: Your issue is different than the one filed here. Your log looks more like https://github.com/OmniSharp/omnisharp-roslyn/issues/1094.

[2018-09-11 18:14] rchande commented on #2507
@bkmalkoc Glad you got it working. Could you share your `dotnet --info` and omnisharp log from your working instance to help us understand how you fixed it?

[2018-09-11 18:18] akshita31 commented on #2505
@DFVSQY Thanks for filing the issue. We will look into this.

[2018-09-11 18:42] pietro-Alterdata commented on #2507
I've set my  ms-vscode.csharp package.json for the 1.32.3 version release of omnisharp and updated my extension folder with this version.
https://omnisharpdownload.blob.core.windows.net/ext/omnisharp-win-x64-1.32.3.zip

It worked for me.