[2019-04-05 19:56] ambs commented on #2937
@zeroskyx , where did you find the `omnisharp.json` file? Thanks

[2019-04-05 21:38] gregg-miskelly commented on #2968
Here is the problem:
[code]

I will port this issue to the CoreCLR repo

[2019-04-05 21:43] gregg-miskelly commented on #2968
This is now tracked with https://github.com/dotnet/coreclr/issues/23773

[2019-04-05 21:43] #2968 closed

[2019-04-06 01:22] gregg-miskelly commented on #2966
Yes, I also suspect a missing dependency might be the problem. I think the next thing I might suggest is taking a system call trace using `strace` and maybe we can see some missing file probes or other better indications of the problem. If that doesn't work, I can dig up how to run `ulimit` with vsdbg so that we can attempt to gather a coredump if it is crashing.

[2019-04-06 06:47] cordsac commented on #2970
ya, I got the point, the reason was the latest update (2.2.202.) So I downgrade .Net core to 2.1.202 and now problem solved

[2019-04-06 07:58] polterguy commented on #2398
FYI, I'll second this issue. I even tried reinstalling VS code in no vail. Codelens comes back when I restart VS code. Not a very complex project either ...

Its code can be found [here](https://github.com/polterguy/magic) (add the magic.io submodule following the recipe) in case you'd like to reproduce it ...

[2019-04-06 17:56] nhactung commented on #2876
I confirm that the SDK version 2.2.202 has conflict with OmniSharp, tried to install Mono, set the environment variables,.. but no result.
Switch back to the 2.2.105 everything is fine. So far so good, linting and intellisense are back, I hope to wait for an update or at least a solution.

[2019-04-06 18:38] Alex2357 commented on #2361
@gregg-miskelly Hi I've got this warning

[code]

How do I specify '"enableStepFiltering": false' in `"csharp.unitTestDebuggingOptions"` or where I should do this?

I tried to add this way no luck

[code]

[2019-04-06 20:15] jamars commented on #2927
@bradwilson, that's probably due to a problem with the Omnisharp server... It's annoying, but if you go to the "Command Palette" (Ctrl-Shift-P) and restart Omnisharp you should have intellisense back to making sense again... ;)

[2019-04-07 00:06] digital-abyss commented on #2876
I had this same problem with dotnet 2.1.602 -- downgrading to 2.1.500 worked for me as well.  Thanks @nhactung for the suggestion!

For those on linux mint or ubuntu:
` sudo apt-get install dotnet-sdk-2.1=2.1.500-1`

[2019-04-07 03:42] Cliwo commented on #2147
Similar issue on mac too.

C# Extension version: 1.18.0
MacOs: Mojave 10.14.3
VS Code version: 1.32.3(1.32.3)

Issue: Every time I start my Unity project(C# project), I got a message.

It is really weird cause my machine is mac, not window. (try to find .exe file on mac?)

My Solution: Comment out following line.
Preference: Open User Settings > Omnisharp: Path > Edit in settings.json >

Result:

[2019-04-07 07:07] nhactung commented on #2876
@digital-abyss welcome (y)

[2019-04-07 12:37] sourvinos commented on #2965
Thank you, @leawp! Mint Cinnamon 19.1, here!

[2019-04-07 14:34] Dev-Owl commented on #2876
I can confirm on my ubuntu 18.04 that version 2.2.202 causes issues with OmniSharp a downgrade to 2.2.105 "fixed" it so far.
Does anybody has more information what happened, did I miss an update somewhere ?

[2019-04-07 14:39] nguerrera commented on #2876
@rchande This would be the same issue that causes problems for 3.0. 2.2.2xx also requires msbuild 16.

[2019-04-07 14:44] nguerrera commented on #2876
Ditto for 2.1.6xx

[2019-04-08 00:28] bradwilson commented on #2927
Yeah, that's why I reported this bug, because on average I'm restarting Omnisharp between upwards of 20x per day (and it's a common complaint on my team).

[2019-04-08 03:45] sada-kubsad commented on #2876
confirm that pinning dotnet core version to 2.2.105 fixes the issue.

sudo apt-get install dotnet-sdk-2.2=2.2.105-1

[2019-04-08 03:50] SuperVBird commented on #2970
I also got this problem, I try to downgrade the .Net core to  2.1.602 and have uninstalled the visual studio code many times,but the omniSharp cache always in there ,so everytime I reinstall the visual studio code,the omniSharp not reinstall,So the problem still in there
`.NET Core SDK（reflecting any global.json）:
 Version:   2.1.602
 Commit:    04475eb7cf

Runtime Environment:
 OS Name:     Windo

[2019-04-08 05:06] SuperVBird commented on #2970
well,I figured out where the omnisharp cache is,So I reinstalled the fk little software,finally I found the reason is the slow speed of downloading the omnisharp ,haha,anyway thank u everyone
![LJ`)SKH2FR`98W04}H07GC7](https://user-images.githubusercontent.com/40413302/55699735-d31d7880-59fe-11e9-88bd-5273dee99144.png)

[2019-04-08 06:31] wuliaotc commented on #2820
I also have this issue

**_VS Code_**
Version: 1.32.3
OS: Ubuntu 18.04.2 LTS

**_C# Extension_**
Version: 1.18.0

[2019-04-08 09:09] SWATOPLUS opened #2972 "Intellisence doesn't work"
## Expected Behavior ##
Intellisence should show member list

## Actual Behavior ##
Writing object name and pressing a dot (.) doesn't shows members of this object, just shows members that I write before.

![изображение](https://user-images.githubusercontent.com/13176763/55712893-37890980-59f8-11e9-980b-10445019c93d.png)

## Environment information ##

**VSCode version**: 1.33.0
**C# Extension**:

[2019-04-08 09:28] SWATOPLUS commented on #2972
I wanna use it for csx files. But it also doesn't work.

![изображение](https://user-images.githubusercontent.com/13176763/55713625-b599e000-59f9-11e9-9e69-bf7d8cb3b3b2.png)

[2019-04-08 09:35] filipw commented on #2972
please share your OmniSharp log - `View > Output` and switch to `OmniSharp Log`

[2019-04-08 11:10] zeroskyx commented on #2621
@akshita31: anything we can do to help with the issue?

[2019-04-08 12:04] spboyer commented on #2945
related https://github.com/dotnet/cli/issues/9705

[2019-04-08 13:29] matthijsbreemans commented on #2876
Same here, works with 2.2.105-1

[2019-04-08 13:38] frederic-prusse commented on #2876
Same here, works fine with 2.2.105-1

Thank you @nhactung for the suggestion
and @digital-abyss for the command to copy / paste

[2019-04-08 13:45] bigredhdl commented on #2966
strace attached.  I haven't picked through it yet.  I thought I would throw it up here first and then start digging in.  BTW, handy script for starting strace before the process is started can be found here: http://konrness.com/linux/how-to-strace-a-process-that-has-not-started-yet/

[straceVsdbg.txt](https://github.com/OmniSharp/omnisharp-vscode/files/3054556/straceVsdbg.txt)

[2019-04-08 14:05] AndreyZWorkAccount opened #2973 "Alternative debugger using"
Hi guys,

I want to try [the debugger](https://github.com/Samsung/netcoredbg) using VS Code. The debugger supports VS Code Debug Adapter Protocol, so I'm wondering if there is a way to use the debugger through your extension ( sorry if I said something wrong ).

Is it possible to use my own Debug Adapter Protocol implementation instead of 'vsdbg-ui.exe'?

Best regards,
Andrey.

[2019-04-08 16:02] SWATOPLUS commented on #2972
@filipw It's empty. I tried to do some actions, write code, but nothing change

![изображение](https://user-images.githubusercontent.com/13176763/55738835-94081b00-5a30-11e9-92d8-e88f994cc575.png)

[2019-04-08 16:13] SWATOPLUS commented on #2972
This command and reopening folder in vs code, resolve an issue

[code]

[2019-04-08 16:13] #2972 closed

[2019-04-08 16:29] rchande commented on #2973
cc @gregg-miskelly ?

[2019-04-08 18:32] gregg-miskelly commented on #2973
The way debug adapters work in VS Code is that the `type` property in your .vscode/launch.json file tells VS Code what debug adapter to use when you hit F5. So if someone provided an alternative debug adapter that worked with .NET Code, you could modify the `type` property in your launch.json to use that debug adapter. I am not familiar enough with Samsung's debug adapter to know if it is a candid

[2019-04-08 18:32] #2973 closed

[2019-04-08 22:53] metoly commented on #2945
I will take this up with the dotnet CLI team, but the idea is to surface the "dotnet new gitignore" command in VS Code once it is added to the CLI.

[2019-04-09 01:31] gloveboxes commented on #2965
As a quick workaround, you can also set the MSBuildSDKsPath environment variable and point to Sdks location.

On Linux (Ubuntu 18.04 in my case) I added following to my .bashrc

export MSBuildSDKsPath ="/usr/share/dotnet/sdk/2.2.202/Sdks"

On Windows Edit System Environment Variables and add a system variable MSBuildSDKsPath and set to C:\Program Files\dotnet\sdk\2.2.202\Sdks

[2019-04-09 01:34] gloveboxes commented on #2970
As a quick workaround, you can also set the MSBuildSDKsPath environment variable and point to Sdks location.

On Linux (Ubuntu 18.04 in my case) I added following to my .bashrc

export MSBuildSDKsPath ="/usr/share/dotnet/sdk/2.2.202/Sdks"

On Windows Edit System Environment Variables and add a system variable MSBuildSDKsPath and set to C:\Program Files\dotnet\sdk\2.2.202\Sdks

[2019-04-09 01:51] SuperVBird commented on #2970
yeah,thank u ,my system is windows10 , I choosed the default install location,I checked the selection in process of install which reminded me  to inject the path,my problem have been solved,thank u again :)

[2019-04-09 02:22] Blizzardo1 commented on #2755
I'm actually having an issue with OmniSharp as well regarding Intellisense not working with External Packages. I've added HtmlAgilityPack and Flurl.Http to my project, despite them working, the intellisense is not picking up the methods.

The .csproj is at the root of the project folder, and the packages are added successfully.

[code]

This exists at the bottom of the log so I'm wondering, how is

[2019-04-09 06:24] sprudel79 commented on #2876
Many thanks for the suggestion to downgrade.

sudo apt-get install dotnet-sdk-2.2=2.2.105-1

Worked me for as well on Linux Mint 19.1

[2019-04-09 08:54] runephilosof commented on #2965
Fails in both Windows and Linux.

[2019-04-09 09:48] AndreyZWorkAccount commented on #2973
@ExceptionGit, @gregg-miskelly Thank you for help! I've reached my goal.

[2019-04-09 16:17] vlab22 commented on #2510
After update everything, solved with solution below.
[https://developercommunity.visualstudio.com/content/problem/160494/msbuild-broken-getreferencenearesttargetframeworkt.html](url)

[2019-04-09 17:18] gregg-miskelly commented on #2361
@Alex2357 Assuming you are debugging a unit test from the C# CodeLens, what you are doing is something that I would expect to work. I don't have the cycles to investigate today, but if you want to open a new issue hopefully I can take a look later.

[2019-04-09 17:50] Jma353 commented on #2763
+1 - I have experienced the same issue with the same project.

Something to note, I have not experienced this issue when opening other sub-projects of the `python-language-server` (e.g. `Core` sub-project).

[2019-04-09 17:50] Jma353 commented on #2763
@akshita31 @rchande any help with this?

[2019-04-09 20:12] ryanrazer commented on #2937
this did the trick for me:
https://github.com/OmniSharp/omnisharp-vscode/issues/2876#issuecomment-480547334

As well: https://github.com/OmniSharp/omnisharp-vscode/issues/2965#issuecomment-480262373

Plenty others reported this as a valid fix. MSs .net 2.2.203 and later don't work with latest omnibox.
Downgrading .net SDK to 2.2.105 did the trick for me. I had some issues with downgrading, i had t

[2019-04-09 20:20] ambs commented on #2876
Let me know when omnisharp supports these new version :grinning:

[2019-04-09 21:14] ejohn20 commented on #43
I'm attempting to test this in the latest version of the extension. Here's what I have done thus far:

- Configured these two switches in the settings.json file:

[code]

- Added the Puma.Security.Rules v2.1.0 package reference to the project, restored, and confirmed the dll exists in the following location:

[code]

- Created a omnisharp.json file in the home directory:

[code]

- The following c

[2019-04-09 21:30] gregg-miskelly commented on #2966
@bigredhdl It looks like this isn't a missing library problem but rather something in the vsdbg process is attempting to read or write to unaligned memory (at least if I understand the meaning of this signal code):

[code]

I will see if I can figure out how we can debug this.

[2019-04-09 23:50] gregg-miskelly commented on #2966
Here are some troubleshooting steps: https://github.com/OmniSharp/omnisharp-vscode/wiki/Attaching-to-remote-processes#2-save-a-coredump-of-a-possible-vsdbg-crash

[2019-04-10 08:21] RononDex opened #2976 "'?' in code breaks code highlighting"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.103
 Commit:    8edbc2570a

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.103\

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs installed:
  2.1.500

[2019-04-10 11:26] RononDex commented on #2976
Some additional info:
It only happens if the '?' is used as a conditional on nullables.
Like doing ```someNullable?.ToString()```

[2019-04-10 13:32] welkie commented on #2965
Experiencing this issue too on a fresh Ubuntu 18.10 / VS Code / dotnet sdk / Omnisharp extension install.

[code]

[2019-04-10 14:31] Dzivo commented on #1889
It doesnt even find project in the root -.-

[2019-04-10 14:50] bigredhdl commented on #2966
coredump attached.

[vsdbg-2401.cor.zip](https://github.com/OmniSharp/omnisharp-vscode/files/3064379/vsdbg-2401.cor.zip)

[2019-04-10 14:58] bigredhdl commented on #2966
Backtrace:
[code]

[2019-04-10 16:05] gregg-miskelly commented on #2966
Thanks! I am not sure why this doesn't cause an alignment fault on our ARM devices, but I think I see the problem.

[2019-04-10 16:36] gregg-miskelly commented on #2966
I did some more reading, and I **think** I might know what is going on. ARMv6 now has hardware support for unaligned memory access. It is an optional feature, but it sounds like most Linux kernel distributions enable it. I will see if I can find a way to disable unaligned fixups on one of our test devices.

In the mean time, it sounds like you can hopefully work around this using:
`echo 1 > /proc/

[2019-04-10 16:43] nguerrera commented on #2965
Please don't set MSBuildSdksPath. Install 2.2.1xx until the version is released that can resolve 2.2.2xx. This causes unexpected issues for VS and dotnet.

[2019-04-10 18:10] akshita31 commented on #2960
@manojbavikati Since we havent heard back from you I will close this issue now. Please feel free to reopen if the problem persists

[2019-04-10 18:10] #2960 closed

[2019-04-10 19:44] bigredhdl commented on #2966
Hmmm, I don't seem to have /proc/cpu/alignment .  Seems like that may be only valid on 32-bit ARM, but I haven't found a definitive answer on that yet.... I'll definitely turn that on if I can find way.

[2019-04-10 22:28] rickyah commented on #2513
I have the same problem on mac os Mojave (10.14.3) with dotnet 2.1.504 installed.

The omnisharp server prints all messages in spanish, although I have english as locale for the terminal and vscode. Unfortunately the workaround is not working, as on mac the Microsoft.CodeAnalysis dlls are not located on the omnisharp installation folder

[2019-04-11 04:46] savpek commented on #43
@ejohn20 haven't got time to test by myself but one thing comes in mind that
[code]
seems strange, can you replace it with
[code]

If analyzers are included in nuget packages at csproj they should be automatically activated in project scope.

LocationPaths are for global analyzers/codefixes/refactorings like kind of vsix extensions in visual studio. However i don't see reason why package cannot be

[2019-04-11 13:56] ashelleyPurdue commented on #2970
I'm also having this problem on Ubuntu 18.04 LTS.

[2019-04-11 14:20] anarsen commented on #2876
Latest OmniSharp beta as of now is `3.5.0-beta.2204` which seem to work with the latest .NET Core SDK.

Did this by setting `"omnisharp.path": "latest"` in VS Code's `setting.json`.

[2019-04-11 14:45] hashharvest commented on #2876
Confirmed that downgraded worked with suggestions above.

[2019-04-11 15:47] NullVoxPopuli commented on #2970
I also have this problem on Ubuntu 18.04 LTS, and this worked for me:
[code]

[2019-04-11 16:02] rchande commented on #2970
Hi all, we recently changed the version of mono that ships with omnisharp to hopefully improve this. Can you give it a try by setting "omnisharp.path": "1.32.16" in your VS Code options?

[2019-04-11 17:06] kattunga commented on #2734
Same problem here:
Debugger doesn't stops at breakpoints

Ubuntu 16.04
vscode 1.33.0 (installed from snap)
C# for Visual Studio Code 1.18.0
OmniSharp "omnisharp.path": "latest"
core 3.0.0-preview3-27503-5 (installed from snap)

application created with
`dotnet new razorcomponents -o WebApplication1`

[2019-04-11 17:08] Alex2357 commented on #2361
I was debugging NUnit test using F# Neptune plugin. I will try tomorrow to do this again on another machine to confirm that the mapping for source files worked or not and if it mapping works but `"enableStepFiltering": false` doesn't I will open new issue.

[2019-04-11 18:03] arcooke commented on #2876
This worked for me without any other workarounds or downgrading, thank you

[2019-04-11 19:32] ejohn20 commented on #43
@savpek Thank you for the response. I tried modifying the file as suggested:

[code]

No warnings showing still. I did notice that VS Code updated as well as the OmniSharp extension appeared to update today. I'm not actually sure what version has this functionality in it?

[code]

Other interesting section of the log. Puma is located in the list. However, it also references the 2.6.1 version of Co

[2019-04-11 19:53] gregg-miskelly commented on #2361
@Alex2357 This extension's code to debug unit tests would only be used if your unit test is written in C#.

[2019-04-11 20:06] Fubuchi opened #2978 "The "GetReferenceNearestTargetFrameworkTask" task was not found in omnisharp 1.32.16 (latest)"
## Environment data

[code]

VS Code version:

C# Extension version:

## Steps to reproduce

Load a solution contain 2 project, let call them A and B which B has A as dependency.

## Expected  behavior

Both project are loaded.

## Actual behavior

A load corectly but B cannot be load with error :

### Additional information:

Log file (level debug):
[omni.log](https://github.com/OmniSharp/omnisha

[2019-04-11 20:09] NTaylorMullen commented on #2978
/cc @rchande

[2019-04-11 22:40] rchande commented on #2978
@Fubuchi We've trying to reproduce this, but are unable to. We're trying on Windows 10 + .NET Core Preview 3, and no Visual Studio installed. Does that match your configuration?

[2019-04-11 23:25] cycprime commented on #2876
Many thanks for @nhactung for the suggestion and @digital-abyss for the command.

Confirmed that the following worked on Ubuntu 18.04 LTS:

 `sudo apt-get install dotnet-sdk-2.1=2.1.500-1`

[2019-04-11 23:40] Fubuchi commented on #2978
@rchande Yes, I also use `"omnisharp.path": "latest"`

Here is the solution I'm working on. The `Functional.Tests` have a dependency to `Functional` , if I remove the dependency, both projects can be loaded.

[CSharpFunctional.zip](https://github.com/OmniSharp/omnisharp-vscode/files/3070996/CSharpFunctional.zip)

[2019-04-11 23:47] akshita31 commented on #2950
@victoriousMan We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:47] #2950 closed

[2019-04-11 23:47] akshita31 commented on #2946
@Undomyr We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:47] #2946 closed

[2019-04-11 23:49] akshita31 commented on #2938
@cloudywizzard We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:49] #2938 closed

[2019-04-11 23:49] akshita31 commented on #2936
@photographyraptor We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:49] #2936 closed

[2019-04-11 23:49] akshita31 commented on #2933
@chauuu We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:49] #2933 closed

[2019-04-11 23:50] akshita31 commented on #2919
@stickwalkerdevelopment We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:50] #2919 closed

[2019-04-11 23:50] akshita31 commented on #2915
@Shad0wX We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:50] #2915 closed

[2019-04-11 23:50] akshita31 commented on #2914
@muellerweiss We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:50] #2914 closed

[2019-04-11 23:50] akshita31 commented on #2913
@Patrick-Callahan We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:50] #2913 closed

[2019-04-11 23:50] akshita31 commented on #2901
@ozmencelik We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:50] #2901 closed

[2019-04-11 23:51] akshita31 commented on #2898
@Lorenz65 We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:51] #2898 closed

[2019-04-11 23:52] akshita31 commented on #2897
@SatriaKnight We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:52] #2897 closed

[2019-04-11 23:52] akshita31 commented on #2887
@linikerunk We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:52] #2887 closed

[2019-04-11 23:52] akshita31 commented on #2885
@AdityaMehtaIn We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:52] #2885 closed

[2019-04-11 23:52] akshita31 commented on #2884
@gnbertiz08 We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:52] #2884 closed

[2019-04-11 23:52] akshita31 commented on #2883
@VincentGrice We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:52] #2883 closed

[2019-04-11 23:53] akshita31 commented on #2757
@SinueeHernandez We havent heard from you in a while. I will close this issue now. Please feel free to reopen if the problem persists.

[2019-04-11 23:53] #2757 closed

[2019-04-11 23:57] gregg-miskelly commented on #2734
@kattunga your issue is different, as this issue was resolved by the .NET team for preview-2. Please open a new issue if you would like help understanding what is happening. I will close this one.

[2019-04-11 23:57] #2734 closed

[2019-04-12 00:44] akshita31 opened #2980 "Omnisharp restart prompt doesnot come up when log level is changed"

[2019-04-12 00:45] welkie commented on #2965
Is there a way to manually install an older 2.2.1xx version on Ubuntu? I notice that the only packages that seem to be available via apt are 2.2 and 2.1. I tried going back to 2.1 but that's not working for me.

[2019-04-12 00:47] akshita31 opened #2981 "Clicking quick fix in vscode doesnt work"
![QuickActionBug](https://user-images.githubusercontent.com/12554141/56004740-be044c00-5c81-11e9-9bad-22ac1c3e0652.gif)

We need omnisharp to return the codeaction kind and consume that and return the codeaction with the appropriate code action on the extension side

[2019-04-12 00:48] akshita31 commented on #2955
@NTaylorMullen Is this something related to razor extension ?

[2019-04-12 01:01] cloudrex commented on #2965
Thanks for the quick-fix! Works on Ubuntu 18.01.

[2019-04-12 01:31] NTaylorMullen commented on #2955
Yup, absolutely is, thanks @akshita31!

@mammadkoma that's a current limitation of the VSCode Razor experience. We're adding support for Blazor in the next release which should be this month. Stay tuned!

[2019-04-12 01:33] rchande commented on #2978
It looks like MSBuild change the heuristics it uses to determine if it's running in Visual Studio. Now, the omnisharp path for MSBuild matches one of the VS checks (https://github.com/Microsoft/msbuild/blob/master/src/Shared/BuildEnvironmentHelper.cs#L158) so MSBuild sets the VS mode, which results in weird behavior. I think we can work around this by changing the path omnisharp puts it under...

[2019-04-12 06:52] sprudel79 commented on #2876
Thanks @anarsen
Using the latest omnisharp seems to work (right now 3.5.0-beta.2210).
I am using dotnet-sdk-2.2.203 btw

[2019-04-12 07:51] broder-peters-k24 commented on #2965
@welkie try the solution from this answer: https://github.com/OmniSharp/omnisharp-vscode/issues/2965#issuecomment-480262373

[2019-04-12 11:55] Dev-Owl commented on #2876
Can confirm that with the latest omnisharp version and 2.2.203 all is working fine (ubuntu 18.04)

[2019-04-12 13:16] ejohn20 commented on #43
@savpek Another interesting note. Opened VSCode this morning and it updated again. Now shows this version:

[code]

[2019-04-12 13:44] welkie commented on #2965
@broder-peters-k24 I tried that and unfortunately I feel like I did too much. I ran the `apt remove` command to remove the version I already had installed, and I noticed at the end it said it was able to remove it but there was a directory that wasn't empty that was left over. So then I ran:

[code]

to finish the uninstall. I figured that was safe since a future install would create any directori

[2019-04-12 14:10] bigredhdl commented on #2966
Haven't had much chance to look for a way to prevent that signal yet.  However I do have an extra one of these boards you could borrow if it would help:
https://www.avnet.com/shop/us/products/avnet-engineering-services/aes-ultra96-g-3074457345634920668/

[2019-04-12 14:40] gregg-miskelly commented on #2966
I took a look at your coredump, and the faulting instruction is a multi-register read instruction (`ldmia.w r6, {r0, r1, r2, r3}`). I am hoping that this is just a difference between ARM implementations in their unaligned fixups with these multi-register operations, and therefore this should be fairly rare (as it doesn't affect the normal memory reads). I will try and get you out a private today o

[2019-04-12 15:03] bigredhdl commented on #2966
Sounds good.  I appreciate all the effort.

[2019-04-12 15:04] rchande commented on #2978
@Fubuchi Can you set "omnisharp.path":'latest" in your VS Code settings? I believe this is fixed now.

[2019-04-12 15:34] Fubuchi commented on #2978
Yes, the issue is gone now. But the latest version is uh.. `3.5.0-beta.2210` while the nearest latest is `1.32.16`. Is it a new branch? Just curious.

[2019-04-12 15:37] rchande commented on #2978
@Fubuchi No, it's a build issue where one of the CI builds is getting confused and generating incorrect version numbers. We're investigating.

[2019-04-12 15:38] #2978 closed

[2019-04-12 16:29] zilppuri commented on #2534
Having the same issue.
`The type 'AnyClassName' in '/Users/me/dev/project/Assets/AnyClassName.cs' conflicts with the imported type 'AnyClassName' in 'Assembly-CSharp-firstpass, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'. Using the type defined in '/Users/me/dev/project/Assets/AnyClassName.cs'. [Assembly-CSharp-Editor]`

This started happening once I updated to Unity 2018. Interestingly

[2019-04-12 16:53] xinaesthete commented on #2534
I was running into this on Mac, with Unity 5.6.5 yesterday... indeed, was trying to do some refactoring etc in readiness to upgrade Unity version but just adding some pretty basic class seemed to be coming up with it.

Sorry to not provide more detail, but pretty sure Photon & Coroutines were in no way implicated in my case.

[2019-04-12 17:10] gregg-miskelly commented on #2966
Okay, here is an updated [libvsdebugeng.so](https://1drv.ms/u/s!AOVj_ZkZQSg2ho5g) that will hopefully fix this. Can give try replacing yours on your ARM device and let me know how it goes.

[2019-04-12 18:43] bigredhdl commented on #2966
It's Alive!  ALIVE!!!!!! Nice work.

[2019-04-12 18:47] gregg-miskelly commented on #2966
Excellent! I will put out an official release when I have the chance.

[2019-04-12 19:06] akshita31 commented on #2965
Hello all,

We recently did a bunch of work in omnisharp to update the msbuild and the sdk resolvers so that they work with the new sdks as well. Could you try setting "omnisharp.path": 1.32.17 and restarting omnisharp and checking if the issue persists?

[2019-04-12 19:09] akshita31 commented on #2961
@LoranceChen  Does the UniRx.dll exist in the path as mentioned above ?

[2019-04-12 19:11] #2952 closed

[2019-04-12 19:13] akshita31 commented on #2949
@nczsl Does the .omnisharp folder exists in your .vscode/extensions/ms-vscode.csharp folder?

Could you try setting "omnisharp.path": "latest" and restarting vscode ?

[2019-04-12 19:18] akshita31 commented on #2964
This is the main error I think:

[warn]: OmniSharp.MSBuild.ProjectManager

We recently hit this bug and a fix https://github.com/OmniSharp/omnisharp-roslyn/pull/1457 has been merged. Could you try setting "omnisharp.path" : "1.32.17" and restarting omnisharp ?

[2019-04-12 19:22] akshita31 commented on #2930
This is fixed now.

[2019-04-12 19:22] #2930 closed

[2019-04-12 19:22] akshita31 commented on #2929
@shoupeace Can you be clearer on what is the issue here ?

[2019-04-12 19:23] akshita31 commented on #2907
@afrahshahrani Can you try with the latest version of the extension(1.18.0) and check if the problem still persists ?

[2019-04-12 19:23] #2902 closed

[2019-04-12 19:24] akshita31 commented on #2894
@ghost @JesseTG We havent heard back from you in a while so I will close this issue now. Please reopen if the problem persists.

[2019-04-12 19:24] #2894 closed

[2019-04-12 19:45] SirIntruder commented on #2961
Those warnings happen all the time in all Unity projects, and are harmless from what I can tell.
Issue is, as always, that omnisharp puts new files in *all* of the projects, as seen in this screenshot:

![alt text](https://user-images.githubusercontent.com/8775828/55524934-93ceef00-56c1-11e9-9693-0a21c9cf0acf.png "")

What unity3d/users really want is for the new file to be in "Assembly-Csharp.csp

[2019-04-12 20:15] Bob1904 commented on #2965
Hi @akshita31

Thanks for the quick update.  Sorry if I appear stupid, but not sure how to do this - I'm using the OmniSharp C# extension from within Visual Studio Code.

[2019-04-12 20:26] rchande commented on #2965
@Bob1904 open your settings.json and set the value of "omnisharp.path" to "1.32.17". As you noticed, the C# extension is currently on 1.18.0. In order to provide intellisense, it uses a component called OmniSharp that's versioned independently--that's what we want to change the version of.

[2019-04-12 21:25] filipw commented on #2910
This is resolved in the latest OmniSharp release, please use `"omnisharp.path": "latest"` or `"omnisharp.path":"1.32.17"` in your settings to get it straight away.
The fix will also be automatically included in the next official extension release.

[2019-04-12 21:25] #2910 closed

[2019-04-12 21:45] Bob1904 commented on #2965
@rchande @akshita31
Thanks for working with me on this.  I edited settings.json as follows:
{
    "workbench.iconTheme": "material-icon-theme",
    "editor.tabSize": 2,
    "csharp.referencesCodeLens.enabled": false,
    "workbench.colorTheme": "Solarized Light",
    "omnisharp.path": "1.32.17"
}

Incidentally, there was previously no "omnisharp" entry in settings.json, and the other settings are

[2019-04-12 21:47] filipw commented on #2561
Could you provide a repro project that caused you trouble or try again with the latest version?
This is definitely supported, and I just verified this again and it works (both for the `CS1591` and `1591` syntax under `<NoWarn>`).

[2019-04-13 00:19] akshita31 commented on #2965
@Bob1904 Could you try setting omnisharp.path: "latest" ?

[2019-04-13 00:22] akshita31 commented on #2940
@chswin Omnisharp supports running and debugging for projects that have either sln or csproj. I am not sure I understand what do you mean by support on remote file systems. Can you elaborate a bit ?

[2019-04-13 00:24] LoranceChen commented on #2961
@akshita31, No.those warning `.dll` files is generated by Unity.

As SirIntruder said, Assembly-Csharp.csproj seems important at this stage.

There are another issue also discuss the problem:
https://github.com/OmniSharp/omnisharp-vscode/issues/2088#issuecomment-479722092

[2019-04-13 00:25] akshita31 commented on #2961
@LoranceChen Can you try setting "omnisharp.path" : "latest" and restarting vscode ?

[2019-04-13 00:27] akshita31 commented on #2961
@SirIntruder I am not very much aware of the Unity system. Why doesnt that file INetwork belong to the Assembly-Csharp.csproj automatically ? And if not what is needed on omnisharp side ?

[2019-04-13 00:51] #2962 closed

[2019-04-13 01:25] ghost opened #2983 "[Suggestion] Reload button/option/clickable"
Suggestion: There should be a simple click-able option to reload (retry) upon getting an error. For example:

![image](https://user-images.githubusercontent.com/41349879/56072847-5d503e80-5d69-11e9-88db-152f6dcf710a.png)

OK, I had an error and it was fixed. Now I have to *restart VSCode* for OmniSharp to retry. Preferably upon right-clicking the OmniSharp icon on the status bar. :smile:

[2019-04-13 01:56] LoranceChen commented on #2961
@akshita31 , after try a setting `"omnisharp.path" : "latest"`:
![image](https://user-images.githubusercontent.com/8775828/56072949-522ff980-5dcf-11e9-99f8-da11ade8ecb1.png)
and restart Code, the omnisharp warning is disappear!

But problem also exist.
![image](https://user-images.githubusercontent.com/8775828/56072988-dedab780-5dcf-11e9-88fa-5a70cdf847bd.png)

Besides, at the time, `Assembly-Csha

[2019-04-13 04:26] chswin commented on #2940
I have a webapi that allows the users to author controllers at runtime. I use roslyn for compilation and currently have a self authored winform based IDE. I have written a remote filesystem provider for VS Code -> https://github.com/Microsoft/vscode-extension-samples/tree/master/fsprovider-sample .

It works well and was simple to author as it wired up nicely to my existing management controllers.

[2019-04-13 04:54] nczsl commented on #2949
![新建位图图像 (5)](https://user-images.githubusercontent.com/5241693/56074814-3e928c00-5deb-11e9-87a6-8b896b98a2ac.jpg)

[2019-04-13 04:55] nczsl commented on #2949
![新建位图图像 (6)](https://user-images.githubusercontent.com/5241693/56074825-76013880-5deb-11e9-8c0b-c035d7fc5138.jpg)

[2019-04-13 06:13] lonix1 commented on #2876
ubuntu 18.10
only works by downgrading `sudo apt install dotnet-sdk-2.2=2.2.105-1`

[2019-04-13 06:57] LoranceChen commented on #2961
with three times test, I have found .csproj will generate `<Compile Include .../>` description for a new file when return to Unity Editor. But OmniSharp only reload the new file when restart OmniSharp.
I'm not sure it will take any effect for the problem.

[2019-04-13 11:00] vanillajonathan commented on #2876
So when is the Marketplace getting updated with the latest release?
https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp

[2019-04-13 12:07] Bob1904 commented on #2965
@akshita31 @rchande Success on Linux Mint 19.1 !  Thank you for getting this fixed so quickly!!

Here are the steps I followed:

In the VS Code menu, go into File / Preferences / Settings.

In the "Search settings" window, type omnisharp.path

Click on "Edit in settings.json" link.  Add (or edit) like this:

**{
    "omnisharp.path": "latest"
}**

If your settings.json already had entries in it, p

[2019-04-13 13:08] Bob1904 commented on #2965
I can confirm this also works on MX Linux 18.1

[2019-04-13 13:50] Bob1904 commented on #2965
Note: For a completely clean machine, one that has never run VS Code or OmniSharp before, the experience may be a little different.  In my case, I created a new virtual machine (VirtualBox) running Linux Mint 19.1, installed all updates, then installed .NET Core SDK 2.2.203 and VS Code 1.33.1.  Then I created a new project as follows (from the command line):

    dotnet new mvc -o webtest01
    cd

[2019-04-13 17:36] akshita31 commented on #2763
@erictraut @Jma353 Could you try with the latest release of the C# extension? We have made some performance improvements that should make the experience better.

[2019-04-13 23:13] nim commented on #2513
I have the same problem Terminal and IntelliSense https://i.imgur.com/GoxqoRx.png

[2019-04-14 03:21] gloveboxes commented on #2965
Thanks for the fix - can confirm working on Ubuntu 18.04, dotnet SDK 2.2.203, with the
{
"omnisharp.path": "latest"
}

in VS Code settings.json

[2019-04-14 04:51] threedots1 opened #2984 "Omnisharp ignoring exclude options in omnisharp.json"
## Issue Description ##
Cannot use FileOptions to prevent Omnisharp from processing unwanted directories using the FileOptions. Also cannot prevent RoslynExtensions (Roslynator) from processing directories. Tried using omnisharp.json in project folder and omnisharp.json in user folder. It does load RoslynExtensionOptions but FileOptions does not appear to work.

## Steps to Reproduce ##
Create a p

[2019-04-14 07:17] welkie commented on #2965
Is there an ETA for when the extension will work without overriding the setting?

[2019-04-14 13:22] svdemir opened #2985 "VS Code debian C# autocomletion error. Bug"
Debian and ubuntu vs code c# auto completion error. Please help..

Razor.VSCode version 1.0.0-alpha2.1-20190322.5
Razor's trace level is currently set to 'Off'

To log issues with the Razor experience in VSCode you can file issues at https://github.com/aspnet/Razor.VSCode
To change Razor's trace level set 'razor.trace' to 'Off', 'Messages' or 'Verbose' and then restart VSCode.
Failed to load H&�,

[2019-04-14 13:35] richlander opened #2986 "Projects outside omnisharp target directory not watched"
## Environment data
`dotnet --info` output:

[code]

VS Code version: 1.33.1
C# Extension version: 1.18.1-beta1

## Steps to reproduce

- Create two projects from templates
- Make P2P reference from one to another
- Change an API signature in the referenced project
- Attempt to observe new API signature in referencee project
- rebuild both projects to try to get to a clean state

## Expected  beha

[2019-04-14 14:16] filipw commented on #2984
It seems that documentation is not being clear about that - `FileOptions` is used to control which *projects* OmniSharp should look at, not *individual files*.
What you are asking for is currently not supported.

I will also move this issue to https://github.com/OmniSharp/omnisharp-roslyn repo.

[2019-04-14 14:18] filipw commented on #2983
This is sort of related to https://github.com/OmniSharp/omnisharp-vscode/issues/2980 which is also about a missing "restart/reload" option.

[2019-04-14 14:38] MBurtsev opened #2987 "Fake compile error in .net core project"
The VSCode show fake errors in text editor:
![Image](https://i.imgur.com/H9TEgYG.png)
But the project makes a successful compilation, without any errors.

dependencies:
[code]

dotnet info:
[code]
You can see what i can run and debug this code
![Image](https://i.imgur.com/lBiOcQQ.png)

- VSCode Version:1.31.1
- OS Version:Win10

[2019-04-14 16:24] rohitrishi commented on #2876
Hello,

I have the same issue and have following installed:

[code]

I understand from the comments above the latest vs-code extension should fix the issue. Was just wondering what is the ETA on it's release.

Thanks

[2019-04-14 18:14] Jma353 commented on #2763
@akshita31 I installed `1.18.1-beta1` extension (under [`1.19.0 release`](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.19.0-beta1)).  I still faced these issues when trying to open up the `LanguageServer` project in the Python LS github repo.  However, I do notice better text editing features in the other sub-projects in the repo with this beta release.

Does this repo for you on

[2019-04-14 20:29] NTaylorMullen commented on #2985
This if fixed in the alpha3 release of VSCode/next release of C# extension. It should be available this month, stay tuned!

[2019-04-14 21:33] richlander commented on #2937
This is resolved for me with this release: https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.19.0-beta1

Please try it (or a later release), and share if that resolves the problem for you.

[2019-04-15 00:40] JMontagu commented on #2438
Issue still outstanding (Omnisharp 1.18.0) - but can confirm installing Mono (5.18) resolves the issue.

[2019-04-15 03:38] zsynacl opened #2988 "Ominisharp does not use proxy settings of vscode"
## Issue Description ##
Ominisharp does not use proxy settings of vscode

## Steps to Reproduce ##
When the C# plugin tries to update ominisharp, it fails to get new version. The PC I'm using is behind an enterprise proxy.
I configure proxy settings of vscode as behind:
[code]
and vscode just works well.

## Expected Behavior ##
The C# plugin should use proxy settings from vscode configurations an

[2019-04-15 03:42] zsynacl commented on #2988
I should declare that I know C# plugin uses proxy settings from environment variables. This was discussed in issue #2499 . But due to some reason, I can not set `http.proxy` systemwide. In this way, I want to restrict the proxy settings enable only inside vscode instead of whole system.
So I suppose C# plugin should have the ability to load proxy settings from vscode settings.

[2019-04-15 05:30] mammadkoma commented on #2955
Flutter from google works and run with microsoft vscode correctly.
But blazor from microsoft don't work and run (f5) with microsoft vscode.

[2019-04-15 09:19] Moortiii commented on #2507
I spent more hours than I'm proud to admit trying to fix this. I'm not sure why but the official mono-documentations says:

At best I feel like this is highly misleading as it does **not** install compile-dependencies. Follow the instructions at [https://www.mono-project.com/download/stable/](at this link) to install the mono-devel package. At the time of writing this can be done using: `sudo apt

[2019-04-15 09:24] Moortiii commented on #2670
I realize that the origin poster was on Windows, but this problem occured for me on Linux and I couldn't find a solution in any of the top threads. I'm not sure why, but the official mono-documentations says:

At best I feel like this is highly misleading as it does **not** install compile-dependencies. If you're on a linux distribution, follow the instructions at [https://www.mono-project.com/dow

[2019-04-15 09:47] broder-peters-k24 commented on #2965
@welkie what does `ls -la /usr/bin/dotnet` return to you?
[code]

[2019-04-15 16:58] svdemir commented on #2985
Please fast please. 1 month ago there was no error.
i am use Razor.VSCode version 1.0.0-alpha1-20181019.5

[2019-04-15 17:11] Darlanio commented on #2158
No Developerpacks on that page for 4.5, earliest is 4.5.1

[2019-04-15 17:55] gregg-miskelly commented on #2966
https://aka.ms/getvsdbgsh now points at a version of vsdbg with the fix. Thanks for reporting this!

[2019-04-15 17:55] #2966 closed

[2019-04-15 18:07] rchande commented on #2965
@welkie We don't comment on release dates, but a build is available: https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.19.0

[2019-04-15 18:39] rchande commented on #2987
@nim Can you:
* Install this release: https://github.com/OmniSharp/omnisharp-vscode/releases
* See if the problem still happens
* If it does, share both the errors and your "OmniSharp log"?

[2019-04-15 19:01] floyd-may commented on #2847
Does anyone have any recommendations for a workaround? I've got both Windows and Mac users on my team that are experiencing issues.

[2019-04-15 19:18] akshita31 commented on #2847
@floyd-may I suspect the slow down maybe because omnisharp is sending a lot of messages. Could you try setting "omnisharp.loggingLevel" : error and restart vscode. That way it will only log error messages and might be faster

[2019-04-15 20:20] rchande commented on #2986
@richlander Missing from your repro steps are "open the subdirectories directly containing each .csproj file in separate VS Code instances"--this seems to work as expected if I open the nearest common ancestor directory of my 2 projects.

What you're seeing here is that OmniSharp doesn't update its snapshot for referenced projects that fall outside its target directory. We could theoretically make

[2019-04-15 20:37] #2985 closed

[2019-04-15 20:38] rchande commented on #2983
cc @akshita31

[2019-04-15 20:46] rchande commented on #2976
moved to https://github.com/dotnet/csharp-tmLanguage/issues/153

[2019-04-15 20:46] #2976 closed

[2019-04-15 20:47] rchande commented on #2971
@emuslor What happens if you `dotnet restore` your project before you open it in vs code?

[2019-04-15 20:57] rchande commented on #2965
@Bob1904 It sounds like this is resolved with our new build--I'm going to close it. Feel free to add further comments.

[2019-04-15 20:57] #2965 closed

[2019-04-15 20:58] #2955 closed

[2019-04-15 20:59] rchande commented on #2948
@seanmars I'm unable to reproduce this using the latest build at https://github.com/OmniSharp/omnisharp-vscode/releases

[2019-04-15 20:59] #2948 closed

[2019-04-15 21:20] emuslor commented on #2971
@rchande Restore completes successfully.  Then when I re-open vs code, there are no errors from omnisharp.  I would simply do this all the time, but I'm dealing with a source tree containing a lot of directories full of project with frequently changing dependencies, so the ability to auto-traverse that tree and successfully restore deps with omnisharp when I open vs code would be quite useful.

[2019-04-15 21:43] floyd-may commented on #2847
After a couple hours (I set it to `warning` because I have issues with following instructions 🙃 ) it's behaving better. Seems to be a reasonable workaround. I'll report back if I have more issues.

[2019-04-15 21:53] Bob1904 commented on #2965
@rchande @akshita31 Thank you for your work on this.

[2019-04-15 22:38] rchande commented on #2971
@emuslor The C# extension has 2 commands ".NET: Restore All Projects" and ".NET Restore Project" (which will let you select a project) that should do what you need---they'll invoke `dotnet restore` on your behalf for the requested projects.

[2019-04-16 02:02] kjbetz commented on #2876
This helped me on Fedora 29, looks like it worked for other on Ubuntu: https://github.com/OmniSharp/omnisharp-roslyn/issues/1394#issuecomment-480792868

[2019-04-16 04:43] Arsmn1996 commented on #2876
I solved it by installing .Net Core Build Tools on Windows.
On Arch Linux I add this line to .bashrc (or .zshrc) file:
`export MSBuildSDKsPath=$HOME/dotnet/sdk/$(dotnet --version)/Sdks`

[2019-04-16 05:12] guftall commented on #1754
i installed .NET Core SDKs: 2.2.104 AND 3.0.100-preview-010184. (ubuntu 18)
and had same problem.
but after creating `global.json` in my project folder and defining `2.2.104` as my `sdk`, this problem solved.

[2019-04-16 10:34] benzmarkus opened #2991 "Error: The "NuGet.Build.Tasks.GetReferenceNearestTargetFrameworkTask" task could not be loaded from the assembly"
Hi,
using latest Visual Studio Code and latest OmniSharp.
Trying to open a Visual Studio 2019 Core 2.2 Solution. Getting these error messages.

OmniSharp is configured:
"omnisharp.path": "latest"

Dotnet Info:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.203
 Commit:    e5bab63eca

Runtime Environment:
 OS Name:     opensuse-leap
 OS Version:  15.0
 OS Platform: Linux
 RID:

[2019-04-16 13:14] DrakeLambert commented on #2790
@rasikas Did this successfully fix the problem for you?

I also have this issue on my windows 10 insider's build version 18875.

My `dotnet --info`:
[code]

VS Code version: 1.33.1 (user setup)

[2019-04-16 13:58] rchande commented on #2991
@benzmarkus Per your log omnisharp is running on your system-wide mono:

Can you set "omnisharp.useglobalmono" to "never" and see if the problem still occurs?

[2019-04-16 14:31] benzmarkus commented on #2991
Yes solved! Thx for the fast help!

[2019-04-16 15:11] emuslor commented on #2971
@rchande Thanks.  Is there a way to make that happen recursively for all projects in a tree?  It seems like it tries to do that, but it stops at the first subdirectory that it finds projects in.  For example, say my repo tree looks like this:

Myproject/
-- Projdir1/
---- a/
------ a.csproj
---- b/
------ b.csproj
-- Projdir2/
---- c/
------ c.cspoj
---- d/
------ d.csproj

If I open the Myproject

[2019-04-16 15:12] rchande commented on #2971
@emuslor Do you have a .sln file that only includes some of the projects? You can choose what the target sln/csproj is using the selector next to the green flame icon in the lower left.

[2019-04-16 15:19] emuslor commented on #2971
@rchande Indeed.  So I guess I just need to select each sln and do the restore all for each.  Any way to do them all at once without combining into an uber sln?

[2019-04-16 15:21] rchande commented on #2971
@emuslor We don't provide a way to do that. Out of curiosity, why do you have solutions that don't contain all of the projects in the project reference dependency graph?

[2019-04-16 15:27] emuslor commented on #2971
@rchande That's a fine question.  I'm claiming innocence on that one, as it is an existing project I am now helping more with. :)  But this helps a good bit.  Thanks for assiting the omnisharp n00b!

[2019-04-16 16:14] rchande commented on #2790
Hi all, I suspect that this is resolved by the 1.19.0 build we just released to the marketplace. Please give it a try!

[2019-04-16 18:56] SwooshyCueb commented on #2158
@Darlanio
I pulled this from the Visual Studio Installer package catalog, might be what you need:

`Microsoft.Net.4.5.TargetingPack`
[code]
I imagine both the msi and the cab file need to be in the same folder when you try to install the msi.

On the off-chance that you need it, I've also pulled `Microsoft.Net.Cumulative.TargetingPack.Resources`. It's got different versions depending on language:

[2019-04-16 19:03] joshampton commented on #2847
despite setting the logging level to error, I'm still running into the same symptoms. Curiously, I'm running into this on my mac at work. Curiously it looks like `mono-sgen64` is eating a ton of CPU.
![Screen Shot 2019-04-16 at 1 02 53 PM](https://user-images.githubusercontent.com/5491371/56236940-105db800-6048-11e9-9517-e6449aa8f3d8.png)

[2019-04-16 19:07] Darlanio commented on #2158
Thanks! I will try this!

I did get the Xamarin and Emulator going, but only after first installing
(in order):

1. Java SDK v 11
2. Intel Hardware Accelerator (HAXM)
3. Android Studio
4. Android Emulator from within Android Studio and got it running
5. VS2019, but skipped Android Emulator
6. Installed a new image to the emulator from Visual Studio (not sure why
that was needed)

Maybe the problem

[2019-04-16 20:00] robertmiles3 commented on #2927
I have the same issue multiple times per day. I usually "Reload Window" to get it back in shape, but it's super annoying and time draining.

[2019-04-16 20:57] mat1jaczyyy opened #2992 "OmniSharp fails to run with the new 1.19 update"
## Issue Description ##
OmniSharp fails to run with the new 1.19 update.

Note I am running an older version of Windows 10 that does not support .NET Framework 4.7:
![image](https://user-images.githubusercontent.com/13300194/56243342-ac181400-609a-11e9-977a-404698acf8e9.png)

## Steps to Reproduce ##
1. Open a C# file
2. Check output

## Expected Behavior ##
OmniSharp works and detects problems.

[2019-04-16 21:04] stablecube opened #2993 "Wildcards in PackageReference version cause OmniSharp to hang"
## Issue Description ##
If I have a PackageReference with a wildcard version such as
`<PackageReference Include="My.Package" Version="1.0.*" />`
Omnisharp will hang at "Adding project"

Once I fully type the version number then Omnisharp will then correctly start.

I think this just recently started happening with a new update.

## Logs ##

### OmniSharp log ###
<details>
Starting OmniSharp server

[2019-04-16 21:18] rtablada commented on #2992
I have also been running into issues and have to force the version back to 1.18 every time I start VSCode (because the add-on keeps trying to auto update)

## Environment Information

.NET Core SDK (reflecting any global.json):
 Version:   2.2.106
 Commit:    aa79b139a8

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.14
 OS Platform: Darwin
 RID:         osx.10.14-x64
 Base Path:   /

[2019-04-16 21:29] mat1jaczyyy commented on #2992
@rtablada, as a temporary workaround, before installing specific version 1.18 you can disable autoupdating here:
![image](https://user-images.githubusercontent.com/13300194/56245316-6a3d9c80-609f-11e9-9e71-b3ffd4911ee3.png)

[2019-04-16 21:37] filipw commented on #2992
Latest OmniSharp requires .NET 4.7.2, see https://github.com/OmniSharp/omnisharp-roslyn/blob/master/CHANGELOG.md#13214---2019-04-08

[2019-04-16 22:48] rasikas commented on #2790
@DrakeLambert yeah for me that fixed the issue
[code]

[2019-04-16 23:50] mat1jaczyyy commented on #2992
@filipw ugh, annoying at the very least. i assume this was done because some feature specific to 4.7.2 was required, rather than just updating for the sake of it. the portion of the userbase that refuses to update because the release build of windows 10 has a friendly way of disabling automatic updates, is dropped once again.

[2019-04-17 00:29] ghost opened #2994 "Intellisense suddenly disappears"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.33.1 (x64)
C# Extension version: 1.19

## Steps to reproduce
General use (have successfully reproduced on a different WIN10 x64 machine)

## Expected  behavior
Should not disappear. Seems that it's hidden because It's refreshing/reloading or something (my best guess).

## Actual behavior
Intellisense disappears suddenly

## Scre

[2019-04-17 00:31] psypilat commented on #43
ejohn20 yes, the same problem, we have the custom ruleset package based on stylecop and no warnings/errors in the code. I did all the recommended actions from this thread.

[2019-04-17 03:12] ikinetik opened #2995 "Omnisharp not working on .Net SDK 2.1.403 (Windows 7)"
Hello,

Omnisharp stopped working today whenever I create a new project.

.Net Core SDK installed: 2.1.403
Host Version: 2.1.5
Windows OS Version: 6.1.7601
VS Code version: 1.33.1

Output Log:

Starting OmniSharp server at 4/16/2019, 7:33:36 PM
    Target: c:\Users\Admin\Documents\Coding Dojo\C# stack\Entity\WeddingPlanner

OmniSharp server started.
    Path: C:\Users\Admin\.vscode\extensions\ms-v

[2019-04-17 05:08] filipw commented on #2995
You need to install .NET 4.7.2.
Latest OmniSharp requires .NET 4.7.2, see https://github.com/OmniSharp/omnisharp-roslyn/blob/master/CHANGELOG.md#13214---2019-04-08

[2019-04-17 09:33] mvalero opened #2996 "OmniSharp stopped working after update to 1.19.0"
## Issue Description ##
After installing V1.19.0 of the C# extension, Omnisharp has stopped working in all my workspaces.

When looking at the Omnisharp log there are no visible errors, but it always seem to get stuck after the first `Adding project ..../.../Project.csproj`, no timeout or anything else comes after some time waiting.

I checked my .Net runtime version and it's 4.7.2 (461814)

## St

[2019-04-17 09:38] filipw commented on #2996
Can you please try setting `"omnisharp.loggingLevel": "debug"` and capture the new more detailed OmniSharp log? thanks

[2019-04-17 09:42] dietermijle opened #2997 "Intellisense no longer working for Web API project"
Getting the following error recently when loading my solution in VS Code.

[code]

OmniSharp log stops at 'Adding project' for first project in the solution
[code]

As a result, my Intellisense is no longer working.
Any idea how to resolve this?

I tried uninstalling & re-installing VS code completely, but without success.

[2019-04-17 10:15] mvalero commented on #2996
In the detailed debug log it seems to be a FAILURE` in the MSBuild locator, can I specify

[code]

[2019-04-17 10:30] iSazonov commented on #2996
The same issue.

[2019-04-17 10:35] mvalero commented on #2996
@iSazonov FYI. I was able to downgrade using the built-in option in VSCode, right click on extension and "Install another version..."

[2019-04-17 11:10] ned13 commented on #2996
I have same issue with OmniSharp 1.19.0 & 1.18.0, I can't run unit test writing by MSTest from IDE. After I downgrade to 1.17.1, it works as before. My VSCode version is 1.32.3.

[2019-04-17 11:23] mario-d-s commented on #2997
Can confirm this is an issue.

- OS: Debian Stretch 9.8
- .NET Core 2.2.202
- VS Code 1.33.1
- C# Extension 1.19.0

Output of "Log (Extension Host)":

[2019-04-17 11:38] filipw commented on #2997
in this case the error comes from `jchannon.csharpextensions-1.3.0` extension - could you please try disabling it and see if it helps?

[2019-04-17 11:40] dietermijle commented on #2997
Seems like the error was due to the latest version of the C# extension.

When installing latest version (1.19.0), the above error occurs.
After rolling back to 1.18.0, everything seems to work fine again.

[2019-04-17 12:52] ambs commented on #2790
Fixed here too!

[2019-04-17 13:45] PeterLaComb-Availity commented on #2996
Ditto. Had to downgrade to 1.17.1 to get things working again.

[2019-04-17 14:19] hughbe opened #2998 ""CSharp: Report an issue" causes results in command 'csharp.reportIssue' not found"
![Screenshot 2019-04-17 at 15 19 30](https://user-images.githubusercontent.com/1275900/56295149-39537b00-6124-11e9-932e-33491b38193f.png)

Then
![Screenshot 2019-04-17 at 15 19 35](https://user-images.githubusercontent.com/1275900/56295156-3bb5d500-6124-11e9-80d5-5ad63037d7ac.png)

[2019-04-17 14:21] hughbe opened #2999 "Add support for custom SDKs"
## Steps to reproduce
[code]

- Open vscode and open the `winforms` folder and wait

## Problems
![image](https://user-images.githubusercontent.com/1275900/56295371-9bac7b80-6124-11e9-86f2-50c506f4cdd9.png)

<details>
<summary>Summary</summary>
[code]
</details>

[2019-04-17 14:23] hughbe commented on #2999
/cc @ViktorHofer if this is an arcade problem - please please fix as this would improve the experience

[2019-04-17 14:39] ViktorHofer commented on #2999
Sounds like omnisharp doesn't handle msbuild sdks correctly. The arcade sdk should be listed in the global.json file in the WinForms repository. Either that or the dotnet feed isn't honored in which the arcade sdk lives.

[2019-04-17 14:42] ViktorHofer commented on #2999
cc @dplaisted

[2019-04-17 14:42] ViktorHofer commented on #2999
cc @dsplaisted

[2019-04-17 14:57] rchande commented on #2998
cc @akshita31

[2019-04-17 15:11] filipw commented on #2998
This works on my machine, could it be that somehow the installation of the extension is corrupt and need to be reinstalled?

[2019-04-17 16:49] akshita31 commented on #2998
@hughbe The C# extension is activated only when there is some c# folder/file opened in the workspace. Ideally vscode should not show the C# extension commands in the command palette. I think if you try openeing a C# project and the extension gets activated then the feature would be available.

[2019-04-17 16:52] akshita31 commented on #2991
@benzmarkus Omnisharp is trying to use the global mono from your system which is probably missing out some dependencies required to run omnisharp. Hence setting this option to never will ensure that you use the mono that is shipped with omnisharp and has all the correct dependencies.

I will close this issue now. Please feel free to reopen if the issue reoccurs.

[2019-04-17 16:52] #2991 closed

[2019-04-17 16:53] rchande opened #3000 "Increase mandatory mono version"
We should probably raise it to 5.18 to match the version we depend on...

[2019-04-17 16:53] rchande commented on #3000
see: https://github.com/OmniSharp/omnisharp-vscode/issues/2991#event-2283368717

[2019-04-17 16:53] rchande commented on #3000
cc @akshita31

[2019-04-17 16:55] dsplaisted commented on #2999
What happens if you first build from the command line, and then try to open the project in VS Code?  Does the issue go away?

[2019-04-17 16:58] cjaeckel commented on #2996
Exact same problem with ms-vscode.csharp 1.19.0 on Windows 10 .NET 4.7.2 (46184).

(Only a downgrade to 1.18 works...)

[2019-04-17 16:59] filipw commented on #3000
yes definitely, not to mention 5.20.1 is already available too.

[2019-04-17 17:00] hughbe commented on #2999
No sadly!

[2019-04-17 17:05] bastaley opened #3001 "[fail]: OmniSharp.MSBuild.ProjectLoader - Does not support .Net Core 2.2"
## Issue Description ##
VS Code Warning Pop-up on opening project
"Some project have trouble loading. Please review the output for more details" Source: C# (Extension)
[fail]: OmniSharp.MSBuild.ProjectLoader

## Steps to Reproduce ##
Updated .NET SDK to Core 2.2
Installed Extension C# for Visual Studio Code (powers by OmniSharp)
Close and reopen vs Code

### OmniSharp log ###
Starting OmniSharp se

[2019-04-17 17:08] nightblade9 opened #3002 "C# Intellisense fails with OmniSharp 1.19"
## Steps to reproduce
- Find a system with the C# plugin v1.18
- Get things working
- Upgrade to the latest plugin version

## Expected  behavior
- Intellisense still works

## Actual behavior
- Intellisense fails

The key: the terminal output indicates a number of errors, one of them being an inability to load a `netstandard` DLL with version `2.0.0`. This is because the latest (1.19) plugin requ

[2019-04-17 17:08] nightblade9 commented on #3002
I'm closing this since installing .NET 4.7.2 fixed it for me.

[2019-04-17 17:08] #3002 closed

[2019-04-17 17:31] bastaley commented on #3001
It was an SDK error.

I had downloaded .Net Core SDK -v 2.2.203, but was running VS Code 2017. I needed .Net Core SDK - v 2.2.106

as per https://github.com/dotnet/announcements/issues/108

[2019-04-17 17:31] #3001 closed

[2019-04-17 18:20] keithelder commented on #1044
@DustinCampbell I just ran into this and sitting here thinking I was doing something weird in VSCode by not getting the return arguments from the method I override. Is it time to start with beer bribery to maybe get this implemented? :)

[2019-04-17 18:26] PaitoAnderson opened #3003 "Missing Command Error"
## Issue Description ##

I just started getting this today, where sometimes it shows `!!MISSING: command!!` above a class instead of the references count, restarting VSCode didn't help.

## Steps to Reproduce ##

Open .cs file

## Expected Behavior ##

`0 references`

## Actual Behavior ##

`!!MISSING: command!!`
<img width="345" alt="Screen Shot 2019-04-17 at 2 16 11 PM" src="https://user-images.

[2019-04-17 18:46] motor75 opened #3004 "Omnisharp can not find assembly netstandard"
## Issue Description ##
Upon starting up VS Code, I get an immediate error in the OmniSharp output indicating the following below.  I reverted Omnisharp back to version 1.18 as per this [Stack Overflow](https://stackoverflow.com/questions/55724638/omnisharp-server-throws-system-io-filenotfoundexception-could-not-load-file-or) article, but I'm still getting the same error:

System.IO.FileNotFoundEx

[2019-04-17 19:58] richlander opened #3005 "Cannot build with C# extension on Windows ARM64"
## Environment data
`dotnet --info` output:

[code]

VS Code version:

[code]

C# Extension version: 1.19.0

## Steps to reproduce

* Install VS Code, C# extension and .NET Core 3.0 (from master) on Windows ARM64 machine. All the installs (beyond the OS) are x86 32-bit.
* `dotnet new console`
* Open project in VS Code
* build

## Expected  behavior

* Expect the app to build, same as it does with

[2019-04-17 19:59] filipw commented on #3000
related: https://github.com/OmniSharp/omnisharp-roslyn/pull/1466

[2019-04-17 20:03] jwerra commented on #3004
The rollback to 1.18.0 worked for me,  but be sure to set the preference "extensions.autoUpdate" to false or it will just reinstall 1.19.0

[2019-04-17 20:08] filipw commented on #3004
do you have .NET 4.7.2 installed? It appears to be the reason for this failure.

[2019-04-17 20:18] motor75 commented on #3004
I do have auto update turned off, so Omnisharp is at version 1.18.0

[2019-04-17 20:20] motor75 commented on #3004
It appears I have 4.7.2 installed...

C:\Windows\Microsoft.NET\Framework\v4.0.30319>.\msbuild.exe -version
Microsoft (R) Build Engine version 4.7.2046.0
[Microsoft .NET Framework, version 4.0.30319.42000]
Copyright (C) Microsoft Corporation. All rights reserved.

4.7.2046.0

[2019-04-17 20:28] richlander opened #3006 "Support Windows ARM64"
## Environment data

Windows ARM64
Install Windows **ARM64** .NET Core SDK (**NOT** x86)

## Steps to reproduce

* Create console app
* Insert a ReadLine in it, to hault execution so we can wait on the debugger being attached
* Build console app at CLI
* Launch app, and make sure it is waiting at the ReadLine
* Attach to the right PID

## Expected  behavior

* Debugger shows threads and any other

[2019-04-17 20:33] gregg-miskelly commented on #3006
It is probably a VS Code bug that it doesn't show you an error - the C# extension only ships the x64 version of the debugger, which will not run on a Windows ARM64 machine.

As we discussed a while back - we aren't planning to support x86 in the VS Code debugger. I can leave this active if you want to eventually support ARM64 target processes.

[2019-04-17 20:58] richlander commented on #3006
Thanks for the info. Yes, my goal is ARM64 not x86. I tried both to see if there was any difference.

Can we make this issue the request for an ARM64 debugger, and not by design as a result?

[2019-04-17 21:16] richlander commented on #3006
One small nit ... The ARM64 SDK isn't currently yet available, just the Runtime. So everything is correct above, but to go through the flow today, you need the x86 SDK to build the product. In future, we'll have an ARM64 SDK.

[2019-04-17 21:25] rchande commented on #3005
@richlander Can you help me get a machine where I can play around with this?

[2019-04-18 02:19] achandlerwhite commented on #2997
I'm seeing this too on MacOS Mojave, VSCode 1.33.1, and omnisharp-vscode 1.19.

[2019-04-18 03:44] sanboxrunner opened #3007 "Bug: Arbitrary Rename Requests On Incorrect Calls"
## Steps to reproduce

[code]
At this stage, right click "MyMethodToRename" (note that we have incorrect parameters in our call, and thus the wrong signature) and MyMethodToRename will be...uh...renamed, but our CALL of my method to rename, which we just rightclicked to rename, will *not* be. I suspect because it's not a valid call. I would rather error out on this I think.

## Expected  behavior

[2019-04-18 05:30] seanmars commented on #2948
I'm using v1.19.0 and still get the wrong formatting.

[2019-04-18 06:28] jim1019 opened #3008 "System.IO.FileNotFoundException"
System.IO.FileNotFoundException: δ�ܼ����ļ�����򼯡�netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51��������ĳһ�������ϵͳ�Ҳ���ָ�����ļ���
�ļ���:��netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51��
   �� OmniSharp.Stdio.Driver.Program.<>c__DisplayClass0_1.<Main>b__1()
   �� OmniSharp.HostHelpers.Start(Func`1 action)

����: ���򼯰���־��¼���رա�
Ҫ���

[2019-04-18 09:02] mnewboult commented on #3004
I can't install 4.7.2 (Windows 8.1). Installation fails. So I think I may be stuck on 1.18.0.

Microsoft seem to have forgotten developers are still using older OS versions.

[2019-04-18 12:12] ponik commented on #2949
@nczsl Same issue, In my case because I was setted Omnisharp.Path="absolute path" in vscode.
remove it the issue fixed.
VSCode->File->Preferences->Settings, Or press [Ctrl + ,] open settings panel,
search omnisharp.path, click [Edit in settings.json] edit json directly, remove "Omnisharp.Path":"xxx" if it exists. Or correct it.

[2019-04-18 12:50] arundavidshelly commented on #3008
System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file specified.
File name: 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'
   at OmniSharp.Stdio.Driver.Program.<>c__DisplayClass0_1.<Main>b__1()
   at OmniSharp.Host

[2019-04-18 13:24] savpek commented on #43
@ejohn20 moved issue to https://github.com/OmniSharp/omnisharp-roslyn/issues/1472, i can repro it so just need to check with debugger whats wrong.

[2019-04-18 13:31] thomazmoura commented on #2997
Same behavior here - Windows 10, VS Code 1.33.1, and omnisharp-vscode 1.19.

Omnisharp Log stops at adding project, but on extension host, these logs keep appearing:

[code]

Weirdly enough, this happens on a specific project but not on another. I've tried to make the one working break as the other one and fix the broken one based on the working one but I've failed on both attempts. Only rolling b

[2019-04-18 14:17] hazardsy opened #3009 "Referencing a package with X.Y.* version in .csproj results in Omnisharp not loading."
## Issue Description ##
Referencing a package with a "starred" version (i.e. : 12.0.*) in the .csproj file results in Omnisharp failing to load.
A colleague of mine had the same issues on another project in another environment (Windows 10) and we fixed it in the same way by replacing the * by an actual version.
All of this was done in .Net projects, I could not test it in another framework.
## Ste

[2019-04-18 15:06] vvdimov commented on #2891
My VSCode installation is exhibiting the same exact issues.

[2019-04-18 15:36] SirIntruder commented on #3008
System.NullReferenceException: Object reference not set to an instance of an object.
   at Roslyn.Utilities.EventMap.AddEventHandler[TEventHandler](String eventName, TEventHandler eventHandler)
   at lambda_method(Closure , LifetimeContext , CompositionOperation )
   at System.Composition.Hosting.Core.LifetimeContext.GetOrCreate(Int32 sharingId, CompositionOperation operation, CompositeActivator c

[2019-04-18 15:38] thomazmoura commented on #2992
@filipw Is a specific minor version of .NET 4.7.2 needed? I have .NET 4.7.2 installed (even target it for a few applications) and yet I'm facing this same problem, as reported on #2997

[2019-04-18 16:00] thomazmoura commented on #2997
@dietermijle, does your .csproj file have any stars (*) for package versions? This problem might be the same as #3009 .

The project that I 've mentioned that has broken intellisense on 1.19 apparently works fine now after changing the stars to '0' and restarting VS Code. The project that was working fine all along didn't have any stars on the .csproj.

[2019-04-18 16:02] achandlerwhite commented on #2997
My sln definitely has a lot of wildcards in the csproj files.

[2019-04-18 16:18] thomazmoura commented on #2997
@achandlerwhite can you remove the wildcards and restart VS Code to check if this is indeed the same issue?

[2019-04-18 17:01] achandlerwhite commented on #2997
I will give it a try this evening.

[2019-04-18 17:05] Raptor2277 commented on #2996
Same problem here, had to downgrade to 1.18.0. It seems like the cs files are not being loaded as part of the project. Every time I open a cs file is says

[2019-04-18 17:47] rv-rhill commented on #2539
Another troubleshooting strategy to try if none of the above works out is uninstalling Mono. I also experienced a sudden disappearance of Intellisense after pulling changes to one of our enterprise repos that included an upgrade from ASP.NET Core 2.0 to 2.1. Strangely, at the same time, Intellisense was working fine in another C# project repo running ASP.NET Core 2.2.

For the project in question,

[2019-04-18 17:53] jbejar commented on #2147
I am also having issues with Omnisharp, I've tried deleting everything, reinstalling on mac. I am getting a whole bunch of type or namespace errors, but when I use VS2019 it works just fine.
[code]

[2019-04-18 18:08] jwerra commented on #3008
Same issue reported here https://github.com/OmniSharp/omnisharp-vscode/issues/3004#issuecomment-484416851

[2019-04-18 18:44] motor75 commented on #3004
I have an update on this issue - I have now suddenly got the following error dialog box which was not appearing before when I attempt to open my project:
![image](https://user-images.githubusercontent.com/42443455/56383331-96643500-61e7-11e9-8b00-3d23e5f1e745.png)

I clicked "YES" and installed the SDK for developers.  Once installed, Omnisharp is now working fine.

Now, why it didn't show this er

[2019-04-18 19:09] SirIntruder commented on #3004
Probably because of this:
https://github.com/OmniSharp/omnisharp-roslyn/pull/1469

[2019-04-18 19:29] filipw commented on #3004
yes, you must have had `"omnisharp.path":"latest"` set in your VS Code, and it pulled down the latest build from master which is `1.32.19-beta.21` at the moment which had the linked change (https://github.com/OmniSharp/omnisharp-roslyn/pull/1469). instead of OmniSharp crashing at startup silently, it should prompt now for the missing 4.7.2 on windows.

[2019-04-18 19:40] motor75 commented on #3004
@SirIntruder you're probably correct - I see my file was updated today at 2:48pm (50 minutes ago) when I was still on version 1.18.  No clue how it got updated, but it definitely has the 4.7.2 framework requirement in the config:
[code]

Once everything started working again, I then allowed VS Code to do an update to 1.19 and I'm still good to go.  Very odd sequence of events the last 2 days - I'd

[2019-04-18 19:43] motor75 commented on #3004
@filipw - I still have that in my settings:

`    "omnisharp.path": "latest"`

Should it be set to something else?

[2019-04-18 19:48] filipw commented on #3004
Like I mentioned, the error was caused by the lack of .NET 4.7.2 on your Windows box (note, the version that you posted was just the msbuild version, not the .NET Framework version). Unfortunately we missed the `supportedRuntime` change as part of the OmniSharp release and instead of prompting the users that didn't have it to install it, it became a silent error that you experienced.

Apologies fo

[2019-04-18 19:52] motor75 commented on #3004
@filipw - Awesome explanation - thanks for your help and detailed information :)

[2019-04-18 21:31] vanillajonathan commented on #2876
Omnisharp 1.19.0 is now in the VS Marketplace by updating the extension in VS Code to the latest version.

[2019-04-19 05:30] filipw commented on #3009
Thanks for reporting the problem. There is a new build since yesterday that should fix this. Could you try setting `"omnisharp.path": "1.32.19-beta.25"` in your VS Code settings and confirm? This will download the new OmniSharp from the master branch. Thanks.

[2019-04-19 05:31] filipw commented on #2993
Thanks a lot - I will close this as duplicate of #3009.
Please see https://github.com/OmniSharp/omnisharp-vscode/issues/3009#issuecomment-484772057 for a solution.

[2019-04-19 05:31] #2993 closed

[2019-04-19 06:57] hazardsy commented on #3009
I seems to be working as intended.
Thank you for the quick response and fix !

[2019-04-19 12:46] Jack85 commented on #3004
Same issue, resolved disabling update and installing 1.18.0

[2019-04-19 14:39] zeroskyx opened #3010 "Ubuntu 19.04: No usable version of the libssl was found; Error: Input connection was closed. Aborting the debug session."
## Issue Description ##
After upgrading to Ubuntu 19.04 debugging is no longer possible with VSCode.
Upon starting a debug session, the following output is visible with a clean console application:

    /home/zeroskyx/skyseract/Data/Resources/VSCode/extensions/ms-vscode.csharp-1.19.0/.debugger/vsdbg --interpreter=vscode --connection=/tmp/CoreFxPipe_vsdbg-ui-b0e9bd7c6e53450b853ff5b1b397338d
    Err

[2019-04-19 15:08] gregg-miskelly commented on #3010
@zeroskyx this really looks to be an incompatibility between .NET and Ubuntu 19, though I am having trouble finding an issue for it. How did you install the .NET SDK (ex: apt-get?)

[2019-04-19 15:10] gregg-miskelly commented on #3010
Here is the code that is failing: https://github.com/dotnet/corefx/blob/901ff58aee521984e8791f9f7d51fabfd31f910e/src/Native/Unix/System.Security.Cryptography.Native/opensslshim.c#L80

[2019-04-19 15:12] gregg-miskelly commented on #3010
Here is the code that seems to be probing for various openssl versions. Do you have any of these installed? Do you know if you can install them?

https://github.com/dotnet/corefx/blob/901ff58aee521984e8791f9f7d51fabfd31f910e/src/Native/Unix/System.Security.Cryptography.Native/opensslshim.c#L50

[2019-04-19 15:17] zeroskyx commented on #3010
@gregg-miskelly: libssl1.1 is installed: `libssl1.1/disco,now 1.1.1b-1ubuntu2 amd64 [installed]`

When running a pre-compiled application that I had compiled before the update to 19.04 that used websockets, the same error occurs and the application is terminated. After re-compiling the application in 19.04 it works.

I can't seem to install libssl1.0 alongside 1.1.

[2019-04-19 15:47] gregg-miskelly commented on #3010
For the app that worked once you recompiled -- it looks like you just have the 2.2.4 runtime installed. Did you previously have a different runtime installed?

What libssl so's do you have? Example:
[code]

I can't think of any good theory as to how recompiling would fix a problem like this. The only ideas that I have --
* You could have updated from one version of the .NET Runtime to another as o

[2019-04-19 16:05] zeroskyx commented on #3010
@gregg-miskelly: it is possible that the previous version was compiled with an older SDK, you are right.

On the other hand, here are my libssos in /usr as you requested:

[code]

Thanks a lot for you effort!

[2019-04-19 16:15] zeroskyx commented on #3010
Update: interestingly when I force version 1.1 via an environment variable, another error occurs: `Cannot get required symbol CRYPTO_add_lock from libssl`

[2019-04-19 16:29] gregg-miskelly commented on #3010
@bartonjs is the .NET team aware of issues with a new version of libssl in Ubuntu 19 that is missing `CRYPTO_add_lock`?

[2019-04-19 16:35] gregg-miskelly commented on #3010
Nevermind - I see, there was a [big change](https://github.com/dotnet/corefx/commit/e4bcbd5885e93ea4620103efc303c9b61982851b#diff-09bf2a7a4cbce53e4b9fcd113a98dbcd) to this in 2.2.3.

[2019-04-19 16:36] gregg-miskelly commented on #3010
@zeroskyx I will try to send you a private vsdbg-ui running on top of 2.2.4, and we can see if that fixes this.

[2019-04-19 20:28] gregg-miskelly commented on #3010
I setup my own Ubuntu 19.04 machine, and I was able to reproduce the problem using the current in-market version of the debugger, and the problem didn't happen with my new debugging. I am currently publishing the new debugger to the web and I expect to put out a beta release of the C# extension with the fix before the end of day today.

[2019-04-19 20:49] ramarivera commented on #1198
Any news on this? The problem is still present in the latest release of VSCode and the extensions.

[2019-04-19 21:17] ejohn20 commented on #43
@savpek Thank you for looking into this! I'll move conversations over to the new issue.

[2019-04-19 23:18] gregg-miskelly commented on #3010
This repo's CI build is broken, so I am having trouble getting an official build out. So here is a private one: [csharp-1.19.1-beta1.zip](https://github.com/OmniSharp/omnisharp-vscode/files/3099543/csharp-1.19.1-beta1.zip)

To use:
1. Download the file
2. Rename it to csharp-1.19.1-beta1.vsix
3. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases

[2019-04-20 09:17] bitinn opened #3013 "Feature Request: EditorBrowsable.Advanced"
## Issue Description ##

UnityEngine has a deprecated public class `iPhoneSettings`, which always show before `if` for me. It lives under `UnityEngine` namespace so I can't avoid importing it.

<img width="285" alt="Screen Shot 2019-04-20 at 16 49 18" src="https://user-images.githubusercontent.com/1484279/56455152-ac135f00-638d-11e9-90ff-ed9611f0b5a4.png">

<img width="285" alt="Screen Shot 2019-0

[2019-04-20 15:47] xeon321 commented on #2891
I fixed mine after I reformatted my PC and installed VSCode using System Installer instead of User Installer. You can try the latter one, see if that's the solution.

[2019-04-20 19:56] tmjwid opened #3014 "Wildcard used in RuntimeFrameworkVersion causes loss of references intellisence"
## Environment data
.NET Core SDK (reflecting any global.json):
 Version:   2.2.104
 Commit:    73f036d4ac

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.104\

Host (useful for support):
  Version: 2.2.2
  Commit:  a4fd7b2c84

.NET Core SDKs installed:
  1.0.0 [C:\Program Files\dotnet\

[2019-04-20 20:07] tmjwid commented on #3014
My apologies, it's been a long day and I missed a report from 2 days ago with the exact same issue  #[https://github.com/OmniSharp/omnisharp-vscode/issues/3009](url)

[2019-04-20 20:07] #3014 closed

[2019-04-20 20:15] brian-themaven opened #3015 "[ERROR]: C# Extension failed to get platform information."
## Environment data
VSCode installed:
1.33.1 for MacOS

`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.103
 Commit:    8edbc2570a

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.2.103/

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

[2019-04-20 21:41] filipw commented on #3014
@tmjwid thanks, could you please try this solution? it should be fixed already https://github.com/OmniSharp/omnisharp-vscode/issues/3009#issuecomment-484772057

[2019-04-20 21:49] filipw commented on #2997
This behavior was caused by wildcards in package/framework references that unfortunately caused OmniSharp to get stuck in an initialization infinite loop.

I will close this is a duplicate of #3009
If you have projects with wildcards, the recommended workaround (until the next official release) is mentioned here https://github.com/OmniSharp/omnisharp-vscode/issues/3009#issuecomment-484772057

Than

[2019-04-20 21:49] #2997 closed

[2019-04-20 22:08] filipw commented on #2342
This is live in 1.19.0.

[2019-04-20 22:08] #2342 closed

[2019-04-21 03:00] brian-themaven commented on #3015
I had only downloaded the .NET Core SDK and not the runtime.  After downloading the Runtime it worked.

[2019-04-21 03:01] Bobgernaut opened #3016 "i need a human response to this issue (#72662)"
Issue Type: <b>Performance Issue</b>

I did a report a few hours ago and i got this as an answer.

"This issue is caused by an extension, please file it with the repository (or contact) the extension has linked in its overview in VS Code or the marketplace for VS Code. See also our issue reporting guidelines."

I am not a coder nor do i knkow what they are talking about. Can someone tell me this i

[2019-04-22 07:17] mammadkoma commented on #2955
This issue is caused by an extension, please file it with the repository (or contact) the extension has linked in its overview in VS Code or the marketplace for VS Code. See also our issue reporting guidelines.

Happy Coding!

https://github.com/Microsoft/vscode/issues/72701#event-2290677751

[2019-04-22 09:11] #2988 closed

[2019-04-22 10:06] rengare commented on #3010
@gregg-miskelly Your quick fix helps, I have just applied your changes and it works for ubuntu 19.04

[2019-04-22 12:26] CreatorVilius commented on #25
Apparently, it doesn't work for me at least. CS-Script isn't that good at supporting VB.NET. Also, no syntax highlight fix...

[2019-04-22 13:39] oleg-shilo commented on #25
Could you please elaborate?

[2019-04-22 21:18] chase9 commented on #3010
This solved an issue I was having on the Fedora 30 beta. The debugger would silently crash from a SIGABRT but is working again using 1.19.1-beta1.

[2019-04-23 02:49] brian-themaven commented on #3015
This now repros again.  I re-installed .NET Core SDK and Runtime from here https://dotnet.microsoft.com but this time it did not fix my issue.

[2019-04-23 03:28] richlander commented on #3016
Can you describe what caused you to report an issue? The report says "Performance issue".  Were you experiencing poor performance?

All the C# functionality in VS Code is provided by the C# extension. It is an add-in to VS Code. You appear to be developing some kind of Unity game or asset.

[2019-04-23 03:29] richlander commented on #3005
Yes. Will get you one.

[2019-04-23 03:32] richlander commented on #2986
If that's the recommended behavior, I'm happy to do that. I didn't know that. I will try that instead.

[2019-04-23 03:43] richlander commented on #2986
Trying that. I have two instances of Code opened:

- parent directory, enabling me to edit both app and test projects. The test project is set as the current project.
- child app directory/project.

I made an edit (added a new member in an enum) in the child app instance of Code. I went back to the parent instance and made a change in a test to take advantage of the new enum value. O# didn't see/h

[2019-04-23 03:48] #2937 closed

[2019-04-23 03:50] richlander commented on #3013
The best option is for Unity to decorate these APIs with the [EditorBrowsable](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.editorbrowsableattribute?view=netframework-4.8) attribute.

I don't see the C# extension solving this problem.

[2019-04-23 05:34] bitinn commented on #3013
@richlander I could request it, but there is a problem:

https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.editorbrowsablestate?view=netframework-4.8

Here is no `Deprecated` key for `EditorBrowsableState`, meaning there is no way to tell IntelliSense "we want to deprioritize this class in suggestion".

The `Advanced` key not well supported and doesn't change display order neither,

[2019-04-23 07:51] icewindq opened #3017 "Question: How to customize the code analysis rulesets for C#?"
Hi guys,
I use the latest VS Code(1.32.3) with ms-vscode.csharp-1.19.0. I got a lot of warnings in the Problems Panel when I open an ASP.NET MVC project, like this:

So I want to disable those warnings via customizing the code analysis rulesets. My questions are:
1. Where do the global rulesets of code analysis load from?
2. How to customize the code analysis rulesets globally for all C# projects?

[2019-04-23 09:04] brian-themaven commented on #3015
Some more info after turning on Help | Developer Tools.

extensionService.ts:800 Activating extension 'ms-vscode.csharp' failed: Cannot read property 'architecture' of undefined.

[2019-04-23 10:39] erammos opened #3018 "Incorrect auto - complete in lamda expressions"
1.19.0 vers.
![Screen Shot 2019-04-23 at 13 30 20](https://user-images.githubusercontent.com/10757118/56574597-511b7b00-65cc-11e9-82ac-e076318f8cdb.png)

[2019-04-23 13:16] DrakeLambert commented on #2790
The new omnisharp build fixed the issue for me. Thanks!

[2019-04-23 14:26] Bobgernaut commented on #3016
I love VScode but this is not the first time this haooens to me.

The intellisense is not working with anything associated C# and Unity. All the other extensions work except the C# Microsoft.

I tried uninstalling and purging anything that was associated to visual studio.

Visual Studio works, Rider works but VScode does not.

It started when I had to reinstall VScode to move it, from secondary ha

[2019-04-23 15:31] filipw commented on #3004
This was resolved by https://github.com/OmniSharp/omnisharp-roslyn/pull/1469
Until the next release, the workaround is to install .NET 4.7.2 or use the method described here https://github.com/OmniSharp/omnisharp-vscode/issues/3004#issuecomment-484655065 which will prompt automatically for .NET 4.7.2 installation.

[2019-04-23 15:31] #3004 closed

[2019-04-23 15:32] filipw commented on #2996
This looks very similar to this https://github.com/OmniSharp/omnisharp-vscode/issues/3009#issuecomment-484772057 could you please try with the solution explained in that comment? thanks!

[2019-04-23 15:43] filipw commented on #2992
Yes, unfortunately MSBuild 16, which was introduced in this latest build of OmniSharp as part of .NET Core 3.0 support requires .NET 4.7.2 to run.
I will close this as behavior by design.

Note that there is a new build to try out, that will at least prompt you to install .NET 4.7.2 instead of failing silently https://github.com/OmniSharp/omnisharp-vscode/issues/3004#issuecomment-484655065

Sorry

[2019-04-23 15:43] #2992 closed

[2019-04-23 15:52] #2971 closed

[2019-04-23 15:56] filipw commented on #3008
This was resolved by https://github.com/OmniSharp/omnisharp-roslyn/pull/1469
Until the next release, the workaround is to install .NET 4.7.2 or use the method described here https://github.com/OmniSharp/omnisharp-vscode/issues/3004#issuecomment-484655065 which will prompt automatically for .NET 4.7.2 installation.

[2019-04-23 15:56] #3008 closed

[2019-04-23 15:58] filipw commented on #2940
OmniSharp doesn't use VS Code abstractions to talk to the filesystem, it accesses the file system directly, so at the moment the in-memory VS Code filesystem would not work with OmniSharp.

[2019-04-23 15:59] mat1jaczyyy commented on #2992
Very sad situation where Windows 7 is supported but the release version of Windows 10 isn't. 👍 for the update though.

[2019-04-23 16:47] annahri commented on #2719
@sebasijan Bump. I have similar issue.
Workaround (in this case):
`mkdir C:\Program Files (x86)\Microsoft SDKs\NuGetPackagesFallback\`

Simply make "NuGetPackagesFallback" directory.

[2019-04-23 19:57] wessiyad commented on #2876
I'm having this issue with Omnisharp 1.19.0 (ms-vscode.csharp-1.19.0)

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.203\

Host (useful for support):
  Version: 2.2.4
  Commit:  f95848e524

If I pin my .NET core version to 2.2.104 it works fine, but when it tries to use 2.2.203 I get t

[2019-04-24 03:26] as3mbus commented on #2876
assuming you already installed latest version and installed another version of dotnet you can specify sdk used in project through adding global.json
[code]
change `version` value to version omnisharp work with.
afaik it works with 2.2.106, yet still having problem with 2.2.203

have added `"omnisharp.path": "latest", ` in VS Code's `setting.json` and it still fails nonetheless
[code]

i ended up t

[2019-04-24 06:16] savpek commented on #3017
Sadly there isn't support for user specific (derived from vscode eg.) rulesets yet. However you can configure them per solution / projects with .ruleset files https://roslyn-analyzers.readthedocs.io/en/latest/config-analyzer.html

Ruleset support requires `omnisharp.enableRoslynAnalyzers` set true.

[2019-04-24 07:07] banmohan commented on #2891
In my case, I solved this by removing "*" from package version on .csproj

[2019-04-24 08:41] ghkawa opened #3019 "Error: Microsoft.AspNetCore.Razor.OmniSharpPlugin fails to load"
## Issue Description ##

One day, the following error came to occur at startup. What is the cause?
[code]

## Environment information ##

**VSCode version**: 1.32.3
**C# Extension**: 1.19.0

<details><summary>Mono Information</summary>
        OmniSharp using global mono :5.16.0</details>
<details><summary>Dotnet Information</summary>
.NET Command Line Tools (2.1.2)

Product Information:
 Version:

[2019-04-24 08:48] filipw commented on #3019
can you try updating your global Mono? Latest extension 1.19.0 requires minimum 5.18 and the latest available on https://www.mono-project.com/download/stable/ is already 5.20.1.

[2019-04-24 09:22] ghkawa commented on #3019
Thank you.
Updated to 5.18.1. But the same error occurs.

OmniSharp Full log
[code]

[2019-04-24 10:33] smjltd commented on #2955
same issue anyone know how to resolve it?

[2019-04-24 10:57] filipw commented on #3019
the error shows you are running OmniSharp `1.32.3-beta.9` which is really old (not the one that ships with 1.19.0 extension)

please check in your VS Code settings what is your `"omnisharp.path"` setting? if you have anything set, please remove it and reinstall the extension, this will pull the latest stable OmniSharp.

[2019-04-24 16:04] ghkawa commented on #3019
It was set to `"omnisharp.path": "1.32.3-beta.9"`, so delete it and solve the problem.
Thank you for your help.

[2019-04-24 16:04] #3019 closed

[2019-04-24 17:02] filipw commented on #3019
great! 👍👍

[2019-04-24 19:10] Hardhik commented on #3003
Surprisingly, I saw this today in the Visual Studio IDE too.

[2019-04-24 19:38] CTJansson commented on #2604
I seem to be doing this wrong, still not very familiar with arch-based Linux (Antergos) yet, so basically I take this export string and paste it into the terminal and press enter and it should just work?
`export MSBuildSDKsPath=/opt/dotnet/sdk/$(dotnet --version)/Sdks`
Why I think I'm doing wrong it's because code still telling me the sdks can't be found, would probably need a how-to for dummies.

[2019-04-24 19:46] anticide commented on #2604
No, you do need to add that line to your **.bash_profile** file, then reload it with: `source ~/.bash_profile`

[2019-04-24 19:47] mhosman commented on #2876
Using "latest" is not working.
`Microsoft.Build.Exceptions.InvalidProjectFileException: The SDK 'Microsoft.NET.Sdk.Web' specified could not be found.`

[2019-04-25 00:28] akshita31 commented on #3003
@PaitoAnderson That is awkward. Can you share the repro project. Does it reproduce when all other extensions are disbaled?

[2019-04-25 02:20] PaitoAnderson commented on #3003
@akshita31 Yes it does, unfortunately it's not open source, what's the best way to securely share repro project with you? My email is on my profile.

[2019-04-25 05:41] SaculRennorb commented on #2691
Well... after updating a lot of stuff something seems to have worked, but I couldnt for the life of me tell you what it actually was in the end. So yea, it was probably just some faulty install from somewhere and seems to work - for now at least. ty guys for looking into it.

[2019-04-25 06:29] icewindq commented on #3017
@savpek Thanks for your answer.  It works after using .ruleset files.

[2019-04-25 06:29] #3017 closed

[2019-04-25 09:37] chipironcin commented on #3009
The fix `"omnisharp.path": "1.32.19-beta.25"` did download this exact version but still doesn't work for me. Not even after a window reload or extension reload or project reload.

No error logs in the Omnisharp Logs window.
Installing a previous version of the "C#" extension (1.18.0) worked.

[2019-04-25 09:38] chipironcin commented on #2996
The fix mentioned in https://github.com/OmniSharp/omnisharp-vscode/issues/3009#issuecomment-484772057 (`"omnisharp.path": "1.32.19-beta.25"`) did download this exact version but still doesn't work for me. Not even after a window reload or extension reload or project reload.

No error logs in the Omnisharp Logs window.
Installing a previous version of the "C#" extension (1.18.0) worked.

[2019-04-25 11:56] filipw commented on #3009
the build mentioned here specifically addresses the problem with wildcards in project file - if you did not have them in the first place, then you are likely affected by some other problem.

Could you please share your OmniSharp log? Even if there are no errors there it will contain some useful info.

[2019-04-25 13:01] peresbruno commented on #490
+1

[2019-04-25 13:23] cjaeckel commented on #2996
Me too have to confirm that the fix mentioned in #3009 (comment) ("omnisharp.path": "1.32.19-beta.25") does not solve the problem.
Omnisharp seems to hang after saying:
[code]
Re-installing the previous version of the "C#" extension (1.18.0) made it working again...

[2019-04-25 15:47] chipironcin commented on #3009
You are right @filipw
Sorry for the confusion!
Lets track that one at https://github.com/OmniSharp/omnisharp-vscode/issues/2996#issuecomment-486670640
Forget my last comment!

[2019-04-25 15:50] chipironcin commented on #2996
OmniSharp Log (project name has been replaced for anonymity):

[code]

[2019-04-25 15:57] chipironcin commented on #2996
OmniSharp Logs using extension C# 1.19.0 (original project name has been replaced for anonymity):

[code]

[2019-04-25 16:03] filipw commented on #2996
Thanks a lot for the log!

Could you please double check if you have `"omnisharp.path": "1.32.19-beta.25"` set in the VS Code settings (and after that restart VS Code)?
What I can see in your log is that the version 1.32.18 (which is bundled with extension 1.19.0) gets started instead (notice the path to omnisharp in the folder name).

[code]

It should be something like this:

[code]

If you navi

[2019-04-25 18:15] rtablada opened #3021 "Not Recognizing VSCode as Microsoft Signed PopOS 19.04"
## Issue Description ##

After installing a fresh install of PopOS 19.04 (based on Ubuntu 19.04) and installing VSCode + Ominsharp I am getting an error that the debugger can not run in this version of VSCode. Then the debugging process stops. This is the case whether running via "Debug Test" or using the launch.json settings for C# projects.

Originally I installed VSCode from the PopShop then up

[2019-04-25 18:24] akshita31 commented on #3016
@Bobgernaut To make things simple is it possible for you to share the project you are working on so that we can debug what is going on here

[2019-04-25 18:25] akshita31 commented on #3003
@PaitoAnderson Can you send it over email - akagarw@microsoft.com

[2019-04-25 18:26] akshita31 commented on #2998
@hughbe I will close this issue now. Please get back to us if it repros

[2019-04-25 18:26] #2998 closed

[2019-04-25 18:36] Bobgernaut commented on #3016
Of course. How do i share it?

On Apr 25, 2019 2:24 PM, Akshita Agarwal <notifications@github.com> wrote:

@Bobgernaut<https://github.com/Bobgernaut> To make things simple is it possible for you to share the project you are working on so that we can debug what is going on here

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/O

[2019-04-25 18:54] CreatorVilius opened #3022 "Docs for Managed code constructors don't work"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.33.1
C# Extension version: 1.19.0

## Steps to reproduce

1. Make C# console project
2. Open as workspace in Visual Studio Code
3. Include `Microsoft.Scripting.dll` and `Microsoft.Scripting.Core.dll` into `csproj`
4. Put this into `csproj` file:
[code]
5. Try using any constructor (for example `Microsoft.Scripting.Hosting.Compil

[2019-04-25 19:03] filipw commented on #3022
The docs come from XML files that should be located next to the DLL (in case of framework references and NuGet packages those are discovered automatically). However, since you are loading your DLLs from your own `/lib` folder, you need to make sure the XML files with documentation are also available in the same location.

[2019-04-25 19:08] rchande commented on #3022
@filipw Sounds like this would be a omnisharp/dotnet script bug. Should we move/close this?

[2019-04-25 19:09] rchande commented on #3021
cc @gregg-miskelly

[2019-04-25 19:13] rchande commented on #2876
I believe the original issue in this bug is fixed with 1.19.0 so I'm going to close this.
@wessiyad please file a new issue and include your log. Thanks!

[2019-04-25 19:13] #2876 closed

[2019-04-25 19:19] filipw commented on #3022
To me - based on the description - it sounds like a regular DLL reference with missing XML file situation. OmniSharp uses Roslyn's default `FileBasedXmlDocumentationProvider` everywhere but if the file is missing, then obviously there won't be any docs 😀

We can move this into omnisharp-roslyn repo for now until we have any more info, but at first glance it appears everything is as expected.

[2019-04-25 21:08] tonyranieri opened #3023 "The SDK 'Microsoft.NET.Sdk.Web' specified could not be found."
Was asked to create new issue on https://github.com/OmniSharp/omnisharp-vscode/issues/2876

## Environment data
`dotnet --info` output:

PS C:\source\poc\omnisharp-issue> dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.2.203
 Commit:    e5bab63eca

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:

[2019-04-25 21:12] wessiyad commented on #2876
for those interested -https://github.com/OmniSharp/omnisharp-vscode/issues/3023

[2019-04-25 22:19] NTaylorMullen commented on #2645
I believe this is fixed with the latest release.

[2019-04-25 22:19] #2645 closed

[2019-04-25 22:24] NTaylorMullen opened #3024 "ASP.NET Core client side Blazor applications can't be run in VSCode"
This was originally reported over in https://github.com/aspnet/AspNetCore/issues/9451 and it seems that the dialog to add build assets to the project can't detect Blazor client side applications because they're not true runnable applications on their own.

To fix this there's two steps:
1. Make runnable project detection understand Blazor client side applications
2. Update the run .net core consol

[2019-04-26 00:37] noamichael commented on #2955
@smjltd I was having the same issue. It turns out that my `dotnet` cli was outdated. I grabbed the [latest preview build from here](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview4-download.md) and the app worked after installation when I ran `dotnet run` in the project's root directory.

[2019-04-26 02:59] YunWeiaa opened #3025 "The “launch.json” file generator hasn't updated the parts in <> when debugging in VSCode."
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.33.1
C# Extension version: 1.19 (v1.19.0)

## Steps to reproduce
•	Create new .NET Core 3.0 console application(con30) with reference to a .NET Standard 2.1 class library(cla21) via CLI,
•	Open it via VSCode
![image](https://user-images.githubusercontent.com/33921754/56779288-df7e3f80-680c-11e9-8996-34c143ca8f97.png)
•	Debug the

[2019-04-26 09:07] YunWeiaa opened #3026 "Newly added project files not "watched""
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.33.1
C# Extension version: 1.19 (v1.19.0)

## Steps to reproduce
1. Create a Class Library project.(C#)
Place some sample test code into your test method
Ex:
[code]
2. Build the project
3. Add a new Unit Test Project into the solution
5. Refer the above class library into this project in code editor via VSCode.
Put below sample

[2019-04-26 10:15] chipironcin commented on #2996
Using `"omnisharp.path": "1.32.19-beta.25"`, reloading Omnisharp, reloading window and waiting a bit seems to have done the trick.
No global Mono required.

[2019-04-26 10:17] duduferreira commented on #3009
@filipw thanks for your advice.
Changing (for me, INCLUDING) "omnisharp.path": "1.32.19-beta.25" on setting.json solved the problem!

[2019-04-26 10:24] ikourfaln commented on #490
+1

[2019-04-26 10:54] chetanthambad commented on #3026
Facing the same issue

[2019-04-26 11:49] RononDex opened #3027 "Peak references shortcut inconsistent with click on "xx references""
## Issue Description ##
When you have the cursor on a function, and hit Shift+F12 (peak references), it also shows the method declaration itself. (If method says 4 references then peak references shows 5 references / entries).

However, if one clicks on the "4 references" with the mouse, it only shows the 4 references excluding the method declaration.

## Steps to Reproduce ##
1. Move cursor onto

[2019-04-26 12:05] MeSurajYadav commented on #2473
Can you give it a try, coz it worked for me. I had some settings in my settings.json file like proxy settings, omnisharp path etc. But, it failed when I switched to dotnet core 3 and new latest VS Code.
When I emptied out all the settings in settings.json VS code automatically downloaded all the required files and worked. Keep {} only in File->Preferences->Settings.Json (comment all settings) and

[2019-04-26 13:50] filipw commented on #2996
That's great to hear - thanks for taking your time to do this 👍

One word of caution for the future - `"omnisharp.path"` is used to override the OmniSharp version used by the C# extension in VS Code. This works well in this particular situation where version 1.32.18 that shipped with extension 1.19.0 had the unfortunate bug. Using `"omnisharp.path"` setting, we can opt into a newer built (`1.32.19

[2019-04-26 13:54] rohitvishwakarma1819 commented on #2267
I solved this problem by trying this solution-
1. Open Visual Studio Community(if you don't have, install it)
2. Go to your unity Project folder
3. There will be a file like -- 'YOUR_PROJECT_NAME.sln'
4. Double click that file and choose to open in Visual Studio Commuity
5. It will load your solution file
6. Then it will show you a window saying unity is target to .net vsxxx and this is not instal

[2019-04-26 14:02] duduferreira commented on #2996
Changing (for me INCLUDING) `"omnisharp.path": "1.32.19-beta.25"` in  settings.json, solved problem.
Thank you @filipw

[2019-04-26 15:09] manojbavikati commented on #2960
I can copy the files manually but then it tries to download the .debugger and .razor and other folders that have the same issue

[2019-04-26 15:27] Ghostbird commented on #2529
Finally managed to finish this, the issue was similar to that mentioned in https://github.com/Microsoft/msbuild/issues/2532#issuecomment-477661382 There was a dead symbolic link `/usr/local/bin/dotnet -> /opt/dotnet/dotnet`. This triggered the issue.
The link was there because the original dotnet Debian package that was not available through repositories, and had to be installed more manually, did

[2019-04-26 15:27] #2529 closed

[2019-04-26 17:20] mvalero commented on #2996
Using "omnisharp.path": "1.32.19-beta.25", and reloading VsCode seems to have worked for me as well, while inspecting the debug log, there are still some `FAILING` messages.

[code]

[2019-04-26 17:22] filipw commented on #2996
these can be ignored for now, that's why they are at debug level only

[2019-04-26 19:15] mario195 commented on #3018
Facing the same issue.....
![Screenshot_20190426_211427](https://user-images.githubusercontent.com/24294286/56831044-63194a00-6868-11e9-94b4-bdff26adcb55.png)

[2019-04-26 21:08] haripulaparthi opened #3029 "C# Extension not working for VS Code"
## Environment data
`dotnet --info` output:
VS Code version:  1.26.1
C# Extension version:
Starting OmniSharp on Windows 6.2.9200.0 (x64)
## Steps to reproduce
Just Installed C# extension from market place using VS Code

## Expected  behavior
It should install and work as specified.

## Actual behavior
Not able to identify the issue ?

Starting OmniSharp server at 4/27/2019, 2:33:04 AM
    Target:

[2019-04-26 21:23] filipw commented on #3029
According to your log you are on a very old version of VS Code (1.26.1) and - because of that - also on a very old C# extension version (1.16.2).

Please update to latest VS Code (1.33) and then update to latest C# extension (1.19.0).

[2019-04-26 21:47] haripulaparthi commented on #3029
Hi Filipw,

Thanks for your reply.

After updating the VS Code (1.33) & C# Extension (1.19) the issue is still exists.

Error Details as follows:-

Starting OmniSharp server at 27/4/2019, 3:12:47 AM
    Target: c:\Hari\Projects\Udemy\AngularCore\DatingApp\DatingApp.API

OmniSharp server started.
    Path: C:\Users\Hari\.vscode\extensions\ms-vscode.csharp-1.19.0\.omnisharp\1.32.18\OmniSharp.exe

[2019-04-26 22:03] filipw commented on #3029
What is your `dotnet --info` output?
Also, could you share the project you are trying to load?

[2019-04-27 15:02] aspann commented on #3003
I've ran into the same issue today. Solution for me was to change the `"omnisharp.useGlobalMono"` back to `"auto"` in the settings.json. (or simply remove that line. `"auto"` is the default value)

The problem might be related to an update of mono and/or MSBuild.

MSBuild: 15.9.20.62856
Mono: 5.20.1.19

[2019-04-27 18:47] rossimo commented on #2996
I'm a similar (if not the same) issue. Upgrading to the `1.32.19-rc25` build of Omnisharp didn't fix it for me. Instead, I installed the latest version of `omnisharp-vscode` from the Marketplace, and downgraded the `omnisharp.path` to `1.32.11`, which I believe is the version of `omnisharp-roslyn` baked into `1.18` of `omnisharp-vscode`.

[2019-04-27 19:50] filipw commented on #2996
if you could post the OmniSharp log from version `1.32.19-beta.25` where you mention some problem still persists we could take a look 🙂

The build specifically addressed the wildcard issue which affected quite a lot lf people. Therefore I suspect it is something else in your case but we'd need a log to be able to say anything. Thanks.

[2019-04-28 02:54] gregg-miskelly commented on #3025
@YunWeiaa You ran right past the big warning about how OmniSharp was unable to understand your project, and that is why you are getting a super generic launch.json file.

If you run the '.NET: Generate Assets for Build and Debug' command from command pallet, do you get a functional launch.json? If not, are you getting any problems indicated in the OmniSharp log? Is completion working?

[2019-04-28 02:56] gregg-miskelly commented on #3024
I don't think this plan will work -- launch.json configurations need to be for both running and debugging and, at least the .NET Debugger, will not be able to work if you launch the problem using `dotnet run`.

[2019-04-28 03:02] gregg-miskelly commented on #3021
@rtablada Are you getting an error message? Or is the debugger just exiting?

If the debugger is just exiting - I bet you are running into https://github.com/OmniSharp/omnisharp-vscode/issues/3010. There is a private version of the extension at the end of that issue which you can try to see if this fixes the problem for you.

If you are getting an error - can you grab a log? https://github.com/Omn

[2019-04-28 06:50] YunWeiaa commented on #3025
Not repro on **CLI\SDK: 3.0.100-preview5-011566 (runtime- 3.0.0-preview5-27626-15)**, the “launch.json” file generator can update automatically the parts in <> when debugging in VSCode.
![image](https://user-images.githubusercontent.com/33921754/56860004-4134da00-69c4-11e9-823e-fb590a2dc8fb.png)

[2019-04-28 10:09] #3025 closed

[2019-04-28 13:13] utybo commented on #2507
I encountered this issue, was resolved by uninstalling the VS 2017 Build Tools I had installed.

[2019-04-29 14:07] arie-itecho opened #3030 "Auto-formatter indent multi-line function signature"
When I have a long function signature, I like to split the signature into a few lines to avoid having super lengthy lines of code that is unreadable. It would be awesome if the auto-formatter can make it look nice. Currently I format those signature by hand, because the auto-formatter seems to ignore it.

Here are two examples of what multi-line signatures should look like IMO:

[code]

or when ca

[2019-04-29 15:15] rchande commented on #3026
I think what's happening here is that project files added after omnisharp starts aren't "watched" for changes. You can work around this by:
* using the "restart omnisharp" command to restart omnisharp after adding the second project file
* using the "restart omnisharp" command after adding the reference

When I do this, I get intellisense from the referenced project.

[2019-04-29 20:40] rchande commented on #3013
@bitinn @richlander As always, the situation is nuanced:
* Roslyn's completion list implementation would theoretically allow the OmniSharp to request/hide "Advanced" members
* C# extension/OmniSharp don't currently expose a way for you to control what level you want
* Unity doesn't decorate members

With regards to preferring `if` over `iPhoneSettings`: VS Code extensions don't have any control ov

[2019-04-29 22:12] nguerrera commented on #3023
[code]

I believe it is preferring (1) over (2). @rchande is there a way to control which msbuild instance is selected? If not, you'd need to uninstall VS 2017 or install VS 2019, I guess.

[2019-04-29 22:13] nguerrera commented on #3023
Also, it's confusing that (2) is described as StandAlone 15.0 instead of StandAlone 16.0.

[2019-04-29 22:22] filipw commented on #3023
at the moment it's unfortunately hardcoded https://github.com/OmniSharp/omnisharp-roslyn/blob/6836fadb9c35a88d4695276d14302336a460b841/src/OmniSharp.Host/MSBuild/Discovery/MSBuildLocator.cs#L44-L50

that is also currently hardcoded

[2019-04-29 22:48] rchande commented on #3023
I think @akshita31 filed a bug for us to track enabling a choice?

[2019-04-30 04:10] bitinn commented on #3013
@rchande Thx, I have opened a fix report to Unity, hopefully they will eventually add the `EditorBrowsableState.Never` to this class.

https://github.com/Unity-Technologies/UnityCsReference/blob/2018.3/Runtime/Export/iOS/iOS.deprecated.cs#L96

[2019-04-30 06:38] sudsy opened #3031 "Codelens for tests only works for single test project in Solution"
If you create 2 test projects in a solution as described in this comment on #1934, the second project does not show CodeLens annotations for running the tests. I was able to reproduce this case in VsCode on MacOS

https://github.com/OmniSharp/omnisharp-vscode/issues/1934#issuecomment-450362167

[2019-04-30 06:56] filipw commented on #3031
Can you please describe step by step the repro scenario or provide a sample project with this behavior?
It is not entirely clear to me how this should be repro based on the linked description. The original issue was closed because the step to add a newly created project to the solution was missing which caused the behavior (OmniSharp would track the solution and new project didn't belong to the so

[2019-04-30 07:06] sudsy commented on #3031
No problem.

1. dotnet new sln -n CodeLensTest
2. Create test folder mkdir Test, cd ./Test
3. Create test project dotnet new xunit
4. Add project to solution dotnet sln ../CodeLensTest.sln add ./Test.csproj
5. Codelens annotations for Run Test and Debug Test appear on Scaffolded test method
6. Create second test folder mkdir Test2, cd ./Test2
7. Create test project dotnet new xunit
8. Add project

[2019-04-30 07:28] moboer commented on #2955
@noamichael thank you

[2019-04-30 08:03] YunWeiaa commented on #3026
@rchande thanks a lot. Intellisense can work well by the workaround.

[2019-04-30 08:54] YunWeiaa opened #3032 "The CoreFX symbols are missing for IL symbols."
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.33.1
C# Extension version: 1.19 (v1.19.0)

## Steps to reproduce
	1. Create a new ASP.NET Razor project by doing
	 
	 
		mkdir razor
		cd razor
		dotnet new razor
	 
	2. Install VS code (if you have not already) https://code.visualstudio.com/Download
	3. Launch VSCode and install the C# extension.
	4. Install the 1.15 or later C

[2019-04-30 11:57] rodcoura commented on #490
+1

[2019-04-30 13:18] matfantinel commented on #3021
I'd like to hop in and say that I'm having a similar issue on my Ubuntu 19.04. Both VS Code and .NET Core have been installed through their snap packages. (tried with .deb too, nothing changed).

Unfortunately I don't have access to my computer right now to give more detailed information, but besides the message:
[code]
I also get this one, related to Chromium: `InitializeSandbox() called with mul

[2019-04-30 16:08] gregg-miskelly commented on #3010
I published a beta with a fix for this issue, so I am now closing this.

[2019-04-30 16:08] #3010 closed

[2019-04-30 16:10] smashedapples20 opened #3033 "Omnisharp no longer runs on most of my projects"
## Issue Description ##
I wish I could try to explain what's going on. OmniSharp is failing to run on most of my project, but I have at least one that it's still working on. I can't find any differences to explain why it runs on some but not on others. The log output doesn't give any hint (to me at least) that anything is even wrong.

The log on the projects that fail to load properly seems to end

[2019-04-30 16:10] gregg-miskelly commented on #3021
@matfantinel please [install the latest beta](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases). You are running into #3010.

[2019-04-30 16:34] smashedapples20 commented on #3033
I'm doing more debugging...

There appears to be a problem with OmniSharp trying to load projects that have `PackageReference`s to packages in an Azure DevOps Artifacts feed. I've commented out all of the references to those projects, and things are loading properly now (with lots of red since all of my references are broken now).

[2019-04-30 16:49] rchande commented on #3033
@smashedapples20 OmniSharp expects your projects to be restored. I suspect that if you update your access tokens that this will resolve itself. However, if you want to get more informative logs, you can set the setting "omnisharp.loglevel" to "debug".

[2019-04-30 16:51] smashedapples20 commented on #3033
@rchande Everything is restored. Both `dotnet restore` and `nuget restore` run fine... I'll try upping the verbosity of the logs.

[2019-04-30 16:53] smashedapples20 commented on #3033
Upping to "debug" didn't change the log content.

[2019-04-30 16:55] rchande commented on #3033
@smashedapples20 Sorry, apparently the option is called `omnisharp.loggingLevel`. Mind trying again?

[2019-04-30 16:55] smashedapples20 commented on #3033
I just found that... running now.

[2019-04-30 16:59] smashedapples20 commented on #3033
<details><summary>I pared it down to a single project (not in a solution), and now I have the debug output</summary>
Starting OmniSharp server at 4/30/2019, 11:55:53 AM
    Target: c:\repos\Redacted\SharedComponents\src

OmniSharp server started.
    Path: C:\Users\smash\.vscode\extensions\ms-vscode.csharp-1.19.0\.omnisharp\1.32.18\OmniSharp.exe
    PID: 11496

[dbug]: OmniSharp.CompositionHostBui

[2019-04-30 17:03] filipw commented on #3033
it could be that you are running into problem with wildcard package references / runtime versions?
try this solution https://github.com/OmniSharp/omnisharp-vscode/issues/3009#issuecomment-484772057

[2019-04-30 17:06] smashedapples20 commented on #3033
@filipw You're a wizard! That was it... I got so focused on the fact that the references I was eliminating were Azure DevOps feeds instead of using wildcards.

Thank you for your help!

[2019-04-30 17:06] #3033 closed

[2019-04-30 17:57] filipw commented on #2995
I will close this because it is by design. We also already merged a change that will actually prompt you to install 4.7.2 instead of failing silently https://github.com/OmniSharp/omnisharp-roslyn/pull/1469

[2019-04-30 17:57] #2995 closed

[2019-04-30 18:53] NTaylorMullen commented on #3024
Hmmm interesting. Why is it that `dotnet run` can't be debugged?

[2019-04-30 18:59] Jay1305 commented on #490
+1

[2019-04-30 19:08] filipw commented on #43
I will close this as it was implemented in https://github.com/OmniSharp/omnisharp-roslyn/pull/1076 and shipped in 1.19.0 of the VS Code extension.
Other outstanding issues can be handled separately.

[2019-04-30 19:08] #43 closed

[2019-04-30 19:34] ikinetik commented on #2995
Thank you Filip for your help! I greatly appreciate it!

⁣Get BlueMail for Android ​

On Apr 30, 2019, 10:57 AM, at 10:57 AM, Filip W <notifications@github.com> wrote:

[2019-04-30 19:51] gregg-miskelly commented on #3024
`dotnet run` will launch the target in a child process. The .NET Debugging APIs have no support for child process debugging.

[2019-04-30 20:21] gregg-miskelly commented on #3024
Actually, thinking more - this is a much bigger problem than just tweaking launch.json a little.

For a pure client app - what you want F5 to do is start the Blazor web server not under a debugger, and then after it is ready, launch Chrome (or whatever supported web browser), and connect the Chrome debug adapter to it.

For a 'Blazor (ASP.NET Core hosted)' app it might make sense to debug both at

[2019-04-30 21:40] NTaylorMullen commented on #3024
I see I see, ya good point. @SteveSandersonMS / @danroth27 is Blazor debugging in the browser in a viable state?

[2019-04-30 22:06] danroth27 commented on #3024
@NTaylorMullen Debugging Blazor in the browser is still pretty rough. Eventually thought we do want to have an integrated experience where you can just F5 and have VS launch the browser with remote debugging enabled and then correctly attach.

[2019-04-30 22:15] danroth27 commented on #3024
For comparison, in VS we also don't support F5 for client-side Blazor apps. You have to Ctrl-F5, and it's been that way for over a year now.

[2019-04-30 22:31] gregg-miskelly commented on #3024
Here are my suggestions:
1. Don't do anything right now in terms of launch.json generation. We can leave this bug open to consider doing something someday for it.
2. Update the documentation to point point at running the `dotnet watch` task.

[2019-05-01 01:41] matfantinel commented on #3021
@gregg-miskelly It worked. Thanks a lot!

[2019-05-01 02:57] sudsy opened #3034 "Unable to generate assets to build and debug"
Please paste the output from your clipboard## Issue Description ##
## Steps to Reproduce ##

Trying to migrate from Visual Studio 2017 on PC to Visual Studio Code on Mac. Opened a project folder that contains a solution file

## Expected Behavior ##

Should be able to generate assets required for build

## Actual Behavior ##

Throws exception shown below.

## Logs ##
"System.IO.FileNotFoundExcepti

[2019-05-01 08:41] filipw commented on #3034
According to the log, OmniSharp picks your global Mono which is 5.12.0 - however since 1.19.0 version of the extension, Mono 5.18.1 is the minimum required (https://github.com/OmniSharp/omnisharp-vscode/issues/3000)

Could you please update to the latest Mono from here https://www.mono-project.com/download/stable/ (there is 5.20.1 already) - and see if it helps?

The alternative would be to add `"

[2019-05-01 20:36] Noeyedeerwhy commented on #2509
You know you can simply just install the .NET framework developer pack if you don't have it and it instantly worked for me and i also can have the latest updates too.

[2019-05-02 03:04] cuibty commented on #788
+1

[2019-05-02 08:04] jchannon opened #3035 "Combine C# Extensions package"
Hi all,

I'm going to put to rest my C# Extensions package https://marketplace.visualstudio.com/items?itemName=jchannon.csharpextensions to rest or transfer it someone else but before I do that I was wondering if you wanted to copy some of the features to this project and if so I'll take down my package, if not I'll try and transfer ownership to someone else

[2019-05-02 11:42] Ryhon0 opened #3036 "Namespaces and types don't exist in netcoreapp3.0"
## Issue Description ##
When I open a C# project with `TargetFramework` being `netcoreapp3.0` the extension says all of the namespaces and types don't exist. When I run `dotnet build` the program compiles with no erros
## Steps to Reproduce ##
Create a dotnet core project and change `TargetFramework` to `netcoreapp3.0` in the .csproj file
## Expected Behavior ##
Extensions doesn't show any problem

[2019-05-02 14:42] GabrielBB commented on #3004
I'm creating a Blazor with .NET Core 3.0 project following the official documentation: [Get started with Blazor]( https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio-code). Why do i have to install .NET Framework 4.7.2 as a workaround if .NET Core is supposed to replace the .NET Framework? I'm not a .NET Developer but that is what i understood

[2019-05-02 16:09] mdmoura opened #3037 "Code Intellisense not Working when using Vastest versions."
## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting any global.json):
 Version:   2.2.104
 Commit:    73f036d4ac

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.14
 OS Platform: Darwin
 RID:         osx.10.14-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.2.104/

Host (useful for support):
  Version: 2.2.2
  Commit:  a4fd7b2c84

.NET Core SDKs installed:
  2.2.104

[2019-05-02 16:53] rchande commented on #3036
@Ryhon0 Can you try setting the option "omnisharp.useglobalmono" to "never" and see if that helps? If it does, it means that your machine's mono installation is missing some MSBuild components.

[2019-05-02 16:57] rchande commented on #3004
@GabrielBB OmniSharp, the component used by the C# Extension for VS Code to provide intellisense, runs on .NET Framework 4.7.2. Your Blazor project runs in .NET Core, but this particular development tool requires .NET Framework. Note that the fact that you have to manually determine that you need install 4.7.2 is a bug that we fixed in https://github.com/OmniSharp/omnisharp-roslyn/pull/1469

[2019-05-02 16:58] Ryhon0 commented on #3036
Thanks, setting `omnisharp.useglobalmono` to `never` fixed the issue

[2019-05-02 16:58] #3036 closed

[2019-05-02 18:55] DagHalfvild commented on #3037
Have the same issue here, no more references, no more warnings when errors, no minimap (enabled in both user/workspace settings)... Everything works perfectly with native languages, but not with C#...

[2019-05-02 19:09] felipecaputo commented on #3035
Just to add my two cents on this, this extensions, and the `new C# class` and `new C# Interface` are really helpfull for example

[2019-05-02 20:54] adamkdean commented on #3013
This is a very annoying issue I have to admit. Really hope something can be done.

[2019-05-02 21:06] akshita31 commented on #3037
@mdmoura Can you share your
Please paste the output from your [OmniSharp log](https://github.com/OmniSharp/omnisharp-vscode/wiki/Reporting-Issues#omnisharp-and-c-log) using `Ctrl+Shift+F9` that would show the log window?

[2019-05-02 21:10] mdmoura commented on #3037
@akshita31 Sure, here it is the log when I restart OmniSharp:

[code]

Any idea what is going on?

[2019-05-02 21:12] akshita31 commented on #3016
@Bobgernaut You can upload the project to github and share the link here or send an email to akagarw@microsoft.com

[2019-05-02 21:13] akshita31 commented on #3037
Could you try setting "omnisharp.loglevel" --> debug and restart omnisharp ?

[2019-05-02 21:16] mdmoura commented on #3037
@akshita31 Sure, here it is:

Starting OmniSharp server at 5/2/2019, 10:14:44 PM
    Target: /Users/MK/GD/MvcProj/MvcProj.Project/MvcProj.Project.Source/src/MvcProj.Api

OmniSharp server started with Mono 5.18.1.
    Path: /Users/MK/.vscode/extensions/ms-vscode.csharp-1.19.0/.omnisharp/1.32.18/omnisharp/OmniSharp.exe
    PID: 1758

[dbug]: OmniSharp.CompositionHostBuilder
        Loaded OmniSharp.

[2019-05-02 21:19] filipw commented on #3037
it looks like the problem with wildcards in package references again? This is fixed in newer OmniSharp build.
try setting `"omnisharp.path": "1.32.19"` and restart again

[2019-05-02 21:23] mdmoura commented on #3037
@filipw That does not work. I get;

[code]

[2019-05-02 21:25] filipw commented on #3037
try this https://github.com/OmniSharp/omnisharp-vscode/issues/3009#issuecomment-484772057

[2019-05-02 21:32] mdmoura commented on #3037
@filipw I checked the omnisharp folder and I have two folders: 1.32.19 which is empty and 1.32.18.
When I change to 1.32.18 in Settings now it starts but still does not work. The log is:

[code]

[2019-05-02 21:36] filipw commented on #3037
yes, but please try `"omnisharp.path": "1.32.19-beta.25"` - thanks

[2019-05-02 21:36] mdmoura commented on #3037
Ok, that worked ...

In my case it is common Omnisharp to stop working ... Usually during updates.

[2019-05-02 21:42] filipw commented on #3037
Thanks for confirming 👍
I will close this issue since it's essentially a duplicate of #3009 which is already resolved - you now run on the beta of 1.32.19 of OmniSharp and the stable version will be included in the next extension release which will happen very soon (we just need to merge #3038 first).

thanks and sorry for the troubles

[2019-05-02 21:42] #3037 closed

[2019-05-02 22:03] seanmccay opened #3039 "Breakpoints kill debugger"
Issue Type: <b>Bug</b>

Setting a breakpoint kills or prevents debugger from running.

scenario 1:
1. set breakpoint in a file
2. start debugging
3. watch preLaunchTask run successfully
4. once preLaunchTask completes, debug console comes into focus
5. debugger stops.

scenario 2:
1. have no breakpoints set
2. start debugging
3. debugger starts successfully, api is running
4. set breakpoint
5. deb

[2019-05-02 22:34] DanJ210 opened #3040 "Problems Window - Error States "Unable to open: File not found""
Posted this in VS Code first and they said that this was a C# extension issue and to post here.

This happens every now and then but often enough. I'll be shown errors and clicking on some will state that the file does not exist. There is a duplicate set of the same errors from the same file below. Both show a slightly different path. Have no idea what's happening here.

Is this workaround what yo

[2019-05-02 23:04] sudsy commented on #3034
Thank you, I upgraded Mono and it fixed the problem.

[2019-05-02 23:04] #3034 closed

[2019-05-02 23:05] sudsy commented on #3031
This problem was resolved after upgrading mono as identified in #3034

[2019-05-02 23:05] #3031 closed

[2019-05-03 00:05] gregg-miskelly commented on #3039
@seanmccay I see that you are on Linux. Are you on Ubuntu 19.04 (or a downstream OS)? If so, I am guessing you are running into https://github.com/OmniSharp/omnisharp-vscode/issues/3010 and you should [install the latest beta](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) which has a fix.

Otherwise, can you try [enabling logging](https://github.com/OmniSharp/omnisha

[2019-05-03 06:07] yufeih opened #3041 "System.IO.IOException: kqueue() error at init, error code = '24'"
## Issue Description ##

Throws `System.IO.IOException` when opening a C# solution on a Mac

## Steps to Reproduce ##

Open https://github.com/dotnet/docfx with vscode on Mac

## Expected Behavior ##

Code compiles

## Actual Behavior ##

System.IO.IOException

## Logs ##

### OmniSharp log ###

<details>

Starting OmniSharp server at 5/3/2019, 1:56:32 PM
    Target: /Users/yufeih/docfx/docfx.sln

[2019-05-03 06:46] filipw commented on #3041
According to the log, OmniSharp picks your global Mono which is 5.10.1 - however since 1.19.0 version of the extension, Mono 5.18.1 is the minimum required (#3000)

Could you please update to the latest Mono from here https://www.mono-project.com/download/stable/ (there is 5.20.1 already) - and see if it helps?

This looks like the same problem as in #3034

[2019-05-03 09:39] TomasHubelbauer commented on #1889
FYI with a setup like this:

[code]

When using OmniSharp through VS Code, it will not find two different projects, instead it will consider both projects as one for some reason.

[2019-05-03 11:35] Blizzardo1 commented on #2755
The file is a part of the project, and the project was loaded at the time. All of the references I've added were supported for .net-core, so I'm unsure of the issue then.

[2019-05-03 12:49] ihavenonickname commented on #3023
For those looking for a quick workaround:

1. [Install .net core SDK 2.2.104](https://dotnet.microsoft.com/download/dotnet-core/2.2)
1. Create a `global.json` in your project folder with this content: `{ "sdk": { "version": "2.2.104" } }`
1. Restart vscode

[2019-05-03 21:19] themindfulcoder commented on #3023
Solved this problem by adding `omnisharp.json` with
[code]

[2019-05-04 02:43] Bobgernaut commented on #3016
I hope i did it right... I thought i made it public but i guess i was wrong.

https://github.com/Bobgernaut/Assignment-5---User-Interface.git

________________________________
From: Akshita Agarwal <notifications@github.com>
Sent: May 2, 2019 5:12 PM
To: OmniSharp/omnisharp-vscode
Cc: Bobgernaut; Mention
Subject: Re: [OmniSharp/omnisharp-vscode] i need a human response to this issue (#72662) (#301

[2019-05-04 20:01] seanmccay commented on #3039
@gregg-miskelly I am on Pop!_OS 19.04. I installed the beta and my problem has been resoved :). I was having all kinds of weird problems before, but I'm not seeing them now. Thanks.

[2019-05-04 20:01] #3039 closed

[2019-05-05 02:01] xky0007 commented on #1591
Any new solution for this problem? Still have it with 1.19.

[2019-05-06 05:07] rodrigofbm opened #3043 "[fail]: OmniSharp.MSBuild.ProjectManager"
## Environment data
[code]
## VS Code version:
Version: 1.33.1

## C# Extension version:
1.19.0

## Steps to reproduce
When i open an C# file

## Expected  behavior
Don't receive de message

## Actual behavior
[code]

[2019-05-06 10:12] vispariana opened #3044 "syntax highlighting fails in new anonymous object with LINQ"
Defining a new anonumous object having a field valued by LINQ breaks syntax highlighting.

Steps to reproduce: write the following code

[code]
Note: found out that if i put parentheses around the LINQ it is fixed, but i think it should be working without the parentheses either, because the code also works that way!

[2019-05-06 11:17] lonix1 opened #3045 "[Feature Request] Configure folding "levels""
VSCode: 1.33.1
C# Extension: 1.19.0

Now that vscode has a [folding API](https://github.com/OmniSharp/omnisharp-vscode/issues/2335) it would be nice to be able to configure the folding "level" or hierarchy.

Suppose I fold the document, which has this:

[code]

That control block is also folded, which is VERY annoying. When I expand, I expect everything therein to be expanded too - but the way it

[2019-05-06 15:45] rchande commented on #3045
@lonix1 Do you mean that use use the "Fold Document" command and then have to manually re-expand nodes? The C# extension only provides the set of folding ranges to VS Code. All of the commands to fold/unfold regions are owned by VS Code as far as I know--I'd recommend filing this issue against VS Code itself.

I'm going to close this issue, but feel free to comment if I've misunderstood you.

[2019-05-06 15:45] #3045 closed

[2019-05-06 15:48] rchande commented on #3043
@rodrigofbm Please share your complete omnisharp log as well as the output of
`dotnet --info` and `mono --version`.

[2019-05-06 18:19] akshita31 commented on #3016
@Bobgernaut That link is broken for me

[2019-05-06 21:06] rodrigofbm commented on #3043
@rchande

omnisharp:
[code]

dotnet:

[code]

mono:

[code]

[2019-05-07 03:03] Jthomas54 opened #3047 "Omnisharp seems to fail at startup"
## Issue Description ##
Omnisharp seems to fail at startup

## Steps to Reproduce ##
Create a new project with `dotnet new` or open an existing project/solution

## Expected Behavior ##
Omnisharp starts and intellisense is available.

## Actual Behavior ##
Omnisharp fails to load with a error.

## Logs ##

### OmniSharp log ###
<details>Starting OmniSharp server at 5/6/2019, 9:52:30 PM
    Target:

[2019-05-07 06:37] ArunRaj6 opened #3048 "C# Intellisense is not working"
Issue Type: <b>Bug</b>

Intellisense is not working for C# version 'ms-vscode.csharp-1.19.0' and
it is working prefectlly with version 'ms-vscode.csharp-1.18.0'.

Extension version: 1.19.0
VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-11T08:27:14.102Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel

[2019-05-07 07:03] lonix1 commented on #3045
So omnisharp provides the details for folding in the way I've explained, but it's up to vscode to actually use that data?

In other words, omnisharp already provides this level of granularity, but vscode ignores it?

[2019-05-07 07:34] solrevdev opened #3049 "Omnisharp.msbuild.projectmanager - failed to load project file - no IntelliSense"
Issue Type: <b>Bug</b>

### Steps

To recreate create a new console app and open vscode or vscode insiders and view the output window for errors.

[code]

### System Info

[code]

### Output window

[code]

VS Code version: Code - Insiders 1.34.0-insider (473af338e1bd9ad4d9853933da1cd9d5d9e07dc9, 2019-05-01T05:15:04.403Z)
OS version: Linux x64 5.0.0-13-generic

<details>
<summary>System Info</summ

[2019-05-07 10:07] SzeNowy commented on #3041
I had the same problem. After installation _Mono 5.18.1 (Visual Studio channel*)_ from the page above, like filipw commented all works.

[2019-05-07 10:08] yufeih commented on #3041
Thank you @filipw , this is resolved.

[2019-05-07 10:08] #3041 closed

[2019-05-07 10:14] filipw commented on #3048
Try installing 1.19.1 from here https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.19.1
The installation instructions are here https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases

[2019-05-07 13:30] Jthomas54 commented on #3047
Not sure the exact reasoning, but installing mono-devel allows omnisharp to start working again.

[2019-05-07 13:30] #3047 closed

[2019-05-07 13:55] DaBozUK commented on #579
Unfortunately this doesn't work for me. Our proxy doesn't need username password so it's just:
    "http.proxyStrictSSL": false,
    "http.proxy": "https://proxy._companydomain_.com:9090",

And as said above, this is the ONLY thing I can't access or download from within Visual Studio behind our corporate firewall.

[2019-05-07 19:12] ejizba opened #3050 "Changing default "publish" task to "Release" results in duplicate attribute errors"
## Issue Description ##
## Steps to Reproduce ##
1. Run `dotnet new console`
1. When prompted, select "Yes" to add missing files to debug/run
1. Modify the "publish" task in "tasks.json" to run against "Release" configuration
1. Run the build task
1. Run the publish task

Here are my files:

<details>
<summary>cs2.csproj</summary>

[code]

</details>

<details>
<summary>Program.cs</summary>

[code

[2019-05-07 23:23] Bobgernaut commented on #3016
Sorry about that.

here you go
https://github.com/Bobgernaut/Assignment-5---User-Interface.git

________________________________
From: Akshita Agarwal <notifications@github.com>
Sent: May 6, 2019 2:19 PM
To: OmniSharp/omnisharp-vscode
Cc: Bobgernaut; Mention
Subject: Re: [OmniSharp/omnisharp-vscode] i need a human response to this issue (#72662) (#3016)

@Bobgernaut<https://github.com/Bobgernaut>

[2019-05-08 05:48] PaleNeutron opened #3051 "Can't find reference for .net core 3 project"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
1.33.1
C# Extension version:
1.19.1
## Steps to reproduce
[code]
## Expected  behavior
no error

## Actual behavior
![QQ截图20190508134308](https://user-images.githubusercontent.com/8296331/57352357-bf009e80-7197-11e9-829a-34aa8c00f14d.png)

[2019-05-08 06:26] PaleNeutron commented on #3051
I made a mistake by add a project reference with "\", it should be "/" even on windows

[2019-05-08 06:26] #3051 closed

[2019-05-08 08:12] aude commented on #2819
@FFY00, I'd love to use the arch packaged vscode, not the Microsoft packaged one in AUR. If for nothing else, for the updates.

What is the exact thing stopping vsdbg from working with arch packaged vscode?

I thought it was https://aka.ms/VSCode-DotNet-DbgLicense. But please correct me if I'm wrong.

[2019-05-08 08:15] FFY00 commented on #2819
I explain the reason it doesn't work in the comment above.

[2019-05-08 08:32] Jepson109 opened #3052 ""Cannot find or open the PDB file" pops up after debugging"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview6-011799
 Commit:    3816213dde

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.14
 OS Platform: Darwin
 RID:         osx.10.14-x64
 Base Path:   /usr/local/share/dotnet/sdk/3.0.100-preview6-011799/

Host (useful for support):
  Version: 3.0.0-preview6-27707-07
  Commit:

[2019-05-08 08:46] mariusmathisen opened #3053 "netcoreapp3.0 console app doesn't recognize files/references correctly"
## Issue Description ##
A simple 'dotnet new console' app targeting 'netcoreapp3.0' doesn't reference files correctly. If I switch back to 'netcoreapp2.2' it works as expected. 'dotnet restore' doesn't help.

![image](https://user-images.githubusercontent.com/6330828/57361558-f4e45980-717c-11e9-8420-9f094eb2e49a.png)

[code]

I have tried setting omnisharp.useglobalmono to never - but it doesn't m

[2019-05-08 10:24] #3026 closed

[2019-05-08 10:25] YunWeiaa commented on #3026
Not repro on
VS Code version: 1.33.1
C# Extension version: 1.19 (v1.19.1)

[2019-05-08 10:55] aude commented on #2819
Does it really not work because arch uses the system electron instead of the bundled one? That sounds unlikely.

To me, it sounds more likely that Microsoft signs something in their own vscode releases, so that vsdbg can detect whether it's "authentic" or not. Or some similar method.

[2019-05-08 14:45] gregg-miskelly commented on #3052
@Jepson109 Is that one module the only one where symbols can't be found?

[2019-05-08 16:28] FFY00 commented on #2819
VS Code doesn't handle respawns properly when called using the electron binary. If you want to try it yourself you can confirm it is working by compiling vscode yourself. Microsoft is not being stubborn, they are just ignoring the community because that doesn't give them instant PR publicity.

[2019-05-08 20:02] anganti opened #3054 "Razor syntax coloring breaks if code placed withing a sting"
Please paste the output from your clipboard

[2019-05-08 20:04] devel0 commented on #2175
That's a problem for me too, xml documentation isn't included within dotnet sdk as far I realized, so I found that follow [repository](https://github.com/dotnet/dotnet-api-docs) contains all xml files ( zip file about 70mb unpacked about 800mb ); but now I wondering where I have to place that in order to allow omnisharp recognize and search for it.

[2019-05-08 20:06] anganti commented on #3054
![image](https://user-images.githubusercontent.com/42851022/57404864-e2284f80-7191-11e9-9ffa-a74110e66c97.png)

[2019-05-08 20:23] anganti commented on #3054
In visual studio
![image](https://user-images.githubusercontent.com/42851022/57405942-87442780-7194-11e9-8c7f-165e7560d6bb.png)

[2019-05-08 20:41] rchande commented on #3054
cc @NTaylorMullen

[2019-05-08 20:52] NTaylorMullen commented on #3054
@anganti thanks for the report! We're looking to fix this in a future release, for now we're tracking that work over at: https://github.com/aspnet/Razor.VSCode/issues/75. Stay tuned!

[2019-05-08 20:52] #3054 closed

[2019-05-09 01:39] anganti commented on #3054
Thank you

[2019-05-09 02:59] kettle11 commented on #3013
I'd like to chime in to say this impacts me as well.

Much of the time if I quickly type "int" and spacebar it changes to "iPhoneSettings". Over a long period of time this had been a rather large drain on my productivity.

[2019-05-09 03:10] kettle11 commented on #2472
I wanted to chime in this has been occuring for me for a long time (not sure on the exact time frame) with Unity / VS Code. It occurs when I type "int" followed by spacebar and it completes to "iPhoneSettings". I'm using Visual Studio Code on OSX. It is a major productivity drain for me.

Also, the Visual Studio Code issue @HardcodedNumber referenced is closed with the reason given that it's an ex

[2019-05-09 08:28] mchenzero opened #3055 "Render of code section in documentation comment is not closed"
## Issue Description ##

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/15723206/57438789-48d36900-7277-11e9-997b-c498e68a7ec0.png)

## Environment information ##

**VSCode version**: 1.33.1
**C# Extension**: 1.19.1

<details><summary>Mono Information</summary>
        OmniSharp using built-in mono</details>
<details><summary>Dotnet Information</summary>
.NET Core SDK (refl

[2019-05-09 11:08] aude commented on #2819
Oh, thanks for the explanation. I misunderstood, I was talking about a different issue, my bad.

[2019-05-09 12:03] danieldeveloper001 commented on #3049
The reported issue is also perceived with slightly different environment settings. Sharing a summarized version just with the environment differences to avoid opening a separate issue for what appears to be the same problem. Thank you very much.

[code]

**VSCode version**: 1.33.1
**C# Extension**: 1.19.1

<details><summary>Mono Information</summary>
        OmniSharp using global mono :5.18.0</de

[2019-05-09 14:16] imba-tjd commented on #3013
workaround: `"editor.snippetSuggestions": "top"`

[2019-05-09 14:27] gregg-miskelly commented on #3052
@davidfowl do you know what repo produces Microsoft.AspNetCore.Routing.Abstractions? It looks like that assembly creates a PDB file, but doesn't publish it to symbol server. So it should either stop creating the PDB, or it should publish it.

[2019-05-09 14:29] gregg-miskelly commented on #3052
Nevermind. Found it.

[2019-05-09 14:35] gregg-miskelly commented on #3052
I moved this issue to https://github.com/aspnet/AspNetCore/issues/10113

[2019-05-09 14:35] #3052 closed

[2019-05-09 18:08] cloudrex opened #3056 ".NET Core C# Intellisense not working on Windows, full of errors everywhere"
## Issue Description ##
Intellisense not working on Windows 10 (latest update as of now), at all! Even after successful build of project.

![image](https://user-images.githubusercontent.com/41349879/57476092-e1f88480-7263-11e9-9d2a-e12ec5ae3a1b.png)
## Steps to Reproduce ##

## Expected Behavior ##
Intellisense to be working.
## Actual Behavior ##
Not working, everything has an error squiggly line

[2019-05-09 22:56] hiranya911 opened #3057 "C# Extension Stopped Working on Linux"
## Issue Description ##

C# extension stopped working properly on Linux. I've been using this development environment for nearly a year without issues, and today all the sudden it won't work. I see some errors logged in the Omnisharp console, and I cannot navigate through my project by ctrl+clicking on types as I used to be. This is probably due to some component update, but I don't know which.

V

[2019-05-09 22:57] hiranya911 commented on #3057
On another project in the same machine, I see the following error logs:

[code]

[2019-05-09 23:18] hiranya911 commented on #3049
This started happening on my development environment too.

[code]

[code]

[2019-05-09 23:19] hiranya911 commented on #3057
Might be related to or a dupe of #3049

[2019-05-10 00:05] danieldeveloper001 commented on #3049
@solrevdev and @hiranya911, just in case you or someone else that view this issue have to do some work that cannot be done otherwise and you have the option of switching to a different operating system, the extension works properly on a fresh install that I've made on another machine with the environment settings below.

**Operating System**: Fedora Workstation 30 x86_64
**Visual Studio Code**: 1.

[2019-05-10 12:05] JorgeDLG commented on #3057
I have experienced a similar problem on Linux. Suddenly Omnisharp stopped launching. The output (Log extension Host) show me this info:
`[2019-05-10 13:56:26.475] [exthost] [info] extension host started
[2019-05-10 13:56:26.616] [exthost] [info] ExtensionService#_doActivateExtension vscode.typescript-language-features {"startup":false,"activationEvent":"onLanguage:javascript"}
[2019-05-10 13:56:26

[2019-05-10 16:59] metoly commented on #2945
This is now in the 3.0 CLI.

[2019-05-10 17:55] hiranya911 commented on #3049
Thanks @danieldeveloper001. I'm currently using the same exact versions as you (except it's a different flavor of Linux based on Debian). I've tried re-installing the extension a couple of times to no avail. As you said it might be due to a system dependency.

Yes, I've observed the same in my environment.

For now I can continue my work on my Mac. But I'd love to return to my Linux workstation so

[2019-05-10 20:35] solrevdev commented on #3049
So, working without IntelliSense was getting too much for me so I decided to re-install Mono to see if that would add the missing file that seems to be at least part of the exception I was getting.

Running this from my terminal seems to fix it for me. :tada:

[code]

I will leave the bug open however as others have had the same issue my fix may not even have anything to do with re-installing mono

[2019-05-10 20:59] SonOfHans commented on #1980
I would like to have the option to _not_ have whitespace removed on empty lines, regardless of where the caret is located. I frequently leave empty lines between code blocks so as to make my code more readable, oftentimes adding additional code in between these blocks at a later time. Having to re-tab a bunch of times to start that new block is definitely not preferred. This was a feature in VS, a

[2019-05-11 11:31] b01 commented on #1849
So I ran into this issue today as well. But I fixed it.

I'm running:
* Windows 10 v1803
* .NET Core v2.2
* VSCode v1.33.1

I think what caused it was my process:
1. Installed .Net core (no previous version of .NET was installed and I did not restart laptop).
2. Next do the Tutorial [https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code](https://docs.microsoft.com/en-us/do

[2019-05-11 15:48] lonix1 opened #3058 "[Feature Request] Stop OmniSharp"
### Background
When coding I often need to consult other projects / repos / branches / examples / samples / whatever - so I have multiple vscode windows open. And because they don't have all the dependencies installed, OmniSharp complains, makes everything red, and grinds down my CPU.

I think consulting other repos while coding is something many devs do, so this is a common problem.

### Proposal

[2019-05-12 00:10] r734 commented on #2994
Same issue here, and it's been going on for a few weeks on multiple machines running Ubuntu 18.04.

VS Code info:
[code]
The only extensions I have enabled are C#, C# Extensions, and Docker.

[2019-05-12 00:52] LarryOsterman opened #3059 "Building C# code requires a project or solution file, but VS code won't create project files."
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

Installed VS code and then the C# extension and the .Net SDK as per the workflow. When building, I get:
Microsoft (R) Build Engine version 16.0.450+ga8dc7f1d34 for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

MSBUILD : error MSB1003: Specify a project

[2019-05-12 07:08] spaasis opened #3060 "xdg-open unexpected argument '/c'"
## Issue Description ##
An error is thrown when loading an ASP.NET Core project. Other project types (Standard, Core) seem to work.

## Steps to Reproduce ##
Open a solution containing an ASP.NET core project in VSCode (only tested on one project)

## Expected Behavior ##
Project would load correctly

## Actual Behavior ##
An error is thrown early on:
[code]
## Logs ##

### OmniSharp log ###
<deta

[2019-05-12 08:46] lonix1 commented on #3057
Stopped for me too.

I just upgraded to Ubuntu 19.04 with gnome 3.32.0. Did you guys also recently upgrade?

Did you find a fix?

[2019-05-12 08:51] lonix1 commented on #3043
I also have this problem since upgrading to ubuntu 19.04

Did you find a fix?

[2019-05-12 08:56] lonix1 commented on #3021
I also have this problem (just upgraded to ubuntu 19.04)

The latest release is `1.19.1` which doesn't work for me.
Did you get it working with that release?

[2019-05-12 09:01] lonix1 commented on #3049
@solrevdev Which version of mono-devel did you install?

I just upgraded to ubuntu 19.04 and I get these errors. My mono-devel is `5.18.0.240`.

[2019-05-12 12:37] solrevdev commented on #3049
@lonix1

I ran the instructions from the 18.04 version from the [mono project page](https://www.mono-project.com/download/stable/#download-lin-ubuntu)

mono-devel:

[code]

mono version:

[code]

[2019-05-12 16:43] lonix1 commented on #3049
Yeah that helped! There was a difference between the mono installed by vscode/omnisharp and the one from the official repo.

The official version fixed it.

[2019-05-12 17:45] rodrigofbm commented on #3043
@lonix1 still in the same. I've tried something but unsuccessfully. I'm waiting here for support.

[2019-05-12 21:36] JorgeDLG commented on #3057
I think the only thing that I upgrade is vscode to 1.33.1, c# extension to 1.19.X I'm not sure about dotnet.
this is a messss :(

[2019-05-12 21:38] gregg-miskelly commented on #3021
@lonix1 sorry this issue should have been closed earlier. I left it open in case the original opener wanted to comment more. The known issue with Ubuntu 19.04 was fixed in C# extension 1.19.1, so whatever issue you were running into is different. The problem you are running into is that the debugger is abruptly exiting? If so, I am happy to try and help troubleshoot. Please open a new issue, and i

[2019-05-12 21:38] #3021 closed

[2019-05-12 21:43] gregg-miskelly commented on #3060
@spaasis `xdg-open` is used for launching a browser. You can likely fix this either by disabling browser launch, or by changing the command line. To do either, open launch.json, and customize the 'launchBrowser' element.

[2019-05-13 00:02] solrevdev commented on #3057
Re-installing `mono-devel` using the instructions from the [mono projects 18.04 section](https://www.mono-project.com/download/stable/#download-lin-ubuntu) worked for me over on [issue 3049](https://github.com/OmniSharp/omnisharp-vscode/issues/3049#issuecomment-491422398) although my Omnisharp warnings and errors logs differed slightly

[2019-05-13 00:13] solrevdev commented on #3049
I’ve just read a [similar issue](https://github.com/OmniSharp/omnisharp-vscode/issues/2604#issuecomment-429814128)  that suggests that omnisharp shouldn’t be using the msbuild assets from mono and should be using the dotnet sdk version instead.

That makes sense to me. So reinstalling mono while apparently working may not be the top solution.

I may try using [this command](https://github.com/Omni

[2019-05-13 06:34] greggman opened #3061 "Prompt to download updates?"
## Issue Description ##

Plugin auto-downloads updates when I'm on a slow, costly, constrained internet connection.

## Steps to Reproduce ##

Just a guess that it happens when you release a new version

## Expected Behavior ##

It's awesome that you keep me up to date. I just wish there was a way to let me say "not a good time. I'm on my international sim at the moment"

## Actual Behavior ##

It

[2019-05-13 07:30] lonix1 commented on #3043
I fixed my problem - maybe it'll help you. I installed the official mono repository, and updated to the latest `mono-devel` from there.

[2019-05-13 07:31] lonix1 commented on #3057
I fixed my problem - maybe it'll help you. I added the official mono repository, and updated to the latest `mono-devel` from there.

[2019-05-13 07:34] lonix1 commented on #3049
I agree it's not perfect... but after so much downtime, I'm just glad I got the tools to work. Everything on linux is difficult or buggy, so I'm just happy to get back to coding. Thanks again for your help.

[2019-05-13 11:05] anshupitlia commented on #928
Does `"csharp.suppressDotnetRestoreNotification": true` only suppresses the notification or it does a dotnet restore and then suppress the notification?

[2019-05-13 11:51] danieldeveloper001 commented on #3049
@lonix1, keep in mind that many open source projects are maintained by nice teams that choose to make their code open source (and often free) instead closed source (and often paid) model and yet they do such awesome and valuable tools :wink:

Even though your frustration is understandable, statements such as "everything on linux is difficult or buggy" can be a little bit harsh on the project manta

[2019-05-13 16:07] lonix1 commented on #3049
@danieldeveloper001 If it was not meant to be disrespectful then you should not have said it. :wink: The Microsoft guys are big boys, they can defend themselves.

*It didn't cross my mind for one moment that my comment could have been misconstrued as an attack on the Microsoft people, who are giving us (great) software for free.*

It was a *general* comment, borne of frustration, and accurate... a

[2019-05-13 16:37] rchande commented on #3049
Hey all, sorry for the delay in response here. It sounds like folks were able to unblock themselves by installing mono/mono-devel for their respective distributions?

[2019-05-13 16:40] rchande commented on #928
@anshupitlia It only suppresses the warning.

[2019-05-13 16:45] rchande commented on #3061
@greggman The C# extension will only attempt to update omnisharp if you have the option `omnisharp.path` set to `latest`. Otherwise we'll use whatever version is explicitly part of the extension. Separately, there's a VS Code setting you can set to disable extension auto-update. Finally, if you are seeing the C# extension activate where "no C#" is present, that would be a bug. Can you provide a mo

[2019-05-13 16:48] rchande commented on #3059
@LarryOsterman What workflow did you follow? You should be creating a project file using the command `dotnet new <project type>`

[2019-05-13 16:48] #3059 closed

[2019-05-13 17:41] solrevdev commented on #3049
@rchande Yes, I'm all good now thanks.

One quick question though.

Is the correct behaviour to look for mono assets such as the missing "mono/xbuild/15.0/Microsoft.Common.props" file or should it be looking at a donetcore sdk path?

I only ask because I read it elsewhere as a fix for the issue. Otherwise, all is good and I'll close this issue if that helps.

[2019-05-13 18:27] lonix1 commented on #3049
@rchande Yes, thanks I'm good too. Official `mono-devel` did the trick on ubuntu 19.10!

[2019-05-13 18:48] rodrigofbm commented on #3043
@lonix1 it works! Thanks man!

[2019-05-13 18:48] #3043 closed

[2019-05-13 19:08] danieldeveloper001 commented on #3049
@lonix1, yes... right.

[2019-05-13 19:47] danieldeveloper001 commented on #3049
@rchande, unblocked, not by manually upgrading mono but by switching to another computer with a distribution that packages a working version of mono - and that's fine to me, thank you for your time and attention to this issue!

@solrevdev pointed out and it is also a doubt of mine, is it the correct behaviour look for mono or should it look just for dotnetcore? My fedora machine has a fresh instal

[2019-05-13 19:48] danieldeveloper001 commented on #3049
@rchande, unblocked, not by manually upgrading mono but by switching to another computer with a distribution that possibly packages a working version of mono - and that's fine to me, thank you for your time and attention to this issue!

@solrevdev pointed out and it is also a doubt of mine, is it the correct behaviour - look for mono - or should it look just for dotnetcore?

[2019-05-13 21:26] JorgeDLG commented on #3057
The repository is down for me.. it is normal?

[2019-05-14 06:44] lonix1 commented on #3057
@JorgeDLG No it's not normal, mono is a massively important project. Just try again later, it will work.

[2019-05-14 08:04] eric-vgastel commented on #1980
I've been looking for a solution for weeks. It's driving me literally insane. Please fix this.

[2019-05-14 08:23] JorgeDLG commented on #3057
I found a way, but it isn't the best solution.

[2019-05-14 09:14] lonix1 commented on #3057
I don't understand your problem, but I'm glad you found a way to fix it. In my case I added the [mono repository](https://www.mono-project.com/download/stable/#download-lin-ubuntu) and then installed the latest mono via `apt install`.

[2019-05-14 16:38] antpaw opened #3063 ".NETFramework not found in macOS"
## Issue Description ##
I get this message in the output of VSCode
[code]

## Steps to Reproduce ##
Fresh macOS install, install the newest .NET SDK, install the newest VSCode with OmniSharp
Start a Unity C# project

## Expected Behavior ##

## Actual Behavior ##

## Logs ##

### OmniSharp log ###
<details>Post the output from Output-->OmniSharp log here</details>

### C# log ###
<details>Post the

[2019-05-15 21:45] loflina opened #3065 "macOS - OmniSharp can't find Sdk."
## Issue Description ##
macOS - Omnisharp can't find Sdk.
selenium/nunit/vscode

## Steps to Reproduce ##
Open project

## Expected Behavior ##
.NET and Intellisense available

## Actual Behavior ##
.NET and Intellisense not available.
The Sdk 'Microsoft.NET.Sdk' specified could not be found.
Attempted to updated project that was not loaded.

## Logs ##

### OmniSharp log ###
<details>Starting Omn

[2019-05-15 22:18] metoly opened #3066 "Adding link to user feedback for extension users"
Pop up a toast message  pointing users to a feedback survey after a couple of days of usage.

Add this message to the readme.md:
If you run into any issues or have suggestions for us, please file [issues and suggestions on GitHub](https://github.com/OmniSharp/omnisharp-vscode/issues). If you haven’t already provided us feedback, please take this [quick survey](https://go.microsoft.com/fwlink/?link

[2019-05-16 01:14] gregg-miskelly commented on #3060
Sorry, upon rereading this issue, I realized that I completely misread this bug. Ignore my previous comment.

[2019-05-16 05:35] elishateng opened #3068 "How to enable native code debugging like Visual Studio?"
## Environment data
`dotnet --info` output: 2.1.500
VS Code version: 1.33.1
C# Extension version: 1.19.1

## Steps to reproduce
none.

## Expected  behavior
I want to debug c# codes into c++ codes, Visual Studio can make it through enable native code debugging, but Visual Studio Code seems can't.

## Actual behavior
Just can debug c# codes.

[2019-05-16 09:02] gaudigde opened #3069 "Poor performance while expanding variables in debug view"
Issue Type: <b>Performance Issue</b>

## Steps

1. Open the project [SlowDebugger.zip](https://github.com/OmniSharp/omnisharp-vscode/files/3186190/SlowDebugger.zip).
2. Set a breakpoint in line 17 (end of the main method).
3. Hit F5.
4. When the breakpoint is hit, expand the `foobar` variable in the debug view.

## Result

The expansion of the variable `foobar` takes several seconds.

## Expectati

[2019-05-16 09:48] bruce31 opened #3070 "revert to 1.19.0 from 1.19.1 cannot find netstandard 2.0"
Issue Type: <b>Bug</b>

Win Server 2012 R2
Attempted upgrade to 1.19.1 - this required install of Framework 4.7.2
Cannot change .Net Framework version on server so needed to revert to 1.19.0

Why is .NET Framework 4.7.2 required? .Net Core 2.1 is installed on this machine. Also this is a user install of VS Code how can a machine-wide change be a requirement?
[code]

Extension version: 1.19.0
VS Co

[2019-05-16 09:54] filipw commented on #3070
1.19.0 requires .NET 4.7.2, however it didn't manifest itself properly with a popup message, only with a silent `System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51` error.

The last release that used .NET 4.6.1 was 1.18.0

Unfortunately this is by design - MSBuild 16, which is needed in OmniSharp as part

[2019-05-16 13:38] matheusjulio96 opened #3071 "Question mark ruin Color Theme at C#"
Issue Type: <b>Bug</b>

When i use a question mark (?) at my c# code, like 'private int? Property', the rest of {curly brackets} lose their color.

Extension version: 1.19.1
VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-11T08:27:14.102Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2019-05-16 13:43] matheusjulio96 commented on #3071
Realised it's the same issue of #https://github.com/OmniSharp/omnisharp-vscode/issues/2607

[2019-05-16 13:43] #3071 closed

[2019-05-16 14:44] gregg-miskelly commented on #3068
Hi @elishateng,

If you are trying to switch back and forth between debugging native code and .NET Core, you can use the debugger from the C++ extension (debug type = `cppvsdbg'). In other words you can launch the process (or attach) using the native debugger. If you determine that you actually need to be managed debugging, you stop debugging and relaunch (or attach) using the  .NET debugger.

If

[2019-05-16 14:48] gregg-miskelly commented on #3069
Yes, the root cause (or at last the primary root cause) is https://github.com/dotnet/coreclr/issues/22315. The CLR team is looking to address this. Hopefully for .NET Core 3.0.

[2019-05-16 17:31] anorborg commented on #3003
I've hit this as well in one of my repos. I attempted to to create a minimal repo to reproduce, but unfortunately wasn't able to. I tried disabling all other extensions and also verified my `omnisharp.useGlobalMono` setting was `auto` (though I do not have mono installed separately).

## Environment Information:
**VS Code**: 1.33.1
**C# Extension**:  1.19.1

<details><summary>dotnet --info</summar

[2019-05-16 17:34] akshita31 commented on #3003
@anorborg Can you try setting "omnisharp.useGlobalMono": never. That way omnisharp will use the built-in version of mono.

[2019-05-16 17:45] anorborg commented on #3003
@akshita31 no change unfortunately. If it helps, the behavior it appears to be isolated to a particular interface and implementation. The intellisense will not register an error if the interface isn't implemented, however i'll still get a standard build error. When I implement I am able to build and run, but the implemented method has the "MISSING: command"

[2019-05-16 17:56] pietro-Alterdata opened #3072 "Returned type wrong when parameter of method is dynamic"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version:
[code]

## Steps to reproduce
1. Create a new project;
2. Create a class Hamburger with one or more atributes.
3. Create a class with a method receiving one string parameter and returnig a Hamburger object. (public hamburger GetHamburger(string sauce))
4. On your main project, call GetHamburger informi

[2019-05-16 21:24] mikes-gh opened #3073 "netcoreapp3.0 project does not start browser"
## Issue Description ##

When starting Server Side Blazor project in debug mode browser does not start even though it is set to in the launch.json

Browser starts OK  in VS 2019 ok (it uses launchSettings.json)

App does start correctly its just you have to copy url from startup log into browser address bar

## Steps to Reproduce ##

git clone https://github.com/mikes-gh/WebApplication1.git
F5

##

[2019-05-16 22:58] gregg-miskelly commented on #3073
@mikes-gh I believe I resolved this already in internal builds. If you look through the debug console, you should see a line like `Now listening on: <some-url-here>`. Do you have that? Does it start with white space?

[2019-05-17 00:48] elishateng commented on #3068
Hi, @gregg-miskelly ,
Thank you for your response.

[2019-05-17 01:25] #3068 closed

[2019-05-17 07:30] mikes-gh commented on #3073
On netcore 2.2

[code]

On netcore 3
[code]

usinf the new

[code]
One comment with the new config is not immediately obvious that it launches the browser

What is the meaning of openExternally?

[2019-05-17 07:49] mikes-gh commented on #3073
Just tried 1.34 and note the problem is still there.  Is the new config for launch.json generated in a later build?

[2019-05-17 08:16] filipw commented on #3070
Closing as a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/2992 - thanks

[2019-05-17 08:16] #3070 closed

[2019-05-17 08:18] filipw commented on #3063
In order to be able to use Unity projects targeting full .NET framework on a Mac, .NET SDK is not enough. You should also install Mono - https://www.mono-project.com/download/stable/

[2019-05-17 08:42] antpaw commented on #3063
@filipw Thanks! i've tried it already, do i need to do something after i've installed mono? because it didnt change any of the vscode errors.

[2019-05-17 08:46] filipw commented on #3063
could you set `"omnisharp.loggingLevel": "debug"`, retry and post the OmniSharp log here?

[2019-05-17 08:49] antpaw commented on #3063
@filipw thanks, i will try again in 8 hours, the affected machine is not available to me right now

[2019-05-17 12:24] FelschR commented on #2175
I only see documentation for my own XML headers. For standard functions like `IEnumerable.Any` there is no documentation shown in the popover.

[2019-05-17 12:49] devel0 commented on #2175
I had the same issue and as hugly workaround I converted my lib to a netcore app while in a project netstandard used to build only library from csproj file I included cs files and excluded Program.cs; this allowed me to work using intellisense working from netcoreapp type workspace and vscode to shown xml documentation referring correct assembly through F12 ( eg. System.Threading.dll ) while from

[2019-05-17 14:29] loflina commented on #3065
I was able to resolve my own problem by following directions from this post: https://github.com/OmniSharp/omnisharp-vscode/issues/2509#issuecomment-420318250

- Turn off auto updating in VSCode (cmd+shift+p: disable auto updating extensions)
- Uninstall the C# powered by OmniSharp in VSCode Extensions
- Manually install the VISX of version 15.2 (cmd+shift+p: install from visx)
[csharp-1.15.2.zip](

[2019-05-17 14:29] #3065 closed

[2019-05-17 14:52] loflina commented on #3029
I was able to solve a very similar issue by following the directions here: https://github.com/OmniSharp/omnisharp-vscode/issues/2509#issuecomment-420318250.

[2019-05-17 16:23] antpaw commented on #3063
@filipw I've tried to install mono again and this time I've used the v5.20.1 version and it worked, thanks

[2019-05-17 16:23] #3063 closed

[2019-05-17 16:30] bruce31 commented on #2992
Why .Net Framework??
Mac version is working fine with no version of .Net Framework installed.
Can't it use .net core or Mono if present (or can that be an option when installing as a user install?)

[2019-05-17 16:38] gregg-miskelly commented on #2992
@bruce31 OmniSharp does **NOT** run on .NET Framework on macOS/Linux. On macOS/Linux, it will run on Mono. On Windows it will run on the full .NET Framework.

[2019-05-18 16:46] jwbay opened #3074 "Omnisharp uses wrong MSBuild version"
## Issue Description ##
OmniSharp is selecting the wrong MSBuild location when opening .NET Core 2 applications. The logs tell the story:
[code]
Here we see that even though MSBuild 16 is detected via VS Build Tools 2019, it chooses MSBuild 15. Then:
[code]
We see that Omnisharp is complaining about not having version 16 of MSBuild available. But as we saw above, it's right there 😭. Weirdly, it su

[2019-05-18 18:17] arnavb opened #3075 "Don't switch to Debug Console when using integrated terminal"
This isn't really an issue, more of a feature request. Currently, if the console in a launch task is set to `integratedTerminal`, the window switches over to the build task information in the debug console (I have to manually switch windows to the terminal). This gets annoying after a while, and I found [this issue](https://github.com/Microsoft/vscode/issues/43164) when searching for why this beha

[2019-05-18 23:05] JuliusHerrmann opened #3076 "VSCode Fedora can not create /Debug/ direcory due to permissions"
I want to have code completion for Unity3d but due to this error my code completion is not working:
Unable to create directory "/Debug/". Access to the path "/Debug/" is denied.

## Full Log:
Starting OmniSharp server at 5/19/2019, 12:24:08 AM
    Target: /home/julius/Unity/1234562654/1234562654.sln

OmniSharp server started with Mono 5.18.1.
    Path: /home/julius/.vscode/extensions/ms-vscode.csh

[2019-05-19 00:48] vitoryugulis commented on #2876
I'm still having this same issue with .net core sdk version 2.2.204 and omnisharp version 1.19.1.
I tried the solutions showed here and in this other issue: #3023, but none of those solved the problem.

I managed to solve it with the help of the comments on this issue: #2509
Link to the solution that worked for me: https://github.com/OmniSharp/omnisharp-vscode/issues/2509#issuecomment-420318250

[2019-05-19 00:54] vitoryugulis commented on #2509
I'm still having this same issue with .net core sdk version 2.2.204 and omnisharp version 1.19.1.

This solved my problem: https://github.com/OmniSharp/omnisharp-vscode/issues/2509#issuecomment-420318250

[2019-05-19 09:23] Ghostbird commented on #2509
Well, that's just a workaround. The problem persisted for me too, but in the end I managed to solve it for my particular installation. The details are here: https://github.com/OmniSharp/omnisharp-vscode/issues/2529#issuecomment-487098749

[2019-05-19 17:15] radutomy commented on #1980
I, too, would like a solution to this. It's very, very annoying, especially when combined with Vim.

[2019-05-20 10:44] jcreek commented on #3056
Similar issue on Ubuntu 18.04 here too.

[2019-05-20 12:02] jcreek commented on #3048
@filipw that solution did not solve the issue for me on Ubuntu 18.04 LTS

[2019-05-20 14:45] rchande commented on #3048
@ArunRaj6 Please share your `omnisharp log`.

[2019-05-20 14:46] rchande commented on #3056
@cloudrex Can you set the option "omnisharp.logginglevel" to "debug" and share your omnisharp log again?

[2019-05-20 17:26] rmunn commented on #3060
Possibly related, depending on where that `/c` parameter is ultimately coming from, to https://github.com/dotnet/corefx/issues/24704, where `xdg-open` was being used on Linux to provide the equivalent of `cmd /c`. If the process of opening a `.csproj` file involves starting an external process, then I'd strongly suspect that https://github.com/dotnet/corefx/issues/24704 is behind the issue. It wou

[2019-05-20 17:39] gregg-miskelly commented on #3075
I think the ideal solution would be for VS Code to make the terminal and debug console separate tabs so that both can be visible at once. The C# extension actually goes [out of its way](https://github.com/OmniSharp/omnisharp-vscode/blob/b2581f68d8f754287640ec2050e1ada53a5594e6/src/configurationProvider.ts#L167) to show the debug console because it is the only way we have to show messages. We used

[2019-05-20 17:49] cloudrex commented on #3056
Funny. This was actually happening because I was building using WSL on Windows, dumb move.

[2019-05-20 17:49] #3056 closed

[2019-05-20 18:48] MaxXor commented on #2937
@richlander The issue does still happen in latest version 1.19.1. I created a new program with `dotnet new console` and loaded the directory in vscode.

OmniSharp Log:
[code]

My project file looks like this:

[code]

[2019-05-20 19:00] rmunn opened #3077 ".NET SDK not found if installed via Snap and Snap aliases used"
## Issue Description ##

If the .NET SDK has been installed via Snap (`sudo snap install dotnet-sdk`) on Ubuntu 18.04, and a Snap alias has been created with `sudo snap alias dotnet-sdk.dotnet dotnet` as recommended in https://github.com/dotnet/core-setup/issues/4230#issuecomment-398841315, then OmniSharp can't find the .NET SDK because `dotnet --info` fails with a SIGABRT when run from inside VS

[2019-05-20 19:37] gregg-miskelly commented on #3077
@rmunn this isn't an issue with the C# extension, though I am not sure what I would suggest you do with this issue. If you run `dotnet --info` from a VS Code terminal, do you get anything more helpful?

[2019-05-20 20:44] dcb99 opened #3078 "Omnisharp stopped working in just one project"
A couple hours ago Omnisharp stopped providing intellisense features in just one of my projects in VS Code. I've recloned my repo, uninstalled and reinstalled the extension, downgraded to a previous version of the extension, and I can't get anything. No peek definition, go to definition, code suggestions etc. All other projects work as expected with regards to the extension.
## Steps to Reproduce

[2019-05-20 22:55] rchande commented on #3078
@dcb99 The C# extension has not updated since 1.19.1, and indeed OmniSharp hasn't merged any PRs since 5/16. If it's working for you in other projects and recently stopped working in one, I'd check to see what changed in that project. Note that from your log, the active solution is `c:\Users\dbarless\Desktop\MaintReq\Client-Portals\Client-Portals.sln` but omnisharp can't find any projects in it. D

[2019-05-21 00:10] dcb99 commented on #3078
@rchande absolutely nothing changed in the project at that level. I'll take another look tomorrow when I get back into the office and make sure nothing weird inadvertently happened.

[2019-05-21 06:12] #1533 closed

[2019-05-21 12:16] dcb99 commented on #3078
@rchande I opened the solution in Visual Studio and saved, then reinstalled omnisharp in VS Code and things seem to be working fine now. Not sure what the problem was, but I'll close the issue.

[2019-05-21 12:16] #3078 closed

[2019-05-21 15:05] KristianBalaj opened #3079 "Omnisharp CPU performance issues"
## Environment data
**Runtime Environment:**
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.103\
**VS Code version:** 1.34.0
**C# Extension version:** 1.19.1

## Steps to reproduce
1. Open Unity project in Visual Studio Code
2. Start typing in any C# file inside the project
3. Check your CPU blow up
_The pr

[2019-05-21 15:42] martielo commented on #3079
I'm getting the same problem whenever I implement **IDisposable**.

![git_omnisharp](https://user-images.githubusercontent.com/33702767/58110376-c9725d80-7bc5-11e9-9e6d-71623276d071.png)

[2019-05-21 17:09] zeroskyx commented on #2621
@rchande: anything I can do to help you with the issue? Would be really great to have this working again :) Thanks in advance!

[2019-05-21 19:35] rmunn commented on #3077
If I run `dotnet --info` from the VS Code terminal, it works, and I get the expected output (which I included in the issue description under "Dotnet Information (expected)" in case it's useful). The only failure scenario I've been able to reproduce is for OmniSharp to be launching the `dotnet --info` command during VS Code startup.

I'm also not sure where the root cause of this bug lies; if I cou

[2019-05-22 01:55] pabloc81 commented on #3043
@ionix1 it worked for me too. I had the same issue since upgrading to Ubuntu 19.04. Thanks!

[2019-05-22 13:43] inosik opened #3080 "Downloads tools for .NET when trying to open launch.json for non-.NET project"
## Issue Description ##

We did a workshop on React development at my company today. As I wanted to create a new `launch.json` file to set up the Chrome debugger, the C# extension got activated and started downloading OmniSharp, the .NET Core debugger and the Razor Language Server.

## Steps to Reproduce ##

1. Update the C# extension from an older version

    The extension has to download new ve

[2019-05-22 15:32] gregg-miskelly commented on #3080
Hi @inosik, there is currently nothing that the C# extension can do about this. The C# extension needs to register itself to provide launch.json templates, which means that when you ask for launch.json templates the C# extension will activate. In order to activate, we need to download our dependencies.

Two notes:
1. The VS Code team has a proposed feature to eliminate this problem (at least once

[2019-05-22 15:32] #3080 closed

[2019-05-22 16:23] richlander opened #3081 "Property inspector hides properties"
The property inspector is hard to use when only one property is shown.

This is what I see by default:

![image](https://user-images.githubusercontent.com/2608468/58190950-71456500-7c72-11e9-80fd-e2ab2021681c.png)

I can mouse-wheel to make it easier to use, but it is still hard to use:

![image](https://user-images.githubusercontent.com/2608468/58190976-80c4ae00-7c72-11e9-9b61-d714d179bd21.png)

[2019-05-22 16:49] rchande commented on #3081
cc @gregg-miskelly, but I think this is probably VS Code issue (they control the presentation).

[2019-05-22 17:09] gregg-miskelly commented on #3081
@richlander To make sure I understand, the issue you are seeing is with the size of the window being too small to be useful?

[2019-05-22 19:08] Doeke commented on #2937
@MaxXor I suddenly got the exact same error today, when it was working fine before. I was eventually able to fix it by installing Visual Studio Community 2019. Instead of using MSBuild Visual Studio Community 2017 15.9.28307.280, it detected Visual Studio Community 2019 16.1.28917.181 and now it works again.

Note, I tried installing older omnisharp versions but it had no effect (1.19.1 to 1.19 an

[2019-05-22 19:27] MaxXor commented on #2937
@Doeke Sadly that doesn't work for me on Linux...

[2019-05-22 22:09] rchande commented on #2621
@zeroskyx The issue is that OmniSharp isn't properly marking "region" folding units as having the "region" kind. Thus, when you issue the command in VS Code, the C# extension doesn't think it has any regions to fold.

[2019-05-23 05:00] hk1ll3r commented on #785
3 years later, still have to restart omnisharp after a file rename. Supporting these "advanced" use cases must be real hard.

[2019-05-23 06:08] hardhub commented on #2965
@Bob1904 what was the reason? I have the same problem with my own code.

[2019-05-23 06:25] inosik commented on #3080
Thank you for your reply. You're right, VS Code activates the extension when the "Open launch.json" command is executed:

[code]

That's still unfortunate, though. I hope the feature you mentioned can help solving this. This blocked me for like 10 minutes. On a plane or train network this would be even worse.

[2019-05-23 09:33] SupinePandora43 opened #3082 "Errors in obj/project_xxxxxxxx_wpftmp_AssemblyInfo.cs"
## Issue Description ##
9 errors: "repeating attribute 'Assembly...'" in file ${projectName}/obj/Debug/netcoreapp3.0/${projectName}_xxxxxxxx_wpftmp_AssemblyInfo.cs,
sometimes show errors in other AssemblyInfo files
## Steps to Reproduce ##
open dotnet c# wpf project, run command "dotnet build"
## Steps to FIX ##
in vscode run command "Omnisharp: Restart Omnisharp"
## Environment information ##

**

[2019-05-24 07:06] anpn33 commented on #3077
Have the same issue. After running "sudo snap alias dotnet-sdk.dotnet dotnet" dotnet --info works fine in a terminal, but I still get:
Failed to spawn 'dotnet --info'
from "C# for Visual Studio Code (powered by OmniSharp)."

[2019-05-24 20:07] arnavb opened #3084 "Return Code of Application is ignored with Launch Task"
## Issue Description ##

If my main function returns a non-zero exit code and I run the application through the launch task (I press F5), the return code of the application is incorrectly shown as 0 instead of the exit code I specified.

## Steps to Reproduce ##

1. `dotnet new console -o TestReturnCodeIssue`
2. `cd TestReturnCodeIssue/`
3. `code -r .`
4. Click the notification box asking if requi

[2019-05-25 08:30] cloder commented on #490
+1

[2019-05-25 12:15] clintnetwork commented on #490
+249+2-1

[2019-05-25 20:18] diegotrujillor opened #3085 "After upgrading vscode, debugger in dotnet core does not work anymore"
Just right after I upgraded the vscode, I was not able to debug anymore. I click to debug test and start the compilation process and just right after start the debugging process got this:

Failed to start debugger: "System.InvalidOperationException: The debugger could not be started\n  at OmniSharp.DotNetTest.Services.DebugTestService.Handle (OmniSharp.DotNetTest.Models.DebugTestGetStartInfoReques

[2019-05-25 20:33] bruce31 commented on #2992
It is ironic that in order to support .Net Core 3.0 it forces an upgrade of Full Framework when the selling point of 3.0 is that windows desktop apps can use the latest and greatest, independent of the version of full framework installed on the system.

[2019-05-27 00:29] #2929 closed

[2019-05-27 11:29] ivars001 commented on #3003
@akshita31 Thanks! Worked for me

[2019-05-27 14:50] Eyap53 commented on #3076
I got the same problem on Ubuntu 19.04 (disco dingo).

Omnisharp-vscode version : 1.19.1
dotnet version (installed via snap) : 2.2.204
mono version : Mono JIT compiler version 5.18.0.240 (Debian 5.18.0.240+dfsg-2ubuntu2 Wed Apr 17 23:39:09 UTC 2019)

[2019-05-27 15:33] spaasis commented on #3060
Is there something I can do to help you guys catch this?

[2019-05-27 17:47] lonix1 commented on #1424
The vscode team [doesn't believe it's their fault](https://github.com/microsoft/vscode/issues/47993#issuecomment-381795992) - so where does the problem lie?

This drives me crazy every day. I'm glad I'm not alone :)

Does someone know which workaround has less side-effects for now:

[code]

or

[code]

[2019-05-27 18:12] curtisy1 commented on #1998
@arcooke Have you found a way to work around this? Seeing how you opened another issue recently. Would be great if Solus users can have a solution for this as otherwise we're pretty much stuck.

If not, I guess all we can do is wait for the mono 5.18 update that's going to land in the solus repos sooner or later

[2019-05-28 00:11] akshita31 commented on #1998
Could you try setting "omnisharp.useGlobalMono": never and then restarting the omnisharp server.

[2019-05-28 03:14] arcooke commented on #1998
@akshita31 and @curtisy1

That tip seemed to do the trick, thank you. The  `mono` and `mono-msbuild` packages installed on my system are now ignored when Omnisharp starts up

[code]

[2019-05-28 04:44] zivcaspi opened #3086 "Disable notification on projects failing to load"
Issue Type: <b>Bug</b>

Open VSCode with the C# extension on a folder with hundreds of projects but with some systemic issue around project loading. --> The toast message "Some projects have trouble loading. Please review the output for more details." will pop up hundreds of times (I guess once per such project) until one gives up and opens another editor instead.

Extension version: 1.19.1
VS Cod

[2019-05-28 09:00] TimWillebrands commented on #2532
For me installing the mono-complete package following [this](https://www.mono-project.com/download/stable/) fixed the error for me.

[2019-05-28 16:52] gregg-miskelly commented on #3060
CC @rchande @akshita31

[2019-05-28 18:23] rajdakin commented on #2532
Thanks a lot! Now it truly works (I maybe should have mentioned that even though this first specific error was corrected, I required the .NET 3 framework or something like that, so I just abandoned as I couldn't find any Linux .NET package...).
Although I just needed to install the `mono-devel` package as told in that link you sent.

[2019-05-29 09:19] YunWeiaa opened #3087 "Debugging failed that "Could not locate .NET Core project. Assets were not generated."."
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.34
C# Extension version: 1.19 (v1.19.1)

## Steps to reproduce
• Create new .NET Core 3.0 console application(con30) with reference to a .NET Standard 2.1 class library(cla21) via CLI,
![image](https://user-images.githubusercontent.com/33921754/58545033-4d74a880-81b7-11e9-90dd-3dd0d87222ed.png)
• Open it via VSCode
• Debug the

[2019-05-29 19:36] rchande commented on #3086
@zivcaspi You should able to suppress those by setting `"omnisharp.disableMSBuildDiagnosticWarning": false`

[2019-05-29 19:36] #3086 closed

[2019-05-29 21:10] Tschrock opened #3088 "Can't load projects after Windows 10 May 2019 Update (1903)?"
## Issue Description ##
I just installed the new Windows 10 May 2019 Update (version 1903) and can no longer load projects.

Opening the OmniSharp Log shows the following error:
[code]

After encountering this error I tried updating VS Code (1.33.1 -> 1.34) and Visual Studio 2019 (16.1.0 -> 16.1.1), but neither update had any effect on the issue.

## Steps to Reproduce ##
1. Update Windows?
2. Try

[2019-05-29 21:23] #1990 closed

[2019-05-29 21:48] curtisy1 commented on #1998
@akshita31 Yes, can confirm it works perfectly. Thanks for the help!

[2019-05-29 23:08] akshita31 commented on #1998
@curtisy1 @arcooke Glad you got it working. It looks the default mono on your system has something missing which was causing the problem. Setting the above option would force omnisharp to use the mono version that ships with it.

I will close this issue now. Please reopen if it appears again

[2019-05-29 23:08] #1998 closed

[2019-05-29 23:13] akshita31 commented on #3058
![image](https://user-images.githubusercontent.com/12554141/58597364-7aaf6e00-822c-11e9-83a9-b0c0ed5e524a.png)

@lonix1 We already have a setting called Omnisharp:AutoStart. If you disable that in the workspace settings for those particular projects, does it solve the issue ?

[2019-05-29 23:16] akshita31 commented on #3057
@hiranya911 Could you try setting "omnisharp.useGlobalMono": never. This will run omnisharp on the mono that is packed in the omnisharp bits that we ship.

[2019-05-29 23:20] akshita31 commented on #3049
You could also try setting omnisharp.useGlobalMono: never. This way you will always use the mono that is shipped with omnisharp and is supposed to have all the right bits in place.

@danieldeveloper001 Since omnisharp needs to support dotnet framework projects as well, we cannot easily switch to dotnet core and hence on Linux we need a mono installation.

[2019-05-29 23:20] akshita31 commented on #3049
For anyone hitting the issue please update mono or try the setting as mentioned in the above comment.

I will close this issue for now. Please reopen if it reoccurs.

[2019-05-29 23:20] #3049 closed

[2019-05-29 23:24] akshita31 commented on #3057
Looks like this issue is similar to https://github.com/OmniSharp/omnisharp-vscode/issues/3049 where a mono update rendered omnisharp unusable. Please try the setting as mentioned above.

I will close this issue for now. Please reopen if it still persists

[2019-05-29 23:24] #3057 closed

[2019-05-29 23:30] akshita31 commented on #3048
@ArunRaj6 We havent heard from you in a while, so I will close this issue now. Please reopen whenever you have more time.

[2019-05-29 23:30] #3048 closed

[2019-05-30 07:36] lonix1 commented on #3058
That would be very helpful in some use cases. In my use case it wouldn't because I would be going in and out of various projects throughout the day. So if I permanently stop omnisharp I'd need to remember to also start it.

Anyways, I know this is probably a way out there request, so feel free to close, and consider it again if others want it.

Thanks for the advice!

[2019-05-30 16:27] ArunRaj6 commented on #3048
I have tried to upgrade the version to 1.19.1 but, its ask me to install another version of .NET also.
Now, I dont want to install an another version of .NET because of some other reason. SO, I downgraded the version to 1.18.0 now it is working fine.

[2019-05-30 16:33] rchande commented on #3048
@ArunRaj6 In order to support newer versions of .NET Core 3, 1.19.1 requires .NET Framework 4.7.2. If you want to use a later version of the C# extension at some point you'll need to install 4.7.2.

[2019-05-30 16:45] ArunRaj6 commented on #3048
@rchande Sure, I will update it later.
@rchande  @akshita31 One open question,
Why C# extension tries to install the latest version every time when we re-launch the VSCode?

[2019-05-30 17:46] akshita31 commented on #3048
@ArunRaj6 By default, the extensions in vscode are set to auto-update, hence C# extension also updates to the latest version when it detects an older version.

[2019-05-30 17:47] akshita31 commented on #3048
You can disable that by changing the setting in VSCode.

![image](https://user-images.githubusercontent.com/12554141/58652376-42f60400-82c8-11e9-8901-17625a3c0337.png)

[2019-05-30 20:10] richlander commented on #3081
@gregg-miskelly ... yes. The experience is different (better) on macOS. The Windows experience is markedly worse for this.

[2019-05-30 20:27] gregg-miskelly commented on #3081
@richlander this is definitely a VS Code issue. Do you want us to port the problem over there for you, or do you want to open a new issue yourself? I am guessing this is DPI related, so it is probably useful to provide the DPI settings for your various monitors.

[2019-05-30 21:50] akshita31 commented on #3058
@lonix1 For the folders for which you dont want omnisharp to light up you can specify the workspace settings there. Workspace settings only apply to that particular workspace and not to all other vscode instances - https://code.visualstudio.com/docs/getstarted/settings

[2019-05-30 22:36] lonix1 commented on #3058
Yep I know, but I'll use that workspace now, and later maybe not. Multiple projects may be current at the same time - e.g. backend, frontend, mobile, etc. So permanently disabling is not an option - and the workspace-config solution is not applicable.

But, like I said, if you feel this is a weird request, let's close it and reconsider if other people also want it?

[2019-05-30 22:48] akshita31 commented on #2960
You just need to create an empty file called install.Lock in the folder where you are putting the payloads.

[2019-05-31 06:37] ielcoro commented on #2927
I experienced the same issues every day, some scenarios I have seen it include:

- Renaming a code file and then renaming his class name in the same workspace, sometimes it shows duplicated intellisense (both the old class name is available along the new one), or the new class name cannot be resolved.

- Changing a namespace name with Search and Replace, intellisense does not get updated with the

[2019-06-01 08:05] Patrick-vianexus opened #3091 "Can't attach to self-contained .NET Core application (macOS)"
Hi there,

I hope you can help me. I have a strange problem, just under macOS. Please have a look below for a detailed description.

Thanks for your help.

## Issue Description ##
## Steps to Reproduce ##
1. Publish .NET Core project as a self-contained application
2. Create a debug target in launch.json
{
"name": "Attach MyBackend",
"type": "coreclr",
"request": "attach",
"processName": "MyBacken

[2019-06-02 14:08] felixgerdes opened #3092 "Inline Helper do not work"
## Issue Description ##
Hello,

in  my different C# projects i get two helpers. But one of them do nothing. There are no hints or fixtures. Is there a way to disable the broken one. Please see my attachments. The bulb works great, but the inline feature never suggest anything.

Im note sure, weither it coud be an issue caused by some extensionens.

This is just minimal disturbing. Thanks for you w

[2019-06-02 15:00] nczsl commented on #2949
![image](https://user-images.githubusercontent.com/5241693/58763173-1a9d2c80-858a-11e9-8a2f-7ee6c0fb506c.png)
no use

[2019-06-02 16:05] nczsl commented on #2833
i have same problem
https://github.com/OmniSharp/omnisharp-vscode/issues/2949

[2019-06-03 02:55] TeYoMe opened #3093 "Error Visual Studio Code and Omnisharp Extension with .Net Core SDK 3.0 preview"
I hava two netcore sdk on my computer
[code]

I run `dotnet new webapi -o TodoApi` to create a netcore3 project, and when I open it with vscode, I got this error

[code]
so how can I fix it

[2019-06-03 03:53] niranjanbohra commented on #3087
Facing the same issue

[2019-06-03 12:04] Shkarface commented on #3004
I have the same issue, but on linux

[2019-06-03 12:48] Elrouille commented on #3087
Facing similar issue when creating a new MVC project.

[2019-06-03 15:50] rchande commented on #3092
@felixgerdes Can you try disabling extensions of the than the C# extension and see if this still happens?

[2019-06-03 15:52] rchande commented on #3093
@TeYoMe Can you share your Omnisharp log?

[2019-06-03 16:25] felixgerdes commented on #3092
@rchande I just disabled all Extensions except the Omnisharp Extension and and restarted my VSCode. The behavior is still the same. The bulb gives hints and shortcuts. The Mouseover says "No Codeaction is avaible". (It´s my translation from the german sentence).

Is my expactation right, that the option should contain some actions for me? Or do i have a wrong understanding of the feature?

[2019-06-03 16:28] rchande commented on #3092
@felixgerdes I'm speculating (need to confirm) but the new popup view you see is a relatively new VS Code feature and we may need to do some work to fill in the suggestions. Thanks for reporting.

[2019-06-03 16:58] felixgerdes commented on #3092
@rchande no problem! Thanks for your awesome IDE. I think i was struggeling with this, cause im used to enjoy such a great quality!

[2019-06-03 16:58] #3092 closed

[2019-06-03 19:05] siddjain opened #3094 ".NET CLI tools cannot be located"
## Environment data
`dotnet --info` output:

[code]

VS Code version: Version 1.31.1 (1.31.1)
C# Extension version: Version 1.31.1 (1.31.1)

## Steps to reproduce
Install extension.

## Expected  behavior
No error

## Actual behavior
displays a message .NET CLI tools cannot be located .
https://imagebin.ca/v/4jMFsy5m9XN6
and prompts to install .NET CLI tools - but I do have mono installed (I think

[2019-06-03 19:43] gregg-miskelly commented on #3094
@siddjain The .NET CLI doesn't come with mono.

What type of project are you working on? (ex: .NET Core, Unity, some other mono scenario, etc)

[2019-06-03 19:46] siddjain commented on #3094
I am developing C# applications on Mac. To do that, I installed Mono as well as VS Code and C# Extension. So should I click on the prompt to install .NET CLI? What about the warning here: https://imagebin.ca/v/4jMHnbwv0XVU
Mono debugging is not supported. Does that mean I won't be able to debug my C# code in VS Code? Thanks

________________________________
From: Gregg Miskelly <notifications@gith

[2019-06-03 19:56] gregg-miskelly commented on #3094
Can you better define "C# applications" -- are you talking about an application running on Mono?

If yes -
* You don't need to install the .NET CLI. You can disable the prompt by turning on 'csharp.suppressDotnetRestoreNotification' in VS Code preferences.
* You will need the Mono Debug extension to debug your code in VS Code

[2019-06-03 19:58] siddjain commented on #3094
I am developing a C# application to run on Mac. So I think the answer to the question is Yes

________________________________
From: Gregg Miskelly <notifications@github.com>
Sent: Monday, June 3, 2019 12:56 PM
To: OmniSharp/omnisharp-vscode
Cc: siddjain; Mention
Subject: Re: [OmniSharp/omnisharp-vscode] .NET CLI tools cannot be located (#3094)

Can you better define "C# applications" -- are you t

[2019-06-03 20:23] gregg-miskelly commented on #3094
Okay, I will close this then. Let us know if you need more help.

[2019-06-03 20:23] #3094 closed

[2019-06-04 00:41] TeYoMe commented on #3093
This is the log
[code]

[2019-06-04 03:48] Swellenator commented on #3093
Unfortunately you need MSBuild 16. The only way currently to get that is to install Visual Studio 2019.

The one that ships with OmniSharp and VS 2017 is currently 15. Hopefully it will be updated to 16 soon, there must be an existing issue for it already somewhere.

[2019-06-04 06:47] TeYoMe commented on #3093
OK，Thanks

[2019-06-04 10:08] YunWeiaa commented on #3087
Not repro on 3.0.100-preview6-012234 (runtime-3.0.0-preview6-27730-01)(https://github.com/dotnet/core-sdk)