[2018-01-25 22:30] natemcmaster commented on #1979
Yup, same error:
[code]
Here's my sample project: [repro.zip](https://github.com/OmniSharp/omnisharp-vscode/files/1665914/repro.zip)

![image](https://user-images.githubusercontent.com/2696087/35415914-20f355b0-01dc-11e8-95b7-b4a1fbb3940e.png)

[2018-01-25 23:58] akshita31 commented on #1980
Possible duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1680

[2018-01-26 00:14] poodle-chowder commented on #1980
See text highlighting at end of attached gif, doesn't appear to be caret positioning but actual deletion of the spaces.

[2018-01-26 01:42] gregg-miskelly commented on #1979
I can reproduce what you are seeing. Taking a look...

[2018-01-26 04:19] gregg-miskelly commented on #1979
It looks like the problem is that something went wrong with publishing the OSX version of the debugger, and so it is still running an old version without the fix.

[2018-01-26 16:16] DustinCampbell commented on #1980
@poodle-chowder : The goal of the whitespace formatter is to remove superfluous whitespace. So, the behavior that you're seeing where unnecessary indentation at the starts of lines is removed is working as designed. I suspect that the real issue here is really the same as #1680, where the indentation is removed on the line where the caret appears, shifting it to the left.

[2018-01-26 21:32] mjbvz opened #1981 "Adopt VSCode 1.20's new CodeAction type"
VS Code 1.20 adds a new [`CodeAction`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L1897) type that attaches additional metadata to code actions. This additional information will be used in a few places in VS Code:

* `CodeAction.kind` describes the kind of a code action (extract refactoring, quickfix, ...) Kinds are used for VS Code's new `refactor` command, and they are us

[2018-01-26 23:29] TyOverby opened #1982 "Add "Find all implementations" to right click menu."

[2018-01-27 11:36] Buzze11 commented on #1978
Hi @gregg-miskelly , thanks for your fast response. I have opened an Issue https://github.com/dotnet/cli/issues/8490 at the dotnet cli repo.
BR Thomas

[2018-01-27 11:36] #1978 closed

[2018-01-27 13:53] 1mpossibleHacker commented on #1028
Thank You All That Worked .But Second Downloading Still İn Procces Looks Like It'll Never End

[2018-01-27 16:04] poodle-chowder commented on #1980
@DustinCampbell Understood. I think the heart of the issue is that whether `omnisharp.useEditorFormattingSettings` is turned on or off, editor whitespace trimming settings are ignored. With the omnisharp extension disabled, these settings are honored and I don't have the indentation issue.

VS does not seem to consider the indents leading up to a block's indentation level to be superfluous, but VS

[2018-01-27 22:28] RobCannon commented on #1967
It happened after the latest VSCode upgrade for me.  Version 1.19.3

[2018-01-28 09:17] VergilGao commented on #1970
I got the same trouble with unity.
It really broke my workflow.

[2018-01-28 10:23] imba-tjd commented on #1965
@DustinCampbell Fine. I think this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1830

[2018-01-29 07:44] #1949 closed

[2018-01-29 15:37] Shizola commented on #1752
I too really, really miss this feature :(

[2018-01-29 15:46] DustinCampbell commented on #1982
I think this might be better as a request for VS Code itself, which defines the Go to Implementation command.

[2018-01-29 15:49] DustinCampbell commented on #1980
Not exactly. The intent is to keep the formatting similar _for C#_ between Visual Studio and Visual Studio Code. C#'s formatter has always removed extra indentation, but there's special behavior on the line that the caret is on.

[2018-01-29 15:52] DustinCampbell commented on #1965
Thanks @imba-tjd. Agreed!

[2018-01-29 15:52] #1965 closed

[2018-01-29 15:55] DustinCampbell commented on #1967
I just updated to 1.19.3 and couldn't reproduce the issue. @rchande: Have you seen this?

[2018-01-29 17:08] GregPyatt opened #1983 "Can't Install latest .Net CLI tools because can't remove older version"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Linux
 RID:         ubuntu.16.04-x64

VS Code version: Version 1.19.3
C# Extension version: 1.13.0

## Steps to reproduce
I perform the instructions

[2018-01-29 17:55] GregPyatt commented on #1983
This issue can be marked CLOSED.  Thank-you.

As is typical, I discover the solution not long after posting a request for help!

I found the solution here: https://github.com/dotnet/cli/issues/4088

To remove an older version of .NET Core, simply remove the folder you had added named "dotnet" on disk. But then you must restart your computer.

From there, you can use the instructions listed here to

[2018-01-29 17:55] #1983 closed

[2018-01-29 18:45] harry-cpp opened #1984 "[Feature Request] Add an option to unload projects"
It would be nice if there was a way to unload a project. This is useful for projects which generate a lot of code(ie. .NET wrappers) since I don't want omnisharp to monitor all those files until the generation of all of them is done.

[2018-01-29 19:20] DustinCampbell commented on #1984
Thanks for the request. It's on our backlog. However, note that there's no telling when we will get to this or what shape it might take.

[2018-01-30 01:18] gregg-miskelly commented on #1979
I figured out our OSX packaging problems and I have a PR out with the fix (https://github.com/OmniSharp/omnisharp-vscode/pull/1985). Once that is merged I will release a new beta.

[2018-01-30 01:32] natemcmaster commented on #1979
Thanks @gregg-miskelly. I'm happy to try the new beta when it's available.

[2018-01-30 04:51] danoli3 commented on #1752
Absolutely please add this

[2018-01-30 10:27] alexandrudima opened #1986 "When developing with Unity and C#, vscode can't find reference to System.Xml.XmlDocument"
Moved from https://github.com/Microsoft/vscode/issues/42371
From @satscape

---

- VSCode Version: Code 1.19.3 (7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba, 2018-01-25T10:32:23.601Z)
- OS Version: Linux x64 4.14.14-041414-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
xml|Dot|1.9.2
csharpfixformat|Leo|0.0.59
python-docs|Muk|0.8.3
unity-tools|Tob|0.1.9
unity-debug|Uni|1.2.1
sh

[2018-01-30 14:45] SirIntruder commented on #1986
what is your Unity version? I don't get this problem with 2017.3.

You should be able to find <Reference Include="System.XML" /> in .csproj file relevant to your script

[2018-01-30 18:47] savpek commented on #1967
Tested on work and home, repro in both. I also tested so that i cleared vscode, omnisharp etc folders from my user and installed just C# extension to vscode and issue occurred again. I could test with clean machine later

[2018-01-30 18:54] savpek commented on #1967
Ah got it, there was line `"csharp.format.enable": false,` in my user config, after cleared that it started working again. C# fixformat extensions seems to set it, tested to install it after cleared user settings ...
![image](https://user-images.githubusercontent.com/481896/35585103-a8d29c44-05ff-11e8-9812-2710d4e40663.png)

However other issues mentioned here may not be releated to this. Should t

[2018-01-30 19:09] amshtemp commented on #1258
Same can be said about Mac.
It is extremely slow to the point it has become unbearable.

[2018-01-30 21:00] DustinCampbell commented on #1967
ah ha! Thanks @savpek!

@RobCannon, @pushist1y, do you have the same setting?

[2018-01-30 21:14] satscape commented on #1986
I've just upgraded from 2017.2 to 2017.3 and got a warning saying "some projects had problems loading."
The omnisharp log has this line:
`[fail]: OmniSharp.MSBuild.ProjectFile.ProjectFileInfo
        The attribute "xmlns" in element <ProjectExtensions> is unrecognized.`

The line it's referring to in the .csproj file is this:
`<ProjectExtensions xmlns="http://schemas.microsoft.com/developer/msbuil

[2018-01-31 14:05] satscape commented on #1986
ISSUE RESOLVED!
I edited the .csproj file from
`<Reference Include="System.XML" />`
to
`<Reference Include="System.XML">
 <HintPath>/home/scott/Unity-2017.3.0f1/Editor/Data/Mono/lib/mono/unity/System.Xml.dll</HintPath>
</Reference>`

I guess Unity/MonoDevelop is already looking in there without being given the hint.
Thank you for your assistance, have a good day.

[2018-01-31 16:30] geoeo opened #1988 "VS Code does not load "header" information for local references on Mac High Sierra"
## Environment data
`dotnet --info` output:
[code]

VS Code version:
C# Extension version:

## Steps to reproduce -Edited
create sln `dotnet add Test.sln`

open current folder `code .`

create a local project `dotnet new console CONSOLE` in a folder e.g. CONSOLE/
create a local library `dotnet new library LIB` in a folder e.g. LIB/

add the LIB as reference to CONSOLE `dotnet add CONSOLE reference

[2018-01-31 19:02] dknippel commented on #1562
Hi all,

I have been able to successfully attach from VS2017 to a simple HelloWorld .NET Core console app process running on a RPi3 per @RoySalisbury instructions.

However, I have not been able to get any breakpoints [set within my VS2017 IDE] to hit.  And if I try to set a **_new_** breakpoint after attaching to said process I get a fatal error stating "Could not set breakpoint".  Said process i

[2018-01-31 19:09] chuckries commented on #1562
@dknippel The latest SDK that you'll want to install is [here](https://github.com/dotnet/cli#installers-and-binaries). These are listed as 2.1, so I'm not exactly sure what's going on with versioning, but these are the latest.

How are you building/deploying the app to the RPi3? What .NET Core Runtime version are you running on the RPi3?

[2018-01-31 22:03] dknippel commented on #1562
@chuckries , thank you for your quick reply.  Attached below are

1. "Failed to set break point" dialogue
2. SDK version before install
3. SDK version after install (for verification)
4. Debug general options in VS2017

RE: your questions:

1. I am building a self-containing app and deploying onto the RPi3 via SSH and the pscp.exe util from Putty
2. The .NET Core Runtime on the RPi3 is: Microsoft

[2018-01-31 22:30] chuckries commented on #1562
@dknippel
1. Just to be clear, you are building self contained, so you are deploying the linux-arm runtime with the app? You can run `./MyConsoleApp` and not `dotnet MyConsoleApp.dll`? If this is the case than the shared framework host installed on the machine doesn't matter. For the record, the shared framework host version < 2.1 does not support linux-arm debugging.
2. Is your app targeting netc

[2018-01-31 22:38] dknippel commented on #1562
Thank you again, your help is very much appreciated.

1. That was my understanding of "self-contained".  However, I wasn't able to remove the shared framework host from the RPi3.

2. Here is the project.json…

`{
  "runtimeTarget": {
    "name": ".NETCoreApp,Version=v2.1",
    "signature": "da39a3ee5e6b4b0d3255bfef95601890afd80709"
  },
  "compilationOptions": {},
  "targets": {
    ".NETCoreApp,V

[2018-01-31 22:49] chuckries commented on #1562
@dknippel I misspoke when I said project.json, you should have a .csproj at this point in .NET Core. Do you have a .csproj?

[2018-01-31 22:53] dknippel commented on #1562
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

</Project>

[2018-01-31 22:55] dknippel commented on #1562
<img width="264" alt="csproj_scrape" src="https://user-images.githubusercontent.com/35277981/35652016-bdbb1df6-0696-11e8-8de4-f73303b8e638.PNG">

[2018-01-31 23:14] dknippel commented on #1562
ok I think I might know what is happening here...(maybe ;-)) …

1. From with VS2017 IDE I am trying to Debug --> Attach to Process…
  -> thus, I have to first manually startup said process on the RPi3 via "pi@raspberrypi: ~$ dotnet ~/test/MyConsoleApp.dll"
2. Since I am manually starting up said process on the RPi3, the RPi3 makes use of the framework on it which is 'Microsoft.NETCore.App', verion

[2018-01-31 23:34] DustinCampbell commented on #1986
Thanks for the update @satscape! I'm very glad you were able to solve the issue.

[2018-01-31 23:34] #1986 closed

[2018-01-31 23:36] DustinCampbell commented on #1988
@geoeo: I'm using macOS High Sierra and can't repro this issue. Could you provide your OmniSharp Log from VS Code after opening your project?

[2018-01-31 23:37] chuckries commented on #1562
If you have a self contained app, you should not be using `dotnet` to start it, you should have a `MyConsoleApp` executable somewhere in the deployment. You should be able to run `~/test/MyConsoleApp`. Since you copied this from windows you might have to manually run `chmod 755 ~/test/MyConsleApp` to mark is as executable.

[2018-01-31 23:50] dknippel commented on #1562
Yes, just as I posted the last comment I realized what your were hinting at in your earlier comment about

OK, yes I did have to chmod the file.  then I did startup the console app via "./MyConsoleApp and voila it started up via the self-contained runtime (rather than the local RPi3 runtime).

Then I go back over to VS2017 IDE and attach.  It attaches.  Yay!  however, still no breakpoints are bein

[2018-01-31 23:50] gregg-miskelly commented on #1979
@natemcmaster since things seem to be taking a while to fix the CI problems in this repo, I am attaching a private to this bug. Instructions:

1. Download [csharp-1.14.0-beta3.vsix.zip](https://github.com/OmniSharp/omnisharp-vscode/files/1683709/csharp-1.14.0-beta3.vsix.zip)
2. Remove the '.zip' file extension
3. Follow instructions to install: https://github.com/OmniSharp/omnisharp-vscode/wiki/In

[2018-02-01 00:07] dknippel commented on #1562
...hmmm...but my VS2017 IDE output windows states:

<img width="300" alt="output_scrape" src="https://user-images.githubusercontent.com/35277981/35654213-de250ca0-06a0-11e8-8770-225c19975da3.PNG">

[2018-02-01 00:08] ElementalWarrior commented on #1968
If I comment the problemMatcher line in tasks.json I don't get stopped when building with warnings. But do when I get errors.

[2018-02-01 00:14] dknippel commented on #1562
OK, so I published like so:

`dotnet publish -r linux-arm -f netcoreapp2.1 --force`

then I build like so:

`dotnet build -o bin\Debug\netcoreapp2.1\ -f netcoreapp2.1 -c Debug -r linux-arm --forcedotnet publish -r linux-arm -f netcoreapp2.1 --force`

...then attach successfully,,,,but still no breakpoints are being hit....rats!

[2018-02-01 00:15] natemcmaster commented on #1979
👍

![image](https://user-images.githubusercontent.com/2696087/35654436-f1f1efc2-06a1-11e8-941b-f43bbdddaec2.png)

[2018-02-01 00:15] chuckries commented on #1562
@dknippel Please turn on diagnostic logging:
1. Open the VS Command Window from View -> Other Windows -> Command Window
2. Run the command `DebugAdapterHost.Logging /On /OutputWindow`
3. Attach to your process again

This should dump a bunch of output to the Output Window. Please copy that here or email it to me at chuckr@microsoft.com

[2018-02-01 00:36] dknippel commented on #1562
@chuckries , do you think the vsdbg on the RPi3 is incorrect?  I noticed the output states:

1> Debug adapter non-protocol standard output: Using arguments
    Version                    : 'vs2017u5'
    Location                   : '/home/pi/.vs-debugger/vs2017u5'
    SkipDownloads              : 'true'
    LaunchVsDbgAfter           : 'true'
        VsDbgMode              : 'vscode'
    RemoveEx

[2018-02-01 00:44] chuckries commented on #1562
I spent some time getting a repro up and running to see if I hit what you were. I've attached a screenshot.

I am able to hit a breakpoint using attach to process. I am seeing the same thing that you are after following the advice from RoySalisbury:
[code]

![image](https://user-images.githubusercontent.com/6598594/35655226-ab5e5074-06a5-11e8-8e73-105375fd81ec.png)

[2018-02-01 00:49] chuckries commented on #1562
@dknippel what is the OS you are running on RPi3? Can you copy the contents of `/etc/os-release` if it exists? We have done all testing against Raspian 8/9. Here is my `/etc/os-release`:
[code]

[2018-02-01 00:56] dknippel commented on #1562
@chuckries here is my RPi3...

`PRETTY_NAME="Raspbian GNU/Linux 8 (jessie)"
NAME="Raspbian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)"
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"`

[2018-02-01 01:08] dknippel commented on #1562
@chuckries , in your VS2017 IDE, does your
`dotnet --info`

output this...

<img width="312" alt="version_scrape" src="https://user-images.githubusercontent.com/35277981/35655927-509242dc-06a9-11e8-9e2a-8aaba24f5cd9.PNG">

[2018-02-01 01:16] chuckries commented on #1562
@dknippel: Yes I can tell from the log that we have the same version of the runtime. I also tried on an instance of Raspbian 8 and I was able to bind the breakpoint.

[2018-02-01 01:24] chuckries commented on #1562
@dknippel What version of VS 2017 are you using? Help -> About Microsoft Visual Studio

[2018-02-01 01:30] EliasCK commented on #627
What do Linux users do?

[2018-02-01 01:45] gregg-miskelly commented on #627
@EliasCK if you are running into a problem related to this and would like some help, or have a concrete suggestion, please open a new issue so we can help understand what is going on on your machine.

[2018-02-01 04:23] geoeo commented on #1988
How do I do that?

Best, Marc

[2018-02-01 05:50] natemcmaster commented on #444
This doesn't reproduce anymore. VS Code shows an error right away if omnisharp hasn't started.

[2018-02-01 05:50] #444 closed

[2018-02-01 10:54] attilam opened #1989 "OmniSharp fails to initialize since VSCode updated itself (MacOS High Sierra)"
## Environment data
`dotnet --info` output:

[code]

VS Code version: Version 1.19.3 (1.19.3) 7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba

C# Extension version: 1.13.1

## Steps to reproduce

[edit] I use VSCode/C# with Unity projects usually, but this gives the same result:

`dotnet new console`

Start VSCode with generated project.

## Expected  behavior

OmniSharp would run and provide intellisens

[2018-02-01 15:19] DustinCampbell commented on #1988
1. In VS Code, load your project
2. Select View->Output from the menu.
3. In the Output pane, select "OmniSharp Log" from the dropdown in the top-right corner.

[2018-02-01 15:22] DustinCampbell commented on #1989
This issue looks very similar to a problem described in the discussion in #1952. Could you try the following for me?

1. Open VS Code as you always do.
2. In the VS Code Terminal pane, run the following:

[code]

What is the output?

[2018-02-01 15:27] attilam commented on #1989
It does seem like some platform sniffing issue, here's the output of uname:

`Darwin x86_64`

Also, this is what `mono --version` gives me in terminal, if that helps:

[code]

[2018-02-01 15:48] attilam commented on #1989
Similarly to #1952 I've also set a custom value for `omnisharp.path` in User Settings, and now the extension works again:

`"omnisharp.path": "/Users/attila/.vscode/extensions/ms-vscode.csharp-1.13.1/.omnisharp/run"`

I guess this is OK as a temporary solution, but the problem will pop up after upgrading again.

[2018-02-01 15:48] bdukes opened #1990 "Extension complains about project.json files in node_modules"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.19.3
C# Extension version: 1.13.1

## Steps to reproduce
- Use Yarn or npm to install the `edge` or `edge-js` package
- Open the root folder (i.e. the folder containing `node_modules`) in VS Code

## Expected  behavior
- No warnings

## Actual behavior
- Warnings about `project.json` and requests to restore dependencies

Related

[2018-02-01 17:15] dknippel commented on #1562
15.5.5

[2018-02-01 17:17] dknippel commented on #1562
@chuckries, are you certain your team has got this to work with Raspian 8 (Jessie)?

I could upgrade to Raspian 9 (stretch)...

[2018-02-01 17:41] chuckries commented on #1562
@dknippel Yes I am certain, I just tested this scenario on Jessie yesterday. Can you send another log after trying to reproduce the "Failed to set breakpoint" error dialog? It doesn't look like that is happening in the log that you sent.

[2018-02-01 18:56] vishrutshah opened #1993 "Banner overrides .vscode settings if just added by other banner"
## Environment data
`dotnet --info` output:
[code]

VS Code version: `1.19.3`
C# Extension version: `1.13.1`

## Steps to reproduce
1. We are building an extension for [Connected Environment for AKS](https://review.docs.microsoft.com/en-us/visualstudio/connected-environment/visual-studio-connected-environment?branch=johnsta)
2. Setup an environment as described here for [get-started-netcore](https

[2018-02-01 19:04] dknippel commented on #1562
@chuckries I noticed in one of your screen shots, that your scratch project that you have a NuGet.config file.  My MyConsoleApp project does not have this.  Can you shed some light on this?

[2018-02-01 19:13] dknippel commented on #1562
@chuckries my current NuGet feed points to:  https://dotnet.myget.org/F/dotnet-core/api/v3/index.json

[2018-02-01 19:22] chuckries commented on #1562
That is the contents of my NuGet.config:
[code]

[2018-02-01 19:25] janaka commented on #1889
@DustinCampbell ah ok. Our issue is that the current logic picks the first in alphabetical order when opening a folder with multiple *.sln files. Which typically isn't what we want to be the default hence causes intellisense to not work and causes confusion. Would a legit solution be to make the default solution configurable and check that into the repo? Wasn't sure if that an anti-pattern. I can

[2018-02-01 19:42] dknippel commented on #1562
Here is how I am building:
`c:\tmp\MyConsoleApp>dotnet build -o bin\Debug\netcoreapp2.1\ -f netcoreapp2.1 -c Debug -r linux-arm --force`

Here is how I am publishing:
`c:\tmp\MyConsoleApp>dotnet publish -r linux-arm -f netcoreapp2.1 --force -o C:\tmp\MyConsoleApp\bin\Debug\netcoreapp2.1\linux-arm\publish`

Here is how I am migrating from windows 10 devx box (Surface) to Linux target (RPi3):
`c:\tm

[2018-02-01 21:09] chuckries commented on #1562
This is expected, these log lines are coming from different places. The first is the GetVsDbg.sh script that we altered according to RoySalisbury's instructions. We altered this script so that it would not download vsdbg and we could drop in a specific vsdbg built for linux-arm. The second is our custom vsdbg spitting out it's version, which is correct. I am seeing the same lines in my log:
[code]

[2018-02-01 21:14] geoeo commented on #1988
## OmniSharp Log

Starting OmniSharp server at 2018-2-1 21:54:48
    Target: /Users/marchaubenstock/Workspace/DotNet/Test/Test.sln

OmniSharp server started wth Mono
    Path: /Users/marchaubenstock/.vscode/extensions/ms-vscode.csharp-1.13.1/.omnisharp/omnisharp/OmniSharp.exe
    PID: 537

﻿[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on MacOS 10.13.3 (x64)
[info]: OmniSharp.MSBuild.Dis

[2018-02-01 21:16] dknippel commented on #1562
@chuckries really nuts question:  Do I need to have something from the https://github.com/OmniSharp/omnisharp-vs-code repo installed?

[2018-02-01 21:25] chuckries commented on #1562
No, that repo provides the C# extension for VS Code. If you wanted to debug from VS Code rather than Visual Studio, you would need that. However, given what we're seeing, I believe you would be hitting the same issue.

[2018-02-01 21:34] chuckries commented on #1562
I'm sorry if this goes without saying, but you have you tried doing a full restart of both the windows machine and the raspberry pi? Have you updated the pi recently using `sudo apt-get update` and `sudo apt-get upgrade`?

[2018-02-01 21:35] dknippel commented on #1562
OK, just for sh*ts n giggles I also tried launching the debugger adapter from the VS2017 IDE Command Window using the following command:
`DebugAdapterHost.Launch /LaunchJson:"C:\tmp\MyConsoleApp\launch.json"`

The content of that launch.json is:
<img width="506" alt="launch json_scrape" src="https://user-images.githubusercontent.com/35277981/35704509-9e8a9772-0754-11e8-9c0b-c9f984ea520d.PNG">

Unf

[2018-02-01 21:45] srivatsn opened #1996 "Hover is broken for types that don't have a doc comment"
## Environment data
This is using the latest sources from master

## Steps to reproduce
Hover over a normal type in source that doesn't have a doc comment

## Expected  behavior
Should show a hover tip with the name of the type

## Actual behavior
Shows nothing.

Looks like there's a missing null check for the structured doc comment.

/cc @rchande

[2018-02-01 21:59] dknippel commented on #1562
@chuckries yes, I have restarted both window and Rpi3 box.  Also performed `sudo apt-get update` and `sudo apt-get upgrade` successfully.

When I launch ./MyConsoleApp on the RPi3 box, do I need to do this using `sudo`?

[2018-02-01 22:08] rchande commented on #1996
@akshita31 Can you take a look? It looks like https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/features/documentation.ts#L39 needs to handle a null structured documentation getting passed in.

[2018-02-01 22:27] chuckries commented on #1562
Maybe the debugger installation is corrupted? can you try this? First make sure that ~/.vs-debugger/GetVsDbg.sh is still correctly edited to say '__SkipDownloads=true'. Then:
[code]
Then try this again. Be careful, because when you restart Visual Studio, it will redownload GetVsDbg.sh, wiping out the change we made to set __SkipDownloads=true

[2018-02-02 00:16] dknippel commented on #1562
YAY! It works!!!

Yes, it looks as if my debugger install on the RPi3 was corrupted.  These are the additional steps I needed to perform to get remote debugging on RPi3 to work:

**On the RPi3...**
1. Delete the entire ~/.vs-debugger directory (recursively) `rm-rf ~/.vs-debugger`

2. Create a new directory path `mkdir .vs-debugger` `cd .vs-debugger` `mkdir vs2017u5`

3. Install latest debugger `cu

[2018-02-02 00:24] chuckries commented on #1562
@dknippel Awesome! Glad to hear this works. This will still continue to be somewhat painful until we release the linux-arm version of vsdbg (currently it is in preview).

You can avoid some of the headache by by doing the following:
1. Manually use the beta version of the GetVsDbg script to download vsdbg somewhere on the RPi3, let's say to ~/vsdbg:
[code]
2. Use the launch.json you created to att

[2018-02-02 06:30] jaccarmac opened #1998 "OmniSharp stops working after Mono is installed."
## Environment data
[code]
VS Code version: 1.20.0-1516947444
C# Extension version: 1.13.1

## Steps to reproduce

Install the .NET Core SDK without Mono and a fresh install of VSCode. Open up a C# project and verify that extension functionality works.

Install Mono alongside the dotnet tool. Try opening the same project in VSCode.

Install MSBuild for Mono since the OmniSharp warning suggests to

[2018-02-02 06:47] 5argon opened #1999 "C# 7.2 syntax still not working?"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.4)

Product Information:
 Version:            1.0.4
 Commit SHA-1 hash:  af1e6684fd

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.11-x64
 Base Path:   /usr/local/share/dotnet/sdk/1.0.4

VS Code version: 1.19.3
C# Extension version: 1.13.1

## Steps to reproduce
Code

[2018-02-02 07:44] filipw commented on #1999
it will be there when this PR gets in https://github.com/OmniSharp/omnisharp-vscode/pull/1995

[2018-02-02 08:13] 5argon opened #2000 "Incomplete syntax highlighting and intellisense on string interpolations, tuples, and local functions"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.4)

Product Information:
 Version:            1.0.4
 Commit SHA-1 hash:  af1e6684fd

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.11-x64
 Base Path:   /usr/local/share/dotnet/sdk/1.0.4

VS Code version: 1.19.3
C# Extension version: 1.13.1

## Steps to reproduce

<im

[2018-02-02 16:00] DustinCampbell commented on #1989
Agreed. I'm going to move this over to omnisharp-roslyn, because that's where a fix will need to go.

[2018-02-02 16:00] DustinCampbell commented on #1989
This issue was moved to OmniSharp/omnisharp-roslyn#1104

[2018-02-02 16:00] #1989 closed

[2018-02-02 16:08] DustinCampbell commented on #2000
Thanks for filing these issues. Syntax highlighting issues should be reported over at https://github.com/dotnet/csharp-tmLanguage, which is where the C# TextMate grammar lives. The fourth issue that you mentioned above is already fixed but has not merged back into VS Code yet.

FWIW, it's helpful if multiple issues are failed as different issues, since they likely won't be fixed all at once. I'll

[2018-02-02 16:09] DustinCampbell commented on #2000
The first issue mentioned (local function return type) is due to https://github.com/dotnet/csharp-tmLanguage/issues/10.

[2018-02-02 16:17] DustinCampbell commented on #2000
I think the second issue above (highlighting in interpolations) may be an artifact of the theme you're using. Here's what it looks like in VS Code's Dark+ (default dark) theme:

![image](https://user-images.githubusercontent.com/116161/35743151-81bd52ea-07f1-11e8-8387-2820f86b51a6.png)

[2018-02-02 16:21] DustinCampbell opened #2001 "Completion List does not appear after first identifier is typed in string interpolation"
Repro steps:

1. Start with the following code in a C# project (ensure OmniSharp successfully loads).

[code]

2. Type 'x' inside the '{}'

Expected result: completion list appears
Actual result: it doesn't

[2018-02-02 16:21] DustinCampbell commented on #2000
I've filed https://github.com/OmniSharp/omnisharp-vscode/issues/2001 to track the third issue above.

[2018-02-02 16:22] DustinCampbell commented on #2001
Note: This will probably be fixed by fully using Roslyn's Completion API in omnisharp-roslyn.

[2018-02-02 16:25] DustinCampbell commented on #2000
I've filed https://github.com/dotnet/csharp-tmLanguage/issues/98 to track the fifth issue above.

[2018-02-02 16:26] DustinCampbell commented on #2000
I expect the sixth issue is related to the fifth one. Once the syntax highlighter has been thrown off by the tuple-returning property, the rest of the highlighting in the property is suspect.

[2018-02-02 16:28] DustinCampbell commented on #2000
I'm going to go ahead and close this now. I think I've covered everything that you reported. Let me know if that's not the case.

[2018-02-02 16:28] #2000 closed

[2018-02-02 16:35] DustinCampbell commented on #1990
Thanks for reporting! OmniSharp should just leave node_modules out when searching for projects.

[2018-02-02 16:38] DustinCampbell commented on #1993
We check to determine whether we need to add a tasks.json or launch.json before showing the message, but we don't check again after the user clicked our message to determine whether the environment has changed.

[2018-02-02 16:39] DustinCampbell commented on #1889
I don't think that'd be an anti-pattern. However, we *do* remember the last selected solution. So, you should only see this the first time you open that particular solution.

[2018-02-02 16:43] DustinCampbell commented on #1988
Thanks for the additional information. This is actually working as designed, though it's not very intuitive. The OmniSharp server doesn't locate new projects as their added on disk. However, you can force it to reload by using the "OmniSharp: Restart OmniSharp" command is VS Code or, as you discovered, simply restarting.

[2018-02-02 18:52] geoeo commented on #1988
Thanks for "OmniSharp: Restart OmniSharp".

[2018-02-02 18:59] dknippel commented on #1562
@chuckries , so if I deploy a _self-contained_ solution to the RPi3, is the **_only_** Prerequisites needed on the RPi3 the latest vsdbg via `curl -sSL https://aka.ms/getvsdbgshbeta | bash /dev/stdin -r linux-arm -v latest -l ~/.vs-debugger/vs2017u5`? ….OR do I also need the _libunwind8_

[2018-02-02 19:18] dknippel commented on #1562
Please note, the only prerequisite for .NET Core on **_RPi3_** is _libunwind8_ which can be achieved via:
`sudo apt-get update`
then
`sudo apt-get install curl libunwind8 gettext apt-transport-https`

There are additional prerequisites for .NET Core on **_Linux_** .  These get installed when you install the .NET Core SDK via:

`sudo apt-get update`
then
`sudo apt-get install dotnet-sdk-2.0.0`

How

[2018-02-02 19:18] chuckries commented on #1562
@dknippel vsdbg (and I believe also coreclr) has a dependency on libunwind8 so it needs to be on the machine.

[2018-02-02 19:44] nzain commented on #1562
Required dependencies are not directly related to this ticket. Before you start remote-debugging, make sure that your app runs "the normal way", that is, ssh into the linux-arm device and call dotnet run yourapp. Show you support for this issue with relevant comments, but don't scare contributors with pages of unrelated chatty :) Thanks!

[2018-02-02 21:44] #1771 closed

[2018-02-02 23:04] vvdimov commented on #1794
I am experiencing the same issue.

## Environment

[code]

VSCode: 1.19.3
C# Extension: 1.13.1

## Steps to reproduce:

* Navigate to a test in project
* Add `throw new System.Exception("message")`;
* Click debug test through intellisense

## Expected behavior
* Same as orginal issue

## Actual behavior

* First run (debug test) completes and exception is thrown as expected.
_[dbug]: OmniSharp.Dot

[2018-02-03 00:28] vishrutshah commented on #1993
@DustinCampbell Thanks for looking into it and letting me know. Would you mind it I send out an PR for the fix?

[2018-02-03 00:35] #1979 closed

[2018-02-03 00:36] #1902 closed

[2018-02-03 00:38] #1857 closed

[2018-02-03 08:28] TheOddler commented on #1888
I don't have any, I'm on windows. However I managed to fix it by opening my project in Visual Studio Community Edition, that one complained about some missing .Net package, and after installing that it also worked in Visual Studio Code.

[2018-02-03 15:35] marcfreiheit commented on #1857
Great and thanks! When I can make use of the new debugging capabilities? (:

[2018-02-03 18:28] gregg-miskelly commented on #1857
We are aiming to release 1.14 pretty soon. But you can try it now if you like -- https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases

[2018-02-03 19:52] jaccarmac commented on #1998
Thanks for the hint. Do you know which version you were using before the upgrade? I'm on Gentoo and yesterday Portage wanted me to downgrade from 5.11 to 5.4. I masked 5.4 but maybe it's worth doing the downgrade.

[2018-02-04 00:27] jaccarmac commented on #1998
With Mono 5.4 the problem indeed goes away. Not sure if this should stay around as an issue for newer Mono support or if this an upstream problem?

[2018-02-04 02:50] gregruth commented on #1377
Anyone else having this issue, you can have Unity 2017 generate the sln and csproj files by first setting your script editor to VSCode (Unity -> Preferences -> External Tools -> Script Editor). Then go to Assests -> Open C# Project. Once I did that and restarted VsCode it all seemed to work!

[2018-02-04 06:00] jaccarmac commented on #1998
Note that though Intellisense starts working when Mono is downgraded to 5.4 OmniSharp still warns that MSBuild cannot be found. MSBuild is very much installed and working, in the 5.4 and 5.11 cases.

[2018-02-04 10:26] PeteX commented on #1998
@jaccarmac Yes I was using Mono 5.4 and upgraded to 5.8.  Is there actually a Mono 5.11?  [This page](http://www.mono-project.com/docs/about-mono/releases/) says the current pre-release version is 5.10.

[2018-02-04 12:52] mmgil commented on #1825
same situation here.

in VSCode and in Visual Studio Community 2017

[2018-02-04 17:06] jaccarmac commented on #1998
The 5.11-pre version in Gentoo is built from a nightly tarball. I'm not aware of all the details but the ebuild is at https://github.com/gentoo/dotnet/blob/d2b1d600d2bfb2f1f715c7a89c689cf0d5c3e160/dev-lang/mono/mono-5.11.0.132_pre.ebuild

[2018-02-05 05:40] firelizzard18 opened #2005 "OmniSharp doesn't recognize mscorlib namespaces for a buildable project"
## Environment data
`dotnet --info` output:
[code]

- VSCode Version: Code 1.19.3 (7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba, 2018-01-25T10:25:01.248Z)
- OS Version: Darwin x64 17.4.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
csharp|ms-|1.13.1

## Steps to reproduce
Have a project. Build it successfully with `dotnet build`. Open it in VSCode.

## Expected  behavior
OmniSharp d

[2018-02-05 05:57] firelizzard18 commented on #2005
This seems to mostly happen when I'm looking at files inside submodules.

[2018-02-05 06:53] GraceDong opened #2006 "There are two similar data tips in VSCode"
## Environment data
`dotnet --info` output:
![dotnet--info](https://user-images.githubusercontent.com/20184778/35791520-6d85ff0e-0a83-11e8-8348-9e24330cae53.PNG)

VS Code version: v1.19.3
C# Extension version: v1.14.0-beta3

## Steps to reproduce

1. Create a dotnet core app
2. Open this app with VSCode
3. Insert an expression “int a=10;” in Program.cs
4. Move the mouse on variable a to show data

[2018-02-05 07:18] GraceDong opened #2007 "The drop-down list in output/terminal sometimes contains bogus entries"
## Environment data
`dotnet --info` output:
![dotnet--info](https://user-images.githubusercontent.com/20184778/35792028-e5e3468a-0a85-11e8-8b2f-f5492a7d5de2.PNG)

VS Code version: v1.19.3
C# Extension version: v1.14.0-beta3

## Steps to reproduce

1. Open a dotnet core app with VSCode
2. Check drop-down list in OUTPUT or TERMINAL window

## Expected  behavior
The drop-down list is shown correctly

[2018-02-05 08:54] mika76 commented on #168
It's a bit strange that this issue has been rolling over since April 2016. It's Feb 2018 now. Seems to me it's more of an issue of slipping priorities than something being "hard" to do...

Please push this priority up - it's the one thing that is missing for a nice asp.net development experience. A lot of time can be spent in views and having no help from the editor makes it very frustrating.

[2018-02-05 14:04] aeschli opened #2008 "C# #if and #endif indentation is reset after formatting messing with folding of outer code"
_From @uday0408 on February 3, 2018 1:54_

- VSCode Version: 1.19.3
- OS Version: Mac OS X, 10.13
- C# Extension version: Omnisharp 1.13.1

For C#, after formatting with Omnisharp installed, the #region and #endregion statements are indented at the same level of enclosing code. But #if and #endif are formatted to have no indentation, thus messing with folding when #if/#endif enclosing code is nest

[2018-02-05 14:04] aeschli commented on #2008
_From @alexandrudima on February 5, 2018 9:37_

I believe the way Omnisharp (Roslyn) formats is the generally accepted way for formatting C# macros.

The problem is that our folding regions are currently computed in a language agnostic way, based on indentation.

[2018-02-05 14:06] aeschli commented on #2008
The request for language aware folding is https://github.com/Microsoft/vscode/issues/3422.

Moving to Omnisharp to decide whether the formatter needs to be changed or made configurable.

[2018-02-05 17:09] DustinCampbell commented on #1993
If you're interested in providing a fix, we'd be happy to take it! :smile:

[2018-02-05 17:18] DustinCampbell commented on #2005
@firelizzard18: Could you provide your OmniSharp Log after loading your project? You can locate this in VS Code by selecting View->Output and then choosing "OmniSharp Log" from the top-right corner of the Output pane.

[2018-02-05 17:20] DustinCampbell commented on #1830
@TheRealPiotrP : I'm seeing a lot of these. It would be great if we could get this assigned out and fixed.

[2018-02-05 17:20] DustinCampbell commented on #2006
I don't believe these are debugger datatips at all. They are design-time error and warnings. I suspect this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1830.

[2018-02-05 17:21] DustinCampbell commented on #2007
This should probably move to VS Code. It's not a C# for VS Code (or debugger) issue.

[2018-02-05 17:26] DustinCampbell commented on #1998
@jaccarmac: Could you let me know what folder msbuild is installed to?

[2018-02-05 18:22] DustinCampbell commented on #1998
Also, could you set the `"omnisharp.loggingLevel"` setting in VS Code to `"debug"` and provide your OmniSharp Log again?

[2018-02-05 20:12] klick-barakgall commented on #1970
I've had the same issues in the past. I think what I've done is used unity for the creation/deletion of files and used VSCode for the actual code-editting. It's not an optimal workflow but I learned to deal with it. Alternatively if you want full project a .csproj support, the easiest workflow would probably be to use VSCommunity as this is both supported by Unity, and has extensions to provide ad

[2018-02-05 20:33] uday0408 commented on #2008
So **#region** and **#endregion** are special case of preprocessor macros? They are not placed at the left most column, since September 2017 release.

[2018-02-05 21:07] gregg-miskelly commented on #2006
@DustinCampbell should we dupe this? Or it is worth keeping around to verify they are the same issue?

[2018-02-05 21:21] gregg-miskelly commented on #2007
Based on https://github.com/Microsoft/vscode/issues/40492, it sounds like this is something that VS Code has fixed already and will ship in 1.20.

@GraceDong can you reproduce this in 1.20 insiders builds? If so, we should probably port this over to their issues. Otherwise, it seems safe to close this one.

[2018-02-05 22:09] DustinCampbell commented on #2008
Correct `#region` and `#endregion` are treated specially by the C# formatter.

[2018-02-05 22:10] DustinCampbell commented on #2006
We can dupe it. The second screenshot is pretty clearly the same issue.

[2018-02-05 22:23] #2006 closed

[2018-02-06 01:25] jaccarmac commented on #1998
[code]

But that's a shell script, the EXE is installed in `/usr/share/msbuild`.

With debugging on.

[code]

[2018-02-06 01:27] jaccarmac commented on #1998
That error is very helpful for me. I don't have a DLL installed at that location. That DLL exists many other places on my system however. I don't want to dump the locate results here but perhaps the extension needs to check for other locations?

[2018-02-06 01:28] jaccarmac commented on #1998
I will say that on Gentoo `/usr/lib64` is used instead of `/usr/lib` for 64-bit libraries.

[2018-02-06 02:36] hubluesky opened #2010 "".NETFramework,Version=v4.6" were not found"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:1.13.1

## Steps to reproduce

1. Use unity 2017.0.0f3 create a project
2. Open unity menu "Edit/Project Settings/Player"
3. Chose Scripting Runtime Version to "Experimental(.NET 4.6 Equivalent)"
4. Restart unity and create any a C# script file.
5. Open the C# file by vscode.
6. OmniSharp Log will output this fail:
`

[2018-02-06 05:53] GraceDong commented on #2007
I tried it several times at 1.20 insiders builds and didn't reproduce this issue.

[2018-02-06 06:48] chrisrickard commented on #1811
FYI, it worked for me by throwing `sudo` in front of the `debuggerPath`, not ideal, bujt allowed me to debug.

E.g.

[code]

[2018-02-06 06:50] martinellison opened #2011 "Cannot create Debug directory"
## Environment data
`dotnet --info` output:  dotnet: command not found...
VS Code version:

Version 1.19.3
Commit 7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba
Date 2018-01-25T10:32:23.601Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
C# Extension version: 1.13.0

## Steps to reproduce
start VSCode

## Expected  behavior
Omnisharp works

## Actual behavior
  "Unable to create director

[2018-02-06 09:15] redonwhite commented on #168
Visual Studio Code has no IntelliSense for Razor.
Please prioritize this!

[2018-02-06 16:31] leemorton opened #2012 "Compiler Preprocessor Directives Break Intellisense Completely"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     debian-stretch
 OS Version:  2018.1
 OS Platform: Linux
 RID:         linux-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : fdf36162

[2018-02-06 17:38] rchande commented on #1830
Self-assigning.

[2018-02-06 17:48] #1996 closed

[2018-02-06 18:47] gregg-miskelly commented on #2007
@GraceDong Thanks for testing. I will close this then.

[2018-02-06 18:47] #2007 closed

[2018-02-06 22:25] rchande commented on #1830
@DustinCampbell @mholo65 @david-driscoll

The C# extension makes 2 diagnostics calls: one with a filename, and one with no filename which is supposed to get all the diagnostics for a "project". (This actually means all the diagnostics in the O# Workspace's CurrentSolution). When we make a request with a filename, we get back the correct diagnostics. When we make a request with no filename, Omnisha

[2018-02-06 22:28] DustinCampbell commented on #1998
I don't have Gentoo installed anywhere, but are you saying the MSBuild is installed under `/usr/lib64` somewhere?

[2018-02-06 22:31] DustinCampbell commented on #2010
This is a duplicate of #1888. You might trying downloading and installing the .NET Framework 4.6 target pack from https://www.microsoft.com/en-us/download/details.aspx?id=48136.

[2018-02-06 22:31] #2010 closed

[2018-02-06 22:32] DustinCampbell commented on #2011
What operating system are you running? Also, could you provide your OmniSharp Log? You can retrieve this by select View->Output from the VS Code menu and then choosing "OmniSharp Log" from the top-right corner of the Output pane.

[2018-02-06 22:34] mholo65 commented on #1830
@rchande that's sounds good to me.

Just override `Handle` method [here](https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Cake/Services/RequestHandlers/Diagnostics/CodeCheckHandler.cs) and check if the `CodeCheck` request contains filename or not. In case no filename is required, just return.

[2018-02-06 22:35] DustinCampbell commented on #2012
From the repro steps that you described, it sounds like the C# editing experience is working as designed. Within disabled pre-processor blocks, C# does not provide completion (this is the same inside Visual Studio). If you add `#define build_for_unit_tests` to the top of your file, I would expect IntelliSense to appear inside the block.

Please let me know if I've misunderstood the steps you provi

[2018-02-06 22:37] DustinCampbell commented on #1830
@rchande : Good analysis!

[2018-02-06 22:41] rchande commented on #1830
@mholo65 Working on it--almost ready.

[2018-02-06 23:31] dknippel commented on #1562
@chuckries , do you know if vsdbg has changed in the last few days?  Now when I try to debug the same RPi3 remotely from VS2017 IDE I get the following error:

![attach_process_scrape](https://user-images.githubusercontent.com/35277981/35890022-bc26a206-0b52-11e8-8953-696d96bf5801.PNG)

[2018-02-06 23:42] gregg-miskelly commented on #1562
@dknippel that (very poor) error message means that when vsdbg did a process listing, it couldn't find the process. Most often, because vsdbg doesn't have sufficient privileges to debug (ex: different user accounts).

[2018-02-06 23:46] dknippel commented on #1562
@gregg-miskelly , thank you for your super quick reply :-).  I am launching MyConsoleApp under "sudo" and I am running VS2017 under Administrator.  I'm pretty sure this is the same way I got this to work last Friday but now the Attach To Process mechanism spits out said error message.

Strangely enough, when I launch the debugger manually from VS2017 Command Window everything works fine.

???

[2018-02-06 23:49] gregg-miskelly commented on #1562
@dknippel the VS user doesn't matter - it is the user account that you are running vsdbg under.

If I understand correctly, you are running your app under sudo, but vsdbg you are NOT running under sudo, so you will run into this problem. If you are debugging an app running under sudo you need to connect as 'root'.

[2018-02-07 00:51] jaccarmac commented on #1998
Forgive me, I was imprecise.

No, MSBuild is not installed under `/usr/lib64`. It is located in `/usr/share/msbuild`.

However, while `/usr/lib/mono` exists it does not contain `Microsoft.Build.dll` as noted in the errors above. The actual `Microsoft.Build.dll` is in `/usr/lib64/mono`. (At least according to locate, if I go to the directory manually the files are in both places.)

[2018-02-07 01:18] dknippel commented on #1562
Yes, that is correct.

[2018-02-07 02:23] gregg-miskelly commented on #1562
Then that makes sense -- in the launch case vsdbg is launching your app so they are running under the same identity. In the attach case you have your app running as root, and vsdbg running as 'pi', so vsdbg doesn't have rights to debug it.

[2018-02-07 02:30] martinellison commented on #2011
Linux xiaosan 4.14.16-200.fc26.x86_64 #1 SMP Wed Jan 31 19:34:52 UTC 2018
x86_64 x86_64 x86_64 GNU/Linux

i.e. Fedora 26. I run dnf upgrade so everything should be at the current
patch levels.

Here is what I am getting from OmniSharp. Note that there is an issue with
MSBuild,which I have raised with them separately.

Starting OmniSharp server at 2018-2-7 10:28:09
Target: /home/martin/jigsaw/git/m

[2018-02-07 02:51] hubluesky commented on #2010
It's work,thank you.

[2018-02-07 06:18] nzain commented on #1562
Under Linux you can check "who you are" with commands like ```whoami```
(out of my head).

You are certainly able to check the user who is running a specific process
(vsdbg), too. Not part of out-of-my-head knowledge :)

Make sure both match. Same mechanisms should be used by vsdbg to create
good error messages. Good luck!

Am 07.02.2018 03:23 schrieb "Gregg Miskelly" <notifications@github.com>:

[2018-02-07 08:11] Leopotam commented on #2008
@aeschli you can try [this extension](https://marketplace.visualstudio.com/items?itemName=Leopotam.csharpfixformat) with `"csharpfixformat.style.indent.preprocessorIgnored": false` setting.

[2018-02-07 08:15] Leopotam commented on #1967
@savpek yes, c#fixformat ask you to make change in settings on first start - looks like you agreed without reading message. :)

[2018-02-07 10:21] PeteX commented on #1998
I think I've worked out what the problem is.  Mono provide a package called msbuild, currently version 1:15.4+xamarinxplat.2017.11.27.11.23-0xamarin1+ubuntu1404b1.  It isn't a dependency of mono-devel, so it doesn't get installed if you install mono in the recommended way.  (It is a dependency of mono-complete.)

Installing this package prevents the error.  At this point I'm speculating, but perha

[2018-02-07 15:58] almightyju opened #2014 "Intermittent Intellisense preselecting class over locals with single character variable names"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version: 1.13.1

## Steps to reproduce
Using the following class:
[code]
type the following in the Main function:
[code]
The selected suggestion will be "ValidateAntiForgeryTokenAttribute"

## Expected  behavior
It should auto select the local "v", for other letters this works fine, I've had a few other example

[2018-02-07 17:15] DustinCampbell commented on #2011
Could you try dnf installing `msbuild` and see if that addresses the problem?

[2018-02-07 17:15] DustinCampbell commented on #2010
excellent! Thanks for confirming.

[2018-02-07 17:22] DustinCampbell commented on #2008
@uday0408, please see @Leopotam's reply above for a way to add this behavior.

[2018-02-07 17:22] #2008 closed

[2018-02-07 17:25] jkyeung commented on #1424
I don't think it's an OmniSharp issue. I get it in Python as well. Even in this very thread, it was mentioned that it happens in TypeScript also. People end sentences with periods in comments. It's that simple. Even "special" comments like docstrings or anything else you care to think of. In **any** context where people are allowed to enter regular sentences in plain text, people are going to end

[2018-02-07 17:26] DustinCampbell commented on #1998
FWIW, there's a message in the OmniSharp Log above that reads:

[code]

@jaccarmac: Does `sudo apt-get install msbuild` address this problem for you?

[2018-02-07 17:48] evil-shrike opened #2015 "Cannot debug step-by-step dotnet vstest run"
I'm trying to debug a mstest project running inside Linux Docker container from VSCode running on Windows.

VS Code: 1.20.0-insider

Host and Docker image both have latest .net sdk.

I built and published my mstest project: `dotnet publish -f netcoreapp2.0`

Then I built an image with `docker build -t  xfw_tests_mstest:debug . -f Dockerfile.debug`
where `Dockerfile.debug` is:
[code]
and run it:
[c

[2018-02-07 18:14] dknippel commented on #1562
@gregg-miskelly & @nzain , thank you for your feedback.  As both of you identified, it was a permissions issue.

I had actually started up my app on the RPi3 via `sudo ./test/MyConsoleApp` , thus when I attempted to connect via _Attach to Process..._ it would fail because VS2017 IDE was using cached SSH credentials of the **pi** user rather than the **sudo** user.  Once I started up my app on the

[2018-02-07 18:54] akshita31 commented on #1440
This issue has been fixed in the 1.14 milestone. We just released a beta of 1.14 -  https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) to a beta release of C# for VS Code.

[2018-02-07 18:57] akshita31 commented on #1057
This issue has been fixed in the 1.14 milestone. We just released a beta of 1.14 - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4) to a beta release of C# for VS Code.

[2018-02-07 18:58] akshita31 commented on #214
This issue has been fixed in the 1.14 milestone. We just released a beta of 1.14 - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4) to a beta release of C# for VS Code.

[2018-02-07 18:59] akshita31 commented on #1715
This issue has been fixed in the 1.14 milestone. We just released a beta of 1.14 - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4) to a beta release of C# for VS Code.

[2018-02-07 19:02] evil-shrike commented on #2015
I've tried with a simplest app created with `dotnet new console` inside /test (on the container).
VSCode debugs fine (after I copied Program.cs on host)
[code]

So the problem probably is with vstest?

[2018-02-07 19:06] akshita31 commented on #1920
This issue has been fixed in the 1.14 milestone. We just released a beta of 1.14 - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4) to install a beta release of C# for VS Code.

[2018-02-07 19:08] akshita31 commented on #1912
This issue has been fixed in the 1.14 milestone. We just released a beta of 1.14 - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4) to install a beta release of C# for VS Code.

[2018-02-07 19:10] akshita31 commented on #1930
This issue has been fixed in the 1.14 milestone. We just released a beta of 1.14 - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) to install a beta release of C# for VS Code.

[2018-02-07 19:13] akshita31 commented on #1949
This issue has been fixed in the 1.14 milestone. We just released a beta of 1.14 - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) to install a beta release of C# for VS Code.

[2018-02-07 19:17] akshita31 commented on #1664
This issue has been fixed in the 1.14 milestone. We just released a beta of 1.14 - https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.14.0-beta4. Follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) to install a beta release of C# for VS Code.

[2018-02-07 19:23] gregg-miskelly commented on #2015
@evil-shrike as far as I know, there is no good way to do what you are trying to do. The problem is that what you are debugging when you run `program='dotnet'` + `args='vstest...'` is a root controller process for vstest, but your user code doesn't run in that process. It runs in some worker process that this root process creates. The only way that I know of to debug such a thing would be to add s

[2018-02-07 19:30] uday0408 commented on #2008
Using **C# Fix Format** extension and `"csharpfixformat.style.indent.preprocessorIgnored": false` setting  I was able to use the **#if** / **#endif** directives without having them completely outdented. This allowed the folding to work correctly in VSCode which is what I wanted. Thanks!

[2018-02-07 21:46] guidobouman opened #2017 "Support launchSettings.json defaults"
## Environment data
`dotnet --info` output:
VS Code version: 1.19.3
C# Extension version: 1.13.1

## Steps to reproduce

- Configure a dotnet core app
- Set `applicationUrl` in appSettings.json
- Launch project with `dotnet run`
- See project running on the right URL + PORT
- Start project in VSCode
- See project running from default URL `localhost:5000`

## Expected  behavior

The settings in `Pr

[2018-02-07 22:00] gregg-miskelly commented on #2017
Sounds like a reasonable request. If I am reading the code in `dotnet run` correctly, it looks like here is most of the code we would need to borrow:

https://github.com/dotnet/cli/blob/master/src/dotnet/commands/dotnet-run/RunCommand.cs#L113
https://github.com/dotnet/cli/blob/master/src/dotnet/commands/dotnet-run/LaunchSettings/ProjectLaunchSettingsProvider.cs#L20

[2018-02-07 22:16] cpmcgrath opened #2018 "Add an ignore list for Remove unnecessary usings."
Regardless of if they are currently used or not in the file, I always like to have
[code]
In my list of usings. It would be fantastic if there was an option that let us specify which namespace should be ignored when the Remove unnecessary usings function is run.

[2018-02-07 22:59] evil-shrike commented on #2015
thanks for the response, it makes it clearer for me..

Interesting, and it explains why I can't attach VSCode.
But it makes remote debugging not possible at all...

and then attach debugger to that process? but how to know what process to attach?

I haven't found anything similar in the [doc](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-vstest).
Interesting that in previous version of

[2018-02-07 23:02] gregg-miskelly commented on #2015
RE: How to know what process to attach to - you might be able to figure it out by looking at the command line of the 'dotnet' process. We will need to find someone who knows more about how the test runner works :).

[2018-02-07 23:04] evil-shrike commented on #2015
ok, I'll try to create an issue in dotnet/cli

[2018-02-07 23:14] dknippel commented on #1562
@gregg-miskelly , if I need to **Attach to Process...** as root, how do I get VS2017 IDE to prompt me for credentials again?

[2018-02-07 23:29] gregg-miskelly commented on #1562
You can enter `root@<ip-addr>` into the top of the attach to process dialog.

[2018-02-07 23:36] dknippel commented on #1562
that's what I thought too, but when I do that it just searches and hangs...never prompts me for credentials like it did the first time I used the `pi@<ip-addr>`

![attach_process_root_scrape](https://user-images.githubusercontent.com/35277981/35947303-0f0c7f94-0c1c-11e8-8ee9-179e5166bb4a.PNG)

please note that on my RPi3 I have set a password for **root** and verified that I can login using it.  s

[2018-02-08 00:31] vsccarl opened #2019 "F12 in Linux opens terminal instead of Go To Definition by default"
## Environment data
`dotnet --info` output:
[code]
VS Code version: `1.20.0`
C# Extension version: `1.14.0-beta4`

## Steps to reproduce
1. Open a C# file/project
2. Highlight a method call
3. Press F12

## Expected  behavior
Goes to definition

## Actual behavior
By default in Linux pressing F12 opens up a terminal window.

[2018-02-08 00:32] gregg-miskelly commented on #1562
My guess would be yes. Did you try this? https://askubuntu.com/questions/469143/how-to-enable-ssh-root-access-on-ubuntu-14-04

[2018-02-08 00:49] vsccarl opened #2020 "Colorization mismatch when using variables"
## Environment data
`dotnet --info` output:
[code]
VS Code version: `1.20.0`
C# Extension version: `1.14.0-beta4`

## Steps to reproduce
Add this code into a C# file
[code]
## Expected  behavior
I would expect the color for `num` to be white where it is used. And on hover I would expect `int` to be dark blue and `num` to be white again, like where it is declared.

## Actual behavior
![image](https

[2018-02-08 02:09] martinellison commented on #2011
Thanks, the msbuild people have fixed their issue, so now I have been able
to re-install msbuild and that has fixed OmniSharp. So please close the
issue as fixed.

Regards,
Martin

On 8 February 2018 at 01:15, Dustin Campbell <notifications@github.com>
wrote:

[2018-02-08 03:10] sbeca opened #2021 "Syntax highlighting breaks when a comment containing a C# keyword is on the same line as a property definition"
## Environment data
`dotnet --info` output:
[code]
VS Code version: `1.20.0`
C# Extension version: `1.13.1`

## Steps to reproduce
Write a comment containing a C# keyword (e.g. `class`, `struct`, `enum`) on the same line as a single line property definition.

## Expected  behavior
<img width="494" alt="bugreport2" src="https://user-images.githubusercontent.com/1635228/35953537-3f087e9c-0cd9-11e8-8

[2018-02-08 03:49] PrakashKumar-27 opened #2022 "Microsoft.Build.Exceptions.InvalidProjectFileException"
## Environment data
OmniSharp Log output:
[code]

OS- Windows 8 64 bit
VS Code version: 1.20.0
C# Extension version: 1.13.1

[2018-02-08 05:52] jaccarmac commented on #1998
Gentoo does not use APT for package management, so that particular command doesn't help here. However, I did install MSBuild. The error occurs before and after MSBuild is installed.

[2018-02-08 06:20] robvanpamel commented on #1998
FYi: I uninstalled mono-develop (as I don’t need it anymore) and the problem was resolved. Not really a solution for this issue but maybe usefull to know.

[2018-02-08 15:01] guidobouman commented on #2017
Yeah, that looks like it.

Is there anything I can do to maybe help push it up to the 1.14 milestone?

[2018-02-08 16:51] rchande commented on #2022
@PrakashKumar-27 Does your project file have a syntax error? Also, is your project really in a directory whose name contains an apostrophe?

[2018-02-08 16:54] rchande commented on #2014
@almightyju Unfortunately, the C# extension can't control the matching. This would have to be fixed in VS Code. I think this is a dupe of https://github.com/Microsoft/vscode/issues/41977 . cc @jrieken

[2018-02-08 16:56] rchande commented on #2018
@cpmcgrath We use the underlying Roslyn service and they would need to implement this. Filed https://github.com/dotnet/roslyn/issues/24710 for you.

[2018-02-08 16:56] #2018 closed

[2018-02-08 16:57] #2014 closed

[2018-02-08 17:09] gregg-miskelly commented on #2017
1.14 will ship any day now. So only high priority bug fixes will go into that release.

[2018-02-08 17:58] DustinCampbell commented on #2008
@uday0408: FWIW, we've been asking for awhile to have an API from VS Code that languages can use to define custom folding (https://github.com/Microsoft/vscode/issues/3422). Once we have that, we'll be able to make folding work for **#if** / **#endif** correctly. Currently, I would suspect that the folding will not be accurate for nested **#if** / **#endif** when **#else** is interspersed.

[2018-02-08 18:04] DustinCampbell commented on #2019
Thanks for pointing this out @vsccarl.

@rchande: This issue should probably be moved to the VS Code repo. We don't define this command or keybinding in C# for VS Code.

[2018-02-08 18:07] DustinCampbell commented on #2020
This is by design. VS Code highlighting uses regular expressions rather than an AST. So, colorization is really a best guess. Any colorization issues can be moved to https://github.com/dotnet/csharp-tmLanguage, where the C# TextMate grammar lives.

[2018-02-08 18:07] #2020 closed

[2018-02-08 18:08] DustinCampbell commented on #2011
Glad to hear it. Thanks for verifying!

[2018-02-08 18:08] #2011 closed

[2018-02-08 18:09] DustinCampbell commented on #2021
Thanks for reporting this issue for the C# TextMate grammar. This is a duplicate of https://github.com/dotnet/csharp-tmLanguage/issues/75.

[2018-02-08 18:09] #2021 closed

[2018-02-08 18:11] DustinCampbell commented on #1998
@jaccarmac: I'm not familiar with Gentoo, so I'm not sure how installing packages works. How did you install MSBuild? The `msbuild` package for APT is produced by the Mono folks and installs into the Mono folder.

[2018-02-08 22:13] almightyju commented on #2014
@rchande  Fair enough, I wasn't sure if VS handled the matching order, I'll keep an eye on the linked, thanks

[2018-02-09 01:22] mattscheffer opened #2024 "No omnisharp log when opening folder only containing sln file that references a outside csproj"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 173

[2018-02-09 01:24] vsccarl opened #2025 "Trailing semicolon prevents signature help from displaying"
## Environment data
`dotnet --info` output:
[code]
VS Code version: `1.20.0`
C# Extension version: `1.14.0-beta4`

## Steps to reproduce
In a C# file add this code
`Console.WriteLine;`
Add opening parenthesis bracket in front of the semicolon

## Expected  behavior
Signature help should give you some information about `Console.WriteLine()`

## Actual behavior
The trailing semicolon is preventing t

[2018-02-09 03:30] cateyes99 opened #2026 "Popup error messages containing duplicate entries"
## Environment data
`dotnet --info` output:
[code]
VS Code version: `1.20.0`
C# Extension version: `1.13.1`

## Steps to reproduce
1. Create any application
2. In a `.cs` file, make sure there are some unnecessary `using` directives
3. hover the mouse on one of those `using` directives. For example, in the below snapshot, `using System.Linq;`

## Expected  behavior
In the popup error message, it s

[2018-02-09 05:18] jaccarmac commented on #1998
Gentoo uses what amount to recipes to build software from sources. So I used that. The executable and associated libraries are located in `/usr/share/msbuild`.

[2018-02-09 08:59] cateyes99 commented on #2026
This is for any messages (errors, warnings, & info) which appear in the **PROBLEM** window. Each of them has a duplicate one:
![image](https://user-images.githubusercontent.com/19678455/36019287-a3184e66-0de3-11e8-8db6-46f7a4d1d21b.png)
![image](https://user-images.githubusercontent.com/19678455/36019340-d6d30264-0de3-11e8-8dd9-99ea9a581537.png)

[2018-02-09 16:23] savpek commented on #1967
I will close this issue, if @RobCannon, @pushist1y still has it i will reopen 😄

[2018-02-09 16:23] #1967 closed

[2018-02-09 17:34] dknippel commented on #1562
@gregg-miskelly & @nzain , thank you for all your help.  I can now remotely debug my **.NET Core** app running on my RPi3 from my VS2017 IDE.

As typical engineers do...once I got the above working I tried to push the edge a bit by incorporating a new project into the above solution.  It was a simple _widget_ library targeting the **.NET Standard** framework.  When I tried to build using the follo

[2018-02-09 17:53] gregg-miskelly opened #2027 "Debugger is unable to evaluate in module loaded from a Windows share"
## Environment data
C# Extension version: 1.14.0-beta3

## Steps to reproduce
1. Build a class library project on Windows. This probably works with an app project also, but I didn't try.
2. Mount the Windows file share on Linux
3. Setup a launch.json on Linux to debug such that this Windows class library will be loaded directly from the Windows file share
4. Hit a breakpoint in this dll and try to

[2018-02-09 18:21] DustinCampbell commented on #2026
Thanks for reporting this issue. It is a duplicate https://github.com/OmniSharp/omnisharp-vscode/issues/1830.

[2018-02-09 18:32] rchande commented on #2024
This might be a (minor) but. Theoretically, package.json says we should get activated if there's a .sln present in the folder.

[2018-02-09 18:36] gregg-miskelly commented on #1562
@dknippel Your question isn't really related to debugging, but it is really -- how can a netcoreapp2.1 project reference a netstandard2.0 library project. I would certainly expect that to work at runtime. I am not certain what you need to do to make the build system happy. Your .csproj for MyNetStandardWidget looks like this? --

[code]

If so, I might suggest opening an issue at https://github.co

[2018-02-10 00:03] dknippel commented on #1562
Couple of interesting points for anyone else trying to accomplish this:

1. Explicitly include your project name when building/publishing with the dotnet utility like so:
`dotnet publish -c Debug -f netcoreapp2.1 -r linux-arm --force MyConsoleApp.csproj`.  If you don't then the dotnet utility seems to get confused as to dependency order.
2. As of the date of this comment (and I was using .NET Core

[2018-02-10 14:59] Olian04 opened #2029 "Running dotnet core console application fails to read input from internal debug console"
## Environment data
`dotnet --info` output:

VS Code version:

C# Extension version: 1.13.1

## Steps to reproduce

1. Follow https://code.visualstudio.com/docs/other/dotnet
2. Change Main to:
[code]

## Expected  behavior
Printing `Name: ` in the debug console.
Waiting on ` Console.ReadLine`.
Printing `Hello {0}!` where `{0}` is whatever was read on the previous line.

## Actual behavior

Prints

[2018-02-10 15:00] bitinn opened #2030 "Unable to enable IntelliSense auto-complete"
## Environment data
`dotnet --info` output:

[code]

VS Code version:

`Version 1.20.0 (1.20.0)`

C# Extension version:

`1.13.1`

## Steps to reproduce

`^Space` to trigger suggestion

## Expected  behavior

Suggestion based on assembly and classes in project.

## Actual behavior

All I see is word-based suggestion (based on words in the same file)

<img width="289" alt="screen shot 2018-02-10 at

[2018-02-10 17:49] bitinn commented on #2030
The crazy thing is: I have the solution file in the folder, when I open the folder (not a single file) everything seem fine but there is no "fire" button to let me pick project at all.

<img width="201" alt="screen shot 2018-02-11 at 1 42 30" src="https://user-images.githubusercontent.com/1484279/36064895-0a9ab698-0ecd-11e8-9abc-293991427f85.png">

I have gotten _Visual Studio Community_ and _Subl

[2018-02-10 19:04] gregg-miskelly commented on #2029
Hi @Olian04, as you discovered, if you want to take console input, you need to use use either `externalTerminal` or `integratedTerminal`. There is a comment in the launch.json explaining it --

[code]

[2018-02-10 19:04] #2029 closed

[2018-02-10 19:05] gregg-miskelly commented on #2029
And here is a link to the documentation: https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger-launchjson.md#console-terminal-window

[2018-02-11 08:54] Gazenvagin commented on #32
Hi,

Starting OmniSharp server at 2018-2-11 11:48:38
    Target: c:\inWORK\UNITY Projects\Visockiy\Visockiy.sln
[ERROR] Error: spawn cmd ENOENT
_____
VSC ver. 1.20.00 x64
ext: Unity Debugger, OmiSharp
Unity 2017.3.1f3

[2018-02-11 08:58] zhangmn111 commented on #1619
ok, thanks.

[2018-02-11 19:34] guidobouman commented on #2017
Ah, oops. 1.15 it is then.

[2018-02-12 12:33] evil-shrike commented on #2015
Found some workaround via setting VSTEST_HOST_DEBUG=1 envvar and then attaching debugger.
Full story: https://techblog.dorogin.com/running-and-debugging-net-core-unit-tests-inside-docker-containers-48476eda2d2a

[2018-02-12 13:23] mika76 opened #2031 "T4 Template Support"
## Environment data
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 17373eb129b3b05aa18ece963f87

[2018-02-12 16:51] rchande commented on #2030
@bitinn Can you share your omnisharp log? Output window -> select "omnisharp log". I'm wondering if the fact that you set the "omnisharp.path" option to null is a problem--can you comment it out and see if it helps?

[2018-02-12 16:54] rchande commented on #2031
@mika76 Thanks for the suggestion. Note that C# extension for VS Code doesn't have real-time support for other file generators, like .resx, either.

[2018-02-12 17:00] gregg-miskelly opened #2032 "vsdbg via docker: Invalid protocol message received"
_From @evil-shrike on February 12, 2018 14:17_

I remotely debug my .net core unit tests running in a Linux Docker container. Code is running in vstest.console/testhost which I attach from VSCode to.
VSCode launch confiruation:
[code]
Tests are run in Docker with VSTEST_HOST_DEBUG=1 env variable to make it wait for debugger to attach:
[code]
In general it works but sometimes (pretty often) debuggi

[2018-02-12 17:02] gregg-miskelly commented on #2032
@evil-shrike can you try the latest beta? (Instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)). I don't expect it to fix the issue, but we improvements to pipe transport's error reporting that may tell us what is going wrong.

[2018-02-12 17:25] gregg-miskelly commented on #2015
Cool! I will close this issue then.

[2018-02-12 17:25] #2015 closed

[2018-02-12 17:39] evil-shrike commented on #2032
thanks! I've installed the beta and will report here if I get some detailed info.

[2018-02-12 17:40] #1993 closed

[2018-02-12 18:47] 7654098 commented on #490
@gregg-miskelly, +1

Any news?

[2018-02-12 19:58] mika76 commented on #2031
@rchande Thanks. Maybe it would be better to rename this issue to "File Generator Support"?

[2018-02-12 21:56] #1830 closed

[2018-02-13 06:51] bitinn commented on #2030
@rchande Like all things in life, when you try to reproduce it, it went away.

I clean installed VSCode (removed preference in ~/Library/Application Support and ~/.vscode/) and this time perform installation steps in exact order:

- dotnet
- Mono
- VSCode
- C# Extension
- Unity debugger extension

And then I tried to open up the project, OmniSharp starts up fine (the settings are still the same as

[2018-02-13 06:59] bitinn commented on #2030
By the way, the "fire" icon is present: I am pretty sure it wasn't there between C# and feedback icon when I had the issue, I would have notice it otherwise.

<img width="1019" alt="screen shot 2018-02-13 at 14 56 44" src="https://user-images.githubusercontent.com/1484279/36137068-6da05e66-10ce-11e8-9925-9cbf3bea00eb.png">

[2018-02-13 09:47] Thaina opened #2033 "Where can I set environment variable for test from codelens?"
I try to run unittest with codelens. If I run unittest from vscode I could write test command in `tasks.json` to set env variable that will execute on launch. Is there equivalence functionality for pressing codelens command?

[2018-02-13 13:58] egee-irl commented on #2026
It may be a duplicate, but #1830 is ``closed`` and I can also confirm I am seeing this in VSCode 1.20.0 on Arch Linux, extension number 1.13.1.

[2018-02-13 16:45] DustinCampbell commented on #1999
This should be available in the latest beta release on this repo. You can follow the instructions [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) if you are interested in trying the beta.

[2018-02-13 16:45] #1999 closed

[2018-02-13 16:46] DustinCampbell commented on #1976
This should be fixed in the latest beta release on this repo. If you're interested in trying the beta, you can follow the instructions here: https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases.

[2018-02-13 16:46] #1976 closed

[2018-02-13 16:48] DustinCampbell commented on #2026
#1830 was _just_ fixed, which is why it's closed. This is definitely a duplicate of that.

[2018-02-13 16:48] #2026 closed

[2018-02-13 21:36] JAStanton opened #2035 "Support for nunit 2.x.x?"
## Environment data
`dotnet --info` output:
[code]
VS Code version: `Version 1.20.0 (1.20.0)`
C# Extension version:

I am running tests for Xamarin Test Cloud, they use nunit test runner version 2.6.4. The way I manually run my tests is first I run `msbuild`, which builds my project, then I run:

(or `-include="android"`). And if I want to run a specific test I run

Do I have any hope in getting t

[2018-02-14 02:10] bruh0 commented on #1362
I just had the same issue, but instead of the files missing, it was caused by the .csproj and .sln files being excluded by **`files.exclude`** in the workspace settings.

[2018-02-14 06:26] karnavkumar commented on #15
`Cannot read property 'uri' of null`this error throws in VS code 1.20 also my javascript Formatter is not Working. is this error related to this?

[2018-02-14 09:41] richardthombs commented on #1726
When will this issue be fixed please?

[2018-02-14 13:26] vrokolos opened #2036 "Can I set solutiondir manually when using msbuild?"
This error comes up because the solution dir passed is the folder open and the current solution is one folder up. Can I change it manually using omnisharp.json or something?

`<Target Name="EnsureNuGetPackageBuildImports" BeforeTargets="PrepareForBuild">
    <PropertyGroup>
      <ErrorText>This project references NuGet package(s) that are missing on this computer. Enable NuGet Package Restore to

[2018-02-14 16:07] DustinCampbell commented on #2036
This issue was moved to OmniSharp/omnisharp-roslyn#1110

[2018-02-14 16:07] #2036 closed

[2018-02-14 16:08] DustinCampbell commented on #2036
I moved this to the omnisharp-roslyn repo, which is more suitable since this isn't specific to C# for VS Code.

[2018-02-15 02:29] PrakashKumar-27 commented on #2022
Thanks for your response, rchande.

I am not sure my project have any syntax error. in my directory there is no "apostrophe"

[2018-02-15 03:38] Draknek commented on #1947
Didn't get around to trying this until today (I only code occasionally). I went to uninstall/reinstall and saw that there was an update, after updating to 1.14.0 everything works again.

Seems very likely that uninstalling/reinstalling would also have worked! Thanks for the assistance.

[2018-02-15 03:38] #1947 closed

[2018-02-15 04:43] yuribudilov commented on #1913
I now experience same problem (constant consumption of memory, non stop, with some CPU) on a very simple .Net Core C# project using latest versions of 64-bit software. I have forced a OmniSharp.GCDump of 600 MB from PerfView.exe. If anyone is interested, please email me with instructions of how I can make it available to you.
Thank you.

[2018-02-15 06:57] bitinn opened #2040 "Renaming file or creating new file breaks omnisharp lookup"
## Environment data

`dotnet --info` output:

[code]

VS Code version:

`Version 1.20.1 (1.20.1)`

C# Extension version:

`1.14.0`

## Steps to reproduce

Create a file or rename a file and wait for Omnisharp to parse the file.

## Expected  behavior

VSCode should be able to find all existing namespace and assemblies.

## Actual behavior

VSCode failed to find interfaces in the same namespace, an

[2018-02-15 12:52] UnderHeavyDevelopment opened #2041 "OmniSharp.exe uses 10 GB RAM and 50% CPU"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.20.1
C# Extension version: 1.14

## Steps to reproduce
Edit C# code with Visual Studio Code

## Expected  behavior
Low CPU and RAM usage

## Actual behavior
Unacceptable

![vscc](https://user-images.githubusercontent.com/3192279/36257535-9ccd641a-1257-11e8-813f-22c5ccd9c05b.png)

[2018-02-15 14:03] pushist1y commented on #1967
resolved after updating to vs.code 1.20.1 and re-enabling omni-sharp.

[2018-02-15 15:50] lbovet commented on #1154
Why is this preamble useful for? Is there only @JerryNixon and me thinking it should not be there?

[2018-02-15 16:08] rchande commented on #2022
@PrakashKumar-27 In the omnisharp log that you posted, msbuild is failing to load your project because it contains a syntax error. Please take a look:

[code]

[2018-02-15 17:14] rchande commented on #2040
Thanks for reporting this @bitinn. Looks like this issue was fixed on Windows but still happens on OS X. We'll take a look.

[2018-02-15 17:15] rchande commented on #2041
@UnderHeavyDevelopment Can you comment on the size of your project?

[2018-02-15 17:19] jasoncavett commented on #2005
I'm seeing this as well. I have 5000+ errors in my project (which builds and runs otherwise) with errors like, `The type or namespace name 'System' could not be found (are you missing a using directive or an assembly reference?)`

[code]

Some additional details.

Running ms-vscode.csharp version 1.14.0 (which, interesting enough, is marked "Preview" though I don't remember choosing that).

In the

[2018-02-15 17:20] rchande commented on #2033
@Thaina Unfortunately, I don't think that's currently possible.

[2018-02-15 17:29] rchande commented on #2035
@JAStanton C# for VS Code has a "run test" codelens that will appear above the names of discovered test methods. Test discovery is powered by `dotnet test`. `dotnet test` [supports NUnit](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore2x). If you are able to get your tests to run under `dotnet test`, they will probably be supported in VS Code using the run test codelens

[2018-02-15 17:58] sjetha-pason commented on #1984
We have some legacy Silverlight projects, and rather than have to go down the route of having our DBA get a VS Professional licence just to make small tweaks to our code, we wanted to see if we could have him use VS Code instead. After deleting the Silverlight files completely from his machine we were able to make it work, but this is far from ideal.

[2018-02-15 18:00] JAStanton commented on #2035
Yeah codelense finds them all and adds the buttons, but when I try to run them it explodes:

(In addition even if they did work I wouldn't know how to pass `"-include="android"` to switch between iOS and Android. Ideally codelense adds "run iOS test | run Android test | debug iOS test | debug Android test" above each test)

[code]

With this banner:

![image](https://user-images.githubusercontent.

[2018-02-15 18:06] DustinCampbell commented on #1947
Glad to hear it -- thanks for the update!

[2018-02-15 18:09] DustinCampbell commented on #1794
@gregg-miskelly: Does @Ghostbird's last edit give you ideas? If it really is related to when exceptions happen at runtime, maybe this is a debugger issue?

[2018-02-15 18:12] DustinCampbell commented on #2022
From the error above, it doesn't look like the error is in your project. Instead, it looks like the problem is because your Windows user profile contains an apostrophe character, which is breaking MSBuild's parsing. You can clearly see this above in this condition:

[code]

[2018-02-15 18:15] DustinCampbell commented on #2035
@JAStanton: The test buttons use the .NET Core SDK to run tests, I don't believe this will work with iOS or Android tests.

[2018-02-15 18:53] rchande commented on #2040
@bitinn I'm having trouble reproducing this on my Mac. Do you see this issue in a simple project (eg, `dotnet new console` and add a file), or only in your large project?

For this feature to work, your project needs to have file globbing enabled within the csproj files. Otherwise, when you add a file, omnisharp doesn't know what project to associate it with.

[2018-02-15 19:49] Deilan opened #2043 "Monitor changes and automatically restart debugging"
Is there a way to monitor changes in code and automatically restart debugging when they happen?

[2018-02-15 19:51] UnderHeavyDevelopment commented on #2041
@rchande It is round 100 projects (.csproj) and about 10k LOC. In Visual Studio 2017 runs smoothly. In VS Code I had this issue once so far and after restart OmniSharp.exe was about 500 MB memory. Looks like sudden memory leak loop.

[2018-02-15 20:56] gregg-miskelly commented on #2043
There isn't anything that can do this today. The closest thing is the restart button.

[2018-02-15 21:41] Deilan commented on #2043
@gregg-miskelly Could it become some sort of a feature request? :)

[2018-02-15 21:59] gregg-miskelly commented on #2043
This feature scares me a bit. I could totally see accidentally making a change and then suddenly loosing your debug session and being very mad about it. Especially since with many apps while its pretty quick to restart them, but not so quick to get back to the point where you are debugging.

Can you tell me more about your scenario and why you think it would make your life better?

[2018-02-15 22:06] potterdai opened #2044 ""new" Keyword suggestion only working on non-generic class"
## Environment data
`dotnet --info` output:
VS Code version: 1.20.1
C# Extension version: 1.14.0

## Steps to reproduce
`List<string> l = new ` -> suggest `string` instead of `List<string>()`
`TestClass tc = new ` -> suggest `TestClass` as expected
So `new` keyword suggestion only works on non-generic class

[2018-02-15 22:16] yuribudilov commented on #2041
FWIW - I have some dumps (Windows 10, 64-bit) exhibiting similar bad behavior re leaking memory and chewing up CPU, see my Issue if interested in the dumps. My project is extremely simple using the latest versions of everything.

[2018-02-16 00:42] #420 closed

[2018-02-16 01:04] CoderJason123 opened #2045 "Duplicate warnings and using suggestions - mac only"
## Environment data
vs code 1.20 mac os high sierra
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce
open any c# project, throw in some classes, generate some warnings.  it's not a pattern as to which ones will double, but it has been this way since day one one the mac.  I use it on a pc and mac, but i prefer the mac :).  I just thought it was some quirk that w

[2018-02-16 02:55] Thaina commented on #2033
@rchande Did your unittest command or nuget itself would read some config file in the project that contain env var and/or other config on their own?

Another thing I would like is to set output file. If it not possible would you pleased to include in that config file feature?

[2018-02-16 03:57] mipnw opened #2047 ".net-core project constantly needs to restore if build/test happening in WSL/bash"
## Environment data
WSL\bash $dotnet --info

[code]
Windows\cmd.exe dotnet --info

[code]

VS Code version:1.20.0
C# Extension version: 1.14.0

## Steps to reproduce
- In VS Code open a NET CORE 2.0 C# app folder containing an SLN file, and two subfolders, each containing one CSPROJ file.
- C# Extension works, intellisense and navigating between symbols works
- In VS Code internal terminal (wsl\ba

[2018-02-16 05:03] bitinn commented on #2040
@rchande Just a large Unity project it seems, I tried a separate project where I build a small plugin (dll) for Unity and the issue doesn't appear when I add a new file.

[2018-02-16 06:50] gregg-miskelly commented on #1794
@DustinCampbell do you have any idea what `run: line 44:` might be in reference to?

@Ghostbird Two questions --
1. If you look at a process listing while the test is running, can you see what process matches up with the `14767 Killed` part of the statement?
2. If you throw the exception from `x()` does the debugger stop on that exception? Or does the test worker process catch the exception and th

[2018-02-16 08:52] egamma opened #2048 "OmniSharp server doesn´t launch in VS Code insider"
Originally reported in https://github.com/Microsoft/vscode/issues/43800

## Environment data
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared Fr

[2018-02-16 12:08] UnderHeavyDevelopment commented on #2041
Similar issue https://github.com/OmniSharp/omnisharp-vscode/issues/1913

[2018-02-16 13:05] byroniac commented on #2048
I just found out that it does work in Insiders on Linux, but not Windows, but that not might be surprising as it is a different platform. However, at work, I am on Windows constantly and that is when I noticed it with the latest update.

[2018-02-16 13:32] DustinCampbell commented on #2040
I think the problem here is that Unity projects do not support file globbing and C# for VS Code does not automatically update your project file to add/change/remove  `<Compile Include="your_new_file.cs" />`s for new or renamed files. It looks to me like this is the same as https://github.com/OmniSharp/omnisharp-vscode/issues/1970.

[2018-02-16 13:37] DustinCampbell commented on #2048
I couldn't reproduce this issue. I did the following:

1. Installed the latest VS Code Insiders (x64) on Windows
2. Installed C# for VS Code using the Extensions pane.
3. Created a new .NET Core project with `dotnet new console`
4. Open the folder containing the new .NET Core project in VS Code.

At this point, the C# for VS Code extension activated and launched OmniSharp, which successfully loade

[2018-02-16 13:41] egamma commented on #2048
These are the steps I´ve used.

This is the VS Code insiders version
![image](https://user-images.githubusercontent.com/172399/36310080-32943120-1327-11e8-8d08-7af3bc308db5.png)

I get not Intellisense.

![image](https://user-images.githubusercontent.com/172399/36310136-5ffea0aa-1327-11e8-9b5d-94578e547677.png)

Is there some logging/tracing I can enable?

[2018-02-16 13:43] DustinCampbell commented on #1794
@gregg-miskelly: `run` is the launch script for OmniSharp. `line 44` is the last line of the script.

[2018-02-16 13:47] DustinCampbell commented on #2048
Looks like I have the same Insiders build.

Is the C# extension actually activating? If it does, there should at least be an OmniSharp Log in the Output pane. If there isn't, it's possible that it didn't activate for some reason. Maybe there's something in the Developer Tools?

[2018-02-16 13:51] egamma commented on #2048
The extension isn´t activating

![image](https://user-images.githubusercontent.com/172399/36310552-bb6efb28-1328-11e8-84e4-67c216c91753.png)

Could not find anything in the Developer Tools Console.

[2018-02-16 13:53] DustinCampbell commented on #2048
That's very weird, but I'm not sure it's a bug in C# for VS Code. We have changed anything in our package.json related to extension activation in a long time.

[2018-02-16 13:54] egamma commented on #2048
The extension is activating

![image](https://user-images.githubusercontent.com/172399/36310651-05c57a76-1329-11e8-8c75-7156a2538ab1.png)

There is no output channel from C#
![image](https://user-images.githubusercontent.com/172399/36310711-37df624c-1329-11e8-9e2d-4d5c11214b57.png)

Nothing in the devtools console.

[2018-02-16 13:54] bitinn commented on #2040
@DustinCampbell since this is a known limit, are there:

- workaround? like a forced refresh without exiting VS Code.
- substitute? where I can manually create a .sln file, use file globbing pattern, and set VS Code to it.

Basically, using VS Code with Unity means VS Code don't have to "build" the project. I just need it to know enough about Unity and my source code so that OmniSharp can provide

[2018-02-16 13:55] egamma commented on #2048
Since it only happens in insiders I also suspect an issue in VS Code, but was hoping you can help us to track it down.

[2018-02-16 13:55] DustinCampbell commented on #2048
OK. That's a *little* better. :smile:

[2018-02-16 13:59] DustinCampbell commented on #2048
Without debugging, it's hard to know. We don't do much custom logging. I think I've replicated your repro:

![image](https://user-images.githubusercontent.com/116161/36310919-5e6c210c-12de-11e8-8ce2-33d5ff69e32a.png)

Out of curiosity, is your project located in a OneDrive folder with Files On Demand?

[2018-02-16 13:59] #2030 closed

[2018-02-16 14:03] egamma commented on #2048
Looks like a false alarm, sorry. I´ve re-created your setup and now it works.
![image](https://user-images.githubusercontent.com/172399/36311093-6f3b15e6-132a-11e8-8b95-15b27a1afb9b.png)

[2018-02-16 14:04] egamma commented on #2048
Reading the original issue again

I suspect @byroniac really just opened a C# without any .csproj file

[2018-02-16 14:05] DustinCampbell commented on #2040
You should be able to restart OmniSharp as a workaround. Run `OmniSharp: Restart OmniSharp` from the VS Code command palette.

You *could* use globbing patterns in your file. MSBuild supports them. Unfortunately, Unity does not. Unity will just stomp over your globs the next time it generates your project.

Note that getting IntelliSense means performing a "build". This is design-time build that d

[2018-02-16 14:11] DustinCampbell commented on #2048
Thanks for the update @egamma. Glad you got it working.

@byroniac: Yes, if you just open a C# file without a C# project of some sort, you won't get meaningful IntelliSense from OmniSharp, unfortunately. This is a long-standing issue on our backlog here: https://github.com/OmniSharp/omnisharp-vscode/issues/47. If you're interested in .NET Core, it's pretty easy to create a C# project and get start

[2018-02-16 14:11] #2048 closed

[2018-02-16 14:12] bitinn commented on #2040
@DustinCampbell thx for that!

But one more question: I don't fully understand why OmniSharp needs `<Compile Include="your_new_file.cs" />` to see new file: for my smaller project, it appears my .csproj file only include existing files anyway, so how did OmniSharp discover a new file?

(In below example, only BLogger.cs is in the csproj file, I added a DLogger.cs and OmniSharp is able to discover

[2018-02-16 14:17] DustinCampbell commented on #2040
OmniSharp has a little bit of extra logic that will try to handle files that aren't included in a project if you make an edit in it. Essentially, if it can find a project that the file is *likely* to belong to, it will add it to OmniSharp's in-memory workspace. However, it won't change your project file.

[2018-02-16 14:30] bitinn commented on #2040
@DustinCampbell @rchande Thx! If I understand your explanation correctly: it looks like every time I rename a file or create a file, we are in uncharted territory where OmniSharp need to figure out whether a file belongs to the project without checking .csproj (which is now outdated).

While I fully understand that design decision. Maybe, just maybe, **we can have a per-workspace setting, where we

[2018-02-16 15:10] pietgk opened #2049 "CodeLens Test status is not displayed"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.0.0)

Product Information:
 Version:            2.0.0
 Commit SHA-1 hash:  cdcd1928c9

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.0.0/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.0
  Build    : e8b8

[2018-02-16 15:12] pietgk commented on #2049
Sorry this issue got pasted in the wrong project.

ill post the issue in the .NET test runner project

[2018-02-16 15:16] #2049 closed

[2018-02-16 16:05] rchande commented on #1913
@yuribudilov Can you please upload your ETL to OneDrive (or similar) and send me the link at Ravi.Chande@microsoft.com ? Thanks!

[2018-02-16 16:07] rchande commented on #2041
@UnderHeavyDevelopment I would appreciate it if you could capture a trace to help me analyze what's happening. Please use PerfView to capture ~30 seconds when you see this high-CPU + memory allocation (http://www.philosophicalgeek.com/2012/07/16/how-to-debug-gc-issues-using-perfview/), upload the trace to OneDrive (or equivalent) and send me a link at Ravi.Chande@microsoft.com.  Thanks!

[2018-02-16 16:08] rchande commented on #2045
@CoderJason123 We believe this was fixed in the recent 1.14 release of the C# extension for VS Code. Can you confirm what version of the extension you have?

[2018-02-16 16:09] gregg-miskelly commented on #1794
Ah. In that case @Ghostbird you can ignore my first question, though the second question would still be interesting.

Dustin, a few more questions --
1. Will OmniSharp normally print something useful when it crashes (ex: exception type, message or stack trace), and therefore this means that this crash is a more fatal error where the mono runtime falls over (ex: out-of-memory, stack overflow, or in

[2018-02-16 20:03] WallaceKelly commented on #371
I am still seeing this behavior -- even with 1.14.0. and after "build the F# projects first."

Here is how I reproduce...

    dotnet new library -lang F# -o .\ClassLibrary
    dotnet new console -lang C# -o .\MainProgram
    dotnet new sln
    dotnet sln add .\ClassLibrary\ClassLibrary.fsproj
    dotnet sln add .\MainProgram\MainProgram.csproj
    dotnet add .\MainProgram\MainProgram.csproj refer

[2018-02-16 21:27] CoderJason123 commented on #2045
Hi.  I am on 1.14.0 :(

[2018-02-16 21:51] byroniac commented on #2048
Well, this is very strange. It is working now, and the only thing I've changed that I know of, is that I installed another update from VSCode-Insiders. I can't give out my actual project source without an NDA, but it's not very complex and it started from a "dotnet new razor" command. It had a .csproj file, but according to what you said, maybe it never saw it, or just never loaded it. How do you

[2018-02-16 22:06] byroniac commented on #2048
I take that back. It was working a few minutes ago, and now it is not. If I hover over a symbol, I get a "Loading..." which flashes and disappears, and then nothing. However, if I start Debugging on it, and then Stop Debugging, it works. Very strange.

[2018-02-16 22:11] byroniac commented on #2048
And now it's working again, if I get out and back in, no problem now, though a few minutes ago that wasn't working. I think I should mention that I'm trying to edit these files on a corporate file server and every once in awhile network performance is an issue. When it doesn't work, I don't get any kind of Intellisense support or reference counts or anything, and it didn't seem to matter how long

[2018-02-16 22:24] byroniac commented on #2048
Oh! I didn't know I could press F1 and type "Developer: " and choose the "Developer: Show Running Extensions" that way.

[2018-02-17 16:17] ruslansmax commented on #707
check folder url from special characters like !@#$%^&*() and delete those characters

[2018-02-18 08:20] TommiHelander commented on #1827
@ywaby 's suggestion works well as a **temporary** solution. I followed the official instructions for adding the Debian 9 repo, followed by

`sudo apt-get install mono-complete`

This upgraded all existing mono packages on my system and installed a couple of new ones as well. After this, VS Code works like charm with Unity.

However, don't do this, unless you know what you're doing and how this af

[2018-02-18 09:21] horney0824 opened #2051 "Cannot open c# source file from build error message"
## Environment data
`dotnet --info` output: 2.1.4
VS Code version: 1.20.1
C# Extension version: 1.14.0
OS Environment: Windows 10

## Steps to reproduce
dotnet new console MyApp
Open MyApp folder in vscode using .NET Core task
Add some syntax error in Program.cs
Run build task
Click build error message in PROBLEMS panel.

## Expected  behavior
Jump to correct file and line number.

## Actual behav

[2018-02-18 17:10] janaka opened #2052 "Feature: Support configuring the default *.sln which is loaded when opening"
At present, if there are multiple *.sln files in the root, the first one in alphabetical order is selected. This causes confusion to users as it results in intelli-sense not working. There is no intuitive way for users to discovering the connection between the problem and the solution.

I have a branch with a proposed solution which I will submit as a PR soon.

[2018-02-19 05:16] andycmaj opened #2054 "libuv exception on OSX (self-compiled omnisharp-roslyn)"
## Environment data
`dotnet --info` output:
[code]

VS Code version: `Version 1.21.0-insider (1.21.0-insider)`
C# Extension version: `1.14.0`
Mono Version:
[code]

## Steps to reproduce

1. build omnisharp-roslyn from src using `-t Quick`
2. change roslyn location in workspace settings to:
[code]

## Expected  behavior

roslyn starts up

## Actual behavior

exception regarding libuv:

[code]

poss

[2018-02-19 05:42] yuribudilov commented on #1913
sent email to Ravi from my hotmail account, please see if it made it and check the junk folder.

[2018-02-19 09:06] squalsoft commented on #1743
I have this issue now! After succeeded debug test codelens disappear.
dotnet --info
Программы командной строки .NET (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Fram

[2018-02-19 12:44] preetipadalia opened #2055 "Unable to debug test using code lens with net46 framework"
We are trying to debug the nunit test in VScode in net46 framework but even if change the target framework from netcoreapp2.0 to net46 it still picking the dll present inside netcoreapp2.0 folder.

Test -> f:\Automation_Framework\12022018\GTS_CS_FWK\Test\bin\Debug\net46\Test.dll

Build succeeded.
0 Warning(s)
0 Error(s)

Time Elapsed 00:00:00.79

NUnit Adapter 3.9.0.0: Test discovery starting
NUni

[2018-02-20 13:14] ffes opened #2056 "No syntax highlighting for .sln files"
## Environment data
`dotnet --info` output:

.NET Command Line Tools (2.0.0)

Product Information:
 Version:            2.0.0
 Commit SHA-1 hash:  cdcd1928c9

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.0.0\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.0
  Build    : e8

[2018-02-20 16:32] ceottaki opened #2057 "Extension is reporting problems with files in node_modules"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.20.1
C# Extension version: 1.14.0

## Steps to reproduce
Open a .NET Core project folder that contains a node_modules folder that includes cs files such as `selenium-webdriver`.

## Expected  behavior
The extension should ignore problems in the node_modules folder. It may be related to issue  #1990.

## Actual behavior
The exte

[2018-02-20 20:40] rchande commented on #2057
@akshita31 Can you take a look?

[2018-02-20 20:41] rchande commented on #2056
@DustinCampbell Are we providing classification in csproj files? Should we extend that to .sln files?

[2018-02-20 21:55] rchande commented on #2055
Note that this doesn't appear to work in Visual Studio either. @pp1609 Is your csproj an "SDK" project?

[2018-02-20 21:56] rchande commented on #2054
@andycmaj If you have mono installed, try setting the omnisharp.usemono flag?

[2018-02-20 21:57] rchande commented on #2052
Thanks @janaka. Looking forward to your PR!

[2018-02-20 21:59] rchande commented on #2051
@akshita31 Can you take a look?

[2018-02-20 22:01] rchande commented on #2045
@CoderJason123 Can you try deleting ~/.omnisharp ?

[2018-02-20 22:11] akshita31 commented on #2045
To reinstall omnisharp you will also need to delete the install.Lock file in the extension folder.

[2018-02-20 22:33] akshita31 commented on #2051
Thanks @horney0824 ! This is a duplicate of #1197.

[2018-02-20 22:33] #2051 closed

[2018-02-20 23:56] janaka commented on #2052
@rchande #2053 is the PR. Thanks.

[2018-02-21 04:03] CoderJason123 commented on #2045
I did all of these suggestions.  And for about 2 seconds, it appeared to work, but then the duplicates reappeared.  I will note this..there is one set of warnings showing a path, and another showing a path with a trailing slash. Like "startup.cs" and "startup.cs/"  Screen shot attached.

And another thing, i am only seeing this now for duplicate "usings", not all messages.  Now that i've updated,

[2018-02-21 08:47] horney0824 commented on #2051
@akshita31 do you have schedule on fix this issue?

[2018-02-21 10:41] janaka commented on #1889
@DustinCampbell FYI submitted PR #2053 as a solution for that ^ (just to close the loop here).

[2018-02-21 11:43] savpek opened #2059 "Support running tests from keyboard"
It would be nice if current test can be invoked from keyboard instead of codelens only.

Basically context requires two options like: Run current test, Run current test class.

This https://github.com/Microsoft/vscode/issues/41579 could implement feature, but dunno when (if never) it will be implemented to vscode.

[2018-02-21 15:43] rchande commented on #1197
Thanks for finding the duplicate @akshita31 , I'll look for a fix (unless you want to :) )

[2018-02-21 17:15] rchande commented on #2045
@CoderJason123 Are you using the build command to build your project? It looks like you're seeing https://github.com/OmniSharp/omnisharp-vscode/issues/1197 .

If you close and reopen VS Code to your folder, do you see any duplicate errors with the "/" character before you do a build?

[2018-02-21 19:49] welkie opened #2060 "XML in C# Intellisense comments"
Originally reported [here](https://github.com/Microsoft/vscode/issues/44078).

## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.20.1
C# Extension version: 1.14.0

## Steps to reproduce

1. Begin typing the name of a method to call, press tab to complete it and view comments for method in Intellisense
2. Observe the comment

## Expected  behavior

Intellisense comments appear w

[2018-02-21 20:25] taranttini commented on #1523
Open VS Code
Go to Menu:
- File / Preferences / Settings

add lines:
[code]

[2018-02-21 20:31] akshita31 commented on #2060
@welkie This is a bug with the signature help. We are already working on it in this PR : https://github.com/OmniSharp/omnisharp-vscode/pull/1958.

Also this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1940, hence closing it.

[2018-02-21 20:31] #2060 closed

[2018-02-21 21:53] CoderJason123 commented on #2045
no, no duplicates before I build.  interesting.

[2018-02-21 23:36] #1940 closed

[2018-02-22 16:18] MyTechSite opened #2061 "No Format Document"
## Environment data
`dotnet --info` output:
VS Code version: 1.20.1
C# Extension version: Latest - 1.14.0

## Steps to reproduce

Right-Click in a C# file but there is no Format Document option.  See this picture:

<https://i.imgur.com/ZI0SJ62.png>

## Expected  behavior

I expect to have a Format Document option like I do get in C++ file or HTML file

## Actual behavior
As per the image attached:

[2018-02-22 17:35] cannontrodder opened #2062 "Omnisharp unable to load a relative reference in .net core project"
## Environment data
`dotnet --info` output:

.NET Command Line Tools (2.0.2)

Product Information:
 Version:            2.0.2
 Commit SHA-1 hash:  a04b4bf512

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.0.2\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.0
  Build    : e8

[2018-02-22 17:40] akshita31 commented on #2061
@MyTechSite Omnisharp doesnot work for stand alone files. Can you try opening the project the file is in?

Also, could you post the Omnisharp Log. View --> Output. In the output pane, there must a panel showing the "Tasks" channel. Please go to "Omnisharp Log" channel and post the output here.

[2018-02-22 18:19] rchande commented on #2045
@CoderJason123 Thanks for following up, I'm going to close this as a duplicate of #1197

[2018-02-22 18:19] #2045 closed

[2018-02-22 18:21] CoderJason123 commented on #1197
so...on a mac, is this expected behavior, and the line for full paths only on a mac fixes the problem?  The issue i logged 2045 has been closed, i'm not real clear on the resolution or just that it's an on going issue.  please advise and thank you.

[2018-02-22 18:31] rchande commented on #2062
@cannontrodder Can you try updating to the most recent version of the .net sdk? I used the following commands to create project files with relative path references and I'm able to consume types from the console app in the test library:

[code]

[2018-02-22 18:33] rchande commented on #2045
@CoderJason123 I was able to reproduce this on a Windows machine (build -> duplicate warnings). I don't believe it's Mac specific.

[2018-02-22 19:32] CoderJason123 commented on #2045
Ok, good to know!  I had not seen it there or just forgot.  Thank you!

[2018-02-23 08:49] Thaina opened #2064 "[feature request] Codelens for TestFixture"
Please add ability to run test and debug test on TestFixture with nunit

[2018-02-23 09:45] cannontrodder commented on #2062
@rchande that worked, I'm feeling a bit silly for not trying that but it worked perfectly! I normally run in docker so tend to pull the latest down but this week I'm relying on the version installed by VS2017. For those that follow, this configuration immediately fixes the issue, hope it saves you time like @rchande  has for me :-)

[code]

[2018-02-23 17:02] rchande commented on #2062
@cannontrodder Glad you got it working! I'm going to go ahead and close this bug.

[2018-02-23 17:02] #2062 closed

[2018-02-23 17:37] gregg-miskelly commented on #2055
If your scenario fits within the limitations on Desktop .NET Framework debugging (see [here](https://github.com/OmniSharp/omnisharp-vscode/wiki/Desktop-.NET-Framework)), then you can make this work by opening your VS Code preferences file and adding `"csharp.unitTestDebuggingOptions.type": "clr"`.

[2018-02-24 08:15] andycmaj commented on #2054
tried it a few ways

# false + exe path
[code]

Omnisharp server running on port '2000' at location '/Workspace/ims/TheChunnel' on host 81717.
System.AggregateException: One or more errors occurred. ---> System.DllNotFoundException: libuv
  at (wrapper managed-to-native) Microsoft.AspNetCore.Server.Kestrel.Internal.Networking.Libuv+NativeMethods.uv_loop_size()
  at Microsoft.AspNetCore.Server.Kest

[2018-02-24 08:54] andycmaj commented on #2054
shoudl this be posted in `omnisharp-roslyn`?

[2018-02-25 11:07] hmobius opened #2067 "Omnisharp fails to load project file for new console app project"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 173

[2018-02-25 15:12] barcexwiki commented on #2005
I have the same problem. I had to roll back from 1.14.0 to 1.13.1 to get it fixed.

[2018-02-25 17:19] hmobius commented on #2067
Oops - figured this out eventually. It turns out that my installation of Bitdefender had blocked Omnisharp from accessing the directory. Once I manually allowed it to be accessed in Bitdefender, everything was fine. Not sure how you would pre-register omnisharp.exe as a safe application but maybe that's a thing to look at to avoid this issue repeating?
--
The application omnisharp.exe attempted to

[2018-02-25 17:19] #2067 closed

[2018-02-25 23:46] firelizzard18 commented on #2005
I haven't had a chance to try to reproduce this issue, but I could believe I'm having a similar issue to @barcexwiki, as I do use `<TargetFrameworks>` instead of `<TargetFramework>` in some situations. Unfortunately for me, I must use the plural form in those situations.

[2018-02-26 07:28] DarkZek opened #2069 "Omnisharp cannot evaluate item metadata"
## Environment data
`dotnet --info` output:
`.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  17.10
 OS Platform: Linux
 RID:         linux-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 17373eb129b3b05a

[2018-02-26 07:57] pp1609 commented on #2055
Hi @gregg-miskelly thanks for the reply. I tried the solution u suggested but not able to proceed with the debugging.
I am getting "Error processing launch options at field: program" error now.

[2018-02-26 19:21] gregg-miskelly commented on #2055
Sounds like there are multiple issues then. This means that the extension didn't provide the program to launch to the debugger.

[2018-02-26 21:48] gregg-miskelly opened #2071 "Debugger should support authentication with symbol server and source link"
In 1.15, the debugger added support for Source Link and Symbol Server. However, it currently doesn't support either symbol servers or source link endpoints that require authentication.

This feature request tracks adding support for either or both of these. My guess is that we would want to do both at the same time, but I could be wrong.

[2018-02-26 21:51] gregg-miskelly commented on #373
This feature is now complete and I released a beta (1.15-beta1) with the feature. See [instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) to install.

Servers that require authentication are NOT currently supported. I opened a new issue to track that: https://github.com/OmniSharp/omnisharp-vscode/issues/2071

Feel free to '+1' on that if your scenario requir

[2018-02-26 21:51] #373 closed

[2018-02-27 01:49] gregg-miskelly commented on #2043
<Ping>

[2018-02-27 09:37] Alumniminium opened #2073 "Clicking item in Problems Tab results in File Not Found on Pop!OS (Ubuntu 17.10)"
## Environment data
`dotnet --info` output:

VS Code version:

C# Extension version: 1.14.0

## Steps to reproduce

Have any error in project -> Build -> Click entry in "Problems" tab

## Expected  behavior

Jump to file & line where this problem is located

## Actual behavior

"ERROR: Unable to open 'MsgText.cs': File not found (file:///Network/Packets/Conquer/MsgText.cs)."

Build Output:

Image:

[2018-02-27 09:38] Alumniminium commented on #2073
Is there any workaround / Solution? It's really painful to work like that.

[2018-02-27 12:34] JohRest opened #2074 "Internal error in the debugger when trying to debug"
## Environment data
`dotnet --info` output:

[code]

VS Code version:

Version 1.20.1
Commit f88bbf9137d24d36d968ea6b2911786bfe103002
Datum 2018-02-13T15:34:36.336Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architektur x64

C# Extension version:
1.14.4
## Steps to reproduce

dotnet new console -o JRITNewConsoleApp

Open the Folder in vscode.
using .NET core Launch (console)
Starting Debugging

[2018-02-27 13:40] DustinCampbell commented on #2073
This looks to me like a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1197. If that's correct, you should be able to workaround the issue by adding `<GenerateFullPaths>true</GenerateFullPaths>` to your project or including `/p:GenerateFullPaths=True` in the build task in your tasks.json file.

[2018-02-27 13:41] jools-adams commented on #1179
It would be great to have unnecessary using's to be highlighted (or greyed out, as per VS for Mac) in VS Code.

[2018-02-27 13:46] DustinCampbell commented on #1179
@jools-adams: Agreed. I'm tracking https://github.com/Microsoft/vscode/issues/20219 to get API support for VS Code so we can do exactly that.

[2018-02-27 14:02] DustinCampbell commented on #2054
This issue was moved to OmniSharp/omnisharp-roslyn#1123

[2018-02-27 14:02] #2054 closed

[2018-02-27 14:02] DustinCampbell commented on #2054
Yes it should. I moved it.

[2018-02-27 14:08] DustinCampbell commented on #371
Hey @WallaceKelly : Sorry for the delay. Could you file a new issue rather than necro-ing a closed issue? Thanks!

[2018-02-27 14:11] DustinCampbell commented on #1794
1. Yes -- it should -- especially if the `omnisharp.loggingLevel` is set to `debug`.
2. No. It launches `dotnet vstest`, which runs the xunit test adapter.
3. No.

[2018-02-27 14:13] DustinCampbell commented on #1743
@squalsoft: This issue was closed about five months ago. Could you file a new issue rather than necro-ing this old one?

[2018-02-27 14:16] DustinCampbell commented on #2056
No. This is not something we do. In fact, C# for VS Code doesn't even handle syntax highlighting for C#. Instead, https://github.com/dotnet/csharp-tmLanguage is checked directly into VS Code.

This request should probably be filed on VS Code. *However*, note that Visual Studio doesn't provide syntax highlighting for SLN files either. :smile:

[2018-02-27 14:18] DustinCampbell commented on #2057
FWIW, this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1990. The legacy OmniSharp project.json project system needs to be updated to not search in node_modules. This should be a straightforward change in omnisharp-roslyn. I'll close this as a dupe and assign #1990 to @akshita31.

[2018-02-27 14:18] #2057 closed

[2018-02-27 14:20] DustinCampbell commented on #2059
Thanks @savpek. We're tracking this feature with https://github.com/OmniSharp/omnisharp-vscode/issues/421.

[2018-02-27 14:20] #2059 closed

[2018-02-27 14:22] #2061 closed

[2018-02-27 14:26] DustinCampbell commented on #2069
Yes, you'll likely need to update your version of Mono. For Ubuntu, I recommend using the latest stable build here: http://www.mono-project.com/download/stable/#download-lin

[2018-02-27 14:31] squalsoft commented on #1743
Ok, thank you!

[2018-02-27 14:38] Ghostbird commented on #1794
@gregg-miskelly
On question two. The debugger correctly stops on the exception, but once I continue after having debugged my part, Omnisharp crashes.

[2018-02-27 14:52] WallaceKelly opened #2075 "Errors when editing solution which contains both C# .csproj and F# .fsproj projects"
## Environment data
`dotnet --info` output:

    .NET Command Line Tools (2.1.4)

    Product Information:
     Version:            2.1.4
     Commit SHA-1 hash:  5e8add2190

    Runtime Environment:
     OS Name:     Windows
     OS Version:  6.1.7601
     OS Platform: Windows
     RID:         win7-x64
     Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

    Microsoft .NET Core Shared Framework

[2018-02-27 14:59] WallaceKelly commented on #2075
![image](https://user-images.githubusercontent.com/698424/36735771-f07a6346-1ba4-11e8-8496-305b4033b5bc.png)

[2018-02-27 16:05] adamulicki opened #2076 "While solving merge conflicts in .cs files with C# addon enabled "Accept changes" bar dissapears."
## Environment data
`dotnet --info` output:
[code]

VS Code version:  1.20.1
C# Extension version: 1.14.0

## Steps to reproduce
While solving merge conflicts in VS code with C# extension enabled. (tested with .cs files)

## Expected  behavior
The bar with "Accept Current Change | Accept Incoming Change..."  appears, is constantly visible and buttons are clicable.

## Actual behavior
 Bar blinks b

[2018-02-27 16:33] Alumniminium commented on #2073
tasks.json file updated with said switch, problem resolved. Thank you very much!

[2018-02-27 17:10] gregg-miskelly commented on #1794
@DustinCampbell is there an easy way for Ghostbird to attach a mono debugger to OmniSharp to see if this reveals something more useful?

@Ghostbird can you check whatever system logs you have to see if there is any information on what is killing Omnisharp or why? If you aren't sure how to do this, I can do some looking around if you tell me what OS you are on.

[2018-02-27 17:17] gregg-miskelly commented on #2074
@JohRest can you tell me what your OS locale is set to?

[2018-02-28 00:50] node-gs commented on #490
Very interested in something like this. Working from macOS with dotnet can be tough, this would really aid in the development process

[2018-02-28 06:06] cramhead commented on #2005
I was having the same problem. I have an asp.net core web app with targeted to netcoreapp2.0 and it refers to a library targeted to netstandard2.0. I tried changing the library to netcoreapp2.0 but it could not restore. I reverted the library change and tried setting the web app to netstandard2.0. As one might expect that failed too. When i reverted the web app change, so that everything was exact

[2018-02-28 08:34] JohRest commented on #2074
Hi Gregg,

I’m using OS locale set to German.

Regards

Johannes

Von: Gregg Miskelly [mailto:notifications@github.com]
Gesendet: Dienstag, 27. Februar 2018 18:18
An: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com>
Cc: Johannes Rest <johannes@jr-it-services.de>; Mention <mention@noreply.github.com>
Betreff: Re: [OmniSharp/omnisharp-vscode] Internal error in the debugger when tryin

[2018-02-28 14:03] DustinCampbell commented on #2075
It's pretty clear that one of your projects isn't loading properly. Could you provide your OmniSharp Log? Select View->Output in VS Code and then choose "OmniSharp Log" from the dropdown at the top-right corner of the Output pane.

[2018-02-28 14:06] DustinCampbell commented on #1197
@rchande: The right fix is to update the tasks.json generation to include `/p:GenerateFullPaths=true`.

[2018-02-28 14:06] #2073 closed

[2018-02-28 14:20] WallaceKelly commented on #2075
Starting OmniSharp server at 2/28/2018, 9:18:50 AM
    Target: c:\temp\testvs\temp.sln

OmniSharp server started
    Path: C:\Users\NB61805\.vscode\extensions\ms-vscode.csharp-1.14.0\.omnisharp\OmniSharp.exe
    PID: 13192

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Windows 6.1.7601.65536 (x64)
[info]: OmniSharp.MSBuild.Discovery.MSBuildLocator
        Located 3 MSBuild instance(s)

[2018-02-28 15:04] DustinCampbell commented on #2075
Thanks! It looks lile the VS 2017 build tools installed on your machine are causing the problem. When OmniSharp is selecting an instance of MSBuild to use, it's picking the Build Tools. You can address this in a few ways:

- Uninstall the build tools if you don't need them.
- Update the build tools to the latest version. It appears that you have an older version installed (15.3).
- Ensure that the

[2018-02-28 17:34] WallaceKelly commented on #2075
I used the Visual Studio Installer to do this...

![installer](https://user-images.githubusercontent.com/698424/36802665-90778f02-1c83-11e8-817f-dd64ed5568b8.PNG)

![fsharp](https://user-images.githubusercontent.com/698424/36802674-94136442-1c83-11e8-8dd4-3bf348eba1bf.PNG)

...I am no longer receiving errors.

Thank you @DustinCampbell !

[2018-02-28 17:34] #2075 closed

[2018-02-28 18:13] rchande commented on #2056
@ffes I filed https://github.com/Microsoft/vscode/issues/44761 for you since this is something that would probably be addressed by VS Code itself. I'm going to close this bug. Thanks for the suggestion!

[2018-02-28 18:13] #2056 closed

[2018-02-28 18:48] DustinCampbell commented on #2075
Not a problem. I'm glad it's working for you now.

[2018-02-28 20:37] rchande opened #2079 "Create sample projects to use while testing"
From the test plan:
[code]

[2018-02-28 21:45] dsarfati commented on #1963
I had a similar problem and found my solution in this duplicate? #2073. I added `/property:GenerateFullPaths=true` to my build args in my tasks.json files. Hope this helps.

[2018-02-28 22:48] DustinCampbell commented on #1963
This is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1197. You can workaround the problem by updating your tasks.json file as @dsarfati mentioned.

[2018-02-28 22:48] #1963 closed

[2018-03-01 00:49] gregg-miskelly commented on #2074
Thanks!

Can you try this, and let me know what error, if any is printed?

1. Open a command prompt
2. `cd /d "%USERPROFILE%\.vscode\extensions\ms-vscode.csharp-1.14.0\.debugger"`
3. `.\vsdbg-ui --server`
4. Go back to VS Code and open your .vscode\launch.json file
5. Add `"debugServer": 4711,` to your current configuration
6. Try and start debugging

Hopefully you will see an error printed that w

[2018-03-01 08:47] JohRest commented on #2074
Hi Gregg,

did what you’d suggested.

Same error in vscode. On the console I see the following:

Hope that helps.

Regards

Johannes

Von: Gregg Miskelly [mailto:notifications@github.com]
Gesendet: Donnerstag, 1. März 2018 01:50
An: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com>
Cc: Johannes Rest <johannes@jr-it-services.de>; Mention <mention@noreply.github.com>
Betreff: Re: [Omn

[2018-03-01 10:26] Xarkam commented on #1963
I just realized that I failed to specify that my build is done by a .bat file
Because we can not chain tasks in the launch.json file.
Using a build file, the error persists.

And yes I have the argument on the build line in my .bat file
`dotnet build /property:GenerateFullPaths=true`

I have to do this because I have to copy dll for the application to work.

The day the launch.json file will execu

[2018-03-01 13:26] DustinCampbell commented on #2069
Mono can be amazingly resilient on Linux. :smile:

[2018-03-01 14:59] robertmiles3 opened #2081 "OmniSharp.MSBuild.ProjectLoader "Could not write lines to file""
## Environment data
[code]
VS Code version: 1.20.1
C# Extension version: 1.14.0

## Steps to reproduce
Load project

## Expected  behavior
OmniSharp start without a problem

## Actual behavior
[code]
## Notes
I have this problem upon opening my project every time. VS Code is updated, as is the C# extension. I had an older version of Mono installed, so I upgraded that as well to the latest stable 5

[2018-03-01 15:20] gregg-miskelly commented on #2074
@JohRest unfortunately whatever you saw seems to have been stripped out of the email->git hub comment system. Can you try editing your comment in the web UI?

[2018-03-01 16:17] JohRest commented on #2074
it said:
accepted Connection from Client
FATAL ERROR: unable to load resource dll.
internal error in the Debugger
Client Connection closed

[2018-03-01 16:51] JohRest commented on #2074
btw: I saw you're with Microsoft; so from 2000 to 2008 we were colleagues. Best Company I've ever worked for.
Except for my own Company now. :-)

[2018-03-01 17:24] gregg-miskelly commented on #2074
:)

Thanks. What do you get from `dir "%USERPROFILE%\.vscode\extensions\ms-vscode.csharp-1.14.0\.debugger\1033`?

[2018-03-01 18:00] bengsfort commented on #1952
@DustinCampbell sorry for the late response, the output is:

[code]

It was all working as I swapped it to the correct position, but with the latest update it's all borked again so definitely eager to try and get it to a stable state.

[2018-03-01 20:51] JohRest commented on #2074
😉

Output:

C:\Users\johan>dir "%USERPROFILE%\.vscode\extensions\ms-vscode.csharp-1.14.0\.debugger\1033

Datenträger in Laufwerk C: ist System

Volumeseriennummer: 92EB-4520

Verzeichnis von C:\Users\johan\.vscode\extensions\ms-vscode.csharp-1.14.0\.debugger\1033

27.02.2018  11:49    <DIR>          .

27.02.2018  11:49    <DIR>          ..

               0 Datei(en),              0 Bytes

[2018-03-01 20:53] gregg-miskelly commented on #2074
Can you try removing your `.debugger` folder, and restarting VS Code? It looks like somehow some of the debugger files didn't get extracted from the download, though I have no idea how.

[2018-03-01 22:13] JohRest commented on #2074
It complains about the extension may be corrupt and needs to be reinstalled. Tried this, but the message remains

☹

Von: Gregg Miskelly [mailto:notifications@github.com]
Gesendet: Donnerstag, 1. März 2018 21:54
An: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com>
Cc: Johannes Rest <johannes@jr-it-services.de>; Mention <mention@noreply.github.com>
Betreff: Re: [OmniSharp/omnisharp-

[2018-03-01 22:19] gregg-miskelly commented on #2074
If you manually download this zip file and extract it to the .debugger folder do you see the 1033 directory along with the below files?

Zip file: https://download.visualstudio.microsoft.com/download/pr/11522728/3d79abf5bc635c3b55ad2ee590c1eb0e/coreclr-debug-win7-x64.zip

Files you should see:
[code]

[2018-03-01 22:22] JohRest commented on #2074
Not necessary. I removed the whole .vscode from my profile directory. Then reinstalled c# extension.

Now it works!

Thanks a lot!

Have a nice day in Seattle. BTW: is it raining? Still? 😉

Cheers

Johannes

Von: Gregg Miskelly [mailto:notifications@github.com]
Gesendet: Donnerstag, 1. März 2018 23:20
An: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com>
Cc: Johannes Rest <johannes@

[2018-03-01 22:40] gregg-miskelly commented on #2074
Glad you solved it! It is actually a fairly nice day today. :) Have a good one.

[2018-03-01 22:40] #2074 closed

[2018-03-02 05:30] csanthoshi commented on #1739
Hi @DustinCampbell

I am seeing the same issue as @pjdv2 mentioned. The Description would be

Environment:

vscode-ruby version: 0.16.0
VS Code version: 1.16.1
Ruby-Solargraph: 0.12.0
Description:
My Ruby Project Structure contains Page Object files in which I will be writing function Definitions inside Modules. So for each function definitions I will be writing the Function Description in Yaardoc

[2018-03-02 08:13] tsalinger opened #2083 "MSTest UnitTest file has "error" marks on testclass and method"
from @jrbobc
Copied from original issue: [Microsoft/vscode#44883](https://github.com/Microsoft/vscode/issues/44883)

### Issue Type
Bug

### Description

From the command line create a unit test project with "dotnet new mstest".
Open the project folder, go to the UnitTest1.cs file that is auto generated.
See the red squiggles.

https://github.com/jrbobc/mstest-src

The cs file, and csproj file.

#

[2018-03-02 09:27] mikes-gh commented on #168
@shanselman  bemoaning lack of razor support in vscode in [Feb 27th Community Standup](https://youtu.be/N_QZtEZRyuM?list=PL1rZQsJPBU2StolNg0aqvQswETPcYnNKL&t=3594)

[2018-03-02 09:41] glat commented on #168
+1

[2018-03-02 11:32] Xarkam commented on #1197
I my case, my build is done by a .bat file
Because we can not chain tasks in the launch.json file.
Using a build file, the error persists.

And yes I have the argument on the build line in my .bat file
dotnet build /property:GenerateFullPaths=true

I have to do this because I have to copy dll's for the application to work.

The day the launch.json file will execute tasks successively, then the wor

[2018-03-02 12:12] ghandmann commented on #1314
I have the same Problem. We are working on a bigger Solution where the ASP.NET Application is a .net Core Application while Client Applications live inside the solution as UWP Projects.

Currently it looks like that this problem cripples intelli sense in VS Code completely. Making it useless. Is there any way to tell OmniSharp only to index some projects?

[2018-03-02 15:35] gregg-miskelly commented on #1739
@csanthoshi This is the C# extension repo, so your problem is not related to this issue. You want to ask on the GitHub for the Ruby VS Code extension. I would also generally suggest against commenting on closed issues unless you are pretty sure the issues are related.

[2018-03-02 20:03] RheaAyase commented on #1744
To provide a little bit of an update, since there wasn't one, the issue was hacked up in our packages to somehow work, but the results are not guaranteed ;P

[2018-03-02 22:26] rchande commented on #2083
@tsalinger I'm having trouble reproducing this and would appreciate some more information from you
* If you hover on one of those squiggles, what is the error?
* What version of the .NET CLI are you on, and do you still see the problem if you upgrade to the latest release?

[2018-03-03 03:17] jrbobc commented on #2083
/home/mediacenter/Desktop/Screenshot at 2018-03-02 21-12-24.png
/home/mediacenter/Desktop/Screenshot at 2018-03-02 21-07-02.png
/home/mediacenter/Desktop/Screenshot at 2018-03-02 21-06-33.png
/home/mediacenter/Desktop/Screenshot at 2018-03-02 21-06-05.png
/home/mediacenter/Desktop/Screenshot at 2018-03-02 21-05-30.png

There are the scrren shots. I'm using the "latest" version of the cli (2.0.2) t

[2018-03-03 04:03] jrbobc commented on #2083
There is one other thing, that I had not considered when I filed the bug.

If you do the following commands
![image](https://user-images.githubusercontent.com/22580656/36930377-072cc670-1e65-11e8-80ad-29167710c6ff.png)

The MSTest will be a sub project within the main solution. That will generate the squiggles. However, if you do not open the "main" project in vs code, but open vs code within the

[2018-03-03 12:53] santosh commented on #243
@DustinCampbell I'm not sure where to add these lines to. And shouldn't be it in the setting we use to go to with `Ctrl+,`?

[2018-03-04 08:16] Actionintint opened #2085 "Display order of keywords and snippets in intellisense"
Is there a way to display snippets such as if, for, swicth, foreach etc. from the keyword to the top of intellisense or not display keywords?
![default](https://user-images.githubusercontent.com/20414138/36943592-3d854416-1fcf-11e8-9fe6-2be0e38f2c57.png)

[2018-03-04 09:32] SridharPasham opened #2086 ""Debug adapter executable 'vsdbg-ui.exe' does not exist" on Windows x86"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x86
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 173

[2018-03-04 10:21] crucialize opened #2087 "MVC view(.shtml) no intellisense."
There's no intellisene of the ViewModel when I edit the view(.shtml). (For example: Model.UserName ) . Actually I can't find any useful intellisense when editing shtml. The code can be compile succefully.  Besides, vs2017 has intellisene.

[2018-03-04 14:53] crucialize commented on #2087
In addition, it seems that there's completely no intellisense when editng .shtml

[2018-03-05 00:45] NakOh opened #2088 "Unity Project have some trouble."
## Environment data

`dotnet --info` output:
[code]
VS Code version:

Version 1.20.1(1.20.1)

C# Extension version:

1.14.0

## Steps to reproduce

Open Project ->

![2018-03-05 9 42 58](https://user-images.githubusercontent.com/7420198/36952984-e07fb202-2059-11e8-963a-41c5f722fec5.png)

## Expected  behavior

Don't Error

## Actual behavior

Log :
[code]

[2018-03-05 00:46] NakOh commented on #2088
Occurs after updating to the latest VS Code.

[2018-03-05 03:43] Actionintint opened #2089 "Expressions within array indexer not classified properly"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
Version 1.20.1
Commit f88bbf9137d24d36d968ea6b2911786bfe103002
Date 2018-02-13T15: 34: 36.336Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

C# Extension version:1.14.0

## Steps to reproduce
Write the product to the subscript of the array
Format the code

## Expected  behavior
Variable is highlighted in light bl

[2018-03-05 08:26] markusr commented on #1562
I can report that the remote debbugging works with vscode on a Ubuntu 16.04 x64 development machine. On the development machine dotnet core 2.1 preview1 was installed.

[code]

On the raspi I installed
[code]

Finally, I added ssh-login on the pi and modified the ```launch.json``` in vscode as described in the wiki.

I only tested Self Contained Deployment.

[2018-03-05 09:41] aemxdp commented on #2012
@leemorton @DustinCampbell
This approach doesn't make much sense. For example, I'm using Unity3d, it defines preprocessor directives for C# scripts externally (so they are not lexically visible), how to get intellisense working in this case? Personally, I would be happy if it just works always even if it wastes some processor cycles, but at least having a flag "csharp.alwaysPerformIntellisenseInsi

[2018-03-05 16:26] jemhuntr opened #2090 "Activating extension `ms-vscode.csharp` failed: Cannot find module 'jsonc-parser'."
## Environment data
`dotnet --info` output:

.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 17

[2018-03-05 18:20] gregg-miskelly commented on #2086
@SridharPasham The first time you activate the C# extension, the C# extension will open up an output window pain and show you information about the packages that it is downloading. Are you seeing this? What does it say?

![download-dependencies](https://user-images.githubusercontent.com/11078489/36992125-d0bfeb70-205e-11e8-8a93-ac10f95f4255.png)

[2018-03-06 12:39] Deilan commented on #2043
@gregg-miskelly Sorry for being late.

On the one hand, we have a Visual Studio with a capability to edit code and continue debugging session, which is very convenient. If there is a way to do the same in VS Code it would be great too. On the other hand we have nodemon in Node.js world, which could be used to automatically relaunch debug session after code was changed and changes were saved (not a

[2018-03-06 14:03] SridharPasham commented on #2086
@gregg-miskelly Tried to uninstall and reinstall C# extension. Did not find any output in OUTPUT window.
If I remember correctly I think it was giving x86 is not supported.

If you need exact message let me know how I can get that initial message.

[2018-03-06 15:26] d0rf3n commented on #243
I just found the exact same problem as @santosh above.

The snippets for "if", "for", etc don't follow the formatting settings or something.

The code...
[code]
...is created. And then when I format the document using format. It moves the braces to same line as if statement.

I also tried placing same FormattingOptions in a omnisharp.json file i both `HOME/.omnisharp/` and the project home. No dif

[2018-03-06 15:45] gregg-miskelly commented on #2086
Ah. Got it. Yes, the root problem is that we don't support x86 Windows (https://github.com/OmniSharp/omnisharp-vscode/issues/844).

But it looks like we broke our error messages for this scenario. @WardenGnaw Do you have the cycles to try and fix the error messages here?

[2018-03-06 18:15] WardenGnaw commented on #2086
@gregg-miskelly Yes. I'll take a look.

[2018-03-06 20:30] welkie commented on #168
I've been wondering where the support was for Razor in VSCode since I started using it last year. I understand it's hard to do since it is so tightly coupled to VS right now, but I'd love to see this prioritized. Heck, I'd even throw a few bucks into an OmniSharp [OpenCollective](https://opencollective.com/) or Patreon etc to see it happen. :P

A "workaround" I could suggest here is getting famili

[2018-03-06 21:05] hasahmed opened #2093 "reference assemblies for framework were not found."
The omnisharp part of the extension fails to load. The relevant error message is:
[code]
Originally vscode prompted me with a message saying that I should download the relevant SDK. I downloaded it but it didn't help. I am attempting to use this with Godot game engine.
## Environment data
`dotnet --info` output:
[code]

VS Code version:
Version 1.20.1
C# Extension version:
1.14.0

## Steps to repr

[2018-03-06 22:22] CalArabshahi opened #2095 "ProjectReference results in "type or namespace name 'System' could not be found" when Multi-Trageting"
## Environment data
`dotnet --info` output:
[code]

VS Code version:
1.20.1

C# Extension version:
1.14.0

## Steps to reproduce
1- Create a mstest project
2- Open the folder in VS Code; verify there are no errors; Close the Folder
3- use DOTNET ADD to add a ProjectReference outside of root directory to the mstest project. The Reference Project must have use **TargetFrameworks (multi-Target)** not

[2018-03-06 22:53] 0xabu commented on #903
I have the same issue -- I have a .csproj file I want to use, but it's being ignored in favour of other .sln files in the workspace tree. I've noticed that the file picker @DustinCampbell mentioned is a bit peculiar. If *any* .sln files exist in the workspace tree, only .sln files appear in the file picker and I can't use my csproj. If I start a new instance of vscode and just open the relevant su

[2018-03-06 23:13] 0xabu commented on #903
Update: after looking at [resourcesToLaunchTargets](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/omnisharp/launcher.ts#L55), I realised that I'm not in fact opening the csproj file I wanted, but just its containing folder (which has the same name, and is also functional).

So please ignore my comment above -- this bug is really just about the following TODO:

    // TODO:
    //

[2018-03-07 00:03] SirIntruder commented on #2040
@DustinCampbell @bitinn Just restarting omnisharp after renaming doesn't work, you actually have to focus on unity3d to let it update .csprojs, and THEN reload Omnisharp/Vscode. Much fun 😛

After I understood the problem (and realised Omnisharp can't fix this issue in general, unity3D project system is too quirky) I took the pain to write a separate small crude extension which:

-turns on if it de

[2018-03-07 01:44] jtlowe commented on #168
Yeah it’s pretty disappointing not to have support for something that is, in my opinion, fundamental to asp.net. And they continue to roll out all sorts of great things for Node, React and other stuff.

I’ve thought about going your route of the SPA and API calls myself to get away from razor. But then again, razor makes it easy to do a lot of great thing.

[2018-03-07 03:46] SridharPasham commented on #2086
@gregg-miskelly @WardenGnaw Looks like we to have to wait until C# supports x86. Is there any timeline  for x86 support? or do we have to fairly assume going forward vs code only works on x64?

[2018-03-07 11:34] ViceIce commented on #1908
Same here. This is blocking us from using vscode.

`dotnet --info`

[code]

vscode: 1.20.1
ms-vscode.csharp: 1.14.0

[2018-03-07 16:42] rchande commented on #2040
@SirIntruder Nice work! That's very cool. Any plans to publish that extension? I bet there would be a lot of interest. For our side, I'll take a look and see if we can listen to csproj changes.

[2018-03-07 19:17] rchande commented on #2093
@hasahmed That error message is asking you to install the .NET Framework 4.5 targeting pack. Since you are on OS X, you need to install Mono to get that targeting pack. Can you try that (http://www.mono-project.com/docs/about-mono/supported-platforms/osx/) and see if it helps?

[2018-03-07 19:20] rchande commented on #2090
@jemhuntr Can you try removing and reinstalling the C# extension?

[2018-03-07 19:21] rchande commented on #2089
@DustinCampbell Are you interested in taking this one?

[2018-03-07 19:24] rchande commented on #2088
@NakOh If you `dotnet build` your project, are there any errors?

[2018-03-07 19:24] rchande commented on #2087
We'd like to enable this at some point. It's tracked by #168.

[2018-03-07 19:24] #2087 closed

[2018-03-07 23:01] SirIntruder commented on #2040
thanks! I would like to, yet didn't want to publish it if it can't work without reloading vscode. But with "restart omnisharp" approach it may actually be just good enough for small-to-medium projects. Fingers crossed for listening to .csproj changes though, would fix a lot of the issues 😄

if anyone is brave enough to try this, I have uploaded .vsix here.
https://github.com/SirIntruder/unitysmoot

[2018-03-08 07:27] jemhuntr commented on #2090
@rchande Yup, have tried that with no success. Even tried disabling all extensions and installing the C# extension only. Even an entire VS Code install didn't help (perhaps I need to clean some cache/storage to completely delete and reinstall all dependencies?).

[2018-03-08 08:38] v-flyuan opened #2096 "Pop up an error dialog after clicking F5 for a JAVA function"
## Steps to reproduce
1)	install .NET Core 2.0, Azure Function Core Tools, VS Code Debugger for Java, JDK 1.8+ and Maven 3.0+
2)	Set Environment Variable
  a)	Check environment variable value:==> echo %JAVA_HOME% C:\Program Files\Java\jdk-9.0.4
  b)	Add JAVA_HOME to user variable with C:\Program Files\Java\jdk-9.0.4
  c)	Add the bin directory of apache-maven-3.5.2 to path environment variable(C:\P

[2018-03-08 09:13] v-flyuan commented on #2096
I have opened another issue in correct feature. Sorry for disturbing.

[2018-03-08 09:13] #2096 closed

[2018-03-08 12:34] gmono opened #2097 "When code is written in the async lambda function, the smart hints are not normal"
## Environment data
`dotnet --info` output:
.NET 命令行工具 (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 17373eb129b3b05a

[2018-03-08 21:41] rchande commented on #2095
@CalArabshahi What targets is your multitargeting project targeting?

[2018-03-08 21:46] rchande commented on #2097
@gmono Thanks for filing this. This appears to be a bug in the underlying Roslyn APIs used by the C# extension. I filed https://github.com/dotnet/roslyn/issues/25356 for you.

[2018-03-08 21:46] #2097 closed

[2018-03-09 05:13] crucialize commented on #2087
Thanks...fortunately I found another extention which is designed to solve this problem.

[2018-03-09 21:50] achandlerwhite commented on #1198
Just want add that I am still seeing this problem. I am using the 2.1-preview1 SDK, VS Code 1.21.0, omnisharp-vscode 1.15-beta1 on MacOS High Sierra.

If I run `dotnet build /clp:NoSummary` at my solution root, no summary is shown. In VS Code if I run the build task with the same command, each error is duplicated in the output window. If I fix the error one of the 2 errors goes away, but the other

[2018-03-09 21:59] DustinCampbell commented on #2012
Closing this as working as designed.

[2018-03-09 21:59] #2012 closed

[2018-03-09 22:06] DustinCampbell commented on #2089
This is a duplicate of https://github.com/dotnet/csharp-tmLanguage/issues/99. Essentially, `a * b` is being highlighted as a pointer type (e.g. `a* b`.

[2018-03-09 22:06] #2089 closed

[2018-03-09 22:18] DustinCampbell commented on #2081
Hi. Could you provide your complete OmniSharp Log? Additionally, if you have a project that we can reproduce this issue with, that would be very helpful. FWIW, typically, I've only seen this issue reported on Windows using certain anti-virus software (BitDefender).

[2018-03-09 22:20] DustinCampbell commented on #2083
@jrbobc: Could you provide your OmniSharp Log when this issue occurs? You can retrieve this by selecting View->Output in VS Code and choosing "OmniSharp Log" from the dropdown at the top-right corner of the Output pane.

[2018-03-09 22:58] DustinCampbell commented on #2088
This looks like a Unity project rather than a .NET Core project, so I'd expect `dotnet build` to fail.

@NakOh: Have you tried building your Unity project?

[2018-03-09 23:35] nguerrera commented on #1197
So it turns out that VS output window has the same problem (but you can use error list there) for .NET Core projects, but not classic projects. I could swear I checked that when I filed this bug, but @Pilchie doesn't think it's a regression. I am thinking maybe we should just change the default behavior for sdk-based projects to GenerateFullPaths=true.

[2018-03-10 01:51] tlhinman opened #2100 "Omnisharp, autocomplete, etc. not working for one project"
## Environment data
[code]
VS Code version: 1.21.0
C# Extension version: 1.14.0

## Steps to reproduce
Open a specific project of mine in the Unity editor. Double-click a C# file to open in VS Code.

## Expected  behavior
Get Intellisense capability, and be able to use Go To Definition.

## Actual behavior
Get no project-specific autocompletion, and Go To Definition yields "No definition found for

[2018-03-10 02:19] jrbobc commented on #2083
Here is the OmniSharp Log:
[code]

[2018-03-10 02:30] jrbobc commented on #2083
And here is the "Problems" Tab.
![image](https://user-images.githubusercontent.com/22580656/37237334-6f909364-23d7-11e8-9bc4-d630c09f97bc.png)

And it does see the Asserts in the Intellisense. Even though they have the red squiggles that make it look like it shouldn't.
![image](https://user-images.githubusercontent.com/22580656/37237364-d7f0f692-23d7-11e8-96ac-f33b924b4df7.png)

I was doing some m

[2018-03-10 06:35] hasahmed commented on #2093
@rchande I have mono installed. This is the output of `mono --version`
[code]

Its in my PATH and everything. I'm not sure what the issue is.

[2018-03-10 21:54] mjsabby commented on #168
@egamma At the Visual Studio for Mac UserVoice there seems to be a change in status for Razor Intellisense from whatever it was to "Planned" (On Jan 26th). I'm assuming this means C# + Razor mixed together. How are they doing it? [1]

Short of some VSCode support (or is that in the Language Server?) couldn't we make a composite language service whose first job is to take the Razor CSHTML file + al

[2018-03-11 03:00] david-driscoll commented on #168
Update!

The Microsoft MVP summit was last week, and I got a chance to sit with the guys that work on the Razor Language and Tooling.  It was a great conversation, and will hopefully lead to some form of Razor support in the near future.

1) The new tooling is open source at https://github.com/aspnet/Razor
  * The goal will be to adapt this tooling to work with OmniSharp (more below)
2) VSCode doe

[2018-03-11 04:43] bboyle1234 commented on #82
For Visual Studio people searching on this issue:
[code]

[2018-03-11 10:52] jdvor opened #2102 "Code analysis result fails to navigate to the file on mouse click"
## Environment data
dotnet --info
[code]

**VS Code version:**
Version 1.20.1
Commit f88bbf9137d24d36d968ea6b2911786bfe103002
Date 2018-02-13T15:34:36.336Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

**C# Extension version:**
ms-vscode.csharp 1.14.0

**Other extensions:**
adamvoss.yaml
bungcip.better-toml
cake-build.cake-vscode
dbankier.vscode-instant-markdown
donjayamanne.gith

[2018-03-11 15:41] NillsF opened #2103 "Omnisharp not loading consistently."
## Environment data
`dotnet --info` output:

[code]
VS Code version: 1.21.0
<img width="279" alt="image" src="https://user-images.githubusercontent.com/6205923/37255210-824c65d2-2549-11e8-87aa-6abf371ed108.png">

C# Extension version: 1.14.0

## Steps to reproduce
OmniSharp doesn't load when creating a new console app:

[code]
--> Omnisharp doesn't load. No Intellisense, no promp for debug/build f

[2018-03-11 18:33] crystalbyte commented on #2040
I have stumbled upon the same issue, is there any update on this?

[2018-03-11 19:11] SirIntruder commented on #2040
I was debugging today and I am pretty sure what is the issue. Omnisharp correctly listens to csproj. files, that was not the problem..

Issue was omnisharp's handling of .cs files which are not in any csproj, which @DustinCampbell mentioned. IIRC it finds first folders with project files and links new/renamed file to *all* of the found projects in that folder. In Unity case, all of its csprojs are

[2018-03-12 10:52] pallapo opened #2104 "debug adapter process has terminated unexpectedly"
## Environment data
`dotnet --info` output: 2.0
VS Code version: Version 1.22.0-insider (1.22.0-insider)
## os
Macos version 10.13.3

## EXCEPTIONS

Exception Type:        EXC_CRASH (SIGABRT)
Exception Codes:       0x0000000000000000, 0x0000000000000000
Exception Note:        EXC_CORPSE_NOTIFY

## CRASHED THREAD

Thread 12 Crashed:
0   libsystem_kernel.dylib        	0x00007fff65b04e3e __pthread_ki

[2018-03-12 15:00] lferrao commented on #1551
The last update to this issue was 8 months ago, were you able to find a fix @objectref ? @DustinCampbell do you know why the standard core SDK may be installing without XML documentation? F12 goes to definition from metadata, but this metadata has comments as seen in standard visual studio,  OmniSharp doesn't seem to use them though.

[2018-03-12 16:17] rchande commented on #2083
@jrbobc I think your analysis is correct: projects created using `dotnet new` need to be in distinct subdirectories. The "globbing" support of the project file means that in the directory structure:
[code]
OmniSharp will count b.cs as a member of a.csproj if you open the A directory. That would lead to the error squiggle you saw, since a.csproj might not have the same references as b.csproj. Note

[2018-03-12 16:17] #2083 closed

[2018-03-12 17:12] gregg-miskelly opened #2105 "Remote Debugging on Linux ARM64 not Available"
https://github.com/OmniSharp/omnisharp-vscode/issues/1562 tracks adding ARM remote debugging support, but ARM64 is still not supported. This issue tracks adding ARM64 support.

Note that currently the .NET Runtime doesn't have official builds for ARM64, and this item is unlikely to be worked on until the Runtime decides to add official support.

[2018-03-12 17:57] DustinCampbell commented on #2100
Hi! Could you provide your OmniSharp Log after opening the project in VS Code? You can retrieve this be selecting View->Output from the VS Code menu and then choosing "OmniSharp Log" from the top-right corner of the Output pane.

[2018-03-12 17:59] DustinCampbell commented on #2093
@hasahmed. Did you install the full Mono MDK? Or, did you just `brew install mono`?

[2018-03-12 18:06] DustinCampbell commented on #2102
This looks like a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1197.

[2018-03-12 18:06] #2102 closed

[2018-03-12 18:44] tlhinman commented on #2100
`Starting OmniSharp server at 2018-3-12 11:35:04
    Target: /Users/myname/Dev/UnityGames/MyGame/MyGame.sln

OmniSharp server started wth Mono
    Path: /Users/myname/.vscode/extensions/ms-vscode.csharp-1.14.0/.omnisharp/omnisharp/OmniSharp.exe
    PID: 6985

﻿[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on MacOS 10.12.6 (x64)
[info]: OmniSharp.MSBuild.Discovery.MSBuildLocator
        L

[2018-03-12 18:45] tlhinman commented on #2100
[code]

[2018-03-12 20:20] SirIntruder commented on #2040
[omnisharp_bug_repro.zip](https://github.com/OmniSharp/omnisharp-vscode/files/1804264/omnisharp_bug_repro.zip)

Of course! I uploaded an archive of my test project. I tried to step through omnisharp code while reproducing this, it went something like this:

- TestClassA.cs is in "Assets/", which unity algorithm assigns to "assembly-csharp.csproj", and dummy.cs is in "Assets/Plugins/", which unity

[2018-03-13 07:59] tsalinger opened #2106 "Cannot execute 2 times debug of unit test"
Author is @massimilianokraus.
---
Issue Type: <b>Bug</b>

Just the official C# extension.
MSTest unit test.
I click the little gray "debug test" under the TestMethod Attribute. The first time the unit test is executed well.
But if I click again "debug test", in the output it says "Debugging method <method-name>...", and it remains blocked there forever.
I must close the window and reopen it to mak

[2018-03-13 09:05] SheGe commented on #2090
@jemhuntr Had the same and these steps helped me:
* Uninstall VSCode
* Remove `.vscode` directory from user home
* Install VSCode
* Install all extensions again

[2018-03-13 18:31] tlhinman commented on #2100
Update: This problem... fixed itself? I don't know what happened, but the flame now says "MyGame.sln" and things are working as expected. Advice still appreciated in the event this crops up again, but for now I think I'm good.

[2018-03-13 18:32] ruant opened #2107 "Filter Intellisense, sort by most likely action wanted"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version: 1.14.0

## Steps to reproduce
[code]
## Expected  behavior
I would expect `Test` to be at the top of the list, since this is the most likely thing I'm after.

## Actual behavior
Alphabetically ordered list with A LOT of crappy suggestions.

[2018-03-13 20:01] DustinCampbell commented on #2100
Did you happen to build your project before it fixed itself?

[2018-03-13 20:05] tlhinman commented on #2100
I think I only used the Play button in the Unity editor. Not sure if that counts.

[2018-03-13 20:08] DustinCampbell commented on #2100
I would expect that to count, yes.

[2018-03-13 20:12] tlhinman commented on #2100
Righto, then. I'm happy to close this for now.

[2018-03-13 20:12] #2100 closed

[2018-03-14 07:50] aeschli opened #2109 "ef generated model requires restart"
_From @PeterWone on March 14, 2018 1:17_

Issue Type: <b>Bug</b>

To repro
-

Having generated an EF model from a MSSQL db using CLI as follows

[code]

Open the generated mydbDbContext.cs file and remove the warning pragma because one must move the connection string into config in order to deploy.

## Observations
1. Immediately you edit, vast numbers of errors are reported because the generated

[2018-03-14 09:32] jemhuntr commented on #2090
@SheGe Thanks! That did the trick for me.

[2018-03-14 09:32] #2090 closed

[2018-03-14 12:47] johnkors opened #2110 "Add option to disable "some projects had problem opening" warning popup"
In the latest version of VS Code, where the alerts are shown in the bottom right, I seem to get a stupid amount of these during a re-build.

"Some projects have trouble loading. Please review the output for more details."
"Some projects have trouble loading. Please review the output for more details."
"Some projects have trouble loading. Please review the output for more details."
.
.
.
.
Did we h

[2018-03-14 15:45] AgileQ opened #2111 "Extensions download / installation failure"
## Environment data
`dotnet --info` output:
VS Code version:1.21
C# Extension version:latest

## Steps to reproduce:
going thru open proxy
sites white listed as par VS Code documentation
install extension,
Reload VSCode
open project
Extensions fail to install

## Expected  behavior:

## Actual behavior See 2nd picture.
![image001](https://user-images.githubusercontent.com/8042006/37412663-c1181782

[2018-03-14 17:01] gregg-miskelly commented on #2111
@AgileQ usually this means that you need to configure HTTP proxy settings in your VS Code settings. Here are various other issues people have run into that might be helpful: https://github.com/OmniSharp/omnisharp-vscode/issues?utf8=%E2%9C%93&q=is%3Aissue+central+directory+

[2018-03-14 18:36] rchande commented on #2110
@johnkors This is a good feature request--thanks for filing.

[2018-03-14 18:39] rchande commented on #2109
@aeschli it sounds like omnisharp isn't picking up some of the code that's generated when you run your scaffold command. Do you know what files it updates? Generally, we should be picking up changes to generated cs files, but we might miss them if it's also updating csproj files at the same time.
BTW, instead of restarting VS Code, you can simply restart omnisharp using the "restart omnisharp" com

[2018-03-14 18:42] rchande commented on #2107
Sounds like we need to implement "object initializer" completion like Roslyn has. @DustinCampbell Would this be covered by your CompletionService PR?

[2018-03-14 18:43] rchande commented on #2106
@akshita31 Want to take a look?

[2018-03-14 19:04] rchande commented on #2103
@NillsF What other extensions do you have installed? I wonder if something else is hijacking activation for C# files.
Also, can you try deleting %userprofile%/.vscode/extensions/ms-vscode.csharp-1.14.0 and %userprofile%/.omnisharp ?

[2018-03-14 19:09] rchande commented on #2085
@Actionintint the option "editor.snipppetSuggestions" lets you control where in the list snippets appear. If you set it to "top" snippets will always appear before keywords. If you set it to "bottom", they will always appear after keywords. "none" disables them. Can you try setting one of those options and see if it meets your needs?

[2018-03-14 20:06] brokenbacon opened #2112 "Show Fixes -> Generate type in new file creates an empty file"
## Environment data
`dotnet --info` output:

[code]

VS Code version:

![image](https://user-images.githubusercontent.com/31377202/37427320-0d5e7de6-2797-11e8-8e9c-3bc26287aa6c.png)

C# Extension version:

1.14.0

## Steps to reproduce

1. Open or Create a C# project.
[code]
1. Open any C# file. I used `Startup.cs`.
1. Type MyClass abc
1. Click on Show Fixes, or press `Ctrl + .`
1. From the list o

[2018-03-14 20:21] aeschli commented on #2109
@PeterWone reported the issue. Peter, can you reply to Ravi?

[2018-03-14 21:17] rchande commented on #2106
Repros on OS X, not Windows.

[2018-03-14 22:01] HutzlerGregg opened #2113 "Who your see."
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce

## Expected  behavior

## Actual behavior

[2018-03-14 22:02] PeterWone commented on #2109
I'll have to work up the problem to check but it adds to the project at minimum a folder (if not already present) and two cs files. So it would have to update csproj.

[2018-03-14 23:53] AgileQ commented on #2111
Problem fixed. Thanks

[2018-03-14 23:53] #2111 closed

[2018-03-15 02:35] brokenbacon commented on #2112
When I click on "Generate Class" (in the same text file), it works fine.

[2018-03-15 03:01] Actionintint commented on #2085
By setting that option to "top", I was able to realize my desired behavior.

Thank you.

[2018-03-15 03:01] #2085 closed

[2018-03-15 06:37] johnkors commented on #2110
Can I ask in general - why are many of these OmniSharp WARNs turning into a _pop-up_? Pop-ups are so intrusive in the UI. In full blown Visual Studio they are kept in the debug log/ error log, which one can look into if one wants.

[2018-03-15 07:51] #2113 closed

[2018-03-15 15:06] rchande commented on #2110
@johnkors There were no changes in the extension. VS Code changed how they display notifications (https://code.visualstudio.com/updates/v1_21#_new-notifications-ui). I would recommend filing bugs in [their repo ](https://github.com/Microsoft/vscode) with feedbac.

[2018-03-15 16:48] Merlin2001 commented on #82
Additional note for Visual Studio people:

Make sure to set @bboyle1234's suggestion here:
[code]

[2018-03-15 18:08] johnkors commented on #2110
Right, it changed from the top center, to bottom right. But it's still OmniSharp triggering the pop-ups.

[2018-03-15 18:35] gregg-miskelly commented on #2104
@pallapo sorry for not getting to this sooner. I can't tell exactly what the problem is from that stack, but I can add a try/catch in there to at least stop things from crashing and log data with more information about what the problem is. I am on vacation. I will see if someone else from the debugger team can help you, and if not, we can put out a private .vsix of the extension when I get back th

[2018-03-15 18:36] DustinCampbell commented on #2107
Yes.

[2018-03-15 18:37] gregg-miskelly commented on #2104
Actually, I did fix one bug in 1.15-beta1 that might fix this. Would you mind trying the latest beta and see if it still happens?

Instructions: https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases

[2018-03-16 04:26] aohajin commented on #2088
@DustinCampbell building the unity project will not help.

[2018-03-16 08:49] tsalinger opened #2115 "VSCode insists on complaining if dotnet cli is not on the path in non-dotnet project"
Original author is <a href="/zivcaspi">
      <img class="avatar rounded-1" height="44" width="44" alt="@zivcaspi" src="https://avatars0.githubusercontent.com/u/3773221?s=88&amp;v=4">
    </a>@zivcaspi
---
### Issue Type
Bug

### Description

Open VSCode. If dotnet cli is not on the path, VSCode complains (even if there's nothing related to dotnet open). If some extension has failed, VSCode compla

[2018-03-16 09:44] NillsF commented on #2103
This is all I have installed for the moment: <img width="284" alt="image" src="https://user-images.githubusercontent.com/6205923/37513756-393cda3c-2906-11e8-9142-37f66d3c64c2.png">

I removed both folders and re-installed the C# extension. It works now. Thx!

[2018-03-16 09:44] #2103 closed

[2018-03-16 14:35] pgoral opened #2116 "Errors are only shown when the file has been modified"
Errors are only shown when the file has been modified.
Unmodified files is not processed by omnisharp. Errors are not highlighted in editor. No codelens. No records in Problems view. Files in explorer are not marked with red font.
When file is modified (added whitespace character) omnisharp starts processing this file.
Other files with errors are not processed.
You can watch it here:
[https://prnt

[2018-03-16 15:17] pgoral commented on #2116
After deleting .vscode folder everything works fine.

[2018-03-16 16:26] DustinCampbell commented on #2088
@aohajin : Why would it not help? Based on the error, my assumption is that the project is expecting to find a binary on disk that isn't present.

[2018-03-16 16:28] DustinCampbell commented on #2115
@zivcaspi: You can disable this warning in your VS Code settings by setting `"csharp.suppressDotnetInstallWarning"` to `false`.

[2018-03-17 09:08] dmadden51 commented on #290
I just now installed VS Code today and started a tutorial.  When running F5 or Ctrl-F5 I was getting an error that the .dll was not valid.  The fix was easy and was due to the default entry not having the full path.

![image](https://user-images.githubusercontent.com/5831059/37553564-265a877a-29a1-11e8-8a41-b7f8a6196a38.png)

[2018-03-18 11:18] inox99 commented on #1916
I got the same problem, (in my case) creating a cordova project, adding a windows platform and loading plug-ins.
So if there is a .sln-file AND you have Visual-Studio installed, maybe you get further help, if you open the sln-file with Visual Studio getting a Migration Report.
I assume if Visual-Studio can't build, OmniSharp can't also, as it uses the same build engine.

[2018-03-18 18:14] gamefish commented on #2040
Same issue here. I have to restart vscode each time I create a new c# file. Annoying :)

[2018-03-18 19:32] austincummings opened #2123 "Intellisense not showing some properties in `HttpClientHandler`"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.21.0
C# Extension version: 1.14.0

## Steps to reproduce
1. Create a new netstandard2.0 project - `dotnet new classlib`
2. Open project in VS Code and wait for Omnisharp to start
3. Put following into `Class1.cs` file
[code]
4. Put cursor after `Server` and hit `Ctrl+space` for intellisense popup

## Expected  behavior
Expect to

[2018-03-19 09:06] zivcaspi commented on #2115
Doesn't work -- I have this in my user settings, and I'm still getting this from the C# extension (ms-vscode.csharp). This happens even if there's no tab open on a .cs file, BTW. If VSCode thinks I'm in the context of some C# project, I'm getting this warning (now displayed on the bottom right). Strangely, there's no option to "close" the workspace while leaving the "scratch" tabs (editor tabs tha

[2018-03-19 12:30] DiegoGFritz commented on #1777
I have experienced the same problem after running the command "**dotnet new xxxx**"

-    VSCode Version: 1.21.1 (x64)
-    OS Version: Microsoft Windows 10 Enterprise x64 version 1709 (OS build 16299.309)

**Steps to Reproduce:**
------------------------------
1.   Create a workspace with many projects
2.   Create a new folder in somewhere
3.   Run the command "**dotnet new classlib -n xxxx -o yy

[2018-03-19 12:37] robertmiles3 commented on #2081
Here's the OmniSharp log. I can't give you the project as it is proprietary.

[code]

[2018-03-19 16:58] DustinCampbell commented on #2123
FWIW, this repro has the same behavior in Visual Studio 2017 and is working as designed. The reason that `ServerCertificateCustomValidationCallback` doesn't appear in IntelliSense is because it is marked with an `[EditorBrowsable(EditorBrowsableState.Never)]`. This attribute is intended to be used by library to hide items from IntelliSense.

[2018-03-19 16:58] #2123 closed

[2018-03-19 16:59] DustinCampbell commented on #2115
Sorry, that was my bad. I said `false`, but it should have been `true`. You _want_ to suppress it.

[2018-03-19 17:00] DustinCampbell commented on #1777
@DiegoGFritz: Your experience is a different issue. If VS Code is already open, the OmniSharp server won't discover new projects. You can get OmniSharp to reload the projects by running `Restart OmniSharp` from the VS Code command palette.

[2018-03-19 17:58] DiegoGFritz commented on #1777
Ok. Thanks for the reply. I will try it

[2018-03-19 20:21] timjroberts opened #2124 "Fails to load a project that uses an additional SDK reference"
The extension fails to load .csproj files where additional SDKs have been specified as per the MSBUILD 15.6 "Sdk" Design concept.

## Environment data
`dotnet --info` output:
[code]
VS Code version: **1.21.1**
C# Extension version: **1.14.0**

## Steps to reproduce
Create a .csproj file that references an additional SDK. In my particular example, I have:
[code]
In this example, `TypeScript.Sdk` ha

[2018-03-19 22:03] DustinCampbell commented on #2124
This issue was moved to OmniSharp/omnisharp-roslyn#1138

[2018-03-19 22:03] #2124 closed

[2018-03-19 22:05] DustinCampbell commented on #2124
Thanks for reporting this. I've moved the issue to the omnisharp-roslyn repo, since it's more about OmniSharp than C# for VS Code. It will be a bit before this feature makes it's way into OmniSharp. However, you *may* be able to get it to work by installing the latest Mono MDK (http://www.mono-project.com/download/) if the new MSBuild feature has made its way into Mono. C# for VS Code will use the

[2018-03-19 23:52] brokenbacon commented on #2112
I installed the current version on VS Code Insider, and on previous VS Code versions but I still had the same issue. So it looks like this issue is not coming from VS Code but more of this extension itself.

I installed v1.13.1 (https://github.com/OmniSharp/omnisharp-vscode/releases) and the issue was gone. I can generate a new type in a new file.

The version v1.14.0 appears to have introduced th

[2018-03-20 00:00] brokenbacon commented on #2112
For a future note to myself and for anyone trying to reproduce:

To disable auto updating extensions:

![screen shot 2018-03-19 at 6 58 33 pm](https://user-images.githubusercontent.com/31377202/37628478-9603c5c0-2ba7-11e8-962c-4a844d2aeedb.png)

To install a specific version of Extension:

- https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

Click on the "Install fro

[2018-03-20 05:17] NakOh commented on #2088
How to build dotnet Build?

.NET Core용 Microsoft (R) Build Engine 버전 15.5.179.9764
Copyright (C) Microsoft Corporation. All rights reserved.

MSBUILD : error MSB1011: 사용할 프로젝트 또는 솔루션 파일을 지정하십시오. 이 폴더에 프로젝트 또는 솔루션 파일이 두 개 이상 있습니다.

It's korean.

It means. One More Project or Solution in Folder

And

.NET Core용 Microsoft (R) Build Engine 버전 15.5.179.9764
Copyright (C) Microsoft Corporation. All righ

[2018-03-20 08:20] timjroberts commented on #2124
Thanks @DustinCampbell. I'll update the MDK and see if that flies too.

[2018-03-20 08:37] timjroberts commented on #2124
Installing Mono 5.10.0 resolves the issue. The solution and projects load as expected and code-lens/autocompletion support works as normal.

_Wished I had tried that first_.

[2018-03-20 16:26] brokenbacon commented on #2112
This issue is not fixed in the most updated beta version [v1.15.0-beta3](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.15.0-beta3)

[2018-03-20 16:28] DustinCampbell commented on #2088
@NakOh: @rchande's suggestion won't work. Building a Unity project with `dotnet build` will not work. Have you tried building it with `xbuild` from your Mono installation?

[2018-03-20 16:28] DustinCampbell commented on #2124
Glad to hear it!

[2018-03-20 16:29] DustinCampbell commented on #2112
Thanks for the added detail @brokenbacon! @rchande, could this have been broken with some of your code action changes in 1.14?

[2018-03-21 08:51] aohajin commented on #2088
@DustinCampbell because the dll required was not at the place where omnisharp thought it should be..
for my case
![image](https://user-images.githubusercontent.com/502988/37700734-935f589e-2d27-11e8-8fcc-be479b701aac.png)

but Unity(5.6.5f1) actually put the dll here:
C:\xiimoon\Ngame\Library\ScriptAssemblies\Assembly-CSharp.dll

[2018-03-21 10:21] ruant commented on #43
Any progress on this lately?
Are we waiting on your work @savpek ? 👍

[2018-03-21 12:20] robertmiles3 commented on #2081
I figured this out, so I'm closing it.

For reference, I had previously wanted a named `applicationUrl` in my `launchSettings.json` during development as opposed to a localhost with port. To do that, you then have to always `sudo` while doing a `dotnet watch run`. However, that then creates the `bin` and `obj` folders with sudo permissions and omnisharp couldn't write to them.

[2018-03-21 12:20] #2081 closed

[2018-03-21 12:36] nesshoever commented on #1431
Seems to be happening again with the insider build:
[code]

[2018-03-21 14:37] DustinCampbell commented on #2081
Oh wow! Good sleuthing @robertmiles3!

[2018-03-21 15:35] gregg-miskelly commented on #1431
@nesshoever Is this the full error message you are getting?

Error processing 'configurationDone' request. Unknown Error: 0x89720010

[2018-03-21 16:02] nesshoever commented on #1431
@gregg-miskelly Yes, that's it:
Error processing 'configurationDone' request. Unknown Error: 0x89720010

[2018-03-21 16:08] gregg-miskelly commented on #1431
I opened https://github.com/Microsoft/vscode/issues/46270 for this.

[2018-03-21 17:39] bpasero commented on #1431
@nesshoever OS?

[2018-03-21 18:15] adashen commented on #1959
@rchande  I could also reproduce this issue in a simple .csx script (not a azure function)
![image](https://user-images.githubusercontent.com/1872137/37729028-15bd101c-2cf9-11e8-984a-7744e50f09b6.png)

The code just ref a nuget package AutoMapper, 6.2.2. And the code could run, but the intellense does not work.

[2018-03-21 19:32] nesshoever commented on #1431
@bpasero Ubuntu 16.04 x64

[2018-03-21 21:28] Serg61 commented on #1967
issue occurred on vs.code
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:47.128Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

dotnet --info:
Product Information:
 Version:            2.1.101
 Commit SHA-1 hash:  6c22303bf0

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base

[2018-03-21 21:42] DustinCampbell commented on #2088
FWIW, to work with Unity, I recommend installing mono from brew like so:

[code]

rather than

[code]

The latter does not include large swaths of Mono, including Mono's msbuild (which OmniSharp will use if present).

[2018-03-21 21:46] Leopotam commented on #2088
@DustinCampbell  standard `mono` package was broken half year ago, now it works, I use it instead of `cask mono-mdk`:
[code]

[2018-03-21 21:47] DustinCampbell commented on #2088
it works now? Cool! I haven't looked at it in quite awhile.

[2018-03-21 21:50] Leopotam commented on #2088
[code]
+ 2 packages:
[code]

[2018-03-21 21:51] DustinCampbell commented on #2088
I just tried `brew install mono` and it still doesn't include Mono's MSBuild. So, installing the MDK is still needed to allow more project types to work with C# for VS Code. However, if it works for you -- great!

[2018-03-21 21:56] Leopotam commented on #2088
Well, it works for unity projects on osx, I dont care about vscode as standalone C# development editor, only as IDE-companion for unity.

[2018-03-21 21:59] Leopotam commented on #2088
@DustinCampbell btw, I checked omnisharp log, it filled with warnings too, but no errors and intellisense works correctly.

[2018-03-22 00:48] NakOh commented on #2088
OK. I installed

brew install mono
brew cask instasll dotnet
brew cask install dotnet-sdk
brew cask install mono-mdk

There was no problem with the original operation, but I was constantly concerned about this warning.

![2018-03-22 9 47 17](https://user-images.githubusercontent.com/7420198/37745059-1e5a155e-2db6-11e8-9812-fa7f010c78d2.png)

I will give up and just use vsCode..

[2018-03-22 02:25] DaLiangLee commented on #1362
Glad to hear it!

[2018-03-22 03:52] liangmah commented on #1028
the Subdirectories of 1.14.0 in Windows 10 has been changed to:
for coredlr: .../ms-vscode.csharp-1.14.0/.debugger
for omnisharp: .../ms-vscode.csharp-1.14.0/.omnisharp

[2018-03-22 03:59] N3pp commented on #243
For those who also want to change the snippets:

Open
`%USERPROFILE%\.vscode\extensions\ms-vscode.csharp-1.15.0-beta3\snippets\csharp.json` or
`%USERPROFILE%\.vscode\extensions\ms-vscode.csharp-1.14.0\snippets\csharp.json` (for stable release)

then use "Find and Replace" (CTRL+H/F) with regex option enabled to replace
`",\n        ]"{"`
with
` {"`
then apply for all then restart OmniSharp with co

[2018-03-22 06:18] shanselman commented on #1953
Getting close https://github.com/shanselman/dotnetcoreunittestingwithcoverageinvscode/blob/master/readme.md

[2018-03-22 06:44] markau commented on #2076
Confirming this bug. VSCode 1.21.1 (32 bit)

[code]

[2018-03-22 08:27] NakOh commented on #2088
@Leopotam
Yeah. No Error Yes Warning.
I might ignore this problem.
but I do not want to see the warning.
Why should I look at the warning text that there are no problems?

i want to fix this problem..

[2018-03-22 08:30] Leopotam commented on #2088
I dont remember (I dont see any settings at my prefs about it), but there is "gear" button at notification window, maybe you can tweak this behaviour through some settings there?

[2018-03-22 08:35] NakOh commented on #2088
@Leopotam
It is only a temporary solution, and I want a fundamental solution.
I hope that OmniSharp's Development Team will be able to solve this problem.

[2018-03-22 08:40] Leopotam commented on #2088
@NakOh ahaha, you have the sense of humor :D You can check last year of development in commits list - they fixed only unit-tests support, nothing more. All critical fixes were did by community PRs. So, if you want to see how MS-team works - you will die for age first. If you want to see solution - you should doing it by yourself and make PR.

[2018-03-22 08:51] NakOh commented on #2088
@Leopotam
I am grateful for the good points and will try to solve the problem.
Thank you~

[2018-03-22 11:34] Ollebolle opened #2129 "Omnisharp crashes for unknown reason"
## Environment data
`dotnet --info` output:

[code]

VS Code version:
```Version 1.21.1 (1.21.1)```

C# Extension version:
```1.14.0```

## Expected  behavior

No crash and working Intellisense.

## Actual behavior

![screen shot 2018-03-22 at 12 31 57](https://user-images.githubusercontent.com/6459177/37768208-0bbadc6e-2dcd-11e8-84b1-97227e18267a.png)

Omnisharp crashes with this log:
[code]

Any

[2018-03-22 12:52] ghandmann commented on #1694
Is there any progress so far with this? Currently this issue renders VS Code useless for me, since the whole IntelliSense is broken down, because of one subproject. Quite frustrating.

[2018-03-22 15:38] rchande commented on #2088
Hi @NakOh @Leopotam The warning about project load issues may or may not reflect a problem. OmniSharp raises this warning if there are actual issues loading the project, or if there are MSBuild warnings when building/restoring the project. We plan to fix this via https://github.com/OmniSharp/omnisharp-vscode/issues/2110.

You can verify that these warnings are ignorable by building/restoring your

[2018-03-22 16:52] gregg-miskelly commented on #290
@dmadden51 do you have an example project file that demonstrates this? What is happening is that the build system is building files to 'bin/HPD' but OmniSharp doesn't understand this and thinks the project is building to 'bin'. So I would be interested in understanding how your build system configures the output path.

[2018-03-22 18:28] eaglexiang commented on #1512
@developerTN just run command like:

[code]

[2018-03-22 20:16] bolte-17 commented on #2095
I can confirm this issue with a multitargeted netstandard2.0 + net47 project reference. Changing projects in the solution to `<TargetFramework>netstandard2.0</TargetFramework>` got rid of the thousands of "System not found" errors.

[code]
VS Code 1.21.1
Extension ver. 1.14.0

[2018-03-22 23:33] dforsyth-iit opened #2130 "VSCode No Symbols Loaded for Full .NET Debugging With IIS"
## Environment data
`dotnet --info` output:
`.NET Command Line Tools (2.1.101)

Product Information:
 Version:            2.1.101
 Commit SHA-1 hash:  6c22303bf0

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.101\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.6
  Build

[2018-03-22 23:36] dforsyth-iit commented on #2130
I have also tried adding:

`"symbolPath": [
                "${workspaceRoot}/../../bin"
            ]`

To the launch.json

[2018-03-22 23:59] dforsyth-iit commented on #2130
I've done some more digging and it looks like it's trying to use the .NET core debugger, so it's failing to load full .NET symbols.

`WARNING: Could not load symbols for 'MyLibrary.dll'. 'C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Temporary ASP.NET Files\root\46b682b8\ce6702c4\assembly\dl3\56675e51\8784d879_33c2d301\MyLibrary.pdb' is a Windows PDB. These are not supported by the cross-platfor

[2018-03-23 00:16] gregg-miskelly commented on #2130
No, it does have limited support for .NET Core, but you are running into one of the two big limitations that the article you pointed to lists - this extension only supports portable PDBs.

You can configuration your project to build portable PDBs: https://github.com/OmniSharp/omnisharp-vscode/wiki/Portable-PDBs#csproj

[2018-03-23 00:18] dforsyth-iit commented on #2130
Thanks for the reply! If I replace `<DebugType>full</DebugType>` with `<DebugType>portable</DebugType>`, my project fails to build with the message `CSC : error CS1902: Invalid option 'portable' for /debug; must be full or pdbonly`. Any suggestions?

[2018-03-23 00:21] gregg-miskelly commented on #2130
This means you are using a C# compiler that is too old. Anything from the last ~2 years will 'portable' debug type. Where are you getting your C# compiler from?

[2018-03-23 00:39] gregg-miskelly commented on #2130
Sorry, what I mean is - where are you getting msbuild from? (ex: did you install some version of full Visual Studio).

The options that I am aware of:
- You can install full VS - https://www.visualstudio.com/
- I haven't done this personally, but can install the build tools - https://www.visualstudio.com/thank-you-downloading-visual-studio/?sku=BuildTools&rel=15
- You can use the compilers from a

[2018-03-23 00:42] dforsyth-iit commented on #2130
Oh, sorry. I have Visual Studio 2017 installed, and I assume all the C#
compiler stuff along with it. I thought I would already be using the latest
C# compiler with that?

On 23 Mar 2018 11:39, "Gregg Miskelly" <notifications@github.com> wrote:

Sorry, what I mean is - where are you getting msbuild from? (ex: did you
install some version of full Visual Studio).

The options that I am aware of:

[2018-03-23 00:50] gregg-miskelly commented on #2130
In that case, try this --
1. From the Windows Start menu, open a Developer Command Prompt for VS 2017
2. cd to the directory of your project
3. `code .` to open up VS Code (assuming you picked the default option of adding VS Code to your path, if not, you will need to add the path to VS Code here)
4. From here try your build

The issue is that in VS 2017, VS made changes so that you can install mu

[2018-03-23 00:56] dforsyth-iit commented on #2130
Okay, that makes sense. Is there a way to update the system version of msbuild to the latest one? I don't want to have to open VSCode from a VS2017 developer prompt every time.

[2018-03-23 01:21] gregg-miskelly commented on #2130
You are reaching the limits of my expertise. If you open a command prompt, do `set PATH="<VS-InstallRoot>\MSBuild\15.0\Bin";%PATH%`, and then run msbuild. Does that work? If so you could update your system environment to include that directory.

Another option would be to setup your build task in tasks.json to run a batch script (instead of directly executing msbuild), and from that batch script y

[2018-03-23 01:32] dforsyth-iit commented on #2130
That specific command didn't work, but I tracked down where my msbuild 15 version was installed (`C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin`) and added that to my path. Restarted VSCode, and everything is building and debugging great. Thanks so much for your help Gregg!

[2018-03-23 01:33] #2130 closed

[2018-03-23 02:59] rjmholt commented on #1937
I'm having this issue as well.

[code]

I'm also working on PowerShellEditorServices, so I'm guessing it's idiosyncratic to that. I can build the project, but OmniSharp is intent on using Mono, and I don't know how to override it.

[2018-03-23 08:54] issacnitin opened #2131 "Tab 1 scrolls by itself when you go to another tab(Tab2) with plugin on in VSCode"
## Environment data
`dotnet --info` output:
VS Code version: 1.21.1
C# Extension version:

## Steps to reproduce
Open 2 1000 line C# code in a big project with lots of references.
Go to line 500 in tab 1
Go to line 100 in tab 2, or click "go to definition" on tab 1
Go back to Tab 1

## Expected  behavior
Tab one should point to same line of code

## Actual behavior
Tab one points to different line

[2018-03-23 18:57] DustinCampbell commented on #2076
I've noticed this as well. I wonder if VS Code is waiting for the C# extension to initialize (which it probably shouldn't). @jrieken: is there an appropriate person on VS Code who could help us look at this?

[2018-03-23 18:59] DustinCampbell commented on #2129
Have you done a `dotnet restore` of your project?

[2018-03-23 19:04] DustinCampbell commented on #2095
I suspect this is due to https://github.com/OmniSharp/omnisharp-vscode/issues/1750, which is ultimatey caused by https://github.com/OmniSharp/omnisharp-roslyn/issues/955. I believe you can address this by installing a recent Mono MDK from http://www.mono-project.com/download/stable.

[2018-03-23 19:29] adragoset opened #2132 "Code lens never loads"
## Environment data
[code]
VS Code version:
1.21.1
79b44aa704ce542d8ca4a3cc44cfca566e7720f1
x64

C# Extension version:
1.14.0

## Steps to reproduce
Unsure,
I have a machine with vs code and the c# extension running windows 10 professional same environment otherwise and code lens loads.
Project builds and restores correctly otherwise.

Omnisharp logs contains no errors or warnings

## Expected  be

[2018-03-24 12:14] cilerler opened #2134 "PackageReference could not be found"
## Environment data

`dotnet --info` output:
[code]

`code --version` output:
[code]
C# Extension version:
[code]

## Steps to reproduce
1. Create a new console app `dotnet new console`
2. Add a remote nupkg library via `dotnet add package Newtonsoft.Json`
3. Add a local nupkg **file** via `dotnet add package Ruya.Primitives -s "%homepath%\Source\repos\!nuget"`
4. `dotnet restore`
5. Use it in app

[2018-03-25 13:05] cheng93 opened #2135 "Blazor - Razor-preview2"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.12.1
C# Extension version: 1.14.0

## Steps to reproduce

Create a new `blazor` project and open it in VSCode

Read more at https://blogs.msdn.microsoft.com/webdev/2018/03/22/get-started-building-net-web-apps-in-the-browser-with-blazor/

## Actual behavior

The project is failing to load

[code]

## Expected  behavior

Everythi

[2018-03-25 13:35] ryanzec opened #2136 "New files showing type or namespace not found but it is their"
## Environment data
`dotnet --info` output:
NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 17373

[2018-03-25 13:44] cician commented on #2135
I think that Blazor works with msbuild version bundled with 2.1 preview of .net core (15.7.11.29948) and not the one in stable mono (15.4.0.0). That's why we can build the blazor template with ```dotnet build``` from command line, but cannot use the OmniSharp vscode plugin. If that's the case then I guess it'll just start working once mono picks up the new version, some day. But maybe there's a wa

[2018-03-25 19:36] dgadelha commented on #1154
In case someone's looking how to hide this preamble, you need to edit `vsdbg.dll` at `%USERPROFILE%\.vscode\extensions\ms-vscode.csharp-1.14.0\.debugger` with a HEX editor and replace this message.

My `vsdbg.dll`'s hash is `4b82f8051f1f4c9692fb29804df8835c` (MD5) / `1b16b52c3a3079e2e875e8a1a7c4890e220f21ac` (SHA1) and the message starts at `0x00091F40` and ends at `0x0009207A`. Just replace it wi

[2018-03-25 21:10] ronmara opened #2137 "cant create vsix offline"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.101)

Product Information:
 Version:            2.1.101
 Commit SHA-1 hash:  6c22303bf0

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.101\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.6
  Build

[2018-03-26 08:09] jrieken commented on #2076
We shouldn't wait but @joaomoreno would know

[2018-03-26 10:24] aeschli commented on #168
@david-driscoll I'm happy to help regarding the open points you mentioned regarding preserving the HTML tooling capabilities. There are various approaches to look at: Forwarding calls to the HTML service on the original document or on a virtual, preprocessed document or incorporating the HTML support...

[2018-03-26 13:36] joaomoreno commented on #2076
This is the merge extension by @chrmarti

[2018-03-26 16:58] rchande commented on #2137
@akshita31 It looks like this might have gotten regressed with your eventStream changes. Want to take a look?

[2018-03-26 17:03] rchande commented on #2136
@ryanzec Can you try installing the mono mdk as disussed in this bug? https://github.com/OmniSharp/omnisharp-vscode/issues/2088#issuecomment-375222076

[2018-03-26 17:07] rchande commented on #2134
@cilerler I'm not sure what you mean by "Dependency Version Indicator". Can you post a screenshot?

[2018-03-26 17:13] rchande commented on #2132
@adragoset Please post your omnisharp log. Are other IDE features (eg, IntelliSEnse, find all references) working?

[2018-03-26 17:18] rchande commented on #2131
@issacnitin This sounds like a VS Code bug--please feel free to file it at https://github.com/Microsoft/vscode/issues. I'm closing this issue, feel free to add further comments if you believe this is an issue with the C# extension.

[2018-03-26 17:18] #2131 closed

[2018-03-26 17:19] rchande commented on #2116
@pgoral Interesting that deleting your .vscode folder fixed the issue. I wonder if you had a bad configuration in tasks.json? I'm going to close this issue, but feel free to add further comments if you find anything interesting.

[2018-03-26 17:19] #2116 closed

[2018-03-26 17:30] issacnitin commented on #2131
This issue happens only when using the plugin

[2018-03-26 17:36] akshita31 commented on #2137
Yes, it seems that the downloadPackage function expects an eventStream but we are not providing it any.  This part got ignored probably while we made those changes. Will make the necessary changes now.

[2018-03-26 17:38] rchande commented on #2137
Also, we've had a couple of customers report bugs in this area (offline packaging). Should we add an "offline packaging" integration test that runs whatever scripts a user is expected to run a verifies that they work?

[2018-03-26 17:42] akshita31 commented on #2137
Yes we can, but the offline packaging( similar to the OmnisharpDownloader) calls upon the PackageManager to download some packages from the internet. Mocking the download behaviour is difficult at present, so if we upload some test packages to be downloaded during the integration test then only we can do the complete end to end testing here.

[2018-03-26 17:47] cilerler commented on #2134
![image](https://user-images.githubusercontent.com/385958/37923074-3c9d46dc-30fc-11e8-9861-0de08b71d5eb.png)

[2018-03-26 17:52] rchande commented on #2134
@cilerler I think you're getting that from an extension. I don't have any "Package Reference Indicators":
![image](https://user-images.githubusercontent.com/3751401/37923310-b3836a2e-30e3-11e8-81d4-dc63114c4c82.png)

Can you post your list of installed extensions?

[2018-03-26 17:58] cilerler commented on #2134
Ohh my bad, you are right it is [Version Lens](https://marketplace.visualstudio.com/items?itemName=pflannery.vscode-versionlens).  Thank you for your help...

[2018-03-26 17:58] #2134 closed

[2018-03-26 18:29] adragoset commented on #2132
## Omnisharp log
Starting OmniSharp server at 3/26/2018, 1:27:59 PM
    Target: c:\Users\adragose\Documents\Source\smart_singulator_nn_interface\smart_singulator_nn_interface.sln

OmniSharp server started
    Path: C:\Users\adragose\.vscode\extensions\ms-vscode.csharp-1.14.0\.omnisharp\OmniSharp.exe
    PID: 18396

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Windows 6.1.7601.65536 (

[2018-03-26 20:59] Gaulomatic commented on #1402
Any solution other than restarting OmniSharp? This is not critical but really annoying since OmniSharp needs a reasonable amount of time to restart on larger solutions.

[2018-03-27 05:46] chrmarti commented on #2076
Sounds like the C# extension does something that triggers a bug in the presentation. The merge-conflict extension does not have any listeners that would trigger on another extension, so it seems this is an issue in the core.

Does the C# extension add any decorations or code lenses? What if these are disabled?

[2018-03-27 09:36] SonaliRane26 commented on #1064
Hi, I m using Jenkins to build my project but m getting the following error

`Build started 3/27/2018 2:30:27 PM.
Project "D:\PSAVWorkSpaces\abcd\Dev\ReleaseA\abcd\abcd\abcd.Droid\abcd.Droid.csproj" on node 1 (SignForAndroid target(s)).
D:\PSAVWorkSpaces\abcd\Dev\ReleaseA\abcd\abcd\abcd.Droid\abcd.Droid.csproj(113,47): error MSB4066: The attribute "Version" in element is unrecognized.
Done Buildin

[2018-03-27 12:36] sebasijan opened #2139 "'"<Path to the omnisharp executable>"' is not recognized as an internal or external command,"
## Environment data
`dotnet --info` output:

[code]

VS Code version:

[code]

C# Extension version:

`1.14.0`

## Steps to reproduce

Install the extension, nothing is working

## Expected  behavior

Intellisense, navigate to errors etc etc etc

## Actual behavior

Error in bottom right of vscode, after clicking on it:

[code]

[2018-03-27 12:37] sebasijan commented on #2139
I tried reloading and reinstalling the extension several times but nothing helps

[2018-03-27 12:54] sebasijan commented on #2139
I updated my user settings

    "omnisharp.path": "C:\\Users\\Bassie\\.vscode\\extensions\\ms-vscode.csharp-1.14.0\\bin\\omnisharp\\OmniSharp.exe",

and the error went away, but the extension still does nothing..

[2018-03-27 13:03] sebasijan commented on #2139
I just did  a complete re-install of vscode, deleted my entire extensions folder, reinstalled omnisharp, and it still doesn't work.

In addition, when trying to view the source of an error I get

Not sure if its relaed... How annoying

[2018-03-27 13:06] sebasijan commented on #2139
After the reinstall, I had to update the path to

Now it appears to work..

[2018-03-27 13:06] #2139 closed

[2018-03-27 17:05] DustinCampbell commented on #1064
@SonaliRane26: This is the repo for the C# extension for VS Code. We can only help you here with issues related to that project.

I suspect you're looking for https://github.com/dotnet/cli or https://github.com/dotnet/sdk. However, I can tell you that you will not be able to build Xamarin or Portable projects with the .NET CLI, which it looks like you're trying to do.

[2018-03-27 17:09] DustinCampbell commented on #2076
@chrmarti: We do add code lens for references and running/debugging tests.

@adamulicki: Do you still see this problem if you change the following settings like so?

[code]

[2018-03-27 17:13] DustinCampbell commented on #2132
Does the completion list work? Do you have any of the following settings set to false in your VS Code settings?

* csharp.referencesCodeLens.enabled
* csharp.testsCodeLens.enabled

[2018-03-27 17:17] DustinCampbell opened #2140 "Download size is 6X bigger"
The difference in size between 1.5.0-beta2 and 1.5.0-beta3 is 884 KB -> 5.67 MB. This is pretty significant! I'm assuming that this is the addition of rxjs. If that's the case, is there a smaller module that we can reference rather than the whole thing?

cc @TheRealPiotrP

[2018-03-27 17:50] adamulicki commented on #2076
Will confirm tomorrow.

[2018-03-28 04:01] SonaliRane26 commented on #1064
Yes, thankyou

[2018-03-28 13:55] helios02 commented on #1044
Any update on auto-completing method signatures for overrides? Thanks.

[2018-03-28 14:36] adamulicki commented on #2076
Issue is still present with those 2 options unfortunately.

[2018-03-28 17:49] BrianHubble commented on #2010
I am seeing this issue on a Mac where I cannot install the framework. It is complaining about ".NETFramework,Version=v3.5"

My mono version is 5.4.1.6

[2018-03-28 17:58] BrianHubble commented on #2010
I made sure to install the mono-sdk and update dotnet-sdk in homebrew and now my other projects are not working either.

[2018-03-28 19:57] ToucanBran opened #2141 "VSCode No Symbols Loaded When Attaching to IIS Process"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 173