[2018-09-11 18:43] gregg-miskelly commented on #2513
Can you give us some examples of intellisense strings?

I know the debugger hasn't yet done the work to ship any localized strings. So if you are getting localized debugger strings they must be from VS Code itself. I am not sure if there are any parts of the language service that have localization yet.

[2018-09-11 19:08] boris-741 commented on #2510
other system the same problem OS Win10 "omnisharp.loggingLevel": "debug"

Starting OmniSharp server at 9/11/2018, 10:02:04 PM
    Target: c:\Project\Unity\MatchMgrGibrid\MatchMgrGibrid.sln

OmniSharp server started.
    Path: C:\Users\Boris\.vscode\extensions\ms-vscode.csharp-1.16.0\.omnisharp\1.32.4\OmniSharp.exe
    PID: 8252

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Windows 6.

[2018-09-11 20:43] bkmalkoc commented on #2507
@rchande I have no clue what has changed but after clean reinstallation here is my dotnet;
nothing is wrong in omnisharp tho, works with the same latest version

dotnet --info
[code]

[2018-09-11 22:39] OliverAge24 commented on #2510
I'm getting the same problem, I think.

Starting OmniSharp server at 9/11/2018, 11:37:55 PM
    Target: f:\Unity Games\Twitch Game 2\Twitch Game 2 Repo\Twitch Game 2 Repo.sln

OmniSharp server started.
    Path: C:\Users\super\.vscode\extensions\ms-vscode.csharp-1.16.0\.omnisharp\1.32.4\OmniSharp.exe
    PID: 15908

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Windows 6.2.9200.0 (x64

[2018-09-11 23:36] anorborg opened #2514 "InvalidProjectFileException when loading since 1.16.0"
## Environment data
`dotnet --info` output:

[code]

VS Code version: 1.27.1
C# Extension version: 1.16.0

## Steps to reproduce

1) Load a `netstandard2.0` project with the the `Project` `Sdk` set to `'Microsoft.NET.Sdk'`.

## Expected  behavior

Loads Correctly.

## Actual behavior

Errors with following log output:

[code]

## Additional Info

Something appears off in the extension documentatio

[2018-09-12 03:05] akshita31 commented on #2505
@DFVSQY Can you provide a sample repro project?

[2018-09-12 04:30] DFVSQY commented on #2505
[TestSymbolicFiles.zip](https://github.com/OmniSharp/omnisharp-vscode/files/2373547/TestSymbolicFiles.zip)
Please first click the **init.bat** file to init symbolic files, then open the project using unity, double click the **Scripts** Folder files, you will see there are no any intellisence in vscode.

[2018-09-12 04:41] VahidN commented on #2514
Same problem here with v1.16.0
[code]

[2018-09-12 10:16] gludion commented on #2514
similar here:
[code]

[2018-09-12 11:07] Spikent commented on #2513
You were right, I could fix the intellisense, however I still get this:
With 1.32.3-beta.9:
![1 32 3-beta 9](https://user-images.githubusercontent.com/24965188/45421233-bc8f8880-b68c-11e8-8ae3-731af1d05c28.png)

Meanwhile with 1.32.4 or 1.32.5:
![1 32 5](https://user-images.githubusercontent.com/24965188/45421266-cadda480-b68c-11e8-80e5-30e67da9540e.png)

[2018-09-12 12:52] seesharper commented on #2398
Same issue here on my mac.

[code]

C# Extension 1.16.0

1. Run test
2. Debug test with breakpoint for which I hit F5 to continue
3. Code lens dies and I have to restart VS Code

Note that restarting OmniSharp does not help here. You need to actually restart VS Code.

[2018-09-12 13:15] DustinCampbell opened #2515 "Simple test project produces many error messages"
_From @ramon-garcia on September 11, 2018 19:8_

After creating a simple test project

And opening it with Visual Studio Code, many compilation errors are reported by Omnisharp, like

The type 'AssemblyCompanyAttribute' exists in both 'System.Runtime, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' and 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d

[2018-09-12 13:16] #2515 closed

[2018-09-12 13:16] DustinCampbell commented on #2515
Moved in error

[2018-09-12 13:45] riezebosch commented on #2041
<img width="728" alt="screen shot 2018-09-12 at 15 43 52" src="https://user-images.githubusercontent.com/1427334/45429018-b60c0b80-b6a2-11e8-97a0-e74e12570396.png">
The fan of my MacBook starts to spin like crazy when having VSCode open.

[2018-09-12 13:45] tebeco opened #2516 "The system cannot find the path specified."
## Environment data
`dotnet --info` :
[code]

VS Code version:
[code]
C# Extension version: `1.16.0`

## Steps to reproduce
[code]
Wait and go to Output > Omnisharp logs

[code]

I went on the file system to :
`C:\Users\YOUR_NAME\.vscode-insiders\extensions\ms-vscode.csharp-1.16.0`
and the folder `.omnisharp` does not exists

Then i went to `C:\Users\YOUR_NAME\.vscode-insiders\` and looked for `Om

[2018-09-12 14:31] seesharper commented on #2398
Okay, I have tested this with the simplest project possible.

[code]

My test class looks like this

[code]

Repro step(s)

Hit Debug Test (code lens) once.
Once that is finished, code lens is broken and no language services from OmniSharp are working.

[2018-09-12 15:02] JoeKazz commented on #2510
Totally blows you out of the water from using Omnisharp 1.16 on any level. Is there an easy way to rollback to 1.15 until this is fixed? (I'm new to GitHub world, so I'm used to just going to a different install package to backtrack. Any chance on that happening here?)

[2018-09-12 16:06] rchande commented on #2510
We believe we have identified the issue and we've created a [beta of the C# extension](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16.1-beta1) that includes the fix. Please install the beta VSIX (https://github.com/OmniSharp/omnisharp-vscode/releases/download/v1.16.1-beta1/csharp-1.16.1-beta1.vsix) and let us know if that resolves the problem

[2018-09-12 16:08] rchande commented on #2516
@tebeco Can you try deleting "install.lock" from `C:\Users\YOUR_NAME\.vscode-insiders\extensions\ms-vscode.csharp-1.16.0`

cc @akshita31 (lock file)

[2018-09-12 16:09] rchande commented on #2514
We believe we have identified the cause of the "GetReferenceNearestTargetFrameworkTask" issue and we've created a [beta of the C# extension](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16.1-beta1) that includes the fix. Please install the beta VSIX (https://github.com/OmniSharp/omnisharp-vscode/releases/download/v1.16.1-beta1/csharp-1.16.1-beta1.vsix) and let us know if that reso

[2018-09-12 16:10] rchande commented on #2507
@bkmalkoc glad you got it working. For others still encountering issues:
We believe we have identified the cause of the "GetReferenceNearestTargetFrameworkTask" issue and we've created a [beta of the C# extension](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16.1-beta1) that includes the fix. Please install the beta VSIX (https://github.com/OmniSharp/omnisharp-vscode/releases/down

[2018-09-12 16:11] rchande commented on #2509
We believe we have identified the cause of the "GetReferenceNearestTargetFrameworkTask" issue and we've created a [beta of the C# extension](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16.1-beta1) that includes the fix. Please install the beta VSIX (https://github.com/OmniSharp/omnisharp-vscode/releases/download/v1.16.1-beta1/csharp-1.16.1-beta1.vsix) and let us know if that reso

[2018-09-12 16:13] tebeco commented on #2516
This file does not exists either

[code]

[2018-09-12 16:15] tebeco commented on #2516
FYI : Went to the same folder for `vscode`, i had 2 folder for omnisharp extension 1.15.x and 1.16

[2018-09-12 16:16] rchande commented on #2516
@tebeco Can you share your "C#" log? If your .omnisharp directory has been removed we should attempt to download it...

[2018-09-12 16:17] tebeco commented on #2516
In `vscode-insider`
* Manually deleted `.vscode-insiders\extensions\ms-vscode.csharp-1.16.0` folder
* uninstalled the extension
* reload
* reinstall
* reload
* load C# dummy Mvc

same issue

[2018-09-12 16:18] tebeco commented on #2516
[code]

[2018-09-12 16:20] rchande commented on #2516
Ok, you can work around this by downloading the appropriate archive from this release and unzipping it to match the path in your log https://github.com/OmniSharp/omnisharp-roslyn/releases/tag/v1.32.4
@akshita31 Any idea why this would happen?

[2018-09-12 16:27] liranjulia commented on #2510
@rchande The fix seems to be working here, thanks!!

[2018-09-12 16:27] tebeco commented on #2516
Nailed it ... had to add the ntlm proxy
That would be lovely if there was a way to detect proxy and default user creds so i don't have to set that in clear in my vscode settings

[2018-09-12 16:28] tebeco commented on #2516
Also you have a race condition
The Omnisharp tab seems to start anyway and should probably not

[2018-09-12 16:30] TiredOfCoding commented on #2509
@rchande A Unity project loads without fails and IntelliSense works too. Seems like the issues resolved, thanks.

[2018-09-12 16:38] OliverAge24 commented on #2510
Brilliant, that was fast, thanks!

I'll test tonight, cheers!

[2018-09-12 17:38] szul commented on #2223
@AndrewJRichardson This got it working. I use the IIS Express VSCode extension, so I didn't need to do anything with the application config changes. It made those automatically. I think the secret sauce missing from my previous attempts was doing an "attach" debug process. I was attempting to launch the application and debug all in one shot.

[2018-09-12 17:43] anorborg commented on #2514
No change with v.1.16.1-beta1 for me. Partial output below. If there is additional data that would be helpful to you, please let me know:

#### Output from v.1.16.1-beta
[code]

[2018-09-12 18:29] gregg-miskelly commented on #2513
@rchande @akshita31 any ideas?

[2018-09-12 19:08] akshita31 opened #2519 "Show proper messages to the users when the downloads fail"
For issues like these : https://github.com/OmniSharp/omnisharp-vscode/issues/2516, we should have a proper story to bring to the users notice that the omnisharp download did not succeed and should show them url they could themselves try to use for the download.

 Also, the message "Starting Omnisharp..." before we actually know whether omnisharp has started or not sounds like a bug.

Related issue

[2018-09-12 20:10] rchande commented on #2513
@Spikent We need more info--what OS are you on? If you're on Windows, what is your language is your system set to use? This looks like a Unity project--what language is Unity configured to use?

[2018-09-12 20:32] seesharper commented on #2398
FYI Did a complete uninstall/install which seem to have fixed the issue.

https://stackoverflow.com/questions/42603103/how-to-completely-uninstall-vscode-on-mac

[2018-09-12 22:48] Spikent commented on #2513
@rchande I'm running Windows 10 Pro, and it's locale is set to Spanish, which I'm guessing it's what Omnisharp is picking up on recent updates to set it's locale to...

The Project is a Godot project, it's running on c#.

[2018-09-13 03:02] VahidN commented on #2514
@rchande
`v1.16.1-beta1` fixed "GetReferenceNearestTargetFrameworkTask" issue. Thank you.

[2018-09-13 03:36] 4verage opened #2520 "Extension Not Playing Nice, unable to Debug Code"
## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.401\

Host (useful for support):
  Version: 2.1.3
  Commit:  124038c13e

.NET Core SDKs installed:
  2.1.30

[2018-09-13 04:23] zvinless opened #2521 "Red OmniSharp flame icon in status bar with "OmniSharp process errored:" tooltip (1.16.1)"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.27.1
C# Extension version: 1.16.1

## Steps to reproduce
1. Create a new project: `dotnet new console`
1. Open containing folder with Visual Studio Code
1. Observe that the OmniSharp Log appears in the OUTPUT pane and focuses itself automatically (happens every time I open a C# project since 1.16.0)
1. Observe that the OmniShar

[2018-09-13 06:58] NemoStein opened #2522 "Add "Override Virtual Method" to "Quick Fix""
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Users\nemos\scoop\apps\dotnet-sdk\current\sdk\2.1.401\

Host (useful for support):
  Version: 2.1.3
  Commit:  124038c13e

VS Code versio

[2018-09-13 08:54] AndrewJRichardson commented on #2223
@szul Yeah I had the same problem, though I forgot to mention it. I don't use the extension but If you run IIS Express as a task it will block any tasks you have chained after it, until it is exited. I'm not sure if there is a way around that with VS Code's task runner but since IIS Express updates after builds without needing to be restarted I just kept it as a completely separate task that I run

[2018-09-13 09:11] #2516 closed

[2018-09-13 09:44] #2510 closed

[2018-09-13 09:44] boris-741 commented on #2510
fix with 1.16.1

[2018-09-13 09:57] tyraeltyro commented on #2513
I have the same problem on polish version of the Windows 10 system.

[2018-09-13 10:33] Squiggle commented on #2391
This wasn't working for me (still getting the error 'no formatter for csharp installed...). I'm using a workspace with more than one csharp project.

The non-obvious solution was F1 > "OmniSharp: Select Project" and to select my current project. Only then did code formatting etc start to work. I didn't realise OmniSharp only supported one project at a time in workspaces.

[2018-09-13 11:56] Ebuka18 commented on #2516
i downloaded it manually, how do I install it into my vscode

[2018-09-13 12:16] anorborg commented on #2514
I've created an minimal repo that does reproduce this issue:

https://github.com/anorborg/minimal-dotnet-repo

I used a solution as I have had issue with using solutions with OmniSharp with past updates.

OmniSharp Log From above Repo:
[code]

[2018-09-13 12:47] Ghostbird commented on #2509
@rchande Sorry for the late reply, I tried both version `1.6.1-beta1` and `1.6.1`, but the most recent version that works for me is `1.5.2`.

[code]

[2018-09-13 14:16] hickford opened #2523 "Clarify Intellisense support for .NET Framework in readme"
Hi. I think it could be helpful to clarify in the readme that the extension supports traditional .Net Framework projects. In particular, that IntelliSense, Go to Definition, Find All References work as in Visual Studio. This would be reassuring to new users who aren't familiar with .Net Core.

I remember being confused when I first tried Visual Studio Code whether Intellisense would work for .NET

[2018-09-13 14:16] hickford commented on #2523
A neat way to convey this information could be in a table

| Feature | .Net Core  | .Net Framework |
| ------ | ------------- | ------------- |
| Syntax highlighting | ✓  | ✓  |
| Intellisense  | ✓  | ✓ |
| Go to definition | ✓ | ✓ |
| Find all references | ✓ | ✓ |
| Debugger | ✓ | [*Limited*](https://github.com/OmniSharp/omnisharp-vscode/wiki/Desktop-.NET-Framework), 64-bit only |

[2018-09-13 14:57] Tarig0 opened #2524 "Feature Request: Allow breadcrumbs to function in a no project context"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.27.1 (system setup)
C# Extension version: 1.16.1

## Steps to reproduce
Create the following file and save it.
[code]
Highlight test
## Expected  behavior
Breadcrumbs would display all the way down to the test function

## Actual behavior
Breadcrumbs only display to the file level.

Behavior changes if an unrelated project syste

[2018-09-13 15:26] rchande commented on #2520
@4verage please share your omnisharp log.

[2018-09-13 15:29] rchande commented on #2522
Instead of implementing this as a code action, we would implement this as a special completion list that comes up after you type override (which is a behavior Visual Studio has had for a long time). https://github.com/OmniSharp/omnisharp-roslyn/pull/884 is tracking that work cc @DustinCampbell

[2018-09-13 15:40] rchande commented on #2509
@Ghostbird Can you:
 * File a new issue
 * Include your omnisharp log from 1.16.1?

Thanks!

[2018-09-13 15:41] rchande commented on #2523
@hickford Great idea! We take pull requests... 😄

[2018-09-13 15:43] rchande commented on #2521
@zvinless @ru-ace Thanks for filing this--we believe this is caused by our omnisharp error detector spuriously detecting an error. I suspect omnisharp features are still working for you despite the red flame?
cc @akshita31

[2018-09-13 16:01] zvinless commented on #2521
@rchande, yeah, the plugin features are all good!

[2018-09-13 16:29] fastfilm opened #2525 "C# Suggestions Stopped Working"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.0.2)

Product Information:
 Version:            2.0.2
 Commit SHA-1 hash:  a04b4bf512

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.0.2\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.0
  Build    : e8b

[2018-09-13 17:06] ru-ace commented on #2521
@zvinless, yes - plugin works fine.

[2018-09-13 17:37] akshita31 commented on #2525
@fastfilm Can you post the output from "C#" and "OmniSharp log" from View--> Output window ?

[2018-09-13 17:56] djkiwe commented on #2509
@rchande Installing the [1.16.1 beta](https://github.com/OmniSharp/omnisharp-vscode/releases/download/v1.16.1-beta1/csharp-1.16.1-beta1.vsix) fixed the issue for me. :)

[2018-09-13 18:03] NemoStein commented on #2522
Oh, that fits me well... I'll follow the linked issue, thanks!

[2018-09-13 18:03] #2522 closed

[2018-09-13 18:18] djkiwe commented on #2509
@rchande Ok it looks like its working, but VS Code still tells me that "OmniSharp process errored". So here is my log with the beta:
[code]

[2018-09-13 18:36] anorborg commented on #2514
@rchande

I uninstalled all the dotnet runtimes and sdks and the reinstalled just the latest. My new output for `dotnet --info` is:

[code]

I also did a fresh install of Visual Studio Code (which coincidentally just updated to 1.27.2).

I also added `global.json` (updated the repo). The plugin seems unable to find the SDK based on the new output and continues with the same error

[code]

[2018-09-13 19:31] fastfilm commented on #2525
Sorry, I'm no VS Code expert, I don't know how to generate "output from C# and Omnisharp log".  I can open the View --> Output window and it is blank.  I can open the Developer tools, and I see this:
![image](https://user-images.githubusercontent.com/43246849/45511113-f0cc7d00-b750-11e8-884f-9c8a51541c21.png)

[2018-09-13 19:38] fastfilm commented on #2525
Ah, I found the Omnisharp log.
![image](https://user-images.githubusercontent.com/43246849/45511394-c3cc9a00-b751-11e8-97af-03396bd6fb53.png)
Can't find a C# log -- here are my options on the right-hand menu drop-down:
![image](https://user-images.githubusercontent.com/43246849/45511476-f2e30b80-b751-11e8-8dd2-d40c603013ac.png)

[2018-09-13 19:44] 4verage commented on #2520
@rchande I'm very new to VS Code (only downloaded it due to requirements for a class). Where do I retrieve the OmniSharp log?

[2018-09-13 20:43] hanhrevive opened #2526 "How can I fix Razor Highlight error ?"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.401/

Host (useful for support):
  Version: 2.1.3
  Commit:  124038c13e

.NET Core SDKs installed:
  1.0.4 [/

[2018-09-13 20:56] akshita31 commented on #2525
Ok so the problem here is that the omnisharp server could not start for you. Can you uninstall and reinstall the extension ? And when you reload vscode for the first time after installing the extension , you might find a c# log.

[2018-09-13 21:03] Jonatthu opened #2527 "BreadCrums class/method names are too long"
VsCode 1.27.2
Extension 1.16.1

Class names
![image](https://user-images.githubusercontent.com/3742176/45515508-32fbbb80-b75d-11e8-8c6c-c68790b6d2a8.png)

It should have only the class name `GenMockEntityUseCaseBuilder<TEntity>` instead `InterfaceFluentApi.Extensions.GenMockEntityUseCaseBuilder<TEntity>`.

Method Names
![image](https://user-images.githubusercontent.com/3742176/45515575-64748700-b7

[2018-09-13 21:04] bjornharrtell commented on #2514
Having the same issue.

dotnet --info output:
[code]

Relevant OmniSharp error line is as previously seen:
`Microsoft.Build.Exceptions.InvalidProjectFileException: The SDK 'Microsoft.NET.Sdk' specified could not be found.  `

Downgrading to csharp-1.15.2.vsix resolves the problem as a temporary workaround.

[2018-09-13 22:19] fastfilm commented on #2525
I tried uninstalling the extension once before.  Recently I tried uninstalling VSCode and re-installing it.  Just now I tried uninstalling and re-installing the extension.  The logs appear the same -- the Omnisharp log shows the same error, and there is no option to view a C# log.

[2018-09-13 23:05] akshita31 commented on #2525
Can you delete the "install.Lock" file and ".omnisharp" folder in the ".vscode/extensions/msvscode.csharp-1.16.0" folder and then restart vscode ?

[2018-09-13 23:34] 4verage commented on #2520
This post (unrelated software) is showing the same thing I am experiencing: (I'm beginning to get convinced this is surely an update issue.) I have un-installed completely and re-installed. Still looking at the same problems. :(

[Why are My Class name and the Void Keyword Invalid](https://forums.ghielectronics.com/t/why-are-my-class-name-and-the-void-keyword-invalid/21028)

[2018-09-13 23:44] fastfilm commented on #2525
Hi Akshita -- After a bit of searching, I found the .vscode folder you were talking about.  At first, I thought you meant the .vscode folder in the project, but there wasn't much there.  So I poked around and find one under Users.  I removed the file and folder you mentioned.  I then re-started VS Code.  There is now a C# log:
![image](https://user-images.githubusercontent.com/43246849/45521745-2f

[2018-09-14 00:36] fastfilm commented on #2525
That was the problem.  My path recently got stomped on by something (not 100% certain who the guilty party is).  Of course I didn't have a backup of it, so I didn't know what was in it.  Apparently, Windows\System32 was part of it.  How did you suspect that might be the issue?
Thanks, hope this might help someone else as well.   Perhaps the path requirement should be documented somewhere, though I

[2018-09-14 00:38] #2525 closed

[2018-09-14 01:30] akshita31 commented on #2525
@fastfilm Gald you got it working. This is not a common error with omnisharp so I searched stack overflow for  for "spawn cmd ENOENT" and got that suggestion there.

[2018-09-14 07:44] rjgotten opened #2528 "${auto-detect-url} no longer works correctly when applicationUrl contains wildcard binding"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.27.1
C# Extension version: 1.16.1

## Steps to reproduce
Create a `launchSettings.json` which uses a wildcard `applicationUrl`, e.g.

[code]

Create a `launch.json` which uses `${auto-detect-url}` in its `launchBrowser` section, e.g.

[code]

## Expected  behavior

When web project is launched, browser is opened on localhost, e.

[2018-09-14 08:26] Ghostbird opened #2529 "Omnisharp InvalidProjectFileException not fixed by 1.16.1"
**Note:** This is probably related to #2509. I was [asked](https://github.com/OmniSharp/omnisharp-vscode/issues/2509#issuecomment-421052575) by @rchande to report this specific case as a new issue, since the 1.16.1 release did fix the issue for most people, but not for me. Installing version 1.15.2 of the extension does not give the problem.

## Environment data
`uname -a` output:
[code]
`dotnet -

[2018-09-14 12:59] mickaelistria commented on #2234
I've tried several versions of OmniSharp on Linux with `dotnet --info   > .NET Core SDK (reflecting any global.json): Version:   2.1.401`, and concluded that
* versions 1.30.1 and earlier are working properly ✔️
* versions 1.31.0 and later all fail the same way ❌

Were some mandatory configuration flags added in the 1.31 stream?

[2018-09-14 14:51] Tarig0 commented on #2524
Looks like this is because the omnisharp server is not started until a project is loaded. Would it be possible to have a default empty project loaded instead of relying on the workspace to have a csproj or sln file opened?

[2018-09-14 15:18] nimrodavid commented on #2437
I just got this error, pretty sure after VS Code updated itself.
After reading the comments here I tried to uninstall and then reinstall the C# extension (In my case it's version 1.16.1), but that didn't help. I then went on to check if I had the file `~/.vscode/extensions/ms-vscode.csharp-1.16.1/node_modules/rxjs/symbol/rxSubscriber.js`, and notices that although the file exists, it is completely

[2018-09-14 17:41] rchande commented on #2526
@hanhrevive The C# extension doesn't currently provide any highlighting in cshtml files. What others extensions do you have installed?

[2018-09-14 17:41] #2526 closed

[2018-09-14 17:43] akshita31 commented on #2414
From @DustinCampbell

@jrieken The constructor for the document symbol doesnot have a filed for specifying the children. Do we need to create the object first and then populate the children ?

[2018-09-14 17:50] akshita31 commented on #2524
@Tarig0 In 1.16 we enabled c# extension to give basic intellisense help for c# files that are not associated with projects. So you can open a folder in vscode with just a c# file in it and you _should_ get the correct breadcrumbs once omnisharp has started. Do you see an "omnisharp log" in the View--> Output pane ?

[2018-09-14 17:55] rchande commented on #2520
@4verage View -> Output and use the selector dropdown to choose "omnisharp log"

[2018-09-14 18:15] rmenapaceJC commented on #1952
Getting it too with Code 1.27.2.  Tried upgrading mono but it had no effect. Started out intermittent and now it appears to happen every time.  Coincident with code formatting not working any more.   Thinking about switching back to VS Community.  Did that help anybody?

[2018-09-14 18:59] akshita31 commented on #2496
@Jonatthu Any update here ?

[2018-09-14 19:09] anorborg commented on #2529
I this this is also related to #2514. I have instructions to downgrading in the Workaround which works for me in the mean time

[2018-09-14 19:26] Tarig0 commented on #2524
I do not see an omnisharp log

[2018-09-14 19:30] akshita31 commented on #2524
@Tarig0 Omnisharp needs a launch target to start. Can you add the same file to a folder and try again ?

[2018-09-14 19:53] sgentile commented on #490
"But, just to be clear, it is at least going to be a while before we get to this."

2 years later... any luck   :)

+2

[2018-09-14 19:59] gregg-miskelly commented on #490
:) Not yet. But thanks for voting. The more votes the easier it will be to get funding for the project.

[2018-09-14 20:03] rchande commented on #1952
I'm closing this issue as the original problem seems to have been resolved.
@rmenapaceJC Can you please
* File a new issue
* Include your omnisharp log as well as output from `dotnet --version` and `mono --version`
Thanks!

[2018-09-14 20:03] #1952 closed

[2018-09-14 20:06] rchande commented on #2529
@Ghostbird Thanks for taking the time to file this--I agree with @anorborg that it's related to #2514. I would recommend downgrading to 1.15.2 while we investigate.

[2018-09-14 20:13] Jonatthu commented on #2496
Now is working fine in 1.6! but there is a different issue that I already opened.

Sorry for the late response, and thanks !

[2018-09-14 20:13] #2496 closed

[2018-09-14 20:15] gregg-miskelly commented on #2528
@rjgotten Thanks for reporting this!

This may be obvious, but just in case - you can sort of work around this by either --

1: changing `applicationUrl` to use 'localhost' (or your computer name, or whatever you like)
-or-
2: change `launch.json` to hard code the correct URL

This broke in 1.16 because this extension used to ignore `applicationUrl`. But if you had configured the URL to use a '*'

[2018-09-14 21:16] megaDRONe86 commented on #2521
Yep same to me. I see it under Unity project.

[2018-09-14 21:37] akshita31 commented on #2505
@DFVSQY Could you try editing the files you are talking about ? I double clicked the files you mentioned and opened them. We recently added the support for misc files and when you will start editing thosefiles you will start getting intellisense. However you might get a bunch of errors once omnisharp starts recognising those files. Is that correct ?

[2018-09-15 01:18] Tarig0 commented on #2524
interesting, that works, odd that I can get files that are saved outside of the folder to load but I guess that's just the limitation

[2018-09-15 01:35] 4verage commented on #2520
Starting OmniSharp server at 9/14/2018, 9:32:37 PM
    Target: e:\DEV258x\Module 2\Module2-Labs

OmniSharp server started.
    Path: C:\Users\style\.vscode\extensions\ms-vscode.csharp-1.16.1\.omnisharp\1.32.5\OmniSharp.exe
    PID: 7484

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Windows 6.2.9200.0 (x64)
[info]: OmniSharp.Services.DotNetCliService
        DotNetPath set to dotnet
[

[2018-09-15 02:02] akshita31 commented on #2524
Yeah for now OmniSharp needs atleast a folder to provide an intellisense for the file and I dont think we have any requests against that. I will close this issue for now, but feel free to discuss or reopen if there are any other concerns.

[2018-09-15 02:02] #2524 closed

[2018-09-15 03:09] DFVSQY commented on #2505
@akshita31 yes, i have a try, it does behave what you describe.

[2018-09-15 03:16] DFVSQY commented on #2505
@akshita31  note that if i open symbolic files via "ctrl+p" in vscode, the intellisence works well, but it opens another tab for the same file.

[2018-09-15 03:43] Hivemind9000 commented on #2136
I'm having the exact same issue on Windows 10. Happens when I create a new script/class from within Unity then edit it in VS Code - OmniSharp doesn't seem to dynamically update the namespace references. Unity has no problem - compiles/runs. If I create the script/class from within VS Code it produces a type mismatch warning rather than an error.

Workaround is to close and reopen VS Code. Thankful

[2018-09-15 03:47] CodySchrank commented on #2521
Yep same for me.  The plugin still works as expected though.

[2018-09-15 14:34] dwarburt commented on #1998
On fedora, after installing mono-complete (5.14.0.177) from the mono repo (mono-centos7-stable) I had this error. It was resolved after installing the msbuild package from the same repo (`sudo dnf install msbuild`)

[2018-09-15 19:26] dubeg commented on #2107
Would that be the issue for what's shown below..

**Visual Studio**
![vs-intellisence](https://user-images.githubusercontent.com/6020602/45589872-860b7500-b8fb-11e8-936e-9c5e0d308ef0.png)

**VS Code**
![vscode-intellisence](https://user-images.githubusercontent.com/6020602/45589876-93286400-b8fb-11e8-97e7-4924cccab821.png)

VS Code's list is full of keywords and snippets that I'm not particularly

[2018-09-15 19:38] dubeg commented on #1535
Is this something that could be done in Omnisharp, now that Visual Studio has it? If I'm in the right issue, that is. I'm speaking of the new filter options in intellisense in VS 2017.

I recognize that filtering buttons is not `Get a sorted list of members relevant to me in priority order`, but it's  something that could help fill the need behind this request.

**Visual Studio - Intellisense**
Ic

[2018-09-15 22:19] Jonatthu opened #2530 "MacOS omnisharp proccess errored (not happening on windows)."
vscode 1.27
omnisharp 1.16.1

[code]

![image](https://user-images.githubusercontent.com/3742176/45590985-98d17a00-b8fa-11e8-8e09-d1ec5b50cf6b.png)

[2018-09-15 22:37] Jonatthu commented on #1762
![image](https://user-images.githubusercontent.com/3742176/45591106-2b731880-b8fd-11e8-87fc-8d5a068ade23.png)
Looks like this is still happening on 1.16.1

[2018-09-16 00:39] djkiwe commented on #2509
Omnisharp failed to load project again with 1.16.1 beta. Here is the log:
[code]

[2018-09-16 05:57] aileronajay opened #2531 "extension unable to find files with incorrect case in extension"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce

Create a sln file and change the case in extension to "Sln"

## Expected  behavior

The extension should be able to load the Sln file with different case

## Actual behavior

The search does not find project files with incorrect case in extension. The repo i currently work with has project fi

[2018-09-16 14:52] farzadmf commented on #2507
I downloaded and installed the beta version, but I still have an error.

I'm not sure if I'm getting the same error as the other guys, but this is what I see
[code]

And the output of my `dotnet --info`:

[code]

[2018-09-16 19:45] rajdakin opened #2532 "System.TypeLoadException on Linux (Linux Mint 19)"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
(I guess this is `code --version`?)
[code]
C# Extension version:
`1.16.1`
## Steps to reproduce
- Launch VSCode in an Unity project (using Unity)
- Watch the console open and immediately crash the OmniSharp server

## Expected behavior
I expect to have IntelliSense and everything that comes with the extension.

## Actual behavior

[2018-09-16 23:10] bkwdesign commented on #290
something like this happened to me this past week on my Windows 10 hp laptop with a simple .NET console app.

[2018-09-16 23:16] bkwdesign commented on #290
Example `launch.json` below. I had to add the "MCD" path segments, which were not supplied by VS Code when I first tried to run in debug mode.

[code]

[2018-09-17 07:07] jrieken commented on #2414
Yes, you need to populate the children

[2018-09-17 08:10] SebastianPfliegel commented on #2529
Got the same issue. I'm running Windows 10 and .Net Core SDK 2.1.402. Downgrading did the trick for me as well 👍

[2018-09-17 10:19] keithoconor opened #2533 "Intellisense failing - "System.ArgumentException: An item with the same key has already been added""
Issue Type: <b>Bug</b>

The whole team here has recently started to have problems with Intellisense not working for C#. It works for a minute or two, but as soon as you start navigating around files and ctrl-clicking to use Intellisense to navigate between files, it stops working.

I've noticed errors like this in the 'C#' tab in the Output window, which seem to correspond with when Intellisense s

[2018-09-17 13:54] rjgotten commented on #2528
Ah. That kind of explains it.

Yes, we know about the localhost workaround, but it doesn't quite work when you have to debug web-apps on a device and can't bridge localhost; while you also have to have a configuration that should work on any developer's local workstation.

Right now we're re-configuring with localhost and require those that need to test on devices, to temporarily update the config

[2018-09-17 13:54] rjgotten commented on #2528
Oops... mistakingly closed the issue. That was not intended.

[2018-09-17 15:42] estebanrao commented on #2530
I'm having the same issue
vscode: 1.27.2
omnisharp: 1.16.1

Similar output but for a different project

[2018-09-17 15:59] gregg-miskelly commented on #2528
@rjgotten: In case this is useful to you, you can effectively get back to the old behavior (where `applicationUrl` was ignored) by, in launch.json, add something like this. launch.json takes precedence over launchSettings.json.

[code]

[2018-09-17 16:07] rchande commented on #2533
@akshita31 Can you see if this is related to your misc files work?
@keithoconor Does this happen while the OmniSharp log is still printing project loads? Does it happen if you wait for OmniSharp to load all of your projects?

[2018-09-17 16:08] Aciho opened #2534 "Incorrectly reporting errors in unity project"
## Environment data
`dotnet --info` output:

VS Code version:

C# Extension version:

## Steps to reproduce

I don't have a simple repro. In my project, if I open the "Shooter.cs" file then it's fine. If I open the "Rifle.cs" file it's still fine. If I then click back on the open Shooter.cs file I get about 400 spurious errors.

## Expected  behavior

Only real errors should be reported.

## Actua

[2018-09-17 16:15] rchande commented on #2532
@rajdakin Can you share the output of `mono --version`? What have you set the option `omnisharp.useGlobalMono` to?

[2018-09-17 16:19] rchande commented on #1535
@dubeg This issue was discussing whether it would be possible to order the completion list in a smarter-than-alphabetical order. I don't believe that Visual Studio has implemented that yet. Regarding the filter tab, that would also need to be implemented as a VS Code platform feature (cc @jrieken )

[2018-09-17 16:33] rajdakin commented on #2532
Here is `mono --version`:
[code]
I didn't change anything in the config, so `omnisharp.useGlobalMono` is currently set to `auto`. By changing it to `always`, nothing changes.

By changing it to `never`, however, I get a different result, probably because it didn't find Mono. This is the last lines in `information` logging level:
[code]

[2018-09-17 16:36] keithoconor commented on #2533
@rchande I waited until all projects finish loading before trying, and it still happens.

I tried going back to v1.30.0 using the option in my usersettings.json, and it still happens. I'm guessing that version is more than a couple weeks old (when this problem started), so it's possible this issue is in vscode itself and not Omnisharp. I logged an issue stating as such in vscode, I'll update here

[2018-09-17 17:57] akshita31 commented on #2533
@keithoconor Is it possible to share a repro project ?

[2018-09-17 18:00] akshita31 commented on #2534
@Aciho I think I might know what is the problem here. Do you have symbolic links in your project?

[2018-09-17 18:05] akshita31 commented on #2533
Also, is it a unity project that you are working on which happens to have symbolic links ?

[2018-09-17 18:07] akshita31 commented on #2530
@Jonatthu @estebanrao Does the intellisense work for you ? I think this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/2521.

[2018-09-17 18:19] estebanrao commented on #2530
Yes it does, and yes, it is a duplicate of #2521
This was the first result that appeared from a google search 🤭

[2018-09-17 19:24] #2530 closed, assigned to nobody

[2018-09-17 21:55] rjgotten commented on #2528
@gregg-miskelly
Will share that with the development team for the project hitting this particular bump in the road.
Thanks. :+1:

[2018-09-17 22:07] keithoconor commented on #2533
@akshita31 I can't share the project as-is, but I'll see if I can strip it down to a small repro. It is a Unity project alright... and it does actually have a symbolic link (directory junction), although there shouldn't be any C# files in there. I'll try deleting the junction to see if it makes a difference.

[2018-09-17 22:34] akshita31 commented on #2533
Also, can you try setting "omnisharp.path" : "1.32.2" and Ctrl+Shift+P --> Restart OmniSharp and checking if the error still reproduces ?

[2018-09-17 22:40] monyarm commented on #2521
I have this same issue however, in my case it seems to break omnisharp, it doesn't want to build my project anymore, this is my log:
[code]

While if i delete my build folder and try again, then i get it:
[code]

Right now i'm forced to delete my build folder, then run monodevelop, and have it build my project

[2018-09-18 00:45] jtsom commented on #2521
I'm seeing the red flame also, but I Cannot launch apps with the VS Code debugger: https://github.com/Microsoft/vscode/issues/58847

Not sure if it's related.

[2018-09-18 01:38] akshita31 commented on #2373
@jalcim Did it work for you ?

[2018-09-18 01:41] akshita31 commented on #2520
@4verage Can you execute Ctrl+Shift+P --> ".NET Restore All Projects" and seeing if the error still reproduces ?

Also, if you create a new project using "dotnet new console" and open it in vscode, do you still get similar errors?

[2018-09-18 04:09] MicahZoltu opened #2536 "Installing C# Dependencies when debugging node project."
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version: `1.16.1`

## Steps to reproduce
1. Open a node project.
2. Configure a `type: 'node'` project in `launch.json`.
3. Press F5 to begin debugging.
4. --> Notice that Output window says it is installing C# dependencies.
5. Disable C# extension.
6. Repeat step (3).
7. --> Notice that the project correctly s

[2018-09-18 07:06] llint commented on #2534
I've got similar intellisense errors in my dotnet core 2.1 / C# based project within vscode / omnisharp (windows 10 host, vscode 1.27.2, C# plugin 1.16.1, with git). My current repro: after opening a git diff view, hover my mouse on different symbols on the changed lines a few times, intellisense seems messed up by either not showing the correct information of the symbols or hovering on symbols aw

[2018-09-18 08:55] keithoconor commented on #2533
I've tried without the junction and also with 1.32.2 via "omnisharp.path" (that's what I used to try v1.30.0), but the problem still occurs. I'll try and get you a repro project.

The issue I logged on vscode got closed because it's "caused by extension" - https://github.com/Microsoft/vscode/issues/58812.

[2018-09-18 09:36] Aciho commented on #2534
@akshita31 I checked, and there are no symbolic links. The only unusual thing about this project as far as I know is that there was a folder full of old copies of some of the files in the root for a while. I deleted it, so unless omnisharp has a cache somewhere that shouldn't be a problem any more.

I tried to set the path to 1.32.2, but I get the following error:

[code]

I'm going to try downloa

[2018-09-18 10:05] eblade opened #2537 "Splitting method in two lines between return type and name breaks syntax highlighting"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.27.1
C# Extension version: 1.16.1

## Steps to reproduce

1. Open a new .cs file and write the following:

[code]

(I know the first example is a bit academic, but I just want to show that even the simpler example fails to some extent. I also note that GitHubs syntax highlight fails the second example... But it is correct cshar

[2018-09-18 10:49] llint opened #2538 "Intelllisense errors in a vscode dotnet core 2.1 / C# project (with git diff view)"
[Intellisense.zip](https://github.com/OmniSharp/omnisharp-vscode/files/2392732/Intellisense.zip)
## Environment data
#### `dotnet --info` output:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    3599f217f4

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.402\

[2018-09-18 15:56] keithoconor commented on #2533
In the process of trying to reproduce the problem, the first thing I did was make a copy of the entire project in a different location. When I open the copy, I can't reproduce it! When I open the original I can reproduce 100%, but I haven't been able to with the copy so far. On top of that, following symbols seems to be much more responsive than it was on the original project (before it stopped wo

[2018-09-18 15:58] keithoconor commented on #2533
I should add that when this problem first started happening, I followed one of the fixes in an issue here and deleted my entire C:\Users\keith\.vscode\ directory and reinstalled all extensions, including omnisharp. It didn't help.

[2018-09-18 16:41] Giometric commented on #2534
I've been seeing those same errors; I think this may actually be a Unity issue. All those paths that are being referred to are from the various .csproj files. They're all pointing to dlls that are expected to be in the `Temp/bin/Debug` folder, but Unity doesn't appear to be placing any dlls in there. At least 2017 and 2018 don't - on my machine all those dlls end up in `Library/ScriptAssemblies`.

[2018-09-18 16:45] DustinCampbell commented on #2514
I suspect that the issue here is that Mono installed in Homebrew is a bit old. I see this line in all of the logs above.

[code]

Maybe try updating to the latest Mono in Homebrew (5.14.0.177)?

[2018-09-18 16:48] zvinless commented on #2534
I think the red flame icon part is this issue is #2521 since there are no visible errors in the log. I'm having a similar intellisense issue in Unity, although I'm using the incremental compiler preview package, and it looks like OmniSharp is saying that my project is set to C#6 while trying to use C#7 features (even though all the .csproj files say `<LangVersion>7</LangVersion>`. Maybe it's relat

[2018-09-18 16:52] keithoconor commented on #2533
Sorry for the multiple updates, but I've finally figured out what's causing things to break; this extension: https://github.com/stef-levesque/vscode-perforce! I've logged an issue there (https://github.com/stef-levesque/vscode-perforce/issues/142).

[2018-09-18 16:58] zvinless commented on #2538
I'm seeing this too, or at least something very similar. Couldn't figure out how to repro until you mentioned git diff view! All I have to do is open the diff view on a script and close it; after that, I get red squigglies wherever that script's class is referenced (`The type or namespace name could not be found...`), even without any partial classes. I have to reload VSCode to fix it.

[2018-09-18 17:54] akshita31 commented on #2533
@keithoconor Glad you got it working.
And thanks for patiently trying to investigate the issue. These things make it a lot easier for us to understand the users perspective and get ideas on helping other users who run into similar problems. I will close this issue for now. If there are any other concerns feel free to discuss further or reopen.

[2018-09-18 17:54] #2533 closed

[2018-09-18 18:42] DustinCampbell commented on #2509
The exception indicates that MSBuild couldn't locate the `Microsoft.NET.Sdk.Web` SDK from the .NET Core SDK. I just tried but wasn't able to reproduce. Here's what I did:

1. Install Fedora 28 workstation
2. Install VS Code from a terminal window using these steps: https://code.visualstudio.com/docs/setup/linux#_rhel-fedora-and-centos-based-distributions
3. Install .NET Core SDK using these steps:

[2018-09-18 18:43] DustinCampbell commented on #2514
Digging in a bit, that's probably not the issue.

[2018-09-18 19:46] anorborg commented on #2514
@DustinCampbell, well actually updating brew and mono did change things...

#### Ran:
[code]

Based on the output, my minimal repo now _works_:

#### Minimal Repo OmniSharp Log Output
[code]

However, oddly, the extension indicator is in an _errored_ state. The tooltip is only "OmniSharp process errored:", and that's it, nothing after the colon. When clicking it, it just takes me to the output log

[2018-09-18 19:49] anorborg commented on #2514
I will also note that upgrading mono via brew also upgraded nuget automatically (from 4.6.2 to 4.7.0)

[2018-09-18 20:06] rchande commented on #2536
@MicahZoltu Do you only see this when you start debugging? Eg, not directly after opening the directory in VS Code? (cc @gregg-miskelly )

[2018-09-18 20:08] rchande commented on #2537
@eblade Thanks for filing this. I've ported it to https://github.com/dotnet/csharp-tmLanguage/issues/136 which is the repo that builds this classifier.

[2018-09-18 20:08] #2537 closed

[2018-09-18 21:39] DustinCampbell commented on #2514
@anorborg: Updating Mono to a newer version allowed C# for VS Code to launch OmniSharp on Mono and use the MSBuild included with Mono, which is why it started to succeed. The red flame looks like this https://github.com/OmniSharp/omnisharp-vscode/issues/2521 issue. The fact that you're hitting it now might give a hint to the cause.

Is this a NuGet that's included with Mono?

[2018-09-18 21:40] mdmoura opened #2539 "Intellisense not working at all ..."
## Environment data

.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    3599f217f4

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.402\

Host (useful for support):
  Version: 2.1.4
  Commit:  85255dde3e

.NET Core SDKs installed:
  2.1.300 [C:\Program Files\dotn

[2018-09-18 21:42] anorborg commented on #2514
no, its the standalone nuget in brew, which depends on mono. Partial output from `brew upgrade mono`:

[code]

[2018-09-18 21:43] DustinCampbell commented on #2514
WRT the `Microsoft.NET.Sdk.Razor`, something feels a bit fishy. It's almost like `dotnet` is not on the path in the VS Code process.

[2018-09-18 21:46] anorborg commented on #2514
Yeah, that definitely seemed odd as the project type doesn't reference razor in that branch.

[2018-09-18 21:47] DustinCampbell commented on #2532
@rajdakin: Could you share your full OmniSharp Log for that last case?

[2018-09-18 21:48] DustinCampbell commented on #2514
The Razor SDK gets pulled in via the Web SDK.

[2018-09-18 22:03] DustinCampbell commented on #2526
@rchande : Is this coming from the Razor highlighting support already included in VS Code? https://github.com/Microsoft/vscode/tree/master/extensions/razor

[2018-09-18 23:31] shodanx2 commented on #25
Sending them money is probably the most effective way of getting their
attention. Next would be introducing vscode to fellow VB coders and have
them post on this thread of their genuine desire to have the basic features
of intellisense and live debugging added to vscode

On Tue, Sep 18, 2018, 19:25 Ethan Lindemann-Michael, <
notifications@github.com> wrote:

[2018-09-19 01:14] MicahZoltu commented on #2536
Yes.  I can open VSCodo and open projects without seeing this.  When I try to debug a node project, I see it instead of my node project debugging.

[2018-09-19 01:16] pgmitche commented on #2539
+ 1  Hasn't been working for about a week.

[2018-09-19 02:02] llint commented on #2538
@zvinless you are right, partial class is not required to reproduce this issue. I'm able to merge the partial class `Test` (also removing `partial` keyword), and Git diff view alone would solidly reproduce the issue.

[2018-09-19 06:16] hanhrevive commented on #2526
@rchande : I don't install any extensions except C#.  Do you have any suggestions ?

[2018-09-19 08:54] Marchyello commented on #2538
Same issue on Ubuntu 16.04.
It seems that any diff can trigger the issue (no need for partial class or anything specific).
It's also (at least for me) not necessary to close the diff view to trigger the issue. I can reliably reproduce it just by switching between different files in Source Control. I could've sworn that at times the issue could even be triggered just by opening diff view and waitin

[2018-09-19 09:58] rajdakin commented on #2532
Here it is, in `trace` logging level:
[code]

[2018-09-19 10:15] ognjenkurtic commented on #1794
Issue still exists in 1.16.1. Do you need any further info\help for fixing this?

[2018-09-19 10:30] Marko-Petek opened #2541 "Interpolated strings: variables inside curly brackets are highlighted as regular text"
Issue Type: <b>Bug</b>

Write code to print out an interpolated string, e.g.:
[code]
Variables {x} and {y} are highlighted like surrounding text, making it hard to read interpolated strings with many escaped curly braces.

Extension version: 1.16.1
VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.15.0-34-generic

[2018-09-19 12:05] eblade commented on #2537
Thanks!

[2018-09-19 12:45] anorborg commented on #2514
Continuing to experiment, I've also completely have wiped my dotnet installs via:

#### Wiped DotNet Packages
[code]

and also wiped all my brew formulae

#### Wiped Brew Formulae
[code]

From this point, I did a fresh install of .Net Core SDK 2.1.4. With OmniSharp 1.16.1 Extension, I receive the original error on the NetStandard2.0 project (for both repos with and without webapi project):

[code]

[2018-09-19 14:10] floyd-may commented on #2539
Been having troubles myself for a week or so. OmniSharp.exe consumes lots of CPU. The joke around the office is that it's mining bitcoins 😆

Generally, I've been having to restart VS Code to get it working again. Seems to be related to the upgrade to version 1.16

[2018-09-19 14:47] RoarkeRandall commented on #1794
Yes, they need an example project to repro this. If you're about to make
one that would be awesome!

On Wed, Sep 19, 2018, 3:15 AM ognjenkurtic <notifications@github.com> wrote:

[2018-09-19 15:48] codeimpossible commented on #2432
@chuckries In doing some more testing and troubleshooting with other devs it seems that the debug slowness can be improved by collapsing the "Variables" pane in vscode. `Task<T>` objects specifically seem to exacerbate the performance issue, even crashing vsdbg entirely in some scenarios.

[2018-09-19 15:49] gregg-miskelly commented on #2536
@MicahZoltu the issue is that you haven't successfully downloaded the C# extension dependencies before (it is a 1-time step that happens on the first activation after the C# extension is installed). Ideally this download step would happen as part of the primary extension download, but unfortunately VS code doesn't support that. The way VS Code activation works we need to activate our extension on

[2018-09-19 16:51] loligans commented on #25
Would it make a difference if donations were sent to the omnisharp team for VB.NET integration with VSCode? @david-driscoll @DustinCampbell

[2018-09-19 17:13] chuckries commented on #2432
Update: I have not had time to test this, but there was a recent fix in the CoreCLR debugging interfaces that improves performance on XPLAT. I would expect this to improve Expression Evaluation performance both on Linux/Mac as well as Docker.

The specific commit is [here](https://github.com/dotnet/coreclr/commit/27decac74572ef7158bceba0b67e343aabc6c8d7). This is currently in coreclr master, meani

[2018-09-19 17:18] rchande commented on #1794
@ognjenkurtic @RoarkeRandall I used to be able to reproduce this on 15.2, but am no longer able on 16.1. A repro project would be great!

[2018-09-19 17:20] rchande commented on #2514
@anorborg Can you try installing mono using the mono installer (https://www.mono-project.com/download/stable/#download-mac)? We have had issues in the past where homebrew incorrectly packaged mono.

[2018-09-19 17:45] mdmoura commented on #2539
In my case it stops working maybe half of the times I update Visual Studio Code ...

Sometimes, even without updating it and I need to reinstall everything ...

@floyd-may

Yes, it also happens with me ...

[2018-09-19 17:51] akshita31 commented on #2539
@mdmoura Can you share your "OmniSharp log" and "C#" log. You can find it in the "View--> Output" pane.

[2018-09-19 18:37] #2498 closed

[2018-09-19 20:41] gleip commented on #2521
Same problem
[code]

[2018-09-19 20:50] mdmoura commented on #2539
@akshita31

I checked the Ominsharp Log and got the following:

[code]

So Increased the omnisharp.projectLoadTimeout from 60 seconds to 120 seconds and I got:
[code]

Then I opened the Startup file of an ASP.NET Core project with the following:

[code]

Intellisense works if I type:

    name.

But it does not work if I type:

    services.

I do not have a C# log on the VS Code output only Omnis

[2018-09-19 22:50] akshita31 commented on #2539
@mdmoura Do other IDE features work for you? Like are you able to see the Codelens above the method names or the class names? If you do an F12 on the IServices interface do you get some result ?

[2018-09-19 22:51] akshita31 commented on #2539
@pgmitche Can you create a basic "dotnet new console" project and open it in vscode? Does anything work for you there ?

[2018-09-19 23:05] akshita31 commented on #2541
@rchande Should this be ported to the https://github.com/dotnet/csharp-tmLanguage repo ?

[2018-09-19 23:08] akshita31 commented on #2521
@monyarm  The issue here is just that the OmniSharp flame is red despite of the fact that all IDE features work. Can you file a new issue with specific repro steps ?

[2018-09-20 00:02] mdmoura commented on #2539
@akshita31

Yes, I am able to see Codelens above the method names and the class names.
If I hit F12 over IServiceCollection I get the message "No definition found for IServiceCollection".

I have 3 ASP.NET Core web projects on my Solution / VSCode workspace.

There is one project where Intellisense works for services variable and when I hit F12 over IServiceCollection I am taken to [metadata] ISer

[2018-09-20 01:18] argentini commented on #2521
Not for me. On macOS Mojave I get the red flame as well but my Console app project won't debug any more. It starts to run the app and locks up, truncating the console output. I can't pause it but I can stop it. When I run the project on Visual Studio Code for Windows (same version) I get the green flame icon and a functional debugging session. So I think this is more than simply an erroneous alert

[2018-09-20 02:32] #2521 closed

[2018-09-20 03:04] akshita31 commented on #2538
@llint I am definitely able to reproduce the error. I seems that when the file is opened in git view, omnisharp process deleted the file from the workspace, hence the intellisense seems messed up. Thanks for filing, we are investigating.

[2018-09-20 03:13] akshita31 commented on #2539
@mdmoura I think I understand what might be happening. OmniSharp is loading only the API project, hence you are getting complete intellisense support for that project, and for the files in other projects you are getting only basic support(which doesnot look into the project definition).
Can you try "OmniSharp --> Select Project", you should see a drop down with all the project names, and selecting

[2018-09-20 03:47] akshita31 commented on #1794
Related issues:  https://github.com/OmniSharp/omnisharp-vscode/issues/2106 https://github.com/OmniSharp/omnisharp-vscode/issues/2398

[2018-09-20 03:51] akshita31 commented on #1794
@rchande I am able to reproduce it on my Ubuntu 18.04 system after clicking the "Debug Test" 2-3 times.
Here is the repro project: https://github.com/akshita31/Samples-BankTesting.

Here is my OmniSharp log:

[code]

[2018-09-20 07:03] monefeldt commented on #2539
I am having the same issue, omnisharp cannot load any of my projects (I've tried reinstalling dotnet sdk, vscode, csharp-extension -- on both windows and mac os).

I don't have the same error message as the guy above but on my Mac it's telling me that it can't fint "mscorlib.dll".
And on Windows it's telling me it can't find the .NET SDK.

@akshita31 I've tried the "Omnisharp --> Select Project" r

[2018-09-20 07:12] akshita31 commented on #2539
@monefeldt Can you post the output from "OmniSharp log" ? Also, do you get the same errors if you run a basic "dotnet new console" application ?

[2018-09-20 07:19] ognjenkurtic commented on #1794
@akshita31 Thanks! I also experience it on Ubuntu 18.4 but not on Windows.

[2018-09-20 09:31] oleg-shilo commented on #25
You may want to try [CS-Script VS-Code extension](https://marketplace.visualstudio.com/items?itemName=oleg-shilo.cs-script). It supports VB.NET since Apr 2018:

![vscode_vb](https://user-images.githubusercontent.com/16729806/45809496-a8423000-bd0b-11e8-9879-7f918c8f71c7.gif)

[2018-09-20 09:43] mdmoura commented on #2539
@akshita31

Can you try "OmniSharp --> Select Project"

So I selected the Auth project on Ominsharp and now Intellisense works on it ... but stopped working on the API project.

Shouldn't work in all projects without the need of changing on Omnisharp?

A suggestion:

Shouldn't the omnisharp.projectLoadTimeout default value be increased?

Better would be to improve Omnisharp CPU consumption to run

[2018-09-20 10:47] tejalbarot commented on #2539
I am facing the same issues
Error Log

The SDK 'Microsoft.NET.Sdk' specified could not be found.

at Microsoft.Build.Shared.ProjectErrorUtilities.ThrowInvalidProject (System.String errorSubCategoryResourceName, Microsoft.Build.Shared.IElementLocation elementLocation, System.String resourceName, System.Object[] args)

[2018-09-20 11:19] Domvel opened #2543 "Use the vs-code language settings for error text."
## Environment data
`dotnet --info` output:
.NET Core SDK ("global.json"):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime environment (translated from 'Laufzeitumgebung'):
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.401\

Host (useful for support):
  Version: 2.1.3-servicing-26724-03
  Commit:  1240

[2018-09-20 15:05] denisvlah opened #2544 "Cannot run C# tests"
## Environment data
.NET Core SDK:  2.1.401
 OS Name:     ubuntu 16.04
VS Code version: 1.27.1
C# Extension version: 1.16.1

## Steps to reproduce
1) Open folder in VSCode  with C# netcore solution.
2) Wait for OmniSharp to load completely.
3) Open xUnit test file

## Expected  behavior:
Links Run|Debug should appear above each test method
## Actual behavior:
Links Run|Debug don't appear.

It work

[2018-09-20 16:13] bzier commented on #1794
For what it's worth, I was experiencing the problem on Ubuntu 16.04.

[2018-09-20 16:33] breake commented on #2373
@akshita31 take a look on https://vnextcoder.wordpress.com/2018/05/23/install-omnisharp-win-x64-1-30-1-zip-vs-debugger-for-vs-code-manually/

[2018-09-20 17:07] akshita31 commented on #2544
@denisvlah The red error flame is not because of omnisharp process crashing. It is because of a typical mono behavior and we have already fixed that in master: https://github.com/OmniSharp/omnisharp-vscode/pull/2540.

From your omnisharp log I don't see any error being printed. Since you are saying that it works on small projects, can you try "omnisharp.projectLoadTimeout" to a higher value and th

[2018-09-20 17:14] rchande commented on #2514
@anorborg I still can't reproduce this. Here's my configuration. Can you share your equivalents so we can diff? The output of `which dotnet` might be interesting as @DustinCampbell mentions.
Project file:
[code]

Dotnet info:
[code]

Output of `which dotnet` from the terminal in VS Code
[code]

omni sharp log:
[code]

[2018-09-20 17:14] akshita31 commented on #2543
Duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/2513

[2018-09-20 17:30] #2543 closed

[2018-09-20 17:31] rchande commented on #2513
This is essentially a feature request for us to set the locale of OmniSharp based on the VS Code language configuration.

[2018-09-20 17:35] anorborg commented on #2514
The config and project can be found in this branch:
https://github.com/anorborg/minimal-dotnet-repo/tree/minimal-dotnet-repo-with-webapi

#### .csproj
[code]

#### which dotnet
[code]

#### dotnet --info
[code]

#### OmniSharp Log
[code]

[2018-09-20 17:36] rchande commented on #2513
@Spikent Thank you for the feature request. What's happening here is that one of OmniSharp's dependencies recently implemented localization for error messages, meaning that they will now be printed in your system language instead of English. To work around this (and get English error messages), you can delete the OmniSharp localization files:

Open your "OmniSharp" log and find the path to OmniSha

[2018-09-20 17:41] GabrielMariusPopescu commented on #2373
The issue was solved. Now, Omnisharp is working as expected

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Deivid Ramon <notifications@github.com>
Sent: Thursday, September 20, 2018 5:34:10 PM
To: OmniSharp/omnisharp-vscode
Cc: Gabriel; Comment
Subject: Re: [OmniSharp/omnisharp-vscode] Can't download omnisharp 1.30.1 (#2373)

@akshita31<https://github.com/a

[2018-09-20 17:41] anorborg commented on #2514
UPDATE: I am not exactly sure when this got fixed for me, but after doing a fresh `dotnet restore` on the project (something I was doing regularly while I was trying to figure this out), it worked!

[2018-09-20 17:43] rchande commented on #2514
@anorborg Glad you got it working! Thank you for sharing your detailed configuration; hopefully it will help others who encounter the same issue.

[2018-09-20 17:43] #2514 closed

[2018-09-20 17:49] rchande commented on #2529
@Ghostbird I think installing mono 5.14.0 fixed this for @anorborg. Could you give that a try?

[2018-09-20 17:55] anorborg commented on #2514
This may be a separate issue, I wonder if its possible for the extension to suggest a `dotnet restore` for such exceptions? I that I remember the extension previously prompting for restore before?

[2018-09-20 18:04] #2215 closed

[2018-09-20 18:27] akshita31 commented on #2530
The beta with the fix for the red OmniSharp flame is out: https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.17.0-beta1. Please give it a try.

[2018-09-20 18:27] akshita31 commented on #2521
The beta with the fix for the red OmniSharp flame is out: https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.17.0-beta1. Please give it a try.

[2018-09-20 18:40] jtsom commented on #2521
Yeah, that made things worse. The C# extension isn't loading at all now:

[code]

[2018-09-20 19:02] bjornharrtell commented on #2514
@anorborg did `dotnet restore` resolve the original issue with 1.16.1 for you? I tried that version again and a `dotnet restore` but it does not help (still get `The SDK 'Microsoft.NET.Sdk' specified could not be found`).

[2018-09-20 19:06] bjornharrtell commented on #2521
@akshita31, the asset on the 1.17.0-beta1 release is https://github.com/OmniSharp/omnisharp-vscode/releases/download/v1.17.0-beta1/csharp-1.16.1.vsix - that doesn't seem right?

[2018-09-20 19:12] anorborg commented on #2514
@bjornharrtell for me there was two stages to get over these related errors, the `Microsoft.NET.Sdk`, and `Microsoft.NET.Sdk.Razor` exceptions.

I was able to solve the first by upgrading mono via brew (since that is what I used previously), but then received the `Microsoft.NET.Sdk.Razor` error. The former was solved by uninstalling the brew mono, and installing mono version 15.4.0 directly from [

[2018-09-20 19:12] StephenWeatherford opened #2546 "Accessing a resource scoped configuration without providing a resource is not expected"
Issue Type: <b>Bug</b>

[ms-vscode.csharp] Accessing a resource scoped configuration without providing a resource is not expected. To get the effective value for '[csharp]', provide the URI of a resource or 'null' for any resource.

[ms-vscode.csharp] Accessing a resource scoped configuration without providing a resource is not expected. To get the effective value for 'editor.insertSpaces', provid

[2018-09-20 19:19] anorborg commented on #2514
@bjornharrtell also, if you haven't, you me consider cloning the repo branch I referenced locally, running the restore and see if you still get the error. Then you'll know if something with you project or not:

https://github.com/anorborg/minimal-dotnet-repo/tree/minimal-dotnet-repo-with-webapi

[2018-09-20 19:22] jrutley opened #2547 "Spurious "The type or namespace name" Problems appear when looking at Git diffs"
## Environment data
`dotnet --info` output:

[code]

VS Code version: 1.27.2
C# Extension version: 1.16.1

## Steps to reproduce

Project layout like this:
.git/
.gitignore
./application.sln
./components.sln
./MyApps/App1/Main.cs
./MyApps/App1/App1.csproj
./MyApps/App1.Test/App1.Test.csproj
./MyApps/App1.Test/MyTest.cs
./MyComponents/Component1/...

App1.Test has a project reference to App1
MyTest

[2018-09-20 19:26] #2547 closed, assigned to nobody

[2018-09-20 19:29] akshita31 commented on #2521
@jtsom @bjornharrtell Apologies that didn't work. Seems there is an issue wth missing dependency. I am investigating further.

[2018-09-20 19:46] bjornharrtell commented on #2514
Thanks @anorborg, indeed installing Mono proper resolves the issue for me too. However that means the problem is likely with standalone/bundled MSBuild and only hidden because it will use MSBuild from Mono instead.

I had to install mono from https://www.mono-project.com/, the one currently in Debian testing/buster repo didn't help.

[2018-09-20 19:55] blackwire opened #2549 "C# Not Listed in Language Selection After Installing C# Extension"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.401\

Host (useful for support):
  Version: 2.1.3
  Commit:  124038c13e

.NET Core SDKs installed:
  2.1.401

[2018-09-20 19:56] anorborg commented on #2514
@rchande should/can we open a new issue? Perhaps the issue is more clearly, something like: ".Net Core InvalidProjectFileException without mono on macOS and linux"?

[2018-09-20 19:58] rchande commented on #2514
@anorborg Better still--I've retitled the issue.

[2018-09-20 20:02] anorborg commented on #2514
@rchande can we reopen too? Installing mono is just a workaround I assume? It should function without, right?

[2018-09-20 22:27] akshita31 commented on #2530
The new beta is out: https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.17.0-beta2. It can be installed by following the instructions here: https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases.

This aims at fixing the "Red OmniSharp flame" error when omnisharp is running on Mono,

[2018-09-20 23:31] akshita31 commented on #2546
@StephenWeatherford I often get these in the "Debug Console" when I debug the extension but I am not sure what are the implications of these. The extension seems to work fine for me, so I assumed these are some sort of warning messages. Can you elaborate on what is the problem that these messages cause?

[2018-09-20 23:32] akshita31 commented on #2546
Also, @rchande do you have any ideas here ?

[2018-09-20 23:41] StephenWeatherford commented on #2546
https://github.com/Microsoft/vscode/issues/37041

[2018-09-20 23:43] estebanrao commented on #2521
![image](https://user-images.githubusercontent.com/601031/45852333-a54c3d00-bd15-11e8-89f9-3edfbe012ba6.png)
<3

[2018-09-20 23:59] akshita31 commented on #2538
@rchande I investigated the issue here and here is what I found:

1. Whenever we open the git view, the extension identifies the document as a virtual document,and asks omnisharp to add it to the workspace. Since, omnisharp already knows about this document so it doesn't do anything here.
2. Now when we navigate away from diff view, the close virtual document is triggered and it sends a request to

[2018-09-21 00:04] 4verage commented on #2520
Command: '.NET: Restore All Projects' resulted in an error.

I've looked around. I can't figure out where to track the error unfortunately!

I DO keep getting this in the OmniSharp log now:

[fail]: OmniSharp.MSBuild.ProjectManager :: Attempted to update project that is not loaded: d:\DEV258x\Module 2\Module2-Labs\MovieApp.csproj

Any ideas?

[2018-09-21 00:12] akshita31 commented on #2520
@4verage Can you do the following :
1. Create a directory test : mkdir test
2. cd test
3. dotnet new console

Now open the test folder in vscode. Do you still see similar errors ?

[2018-09-21 00:12] NTaylorMullen commented on #2538
@akshita31 files should probably be represented on the server via their URI not their path if this is an issue. That way different URI schemes wont conflict when adding/removing documents.

Another solution would be to only listen to virtual documents under a specific non-file scheme. It'd be something you'd have to document but would allow people who are interested in having virtual C# documents

[2018-09-21 00:18] akshita31 commented on #2520
Also can you navigate to the directory in which you are working in the terminal and execute "dotnet restore" ?

[2018-09-21 00:58] akshita31 commented on #2549
.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    3599f217f4

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.402\

Host (useful for support):
  Version: 2.1.4
  Commit:  85255dde3e

.NET Core SDKs installed:
  2.0.2 [C:\Program Files\dotnet\sdk]
  2.1.2 [C:\Pro

[2018-09-21 01:31] argentini commented on #2521
The flame is indeed green, but I still can't debug my console app any more. It runs and freezes. Cannot pause debugger. When I stop it I can't debug again because the pdb files are in-use and can't be overwritten during the build. This happens in macOS High Sierra and Mojave.

[2018-09-21 01:35] akshita31 commented on #2521
@argentini Can you file a new issue with the relevant information about your system and the project you are working with ?

[2018-09-21 01:41] akshita31 commented on #2539
@mdmoura If you load a solution that contains all the projects, then intellisense will work for all if them, however omnisharp currently doesnt support loading multiple projects in a multi-root workspace.

[2018-09-21 01:42] akshita31 commented on #2539
@tejalbarot Can you post the complete "OmniSharp log" and also the output of dotnet --info ?

[2018-09-21 07:18] bjornharrtell commented on #2514
I can also report that I have not been able to reproduce the issue when running 1.16.1 *without* Mono on Ubuntu 18.04 LTS, so perhaps this is due to some assumptions on the underlying OS / file system layout.

[2018-09-21 11:38] jeriwice commented on #1585
Error: OmniSharp server load timed out. Use the 'omnisharp.projectLoadTimeout' setting to override the default delay (one minute).

Please how can I extend the default delay time? Are there any alternatives to resolve this?

[2018-09-21 12:15] mdmoura commented on #2539
@akshita31

I organize the projects in a very common way, e.g.:

    project.sln
    project.code-workspace
    /src
       /api-project
          api-project.csproj
       /auth-project
          auth-project.csproj
    /test
       /api-test-project
          api-test-project.csproj
       /auth-test-project
          auth-test-project.csproj

In Visual Studio Code I load the Workspace file ...

[2018-09-21 12:52] anorborg commented on #2514
I just hit _another_ odd issue trying to reproduce this. I'll attempt to lay it out below:

1. As of yesterday, I somehow got it working by installing Mono 15.4.0 for macOS from [here](https://www.mono-project.com/download/stable/#download-mac)
2. This morning, attempting to reproduce @bjornharrtell 's experience I uninstalled mono to see if it still worked (I used the uninstall instructions from

[2018-09-21 13:01] anorborg commented on #2514
Attempting to go deep into the bowels of msbuild based on some of the stracktraces (which I'm admittedly not familiar with) The error seems to occur when the sdkResolver fails. I found the following code:

https://github.com/Microsoft/msbuild/blob/b4f5792a8fadab87e5199ec54d355c3ba1397a6a/src/Build/BackEnd/Components/SdkResolution/CachingSdkResolverService.cs#L36

Which optionally is using a cache

[2018-09-21 14:01] pgolebiowski commented on #43
@savpek How far is this from being added, sir?

[2018-09-21 16:56] Jonatthu commented on #2530
@akshita31 Nice! I will wait until 1.17 goes out!

[2018-09-21 17:31] rchande commented on #1585
@jeriwice You can do as directed in this comment https://github.com/OmniSharp/omnisharp-vscode/issues/1585#issuecomment-311103799

[2018-09-21 17:56] danShumway commented on #2520
Is this related to #2234? Is there any way to downgrade what version of OmniSharp Visual Studio uses?

[2018-09-21 18:30] bakintunde commented on #2041
Hi,

I'm also experiencing this issue now with Visual Studio Code while editing/running C# code on max os x

@rchande How could I get more stats/info required for further investigation?

Find below the output of dotnet --info on my computer as well

`.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    3599f217f4

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.

[2018-09-21 20:30] rchande opened #2551 "Determine process for gathering performance telemetry on OS X"

[2018-09-21 20:58] rchande commented on #2538
@akshita31 @NTaylorMullen Maybe the solution is to add some kind of ref-counting to documents? By default, a document discovered through msbuild would have one reference. Opening the same path in git increments it, and closing the git copy of the file would decrement the count to 1, not 0.

cc @DustinCampbell

[2018-09-21 23:36] Leopotam commented on #1044
@Necronux why not cstop developing omnisharp-vscode then? What is main goal of this extension?

[2018-09-22 00:35] akshita31 commented on #2531
Unfortunately, vscode doesn't provide the capability to do a case insensitive find files. The corresponding feature request is here: https://github.com/Microsoft/vscode/issues/8666.

[2018-09-22 00:40] gregg-miskelly commented on #2530
@jtsom your issue with debugging doesn't sound related to this issue. Can you open a new issue so we can talk more about what you are seeing?

[2018-09-22 10:53] Necronux commented on #1044
@Leopotam I'm not saying it's worthless, but I'm saying it's still far behind full-blown IDEs to be productive with it. You will certainly spend more time writing some piece of code with omnisharp-vscode than with vs or rider.

It's meant to be lightweight but we aren't there yet with features to compete with IDEs

[2018-09-22 18:17] hadi77ir commented on #9
They've officially dropped support for it.
AFAIK all of UnityScript code (compiler, MonoDevelop extensions, etc.) were available at [Unity Technologies](https://github.com/Unity-Technologies) repositories, but now I can't find them. (I think they have deleted the repos instead of archiving).
But the community may revive it some day by writing a new compiler and plugging support into Unity, who kno

[2018-09-23 01:05] akshita31 commented on #9
Thanks @hadi77ir. In future, Please let us know if there are any features that help Unity developers that might be interesting to take up for the C# extension.

[2018-09-23 01:05] #9 closed

[2018-09-23 04:28] akshita31 commented on #1808
This is fixed by #2487

[2018-09-23 04:28] #1808 closed

[2018-09-23 06:11] smitpatelx commented on #2173
# Error: IOException Cannot locate resource #

Most of the time this error occur when using visual studio form applications.

To solve this error you can go to your `App.xaml` file and edit `SratupUri` to your current xaml form name.

    <Application x:Class="AppName.App"
                 xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
                 xmlns:x="http://schemas.mi

[2018-09-24 21:05] TiredOfCoding opened #2555 "[fail]: OmniSharp.MSBuild.ProjectManager Attemped to update project that is not loaded"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.27.2
C# Extension version: 1.6.1

## Steps to reproduce
Open https://github.com/TiredOfCoding/Sharp C# project with VSCode.

## Expected  behavior
Full IntelliSense support.

## Actual behavior
IntelliSense doesn't work for project-specific and Unity classes. But works for standard namespaces, such as `System.IO`.

## Additional

[2018-09-24 21:17] rchande commented on #2555
@TiredOfCoding How did you download .NET? Did you download the 4.7.1 "Developer Pack" from https://www.microsoft.com/net/download/visual-studio-sdks ?

[2018-09-25 18:02] talyh commented on #2538
I've never had this issue until I recently started working on a new project. Maybe it's something that changed on omnisharp, but, more than that, this project uses a `~/.omnisharp/omnisharp.json`, which I haven't been doing before.
By cleaning up the json (ie. it still exists in the folder, but it's empty), the problem seems to go away (though far from a permanent solution).

[2018-09-25 20:50] 4verage commented on #2520
I have a new laptop and a clean install of Visual Studio Code and .NET Core. I have installed the OmniSharp extension for C# and am having issues compiling on this computer as well. I will update once I am home tonight to see if we can find a relationship between the two.

[2018-09-26 01:32] 4verage commented on #2520
@akshita31

Same errors:

`Starting OmniSharp server at 9/25/2018, 9:07:32 PM
    Target: c:\Users\style\test

OmniSharp server started.
    Path: C:\Users\style\.vscode\extensions\ms-vscode.csharp-1.16.1\.omnisharp\1.32.5\OmniSharp.exe
    PID: 8468

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Windows 6.2.9200.0 (x64)
[info]: OmniSharp.Services.DotNetCliService
        DotNetPath s

[2018-09-26 08:51] amararias commented on #490
+1

[2018-09-26 16:07] MrChriZ opened #2556 "Prevent Omnisharp Log opening on startup"
## Environment data
`dotnet --info` output:
VS Code version:1.27.2
C# Extension version:1.16.1

Is it possible to prevent Omnisharps log opening up modally when I open visual code?
When opening a nodejs project the last thing I want having just told my node server to start is Omnisharp popping up with it's log.

[2018-09-26 16:51] gregg-miskelly commented on #2513
@chinaq you can follow the work around that @rchande gave above for now.

[2018-09-26 17:17] efinkelb opened #2557 "Timeout after 15 minutes"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    3599f217f4

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.402\

Host (useful for support):
  Version: 2.1.4
  Commit:  85255dde3e

.NET Core SDKs installed:
  1.0.0 [

[2018-09-26 17:48] efinkelb commented on #2557
Restarted mi notebook and worked.......

[2018-09-26 17:48] #2557 closed

[2018-09-26 20:00] Mitiko commented on #2556
I was also searching for a way to make it not pop up at startup in the settings of the editor, but found no way. This is quite annoying.

[2018-09-27 02:53] 4verage commented on #2520
Okay, after reading through what feels like hundreds of issues posts, I finally have everything working on Laptop #2 (completely fresh install).

For some reason, the line `<Project Sdk="Microsoft.NET.Sdk">` does not cross to the physical directory for the SDK. I am not sure if there is a pointer file or something I am missing? However, the age-old work around of setting some mystical MSBuildSdksP

[2018-09-27 10:18] jakobhviid commented on #1967
CaosEngine is correct. When opening a workspace project, or opening a lone .cs file outside of a folder project, it refuses to format the code. I doubt this is the intended behaviour. Somehow omnisharp needs to be registered as the default provider for formating, even when not using a folder project.

[2018-09-27 11:17] pwasiewicz opened #2559 "Unable to start debbuging scaffolded project."
- VSCode Version: 1.28.0-insider
- OS Version: Windows 7 SP1
- Dotnet Core Version:  2.1.408
- C# Extension Version: 8,272,977

Steps to Reproduce:

1. Generate new .NET Core project with `dotnet new console`
2. Open project with VS Code
3. Generate optional assets files (VS Code asks if I'd like to add them: launch.json and tasks.json).
4. Try to start debugging

The problem is that Debug Adapter

[2018-09-27 14:05] pwasiewicz commented on #2559
No, 64 bit. Update VSCode to newest version (last was from a week ago) and works. Closing.

[2018-09-27 14:05] #2559 closed

[2018-09-27 16:09] rchande commented on #2556
@MrChriZ The real question is why the C# extension is getting activated in your node project. Do you have C# projects in the same file tree?

[2018-09-28 06:40] MrChriZ commented on #2556
@rchande Interesting...I'm new to Omnisharp. No I don't believe I do.
The project is an EmberJS project to be precise.  Omnisharp doesn't appear to be triggered by other Ember proejcts on my system... however I can't see any thing that looks like a C# file in my project.

Omnisharp outputs the following
        No solution files found in '/home/chris/EmberJS/decorator'
[info]: OmniSharp.Script.Scr

[2018-09-28 09:38] MrChriZ commented on #2556
My guess is this is because my project uses node-sass which in turn uses node-gyp which in turn has a .cs file in it's lib folder.

[2018-09-28 09:56] MrChriZ commented on #2556
At present I can confirm the project uses node-sass which in turn uses node-gyp
which does have some .cs and a .sln file.
I'm yet to reproduce the issue in a clean project.

[2018-09-28 10:57] MrChriZ commented on #2556
OK I can reproduce the issue.
In Ember projects when building a tmp folder is created in the root of the folder.
Sometimes things from node_modules gets left behind in this tmp folder.
In this particular case it's the .cs and .sln files from node-gyp/node-sass.
This is in turn tricks omnisharp into believing the project is a cs project.
I believe tmp needs to be added to the list of folder exclusi

[2018-09-28 12:50] Mitiko commented on #2556
Is it possible to start omnisharp, without showing the log?

[2018-09-28 16:01] gregg-miskelly commented on #2483
@ChaosCA sorry I didn't get back to you earlier. If you are still interested in looking at this - I would need the output of `dumpbin /headers <path-to-dll> | findstr RSDS` to tell you more.. If you could install the C++ Workload temporarily into VS, or just send me your dll then we can see if we can understand what is going wrong.

[2018-09-28 17:19] #2512 closed

[2018-09-28 18:04] coldacid opened #2561 "CS1591 warnings still appearing despite adding to <NoWarn>"
## Environment data
`dotnet --info` output:

[code]

VS Code version: 1.27.2
C# Extension version: 1.16.1

## Steps to reproduce

1. Create new C# project.
2. Add the following to the csproj file:

[code]

3. Open the Problems pane, if not already open.
4. Build the project.
3. Note that "Missing XML comment" warnings appear in the Problems pane, despite CS1591 being ignored in the csproj file.
4.

[2018-09-29 03:39] chrisming999 commented on #2556
thank you  im new bird

[2018-09-29 12:33] bihe commented on #2398
Tried the "trick" of @seesharper to do a complete uninstall on Linux (ubuntu 18.04-x64, dotnet-sdk: 2.1.402, VSCode 1.27.2, Omnisharp-vscode 1.16.1) but this did not solve the issue. The extension still crashes on completion of the unit-test with the log-line:

As a result of the crash the complete Omnisharp feature is no longer available in VSCode. Also restarting Omnisharp or selecting the solut

[2018-09-29 12:39] alizeraatkar opened #2563 "why tacking 17 sec on startup time?!"
- Extension Name: csharp
- Extension Version: 1.16.1
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0-insider

 We have written the needed data into your clipboard. Please paste:```json
{
	"activationTimes": {
		"startup": true,
		"codeLoadingTime": 17428,
		"activateCallTime": 62,
		"activateResolvedTime": 120,
		"activationEvent": "workspaceContains:*.csproj,*.sln,*.csx,*.cake,**

[2018-09-29 22:05] ChaosCA commented on #2483
Hey @gregg-miskelly

Still very much interested in helping out and can do. However I don’t believe it’s an issue of my DLL, since it works properly if I add the correct directory to `searchPaths`. The issue is that the extension only looks in `obj/Debug` and does not look in `obj/Debug/netcoreapp2.0` for the project. Since our solution has many projects it’s difficult/annoying to add all of them a

[2018-09-30 07:09] shanselman commented on #2155
Are we not on 1.16.1, if so does it include SourceLink? If so, this can be closed.

[2018-09-30 16:35] NinoFloris commented on #2556
This seems to happen because of https://github.com/OmniSharp/omnisharp-vscode/pull/2133
It seems the extensions gets a "omnisharp returns an error" event (seems because nothing weird is in the logs and autocomplete works) which gets picked up by https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/observers/OmnisharpChannelObserver.ts#L16 which then opens the output panel.

@akshita31 any

[2018-10-01 03:58] gregg-miskelly commented on #2240
I am going to close this issue for now. Feel free to reopen if you want to go back to try and figure out what is going on.

[2018-10-01 03:58] #2240 closed

[2018-10-01 04:00] #2155 closed

[2018-10-01 04:01] gregg-miskelly commented on #2155
Yup, 1.16 is the current released version, and yes, SourceLink did ship in 1.15.

[2018-10-01 04:03] gregg-miskelly commented on #2483
@ChaosCA Yes, the dumpbin output would be helpful.

[2018-10-01 04:31] mzorzella commented on #1387
I can confirm that on VS Code running on Mac - Version 1.27.2 (1.27.2) - this is still happening. Actually, the options to run tests don't disappear, but clicking on any of these will not re-run the test. The only solution is to close and restart vscode. Restarting Omnisharp server does not help in this case either.

[2018-10-01 05:51] FranklinYu opened #2564 "Provide the Package Manager Console"
This is a feature request.

It would be very helpful if this extension can provide the [Package Manager Console](https://docs.microsoft.com/en-us/nuget/tools/package-manager-console). I love PowerShell Core and it is easier to remember `Install-Package` than `dotnet package add` because I get auto-completion for free. Also compare `Add-Migration` and `dotnet ef migrations add`.

[2018-10-01 08:43] SIkebe commented on #168
@DMW007 Have you seen this?
https://github.com/OmniSharp/omnisharp-vscode/pull/2554

[2018-10-01 08:54] monefeldt commented on #2539
Im bumping this thread, the same issue as the ones listed above is affecting all the members of my team. We've all tried reinstalling everything (Vscode, omnisharp, .net core sdk/runtime) but nothing seems to help us. We've tried doing a plain new console app but the problem persists no matter the form our C# projects take.

[2018-10-01 09:15] monefeldt commented on #2539
dotnet --info
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.4/

Host (useful for support):
  Version: 2.1.0
  Commit:  caa7b7e2ba

.NET Core SDKs installed:
  1.0.0-preview2

[2018-10-01 09:36] mika76 commented on #168
@SIkebe wow this is great news - we're so close now 👍 👏 🎉

[2018-10-01 12:51] ruant commented on #2107
@dubeg
That's exactly what this is for. Thanks for the screenshots.

@rchande @DustinCampbell
Any news on the PR? No PR number was mentioned.

[2018-10-01 15:31] rchande commented on #2107
@ruant That would be this PR: https://github.com/OmniSharp/omnisharp-roslyn/pull/884

[2018-10-01 15:42] Zammy opened #2565 "Failing on Unity.2017.4.10 project"
## Environment data
`dotnet --info` output:

Product Information:
 Version:            2.1.101
 Commit SHA-1 hash:  6c22303bf0

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.101\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.6
  Build    : 74b1c703813c8910df5b96f304b0f2b

[2018-10-01 15:51] rchande commented on #2556
@MrChriZ In that case, you can add a settings file for VS Code to ignore this directory: https://stackoverflow.com/questions/33258543/how-can-i-exclude-a-directory-from-visual-studio-code-explore-tab. That should prevent the C# extension from being activated.

@NinoFloris You're probably correct. We fixed that problem in https://github.com/OmniSharp/omnisharp-vscode/pull/2540 -- fix is available i

[2018-10-01 15:53] rchande commented on #2563
@alizeraatkar I'm not really sure what you mean. Can you help me understand?

[2018-10-01 16:35] Andrew-MSFT commented on #168
As you can see from the referenced Pull Request, we are working on adding Razor support in VS Code and will let you know as soon as there is a preview version available to try

[2018-10-01 17:12] MrChriZ commented on #2556
Hmm I'm not sure I'd want to exclude the tmp folder from VS Code in it's entirety.
I find myself looking in that folder surprisingly frequently when things go wrong...

[2018-10-01 17:20] rchande commented on #2565
@Zammy Can you update your VS Community to the latest version?

[2018-10-01 20:36] akshita31 commented on #1387
@mzorzella I believed this was fixed in the latest release. PR: https://github.com/OmniSharp/omnisharp-roslyn/pull/1239. What is the version of the extension you are using ?

[2018-10-01 21:58] akshita31 commented on #1387
@mzorzella What is the C# extension version? In the View--> Extensions pane, you would be able to see the C# extension
![image](https://user-images.githubusercontent.com/12554141/46318170-70987b00-c58a-11e8-8ec2-c90d48d3d0c5.png)

[2018-10-01 23:32] ChaosCA commented on #2483
[code]
@gregg-miskelly

[2018-10-02 00:07] gregg-miskelly commented on #2483
Thanks. Is `E:\Development\Example\Source\test1\obj\Debug\netcoreapp2.0\test1.pdb` the path where your PDB is? (the path that you are adding to your search path)

[2018-10-02 00:08] ChaosCA commented on #2483
Yes that has the correct PDB file that works properly when manually added to the search path :)

[2018-10-02 00:18] gregg-miskelly commented on #2483
If you leave your `symbolOptions` empty, do you get any log lines in the debug console that talks about test1?

If that doesn't show anything - try this:
1. Download and run [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon)
2. In process monitor, bring up the filter dialog, and add a filter for 'Process Name' is 'vsdbg-ui.exe'
3. Make sure that Filter->Drop Filtere

[2018-10-02 03:09] ramya-rao-a opened #2566 "Please use the latest version of vscode-extension-telemetry dependency"
This extension uses version 0.0.15 of `vscode-extension-telemtetry`  module.

The latest version of `vscode-extension-telemtetry` module (0.0.22) uses the latest version of `applicationinsights` module (1.0.5) which has the fix to prevent unnecessary patching of the require and other 3rd party modules.

For more details, please see https://github.com/Microsoft/vscode-extension-telemetry/issues/16

[2018-10-02 04:51] ChaosCA commented on #2483
Nothing interesting in the debug console except for the lines I showed above how it cannot be found.

I shot you an email with the log file! @gregg-miskelly

[2018-10-02 13:30] Zammy commented on #2565
For the love of god I cannnot make VS

[2018-10-02 13:30] #2565 closed

[2018-10-02 15:01] rchande commented on #2566
@akshita31 Please take a look.

[2018-10-02 15:19] CTJansson commented on #2507
I had this problem recently, I thought I had everything installed even mono, but I didn't have mono-complete installed just a few packages it seems, it solved my problem. People could try that and see if it solves thier problems.

[2018-10-02 15:20] CTJansson commented on #2509
I had this problem recently, I thought I had everything installed even mono, but I didn't have mono-complete installed just a few packages it seems, it solved my problem. People could try that and see if it solves thier problems.

[2018-10-02 16:57] gregg-miskelly commented on #2483
Thanks to help from @ChaosCA, I was able to find the problem. Thanks!

[2018-10-02 16:58] ChaosCA commented on #2483
Awesome! Can't wait for a fix

[2018-10-02 17:17] #2538 closed

[2018-10-02 18:00] fiigii commented on #2041
I'm also experiencing this issue when I developing https://github.com/dotnet/coreclr

[2018-10-02 18:08] rchande commented on #2538
@llint We have a release that we believe should fix this. Would you mind trying the beta vsix from [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.17.0-beta3) and letting us know if that resolves the issue?

[2018-10-02 20:44] haridasnykiel commented on #2467
<img width="518" alt="screen shot 2018-10-02 at 21 40 41" src="https://user-images.githubusercontent.com/19474274/46375665-e9333080-c68b-11e8-9865-4ee6527a8043.png">
I am also getting the following issue when I start a vs code instance.
I have now updated to SDK version: 2.1.402
Would really appreciated is this could looked into. I cannot use my debugger at the moment.
Here is my output when run t

[2018-10-02 21:51] Tyronasaurus commented on #2532
https://github.com/OmniSharp/omnisharp-vscode/issues/2509#issuecomment-420318250

Ghostbird's solution worked for me!
Running Linux Mint (Cinnamon)

[2018-10-03 08:15] thesmallbang commented on #2472
This happens to me multiple times a day and is a real flow interruption. Normally for me it occurs with new and nameof.

Visual studio appears to fix this issue is by checking if the current text that would apply to intellisense no longer matches the intellisense ui default selected item it just adds a space normally (unless you actually manually select an item).

[2018-10-03 08:47] rajdakin commented on #2532
Well, at least the extension's status icon switched to green... Before exiting as the server timeout (crash).
It still doesn't work.
I've also tried version `1.17.0-beta3` with the same result as v`1.16.1`.
(By the way, Linux Mint 19's codename is `Tara`.)

Here is the full log in `trace` log level, version `1.15.1`:
[code]
And here it is with version `1.17.0-beta3`:
[code]

[2018-10-03 16:28] akshita31 commented on #2544
@denisvlah Any updates here ?

[2018-10-03 16:31] gregg-miskelly commented on #2467
@haridasnykiel if you open the terminal window in VS Code and run `dotnet --info` what do you get? Also, what shell are you using?

VS Code has some code to attempt to launch your default terminal and scrape the `PATH` environment variable from it. My guess is that this is not working on your computer for some reason.

It shouldn't matter what your project is for this particular error.

[2018-10-03 16:49] runxc1 commented on #2420
What about a .csx file it seems you have to restart omnisharp if a new nuget file is loaded or referenced at the top of the file.

[2018-10-03 18:06] zvinless commented on #2538
@rchande I installed the newest beta and it fixed it for me! 👍

[2018-10-03 19:21] denisvlah commented on #2544
The OmniSharp doesn't timeout. Intelicence and code navigation and code suggestions works perfect, it just not show links to run tests.
Also I have tried it on Windows with the same solution and it worked.
Also a few words about solution - it has 2 .csproj files in the same folder. They are related to different solutions. One project is for netcore and the second one is for full framework.
On the

[2018-10-04 01:02] whizkidwwe1217 opened #2575 "Debugger won't start/launch after build fails."
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.302\

Host (useful for support):
  Version: 2.1.4
  Commit:  85255dde3e

.NET Core SDKs installed:
  2.0.0 [

[2018-10-04 01:05] whizkidwwe1217 commented on #2575
Also, the errors in the Problems panel won't go away even though the errors were already fixed.
![image](https://user-images.githubusercontent.com/1977391/46447477-93a67300-c7b4-11e8-8210-5279aa33dea0.png)

[2018-10-04 01:14] gregg-miskelly commented on #2575
@dbaeumer @rchande Does this sound like a VS Code issue? Or does the language service side of the extension have something to do in this scenario?

[2018-10-04 03:17] llint commented on #2538
I installed the beta release following the link provide, and I can confirm that the issue has been fixed. Looking forward to the official release soon. Thanks for the quick action.

[2018-10-04 07:45] Ghostbird commented on #2529
@rchande Debian will probably be on Mono 4.6.x for a while still, but I installed the latest stable Mono from their apt repositories (`deb https://download.mono-project.com/repo/debian stable-stretch main`).

With the newer Mono version, the problem is gone. I wonder why the extension only works with the newer Mono.

[2018-10-04 08:04] dbaeumer commented on #2575
Here is what I see:

- new dotnet project created with dotnet new console
- opened in VS Code
- insert an error (change `WriteLine` to `Writeline`)
- press F5
- you get

![capture](https://user-images.githubusercontent.com/1931590/46460478-5f36b500-c7bc-11e8-9c99-78d2d0d65424.png)

which IMO is correct since there is a build error

- fix the error
- press F5
- I can successfully debug

![capture](

[2018-10-04 08:05] dbaeumer commented on #2575
@gregg-miskelly can you provide steps where the F5 fails even after fixing the error.

[2018-10-04 08:13] dbaeumer commented on #2575
@gregg-miskelly I did notice another problem. The task you run is using the $mscompile problem matcher. This matcher assumes absolute path names for the files. However the dotnet build command issues relative paths. This can be fixed using the following takss.json config:

[code]

However this still double the errors (you see two for program.cs). This can be avoided if you use the same owner as yo

[2018-10-04 13:38] colotiline commented on #785
Had the same issue today.

**VS Code info**
[code]

**OmniSharp**
[code]

**Workaround**
OmniSharp restart helped.

**Case**
* Create a class description.
* Use it in another class.
* Use F2 to refactor the class name (from the another class).
* Go to `Explorer` in VS Code and rename file with the class description.
* Get the error.

[2018-10-04 16:08] rchande commented on #2538
@llint @zvinless Glad it works for you--thanks for taking the time to let us know!

[2018-10-04 16:26] RMacfarlane opened #2578 "Real Time Compile and Error reporting not working"
_From @motor75 on October 2, 2018 16:22_

Issue Type: <b>Bug</b>

It seems that since I have introduced solution files (.sln) into my projects, the red squiggles that show errors as you're coding has stopped altogether.  I have multiple projects in which this is occurring.  It had been working, but seems to have stopped since I put existing projects in solutions.  I had created an ASP.NET Core Web

[2018-10-04 18:58] #2566 closed

[2018-10-04 19:24] PeteX opened #2581 "Spurious warnings from automatically generated files"
## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.403
 Commit:    04e15494b6

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.403/

Host (useful for support):
  Version: 2.1.5
  Commit:  290303f510

.NET Core SDKs installed:
  2.1.403 [/usr

[2018-10-04 20:28] rchande commented on #2398
@akshita31 Oops. Looks like GitHub helpfully closed it for me automatically.

[2018-10-04 20:32] brogan89 commented on #1952
@DustinCampbell I'm running VScode on Arch Linux and having this same issue as well but in the log it is running `OmniSharp.exe` which based on your comment is expected however I still get this warning:

        Unable to resolve assembly '/home/brogan/rugby-unity/Temp/bin/Debug/Assembly-CSharp-firstpass.dll'

and the OmniSharp flame icon is red.
On the up side though, everything seems to be worki

[2018-10-04 20:42] gregg-miskelly commented on #2575
@whizkidwwe1217 are you able to repo this problem for a basic app? Or is this something specific to a project?

@DustinCampbell @rchande in the task.json that we generate, do you think we should be setting an option to `dotnet build` to have it generate full paths in diagnostic messages? (at least I thought there was an option for this, though I am not sure what it is) Or should we set `"fileLocat

[2018-10-05 00:36] whizkidwwe1217 commented on #2575
@gregg-miskelly Yes, I was able to reproduce this problem consistently. I even created a new project fresh from start (e.g. dotnet new webapi),, and I always get same issue. I tried your suggestion but got the same result.

[2018-10-05 00:50] whizkidwwe1217 commented on #2575
@gregg-miskelly  @DustinCampbell  @rchande Do you think this is a Visual Code issue? It doesn't seem to be a problem in Visual Code Insider builds.

[2018-10-05 03:49] tomlum commented on #2383
@rchande I have a similar issue, and have v4.7.1 in that location, however my error is coming from `D:\Main\Program Files\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(1179,5)` is it possible the issue is some of my installs are on my D drive?  If so how would I resolve this?

[2018-10-05 06:58] dbaeumer commented on #2575
@whizkidwwe1217 I followed exactly your steps using that latest stable release of VS Code and it works for me. @gregg-miskelly can you reproduce this?

[2018-10-05 08:05] E4N commented on #25
Upvoted, would love to use VB.NET on VSCode.

[2018-10-05 12:45] xcellsoft commented on #2398
FYI, mine still crashes all the time - i'm now really efficient at hitting Ctrl-P + Reload Window, I keep updating to the next beta's in hope it gets fixed. I wish i had more time to troubleshoot the exact the issue to help solve the problem. I lose the debugger on certain exceptions thrown when debugging, also when stopping the debugger in certain situations, and then about half the time on synta

[2018-10-05 13:13] Blackbaud-MitchellThomas commented on #2575
I've experienced the exact same thing. I have an issue open with vscode, and they want to see the conclusion of this. @whizkidwwe1217's comment about it working in Insiders led me to investigate something. I tested this in Insiders, but I used Settings Sync to restore all the same extensions I had for my .NET Core development. So, I was experiencing the same issue as I was in the stable release. O

[2018-10-05 13:59] whizkidwwe1217 commented on #2575
I also tried to disable Live Share in stable build but I haven't thought of it as the issue because I didn't keep an eye on it. After that, I couldn't reproduce the issue. The fact that it worked when I tested it in insider build, which doesn't have Live Share installed, maybe you're right that the  Live Share is indeed causing the build not to work. But I have to confirm this with my other machin

[2018-10-05 16:21] jsm85 commented on #2575
I also had the same experience as @Blackbaud-MitchellThomas. I found that when I disabled all the extensions (apart from the C# extension) I was able to Debug as expected. I then enabled only the C# and VS Live Share code extension and the problem occured. It does feel like the issue is with the VS Live Share extension.

[2018-10-05 16:38] Blackbaud-MitchellThomas commented on #2575
My teammates have confirmed this as well.

[2018-10-05 16:49] jtsom opened #2585 "Warning Messages about __virtual files in problems tab"
## Environment data
`dotnet --info` output:
[code]
VS Code version: Version 1.28.0-insider (1.28.0-insider)
C# Extension version: 1.17.0-beta.5

## Steps to reproduce
Open a .Net Core Razor Pages application

## Expected  behavior
With no code errors, no warnings should be displayed.

## Actual behavior
Warnings are displayed in the Problems tab:
The type or namespace name 'StatusModel' could not

[2018-10-05 16:54] rchande commented on #2585
cc @NTaylorMullen

[2018-10-05 17:41] NTaylorMullen commented on #2585
@jtsom really appreciate you taking the time to report the issue. I'm unable to reprodouce the issue in a `dotnet new razor` application. Would it be possible for you to share a repro project?

![image](https://user-images.githubusercontent.com/2008729/46550868-23b6ec00-c88b-11e8-94be-bed3508c0fef.png)

[2018-10-05 18:02] jtsom commented on #2585
It's seems to come and go, have to quit and relaunch VS Code, sometimes do a dotnet clean and dotnet build.

[Extension Host] No editors associated with document: /Users/johntsombakos/Projects/TestWebApp/TestWebApp/Pages/Status.cshtml__virtual.cs (at DocumentDecoration.updateDecorations (/Users/johntsombakos/.vscode-insiders/extensions/coenraads.bracket-pair-colorizer-1.0.60/out/src/documentDecora

[2018-10-05 18:50] NTaylorMullen commented on #2585
Ahh, @jtsom I definitely see your issue, what makes it super interesting is that it happens more frequently on OSX but not always (it's a race condition). Here's what I'm seeing just to clarify what you're seeing the same thing.
- Error only shows if Razor View is already open on project open.
- Error goes away if you start typing.
- Error goes away if you wait a portion of time.

I've filed an is

[2018-10-05 18:51] NTaylorMullen commented on #2585
Oh and the coloring issue. We do know of that one. It's something we plan to fix in our next release 😄

[2018-10-05 18:55] jtsom commented on #2585
Awesome, thanks! Glad I could help!

[2018-10-05 20:40] rodrigovaras commented on #2575
This is a known problem being tracked on the live share team. We are planning on releasing a workaround on the short term. The root problem is the use of a vscode debugger API that has limitations for our scenario and so cause problems when proxing a debug session and the builds fail. We have a long term solution that will resolve the root problem by using a different architecture that will be muc

[2018-10-05 23:31] whizkidwwe1217 commented on #2575
Thanks @rodrigovaras  I just tested in my other machine and I can also confirm that Live Share is the main culprit.

[2018-10-05 23:57] #2575 closed

[2018-10-06 00:12] menorless commented on #2428
why closed this issue?
The  conditional breakpoints doesn't work yet with c#.

[2018-10-06 00:13] NTaylorMullen commented on #2585
Fixed in https://github.com/aspnet/Razor.VSCode/issues/174. BTW aspnet/Razor.VSCode is now public

[2018-10-06 00:14] NTaylorMullen commented on #2585
@rchande You can close this.

[2018-10-06 00:17] gregg-miskelly commented on #2428
@menorless If you are seeing issues with conditional breakpoints, please open a new issue with details. The problem that this issue tracked was fixed in 1.16.

[2018-10-06 11:58] haridasnykiel commented on #2467
This is the output of the `dotnet --info` command.

.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    3599f217f4

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.402/

Host (useful for support):
  Version: 2.1.4
  Commit:  85255dde3e

.NET Core SDKs installed:

[2018-10-06 16:08] TobiichiAmane opened #2587 "Error "Process is terminating due to StackOverflowException." occurs every time when a C# program ends."
## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.403
 Commit:    04e15494b6

Runtime Environment:
 OS Name:     arch
 OS Version:
 OS Platform: Linux
 RID:         arch-x64
 Base Path:   /opt/dotnet/sdk/2.1.403/

Host (useful for support):
  Version: 2.1.5
  Commit:  290303f510

.NET Core SDKs installed:
  2.1.403 [/opt/dotnet/sdk]

.NET Core

[2018-10-06 21:47] gregg-miskelly commented on #2587
@TobiichiAmane If you run the program without debugging, do you get the same problem?

This sounds like an incompatibility between arch and .NET Core.

[2018-10-06 22:11] gregg-miskelly commented on #2467
To be clear - @haridasnykiel that is the output you get from the built in VS Code terminal (NOT a normal terminal window)?

I have having trouble finding the code in VS Code for this, but the way VS Code tries to workout PATH is by running your shell and having it spit back the value of `$PATH`. This problem happens when you have something in your shell setup scripts (.bash_profile, .bashrc) that

[2018-10-07 02:47] TobiichiAmane commented on #2587
@gregg-miskelly No. I won't get the same problem when running it directly.
![image](https://user-images.githubusercontent.com/14824064/46577663-6826c100-ca1e-11e8-954d-9b9b59a9642f.png)

[2018-10-07 03:03] TobiichiAmane commented on #2587
This problem occurs no matter if I try to debug it in the integrated terminal or an external terminal. The same problem occurs when using Gnome-terminal instead of Konsole. The same problem occurs when using Gtk based DE (I tried Gnome and Cinnamon) instead of KDE.

[2018-10-07 08:33] duongphuhiep opened #2588 "auto format cannot auto-indent dynamic object"
Issue Type: <b>Bug</b>

Auto-formating doesn't work on this codes
[code]

Extension version: 1.16.1
VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.4.0-137-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz (4 x 3397)|
|GPU Status|2d_canvas: enabled<br>che

[2018-10-08 04:15] glaucia86 commented on #2208
Not worked it for me.. I tried to remove this file and the error still appear in my VS Code....

[2018-10-08 05:59] eastwing opened #2589 "OmniSharp doesn't work if I choose 4.x .Net Runtime Version in Unity"
When I do so, I get 'Attemped to update project that is not loaded' error. Output log says that I don't have .NETFramework,Version=v4.7.1 installed and that's true as I have 4.7.2. If I manually change runtime version in .cproj files and then restart VS Code everything works perfect, but Unity changes it back to 4.7.1 on every build. Of course I can't install 4.7.1 because 4.7.2 includes it and in

[2018-10-08 15:27] #2585 closed

[2018-10-08 18:02] akshita31 commented on #2208
@glaucia86 Could you post the output from the Omnisharp log window as you have posted above ?

[2018-10-08 18:18] jtsom opened #2591 "Errors/Exception shown in Dev tools console"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.29-insider
C# Extension version:
1.17.0-beta-5
## Steps to reproduce
Launch VS Code Insiders with a .Net Core project

## Expected  behavior
No Errors in Dev tools console

## Actual behavior
Errors in dev tools console:
[code]

[2018-10-08 20:19] eastwing commented on #2589
Ok, maybe I was wrong about "changes it back on each build". Looks like framework version changes onky when Unity has to update the project file (e.g. when you add new file). But it's still too often.

[2018-10-08 21:23] #2414 closed

[2018-10-08 21:55] danroth27 commented on #168
Razor tooling work for VS Code is now happening here: https://github.com/aspnet/Razor.VSCode. It will all get released as part of the standard C# extension, but if you're specifically interested in Razor support in VS Code then the [Razor.VSCode](https://github.com/aspnet/Razor.VSCode) repo is where the action is at (source code, issue tracking, etc). Enjoy!

[2018-10-08 23:29] akshita31 commented on #2591
@jtsom Thanks for filing the issue.  I am able to reproduce the error with 1.16.2 as well. However the strange thing is that all the logs are showing up well.

[2018-10-08 23:37] akshita31 commented on #2578
@motor75 What is the C# extension version you are using? Also could you post the output from your OmniSharp log(View--> Output--> OmniSharp log)

[2018-10-08 23:40] akshita31 commented on #2556
@MrChriZ The 1.16.2 version of the C# extension is out which contains the fix for this. Can you try updating and checking if the error still reproduces?

[2018-10-08 23:49] akshita31 opened #2593 "Add a command to copy OmniSharp/C# log to the clipboard"
A number of times when we receive the issues we have to ask the user for the C# or O# log, the locations of these are not obvious to the users.
With the new "Issue Reporter" capability, we already investigated that O# log and C# are too large to be sent in the url payload, hence we can add commands that copy these logs to the clipboard, from which the user can directly paste the output.
The copyin

[2018-10-08 23:50] akshita31 commented on #2593
We can leverage the "logPath" in the extension context to put the o# and C# logs in a file from where the contents can direct;y be read when the need arises.
Thoughts @rchande ?

[2018-10-08 23:51] akshita31 commented on #2593
cc @NTaylorMullen You can also consider a similar strategy for the "Razor Issue Reporter"

[2018-10-08 23:52] NTaylorMullen commented on #2593
@akshita31 ooo very nice, 👍

[2018-10-09 05:53] eastwing commented on #2589
Sorry, are you speaking about VS Code or "big" VS?

[2018-10-09 06:18] Lepike commented on #168
That is really good new @danroth27. Its going to be a game changer.
Thanks for sharing!

/ Lars

[2018-10-09 06:56] SirIntruder commented on #2589
big VS

[2018-10-09 07:13] eastwing commented on #2589
Hmm, I'll try that, thank you

[2018-10-09 18:10] akshita31 commented on #2549
@blackwire It is strange. In the left pane on your editor I do see "C#" which indicates that somewhere the language version is being recognized. We have the 1.16.2 version of the extension out. Could you try that ?

[2018-10-09 18:17] akshita31 commented on #2544
@denisvlah I can totally reproduce the problem.

More information:
In my developer console, I see that there was an error.
![image](https://user-images.githubusercontent.com/12554141/46689428-a9e97000-cbb4-11e8-83f6-85412329b16a.png)

We will get it resolved as soon as possible. Thank you for your patience.

[2018-10-09 18:22] akshita31 commented on #2544
![image](https://user-images.githubusercontent.com/12554141/46689786-7a873300-cbb5-11e8-90ef-776ac55c0f9d.png)

There is an argument exception in the omnisharp process, due to which the codelens is not appearing.

[2018-10-09 19:31] akshita31 commented on #2544
On investigating further, the line here is throwing the exception:
https://github.com/OmniSharp/omnisharp-roslyn/blob/fe68d63b16fb44b2e647f538ffd8b1ec95fabb0e/src/OmniSharp.Roslyn.CSharp/Services/Structure/CodeStructureService.cs#L365

Because it is adding two values for the same key -"testFramework" - xunit and nunit

[2018-10-09 19:52] akshita31 commented on #2544
When I changed the namespace "NUnit.Framework" to "abc.Framework", everything works fine.

[2018-10-09 20:14] haridasnykiel commented on #2467
I did not realise there was a difference between the two, in terms of the output when running that command. But by looking at the output from the terminal (not vs code built in terminal) the output looks the same to me:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    3599f217f4

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:

[2018-10-10 08:52] MrChriZ commented on #2556
@akshita31 - That seems to have fixed it - thanks very much!

[2018-10-10 08:57] MrChriZ commented on #2556
At least it seems to have solved the modal error issue.  The Omnisharp server still starts on a project it shouldn't be starting on - which I guess still needs the fix I mentioned in my earlier comment.

[2018-10-10 11:15] luvjungle opened #2595 "How do I change the language of C# error hints?"
## Environment data
 Version:   2.1.403
 Commit:    04e15494b6

Среда выполнения:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.403\

Host (useful for support):
  Version: 2.1.5
  Commit:  290303f510

.NET Core SDKs installed:
  2.1.403 [C:\Program Files\dotnet\sdk]

.NET Core runtimes installed:
  Microso

[2018-10-10 14:07] neumartin commented on #2529
Hi!
In Debian 9.5 I remove the official mono repository, remove all mono packages and all fixed after do that!

[2018-10-10 15:35] winzig opened #2596 "Restart button no longer working (.dll's locked with "process cannot access the file" errors)"
In the last couple weeks I've started experiencing a problem with VS Code (Insiders) where the Restart button does not successfully restart the debugging process. Instead, I get this error over and over in the TERMINAL tab of vscode:

/usr/local/share/dotnet/sdk/2.1.105/Microsoft.Common.CurrentVersion.targets(4118,5): warning MSB3026: Could not copy "obj/Debug/netcoreapp2.0/Web.dll" to "bin/Debug/

[2018-10-10 16:34] dfgchiang opened #2597 "Slow running extension"
- Extension Name: csharp
- Extension Version: 1.16.2
- OS Version: Windows_NT x64 6.1.7601
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:
[code]

[2018-10-10 16:59] rszemplinski commented on #1179
Would love to see this feature added to VSCode.

[2018-10-10 17:37] akshita31 commented on #2284
@pfrozi Glad you got it working :)

[2018-10-10 17:51] gregg-miskelly commented on #2595
@luvjungle See workaround steps in https://github.com/OmniSharp/omnisharp-vscode/issues/2513

[2018-10-10 17:51] #2595 closed

[2018-10-10 18:28] RoarkeRandall opened #2598 "Go to Implementation should consider generic type arguments"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.302/

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.300

[2018-10-10 22:17] Xorcist77 commented on #2439
The debugger (version 1.16.2) is crashing for me as well on shutdown of any app with the following exception:

`bash: line 1: 10836 Segmentation fault      (core dumped) ''/home/maxeta/.vscode/extensions/ms-vscode.csharp-1.16.2/.debugger/vsdbg --interpreter=vscode --connection=/tmp/CoreFxPipe_vsdbg-ui-fbdba0b1cb564b9bac0c6dc9b15e23a3`

here is my dotnet --info:

`.NET Core SDK (reflecting any glob

[2018-10-11 05:02] saurabhnachankar opened #2599 "while Restart-Debugging there is build error after new update. kindly fix it"
- Extension Name: csharp
- Extension Version: 1.16.2
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:

[2018-10-11 15:51] gregg-miskelly commented on #2599
This is a duplicate of https://github.com/Microsoft/vscode/issues/60593

[2018-10-11 15:51] #2599 closed

[2018-10-11 15:52] gregg-miskelly commented on #2596
This is a duplicate of https://github.com/Microsoft/vscode/issues/60593

[2018-10-11 15:52] #2596 closed

[2018-10-11 20:03] DanJ210 opened #2601 "VS Code not picking up HTML tags after Razor code"
Issue Type: <b>Bug</b>

I was told by the VS Code GitHub that this is an issue with this extension.

Take a look at the screenshot. You can see `<li>` tags with a razor action link and then the closing `<li>` tags after that are not being picked up afterwards.

![Uploading VS-code_Razor.PNG…]()

I'm assuming this can easily be reproduced by creating a razor file and then creating an unordered list

[2018-10-11 20:32] MikhailArkhipov opened #2602 "Unable to use C# with Microsoft Python Language Server project"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.28
C# Extension version: 0.19

## Steps to reproduce
Clone https://github.com/Microsoft/python-language-server
Open src folder

## Expected  behavior
Intellisense, etc to work

## Actual behavior
No intellisense, go to def, etc
Mono process takes a lot of CPU for a long time

![image](https://user-images.githubusercontent.com/12

[2018-10-11 20:43] omartin2010 commented on #1849
Looks like even now, I needed to create launch code with the environment variable `MSBuildSDKsPath` set to the proper location `c:\Program Files\dotnet\sdk\2.1.302\Sdks` in my case. Is this normal at this point? Or did I improperly setup dotnet so it didn't alter my path?

[2018-10-11 21:13] nguerrera commented on #1849
@omartin2010 Is `dotnet` not on your PATH? How did you install it?

[2018-10-11 21:16] akshita31 commented on #2601
cc @NTaylorMullen

[2018-10-11 21:44] NTaylorMullen commented on #2601
@DanJ210 could you re-upload the screenshot? It's a deadlink on my end (can't see it).

[2018-10-11 21:52] akshita31 commented on #2602
@MikhailArkhipov Thanks for filing the issue. Could you post your omnisharp log(View-->Output--> OmniSharp log) ?

I cloned the repo and go to def works for me, however I do see there is some error due to which codelens is not coming up.

[2018-10-11 22:44] larryPlayabl commented on #1179
Would love to see this added!

[2018-10-11 22:46] MikhailArkhipov commented on #2602
Windows, different machine - same thing. CPU is lower, around 8-10%, but that machines has many more cores than Macbook.

![image](https://user-images.githubusercontent.com/12820357/46838132-c16b5900-cd6c-11e8-9717-123ac03850cb.png)

[2018-10-11 23:16] akshita31 commented on #2602
@MikhailArkhipov I think this is a large project so omnisharp is taking a long timr to add the projects to the workspace. I waited for around 1-2 minutes and it worked for me. I am able to get the references and F12 also works. Can you try setting "omnisharp. project load timeout" to a higher value and then Ctrl+Shift+P --> Restart Omnisharp

[2018-10-11 23:19] akshita31 commented on #2602
![python_server](https://user-images.githubusercontent.com/12554141/46839157-62f4a980-cd71-11e8-9324-d36a2a695124.PNG)

[2018-10-11 23:20] akshita31 commented on #2602
Also, regarding the Mac consumption, it is a known issue but we havent been able to look into it so far. We will try to get is resolved as soon as possible.

[2018-10-11 23:29] akshita31 commented on #2391
@nicmar Does the error reproduce for you for the latest version of the extension (1.16.2) ?

[2018-10-11 23:34] akshita31 commented on #2539
@monefeldt I am not sure why it could not find that dll. Could you try setting "Omnisharp.path-->latest" and restarting the omnisharp server

[2018-10-12 00:12] omartin2010 commented on #1849
dotnet is on my path (specifically, `c:\Program Files\dotnet\` is, but `c:\Program Files\dotnet\sdk\2.1.302\SDKs` wasn't. Is this expected?

[2018-10-12 00:18] nguerrera commented on #1849
Yes, that is normal.

[2018-10-12 00:32] nguerrera commented on #1849
I meant that it is expected that c:\Program Files\dotnet\ is on the PATH, but  c:\Program Files\dotnet\sdk\2.1.302\SDKs is not.

This is not expected.

[2018-10-12 03:10] loligans commented on #43
@savpek How can I test your work on my VSCode instance?

[2018-10-12 04:15] macsux opened #2603 "Can't attach debugger when running on Cloud Foundry"
## Environment data
.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    7fa21d645b

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  14.04
 OS Platform: Linux
 RID:         ubuntu.14.04-x64
 Base Path:   /home/vcap/deps/0/dotnet-sdk/sdk/2.1.402/

Host (useful for support):
  Version: 2.1.4
  Commit:  85255dde3e

.NET Core SDKs installed:
  2.1.402 [/home/vcap/deps/0/

[2018-10-12 05:56] savpek commented on #43
One way is:
- Clone my current fork https://github.com/savpek/omnisharp-roslyn
- Checkout branch roslyn-analyzers
- `dotnet build` on branch
- Add configuration (modify path to where fork clone was built) `"omnisharp.path": "C:\\Github\\omnisharp-roslyn\\bin\\Debug\\OmniSharp.Stdio.Driver\\net461\\Omnisharp.exe"`, to your workspace or user configuration in vscode.
- Reload vscode.

You can also ad

[2018-10-12 08:12] fogzot opened #2604 "Project fails to load, SDK 'Microsoft.NET.Sdk.Razor' not found"
I know there are other issues with the same behavior but they mostly refer to MacOS and the fix seems to be to install an up to date Mono. The issue I am experiencing happens on Linux, with the latest version of Mono installed.

## Environment data
`dotnet --info` output:
[code]

VS Code version:
[code]

C# Extension version:
[code]

Mono version:
[code]

## Steps to reproduce
Just load _any_ proj

[2018-10-12 13:58] monefeldt commented on #2539
Thanks, that did the trick!

[2018-10-12 15:29] mklement0 opened #2605 "Debugger-invocation command line assumes a POSIX-like shell on Unix; fails with PowerShell as the default shell"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.28.1
C# Extension version: 1.16.2

## Steps to reproduce

* On a Unix-like platform with PowerShell Core installed, make the latter your default shell as follows: `chsh -s /usr/local/bin/pwsh` (macOS) or `chsh -s /usr/bin/pwsh` (Linux).

* On Linux, reboot to make the new default shell take effect (not necessary on macOS).

* Op

[2018-10-12 16:49] rchande commented on #2604
@fogzot Do non-Razor projects work (eg `dotnet new console`)?

[2018-10-12 16:57] rchande commented on #2597
@dfgchiang Can you provide more information about the problem you are experiencing?

[2018-10-12 17:00] rchande commented on #2556
@MrChriZ One can easily imagine using a directory called `tmp` so we're unlikely to blanket exclude it. [You mentioned ](https://github.com/OmniSharp/omnisharp-vscode/issues/2556#issuecomment-425386128) a specific location where .cs/.sln files appear under your node_modules. I recommend that you exclude that directory as I described earlier.

[2018-10-12 17:06] rchande commented on #2556
@MrChriZ You can also add an `omnisharp.json` as described [here](https://github.com/OmniSharp/omnisharp-roslyn/wiki/Configuration-Options#file-options) to exclude those directories from OmniSharp.

[2018-10-12 17:39] NTaylorMullen commented on #2601
Ahhh, thanks for the update and the issue report @DanJ210. This is a frustrating issue but thankfully known! We've started developing the Razor support for VSCode over in https://github.com/aspnet/Razor.VSCode and plan to fix a [duplicate issue](https://github.com/aspnet/Razor.VSCode/issues/75) to this in our Alpha 2 release.

Granted the Alpha 2 release is around 2+ months away so It might be a b

[2018-10-12 17:43] DanJ210 commented on #2601
No problem at all.

[2018-10-12 18:57] dfgchiang commented on #2597
It's no problem. VS Code pointed out the extension and noted it is slow and prompted me to report the issue, so I did. C# extension loads.

Thanks.

________________________________
From: Ravi Chande <notifications@github.com>
Sent: Friday, October 12, 2018 9:57:17 AM
To: OmniSharp/omnisharp-vscode
Cc: Chiang, Dean@Wildlife; Mention
Subject: Re: [OmniSharp/omnisharp-vscode] Slow running extension

[2018-10-12 19:18] rchande commented on #2597
@dfgchiang Thank you for taking the time to file this, but I don't believe we need to take any action at this time.

[2018-10-12 19:18] #2597 closed

[2018-10-12 19:31] anticide commented on #2604
I had a similar issue, but solved it. Try adding this to your `PATH` variable (.bashrc, .zshrc...):

[code]

I'm on Arch, so you'll probably need to modify the path.

[2018-10-12 20:41] rchande commented on #2602
@MikhailArkhipov That's a good question. Obviously the exact implementations differ (and you are running on Mono, which may be slower), but the discrepancy is worth looking into. There's probably some low-hanging fruit we can address to speed this up.

[2018-10-13 10:53] code1line commented on #859
Any news on this issue?

[2018-10-13 18:04] lucastheisen commented on #1754
Another data point...  I just upgraded dotnet using chocolatey (was 2.1.101 _or something_, now 2.1.403).  Then created a new project:
[code]
Which results in this _OUTPUT_:
[code]

My `dotnet --info` output is:
[code]

My guess is that it has something to do with this:
[code]
Which I would imagine might have `dotnet` mentioned (as in `dotnet msbuild`).  My `dotnet` install is at:
[code]

[2018-10-13 19:32] eastwing commented on #2589
Yeah, you can install 4.7.1 targeting pack via VS 2017 installer. Thanks, @SirIntruder

[2018-10-13 19:32] #2589 closed

[2018-10-14 04:59] MikhailArkhipov commented on #2602
Now, on my other Mac (extensively upgraded "classic" Mac Pro) everything is very fast. It has 24 cores though, with dual Xeons.

[code]

[code]

[2018-10-14 16:58] Marshal313 commented on #2604
@anticide 's method worked for me.
`MSBuildSDKsPath="/usr/share/dotnet/sdk/2.1.403/Sdks/"` on Ubuntu
Though before I changed it, I noticed the path to Mono Sdks (instead of DotNet Sdks) was being used by Omnisharp.

As you can see in the exception's message, The following path was used : "/usr/lib/mono/msbuild/15.0/bin/Sdks/Microsoft.NET.Sdk.Web/Sdk/Sdk.props"

I don't know how omnisharp works in

[2018-10-14 17:23] duongphuhiep opened #2606 "Unable to find project.json or *.csproj if there are multiple *.csproj"
Issue Type: <b>Bug</b>

"Create a new C# class" failed "Cannot find *.csproj or project.json" => however the .csproj is right here..

![image](https://user-images.githubusercontent.com/1638594/46692686-383b1180-cc08-11e8-90dd-348663926d20.png)

Extension version: 1.3.0
VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.4.0-137-

[2018-10-14 18:43] humamAbedrabbo commented on #2604
i had this problem on ubuntu 18.04, when i installed mono-complete and mono-develop after installing dotnet core.
When i removed mono, and reinstall apt-transport-https from dotnet, the problem disappeared

[2018-10-14 23:28] poke opened #2607 "Opening curly brace and question mark break HTML syntax highlighting in Razor files"
Within a Razor file, the sequence `{ ?` with or without any content in between breaks all following HTML content. Try for example the following document:

[code]

![Visualization of the broken syntax highlight](https://user-images.githubusercontent.com/132240/46923503-02879580-d019-11e8-936d-058ca49eb6d1.PNG)

When removing either the curly brace or the question mark, the HTML syntax is properly h

[2018-10-14 23:36] poke commented on #2607
Nevermind, realized that the Razor syntax highlighting is inherited from VS Code which takes it from some other repository. Moved to https://github.com/demyte/language-cshtml/issues/25.

[2018-10-14 23:36] #2607 closed

[2018-10-15 07:01] FranklinWhale commented on #2507
@rchande I have getting the same error using both 1.16.2 and 1.17.0...

The project was generated using `dotnet new console -o EfCoreTest`

The VS Code output log as follows:

[code]

The `dotnet --info` output is:

[code]

[2018-10-15 07:47] isidorn commented on #2605
@gregg-miskelly might be, though @weinand would be better to answer here since he is the author.

[2018-10-15 08:00] fogzot commented on #2604
Yes. If the project doesn't contain a reference to the Web SDK (not explicitly the Razor one, just Web) everything works.

[2018-10-15 08:12] fogzot commented on #2604
I can confirm that setting `MSBuildSDKsPath` to the .NET Core sdks directory fixes the issue.

[2018-10-15 11:27] anticide commented on #2604
A better solution would be:

[code]

This way you don't have to update SDK's version.

[2018-10-15 11:32] MrChriZ commented on #2556
@rchande  - Excluding the specific Node Modules folder would not work - as it's already excluded by the node_modules folder exclusion - but then picked up again in the tmp folder.  When it's copied into tmp folder by Ember it's copied their with a random generated folder name  - so with regard to your original suggestion there's no way to exclude specifically that folder other than excluding the w

[2018-10-15 13:29] weinand commented on #2605
When using an "external" terminal, VS Code assumes a POSIX-like shell on Unix platforms.

When using an "integrated" terminal, VS Code honours the VS Code setting `terminal.integrated.shell.<platform>` (but it does not respect the shell configured via `chsh` either).

I suggest that you file a feature request against VS Code.

As a workaround you can use an "integrated" terminal  and set `terminal

[2018-10-15 14:07] mklement0 commented on #2605
Thanks, guys.

I've opened https://github.com/Microsoft/vscode/issues/60971, as a generalized feature request.

[2018-10-15 15:59] rchande commented on #2606
@duongphuhiep Can you share your list of installed extension? The C# extension doesn't provide the "New C# Class" command.

[2018-10-15 16:32] #2605 closed

[2018-10-15 17:16] jkoritzinsky commented on #2391
It just repro'd for me on 1.16.2 for a stray C# file in my repository.

[2018-10-15 18:13] akshita31 commented on #2391
@jkoritzinsky Have you opened the folder in which the file is present ?

[2018-10-15 18:15] jkoritzinsky commented on #2391
I've opened a parent folder (5 folders down from the root). Would the fact that I'm in a multi-folder workspace cause an issue?

For reference I'm working on the dotnet/coreclr repo on a unit test project.

[2018-10-15 18:20] rchande commented on #2391
@jkoritzinsky OmniSharp doesn't fully support multi-root workspaces yet (https://github.com/OmniSharp/omnisharp-roslyn/issues/909), so yes, that could be the problem.

[2018-10-15 22:03] galvesribeiro commented on #1794
Same problem happens on OSX.

[2018-10-15 23:15] anorborg commented on #2604
Has there ever been an explanation of this? I see this error pop up fairly regularly around msbuild sdk resolution. Here is a similar issue logged over there: https://github.com/Microsoft/msbuild/issues/2532. Should setting `MSBuildSDKsPath` be required? Is there a corruption of some installation of the tooling?

[2018-10-16 08:35] kokman commented on #168
Good job. Thanks

[2018-10-16 09:57] duongphuhiep commented on #2606
oh, sorry I mistook the feature
https://github.com/jchannon/csharpextensions

[2018-10-16 09:57] #2606 closed

[2018-10-16 12:19] bobwinners opened #2608 "OmniSharp, C#, and the node_modules folder"
Version VS Code 1.28.1

I currently have a project that is a .NET Core MVC/Angular project. Since the last update, I have been experiencing weird behavior with OmniSharp. If I open the project without the node_module folder everything is fine and I have no namespace errors with OmniSharp. Then, I run npm install to download the packages and everything is still ok. Now if I restart VS Code, after O

[2018-10-16 15:46] rchande commented on #2608
@bobwinners I wasn't able to reproduce this with the output of `dotnet new angular`--are there additional packages I need to install?

[2018-10-16 17:20] bobwinners commented on #2608
Hello,

Thanks for taking a look at this issue.  Below are are the packages that I am using.

Bob

"dependencies": {
    "@angular/animations": "^6.0.5",
    "@angular/cdk": "^6.2.1",
    "@angular/common": "^6.0.3",
    "@angular/compiler": "^6.0.3",
    "@angular/core": "^6.0.3",
    "@angular/forms": "^6.0.3",
    "@angular/http": "^6.0.3",
    "@angular/material": "^6.2.1",
    "@angular/platf

[2018-10-16 17:41] nguerrera commented on #2604
There are a few things at play here. Let me give some background on how this is supposed to work. When MSBuild encounters `<Project Sdk=...>`, ``<Import Sdk=...>` or `<Sdk ...>`, it calls into its SdkResolvers. These are plugins that live alongside MSBuild. One in particular, Microsoft.DotNet.MSBuildSdkResolver, resolves Sdks from the .NET Core SDK location based on `dotnet` being on PATH. There i

[2018-10-16 17:42] nguerrera commented on #1849
See also https://github.com/OmniSharp/omnisharp-vscode/issues/2604#issuecomment-430046231

[2018-10-16 17:44] nguerrera commented on #2604
See also  Microsoft/msbuild#3829

[2018-10-16 17:50] rchande commented on #2604
@nguerrera Thanks for the detailed explanation! @anorborg @fogzot Can you try looking through the items Nick suggested to help us figure out what the problem is?

[2018-10-16 20:21] firelizzard18 opened #2609 "Allow threads to be individually paused and continued"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    3599f217f4

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.402\

Host (useful for support):
  Version: 2.1.4
  Commit:  85255dde3e

.NET Core SDKs installed:
  2.1.202

[2018-10-17 02:03] ErikSharp commented on #2507
@FranklinWhale @farzadmf  - I had the same problem as you guys and the problem is that Omnisharp is choosing the MS Build instance for Visual Studio Build Tools 2017 as stated below:

`Registered MSBuild instance: Visual Studio Build Tools 2017 15.8.28010.2041`

As the exception says, the manifest file does exist, but if you look in it, it lists a relative path that is supposed to go to the SDK re

[2018-10-17 05:49] akshita31 opened #2610 "Make hover experience consistent with Visual Studio"
In the "HoverProvider" we are showing all the documentation, however, in Visual Studio we only display the "Summary Text" part of the documentation.

This is the image from Visual Studio
![vs_hover](https://user-images.githubusercontent.com/12554141/47064763-8f575e00-d195-11e8-9744-8efb9ae22b9b.PNG)

This is the image from the vscode C# extension:
![vscode_hover](https://user-images.githubusercont

[2018-10-17 05:56] akshita31 commented on #2578
@motor75 It seems that the OmniSharp process is crashing for some reason, due to which you are losing the intellisense. We have seen this issue in Mac/Linux , but this is the first time the error reproduces on Windows. Can you provide a minimum repro project that would help us debug the issue.

Also can you set, Omnisharp.logginglevel--> Debug and then "Restart OmniSharp" and then paste the output

[2018-10-17 14:09] marek-safar commented on #2604
@nguerrera great analysis! We are now tracking this issue on Mono side as well

[2018-10-17 14:22] farzadmf commented on #2507
@ErikSharp I found some workarounds that resolved the issue for me, more specifically:

- [this workaround](https://github.com/OmniSharp/omnisharp-roslyn/issues/1094#issuecomment-403636898) involving uninstalling the build tools
- Or [this workaround](https://github.com/OmniSharp/omnisharp-roslyn/issues/1094#issuecomment-405414145) to rename the `MSBuild` directory there

Unfortunately, the issue

[2018-10-17 15:10] motor75 commented on #2578
@akshita31 The projects that I'm working on contains confidential information that I would not be able to share.  However, I have set the logging level to debug and will post the Omnisharp logs when the issue reoccurs.  Thanks!

[2018-10-17 17:12] blackwire commented on #2549
![image](https://user-images.githubusercontent.com/6340586/47103760-ed278c80-d20d-11e8-9886-a7df4791d73e.png)

@akshita31, it is most strange indeed. I updated to the latest version and still appear to be having the issue. I restarted the application as well and it did not seem to make any difference. I'm tempted to re-install my vscode, but... am worried about various things surrounding doing tha

[2018-10-17 18:04] akshita31 commented on #2507
@FranklinWhale Can you try the workaround as suggested by @farzadmf and see if that helps

[2018-10-17 18:06] akshita31 commented on #2549
@blackwire Does this problem reproduce for you in the basic "dotnet new console" project as well ?

[2018-10-17 19:31] Ashkan-rmk commented on #2234
same error on
[code]

this error happened
[code]

[2018-10-17 19:33] rchande commented on #2234
@Ashkan-rmk Take a look at https://github.com/OmniSharp/omnisharp-vscode/issues/2604#issuecomment-430330103 for more information on how to diagnose this.

[2018-10-17 19:58] akshita31 commented on #2549
@blackwire I am really unsure about why that would happen. The extension folder lives inside the vscode directory so I don't think that should be the case.
I will go ahead and close this for now. Please re-open if you experience the issue again so we can dive deeper.

[2018-10-17 19:58] #2549 closed

[2018-10-17 20:20] gregg-miskelly opened #2613 "Add format specifier to allow all threads to run"
## Steps to reproduce
1. Debug the following program
2. Evaluate `Program.Test`

## Expected  behavior
There is some way to evaluate this

## Actual behavior
Debugger prints: `The function evaluation requires all threads to run.`

## Program content
[code]

[2018-10-18 06:12] akshita31 commented on #2507
@farzadmf Thank you for listing the workarounds here.

I will close this issue for now. Feel free to reopen if the error repros again.

[2018-10-18 06:15] FranklinWhale commented on #2507
@akshita31 Will the root cause be fixed? After all, a workaround should not be considered as the solution. I do need the Build Tools for building other things like C++.

[2018-10-18 10:07] sergol7788 commented on #2509
Fixed once .sln file has been placed to the folder of .cproj item.

[2018-10-18 11:48] SirIntruder commented on #2610
This should be done by consuming this: https://github.com/dotnet/roslyn/pull/20554?

[2018-10-19 03:52] geniikw commented on #2472
this bug makes me annoying.
![bug](https://user-images.githubusercontent.com/7575458/47196806-71f4e080-d39d-11e8-9b6a-a6c1684e275b.gif)

[2018-10-19 07:59] fogzot commented on #2604
@nguerrera thank you for the explanation.
@rchande I think the problem is that OmniSharp uses `msbuild` from the Mono distribution and Mono doesn't include `Microsoft.NET.Sdk.Razor`. I don't know why but when Mono `msbuild` is used, this part of the process doesn't hold true:

Because my .NET Core SDK `dotnet` executable is in path but gets completely ignored.

[2018-10-19 20:54] motor75 commented on #2578
@akshita31 The error has reproduced itself.  I have attached the log file - if you open it up, near the top the issue starts at line 316 (around 16:28 10-19-2018).    Below I pasted what's showing in the OmniSharp log (as you can see, there's no errors).

Just FYI - this is happening on the 3 projects/solutions that I work on - so I don't think this is a problem with the projects.

Starting OmniSh

[2018-10-19 23:00] akshita31 commented on #2578
@motor75 Did you set omnisharp.loggingLevel --> Debug ?

[2018-10-21 07:06] ChaosCA commented on #2483
Hey @gregg-miskelly anything I can do to help get this through?
Thanks!

[2018-10-22 20:36] motor75 commented on #2578
I had only the user setting set to debug; workspace was set to informational.  I set both to debug as I assume that the workspace setting overrode the user setting (although that isn't entirely clear on the settings U/I).

[2018-10-22 21:32] coinnail commented on #2587
Seem to be a duplicate of #2439

[2018-10-23 00:40] gregg-miskelly commented on #2587
I hope to put out a new beta tomorrow that has a fix for 2439. So we should hopefully know if this is indeed a duplicate or not soon...

[2018-10-23 00:42] gregg-miskelly commented on #2483
I hope to put out a new beta tomorrow that will have the fix for this.

[2018-10-23 10:21] tverboon commented on #1794
Would it be possible to add some extra logging around:

https://github.com/OmniSharp/omnisharp-roslyn/blob/6836fadb9c35a88d4695276d14302336a460b841/src/OmniSharp.DotNetTest/DebugSessionManager.cs#L99

Console logs on macOS don't give any clue. The dotnet test process exits with code 0. vscodedbg-ui, which is the parent process, doesn't log either.

It looks like this OnExit() event doesn't get cal

[2018-10-23 16:28] rchande commented on #2472
@jrieken Is this a behavior change in VS Code? We haven't made any changes to how we provide completion and I don't believe the API even gives us this level of control...

[2018-10-23 16:40] rchande commented on #2604
@marek-safar Do you have an issue number we can track?

[2018-10-23 16:40] rchande commented on #2604
@marek-safar Never mind, I see you linked it above :)

[2018-10-23 18:21] #2528 closed

[2018-10-23 18:21] #2488 closed

[2018-10-23 18:21] #2483 closed

[2018-10-23 18:22] #2439 closed

[2018-10-23 18:40] gregg-miskelly commented on #2483
[1.17.0-beta6](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.17.0-beta6) is now on the release page. Please follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) to install.

[2018-10-23 18:40] gregg-miskelly commented on #2587
[1.17.0-beta6](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.17.0-beta6) is now on the release page. Please follow [these instructions](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases) to install.

[2018-10-24 01:29] ramya-rao-a opened #2620 "Please use the version 0.1.0 of vscode-extension-telemetry dependency"
This extension uses version 0.0.22 of `vscode-extension-telemtetry`  module which in turn uses version 1.0.5 of `applicationInsights` module.

We recently learned of an issue where there are multiple powershell processes being spawned and stay stuck on older Windows versions when using version 1.0.5 of `applicationInsights` module.

This [bug](https://github.com/Microsoft/ApplicationInsights-node.

[2018-10-24 04:45] TobiichiAmane commented on #2587
1.17.0-beta6 solved this issue. Nice work!
And it confirmed that this issue is a duplicate of #2439 .

[2018-10-24 04:45] #2587 closed

[2018-10-24 07:14] aeschli opened #2621 "Fold All Regions feature doesn't work"
_From @suadev on October 18, 2018 8:42_

- VSCode Version: 1.28.2
- OS Version: Windows

"Fold All Regions" feature doesn't work neither by ctrl+k, ctrl+8 nor by F1 menu.

_Copied from original issue: Microsoft/vscode#61220_

[2018-10-24 07:14] aeschli commented on #2621
_From @vscodebot[bot] on October 18, 2018 8:42_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [\[folding\] show folding actions at the end of folding range as well (#60670)](https://www.github.com/Microsoft/vscode/issues/60670)
- [\[folding\] navigateToLastEditLocation doesn't expand folded regions (#593

[2018-10-24 07:14] aeschli commented on #2621
Please add a code sample. I tried with the folloing sample and it worked
foo.ts
[code]
- ctrl + k / ctrl + 8: folds all regions
- ctrl + k / ctrl + 9: unfolds all regions

[2018-10-24 07:14] aeschli commented on #2621
_From @suadev on October 23, 2018 10:43_

@aeschli sorry, i should have specified the language.

It looks,  it's ok for .ts file.

But for .cs file, it doesn't work.

[code]

[2018-10-24 07:14] aeschli commented on #2621
Do you use an extension for c# ?

Out of the box you get indentation based folding with region markers sand your example works the same way as my example.
But maybe an extension adds language specific folding and doesn't mark the regions correctly.

[2018-10-24 07:14] aeschli commented on #2621
_From @suadev on October 23, 2018 14:14_

Yes, i use c# extension that powered by omnisharp.  My whole extension list;

![image](https://user-images.githubusercontent.com/5918811/47366723-f372a880-d6e6-11e8-8f90-2ada70fe5605.png)

[2018-10-24 07:16] aeschli commented on #2621
The problem is with the C# extension's foldingRangeProvider: Ranges originating from #region/#endregion need be marked with Kind: FoldingRangeKind.Region.

[2018-10-24 07:28] jrieken commented on #2472
Hm... Looks like a filtering/timing issue... Do you guys use commit characters? Would space be one here? It might be that we work on the `n` prefix and haven't "seen" the `ne` yet. Your provider implements the `resolveCompletionItem` function, right? What version is this? We recently fixed for 1.29-insider in that area...

[2018-10-24 07:34] Aides359 commented on #2587
@gregg-miskelly i wanted to try the new version but vscode just repeatedly wanted me to reload which is why I updated vscode.
Now when installing the 1.17.0-beta6 it says that the extension is not compatible with code 1.27.2.

Which version do I need to correctly install the beta?

[2018-10-24 07:36] TobiichiAmane commented on #2587
@Aides359 My code version is 1.28.2, and OmniSharp 1.17.0-beta6 works perfectly.

[2018-10-24 14:46] gregg-miskelly commented on #2587
The extension currently requires 1.28 (see [this line](https://github.com/OmniSharp/omnisharp-vscode/blob/9acb7494ed847b3cbd244b265a6923e0eb7b8ba5/package.json#L325)). I believe that is the version of VS Code that came out in early October on the stable channel.

[2018-10-24 16:08] rchande commented on #2472
We had an internal report of this on 1.29. I'm not sure what version @geniikw is on. We do use space as a commit character (https://github.com/OmniSharp/omnisharp-vscode/blob/9acb7494ed847b3cbd244b265a6923e0eb7b8ba5/src/features/completionItemProvider.ts#L17) but we don't implement `ResolveCompletionItem`.

[2018-10-24 20:13] gregg-miskelly commented on #1753
I had trouble finding this issue, so adding a note here - this issue tracks supporting Set Next Statement in vsdbg.

[2018-10-24 20:20] gregg-miskelly opened #2622 "Debugger should support providing the Apple app sandbox id when attaching"
## Steps to reproduce
1. On OSX, start a sandboxed application which hosts CoreCLR. See https://developer.apple.com/app-sandboxing/ for documentation.
2. Attach debugger to the process

## Expected  behavior
Debugger detects when CoreCLR loads and can successfully debug

## Actual behavior
Debugger never detects that CoreCLR loads

## Notes
Supporting this features requires both CoreCLR and vsdbg

[2018-10-25 00:41] geniikw commented on #2472
above is on 1.28.
and on 1.29 insider
Despite turned on [acceptSuggestionOnCommitCharacter] option, Space do not work as commit character. So I can't check above situation at 1.29.

[2018-10-25 06:04] harriskhurram commented on #2383
Check if you can run "mono" on terminal.
$ mono --version

Check if you have mono installed at following location.
/Library/Frameworks/Mono.framework/Versions/Current/Commands/mono

if not, download and install mono from:
https://www.mono-project.com/download/stable/

now on terminal do:
$ brew update
$ brew cask install mono
$ brew link --overwrite mono

mono should work and so does the Omni in v

[2018-10-25 09:12] Ghostbird commented on #2529
Well, this just took a turn for the worse.
Mono was updated to version 5.16.0.179, and now the bug mentioned here is back with version 1.16.2 of the extension.
A downgrade to version 1.15.2 is no longer a workaround though. In mono 5.16.0.179 that one crashes with:
[code]
So I guess I'll go back to the Debian default Mono 4.6.x and version 1.15.2 of this extension, since that's the only remaining

[2018-10-25 09:16] Ghostbird commented on #2529
If I do that, I'm just lacking essential packages, and nothing works any more, because mono seems required.

[2018-10-25 09:29] jrieken commented on #2472
@geniikw can you check when value this setting has for you: `editor.suggestSelection`?

[2018-10-25 10:28] geniikw commented on #2472
@jrieken  both were recentlyUsed(1.28, 1.29)

[2018-10-25 11:04] zhangmn799 opened #2623 "Debugger crashes on Linux when evaluating an expression with a divide by zero"
## Environment data
`dotnet --info` output:1.1.11
VS Code version:1.28.2
C# Extension version:1.17.0-beta6
## Steps to reproduce
1. Run command "dotnet new console -o test" Crate a console project.
2 .Open vscode ->open folder->test.
3. Hit 'yes' will generate launch.json file.
4. Add code in Main function as following:
![picture1](https://user-images.githubusercontent.com/26423555/47495085-dde7b5

[2018-10-25 11:40] jrieken commented on #2472
@geniikw and what is the exact sequence of events in
https://github.com/OmniSharp/omnisharp-vscode/issues/2472#issuecomment-431236867.

* type `n`
* type `e`
* type what❓ did you press space? or tab, enter?

[2018-10-25 12:01] geniikw commented on #2472
@jrieken
that was "new "
I tried to reproduce the same thing at home, but I can not reproduce it at 1.28.2. (It works fine.)

It seems that I misunderstood the version due to something wrong. When I tried it in the company, it was obviously changed to "nameof " if I wrote "new " quickly.
Anyway, it's okay now. Sorry for miss report.

[2018-10-25 13:37] tomasaschan commented on #2391
FWIW, I just saw this error in my workspace, and it turned out it was for a completely external reason:

The OmniSharp log showed `[ERROR] Error: spawn cmd ENOENT`, so I took a look at my `PATH` environment variable, and noticed that `C:\Windows\System32` was missing. Re-adding it fixed the problem for me.

[2018-10-25 13:45] jrieken commented on #2472
This might be a dupe of https://github.com/Microsoft/vscode/issues/60753. Please try with latest insider for which we have fixed this: https://code.visualstudio.com/insiders/

[2018-10-25 14:57] Dereeg commented on #2147
I am facing the same issues behind the proxy.

.NET Core SDK (reflecting any global.json):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.401\

[2018-10-25 15:48] deepak-khopade-isdr commented on #2604
@marek-safar, is there any way I can use older version of `mono` than `5.16.0 Stable` which I can use on `Ubuntu 16.04`. I am still on `.NET Core 1.1.0` with few projects added as a references which are full `.NET 4.6.2` versions.
This all use to build properly with my `Rider` on `Ubuntu`; but after installing new mono, its breaking now.
Any help until above issues resolved with latest mono would

[2018-10-25 18:42] marek-safar commented on #2604
You'd need to check your package manager manual. If I remember correctly on Ubuntu you should be able to do something like `sudo apt-get install mono-complete=<version>` to downgrade automatically.

[2018-10-25 18:58] akoeplinger commented on #2604
For .deb-based distributions you'd need to use the snapshot repositories we provide: https://www.mono-project.com/docs/getting-started/install/linux/#accessing-older-releases

E.g. for Ubuntu 16.04 it'd be:

[code]

[2018-10-25 23:40] StephenWeatherford commented on #2546
This doesn't need more info - I pointed you to the docs a month ago...

[2018-10-26 01:22] v-yiwu1 opened #2626 "[C# extension] Variable name and value isn't added to the watch window at the same time when adding variable to watch from Locals window"
**Environment data**
OS and Version: Debian9.2.1
VS Code Version: 1.28.2
C# Extension Version:1.17.0-beta6

**Steps to reproduce**
1.Install vscode.
2.Install C# extension.
3.Open the Terminal, run as follow command to create new console project:
dotnet new console -o hwapp
4.Add some code in the program.cs:
picture1
![picture1](https://user-images.githubusercontent.com/32061365/47538923-630fb000-

[2018-10-26 05:34] AgStarRay opened #2627 "Problems are only reported on currently open files (Unity?)"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.28.2
C# Extension version: 1.17.0-beta7

## Steps to reproduce
This issue might be in just Unity projects, but the Problems section is always empty until I open a file with problems in it.
1. Create a Unity project.
2. Open the project folder in VS Code (so that Omnisharp loads the .sln).
3. Create a C# class and add syntactical

[2018-10-26 09:57] v-mengzh opened #2628 "Error message for evaluated expressions with a divide by zero may be wrong"
Environment data
OS and Version: Mac Version 10.12.6
VS Code Version: 1.28.2
C# Extension Version:1.17.0-beta6

Steps to reproduce
1.Install vscode.
2.Install C# extension.
3.Open the Terminal, run as follow command to create new console project:
dotnet new console -o myapp
4.Add some code in the program.cs as below:
![image](https://user-images.githubusercontent.com/32150874/47558288-5c575c00-d94

[2018-10-26 14:20] deepak-khopade-isdr commented on #2604
Thanks, @marek-safar, @akoeplinger

[2018-10-26 14:37] shubhcosmos commented on #2412
Thanks @allnnde  your workround was wonderful  .  I found two folders vscode\extensions\ms-vscode.csharp-1.16.2 and vscode\extensions\ms-vscode.csharp-1.16.1 .

Uninstalled extension closed vs code , deleted these two folders and reinstalled .

Everything worked .

Even the intellisence which was not working started working.

[2018-10-26 14:41] shubhcosmos commented on #2424
Workaround

Uninstall extension close vs code , Delete  vscode\extensions\ms-vscode.csharp-1.16.2

Reinstall

Even the intellisence which was not working started working.

[2018-10-26 18:44] gheibia commented on #2383
I came across this on MAC with `vscode` (`dotnet core CLI tool` actually) and `mono 5.12` when I tried to compile an application targeting `.NET Framework 4.7.1`. I checked and I clearly had the right assemblies in `/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/4.7.1-api/`.

[code]

[code]

So clearly MSBuild failed to find those assemblies. Googling eventually yielded [https://gith

[2018-10-26 20:18] gregg-miskelly commented on #2628
Windows also has a similar problem. We will address this in 1.18.

[2018-10-29 15:45] rchande opened #2629 "Improve handling of path lookup errors"
See https://github.com/OmniSharp/omnisharp-vscode/issues/1849#issuecomment-433312628

[2018-10-29 15:45] rchande commented on #1849
@ChickJ Thanks for sharing--you're right that we could improve how we handle unresolvable paths. I've filed https://github.com/OmniSharp/omnisharp-vscode/issues/2629 to track this.

[2018-10-29 15:46] rchande commented on #2627
@akshita31 Can you try to reproduce this?

[2018-10-29 15:47] rchande commented on #2546
@StephenWeatherford Can you help us understand how to prioritize this? Eg: will we start crashing in future versions of Code? Or is this just an annoying message?

[2018-10-29 15:50] rchande commented on #2620
@akshita31  Can you update the package?

[2018-10-29 20:27] #2623 closed

[2018-10-29 22:07] StephenWeatherford commented on #2546
It's mostly an annoying message, but it also means you might not be getting your expected behavior regarding settings.  'Course it also makes you look bad.

[2018-10-30 15:22] andy-g commented on #2165
Any update on this @gregg-miskelly?

[2018-10-30 22:15] KeynesYouDigIt commented on #1794
Reporting same issue ubuntu 18

[2018-10-31 05:48] akshita31 commented on #2621
@suadev What are the keys you are using to fold the region. I tried the combination specified here https://code.visualstudio.com/docs/editor/codebasics#_folding and it seems to work fine for me. Note that in using ` Fold Level X (Ctrl+K Ctrl+2 for level 2) folds all regions of level X, except the region at the current cursor position` the region at the current cursor position will not be folded.

[2018-10-31 05:54] suadev commented on #2621
@akshita31  as i said in my first post;

"Fold All Regions" feature doesn't work neither by ctrl+k, ctrl+8 nor by F1 menu.

[2018-10-31 06:06] akshita31 commented on #2621
@suadev As per the vscode documentation here : https://code.visualstudio.com/docs/editor/codebasics#_folding, "Fold All" is Ctrl K+ Ctrl 0 and that seems to work fine for me. Can you try that once ?

[2018-10-31 06:08] akshita31 commented on #2621
However I do agree that Fold All regions through F1 doesnt work here.

[2018-10-31 07:42] akshita31 commented on #2621
@suadev Apologies I got a bit confused here. I am totally able to reproduce the problem.

[2018-10-31 07:51] akshita31 commented on #2621
On further investigation, I realised that we are using the "BlockStructureService" from roslyn to provide the spans for CodeFolding. The "BlockType" defined in roslyn doesn't have an explicit type for a "Region" - http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Structure/BlockTypes.cs,863b31bd5e041d18. For regions it returns the base type called "NonStructural".

In omnisharp-roslyn, we a

[2018-10-31 15:10] timminkov commented on #2136
Why did this get closed?

[2018-10-31 16:59] jchand99 opened #2636 "Debugger fails when using "externalTerminal" option on Linux."
## Environment data
`dotnet --info` output:
[code]

[2018-10-31 17:00] jchand99 commented on #2636
Update 1.17.0 Fixed the integrated terminal failure where it was throwing a free() pointer error. But external terminal still doesn't work correctly.

[2018-10-31 17:18] gregg-miskelly commented on #2636
@jchand99 A few questions --
1. Does it work correctly (in 1.17) for you with `"console": "integratedTerminal"`?
2. With externalTerminal: Can you hit a breakpoint at the start of main? If you look at a process listing, can you tell (based on parent/child relationships) which processes are active in the spawned external terminal?

[2018-10-31 17:20] danroth27 commented on #168
The [C# extension for Visual Studio Code](https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp) released today (1.17.0) with preview support for Razor editing. Includes support for directive and C# completions. No support for tag helpers yet - that's next.

[2018-10-31 17:45] welkie commented on #168
@danroth27 Y'all are amazing. I'm going to make it my duty to test this thing.

[2018-10-31 17:57] jchand99 commented on #2636
1) Yes, "console": "integratedTerminal" works the output is this:
[code]

2) It won't hit a breakpoint anywhere in a standard HelloWorld console application with "console": "externalTerminal" set.

[2018-10-31 18:15] welkie opened #2637 "Lag when using C# autocomplete in Razor"
## Issue Description ##

When trying to use the new C# razor intellisense feature, it works but it takes a few seconds to register changes you make to the code, such as setting a new variable. Other changes like choosing to call a different method on a variable are instant intellisense. It looks like the lag is just when the variable's type is changed or the variable is first introduced.

Here is

[2018-10-31 18:46] welkie opened #2638 "Find all references not working when reference is in Razor code"
## Issue Description ##

When clicking on the `1 reference` helper that's present on classes and methods to see where it is used, it does not work when the reference is from Razor code (as opposed to C# code). It displays "Loading..." indefinitely. This screenshot demonstrates an example:

![image](https://user-images.githubusercontent.com/7719209/47811146-74e7bd80-dd1b-11e8-8ea3-ffa8f7eef677.png)

[2018-10-31 18:53] NTaylorMullen commented on #2637
Hey @welkie, thanks for testing everything out 😄 . That's currently a known issue over in the [Razor.VSCode repo](https://github.com/aspnet/Razor.VSCode/issues/215).

There's also another duplicatish like issue [here](https://github.com/aspnet/Razor.VSCode/issues/210). I've looked into it a little bit and it seems that OmniSharp is providing completions for stale data. I'll have to investigate it

[2018-10-31 19:42] welkie commented on #2637
@NTaylorMullen Ah that does look like a duplicate. Is this the right repo to report Razor issues with omnisharp? I used the command pallet shortcut for reporting issues.

[2018-10-31 19:44] welkie commented on #2638
@NTaylorMullen Files at https://github.com/aspnet/Razor.VSCode/issues/219 instead! ty

[2018-10-31 19:44] #2638 closed

[2018-10-31 19:56] NTaylorMullen commented on #2637
Sadly not, adding a command pallet bit to create Razor issues is something we definitely want to do though. For now we're asking people to file Razor issues over in https://github.com/aspnet/Razor.VSCode so we don't add too many issues to the OmniSharp repo 😄. OmniSharp folks have been super supportive in shipping a Razor experience so we're doing all we we can to lessen their load.

[2018-10-31 20:33] welkie commented on #2637
Sounds good. In the mean time I can just use the command pallet to start the issue and then copy paste it over to the Razor repo. Closing this issue since it's a duplicate, thanks again for your help.

[2018-10-31 20:33] #2637 closed

[2018-11-01 09:44] Ghostbird commented on #2529
Maybe unrelated, but since the fix in 1.16.2:
`Fixed a bug where OmniSharp flame was red inspite of OmniSharp loading the projects without any errors.`
If this error occurs, the OmniSharp flame is *green*, though every project load has failed.

[2018-11-01 09:45] dansoper commented on #2472
This problem hasn't happened for me now for a while, so I think it has been resolved.  I'm on VS Code 1.28.2.

[2018-11-01 10:14] OrKunst commented on #2158
i do have .NETFramework Version=v4.5, and even 4.6 and 4.7 installed and still having same error.
any suggestion?

[2018-11-01 11:25] hshokri opened #2640 "auto complete not functioning in the dotnet web apps"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce

## Expected  behavior

## Actual behavior

[2018-11-01 11:26] #2640 closed, assigned to nobody

[2018-11-01 12:51] saurabhnachankar opened #2641 "Bug : Latest update of omnisharp 1.17.0 - preview Razor (cshtml) language service crashes visual studio code"
Issue Type: <b>Bug</b>

While writing or editing razor page (cshtml) it crashes due to omnisharp's preview razor (cshtml) language service which is introduced in 1.17.0 !

**As it was crashing soo there is an option in vs code setting to disable it :**
To disable the preview Razor tooling set the "razor.disabled" setting to true.

I hope this gets fixed. Happy coding!

Extension version: 1.17.0
VS

[2018-11-01 14:09] SwooshyCueb commented on #2158
Grab developer packs from this web page: https://www.microsoft.com/net/download/visual-studio-sdks

[2018-11-01 14:42] akshita31 commented on #2641
cc @NTaylorMullen

[2018-11-01 14:43] akshita31 commented on #2641
@saurabhnachankar I haven't experienced the crash yet on my Windows machine. Could you post the output of "dotnet --info"

[2018-11-01 15:48] rchande commented on #2158
@OrKunst How did you install them? As @SwooshyCueb mentions, there's a difference between runtime and the SDK.

[2018-11-01 15:51] rchande commented on #2529
@Ghostbird That's intentional. The idea is that the flame turns red if there's a problem with the omnisharp process itself. Consider that there are lots of reasons a project could fail to load that might have nothing to do with omnisharp.
Also @Ghostbird I'm not sure what this issue is tracking any more. Are you still having problems?

[2018-11-01 16:16] cda-1 opened #2642 "1.17.0 "Emmet: Expand Abbreviation" no longer working in cshtml files"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.403
 Commit:    04e15494b6

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.403\

Host (useful for support):
  Version: 2.1.5
  Commit:  290303f510

.NET Core SDKs installed:
  1.1.10

[2018-11-01 17:08] NTaylorMullen commented on #2642
That's unfortunate @cda-1. For now, we've replaced the default Razor language identifier with `aspnetcorerazor` (from `razor`) which disables the built-in behavior of VSCode. This is something we can definitely look into though. Would you mind filing this issue over at https://github.com/aspnet/Razor.VSCode?

[2018-11-01 17:09] NTaylorMullen commented on #2641
Oh wow, ya I haven't ran into this either. @saurabhnachankar can you reproduce this consistently?

[2018-11-01 17:31] cda-1 commented on #2642
Did you mean to suggest changing

"emmet.includeLanguages": {
"razor": "html"
}

to

"emmet.includeLanguages": {
"aspnetcorerazor": "html"
}

as a fix? Because it kind of worked!

Emmet expansion for tags, such as div and span has its functionality restored. However, emmet espansion for ".alert", which is expected to expand to `<div class="alert"></div>` does not have its functionality restored. I

[2018-11-01 17:44] Ghostbird commented on #2529
Yes, sorry for the off-topic remark. The problem persists in any version of the extension above 1.15.2 in combination with both system-wide installed Mono 4.6 and 5.16 and the stand-alone Mono that comes with the extension. (I didn't test other versions)

The latest version of the extension that works for me is version 1.15.2 with either Debian's own Mono 4.6 or the stand-alone Mono from the exten

[2018-11-01 17:53] NTaylorMullen commented on #2642
Sadly not today. We tried to do our best to turn on/off the new Razor functionality but it came with some caveats. If you'd like we'd be open to a PR in the Razor.VSCode repo to re-enable the functionality. At which point you could re-build the Razor solution and hot patch bits on disk until a new release is available 😉

[2018-11-01 18:04] cda-1 commented on #2642
I hope to be on that level someday!

[2018-11-01 18:46] churchs19 commented on #2529
I'm still seeing this error in 1.17.0 still today.

[2018-11-01 18:47] akshita31 opened #2643 "Re-enable the flaky test for the Codelens provider"
Investigate the cause of flakiness and re-enable the skipped test here:
https://github.com/OmniSharp/omnisharp-vscode/pull/2639

[2018-11-01 20:22] rchande commented on #2529
@Ghostbird @churchs19 What you're describing sounds like a duplicate of #2604 . Please take a look at the steps described in https://github.com/OmniSharp/omnisharp-vscode/issues/2604#issuecomment-430330103

[2018-11-01 20:40] filipw opened #2644 "Proposal: introduce `latest-stable` switch for `omnisharp.path` configuration"
_From @d-dizhevsky on November 1, 2018 11:33_

Here is the note from user-config section:

It would be handy if I could also tell it to keep my local version up-to-date with the latest stable up to minor version (i.e. download 1.32.7, but ignore 1.32.7-beta.*).

With `latest`:
 - **1.32.7-beta.23 <-- this is the version it will download**
 - 1.32.7-beta.22
 - 1.32.7-alpha.1

With `latest-stable`:

[2018-11-01 20:40] filipw commented on #2644
_From @DustinCampbell on November 1, 2018 20:33_

I think this is meant for the omnisharp-vscode repo, correct?

[2018-11-01 21:04] d-dizhevsky commented on #2644
@filipw have you used he new github feature to move the issue between the repos? I thought it should have been kept it as is 🤔

[2018-11-01 21:15] churchs19 commented on #2529
@rchande I am seeing this issue on Windows, not Linux with Mono as described in #2604. I did check my path and search for a global.json and did not find one.

`[warn]: OmniSharp.MSBuild.ProjectManager
        Failed to load project file 'c:\Dev\Projects\Sales\SalesPortal\WebUi\WebUi.csproj'.
c:\Dev\Projects\Sales\SalesPortal\WebUi\WebUi.csproj(1,1)
Microsoft.Build.Exceptions.InvalidProjectFileExce

[2018-11-01 23:02] andrewb273 commented on #1179
I've become quite accustomed to `ctr+r,g` for C# in VS2017, and using `shift+alt+o`/`f10` for TS in vscode. Is it an option for the omnisharp extension to provide an implementation of `editor.action.organiseImports` for C#? Seems to be logical & consistent to me, and the fastest way for me to keep my code clean.

[2018-11-01 23:37] NTaylorMullen opened #2645 "Cannot load project when newer versions of MSBuild exist on box."
## Issue Description ##
When dev16 preview is installed it installs a newer version of MSBuild. That MSBuild variant isn't compatible with OmniSharp; it then fails to load projects.

## Steps to Reproduce ##
Install dev 16 preview

## Expected Behavior ##
Project can load

## Actual Behavior ##
Project fails to load (see omnisharp log)

## Logs ##

### OmniSharp log ###
<details>Starting OmniSharp

[2018-11-02 04:47] ChaosCA commented on #2483
Works! Thanks again @gregg-miskelly

[2018-11-02 04:53] FranklinWhale commented on #2507
@akshita31, @rchande: Is there any update on this issue? I am unable to have VS Build Tools and VS code on the same machine now...

[2018-11-02 06:30] saurabhnachankar commented on #2641
Every time I change some code it stops responding, as i hereby attaching the screenshot of it. @akshita31 @NTaylorMullen
![Uploading IMG-20181101-WA0001.jpeg…](The window has crashed)

[2018-11-02 06:31] saurabhnachankar commented on #2641
Every time I change some code it stops responding, as i hereby attaching the screenshot of it. @akshita31 @NTaylorMullen

![img-20181101-wa0001](https://user-images.githubusercontent.com/18824032/47897253-f9128000-de96-11e8-9521-d58fdc7ee1bc.jpeg)

[2018-11-02 06:35] saurabhnachankar commented on #2641
@NTaylorMullen, yeah consistently this is crashing and I am unable to work due to this update!

Finally after hours of research i had to disable the Razor tooling !

[2018-11-02 09:10] svsenthil84 opened #2647 "Could not load file or assembly 'OmniSharp.Stdio, Version=1.32.0.0"
## Environment data
`dotnet --info` output:
Starting OmniSharp server at 11/2/2018, 12:40:43 PM
    Target: d:\FProjects_WorkSpace\TravelApp\TravelApp.sln

OmniSharp server started.
    Path: C:\Users\SenthilkumarV\.vscode\extensions\ms-vscode.csharp-1.17.0\.omnisharp\1.32.6\OmniSharp.exe
    PID: 9556

System.IO.FileNotFoundException: Could not load file or assembly 'OmniSharp.Stdio, Version=1.32

[2018-11-02 10:02] jools-adams commented on #1179
For bonus marks make it possible to use full alphabetical order, or put
system stuff separately.

On Thu, 1 Nov 2018 at 23:02, andrewb273 <notifications@github.com> wrote:

[2018-11-02 11:12] filipw commented on #2644
no i didn't

[2018-11-02 17:03] rchande commented on #2645
@DustinCampbell Is the right fix here to update binding redirects?

[2018-11-02 17:22] NTaylorMullen commented on #2641
Does it also crash for you with a default project? Aka `dotnet new razor`?

[2018-11-02 19:55] nickstenning commented on #2472
For what it's worth, this is happening for me (`new`/`nameof` is the one that catches me most frequently) on 1.28.2.

I can reliably make it happen by typing fast and typing either `[n, e, <space>]` or `[n, e, w, <space>]`. Typing fast is crucial. It never happens if I am typing slowly.

<details>
<summary>Full version info</summary>
[code]
</details>

[2018-11-02 20:05] nickstenning commented on #2472
And I'm afraid I can also reproduce with the latest Insiders build (1.29.0), with only the C# extension installed (at version 1.17.0).

<details>
<summary>Full version info</summary>
<pre><code>Version: 1.29.0-insider (user setup)
Commit: 9b2a7f4a83ca6a2d495463276a21157f398b41e7
Date: 2018-11-02T13:42:21.142Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64</c

[2018-11-02 20:23] Razzeee opened #2648 "Any plans to extract the package manager?"
Are there any plans to extract the package manager behaviour and make it available for other vscode integration? This part of the code https://github.com/OmniSharp/omnisharp-vscode/pull/2188

I'm also curious how these urls get created https://github.com/OmniSharp/omnisharp-vscode/commit/5f8d5c44603a1bf50777b7e565efed132c96c0d2 as I never pushed an extension to the store before. Or are these MS sp

[2018-11-02 22:33] gregg-miskelly commented on #2648
Our hope is that someday the VS Code team provides a story for extensions having platform-specific dependencies so that our package manager code can go away. So I am somewhat hesitant to think we should pull it out into its own package. But regardless, you can certainly just copy/paste the code into your own extension.

VS Code provides no support for external dependencies, including there is no s

[2018-11-02 22:51] gregg-miskelly opened #2649 "Consider: Don't start razor language service when there are no razor files"
## Environment data
C# Extension version: 1.17

## Steps to reproduce
1. Create a new C# .NET Core console app
2. Open the folder in VS Code

## Expected  behavior
Razor language service (rzls) process shouldn't start since there are no razor files

## Actual behavior
Razor language service starts

[2018-11-02 22:54] NTaylorMullen commented on #2649
This is definitely a reasonable request. @gregg-miskelly would you mind filing the issue over in https://github.com/aspnet/Razor.VSCode?

[2018-11-02 22:58] gregg-miskelly commented on #2649
I can move it using https://github-issue-mover.appspot.com

[2018-11-02 22:59] gregg-miskelly commented on #2649
This issue was moved to aspnet/Razor.VSCode#222

[2018-11-02 22:59] #2649 closed

[2018-11-03 00:09] Razzeee commented on #2648
Thanks for your fast response :)

It's unfortunate that this is the case, as having a package would have been a better solution for me. But it's completely understandable. I will just copy everything we need then I guess.

One last question, I am correct, that you use this to download the language server implementation for the used platform? Just checking, as I'm not 100% sure.

[2018-11-03 13:59] KillyMXI opened #2650 "Inconsistent changelog"
## Environment data
`dotnet --info` output: irrelevant
VS Code version: 1.28.2
C# Extension version: 1.17.0

## Steps to reproduce
1. (optional) have outdated version of extension installed;
2. look in the Changelog tab in VS Code what changes were made in the extension update.

## Expected  behavior
Changelog tab has the final info about published version.

## Actual behavior
Changelog wasn't upd

[2018-11-03 15:30] kevingbb opened #2651 "Cannot start Debugger after a failed compile"
## Issue Description ##

## Steps to Reproduce ##
mkdir csharptest
cd csharptest
dotnet new console
Start Debugger and Hello World Executes properly.
Remove the semi-colon at the end of Hello World line in Program.cs to simulate a compile-time error.
Start Debugger, compile time error is found, message box pops up
Resolve the error by adding the semi-colon back in.
Start Debugger, but nothing happ

[2018-11-03 17:01] filipw commented on #2647
is this the actual path it prints? there are 2 slashes missing (in front of `.vscode` and `.omnisharp`).
Anyway, looks like the extension download was somehow corrupt. Could you try navigating to `C:\Users\{user}\.vscode\extensions\ms-vscode.csharp-1.17.0`, delete the whole folder, and reinstall the extension again?

[2018-11-03 17:12] gregg-miskelly commented on #2651
I _think_ this is due to Live Share. Can you try disabling it and see if that fixes it?

[2018-11-03 23:11] gregg-miskelly commented on #2648
Correct: this is used to download the platform-specific language server (as well as the platform-specific debugger)

[2018-11-03 23:11] #2648 closed

[2018-11-04 01:14] msivers commented on #1245
Bump!... This reasonably basic capability is a big miss on Visual Studio Code. I'm so used to having this from VS2017 and before and when you have loads of .cs files and many have a lot of using statements there is no way to cull the list without a majorly time-consuming effort.

Please can we have the capability to remove unused using statements - either through keyboard shortcut or through docum

[2018-11-04 06:13] cuongngoht opened #2653 "mniSharp.MSBuild.ProjectManager Attemped to update project that is not loaded"
## Environment data
`dotnet --info
` output:

![image](https://user-images.githubusercontent.com/40376533/47960841-b934cf80-e033-11e8-9057-bb8a53badd03.png)

VS Code version:
C# Extension version:
![image](https://user-images.githubusercontent.com/40376533/47960775-81795800-e032-11e8-8864-cd49eaadd201.png)

## Steps to reproduce
1.Uninstall omnisharp 1.1.17
2.Install omnisharp 1.1.17

## Expected

[2018-11-04 09:15] remcoros commented on #2641
After updating to latest omnisharp, I have the **exact** same issue.

[code]

When I created an empty razor project (dotnet new razor), and open that, it didn't crash and started to download the latest omnisharp/debugger server, and the razor language service.

When I openen my original project again (regular .net standard project, no mvc, no razor), it didn't crash anymore.

[2018-11-04 09:59] CollinChaffin commented on #626
@gregg-miskelly  Greg it was self-explanatory.  You can apply a hotfix (been around for ages) to almost all versions of Windows prior to 10 to increase PATH length past 2048.  If you have that applied, VSCode will blow up and exhibit this bug because IT, despite also being a MS product, does not know that there is a hotfix and it is possible to have a path longer.....so it simply never tries to pa

[2018-11-04 17:36] andyp22 commented on #2647
I had a similar error and deleting the whole folder then reinstalling worked for me.

[2018-11-05 08:54] jrieken commented on #2472
Thanks @nickstenning. I will keep digging...

[2018-11-05 09:05] Ghostbird commented on #2529
@rchande I installed the Mono, 4.6 and ran `COREHOST_TRACE=1 code` and compared the output of version 1.17.0 and 1.15.2 of the extension. Below is an interesting excerpt:

1.17.0 shows this:
[code]

[2018-11-05 10:24] ghost opened #2654 "r"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:

## Steps to reproduce

## Expected  behavior

## Actual behavior

[2018-11-05 12:56] ThisDrunkDane opened #2655 "Fails to start debugging on Arch."
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.27.2
C# Extension version: 1.16.2

## Steps to reproduce
1. Run vs code on a new console application
2. Add default VSCode launch.json for .NET Core, fix paths.
3. Press f5.

## Expected  behavior
For debugging to begin.

## Actual behavior
Debugging fails to start with a popup in the corner saying
[code]

[2018-11-05 13:20] SIkebe commented on #2654
@i-burgos mistake?

[2018-11-05 13:24] #2654 closed, assigned to nobody

[2018-11-05 14:11] apkd opened #2656 "The output panel is opened automatically every time a project is opened"
## Environment data
`dotnet --info` output:
- Unlikely to be relevant but [here it is](https://gist.github.com/apkd/7410096f7f10c91b8b188c9d02df9199)

VS Code version:
- 1.28.2

C# Extension version:
- 1.17.0

## Steps to reproduce
1. Open a C# workspace

Alternatively,

1. Use the `Omnisharp: Restart Omnisharp` command

## Expected  behavior
Omnisharp doesn't open any windows or panels unless an

[2018-11-05 14:21] mmitang commented on #2136
i get same issue
it seems like vscode donot reload .csproject file after add new script(maybe)
i use "reload window" reload project ,is helps!

[2018-11-05 15:10] gregg-miskelly commented on #2655
@ThisDrunkDane This means you are not using an official version of VS code. Only official versions from Microsoft support .NET Debugging.

[2018-11-05 15:10] #2655 closed

[2018-11-05 15:37] tremblaysimon commented on #2603
Hello,

using

.NET Core 2.1.402
VS Code 1.28.2
C# extension 1.17.0

vsdbg including libunwind (manually inserted like you did)

and cf ssh instead of plink,

[code]

remote debugging is working well here.

[2018-11-05 15:59] auchenberg opened #2657 "Extension should consider using vscode.open for browser launch"
Hi Kenneth from the VS Code team here,

We noticed the `launchBrowser` attribute in the launch.json as this extension has it's own logic to launch browsers.

For future scenarios we recommend using the VS Code API `vscode.open` that can open a URL in the browser. It works on all platforms, so when the C# extension can invoke this command, then this should work.

[2018-11-05 16:50] macsux commented on #2603
Can you please outline steps you took to install libunwind. I think this is the part I was missing. I tried introducing it, I'm no longer getting same error, but it still disconnects from debugging session.

`<- (R) {"seq":4,"type":"response","request_seq":2,"success":true,"command":"attach"}
<- (E) {"seq":6,"type":"event","event":"initialized","body":{}}
-> (C) {"request_seq":1,"success":true,"co

[2018-11-05 17:15] gregg-miskelly commented on #2657
@auchenberg How could we use this? We launch the browser from the debugger.

[2018-11-05 18:28] zeroskyx commented on #2621
Same issue here -- folding works flawlessly for languages such as JS but fails for CS.

Keep up the great work =)

[2018-11-05 18:30] NTaylorMullen commented on #2641
Wait, @remcoros so it does crash for you or does not?

[2018-11-05 19:09] remcoros commented on #2641
not, since I opened that new razor project.

[2018-11-05 19:10] NTaylorMullen commented on #2641
Ahh, interesting, good to know.

[2018-11-05 19:20] rchande commented on #2656
@apkd I suspect you have the option `omnisharp.path` set to `latest`. If you unset the option or set it to a specific version or path this will stop happening.

[2018-11-05 20:43] apkd commented on #2656
@rchande Thanks, this helped. I think I toggled the setting to `latest` a while ago in order to get rid of the message in the first place, but now the problem appears resolved.

[2018-11-05 20:43] #2656 closed

[2018-11-06 00:43] roblourens opened #2658 "Avoid using onDebug activationEvent"
I noticed that the C# extension is a bit slow to activate, and it activates using `onDebug`, which is fired for every debug session. It would be better to use one of the more fine-grained activation events, `onDebugInitialConfigurations` or `onDebugResolve:type`.

Example: https://github.com/Microsoft/vscode-node-debug/blob/master/package.json#L86

Details: https://code.visualstudio.com/updates/v1

[2018-11-06 01:20] gregg-miskelly commented on #2658
Sounds good. We didn't notice that these were added.

[2018-11-06 11:43] isidorn commented on #2658
I just wanted to create this but @roblourens beat me to it.
Yeah it would be great that you use more specific activation events.
Example how Java is doing it https://github.com/Microsoft/vscode-java-debug/blob/14fe7d5d0d41a397eaff4f3701860653850058fb/package.json#L31

[2018-11-06 16:54] kenorb opened #2659 "OmniSharp.exe locking on the Composer file."
## Environment data

VS Code version: 1.27.1
C# Extension version: 1.17.0

## Steps to reproduce

The VS Code extension locked on the file causing the error in Composer.

[code]
I've checked in _Process Explorer_ and `OmniSharp.exe` was locking on that file, despite I didn't have any files open and `vendor\phpoffice\phpspreadsheet\docs\assets\ClassDiagrams` is just the empty folder.
![image](https

[2018-11-06 17:06] CanisLupus commented on #1913
Hey! Any news about this?

I'm now looking at the RAM used by OmniSharp slowly but steadily climb while simply having a Unity 3D project open in VSCode. After a few hours of normal work it easily gets to several GB.

Issue #2041 is also related, possibly others.

[2018-11-06 19:02] savornicesei opened #2660 "OmniSharp fails to conditionally load NuGet packages"
Hi all,

I am working on updating [NDbUnit](https://github.com/savornicesei/NDbUnit2/tree/develop) to the latest and greatest in .NET environment.
My dev environment is:

- OpenSUSE Tumbleweed
- JetBrains Rider IDE 2018.2.3
- Visual Studio Code 1.28.2
- C# plugin for VS Code 1.17.0

## Environment data
simona@devrog:/data/Proiecte/Proiecte/[oss] NDbUnit2/ndbunit2> dotnet --info
.NET Core SDK (refl

[2018-11-06 19:07] tremblaysimon commented on #2603
1. I downloaded vsdbg and put it directly in my publish folder before cf push the app

2. Put libunwind in the vsdbg folder from that deb file here: http://archive.ubuntu.com/ubuntu/pool/main/libu/libunwind/libunwind8_1.1-2.2ubuntu3_amd64.deb

2.1 I extracted the .deb file and put all files (and symlinks) from data/usr/lib/x86_64-linux-gnu into vsdbg folder (like libunwind.so.8, libunwind.so.8.0.1

[2018-11-06 19:48] macsux commented on #2603
I was doing exactly what you wrote before, and it's not working for me - tired in both VSCode & Visual Studio. Which OS are you on? I'm on Windows 10, tried on two separate machines.

[2018-11-06 20:32] tremblaysimon commented on #2603
I'm on Ubuntu 18.04. I don't have any machine on Windows 10, I will try on Windows 7 to see if it's working as expected.

[2018-11-06 20:36] gregg-miskelly commented on #2603
There is nearly zero chance that the error you are running into has anything to do with the client OS.

What would matter a great deal:
* What version of CoreCLR the target app is running on (the failure is from the CoreCLR debugging services)
* The server OS

[2018-11-06 20:39] gregg-miskelly commented on #2603
In case it is helpful, the failure is CORDBG_E_TIMEOUT. Here are the places where CoreCLR might return that error: https://github.com/dotnet/coreclr/search?q=CORDBG_E_TIMEOUT&unscoped_q=CORDBG_E_TIMEOUT

[2018-11-06 20:39] macsux commented on #2603
The sample app I'm trying is targeting 2.1 and the buildpack is introducing dotnetcore runtime version 2.1.4

[2018-11-06 21:09] tremblaysimon commented on #2603
My server OS is on Ubuntu 14.04. Are you getting the right libunwind package? For Xenial it seems to be that one: http://archive.ubuntu.com/ubuntu/pool/main/libu/libunwind/libunwind_1.1-4.1.debian.tar.xz (took from https://packages.ubuntu.com/xenial/libunwind8)

[2018-11-06 21:16] macsux commented on #2603
So this is interesting - my colleague on a Mac just tried this and it worked for him. I gave him the exact vsdbg folder that I created with libunwind inside that I used when I pushed my code. I'm getting my hands on his exact project that he pushed to see if that accounts for the difference.

[2018-11-07 17:12] tremblaysimon commented on #2603
Finally I've got the same problem here. I figured out that my target framework was netcoreapp2.0 instead of netcoreapp2.1. When target framework is netcoreapp2.1, I get same error as you. If I launch vsdbg manually from the container, with that properties in my csproj:

[code]
I get that error:

[code]
If I use 2.0 like this in my csproj:

[code]
it works perfectly as expected:
[code]

[2018-11-07 18:11] kevingbb commented on #2651
I did have Live Share running. I disabled Live Share and that fixed the problem.

[2018-11-07 18:11] #2651 closed

[2018-11-07 18:48] tremblaysimon commented on #2603
Info: It's working to debug on a Ubuntu 14.04 docker container which I installed .NET Core 2.1, vsdbg and my app.

What is interesting with PCF, if I run /tmp/lifecycle/shell before executing vsdbg, it's working with an app that target 2.1...

[2018-11-07 20:37] rchande commented on #2660
@savornicesei Can you share your project file or explain how I can construct a similar one?

[2018-11-07 20:39] rchande commented on #2659
@kenorb I'm not familiar with composer. Can you share some more info? Are there .cs files in that directory?

[2018-11-07 20:44] rchande commented on #2653
@cuongngoht Please share full omnisharp log.

[2018-11-07 20:55] rchande commented on #2650
@KillyMXI Thanks for the feedback. We'll discuss this and improve our process to avoid this in the future.

[2018-11-07 20:55] #2650 closed

[2018-11-07 20:55] rchande commented on #2647
@svsenthil84 Did reinstalling help?

[2018-11-08 00:00] gregg-miskelly commented on #2165
Sorry for the long delay. I finally published a beta release that supports Alpine. It will not yet be usable in full Visual Studio for Docker scenarios, but you can use it in VS Code.

To try the beta, follow instruction from [the wiki](https://github.com/OmniSharp/omnisharp-vscode/wiki/Attaching-to-remote-processes), but instead of obtaining vsdbg using `https://aka.ms/getvsdbgsh` instead use `ht

[2018-11-08 00:02] gregg-miskelly commented on #2603
I don't know how likely this is to actually help, but you might double check that this issue isn't resolved using the new beta release of vsdbg.

To try the beta, follow instruction from [the wiki](https://github.com/OmniSharp/omnisharp-vscode/wiki/Attaching-to-remote-processes), but instead of obtaining vsdbg using `https://aka.ms/getvsdbgsh` instead use `https://aka.ms/getvsdbgshbeta` (or replac

[2018-11-08 06:09] WHATSAF opened #2661 "Does it support the "dotnet watch" tool?"
Just like the ```dotnet watch run```'s behaviour, after i modified some codes(the c-sharp codes) it will watch the file changes and recompile the codes.
Can somebody tell me if this plugin support that, or show me some configurations please.

[2018-11-08 14:32] kenorb commented on #2659
Composer is a package management tool which downloads PHP packages into `vendor` folder (similar to `node_modules` for `npm`).
So in Visual Code I've a project which was used to work on Drupal website (most of PHP files).
In the Docker container I've `/var/www/html` which is shared folder for the host where the files are as per `docker-compose.yml`:

    volumes:
      - ../.:/var/www/html

So whe

[2018-11-08 15:30] andy-g commented on #2165
Thanks @gregg-miskelly.

I've got it up and running on `microsoft/dotnet:2.1-sdk-alpine`, but I needed to explicitly specify the process id, I seemed to run into 2 issues:

1. `${command:pickRemoteProcess}` seems to expect that `sh` will be present on the container, but it needs to actually rather use `/bin/ash`. Tweaking the resulting command, and running this manually allows the file to run on t

[2018-11-08 15:31] tremblaysimon commented on #2603
Thank you for that hint, but I get the same error even with the beta version of vsdbg.

I don't know if @macsux could provide more information about what does /tmp/lifecycle/shell command in PCF (other than setting new environment variables) since vsdbg attach properly when that command is executed.

Sadly I can't figure out how to plug that "shell" command in launch.json and I don't think it's a

[2018-11-08 17:01] macsux commented on #2603
Ok, I've figured it out. /tmp/lifecycle/shell sets up the environment as it should be for running the app. the issue is how to execute it as part of launch.json. The syntax for launch.json is different between VSCode & Visual Studio. The following allows me to debug from within visual studio:

[code]

The problem is that for VSCode, we pass in the args via `pipeArgs` which appends the debugger pat

[2018-11-08 17:03] rchande commented on #2661
@WHATSAF Can you be more specific about what aspect of dotnet watch you're interested in? Omnisharp will detect changes to your source code and adjust language services accordingly...

[2018-11-08 17:39] tremblaysimon commented on #2603
I agree that libunwind is added by the buildpack. But not in the /lib folder. It is added in the /home/vcap/deps/ folder so the LD_LIBRARY_PATH must be set (which is done by /tmp/lifecycle/shell command).

I don't understand yet why there is this different behavior in PCF (vsdbg attach to an app) between .NET Core 2.1 vs 2.0...

[2018-11-08 17:46] macsux commented on #2603
Ok, I've figured out how to do this with VSCode now:

[code]

[2018-11-08 17:51] #2603 closed

[2018-11-08 18:16] NTaylorMullen commented on #2641
Found the root cause of this issue [here](https://github.com/Microsoft/vscode/issues/62802). Stay tuned for a fix from vscode 😄

[2018-11-08 20:03] macsux commented on #2603
Summary on how to get this working on Cloud Foundry: https://dotnet-cookbook.cfapps.io/core/remote-debug/

[2018-11-09 10:03] WHATSAF commented on #2661
@rchande I'm running a project with the ```dotnet watch run```command, when i modified the codes and save, the dotnet's watch tool will discover the file has changed and restart. What i expect is that after i modified the code, the vscode can restart the debugger automatically.

[2018-11-09 12:42] Yanpas opened #2662 "Support single file limited completion"
Autocompletion doesn't work at all in cs files without a project. Add  support for System.* namespace completion (.net standard or how it is called).

Smth similar is implemented in Java language server

[2018-11-09 14:27] isaacabraham opened #2663 "Filter out verbose messages in console output"
We would like to be able to filter out messages that show in the VS Code console when debugging a .NET Core app e.g.

`The thread 15072981 has exited with code 0 (0x0).`

and similar messages (module unloaded etc.).

Is there any way to do this currently?

[2018-11-09 15:21] af4jm commented on #2644
Agreed, opting into the latest version & auto-updates and opting into beta versions are 2 VERY different things... since neither the setting nor its documentation mention beta versions, this should be classified as a bug for not ignoring beta versions, and the feature-request should be to add "latest-beta"... meanwhile I'm removing "latest" from my settings since it doesn't work as documented