[2016-11-07 23:46] #872 closed

[2016-11-07 23:49] tsolarin commented on #881
@DustinCampbell thanks for the response. I'll love to contribute any way I can

[2016-11-07 23:51] DustinCampbell commented on #881
Thanks! I got much it working today.

![image](https://cloud.githubusercontent.com/assets/116161/20081056/03de29d8-a502-11e6-9451-c2fa7f4db330.png)

[2016-11-08 00:25] gregg-miskelly commented on #626
@RanzQ what do you get if you do:

1. Open VS Code
2. View->Integrated Terminal
3. echo %path%

[2016-11-08 00:29] gregg-miskelly commented on #879
@0xFireball Have you tried using the Ubuntu 16.04 version of the .NET CLI? I can build you a custom .vsix that will look at `ID_LIKE`/`VERSION_ID` assuming that the Ubuntu 16 CLI actually works on KDE Neon.

[2016-11-08 00:42] shaunluttin commented on #845
Thank you for checking.

[2016-11-08 01:08] 0xFireball commented on #879
KDE Neon is LTS Ubuntu with KDE, unlike Kubuntu, which is the latest Ubuntu with KDE.
Everything should be fully compatible.

A custom VSIX would be really helpful, thanks.

[2016-11-08 01:09] 0xFireball commented on #879
Maybe you could change this in the actual code, assuming everything else works as expected

[2016-11-08 01:12] gregg-miskelly commented on #879
@0xFireball yes, that is definitely my goal. I just want to verify that I am actually resolving the issue before I submit a checkin a fix.

[2016-11-08 05:54] craig006 commented on #542
Has anyone figured out a workaround for this? I've also bumped into it and its really difficult to spot actual errors and warnings with so much in the way!

[2016-11-08 07:07] RanzQ commented on #626
I see the path as it should be, including `C:\Program Files\dotnet\;`.

[2016-11-08 09:59] mayconbeserra commented on #755
Hi @gregg-miskelly , is there any book or source available about clrdbg? I'm using mac and sometimes windows, as far as I know the debugging process for both platform are different

[2016-11-08 11:54] HawkenKing commented on #883
I get this same issue on mac, using for unity.

[2016-11-08 13:50] aeschli opened #888 "C# Code Folding Stops for Regions After Formatting Document"
_From @darrenparkinson on November 8, 2016 10:7_

- VSCode Version: 1.7.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open a C# file
2. Insert #region and #endregion around a section
3. Code folding works
4. Press Ctrl+Shift+P and Select Format Document (or Shift+Alt+F)
5. #region and #endregion are now indented, code folding no longer works.

![image](https://cloud.githubusercontent.com/ass

[2016-11-08 15:23] richkzad commented on #856
I have the same issue.

Are you also seeing "🔥 Starting..." in the bottom right of VS Code? Clicking on that, it looks like OmniSharp is unable to finish starting, and that's probably why we're not seeing any of the "evolved" features... I don't know how to fix it, though.

[2016-11-08 15:26] gregg-miskelly commented on #626
If you try launching VS Code from a command prompt with a trimmed down PATH that just has what you need, does that help by chance?

[2016-11-08 16:37] Novack- opened #889 "Errors/Warnings failing again"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003133)

Product Information:
 Version:            1.0.0-preview2-003133
 Commit SHA-1 hash:  74df06500c

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64

VS Code version: 1.7.1

C# Extension version: 1.5.0beta4

## Steps to reproduce
Install VSCode 1.7

[2016-11-08 16:56] gregg-miskelly commented on #755
@mayconbeserra clrdbg itself is a closed source project, though it does use some open source components (.NET Core, parts of Roslyn).

[2016-11-08 17:28] masaeedu commented on #883
@aeschli I think this might be related to project analysis beginning or completing. I opened #843 with more detailed repro steps, but the gist of the matter seems to be that something gets out of sync once the project finishes building. A workaround that works for me is closing and reopening the file.

[2016-11-08 18:01] DustinCampbell commented on #870
I'm seeing this as well. Will be taking a look.

[2016-11-08 18:46] masaeedu commented on #812
@DustinCampbell I've put up repro steps for a project.json codebase in #843.

[2016-11-08 20:26] gregg-miskelly commented on #879
@0xFireball I am attaching a new version of the C# extension to this work item:
[csharp-1.5.0-dev-kdeneon.vsix.renamed.zip](https://github.com/OmniSharp/omnisharp-vscode/files/579284/csharp-1.5.0-dev-kdeneon.vsix.renamed.zip)

1. Download the file
2. Remove the '.renamed.zip' part of the extension
3. In VS Code: View->Extensions
4. Click the '...' to bring up the additional command menu and select

[2016-11-08 22:00] vamichael opened #892 "Why am I not seeing 'format code' as a command when I press F1?"
## Environment data
`dotnet --info` output: **Please start a debug session to evaluate** where do I execute this command?
VS Code version: 1.7.2
C# Extension version:1.4.1

## Steps to reproduce

Open a C# (cs) file and CTRL-A
Press F1, type **format code**
## Expected  behavior
I expect to see a command that lets me format the code, pretty print, tabs, etc.

## Actual behavior
nothing

[2016-11-09 00:09] shaunluttin commented on #845
It works after deleting the previous version of the extension from here:

    C:\Users\myuser\.vscode\extensions

[2016-11-09 01:52] DustinCampbell commented on #845
glad you got it working (and very nice to meet you this week!) :smile:

[2016-11-09 07:35] aeschli opened #894 "Incorrect intelligence and problem refreshing the error after correction"
_From @saurabhnachankar on November 8, 2016 6:13_

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|net-core-project-manager|ksubedi|0.3.6|
|csharp|ms-vscode|1.4.1|

---

Steps to Reproduce:

1. Intelligence should be improved in Visual Studio Code. Pro

[2016-11-09 07:35] aeschli commented on #894
@saurabhnachankar For what language is that? Can you also add a small code sample that demonstrated the issue?

[2016-11-09 07:35] aeschli commented on #894
_From @saurabhnachankar on November 9, 2016 5:52_

This was my controller's method invoking for creating XL file through
Epplus.

*Issue No. 1  :* This was my following using :  using
Microsoft.Net.Http.Headers; for ContentDispositionHeaderValue.
But i was not able to get it through intelligence in Visual Studio Code. so
i opened it in visual studio community and got the appropriate using.

*Eg :*

[2016-11-09 07:35] aeschli commented on #894
Moving to C#

[2016-11-09 08:22] qian6 opened #895 "Debugger: The "hit count" property has no effect"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.1
C# Extension version: v.1.5.0-beta7
 .NET Core version: 1.0.0-SDK Preview4

## Steps to reproduce

1. Open hwapp folder in attachments directly
2. Set a breakpoint at line of 10 in Program.cs file and set breakpoint conditional as hit count =4
![capture](https://cloud.githubusercontent.com/assets/20922638/20130869/b9292606-a694-11e

[2016-11-09 09:46] qian6 opened #896 "Debugger:Local windows value could load successfully about 6 seconds after hitting breakpoint"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.1
 C# Extension version: v.1.5.0-beta7
 .NET Core version: 1.0.0-SDK Preview4

## Steps to reproduce

1. Open hwapp folder in attachments directly
2. Set a breakpoint at line of 10 in Program.cs file
3. Press F5 to start debugging

## Expected  behavior
It should display immediately variables value in local window

## Actual behavior

[2016-11-09 09:53] ClaireKang opened #897 "Debugger:Command failed: wmic process get Name,ProcessId,CommandLine /FORMAT:list"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.1
C# Extension version: v.1.5.0-beta7
.NET Core version: 1.0.0-SDK Preview4
OS: Win7x64

## Steps to reproduce
1. Launch the project in Command Prompt(cmd window) using the Command 'dotnet run'.
2. Open the attachment project with VSCode.
[hwapp.zip](https://github.com/OmniSharp/omnisharp-vscode/files/580406/hwapp.zip)
3. Set a bp at

[2016-11-09 10:21] ClaireKang opened #898 "Debugger:Failed to launch external program msbuild /property:GenerateFullPaths=true. spawn msbuild ENOENT"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.1
C# Extension version: v.1.5.0-beta7
.NET Core version: 1.0.0-SDK Preview4
OS: Win7x64

## Steps to reproduce
1. Open the attachment project with VSCode.
[hwapp.zip](https://github.com/OmniSharp/omnisharp-vscode/files/580450/hwapp.zip)
3. Press F5 and configure 'MSBuild' in the Task Runner.
![task](https://cloud.githubusercontent.co

[2016-11-09 10:27] GraceDong opened #899 "Debugger: Attach doesn't work correctly with app in a tight loop"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.1
C# Extension version: 1.5-beta7
.NET Core SDK version: 1.0.0-preview4-004061
OS: Fedora23 x64
## Steps to reproduce
1. Download attach folder in attachments directly
[attach.zip](https://github.com/OmniSharp/omnisharp-vscode/files/580422/attach.zip)
2. Launch the project in Command Prompt using the command "dotnet run"
3. Open the

[2016-11-09 10:55] GraceDong opened #900 "Debugger: Some projects have trouble loading"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.1
C# Extension version: 1.5-beta7
.NET Core SDK version: 1.0.0-preview4-004061

## Steps to reproduce
1. Download hwapp folder in attachments directly
[hwapp.zip](https://github.com/OmniSharp/omnisharp-vscode/files/580552/hwapp.zip)
2. Open the project in VSCode

## Expected  behavior
It has nothing warning

## Actual behavior
It sho

[2016-11-09 11:02] v-zhanme opened #901 "Debugger: Breakpoints cannot be set when the target app is in a tight loop"
## Environment data
`dotnet --info` output:
 VS Code version: 1.7.1
 C# Extension version: v.1.5.0-beta7
 .NET Core version: 1.0.0-SDK Preview4
C# Extension version:

## Steps to reproduce
Launch the project in Command Prompt(cmd window) using the Command 'dotnet run'.
2.Open the attachment project with VSCode.
[myapp.zip](https://github.com/OmniSharp/omnisharp-vscode/files/580567/myapp.zip)

3.ch

[2016-11-09 12:58] RanzQ commented on #626
@gregg-miskelly Actually I guess the problem was just an outdated PATH in VS Code. Haven't seen the error anymore. Not sure if the problem was gone after re-launching VS Code or after rebooting my PC.

[2016-11-09 13:01] luyzfernando commented on #839
I think I found the problem, at least in my case.

The problem is in the kernel version.

I was using **Ubuntu 16.04 LTS** with Kernel **4.6.0-040600rc7** and the error occurred.
I upgraded to Kernel **4.8.6** and the error persisted.

I returned to the "original" version **4.4.0.45.66** and the problem was solved.

I hope this helps you.

Thank you for your support.

=)

[2016-11-09 15:13] gregg-miskelly commented on #898
@ClaireKang this is telling you that msbuild isn't on your path, which is pretty normal. For this to work you would need to launch VS Code from a developer command prompt... But there isn't much of a chance you want to be launching msbuild anyway - if you have a .NET Core app you want to use the .NET CLI.

[2016-11-09 15:13] #898 closed

[2016-11-09 15:15] gregg-miskelly commented on #901
@v-zhanme Your code has an infinite loop, so line 17 will never execute. Is there something I am missing?

[2016-11-09 15:25] gregg-miskelly commented on #900
@GraceDong the C# extension doesn't yet support loading .csproj based .NET Core projects. Please keep using project.json projects for now. See #881 for tracking support for .NET Core .csproj.

[2016-11-09 15:25] #900 closed

[2016-11-09 15:28] gregg-miskelly commented on #897
I think the issue here is that the process listing code is broken on Win7.

[2016-11-09 15:34] gregg-miskelly commented on #895
Correct. Hit count breakpoints aren't yet implemented.

[2016-11-09 21:23] DustinCampbell commented on #870
#902 should fix this.

[2016-11-09 21:46] #167 closed

[2016-11-09 21:50] DustinCampbell commented on #882
thanks @balajikris!

[2016-11-10 00:14] gregg-miskelly commented on #839
@luyzfernando Thanks for investigating! I think the issue is that we haven't moved our CoreCLR to 1.0.1, and coreclr crashing on >= 4.6 kernels (see dotnet/coreclr#7345). Though we have our own issues as well. I will update the title.

[2016-11-10 01:11] qian6 commented on #896
Windows OS have this issue。

[2016-11-10 01:15] v-zhanme commented on #901
I'm sorry for typo, The BP should be on line 9

[2016-11-10 01:18] v-zhanme commented on #901
Hi,

I'm so sorry for typo, The BP should be on line 9.

Thanks,
Dianne

From: Gregg Miskelly [mailto:notifications@github.com]
Sent: Wednesday, November 9, 2016 11:16 PM
To: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com>
Cc: Dianne Zhang (CSI Interfusion Inc) <v-zhanme@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OmniSharp/omnisharp-vscode] Debugger: It can

[2016-11-10 01:20] gregg-miskelly commented on #901
@v-zhanme Thanks. What OS were you on?

[2016-11-10 01:23] v-zhanme commented on #901
Hi,

This issue repro on Mac and Fedora. And not repro on windows OS.

Thanks,
Dianne

From: Gregg Miskelly [mailto:notifications@github.com]
Sent: Thursday, November 10, 2016 9:20 AM
To: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com>
Cc: Dianne Zhang (CSI Interfusion Inc) <v-zhanme@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OmniSharp/omnisharp-vscode] Deb

[2016-11-10 02:02] qian6 commented on #896
Thanks for your help.
Follow your steps, I get a perf trace, and hoping to help you analyze this issue.
Because of the size of file too big ,I will stored in this path[\\vsdbgqa\CTIResources\VSDiag\Private\Qian](url)

[2016-11-10 02:55] v-zhanme commented on #901
This issue repro on Mac and Fedora. And not repro on windows OS.
I send e-mail to you about this question at last an hour.

[2016-11-10 05:48] wjk opened #903 "Show both .sln and .csproj files in project selector"
## Environment data

[code]

VS Code version: 1.7.1
C# Extension version: v1.5-beta7

## Steps to reproduce

In my private repo, I have a number of MSBuild-based .NET Core projects I intend on using VSCode with. However, my build process also involves creating (using CMake) and building a completely unrelated Visual C++-based solution. omnisharp-vscode then locks on to the `*.sln` file generated b

[2016-11-10 07:55] aeschli opened #904 "Intellisense for C# does not work in multiproject environment"
_From @PradeepLoganathan on November 10, 2016 7:8_

- VSCode Version: 1.7.1
- OS Version: Microsoft Windows [Version 10.0.14393]

Steps to Reproduce:

1. I have created a sample GIT repository at https://github.com/PradeepLoganathan/testvscode
2.  I have folders for source and tests and have initialized projects in these folders using dotnet new.
3. I have a global.json specifying the project fold

[2016-11-10 08:00] v-zhanme opened #905 "Debugger:Pause can't be normal debugging"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.1
C# Extension version: v.1.5.0-beta7
.NET Core version: 1.0.0-SDK Preview4

## Steps to reproduce
1.Download attached folder in attachments directly
[mytest.zip](https://github.com/OmniSharp/omnisharp-vscode/files/582713/mytest.zip)
2.Open the mytest project with VSCode.
3.Select the debug type ''.Net core Attach'
4.Choose the task

[2016-11-10 08:05] v-zhanme commented on #905
This issue repro on windows 10 and Mac OS.

[2016-11-10 10:39] savpek commented on #43
+1, currently biggest reason to stay on visual studio is lack of refactoring and analyzer tools.

This opens good way to community participate because creating analyzers and refactoring tools is easy and well documented feature of Roslyn. However if i try create new refactoring tool to Omnisharp core i don't where to start.

Another thing is that personally i prefer refactoring tooling and analyze

[2016-11-10 11:12] dmccaffery commented on #43
I assume this will be revisited again once the Roslyn Project System is fully baked for .NET Core 1.1

[2016-11-10 11:54] DustinCampbell commented on #882
Hey @balajikris: I'm curious to know if you experience this problem with the [latest beta](https://github.com/OmniSharp/omnisharp-vscode/releases) of the extension. I did some work a month or so ago in the OmniSharp server to fix problems with code fixes appearing on incorrect spans: https://github.com/OmniSharp/omnisharp-roslyn/commit/8fceea97bfbea417c7e724bf5d08545385ef7898.

To install a beta,

[2016-11-10 12:05] DustinCampbell commented on #853
It's a bit counter-intuitive, but you downloaded the standalone OmniSharp that is built for Ubuntu. That version runs natively on Ubuntu and doesn't need Mono. There *is* a Mono build of OmniSharp that requires Mono to run.

[2016-11-10 13:28] DustinCampbell commented on #269
Hi @CyanSlinky, could you try the new [1.5-future-preview1](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.5-future-preview1) release and let me know if that helps? Here are instructions to install it cleanly:

1. Open Visual Studio Code
2. Select View->Extensions from the menu to show the Extensions pane.
3. If you have the C# extension already installed, click on the little gear n

[2016-11-10 13:35] DustinCampbell commented on #903
Great bug -- thanks!

[2016-11-10 13:36] DustinCampbell commented on #881
There's a new [v1.5-future-preview1](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.5-future-preview1) release that adds initial support for MSBuild-based .NET Core projects.

[2016-11-10 13:37] DustinCampbell commented on #881
Note that there's still a lot to do to fill out the experience, but this should unblock you.

[2016-11-10 13:37] #881 closed

[2016-11-10 13:43] tsolarin commented on #881
Thanks @DustinCampbell

[2016-11-10 16:20] DustinCampbell commented on #848
When you say that you right-click a file and choose Run Code, I'm actually not clear on where that is. I've been unable to find a "Run Code" command in VS Code. Perhaps that is coming from some other extension?

Could you try the latest [v1.5-future-preview1](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.5-future-preview1) release of the C# extension. I suspect this may better.

Do

[2016-11-10 16:26] blomm commented on #878
I've only just started to play with dotnet core, and my dotnet restore command returns the same MSBUILD error.
MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file.
I scaffolded my project with "yo aspnet" which didn't create any proj or sln file, should it have?

PS C:\Development\test\webapi\admin-tool-0.1> dotnet

[2016-11-10 16:30] gregg-miskelly commented on #878
@blomm Correct. 'Preview4' is not yet supported by this extension. I would recommend rolling back to preview2 for now.

[2016-11-10 17:00] DustinCampbell commented on #856
Could you paste the content of the OmniSharp Log here?

1. In Visual Studio Code, select View->Output to display the Output pane.
2. In the top-right corner of the Output pane, select "OmniSharp Log" if it's not selected already.

[2016-11-10 17:02] DustinCampbell commented on #843
@masaeedu: Could you try the latest [v1.5-future-preview1](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.5-future-preview1) release? This should address a lot of the problems with blocking and waiting on the OmniSharp server.

[2016-11-10 17:06] rajkumar42 commented on #897
@ClaireKang I did a quick test on Windows 7 with the following and attach seems to work fine.
VSCode: v1.7.1
dotnet cli: 1.0.0-preview2-003133
OS: Win7x64
C# Extension version: v.1.5.0-beta7

Perhaps it is a unintended consequence of using ".NET Core version: 1.0.0-SDK Preview4", can you try installing Preview2 and try it again?
Would you also mind just running "wmic process get Name,ProcessId,Com

[2016-11-10 19:11] rajkumar42 commented on #905
@v-zhanme , can you please test with Preview2 SDK? Update the bug description if it also reproduces in preview2 as well. Thanks!

[2016-11-10 19:16] rajkumar42 commented on #896
Thanks for the perf trace @qian6 . We identified the slowness is attributed to jitting. We have a work item in for publishing precompiled NI images to improve perf.

[2016-11-10 20:46] gregg-miskelly commented on #905
@v-zhanme @rajkumar42 no need. I can repo this on my box. This is a VS Code issue.

[2016-11-10 21:00] gregg-miskelly commented on #905
https://github.com/Microsoft/vscode/issues/15315 opened to track this.

[2016-11-10 21:00] #905 closed

[2016-11-10 22:01] chrisjmccrum opened #908 "Unable to load sample data into dotnet core app when running in debugger but runs fine in terminal"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003131)

Product Information:
 Version:            1.0.0-preview2-003131
 Commit SHA-1 hash:  635cf40e58

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version: 1.7.1
C# Extension version: 1.4.1

## Steps to reproduce
Cross posted on stacko

[2016-11-11 00:31] gregg-miskelly commented on #908
@chrisjmccrum is it trying to read from the path you are expecting? Does that file exist? If you modify your launch.json to set `"justMyCode":false` do you see any other exceptions?

I am pretty doubtful that this is an issue with the C# extension, but we can try and help you route this to the right place (CoreFX ore CoreCLR).

[2016-11-11 00:46] DustinCampbell commented on #904
Which version of the C# extension do you have installed?

[2016-11-11 01:03] v-zhanme commented on #905
yes. It is repro the Preview 2 SDK.

[2016-11-11 01:50] ClaireKang commented on #897
I tried do the test with 1.0.0-preview2-003133, Attach can work correctly.

[2016-11-11 02:28] chrisjmccrum commented on #908
nevermind I figured it out... basically I have 2 library projects and then my api project all under one subfolder. So the debugger was starting at the root workspace folder that holds the three projects. I changed cwd to start in my api project since the other projects are pulled into it via dependencies and then it immediately found the xml files in my project.

Thank you for your support neverth

[2016-11-11 02:28] #908 closed

[2016-11-11 05:07] Neoakb commented on #848
That's from formulahendry.code-runner

He's output after installing the new version (code-runner disabled just incase):

Updating C# dependencies...
Downloading package 'Mono Runtime (Linux / x64)' (1547 KB) .................... Done!
Downloading package 'Mono Framework Assemblies' (5494 KB) .................... Done!
Downloading package 'OmniSharp (Mono 4.6)' (12867 KB) .................... Done!

[2016-11-11 05:42] gregg-miskelly commented on #848
@Neoakb can you give us the output from `cat /etc/os-release`?

@chuckries looks like we have some (multiple?) sort of issue here as it is trying to download multiple versions of the debugger, and then CentOS is giving a 404.

[2016-11-11 06:22] Neoakb commented on #848
NAME="GalliumOS"
VERSION="2.0 (Xenon)"
ID=galliumos
ID_LIKE="ubuntu debian"
PRETTY_NAME="GalliumOS 2.0"
ANSI_COLOR="1;34"
VERSION_ID="2.0"
HOME_URL="https://galliumos.org/"
SUPPORT_URL="https://galliumos.org/"
BUG_REPORT_URL="https://github.com/GalliumOS/galliumos-distro/issues"
UBUNTU_CODENAME=xenial

[2016-11-11 06:28] gregg-miskelly commented on #848
@Neoakb one last question - are you trying to do .NET Core development or mono? If .NET Core, are you finding that the Ubuntu 16 version of .NET Core works well enough? Or are you using some sort of other version?

[2016-11-11 07:25] Neoakb commented on #848
I am using this course to learn C# and wanted to be able to work while I was away. With .NET Core it seems like I'll be able to develop on and for most systems.

https://mva.microsoft.com/en-US/training-courses/c-fundamentals-for-absolute-beginners-16169?l=Lvld4EQIC_2706218949#

I'm 'technologically inclined', but I'm still a novice programmer.

[2016-11-11 08:11] ClaireKang opened #910 "Debugger fails to download on CentOS7"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.1
C# Extension version: v.1.5.0-beta7 & v1.5-future-preview1
.NET Core version: 1.0.0-preview2-003121
OS: CentOS7

## Steps to reproduce
1. Open vscode.
2. Install the C# extension (I tried to install v.1.5.0-beta7 & v1.5-future-preview1).

## Expected  behavior
Install successfully without error message

## Actual behavior
Pop up fo

[2016-11-11 10:22] sinclairzx81 commented on #36
Any news on this?

[2016-11-11 11:43] PradeepLoganathan commented on #904
I have version 1.4.1. ( Omnisharp C# extension)

[2016-11-11 12:59] PradeepLoganathan commented on #904
Here is further version information. If needed I can upload a video of the issue. I am just trying to make VS code better :-)

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|rest-client|humao|0.10.2|
|Angular2|johnpapa|

[2016-11-11 15:57] gregg-miskelly commented on #848
@Neoakb got it. We haven't tried Gallium at all, but I can give you a test version of the C# extension later today which causes it to treat Gallium like Ubuntu 16 and you can see if that works for you.

[2016-11-11 16:49] gregg-miskelly commented on #879
@0xFireball did you have a chance to give that .vsix a try?

[2016-11-11 16:56] gregg-miskelly opened #911 "Extension will download multiple versions of the debugger on unknown OSs"
## Steps to reproduce
Install the C# extension on an unknown x64 Linux distribution such as Gallium

## Expected  behavior
No debugger should download, and the user should get a warning

## Actual behavior
All x64 versions get downloaded (until we hit a failure on CentOS due to #910). Unclear what happens after that.

[2016-11-11 16:58] gregg-miskelly commented on #848
NOTE: The CentOS failure is now being tracked with #910. Better handling of unknown Linux distros is tracked with #911. This bug will just track trying to get Gallium OS to work.

[2016-11-11 17:33] rajkumar42 commented on #897
Closing this issue. Lets revisit this when testing preview3 & preview4.

[2016-11-11 17:33] #897 closed

[2016-11-11 18:08] #870 closed

[2016-11-11 18:35] #911 closed

[2016-11-11 18:37] 0xFireball commented on #879
Not yet, but I will later today

[2016-11-11 19:04] gregg-miskelly commented on #848
@Neoakb please try this:

1. Download the file: [csharp-1.5.0-dev-galliumos.vsix.renamed.zip](https://github.com/OmniSharp/omnisharp-vscode/files/586569/csharp-1.5.0-dev-galliumos.vsix.renamed.zip)
2. Remove the '.renamed.zip' part of the extension
3. In VS Code: View->Extensions
4. Click the '...' to bring up the additional command menu and select 'Install from VSIX...', and navigate to the downl

[2016-11-11 19:27] chuckries commented on #910
@ClaireKang can you give me the contents of the /etc/os-release file on your CentOS7 machine?

[2016-11-11 20:45] DustinCampbell commented on #904
Thanks for the additional information. I _suspect_ this is the same issue that was reported in https://github.com/OmniSharp/omnisharp-vscode/issues/735 awhile back. This should be fixed in our [latest beta release](https://github.com/OmniSharp/omnisharp-vscode/releases) of the C# extension. Could you try the beta and see if it fixes your issue?

You can do the following to install a beta release o

[2016-11-11 20:52] aeschli opened #916 "ÅÄÖ (and equally weird characters, in strings) get borked when formatting code."
_From @Southgrove on November 11, 2016 7:46_

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.0.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|unity-debug|Unity|1.0.3|
|Theme-8-Colour-Dark|gerane|0.0.2|
|Theme-red|gerane|0.0.2|
|Theme-x3-alpha|gerane|0.0.2|
|omnisharp|ms-vscode|0.3.3|
|red|red-auto|0.0.4|

--

[2016-11-11 20:52] aeschli commented on #916
For what language is that?

[2016-11-11 20:52] aeschli commented on #916
_From @Southgrove on November 11, 2016 20:43_

Oh, sorry. C#.
On Fri, 11 Nov 2016 at 21:29, Martin Aeschlimann <notifications@github.com>
wrote:

[2016-11-11 21:02] DustinCampbell commented on #777
This investigation is now complete. OmniSharp will now run on an embedded Mono runtime on macOS and Linux.

[2016-11-11 21:02] #777 closed

[2016-11-11 21:04] DustinCampbell commented on #768
The original plan for this backlog item is no longer relevant. The extension now installs OmniSharp along with a copy of MSBuild to handle csproj proejcts.

[2016-11-11 21:04] #768 closed

[2016-11-11 21:05] DustinCampbell commented on #769
This has been solved by using an embedded Mono runtime for OmniSharp. Now it's not necessary to detect which OmniSharp to launch. We only need to launch one.

[2016-11-11 21:05] #769 closed

[2016-11-11 21:13] DustinCampbell commented on #853
Glad both of you got it working. Note that this should be much easier in the 1.5 release, which is coming soon.

[2016-11-11 21:13] #853 closed

[2016-11-11 21:53] gregg-miskelly commented on #910
We _think_ this issue should now be fixed. We think it was a CDN issue, and we resolved it by purging the CDN object and re-adding it.

[2016-11-11 21:53] #910 closed

[2016-11-11 21:55] #756 closed

[2016-11-11 22:03] gregg-miskelly commented on #899
This may or may not be a solvable problem - threads are not necessarily interruptible when in tight loops.

@GraceDong can you repro this if you loop does anything else (ex: even calling a method with no body).

[2016-11-11 22:12] DustinCampbell commented on #338
This is fixed for the C# editor in the 1.5 release of the extension. 32-bit debugging is being tracked with https://github.com/OmniSharp/omnisharp-vscode/issues/844.

[2016-11-11 22:12] #338 closed

[2016-11-11 22:15] gregg-miskelly commented on #901
This issue only repos if the app is in a tight loop. @Mikem8361 would it make sense to have a bug in the CoreCLR repo about breaking into apps on Unix when the app is in a tight loop? Or is that just a really hard problem and I should resolve this as 'by design'.

[2016-11-11 22:15] DustinCampbell commented on #812
OK. I'm going to close this issue. The latest bits are working for most folks and new issues have been opened for further work.

[2016-11-11 22:15] #812 closed

[2016-11-11 22:17] DustinCampbell commented on #246
This should be working much better with the 1.5 release of the C# extension. I'm expecting this to be fixed with this PR: https://github.com/OmniSharp/omnisharp-vscode/pull/902

[2016-11-11 22:17] #246 closed

[2016-11-11 22:18] DustinCampbell commented on #565
This should be fixed with 1.5 release since we'll acquire OmniSharp before attempting to launch it.

[2016-11-11 22:18] #565 closed

[2016-11-11 22:19] DustinCampbell commented on #6
This should be fixed with the 1.5 release. My expectation is that this PR will fix the issue: https://github.com/OmniSharp/omnisharp-vscode/pull/902

[2016-11-11 22:19] #6 closed

[2016-11-11 22:19] DustinCampbell commented on #593
This is fixed with 1.5 now that we use an embedded Mono runtime.

[2016-11-11 22:19] #593 closed

[2016-11-11 22:24] DustinCampbell commented on #547
This should be better with the 1.5 release, but I'm going to keep this bug for the future to take a closer look at it.

[2016-11-11 22:26] DustinCampbell commented on #269
OK. I expect this to be greatly improved if not completely fixed in the 1.5 release. I'm going to *gasp* close this issue. If this continues to be an problem for anyone, let's start a new issue.

[2016-11-11 22:26] #269 closed

[2016-11-11 22:27] gregg-miskelly commented on #818
As part of 1.5 we redid how the debugger is acquired. We will now print a message to the C# log when the debugger doesn't understand the current Linux distro: https://github.com/OmniSharp/omnisharp-vscode/pull/912

[2016-11-11 22:27] #818 closed

[2016-11-11 22:29] gregg-miskelly commented on #800
For 1.5 of the C# extension we are no longer using the .NET CLI to acquire the debugger. So this issue should no longer be relevant.

[2016-11-11 22:29] #800 closed

[2016-11-11 22:30] #625 closed

[2016-11-11 22:31] gregg-miskelly commented on #603
With this new download system, I don't think it makes sense to do fix 1 anymore. So closing this.

[2016-11-11 22:31] #603 closed

[2016-11-11 22:32] DustinCampbell commented on #707
It looks to me like this will be display for any project that contains warnings: https://github.com/OmniSharp/omnisharp-vscode/blob/d96fb0c6864b133a45f6a36bee5d45fc1885663d/src/features/status.ts#L236-L242

[2016-11-11 22:32] #626 closed

[2016-11-11 22:33] DustinCampbell commented on #616
This is going to take more work to bake the information we need into OmniSharp itself. Moving this out to the next release.

[2016-11-11 22:33] gregg-miskelly commented on #602
This issue was fixed in https://github.com/OmniSharp/omnisharp-vscode/pull/798

[2016-11-11 22:50] DustinCampbell commented on #602
@gregg-miskelly: You marked this as fixed in 1.5 but the PR you linked to is still outstanding.

[2016-11-11 22:52] DustinCampbell commented on #637
This should be working better in the 1.5 release.

[2016-11-11 22:52] #637 closed

[2016-11-11 22:59] gregg-miskelly commented on #602
Oh, shoot, I thought we merged that PR ages ago.

[2016-11-11 23:00] DustinCampbell commented on #602
Should I update the readme to remove that line?

[2016-11-11 23:02] gregg-miskelly commented on #602
@DustinCampbell any objection if we merge the PR? We should either merge in 798, or take it out of the readme.

[2016-11-11 23:02] DustinCampbell commented on #602
I don't mind as it's not invasive. It needs updating against master though.

[2016-11-11 23:02] gregg-miskelly commented on #602
I will get Andrew to rebase it.

[2016-11-11 23:32] mikem8361 commented on #901
It is similar to https://github.com/dotnet/coreclr/issues/4623 which is about aborting funcevals that are caught in a tight loop.  The reason and the solution for both problems would be the same.  This is a fairly large work item.

[2016-11-12 00:43] Neoakb commented on #848
C# Output:
Updating C# dependencies...
Downloading package 'Mono Runtime (Linux / x64)' (1547 KB) .................... Done!
Downloading package 'Mono Framework Assemblies' (5494 KB) .................... Done!
Downloading package 'OmniSharp (Mono 4.6)' (12867 KB) .................... Done!
Downloading package '.NET Core Debugger (Ubuntu 16 / x64)' (29612 KB) .................... Done!

Installing

[2016-11-12 01:01] gregg-miskelly commented on #901
Resolving this as external.

[2016-11-12 01:01] #901 closed

[2016-11-12 01:02] gregg-miskelly commented on #602
https://github.com/OmniSharp/omnisharp-vscode/pull/918 fixes this.

[2016-11-12 01:05] gregg-miskelly commented on #848
@Neoakb the 'Cannot find or open the symbol file' is normal for system assemblies. There is an issue to give that a nicer message so it doesn't sound like a problem, but we haven't fixed it yet.

Were you able to hit a breakpoint and inspect values?

[2016-11-12 01:09] Neoakb commented on #848
I was just using a simple hello world to test. want me to test specific code or just make some variables and change them, etc.

[2016-11-12 01:19] gregg-miskelly commented on #848
It would be enough to just set a breakpoint on the 'Console.WriteLine' line and verify you can inspect 'args'.

[2016-11-12 01:24] DustinCampbell commented on #848
me <- thrilled that IntelliSense works!

[2016-11-12 01:25] Neoakb commented on #848
Just tested and it worked just fine. Looks like I'm set now. Anything I should keep an eye on? When to update back to the normal C# extension and what not.

[2016-11-12 01:34] gregg-miskelly commented on #848
@Neoakb The only things to keep in mind are:

* We are out of time for this to make 1.5.0, so when that comes out (probably on Monday) do **NOT** upgrade to it. But you have 99.99% of the same bits, so that shouldn't be a problem.
* When 1.5.1 or 1.6 (whatever we call the next release) comes out, you should be able to safely upgrade. You may want to explicitly remove the ~/.vscode/extensions/ms-vs

[2016-11-12 01:36] #602 closed

[2016-11-12 01:37] DustinCampbell commented on #848
@gregg-miskelly: What change is needed?

[2016-11-12 01:39] gregg-miskelly commented on #848
https://github.com/gregg-miskelly/omnisharp-vscode/commit/cbe1e20b578d653a236a905829a379bb63179d83

[2016-11-12 01:41] Neoakb commented on #848
Awesome! Thanks for the help. Hope I helped somehow!

[2016-11-12 02:23] DustinCampbell commented on #848
merge it :smile:

[2016-11-12 02:36] DustinCampbell commented on #848
The fix in the release branch now. Thanks @Neoakb! It'll be in 1.5.

[2016-11-12 02:36] #848 closed

[2016-11-12 03:36] tugberkugurlu commented on #565
:tada:

[2016-11-12 17:43] sassembla commented on #856
logs here, from re-installing C# plugin then opening C# code in VSCode.

---------------
Installing OmniSharp to /Users/USER_NAME/.vscode/extensions/ms-vscode.csharp-1.4.1/out/.omnisharp-mono
    Attempting to download omnisharp-1.9-beta14-mono.tar.gz
    Downloading to /var/folders/fy/7ycl4dhx6m532kyv_hbwsngc0000gn/T/tmp-1509oufxpgAgSPC8.tmp...
    Download complete!
    Decompressing...
    Done

[2016-11-12 21:54] schenkfab opened #924 "Display issue with custom window.zoomLevel"
## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-003148)

Product Information:
 Version:            1.0.0-preview2-003148
 Commit SHA-1 hash:  18ca244551

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version: 1.7.1
C# Extension version: 1.4.1

## Steps to reproduce
Set "window.zoomLevel

[2016-11-12 22:16] DustinCampbell commented on #924
This is a known issue for VS Code: https://github.com/Microsoft/vscode/issues/14949

[2016-11-12 22:16] #924 closed

[2016-11-12 22:18] DustinCampbell commented on #856
Hmmm... could you try the latest beta of the extension? We've made a lot of changes to how it acquires OmniSharp and launches. You can download the latest beta .vsix [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.5-beta8) and install it like so:

1. Open Visual Studio Code
2. Select View->Extensions from the menu to display the Extensions Pane
3. In the Extensions Pane, click

[2016-11-13 01:25] sassembla commented on #856
Okey, "🔥 Running" is in the bottom right! but Editing Evolved is not working.

the C# log is below. looks good.

[code]

and the OmniSharp Log log is below.

[code]

and so, sorry I forgot to show my env detail.

[code]

[2016-11-13 06:18] vahpetr opened #925 "Mac OX.Legacy C#. Extract class interface crash"
## Environment data
.NET Command Line Tools (1.0.0-preview3-004056)

Product Information:
 Version:            1.0.0-preview3-004056
 Commit SHA-1 hash:  ccc4968bc3

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.11-x64

Mono JIT compiler version 4.6.1 (mono-4.6.0-branch-c8sr0/ef43c15 Mon Oct  3 14:35:32 EDT 2016)
Copyright (C) 2002-2014 N

[2016-11-13 09:49] DustinCampbell commented on #856
You'll need to have Mono installed in order to find reference assemblies. Obviously, you have Mono installed for Unity, but the extension isn't finding it. At a terminal window, could you type `which mono` and let me know the output?

[2016-11-13 10:27] sassembla commented on #856
hmm,
in terminal, mono version is below.

[code]

I think Unity doesn't install mono. it only contained their own mono libs into there Unity.app package.
e.g. /Applications/Unity/Unity.app/SOMEWHERE/mono libs

and it may not be found by other program.

so now, I've installed mono via homebrew.

[code]

then, restart VSCode,
 "🔥 Running" is in the bottom right. but Editing Evolved is not working.
l

[2016-11-13 10:35] DustinCampbell commented on #856
thanks. I should have an update shortly that I hope will address this for you.

[2016-11-13 15:07] DustinCampbell commented on #856
OK. I think I've got it working. Close Visual Studio Code and execute the following commands at a terminal window:

[code]

Now, start Visual Studio Code. It should acquire new dependencies for the C# extension and, so long as you have Mono installed via homebrew or the official Mono installer, it should locate the necessary reference assemblies. Let me know if it works better for you.

[2016-11-13 15:26] sassembla commented on #856
it works like a charm!

re-downloading make it works.

now I saw these functions works fine.

* IntelliSense
* Parameter Hints
* Hover
* Go to Definition
and more.

thank you for great work.

[2016-11-13 15:34] richkzad commented on #856
Aha, "brew install mono" did fix it for me too, using the C# 1.4.1 extension. Thank you!

[2016-11-13 17:12] DustinCampbell commented on #856
Glad to here it's working for you gents! @rafalswiech3, @MetaMythril: Could you let me know if any of the help in this issue address the problem for you? I'm marking this issue as resolved.

[2016-11-14 01:04] ClaireKang commented on #910
I have verified this issue use the latest c# extension(bate8), and it correctly been fixed.

[2016-11-14 01:16] GraceDong commented on #899
Sorry, if I have my loop do something, I can't repro it.

[2016-11-14 06:55] gregg-miskelly commented on #899
@GraceDong Thanks! In that case this is more or less the same issue as https://github.com/dotnet/coreclr/issues/4623. Please avoid super tight loop in test debuggees until that is resolved (which is likely to be a long time).

[2016-11-14 06:55] #899 closed

[2016-11-14 06:57] gregg-miskelly commented on #910
@ClaireKang Thanks!

[2016-11-14 08:28] aeschli opened #926 "Format document with conditional compilation in C# will not format code ignored by condition"
_From @PeterHimschoot on November 13, 2016 11:31_

- VSCode Version:
- OS Version:

Steps to Reproduce:

1. For example, this code:
#define WITH_DISPOSE

using System;

namespace HiddenIDisposables
{
#if WITH_DISPOSE
    public class SomeResource : ISomeResource, IDisposable
    {
        public string Foo()
        {
            return "Foo";
        }

        void IDisposable.Dispose()

[2016-11-14 08:28] aeschli opened #927 "Format document in a C# file does not use the configured tab-size (while inserting spaces)"
_From @PeterHimschoot on November 13, 2016 11:5_

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|0.5.4|
|html-css-class-completion|Zignd|1.0.3|
|html-snippets|abusaidm|0.0.18|
|githistory|donjayamanne|0.1.0|
|tslint|eg2|0.5.40|
|vscode-npm-scr

[2016-11-14 09:44] aeschli opened #928 ""Execute the restore command to continue" messages in large projects cycle continuously"
_From @ryanbrandenburg on November 11, 2016 22:36_

- VSCode Version: 1.7.1
- OS Version: Ubuntu 14.04

Steps to Reproduce:

1. Clone an AspNet Core repo with lots of projects (like aspnet/Mvc).
2. Open that folder in VS Code and wait for all the messages reading `There are unresolved dependencies from 'project'. Please execute the restore command to continue.` to appear.
3. From the command line

[2016-11-14 11:40] PradeepLoganathan commented on #904
I did all of the above steps. It did not resolve the issue. I am not getting intellisense both for core types as well as custom types.

[2016-11-14 14:49] DustinCampbell commented on #904
@PradeepLoganathan: Could you paste your OmniSharp log here for me?

1. Open Visual Studio Code and open your project.
2. Select View->Output from the menu to display the Output pane.
3. In the Output pane, select OmniSharp Log in the top-right corner.

Copy and paste the content here.

[2016-11-14 15:39] DustinCampbell commented on #926
This is by design and works the same as it does in Visual Studio. Disabled blocks are simply never parsed. Remember that *anything* can go in disabled blocks of code, including random non-C# text.

[2016-11-14 15:39] #926 closed

[2016-11-14 15:40] DustinCampbell commented on #927
Dupe of https://github.com/OmniSharp/omnisharp-vscode/issues/834

[2016-11-14 15:40] #927 closed

[2016-11-14 16:01] klong15 commented on #246
I've been messing around with VSCode this morning and everything seems to be working great! And my macbook doesn't sound like it is about to take flight. Thanks!

[2016-11-14 16:45] DustinCampbell commented on #246
That is wonderful to hear @klong15 -- thanks very much for confirming!

[2016-11-14 18:22] DustinCampbell commented on #928
This is essentially a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/845.

In the latest release that _just_ shipped, we added a `csharp.suppressDotnetRestoreNotification` which you can set for your project. After installing the update, do the following:

1. Open your project in Visual Studio Code
2. Select Preferences -> User Settings
3. In settings.json add the following:

[co

[2016-11-14 18:22] #928 closed

[2016-11-14 18:43] DustinCampbell commented on #856
I just pushed 1.5.0 to the VS marketplace. Hopefully, the new release will work for you!

[2016-11-14 18:43] #856 closed

[2016-11-14 19:12] nick-korsakov opened #929 "Create commands for running/debugging tests"
## Steps to reproduce
Use this keybindings.json in the Visual Studio Code 1.7.1:
[code]
Set breakpoint inside test method, point the cursor inside the test method and hit Alt+F5.

P.S.: Don't offer me to use mouse and click "debug test" link (this one works). I like to hide reference info links and use hotkeys to execute an actions.

## Expected  behavior
Current test executed in debug mode as it

[2016-11-14 19:28] DustinCampbell commented on #929
Hi, what version of the C# extension do you have installed?

[2016-11-14 21:16] dageniusal opened #930 "Error: self signed certificate in certificate chain"
## Environment data
.NET Command Line Tools (1.0.0-preview2-003133)

Product Information:
 Version:            1.0.0-preview2-003133
 Commit SHA-1 hash:  74df06500c

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x64

C# Extension version:
1.5.0

## Steps to reproduce
Reload VS Code after upgrading extension or upon startup

## Expecte

[2016-11-14 22:00] DustinCampbell commented on #930
Looks like we ignore when this is set to false here: https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/proxy.ts#L35

[2016-11-14 22:53] DustinCampbell commented on #930
I just shipped a new 1.5.1 release on the marketplace with a fix for this issue. Could you let me know if it works better for you?

[2016-11-14 22:54] mdouglass opened #934 "Unity project w/ v1.5 of plugin non-functional (never leaves Running state)"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.7.1
C# Extension version: 1.5.1 (and 1.5)

## Steps to reproduce
Just updated to the v1.5 of the plugin with my existing Unity project that uses the VSCode plugin. With that combination the C# plugin stays in the Running state forever when a project is opened and doesn't provide reference information or autocomplete support. I c

[2016-11-14 22:59] mdouglass commented on #934
Yep, seems to happen with a fresh Unity project without dotbunny/VSCode installed as well.

[vscode-repro.zip](https://github.com/OmniSharp/omnisharp-vscode/files/590709/vscode-repro.zip)

[2016-11-14 23:12] dageniusal commented on #930
Unfortunately, it doesn't look like it resolved the issue.

    Updating C# dependencies...
    Downloading package 'OmniSharp (.NET 4.6 / x64)' (12309 KB) .................... Done!
    Downloading package '.NET Core Debugger (Windows / x64)' Failed at stage: downloadPackages
    Error: self signed certificate in certificate chain

    Finished
    [ERROR]: C# Extension failed to install the debu

[2016-11-14 23:14] DustinCampbell commented on #930
+ @gregg-miskelly and @chuckries: It looksl ike this is failing specifically in the debugger stage. Signing issue?

[2016-11-14 23:18] gregg-miskelly commented on #930
Interesting. No idea what is going on, but we will have a look and see what we can find.

[2016-11-14 23:20] DustinCampbell commented on #934
Hmmm... it looks like you have mono installed at /usr/local/bin/mono. Is that right?

[2016-11-14 23:29] DustinCampbell commented on #934
Could you run `mono --version` at a Terminal window and let me know what you get?

[2016-11-14 23:36] DustinCampbell commented on #934
Also, does the following directory exist on your system?

`/usr/local/lib/mono/xbuild-frameworks`

[2016-11-14 23:37] DustinCampbell commented on #934
And (last question), how did you install Mono on machine. Did you install it from an official Mono release? home brew? something else?

[2016-11-14 23:40] mdouglass commented on #934
[code]

The directory `/usr/local/lib/mono/xbuild-frameworks` does not exist on my system.

I'm not sure how the mono installation was installed on this machine, I'm guessing an official Mono release since brew doesn't seem to be aware of it.  If there's a preferred installation mechanism, I'm happy to nuke the installation on this machine and redo it.

[2016-11-14 23:41] gregg-miskelly commented on #930
@dageniusal Can you try a quick experiment?

1. Open up %USERPROFILE%\.vscode\extensions\ms-vscode.csharp-1.5.0\package.json in VS Code (or some other text editor)
2. Go to ~line 141 -- should be: "url": "https://vsdebugger.azureedge.net/coreclr-debug-1-5-0/coreclr-debug-win7-x64.zip",
3. Change this URL to https://vsdebugger.blob.core.windows.net/coreclr-debug-1-5-0/coreclr-debug-win7-x64.zip
4.

[2016-11-14 23:47] DustinCampbell commented on #934
Does the directory `/Library/Frameworks/Mono.framework/` exist?

Go ahead and install the latest Mono, either from the official download [here](http://www.mono-project.com/download/#download-mac), or with Home Brew:

[code]

[2016-11-14 23:54] mdouglass commented on #934
Yes the directory `/Library/Frameworks/Mono.framework/` exists, that's where `/usr/local/bin/mono` is symlink'd to. I'll try the uninstall/reinstall cycle now.

[2016-11-14 23:56] DustinCampbell commented on #934
before you do, could you let me know the output of `readlink mono`?

[2016-11-14 23:59] mdouglass commented on #934
Ok, well that seemed to make the difference (did the brew install of mono). Guess whatever older version of mono I had was problematic. Thanks for walking me through troubleshooting 101 👍

[2016-11-15 00:00] #934 closed

[2016-11-15 00:01] DustinCampbell commented on #934
Not a problem! Mono has changed the way it lays out on disk a few times. I'm working on making the code that locates the Mono .NET Framework reference assemblies a bit more resilient against this particular install shape.

[2016-11-15 00:29] dageniusal commented on #930
@gregg-miskelly I manually updated the package.json file as requested and the update was successful. Thanks a million!

[2016-11-15 03:46] bsell93 opened #935 "References label/tag UI Bug"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.7.1
C# Extension version: 1.5.1

## Steps to reproduce
- Run VSCode
- Open `.cs` file

## Expected  behavior
References label/tag appear next to appropriate line and properly aligned

## Actual behavior
![image](https://cloud.githubusercontent.com/assets/5335177/20292507/0b9fa830-aabc-11e6-8597-1a94dc3064d1.png)

[2016-11-15 03:49] DustinCampbell commented on #934
FYI, that I've updated the OmniSharp binaries to better locate Mono. If you want to try it (which would be another level of verification for me that I got it right!), you can force the extension to download new runtime dependencies like so:

1. Close Visual Studio Code.
2. Run the following commands at the Terminal window:

[code]

Then, restart Visual Studio Code, load your project and let the ne

[2016-11-15 04:05] federicobarera commented on #930
ah, same issue, same time.
Tried the alternative url and worked fine

[2016-11-15 04:47] DustinCampbell commented on #935
This is a known Visual Studio Code issue: https://github.com/Microsoft/vscode/issues/14949

[2016-11-15 04:47] #935 closed

[2016-11-15 05:06] gregg-miskelly commented on #930
Thanks @federicobarera and @dageniusal! We will try to push out a new release tomorrow with this fix.

[2016-11-15 05:53] mdouglass commented on #934
Went through those steps and everything seemed to work fine.

[2016-11-15 08:54] dmccaffery opened #936 "CodeLens (or Code Annotations): links for detected unit tests appear in random order"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003131)

Product Information:
 Version:            1.0.0-preview2-003131
 Commit SHA-1 hash:  635cf40e58

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64

VS Code version:

1.7.1
02611b40b24c9df2726ad8b33f5ef5f67ac30b44

C# Extension version:

1.5.1

[2016-11-15 09:06] dmccaffery commented on #936
Hmm... based on this implementation, it would appear that the order *should* be deterministic:

https://github.com/OmniSharp/omnisharp-vscode/blob/3e996e3bd66c357d3f3488549bf06472d10b277f/src/features/dotnetTest.ts#L75

Perhaps this issue is caused by vscode itself? I'm not 100% sure how the positioning is controlled when resolving/rendering; didn't find a related issue on vscode repo, but maybe I

[2016-11-15 09:12] dmccaffery commented on #936
Did find this: https://github.com/Microsoft/vscode/issues/10061

Seems to have been resolved on their end (supposedly), so unless its a regression in the October release, something is going haywire with the way that the omnisharp plugin is ordering the xunit test CodeLens annotations.

[2016-11-15 09:28] vedanshumandvikar opened #937 "Intellisense fails to load in VS Code"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003133)

Product Information:
 Version:            1.0.0-preview2-003133
 Commit SHA-1 hash:  74df06500c

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.2.9200
 OS Platform: Windows
 RID:         win8-x64

VS Code version:1.7.1
C# Extension version:1.5.1

## Steps to reproduce
I am trying to develop a w

[2016-11-15 11:40] almoazib opened #938 "omnisharp server not found"
## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-003131)

Product Information:
 Version:            1.0.0-preview2-003131
 Commit SHA-1 hash:  635cf40e58

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64

VS Code version:
1.7.1
C# Extension version:
1.5.1

## Steps to reproduce
starting vsCode

##

[2016-11-15 12:29] mayconbeserra commented on #632
H there,

When will this fix be available?

Cheers,

[2016-11-15 14:46] dmccaffery opened #940 "JustMyCode is always enabled when using "debug test" CodeLens annotation link"
## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-003148)

Product Information:
 Version:            1.0.0-preview2-003148
 Commit SHA-1 hash:  18ca244551

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version:

1.7.1
02611b40b24c9df2726ad8b33f5ef5f67ac30b44

C# Extension version:

1.5.1

[2016-11-15 15:02] DustinCampbell commented on #938
@almoazib, it might seem an obvious question, but does that file exist at that path? If not, try the following.

1. Close Visual Studio Code
2. Delete the following files/folders:

C:\Users\julio.vscode\extensions\ms-vscode.csharp-1.5.1\.debugger
C:\Users\julio.vscode\extensions\ms-vscode.csharp-1.5.1\bin
C:\Users\julio.vscode\extensions\ms-vscode.csharp-1.5.1\install.lock

Now, re-open Visual Stu

[2016-11-15 15:31] almoazib commented on #938
i have only the file install.lock.  Deleting the problem persists.
Uninstalling all extensions and deleting folder C:\Users\julio\.vscode\extensions\ and installing C# for Visual Studio Code (powered by OmniSharp) the problem persists.

I have build omnisharp.exe from source code and setting his location in the extension config it starts correcly

[2016-11-15 15:33] DustinCampbell commented on #938
If you only have the `install.lock` file, then it seems like nothing is downloading at all (or at least, not extracting and installing). When you launch the C# extension for the first time, did an output window appear with text showing OmniSharp and the .NET Core debugger downloading and installing?

[2016-11-15 15:53] almoazib commented on #938
it appears but the output is this

Updating C# dependencies...

Finished

[2016-11-15 16:42] duraz0rz commented on #87
I've recently come across this bug.

1) Introduce an error in your code. Remove a semi-colon or something.
2) Delete the file.

Expected: The error should go away.
Actual: The error stays in VSCode, even after editing other code. I did **not** observe the error count go down to 0; it remains at 1.

A workaround is to restart Omnisharp after deleting files.

[2016-11-15 16:48] HawkenKing commented on #889
same here, when I move the cursor, the red underline squiggles disappear.

[2016-11-15 16:49] HawkenKing commented on #812
same here, when I move the cursor, the red underline squiggles disappear.

I tried the patch csharp-1.5.0-future-preview1.vsix but same issue

[2016-11-15 16:51] HawkenKing commented on #883
I get it with all / any projects.

When I move the cursor, the red underline squiggles disappear.

Not sure why this issue keeps getting closed, it's quite an alive and real bug ;)

I tried the patch csharp-1.5.0-future-preview1.vsix but same issue

[2016-11-15 16:57] Novack- commented on #889
@HawkenKing please use the :+1: on the main post here, issues gets sorted using that criteria... ¬¬

Not that this is a small thingie, basically VS Code becomes obsolete for Unity developers. Im coming back to Visual Studio and ScriptInspector3. Is a pitty because I really like Code, but the C# support is unstable to say the least, debugging is clumsy and intellisense far too limited. I'll try aga

[2016-11-15 17:00] HawkenKing opened #941 "Error underlining red squiggles disappear"
## Environment data
`dotnet --info` output: 1.0.0-preview2-003121
VS Code version: Version 1.7.1 (1.7.1)
C# Extension version: 1.5.0

## Steps to reproduce

open any c# file and type

## Expected  behavior

red squiggles and error hint appear and stay

## Actual behavior

red squiggles and error hint appear and then disappear when moving cursor

![nored](https://cloud.githubusercontent.com/assets/

[2016-11-15 17:13] DustinCampbell commented on #883
I haven't been able to reproduce the issue myself, though its not for lack of trying. Note that csharp-1.5.0-future-preview1 is older than the recently released 1.5.1 which is available from within VS Code.

[2016-11-15 17:14] DustinCampbell commented on #938
@almoazib: I know that you mentioned in the issue report that you are using VS Code 1.7.1, but I'm curious to know you're actually using VS Code Insiders. There was a recent regression in Insiders that might cause this.

[2016-11-15 17:16] masaeedu commented on #883
@DustinCampbell did you try out the repro steps and codebase I put up?
I"?'ve been able to reproduce on two separate machines with the beta4 and
beta8 extension.

On Nov 15, 2016 12:14 PM, "Dustin Campbell" <notifications@github.com>
wrote:

[2016-11-15 17:17] DustinCampbell commented on #883
What about the latest available extension? These are older than the extension we just released.

[2016-11-15 17:20] almoazib commented on #938
i downloaded vscode from this page http://code.visualstudio.com/ it is not insiders

[2016-11-15 17:21] DustinCampbell commented on #938
Add you running behind a proxy or anything like that?

[2016-11-15 17:22] masaeedu commented on #883
Well new versions are going to keep coming out: beta8 was the latest
release only a few days ago. Unfortunately I switched back to Visual Studio
to finish what I was working on and don't have time to test with new
versions. Unless you've specifically changed anything after the beta to
address this bug I'd expect that it's still not fixed.

On Nov 15, 2016 12:17 PM, "Dustin Campbell" <notifications

[2016-11-15 17:23] DustinCampbell commented on #883
I will try the codebase you posted. Hopefully, I can get to the bottom of this.

[2016-11-15 17:27] DustinCampbell commented on #930
@gregg-miskelly: Be sure to prepare the fix for this against the release branch.

[2016-11-15 17:40] almoazib commented on #938
no, i am not behind a proxy. I have disabled windows firewall.  the problem persists.

After that,  i have downloaded vscode insiders 1.8 and the problem is the same.

[2016-11-15 17:42] DustinCampbell commented on #938
Could you post the contents of the C:\Users\julio.vscode\extensions\ms-vscode.csharp-1.5.1\package.json file here? Thanks!

[2016-11-15 17:46] almoazib commented on #938
i attached

[package.json.txt](https://github.com/OmniSharp/omnisharp-vscode/files/592727/package.json.txt)

[2016-11-15 17:46] DustinCampbell commented on #858
Should be fixed in our next release (1.5.2), which will be going out sometime later today.

[2016-11-15 17:46] #858 closed

[2016-11-15 17:52] DustinCampbell commented on #843
For scenario #1: The "Loading..." should be gone with the latest release. As you deduced, there isn't a popup because 1) type lookup is failing for "WebClient", and 2) there aren't error squiggles in the file. So, technically, this scenario is working as expected. The problem is that the error squiggles aren't appearing, which is broken.

[2016-11-15 18:17] masaeedu commented on #843
@DustinCampbell If you close and reopen the file, then hover the symbol, an error popup does appear. I am assuming this error popup should appear without having to close and reopen the file.

[2016-11-15 18:21] DustinCampbell commented on #843
Oh, certainly. It's definitely a bug. :smile:

[2016-11-15 18:25] hashhar opened #944 "Add a menu entry to the command palette for 'dotnet new' command."
VS Code version: 1.7.1
C# Extension version: 1.5

## Expected  behavior
A menu entry in the command palette to run `dotnet new` (similar to how we have `dotnet restore`.

[2016-11-15 18:31] DustinCampbell commented on #843
#945 should address scenario 1 above.

[2016-11-15 18:37] DustinCampbell commented on #941
Could you post your OmniSharp log for me? I'm wondering if the OmniSharp server is dying and restarting, which causes the errors to disappear.

1. Open Visual Studio Code and reproduce the problem.
2. Select View->Output to display the Output pane
3. At the top-right corner of the Output pane, select "OmniSharp Log" from the dropdown.
4. Copy and paste the content into this issue.

[2016-11-15 18:42] mikem8361 commented on #632
The fix for properties returning decimal (or any other 16 byte value type) did making it into .NET Core 1.1.

The second fix (dotnet/coreclr#7115) for funceval of functions passing in enregistered 16 byte value types didn't make it into 1.1.  It was too late (already past escrow) when I realized that.

[2016-11-15 18:46] DustinCampbell commented on #938
Thanks! Everything looks like it *should* be working. I'm going to add some diagnostic info to the next release (later today) that we can use to figure out what's happening on your machine.

[2016-11-15 19:35] #875 closed

[2016-11-15 19:36] DustinCampbell commented on #875
Resolving as fixed for 1.6. Thanks @filipw!

[2016-11-15 19:43] DustinCampbell commented on #879
@0xFireball: Does the latest release (shipped yesterday on the VS Marketplace) fix the issue for you?

[2016-11-15 19:49] DustinCampbell commented on #938
OK. I've just created a new release [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.5.2). Before we push this to the marketplace, I'd like to see if we can use it to get a bit more information about what's happening on your machine. Could you install it? Use the following steps to install:

1. Download the VSIX from [here](https://github.com/OmniSharp/omnisharp-vscode/releases

[2016-11-15 19:53] DustinCampbell commented on #843
OK. I've prepared a new release that should at least fix scenario 1 and (hopefully) scenario 2. It'd be great if you could give it a spin before we release it to the public. Use the following steps to download and install it:

1. Download the VSIX from [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.5.2)
2. Open Visual Studio Code
3. Select View->Extensions to display the Exte

[2016-11-15 19:57] DustinCampbell commented on #894
I suspect this is the same as #858. I've prepared a brand new release of the C# extension that should address this problem. Would you be willing to try this new release before we ship it on the VSCode marketplace? Use the following instructions to try it out.

1. Download the VSIX from [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.5.2)
2. Open Visual Studio Code
3. Select Vi

[2016-11-15 19:58] DustinCampbell commented on #930
We've prepared a new release that we hope will fix this issue. Could you try it out and ensure that it works for you? Use the following steps to download and install the new version of the extension:

1. Download the VSIX from [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.5.2)
2. Open Visual Studio Code
3. Select View->Extensions to display the Extensions pane.
4. In the Ext

[2016-11-15 20:01] DustinCampbell commented on #937
Thanks! I can reproduce this on Windows 8.1 x64 with no Visual Studio installed. I suspect it's a problem with the version of the .NET Framework that's installed.

[2016-11-15 20:06] almoazib commented on #938
the output is

Updating C# dependencies...
Platform: win32, 64 bits

Finished

[2016-11-15 20:07] DustinCampbell commented on #938
It's that precisely? "64 bits"?

[2016-11-15 20:17] almoazib commented on #938
yes, it is.

![captura](https://cloud.githubusercontent.com/assets/6023942/20322341/ef767a86-ab78-11e6-948c-70b2e277712c.PNG)

[2016-11-15 20:18] DustinCampbell commented on #938
Ah, I see the problem! We're executing "wmic os get osarchitecture" to determine whether the current platform is x86 or x64. However, it looks like that property is localized, which is why its failing. (We're looking for "32-bit" or "64-bit"). I'll prepare a fix.

[2016-11-15 20:30] DustinCampbell commented on #937
Yes, that's the case. OmniSharp requires .NET Framework 4.6 but Windows 8.1 ships with .NET Framework 4.5.1. You can install an updated .NET Framework from here: https://msdn.microsoft.com/en-us/library/5a4x27ek(v=vs.110).aspx.

[2016-11-15 20:31] gregg-miskelly commented on #940
@dmccaffery The debugger will always respect DebuggerStepThrough - there is no way to hit breakpoints in those methods unless you remove that attribute. If you want stepping behavior that goes away when JMC is off, use DebuggerNonUserCode. So we can certainly leave this bug open for other reasons, but it will not actually help the exact scenario you described.

For reference, I believe this is the

[2016-11-15 20:37] gregg-miskelly commented on #937
@DustinCampbell do you know if we can either add a diagnostic, or add a .config file which will cause a feature-on-demand dialog to come up?

[2016-11-15 20:38] dmccaffery commented on #940
Hmmm. Disabling JustMyCode allows you to hit [DebuggerStepThrough] in my experience (and I just checked). I set this up as an arbitrary example to make the point without having to create a repro that relied on symbols and source mappings.

[2016-11-15 20:41] DustinCampbell commented on #938
OK. Let's try again. I've checked in a fix and refreshed the 1.5.2 release. Could you follow the same steps to install it?

[2016-11-15 20:42] DustinCampbell commented on #937
I'm not certain, but I'll look into it. Great idea!

[2016-11-15 20:48] almoazib commented on #938
it works!  Thank you very much!

Updating C# dependencies...
Platform: win32, x86_64 (win7-x64)

Downloading package 'OmniSharp (.NET 4.6 / x64)' (12309 KB) .................... Done!
Downloading package '.NET Core Debugger (Windows / x64)' (21295 KB) .................... Done!

Installing package 'OmniSharp (.NET 4.6 / x64)'
Installing package '.NET Core Debugger (Windows / x64)'

Finished

[2016-11-15 20:49] DustinCampbell commented on #938
Fantastic! Thanks very much for your patience.

[2016-11-15 20:49] #938 closed

[2016-11-15 20:49] gregg-miskelly commented on #940
@dmccaffery I just double checked. I guess we actually do let you hit breakpoints in it. But we will not let you step in that code. So I wouldn't really recommend that as a way to debug DebuggerStepThrough, but I guess it can work in a real pinch...

[2016-11-15 20:56] DustinCampbell commented on #944
I'm interested in thinking through the scenario for this. What directory would 'dotnet new' run in? Is the assumption that the user would create a directory, open that empty directory in VS Code and then use the 'dotnet new' command? If so, I'm not sure I see the value. Especially since the user could just open the Integrated Terminal window in VS Code and run 'dotnet new'. Could you clarify how y

[2016-11-15 21:00] hashhar commented on #944
I was thinking along similar lines. I think it is fine the way it is right now since the `dotnet new` command is a one off case. I would like to keep this here for a while to see if other people have any ideas for this. You may close this issue otherwise.

[2016-11-15 21:22] masaeedu commented on #843
@DustinCampbell Just went through the steps and scenario 1 looks to be working.

[2016-11-15 21:23] DustinCampbell commented on #843
That's great to hear! Progress. :smile:

[2016-11-15 21:36] masaeedu commented on #843
I don't know if this new machine is too fast to be able to properly repro scenario 2 or if its fixed. Not seeing the incorrect squiggles either way.

![its a yes from me](https://cdn.meme.am/cache/instances/folder951/500x/37276951.jpg)

[2016-11-15 21:38] DustinCampbell commented on #843
This release greatly improves communication with the OmniSharp server. In the past, it was blocking on requests, would would delay the diagnostics.

[2016-11-15 21:45] masaeedu commented on #843
Alright, well, that solves my problem. Maybe this release will also fix the disappearing dialogs problem mentioned in the other issues.

[2016-11-15 21:47] DustinCampbell commented on #843
Fantastic. I hope so too.

[2016-11-15 21:48] #843 closed

[2016-11-15 22:03] DustinCampbell commented on #937
OK. I've updated the downloads for Windows to include this PR on OmniSharp: https://github.com/OmniSharp/omnisharp-roslyn/pull/669. This will display a dialog telling the user to install .NET Framework 4.6 along with a link to download it from.

Note: OmniSharp must require .NET Framework 4.6 because the new MSBuild 15.0 that it uses does.

[2016-11-15 22:04] #937 closed

[2016-11-15 22:22] federicobarera commented on #930
It seems fine.
After the installation it shown an alert that the program it's trying to use .net framework 4.6 which I don't have installed. I am installing it now to see if it runs fine.

Updating C# dependencies...
Platform: win32, x86_64 (win7-x64)

Downloading package 'OmniSharp (.NET 4.6 / x64)' (12310 KB) .................... Done!
Downloading package '.NET Core Debugger (Windows / x64)' 	Re

[2016-11-15 22:23] DustinCampbell commented on #930
Excellent. That last bit to install .NET Framework 4.6 was just added.

[2016-11-15 22:24] DustinCampbell commented on #400
This got fixed with https://github.com/OmniSharp/omnisharp-roslyn/pull/669

[2016-11-15 22:24] #400 closed

[2016-11-15 22:27] federicobarera commented on #930
Yeah, after installing .net 4.6 and re-installing the extensions all goes smoothly.
Great job, thanks.

[2016-11-15 22:27] DustinCampbell commented on #930
w00t!

[2016-11-15 22:27] #930 closed

[2016-11-15 22:41] iflores782 opened #952 "Debugging C# on macOS"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.1
C# Extension version: 1.5.1
macOS version: 10.12.1

## Steps to reproduce
I'm teaching myself C#. I wrote a hello world program (the .cs file is in a vs code folder in my documents folder). I got to debug it and hit run.

## Expected  behavior
It runs and prints "Hello, world!".

## Actual behavior
.net quits unexpectedly. I get th

[2016-11-15 22:46] DustinCampbell commented on #952
Hi @iflores782 -- From your description, it sounds like you need to install .NET Core and create a C# project. @kendrahavens has uploaded an excellent video showing how to get started with C# on macOS with VS Code here: https://channel9.msdn.com/Blogs/dotnet/Get-started-with-VS-Code-using-CSharp-and-NET-Core-on-MacOS. It goes all the way from getting installed to hitting a breakpoint.

[2016-11-15 22:48] DustinCampbell commented on #786
Could you try the latest release? This issue should be fixed now.

[2016-11-15 22:49] DustinCampbell commented on #786
And by latest release, I mean the latest release of the C# extension. We just release 1.5.2 here: https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp.

[2016-11-15 22:54] DustinCampbell commented on #691
OK. I think this *should* be addressed in the latest release (1.5.2). Now, OmniSharp will be launched using an embedded Mono runtime rather than depending on Mono being installed system wide. However, you *will* need to have Mono installed somewhere (and `mono` on the path) in order to resolve the reference assemblies needed to provide IntelliSense. Installing via home brew should do the trick.

[2016-11-15 22:54] #691 closed

[2016-11-15 22:55] DustinCampbell commented on #675
I believe that all of these issues should be addressed in the latest release of the extension (1.5.2).

[2016-11-15 22:55] #675 closed

[2016-11-15 22:58] DustinCampbell commented on #654
It turns out that this was the same issue as https://github.com/OmniSharp/omnisharp-vscode/issues/660. This was a regression in VS Code that was fixed here: https://github.com/Microsoft/vscode/issues/11593.

[2016-11-15 22:58] #654 closed

[2016-11-15 23:01] DustinCampbell commented on #634
I just wanted to let you know that the latest release of the C# extension (1.5.2) supports 32-bit Windows for IntelliSense, go to definition, find all references, and other editor features. The debugger still does not support 32-bit Windows, and that is being tracked with https://github.com/OmniSharp/omnisharp-vscode/issues/844.

[2016-11-15 23:01] #634 closed

[2016-11-15 23:03] #535 closed

[2016-11-15 23:04] #464 closed

[2016-11-15 23:05] DustinCampbell commented on #402
@eamodio: I'm betting this is working now. Is it?

[2016-11-15 23:07] DustinCampbell commented on #286
Hi -- does this happen with our latest release of the C# extension? 1.5.2 is the latest release. A lot has changed under the hood (we now run OmniSharp on an embedded Mono runtime), so I'm curious to know if it is working better for you now.

[2016-11-15 23:08] DustinCampbell commented on #284
This should be fixed in the latest release (1.5.2)

[2016-11-15 23:08] #284 closed

[2016-11-15 23:09] DustinCampbell commented on #882
This should be fixed in the latest release (1.5.2)

[2016-11-15 23:09] #882 closed

[2016-11-15 23:11] DustinCampbell commented on #253
@ericwj: Could you give our latest release (1.5.2) a spin? In this release we've added a new `csharp.suppressDotnetRestoreNotification` setting that can be used to control the popups to restore packages. In big projects, it's generally better to just run `dotnet restore` manually.

[2016-11-15 23:11] balajikris commented on #882
ah -- will test it out, thanks!

[2016-11-15 23:19] DustinCampbell commented on #243
Yes! Controlling all of the C# formatting options exposed within Visual Studio is now possible due to https://github.com/OmniSharp/omnisharp-roslyn/pull/649. You can add an omnisharp.json file that includes the following:

[code]

You can see the options available here: https://github.com/OmniSharp/omnisharp-roslyn/blob/dev/src/OmniSharp.Abstractions/Options/FormattingOptions.cs.

[2016-11-15 23:19] #243 closed

[2016-11-15 23:21] DustinCampbell commented on #203
Yes! Controlling all of the C# formatting options exposed within Visual Studio is now possible due to https://github.com/OmniSharp/omnisharp-roslyn/pull/649. You can add an omnisharp.json file that includes the following:

[code]

You can see the options available here: https://github.com/OmniSharp/omnisharp-roslyn/blob/dev/src/OmniSharp.Abstractions/Options/FormattingOptions.cs.

[2016-11-15 23:21] #203 closed

[2016-11-15 23:25] DustinCampbell commented on #31
This may be improved in the latest release (1.5.2). The extension's communication with the OmniSharp server worked in such a way that it would often block on requests before allowing other requests through. This has been changed in the new releases and could help this scenario greatly.

[2016-11-15 23:27] DustinCampbell commented on #32
I suspect that this may be addressed with the latest version of the extension (1.5.2). We've recently made a lot of changes under the hood to how OmniSharp is packaged and runs that should fix these issues. Please let me know if you run into these problems on the new release.

[2016-11-15 23:27] #32 closed

[2016-11-15 23:28] DustinCampbell commented on #118
Are you still experiencing this problem with the latest release (1.5.2)?

[2016-11-15 23:29] dmccaffery commented on #940
@gregg-miskelly agreed. i very, rarely use it... it was honestly just a fast way to setup the repro to surface the issue and the resulting request :)

[2016-11-15 23:47] dmccaffery commented on #952
Welcome to C# @iflores782 ... as a .net dev expert and an apple fanboy; welcome to the best language in the world! :-D ... Let me know if you have any questions after watching that video ... you can mention me in the OmniSharp #Slack or reach out to me anywhere and I'll get back to you. :)

[2016-11-16 00:41] Mparaiso commented on #286
Hi, thanks for your answer I'll try ASAP.

[2016-11-16 00:41] tugberkugurlu commented on #535
I will try this again with the latest version. I think that was mainly the case when I chose global.json as the main project. Then, I started selecting individual projects as omnisharp projects and it had no issues with that but obviously, it was not great for solution wide refactorings.

[2016-11-16 00:58] iflores782 commented on #952
@dmccaffery @DustinCampbell Thanks for the video recommendation. I followed those steps and probably solved a few problems, but I'm getting the same error.

[2016-11-16 01:01] dmccaffery commented on #952
@iflores782 are you familiar with git? can you push your code to a public repo and I can take a look? make sure you use the following gitignore:

https://raw.githubusercontent.com/github/gitignore/master/VisualStudio.gitignore

[2016-11-16 01:04] DustinCampbell commented on #952
@iflores782: You should have been prompted to generate assets for debugging and building. Did you do this? If not, try the following:

1. Select `View->Command Palette...` from the menu.
2. Type "generate" followed by ENTER.

![image](https://cloud.githubusercontent.com/assets/116161/20330705/87a0338e-ab55-11e6-892d-5b011e5be8e9.png)

This should generate a launch.json and tasks.json file for you.

[2016-11-16 01:05] dmccaffery commented on #952
... too much automation; vscode is starting to feel like an IDE... :-P lolol

[2016-11-16 01:22] iflores782 commented on #952
https://github.com/iflores782/macos-help

[2016-11-16 01:43] salerth commented on #118
No, works fine now... forgot I posted this error, sorry!

[2016-11-16 01:43] #118 closed

[2016-11-16 01:44] DustinCampbell commented on #118
Thanks for checking!

[2016-11-16 01:46] dmccaffery commented on #952
@iflores782 the only issue was that you were missing the launch.json and task.json files, which are used by VSCode to configure the debugger -- its not a dotnet specific issue, its a vscode integration issue. I've forked your code, added the necessary config, and created a pull request:

https://github.com/iflores782/macos-help/pull/1

You can look at the diff to see what I have done. To generate

[2016-11-16 02:22] iflores782 commented on #952
Generate and restore say it could not locate .net core project.

[2016-11-16 02:26] dmccaffery commented on #952
did you open up vscode to the working path (root) of the repo? I believe it will only scan the root of the working path for either a project.json or a global.json. I don't know what else could be the issue.

[2016-11-16 02:27] DustinCampbell commented on #952
I suspect you're opening the C# file on its own. Try using File->Open Folder and opening the whole directory including the C# file and the project.json file.

[2016-11-16 03:23] Phrohdoh opened #954 "Whitespace until next non-whitespace token ignored after paramref in xmldoc"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.7.1
C# Extension version: 1.5.2

## Steps to reproduce

[code]

Hover over `PushSync` to reveal tooltip.

## Expected output

`ClientException Thrown if absolutePath is null, empty, or whitespace-only.`

## Actual output

`ClientException Thrown if absolutePathis null, empty, or whitespace-only.`

---

Notice the missing space

[2016-11-16 03:26] DustinCampbell commented on #954
Nice bug -- thanks!

[2016-11-16 06:35] heyalistair commented on #269
Hi @DustinCampbell,

I tried the manual install of C# extension you linked to (1.5-future-preview1) and the current release (1.5.2) via the VS Code marketplace, and neither have resolved my issue. I still have disappearing errors. I will try to recreate in a sample project and if I can do that, I will open a new issue.

But anyway, thanks so much for fixing #269. It was epic.

[2016-11-16 07:04] cwe1ss commented on #938
1.5.2 fixed this error for me as well - thanks very much!

[2016-11-16 08:35] HawkenKing commented on #941
Hi @DustinCampbell hope this helps!

[code]

[2016-11-16 10:08] jkingston opened #955 "Install requires an internet connection"
## Environment data
VS Code version: 1.7.1
C# Extension version: 1.5.1

## Steps to reproduce
1. Download OmniSharp 1.5.1 vsix file
2. Install VS Code
3. Disconnect from internet
4. Install extension

## Expected  behavior
Extension should be full-featured when editing C# code.

## Actual behavior
An error is written to the VS Code output log when attempting to download the OmniSharp-Roslyn packag

[2016-11-16 15:44] DustinCampbell commented on #938
Glad to hear it.

[2016-11-16 15:51] gregg-miskelly commented on #955
@jkingston what you are asking for isn't possible with VS Code -- VS Code doesn't support uploading a collection of .vsix files for each platform.

It is possible to create these yourself if you are so inclined --

1. Enlist in this repo
2. `npm i`
3. `npm run compile`
4. `node node_modules/gulp/bin/gulp.js package:offline`

Take the .vsix for the platform you would like.

[2016-11-16 15:52] DustinCampbell commented on #955
This is working as designed. The extension has several platform-specific dependencies that must be downloaded before it can work. Once those are downloaded, an internet connection is no longer needed.

We do provide a gulp task for producing "offline" VSIXs that target various platforms. If you are able to clone and build this repo, you can run the `gulp package:offline` task to produce a VSIX spe

[2016-11-16 15:52] #955 closed

[2016-11-16 15:52] DustinCampbell commented on #952
@iflores782, were you able to get things working?

[2016-11-16 16:23] matthewjcooper commented on #871
This issue has gone away after upgrading to 1.5.x. Any reason you think this might be? Could it be related these two items in the release notes?

[2016-11-16 16:53] gregg-miskelly commented on #871
@matthewjcooper it wouldn't have been either of those items. We did however at the same time fix the GetClrdbg.sh script to pull a more recent version of the debugger into the container. My guess is that is what fixed it. Though I can't tell you exactly what change in there resolved the issue.

Glad to hear it is resolved though. Should we close this?

[2016-11-16 17:02] dageniusal commented on #930
@DustinCampbell, I followed the instructions as directed and it installed correctly. I already had .NET 4.6.* installed on my machine, so I didn't need to take the same action as @federicobarera.

Thanks for the great work!

[code]

[2016-11-16 17:20] DustinCampbell commented on #930
Awesome!

[2016-11-16 17:20] #786 closed

[2016-11-16 17:22] DustinCampbell commented on #941
Your log shows that you are using 1.4.1 of the C# extension, not 1.5.0 as mentioned at the top of this bug. Did you actually install the new release (now 1.5.2)? You should be able to do so from the Extensions pane in Visual Studio Code (select View->Extensions to display this pane).

[2016-11-16 17:23] DustinCampbell commented on #269
Thanks a ton @heyalistair. The disappearing errors issue has been a bit of a thorn in my side because I've not been able to reproduce yet.

[2016-11-16 17:31] gregg-miskelly opened #956 "Debugger doesn't support Ubuntu 16.10"
1. Follow instructions on https://www.microsoft.com/net/core#linuxubuntu to install .NET CLI for Ubuntu 16.10
2. Install VS Code + C# extension

Result:
[WARNING]: The current Linux distribution 'ubuntu' version '16.10' is not currently supported by the .NET Core debugger.

[2016-11-16 17:46] CoenraadS commented on #883
I also experience this with a Unity Project. I filed a report to Unity, and they told me its a VSCode issue, who says its a OmniSharp issue, so here I am now.

If you want an Unity project that experiences this error I can provide it.

[2016-11-16 17:50] DustinCampbell commented on #883
Could you provide the code base? That'd be very helpful. Note that 1.5.2 is worth trying. It includes several fixes to how diagnostics are displayed, so it could have an impact on this problem.

[2016-11-16 17:55] Jamie-McCaw opened #957 "Downloading package 'Mono Runtime (macOS)' Failed at stage: downloadPackages Error: self signed certificate in certificate chain"
## Environment data
`dotnet --info` output:.
NET Command Line Tools (1.0.0-preview2-003148)

Product Information:
 Version:            1.0.0-preview2-003148
 Commit SHA-1 hash:  18ca244551

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64
VS Code version: 1.7.1
C# Extension version:1.5.2

## Steps to reproduce
Installed Visual Studio

[2016-11-16 17:56] rebornix commented on #883
@CoenraadS IMHO it's a OmniSharp issue but it's just a wild suspicion. But since it's C# related, I'd like to start investigation here and then maybe we can know whether it's a common one :)

[2016-11-16 17:58] DustinCampbell commented on #883
@rebornix: I'm quite certain it's a C# extension issue (note that the C# extension is not called "OmniSharp" -- that's simply a technology leveraged by the extension).

[2016-11-16 17:58] CoenraadS commented on #883
The error seems related to the project size, so unfortunately I cannot submit it as a minimum scenario, but have to upload my whole project ~100 MB, too large for inbuilt attachment. I sent a WeTransfer to @DustinCampbell email address, I hope that is ok.

To use the sample, open /Scripts/ErrorTest.cs from Unity

What I see:
VSCode opens
An error appears in problem window
... Some more analysis ha

[2016-11-16 18:02] DustinCampbell commented on #883
@CoenraadS: Thanks for the link. Downloading now...

[2016-11-16 18:04] DustinCampbell commented on #883
I can repro! Excellent!

[2016-11-16 18:07] DustinCampbell commented on #957
Hmmm... are you able to download from the following link? https://omnisharpdownload.blob.core.windows.net/ext/mono.osx-4.6.1.zip

[2016-11-16 18:09] gregg-miskelly commented on #957
Also, do you somehow have a proxy enabled (ex: "http.proxy" option, or environment variable)?

[2016-11-16 18:17] DustinCampbell commented on #879
I'm going to go ahead and close this. Let us know if the latest release doesn't address this issue.

[2016-11-16 18:17] #879 closed

[2016-11-16 18:17] Jamie-McCaw commented on #957
@DustinCampbell I am able to download from that link.

@gregg-miskelly I don't believe I have any environment variables set. Not sure about the "http.proxy" option, except the User Settings one in VS Code I set to allow me to install extensions
{
"http.proxyStrictSSL": false
}

[2016-11-16 18:17] DustinCampbell commented on #894
This should be fixed in the 1.5.2 release. Please let us know if it is still a problem.

[2016-11-16 18:18] #894 closed

[2016-11-16 18:20] DustinCampbell commented on #957
Hmmm... @gregg-miskelly: it looks like we'll never use that option unless http.proxy is set.

[2016-11-16 18:24] raldred commented on #786
Thanks Dustin, great stuff I'll try first thing in the morning.

[2016-11-16 18:31] DustinCampbell commented on #957
I bet we also need to set `rejectUnauthorized` [here](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/packages.ts#L176) using the value of `strictSSL`.

[2016-11-16 18:33] gregg-miskelly commented on #957
Yup: https://github.com/Microsoft/vscode/blob/2f76c44632b0d47ba97f66fbc158c763628e30b3/src/vs/base/node/proxy.ts#L47

[2016-11-16 18:52] nick-korsakov commented on #929
C# for Visual Studio Code (powered by OmniSharp). Version 1.5.2.

[2016-11-16 19:13] DustinCampbell commented on #883
@rebornix: I think this might actually be a VS Code issue. Debugging in, I can see what's happening.

When a file is opened, we request diagnostics from the OmniSharp server and then call `Diagnostics.set(...)` with the uri for that document and the array of diagnostics. This happens [here](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/features/diagnosticsProvider.ts#L196-L210). At

[2016-11-16 19:22] DustinCampbell commented on #883
I'm betting the problem is here: https://github.com/Microsoft/vscode/blob/c67ef57cda90b5f28499646f7cc94e8dcc5b0586/src/vs/workbench/api/node/extHostDiagnostics.ts#L77

I bet this is due to the fact that JavaScript's array.sort() is not necessarily stable. So, if two items appear in array for the same file name, it could reverse them. In other words, this...

[code]

...could become this...

[code]

[2016-11-16 19:43] DustinCampbell commented on #883
Yup. That's what's happening. I just tried sorting the `[Uri, Diagnostic[]][]` in the extension using the same code that VS Code uses and I can see it failing.

Here they are before sorting:

![image](https://cloud.githubusercontent.com/assets/116161/20362784/a2c3e43e-abf1-11e6-96b4-bcb8e725b072.png)

And here they are afterwards:

![image](https://cloud.githubusercontent.com/assets/116161/2036286

[2016-11-16 19:53] DustinCampbell commented on #883
I've filed https://github.com/Microsoft/vscode/issues/15585 to track getting this issue fixed in VS Code.

[2016-11-16 19:55] DustinCampbell commented on #889
@HawkenKing, @Novack- it looks like this is actually a bug in VS Code. I investigate #883 and found that the issue is not caused by the C# extension. It's likely an easy fix though. The details are in #883. I've filed https://github.com/Microsoft/vscode/issues/15585 to track getting this fixed in VS Code.

[2016-11-16 19:56] DustinCampbell commented on #941
@HawkenKing: I've dug into this issue and found that it's likely due to a bug in VS Code. Details of my investigation are in #883. I've filed https://github.com/Microsoft/vscode/issues/15585 to track this issue on VS Code.

[2016-11-16 20:27] #672 closed

[2016-11-16 20:28] DustinCampbell commented on #954
Actually, this is a duplicate of #672. The good news is that we just took a fix to OmniSharp that will fix it: https://github.com/OmniSharp/omnisharp-roslyn/pull/670

[2016-11-16 20:28] #954 closed

[2016-11-16 20:29] DustinCampbell commented on #672
This has been fixed in OmniSharp (thanks @filipw) and the fix will appear in a future release of the C# extension.

[2016-11-16 20:34] DustinCampbell commented on #831
@khionu: The communication with the OmniSharp server has been greatly improved in the latest release. Could you let me know if you still see this problem with 1.5.2 of the C# extension?

[2016-11-16 20:41] DustinCampbell commented on #579
We've done a lot of work to improve this in the latest release to respect `http.proxy` and `http.proxyStrictSSL` values. With https://github.com/OmniSharp/omnisharp-vscode/pull/958, I'm hopefully that our last issues with this should be addressed. Let me know if you experience this problem with the latest release (1.5.2).

[2016-11-16 20:41] #579 closed

[2016-11-16 20:45] #957 closed

[2016-11-16 20:59] DustinCampbell commented on #957
@Jamie-McCaw: I've produced the first beta of our next release which should address this problem. Could you install it and try it out? You can follow the steps below to install the beta:

1. Open Visual Studio Code and select View->Extensions to display the Extensions Pane.
2. In the Extensions pane, clear the little gear icon for the C# extension and select "Uninstall". Confirm Visual Studio Code

[2016-11-16 21:00] CoenraadS opened #959 "Cannot watch global variables in Unity"
## Environment data
Unity b11
VS Code version: 1.7.1
C# Extension version: 1.5.2

## Steps to reproduce

`public class test : MonoBehaviour {

	public int x = 5;
	// Use this for initialization
	void Start () {

	}

	// Update is called once per frame
	void Update () {
		int y = this.x + 1;
		int z = x + 1;
	}
}`

Add watch to `x`, and `this.x` in the `Update()` method

## Expected  behavior
`x` a

[2016-11-16 21:08] DustinCampbell commented on #959
If you're using the Debugger for Unity extension, you'll need to file that issue for that extension here: https://github.com/Unity-Technologies/vscode-unity-debug/issues.

[2016-11-16 21:09] CoenraadS commented on #959
An issue exists: https://github.com/Unity-Technologies/vscode-unity-debug/issues/15

Maybe something can be worked out.

[2016-11-16 21:11] DustinCampbell commented on #959
Possibly, but it's definitely not an issue we can solve. @gregg-miskelly could speak to this more, but I expect this to be more of a function of the expression evaluator that's used. Note that the .NET Core debugger also does not analyze C# source code.

[2016-11-16 23:12] iflores782 commented on #952
Yes, but now when I read in from the console it stops working. I'm doing [this](https://msdn.microsoft.com/en-us/library/aa288470(v=vs.71).aspx) tutorial, but I changed it from person.name = "Joe" to person.name = Console.ReadLine(). When I input a name ("bill"), it says Unable to perform this action because the process is running.
Could you help with that?

[2016-11-17 00:11] DustinCampbell commented on #952
Could you provide a bit more detail? Where do you enter "bill"? Did you stop the application from debugging while changing the code?

[2016-11-17 00:12] DustinCampbell commented on #952
cc @gregg-miskelly

[2016-11-17 00:29] gregg-miskelly commented on #959
In case this is helpful - all of full VS's expression evaluators (and the .NET Core VS Code expression evaluator) don't look at the user's source code at all but instead look at the metadata of the debugged .dll's/.exe's and the content of the symbol files (.pdbs). At a high level - metadata provides information about types and arguments while PDBs tell you about the names of local variables.

[2016-11-17 00:29] #959 closed

[2016-11-17 00:31] gregg-miskelly commented on #952
@iflores782 if you are going to use Console.ReadLine, make sure to [enable the external console](https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger.md#external-console-terminal-window) in your launch.json file. This should pop up a new terminal window that will let you enter text.

[2016-11-17 00:39] DustinCampbell commented on #952
Thanks @gregg-miskelly! I'd completely forgotten about that setting.

[2016-11-17 00:52] BrianHubble commented on #269
This was bothering me in Visual Studio Code working with Unity but I'd say check that you do not still have the "Legacy C#" extension installed. I uninstalled both and reinstalled the normal C# extension; the "mono.osx" process (it says this instead of "mono-sgen" for some reason now) still uses a lot of CPU in the ActivityMonitor but the completion problems and delays I had been seeing have gone

[2016-11-17 00:58] DustinCampbell commented on #269
It says "mono.osx" because OmniSharp now runs on its own Mono runtime. I'm glad to hear that the delays have gone away. That's fantastic. How much CPU activity are you seeing?

[2016-11-17 01:00] BrianHubble commented on #269
Like, between 60% and 200%. It doesn't seem to slow anything down though, just makes the fan on my MacBook Pro spin kinda loudly.

[2016-11-17 01:00] iflores782 commented on #952
@gregg-miskelly @DustinCampbell Yup that was it. I set enable external console to true and it ran fine.

[2016-11-17 01:01] DustinCampbell commented on #952
awesome. Glad you got things working. Good luck! Let us know if you run into any other problems

[2016-11-17 01:01] #952 closed

[2016-11-17 01:08] DustinCampbell commented on #269
yeah, that seems pretty significant. Do you have a particularly large project?

[2016-11-17 05:52] saurabhnachankar commented on #894
Thank you for replying..

Regards,
Saurabh Nachankar

On Wed, Nov 16, 2016 at 11:48 PM, Dustin Campbell <notifications@github.com>
wrote:

[2016-11-17 05:55] heyalistair commented on #269
@BrianHubble Definitely didn't have the "Legacy C#" extension. Thanks tho.

@DustinCampbell So... I tried to come up with a reproducible project. I started off by making sure I had fresh, recent installs of Unity and the little [VSCode plugin](https://github.com/dotBunny/VSCode) by dotbunny and I opened an open source project. But I didn't see the bug there, and everything worked fine.

Then, I sw

[2016-11-17 05:57] heyalistair commented on #269
@DustinCampbell Actually, this morning I installed the Visual Studio Preview for Mac that was just announced at Connect()... It looks like it might have bumped my mono version! That might have done it

[2016-11-17 09:56] tverboon commented on #547
After two days working with this new extension, I didn't have a single miss. Performance overall is really great now. Thanks Dustin and team.

[2016-11-17 11:58] jchannon commented on #753
Hi, just installed netcore 1.1 and this doesn't seem to be fixed

I ran the same repro as suggested by @gregg-miskelly here https://github.com/OmniSharp/omnisharp-vscode/issues/753#issuecomment-245715450

<img width="323" alt="screen shot 2016-11-17 at 11 37 39" src="https://cloud.githubusercontent.com/assets/105126/20388521/2a8df71c-acbd-11e6-8100-d99d729609c2.png">

[2016-11-17 13:56] garoyeri commented on #957
This resolves the issue for me on Windows using VSCode 1.7.1.

[2016-11-17 15:42] DustinCampbell commented on #957
Excellent! Thanks for letting me know

[2016-11-17 15:55] DustinCampbell commented on #269
FWIW, we *just* discovered the caused of errors disappearing in larger projects. The necessary fix has been made to VS Code and should hopefully start showing up in VS Code Insiders builds soon. Details are here: https://github.com/Microsoft/vscode/issues/15585.

[2016-11-17 16:01] DustinCampbell commented on #883
OK. It looks like a solid fix has been checked into VS Code. It turns out that I couldn't repro because the array.sort() function starts out stable with small sets, but becomes unstable on larger sets. So, this would have only reproduced on larger projects with lots of diagnostics.

The fix should start showing up in VS Code Insiders builds soon.

[2016-11-17 16:01] #883 closed

[2016-11-17 16:02] DustinCampbell commented on #889
It looks like a solid fix has been checked into VS Code. We should start seeing this working properly in VS Code Insiders builds soon.

[2016-11-17 16:02] #889 closed

[2016-11-17 16:04] DustinCampbell commented on #941
A solid fix for this issue has been checked into VS Code. We should start seeing it working in VS Code Insiders builds soon.

[2016-11-17 16:04] #941 closed

[2016-11-17 16:08] DustinCampbell commented on #885
@aggieben: Were you able to get this working? This issue has gone quiet, so I'm going to go ahead and close it. However, let us know if we can help in any way.

[2016-11-17 16:08] #885 closed

[2016-11-17 16:32] gregg-miskelly commented on #753
@jchannon unfortunately @mikem8361 said that https://github.com/dotnet/coreclr/issues/7115 didn't actually make 1.1. @mikem8361 can @jchannon install a preview3 CLI to check if this repos? Or will preview3 also be missing the fix?

[2016-11-17 16:34] jchannon commented on #753
The milestones on the issue/PR says 1.1 so you might want to change that,
not sure how you know what makes it into what release otherwise :)

On 17 November 2016 at 16:32, Gregg Miskelly <notifications@github.com>
wrote:

[2016-11-17 16:36] gregg-miskelly commented on #753
Agreed :)

[2016-11-17 17:38] Novack- commented on #889
Thank you.

[2016-11-17 17:56] luyzfernando commented on #839
Do you have any plans when to do this update?

[2016-11-17 18:40] gregg-miskelly commented on #839
We are actively working on it now. So I would expect sometime in the next few weeks.

[2016-11-17 19:00] matthewjcooper commented on #871
Yup, ran all day and today without this issue.

Thanks!

[2016-11-17 19:00] #871 closed

[2016-11-17 19:33] mikem8361 commented on #753
I’m not sure if the fix is in the dotnet cli review3 (I don’t know how to figure that out), but if you add "Microsoft.NETCore.Runtime.CoreCLR": "1.2.0-beta-24609-02" to your test app’s project.json it will have the fix.

[2016-11-18 00:55] gregg-miskelly commented on #779
This is still our top error hit. Lets see if we can fix this for 1.6. My thought is to disable the installation of the debugger unless we find openssl.

[2016-11-18 03:53] pflannery opened #960 "Generics with multiple type parameters are colorized incorrectly"
VS Code version: 1.7.1
C# Extension version: 1.5.2

![c-sharp-colouring](https://cloud.githubusercontent.com/assets/1727302/20418085/53d3c090-ad42-11e6-9e9d-a2709d3ccf19.gif)

[2016-11-18 07:35] iiley opened #961 "manually download and install dependencies"
Hi, thanks for the great plugin. I have a internet issue to make vscode download the dependencies, i always stuck here:
[code]
I can find the dependencies links in source code _package.json_, if I manually download all the files, how can i integrated them to the extension?

[2016-11-18 09:16] valery-shinkevich opened #962 "xproj ignored. CodeLens don't show References, Find All References don't work"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview3-003805)

Product Information:
 Version:            1.0.0-preview3-003805
 Commit SHA-1 hash:  edf2fc1f53

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64

VS Code version:
1.7.1
C# Extension version:
1.5.2
## Steps to reproduce
Create  solution with

[2016-11-18 13:16] iiley commented on #961
After hours finally i found a way, just download and unzip the files to the directory package.json indicated, and then create a file named "install.Lock" at the root of the plugin. Then restart vscode, it works. But i have not tested the debugger since i use Unity debugger only.

[2016-11-18 16:34] lgreenlee opened #963 "Simple dependency resolution"
As a developer I would like to add a dependency to a buildable project folder located anywhere on my file system. It should be as simple as providing a path to a folder with a project.json or .csproj file located in its root.

At the moment it not possible to do this in this way - it is overly constraining to require that projects be located in the same file structure in order to be built together

[2016-11-18 18:15] BrianHubble commented on #269
@DustinCampbell It's a fairly large Unity project and the slowness will still come and go. (I should mention it also shows like 99+ errors in VS Code that are not errors in Unity).

Anyway, I will try the Insiders update channel.

[2016-11-18 21:48] tomasvarg commented on #661
@DSchroer Could you please specify your tweaks of the switch? I tried that too (for Arch Linux - "arch" as a value of the distribution.name, returning whatever distro constant available from the switch), the debugger downloads & installs but running it fails with "Debug adapter process has terminated unexpectedly"

I can't find any details, are the failures logged somewhere?

[2016-11-19 01:34] Xelnath opened #965 "References appear far to the left of the window on VS Code for Mac"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:
1.5.2

## Steps to reproduce
Open any C# project.

## Expected  behavior
References appear above the text.

## Actual behavior
References appear 1 window's worth of units to the left.

![screen shot 2016-11-18 at 5 33 49 pm](https://cloud.githubusercontent.com/assets/11283246/20451991/422ddc18-adb5-11e6-8a4b-548ab41

[2016-11-19 06:30] LeThe-Zhu opened #966 "Can't Support Net Core 1.1"
## Environment data
`dotnet --info` output:

C:\Windows\system32>dotnet --info
.NET Command Line Tools (1.0.0-preview3-004056)

Product Information:
 Version:            1.0.0-preview3-004056
 Commit SHA-1 hash:  ccc4968bc3

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14971
 OS Platform: Windows
 RID:         win10-x64

VS Code version:
1.7.1
C# Extension version:
1.5.2

## Steps

[2016-11-19 06:48] gregg-miskelly commented on #966
@LeThe-Zhu The work for .NET Core .csproj is partially present in the version of the extension that you have (1.5.2) but we still have some more work ahead of us: https://github.com/OmniSharp/omnisharp-vscode/projects/2. For your scenario, I believe you will find it works okay if you restore from the command line (`dotnet restore`).

[2016-11-19 07:09] LeThe-Zhu commented on #966
Thanks you email!
I use “dotnet restore” resolve this problem with your suggestion
But I'm curious I also use this command is not useful before I add issue😂
发件人: Gregg Miskelly [mailto:notifications@github.com]
发送时间: 2016年11月19日 14:48
收件人: OmniSharp/omnisharp-vscode <omnisharp-vscode@noreply.github.com>
抄送: LeThe-Zhu <wdzhuxiang@msn.com>; Mention <mention@noreply.github.com>
主题: Re: [OmniSharp/omn

[2016-11-19 08:13] LeThe-Zhu commented on #965
Maybe you try View->Zoom in  or Zoom out chang display

[2016-11-19 09:09] Xelnath commented on #965
That helped.

[2016-11-19 09:27] #966 closed

[2016-11-19 10:58] nick-korsakov commented on #929
When I use this keybindings.json I recieve an error: "Failed to run test because null" with "Running test [object Object]..." in the output window:
[code]

[2016-11-19 14:26] fedihor commented on #956
When Ubuntu 16.10 support will be added?

[2016-11-19 16:00] Novack- commented on #851
Any comments?

[2016-11-19 17:31] gregg-miskelly commented on #956
We don't have supper hard dead lines, but barring something unexpected, I would guess early to mid December.

[2016-11-19 21:00] milkowski commented on #965
The zoom level is not respected, it is positioned right only when there is no zoom at all (zoom level == 0). Changing zoom level to other value renders reference adnotations to misaligned.

[2016-11-19 22:30] DustinCampbell commented on #929
The problem is that this command specifically expects arguments to be passed with the test method name: https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/features/dotnetTest.ts#L24-L28.

[2016-11-20 01:08] markrendle opened #967 "Disable "Assuming assembly reference..." warning squigglies"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.7.1
C# Extension version: 1.5.2

## Steps to reproduce

Create new ASP.NET Core application using `dotnet new -t Web`, run `dotnet restore` from command line.

Open project in VS Code.

Observe green squigglies all over the C# code, with mouseover showing a popup along the lines of:

[code]

It's probably right, and the assembl

[2016-11-20 04:57] TheBlueSky commented on #579
@DustinCampbell, unfortunately, this didn't address the issue and OmniSharp is still unable to get the required dependencies/packages... it's the only thing that doesn't work in VS Code behind our firewall, I mean from the options I tried; e.g.; updating VS Code itself, updating its extensions, `dotnet restore`, and maybe couple of others.

![OmniSharp error](http://i3.photobucket.com/albums/y67/T

[2016-11-20 06:24] nick-korsakov commented on #929
Is it possible to infer arguments from the context (cursor position inside the test method) and pass them to the command? It's necessary for both commands ("dotnet.test.debug" and "dotnet.test.run").

[2016-11-20 07:32] Alonski opened #968 "Error Loading Projects"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-1-003177)

Product Information:
 Version:            1.0.0-preview2-1-003177
 Commit SHA-1 hash:  a2df9c2576

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64

VS Code version: 1.7.1
![image](https://cloud.githubusercontent.com/assets/452199/20461355/

[2016-11-20 14:39] DustinCampbell commented on #965
Note that this is a known issue in VS Code.

[2016-11-20 14:40] DustinCampbell commented on #965
Should be fixed with https://github.com/Microsoft/vscode/issues/14949

[2016-11-20 14:40] #965 closed

[2016-11-20 15:11] DustinCampbell commented on #579
Do you set the `http.proxyStrictSSL` setting in VS Code? We recently addressed another issue where we were properly passing the value of this setting if `http.proxy` wasn't set as well. This addressed a similar-looking issue: https://github.com/OmniSharp/omnisharp-vscode/issues/957. Would you willing to give a build of the extension with that fix a try?

1. Open Visual Studio Code and select View-

[2016-11-20 19:37] gregg-miskelly commented on #579
If that still doesn't address it, I wonder if we need a way to add additional root certs like in https://github.com/nodejs/node/issues/3742

[2016-11-21 04:39] ammarsabir26 opened #970 "Intellisense working for few seconds"
## Environment data
`dotnet --info` output:
VS Code version:
C# Extension version:
![working](https://cloud.githubusercontent.com/assets/12556439/20470810/c688597e-afcd-11e6-958d-92eb7d87ba09.png)
![not working](https://cloud.githubusercontent.com/assets/12556439/20470811/c6b0e7fe-afcd-11e6-84dd-8fa4792bb5e7.png)

## Steps to reproduce
As soon as i start to type some word , intellisense stops work

[2016-11-21 09:32] wenchengye commented on #970
I've the same problem after i updated C# extension, and it also updated omnisharp.
the follow log show when i open VScode. the problem maybe relative with it.

trying to fix it.

[2016-11-21 09:52] ammarsabir26 commented on #970
i found exactly the same error but my c# extension is already updated .
Actually this problem occurred after updating c# extension

On Mon, Nov 21, 2016 at 2:32 PM, overspark <notifications@github.com> wrote:

[2016-11-21 10:47] HawkenKing commented on #970
I've had this problem for a while...

[2016-11-21 11:19] HawkenKing commented on #941
@DustinCampbell just FYI I uninstalled everything related to VScode and started again from scratch. Probably a good idea since I've just been piling on updates since last year. Everything works fine now; intelisense, error underlining etc.

[2016-11-21 12:11] ammarsabir26 commented on #970
so were you able to resolve it?

On Mon, Nov 21, 2016 at 3:47 PM, Hawken <notifications@github.com> wrote:

[2016-11-21 13:59] Meai1 opened #971 "It takes an additional ~3 seconds for the debugger to attach"
My issue here is that this basically increases the edit/compile dev cycle by another 3 useless seconds. I really think that this should be fixable, I mean in Visual Studio it starts up much much faster too..
Just to be 100% clear: This is after the compilation is done and then the rest of the work is only IDE related debugger attachment, that is what this issue is about.

## Environment data
`dotn

[2016-11-21 15:53] DustinCampbell commented on #970
@wenchengye: That would only happen with an old, old version of the C# extension -- possibly the "Legacy C# Extension". You might need to clean out old versions of the C# extension and install the latest.

@ammarsabir26: What version of VS Code and the C# extension are you using? Could you post your full OmniSharp log when it happens? I suspect OmniSharp is restarting.

[2016-11-21 15:54] DustinCampbell commented on #941
Excellent!

[2016-11-21 16:00] DustinCampbell commented on #579
If that doesn't address it, we should push hard for this: https://github.com/Microsoft/vscode/issues/6929. :smile:

[2016-11-21 16:25] asyschikov opened #972 "Unable to load symbols. Error initializing the symbol reader on Ubuntu 16.10"
Quick question before I include full "Environment data" and all that stuff.
I am using MacOS, I want to debug on Docker (Ubuntu 16).
I managed to set everything up except that I get this error in debug console:

`ERROR: Unable to load symbols. Error initializing the symbol reader (Microsoft.DiaSymReader.PortablePdb.dll).`

I don't understand who is issuing this line, omnisharp-vscode or clrdbg fro

[2016-11-21 16:56] gregg-miskelly commented on #972
@asyschikov That issue very likely means that clrdbg running on the Ubuntu 16 machine isn't able to run .NET Code inside itself (as the PortablePdb reader is the first bit of managed code that clrdbg runs). You are running GetClrdbg.sh on the Ubuntu 16 machine I assume?

[2016-11-21 17:01] asyschikov commented on #972
@gregg-miskelly well the app itself is working, that is the most surprising part. And debug sort of works, for example it stopped on an exception in Program.cs but was not able to show the stack trace, variabless or anything basically. Yes I am using GetClrdbg.sh from here https://raw.githubusercontent.com/Microsoft/MIEngine/c34e83cf56952f544555a74220701e25b2c84767/scripts/GetClrDbg.sh

[2016-11-21 17:20] gregg-miskelly commented on #972
@asyschikov I don't know if this will solve it because I don't remember this issue, but that version of the script will pull an old clrdbg. You want to use:

[code]

Do we have that link somewhere in our docs?

[2016-11-21 17:29] asyschikov commented on #972
@gregg-miskelly I used that script to pull recent version: `./GetClrDbg.sh -v 15.0.25904-preview-3404276 -l /opt/clrdbg`

The problem with the script version from "getclrdbg-release" branch (or master) that it doesn't work on ubuntu 16.04, it fails with restore errors.

I got the link from here: https://github.com/Microsoft/MIEngine/pull/449

Ok, I just replaced ubuntu with debian in my Dockerfile

[2016-11-21 17:36] DustinCampbell commented on #962
It's 100% expected that xproj is ignored. xproj doesn't actually have any significant information about your projects. That information is all in the project.json. So, the real concern is that it doesn't find any project.json files in your log.

I have a couple of questions:

* What sort of solution should I be creating in VS 2015?
* You have 1.0.0-preview3-003805 of the .NET CLI installed, but th

[2016-11-21 17:39] gregg-miskelly commented on #972
@asyschikov can you tell me what restore error you were getting? We are just about to move away from using dotnet restore in GetClrDbg.sh, but if there is a simple bug we could try to address it.

[2016-11-21 17:48] asyschikov commented on #972
@gregg-miskelly This kind of errors:
[code]
Tons of them.

I installed this SDK package dotnet-dev-1.0.0-preview2.1-003177 and it was ubuntu 16.04.

[2016-11-21 17:49] DustinCampbell commented on #851
@Novack- OmniSharp has access to this information, but we need a new endpoint to expose it. That's a bigger work item that I'm tracking here: https://github.com/OmniSharp/omnisharp-roslyn/issues/78.

Above, you mentioned to specific completion features that we have in Visual Studio:

1. Enum pre-selection: This is where VS displays the completion list on several specific contexts where an enum wil

[2016-11-21 17:52] DustinCampbell commented on #569
From what I can tell, it sounds like this issue is dead. Let me know if there are further problems that I'm missing here.

[2016-11-21 17:52] #569 closed

[2016-11-21 17:55] gregg-miskelly commented on #971
@Meai1 we have work in flight to switch to pre-native-compiled (ngen'ed) versions of a number of the managed dlls, in the debugger which will have a big impact on startup perf. We will let you know when its done so you can tell us if it feels fast enough or not.

[2016-11-21 18:20] gregg-miskelly commented on #972
I did a quick test on my Ubuntu 16 VM but I couldn't repo the problem. If you still have the original container, what does `dotnet --info` give you?

[2016-11-21 18:22] DustinCampbell commented on #962
I created a .NET Core Web Application in Visual Studio 2015 using the latest .NET Core tools for Visual Studio and the .NET Core CLI available at https://dot.net and it worked fine:

[code]

[2016-11-21 18:23] Novack- commented on #851
Awesome @DustinCampbell thanks for the update. I will be following the events!

[2016-11-21 18:24] DustinCampbell commented on #962
Here's a screenshot of it working properly:

![image](https://cloud.githubusercontent.com/assets/116161/20495129/aceae3ea-afd4-11e6-840c-bad1f02e9cdd.png)

[2016-11-21 18:24] DustinCampbell commented on #962
From your screenshots, it looks like you are using a different project rather than what you described in the repro steps. Could you provide a project that reproduces this issue?

[2016-11-21 18:30] Novack- commented on #146
This in an old one! Following.

[2016-11-21 18:35] asyschikov commented on #972
@gregg-miskelly

[code]

Here is Dockerfile: https://gist.github.com/asyschikov/9add857f41da99cf63c8e41973eba3df

[2016-11-21 18:37] gregg-miskelly commented on #972
@asyschikov it looks like you are on 16.10, which we don't support quite yet.

[2016-11-21 18:44] gregg-miskelly commented on #972
Looks like there is a bug in our script where we will treat 16.10 as 16.04. We will fix that as part of https://github.com/OmniSharp/omnisharp-vscode/issues/956

[2016-11-21 19:00] asyschikov commented on #972
@gregg-miskelly sorry, right, it was 16.10. I got confused with all those versions.

[2016-11-21 19:07] gregg-miskelly commented on #972
@asyschikov Thanks. We will use #956 to track this too. So resolving it as a dupe.

[2016-11-21 19:07] #972 closed

[2016-11-21 19:58] cmiles74 commented on #766
This issue has resolved itself in the current Docker image from Microsoft and then new release of Code with the newest version of the plugin.

[2016-11-21 19:59] #766 closed

[2016-11-21 20:08] valery-shinkevich commented on #962
I created a new project, because I removed the previous project files. It is slightly different in structure, but the meaning is the same.
# screenshot
![core2](https://cloud.githubusercontent.com/assets/1697801/20498599/d66f46ce-b03e-11e6-8954-6c83dc64adcf.jpg)
# solution
[LombardServiceNew.zip](https://github.com/OmniSharp/omnisharp-vscode/files/604675/LombardServiceNew.zip)
# Log
Starting OmniS

[2016-11-21 20:18] valery-shinkevich commented on #962
# also it don't work with

C:\NewProject\New\LombardServiceNew>dotnet --info
.NET Command Line Tools (1.0.0-preview2-1-003177)

Product Information:
 Version:            1.0.0-preview2-1-003177
 Commit SHA-1 hash:  a2df9c2576

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x86

[2016-11-21 20:41] DustinCampbell commented on #962
It looks like you restructured your project and deleted the global.json. That defines search paths used to locate your projects when project.json is used. Without that, VS Code won't be able to process your projects. https://docs.microsoft.com/dotnet/articles/core/tools/global-json.

Note that ASP.NET Core applications really like to be in a particular directory structure.

WRT `dotnet --info`, I'

[2016-11-21 20:55] HugoNijhuis opened #975 "Problem invoking 'RunCodeAction' on OmniSharp server: null"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-1-003177)

Product Information:
 Version:            1.0.0-preview2-1-003177
 Commit SHA-1 hash:  a2df9c2576

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Linux
 RID:         ubuntu.16.04-x64

VS Code version: 1.7.1
C# Extension version: Both 1.5.3 and 1.6-beta1 and 1.6-beta3

## Step

[2016-11-21 21:19] wenchengye commented on #970
@DustinCampbell: Thank you! I updated my C# extension. It worked much better now, except two little things. First, the "references" annotation still show up more slowly than before. Second, it show "0 projects" after the "fire" icon. Here is my OmniSharp log.

Discovered Mono file path: /usr/local/bin/mono
[INFORMATION:OmniSharp.DotNet.DotNetProjectSystem] Initializing in /Users/overspark/code/gam

[2016-11-21 21:34] valery-shinkevich commented on #962
Just forgot to create a global.json. But I've added it to the folder with the solution. Nothing has changed - codeLens is not working.
`{
    "projects": [
        "LombardService.Data",
        "LombardService.Services",
        "LombardService.Services.Tests"
	]
}`

[2016-11-21 21:42] DustinCampbell commented on #970
The "0 projects" is a known issue: https://github.com/OmniSharp/omnisharp-vscode/issues/835.

The "references" annotation may show up more slowly than before because we're no longer blocking on the OmniSharp for each request. Instead, we process more requests in parallel. I'll take a look at improving that in the future. However, it should be more responsive in general.

[2016-11-21 21:55] valery-shinkevich commented on #962
Added
[code]
but it did not help

[2016-11-21 22:07] wesrupert opened #976 "Support sourceModified on SetBreakpoints"
SetBreakpoints has a `sourceModified` flag that indicates whether or not the source has been modified. We need to acknowledge this flag and disable stale breakpoints.

[2016-11-21 22:10] valery-shinkevich commented on #962
What is the way for me to get more information from OmniSharp, and try to dig deeper ?

[2016-11-22 01:18] wenchengye commented on #970
@DustinCampbell thank you for your response, it works well now.

[2016-11-22 01:35] netcore-jroger commented on #930
why ?
-------------------------------------------------------------------
Updating C# dependencies...
Platform: win32, x86_64 (win7-x64)

Downloading package 'OmniSharp (.NET 4.6 / x64)' (12310 KB) .................... Done!
Downloading package '.NET Core Debugger (Windows / x64)' (21295 KB) . Done!

Installing package 'OmniSharp (.NET 4.6 / x64)'
Installing package '.NET Core Debugger (Windows /

[2016-11-22 01:37] gregg-miskelly commented on #930
@netcore-jroger what version of the C# extension do you have?

[2016-11-22 01:37] DustinCampbell commented on #930
It looks to me like the debugger bits didn't completely download so the ZIP file was likely corrupt.

[2016-11-22 01:37] DustinCampbell commented on #930
FWIW, this is a very different issue than the one reported in this bug. It might be worth submitting a new issue rather than commenting on a closed one.

[2016-11-22 01:39] netcore-jroger commented on #930
@gregg-miskelly  C# version :  1.5.2

[2016-11-22 01:48] netcore-jroger opened #977 "when download .NET Core Debugger got Error: "end of central directory record signature not found""
## Environment data
`dotnet --info` output:
------------------------------------------------
Updating C# dependencies...
Platform: win32, x86_64 (win7-x64)

Downloading package 'OmniSharp (.NET 4.6 / x64)' (12310 KB) .................... Done!
Downloading package '.NET Core Debugger (Windows / x64)' (21295 KB) . Done!

Installing package 'OmniSharp (.NET 4.6 / x64)'
Installing package '.NET Core D

[2016-11-22 01:52] gregg-miskelly commented on #977
@netcore-jroger if you remove %USERPROFILE%\.vscode\extensions\ms-vscode.csharp-1.5.2 directory and re-add the extension, do you get the same result?

[2016-11-22 02:11] gregg-miskelly commented on #676
As of 1.5, OmniSharp now runs on mono. So this is no longer an issue for OmniSharp (though it is for the debugger - see https://github.com/OmniSharp/omnisharp-vscode/issues/779).

[2016-11-22 02:11] #676 closed

[2016-11-22 02:15] gregg-miskelly commented on #779
NOTE: This work around will go away once the debugger is running on https://github.com/dotnet/corefx/issues/9394

[2016-11-22 02:18] netcore-jroger commented on #977
Let me try. @gregg-miskelly

[2016-11-22 04:46] netcore-jroger commented on #977
+ first, I removed %USERPROFILE%.vscode\extensions\ms-vscode.csharp-1.5.2 directory, then install 1.5.3 the latest version.
+ second: I use a httpProxy.
**It is properly installed.**
I'm from China. work network environment is relatively slow . May be related to this .

---------------------------- logs ----------------------------------

Updating C# dependencies...
Platform: win32, x86_64 (win7-x

[2016-11-22 04:47] #977 closed

[2016-11-22 05:21] TheBlueSky commented on #579
@DustinCampbell, happy to announce that 1.5.3 fixed it. I updated the extension this morning and finally saw the long-awaited message `Finished` 😄

And by the way, I am supporting Microsoft/vscode#6929 as well :)

[2016-11-22 05:40] netcore-jroger commented on #930
moved to [https://github.com/OmniSharp/omnisharp-vscode/issues/977](https://github.com/OmniSharp/omnisharp-vscode/issues/977)

[2016-11-22 05:43] DustinCampbell commented on #968
Do you have a project that reproduces the problem that you could share out?

[2016-11-22 05:46] DustinCampbell commented on #967
This was high on my list already, but I'll use this issue to to track it.

This is a warning (CS1701) that the C# compiler issues when unifying assembly references. Essentially, the problem occurs when downstream transitive assemblies reference different versions of an assembly. Most tools disable the warning, and that still needs to be done in OmniSharp. The problem is that the OmniSharp MSBuildP

[2016-11-22 05:58] DustinCampbell commented on #962
@valery-shinkevich: I haven't dug too deeply yet, but it appears to me that the issue has to do with folder depth. If I use your structure, it fails to find the project.json files. However, if I use the "src" and "test" folders that are created for me by the project template in VS 2015, it works fine.

[2016-11-22 05:59] DustinCampbell commented on #579
Glad to hear it! Fantastic!

[2016-11-22 06:06] DustinCampbell commented on #962
From reading the code in OmniSharp, I think I see where the bug is. I'm looking at this code: https://github.com/OmniSharp/omnisharp-roslyn/blob/dev/src/OmniSharp.DotNet/Projects/ProjectSearcher.cs#L76-L83

[code]

It looks to me like the `SelectMany(...)` after the initial `Where(...)` clause causes it skip searches the directories defined in the global.json and only look in directories underneat

[2016-11-22 06:10] DustinCampbell commented on #962
Note that there's a bit of information that might be helpful here on StackOverflow: http://stackoverflow.com/questions/34791682/explanation-of-the-projects-section-in-global-json-in-asp-net-5

[2016-11-22 06:14] DustinCampbell commented on #962
Yeah, I just debugged through OmniSharp and that's definitely where the failure is.

[2016-11-22 06:14] DustinCampbell commented on #962
For now, if you put your projects in the expected directory structure it will work. We should be able to address this in the next release of the C# extension.

[2016-11-22 06:30] Alonski commented on #968
This is a private project that I can't share. Any ways to debug this without the project?

[2016-11-22 06:32] DustinCampbell commented on #968
If you can reproduce the error on different project that you can share, that'd work. I'm going to need to attach a debugger to see what's going wrong.

[2016-11-22 08:25] Alonski commented on #968
I am having trouble moving around my projects so that I can have something to show you. Is there a way for me to attach the debugger?
Sorry for not being able to cooperate and thanks for helping.

[2016-11-22 12:24] HugoNijhuis commented on #975
Some additional info from the omnisharp log:

[INFORMATION:OmniSharp.Roslyn.CSharp.Services.Refactoring.V2.RunCodeActionService] Applying Microsoft.CodeAnalysis.CodeRefactorings.MoveType.AbstractMoveTypeService`5+MoveTypeCodeAction[Microsoft.CodeAnalysis.CSharp.CodeRefactorings.MoveType.CSharpMoveTypeService,Microsoft.CodeAnalysis.CSharp.Syntax.BaseTypeDeclarationSyntax,Microsoft.CodeAnalysis.CSha

[2016-11-22 12:41] Diogo-Queiroz commented on #937
If someone has no admin rights to install the .net framework 4.6, there is a way to make omnisharp work again?

[2016-11-22 12:52] weinand opened #978 "Debug adapter process has terminated unexpectedly on OpenSUSE 42.2"
_From @matteopasqualin on November 22, 2016 8:59_

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:46.244Z)
- OS Version: Linux x64 4.4.27-2-default
- Extensions: C#

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.5.3|

Hello, I'm running a simple web app with Linux distro OpenSUSE 42.2.
My project.json file:

`{
  "dependencies": {
    "Micro

[2016-11-22 13:51] DustinCampbell commented on #968
Does it happen if you create another project in Visual Studio? My suspicion is that several of the paths in your csproj files are incorrect.

[2016-11-22 13:51] DustinCampbell commented on #968
Sorry, to be clear, if you create another project in Visual Studio and try to open it in VS Code, do you see the same issue?

[2016-11-22 13:55] DustinCampbell commented on #962
It turns out that this issue and #904 have the same root cause. Linking them...

[2016-11-22 13:58] stefc opened #979 "The CLI tools preview4 with csproj results in Type-Mismatch Warnings"
## Environment data
Product Information:
 Version:            1.0.0-preview4-004110
 Commit SHA-1 hash:  740a7fe3fd

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64
 Base Path:   C:\Program Files\dotnet\sdk\1.0.0-preview4-004110

VS Code version: 1.7.1

C# Extension version: 1.5.4

## Steps to reproduce
create a new project with 'dotne

[2016-11-22 14:53] #394 closed

[2016-11-22 14:54] DustinCampbell commented on #394
This will be fixed in the next release. Thanks @filipw!

[2016-11-22 14:55] DustinCampbell commented on #979
Thanks for reporting this! It's a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/967.

[2016-11-22 14:55] #979 closed

[2016-11-22 15:05] raldred commented on #786
Confirmed working thanks @DustinCampbell

[2016-11-22 15:06] DustinCampbell commented on #786
Thanks for confirming!

[2016-11-22 16:09] ericwj commented on #253
@DustinCampbell I'm on C# 1.5.3 now. I think OmniSharp should just be smarter about this.

The problem is that to avoid the popup spam, there is only one option that is to put that setting in the User settings. I think adding this option is missing the point of the issue.

Trying to restore even a few projects using the (evidently important and recommended) buttons on the popup notifications, it v

[2016-11-22 16:12] DustinCampbell commented on #253
@ericwj: Thanks for the feedback. The plan is to just fix this so that it doesn't spam but provides a single popup. We're tracking this with https://github.com/OmniSharp/omnisharp-vscode/issues/141.

[2016-11-22 16:22] ericwj commented on #253
This would still be cheap, as clicking Restore a few times you'd still end up with massive spam and mixing pre-existing and new popups in random order. Going project-by-project is a user decision. They could have picked a solution or the directory. So it'd be OK to let the user pay for that for having to pick the project that still needs to be restored manually.

They'd need to wait for a popup to

[2016-11-22 17:10] filipw commented on #250
This was fixed by https://github.com/OmniSharp/omnisharp-roslyn/pull/665 - can be closed.

[2016-11-22 17:38] anfomin opened #980 "Autocomplete outputs error to the OmniSharp log"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.7.1
C# Extension version: 1.5.3

## Steps to reproduce

1. Create empty C# project running .NET Standard 1.6.
2. Create C# class.
3. Show autocomplete.

## Expected  behavior

There should be no errors in output.

## Actual behavior

Omnisharp log shows error for each autocomplete:
[code]

[2016-11-22 17:54] DustinCampbell commented on #980
Hi! Could you clarify the repro steps a bit? How did you create the empty C# project? Did you use `dotnet new`?

[2016-11-22 18:11] anfomin commented on #980
@DustinCampbell I've created project via custom `project.json`:
[code]

I've investigated. This exception occurs when autocompletion tries to find completion for variable name. For example, I'm entering: `Exception e`. When I enter `e` then exception logged:

![2016-11-22 23 09 41](https://cloud.githubusercontent.com/assets/1905503/20535961/ee35cc7c-b108-11e6-9f70-a458d8c30ca6.png)

[2016-11-22 18:15] DustinCampbell commented on #980
Thanks for the detailed repro. I'll take a look.

[2016-11-22 18:28] DustinCampbell commented on #967
Fix for this issue is here: https://github.com/OmniSharp/omnisharp-roslyn/pull/667/commits/44c5bc797d0f9f91ed723c6e8cfec5c6fe6d28da. Once we update to a newer OmniSharp, we'll produce a beta release with the fix.

[2016-11-22 18:56] DustinCampbell commented on #980
OK. I have a PR out to omnisharp-roslyn to fix this issue. FWIW, the behavior should be mostly benign. The completion is the same whether the exception is thrown or not.

[2016-11-22 19:01] anfomin commented on #980
I see that completion works but any exception in the log warns. Thanks.

[2016-11-22 20:51] #980 closed

[2016-11-22 23:02] gregg-miskelly commented on #978
@matteopasqualin my _guess_ is that openSUSE 42.2 isn't going to work yet - with the bits you have, the debugger is using the openSUSE 13.2 version of .NET Core, and I am guessing it is crashing at startup. For .NET Core 1.1 there is now an openSUSE 42.1 version of .NET Core. We are in the process of moving to 1.1 and I expect our next release to add this. So if openSUSE 42.2 is binary compatible

[2016-11-23 00:45] juanmcutrera commented on #938
Same issue. Folder bin and .debug don´t exist anymore. OmniSharp.exe doesnt't exists. Operating system Windows 10 Home Edition.

[2016-11-23 04:01] #962 closed

[2016-11-23 04:01] #904 closed

[2016-11-23 04:02] DustinCampbell commented on #904
This is fixed in OmniSharp now. Once we take a new build for the extension, we'll publish a beta that you can try. Otherwise, the fix will be available when we ship 1.6 of the extension in the coming weeks.

[2016-11-23 04:02] DustinCampbell commented on #962
This is fixed in OmniSharp now. Once we take a new build for the extension, we'll publish a beta that you can try. Otherwise, the fix will be available when we ship 1.6 of the extension in the coming weeks.

[2016-11-23 04:09] ivanmartinvalle opened #982 "launch.json and tasks.json not added when moving from project.json to .csproj"
## Environment data
`dotnet --info` output:
[code]
VS Code version: 1.6.1
C# Extension version: 1.5.3

## Steps to reproduce
1. Download the latest dotnet cli tools (preview 4)
1. mkdir foobar
1. cd foobar
1. dotnet new
1. code .

## Expected  behavior
I expect that Visual Studio Code would prompt me to add missing assets (launch.json and tasks.json).

## Actual behavior
Visual Studio Code does no

[2016-11-23 04:13] DustinCampbell commented on #982
This is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/767.

[2016-11-23 04:13] #982 closed

[2016-11-23 04:37] DustinCampbell commented on #938
@janmcutera: What version of the C# extension do you have installed? Did you delete all of the files specified above? Could you provide more information? FWIW, it's probably better to file a new issue with additional detail rather than comment on an older, closed issue.

[2016-11-23 06:02] matteopasqualin commented on #978
Hello Gregg,
I'm glad you will fix it. Yes I confirm I saw somewhere in the docs refrencing to 42.1 LTS version and not 42.2, but I thought there is no big change of pacakges between the two versions.

The official ones, I did a fresh install from the link below:
https://www.microsoft.com/net/core#linuxopensuse

I did another try before this post, this time with the "Hello World" simplest example

[2016-11-23 08:07] eamodio commented on #402
@DustinCampbell yup this looks good now. Closing...

[2016-11-23 08:07] #402 closed

[2016-11-23 13:07] FvdG commented on #878
Hi,

I've got two (probably newbie) issues :
1. I cant seem to build the project and run it locally? I'm using..
.NET Command Line Tools (1.0.0-preview3-004056)

Product Information:
 Version:            1.0.0-preview3-004056
 Commit SHA-1 hash:  ccc4968bc3

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x64

I've tried dotnet run , bu

[2016-11-23 13:34] psoszynski commented on #930
Today, I got the same thing:

Updating C# dependencies...
Platform: win32, x86 (win7-x86)

Downloading package 'OmniSharp (.NET 4.6 / x86)' (12181 KB) .................... Done!

Installing package 'OmniSharp (.NET 4.6 / x86)'

Finished
[ERROR]: C# Extension failed to install the debugger package

Then I followed the instructions from this thread, installed C# extension (1.5.2) from "VSIX", restar

[2016-11-23 14:49] DustinCampbell commented on #930
@psoszynski: As mentioned earlier, it's better to file a new issue than to comment on an older closed issue -- especially since the error you're getting is different than what this issue was filed for.

[2016-11-23 17:38] gregg-miskelly commented on #978
Thanks @matteopasqualin. I will try to get a beta release out soon that you can try to confirm/deny if this is the issue.

[2016-11-23 19:34] Novack- commented on #889
@DustinCampbell happening again on latest stable setup: Code 1.7.2, omnisharp 1.5.3

[2016-11-23 20:20] matteopasqualin commented on #978
Fine, all right.

[2016-11-23 20:58] DustinCampbell commented on #889
I don't believe the fix is in VS Code 1.7.2, which is a recovery build with a very specific fix. It should be in VS Code Insider builds. cc @jrieken to confirm.

[2016-11-23 21:47] Novack- commented on #889
@DustinCampbell Sorry man. Got carried by the anxiety.

[2016-11-23 21:58] DustinCampbell commented on #967
I've created a [v1.6-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2) release of the C# extension that contains this fix, among others. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2016-11-23 21:58] #967 closed

[2016-11-23 21:59] DustinCampbell commented on #904
I've created a [v1.6-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2) release of the C# extension that contains this fix, among others. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2016-11-23 21:59] DustinCampbell commented on #962
I've created a [v1.6-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2) release of the C# extension that contains this fix, among others. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2016-11-23 21:59] DustinCampbell commented on #980
I've created a [v1.6-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2) release of the C# extension that contains this fix, among others. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2016-11-23 21:59] DustinCampbell commented on #394
I've created a [v1.6-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2) release of the C# extension that contains this fix, among others. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2016-11-23 21:59] DustinCampbell commented on #672
I've created a [v1.6-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2) release of the C# extension that contains this fix, among others. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2016-11-23 22:00] DustinCampbell commented on #875
I've created a [v1.6-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2) release of the C# extension that contains this fix, among others. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2016-11-23 22:15] DustinCampbell commented on #889
No problem. :smile:

[2016-11-24 01:06] #779 closed

[2016-11-24 03:03] Jayatubi opened #987 "Goto definition not working for symbols from external module"
## Environment data

VScode: 1.7.2
OS: macOS Sierra 10.12
Unity: 5.4.1p1

C# Extension version: Omnisharp: 1.5.3

## Steps to reproduce

Try to press F12 or CMD+Click to goto the definition of an external module symbol, such as UnityEngine.dll

## Expected  behavior

Open a new tab and show the meta, reflection, information about the symbols

## Actual behavior

Nothing happens when press F12 and

[2016-11-24 03:12] DustinCampbell commented on #987
This has been working OK for me with 1.5.3. Could you share your OmniSharp Log? That might have some helpful information. Select View->Output to display the Output pane. Then, select OmniSharp Log from the drop-down at the top-right corner of the Output pane and copy and paste the information here.

[2016-11-24 03:19] Jayatubi commented on #987
The logs:

[code]

[2016-11-24 03:20] PradeepLoganathan commented on #904
@DustinCampbell  I installed the beta and also updated VS code to the latest version (1.7.1 --> 1.7.2 ) and am happy to say it works great :-) thanks. 👍

[2016-11-24 05:31] DustinCampbell commented on #987
It looks like you have the old Legacy C# extension installed. That extension is actually not supported any longer and really doesn't work all that well. Go ahead and uninstall that extension and install the C# extension (https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp). That version should work much better for you.

[2016-11-24 05:37] Jayatubi commented on #987
Reinstalling the plugin fixed this issue. Thanks. It works now.

[2016-11-24 05:37] #987 closed

[2016-11-24 05:42] DustinCampbell commented on #987
Glad to hear it. And, thanks for reminding me that we need to remove the Legacy C# extension from the marketplace. We left that there for a time when the C# extension's Unity support wasn't functioning last summer. Since that's no longer the case, I think we can probably remove it.

[2016-11-24 05:44] DustinCampbell commented on #836
Hi everyone! I'm curious to know if these issues still occur with the latest release of the extension (1.5.3). Also, I've created a [v1.6-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2) release of the C# extension that fixes several issues (including a significant fix for global.json). See this page for information on [installing beta releases](https://github.com/Omni

[2016-11-24 05:51] DustinCampbell commented on #526
Hi! I realize this issue is quite stale. However, I wanted to give you a couple of updates.

First, we've released version 1.5.3 of the C# extension, which should work much better for you if you're still trying to use the Legacy C# extension. Additionally, in the past several months VS Code has made a few UI changes to make it easier to view a large number of diagnostic issues in the Problems pane

[2016-11-24 05:52] DustinCampbell commented on #383
@larini: I'm sorry that this issue has grown so stale. Do you see this problem with the latest release of the C# extension?

[2016-11-24 05:54] DustinCampbell commented on #286
How did your experience go with the latest release?

[2016-11-24 05:59] DustinCampbell commented on #250
Indeed it is. Thanks @filipw!

FWIW, I've created a [v1.6-beta2](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2) release of the C# extension that contains this fix, among others. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2016-11-24 05:59] #250 closed

[2016-11-24 06:04] DustinCampbell commented on #970
@ammarsabir26: What version of VS Code and the C# extension are you using? Could you post your full OmniSharp log when it happens? I suspect OmniSharp is restarting.

[2016-11-24 06:07] DustinCampbell commented on #961
Hi, yes, that should work -- mostly. You might need to use `chmod 755` on a few of the files to make them executable.

[2016-11-24 06:07] #961 closed

[2016-11-24 08:25] 50774283 opened #989 "always Downloading package OmniSharp"
## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-1-003177)

Product Information:
 Version:            1.0.0-preview2-1-003177
 Commit SHA-1 hash:  a2df9c2576

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64

VS Code version:1.7.2
C# Extension version:1.5.3

## Steps to reproduce

first open VS cod

[2016-11-24 08:38] jrieken commented on #889
re https://github.com/OmniSharp/omnisharp-vscode/issues/889#issuecomment-262628438 correct. This is insiders already today and will be in 1.8 which arrives mid december

[2016-11-24 08:50] #989 closed

[2016-11-24 10:39] osmarlandin opened #990 "Debug adapter process has terminated unexpectedly on Fedora 24"
VSCode Version: 1.7.2
OS Version: Fedora 24
Steps to Reproduce:

1. Fresh install of Fedora 24
2. Follow the steps on https://www.microsoft.com/net/core#linuxfedora
3. Install VS Code
4. Install C# extension
5. Open an existing application
6. Try to debug that
On my output window, the error is "Failed to initialize CoreCLR, HRESULT: 0x80131500"

[2016-11-24 13:49] psoszynski opened #991 "[ERROR]: C# Extension failed to install the debugger package"
## Environment data
.NET Command Line Tools (1.0.0-preview3-004056)

Product Information:
 Version:            1.0.0-preview3-004056
 Commit SHA-1 hash:  ccc4968bc3

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64

VS Code version: 1.7.2
C# Extension version: Both 1.5.2 and 1.6.0-beta2

## Steps to reproduce
dotnet new
Navigate to P

[2016-11-24 15:12] DustinCampbell commented on #991
Since it never got to "Done!" for the debugger, I'm guessing the zip file was partially downloaded and corrupted. What's bizarre is that is that it stopped twice for the debugger. @psoszynski: If I understand you. the same thing has happened with multiple versions of the extension, correct?

Any ideas @gregg-miskelly?

[2016-11-24 15:22] DustinCampbell commented on #892
Hi! Sorry, we've taken so long to get back to you. Here are answers to your questions:

1. *Where do I execute that `dotnet --info` command?*

   We're expecting you to do this at a Terminal window (OSX/Linux) or a Command Prompt (Windows). However, that would only work if you had the .NET Core SDK installed. You might consider checking on the videos at this link to get started: https://channel9.m

[2016-11-24 15:26] psoszynski commented on #991
Yes, it happens with multiple versions. I also tried removing the C# extension from VSCode and installing it again but it doesn't help.

What is weird here is the Platform reported by the tool: win32, x86_64 (win7-x64) is not the same as win10-x64 which is the actual platform as shown at Product information part a little higher up.

Yesterday, I had the same issue on a different instance of Window

[2016-11-24 15:40] DustinCampbell commented on #991
Re: `win7-x64` is expected. This isn't necessarily the RID for your OS, it's the RID we're using to piack a download. `win7-x64` is fully compatible with `win10-x64`

[2016-11-24 17:36] gregg-miskelly commented on #990
Thanks @osmarlandin the debugger doesn't currently support Fedora 24. We are working on a beta release that will hopefully add it. I will let you know when it is out.

[2016-11-24 17:47] psoszynski commented on #991
I reinstalled .NET Core Preview3, this time with bits from this location (instead these that came with Visual Studio 2017 RC): https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md

Still not working, the message in output is a little shorter though:

Updating C# dependencies...
Platform: win32, x86 (win7-x86)

Downloading package 'OmniSharp (.NET 4.6 / x86)' (12230 KB) ...

[2016-11-24 17:57] gregg-miskelly commented on #991
@psoszynski: on the computer from the first output (the **x64** computer), does the C# extension try to download the debugger every time you start VS code and open a C# file or do we only try once (per install of the extension)? Does it take a long time to fail the first time (before the 'retrying from...' line gets printed)? If you try downloading the file in a web browser do you have any better

[2016-11-24 18:30] psoszynski commented on #991
@gregg-miskelly yes, on the x64 virtual machine the c# extension tries to download the debugger every time I start VS code and open a C# file. It doesn't take that long, about 15 seconds.

Well, I tried now 3 times and on the 3 attempt it succeeded! Here is the output:

Updating C# dependencies...
Platform: win32, x86_64 (win7-x64)

Downloading package 'OmniSharp (.NET 4.6 / x64)' (12359 KB) .....

[2016-11-24 18:31] psoszynski commented on #991
@gregg-miskelly  Just a short extra question, is it normal that my breakpoints do not get hit? The compilation and output looks ok.

[2016-11-24 18:32] mikehaas763 opened #992 "assuming assembly reference sys.runtime matches identity"
## Environment data
`dotnet --info` output:

[code]

VS Code version: 1.7.2
C# Extension version: 1.5.3

## Steps to reproduce
Create a new web project using cli tools preview 3
Open project with latest regular release version of vscode with c# extension

![image](https://cloud.githubusercontent.com/assets/2096573/20607884/1c3b2530-b24a-11e6-9ee0-4f483e5ce257.png)

I then see errors like this in P

[2016-11-24 19:27] filipw commented on #669
I think this is true going forward, as it will use desktop .net/embedded mono?

[2016-11-24 19:38] nathanielcook commented on #967
I uninstalled the extension, installed 1.6.0-beta2, added `<NoWarn>CS1701</NoWarn>` to the first PropertyGroup of the .NET Core csproj, and restarted VS Code, but it didn't make a difference--I still get the warning squiggly. Is there anything else I should be doing?

VSCode 1.7.2
.NET Command Line Tools (1.0.0-preview3-004056)

[2016-11-24 19:40] DustinCampbell commented on #967
Well, you shouldn't need to add that `<NoWarn>` as it's disabled automatically. Also, when you specify `<NoWarn>` in an MSBuild file, you don't add the "CS".

If you can share your project out I'll take a look.

[2016-11-24 19:46] nathanielcook commented on #967
Happens to me with Console.WriteLine in HelloWorld.

[code]
<img width="994" alt="screen shot 2016-11-24 at 4 45 45 pm" src="https://cloud.githubusercontent.com/assets/903784/20608960/8659958a-b265-11e6-9414-7eac9c4091d4.png">

[2016-11-24 19:56] DustinCampbell commented on #992
This should work with v1.6-beta2 of the extension available [here](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta2). See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases)

[2016-11-24 19:57] DustinCampbell commented on #992
Dupe of #967

[2016-11-24 19:57] #992 closed

[2016-11-24 20:02] DustinCampbell commented on #967
Hmmm... I'm not sure how to get ahold of Preview3 any longer, but I don't think that should matter. I just grabbed the latest Preview4 build from https://github.com/dotnet/cli and don't observe the problem any longer.

[code]

![image](https://cloud.githubusercontent.com/assets/116161/20609144/ca7fac18-b23d-11e6-8d12-573e4954b10c.png)

[2016-11-24 20:03] DustinCampbell commented on #967
Could you check `~/projects/extensions` on your machine and see if you have multiple versions of the C# extension installed?

Also, please copy-paste your OmniSharp Log here. You can find this by selecting View->Output from the menu and the selecting "OmniSharp Log" from the dropdown at the top-right corner of the Output pane.

[2016-11-24 20:12] nathanielcook commented on #967
That was it! I had another version/folder sitting in `~/.vscode/extensions`. (That's despite the fact that I uninstalled; weird.) Deleted that, restarted VS Code and now I'm golden.

By the way, preview 3 is [here](https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md). Link was found on [this blog post](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core

[2016-11-24 20:14] DustinCampbell commented on #967
I'm very glad that was it! I've seen this happen a couple of times now. Hmmm...

Anyway, have a great holiday weekend!

[2016-11-24 21:42] gregg-miskelly commented on #991
@psoszynski are there any warnings printed to the debug console?

[2016-11-24 22:57] psoszynski commented on #991
I startet a new clean project and the breakpoints are hit. Thanks anyway.

[2016-11-25 04:07] snaveevans commented on #990
I have the same issue.  I'd like to know about any future developments.  Thanks for all your work!

[2016-11-25 09:04] adamralph opened #993 "Support all logging levels via omnisharp.loggingLevel setting"
## Environment data
`dotnet --info` output:
[code]

VS Code version: 1.7.2
C# Extension version: 1.5.3

## Proposed feature

Allow full control of logging levels via the `omnisharp.loggingLevel` setting. Currently only `default` and `verbose` are supported. It would be good if we could have full control, i.e.

- `fatal`
- `error`
- `warn`
- `info`
- `debug`
- `verbose`

[2016-11-25 09:55] jrieken opened #994 "[ERROR]: C# Extension failed to install the debugger package on x86 Windows"
_From @AhmedMoosa on November 24, 2016 23:13_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: C# Extension from Microsoft.

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.5.3|
|debugger-for-chrome|msjsdiag|2.2.2|
|tcl|rashwell|0.1.0|

---

Steps to Reproduce:

1. Install c# extensi

[2016-11-25 17:59] gregg-miskelly commented on #994
Hi @AhmedMoosa, currently the debugger doesn't support x86 Windows. We are tracking that feature with https://github.com/OmniSharp/omnisharp-vscode/issues/844.

[2016-11-25 17:59] #994 closed

[2016-11-26 09:00] jkingston commented on #955
Thank you both for the comments on this and I appreciate the limitations of the VS Code extension gallery in this regard. That said, as my VS Code does not have an internet connection the extension gallery is not much use to me anyway. Would it be possible to publish platform-specific .vsix files via the Github releases page for future releases of this project? If so that would be greatly apprecia

[2016-11-26 15:11] PradeepLoganathan opened #995 "Add the ability to debug Xunit tests."
## Environment data
`dotnet --info` output:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|

[2016-11-26 15:41] valery-shinkevich commented on #962
Thank you. I just now saw your post. Everything is working! References displays as it should!

[2016-11-26 16:03] DustinCampbell commented on #962
Glad to hear it!

[2016-11-26 16:17] DustinCampbell commented on #955
Each platform-specific VSIX is around 40 or 50 MB and there 9 of them. Producing each of them for every single release really isn't practical. Also, they aren't officially supported. That's why we provide a way to produce platform-specific VSIXs specifically for scenarios like yours. It's a bit DIY, but did you try the instructions above?

[2016-11-27 03:33] hurricaneMitch commented on #878
Any word on when/if this support will happen? For now following the steps [here](https://docs.microsoft.com/en-us/dotnet/articles/core/docker/building-net-docker-images) is broken.

[2016-11-27 19:06] gregg-miskelly commented on #878
What issue are you seeing? The 1.5x version of the extension has basic support for preview 4.

[2016-11-28 09:04] weinand opened #997 "Debug adapter process has terminated unexpectedly"
_From @GabrielGGuerreiro on November 28, 2016 2:33_

- VSCode Version: 1.8.0-insider
- OS Version: Ubuntu 16.10
- dotnet --version: 1.0.0-preview2-1-003177

Steps to Reproduce:

1. sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ yakkety main" > /etc/apt/sources.list.d/dotnetdev.list'
2. sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-key

[2016-11-28 09:04] weinand commented on #997
@GabrielGGuerreiro please file .net/C# related issues against this repo https://github.com/OmniSharp/omnisharp-vscode

[2016-11-28 15:15] gregg-miskelly commented on #997
@GabrielGGuerreiro the debugger isn't yet supported on Ubuntu 16.10. We are tracking this with https://github.com/OmniSharp/omnisharp-vscode/issues/956. We hope to have a beta out this week.

[2016-11-28 15:15] #997 closed

[2016-11-28 18:24] #991 closed

[2016-11-28 18:27] gregg-miskelly commented on #844
NOTE that when we fix this, we need to remove the code added in https://github.com/OmniSharp/omnisharp-vscode/pull/998

[2016-11-28 20:35] CoenraadS commented on #888
#region folding doesn't work for me either, but I don't do any formatting. Just open the file and I cannot collapse regions.

[2016-11-29 12:24] stephenyao commented on #878
Hi, I'm using 1.0.0-preview2-003131 and everything is good, but I'm deploying to azure portal via git.

Everything was good except until recently, I'm getting the same error as stated above.

Presumably azure has updated to the latest CLI.

Is there any work around for this?

Thanks

[2016-11-29 15:40] gregg-miskelly commented on #878
@stephenyao do you know if this is the URL being used to obtain GetClrdbg -- https://raw.githubusercontent.com/Microsoft/MIEngine/getclrdbg-release/scripts/GetClrDbg.sh?

GetClrDbg will attempt to download zip files if it thinks it is using a version of the CLI that doesn't support project.json (see [here](https://github.com/Microsoft/MIEngine/blob/getclrdbg-release/scripts/GetClrDbg.sh#L154)). Bu

[2016-11-29 16:49] NinoFloris commented on #6
This is not fixed at all, codelens is so heavy for omnisharp to process as nothing is cached. No request are cancelled either (after switching editor tabs, old request are still running)

Omnisharp just chokes up at some point, especially with codelens heavy (many referenceable items) files. Switching a few times between files is also a good way to kill omnisharp.

[2016-11-29 17:26] DustinCampbell commented on #6
@NinoFloris, could you file a new issue? The issue here has been reported fixed in another bug report by those that filed this issue.

[2016-11-29 18:02] jchannon commented on #975
Can confirm I see the same

[2016-11-29 18:40] NinoFloris commented on #6
Well it is directly linked because the singlethreadedness was a way to at least throttle the incoming barrage of work. This surfaces now that they are run concurrently

[2016-11-29 19:18] DustinCampbell commented on #6
Sorry. I'm not sure I understand what you mean. Again, please file a new issue so that we can dig in.

[2016-11-30 03:28] gregg-miskelly opened #1001 "Windows IoT core isn't supported"
Currently the debugger doesn't provide a version of clrdbg which works on Windows IoT core -

* The version of clrdbg on Windows only targets the Desktop API set
* Clrdbg is only compiled for x64

This item tracks creating a version of clrdbg that can run on IoT core and making it possible to download through the GetClrdbg.sh/.ps1.

[2016-11-30 03:32] gregg-miskelly commented on #1001
@munyirik FYI

[2016-11-30 18:26] chrmarti opened #1003 "Function Parameters show XML instead of parsed XML in description part."
_From @sorab2142 on November 30, 2016 7:31_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|theme-monokai-dark-soda|AdamCaviness|0.0.5|
|python|donjayamanne|0.5.2|
|Theme-FlatlandMonokai|gerane|0.0.4|
|Go|lukehoban|0.6.45|
|cpptools|ms-vscode|0.9.1|
|

[2016-11-30 18:26] chrmarti commented on #1003
Not sure if that's on our side. @joaomoreno ?

[2016-11-30 18:26] chrmarti commented on #1003
_From @joaomoreno on November 30, 2016 16:43_

This is an issue with the extension providing the contents to the parameter hints: [omnisharp](https://github.com/OmniSharp/omnisharp-vscode). Please file an issue there.

[2016-11-30 20:14] gregg-miskelly commented on #990
@osmarlandin @snaveevans I've created a [v1.6-beta3](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta3) release of the C# extension that should address this. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

[2016-11-30 20:16] gregg-miskelly commented on #978
@matteopasqualin I've created a [v1.6-beta3](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta3) release of the C# extension that I hope addresses this. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

[2016-11-30 20:16] gregg-miskelly commented on #956
@fedihor I've created a [v1.6-beta3](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta3) release of the C# extension that should address this. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

[2016-11-30 20:22] gregg-miskelly commented on #839
@luyzfernando I've created a [v1.6-beta3](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta3) release of the C# extension that should address this. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

[2016-11-30 20:33] seijikun commented on #839
@gregg-miskelly I can debug again! (Fedora24) Thanks! 😁

[2016-11-30 20:34] gregg-miskelly commented on #839
@seijikun excellent!

[2016-11-30 20:34] #839 closed

[2016-11-30 22:35] semyon2105 commented on #661
@tomasvarg Installing icu54 from AUR fixed that for me (I used debugger for fedora.23-x64)

[2016-12-01 03:23] klase opened #1004 "OSX + Unity error"
## Environment data
 Version:            1.0.0-preview2-1-003177
 Commit SHA-1 hash:  a2df9c2576

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

VS Code version: 1.7.2
C# Extension version: 1.5.3

I get the following error when opening my Unity (5.4.1f1) project in vscode:

[WARNING:OmniSharp#ProjectFileInfo] Couldn't locate Mono,

[2016-12-01 08:27] matteopasqualin commented on #978
Hello Gregg,

yes, it works now with the .vsix release.

Here are the screenshots as feedback.

1. Updated dependencies after installing the new extension:

2. Console app at debugging

I did a test also with .NET Core web app in an IActionResult method and it
works fine.

PS. Maybe the task is up to developers at the Editor: if you did a "dotnet
run" and then start debugging, the framework throws

[2016-12-01 12:10] ranbuch opened #1005 "Breakpoint not hitting in VSCode with aspnet - JavaScriptServices (Angular 2 Universal)"
## Environment data
`dotnet --info` output:
VS Code version: 1.0.0-preview2-003131
C# Extension version: 1.6.0-beta3

## Steps to reproduce
Initiate a new .net core project with Angular Universal like mentions here:
https://github.com/aspnet/JavaScriptServices
[code]
(Select Angular 2 and enable testing)

Check the template by running this:
[code]
on the command line.

Stop the application (by hit

[2016-12-01 12:19] ViktorEvil commented on #1004
get the same error but complains of .NET framework v3.5 not found

[2016-12-01 16:20] gregg-miskelly commented on #1005
@ranbuch what OS are you on and what does your launch.json look like?

[2016-12-01 16:35] gregg-miskelly commented on #978
@matteopasqualin Thanks for verifying!

The debugger (or the build system if you get a build error) doesn't have any understanding of what port the app is going to run on when we start debugging. So there isn't much we can do about that.

[2016-12-01 16:37] ranbuch commented on #1005
1. Windows 10.
2.
[code]
3. Breakpoints  works well on my *.cshtml files, but not on my *.cs files.

[2016-12-01 16:56] gregg-miskelly opened #1006 "Debugger doesn't correctly format AggregateException"
## Environment data
`dotnet --info` output:
[code]
C# extension version: 1.6.0-beta3

## Steps to reproduce
Run the following program under the debugger

[code]

## Result:
The expression evaluator cannot format the aggregate exception:
$exception
Count = error CS0103: The name 'InnerExceptionCount' does not exist in the current context

## Notes:
The issue looks like a problem with invoking the p

[2016-12-01 17:23] gregg-miskelly opened #1007 "Exception experience in VS Code is somwhat confusing"
## Environment data
VS Code version: 1.8.0-insider (Commit be33bcdb2beb2d01c76ec8f830a70feaaa6721f5)

## Steps to reproduce
Run the following program under the debugger

[code]

## Expected  behavior
VS Code should somewhat prominently show me the Exception type, if this is an unhandled exception, and the exception message. While in this trivial example these things are obvious from looking at the

[2016-12-01 17:30] gregg-miskelly commented on #1007
@weinand is providing a basic dialog that comes up to display the `text` property of the exception something that VS Code might consider adding? Or should we just try and solve this on our side by dumping more information to the console?

[2016-12-01 17:34] gregg-miskelly commented on #978
@matteopasqualin not sure if you were seeing the exception from the running program, or the build error, but I decided that the exception experience was a little confusing in this case, so I did open up this bug to try and improve that: https://github.com/OmniSharp/omnisharp-vscode/issues/1007.

I am closing this one since the original issue is now fixed.

[2016-12-01 17:34] #978 closed

[2016-12-01 17:36] gregg-miskelly commented on #1005
@ranbuch Do you have portable PDBs enabled? https://github.com/OmniSharp/omnisharp-vscode/wiki/Portable-PDBs#net-cli-projects-projectjson

[2016-12-01 17:46] matteopasqualin commented on #978
Hello Gregg,
clear, I see. Thanks.

[2016-12-01 18:03] HugoNijhuis commented on #975
I've just tested this in the 1.6-beta3 and it also happens there. If there is anything I can do to help fix this, please let me know.

[2016-12-01 19:26] tugberkugurlu opened #1008 "Types inside the renamed file are seen as duplicate"
## Environment data
`dotnet --info` output:
[code]

VS Code version:

[code]

C# Extension version:

[code]

## Steps to reproduce
Load a project, rename a file which has a class in it.

## Expected  behavior

Should work as it has been before.

## Actual behavior

It doesn't unload the type inside the deleted file and see the type inside new file as a duplicate:

![image](https://cloud.githubuser

[2016-12-02 00:20] blendsdk opened #1009 "Ubuntu 16.10 "Debug adapter process has terminated unexpectedly""
I am unable to debug on a Ubuntu vm. I get the following  error:

- Debug adapter process has terminated unexpectedly
- ASP.NET Core 1.1 preview 2
- VSCode:
    Version 1.7.2
    Commit 7ba55c5860b152d999dda59393ca3ebeb1b5c85f
    Date 2016-11-21T22:14:18.217Z
    Shell 1.3.8
    Renderer 52.0.2743.82
    Node 6.5.0

Any ideas?

[2016-12-02 00:24] gregg-miskelly commented on #1009
@blendsdk this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/956.

I've created a [v1.6-beta3](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.6-beta3) release of the C# extension that should address this. See this page for information on [installing beta releases](https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases).

[2016-12-02 00:24] #1009 closed

[2016-12-02 07:58] qian6 opened #1010 "OmniSharp puts up 'This application requires one of the follwing versions of the .NET Framework..' prompt"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.2
C# Extension version: v.1.6.0-beta3
.NET Core version: 1.0.0-SDK Preview2-003133

## Steps to reproduce
1. Open vscode and click Extensions button install C# Extension.
![capture](https://cloud.githubusercontent.com/assets/20922638/20826282/c28d28ba-b8a4-11e6-9c59-e7c6b1153cd3.PNG)
2. click Restart Now button.
3. Open hwapp folder

[2016-12-02 09:54] GraceDong opened #1011 "Debugger launch has a race condition making breakpoints in startup code are unreliable"
## Environment data
`dotnet --info` output:
VS Code version: 1.7.2
C# Extension version: v.1.6.0-beta3
.NET Core version: 1.0.0-preview2 -1 - 003177
OS: Linux Mint

## Steps to reproduce
1. Download Attach folder in attachments directly and open with VSCode
[Attach.zip](https://github.com/OmniSharp/omnisharp-vscode/files/626780/Attach.zip)
2. Select the debug type ''.Net core Launch(console)"
3. S

[2016-12-02 09:59] fogzot opened #1012 "On Linux OmniSharp is started with Mono even if told not to"
I am trying to open a dotnet core msbuild project with VS Code on Linux and everything works, except that the extension marks as not found all the assemblies that come with the netcoreapp1.0 framework and as "wrong version" the ones that have a compatible name in the Mono .NET 4.5 framework.

I guess this happens because the extension starts OmniSharp with Mono even if dotnet is correctly installe

[2016-12-02 10:30] jamesnpu commented on #1011
I've run to the similar issue.

The same version of VS Code, C# Extension and .NET Core
OS: CentOS-7-x86_64-DVD-1511
Desktop: KDE

The BP could be seldom hit. Once hit, pressed restart and it just missed to hit the BP.
While the same issue didn't reproduce in a same OS with a  gnome desktop.

[2016-12-02 10:49] jamesnpu commented on #1011
Similar issue in Oracle Linux, failed to hit BP.

VS Code version: 1.7.2
C# Extension version: v.1.6.0-beta3
.NET Core version: 1.0.0-preview2 -1 - 003177
OS: Oracle Linux Release 7

[2016-12-02 16:15] gregg-miskelly commented on #1011
From the Grace's log I don't have any good guess as to what went wrong -- symbols were loaded, the breakpoint was bound, and the app exited normally.

[2016-12-02 16:22] gregg-miskelly commented on #1010
@qian6 as of C# extension 1.5, this is expected on Windows. Its not debugger related, so it will not impact the debugger (other than things like generating a launch.json will not work). If you click 'yes' should hopefully get help installing .NET 4.6.

[2016-12-02 16:22] #1010 closed

[2016-12-02 22:42] DustinCampbell commented on #1012
That's actually by design. The "omnisharp.useMono" setting only functions when you've also used the "omnisharp.path" setting to use a custom OmniSharp.

The warning that you're getting has nothing to do with the fact that OmniSharp is running on Mono. The runtime on which OmniSharp runs and the location of the reference assemblies it uses are orthogonal (i.e. it doesn't pick reference assemblies f

[2016-12-02 22:42] #1012 closed

[2016-12-03 04:20] almo2001 opened #1013 "Doesn't deal with spaces in dll hintpaths in .csproj files"
## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-1-003177)

Product Information:
 Version:            1.0.0-preview2-1-003177
 Commit SHA-1 hash:  a2df9c2576

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64

VS Code version: 1.7.2
C# Extension version: 1.5.3

## Steps to reproduce
Put Unity.app in a

[2016-12-03 07:37] 0xFireball commented on #879
sorry about how long it took me to get back :( @DustinCampbell
thanks for your quick fix! it works perfectly, just like on Windows :tada:

[2016-12-03 09:06] fogzot commented on #1012
The line that made me think it was a Mono-related problem was:

[code]

in the OmniSharp log. Anyway, I'll try the beta and let you know.

Thanks.

[2016-12-03 09:12] fogzot commented on #1012
I confirm the beta solves the problem. Thanks again.

[2016-12-03 14:53] DustinCampbell commented on #1012
Excellent! Very glad to hear it!

Yes, the TargetFrameworkRootPath is set to Mono to ensure that desktop targets and tasks for MSBuild get picked up when you open such a project. However, .NET Core targets and tasks are pulled in through NuGet.

[2016-12-03 14:53] DustinCampbell commented on #879
Excellent! Thanks for letting us know.

[2016-12-03 14:55] DustinCampbell commented on #1013
Thanks for the report. I'll take a look.

[2016-12-05 09:27] tmds commented on #990
@gregg-miskelly works like a charm!

How are you building https://vsdebugger.azureedge.net/coreclr-debug-1-6-0/coreclr-debug-fedora.24-x64.zip? I was trying to do it via https://raw.githubusercontent.com/Microsoft/MIEngine/getclrdbg-release/scripts/GetClrDbg.sh, but I had not figured out how to make it work.

[2016-12-05 14:09] elangelo commented on #564
Is possible to receive some instructions too? I'm used to working with archlinux for quite a while and have been een C# dev for decade too. Hate to have to switch distro just to get debugging to work.

[2016-12-05 15:09] chrmarti opened #1015 "Automatic Formatting is using 4 spaces instead of what I set it to use"
_From @Lazzu on December 2, 2016 14:10_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|githistory|donjayamanne|0.1.2|
|Theme-azure|gerane|0.0.2|
|theme-chrome-devtools-dark|ivanzusko|0.0.1|
|omnisharp|ms-vscode|0.3.3|
|better-merge|pprice|0.3.0|
|vsc

[2016-12-05 15:09] chrmarti commented on #1015
_From @mrmlnc on December 2, 2016 14:12_

Language?

[2016-12-05 15:09] chrmarti commented on #1015
_From @Lazzu on December 2, 2016 14:12_

C#

[2016-12-05 15:09] chrmarti commented on #1015
_From @mrmlnc on December 2, 2016 14:14_

Is a random problem?

I ask because we have similar problem with JS/TS (#15316).

[2016-12-05 15:09] chrmarti commented on #1015
_From @Lazzu on December 2, 2016 14:16_

I haven't noticed it being random.

[2016-12-05 15:09] chrmarti commented on #1015
@waderyan @jrieken Could this be a more general issue than just with JS/TS? (#15316)

[2016-12-05 15:09] chrmarti commented on #1015
_From @jrieken on December 5, 2016 9:51_

re https://github.com/Microsoft/vscode/issues/16386#issuecomment-264553165 - I don't think so

[2016-12-05 15:33] gregg-miskelly commented on #564
@elangelo is there an arch-Linux compatible version of .NET Core available for download from Microsoft?

If one of the official builds from Microsoft works - this is pretty easy, we just need to change the platform detection code in src/platform.ts to return the runtime id of this compatible distro.

Otherwise - this might not be possible to solve. You could try downloading one of the debugger zip

[2016-12-05 15:39] DustinCampbell commented on #1015
This is essentially a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/93. For now, you can specify formatting settings [using an omnisharp.json file](https://github.com/OmniSharp/omnisharp-roslyn/issues/366).

[2016-12-05 15:39] #1015 closed

[2016-12-05 15:54] DustinCampbell commented on #1004
Hi @ViktorEvil -- in order for the C# extension to provide IntelliSense for Unity, Mono needs to be installed somewhere on the system. Otherwise, it can't find the assemblies that your projects reference. You can install Mono by downloading it from http://www.mono-project.com/download/ or install it via Howebrew.

[2016-12-05 16:52] gregg-miskelly commented on #1005
@ranbuch were you able to check that out?

[2016-12-05 16:53] micdah commented on #975
I'm also experiencing this bug in macOS running VS Code 1.7.2

[2016-12-05 16:59] gregg-miskelly commented on #990
@tmds Excellent!

The omnisharp downloader is pulling a slightly newer version of clrdbg (and the other files in the debugger) then what is possible to obtain through GetClrDbg.sh. We are currently working on our zip-production system, and hope to have everything pointed at the same versions, and at pulling zip files instead of nugget's soon. But we aren't quite there yet.

[2016-12-05 16:59] #990 closed

[2016-12-05 18:11] osmarlandin commented on #990
Not working here...
"Unexpected end of JSON input. Stopping the debug adapter."

[2016-12-05 18:32] osmarlandin commented on #990
@gregg-miskelly

--------------------------------------------------------------------------------
You may only use the C# Extension for Visual Studio Code with Visual Studio
Code, Visual Studio or Xamarin Studio software to help you develop and test your
applications.
--------------------------------------------------------------------------------
Loaded '/opt/dotnet/shared/Microsoft.NETCore.App/1

[2016-12-05 19:01] gregg-miskelly commented on #990
@osmarlandin can you [enable logging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Enabling-C%23-debugger-logging#quick-method) in your launch.json and see if something interesting comes back at the end of the trace?

[2016-12-05 19:34] elangelo commented on #564
I have dotnet running on my ArchLinux machine. The tarball for ubuntu 16.04 of dotnet (dotnet-dev-ubuntu.16.04-x64.1.0.0-preview2-1-003177.tar.gz) works just fine on archlinux as well.

[2016-12-05 20:11] gregg-miskelly commented on #564
@elangelo can you try downloading https://vsdebugger.azureedge.net/coreclr-debug-1-6-0/coreclr-debug-ubuntu.16.04-x64.zip and extracting it to ~/.vscode/extensions/ms-vscode.csharp-__ver__/.debugger (replace **ver** with the version you have installed, make sure it is at least 1.5). Please verify you can hit breakpoints and the locals window will populate.

If that works, cat you send me your /etc

[2016-12-05 20:59] elangelo commented on #564
@gregg-miskelly this worked thnx!
what i did:
- created .debugger directory in ~/.vscode/extensions/ms-vscode.csharp-1.5.3/.debugger
- unzipped the content of coreclr-debug-ubuntu.16.04-x64.zip in .debugger
- chmod +x OpenDebugAD7 and clrdbg (not sure why these two lost their executable properties, maybe zip doesn't understand those?)
- open C# project and finally enjoy debugging

for your info: /

[2016-12-05 21:12] cra0zy commented on #564
You can also include Antergos if you are submitting something for Arch Linux, since it's like a glorified installer for Arch, the `etc/os-release` file for it looks like:
[code]

[2016-12-05 21:22] gregg-miskelly commented on #564
@cra0zy we will respect `ID_LIKE` so actually that will automatically work if I check for 'arch'.

Okay, I will try and get out a fix for this soon.

[2016-12-06 04:53] ranbuch commented on #1005
@gregg-miskelly The PDBs enabled fixed my problem.

Thank you!

[2016-12-06 04:54] #1005 closed

[2016-12-06 10:19] alexandrudima opened #1016 "ASP.NET Core Project templates- Feature Request"
Moved from Microsoft/vscode#16521

From @chandusekhar

---

If ASP.NET Core Project templates are introduced in VSCODE it will be great.

[2016-12-06 14:17] DustinCampbell commented on #1016
This is similar to #944 and #261, though not entirely the same.

There isn't really a facility for producing project templates in VS Code today like we have in Visual Studio. For ASP.NET Core in VS Code, it's generally expected that users will create projects using the command line tools. For example, the following command-line should do exactly what you want.

[code]

Then, if VS Code is on your

[2016-12-06 14:50] osmarlandin commented on #990
@gregg-miskelly After restarting my computer, it started working with the first project I ran. But if I open another web projet and try to debug that, the problem occurs. I restarted again, and experienced the same behavior.

This is the end of the log file, as you asked for:

[100minfo: Microsoft.AspNetCore.Authentication.Cookies.CookieAuthenticationMiddleware[7]
1: (6625) ->~"      Identity.Appl

[2016-12-06 16:37] osmarlandin commented on #990
@gregg-miskelly If I stop the debugger and try to start again, the error occurs. Basically, it works just one time, then I need do restart my computer.

[2016-12-06 17:37] #757 closed

[2016-12-06 17:37] #960 closed

[2016-12-06 18:56] gregg-miskelly commented on #564
Okay, I have what I think is a fix. If someone can validate it that would be helpful:

1. Download this file: [csharp-1.6.0-dev-ArchLinux.vsix.renamed.zip](https://github.com/OmniSharp/omnisharp-vscode/files/634740/csharp-1.6.0-dev-ArchLinux.vsix.renamed.zip)
2. Remove the '.renamed.zip' extension from the file
3. Follow the instructions on [installing beta releases](https://github.com/OmniSharp/o

[2016-12-06 19:09] PotterDai opened #1018 "Should read DefineConstants in CSPROJ."
## Environment data
`dotnet --info` output:
VS Code version: 1.7.2
C# Extension version:
1.5.3
## Steps to reproduce
Using DefineConstants within the project.

## Expected  behavior
All DefineConstants should be under intellisense.

## Actual behavior
None DefineConstants appears in intellisense.

[2016-12-06 20:27] Figbash commented on #1004
@klase I had this same issue, I think it was from multiple mono installs.  Installing mono from the download didn't work, but doing:
brew install mono
brew link --overwrite mono

fixed it for me.

[2016-12-06 21:25] ivanz commented on #888
This is a dupe of #617

[2016-12-06 22:04] aggieben opened #1019 "Latest Code/OmniSharp (1.6.0-beta3) doesn't load symbols for my project when attaching"
## Environment data
`dotnet --info` output:

[code]

VS Code version: 1.7.2
C# Extension version: 1.6.0-beta3

## Steps to reproduce

Created new web project with preview2 CLI like this:
`dotnet new -t web`

// actively developed project

try to attach to running process

## Expected  behavior
Symbols loaded and debugger fully functional.

## Actual behavior

No symbols loaded for my project, brea

[2016-12-06 22:04] DustinCampbell commented on #1004
It can also happen if "mono" isn't on your path. In order to provide IntelliSense, we attempt to locate the folder that Mono puts target frameworks from the location of "mono". (Essentially, we execute "which mono" and then execute "readlink" a number of times to find the real canonicalized path.)

[2016-12-06 22:20] gregg-miskelly commented on #1019
@aggieben Do you have portable PDBs enabled? https://github.com/omniSharp/omnisharp-vscode/wiki/Portable-PDBs

If so -
* Any warnings printed to the console?
* If you find the line in the console that talks about your module, any indication why symbols weren't loaded?

[2016-12-06 22:25] aggieben commented on #1019
Yep, I have `debugType` set to portable.  I pasted the entire project.json at the bottom.

There are warnings printed to the debugger console indicating a failure to load symbols for system assemblies, but nothing else.  There is no mention of my module that I can see, either.

[code]

[2016-12-06 22:34] #36 closed

[2016-12-06 22:35] DustinCampbell commented on #36
This will be fixed in the 1.6 release of the C# extension. Thanks @filipw!

[2016-12-06 22:55] gregg-miskelly commented on #1019
@aggieben if the debugger doesn't see your module even loaded, then that is certainly the problem. Are you sure you are debugging the right process (maybe write your process id to the console)?

[2016-12-06 23:06] DustinCampbell commented on #1018
This should ultimately be addressed by https://github.com/OmniSharp/omnisharp-roslyn/issues/78.

[2016-12-06 23:28] aggieben commented on #1019
@gregg-miskelly I was fairly sure I had the right pid - pulled it from procexp to be sure - but not you've got me doubting, so I'll double check and post back.

[2016-12-06 23:40] aggieben commented on #1019
Yes, I picked the right PID to attach.  Here's the entirety of the debugger output when I attach:

[code]

There is no mention of my assembly, `Saddleback.IdentityServer.Web.dll`.

[2016-12-06 23:47] gregg-miskelly commented on #1019
@aggieben from process explorer do you see your dll loaded in this process?

[2016-12-06 23:53] aggieben commented on #1019
Aha!  So just assumed like a goofball that I should attach to `dotnet.exe`, but I'm actually building my application as a self-contained app, which means the process I care about is actually `Saddleback.IdentityServer.Web.exe`, which is another processed owned by the `dotnet.exe` CLI because I execute it with `dotnet run`.

Makes sense now.  I attached to `Saddleback.IdentityServer.exe` and it loa

[2016-12-07 00:51] gregg-miskelly commented on #1019
Cool. Glad you solved it.

[2016-12-07 00:51] #1019 closed

[2016-12-07 01:00] gregg-miskelly commented on #990
@osmarlandin I re-setup a Fedora 24 box, but I am still not able to repro this. A few questions, sorry if some of these are obvious, but I just want to make sure:

1. You are using the 1.6.0-beta3 version of the C# extension correct? (if you aren't sure, you can check in VS Code using View->Extensions).
2. You are using Fedora 24 correct? (just want to make sure since 25 is the version that the Fe

[2016-12-07 01:34] gregg-miskelly commented on #1011
I have a repro now. This is a launch race. If I change the code to do --

[code]

My breakpoint always hits, but frequently it doesn't hit until the second iteration of the loop. I thought this might be a regression in dbgshim, but I switched back to the 1.0 version of dbgshim and I see the same issue.

[2016-12-07 02:11] GraceDong commented on #1011
Yes, you're right. I used your code, the same issue appeared on my Oracle Linux.

[2016-12-07 07:23] elangelo commented on #564
@gregg-miskelly just tested this. Works like a charm! (Y)

[2016-12-07 08:45] filipw commented on #36
great 👍 cc @sinclairzx81

[2016-12-07 08:55] weinand opened #1021 "Debugging c# code on visual studio code"
_From @Cartouche on December 6, 2016 17:47_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.6.0|
|php-intellisense|felixfbecker|0.0.12|
|auto-close-tag|formulahendry|0.3.6|
|code-runner|formulahendry|0.6.1|
|beautify|HookyQR|0.6.2|

[2016-12-07 08:55] weinand commented on #1021
This is a .NET/C# issue.

[2016-12-07 10:45] sinclairzx81 commented on #36
This is awesome news. Great work @filipw, champion!!  👍 :)

[2016-12-07 15:20] gregg-miskelly commented on #1021
@Cartouche if you open a command prompt, what do you get from 'where dotnet.exe' and 'dotnet.exe --info'. It sounds like you somehow have the 32-bit .NET Core SDK installed.

[2016-12-07 15:20] gregg-miskelly commented on #564
@elangelo Excellent. I will merge the PR then. Thanks!

[2016-12-07 15:20] #564 closed

[2016-12-07 17:22] jlmakes commented on #526
Thanks for the response @DustinCampbell

### Updated Environment
- .NET CLI 1.0.0-preview2-1-003177
- Mac OS X 10.11
- VS Code version: 1.7.2
- C# Extension version: 1.5.3

The upgrade in C# extension seems to successfully replace the legacy extension with regards to mono support and working with Unity. Nice! Also, the warnings have indeed been downgraded to infos, and instead of showing 99+ it no

[2016-12-07 20:06] ViktorEvil commented on #1004
@DustinCampbell Thanks :)

[2016-12-07 21:09] klase commented on #1004
@Figbash cheers that did it for me as well :)

[2016-12-07 21:11] klase commented on #1004
@DustinCampbell thanks for your help feel free to close this.

[2016-12-07 21:27] #956 closed

[2016-12-07 21:40] DustinCampbell commented on #1004
Glad to hear you got it working.

[2016-12-07 21:40] #1004 closed

[2016-12-08 04:58] garymacpherson opened #1023 "Cannot Debug any .Net Core application"
## Environment data
.NET Command Line Tools (1.0.0-preview2-1-003177)

Product Information:
 Version:            1.0.0-preview2-1-003177
 Commit SHA-1 hash:  a2df9c2576

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.3.9600
 OS Platform: Windows
 RID:         win81-x64

VS Code version: 1.7.2
C# Extension version: 1.5.3

## Steps to reproduce
1. dotnet new
2. dotnet restore
3. open fol

[2016-12-08 05:09] gregg-miskelly commented on #1023
@garymacpherson that error seems to be from VS Code itself. Not quite sure what is going wrong, but can you try this:

1. Delete your tasks.json/launch.json file (or rename them)
2. Hit F1 to open the command pallet and execute '.NET: Generate Assets for Build and Debug'
3. Hopefully you should see new tasks.json/launch.json files get created. If so, try to start debugging.

[2016-12-08 05:23] garymacpherson commented on #1023
@gregg-miskelly thanks for the suggestion, but no change.

Tested on a separate machine with the exact same environment and resulted in exactly the same error.

Hopefully raising an issue over at vscode's github will lead to something.

[2016-12-08 05:41] dmccaffery commented on #393
I've been hitting this constantly as well... might try to add a PR if work on this has not been ongoing... let me know.

[2016-12-08 05:47] dmccaffery commented on #8
There is a third-party extension that (mostly) provides this functionality:

https://marketplace.visualstudio.com/items?itemName=k--kato.docomment

What is required of roslyn to achieve this? The fact that it does not support navigating comments within the document?

[2016-12-08 12:37] DustinCampbell commented on #8
I need to expose a new API from Roslyn so that the same feature is not simply re-implemented inside of OmniSharp. Remember, this feature already exists in Roslyn today, and it's a little tricky to get right. The feature is not just generating XML doc comments on ///, but also inserting /// on enter, handling indents properly, getting undo behavior to be correct, not interfering with XML doc commen

[2016-12-09 00:53] dmccaffery commented on #8
@DustinCampbell What I meant was, there was an issue sometime ago within Roslyn (probably specifically as it relates to analyzers) whereby navigating the document tree would not expose comment blocks -- it would skip over them. I assumed something similar might be in play here. At any rate, I am no expert when it comes to the roslyn APIs, so I will definitely take your word for it. :)

[2016-12-09 01:14] garymacpherson commented on #1023
**# FIXED**

1. Copy extension from C:\Users\{user}\.vscode\extensions
2. Paste in a temporary location
3. Uninstall extension from VS Code
4. Copy extension to C:\Program Files (x86)\Microsoft VS Code\resources\app\extensions
5. Restart VS Code

[2016-12-09 01:19] gregg-miskelly commented on #1023
@garymacpherson I don't understand what is going wrong in VS Code to understand why that worked, but glad you found a work around. Should we close this since it doesn't sound like an extension problem?

[2016-12-09 01:59] garymacpherson commented on #1023
Funny how vscode github closed it as an extension problem. All good, Thanks for your comments.

[2016-12-09 01:59] #1023 closed

[2016-12-09 15:22] kkukshtel commented on #674
Just want to comment on this issue as well and still state that it's a headache on VSCode. Not sure if anything has changed, but the highlighting available is poor at best across almost all themes.

@DustinCampbell - if you have any pointers about where to start to make this a community effor it woudl be much appreciated.

![highlight](https://cloud.githubusercontent.com/assets/7715279/21053901/6d

[2016-12-09 15:30] DustinCampbell commented on #674
@kkukshtel: The regular expressions used to colorize code are on this repo and we're definitely accepted pull requests. The problem (I think) is that you're looking for colorization that requires semantic information (i.e. is this identifier a class, an interface, a property, etc.?), which can't be determine via regular expressions. We already have all of that information with OmniSharp via Roslyn

[2016-12-09 18:47] GuardRex commented on #967
![capture copy](https://cloud.githubusercontent.com/assets/1622880/21060556/9c07e8e2-be0d-11e6-8ee6-4aa8a7a56734.png)

@DustinCampbell I'm getting this, but I don't understand where to look for dup C# extensions. Can you provide the full path?

[2016-12-09 18:52] DustinCampbell commented on #967
On Windows, look under %UserProfile%\.vscode\extensions.

[2016-12-09 18:54] GuardRex commented on #967
Ah .... thanks ... but no dice at `C:\Users\<USER>\.vscode\extensions` ...

![capture copy](https://cloud.githubusercontent.com/assets/1622880/21060749/9e5e4e3c-be0e-11e6-840c-6ee36257629c.png)

[2016-12-09 18:55] DustinCampbell commented on #967
It looks like you haven't installed the latest beta release as mentioned above: https://github.com/OmniSharp/omnisharp-vscode/issues/967#issuecomment-262639992

[2016-12-09 18:56] GuardRex commented on #967
Gotcha ... thanks. I thought it was just going to be the dup C# extenstion prob. I'll get the beta release on here.

[2016-12-09 18:58] DustinCampbell commented on #967
The dup problem can happen _after_ installing the beta.

[2016-12-09 19:24] dbeattie71 commented on #967
Install with: code --install-extension csharp-1.6.0-beta2.vsix

[2016-12-09 19:29] DustinCampbell commented on #967
Or use the UI like so: https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-Beta-Releases

[2016-12-09 19:33] nathanielcook commented on #767
I see this is marked as "in progress", which is exciting. Is it slated for 1.6 or 2.0? It will be pretty difficult for new users to get started with .NET Core/VS Code if they have to hand edit those json files to run HelloWorld.

[2016-12-09 19:35] DustinCampbell commented on #767
It is currently slated for 1.6.

[2016-12-09 20:55] gregg-miskelly opened #1024 "C# extension should provide launch.json templates"
With the November 2016 release of VS Code, there is now support for launch.json templates. See https://github.com/Microsoft/vscode/issues/16937 for examples.

This is less interesting for the C# extension since we normally generate launch.json, but it is useful in a few cases --
* Users with multiple launch projects that would like multiple launch configurations
* Adding templates for SSH

We shou

[2016-12-10 09:53] Galilyou commented on #975
Can Confirm.

VsCode Info:
=========

C# Extension 1.5.3

[2016-12-10 17:15] Mecil9 commented on #290
I wanna debug a program , throw an error:
`The program '/Users/JCNetwork-Mecil9/HomeWork/C#/projectApp/bin/Debug/netcoreapp1.1/projectApp.dll' has exited with code 0 (0x00000000).`
Is the same as the solution to this problem?

my launch.json file:
[code]
i can see the correct results on the vscode's debug console view.
thX

[2016-12-10 17:21] gregg-miskelly commented on #290
@Mecil9 you might want to open a new issue rather than adding comments to an already closed one. A few questions to answer in the new issue (assuming my questions don't help you figure things out yourself):

* What isn't happening that you are expecting? For example, do you have breakpoints set that aren't hitting? Seeing `The program '/Users/JCNetwork-Mecil9/HomeWork/C#/projectApp/bin/Debug/netco

[2016-12-11 02:00] GGG-KILLER opened #1025 "Problems with .NET Core 1.1 projects"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version: 1.5.3

OmniSharp Log:

[code]

## Steps to reproduce
- Create new project `dotnet new -t Web`
- Open containing folder with VS Code

## Expected  behavior
- Extension generates appropriate `.launch.json`/`tasks.json` files;
- Extension offers to restore packages;
- Debugging configuration is set to C#.

[2016-12-11 13:24] Mecil9 opened #1027 "Unable to perform this action because the process is running."
## Environment data
`dotnet --info` output: 1.0.0-preview2-1-003177
VS Code version:1.7.2
OS: OSX 10.12.1
C# Extension version: 1.5.3
mono version :4.8.0

When i debug C# program , is throw a Error:
[code]
stop debug, then throw another error:
`The program '/Users/Mecil9/Homework/hwapp/bin/Debug/netcoreapp1.1/hwapp.dll' has exited with code 0 (0x00000000).
`

my launch.json file:
[code]

go to Vis

[2016-12-11 13:51] qslcna opened #1028 "Always show "Downloading package 'OmniSharp (.NET 4.6 / x64)' (12310 KB) .""
## Environment data
`dotnet --info` output:

[code]

VS Code version: `1.7.2`
C# Extension version: `1.5.3`

## Steps to reproduce
Open vscode
Open a .cs file

## Expected  behavior

## Actual behavior
OUTPUT
[code]
##
I check the package.json file and find the this:
[code]
and
[code]
I download those files(`coreclr-debug-win7-x64.zip` and  `omnisharp-win-x64-1.9-beta19.zip`) manually and decompre

[2016-12-11 17:31] gregg-miskelly commented on #1027
@Mecil9 I **think** the message `Unable to perform this action because the process is running` is coming from your program rather than the debugger itself. What kind of app are you trying to debug (ex: console app, web app)? Near the call stack window do you see `PAUSED ON EXCEPTION`? If you are debugging a web app, do you have another copy running?

[2016-12-11 17:36] gregg-miskelly commented on #1025
@GGG-KILLER you look at https://github.com/OmniSharp/omnisharp-vscode/projects/2 to track the various work items related to support for .NET Core csproj.

To get dependencies to resolve, try doing a `dotnet restore` on the command line.

[2016-12-11 22:25] GGG-KILLER commented on #1025
@gregg-miskelly Oh, thank you! Since the description on the readme was a bit ambiguous I had no idea of what was actually available or not.

I suppose I'll just close this as a duplicate of #767 then.

[2016-12-11 22:25] #1025 closed

[2016-12-11 22:51] ivanz commented on #877
Having it in the dotnet org makes sense. I don't really mind. Main thing is to avoid duplicated work between VSCode, Atom and potentially others given that there have been substantial improvements to the C# grammar (imho) and its test coverage in the VSCode repo already

[2016-12-11 23:27] damieng commented on #877
I'm up for sharing a common grammar file for C# if we can.  Ideally the repo would be just enough for the grammar and a platform-agnostic test suite.  That way we might be able to include it as a submodule or some kind of other similar mechanism to wrap it with each products necessary additional files.

The other issue to sort out would be the license. The one on this repo doesn't include any of t