[2019-06-04 20:58] divillysausages opened #3096 "[C#] "this" will autocomplete as "ThreadStaticAttribute" when writing ternary expressions before ending semi-colon has been added"
## Issue Description ##

Issue Type: <b>Bug</b>

It happens mostly when writing ternary expressions (e.g. `(condition) ? doThis() : orThat()`) or when using `()` brackets in an assignment, _but before the ending semi-colon has been added._

When it happens, auto-complete doesn't seem to recognise that `this` exists, but will only show something like `ThreadStaticAttribute` (if there's a `using Sys

[2019-06-04 21:43] Bobgernaut commented on #3016
Any news or update on this situation?
If this issue cannot be fixed, I will simply find an other IDE.

On May 7, 2019 7:23 PM, B Man <zigie_inc@hotmail.com> wrote:
Sorry about that.

here you go
https://github.com/Bobgernaut/Assignment-5---User-Interface.git

________________________________
From: Akshita Agarwal <notifications@github.com>
Sent: May 6, 2019 2:19 PM
To: OmniSharp/omnisharp-vscode
C

[2019-06-04 23:29] nelsontkq commented on #3077
For a quick fix whilst this issue is open you can create a symlink at `/usr/local/bin/dotnet` seems to solve the issue.
`ln -s $(which dotnet) /usr/local/bin/dotnet`

[2019-06-05 16:42] rchande commented on #3016
Ping @akshita31

[2019-06-05 16:51] rchande commented on #3096
@divillysausages I'm having trouble reproducing this. Can you share the exact text where this happens for you?
![image](https://user-images.githubusercontent.com/3751401/58974512-695be980-8777-11e9-8982-596e8ce46e55.png)

[2019-06-05 22:39] divillysausages commented on #3096
Hi @rchande,

Thanks for taking the time to look at this. On my end, in trying to get a screenshot of the issue, it doesn't seem to happen with every class and I haven't yet been able to nail down the reason why.

This is what it looks like when it happens:

![image](https://i.imgur.com/9IWZdqh.png)

(https://imgur.com/a/4oUXw81 if it doesn't link). This is inside a Unity project; I'm not sure if

[2019-06-05 23:05] rchande commented on #3096
@divillysausages That screenshot is perfect, looks like this happens if there's a variable declaration after the one you're creating, eg:
[code]

I can reproduce this in VS 2019, so this is actually a bug in Roslyn, the project that implements C# intellisense for Visual Studio and that provides the library omnisharp uses in order to do completion. I've gone ahead and filed https://github.com/dotne

[2019-06-05 23:05] #3096 closed

[2019-06-05 23:08] borup3 commented on #2932
Thanks for taking time to re-report this issue.

I second this. It is unfathomable how for several years this has been and still is considered acceptable.

[2019-06-06 02:04] perfmlin opened #3098 "Unable to generate assets to build and debug"
## Issue Description ##
Unable to generate assets to build and debug
## Steps to Reproduce ##

## Expected Behavior ##

## Actual Behavior ##

## Logs ##

### OmniSharp log ###
<details>Starting OmniSharp server at 2019/6/6 上午9:44:38
    Target: e:\x-netcore\hello

OmniSharp server started.
    Path: C:\Users\Administrator\.vscode\extensions\ms-vscode.csharp-1.19.1\.omnisharp\1.32.19\OmniSharp.exe

[2019-06-06 07:43] divillysausages commented on #3096
Excellent, thank you! I was worried that I was going to have to move the bug again; it was originally posted in the VSC GitHub :D

[2019-06-06 20:49] mmello-certica opened #3099 "Unable to load a project on wsl"
## Issue Description ##
OmniSharp.MSBuild.ProjectManager fails to load a project that resides on the Windows Subsystem for Linux (WSL).

## Steps to Reproduce ##
In the WSL, create a new dotnet console project (e.g. /home/<name>/src/mynewproject). Back in Windows, start VS-Code and open the folder (e.g. \\wsl$\Debian\home\<name>\src\mynewproject).

## Expected Behavior ##
Onmisharp to load the pro

[2019-06-07 01:04] #2610 closed

[2019-06-07 09:55] jiayaoO3O opened #3101 "the C# plugin output error, showing:Error: connect ECONNREFUSED 127.0.0.1:10803"
## Issue Description ##
I tried to debug dotnet core in the server using **vscode remote mode**, but the the C# plugin output error, showing:
[code]
## Steps to Reproduce ##
1. Connect to ubuntu18.04 using vscode remote mode
2. Use **add configuration** for an dotnet core project.
## Expected Behavior ##
Download Downloading package 'OmniSharp for Linux (x64)' successfully
## Actual Behavior ##
[c

[2019-06-07 10:06] jiayaoO3O commented on #3101
I found the problem!!!
After I shut down my v2ray agent software, vscode can install the plugin normally!!!
But I can't understand, isn't the plugin I installed using remote mode installed on a remote ubuntu server? Why does my own client computer use the proxy software that causes the installation to fail?

[2019-06-07 10:21] SuddenGunter opened #3102 "Errors during solution loading"
## Issue Description ##
If I look to Output tab in vscode, and after some projects are loaded, other fails to load with same error (see logs attached).
May it be caused ~300 projects in same solution?
May it be caused that path for referenced projects in csproj looks like windows-specific (\ - with this char instead of /)?
All projects in solution are .Net Core 2.1 + some .Net Standard 2.0 librari

[2019-06-07 16:18] seanmccay opened #3103 "Intellisense not working after update to vscode 1.35"
Issue Type: <b>Bug</b>

1. open vscode with dotnet core sln
2. get warning notification that some projects couldn't load
3. see intellisense not able to provide methods, classes, etc. It can only give me suggestions of things I've already typed.

I tried to uninstall and reinstall the extension. I had previously installed a beta version in order to fix an issue the extension had with the latest ve

[2019-06-07 16:44] akshita31 commented on #3103
@seanmccay Could you try setting "omnisharp.useGlobalMono": never and then restarting vscode

[2019-06-07 16:47] akshita31 commented on #3103
We have often seen similar issues when mono is upgraded on linux/mac systems and the new version doesnt have certain files that are needed by omnisharp. When you set the above option, you instruct omnisharp to use the mono version shipped with itself which has all the necessary files.

[2019-06-07 16:48] akshita31 commented on #3101
@jiayaoO3O You can try configuring vscode to use the proxy https://code.visualstudio.com/docs/setup/network

[2019-06-07 16:49] akshita31 commented on #3093
@TeYoMe Did you get it working? If yes we can close this issue here.

[2019-06-07 16:57] seanmccay commented on #3103
Ok, updated my user settings and restarted vscode + omnisharp and still get the same result. Is there another step I should take to make sure the setting is taking effect?

[2019-06-07 17:56] felixgerdes opened #3104 "Omnisharp not find the program"
## Logs ##

### OmniSharp log ###
<details>Post the output from Output-->OmniSharp log here</details>

### C# log ###
<details>Post the output from Output-->C# here</details>

## Environment information ##

**VSCode version**: 1.35.0
**C# Extension**: 1.19.1

<details><summary>Mono Information</summary>
        OmniSharp using built-in mono</details>
<details><summary>Dotnet Information</summary>

[2019-06-07 19:28] seanmccay commented on #3103
@akshita31 I just rebooted my machine as well. I'm not sure if there might be something cached somewhere... Still pretty new to Linux. I still have the same results though.

It looks like I get Intellisense for stuff outside of my own code like in Microsoft/System namespaces at least but omnisharp still can't load my projects.

[2019-06-07 21:17] seanmccay commented on #3103
@akshita31 Tried out extension version 1.20.0-beta1 and no changes. So I'm guessing Mono isn't the issue? Unless the useGlobal setting isn't taking effect... Not sure how to tell.

[2019-06-07 21:36] seanmccay commented on #3103
I reinstalled dotnet core following the instructions on the .net core site and somehow went from version 2.2.3 to 2.2.204, but my intellisense is operational again :man_shrugging:

[2019-06-07 21:36] #3103 closed

[2019-06-07 23:57] kpko commented on #1726
Hi everyone, doesn't Roslyn already support pulling configuration from .editorconfig via https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Options/EditorConfig/EditorConfigDocumentOptionsProviderFactory.cs in Workspaces?

See also:
- Providing code styles via .editorconfig: https://github.com/dotnet/roslyn/blob/master/src/CodeStyle/Core/Analyzers/Options/AnalyzerConfigOptio

[2019-06-08 01:38] jiayaoO3O commented on #3101
@akshita31 I just don't understand why the local computer's proxy service software affects the remote server installation plugin.

[2019-06-08 10:29] satscape commented on #2670
Thanks for the info @Moortiii  I have Ubuntu 19.04. Already had packages installed, but Installing mono-devel and mono-complete from the repo shown in your link, rather than the older default packages solved my issues ("Attempted to update project that is not loaded" as well as several other problems relating to C#/Unity)

[2019-06-09 01:42] jasonmalinowski commented on #1726
@kpko Yes, that's the proper support we're building. We're starting to test that internally and work through a few other design issues before we call that good.

[2019-06-09 13:12] Eyap53 commented on #3076
Upgrading Mono from 5.18 to 5.20 solved this issue for me.

[2019-06-09 19:28] lucastheisen opened #3106 "Links from the _PROBLEMS_ console appear to be relative to the `.csproj` file rather than the solution folder"
## Issue Description ##
Links from the _PROBLEMS_ console appear to be relative to the `.csproj` file rather than the solution folder.

## Steps to Reproduce ##
1. Create a new solution with the following structure:
[code]
1. Include StyleCop and FxCop (in the `.csproj`):
[code]
1. Ensure `src/Bar/Bar.cs` has a warning like missing triple slash doc
1. Set up build task:
[code]
1. Run the build
1.

[2019-06-09 19:37] lucastheisen commented on #3106
I attempted modification to the build to use:
[code]
But links are still broken...

[2019-06-09 19:42] lucastheisen commented on #3106
Likely related to [
Problem matcher can't support absolute and relative filenames at the same time](https://github.com/microsoft/vscode/issues/449)

[2019-06-09 20:04] lucastheisen commented on #3106
UGH!  My google-fu failed me...  Along with soooo many others.  Multiple duplicates:
1. https://github.com/OmniSharp/omnisharp-vscode/issues/1197
1. https://github.com/OmniSharp/omnisharp-vscode/issues/1963
1. https://github.com/OmniSharp/omnisharp-vscode/issues/2073

Resolve by adding `/property:GenerateFullPaths=true` to the `dotnet build`:
[code]
Or change at the project level with:
[code]

[2019-06-09 20:04] #3106 closed

[2019-06-09 23:04] gregg-miskelly commented on #3104
@felixgerdes you have a `>` character after `test.dll`.

[2019-06-09 23:04] #3104 closed

[2019-06-10 00:28] akshita31 commented on #3076
@JuliusHerrmann Could you try updating mono as mentioned above and checking if the issue still persists.
You could also try setting "omnisharp.useGlobalMono": never and then restarting vscode.

[2019-06-10 07:11] mrmowji opened #3107 "error parsing glob '!**/SyncToy**': invalid use of **; must be one path component"
## Issue Description ##
Omnisharp extension doesn't auto-complete. I only get the highlighting.
After the dot, I only get keywords already used in my current file, nothing more.

## Steps to Reproduce ##

1. Install VS Code.
2. Install C# extension by Microsoft.
3. Create a new ASP.Net Core web app.

## Expected Behavior ##
It should do the auto-complete and provide related properties and methods

[2019-06-10 18:01] rchande commented on #3102
@SuddenGunter Can you try setting `omnisharp.useGlobalMono` to never and see if that helps? I wonder if this is an issue with the specific mono installation on your machine (given that it's crashing in .net framework code)

[2019-06-10 20:41] rchande commented on #3107
@mrmowji Can you share a screenshot that shows the paths we display? Hard to diagnose what's happening without seeing the paths.

[2019-06-11 00:40] #3093 closed

[2019-06-11 03:07] mrmowji commented on #3107
@rchande Sorry. I didn't get what you mean by the "paths". Would you please elaborate?

[2019-06-11 09:17] Tovli commented on #3048
@akshita31 - the intellisense  is doing me a hard time as well.
It works for some of the projects but don't work for others
I'm with omnisharp 1.19.1 and vscode 1.35

omnisharp log
[code]

[2019-06-11 11:19] omerciftcibasi opened #3108 "Intellisense stops working occasionally"
## Actual Behavior ##
Intellisense stops working occasionally. When it stoped, even if I restarted my computer it didn't work, when I disabled and enabled the extension, it started to work somehow.
## Logs ##

### OmniSharp log ###
<details>Post the output from Output-->OmniSharp log here</details>

### C# log ###
<details>Post the output from Output-->C# here</details>

## Environment information

[2019-06-11 11:51] SuddenGunter commented on #3102
hmm
maybe this is the issue, yeah. I forget that there are several .Net FW projects in that solution. If I'm not interest in them - I can ignore this crash warnings?

[2019-06-11 17:32] Tschrock commented on #3088
I've since done a full reset of Windows 10 (using the "Reset my PC" feature) and reinstalled VS Code/VS 2019 and can no longer replicate this. Not sure what exactly triggered it :shrug:.

[2019-06-11 17:33] #3088 closed

[2019-06-11 18:48] hiranya911 commented on #3057
Hi @akshita31. I tried the above setting but to no avail.I'm getting a different error now though:

[code]

[2019-06-11 19:13] joaomoreno commented on #2771
@gregg-miskelly Great news, the first bullet point has been addressed, since the latest Insiders already supports ARM as a remote SSH target: https://twitter.com/joaomoreno/status/1138379435839754240

Now all we need are the following 3 bullet points... 💪

[2019-06-11 21:02] gregg-miskelly commented on #2771
@joaomoreno very cool! But to be clear, I am not sure this changes things too much --

* If you want this because you just want to debug on a Raspberry Pi, but you will run VS Code on an x64 PC - that was actually something that the C# extension has supported for a long time via remote debugging. Some folks might find VS Code remote an interesting option as an alternative, but there are some downs

[2019-06-12 00:41] linnia78 commented on #2719
I'm getting similar issue but with a different path
C:\Program Files\dotnet\sdk\2.2.300\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(208,5): Error: The "ResolvePackageAssets" task failed unexpectedly.
NuGet.Packaging.Core.PackagingException: Unable to find fallback package folder **'/usr/share/dotnet/sdk/NuGetFallbackFolder'.**
at NuGet.Packaging.FallbackPackagePath

[2019-06-12 10:00] PaoloLaurenti commented on #2970
@rchande I see the same problem also with `"omnisharp.path": "1.32.16"`.

[2019-06-12 14:27] DvIMPact opened #3111 "Omnisharp fails to load project, can't find the correct .NET Framework"
## Issue Description ##
## Steps to Reproduce ##
Launch https://github.com/Autodesk-Forge/bucket.manager-csharp-sample.tool in VSCode

## Expected Behavior ##
Should start the Bucket Manager app.

## Actual Behavior ##
Can't load project.

## Logs ##

### OmniSharp log ###

## Environment information ##

**VSCode version**: 1.35.0
**C# Extension**: 1.19.1

<details><summary>Dotnet Information</sum

[2019-06-12 18:30] zeroskyx commented on #2621
@rchande: thank you for the clarification -- what would be the steps to fix the issue? It would be really great to have it working again with .NET Core 3 coming up :)

Keep up the great work!

[2019-06-12 20:39] mikes-gh commented on #3073
Just tried 1.20 and this is now fixed for me with the new serverReadyAction config

[2019-06-12 20:39] #3073 closed

[2019-06-13 11:28] natanfudge opened #3112 "IntelliSense completion for unimported types"
Since [Visual Studio 2019 version 16.1 preview 3](https://devblogs.microsoft.com/visualstudio/visual-studio-2019-version-16-1-preview-3/) Visual Studio supports completions for unimported types. See the blog post for most information.
Please implement this feature in Visual Studio Code.

[2019-06-13 11:32] filipw commented on #3112
This is tracked in OmniSharp by https://github.com/OmniSharp/omnisharp-roslyn/issues/1482

[2019-06-13 13:32] Natanielsr opened #3113 "the extension is not auto complete the libraries properties"
the extension is not auto complete the library properties, i need to copy paste the names because, the properties of libraries not showing to me

[2019-06-13 13:54] ssameng commented on #1044
I check back every hundred times Visual Studio Mac hangs and crashes on me (so every week?) hoping this is implemented. I sadly am just not nearly as productive without this feature.

I'd love to support this in some way so I can finally switch to VS Code.

[2019-06-13 14:49] rotoCalvin opened #3114 "C# 1.20.0 and Unity Not Working"
## Issue Description ##
The C# extension works for a few minutes, but then stops everything, including error detection and intellisense. This is a Unity project.

## Steps to Reproduce ##

## Expected Behavior ##

## Actual Behavior ##

## Logs ##

### OmniSharp log ###
<details>Starting OmniSharp server at 6/13/2019, 10:42:16 AM
    Target: c:\projects\roto\danville\Yoga\Yoga.sln

OmniSharp serve

[2019-06-13 16:32] rchande commented on #2392
Filed an issue against Roslyn for the second point. C# extension would need to surface the first point.

[2019-06-13 18:51] borup3 commented on #3114
This happens in pure .NET Core 2.2 as well. downgrading to 1.19.1 makes OmniSharp work again. Sometimes the server fails to launch, other times it launches but does nothing.

[2019-06-13 21:27] langheran commented on #1154
https://github.com/OmniSharp/omnisharp-vscode/blob/master/debugger-launchjson.md

[2019-06-13 22:53] Hyphena commented on #3114
I just saw that there was an update to the extension and hoped this issue would be fixed... I guess not. That sucks, I guess I'll just stick to 1.19.0 for the unforeseeable future.

[2019-06-14 06:33] Linshiqi commented on #2755
I have this problem too, my vscode version is 1.35.1,  I have created project using dotnet new classlib, and corresponding test project using dotnet new xunit. Blow is my project structure:
my_solution
      project1
      project1.test
      Utilities(this is just a folder)
           utilityProject1
           utilityProject2
     mysolutions.sln
I have using dotnet sln add all projects to mysol

[2019-06-14 12:26] Chicopower opened #3115 "Net cli tools cannot be located when using Snap VSCODE installation"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview6-012264
 Commit:    be3f0c1a03

VS Code version:
1.35.1

C# Extension version:
1.20.0

OS: Debian Buster

## Steps to reproduce
- Install VSCODE with Snap (sudo snap install --classic code)
- Install .Net Core SDK with Microsoft Debian recommended way (manual way, not by snap, descri

[2019-06-14 14:01] sandy081 opened #3116 "Flag machine specific configurations like paths as machine scoped"
I am developer from VS Code and we introduced Machine Scope for configurations in [1.34](https://code.visualstudio.com/updates/v1_34#_machinespecific-settings) which will help in [remote set ups](https://code.visualstudio.com/docs/remote/remote-overview).

I would like to encourage extension authors to adopt to machine scope if you have any settings that you think they are scoped to machine like `

[2019-06-14 15:04] gregg-miskelly commented on #3115
This is tracked with #3077

[2019-06-14 15:04] #3115 closed

[2019-06-14 15:12] gregg-miskelly opened #3117 "Custom Set Next Statement code should be removed"
VS Code recently added built-in support for set next statement (called "Jump to Cursor"). This extension should remove its custom command since it is no longer needed.

[2019-06-14 15:23] gregg-miskelly commented on #3101
@sandy081 since you commented on another issue about [machine-scoped options](https://code.visualstudio.com/updates/v1_34#_machinespecific-settings), have the proxy server options been fixed to be machine-scoped?

[2019-06-14 15:44] korolevsa commented on #2876
I have the same problem

[2019-06-14 15:45] korolevsa commented on #2970
I have the same problem

[2019-06-14 16:43] wtksana opened #3118 "how to autocomplete suggestions method with brackets?"
when i have a method
void foo(){}

now when i select  IntelliSense it will print 'foo'
wish to be 'foo()'
autocomplete with '()'

[2019-06-14 16:45] wtksana commented on #3118
sorry for my bad English, hope you can understand

[2019-06-15 08:47] HJami opened #3119 "Timeout issue"
## Issue Description ##
  This is just a simple HelloWorld dotnet core project.
## Steps to Reproduce ##
  Just open up the visual studio and it happens. I even changed the timout in Settings.json to 1000 but it is not helping. I can use IntelliSense in another machine with the same VSCode version and same project.
## Expected Behavior ##
  Working
## Actual Behavior ##
  Timeout
## Logs ##

### O

[2019-06-15 11:11] spaasis commented on #3060
Hmm, if I uninstall the WebCompiler (https://github.com/madskristensen/WebCompiler) and restart Omnisharp there's no errors, so I guess this is actually a WebCompiler bug. Should I close this one when I post a new issue over there?

[2019-06-15 11:23] HJami commented on #3119
I check the onicsharp config  file. apparently it used .net 4.7.2. I only had core and .net 3.5. after I installed .net framework v4.7 the issue reolved.

[2019-06-15 11:26] #3119 closed

[2019-06-16 09:26] iblazhko opened #3120 "Error opening project with SpecFlow reference"
## Environment data
`dotnet --info` output:

[code]

VS Code version:

[code]

C# Extension version: `1.20.0`

## Steps to reproduce

Open a folder with project that contains SpecFlow reference

[code]

See https://github.com/iblazhko/vscode-specflow-bug for the complete solution.

## Expected  behavior

Project loads successfully

## Actual behavior

Error loading the project

[code]

I can confi

[2019-06-16 10:22] iblazhko commented on #3120
The problem is that OmniSharp expects the file

[code]

but the file is in fact at

[code]

Notice `BuildSystem` vs `Buildsystem`.

Probably SpecFlow should have followed conventions and use `BuildSystem`, but dotnet CLI can handle this path just fine.

[2019-06-16 11:53] rcl4444 opened #3121 "ignore or Specify Properties/launchSettings.json setting"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version:
[code]
## Steps to reproduce
.vscode/launch.json‘s setting below:
[code]
my host project Properties/launchSettings.json‘s setting below:
[code]
## Expected  behavior
Project uses environment variables to change application configuration.when I start debug app, I hope the Properties/launchSettings.json

[2019-06-16 21:19] thesamesam commented on #2771
@gregg-miskelly My use case is using a Pi as a base to connect to from other devices through the Remote feature, but even though vsdbg runs on the Pi, the extension doesn't seem to work (complains about architecture).

Given that a remote instance of Visual Studio Code would end up running the debugger, it would now be permitted under the license?

[2019-06-16 22:39] mm-jeremy commented on #2507
@Moortiii Downloading and installing Mono from your link worked for me on MacOS Mojave 10.14.5. Thanks!

[2019-06-17 07:39] sandy081 commented on #3101
@gregg-miskelly Good point, they are not. We will look into making them into machine scope.

[2019-06-17 14:22] gregg-miskelly commented on #2771
@thesamesam there is no licensing reason why that scenario can't work, but I think you would be better off using [remote debugging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Remote-Debugging-On-Linux-Arm) instead. Firstly, because it works today, so right now, it is the only option. But also because, at least if you have a reasonably sized project, the language service (Omnisharp) can be

[2019-06-17 15:31] gregg-miskelly commented on #3101
@sandy081 should we move this issue over to the VS Code repo?

[2019-06-17 17:29] gregg-miskelly commented on #3121
To make sure I understand the request: you would like a launch.json setting to explicitly indicate a launchSettings.json profile, and if specified, environment variables from the lauchSettings profile would trump even launch.json. Do I have that correct?

[2019-06-17 20:34] Chiliyago opened #3122 "OmniSharp.MSBuild.ProjectManager Failed to load project file"
## Environment data
.NET Core SDK (reflecting any global.json):
 Version:   2.2.300
 Commit:    73efd5bd87

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.300\

Host (useful for support):
  Version: 2.2.5
  Commit:  0a3c9209c0

.NET Core SDKs installed:
  1.1.0 [C:\Program Files\dotnet\sdk

[2019-06-17 22:09] thesamesam commented on #2771
@gregg-miskelly Oh, I misunderstood then. I can see why the processor might be a problem. The main reason I'm keen on it is having the filesystem constant when I'm changing machines.

At the moment, when I tried Remote (Insiders; Nightly SSH) + Pi + C# extension, I had the armv7 error for debugging and it didn't seem to download or fire up OmniSharp either (so nothing happened, bar the error). I'm

[2019-06-17 22:43] gregg-miskelly commented on #2771
If we fixed this issue, the remote scenario would also be addressed, so no need to open a separate issue.

[2019-06-18 08:29] rcl4444 commented on #3121
Yes.This distinguishes the impact of VS configuration.

[2019-06-18 10:00] zzstuzor opened #3123 "C# vscode extension fails to download omnisharp - how to install manually?"
Trying to install the C# for VSCode extension, but my internet is terrible so dotnet keeps failing to download omnisharp. I'm using Linux Mint 19.1.

I have managed to download omnisharp-linux-x64-1.32.20.zip manually, but it doesn't come with a vsix file, so I don't know how to install it.

I found the csharp-1.20.0.vsix file, along with the omnisharp-vscode-1.20.0.tar.gz files, but not sure what

[2019-06-18 11:22] jcreek commented on #2041
I've been experiencing similar behaviour on Linux, crashing my original PC. Now upgraded and found the same issue. The project works totally fine in Visual Studio on a virtual machine with significantly less RAM.

[2019-06-18 11:26] jcreek commented on #2423
Also an issue for me on Ubuntu 19.04.

[2019-06-18 11:27] vitek-karas commented on #2041
I would love to help get this fixed... can you please let us know what kind of trace you're looking for?
(Also - I still think that it would be much easier for you to work with actual live repro  -which is very easy to setup using the coreclr repo mentioned above).

[2019-06-18 13:02] spaasis commented on #3060
Seems to work fine when I use VSCode on Windows, so it's probably a Linux bug,

[2019-06-18 13:54] dcb99 opened #3124 "Omnisharp/intellisense not working in test project"
Please paste## Issue Description ##
## Steps to Reproduce ##
I've created an xUnit test project next to the project I want to test. I've included a reference to the .csproj of the application I want to test in the csproj of the test project. Intellisense is not working for the referenced project. I don't know why I keep having issues with omnisharp but it is getting very tedious and really ruining

[2019-06-18 14:51] marcinjakubowski commented on #2994
For me, it only disappears when invoking a quick-fix to import a reference (1.35.1 on .net core 3-preview6):

![Peek 2019-06-18 16-45](https://user-images.githubusercontent.com/2545419/59694456-ef9d1480-91e8-11e9-967b-7c806e925ab6.gif)

Most of the time it disappears faster than on the capture here.

`dotnet --info`:

[code]

Visual Studio Code

[code]

[2019-06-18 15:13] sandy081 commented on #3101
I have not read this issue and I just answered to the question you asked. I have already filed an issue in VS Code and you can link to it if related,

https://github.com/microsoft/vscode/issues/75616

[2019-06-18 15:16] DanJ210 opened #3125 "Intellisense malfunctions when the C# extension is enabled."
Issue Type: <b>Bug</b>

Hello, so I've had an issue where I'm trying to type `Log.Information()` lines. Logging basically, except when I type `Lo...` which usually comes up with `Log` in intellisense and then after the `.` it will show information and debug and all that, it no longer shows this stuff. Just thinks I'm wanting to type `long`. This started happening within the last couple of days to

[2019-06-18 15:34] #3101 closed

[2019-06-18 15:53] DanJ210 commented on #3040
Still getting this issue quite often.

[2019-06-18 16:14] alexanderdp commented on #2703
OMFG why so much overhead and problems to have a simple extension work!
What a waste of time!
It's just easier to launch VS17/19 and test code in a new file or use dotnetfiddle.net to run quick code tests.
I was under the impression that VSCode extensions was supposed to be light weight and quick!

Thumbs down....

[2019-06-18 16:57] rmunn commented on #3060
As I mentioned in https://github.com/madskristensen/WebCompiler/issues/421#issuecomment-503220197, WebCompiler seems to assume it's running on Windows (calling `cmd.exe /c` and so on), so it's not designed to work on Linux.

@spaasis I'm curious to know how you're managing to use WebCompiler in VS Code, as it's a Visual Studio extension, not a VS Code extension. Is it a NuGet package you use in yo

[2019-06-18 17:34] spaasis commented on #3060
@rmunn Yup, that seems to close this case.

So, to clarify;
I was working on a project on Windows, Visual Studio, that utilizes the WebCompiler extension. That extensions seems to automatically install a NuGet package BuildWebCompiler (https://www.nuget.org/packages/BuildWebCompiler) that does.. something (although earlier today I ran a different WebCompiler project without the NuGet package and i

[2019-06-18 17:34] #3060 closed

[2019-06-18 18:06] Calkines opened #3126 "Tasks.json example is out of date"
## Environment data

`dotnet --info` output:
SDK do .NET Core (refletindo qualquer global.json):
 Version:   2.2.300
 Commit:    73efd5bd87

Ambiente de tempo de execução:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.300\

Host (useful for support):
  Version: 2.2.5
  Commit:  0a3c9209c0

.NET Core SDKs i

[2019-06-18 20:39] rchande commented on #3040
@DanJ210 This sounds like a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1197 -- can you try the workaround discussed in that issue?

[2019-06-18 20:40] rchande commented on #3125
@DanJ210 Can you set the option "omnisharp.logginglevel" to "debug" and share your OmniSharp log when this happens?

[2019-06-18 20:52] rchande commented on #3124
@dcb99 From the log it doesn't seem like anything's obviously going wrong. Does `Client-Portals.sln` have the test project you're editing in it?

[2019-06-18 20:54] rchande commented on #3123
@zzstuzor You can install the VSIX in VS Code by going to the extensions tab and using the "..." button to choose "install from VSIX".

You can then create the directory `~\.vscode\extensions\ms-vscode.csharp-1.20.0\.omnisharp\1.32.20` and extract the omnisharp zip file you downloaded into it.

[2019-06-18 20:58] dcb99 commented on #3124
@rchande thanks for bringing that up, I actually just added it and things are fine now. Can't believe I forgot that, sorry for taking your time up.

[2019-06-18 20:58] #3124 closed

[2019-06-18 21:00] rchande commented on #3124
@dcb99 No problem. Glad you got it working!

[2019-06-19 00:00] marcusm commented on #3099
I get an identical error.

[2019-06-19 14:30] zzstuzor commented on #3123
OK Thanks. I have tried that, but it doesn't seem to work.

When I install from .vsix via vscode -> extensions -> Install from .vsix ->
csharp-1.20.0.vsix, it creates the
~\.vscode\extensions\ms-vscode.csharp-1.20.0\.omnisharp\1.32.20 folder
automatically. When I reload vscode it creates the [install.begin] file.

If I unzip the files from the zip into there and reopen vscode (such that
[licence.m

[2019-06-19 15:22] DanJ210 commented on #3125
@rchande Sure, where do I get the logs from? Just copy and paste all from the output window?

[2019-06-19 15:30] DanJ210 commented on #3040
It sounds like the same issue. I suppose I can try the workaround.

[2019-06-19 15:31] DanJ210 commented on #1197
I'm getting this very often as well. I can try the workaround, is there any downside to it?

Also, is this something I'll have to memorize and start adding to all projects from here on out? Or is this temporary because a solution is being worked on?

[2019-06-19 17:30] stefanhamburger opened #3127 ""Command line too long" error in C# 1.20.0 because of "files.exclude" setting"
With the new feature to ignore all files in the `files.exclude` setting (#2171), projects will no longer load if too many files are exluded.

In my case, the `files.exclude` setting is around 6,400 characters long (depending on how it is serialized), which results in an error because the OmniSharp command line is too long.

According to [this Windows support article](https://support.microsoft.com/

[2019-06-19 19:47] interpol-kun opened #3128 "Format On Type doesn't work"
## Issue Description ##

Editor option "Format on Type" does not work. Typing is ignored and formatting could be applied only via Save or Paste (if they are toggled on).

## Steps to Reproduce ##

Install fresh VSC, toggle on "Format On Type" option in settings, install C# extension from the marketplace. Open up the C# solution, start writing any method with curly braces. After you hit enter it wo

[2019-06-19 20:41] gregg-miskelly commented on #3126
Thanks for taking the time to report this! I updated the example.

[2019-06-19 20:41] #3126 closed

[2019-06-19 23:08] rchande commented on #3127
@stefanhamburger That's an amazing find. You can work around this by putting your exclude files in `omnisharp.json` (https://github.com/OmniSharp/omnisharp-roslyn/wiki/Configuration-Options) instead of in your VS Code settings. Obviously that won't help if you need those exclusions in VS Code too.

[2019-06-20 15:34] jaxxtrend opened #3129 "Outline not work if..."
Issue Type: <b>Bug</b>

VsCode not outlined C# file, but outlined if i change anything in file.

Extension version: 1.20.0
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0.17134

[2019-06-20 15:46] zzstuzor commented on #3123
I've tried this on Windows and Linux now. In both cases, after extracting the zip into the .omnisharp\ folder I still get vscode starting to download omnisharp as soon as it loads, ignoring all the files there. How can I get it to stop download, and acknowledge the files already present?

[2019-06-20 21:52] rchande commented on #3123
@zzstuzor Can you: Remove the 1.32.20 folder created by the C# extension, create a new one and put the contents of your zip file in it. Create a file called `install.Lock`.

I think that should convince the C# extension that everything has already been downloaded.

[2019-06-21 05:21] khteh opened #3130 "High CPU consumption!"
Please paste the output from your clipboard
![Screenshot from 2019-06-21 13-20-39](https://user-images.githubusercontent.com/3871483/59899501-87884180-9427-11e9-9cc9-2a9f48f73188.png)

[2019-06-21 11:42] morden2k commented on #2374
Any news about this issue? It is very uncomfortable go to file:line by manual file open with navigate to line instead double click to message.

How I see this issue exist on internet about 2 years already (((

Error is the same: `Unable to open 'XXX.cs': File not found ("file://XXX.cs").`
Where `XXX`- is file name without extension.

If I click to Create then it will be created in root folder (`/X

[2019-06-21 11:51] morden2k commented on #1197
Any news about this issue? It is very uncomfortable go to file:line by manual file open with navigate to line instead double click to message (using vs code Explorer files opens without problems and it really exist).

How I see this issue exist on internet more than 2 years already (((

Error is the same: `Unable to open 'XXX.cs': File not found ("file://XXX.cs").`
Where `XXX`- is file name withou

[2019-06-21 13:42] djpnewton commented on #2374
@morden2k have you tried the solution here: https://github.com/OmniSharp/omnisharp-vscode/issues/2374#issuecomment-452485460

[2019-06-21 13:54] talitek opened #3131 "Omnisharp not working from TypeLoadException"
## Issue Description ##
Every time I attempt to write a C# program, IntelliSense is not working properly. I see no error messages from my code, and receive no suggestions. After doing a bit of Googling I think it may be that the OmniSharp version installed relies on an outdated version of .NET, though I may be completely wrong with that. Please help!
## Steps to Reproduce ##
Write any code in C# w

[2019-06-21 14:07] nguerrera commented on #1197
There's a trivial workaround in my original bug report. Did you try it?

[2019-06-21 14:46] DanJ210 commented on #1197
@nguerrera I guess I'm surprised that there's a workaround for this and not an actual fix yet. Which is what the user above meant by two years and no fix yet. Just a workaround.

[2019-06-21 14:51] roa-nyx commented on #1197
For those of us who are not proficient with `.csproj` files, this means adding `<GenerateFullPaths>true</GenerateFullPaths>` in the the top-most `<PropertyGroup>` element.

[2019-06-21 14:55] nguerrera commented on #1197
I'm not speaking for the maintainers, but sometimes things which are trivial to achieve with a tweak to a project are naturally lower priority. As the original reporter here, I understand that.

[2019-06-21 16:38] WhatFreshHellIsThis commented on #1197
@nguerrera That's understandable from one very limited point of view certainly however keep in mind that from every single end users point of view who are trying the software for the first time they will all commonly see a major broken aspect of a very important and commonly used part of the UI and either stop using it, live with obviously broken functionality or be forced to go hunting for a reso

[2019-06-21 16:52] nguerrera commented on #1197
I filed this bug as an end user. It frustrated me too and took me a while to figure out. I do think it should be fixed. I too am disappointed it isn't, but also empathize with some things getting delayed by everything else going on.

I'm not a maintainer of this project and I don't speak for them, but "how can this not be fixed for [time period]" really bothers me in general. Developers on a proje

[2019-06-21 16:56] nguerrera commented on #1197
Correction: I see that this was originally reported to me by a customer. I remembered wrong. Sorry for misrepresenting that.

[2019-06-21 17:04] nguerrera commented on #1197
I think I'll make a change in the 3.0 sdk to make full paths the default. Historically, this was something VS handled but in a world of multiple IDEs, it seems reasonable to me now to pick the most qualified output by default.

[2019-06-21 18:27] xCyborg opened #3132 "Need dependencies offline download VSIX"
Unlike the C++ plugin which offers full plugin offline support via VSIX, this plugin needs mandatory internet connection for dependency download.
Fix this please.

[2019-06-21 18:45] ob-stripe opened #3133 ""Missing XML comments" issues used to be warnings, are now errors"
## Issue Description ##
After a recent Omnisharp update, "Missing XML comment" problems that used to be reported as warnings are now reported as errors in the "Problems" tab.

## Steps to Reproduce ##
Open the `Stripe.net` project (https://github.com/stripe/stripe-dotnet) with VSCode and the C# extension.

## Expected Behavior ##
The "Problems" tab reports "Missing XML comment" issues as warnings,

[2019-06-21 18:59] zzstuzor commented on #3123
Yes that seems to work! install.Lock (case-sensitive!) stops it from trying to download further. Thank-you!!!

[2019-06-21 19:09] zzstuzor commented on #3123
Next issue... same problem with: ".NET Core Debugger (Windows / x64)"

Any idea where I can now download this manually? It's hard to find the URLs for all these downloads, would be great if dotnet showed the URL it's getting from in the output window...

[2019-06-21 20:33] gregg-miskelly commented on #3123
That is weird, they should print in the output window. You can find them in package.json.

[code]

[2019-06-21 20:35] gregg-miskelly commented on #3123
You may also want the Razor language service:

[code]

[2019-06-22 07:43] zzstuzor commented on #3123
Perfect, thanks gregg

[2019-06-22 07:43] #3123 closed

[2019-06-22 08:11] MarkOstis opened #3134 "OmniSharp does not detect typos"
Hi Guys!
I've just started using the VS Code for .NetCore C# and found one issue.
I use Windows 10, but C# project is built and debuged on WSL. For me the debug works well, projects  are built, IntelliSense works etc.

**Issue:**
But VS Code and OmniSharp does not detect typos in code. I mean, I can simply write any word and VS Code will not underline it in red.

The errors detect only on build st

[2019-06-22 08:36] SuperJMN opened #3135 "Can't debug/run applications inside Windows 10 ARM64"
Steps to reproduce:

- Run VS Code on a Windows 10 ARM64 OS.
- Create a "Hello world" C# project (Console App - NET Core)
- Press F5

Result: it seems to build the solution, but it doesn't execute anything.

[2019-06-22 17:57] filipw commented on #3133
I had a look at your project and you have explicitly enabled `TreatWarningsAsErrors` [here](https://github.com/stripe/stripe-dotnet/blob/master/src/Stripe.net/Stripe.net.csproj#L25) and [here](https://github.com/stripe/stripe-dotnet/blob/master/src/StripeTests/StripeTests.csproj#L9)

Until recently OmniSharp didn't respect this setting correctly so it didn't convert warnings into errors - this was

[2019-06-23 07:11] tavisca-tjajodia commented on #1867
Guys, I did this and it started working.

I closed the VS Code Studio.
Started it by Run as Administrator.
.net restore
.net generate assets for build and debug.

then start debugging

[2019-06-23 11:50] agc93 commented on #1998
What are the debugging steps for this issue if it persists after setting `omnisharp.useGlobalMono` to `never`?

I'm getting seemingly the same issue and don't want to create a new issue if its the same problem...

[OmniSharp log](https://gist.github.com/agc93/7a6d4c526f43369b56c1340ee655fbef)

Mono:
[code]

`dotnet`:
[code]

---

I can create a new issue if preferred, its just this looks like the

[2019-06-23 11:51] davidmilligan commented on #1980
This bug is infuriating, and nothing has been done about it for years?! The people who maintain this project must not actually use it for real-world, day-to-day work. I don’t see how anyone can stand this behavior. It seems like this issue has just been blamed on some other issue and so nothing is being done about it. Unacceptable people!

[2019-06-23 15:28] #1726 closed

[2019-06-23 18:18] rledyard commented on #2820
I am experiencing the same issue while running Linux Mint 18

VSCode 1.35.1
OS Linux x64 4.4.0-150-generic
ms-vscode.csharp = 1.20

[2019-06-23 22:33] SuperJMN commented on #2771
Big bummer this isn't working inside Raspbian. Cross-platform is still far from being real in 2019.

[2019-06-24 07:16] guidobouman commented on #1726
Nice that this is merged in the `omnisharp-roslyn` package, but when can we expect this in VS Code? Until the feature works in this repo, I would not really consider this closed.

[2019-06-24 14:50] AnthonyMastrean commented on #1726
@guidobouman this is like the *last* challenge of using GitHub issues... I don't care when it's closed, I care when it's released!

[2019-06-24 15:12] rchande commented on #1197
Thanks @nguerrera and all for the thoughtful discussion. We'll do our best to prioritize this.

[2019-06-24 16:32] DanJ210 commented on #1197
Gotta imagine too the amount of users who don't take the time to report feedback. They just use something else.

[2019-06-24 16:47] NTaylorMullen commented on #2820
@rledyard could you share the output of your Razor Log?

[2019-06-24 17:05] rchande commented on #1197
@DanJ210 I'd also like to point out that this is open source software--you're more than welcome to create pull requests to address issues you feel aren't getting enough traction :).

[2019-06-24 17:22] gregg-miskelly commented on #3135
We are tracking this with #3006

[2019-06-24 17:22] #3135 closed

[2019-06-24 20:11] dejaybe87 commented on #3129
I'm seeing this as well, but with C++ files.  If I have tabs open when I launch VS Code, only the tab active at launch will have an outline.  All other tabs will show "No symbols found in document[...]".  Modifying a file does regenerate the outline for that file though.

Version: 1.35.1
Commit: c7d83e57cd18f18026a8162d042843bda1bcf21f
Date: 2019-06-12T14:27:31.086Z
Electron: 3.1.8
Chrome: 66.0.33

[2019-06-24 20:19] MarkusAmshove commented on #1998
I also get the error on OpenSuSe Leap 15.1, even when setting `useGlobalMono` to `never`

[2019-06-24 20:25] DanJ210 commented on #1197
@rchande I hear you, I'm a huge Microsoft fan and VS Code fan. I support and I understand work is work. I'm not giving any flak for issues especially when I'm a dev myself. If I could help I would but I'm afraid I'm probably not advanced enough yet. Perhaps one day I will be able to. The VS Code team is also pushing out highly advanced features within updates quite often so an issue like this that

[2019-06-24 20:46] ChemsoDev commented on #2728
thank you very much it solved

[2019-06-25 07:23] HenriKoelewijn opened #3137 "csproj project file is not recognised since version 1.20"
## Issue Description ##
Autocompletion does not work in cs files contained in a project (csproj) since 1.20
It works if I downgrade to 1.19.1

## Steps to Reproduce ##
Open vsCode in a folder that contains  a csproj file, a cs file  where the cs file uses an class from a Nuget package that is referred to in the csproj file

## Expected Behavior ##
Autocomplete works,

## Actual Behavior ##
Autocom

[2019-06-25 18:07] rchande commented on #3137
@HenriKoelewijn Can you try this with "omnisharp.logginglevel" set to "debug" and share your log again?

[2019-06-25 18:19] Tyriar opened #3138 "Why is the "OmniSharp server is running" status bar icon green?"
![image](https://user-images.githubusercontent.com/2193314/60122847-f244c000-973a-11e9-95dd-d579e7147fba.png)

Extensions typically shouldn't do this, red makes sense for a failure state but if everything is working as intended it should just be white so as to not draw the eye to it.

[2019-06-25 20:10] rchande commented on #3138
cc @akshita31

[2019-06-25 20:20] bomeers commented on #2520
Tried this and it works. Been looking for this all day. Thank you.

[2019-06-26 09:13] HenriKoelewijn commented on #3137
Here you are:
<details><summary>OmniSharp Debug Log</summary>
Starting OmniSharp server at 26-6-2019 11:12:56
    Target: c:\PI3\ExternalApplications\ScriptingToolSet

OmniSharp server started.
    Path: C:\Users\h.koelewijn\.vscode\extensions\ms-vscode.csharp-1.20.0\.omnisharp\1.32.20\OmniSharp.exe
    PID: 29484

[dbug]: OmniSharp.CompositionHostBuilder
        Loaded OmniSharp.Cake, Version=1.3

[2019-06-26 11:10] julichan commented on #2934
I've seen the same problem with the nuget repository with a project using Refit package. It seems the omisharp and "net core host" processes are always locking some dll.

[2019-06-26 16:21] roboriaan opened #3139 "Upgrade from blazor preview 5 to 6"
## Issue Description ##

Not a major issue. Just some tooling wonkeyness I guess.

After the upgrade from prev 5 to 6 I notice that members and functions that are defined in the @code { } block displays as plain text. As in. No colouring. With red squigglies all over. This worked fine before when we used @functions { } but that has been renamed.

Are you guys also getting the same issue?

To repro

[2019-06-26 16:46] accidentalentomologist opened #3140 "Error: Failed to start OmniSharp MacOS"
Error during OmniSharp startup on MacOS.
Please let me know if you need more information.

[code]

[2019-06-26 16:56] NTaylorMullen commented on #3139
Hey @roboriaan thanks for the report! This is a known issue and is currently being tracked over at https://github.com/aspnet/Razor.VSCode/issues/75.

I even went one step further and fixed this particular issue [here](https://github.com/aspnet/Razor.VSCode/pull/371) but the VSCode team recommended we don't piecemail a fix and work on owning the grammar entirely. That work will be done in a future

[2019-06-26 16:56] #3139 closed

[2019-06-26 19:58] xcap2000 commented on #1198
Using /clp:NoSummary works for me even without pointing to a project file. The issue is that I cannot use it for all commands I am used to use. Is there a way to add this option to the csproj? Before I used a command to avoid error when clicking on items on the PROBLEMS list, it was GenerateFullPaths and set it to true.
I am using dotnet core preview 5 and visual studio extension version 1.20.0.
@

[2019-06-26 20:19] nguerrera commented on #1198
Yes, that was fixed a long time ago in CLI.

Do you mean that there are cli commands that do not work with /clp:NoSummary, or just that you don't want to pass it every time?

Unfortunately, no.

But we have talked about a cli config system that would let you configure things like this per user or per directory

Which item? This issue is not closed.

[2019-06-26 21:05] xcap2000 commented on #1198
Yes, that was fixed a long time ago in CLI.
-> Perfect!
Do you mean that there are CLI commands that do not work with /clp:NoSummary, or just that you don't want to pass it every time?
-> Tried with dotnet watch run, no errors but no success, maybe it is because it does not return unless we cancel the task.
Unfortunately, no.
-> Thank you for clarifying.
Which item? This issue is not closed.
-> My

[2019-06-26 22:19] rchande commented on #3137
@HenriKoelewijn Can you confirm that your csproj file is indeed under the 'c:\PI3\ExternalApplications\ScriptingToolSet' directory?

Is anything displayed next to the `folder` icon right of the flame icon? (
![image](https://user-images.githubusercontent.com/3751401/60218965-c9e5c000-9825-11e9-9450-fd9829d08e62.png))

[2019-06-27 05:38] roboriaan commented on #3139
Awesome! Will keep an eye out for that. Let me know if I can help with testing.

[2019-06-27 07:15] HenriKoelewijn commented on #3137
OK, I got one step further. The csproj file is present, but it is listed in 'files.exclude' in settings.json
This used to work in 1.19, but since 1.20 it breaks the workspace like I described above.
If I remove it from the excluded list, the folder 'ScriptingToolset' appears in the status bar:'
![image](https://user-images.githubusercontent.com/19683023/60244937-cac93100-98bb-11e9-9052-50d765c2ac6

[2019-06-27 07:19] filipw commented on #3137
@HenriKoelewijn since version 1.20.0, the C# extension respects the settings of `files.exclude` - https://github.com/OmniSharp/omnisharp-vscode/pull/2171

[2019-06-27 07:23] HenriKoelewijn commented on #3137
Ok, I understand.
It would be nice though, to be able to hide the csproj file in my use case:
We provide the folder as a workspace to our customers to be able to edit a plug-in, but the plug-in project file should not be edited by them. So hiding it from the view while being able to use it in the C# extension would be desirable.
Can I specify ther project file to be used in the extension separatel

[2019-06-27 09:04] hez2010 opened #3141 "Crashing while editing razor files"
## Environment data
dotnet SDK version: 3.0.100-preview6-012264
VS Code version: 1.35.1
C# Extension version: 1.20.0

## Steps to reproduce
Edit razor files of a blazor client app. it sometimes crash.

## Expected  behavior
Nothing happen

## Actual behavior
[code]

[2019-06-27 14:33] Astrophizz commented on #1794
For what it's worth, I'm able to reproduce this on Windows. It happened the very first time I debugged a unit test, in fact. Breakpoints in code called by the unit test also weren't hit, though I'm not sure that's related.

[2019-06-27 15:26] rchande commented on #3141
cc @NTaylorMullen

[2019-06-27 16:09] NTaylorMullen commented on #3141
Hmmm, interesting! @hez2010 can you give some more context on what you were doing when this crash occurred? Also reproducing the crash with razor.trace set to verbose would be highly useful as well.

[2019-06-27 16:32] hez2010 commented on #3141
Maybe you can try editing files in `https://github.com/chanan/BlazorStrap/tree/master/src/Sample` with razor.trace = off.
I found that if I set razor.trace to verbose, it won't crash anymore.

[2019-06-27 16:42] NTaylorMullen commented on #3141
Hmm played around with it for 5 minutes or so without any luck crashing it 😢. Could you detail some specific steps as in what file was opened, what you typed etc.?

[2019-06-27 17:04] hez2010 commented on #3141
I opened the project and simply append a `<Card>` in index.razor, and it crash.
![image](https://user-images.githubusercontent.com/14960345/60285607-9cda0000-9940-11e9-9cbc-fbcd49398c33.png)

[2019-06-27 17:36] NTaylorMullen commented on #3141
Ahh, that helps a lot thanks for investigating further! We're tracking the fix for this issue over here: https://github.com/aspnet/Razor.VSCode/issues/372

[2019-06-27 17:36] #3141 closed

[2019-06-27 19:03] glaxaco opened #3143 "OmniSharp on OSX looking for NuGet fallback package folder in Windows folder"
## Issue Description ##
Using VSCode, OmniSharp cannot load projects because it is looking for nuget packages in the fallback folder 'C:\Program Files\dotnet\sdk\NuGetFallbackFolder'. However, this is an OS X environment, so that is obviously not right. (I do have Windows running in a Parallels VM, but I don't think it should affect this).

After a little digging, I added a `<fallbackPackageFolder

[2019-06-27 19:31] filipw commented on #3137
With the new setup, there is no way to achieve this. `files.exclude` are passed into OmniSharp which will then skip the loading of those projects.

[2019-06-27 22:15] akshita31 commented on #3132
@xCyborg We have support so that you can create vsix on a computer with internet and once created you can use it on a computer without internet. Please follow the instructions here https://github.com/OmniSharp/omnisharp-vscode/wiki/Installing-the-C%23-extension-to-a-computer-without-internet-connectivity#installing-on-a-computer-that-cannot-connect-to-the-internet to do so

[2019-06-27 22:29] akshita31 commented on #3125
@DanJ210 Please paste the full output from your [OmniSharp log](https://github.com/OmniSharp/omnisharp-vscode/wiki/Reporting-Issues#omnisharp-and-c-log)

[2019-06-27 22:31] akshita31 commented on #3140
@accidentalentomologist Sorry for the delay in getting back on this. Could you try setting "omnisharp.useGlobalMono": never and restarting vscode ?

[2019-06-27 22:46] akshita31 commented on #1998
@agc93 Could you try the fix as mentioned in the comments above, like this one https://github.com/OmniSharp/omnisharp-vscode/issues/1998#issuecomment-380303803

[2019-06-28 00:00] akshita31 commented on #3134
@MarkOstis Could you share a repro project and also the exact repro steps. I am not too familiar with debugging on WSL so repro steps would help to lock down the issue here.

[2019-06-28 00:30] akshita31 commented on #1197
Another solution is to change the problemMatcher in the tasks.json to "$tsc". I noticed that if you generate the tasks.json using the "Required Assets to debug..." prompt when you first open the project, ths issue doesnt come up as the problem matcher is "$tsc" there.

[2019-06-28 00:30] #3027 closed

[2019-06-28 01:10] akshita31 commented on #1197
The template that is being used here is shipped as part of vscode: https://github.com/microsoft/vscode/blob/35523f6c51bdc1edae1696a586dadd021fe47096/src/vs/workbench/contrib/tasks/common/taskTemplates.ts#L30. So probably the right change is to either:

1. Append /p:GenerateFullPaths=true in the "dotnet build" line in the template
2. Use the problem matcher as "$tsc"

Thoughts @rchande ?

[2019-06-28 01:42] agc93 commented on #1998
@akshita31 I don't have either `msbuild-bin` or `msbuild-stable` packages available.

[code]

[2019-06-28 06:51] HenriKoelewijn commented on #3137
I think there is a setting in omnisharp, where we can specify the solution file as input. Could't we do something similar for the csproj file?

[2019-06-28 22:29] akshita31 commented on #1197
Further analysis, the tsc problem matcher assumes that the file paths are relative and the mscompile problem matcher assumes that the paths are absolute. However mscompile is the correct "out-of-the-box" compiler for C#. Hence we should append the /p:GenerateFullPaths=true in the "dotnet build" line in the template and keep using the mscompile problem matcher. It is already done in the msbuild tas

[2019-06-28 22:46] akshita31 commented on #1197
https://github.com/microsoft/vscode/pull/76318. This is the PR in vscode with the change to the build templates.

[2019-06-28 22:46] akshita31 commented on #1198
microsoft/vscode#76318. This is the PR in vscode with the change to the build templates.

[2019-06-28 22:50] akshita31 commented on #1197
However this makes me wonder if we should have the dotnet build templates only with the C# extension, however I dont know if that is completely possible.

[2019-06-29 09:57] rbadapanda opened #3146 "Extension issue - I uncaught errors - showing up in 'Running Extensions""
- Issue Type: `Bug`
- Extension Name: `csharp`
- Extension Version: `1.20.0`
- OS Version: `Darwin x64 18.6.0`
- VSCode version: `1.36.0-insider`

[code]

[2019-06-30 21:09] emarks opened #3147 "VsCode extension fails install on OSX"
## Issue Description ##

When installing VsCode extension it reports "Failed to spawn 'dotnet --info'"; but, only for one specific user.  If I create a new user, create a dotnet console program, open application with vscode, follow the prompts to install extensions, then everything worked as expected.

## Steps to Reproduce ##

Install the extension for a specific user.

## Expected Behavior ##

E

[2019-07-01 05:11] accidentalentomologist commented on #3140
Thank you for your reply (and sorry for my delay)

I have updated the settings with:
`"omnisharp.useGlobalMono": "never"`

Only one found MSBuild instance, but unfortunately the same end result.
[code]

[2019-07-01 05:31] filipw commented on #3140
what are your language/regional settings?

[2019-07-01 13:20] DanJ210 commented on #1197
Cool, so does this mean that future projects generated with VS Code will have the `GenerateFullPaths=true` setting in them?

[2019-07-01 13:38] DanJ210 commented on #3125
@akshita31 Give me a week or so to try and create the same scenario. I'm no longer with that company, I literally started a new position just last week so I don't have the same machine with access to the projects that I had. But I'll create some of the same projects and try to replicate the same scenario. I really have no idea of the cause but there wasn't anything drastically different. I've work

[2019-07-01 15:01] tobiaszellner opened #3148 "Run and debug test that needs a msbuild variable set"
## Issue Description ##
I have a dotNet Core project with tests. To run the compile on Linux using the dotnet command line tool, I do the following:
[code]
To run the tests I use this comand:
[code]
The "-p:LinuxOnlyBuild=true" parameter is needed because otherwise the *.sln file will try to load code that can only work on Windows.

Within VS Code I try to run/debug one of the existing tests, usin

[2019-07-01 18:33] rheinz57 commented on #2937
Just running the "dotnet nuget locals all -c" worked for me

[2019-07-01 20:46] accidentalentomologist commented on #3140
MacOS Language & Region:

Preferred languages:
\- English
\- Swedish

Region: Sweden (Custom)
First day of week: Monday
Calendar: Gregorian
Time format: 24-hour
Temperature: C - Celsius

List sort order: Universal

[2019-07-01 20:58] akshita31 commented on #1197
@DanJ210 A part of the problem is fixed. Now when the extension prompts you to add the assets for debugging, the tasks.json added will do the right thing. However the part where we use Ctrl+Shift+B and have some build tasks prompted, comes from vscode and I have created a PR to change that, however the earliest that can be available will be the July vscode release.

[2019-07-01 20:58] akshita31 commented on #1197
The extension release should be out in a few days though

[2019-07-01 21:02] #3138 closed

[2019-07-01 21:07] akshita31 commented on #3147
@emarks It appears that you dont have dotnet on your path. Could you reinstall dotnet and check that your path variable has dotnet on it.

[2019-07-01 21:09] akshita31 commented on #3146
@rbadapanda Can you elaborate more on what you are trying to achieve, like what files are you trying to edit and what is the issue that you are facing like intellisense not working, unable to debug, etc

[2019-07-01 22:39] emarks commented on #3147
@akshita31 Yes, I checked that and it is in the path.  In fact, botnet --info from within the vscode terminal works fine.    I found that if I go into the directory with .csproj and run "code ." that it works all the time.   The install seems to be failing on line 85 of src/coreclr-debug/util.ts.    resulting in "Failed to spawn 'dotnet --info".  It's the spawn that is failing, not that it doesn't

[2019-07-01 23:00] Tyriar commented on #3138
Thanks @akshita31 😃

[2019-07-02 03:08] James-Lester commented on #2876
Having the same issue

- `    Path: /home/briarheart/.vscode-oss/extensions/ms-vscode.csharp-1.20.0/.omnisharp/1.33.1-beta.2/run`
- On Manjaro Linux, dotnet version 2.2.105.
- Microsoft (R) Build Engine version 15.9.20.63311 for .NET Core

- Added omnisharp latest path to settings.json

- Per the [.NET Core ArchWiki page](https://wiki.archlinux.org/index.php/.NET_Core), added the following line to

[2019-07-02 03:17] James-Lester commented on #3023
@themindfulcoder Do you mean that file should be added to the project directory?

[2019-07-02 05:58] Messulethe92 commented on #2613
Has this ever been implemented?

Currently in the Watch it just states "The function evaluation requires all threads to run."

In the Watch window there is a need to be able to evaluate functions that requires all threads to run. In Visual Studio we had the option to click the little "thread" button in the Watch window that would execute these functions.

[2019-07-02 06:38] filipw commented on #3140
thanks.
are you using a custom `omnisharp.json` file? if so, please share it too. Also, can you post the contents of your `settings.json` (the VS Code settings file).

[2019-07-02 10:34] zhengjianhua91 commented on #2782
the same issue, the same log,unity3d with .net4.6

[2019-07-02 16:38] akshita31 commented on #3147
@emarks Thank you for confirming that. We have a similar issue here https://github.com/OmniSharp/omnisharp-vscode/issues/2728. Did you recently install .NET? Can you restart your system and check again ?

[2019-07-02 16:47] gregg-miskelly commented on #2613
No, not yet

[2019-07-02 20:22] accidentalentomologist commented on #3140
Thanks @filipw and @akshita31 for your help.

It turns out the error was in the `settings.json` file.
For some reason tabSize was set to null: `"editor.tabSize": null,`

 Changing that to a more appropriate value fixed the issue

[2019-07-02 20:22] #3140 closed

[2019-07-02 20:37] gregg-miskelly opened #3150 "Support nuget.org symbol server"
The debugger should provide support for downloading symbols from nuget.org.

For more context: https://devblogs.microsoft.com/nuget/improved-package-debugging-experience-with-the-nuget-org-symbol-server/

[2019-07-02 20:51] gregg-miskelly commented on #3150
The first step towards supporting this is to implement support in the .NET symbol downloader. There is currently a PR out for this: https://github.com/dotnet/symstore/pull/103

[2019-07-02 21:38] steveoh commented on #3023
So I have used a combination of items related to this issue. I added the item from @themindfulcoder.

[code]

I also have a `global.json` pinning the sdk

[code]

I also added some omnishart settings to the `.vscode\settings.json` file per @rchande in https://github.com/OmniSharp/omnisharp-vscode/issues/3102#issuecomment-500517754

[code]

I was using the `dotnet new react` template. It did not ge

[2019-07-02 22:35] ecv80 commented on #3013
This works. However I'm also getting a full-blown foreach now instead of just the keyword :/
This issue is annoying as fruits :(

[2019-07-02 22:39] ecv80 commented on #3013
Would it be too inconvenient/hard/clumsy/expensive to keep a mini database of the amount of times each word was used and suggest first the most used one that matches what's being typed?

[2019-07-03 00:52] naknode commented on #2472
This seems to be occurring for me too.

![image](https://user-images.githubusercontent.com/616320/60555505-d9bc4300-9d02-11e9-8ad2-638196e6fc4b.png)

[2019-07-03 03:10] zhengjianhua91 commented on #2782
i had solved it
1.visit https://dotnet.microsoft.com/download/visual-studio-sdks?utm_source=getdotnetsdk&utm_medium=referral
2.download .NET Framework4.x Developer Pack and install

[2019-07-03 06:47] deanrih opened #3151 "OmniSharp Server won't run on the next VS Code Instance"
## Issue Description ##
The Omnisharp Server won't run / re initialize the project on the next VS Code instance open.

## Steps to Reproduce ##
1. Open C# Project (Unity or standard project)
2. Open the Output Panel
3. Switch to OmniSharp Log output
4. Wait till the OmniSharp loaded and displaying some output
5. Try code something to check if the OmniSharp DID work, like Autocomplete
6. Close the

[2019-07-03 06:51] deanrih commented on #3151
To note here, the `>OmniSharp: Restart Omnisharp` do nothing.

And if you use Windows 8/8.1/10 with Fast Startup enabled, the server won't be able to start unless you Shutdown while pressing `SHIFT` key before pressing the Shutdown button on the Start Menu

[2019-07-03 08:08] DostoevskyMF commented on #1441
When I launch compounds configs the VS Code show message: The task 'build is already active.
How can I fix this?

[2019-07-03 17:02] gregg-miskelly commented on #1441
@DostoevskyMF we aren't experts on the VS Code compound config feature, but based on your description I would guess the issue is that all of your debug configurations have `"preLaunchTask": "build"`. You could probably fix this by making the first config have `"preLaunchTask": "build"`, fix your build task so that it will build all of the projects, and remove it from the second. You might also be

[2019-07-03 17:04] steveoh opened #3152 "Reuse launchBrowser window tab"
It is really nice that we can F5 debug and launch our web applications. A nice improvement would be to reuse the window if you debug more than once. Currently, a new duplicate tab will be created every time you launch.

The only current solution that I know of is a little silly and involves having two almost duplicate launch tasks, one to open the window and one to skip doing that. I still have to

[2019-07-03 22:48] bradcavanagh-ffs opened #3153 "OmniSharp not detecting debug session is finished"
## Issue Description ##

I have a set of xUnit tests that perform integration tests against a .NET Core Web API. If I click the 'Debug Test' link that appears above a test method name, and the test passes, OmniSharp doesn't realize that the test session is over, and OmniSharp then crashes and I cannot restart it short of restarting VS Code.

## Steps to Reproduce ##

I do not know if this is a com

[2019-07-04 19:17] drk-mtr opened #3155 ".NET Debugging is supported only in Microsoft versions of VS Code error"
## Update

Works fine in VSCode normal as opposed to Insiders so please feel free to close.

## Original

I receive an error ".NET Debugging is supported only in Microsoft versions of VS Code. See https://aka.ms/VSCode-DotNet-DbgLicense for more information." on what I believe is a copy of VSCode downloaded from Microsoft. Latest VSCode Insiders 1.37.0-insider. This worked previously.

## Steps to

[2019-07-04 19:24] drk-mtr commented on #3155
Update: works fine in VSCode normal as opposed to Insiders so please feel free to close.

[2019-07-04 20:07] michaelstaib opened #3156 "VSCode gets really slow and has about 80% constant cpu usage if more that 30 interfaces are implemented"
## Issue Description ##
[code]

## Steps to Reproduce ##

The interface basically has two methods `Enter` and `Leave`. When I open this in vscode mono-sgen64 goes wild and uses about 80% of the cpu. This only happens when I open this class of the project.

https://github.com/ChilliCream/hotchocolate/blob/visitors/src/Core/Language/Visitors/SyntaxNodeVisitor.cs

If I close this file and reopen it a

[2019-07-04 20:19] MrAlfo opened #3157 "C# Extendation wiht Unity"
I want to Unity and C# Debugger and this extentation, but in VS Code, i cant use components and hints like "RigitBody2d". Normally, it should be automaticly. And I have a error message like ".net cli tools cannot be located" etc.
Please help me.

[2019-07-04 20:45] gregg-miskelly commented on #3155
@drk-mtr what OS are you on? Debugging normally works in Insiders, so I want to make sure the VS Code team didn't introduce a bug.

[2019-07-04 20:51] drk-mtr commented on #3155
Cheers for taking a look - I was actually just updating to close it:

Windows 10 Pro 1903 (build 10.0.18362.175)

[2019-07-04 21:05] drk-mtr commented on #3155
Just tried to re-create on:
VSCode 1.36.0 (succeeds)
VSCode 1.36.0-insider (succeeds)
VSCode 1.37.0-insider (fails)

The 1.36.0-insider is on a different PC that can't see any available updates, so I don't think I'm able to test on there without wiping and re-installing to get the latest. Guess they're staggering the releases.

[2019-07-04 21:43] omartin2010 commented on #3155
seeing the same issue here.

[2019-07-04 21:53] omartin2010 commented on #3143
The same problem reoccurs if you're moving from OSX to Windows regularly. I have files synched via OneDrive between MacOS and Windows (I know I could use git but I don't for this... until I'm actually ready to push a change), so when macos reloads the packages, paths are unix style and when in windows, windows style. So it breaks intellisense all the time until I reload the project. Is there a pro

[2019-07-05 09:20] aadesola commented on #626
I had a similar issue and restarting my system worked.
![image](https://user-images.githubusercontent.com/25845446/60712251-7f8fcd80-9f0e-11e9-967a-cf05bd655702.png)

[2019-07-05 13:15] DanJ210 commented on #1197
Thank you @akshita31 very informative. I appreciate the awesome product no doubt and July is no time at all.

[2019-07-05 14:23] emarks commented on #3147
Yes, I installed dotnet for the first time on this laptop within the last week.  I installed the C# extension immediately after validating that dotnet worked from the command line.

Restart made no difference.

Note that this is only happening with one user account on the laptop.  A second one worked fine.  I added a third just to test and it worked fine.  The effected user had already been using

[2019-07-05 17:12] guardrex commented on #3155
Same issue just cropped up for me. It wasn't doing this yesterday (before it updated iteself). I'm on ...

<img width="288" alt="Capture" src="https://user-images.githubusercontent.com/1622880/60736816-f385a200-9f1d-11e9-8498-30082410b750.PNG">

Win10 ... and I can't use/don't want the Insiders Version.

[2019-07-05 17:14] hnviradiya commented on #2437
@nimrodolev I think if this is not added as bug, then you should raise this.

[2019-07-05 20:16] gregg-miskelly commented on #3155
@drk-mtr I *think* the VS Code team fixed the insiders problem in the latest build, at least I can't reproduce it, and omartin2010 indicated that the newest build fixes it for him. If you have the cycles, can you try updating to the latest and see if it works.

@guardrex I *think* your issue is different since it is happening in the release channel. It happens every time? Does it by chance go away

[2019-07-06 00:26] guardrex commented on #3155
@gregg-miskelly Thanks ... I'll try an uninstall/reinstall on Saturday and open a new issue if it's still failing after that.

[2019-07-06 11:16] filipw commented on #3053
this is a "false positive".

The real issue is likely that OmniSharp selects msbuild from Visual Studio 2017 instead of the new msbuild 16 that ships with OmniSharp or with VS 2019.
The workaround would be to either install latest VS 2019 on that machine, that will allow Omnisharp to use its msbuild. This is the "better" workaround.
The "worse" workaround would be that you could... uninstall VS 20

[2019-07-06 13:16] guardrex commented on #3155
I decided to wait a bit and see if anyone else hits this (or until a new VSC releases).

AFAICT, this is a regression on the update because it was working perfectly until immediately after the last update. Now, I get this error every debug attempt. In the meantime, I'll just `dotnet run` my apps without debugging.

[2019-07-07 13:20] rledyard commented on #2820
@NTaylorMullen - Sorry for the delay. I have attached a bug report with log dumps
[VSCode_RazorServer_BugReport_2019-07-07.txt](https://github.com/OmniSharp/omnisharp-vscode/files/3365674/VSCode_RazorServer_BugReport_2019-07-07.txt)
.

[2019-07-07 22:44] christianscheuer commented on #2472
This also happens to me many times daily. 50% of the time I type for example `return new ` the `new` gets converted to `nameof`.
From the comment here https://github.com/microsoft/vscode/issues/60753#issuecomment-430190566 it seems like the issue could be a missed "cancel" call on the async suggest handler?
It appears what happens is:
- I start typing "n"
- The suggest system reacts to the "n" eve

[2019-07-08 01:15] LiamMorrow commented on #2994
I have this same issue.  My env:
[code]
VS Code version:
[code]
C# Extension version: 1.20.0

[2019-07-08 07:08] filipw opened #3158 "End of life for .NET Core 1.0 / 1.1 (project.json)"
.NET Core 1.0/1.1 reached end of life and went out of support on 27 June 2019.
Support for `project.json` should be removed.

We would like to remove it from [OmniSharp](https://github.com/OmniSharp/omnisharp-roslyn/pull/1539)

cc @akshita31 @rchande

[2019-07-08 08:49] johankvint commented on #3023
@steveoh Thanks a lot dude!

[2019-07-08 09:38] filipw commented on #3023
@nguerrera @rchande I proposed a change to how we score msbuild here https://github.com/OmniSharp/omnisharp-roslyn/pull/1545
it should prevent vs2017 to be ever selected over the bundled msbuild 16 and still allow vs2019 to be used

[2019-07-08 16:25] gregg-miskelly commented on #3158
project.json is also used by old school PCL projects along with a .csproj file. Do we want to remove both?

[2019-07-08 17:46] filipw commented on #3158
we never did anything special to support that in OmniSharp, has it ever really worked?

[2019-07-08 18:26] gregg-miskelly commented on #3158
I don't know. I only brought it up because back when Dustin added the 'project.json is deprecated' message, we got complaints from folks with PCL projects since those are not deprecated. For this new effort maybe they can be ignored.

[2019-07-08 18:50] filipw commented on #3158
Could you guys look at the telemetry to determine how much project.json is used?

An alternative approach would be to extract it from OmniSharp and make it a plugin (ala Razor) that users can opt into.

[2019-07-08 20:58] rchande commented on #3158
We only keep telemetry going back a couple of months, but in that time I see 0 instances of projects targeting .NETCore 1.0. I think it's safe to remove support.

[2019-07-09 02:50] sborkowski commented on #3155
@guardrex I'm having the exact same issue. Updated, and now I can no longer debug.

[2019-07-09 07:20] paulhannon0 commented on #1794
@rchande Any word on this? Coming up on 2 years since this was reported now.

[2019-07-09 09:30] seanmars commented on #2342
In 1.20.0 this issue still happened.

[2019-07-09 11:45] drk-mtr commented on #3155
I can confirm this appears to be resolved on vscode-insiders with commit versions starting `d50852` and `9296aa`. Thanks!

[2019-07-09 15:09] stephtr opened #3159 "Extension activation fails due to missing dist folder"
On one of my PCs the `extensions\ms-vscode.csharp-1.20.0\dist` folder somehow went missing (probably during an automatic extension update). Reinstalling the extension within VS Code didn't help, VS Code didn't remove the `extensions\ms-vscode.csharp-1.20.0` folder during uninstall. Instead I had to uninstall it, manually remove the folder and again install the extension. Is that an issue of VS Cod

[2019-07-09 15:22] stephtr commented on #3159
It seems like one has to restart, not reload VS Code for removing old extensions' directories.

[2019-07-09 15:22] #3159 closed

[2019-07-09 15:25] #3155 closed

[2019-07-09 16:00] wheelerlaw opened #3160 "The SDK 'Microsoft.NET.Sdk' specified could not be found"
## Issue Description ##
Fresh installation of .NET Core 3, VSCode, and the C# extension fails to open apps created by `dotnet new console -o test-app` on Fedora 29. Some of the related issues have workarounds, but they only work on Windows.

## Steps to Reproduce ##
1. Install .NET Core 3 snap:
[code]
2. Install VSCode:
[code]
3. Install the C# extension in VSCode
4. Create a new project:
[code]
5

[2019-07-09 16:06] gregg-miskelly opened #3161 ".NET Debugging is supported only in Microsoft versions of VS Code error in VS Code 1.36.0"
After updating to VS Code 1.36.0 (current released version) to users are running into the following error when they start debugging -

".NET Debugging is supported only in Microsoft versions of VS Code. See https://aka.ms/VSCode-DotNet-DbgLicense for more information."

[2019-07-09 16:07] gregg-miskelly commented on #3155
@sborkowski @guardrex I decided to fork this bug between the insiders problem that this bug was originally opened about, and the problem that you two are running into that is affecting the release channel of VS Code. The new issue: https://github.com/OmniSharp/omnisharp-vscode/issues/3161

[2019-07-09 16:09] gregg-miskelly commented on #3161
@sborkowski @guardrex are you both on Windows? if not, what OS are you on?

[2019-07-09 16:15] guardrex commented on #3161
Win10 here

[2019-07-09 16:21] divinebovine opened #3162 "Latest omnisharp BadImageFormatException on Omnisharp.Abstractions"
## Issue Description ##
Using the latest version of omnisharp in vscode throws a System.BadImageFormatException on the Omnisharp.Abstractions library.

## Steps to Reproduce ##
Set `"omnisharp.path": "latest"` in the settings.json file and restart omnisharp

## Expected Behavior ##
Omnisharp loads without error

## Actual Behavior ##
Omnisharp throws an exception

## Logs ##

### OmniSharp log ###

[2019-07-09 16:52] filipw commented on #3162
it looks like it didn't download correctly for you?

the C# log should say:

[code]

Can you please remove the `C:\Users\daniel.vscode\extensions\ms-vscode.csharp-1.20.0.omnisharp\1.33.1-beta.7` folder and try again?

[2019-07-10 00:21] wheelerlaw commented on #3160
Okay, so the issue is caused by this [line](https://github.com/microsoft/msbuild/blob/master/src/Build/BackEnd/Components/SdkResolution/DefaultSdkResolver.cs#L32) inside of `DefaultSdkResolver`:

[code]
Unless that the environment variable `MSBuildSDKsPath` is set, the value will default to `(MSBuild Root)\Sdks\`. MSBuild in this case is the currently running instance which is discovered by the `M

[2019-07-10 04:17] sanboxrunner opened #3163 "Colorization Issue with Spacing"
## Issue Description ##
Hello!

Any method which returns a value Tuple breaks colorization if there are no spaces. As an example:

[code]

Here is the text in VSC using the Dracula theme (though issue reproduces in every theme i've tried):

![image](https://user-images.githubusercontent.com/31973761/60939968-d5b29700-a2a7-11e9-9895-f767896dcba3.png)

Here is the image if we add a space after the T

[2019-07-10 04:18] sanboxrunner commented on #3163
Worth pointing out that the problem can become reasonably bad. Here's some code where i've lost all colorization in an extension method where the colorization would be really quite useful

![image](https://user-images.githubusercontent.com/31973761/60940072-3e017880-a2a8-11e9-9d30-b929b6f732e0.png)

[2019-07-10 15:52] divinebovine commented on #3162
@filipw thank you, that did the trick. I'll try to remember this if I encounter this issue again.

[2019-07-10 15:52] #3162 closed

[2019-07-10 18:46] chaselal commented on #2937
I still get this error when creating new projects with `dotnet new console`.

[2019-07-10 19:10] chaselal commented on #2937
Installing Visual Studio 2019 and opening my `.sln` in Visual Studio 2019 fixed the problem for me.

[2019-07-11 07:16] Djordje121 commented on #2820
`"razor.disabled": true`  is not work around, it just disables option to view razor logs in terminal.

[2019-07-11 09:02] schplorg commented on #2088
I got it working by dropping a symbolic link of Library/ScriptAssemblies into Temp/bin named Debug.
It's possible via cmd or with this neat shell extension:
http://schinagl.priv.at/nt/hardlinkshellext/linkshellextension.html
It's a dirty hack and I wish someone could point me to the real solution to this issue ❤️

[2019-07-11 16:02] AnthonyMastrean opened #3165 "Warnings are not displayed in the problems panel"
## Issue Description ##

Warnings are not displayed in the problems panel.

## Steps to Reproduce ##

Add some code, to, literally, any kind of csharp project, that usually produces a warning, for example, an unused field.

[code]

The `dotnet build` command line complains

[code]

## Expected Behavior ##

Warnings should be displayed in the problems panel.

## Actual Behavior ##

Warnings are not

[2019-07-11 16:03] AnthonyMastrean commented on #3165
For what's it's worth, warnings that are upgraded to errors are also not displayed.

**Example.csproj**

[code]

[2019-07-11 17:24] overwatch11m99 commented on #2924
i tried to change the target framework and suddenly it get solved!

[2019-07-11 17:45] allevyMS opened #3166 "how do I retrieve the previous version of vsdbg"
my current flow requires an older version of vsdbg which supports interpreter type mi and the --attach flag

in my current flow I download https://aka.ms/getvsdbgsh and then run:
 vsdbg root/getvsdbg.sh -v latest -l /vsdbg

In the latest version 16.2.10709.2 the features I need are already deprecated

I have tried finding a list of previous versions so I could fix the version (till I upgrade to th

[2019-07-11 17:50] gregg-miskelly commented on #3166
What are you using to connect to vsdbg that still worked?

[2019-07-11 17:52] gregg-miskelly commented on #3166
Actually, we talk about this in https://github.com/microsoft/MIEngine/issues/892 since that is probably a more appropriate repo.

[2019-07-11 17:52] #3166 closed

[2019-07-11 20:48] NTaylorMullen commented on #2820
@Djordje121  `"razor.disabled": true` will prevent the Razor language server from booting at all. If you're still seeing crashes chances are it's another extension 😢

[2019-07-12 01:10] Cedz commented on #2815
Currently failing with exact same error message on the latest version of C# Estenstion and VSCode

Starting OmniSharp server at 7/11/2019, 5:57:54 PM
    Target: c:\WorkSpace\src\repos\WikiFeedbackLinkInjector

Log
OmniSharp server started.
    Path: c:\Users\celabu\.vscode\extensions\ms-vscode.csharp-1.20.0\.omnisharp\1.32.20\OmniSharp.exe
    PID: 45760

[info]: OmniSharp.Stdio.Host
        Star

[2019-07-12 01:13] imba-tjd commented on #2815
@Cedz You'd better open a new issue

[2019-07-12 05:42] ExceptionGit opened #3167 "Hidden diagnostics are not displayed in the problems panel"
## Issue Description
Maybe after this https://github.com/OmniSharp/omnisharp-vscode/pull/2873 , the `csharp.suppressHiddenDiagnostics` option does nothing.

## Environment data
C# Extension version: 1.20.0 , v1.21.0-beta1 , v1.21.0-beta2

## Steps to reproduce
`"csharp.suppressHiddenDiagnostics": false` or `"csharp.suppressHiddenDiagnostics": true`

## Expected  behavior
Hidden diagnostics should

[2019-07-12 08:01] genne opened #3168 "Timeout when using Microsoft.CodeAnalysis.FxCopAnalyzers"
## Issue Description ##
Can't get `Microsoft.CodeAnalysis.FxCopAnalyzers` to load, Omnisharp log includes the following failure:
`Analysis of document failed or cancelled by timeout: The operation was canceled.`

## Steps to Reproduce ##
1. `dotnet new console`
2. `dotnet add package Microsoft.CodeAnalysis.FxCopAnalyzers`
3. Enable Roslyn analyzers
4. Restart Omnisharp

Example repository: https:/

[2019-07-12 10:00] thomasfdm opened #3169 "Null not highlighted when casted to type"
## Issue Description ##
When passing `null`, casted to a type, as an argument into a function with a space between the Cast operation and the `null` literal, the null literal isn't highlighted as a keyword.

## Steps to Reproduce ##
Paste the following code into VSCode:
[code]
Notice how the first call the `null` is not highlighted as a keyword. (Only just noticed but this also seems to be the cas

[2019-07-12 14:02] filipw commented on #3165
CS0169 is a build diagnostic, you need to run a build `ctrl+shift+b` for it to show up, it cannot be shown otherwise (same in Visual Studio).

If you'd like to get the diagnostics around unused members from intellisense immediately upon typing, without building, that's IDE0051 diagnostic from roslyn analyzers.
For it to work you need to enable `"omnisharp.enableRoslynAnalyzers": true` setting.

[2019-07-12 16:09] AnthonyMastrean commented on #3165
I don't see any Problems picked up when running the default build task (this was created automatically by Code).

[code]

![code-build-warning](https://user-images.githubusercontent.com/217842/61142478-d876dd00-a49d-11e9-9295-0f53be5cfd90.gif)

[2019-07-12 16:10] AnthonyMastrean commented on #3165
The "Enable Roslyn Analyzers" option is working pretty nicely, though.

[2019-07-12 17:39] rjmholt opened #3170 "Stepping into/over stackalloc causes debugger to crash"
## Issue Description ##

I've got a line in a csharp program I'm writing that looks like:

[code]

When I step into or over it in the debugger, if I'm not fast enough, the debugger and program being debugged will crash. It looks like a native crash, where there's no error message or indication of failure.  The debugger just goes down along with the program being debugged in the terminal and VSCode

[2019-07-12 17:54] gregg-miskelly commented on #3170
What version of .NET is your program running on?

[2019-07-12 17:56] rjmholt commented on #3170
Oh sorry! .NET Core 3.0-preview.6

[2019-07-12 17:58] rjmholt commented on #3170
The full context is in https://github.com/PowerShell/PowerShell/pull/10050 ([here](https://github.com/PowerShell/PowerShell/pull/10050/files#diff-108481289fddb0676969798e6ea33db9R90))

[2019-07-12 19:13] bradcavanagh-ffs opened #3171 "CS1591 warnings appear for sub-project with <NoWarn>"
## Issue Description ##

If VS Code is opened from a directory that contains a project in a subdirectory, the `<NoWarn>` section in the project's `.csproj` file is not honoured.

In my current setup I have one top-level directory that contains multiple projects, one for a .NET Core webapi, one for integration tests, one for development scripts, and one for a React front-end. I could open up VS Cod

[2019-07-12 19:24] bradcavanagh-ffs commented on #3171
Wait a minute, something's hinky. After restarting VS Code and OmniSharp a couple of times, it's now honouring the `<NoWarn>` in the `.csproj` file...

¯\_(ツ)_/¯ as the kids say

[2019-07-12 19:24] #3171 closed

[2019-07-12 20:55] gregg-miskelly commented on #3170
This problem isn't actually caused by stepping over that line, but rather it is the formatting of the `mib` variable in the Variables window. Evaluating the debugger display function for that type crashes the target process. If you are blocked, you can work around this by very carefully avoiding having the debugger evaluate that function -- close the variables window, and make sure you never hover

[2019-07-12 20:57] rjmholt commented on #3170
Ah, interesting! No not blocked (it *sometimes* works but usually I set a breakpoint after it and continue to it). Thanks for your help!

[2019-07-12 21:05] #2472 closed

[2019-07-13 13:33] ltlombardi opened #3172 "Razor Language Server crashing"
Issue Type: <b>Bug</b>

Editing a Blazor client side project just created from the template, is crashing the Razor Language Server.. No Intelisence..
.NEt core SDK 3.0.100-preview6-012264

Extension version: 1.20.0
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Va

[2019-07-13 18:08] anuchandy opened #3173 "Disabling implicit evaluation of properties and functions during debugging"
Do we've equivalent to visual studio option `Debugging > General > Enable property evaluation and other implicit function calls`? I'm looking for a way to disable implicit evaluation of properties and functions.

Visual studio doc for this is here: https://docs.microsoft.com/en-us/visualstudio/debugger/error-evaluating-the-function-process-exited?view=vs-2019#solution-2-disable-all-implicit-evalua

[2019-07-13 19:38] ltlombardi commented on #3172
This time, I was just writing code in line 6 as instructed in this [MS tutorial.](https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.0)
Picture
![image](https://user-images.githubusercontent.com/898124/61175836-91b3e080-a58c-11e9-9036-4b48ea3975ec.png)

[2019-07-13 19:39] ltlombardi commented on #3172
And here is the log
[code]

[2019-07-13 19:41] majeric opened #3174 "Request for Clarification on Roslyn Analyzer Ruleset implementation"
## Issue Description ##
Documentation Request:

1) Please Clarify how to manage rulesets for the rosyln analyzers. Does one need to modify the csproj files to include the custom ruleset file.

2) There's not a lot of documentation on how to write a rulset xml files.

3) Given that this vscode extension is used by Unity a lot, is there a ruleset file that a project tries to load by default. Unity r

[2019-07-13 19:55] #3172 closed

[2019-07-13 19:58] ltlombardi commented on #3172
when I type http://localhost:5000 it gets redirected to https://localhost:5001/ and it doesn't load giving this error:
[code]

This tutorial should not let this happen. If open in old IE, the server loads..

[2019-07-14 06:27] guy-rouillier commented on #3049
I'm stuck on this issue with Ubuntu 19.04.  I tried setting omnisharp.useGlobalMono: never (for those wondering where you do this, there is a setting in VS Code.) Did not help.  I tried complete uninstalling and reinstalling Mono.  That didn't help either.

What worked for me was installing VS code from this Microsoft site:

https://code.visualstudio.com/docs/setup/linux

Do *not* install from the

[2019-07-14 08:35] savpek commented on #3174
One very major improvement for this may be language support for .ruleset files.

- Ruleset files have well known schema (https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/RuleSet/RuleSetSchema.xsd) which can be used to support xml autocomplete/validation.
- omnisharp-roslyn knows what analyzer assemblies are loaded, that information can be used to provide autocomple/validati

[2019-07-14 08:42] savpek commented on #3174
Answer for 1: They need to be added to .csproj files. Basically they work same way as in visual studio. Visual studio has additional tooling on top of them however.

[2019-07-14 09:07] savpek commented on #3167
They were modified work so that `csharp.suppressHiddenDiagnostics` controls will hidden diagnostic be hidden or hints instead. Hints are visible as small dots in editor. However they are not visible in problem panel.

![image](https://user-images.githubusercontent.com/481896/61181420-ef990480-a62e-11e9-817e-f15fa4abc991.png)

`suppressHiddenDiagnostics` was actually bit misleading, it didn't contr

[2019-07-14 20:43] anon176 opened #3175 "Failed to load project file .csproj"
## Issue Description ##
Project fails to load and therefore not getting any intellisense, etc.

## Steps to Reproduce ##
dotnet new -i "monogame.templates.csharp"
dotnet new mgdesktopgl -o "test"
cd test && dotnet restore
dotnet run

project runs fine but omnisharp doesn't work, project fails to load in vscode

## Logs ##

### OmniSharp log ###
<details>Starting OmniSharp server at 7/14/2019, 4:34

[2019-07-14 21:15] #3175 closed

[2019-07-15 02:50] sborkowski commented on #3161
Win10 also.

[2019-07-15 07:14] ExceptionGit commented on #3167
Yes, thanks @savpek . Would be nice to change the flag description to a more detailed.

[2019-07-15 11:15] mic-hnk commented on #3079
OS: Ubuntu 16.04
VS Code version: 1.35.1
C# Extension version: 1.20.0

I had the issue in unit test project. Is is gone after I removed all **IDisposable** implementations.

[2019-07-15 11:16] mic-hnk commented on #2763
I found a  hint in #3079 and removing IDisposable implementations actually helped.

[2019-07-15 16:39] Hardkore9t8 opened #3176 "Errors when running .net generate assets to build .vscode folder"
Please paste the output from your ## Issue Description ##
## Steps to Reproduce ##
Go to Command Palette
![Screen Shot 2019-07-15 at 12 32 20 PM](https://user-images.githubusercontent.com/22879324/61232658-d8284d00-a6fc-11e9-8d54-f2ee803f0fea.png)
Select .Net Generate Assets for Build and Debug
## Expected Behavior ##
Build .vscode folder with launch.json and task.json
## Actual Behavior ##
![Scre

[2019-07-15 17:38] gregg-miskelly commented on #3176
I believe this is your problem --
[code]

[2019-07-15 17:43] Hardkore9t8 commented on #3176
Thanks for your feedback gregg-miskelly but how do I solve the problem.  Thanks for any help you can give

[2019-07-15 17:53] gregg-miskelly commented on #3176
Sorry if this is obvious, but what that error is saying is that attempting to create the directory `/Users/DaddyNupe/InventApp/InventApp.API/bin` is failing due to lack of privilege. So you could see if you can manually produce this problem from terminal, and if so either fix the permissions on the directory so that the directories can be written, or copy the project to a different directory which

[2019-07-15 18:30] gregg-miskelly commented on #3173
Unfortunately, no, we don't have an option to set this in VS Code. Though we definitely should.

[2019-07-15 18:35] gregg-miskelly commented on #3173
Implementation note: the fix for this is to set `DkmEvaluationFlags::NoFuncEval`

[2019-07-15 19:31] rchande commented on #3079
@KristianBalaj @mic-hnk Can you see if this goes away if you set the option ```"csharp.referencesCodeLens.enabled": false``` ? I think what's happening is that the references code lens provider is consuming a lot of cpu searching for IDisposable implementors.

[2019-07-15 19:32] rchande commented on #3167
@savpek Is there a way to do this without using a ruleset file?

[2019-07-15 19:39] Hardkore9t8 commented on #3176
Hi I  granted permissions on all the project files and I am still getting Could not locate .net core project assets not generated

[2019-07-15 19:46] rchande commented on #3176
@Hardkore9t8 What happens if you manually create those directories w/appropriate permissions?

[2019-07-15 19:48] rchande commented on #3175
@anon176 I see you closed the issue. Did you get this resolved?

[2019-07-15 19:50] rchande commented on #3174
@majeric Thanks for filing this, I think this is a great issue. @savpek I'll write something up and ask you to review it.

[2019-07-15 19:59] filipw commented on #3174
we could consider adding support for  "global" rulesets via Omnisharp.json file too

[2019-07-15 20:18] Hardkore9t8 commented on #3176
I uninstalled C# and reinstalled ran npm i and npm run compile then added the launch.json package from the command palette.  But to answer your question it created empty files  bin and obj/debug

[2019-07-16 04:29] mdx0111 opened #3178 "Unable to launch debugger worker process"
## Issue Description ##
Unable to launch an external console under Fedora 30 and KDE desktop. This works fine on the same machine in gnome but not KDE. Both Konsole and gnome Terminal are installed.
More than happy to run any test and post any log on your request.

Your help is much appreciated.

Many thanks.

## Steps to Reproduce ##
1- Create a dotnet core console app
2- Set "console" to "extern

[2019-07-16 04:29] mdx0111 commented on #3178
Please see below my launch.json file:

[code]

Many many thanks.

[2019-07-16 07:48] mic-hnk commented on #3079
@rchande I think it helped. After changing the recommended setting and opening a project with **IDisposable** implementations I cannot observe high cpu usage anymore. I am not sure though if this is a perfect solution to disable the given code lens ;)

[2019-07-16 11:06] KristianBalaj commented on #3079
@rchande yeah disabling code lens helps. I've tested both enabled/disabled states, compared it and the disabled state is exactly how it should work.
On the other hand, I don't think it's a problem just with *IDisposable* implementations. I've tested this issue on a smaller project (approximately 200 code files divided into smaller assemblies) where I have *IDisposable* implemented and there is no

[2019-07-16 11:10] mic-hnk commented on #3079
I think project size is not a problem. I faced this issue in xunit test project with 10 files. I even removed all but one code files and cpu usage remained high.

[2019-07-16 11:12] KristianBalaj commented on #3079
Maybe you forgot about xunit assemblies included in the solution. There are many types, too.

[2019-07-16 15:35] rasolo commented on #3099
I get the same error with .NET Framework project.

It is a shame because I was going to move my projects inside WSL for the increase in speed but that wont work right now.

[2019-07-16 15:44] savpek commented on #3167
@rchande I don't think that can be made without rulesets at current release.

[2019-07-16 21:41] gregg-miskelly commented on #3178
Hi @mdx0111 the code that is failing is actually in VS Code rather than this extension. The C# extension is just reporting the error message that VS Code returns -- `can't find terminal application 'dumb'`.

I may need to pass you off to the VS Code repo for more help, but one thing to check is that in VS Code preferences you can set what external terminal you want to use. So you might see what th

[2019-07-17 01:26] richlander commented on #3158
I am also OK with removing project.json support.

[2019-07-17 03:54] guy-rouillier opened #3180 "Microsoft.Build.Exceptions.InvalidProjectFileException: The imported project "/usr/lib/mono/xbuild/15.0/Microsoft.Common.props" was not found."
## Issue Description ##

This problem occurs if I install dotnet from the Ubuntu 19.04 repositories.  If I instead install from the Microsoft site, the problem does not occur.  I don't know if this is an OmniSharp issue, or an Ubuntu packaging issue.  So I'll start here, and if the issue belongs to Ubuntu, please let me know and Ill take it there.

## Steps to Reproduce ##

Install dotnet-sdk-2.2

[2019-07-17 04:20] mdx0111 commented on #3178
Hi Gregg,

You were absolutely right. It was VS Code that couldn't find the right terminal to use. For some reason that I don't understand, it was set to 'dumb'! I just changed it to KDE Konsole and the problem is resolved.

Many many thanks for your help.

[2019-07-17 04:20] #3178 closed

[2019-07-17 11:52] SuperJMN opened #3181 "Lack of support for Linux ARM32 (Raspberry Pi)"
* No IntelliSense
* No quick actions
* No debugger
* Lack of integration (F5, Control + F5...)

I'm using VS Code ("Code-OSS") by headmelted and it just acts like a plain simple text editor. The only feature that works is syntax coloring.

Please, provide more support to this platform. The combo Raspbian + VS Code is 100% winner.

[2019-07-17 13:24] Vulfox commented on #3180
I am also experiencing the same issues. After I use this hotfix solution for the Sdk.props file, it fixes OmniSharp for my VSCode.

I have the same environment setup as the OP.

[2019-07-17 13:50] garfbradaz commented on #373
@gregg-miskelly : Is this feature out of beta yet?

[2019-07-17 14:03] silicakes commented on #2472
Started happening to me following the recent update:

OS: macOS Mojave (10.14.5)
VSCode version: 1.36.1
language within editor: Javascript

![flaky_autocomplete](https://user-images.githubusercontent.com/1759539/61381498-8826c300-a881-11e9-9db1-c62833ce2e6e.gif)

It seems like the autocompletion is selected by default and pressing the semicolon key triggers it.

[2019-07-17 14:43] gregg-miskelly commented on #373
Yes

[2019-07-17 15:11] #2417 closed

[2019-07-17 16:27] Rubiss opened #3182 "Project Selector (OmniSharp: Select Project) missing .sln files"
## Issue Description ##
Not all of the .sln files in the workspace directory are available for selection in the project selector. The proper .sln cannot be selected resulting in "no definition found" messages when attempting to go to definition.
## Steps to Reproduce ##
Open a directory with VSCode that contains 236 .sln files in various nested directories > Navigate to a file 6 folders deep (meth

[2019-07-17 17:52] SeijiSuenaga commented on #1424
Based on the discussion above, it sounds like the problem is that this extension doesn't receive enough contextual information from omnisharp-roslyn to fix the problem.

[2019-07-17 17:59] nguerrera commented on #3160
Finding SDKs using that default resolver is not the happy path. There's a a resolver that runs first that is supposed to find things that come from the .NET Core SDK.

https://github.com/dotnet/cli/tree/master/src/Microsoft.DotNet.MSBuildSdkResolver

When that fails, the default resolver, gets a try. This is largely a legacy thing that the default resolver can find a fixed copy of the sdk next to

[2019-07-17 18:02] nguerrera commented on #3160
Oh, what you referenced as the "legacy" resolver, is actually not legacy at all. The default resolver is the legacy one. The code I pointed to is for this Microsoft.DotNet.MSBuildSdkResolver.dll, that's the one that should find the things in .NET Core SDK, and I am assuming the PATH is setup differently, which is causing it not to work. Fixing this should focus on that resolver.

[2019-07-17 18:13] rusmaxham commented on #1424
This issue also drives me nuts.

[2019-07-17 20:29] gregg-miskelly commented on #3170
I believe this is a problem with the .NET Runtime, so I opened up https://github.com/dotnet/coreclr/issues/25753

[2019-07-18 01:23] dan-maxwell commented on #3161
I have a fresh installation of the Microsoft VS Code version 1.36.1.  I am receiving the warning in the console.

![image](https://user-images.githubusercontent.com/5944525/61422305-b67fbf00-a8d0-11e9-8f77-35e467e43945.png)

[2019-07-18 03:17] firezdog commented on #2891
"Reformat your PC" is not an acceptable solution to this problem.

[2019-07-18 08:41] rasolo commented on #3099
@mmello-certica @marcusm
Try to install the latest build version of Windows in the fast ring, it works for me.
Microsoft Windows [Version 10.0.18936.1000]

It wont help if you have the same problem as me with my laptop in that I can't install that version. But it works on my stationary.

[2019-07-18 14:37] jchannon commented on #3035
No takers?

[2019-07-18 15:06] gregg-miskelly commented on #2105
It is being actively worked on both the VS debugger team and the CLR team. Our hope would be fairly soon as time is running out to fix the runtime before it is released. But all new platforms have a stage where known feature work is done and you have a series of blocking bugs and you can't see what comes next until these are debt with, and ARM64 has been no different. So it is impossible to give a

[2019-07-18 15:20] luyseyal commented on #3004
Ditto for Linux.

[code]

[2019-07-18 15:38] luyseyal commented on #3004
I think this is fixed if you install `fsharp` for Linux. Sorry, I installed a TON of stuff but I think that's the one that did it.

[2019-07-18 16:59] gregg-miskelly commented on #3161
@dan-maxwell That isn't a warning. It is just the license text. Unless you are seeing ".NET Debugging is supported only in Microsoft versions of VS Code. See https://aka.ms/VSCode-DotNet-DbgLicense for more information." you are all good.

[2019-07-18 17:20] dan-maxwell commented on #3161
Got it.  Thanks.  Wish I could hide it though.

[2019-07-18 21:06] richlander commented on #2937
I tried this on a new macOS machine and did not run into this problem with the latest 3.0 preview and VS Code. If anyone is still having this problem, can you provide a detailed description of your environment?

[2019-07-18 21:06] majames commented on #3079
As another data point, we just added some unit tests that implement the `IDisposable` in the large code base I work in and omnisharp started to consume crazy amounts of CPU.

My dev environment is on linux so looks like the issue is cross-platform too 😬

[2019-07-18 22:48] omarfq commented on #3087
Im facing the exact same issue.

[2019-07-18 22:59] gregg-miskelly commented on #3087
@omarfq can you copy/paste your OmniSharp log or open a new issue with it?

[2019-07-18 23:37] omarfq commented on #3087
@gregg-miskelly sure. Just so you know, I created a console app using `dotnet new console`. When I open the folder where the project is located using the command `code .` I get this notification as soon as VSCode opens:
<img width="548" alt="Screen Shot 2019-07-18 at 7 06 46 PM" src="https://user-images.githubusercontent.com/43190119/61498620-fa86c880-a991-11e9-9a6c-9ad8c689e4d0.png">

Here's the

[2019-07-19 00:57] paladin2005 commented on #2228
With the new version of omnisharp and c# extension for VSCode now you can do it... I just checked and I am very happy.
Just change:
`"omnisharp.enableEditorConfigSupport": true`
Create a .editorconfig file with:
[code]

and then install the editorfile extension in vscode to force to load the file.
That's it.
Good luck.

[2019-07-19 01:45] omarfq commented on #3087
I managed to solve the issue by following the steps from this comment:
https://github.com/OmniSharp/omnisharp-vscode/issues/2509#issuecomment-420318250

As far as I can tell, the root cause of this problem has to do with the OmniSharp.MSBuild.ProjectManager. By attempting to fix the following error I managed to solve all the other subsequent errors:

![Screen Shot 2019-07-18 at 9 41 24 PM](https:/

[2019-07-19 03:46] xcaptain commented on #3049
I'm having the same issue, I think it's because the conflict between dotnet core and mono, after I uninstalled mono related packages, every thing goes well, I'm using archlinux, so you can try

[code]

[2019-07-19 12:03] ihodev commented on #3138
Hello, @akshita31! Can I somehow change that color?

![image](https://user-images.githubusercontent.com/9801624/61533710-530fa180-aa36-11e9-948c-d58fecd91ba1.png)

[2019-07-19 15:36] mvalero commented on #3079
Several people on my team experience a similar behavior. Specially in some xunit test classes the CPU consumption just goes up to 80-100% through all 8 cores whenever you start editing them and trigger intellisense.

We were since long time trying to isolate one use case where the problem always happens and the hint with `IDisposable` is a very good one 😃, the classes where we mostly get the probl

[2019-07-20 08:10] darthwalsh opened #3184 "Logging should hide thread exit messages"
## Issue Description ##
The output of my ASP.NET Core 2.1 app is cluttered with output like warning messages like:
[code]

## Steps to Reproduce ##
Create a new aspnet core app, run it, make some requests, wait for a few minutes.

## Expected Behavior ##
If a thread exits successfully with code 0, by default don't show a warning message.

(Or in #1154 I see that @gregg-miskelly offers to add more

[2019-07-20 17:13] keeganstothert opened #3185 "System.TypeLoadException"
## Issue Description ##

[code]

## Steps to Reproduce ##
omnisharp instantly reports the issue when starting vscode or restarting omnisharp

### OmniSharp log ###
[code]

### C# log ###
empty

## Environment information ##

**VSCode version**: 1.36.1
**C# Extension**: 1.21.0

<details><summary>Mono Information</summary>
        OmniSharp using global mono :5.18.1</details>
<details><summary>Dotne

[2019-07-20 18:40] filipw commented on #3185
can you please share the complete OmniSharp log?

[2019-07-20 18:42] filipw commented on #3185
ah it's there already, sorry. can you try installing Mono 5.20?

[2019-07-20 21:53] robertjf commented on #3143
I've just had the same problem and after some searching what resolved this for me was manually deleting the obj folders for each project - there is a file `project.assets.json` in this folder that contains the reference to the `NuGetFallbackFolder` path that was causing problems with dotnet.

I initially tried a dotnet clean on the solution but it also failed - I had to run

[code]

in order to de

[2019-07-20 22:13] keeganstothert commented on #3185
[code]

here's the new output...looks identical except for version 5.20.1. I've also tried 6 which just came out. Same issue

[2019-07-21 12:00] filipw commented on #3185
what happens when you set `"omnisharp.useGlobalMono": "never"`?
also one other thing to try would be to completely remove extension folder `/Users/keeganstothert/.vscode/extensions/ms-vscode.csharp-1.21.0/` and reinstall again. we've seen similar issues when the downloaded omnisharp got corrupt

[2019-07-21 12:34] WoodyAtHome commented on #2937
I'm on ubuntu 19.04. Till yesterday everything worked, but only with omnisharp.json:
[code]

Today I updated the C# Sharp plugin to V1.21.0. Nothings works with or without omnisharp.json.
The Toolchain hasn't changed or (re)moved.

Output says:
[code]

[2019-07-21 16:21] fschwiet opened #3186 "C# extension seems to be unusable when downloading over a slow connection"
I have the C# extension installed, but when I try to run the "C#: Report issue" command it says the command is not available, probably because the extension is stuck downloading.

## Environment data
`dotnet --info` output:
[code]

VS Code version:
[code]

C# Extension version:
[code]

## Steps to reproduce

1.  Start visual studio code.  Already have c# extension installed in the past, it worked.

[2019-07-21 16:24] fschwiet commented on #3186
I wanted to do a little coding this morning, but ended up spending an hour trying to figure out why the extension isn't working and creating the issue.

Still downloading.

[2019-07-21 17:10] keeganstothert commented on #3185
yea i tried both those solutions again (they were offered as solutions in similar issues and I've tried them all). I get the exact same error in the output

[2019-07-21 17:35] filipw commented on #3185
it really sounds like a mono bug then.

can you navigate to `~/.vscode/extensions/ms-vscode.csharp-1.21.0/.omnisharp/1.34.0/omnisharp` and try running `mono OmniSharp.exe` or to `~/.vscode/extensions/ms-vscode.csharp-1.21.0/.omnisharp/1.34.` and try running `run`?

[2019-07-21 17:38] keeganstothert commented on #3185
with `mono Omnisharp.exe` i get this output

[code]

[2019-07-21 17:40] keeganstothert commented on #3185
with `run` the output is

[code]

[2019-07-21 17:41] keeganstothert commented on #3185
and i just discovered i can't run `msbuild myproj.sln` the output for that is

[code]

[2019-07-21 18:58] glaxaco commented on #3143
Thanks @robertjf. I just came to the same conclusion. After doing an exhaustive search on the Mac side of things for C:\Program Files\dotnet\sdk\NuGetFallbackFolder', all the hits were in <projectname>.csproj.nuget.g.props or <projectname>.csproj.nuget.g.targets files.

[2019-07-21 18:58] #3143 closed

[2019-07-22 02:52] keeganstothert commented on #3185
so i found a solution that works for me.

i uninstalled mono

[code]

then i install the latest mono through brew (version 6)

it still didn't work though and i wasn't able to confirm installation with `mono --version`

so i added `export PATH=$PATH:/usr/local/Cellar/mono/6.0.0.313/bin` to my .bash_profile
that got rid of the above error but to get omnisharp to actually provide intellisense to my

[2019-07-22 08:49] Venipa commented on #2891
Im currently having the same problem tho i dont have any wildcard in my `.csproj` or `packages.config`

[2019-07-22 08:50] Venipa commented on #2997
Im currently having the same problem tho i dont have any wildcard in my .csproj or packages.config.
It worked last week...

[2019-07-22 16:15] m1stermanager commented on #3185
downgrading my c# extension to 1.20.0 fixed a similar issue for me on OSX..... I was getting an error around `System.TypeInitializationException: The type initializer for 'Microsoft.Build.Shared.NativeMethodsShared' threw an exception.`

[2019-07-22 16:38] gregg-miskelly commented on #3186
Hi @fschwiet, the VS Code team has a proposal to address this problem in https://github.com/microsoft/vscode/issues/23251. When that is implemented, we should be able to eliminate dependency downloading in the C# extension and fix this issue.

[2019-07-22 16:38] #3186 closed

[2019-07-22 18:44] majeric commented on #3174
One of the common places this is used is by Unity which auto generates csproj files frequently. Any suggestion on how this may be worked around?

[2019-07-23 03:18] gregg-miskelly commented on #3184
To be clear - I wouldn't call this a "warning".

But your point that the full VS default is maybe not the right default for VS Code is a good point.

[2019-07-23 03:26] gregg-miskelly commented on #3184
Actually, looks like we don't even have a knob for configuring thread exit messages...

[2019-07-23 12:02] STayinloves commented on #2561
In my case, this issue is causing by a project level `.ruleset` configuration. It’s weird that the `<CodeAnalysisRuleSet>` isn’t overridden by `<NoWarn>`.

[2019-07-23 14:58] michaelstaib commented on #2847
I am having the same.

[2019-07-23 16:37] bwateratmsft opened #3187 "Automatically prompt to create and trust ASP.NET Core HTTPS development certificate"
Currently, ASP.NET Core web apps created with "dotnet new" have HTTPS enabled by default. The very first time you debug (or, after `dotnet dev-certs https --clean`), when no cert is created, debugging will fail, telling the user to run `dotnet dev-certs https`, optionally with `--trust` on Mac/Windows.

Similarly to how this extension suggests to create the tasks.json/launch.json when opening a C#

[2019-07-23 16:47] gregg-miskelly commented on #3187
It looks like the extension could use `dotnet dev-certs https --check` to detect if it is installed...

[2019-07-23 16:52] bwateratmsft commented on #3187
@gregg-miskelly That's right. Playing around with them I've noticed that `dotnet dev-certs https --check` checks to see if it's been created, and `dotnet dev-certs https --check --trust` checks if it's created _and_ trusted.

[2019-07-23 19:37] torquerrr commented on #3161
Just run into this issue with 1.36.0 on Manjaro (Arch) and SDK 2.2. Not sure I can try Insider build.

[2019-07-23 21:54] gregg-miskelly commented on #3161
@torquerrr Are you using a distribution of VS Code from Microsoft? Note that an insiders build wouldn't help here.

[2019-07-24 08:23] torquerrr commented on #3161
@gregg-miskelly
I believe mine is Community-OSS version from Manjaro community repo.

[2019-07-24 10:23] amittleider opened #3188 "'Step into: Stepping over non-user code' while debugging unit tests"
## Issue Description ##
Cannot step into code while running the debugger from the "Debug Test" code lens.

## Steps to Reproduce ##
Create a test assembly different from the production assembly. Make a test inside the test assembly, try to debug in the code lens. See the gif below.
![cannot_step_into](https://user-images.githubusercontent.com/1625951/61786107-55467700-ae0d-11e9-8a8f-a63dd277e277.g

[2019-07-24 10:46] amittleider commented on #3188
It was my fault -- the method is a generator method with a yield, the step-over message is actually correct in this case.

[2019-07-24 10:46] #3188 closed

[2019-07-24 14:49] Eagle3386 commented on #2513
Almost one year later, this bug (yes, it's a bug as a) OmniSharp ignores VSC's language setting and b) has no option for setting its own language either) still is unresolved.

If one might outline to some extend how to fix that (besides the mentioned awesome workaround by @rchande above), I'd love to implement it.

[2019-07-24 15:24] gregg-miskelly commented on #3161
@torquerrr what you are running into is expected -- only Microsoft official distributions of VS Code are supported. See https://aka.ms/VSCode-DotNet-DbgLicense for more information.

[2019-07-24 16:55] coldacid commented on #2561
I didn't have a ruleset configured when I encountered this problem but I do find that with the current versions of VS Code, the extension, and the dotnet SDK, the problem no longer occurs for me.

[2019-07-24 17:02] filipw commented on #2561
thanks a lot for confirming. if you have any ruleset problems, please open a new issue - it's a separate, new feature. thanks.

[2019-07-24 17:02] #2561 closed

[2019-07-24 19:12] asklar opened #3190 "VSCode shows squiggly lines on the wrong line in C# file that uses #line directive"
Issue Type: <b>Bug</b>

When using #line in a C# project, the editor doesn't using the mapped line to figure out where the error occurred

Extension version: 1.21.0
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) m3-7Y30 C

[2019-07-24 19:14] asklar commented on #3190
The compile error happens in line 37 (the Children object doesn't have an AddRange method). However because of the #line directive, the line where the editor shows the squiggly is wrong - it shows it as being in line 25

![image](https://user-images.githubusercontent.com/22989529/61821571-6347c800-ae0c-11e9-8de8-8fe7cfbb292f.png)

[2019-07-24 19:28] torquerrr commented on #3161
@gregg-miskelly
Oh, my bad!
Sorry for wasting your time on this and thanks for pointing me in the right direction. I will try to install the MS-distributed version now and see how it goes.
I have updated the aforementioned document, please, take a look.

[2019-07-25 00:19] dan655t opened #3191 "Intellisense and autocomplete use incorrect value for escaped C# keywords"
## Issue Description ##
Intellisense and autocomplete will chose an incorrect value for an escaped C# keyword if another variable with that keyword in its name is in scope.

## Steps to Reproduce ##
Name a method parameter an escaped C# keyword with another type in scope containing that keyword.  Attempt to assign something to that variable.  Pressing space will autocomplete incorrectly.

![escape

[2019-07-25 07:15] shcheah commented on #626
It's 2019 now and I have the exact same issue!

[2019-07-26 00:04] asdf23 commented on #2604
I'm glad I did this before messing with mono

[2019-07-26 07:38] Mastermindzh commented on #2994
Same here, would love a fix.

[2019-07-26 15:32] rchande commented on #2994
@cloudrex It's difficult to tell what's happening in that gif. Can you explain the problem in words?

[2019-07-26 15:33] rchande commented on #626
@shcheah Please file a new issue and include:
* output of `dotnet --info`
* Output of your "omnisharp log"

Thanks!

[2019-07-26 15:40] rchande commented on #3191
@dan655t Nice find. Looks like we don't include the `@` as part of the span to replace.

[2019-07-26 15:45] rchande commented on #2513
@Eagle3386 OmniSharp is just using the users's language setting. To alter this you would need to change the C# extension (https://github.com/OmniSharp/omnisharp-vscode) to read the VS Code setting and pass it to the server (https://github.com/OmniSharp/omnisharp-roslyn) which would also have to be changed to respect that configuration.

[2019-07-26 18:04] richlander opened #3193 "Omnisharp log not helpful when .NET Core SDK is missing"
This is the log I see when the .NET Core SDK is missing on Windows.

https://gist.github.com/richlander/30cd2b81fb20a1cfab2ffa1d54f98285

I know it is missing because I also see this dialog in Code.

![2019-07-26 10_11_16-Window](https://user-images.githubusercontent.com/2608468/61971613-5ce45800-af94-11e9-8d23-25c05815722f.png)

In this scenario, I'd like to not see the [error about missing the M

[2019-07-26 23:05] cloudrex commented on #2994
@rchande I'm repeatedly pressing CTRL + . to bring up the intellisense and it suddenly goes away.

[2019-07-27 12:58] vintzl commented on #1059
@andysterland
More than 2 years later, can you provide us any news?

[2019-07-28 01:11] nkev commented on #3141
@NTaylorMullen If it helps, this exact `JsonRpc.Server` crash occurs reproducably, every time on my Macbook (VS Code and with dotnet Core 2.1) right after I press the "dot" in `Orchard.` as shown in this example:
https://www.youtube.com/watch?v=4o9zG17cfa0&feature=youtu.be&t=1391

[2019-07-28 08:39] nkev opened #3194 "OmniShart code completion crashes"
## Issue Description ##
OmniShart code completion crashes at `OmniSharp.Extensions.JsonRpc.Server.JsonRpcException`
## Steps to Reproduce ##
On a Mac with VS Code with dotnet Core 2.2:
 - Follow the Orchard Core example [here](https://www.youtube.com/watch?v=4o9zG17cfa0&feature=youtu.be&t=1391):
 - press the "dot" at the end of "Orchard." right where the video above starts.

It doesn't always happ

[2019-07-28 15:03] lliill opened #3195 "OmniSharp.MSBuild.ProjectManager Failed to load project file"
## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting any global.json):
 Version:   2.2.401
 Commit:    729b316c13

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.401\

Host (useful for support):
  Version: 2.2.6
  Commit:  7dac9b1b51

.NET Core SDKs installed:
  2.2.40

[2019-07-28 17:58] Eagle3386 commented on #2513
Alright, I'll try and see if I can handle that. Wish me luck, cause up to now, I've only fixed MS docs.. 🤣

[2019-07-28 19:40] Eagle3386 commented on #2513
While I've managed to add an option and extend unit tests without much work, I seem unable to find docs about the needed variable name for `dotnet` ([OmniSharpServer -> server.ts, line 304](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/omnisharp/server.ts#L304), seems to enable direct "pass-through" for `dotnet`'s settings).

Any help would be greatly appreciated! 👍

[2019-07-28 23:03] drk-mtr opened #3196 "Is there any way to customise the "vsdbg.exe" path?"
## Use case

- Debugging using the `integratedTerminal` setting
- Using the ZSH shell via WSL on Windows
- Using the Windows instance of `vsdbg` - but calling it from WSL

## Current behaviour

When debugging a dotnet core application and using the integrated terminal option in `launch.json`, the following is sent to the terminal:

Naturally this fails while using WSL for the shell as it's a windo

[2019-07-29 06:40] NetGH commented on #2771
By following Remote Development using SSH https://code.visualstudio.com/docs/remote/ssh

Python could be run and debugged without problem,
However, run a c# project it displays

[ERROR] Error: spawn /home/pi/.vscode-server-insiders/extensions/ms-vscode.csharp-1.21.0/.omnisharp/1.34.0/run ENOENT

[Window Title]
Visual Studio Code - Insiders

[Content]
The C# extension is still downloading packages.

[2019-07-29 10:14] Eagle3386 commented on #2513
**Update:** Found it while adding `"terminal.integrated.env.windows": { "DOTNET_CLI_UI_LANGUAGE": "en" },` (or `en-us`) to my user/workspace `settings.json` file to fix terminal output, too.
Maybe setting environment variable prior to to launching omnisharp-roslyn / dotnet via child thread already solves the issue.. 🤔

[2019-07-29 10:26] imba-tjd commented on #2513
I had found this on the above comment. It doesn't work.

[2019-07-29 10:30] Eagle3386 commented on #2513
For the (external) terminal panel, it definitely works.

Regarding OS-roslyn, it clearly can't work up to now as there's no code for reading the environment variable and then passing it into the child thread's environment and/or launch arguments.. 😉

[2019-07-29 11:32] HughGrovesArup opened #3197 "enableStepFiltering in launch.json ineffective"
## Issue Description ##
I'm attempting to step into a property when debugging a unit test.

Setup is a standard class library project, with a unit test project, shared via one solution.

My launch.json file is in a .vscode folder in the solution folder that also contains the project folders.

* DesignCheck2.sln
* .vscode
---> launch.json
* DesignCheck2
---> DesignCheck2.csproj
---> other files and

[2019-07-29 13:40] mariusmathisen commented on #3053
Thank you very much @filipw ! Installing VS 2019 fixed it!

[2019-07-29 13:40] #3053 closed

[2019-07-29 16:46] gregg-miskelly commented on #3197
You are debugging the unit test by clicking the link in source file (code lens)?

[2019-07-29 17:04] hughbe commented on #2999
Is there any way I can help try to fix or debug this? :)

[2019-07-29 17:06] rchande commented on #3195
@lliill Is it possible for you to share the contents of `classes.csproj`? Thanks!

[2019-07-29 17:07] rchande commented on #3194
cc @NTaylorMullen  -- sounds like something in the Razor LS is crashing?

[2019-07-29 17:08] rchande commented on #3194
Potentially a dupe of https://github.com/aspnet/Razor.VSCode/issues/372 ?

[2019-07-29 17:10] NTaylorMullen commented on #3194
Yup, definitely a dupe

[2019-07-29 17:10] #3194 closed

[2019-07-29 17:24] rchande commented on #3158
This is done.

[2019-07-29 17:24] #3158 closed

[2019-07-29 17:27] rchande commented on #3182
@Rubiss It sounds like our project selection UI doesn't really scale to this level. I can't imagine that trying to select between ~100 items in that dialog is pleasant. Do you think the option `"omnisharp.defaultLaunchSolution": null,` would work better for you?

[2019-07-29 17:29] rchande commented on #3187
@NTaylorMullen @danroth27 Thoughts on prioritization for this?

[2019-07-29 17:37] NTaylorMullen commented on #3187
Seems like a pretty easy addition to me. That being said, time is not infinite 😆, will leave it up to @danroth27

[2019-07-29 17:41] gregg-miskelly commented on #2771
@NetGH Correct. If you are trying to do remote ARM development, you want to use [remote debugging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Remote-Debugging-On-Linux-Arm) instead. It would be better anyway...

[2019-07-29 17:51] rchande commented on #3176
@Hardkore9t8 Is this resolved for you?

[2019-07-29 17:54] gregg-miskelly commented on #3196
@drk-mtr here is what you want to do: https://github.com/OmniSharp/omnisharp-vscode/wiki/Windows-Subsystem-for-Linux

[2019-07-29 17:54] rchande commented on #3169
Moved to https://github.com/dotnet/csharp-tmLanguage/issues/159

[2019-07-29 17:54] #3169 closed

[2019-07-29 17:55] gregg-miskelly commented on #3196
Oh wait, maybe I am misunderstanding your scenario. Are you trying to run your program as a Windows program? Or in Linux?

[2019-07-29 17:57] rchande commented on #3163
Copied to https://github.com/dotnet/csharp-tmLanguage/issues/160

[2019-07-29 17:57] #3163 closed

[2019-07-29 18:06] rchande commented on #3151
@deanrih I'm having trouble reproducing this. I can close/open VS Code an arbitrary number of times and OmniSharp starts each time. I also confirmed that the process goes away when VS Code exists...

[2019-07-29 18:06] #3151 closed

[2019-07-29 18:14] rchande commented on #3156
@michaelstaib Does it help if you set the option `"csharp.referencesCodeLens.enabled": false`?

[2019-07-29 18:14] rchande commented on #3157
@MrAlfo Please share your "OmniSharp Log" (Output Windows > Select OmniSharp Log from dropdown)

[2019-07-29 18:18] rchande commented on #3147
@emarks Did you figure this out? It sounds like the account that had problems might not have had dotnet on its PATH?

[2019-07-29 18:23] rchande commented on #3125
@DanJ210 We haven't heard from you in a while so I'm going to close this issue. Feel free to file a new one, including your OmniSharp log, if you're still having problems.

[2019-07-29 18:23] #3125 closed

[2019-07-29 18:24] rchande commented on #3118
@wtksana IntelliSense does not insert the parentheses for you. You will need to type them.

[2019-07-29 18:24] #3118 closed

[2019-07-29 18:33] drk-mtr commented on #3196
Cheers for taking a look. I can see that this will allow me to run it as a Linux program and attach a debugger from Windows. However what I'm trying to understand is whether I can run the Windows debugger but output to the WSL shell.

It may well be that what I'm trying to do here is not recommended and will lead to issues - in which case I'll shut up! From what I could tell though, running the fo

[2019-07-29 18:39] gregg-miskelly commented on #3196
The C# extension asks VS Code to execute `C:\\Users\\{myuser}\\.vscode-insiders\\extensions\\ms-vscode.csharp-1.21.0\\.debugger\\vsdbg.exe ...` -- it doesn't know what the current terminal is, or what VS code might do to run it. I think the right place for this feature request (or question, maybe they have this feature already) is in VS Code so that they could change the text that the send to the

[2019-07-29 18:57] drk-mtr commented on #3196
Ah ok, makes sense. I think I had assumed that since this is a string sent by the C# extension, the correct place to override this would be `omnisharp.json`, rather than it being handled externally.

I think that approach still seems "right" to me to be honest, however I can certainly understand the opposition to this since:

- My use case is very esoteric
- It could lead to a scenario where peopl

[2019-07-29 19:48] rchande commented on #3116
@sandy081 We're happy to do this, but I can't find any docs explaining how to set the option scope. Can you give me a pointer? cc @akshita31

[2019-07-29 19:52] rchande commented on #3116
@sandy081 Ah, never mind--I see it's doc'ed in the 1.34 changelog.

[2019-07-29 20:04] gregg-miskelly commented on #3196
Yes, I feel like this isn't the only place where a tool is trying to launch something in the terminal, and if we are going to fix it, there should really be a holistic fix, especially because of your second bullet.

[2019-07-29 20:05] #3196 closed

[2019-07-29 20:05] drk-mtr commented on #3196
Makes sense - cheers!

[2019-07-29 20:24] richlander opened #3199 "Omnisharp should check and log the presence of the .NET Core SDK on every launch"
At present, omnisharp [checks for the presence of the .NET Core SDK](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/coreclr-debug/activate.ts#L52) only upon initial install. A user may uninstall the .NET Core SDK but not the C# extension. In that scenario, upon opening C# files in VS Code, they should be presented with the dialog that reports that they do not have a .NET Core SDK in

[2019-07-29 20:50] richlander opened #3200 "Minimum .NET Core SDK should be a supported version"
At present, Omnisharp [checks for a minimum .NET Core SDK version of 1.0.0](https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/coreclr-debug/util.ts#L12). .NET Core 1.0 is no longer supported and that particular servicing version hasn't been supported for multiple years.

The min-supported .NET Core version should align with the highest security patch for the oldest supported .NET Core

[2019-07-29 22:03] rchande commented on #3200
@richlander I think what you've written is actually a feature request to notify the user that the detected .NET Core SDK is no longer supported. I don't believe we'll be able to provide a good implementation of this by adding/updating constants to our code. Rather, this should be data-driven by data we get from the CLI somehow. Thoughts?

As a footnote, I don't know why the min version is set to 1

[2019-07-29 22:22] hughbe opened #3201 "Incorrect syntax coloring in interface definition"
[code]

Notice that the coloring of the parameters is incorrect
![image](https://user-images.githubusercontent.com/1275900/62086892-b92ace80-b257-11e9-9030-055156501228.png)

Removing the newline corrects it:
![image](https://user-images.githubusercontent.com/1275900/62086909-c34ccd00-b257-11e9-8c4b-70a1725245ca.png)

See https://github.com/dotnet/winforms/pull/1533

[2019-07-29 22:23] rchande commented on #3134
@MarkOstis We haven't heard from you in a while so I'm going to close this. Do note that VS Code Remote (https://code.visualstudio.com/docs/remote/remote-overview) against WSL may be what you want.

[2019-07-29 22:23] #3134 closed

[2019-07-29 22:23] rchande commented on #3132
@xCyborg We haven't heard back from you, so I'm going to close this.

[2019-07-29 22:23] #3132 closed

[2019-07-29 22:25] rchande commented on #3099
@mmello-certica I recommend trying this using the new VS Code Remote feature: https://code.visualstudio.com/docs/remote/remote-overview.

[2019-07-29 22:25] #3099 closed

[2019-07-29 22:26] rchande commented on #3098
@perfmlin It sounds like something is wrong with your installation. I would recommend uninstalling and reinstalling, if you're still having issues.

[2019-07-29 22:26] #3098 closed

[2019-07-29 22:35] #3116 closed

[2019-07-29 22:38] rchande commented on #3129
@jaxxtrend I don't see this on 1.37-0-insiders, so I'm guessing this is a VS Code bug that's being fixed. My version (for your reference):

Version: 1.37.0-insider (user setup)
Commit: 3802a986823977ec472fc993854e1a753037fc8f
Date: 2019-07-29T05:30:35.768Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18945

[2019-07-29 22:38] #3129 closed

[2019-07-29 22:38] #3146 closed

[2019-07-29 22:47] rchande commented on #3130
Suspect this is a dupe of https://github.com/OmniSharp/omnisharp-vscode/issues/2847

[2019-07-29 22:47] #3130 closed

[2019-07-29 22:49] rchande commented on #3081
@richlander As Gregg mentioned, it will be more useful for you to file this against VS Code yourself along with version/DPI info. I'm going to close this copyl

[2019-07-29 22:49] #3081 closed

[2019-07-29 22:53] rchande commented on #3137
@HenriKoelewijn I believe that if you set the defaultLaunchSolution to the name of a .csproj, that it will be loaded.

[2019-07-29 22:53] #3137 closed

[2019-07-29 23:04] rchande commented on #3152
@gregg-miskelly @NTaylorMullen Any way to accomplish this for Asp.NET Core?

[2019-07-29 23:07] NTaylorMullen commented on #3152
I'm not familiar enough with the capabilities of VSCode on how to accomplish this honestly 😢

[2019-07-29 23:23] gregg-miskelly commented on #3152
Sorry, should have responded earlier - this extension isn't really responsible for starting the browser moving forward. The template now defaults to using `serverReadyAction`, which means that the VS Code team now owns starting the web browser. So I would suggest opening this issue there: https://github.com/microsoft/vscode/issues

[2019-07-29 23:38] richlander commented on #3200
You are right. Changing constants for this purpose is a bad idea. In fact, the constant can likely be removed entirely. It's not providing any obvious value.

Visual Studio does a good job of helping you keep up to date on SDKs. Part of that is keeping you secure but an equal part is that our test matrix is quite shallow between VS and .NET Core versions. That's presumably the case here as well.

[2019-07-29 23:47] gregg-miskelly commented on #3200
I believe that check was just there to warn users back when there was a breaking changing to CLR startup which broke debugging. For debugger scenarios, that was a long time ago and the code could just be deleted. Though, as Rich said, we may want to change it and keep it for language service scenarios.

[2019-07-30 06:03] NewGuy11 opened #3202 "How do I install the C# extension on linux?"
The command on the app page doesn't work.

[2019-07-30 07:30] mario-d-s commented on #3138
This actually confused me - I was used to the icon being green and now I though something was wrong...

Anyway: now the icon is white regardless of theme, and as @ihodev illustrates this doesn't make much sense on light themes. Can it please be changed to have the dark grey of other status bar indicators on light themes?

[2019-07-30 07:48] lliill commented on #3195
@rchande
it is only the basic class used in MS tutorial.

[classes.zip](https://github.com/OmniSharp/omnisharp-vscode/files/3445692/classes.zip)

[2019-07-30 08:22] HughGrovesArup commented on #3197
I've tried a few different ways of entering the test to debug, but the preferred route is your suggestion.

I found that if I put a breakpoint in the class library it would get hit (so that's a workaround for now) but it would still be nice to be able to step-in at will.

[2019-07-30 10:50] emarks commented on #3147
No, I was not able to get it to work with that account.  dotnet was in the PATH along and worked fine from the command line and from the vscode terminal view.  However, the extension could never find it.

[2019-07-30 14:43] hughbe commented on #2999
Looks like there's two problems at play here
- We don't support setting a custom path to `dotnet`. This is necessary in arcade projects as we use our own installed daily build of dotnet core. I fixed this by manually adding `<path-to-source>/winforms/.dotnet` to the `$PATH` variable in `etc/paths`
- We don't support custom msbuild SDKs. This is necessary in arcade projects as we reference `Microso

[2019-07-30 15:15] gregg-miskelly commented on #3197
Debug options for unit tests debugging are set in the VS Code preferences file (ex: File->Preferences->Settings). Here is what you want:

[code]

[2019-07-30 15:15] #3197 closed

[2019-07-30 15:21] gregg-miskelly commented on #3202
@NewGuy11 If you are asking how to install the extension -- extensions in VS Code from the extensions panel -- click the square icon on the left side bar (see [here](https://code.visualstudio.com/docs/editor/extension-gallery) for more info). Then search for 'C#' in the marketplace.

[2019-07-30 15:22] HughGrovesArup commented on #3197
That solved it, thank you.

[2019-07-30 15:58] #3152 closed

[2019-07-30 17:43] junderhill commented on #2674
@mubarik How did you resolve this issue?

[2019-07-31 04:59] NewGuy11 commented on #3202
@gregg-miskelly Thanks! Turns out I already had it installed, just didn't know where to look.

[2019-07-31 05:02] #3202 closed

[2019-07-31 06:39] BigGodMike opened #3203 "Omni sharp requires .NetFramework 4.7.2"
## Issue Description ##
the enviroment information show as blow, When VScode get started, the omni Sharp report this error: Omni sharp.exe - the application can not be started ... requires .NetFramework 4.7.2 .And I am very sure I have install the right version of the framework , and I even try the lastest version of .NetFramework 4.8.0
But the error still there. And since the Omni Sharp didn't wo

[2019-07-31 13:18] mattheworres commented on #2228
I'm not seeing this behavior using VSCode 1.36.1 and the EditorConfig for VS Code extension (`editorconfig.editorconfig`) version 0.13.0

[2019-07-31 13:27] shoe-diamente commented on #2957
I have the same problem. Even specifying:

[code]

in the extension settings in VS Code I'm unable to get nullable reference types to work.

[2019-07-31 14:37] filipw commented on #2957
it was closed because it was shipped and verified 😀

can you please provide a repro project?

[2019-07-31 14:46] shoe-diamente commented on #2957
Sure, just do:

[code]

then make sure you have the latest .NET Core 3 preview installed.
Then go in the project settings and make sure they look like this:

[code]

Finally add anywhere in the code (I've tried in the controller's actions):

[code]

You'll see this:

![Screen Shot 2019-07-31 at 16 45 45](https://user-images.githubusercontent.com/40760781/62221866-ac6ebd80-b3b2-11e9-8351-2abdb23fd5

[2019-07-31 15:09] filipw commented on #2957
Ah I see. The `<Nullable>enable</Nullable>` is new only from Visual Studio 16.2 onwards.
In OmniSharp for now you still need to use the "old" (VS 16.0-16.2) syntax `<NullableContextOptions>enable</NullableContextOptions>`

[2019-07-31 15:27] ar-tour commented on #3180
@Vulfox
I am having the same issue. What hotfix solution you are talking about?

[2019-07-31 15:47] lukikow commented on #2534
I have the same issue but it apperas only after I upload my repo to unity repository. It's really annoying, always need to reopen vscode.

[2019-07-31 15:56] shoe-diamente commented on #2957
Adding that seems to fix it, thanks.

[2019-07-31 16:50] Rubiss commented on #3182
@rchande Unfortunately setting omnisharp.defaultLaunchSolution to the solution not showing in the projects dialog still does not allow it to load as the default. The dialog isn't that bad if you know what you are looking for :) Anyways, I can understand how it might not scale for this many solutions in nested directories. Thanks for looking into it.

[2019-07-31 18:28] Vulfox commented on #3180
@ar-tour , it is written in the OP's post under the "Actual Behavior" title. It mentions changing this file `/usr/share/dotnet/sdk/2.2.301/Sdks/Microsoft.NET.Sdk/Sdk/Sdk.props` by replacing the interpolated path to a hardcoded path.

[2019-07-31 20:40] mihnescu commented on #2534
Quick Update: Unity 2019.2 officially added support for VS Code via package manager. To ensure projects are generated correctly, remove all csproj files that are related to  the unity project and reopen the the project from Unity in order to properly generated the proj files. You might also want to remove any old .vscode directory just to be sure that a clean vs-code compatible is generated from u

[2019-07-31 21:53] wheelerlaw commented on #3160
`dotnet` is already on the PATH, as I noted in my first comment. And despite that, it appears that the resolve you mentioned is still not finding it. Should a bug be raised in that repo in that case?

[2019-07-31 23:02] wheelerlaw commented on #3160
So with the debugging output enabled, it looks like the OmniSharp MSBuildLocator is having a hard time finding that resolver you mentioned:

[code]

<details>

[code]

</details>

[2019-07-31 23:21] nguerrera commented on #3160
For now, you should be able to workaround things by forcing omnisharp to use the legacy resolver that just shells out to dontet --info. You can do this by creating ~/.omnisharp/omnisharp.json with this content:

[code]

I don't think that failure to load a satellite assembly is the actual issue. Notice it couldn't find Microsoft.Build.resources.dll either. I believe the problem is that `dotnet` on

[2019-08-01 00:07] wheelerlaw commented on #3160
Then that definitely needs to change, since that's the way Snap appears to be providing the packages and Snap is the official way to install the .NET Core 3 SDK

[code]

I know Snap does some funny things on how to figure out what command is being executed.

[2019-08-01 00:53] wheelerlaw commented on #3160
Or a new SDK resolver is written specifically to handle SDKs installed by Snap.

[2019-08-01 07:40] kzhui125 opened #3204 "discontinuousness of indent guide lines"
<img width="414" alt="1" src="https://user-images.githubusercontent.com/11925432/62274582-bfe15d80-b472-11e9-9840-28536fdd4522.png">

[2019-08-01 07:52] wheelerlaw commented on #3160
Okay done. @nguerrers lmk what you think

[2019-08-01 07:56] kzhui125 commented on #3204
this is C# extension enabled:

<img width="309" alt="1" src="https://user-images.githubusercontent.com/11925432/62275548-cb358880-b474-11e9-9649-43c221b19160.png">

the discontinuousness is ugly

[2019-08-01 14:59] nguerrera commented on #3160
That is roughly the same approach as when legacy resolution is enabled, but using --list-sdks instead of --info + grep for base path will not respect global.json.

Ideally, I think we should fix the main resolver in dotnet/cli to handle this case somehow. Putting this in omnisharp also won't solve the problem for other configurations of mono msbuild + snap sdk.

I will open an issue on dotnet/cli

[2019-08-01 15:00] nguerrera commented on #3160
Did you try this: https://github.com/OmniSharp/omnisharp-vscode/issues/3160#issuecomment-517057835

[2019-08-01 15:09] nguerrera commented on #3160
I filed https://github.com/dotnet/cli/issues/12110

[2019-08-01 15:18] nguerrera commented on #3160
The legacy code that shells out dotnet --info is not a proper sdk resolver, which can be enabled with that json is not a proper sdk resolver. It forces the sdk using MSBuildSdksPath. I believe this is where that happens: https://github.com/OmniSharp/omnisharp-roslyn/blob/51cf29ca5785ad4973ad0579ece445e7d1992484/src/OmniSharp.MSBuild/SdksPathResolver.cs#L32

[2019-08-01 15:25] nguerrera commented on #3160
That predates the proper plugin model for sdk resolution. The legacy code was kept behind that flag as an escape hatch, but MSBuildSdkResolver was intended to fully replace it. If in fact we need to shell out in some cases, we should do that in MSBuildSdkResolver, potentially as a fallback. I would like to try to find a more efficient way for snap though. https://github.com/dotnet/cli/issues/12110

[2019-08-01 15:34] nguerrera commented on #3160
My recommendation would be to use https://github.com/OmniSharp/omnisharp-vscode/issues/3160#issuecomment-517057835 as a workaround and use https://github.com/dotnet/cli/issues/12110 to track the fix. This can probably be closed against that. cc @rchande

[2019-08-01 18:53] bumblebee333 commented on #1441
Hi all,
      Should I be able to launch multiple console apps with the changes described by @jchannon and @gabrielrb ?

I am doing this on .net 2.2. I have breakpoints in both console apps and code only breaks on one console app.  This should not matter but I am running vscode on CENTOS-7.

Thanks
R

[2019-08-01 19:33] gregg-miskelly commented on #1441
@bumblebee333 I don't know of any reasons why that wouldn't work. Rather than re purposing this issue, can you open a new issue with some repro steps (ex: what does your launch.json look like) and [logging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Enabling-C%23-debugger-logging).

[2019-08-01 19:33] #1441 closed

[2019-08-01 19:42] odahcam opened #3206 "Suggest "add reference to project X" for projects inside same solution"
This is a feature request.

## Expected  behavior

C# suggests a new reference addition to the current project and a new using to the current file if it finds any applicable class from another project inside the same solution.

## Actual behavior

No suggestion.

[2019-08-01 20:09] bumblebee333 commented on #1441
Sorry @gregg-miskelly  I didn't mean to hijack this but my issue seemed similar. I am able to solve it by adding   "externalConsole":true in launch.json for one of the console apps. The other one is set to: "console": "internalConsole". If I run into another issue I will definitely open a new issue.

[2019-08-01 22:33] mdunicorn commented on #3023
@James-Lester No. According to [this page of Omnisharp wiki](https://github.com/OmniSharp/omnisharp-roslyn/wiki/Configuration-Options), the file `omnisharp.json` should be put in `%USERPROFILE%/.omnisharp/`.

[2019-08-02 04:27] larryw3i opened #3207 "Some problems are triggered after restoring, Duplicate 'System.Reflection.AssemblyVersionAttribute' attribute (CS0579) [xxxxx]"
some problems are triggered after restoring
Duplicate '**System.Reflection.AssemblyVersionAttribute' attribute (CS0579)** [xxxxx]'
 ![Problem](https://raw.githubusercontent.com/larryw3i/tomato/master/Screenshot%20from%202019-08-02%2012-13-42.png)
(The newest C# Extension)

[2019-08-02 11:42] Marchyello commented on #3079
Can confirm that implementing `IDisposable` was the trigger of (very frustrating) performance issues for me as well. Thank you for pointing this out!

[2019-08-02 12:10] paladin2005 commented on #2228
Check the filename, is not "editorconfig.editorconfig", just ".editorconfig" and place it in the root of your project folder.
Is working for me (macOS)

[2019-08-02 13:14] kekekeks opened #3208 "Getting MSBuild solution structure and MSBuild properties from VS code extensions"
I'm trying to port an extension for the "full" visual studio and I kinda need the dependency tree and some MSBuild property values. Is it possible to somehow get those? OmniSharp plugin seems to be the only place with that information.

[2019-08-02 16:44] dylinmaust commented on #3035
I'd also like to see this extension integrated into Omnisharp, solely for `New C# Class` and `New C# Interface` although it would be nice to add support for the `RootNamespace` csproj property which is currently missing.

[2019-08-02 16:53] billksun commented on #3180
I am having the same issue but on NixOS, where I cannot edit `Sdk.props` as it is installed on a read-only file system.

[2019-08-02 18:47] pvt900 opened #3209 "Failed at stage: downloadPackage"
## Issue Description ##
I've installed the extension, hunted down the dependencies because my Company Proxy/Firewall prevents the dependencies from properly downloading and I still get this error.
I've manually installed .omnisharp, .debugger and .razor according to my Windows 10 64bit packages. I've placed omnisharp both in .omnisharp/1.34.0/omnisharp.exe and in .omnisharp/OmniSharp.exe neither m

[2019-08-02 19:33] akshita31 commented on #3209
@pvt900 The installer looks for a "install.Lock" file to check if the downloads have successfully downloaded and unzipped. Could you try placing an install.Lock file in the .omnisharp/1.34.0 folder and checking if the problem still perists ?

[2019-08-02 19:34] akshita31 commented on #3203
@filipw Do you have any ideas here ?

[2019-08-02 19:40] filipw commented on #3203
no idea it definitely should work

can you post a screenshot of the error? also, can you go to Control Panel > Programs and show which versions of .NET you have available?

[2019-08-02 19:42] akshita31 commented on #1198
This is fixed in both the extension and in vscode side, and will be available in the next releases.

[2019-08-02 19:42] #1198 closed

[2019-08-02 19:43] akshita31 commented on #1197
This is fixed and merged in the extension and in vscode and should be available in the next releases.

[2019-08-02 19:43] #1197 closed

[2019-08-02 19:51] akshita31 commented on #3208
@kekekeks The C# extension uses omnisharp-roslyn to do all the MSBuild related stuff. In your extension you can create an omnisharp process and try to get the relevant MSBuild information. You can llok at the Omnisharp.MSBuild project here https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.MSBuild/MSBuildHelpers.cs

[2019-08-02 19:55] akshita31 commented on #3195
@lliill It looks like you might be missing the necessary Build Tools.
Can you try installing .Net Core Build Tools as described [here](https://github.com/OmniSharp/omnisharp-roslyn/issues/1311#issuecomment-428361674)

[2019-08-02 19:59] akshita31 commented on #3207
@larryw3i I am unable to reproduce this with the latest version of the C# extension. Can you share the repro project and the repro steps?

[2019-08-02 20:15] kekekeks commented on #3208
I might as well just parse `.sln` file and run MSBuild manually, but I'm looking for a way to reuse the existing infrastructure and to avoid spawning any extra processes.

Right now from the perspective of a full VS extension developer, VSCode isn't an IDE, because of the lack of "Integrated" part of the acronym. I think providing project system services would bring VS Code closer to the full Visu

[2019-08-02 22:28] TheSimpleZ commented on #2937
I have the same problem on Ubuntu 19.04, using dotnet 3.0.100-preview7-012821.
I made a project using `dotnet new webapi` and opened it in VSCode.

Here are the logs and system info:
https://gist.github.com/TheSimpleZ/27a8f1de06c52fe6223f7116714a941d

[2019-08-02 22:52] nguerrera commented on #2937
@TheSimpleZ From the logs, your sdk was installed via snap and we have an issue with SDK resolution there.

https://github.com/dotnet/cli/issues/12110 tracks the fix

https://github.com/OmniSharp/omnisharp-vscode/issues/3160#issuecomment-517057835 has a workaround.

[2019-08-03 04:52] Tadimsky commented on #3207
I'm getting the same issue.

![image](https://user-images.githubusercontent.com/1149244/62407603-cdc8d880-b56f-11e9-9641-f055579cea3d.png)

Name: C#
Id: ms-vscode.csharp
Description: C# for Visual Studio Code (powered by OmniSharp).
Version: 1.21.0
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp

[2019-08-03 04:55] Tadimsky commented on #3207
@akshita31 I can share repo with you offline - my alias is `joschm`.

[2019-08-03 04:55] Tadimsky commented on #3207
Looks like it's similar to https://github.com/OmniSharp/omnisharp-vscode/issues/3050

[2019-08-03 09:53] pekugur34 opened #3211 "Omnisharp not working after updating to 1.21.0 on MacOS 10.14.5"
[info]: OmniSharp.Roslyn.CSharp.Services.Diagnostics.CSharpDiagnosticWorkerWithAnalyzers
        Solution initialized -> queue all documents for code analysis. Initial document count: 1434.
Stack overflow in unmanaged: IP: 0x10c7f15a0, fault addr: 0x7000079a7f98
Stack overflow: IP: 0x10c70d247, fault addr: 0x70000799efd8
Stacktrace:
  at <unknown> <0xffffffff>
  at (wrapper runtime-invoke) <Module

[2019-08-03 11:58] pjangam commented on #3185
Facing same error

[code]

[2019-08-03 11:59] larryw3i commented on #3207
make project l18n and i10n will reproduce it, or you can restore [my repo](https://github.com/larryw3i/POYA) in VSCode to  reproduce it,

[2019-08-03 12:45] FunkMonkey opened #3212 "No quick fixes shown when editorconfig is not in project root folder"
## Issue Description ##

After enabling editorconfig support, problems are correctly reported, but there are no quick fixes shown.

Also sometimes there are actually quick fixes for formatting that don't respect the settings in `.editorconfig` (probably because these are the standard C# quick fixes).

## Steps to Reproduce ##

I enabled editorconfig support as described [here](https://www.strathwe

[2019-08-03 13:14] filipw commented on #3212
thanks - unfortunately at the moment it is not very clear what is not working here.

could you please:
- share your editorconfig file and explain which settings are not working for you?
- show a sample of code that gets an analyzer but doesn't get a code fix (not every analyzer must have a code fix)
- set "omnisharp.loglevel" to debug or trace and share the output of the log again

I noticed you h

[2019-08-03 14:30] FunkMonkey commented on #3212
Thanks for the quick answer, @filipw !

It seems I have misinterpreted the problem due to a couple of reasons:
1. the `Quick Fix...` button, when hovering, doesn't work (no code actions available), but quick fixes using the keyboard shortcut or the yellow bulb *do* work in normal C# projects (non-Unity)
2. my `.editorconfig` is simply ignored in projects created by Unity (I thought it worked, beca

[2019-08-04 02:20] Tadimsky commented on #3207
This is the output I have in my `obj` folder:
![image](https://user-images.githubusercontent.com/1149244/62418660-b64b2780-b623-11e9-8e3c-a829ff2c61be.png)

You can see there is both a `Debug\netstandard2.0` and a `x64\Debug\netstandard2.0` in my case

[2019-08-04 06:22] #3211 closed

[2019-08-05 00:46] wendellestradairely opened #3213 "Unable to start omnisharp service due to errors"
I'm getting this error and the omnisharp icon turns to red:
![image](https://user-images.githubusercontent.com/50942719/62431795-58baf600-b75d-11e9-8241-280ffaea93bd.png)
[code]
## Environment data
`dotnet --info` output:
dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.2.300
 Commit:    73efd5bd87

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Plat

[2019-08-05 02:31] shuwenhe commented on #1362
如何解决呢？

[2019-08-05 06:59] TheSimpleZ commented on #2937
@nguerrera Thank you!

[2019-08-05 08:39] YunWeiaa commented on #3087
Not repro on the latest build.

[2019-08-05 08:39] #3087 closed

[2019-08-05 09:15] YunWeiaa commented on #3032
Not repro on the latest build.

[2019-08-05 09:15] #3032 closed

[2019-08-05 12:01] filipw commented on #3213
cc @NTaylorMullen

[2019-08-05 12:03] filipw commented on #3212
would you be able to provide a repro for this project somewhere on github? that would be very helpful - thanks

[2019-08-05 13:09] pvt900 commented on #3209
I placed a Install.Lock file and it seems it no longer errors looking to install the omnisharp.exe, However now I'm trying to execute a simple Fibonacci program as a test file and I'm unable to get that to run.  I hit F5 and a launch.json get created with a warning message about being a Placeholder? This is unfortunately the first time I've tried getting C# to run so pardon the inexperience. I'm u

[2019-08-05 15:35] lliill commented on #3195
@akshita31 how can I install the .Net Core Build Tools without VS studio? I have only installed the .Net Core SDK and I didn't find the .Net Core Build Tools in [.](https://dotnet.microsoft.com/download)

[2019-08-05 16:31] Figbash opened #3214 "Method references no longer contain virtual or overrides"
## Issue Description ##
After upgrading 1.21.0, using peek references or find all references on a virtual method no longer shows the virtual method or its overrides in the reference list, making the feature fairly useless in many situations.

## Steps to Reproduce ##
Override a method then run peek references or find all references on it.

## Expected Behavior ##
<img width="1872" alt="Screen Shot

[2019-08-05 17:05] NTaylorMullen commented on #3213
Ya this looks like an issue on the Razor VSCode side. Going to track the work to fix this here: https://github.com/aspnet/Razor.VSCode/issues/387

[2019-08-05 17:05] #3213 closed

[2019-08-05 21:49] akshita31 commented on #3195
https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-studio-2019

Can you try installing the build tools from the above ?

[2019-08-06 07:37] jgbijlsma opened #3215 ".NET and Unity3D Intellisense stopped working. Omnisharp server fails to launch: System.IO.FileNotFoundException."
## What happens
I have not used VsCode for a month or so. It was working fine then, but now without any changes (as far as I remember) I made intellisense stopped working, and I get an error in the output for omnisharp. I tried reinstalling Code (uninstall.exe, and removing the .vscode and Code folders from my user and appdata folder manually), but the issue still shows up. One thing that I notice

[2019-08-06 07:42] filipw commented on #3215
do you have any Visual Studio installed on that machine?

[2019-08-06 07:44] jgbijlsma commented on #3215
Yes I do

[2019-08-06 07:47] filipw commented on #3215
which versions?

[2019-08-06 07:51] jgbijlsma commented on #3215
Actually I seem to have have removed it a while ago to clean my pc up. I had a version of VS 2017

[2019-08-06 07:57] filipw commented on #3215
OmniSharp tries to use VS to locate MSBuild if VS is installed. It sounds like you have a broken/not fully removed installation which is causing this. See https://social.msdn.microsoft.com/Forums/en-US/57839741-ef22-4141-9d14-cface5f8ce96/how-long-vs-2017-setup-wont-work?forum=visualstudiogeneral

You probably need to try to repair it, reinstall it or fully remove it.

[2019-08-06 07:58] jgbijlsma commented on #3215
I'll run the installer and see what I can do, Thanks for the fast help! I'll report if it worked

[2019-08-06 08:06] jgbijlsma commented on #3215
I reinstalled VS2019 and intellisense works again in Code. Many thanks!

[2019-08-06 08:06] #3215 closed

[2019-08-06 10:27] zhongzepeng commented on #2718
I also have this situation, when switching git branch, restart vscode will solve

[2019-08-06 14:18] devel0 opened #3216 "interpolated multiline string"
## Environment data

[code]

## Steps to reproduce

in a new c# project paste follow statement

[code]

Note: github markdown highlight had same issue

## Expected  behavior

interpolated multiline string with highlighted {somevar} even without beginning space

## Actual behavior

![image](https://user-images.githubusercontent.com/13405008/62547268-41ffc680-b865-11e9-8b6a-0ed10f0cc941.png)

[2019-08-06 14:27] lukikow commented on #2534
Unity 2019.2 doesn't helped me. Still have the same issue.

[2019-08-06 16:54] Tadimsky commented on #3207
@larryw3i did you figure out a solution for this, is that why it's now closed?

[2019-08-06 17:05] nightblade9 commented on #2937
I got this problem today with the latest VS Code installed on Manjaro (`visual-studio-code-bin` 1.36.1-1` I believe). I also ran into this issue last week on Arch Linux; installing `msbuild` 16+ solved it.

[2019-08-06 17:34] Fubuchi commented on #2001
Press the key board shortcut for "toggleSugguestionDetails" after typing some character make the completion list appears, but typing itself not work.

[2019-08-07 05:40] opopop opened #3217 "Typing "#if" unfolds collapsed code"
Issue Type: <b>Bug</b>

Typing '#if' immediately unfolds code from cursor to the end of file. Have to fold it back by hand everytime after this :/
I checked some other preprocessor directives, seems like they ok, but typing '/*' causes the issue too.
Screeenshots:
http://prntscr.com/opdjz7
http://prntscr.com/opdk44

Extension version: 1.21.0
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d

[2019-08-07 06:30] seanmars opened #3218 "the extern alias 'XXX' was not specified in a /reference option"
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]
C# Extension version: 1.21.0

## Steps to reproduce

- Create a visual studio project A.
- Add project B reference to project A
- Add an alias
- Put using statement at the top using with alias

## Expected  behavior

No error

## Actual behavior

Get errors: `The extern alias 'xxx' was not specified in a /reference option (

[2019-08-07 09:12] AlexRj0130 opened #3219 "The wrong behavior of autocomplete"
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   2.2.301
 Commit:    70d6be0814

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.301\

Host (useful for support):
  Version: 2.2.6
  Commit:  7dac9b1b51

.NET Core SDKs installed:
  2.1.701

[2019-08-07 12:20] worming004 commented on #2798
Not related to Editor-Unnecessary usings label

[2019-08-07 13:20] johndaintree opened #3220 "OSX: Debugger fails to attach to process. Debugger.Launch doesn't launch. Error -1842151307"
OSX: Debugger fails to attach to process. Debugger.Launch doesn't launch.

I'm attempting to debug an unmanaged application which is hosting .NET Core. I've launched the unmanaged process previously, I now wish to attach to it.

## Steps to Reproduce ##

I've tried a few things:
* I use the launch task shown below, and select my unmanaged process.
{
            "name": ".NET Core Attach",

[2019-08-07 13:29] johndaintree commented on #3220
Ah my bad, I was attempting to attach to a defunct process. The Sleep method I've listed above works.

[2019-08-07 14:11] johndaintree commented on #3220
Hmm, Looks like most cases do , int fact , work.

[2019-08-07 14:11] #3220 closed

[2019-08-07 15:51] JakeHuneau opened #3221 "OmniSharp does not work on vs-code"
## Environment data
`dotnet --info` output:

[code]

VS Code version: `Version 1.24.1 (1.24.1)`
C# Extension version: `1.15.2`

## Steps to reproduce
When I open a project in VS Code that contains a *.sln, VS code will start loading OmniSharp, but crashes eventually. The only package I have is `Microsoft.Azure.ServisBus` which I installed with `dotnet add package Microsoft.Azure.ServiceBus --versi

[2019-08-07 17:56] lliill commented on #3195
In fact, I don't really install vs studio....

[2019-08-07 17:56] #3195 closed

[2019-08-07 20:17] larryw3i commented on #3207
No one seems to care about this issue except me， though ""dotnet run  xxx" is work

[2019-08-07 20:18] larryw3i commented on #3207
No one seems to care about this issue except me， though ""dotnet run xxx" is work

[2019-08-07 21:02] ATiltedTree commented on #3076
I have this issue too and none of these solutions worked for me.

[2019-08-07 22:17] Tadimsky commented on #3207
Would you mind re-opening it? I'm facing the issue too and would love to get it resolved.
`dotnet build` works for us too so it's something with VSCode's C# plugin.

[2019-08-07 22:18] Tadimsky commented on #3207
@akshita31 if you want my repo, it's internal and I can send it to you if you send me an email/Teams.

[2019-08-07 22:58] rchande commented on #3207
@Tadimsky Can you reach out to me? My alias is the same as my github user name.

[2019-08-08 08:18] kamil-mrzyglod opened #3222 "Unable to find fallback package folder '/usr/share/dotnet/sdk/NuGetFallbackFolder'"
## Issue Description ##
VS Code constatly notifies me, that it cannot load a project or it has difficulties loading it. The project may build fine and work, still Omnisharp seems to either not see dependencies, all completely fail even on .NET assemblies.

When I delete bin/obj folders, the things become even funnier:
![image](https://user-images.githubusercontent.com/11725731/62686673-74c0d080-b9

[2019-08-08 14:00] wrkettlitz opened #3223 "System.InvalidOperationException: Failed to convert '2.5' to type 'System.Int32'."
## Issue Description ##
## Steps to Reproduce ##

## Expected Behavior ##
It works
## Actual Behavior ##
It does not work
## Logs ##

### OmniSharp log ###
<details>
Post the output from Output-->

[code]

</details>

### C# log ###
<details>Post the output from Output--></details>

## Environment information ##

**VSCode version**: 1.37.0-insider
**C# Extension**: 1.21.0

<details><summary>Dotnet

[2019-08-08 14:27] filipw commented on #3223
can you post your VS Code `settings.json` and `omnisharp.json` settings if you have any?
Looks like you have a value of 2.5 for something that should be an int - for example indentation size or something like that.

[2019-08-08 16:12] larryw3i commented on #3207
@rchande @Tadimsky **It's not a bug**, it doesn't appear until the value in the resx file repeats, so, happy coding. . .

[2019-08-09 02:12] Armithaig commented on #3222
Have a similar error, 'cept it's giving me a Windows path on Linux. Couldn't create the folder manually if I wanted to.
`NuGet.Packaging.Core.PackagingException: Unable to find fallback package folder 'C:\Program Files\dotnet\sdk\NuGetFallbackFolder'.`

[2019-08-09 07:28] kamil-mrzyglod commented on #3222
In my case the folder exists:
[code]

[2019-08-09 07:32] filipw commented on #3222
OmniSharp runs on the Windows file system and the WSL file system is not available to it, this is a known problem. Same thing happens i.e. if you create a dotnet project on a Mac and then try to use it with OmniSharp on Windows in a VM.

You should restore your project from the Windows command line as a workaround.

[2019-08-09 07:34] kamil-mrzyglod commented on #3222
@filipw All right, will try the workaround. Is there any issue one can track to check whether WSL is supported?

[2019-08-09 16:52] coeyes commented on #3214
This feature is removed since 1.20.0

see #3027

But, I think this patch should be reverted, or maybe optional.

Because other languages in VSCode (ie. JS/TS, Python, C/C++, dart, etc.) includes definition self in Peek References/Find all references results, and code lens reference results exclude defintion. I think this was intentional, and rational. also, Visual Studio has same result.

this inc

[2019-08-09 18:07] akshita31 commented on #3209
@pvt900 Can you provide some screenshot of the issue you are facing. Also can you provide the output from your [OmniSharp log](https://github.com/OmniSharp/omnisharp-vscode/wiki/Reporting-Issues#omnisharp-and-c-log)

[2019-08-09 18:08] rchande commented on #3222
@kamil-mrzyglod You should use VS Code Remote for WSL instead of trying to edit a project on the WSL filesystem: https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl

[2019-08-09 18:08] #3222 closed

[2019-08-09 18:10] rchande commented on #3221
@JakeHuneau Do you have mono installed? Can you try setting the option `"omnisharp.UseGlobalMono": "never"` and see if that helps?

[2019-08-09 18:10] rchande commented on #3219
@AlexRj0130 Can you share the text of the file when you're in this state?

[2019-08-09 18:15] akshita31 commented on #3208
@kekekeks The C# extension is just a thin wrapper around omnisharp-roslyn and intended to
1. Collect information about your workspace
2. Pass it to omnisharp and get all relevant information like signature help, references
3. Format the information received from omnisharp into vscode types so that they can be displayed appropriately.

I am not sure what is the api surface you are expecting from th

[2019-08-09 18:16] rchande commented on #3204
@kzhui125 This is likely a VS Code editor bug. Please feel free to file this directly against VS Code.

[2019-08-09 18:16] #3204 closed

[2019-08-09 18:17] rchande commented on #3204
(Specifically, the connector lines are not drawn in the space occupied by the CodeLens indicator)

[2019-08-09 18:18] akshita31 commented on #3216
@rchande Should this be moved to https://github.com/dotnet/csharp-tmLanguage ?

[2019-08-09 18:19] rchande commented on #3217
My guess for what happens here is VS Code requests new folding every time you type. If you have typed #if, but no the close directive, our folding provider gets confused and does not return any regions.

[2019-08-09 18:24] akshita31 commented on #3201
Moved to https://github.com/dotnet/csharp-tmLanguage/issues/161

[2019-08-09 18:24] #3201 closed

[2019-08-09 18:26] rchande commented on #3218
@seanmars I'm having trouble reproducing this; can you share a repro project?

[2019-08-09 18:28] akshita31 commented on #3216
Moved to https://github.com/dotnet/csharp-tmLanguage/issues/162

[2019-08-09 18:28] #3216 closed

[2019-08-09 18:33] kekekeks commented on #3208
With the full Visual Studio one can enumerate configurations, projects, TFM confugurations (aka ConfiguredProject), get project dependency tree, resolve msbuild properties, etc.

For my extension in particular I need to:

1) get the list of projects a particular file (not `.cs` one, from a custom ItemGroup) belongs to
2) get the list of project depependencies
3) get values of MSBuild properties li

[2019-08-09 22:05] torquerrr commented on #3160
@nguerrera
I don't think only the snap is affected.
The very same problem occurs on Manjaro/Arch Linux (issue has been reported by many) when you install `dotnet` with `pacman`.
In this case `pacman` pulls the package from [community repo](https://www.archlinux.org/packages/community/x86_64/dotnet-sdk/).
And the package contains `dotnet.sh` which is effectively added to `PATH` after being installe

[2019-08-09 22:08] nguerrera commented on #3160
@torquerrr Thanks. Better to discuss that here: https://github.com/dotnet/cli/issues/12110

I wrote " This would fix other hypothetical deployments like a dotnet that is a shell script that execs dotnet with custom args or whatever." Well I guess this isn't hypothetical. So we could fix it that way. Basically make the official resolver work like the legacy omnisharp resolver if resolving the faste

[2019-08-09 22:10] torquerrr commented on #3160
@nguerrera Should I duplicate my comment in #12110 then?

[2019-08-09 22:10] nguerrera commented on #3160
Please! Thanks

[2019-08-09 23:10] torquerrr commented on #2816
The issue is being tracked in [dotnet/cli#12110](https://github.com/dotnet/cli/issues/12110).

[2019-08-09 23:12] torquerrr commented on #2861
The issue is being tracked in [dotnet/cli#12110](https://github.com/dotnet/cli/issues/12110).

[2019-08-10 13:35] JakeHuneau commented on #3221
@rchande This fixed it! I think I installed mono separately for using Omnisharp-vim, so there must have been a version mismatch for omnisharp-vscode. Thank you!

[2019-08-10 13:35] #3221 closed

[2019-08-11 00:51] YasirZillow commented on #2356
Did you ever figure out why you had to install mono? For me if I use `code .` it doesn't work, but if I launch VS Code from Applications it works fine.

[2019-08-11 02:45] seanmars commented on #3218
@rchande Here is my test project
https://github.com/seanmars/omnisharp-roslyn-alias-test

[2019-08-11 16:19] hamhub7 opened #3224 "C# IntelliSense failing to load"
## Issue Description ##
When I launch a C# script, there is a pop-up in the bottom right that says "Some projects have trouble loading. Please review the output for more details." I'm using this with Unity and I'm unable to see any autocomplete things besides words that I have already typed in the document.

## Steps to Reproduce ##
This happens all the time, whenever I boot up VS Code.

## Expect

[2019-08-12 11:06] opopop commented on #3217
It seems like that. But "#region" apparently works differently and does not create this problem. It would be nice to have this fixed because it is very inconvenient especially when working with large files.

[2019-08-12 16:55] rchande commented on #3160
@wheelerlaw @torquerrr @nguerrera Thanks for the great discussion. Since we believe this fix belongs in the SDK, I'm going to close this in favor of https://github.com/dotnet/cli/issues/12110 .

[2019-08-12 16:55] #3160 closed

[2019-08-12 16:56] rchande commented on #2816
As mentioned, tracked by https://github.com/dotnet/cli/issues/12110. See https://github.com/OmniSharp/omnisharp-vscode/issues/3160 for more details.

[2019-08-12 16:56] #2816 closed

[2019-08-12 17:00] rchande commented on #2356
@YasirZillow I believe the short answer is that the contents of PATH are slightly different when launched from terminal vs Applications, but I don't have more specific info for you at the moment.

[2019-08-12 17:04] rchande commented on #3224
@hamhub7 Your log includes the error `The reference assemblies for .NETFramework,Version=v4.7.1 were not found. To resolve this, install the Developer Pack (SDK/Targeting Pack) for this framework version or retarget your application. You can download .NET Framework Developer Packs at https://aka.ms/msbuild/developerpacks`. Can you try installing the 4.7.1 developer pack from the link?

[2019-08-12 17:15] rchande commented on #3217
@opopop I took a closer look. This is basically an artifact of error recovery in the compiler. When you type `#if` without `true` or `false`, it looks like the parser implicitly adds `true` and considers the `#endif` to appear at the end of the file. Areas of the file that are #if'd out aren't parsed, and we therefore see no folding spans after #if. Because VS Code updates the folding regions when

[2019-08-12 17:15] #3217 closed

[2019-08-12 17:15] rchande commented on #3217
(and @opopop, note that Visual Studio (not VS Code) also has the same issue)

[2019-08-12 18:00] rchande commented on #3218
@seanmars Thanks, looks like OmniSharp is doing something weird here.

[2019-08-12 18:18] rchande commented on #2798
I'm not seeing this on recent versions of VS Code:
Version: 1.37.0-insider (user setup)
Commit: 3802a986823977ec472fc993854e1a753037fc8f
Date: 2019-07-29T05:30:35.768Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18956

[2019-08-12 18:18] #2798 closed

[2019-08-12 18:27] filipw commented on #3218
we have a test for this, and the test passes. I had a quick look and in the test setup, the msbuild property resolves differently than when running against the standalone/VS msbuild provider

[2019-08-12 18:32] rchande commented on #2001
@DustinCampbell @Fubuchi Apparently VS Code has its own logic to determine whether intellisense is available inside strings. You can enable trigger on typing by setting the "editor.quicksuggestions" option to show intellisense inside strings:
[code]

(See https://github.com/microsoft/vscode/issues/23962#issuecomment-292079416 for details)

[2019-08-12 18:32] #2001 closed

[2019-08-13 08:46] paulhannon0 commented on #1794
@DustinCampbell @rchande

[2019-08-13 16:32] larryw3i opened #3225 "Folding should only be expanded by double-clicking the end"
Folding should only be expanded by double-clicking the end, 😭 I often expand it when I click inadvertently

<img src='https://raw.githubusercontent.com/larryw3i/tomato/master/Screenshot%20from%202019-08-14%2000-08-06.webp'/>

[2019-08-13 18:12] rchande commented on #3225
@larryw3i This UI is controlled by VS Code--feel free to file this issue against it.

[2019-08-13 18:12] #3225 closed

[2019-08-13 19:28] FunkMonkey commented on #3212
Sure thing, here it is:
https://github.com/FunkMonkey/omnisharp-vscode-issue-3212

Normally the `sln` and `csproj` are excluded from the git repo, but I provided them for reference. The Project was created using Unity 2019.2.0f

Here the difference between VS Code and VS Community 2017:
![vscode](https://user-images.githubusercontent.com/181654/62971064-2ff7c800-be11-11e9-86b0-e281426cd278.png)
![

[2019-08-13 19:35] FunkMonkey commented on #3212
Oh, I just saw how many absolute paths are in the `csproj`. Maybe you better delete both files and let them get recreated by Unity.

[2019-08-13 19:47] hiranya911 commented on #3049
@guy-rouillier's solution worked for me as well. Thanks 👍

[2019-08-14 05:51] cushmatt opened #3226 "Cannot find sdk"
## Issue Description ##
I feel like I'm making progress here.  I know I'm not on a supported version of Linux (Manjaro - Arch Linux) but I was originally getting the error saying that it couldn't load the project at all.  Now it is loading the project successfully and I'm getting red squigglies everywhere!  Never been so happy to see those.  However it seems like it can't find my sdk.
I have check

[2019-08-14 07:25] tr0q commented on #1980
I just checked Visual Studio, indeed it deletes whitespaces, it's just it keeps caret on correct indentation level.  So it's indeed not an extension fault but VSCode itself.

[2019-08-14 09:50] HoTKreeZy opened #3227 "Remote - Containers : No HTML or RAZOR Intellisense in .cshtml file for Dotnet MVC project"
## Environment data
- `dotnet --info` output:
[code]
- C# Extension version: 1.21.0
- VSCode Version: 1.37.0
- Local OS Version: macOs Mojave v10.14.6
- Remote OS Version: Linux debian 9
- Remote Extension/Connection Type: Docker

## Steps to reproduce
1. Create a folder on my local machine that will contains my project
2. Open this folder inside vs code
3. Use the remote-container extension :

[2019-08-14 11:24] Jalalx opened #3228 "Omnisharp can't load projects correctly: System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Build, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified."
## Environment data
`dotnet --info` output:
[code]
VS Code version:
[code]

C# Extension version:
1.21.0

## Steps to reproduce

1. `dotnet new mvc --name MyMvcApp`
2. Open it in VSCode
3. A popup shows up that says there are problems in loading some projects. IntelliSense won't work too.

## Expected  behavior
Opens project without problem and IntelliSense works correctly.

## Actual behavior
A p

[2019-08-14 11:45] Jalalx commented on #3228
OK, I found a solution:

1. Uninstall VSCode
2. Go to `C:\Users\<username>\.vscode` and delete everything.
3. Download and install VSCode (latest version)
4. Reinstall Omnisharp and other extensions (Do not install WSL extension! I'm suspicious about it!)
It should work again.

[2019-08-14 11:45] #3228 closed

[2019-08-14 16:09] rchande commented on #3227
cc @NTaylorMullen

[2019-08-14 16:51] NTaylorMullen commented on #3227
@HoTKreeZy thanks for the report! Would you mind filing this issue over at https://github.com/aspnet/Razor.VSCode? Adding remote development support to Razor is definitely something we want to add.

[2019-08-14 21:53] HoTKreeZy commented on #3227
@NTaylorMullen Ok, so it is not a bug ? It is a feature request ?

[2019-08-14 21:59] NTaylorMullen commented on #3227
Feature request and ya closing this issue would be best 😄

[2019-08-14 22:01] HoTKreeZy commented on #3227
Ok, thanks :)

[2019-08-14 22:01] #3227 closed

[2019-08-15 02:24] jordangrant commented on #2472
[React.js & React Native] `this.props.item` becomes `this.tsPropertySignature.isTemplateElement;` LOL.
Restarting VSCode also solves it for me. VSCode Version: 1.37.0

[2019-08-15 03:50] kinglionsz opened #3229 "VER 1.38 Intellisense doesn't work on one of c# projects in Visual Studio Code"
Issue Type: <b>Bug</b>

Step by step:

1,building a new file new.cs
2,type using System;
3,type Console.WriteLine();

Intellisense doesn't work,

VS CODE:August 2019 (version 1.38)
Remote	WSL: Ubuntu-18.04
Extension version: 1.21.0
VS Code version: Code - Insiders 1.38.0-insider (ba69d8dcccaebbfaa94906503728eb7c3e45b9c1, 2019-08-14T07:18:43.039Z)
OS version: Windows_NT x64 10.0.18956
Remote OS ver

[2019-08-15 04:04] SIkebe commented on #3229
Try `using System;`

[2019-08-15 05:25] kinglionsz commented on #3229
Yes, using System;

the issues is only for the new building  .cs files,

[2019-08-15 09:52] HughGrovesArup opened #3230 "Duplicate attribute and autogenerated program warnings"
## Issue Description ##
I have a solution with two class libraries and one test (MSTest) library. After publishing I have files in the obj folder that trigger a series of warnings. I have tried to exclude obj and bin with my omnisharp.json file but this does not help.

![image](https://user-images.githubusercontent.com/40033911/63087612-8ae10a80-bf4a-11e9-83a2-ea7e62816dff.png)

Omnisharp.json con

[2019-08-15 11:48] seanmars opened #3231 "Adding files from outside the project by linking"
## Issue Description ##
The files from outside the project by linking not showing on explorer.
Everything is work fine(build, reference...etc), not showing on explorer.

## Steps to Reproduce ##
1. Create a ProjectA
2. Add the `<Compile Include="../outside-path/SomeFile.cs" Link="Lib/SomeFile.cs"/>` in `ProjectA.csproj` in `<ItemGroup>..</ItemGroup>`

I have create a sample project [here](https://

[2019-08-15 14:01] filipbekic01 commented on #3049
This is valid workaround, thank you man!

[2019-08-15 21:09] rchande commented on #2472
@silicakes This is the repository for the C# extension--we can't help with Javascript issues. For JS, I recommend filing an issue directly against VS Code because JS support is built into VS Code.

[2019-08-15 21:11] rchande commented on #3229
@kinglionsz Can you share the full text of your file? You can't write expressions at the top level, so something
[code]

will not have good intellisense.

[2019-08-16 00:40] kinglionsz commented on #3229
yes,I see. here is the file.
<img width="448" alt="It sees that there is no any IntelliSense" src="https://user-images.githubusercontent.com/51827261/63135728-7875d800-c001-11e9-95fe-8aa92c6d0164.png">

`using Internal;
using System;
using System.Collections.Generic;

namespace list_tutorial
{
    class Program
    {
        static void Main(string[] args)
        {
            var names = new Lis

[2019-08-16 11:18] s2quake opened #3233 "There are too many 'problems' list with the project."
Hello.

I am using Visual Studio Code and .NET Core to create server and client libraries.

My project uses shared projects for source code sharing and some expressions such as #if are used.

Builds work well, but too many 'problems' lists occur.

Because of this, intelisense is not working well and it is difficult to create a library.

It's not a typical solution configuration, but because it bui

[2019-08-16 12:45] jtsom opened #3234 "OmniSharp Using Visual Studio 2019's MSBuild, not it's own."
## Issue Description ##
OmniSharp seems to look on the system for versions of MSBuild. It finds the version installed with Visual Studio 2019 and it's own internal version. But it then chooses to use the VS2019 version, not it's own. How can I specify for it to use it's own version?

## Steps to Reproduce ##
Launch VSCode, watch the Output window as OmniSharp loads

## Expected Behavior ##
Choose

[2019-08-16 14:09] bpranger commented on #2771
@gregg-miskelly I don't agree that "It would be better anyway".

I would like to be able to build and test C# programs using [System.Device.Gpio](https://github.com/dotnet/iot/tree/master/src/System.Device.Gpio) on a Raspberry Pi using VS Code and Remote-SSH.

It is especially onerous when I have to first create the projects on my Windows PC (in order to get language/IntelliSense support), then, a

[2019-08-16 14:40] filipw commented on #3234
this is by design - the VS instance of MsBuild offers a lot more features than what is bundled with OmniSharp (for various reasons), same happens with Mono. The bundled version is always used as a fallback (unless we only find VS2017, not 2019).

[2019-08-16 14:41] jtsom commented on #3234
Ah, ok. That sounds reasonable.

[2019-08-16 16:29] #3234 closed

[2019-08-17 09:14] philipreimer opened #3236 "Feature Request: add command for "remove unnecessary usings""
## Issue Description ##
## Steps to Reproduce ##
1. Create a C# class in VSCode
1. Add some `using` statements, which are not used in the code

## Expected Behavior ##
There should be a command to trigger "remove unnecessary usings" from the command palette, like "organize imports" command for typescript files.

There should also be a way to apply this to all C# files in a folder / project.

Ideal

[2019-08-17 15:26] CrossBound commented on #1245
Any update on this? I would really love to have this available... It is so nice in VS to be able to run a keystroke and it remove & sort my usings.

[2019-08-17 15:27] CrossBound commented on #1179
Any update on this? I would really love to have this available... It is so nice in VS to be able to run a keystroke and it remove & sort my usings.

I would say removing is more important than sorting to me but having both is having the cake and eating it too.

[2019-08-18 13:30] s2quake commented on #3233
I found the cause of that problem.

i think the problem is TargetFramework`s`

the settings below are in the csproj file.

    <TargetFrameworks Condition="'$(MSBuildRuntimeType)'=='Full'">net45</TargetFrameworks>
    <TargetFrameworks Condition="'$(MSBuildRuntimeType)'=='Core' And '$(NETCoreAppMaximumVersion)'=='3.0'">netcoreapp3.0</TargetFrameworks>

I wanted to set configuration differently by

[2019-08-18 20:41] johannesegger opened #3237 "Child process doesn't have UI with internalConsole"
## Issue Description ##
An [Electron](https://electronjs.org/) app that is started with `Process.Start` doesn't show its UI when debugging with `internalConsole` or `externalTerminal`. However with `integratedTerminal` it works as expected. I noticed this behavior with a custom electron app, but with other electron apps like VSCode I get the same behavior. Is this even the right repo for this issu

[2019-08-19 10:49] johannesegger commented on #3237
It seems that VSCode sets some electron environment variables that propagate to child processes when using `internalConsole`. The environment variable that seems to stop showing electron UIs is `ELECTRON_RUN_AS_NODE`. So when I remove it from the `ProcessStartInfo` using `psi.Environment.Remove("ELECTRON_RUN_AS_NODE");` the UI shows up which resolves the issue for me.

[2019-08-19 10:49] #3237 closed

[2019-08-19 11:14] s2quake commented on #3233
condition below doesn't seem to be working.

    <PropertyGroup Condition="'$(MSBuildRuntimeType)'=='Core' And '$(NETCoreAppMaximumVersion)'=='3.0'">
        <TargetFramework>netcoreapp3.0</TargetFramework>
    </PropertyGroup>

[2019-08-19 22:30] SidShetye opened #3238 "Doesn't load solution (sln files) on Windows"
## Issue Description ##

Opening a folder with a VS solution file (e.g. `My.Solution.sln`) doesn't cause Omnisharp to load the solution and it's related projects.

## Steps to Reproduce ##

Open a folder which has a VS solution file

## Expected Behavior ##

Load the solution and it's related projects per Benjamin Pasero's answer [here](https://stackoverflow.com/a/29985273/862563)

## Actual Behav

[2019-08-20 02:14] arcooke commented on #2970
This issue resurfaced for me.. The above mentioned fixes didn't fix it this time around for some reason.  I'm using the Snap on Solus.. I had already set an alias with `alias dotnet="dotnet-sdk.dotnet"`, but I guess that wasn't good enough.

Instead, I used `sudo snap alias dotnet-sdk.dotnet dotnet` and that resolved the issue for me.

[2019-08-20 03:21] zcr1 opened #3239 "The reference assemblies for framework 4.7.1 were not found"
## Issue Description ##
Cannot run Unity projects as the the reference assemblies for framework ".NETFramework,Version=v4.7.1" were not found on Mac OSX.

I have the latest .net core and mono versions installed. Additionally if I force mono with "omnisharp.useGlobalMono": "true" I get an error [ERROR] Error: Cannot start OmniSharp because Mono version >=5.8.1 is required.

mono -V
Mono JIT compile

[2019-08-20 03:24] zcr1 commented on #3239
I needed to restart my computer after installing the latest Mono

[2019-08-20 03:24] #3239 closed

[2019-08-20 08:07] erikbackman commented on #3180
I'm having the same problem with .net core projects on NixOS.

I'm using `nix-shell --pure` and then running `code .`

shell.nix
[code]

[2019-08-20 19:21] YamiYukiSenpai commented on #3226
Also experiencing the same on Ubuntu.  I installed `dotnet-sdk` from the Snap store.

[2019-08-21 12:50] patilarpith opened #3242 "How to enable LSP mode on omnisharp-vscode client?"
Looks like the default launch option on the VSCode plugin is not LSP mode. How do I configure the plugin to start Omnisharp server is `-lsp` mode and use LanguageServer client for communication?

I saw a config with the name `razor.plugin.path`. Just changing this to `Microsoft.AspNetCore.Razor.LanguageServer.Common.dll` works?

[2019-08-22 06:13] sudsy opened #3243 "Disposable XUnit tests cause cpu to spin"
## Issue Description ##
When editing an XUnit class that inherits from IDisposable, the mono process chews up all cpu on all available cores.

I also notice there are a number of errors relating to a missing Microsoft.VisualBasic.Mono.targets file. The actual file on my system is Microsoft.VisualBasic.targets

## Steps to Reproduce ##

Create an Xunit test project.
Make a new test class that inher

[2019-08-23 01:47] sudsy commented on #3243
I noticed an update of the extension to 1.21.1 and also made some changes to my project to clean up my Omnisharp log.

It now shows just:

Starting OmniSharp server at 8/23/2019, 11:26:47 AM
    Target: /Users/bensudbury/Development/gen3/PVL.sln

OmniSharp server started with Mono 6.0.0.
    Path: /Users/bensudbury/.vscode/extensions/ms-vscode.csharp-1.21.1/.omnisharp/1.34.2/omnisharp/OmniSharp.ex

[2019-08-23 12:13] balazs4 commented on #2970
:heavy_check_mark: Using the following command solved the problem for me on arch-linux:

`MSBuildSDKsPath=/opt/dotnet/sdk/$(dotnet --version)/Sdks code my-dotnetcore-project`

if I execute the `code my-dotnetcore-project` without setting `MSBuildSDKsPath` I am able to reproduce the issue.

`export`ing environment variable shall also work.

Output of  `dotnet --info` :

[code]

please let me know i

[2019-08-23 14:37] balazs4 commented on #3226
This workaround might to resolve this issue as well...https://github.com/OmniSharp/omnisharp-vscode/issues/2970#issuecomment-524292461

[2019-08-23 17:23] akshita31 commented on #3243
@sudsy In your error log it says

Do you have the appropriate framework version installed ?

[2019-08-23 18:22] xCyborg commented on #3132
@akshita31 It's too much hassle to implement especially on Windows, can't you just package the VSIX for each major version and make it available for download, please?

[2019-08-23 21:53] rchande commented on #3242
@patilarpith What are you trying to do? The C# extension doesn't use LSP to communicate with omnisharp. We therefore don't expose a way to start it in lsp mode.

[2019-08-23 22:00] rchande commented on #3236
I think this is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/1179

[2019-08-23 22:00] #3236 closed

[2019-08-24 06:04] sudsy commented on #3243
There were some issues with my project configuration for mono. I have
resolved those and re-tested as mentioned in my previous comment and the
problem  still persists.

On Sat, 24 Aug. 2019, 03:23 Akshita Agarwal, <notifications@github.com>
wrote:

[2019-08-24 06:09] hrobertson commented on #1998
Just wanted to share the workaround I've been using for months now.
I'm on Arch. I have msbuild-stable 16.0_xamarinxplat.2018.09.26.17.53_0xamarin3_ubuntu1404b1-1 and mono 6.0.0.319-1.

Setting useGlobalMono to never had no effect.

My workaround:
`sudo ln -s ~/.vscode/extensions/ms-vscode.csharp-1.21.1/.omnisharp/1.34.3-beta.22/omnisharp/.msbuild/15.0/Microsoft.Common.props /usr/lib/mono/xbuild/1

[2019-08-24 10:43] stephaneclotilde commented on #2981
Since the issue is still opened, shouldn't this be changed to a new milestone ? @akshita31

[2019-08-25 19:44] klausenbusk opened #3246 ""Add using" quick fix does not appear in error squiggle toolsip"
## Issue Description ##
According to: https://github.com/OmniSharp/omnisharp-vscode/issues/1117 there should be a "Add using" quick fix.

## Steps to Reproduce ##
[code]
Choose the `Program.cs` file and write `Socket socket;` in the `Main` method.

## Expected Behavior ##
A quick fix should be available to add the missing `using System.Net.Sockets` directive.

## Actual Behavior ##
![image](https:

[2019-08-26 03:27] SidShetye commented on #3238
Found a solution: There were multiple `ms-vscode.csharp-*` extensions in `%UserProfile%\.vscode\extensions`, so I removed older ones, leaving just the latest (v1.21.1).

Then manually restarted Omnisharp (`F1`-> `Restart Omnisharp`) which now find the solution regardless of being names `My.Solution.sln` or `MySolution.sln`.

I don't know why there were two versions of the C# extension to begin wit

[2019-08-26 09:15] zeinali0 opened #3247 "The SDK 'Microsoft.DotNet.Arcade.Sdk' specified could not be found."
## Issue Description ##
I tried to open  [ AspNetCore SignalR](https://github.com/aspnet/AspNetCore/tree/master/src/SignalR) project but OmniSharp fails to open projects

it seems it cannot find Arcade SDK which is required for .net core 3 repositories [Arcade SDK](https://github.com/dotnet/arcade/blob/master/Documentation/ArcadeSdk.md#arcade-sdk)

## Logs ##

### OmniSharp log ###
<details>
OmniS

[2019-08-26 11:45] philipreimer commented on #3236
@rchande there may be some overlap with #1179 but I was also asking/hoping for a command from command palette to trigger "remove unnecessary usings", as well as a preference setting to automatically trigger "remove unnecessary usings" when saving a file.

Also, from reading the comments I could not find the reason why #1179 was closed? The requested feature is not available (at least I haven't fou

[2019-08-26 14:12] strangenoora commented on #3013
I am frustrated by this one as well. Especially IPhoneSettings often appearing when I want to type if or int. Would it be possible to always prefer such basic language keywords over imported classes?

[2019-08-26 20:20] klausenbusk commented on #3246
It works, thanks! It isn't very intuitive though.

[2019-08-27 08:33] patilarpith commented on #3242
Sorry for the late response.

I remember @mholo65 mentioning that he's able to run VSCode & OmniSharp-Roslyn in LSP mode. As I'm seeing some unusual behaviour with OmniSharp-Roslyn with monaco-languageclient, I was hoping the VSCode jsonrpc messages could provide some insight
https://github.com/OmniSharp/omnisharp-roslyn/issues/1505#issuecomment-512953208

[2019-08-27 09:41] Xarkam opened #3248 "Debugging views of multiple projects in single solution."
Hello,

I have a solution with several asp.net core projects.
I do not find how to indicate in the launch.json files several path for the views (Razor).
(It is a project of partials apps)

Here is the part of the file:
[code]

Is it possible to debug views of different projects in single solution?
Thanks

[2019-08-27 10:27] mholo65 commented on #3242
@patilarpith as @rchande pointed out, `OmniSharp-VSCode` doesn’t run in LSP mode. You can however, quite easily create a custom VSCode extension that pkugs into OmniSharp-Roslyn running in LSP mode. See example [here](https://github.com/OmniSharp/csharp-language-server-protocol/tree/master/vscode-testextension)

[2019-08-27 11:21] anttirt opened #3249 "Spurious dupes/ambiguity errors when multitargeting due to `obj/**.cs` being included without a framework filter"
## Environment data
`dotnet --info` output:
[code]

VS Code version:
[code]

C# Extension version:
1.21.1

## Steps to reproduce
1. Create classlib with `dotnet new classlib`
2. Edit `.csproj` and replace `<TargetFramework>netstandard2.0</TargetFramework>` with `<TargetFrameworks>netstandard2.0;netcoreapp2.2</TargetFrameworks>`
3. Add generated build command to `.vscode/tasks.json`
4. Edit `.vscod

[2019-08-27 19:47] WellspringCS opened #3250 "Omnisharp cannot find Sdk unless VSCode is initiated via terminal"
## Issue Description ##
When running VSCode from launchpad icon, Omnisharp cannot find Sdk, but when running VSCode from terminal, it can.

## Steps to Reproduce ##

FWIW, in my .bashrc file I have:
[code]
and at bottom of file:
[code]

To see both results, launch VSCode, in turn, via both
(a) "code ." in terminal window, and
(b) clicking icon on desktop launcher

## Expected Behavior ##
both shou

[2019-08-27 22:32] zev-deutsch opened #3251 "omnisharp server not found"
Starting OmniSharp server at 2019-08-27, 6:28:37 p.m.
    Target: c:\Users\\*******\\Desktop\classes\HelloWorld

OmniSharp server started.
    Path: c:\Users\\*******\\.vscode\extensions\ms-vscode.csharp-1.21.1\.omnisharp\1.34.2\OmniSharp.exe
    PID: 16120

'"c:\Users\\*******\\.vscode\extensions\ms-vscode.csharp-1.21.1\.omnisharp\1.34.2\OmniSharp.exe"' is not recognized as an internal or externa

[2019-08-28 09:14] icefire1 commented on #3079
Seeing the same thing here... Quite a hassle, but I did not want to disable code lens. Instead I made my own abstract class which implements IDisposable. My classes that should actually implement IDisposable should instead implement IMyDisposable. Quite a bad hack, but it reduces the CPU usage.
[code]

And inside my class that needs to be disposable
[code]

[2019-08-28 12:41] paulhannon0 commented on #1794
@akshita31 Noticed you've been active in issues lately, any chance you could point towards someone who can give an update on this? Thanks.

[2019-08-28 16:29] zeinali0 commented on #3247
Yes i followed the contribution docs and build `SignalR `solution successfully by `build.cmd` however I had same error with `build.cmd ` too but i re-clone the source again and it got fixed on `build.cmd` but it the error still happening in OmniSharp